﻿@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;
@{
    ViewBag.Title = "Master / DocumentFormat";
}
<style>
    #example {
        width: 100%;
        float: left;
        /* height: 300px; */
        overflow: hidden;
        display: block;
        clear: both;
    }

    span.k-widget.k-combobox.k-header.k-group-start.k-combobox-clearable.k-editor-widget {
        width: 50%;
    }
</style>


<div id="divDoumentFormat">

    <div class="row Dashboard-white-widget">
        <div class="dashboard">

            <div class="row colpadding0">
                <div class="col-md-12 colpadding0">

                    <div class="row master-Headre">
                        <div class="col-md-12 vertical-center">
                            <div class="col-md-4 colpadding0">
                                @(Html.Kendo().DropDownList()
                                                     .Name("ddlFormate")
                                                     .Events(e => e.Change("filterChange"))
                                                     .BindTo(new SelectList(new List<object> {
                                                                                 new {id="",text="Select Formate"},
                                                                                    new {id="Paragraph",text="Paragraph"},
                                                                                  new {id="Heading1",text="Heading 1"},
                                                                                 new {id="Heading2",text="Heading 2"},
                                                    }, "id", "text")).HtmlAttributes(new { style = "width: 90%;" })
                                )



                            </div>

                            <div class="col-md-4  colpadding0">

                                <button class="btn btn-primary" id="Save" onclick="SaveFormat" title="Save Format">Save</button>
                                <button class="btn btn-primary" id="Preview" onclick="Preview" title="Preview Template Format">Preview</button>
                            </div>
                        </div>
                    </div>

                    <div id="example" class="row">
                        <div id="DocumentFomate" class="col-md-12 colpadding0">
                            @(Html.Kendo().Window().Name("wndAgendaPreview").Title("Document Template").Visible(false).Modal(true).Draggable(false).Scrollable(true))
                            @(Html.Kendo().Editor()
                                                                                                                                                                                          .Name("DocumentFomateEditor")
                                                                                                                                                                                          .HtmlAttributes(new { style = "width: 100% ; height:400px", aria_label = "editor" })
                                                                                                                                                                                          .StyleSheets(css => css
                                                                                                                                                                                            .Add(Url.Content("~/Content/web/Editor/editorStyles.css"))
                                                                                                                                                                                          )
                                                                                                                                                                                          .Tools(tools => tools
                                                                                                                                                                        .Clear()
                                                                                                                                                                        //.
                                                                                                                                                                        //Formatting()
                                                                                                                                                                        //.CustomTemplate(ct => ct.Template("<select id='templateToolSEBI_DisclosureFormat' style='width:200px;'><option value=''>none</option></select>"))

                                                                                                                                                                        .FontName(fonts => fonts
                                                                                                                                                                            .Add("Andale Mono", "Andale Mono")
                                                                                                                                                                            .Add("Arial", "Arial")
                                                                                                                                                                            .Add("Arial Black", "Arial Black")
                                                                                                                                                                            .Add("Book Antiqua", "Book Antiqua")
                                                                                                                                                                            .Add("Bookman Old Style", "Bookman Old Style")
                                                                                                                                                                            .Add("Comic Sans MS", "Comic Sans MS")
                                                                                                                                                                            .Add("Courier New", "Courier New")
                                                                                                                                                                            .Add("Georgia", "Georgia").Add("Verdana", "Verdana")
                                                                                                                                                                        )
                                                                                                                                                                         //.FontSize()
                                                                                                                                                                         .FontSize(size => size
                                                                                                                                                                        .Add("6", "6pt").Add("7", "7pt").Add("8", "8pt").Add("9", "9pt").Add("10", "10pt").Add("11", "11pt").Add("12", "12pt").Add("13", "13pt").Add("14", "14pt").Add("16", "16pt").Add("18", "18pt").Add("20", "20pt").Add("22", "22pt"))
                                                                                                                                                                        .FontColor()
                                                                                                                                                                        .Bold().Italic().Underline()

                                                                                                                                                                        //.CustomTemplate(ct => ct.Template("<label for='templateToolSEBI_DisclosureFormat' style='vertical-align:middle;'>Template Fields:</label> <select id='templateToolSEBI_DisclosureFormat' style='width:200px;'><option value=''>none</option></select>"))
                                                                                                                                                                        //.CustomTemplate(ct => ct.Template("<input type='button' value='Insert' class='k-primary k-button'  onclick='insertEditorTemplateField(\"SEBI_DisclosureFormat\", \"templateToolSEBI_DisclosureFormat\");'>"))
                                                                                                                                                                        ).Events(events => events

                                                                                                                        .Change("change")
                                                                                                                          .Execute("execute")
                                                                                                                          .Select("select")
                                                                                                                          .Paste("paste")
                                                                                                                       ).Value(@<text>
                                                                                                                        <h1 id="header1"></h1>


                                                                                                                    </text>)
                            )
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>

<script>


    $("#Save").click(function () {
        var FormatData = {};
        debugger
        FormatData.TemplateFormate = $("#ddlFormate").data("kendoDropDownList").value();
        FormatData.FontName = $(".k-editor").find(".k-fontName").val();
        FormatData.FontSize = $(".k-editor").find(".k-fontSize").val()+"pt";
        //FormatData.FontColor = $(".k-editor").find(".k-tool-group").filter("[title='Color']").hasClass(".k-selected-color");
        FormatData.FontColor = $("span.k-selected-color").css("background-color");
        //var C = $(".k-editor").hasClass("k-widget k-colorpicker k-header k-editor-widget k-group-end.k-selected-color");
        FormatData.IsBold = $(".k-editor").find(".k-tool").filter("[title='Bold']").hasClass("k-state-selected");
        FormatData.IsItalic = $(".k-editor").find(".k-tool").filter("[title='Italic']").hasClass("k-state-selected");
        FormatData.IsUnderline = $(".k-editor").find(".k-tool").filter("[title='Underline']").hasClass("k-state-selected");

        if (FormatData.TemplateFormate != "") {
            $.ajax({
                type: "POST",
                url: "/DocumentFormat/SaveDocumentFormat", // the method we are calling
                contentType: "application/json; charset=utf-8",
                //data: {
                //    TemplateFormate: FormatData.Fotmat, FontName: FormatData.FontName, FontSize: FormatData.FontSize, FontColor: FormatData.Color, IsBold: FormatData.IsBold, IsItalic: FormatData.IsItalic, IsUnderline: FormatData.IsUnderline1 },
                data: '{Data: ' + JSON.stringify(FormatData) + '}',
                dataType: "json",
                success: function (result) {
                    alert('Format For ' + FormatData.TemplateFormate + '  Save Successfully!');


                },
                error: function (result) {
                    alert('Failed To Save Format!');
                }
            });
        }
        else {
            alert("Please select Template Format");
        }

        });

    function Validate(FormatData)
    {
        if (FormatData.TemplateFormate == "") {
            $("#ddlFormate").focus();
            //alert("Please select Template Format");
            return;
        }

    }

    $("#Preview").click(function () {
        //debugger
        Documentviewer();
    });

    function Documentviewer()
    {
        //debugger

        //item.preventDefault();
        //var gridDataSource = $("#circularResoluton").data("kendoGrid").dataSource;
        //var dataItem = this.dataItem($(item.currentTarget).closest("tr"));
        var Number="1185";
        //alert("Hiiiiiiiiiiiiiii" + dataItem);
        var direction = "@Url.Action("TemplatePreview", "DocumentFormat")";


        var wnd = $("#wndAgendaPreview").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndAgendaPreview").kendoWindow({
            actions: ["Close"],
            content: direction,
            width: "85%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            open: function () { kendo.ui.progress(this.element, true); },
            close: function (item) {
                $(this.element).empty();
            }
        }).data("kendoWindow");
        opts.width = "85%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.open();

    }


</script>

<script>

            function Load(e) {
                $(".k-editor").find(".k-fontName").val("Book Antiqua");
            }

</script>


<script>
            function filterChange() {


                var ddlFormate = $("#ddlFormate").data("kendoDropDownList");
                var format = ddlFormate.value();



                $.ajax({
                    type: "POST",
                    url: "/DocumentFormat/GetDocumentFormat", // the method we are calling
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ TemplateFormat: format, CustomerId: 1185 }),
                    //data: '{Data: ' + JSON.stringify(FormatData) + '}',
                    dataType: "json",
                    success: function (data) {
                        debugger

                        if (data != null) {

                            var objData = data[0];
                            ChangeValueMain(objData);

                        } else {
                            alert("Something went wrong");
                        }
                    },
                    failure: function (response) {
                        debugger
                        alert(response.responseText);
                    },
                    error: function (response) {
                        debugger
                        alert(response.responseText);
                    }
                });

            }


            function ChangeValueMain(data)
            {

                debugger


                //$("#DocumentFomateEditor").kendoEditor();
                var editor = $("#DocumentFomateEditor").data("kendoEditor");


                var Tag = "p";
                if (data.TemplateFormate == "Paragraph") {
                    Tag = "p";
                    //editor.value();
                    editor.value("<p autofocus>  Recommendation of PRASHANT "+
                    "PAWAR, as the Company Secretary and Key Managerial"+
           " Personnel (KMP) of the Company.</p>");

                }
                else if (data.TemplateFormate == "Heading1") {
                    Tag = "h1";
                    //editor.value();
                    editor.value("<h1>   Agenda   Heading </h1>");
                    //$("#header1").wrap("Template   Heading");
                }
                else if (data.TemplateFormate == "Heading2") {
                    Tag = "h2";
                    editor.value();
                    editor.value("<h2>  Agenda   Subheading </h2>");
                }


                var editorBody = $(".k-editable-area iframe").contents().find(Tag);
                editorBody.css("font-size", data.FontSize);
                editorBody.css("color", data.FontColor);
                editorBody.css("font-family", data.FontName);
                if(data.IsBold==true)
                    editorBody.contents().wrap("<b></b>");
                if (data.IsItalic == true)
                    editorBody.contents().wrap("<em></em>");
                if (data.IsUnderline == true)
                    editorBody.contents().wrap("<U></U>");

            //var setcolor=    $("span.k-selected-color").css("background-color");
                $("span.k-selected-color").css("background-color", data.FontColor);
                //$("#textarea")[0].focus();
                //editorBody.contents().wrap("<em><b><U></U></b></em>");
            }

</script>

<script>

            //debugger

            function change(e) {

            }

            function execute(e) {
                debugger
                var FontName = $(".k-editor").find(".k-fontName").val();
                var FontSize = $(".k-editor").find(".k-fontSize").val();
                var FontColor =$("span").css("color");
                //var palette = $("#ddlFormate").data("kendoColorPalette");

                //var Color = palette.value();

                var Bold = $(".k-editor").find(".k-tool").filter("[title='Bold']").hasClass("k-state-selected");
                var Italic = $(".k-editor").find(".k-tool").filter("[title='Italic']").hasClass("k-state-selected");
                var Underline = $(".k-editor").find(".k-tool").filter("[title='Underline']").hasClass("k-state-selected");
                //alert("execute command :: " + e.name);
            }

            function select(e) {
                debugger
                //alert("selection change");
                //var A = $(".k-editor").find(".k-fontName").val();
                //var B = $(".k-editor").find(".k-fontSize").value();
                //var CCC = $(".k-editor").find(".k-tool-group").filter("[title='Color']").hasClass(".k-selected-color");
                ////var C = $(".k-editor").hasClass("k-widget k-colorpicker k-header k-editor-widget k-group-end.k-selected-color");
                //var Bold1 = $(".k-editor").find(".k-tool").filter("[title='Bold']").hasClass("k-state-selected");
                //var Italic1 = $(".k-editor").find(".k-tool").filter("[title='Italic']").hasClass("k-state-selected");
                //var Underline1 = $(".k-editor").find(".k-tool").filter("[title='Underline']").hasClass("k-state-selected");
                //var editorBody = $(".k-editable-area iframe").contents().find("p");
                //var color = editorBody.color();
                var Color = $("span.k-selected-color").css("background-color");

            }

            function paste(e) {
                //alert("paste");
            }

            function contentLoad(e) {

            }

            function error(e) {

            }



</script>



<script>
    $(document).ready(function () {
        var breadCrumbData = [
            {
                displayText: "Masters",
                navigateUrl: "#",
            }, {
                displayText: "DocumentFormat",
                navigateUrl: "/BM_Management/DocumentFormat/DocumentFormat",
            }
        ];

        setBreadCrumb(breadCrumbData);
    });
</script>

