﻿@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;
@{
    ViewBag.Title = "Document/Form :: Masters";
    Layout = "~/Areas/BM_Management/Views/Shared/BM_layout.cshtml";
}
<style>
    #gridKendoForm td {
        white-space: initial;
    }
</style>
<script>
    $(document).ready(function () {
        var breadCrumbData = [
            {
                displayText: "Masters",
                navigateUrl: "#",
            },
            {
                displayText: "Document/Form",
                navigateUrl: "#",
            },
        ];

        setBreadCrumb(breadCrumbData);
    });

    function getDataForFormGrid() {
        return { customerId : "@AuthenticationHelper.CustomerID", role : "@AuthenticationHelper.Role" }
    }
</script>
<div>
    @(Html.Kendo().Tooltip()
                .For("#gridKendoForm")
                .Filter(".k-grid-edit")
                .Position(TooltipPosition.Top)
                .AutoHide(true)
                .Content("Edit")
    )
</div>

<div class="row Dashboard-white-widget">
    <div class="dashboard">
        <input type="hidden" id="hndCursorlocation" />
        <div>
            @(Html.Kendo().Window().Name("wndFormTemplatePreview").Title("Form Template").Visible(false).Modal(true).Draggable(false).Scrollable(false))
            @(Html.Kendo().Window().Name("wndFormTemplate").Title("Form Template").Visible(false).Modal(true).Draggable(false).Scrollable(false))
        </div>

        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                @(Html.Kendo().Grid<BM_ManegmentServices.VM.VM_FormTemplet>()
                    .Name("gridKendoForm")
                    .Columns(columns =>
                    {
                        //columns.Bound(o => o.FormId).Visible(false);
                        columns.Bound(o => o.FormId).HtmlAttributes(new { @style = "width:5%" });
                        columns.Bound(o => o.FormName).Title("Name").HtmlAttributes(new { @style = "width:60%" });
                        columns.Bound(o => o.Details).Title("Description").HtmlAttributes(new { @style = "width:20%" });
                        columns.Bound(o => o.StartDate).Title("Updated On").ClientTemplate("#= StartDate == null ? '' : kendo.toString(StartDate, \"dd-MMM-yyyy\")#").HtmlAttributes(new { @style = "width:10%" });
                        columns.Command(commnd =>
                        {
                            commnd.Custom("Edit").Click("CreateNew").HtmlAttributes(new { @class = "k-grid-edit" });

                        }).Title("Action").HtmlAttributes(new { @style = "width:5%" });
                    })
                     .ToolBar(toolbar =>
                     {
                         toolbar.Template(@<text>
                            <div class="refreshBtnContainer">
                                <a class="k-grid-add k-button k-button-icontext pull-right" id="AddFormTemplate" onclick="OpenAddnewFormTemplate(this)" title="Add New"><span class="k-icon k-add k-i-plus-outline"></span>New</a>
                            </div>
                            <div>
                                <input id='txtfilterFormName' class='k-textbox' style="width: 80%;" autocomplete="off" placeholder="Type to filter : Name/Description" />
                            </div>
                        </text>);
            })
            .Pageable(pageable => pageable
                   .PageSizes(true)
                   .Refresh(false)
                   .ButtonCount(5))
            //.Filterable()
            .Sortable()
            .Events(e => e.DataBound("onGridKendoFormRowBound"))
            .Navigatable()
            .DataSource(dataSource => dataSource
            .WebApi()
            .ServerOperation(false)
            .Model(model =>
            {
                model.Id(o => o.FormId);
                model.Field(o => o.IsEForm);
            })
            .Read(read => read.Url("/api/FormAPI/GetFormTempletDetails").Data("getDataForFormGrid").Type(HttpVerbs.Get))
                      ))
            </div>
        </div>

    </div>
</div>

<script>
    function OpenAddnewFormTemplate() {

        direction = "OpenFormTemplet?FormId=" + 0;
        var wnd = $("#wndFormTemplate").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndFormTemplate").kendoWindow({
            pinned: true,
            title: "Form Template",
            actions: [
                "Pin",
                "Minimize",
                "Maximize",
                "Close"
            ],
            content: direction,
            width: "95%",
            position: {
                top: 100, // or "100px"
            },
            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefresh(); },
            close: function (e) {
                $(this.element).empty();

                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {

                OnOpenTemplate();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "95%";

        wnd.setOptions(opts);
        wnd.center();
        //wnd.refresh(direction);
        wnd.open();
    };

    function CreateNew(e) {

        e.preventDefault();
        var allowEdit = true;

        $("#wndFormTemplate").attr("style", "min-height:360px;");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        direction = "OpenFormTemplet?FormId=" + dataItem.FormId;
        var wnd = $("#wndFormTemplate").data("kendoWindow");
        var opts = wnd.options;

        if (dataItem.IsEForm == true || dataItem.IsReadonly == true) {
            allowEdit = false;
        }

        if (allowEdit == true) {
            wnd = $("#wndFormTemplate").kendoWindow({
                pinned: true,
                title: "Form Template",
                actions: [
                    "Pin",
                    "Minimize",
                    "Maximize",
                    "Close"
                ],
                content: direction,
                width: "95%",
                position: {
                    top: 100, // or "100px"
                },
                visible: false,
                modal: true,
                refresh: function () { this.center(); OnRefresh(); },
                close: function (e) {
                    $(this.element).empty();

                    $(".k-overlay").attr('style', "opacity:0.5; display:none;");

                    var grid = $("#gridKendoForm").data("kendoGrid");
                    grid.dataSource.read();
                },
                open: function (e) {

                    OnOpenTemplate();
                    $(this.element).closest(".k-window").css("position", "fixed")
                    $(".k-overlay").attr('style', "opacity:0.5; display:block;");
                }
            }).data("kendoWindow");
            opts.width = "95%";

            wnd.setOptions(opts);
            wnd.center();
            //wnd.refresh(direction);
            wnd.open();
        }
    }

    function OnOpenTemplate() {
        var wnd = $("#wndFormTemplate").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
    }

    function OnRefresh () {
        var wnd = $("#wndFormTemplate").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function onGridKendoFormRowBound(e) {

        var grid = $("#gridKendoForm").data("kendoGrid");
        var gridData = grid.dataSource.view();

        for (var i = 0; i < gridData.length; i++) {
            var currentUid = gridData[i].uid;
            var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");

            if (gridData[i].IsEForm == true || gridData[i].IsReadonly == true) {
                $(currenRow).find(".k-grid-edit").addClass("k-state-disabled");
            }
        }

        RemoveAlternateRowColor('gridKendoForm');

        GetICons();
    }

    function OnRefreshTemplate() {
        var wnd = $("#wndFormTemplate").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }


    function filterProducts() {
        return {
            MasterId: $("#MasterId").val()
        };

    }
    function masterchange() {

        ddlformateField = $("#ddlformtempateFormate").data("kendoDropDownList").value();
        if (ddlformateField == "") {
            $("#InsertTemplet").hide();
        }
        else {
            $("#InsertTemplet").show();
        }
    }
    function templetInsertHideandShow() {
        ddlformateField = $("#ddlformtempateFormate").data("kendoDropDownList");
        if (ddlformateField == undefined) {
            $("#InsertTemplet").hide();
        }
        else {
            $("#InsertTemplet").show();
        }
    }

</script>

<!-- Form Formate New/Edit-->
<script>
    function insertEditorFormTemplateField() {

        var curPosition = $("#hndCursorlocation").val();
        o = $("#hndCurrentCtrl").val();

        var ddltemplateToolParent = $("#ddlformtempateFormate").data("kendoDropDownList");
        var ddlval = " {{" + ddltemplateToolParent.value() + "}} ";

        if ($("#hndIsEditor").val() == "0") {
            var txtAgenda = $("#FormTemplateEditor");
            var val = txtAgenda.val();

            if (curPosition <= txtAgenda.val().length) {
                txtAgenda.val(val.substr(0, curPosition) + ddlval + val.substr(curPosition));

                $("#hndCursorlocation").val((parseInt(curPosition) + ddlval.length));
            }
            else {
                txtAgenda.val(txtAgenda.val() + ddlval);
            }
        }
        else {
            var editor = $("#FormTemplateEditor").data("kendoEditor");
            var ddltemplateToolParent = $("#ddlformtempateFormate").data("kendoDropDownList");

            var ddlval = " {{" + ddltemplateToolParent.value() + "}} ";

            editor.exec("inserthtml", { value: ddlval });
        }
    }

    function OpenPreview(FileID) {
        direction = "OpenPreviewForm?FormId=" + FileID;
        var wnd = $("#wndFormTemplatePreview").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndFormTemplatePreview").kendoWindow({
            pinned: true,
            title: "Form Preview",
            actions: [
                         "Pin",
                         "Minimize",
                         "Maximize",
                         "Close"
            ],
            content: direction,
            width: "95%",
            position: {
                top: 100, // or "100px"
            },
            visible: false,
            modal: true,
            refresh: function () { this.center(); kendo.ui.progress(wnd.element, false); },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {
                kendo.ui.progress(wnd.element, true);
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "95%";

        wnd.setOptions(opts);
        wnd.center();
        //wnd.refresh(direction);
        wnd.open();
    }
</script>

<!-- Filter -->
<script>
    $('#txtfilterFormName').on('input', function (e) {

        var filter = { logic: 'or', filters: [] };

        var t = $('#txtfilterFormName');
        if (t.val() != "") {
            filter.filters.push({ logic: "or", field: "FormName", operator: "contains", value: t.val() });
            filter.filters.push({ logic: "or", field: "Details", operator: "contains", value: t.val() });
        }

        var grid = $("#gridKendoForm").data("kendoGrid");
        grid.dataSource.filter(filter);

    });
</script>

<script>
    function onPasteRemoveTag(e) {
        e.html = e.html.replace(/<\/?img[^>]*>/g, "");
    }
</script>