﻿@using Kendo.Mvc.UI;
@model dynamic
<!-- Script for Kendo Grid-->
<script type="text/javascript">
    function error_handlerT(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function() {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
    function onRowBoundComplianceMapping(e) {
        $(".k-grid-edit").find("span").addClass("k-icon k-edit");
        $(".k-grid-delete").find("span").addClass("k-icon k-delete");
        $(".k-grid-add").find("span").addClass("k-icon k-add k-i-plus-outline");
    }
    function showDetails()
    {
    }
</script>

<script>
    function showNoticeAgendaDetails(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        $("#wndNoticeAgendaDetails").attr("style", "min-height:100px;");

        $("#wndNoticeAgendaDetails").kendoWindow({
            title: dataItem.LogTypeStr,
            modal: true
        });

        var wnd = $("#wndNoticeAgendaDetails").data("kendoWindow");
        var opts = wnd.options;
        
        var editor = $("#editor").data("kendoEditor");
        editor.body.contentEditable = false;
        editor.value("<div style='user-select:none;'></div>");

        opts.width = "95%";
        opts.height = "550";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();

        $.ajax({
            type: "GET",
            url: "/api/MeetingAPI/MeetingNoticeAgendaLogDetails?id=" + dataItem.MeetingNoticeLogID,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                
                var editor = $("#editorNoticeAgendaDetails").data("kendoEditor");
                editor.body.contentEditable = false;
                editor.body.innerHTML = "<div style='user-select:none;'>" + response.Message + "</div>";

            },
        });
    }
</script>

<div>
    @(Html.Kendo().Tooltip()
        .For("#gridMeetingComplianceSchedule")
        .Filter(".k-grid-view")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Compliance Details")
        .Width(100)
    )
</div>

<div>

    @(Html.Kendo().Window().Name("wndNoticeAgendaDetails").Title("Details").Visible(false).Modal(true).Draggable(true).Scrollable(true)
    .Content(@<text>
            @(Html.Kendo().Editor().Name("editorNoticeAgendaDetails")
                                       .HtmlAttributes(new { style = "height:530px;user-select:none;border:0;" })
                                       .Encode(false)
                                       .Tools(t => t.Clear())
            )
    </text>)
    )


    @(Html.Kendo().Grid<BM_ManegmentServices.VM.MeetingNoticeLogResultVM>()
        .Name("gridMeetingNoticeAgendaLog")
        .Columns(columns =>
        {
            columns.Bound(p => p.LogTypeStr).HeaderTemplate("Details").ClientGroupHeaderTemplate("#= value  #").ClientTemplate("##").Hidden();
            columns.Bound(p => p.ParticipantName).HeaderTemplate("Details").ClientTemplate("#=data.ParticipantName #").Width(500);
            columns.Bound(p => p.SendOn).HeaderTemplate("SendOn").ClientTemplate("#=kendo.toString(SendOn, \"dd/MM/yyyy hh:mm tt\") #").Width(170);
            columns.Bound(p => p.DeliveredOn).HeaderTemplate("DeliveredOn").ClientTemplate("#= DeliveredOn ==null ? '' : kendo.toString(DeliveredOn, \"dd/MM/yyyy hh:mm tt\") #").Width(170);
            //columns.Bound(p => p.SendOn).ClientTemplate("#= ParticipantName == null ? '' : kendo.toString(ScheduleOn, \"dd/MM/yyyy\")# #= data.ScheduleOnTime == '12:00 AM' ? '' : data.ScheduleOnTime #").HeaderTemplate("Due Date").Sortable(false).Width(210);
            columns.Command(command =>
            {
                command.Custom("D").Click("showNoticeAgendaDetails").HtmlAttributes(new { @class = "k-grid-details" });
            })
            .Title("Action");
        })
        .HtmlAttributes(new { style = "height:470px;" })
        //.Events(e => e.DataBound("onRowBoundComplianceMapping"))
        .Navigatable()
        .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        .ServerOperation(false)
        .Events(events => events.Error("error_handlerT")
        )
        .Model(model =>
        {
            model.Id(p => p.MeetingNoticeLogID);
        })
        .Group(groups => groups.Add(p => p.LogTypeStr))
        .Read(read => read.Url("/api/MeetingAPI/MeetingNoticeAgendaLog?meetingId="+ Model.NoticeMeeting_Id + "&templateType=" + Model.TemplateType).Type(HttpVerbs.Get))
    ))
</div>