﻿
@model BM_ManegmentServices.VM.VMHolidayMaster
<div id="DivHolidayUpload">
    @if (ViewBag.SuccessMessage != null)
    {
        <div class="col-md-12">
            <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <lable>@ViewBag.SuccessMessage</lable>
            </div>
        </div>
    }

    @if (ViewBag.ErrorMessage != null)
    {
        <div class="col-md-12">
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                @foreach (var item in ViewBag.ErrorMessage)
                {
                    <lable>@item.</lable><br />
                }
            </div>
        </div>

    }

    @if (ViewBag.Error != null)
    {
        <div class="col-md-12">
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

                <lable>@ViewBag.Error</lable><br />

            </div>
        </div>

    }
    @using (Ajax.BeginForm("UploadHolidaydata", "HolidaysMaster", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivHolidayUpload", OnBegin = "OnOpen", OnComplete = "OnRefresh", OnSuccess = "RefreshGrid" }, new { id = "frmholiday", enctype = "multipart/form-data" }))
    {
        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                <div class="col-md-4 colpadding0">

                    <span></span><label for="txtcapitalContribution" class="control-label">Upload State or Stock Exchange Holiday Data </label>

                    <input type="file" name="File" />

                </div>
                <div class="col-md-4 colpadding0">
                    <button type="submit" id="btnuploadHolidays" class="k-primary k-button k-grid-update k-button-icontext" value="Save" name="submitButton"><span class=""></span>Upload</button>
                </div>
            </div>
        </div>
    }
</div>


