﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMHolidayMaster

<div id="example">
    <div id="window">
        <!-- this will be the content of the popup -->
        @if (Model.Message)
        {
            <div class="row">
                <div class="col-md-6">

                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.SuccessErrorMsg)))
                        {
                            <lable>@Model.SuccessErrorMsg</lable>
                        }
                    </div>

                </div>
            </div>
        }

        @if (Model.errorMessage)
        {
            <div class="row">

                <div class="col-md-6">
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.SuccessErrorMsg)))
                        {
                            <lable>@Model.SuccessErrorMsg</lable>
                        }
                    </div>
                </div>
            </div>
        }

        <div id="DivHoliday">
            @using (Ajax.BeginForm("CreateUpdateHolidays", "HolidaysMaster", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivHoliday", OnBegin = "OnOpen", OnComplete = "OnRefreshe" }, new { id = "frmUpdateHolidayMaster" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="row colpadding0 mt30">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-1"> <label>Select</label></div>
                        <div class="col-md-5 colpadding0">
                            @(Html.Kendo().RadioButtonFor(m => m.IsStateorStockex).Label("State").Value(true).HtmlAttributes(new { @Id = "rdbStateorStockex" }))
                            &nbsp; &nbsp;
                            @(Html.Kendo().RadioButtonFor(m => m.IsStateorStockex).Label("Stock Exchange").Value(false).HtmlAttributes(new { @Id = "rdbIsStateorStockex" }))

                            @Html.ValidationMessageFor(model => model.IsStateorStockex, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row mt30 colpadding0">
                    <div class="row colpadding0">
                        <div class="col-md-12 colpadding0">
                            <div class="col-md-12 colpadding0">
                                <div id="DIVdpinno">
                                    <div class="col-md-4 colpadding0">
                                        <label for="txtPartner" class="control-label">State</label><span style="color:red"></span>
                                        @(Html.Kendo().DropDownListFor(m => m.StateId)
                                          .DataTextField("Name")
                                          .DataValueField("SIdPublic")
                                          .Filter("contains")
                                          .DataSource(source =>
                                          {
                                              source.Read(read =>
                                              {
                                                  read.Url("/api/EntityMasterAPI/GetDropDownforState").Type(HttpVerbs.Get);
                                              })
                                              .ServerFiltering(false);
                                          }).HtmlAttributes(new { style = "width: 100%", @Id = "ddlState", autocomplete = "off" }))

                                        @Html.ValidationMessageFor(model => model.StateId, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-4 colpadding0">
                                        <div class="col-md-1 colpadding0"></div>
                                        <div class="col-md-11 colpadding0">
                                            <label for="ddlStockExchangeId" class="control-label">Stock Exchange</label><span style="color:red"></span>

                                            @(Html.Kendo().DropDownListFor(m => m.StockExchangeId)
                                              .DataTextField("Name")
                                              .DataValueField("Id")
                                              .Filter("contains")
                                              .DataSource(source =>
                                              {
                                                  source.Read(read =>
                                                  {
                                                      read.Url("/api/EntityMasterAPI/GetMultiselectorStockExchange").Type(HttpVerbs.Get);
                                                  })
                                                  .ServerFiltering(false);
                                              }).HtmlAttributes(new { style = "width: 100%", @Id = "ddlStockExchangeId", autocomplete = "off" }))

                                            @Html.ValidationMessageFor(model => model.StockExchangeId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-4 colpadding0">
                                        <div class="col-md-1 colpadding0"></div>
                                        <div class="col-md-11 colpadding0">
                                            <span></span><label for="txtcapitalContribution" class="control-label">Date</label>
                                            @(Html.Kendo().DatePicker().Name("HolidaysDate")
                                            .Format("dd/MM/yyyy").Enable(true).Format("dd/MM/yyyy").Enable(true).ParseFormats(new[] { "dd/MM/yyyy" })
                                            .HtmlAttributes(new { style = "width: 50%", @Id = "dateofIncorporationllp", placeholder = "DD/MM/YYYY", autocomplete = "off" }))

                                            @Html.ValidationMessageFor(model => model.HolidaysDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row mt30 colpadding0">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-8 colpadding0">
                            <span></span><label for="txtcapitalContribution" class="control-label">Holiday Description</label>
                            @Html.TextAreaFor(m => m.Holiday_Discription, new { @class = "k-textbox", style = "width: 100%;" })
                            @Html.ValidationMessageFor(model => model.Holiday_Discription, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row colpadding0 mt30">
                    <div class="col-md-12 colpadding0 text-center">
                        <div class="k-edit-buttons k-state-default" style="background:!important;background:none;">
                            <button type="submit" id="btnsave" class="k-primary k-button k-grid-update k-button-icontext" value="Save" name="submitButton"><span class=""></span>Save</button>
                            <button type="button" id="btnholidayclose" class="k-button" value="Close"><span class=""></span>Close</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    var validator = $("#frmUpdateHolidayMaster").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");

    $(document).ready(function () {

        var radiobtnval = document.getElementById("rdbStateorStockex")
        if (radiobtnval.checked == true) {
            var dataSource = $("#ddlStockExchangeId").data("kendoDropDownList");
            dataSource.readonly();
            var dataSource = $("#ddlState").data("kendoDropDownList");
            dataSource.enable(true);
            $("#ddlState").attr('required', true);
            $("#ddlStockExchangeId").attr('required', false);
        }
        else {
            var dataSource = $("#ddlState").data("kendoDropDownList");
            dataSource.readonly();
            var dataSource = $("#ddlStockExchangeId").data("kendoDropDownList");
            dataSource.enable(true);
            $("#ddlState").attr('required', false);
            $("#ddlStockExchangeId").attr('required', true);
        }
    });

    $("#btnholidayclose").click(function (z) {
        z.preventDefault();
        z.stopPropagation();
        $('#wndPopup').data("kendoWindow").close();
        $('#gridKendo').data('kendoGrid').dataSource.read();
        $('#gridKendo').data('kendoGrid').refresh();
    })

</script>
