﻿@model com.VirtuosoITech.ComplianceManagement.Portal.AppCode.Models.CreateEmployeeBranchTransferVModel
@{
    ViewBag.Title = "CreateEmployeeBranchTransfer";
    //Html.EnableClientValidation(true);
}


<link href="~/NewCSS/3.3.7/bootstrap.min.css" rel="stylesheet" />

<link href="~/NewCSS/bootstrap-datepicker.min.css" rel="stylesheet" />
<!-- jQuery library -->
<script src="~/Newjs/3.3.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<link href="~/NewCSS/chosen.css" rel="stylesheet" />
<script src="~/Newjs/3.3.7/bootstrap.min.js"></script>
<script src="~/Newjs/bootstrap-datepicker.min.js"></script>
<link href="~/NewCSS/font-awesome.css" rel="stylesheet" />
<link href="~/assets/select2.min.css" rel="stylesheet" />
<script src="~/assets/select2.min.js"></script>
<style>
    .form-control {
        margin-bottom: 8px;
        height: 31px;
        font-family: 'sans-serif';
    }

    .text-danger {
        color: #ef2723;
        font-family: sans-serif;
        font-size: small;
    }

    .control-label {
        font-family: sans-serif;
        margin-bottom: 0;
        text-align: left;
    }

    .ml-20 {
        margin-left: 50px;
    }

    .pl-10 {
        padding-top: 5px;
    }

    .label1 {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 300;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 0px;
    }

    .input[type=checkbox] {
        margin: 10px 0 0;
    }

    .alert {
        padding: 15px;
        margin-bottom: 0px;
        border: 1px solid transparent;
        border-radius: 4px;
    }
</style>
<div class="wrapper">
    <div class="container-fluid">
        @using (Html.BeginForm("CreateEmployeeBranchTransfer", "Setup", FormMethod.Post, new { enctype = "multipart/form-data", id = "EmployeeBranchTransfer" }))
        {          <br />

            if (Model.Message == true)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
                            <strong></strong> Employee Transfer Successfully.
                            <script>
                               
                                setTimeout(function () {
                                    if (window.parent.$("#divBranchTransfer") != null && window.parent.$("#divBranchTransfer") != undefined)
                                        window.parent.$("#divBranchTransfer").data("kendoWindow").close();
                                        $("#tabemployee").removeClass('Blurdiv');
                                }, 3000);
                            </script>
                        </div>
                    </div>
                </div>
            }

            if (Model.ServerError == true)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
                            <strong></strong> Something went wrong, Please try again...!!!
                        </div>
                    </div>
                </div>
            }

            <div class="row" style="margin-top:0px">
                @using (Ajax.BeginForm("CreateEmployeeBranchTransfer", new AjaxOptions { HttpMethod = "GET", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }))
                {
                    <div class="col-xs-12 col-md-12">
                        <div class="col-xs-12 col-md-12">
                            <div class="form-group">
                                @Html.HiddenFor(m => m.CustomerID)
                                @Html.HiddenFor(m => m.ClientID)
                                @Html.HiddenFor(m => m.EMPID)
                                @Html.HiddenFor(m => m.AVACOM_BranchID)
                                @Html.HiddenFor(m => m.ExcludeStateCode)
                                @Html.HiddenFor(m => m.ExcludeLocationCode)
                                @Html.HiddenFor(m => m.EM_DOJ)
                                @Html.HiddenFor(m => m.hidBranchName)
                            </div>
                            <div class="col-xs-12">
                                <div class="panel-group">
                                    
                                    <div class="panel panel-info">
                                        <div class="panel-body">
                                            <div class="col-xs-6 col-md-6">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <nav aria-label="breadcrumb">
                                                            <ol class="breadcrumb">
                                                                <li class="breadcrumb-item active" aria-current="page"><b>Current Branch Details</b></li>
                                                            </ol>
                                                        </nav>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="col-xs-5 control-label">State<span id="spanStateCB" style="color: red;">*</span></label>
                                                            <div class="col-xs-7">
                                                                @Html.TextBoxFor(m => m.StateNameCB, null, new { @class = "form-control", @readonly = "readonly" })
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="col-xs-5 control-label">Location<span id="spanLocationCB" style="color: red;">*</span></label>
                                                            <div class="col-xs-7">
                                                                @Html.TextBoxFor(m => m.LMNameCB, null, new { @class = "form-control", @readonly = "readonly" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="col-xs-5 control-label">Branch<span id="spanBranchCB" style="color: red;">*</span></label>
                                                            <div class="col-xs-7">
                                                                @Html.TextBoxFor(m => m.BranchNameCB, null, new { @class = "form-control", @readonly = "readonly" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="col-xs-5 control-label">Last Working Date<span id="spanLWD" style="color: red;">*</span></label>
                                                            <div class="col-xs-7">
                                                                @Html.TextBoxFor(m => m.EMT_LWD, null, new { @class = "form-control", @readonly = "readonly" })
                                                                @Html.ValidationMessageFor(m => m.EMT_LWD, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-md-6">
                                                <div class="col-md-12">
                                                    <nav aria-label="breadcrumb">
                                                        <ol class="breadcrumb">
                                                            <li class="breadcrumb-item active" aria-current="page"><b>Transfer Branch Details</b></li>
                                                        </ol>
                                                    </nav>
                                                </div>
                                                <div class="col-md-12" style="margin-bottom: 10px;">
                                                    <div class="form-group">
                                                        <label class="col-xs-5 control-label">State<span id="spanEMTState" style="color: red;">*</span></label>
                                                        <div class="col-xs-7">
                                                            @Html.DropDownListFor(m => m.EMT_SM_Code, new SelectList(Model.VMStatesTB, "SM_Code", "SM_Name"), "--Select--", new { @class = "form-control select2" })
                                                            @Html.ValidationMessageFor(m => m.EMT_SM_Code, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12" style="margin-bottom:10px;">
                                                    <div class="form-group">
                                                        <label class="col-xs-5 control-label">Location<span id="spanEMTLocation" style="color: red;">*</span></label>
                                                        <div class="col-xs-7">
                                                            @Html.DropDownListFor(m => m.EMT_LM_Code, new SelectList(Model.VMLocationTB, "LM_Code", "LM_Name"), "--Select--", new { @class = "form-control select2" })
                                                            @Html.ValidationMessageFor(m => m.EMT_LM_Code, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-12" style="margin-bottom: 10px;">
                                                    <div class="form-group">
                                                        <label class="col-xs-5 control-label">Branch<span id="spanEMTBranch" style="color: red;">*</span></label>
                                                        <div class="col-xs-7">
                                                            @Html.DropDownListFor(m => m.EMT_Branch, new SelectList(Model.VMBranchTB, "AVACOM_BranchID", "AVACOM_BranchName"), "--Select--", new { @class = "form-control select2" })
                                                            @Html.ValidationMessageFor(m => m.EMT_Branch, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="col-xs-5 control-label">Date Of Joining <span id="spanEMTDOJ" style="color: red;">*</span></label>
                                                        <div class="col-xs-7">
                                                            @Html.TextBoxFor(m => m.EMT_DOJ, null, new { @class = "form-control", @readonly = "readonly" })
                                                            @Html.ValidationMessageFor(m => m.EMT_DOJ, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-9 col-lg-9"></div>
                                                <div class="col-md-2 col-lg-2">
                                                    <button id="btnSubmit" class="btn btn-primary pull-right">Submit</button>
                                                </div>
                                                <div class="col-md-1 col-lg-1">
                                                    <button id="btnClose" type="button" class="btn btn-default pull-right">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                        <br />

                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                }
            </div>


        }
    </div>
    <!-- Trigger the modal with a button -->
    <button id="btnModal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="display:none;">Open Modal</button>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Message</h3>
                </div>
                <div class="modal-body">
                    <h4> <span id="msgerror"></span></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $(function () {

        $('#EmployeeBranchTransfer').attr("action", "/Setup/CreateEmployeeBranchTransfer");
    });
    $(document).ready(function () {
        debugger;
        $("#EMT_SM_Code").select2();
        $("#EMT_LM_Code").select2();
        $("#EMT_Branch").select2();

        $("#EMT_DOJ").datepicker({
            format: "dd/mm/yyyy",
            autoclose: true,
        });
        $("#EMT_LWD").datepicker({
            format: "dd/mm/yyyy",
            autoclose: true,
        });
        $("#EMT_Branch").change(function () {
            var BranchText = $("#EMT_Branch option:selected").text();
            $("#hidBranchName").val(BranchText);
        });
    });
    $('#EMT_LWD').datepicker({
        pickTime: false,
        format: "dd/mm/yyyy",
        autoclose: true

    }).on('changeDate', function (selected) {
        startDate = new Date(selected.date.valueOf());
        startDate.setDate(startDate.getDate(new Date(selected.date.valueOf())));
        $('#EMT_DOJ').datepicker('setStartDate', startDate);
    });
    $('#EMT_DOJ').datepicker({
        pickTime: false,
        format: "dd/mm/yyyy",
        autoclose: true,
    }).on('changeDate', function (selected) {
        FromEndDate = new Date(selected.date.valueOf());
        FromEndDate.setDate(FromEndDate.getDate(new Date(selected.date.valueOf())));
        $('#EMT_LWD').datepicker('setEndDate', FromEndDate);

    });
    $('#EMT_SM_Code').on('change', function () {
        debugger;
        var SM_Code = $('#EMT_SM_Code').val();
        var ClientID = $('#ClientID').val();
        var ExcludeLocationCode = $('#ExcludeLocationCode').val();

        if (SM_Code != "" && ExcludeLocationCode != "") {
            $.ajax({
                url: "/Setup/GetClientwiseLocationCitiesByStateCode",
                data: { ClientID, SM_Code},
                type: "GET",
                content: 'application/json;charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    var dset = [];
                    dset = data;
                    $("#EMT_LM_Code").empty();

                    var optionhtml1 = '<option value="' +
                       0 + '">' + "--Select--" + '</option>';
                    $("#EMT_LM_Code").prepend(optionhtml1);
                    $.each(dset, function (data, value) {
                        $("#EMT_LM_Code").append($("<option></option>").val(value.LM_Code).html(value.LM_Name));
                    });
                    //$("#EMT_LM_Code").val('').trigger("change");
                    $("#EMT_LM_Code").val('').trigger("updated");
                },
                error: function () {
                    alert(" An error occurred.");
                },
            });
        } else {
            $("#EMT_LM_Code").empty();
            $("#EMT_LM_Code").val('').trigger("change");
        }
    });
    $('#EMT_LM_Code').on('change', function () {
        debugger;
        var CustomerID = $('#CustomerID').val();
        var SM_Code = $('#EMT_SM_Code').val();
        var LM_Code = $('#EMT_LM_Code').val();
        var ClientID = $('#ClientID').val();
        var BranchID = $('#AVACOM_BranchID').val();

        if (LM_Code != "" && SM_Code != "") {
            $.ajax({
                url: "/Setup/GetBranchesClientwise",
                data: { CustomerID, ClientID, SM_Code, LM_Code, BranchID },
                type: "GET",
                content: 'application/json;charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    $("#EMT_Branch").empty();
                    
                    var dset = [];
                    dset = data;
                    var optionhtml1 = '<option value="' +
                       0 + '">' + "--Select--" + '</option>';
                    $("#EMT_Branch").prepend(optionhtml1);
                    $.each(dset, function (data, value) {
                        $("#EMT_Branch").append($("<option></option>").val(value.AVACOM_BranchID).html(value.AVACOM_BranchName));
                    });
                    $("#EMT_Branch").val('').trigger("change");
                },
                error: function () {
                    alert(" An error occurred.");
                },
            });
        }
        else {
            $("#EMT_Branch").empty();
            $("#EMT_Branch").val('').trigger("change");
        }
    });

    function CheckDate() {
        var EMDOJ = $("#EM_DOJ").val();
        var EMT_LWD = $("#EMT_LWD").val();
        var EMT_DOJ = $("#EMT_DOJ").val();
        var EMTDOJ = process(EMT_DOJ);
        var EMTLWD = process(EMT_LWD);
        var EDOJ = process(EMDOJ);
        if (EMTLWD > EDOJ) {
            if (EMTLWD > EMTDOJ) {
                $("#EMT_DOJ").val('');
                alert("Please Select Transfer Last Working Date less than equal to Date Of Joining Date.");
                return false;
            }
            return true;
        }
        else {
            $("#EMT_LWD").val('');
            alert("Please Select Last Working Date  greater than Employee Joining Date.");
            return false;
        }
    }
    function process(date) {
        var parts = date.split("/");
        return new Date(parts[2], parts[1] - 1, parts[0]);
    }
    $('#EMT_LWD').change(function () {
        CheckDate();
    });
</script>


<script type="text/javascript">
    $('#btnSubmit').click(function () {
        $('#btnSubmit').html('<span class="fa fa-refresh fa-spin" role="status" aria-hidden="true"></span>Loading...').addClass('disabled');
    });
    $("#btnClose").click(function () {
        //window.close();
        if (window.parent.$("#divBranchTransfer") != null && window.parent.$("#divBranchTransfer") != undefined)
            window.parent.$("#divBranchTransfer").data("kendoWindow").close();
    });

</script>
