﻿@model com.VirtuosoITech.ComplianceManagement.Portal.AppCode.Models.PaycodeMappingModel

@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/NewCSS/3.3.7/bootstrap.min.css" rel="stylesheet" />
<link href="~/NewCSS/bootstrap-datepicker.min.css" rel="stylesheet" />
<link href="~/NewCSS/chosen.min.css" rel="stylesheet" />
<script src="~/Newjs/3.3.1/jquery.min.js"></script>
<script src="~/Newjs/3.3.7/bootstrap.min.js"></script>

<script src="~/Newjs/bootstrap-datepicker.min.js"></script>

<link href="~/NewCSS/bootstrap-datepicker.css" rel="stylesheet" />

<script src="~/Newjs/jquery.validate.min.js"></script>
<script src="~/Newjs/jquery.validate.unobtrusive.js"></script>
<script src="~/Newjs/chosen.jquery.min.js"></script>


<style>
    .form-control {
        margin-bottom: 5px;
        height: 31px;
        font-family: sans-serif;
    }

    .text-danger {
        color: #ef2723;
        font-family: sans-serif;
        font-size: small;
    }

    .control-label {
        font-family: sans-serif;
        padding-top: 5px;
        margin-bottom: 0;
        text-align: left;
    }

    .pl-50 {
        padding-left: 51px;
    }

    .chosen-container-single .chosen-single {
        height: 30px;
        width: 500px;
        margin-bottom: 8px;
        padding: 2px 0 0 8px;
    }

    .chosen-container-single .chosen-drop {
        margin-top: -8px;
    }
    .chosen-container { width: 465px !important; }
</style>
<script>

    $(document).ready(function () {
        $('.chzn-select').chosen();
      
        debugger;
        $('k-loading-mask', window.parent.document.body).css('display', 'none');
    });
</script>

<div class="wrapper">
    <div class="container-fluid">
       
       
        @using (Html.BeginForm())
        {          <br />

            if (Model.Exception == true)
            {
                <div class="row">
                    <div class="col-md-8">
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
                            <strong></strong> Server Error Occured.Please try later.
                        </div>
                    </div>
                </div>
            }
            if (Model.Message == true)
            {
                <div class="row">
                    <div class="col-md-8">
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
                            <strong></strong> Details saved successfully.
                            <script>
                                setTimeout(function () 
                                {
                                    if (window.parent.$("#divRLCSEmployeeAddDialog") != null && window.parent.$("#divRLCSEmployeeAddDialog") != undefined)
                                        window.parent.$("#divRLCSEmployeeAddDialog").data("kendoWindow").close();
                                    
                                }, 2000);
                                setTimeout(function () 
                                {
                                    if (window.parent.$("#divRLCSPaycodeAddDialog") != null && window.parent.$("#divRLCSPaycodeAddDialog") != undefined)
                                        window.parent.$("#divRLCSPaycodeAddDialog").data("kendoWindow").close();

                                }, 2000);

                                
                            </script>
                        </div>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="col-md-2 col-xs-4 control-label">Client<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-8 col-xs-8 ">
                            @{
                                if (ViewData["Edit"] != null)
                                {
                                    @Html.DropDownListFor(m => m.CPMD_ClientID, new SelectList(Model.Clients, "CM_ClientID", "CM_ClientName", Model.CPMD_ClientID), "Select", new { @class = "form-control chzn-select ", @disabled = "disabled" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(m => m.CPMD_ClientID, new SelectList(Model.Clients, "CM_ClientID", "CM_ClientName", Model.CPMD_ClientID), "Select", new { @class = "form-control chzn-select " })
                                }
                                @Html.HiddenFor(m => m.CPMD_ClientID)
                            } 
                            
                            @Html.ValidationMessageFor(m => m.CPMD_ClientID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="col-md-2 col-xs-4 control-label">Type<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-8 col-xs-8 ">

                            @if (ViewData["Edit"] != null)
                            {
                                @Html.DropDownListFor(m => m.CPMD_PayGroup, new SelectList(new List<SelectListItem> {
                                    new SelectListItem { Text="Standard", Value="standard"},
                                    new SelectListItem { Text="Paycodes", Value="paycodes"} }, "Value", "Text", "--Select--"), "--Select--", new { @class = "form-control", @disabled = "disabled" })
                            }
                            else
                            {
                                @Html.DropDownListFor(m => m.CPMD_PayGroup, new SelectList(new List<SelectListItem> {
                                    new SelectListItem { Text="Standard", Value="standard"},
                                    new SelectListItem { Text="Paycodes", Value="paycodes"} }, "Value", "Text", "--Select--"), "--Select--", new { @class = "form-control" })
                            }
                            
                            @Html.HiddenFor(m => m.CPMD_PayGroup)

                            @Html.ValidationMessageFor(m => m.CPMD_PayGroup, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

            </div>

            <div class="row divPaycode">
                <div class="col-md-10">
                    <div class="form-group">
                        <label class="col-md-2 col-xs-4 control-label">PaycodeType<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-8 col-xs-8 ">
                            @if (ViewData["Edit"] != null)
                            {
                                @Html.DropDownListFor(m => m.CPMD_Deduction_Type, new SelectList(new List<SelectListItem> {
                                    new SelectListItem { Text="Earning", Value="E"},
                                    new SelectListItem { Text="Deduction", Value="D"} }, "Value", "Text"), "--Select--", new { @class = "form-control", @disabled = "disabled" })
                            }
                            else
                            {
                                @Html.DropDownListFor(m => m.CPMD_Deduction_Type, new SelectList(new List<SelectListItem> {
                                    new SelectListItem { Text="Earning", Value="E"},
                                    new SelectListItem { Text="Deduction", Value="D"} }, "Value", "Text"), "--Select--", new { @class = "form-control" })
                            }
                           
                            @Html.HiddenFor(m => m.CPMD_Deduction_Type)
                            @Html.ValidationMessageFor(m => m.CPMD_Deduction_Type, "", new { @class = "text-danger" })
                            <span id="spanPaycodeType" class="text-danger"> Please select PaycodeType</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row divPaycode">
                <div class="col-md-10">
                    <div class="form-group">
                        <label class="col-md-2 col-xs-4 control-label">Paycodes<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-8 col-xs-8 ">
                            @if (ViewData["Edit"] != null)
                            {
                                @Html.DropDownListFor(m => m.CPMD_PayCode, new SelectList(Model.PaycodeMasterModellist, "PEM_Pay_Code", "PEM_Pay_Code_Description", 1), "Select", new { @class = "form-control chzn-select chzn-select-deselect", @disabled = "disabled" })
                            }
                            else
                            {
                                @Html.DropDownListFor(m => m.CPMD_PayCode, new SelectList(Model.PaycodeMasterModellist, "PEM_Pay_Code", "PEM_Pay_Code_Description", 1), "Select", new { @class = "form-control chzn-select chzn-select-deselect" })
                            }
                            @Html.HiddenFor(m => m.CPMD_PayCode)
                            @Html.ValidationMessageFor(m => m.CPMD_PayCode, "", new { @class = "text-danger" })
                            
                        </div>
                    </div>
                </div>            
            </div>
            


            <div class="row divPaycode">
                <div class="col-md-10">
                    <div class="form-group">
                        <label class="col-md-2 col-xs-4 control-label"></label>
                        <div class="col-md-8 col-xs-8 ">
                            <span id="PaycodeExist" class="text-danger"> Already Exist!</span>
                            <span id="spanPaycodes" class="text-danger"> Please select Paycodes</span>
                        </div>
                    </div>
                </div>
            </div>



                <div class="row divStandard">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label class="col-md-2 col-xs-4 control-label">Standard Type<span id="spCM_ClientID" style="color: red;">*</span></label>
                            <div class="col-md-8 col-xs-8 ">
                                @if (ViewData["Edit"] != null)
                                {
                                    @Html.DropDownListFor(m => m.CPMD_Standard_Column, new SelectList(Model.StandardColumns, "CPMD_Standard_Column", "CPMD_Standard_Column"), "Select", new { @class = "form-control", @disabled = "disabled" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(m => m.CPMD_Standard_Column, new SelectList(Model.StandardColumns, "CPMD_Standard_Column", "CPMD_Standard_Column"), "Select", new { @class = "form-control" })
                                }
                                @Html.HiddenFor(m => m.CPMD_Standard_Column)
                                @Html.ValidationMessageFor(m => m.CPMD_Standard_Column, "", new { @class = "text-danger" })
                                <span id="StandardExist" class="text-danger"> Already Exist!</span>
                                <span id="spanStandardType" class="text-danger"> Please select Standard Type</span>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label class="col-md-2 col-xs-4 control-label">Header Name<span id="spCM_ClientID" style="color: red;">*</span></label>
                            <div class="col-md-8 col-xs-8 ">
                                @Html.TextBoxFor(m => m.CPMD_Header, null, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.CPMD_Header, "", new { @class = "text-danger" })
                                <span id="PaycodeHeader" class="text-danger">Paycode Header Already Exist!</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label class="col-md-2 col-xs-4 control-label">Sequence Order<span id="spCM_ClientID" style="color: red;">*</span></label>
                            <div class="col-md-8 col-xs-8 ">

                                @Html.TextBoxFor(m => m.CPMD_Sequence_Order, null, new { @class = "form-control", @maxlength = "5" })
                                @Html.ValidationMessageFor(m => m.CPMD_Sequence_Order, "", new { @class = "text-danger" })
                                <span id="PaycodeSequence" class="text-danger">Paycode Sequence Already Exist!</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row divPaycode">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label class="col-md-2 col-xs-4 control-label">Applicable For ESI<span id="spCM_ClientID" style="color: red;">*</span></label>
                            <div class="col-md-8 col-xs-8 ">
                                @Html.DropDownListFor(m => m.CPMD_appl_ESI, new SelectList(new List<SelectListItem> {
                                    new SelectListItem { Text="Yes", Value="Y"},
                                    new SelectListItem { Text="No", Value="N"} }, "Value", "Text"), "--Select--", new { @class = "form-control" })
                                <span id="span_ESI" class="text-danger">Required Applicable for ESI</span>
                               
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row divPaycode">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label class="col-md-2 col-xs-4 control-label">Applicable For PT<span id="spCM_ClientID" style="color: red;">*</span></label>
                            <div class="col-md-8 col-xs-8 ">

                                @Html.DropDownListFor(m => m.CPMD_Appl_PT, new SelectList(new List<SelectListItem> {
                                    new SelectListItem { Text="Yes", Value="Y"},
                                    new SelectListItem { Text="No", Value="N"} }, "Value", "Text"), "--Select--", new { @class = "form-control" })
                                
                                <span id="span_PT" class="text-danger">Required Applicable for PT</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row divPaycode">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label class="col-md-2 col-xs-4 control-label">Applicable For PF<span id="spCM_ClientID" style="color: red;">*</span></label>
                            <div class="col-md-8 col-xs-8 ">
                                @Html.DropDownListFor(m => m.CPMD_appl_PF, new SelectList(new List<SelectListItem> {
                                    new SelectListItem { Text="Yes", Value="Y"},
                                    new SelectListItem { Text="No", Value="N"} }, "Value", "Text"), "--Select--", new { @class = "form-control" })
                                <span id="span_PF" class="text-danger">Required Applicable for PF</span>
                               
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row divPaycode">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label class="col-md-2 col-xs-4 control-label">Applicable For LWF<span id="spCM_ClientID" style="color: red;">*</span></label>
                            <div class="col-md-8 col-xs-8 ">

                                @Html.DropDownListFor(m => m.CPMD_Appl_LWF, new SelectList(new List<SelectListItem> {
                                    new SelectListItem { Text="Yes", Value="Y"},
                                    new SelectListItem { Text="No", Value="N"} }, "Value", "Text"), "--Select--", new { @class = "form-control" })
                                <span id="span_LWF" class="text-danger">Required Applicable for LWF</span>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 text-center">
                        <button type="submit" id="btnsave" value="Save" name="Save" class="btn btn-primary">Save</button>
                        @{ 
                            if(ViewData["ID"]!=null)
                            {
                                string strId = ViewData["ID"].ToString();
                                <input type="hidden" id="hdID" name="hdID" value="@strId"/>
                                
                            }
                        }
                    </div>
                </div>
        }
    </div>

</div>
<script>
    $(document).ready(function(){
        debugger;
        $("#span_ESI").hide();
        $("#span_PT").hide();
        $("#span_PF").hide();
        $("#span_LWF").hide();
        $('#spanPaycodeType').hide();
        $('#spanPaycodes').hide();
        $('#spanStandardType').hide();

        $("#CPMD_Sequence_Order").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //alert("Enter only digits");
                return false;
            }
       
        });
    });

    

    $('#CPMD_PayGroup').on('change', function () {
        
        var Client = $('#CPMD_ClientID').val();
        var type=$('#CPMD_PayGroup').val();
        if( Client === undefined)
        {
            alert("Please select Client");
        }
        else{

            if (type != undefined && Client!=undefined) 
            {
                $("#CPMD_Header").val("");
                $('#PaycodeSequence').hide();
                hideErrorMsgs();

                if( type == "standard")
                {
                   
                    $.ajax({
                        url: "/Setup/GetStandardColumnList",
                        data: { Client },
                        type: "GET",
                        content: 'application/json;charset=utf-8',
                        dataType: 'json',
                        success: function (data) {
                            debugger;
                            if(data != undefined)
                            {
                                var dset = [];
                                dset = data;
                                $("#CPMD_Standard_Column").empty();
                                $("#CPMD_Standard_Column").append($("<option></option>").val("0").html("Select"));
                                for(d in data) {
                                  
                                    $("#CPMD_Standard_Column").append($("<option></option>").val(data[d]).html(data[d]));

                                }
                                
                                var optionhtml1 = '<option value="' + 0 + '">' + "Select Standard type" + '</option>';
                                

                            }

                        }
                    });

                  
                  
                }
            }
        }
    });





    $('#CPMD_Deduction_Type').on('change', function () {
        var Pay_Code = $('#CPMD_Deduction_Type').val();
        if (Pay_Code != undefined) 
        {
     
            $("#CPMD_Header").val("");
            $("#PaycodeHeader").hide();
            $("#PaycodeExist").hide();
            $("#spanPaycodeType").hide();
            
            $.ajax({
                url: "/Setup/GetPaycodes",
                data: { Pay_Code },
                type: "GET",
                content: 'application/json;charset=utf-8',
                dataType: 'json',
                success: function (data) {

                    debugger;
                    var dset = [];
                    dset = data;
                    $("#CPMD_PayCode").empty();
                    $(".chzn-select").chosen();
                    $(".chzn-select-deselect").chosen({allow_single_deselect:true});
             
                    $.each(dset, function (data, value) {
                                         
                        $("#CPMD_PayCode").append($("<option></option>").val(value.PEM_Pay_Code).html(value.PEM_Pay_Code_Description));
                                 
                    });
                    $("#CPMD_PayCode").val('').trigger("chosen:updated");
                }
            });
           
           
        }
    });

    //change
    $('#CPMD_Sequence_Order').on('keyup', function () {
        debugger;
        var Client = $('#CPMD_ClientID').val();
        var Sequence = $('#CPMD_Sequence_Order').val();
        var Id = $('#hdID').val();

        if (Sequence != undefined) {

            $.ajax({
                url: "/Setup/ISSequenceOrderExist",
                data: { Sequence, Client, Id },
                type: "POST",
                content: 'application/json;charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    if (data === true)
                    {
                        $('#PaycodeSequence').show();
                        $('#btnsave').addClass('hidden');
                       
                    }                   
                    else
                    {
                        $('#PaycodeSequence').hide();
                        if ( ($("#PaycodeHeader").is(":visible")) || ($("#PaycodeSequence").is(":visible")) || ($("#StandardExist").is(":visible") )  )
                        {
                            $('#btnsave').addClass('hidden');
                           
                        }
                        else
                        {
                            $('#btnsave').removeClass('hidden');
                        }
                                      
                    }
                        

                }

            });
        }
    });

    $('#CPMD_Header').on('keyup', function () {
        var Client = $('#CPMD_ClientID').val();
        var Header = $('#CPMD_Header').val();
        var Id = $('#hdID').val();

        if (Header != undefined) {

            $.ajax({
                url: "/Setup/ISHeaderExist",
                data: { Header,Client,Id },
                type: "POST",
                content: 'application/json;charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    if(data === true)
                    {
                        $('#PaycodeHeader').show();
                        $('#btnsave').addClass('hidden');           
                    }
                    else
                    {                    
                        $('#PaycodeHeader').hide();
                        if ( ($("#PaycodeHeader").is(":visible")) || ($("#PaycodeSequence").is(":visible") )  || ($("#StandardExist").is(":visible") ) )
                        {
                            $('#btnsave').addClass('hidden');             
                        }
                        else
                        {
                            $('#btnsave').removeClass('hidden');
                        }
                        
                    }
                }

            });
        }
    });
    $(document).ready(function () {
        $('#PaycodeHeader').hide();
        $('#PaycodeSequence').hide();
        $('#PaycodeExist').hide();
        $('#StandardExist').hide();
        $('#spanPaycodeType').hide();
        $('#spanPaycodes').hide();
        $('#spanStandardType').hide();
        
        var PayGroup= @Html.Raw(Json.Encode(Model.CPMD_PayGroup));
        if(PayGroup ==="paycodes")
        {
            $('.divPaycode').show();
            $('.divStandard').hide();

        }else{
            $('.divPaycode').hide();
            $('.divStandard').show();

        }
    });
    $('#CPMD_PayGroup').on('change', function () {
        var Pay_Code = $('#CPMD_PayGroup').val();
        var Client = $('#CPMD_ClientID').val();
        if(Pay_Code == "paycodes")
        {
            $('.divStandard').hide();
            $('.divPaycode').show();
        }
        else {
            $('.divPaycode').hide();
            $('.divStandard').show();
        }
        $('#StandardExist').hide();
        $.ajax({
            url: "/Setup/GetPaycodeDetails",
            data: { Pay_Code,Client },
            type: "GET",
            content: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (data) {
                debugger;
                if(data != undefined)
                {
                    $('#CPMD_Sequence_Order').val(data);
                       
                       
                }
            }
        });
    });

   

    $('#btnsave').click(function () 
    {
        debugger;
        var seqno = $("#CPMD_Sequence_Order").val();
        if(seqno !="")
        {
            seqno = parseInt(seqno);
            if(seqno <= 0)
            {
                alert("Sequence order should be greater than 0");
                return false;
            }
            
        }

        var myvalue = $("#CPMD_PayGroup").val();
        if (myvalue == "paycodes") 
        {
            if( $('#CPMD_appl_ESI').val() =="")
                $("#span_ESI").show();
            else
                $("#span_ESI").hide();


            if( $('#CPMD_Appl_LWF').val() =="")
                $("#span_LWF").show();
            else
                $("#span_LWF").hide();
            if( $('#CPMD_appl_PF').val() =="")
                $("#span_PF").show();
            else
                $("#span_PF").hide();
            if( $('#CPMD_Appl_PT').val() =="")
                $("#span_PT").show();
            else
                $("#span_PT").hide();

            if(  $("#CPMD_Deduction_Type").val()=="" || $("#CPMD_Deduction_Type").val()=="0"  || $("#CPMD_Deduction_Type").val()==null  )
            {
                $('#spanPaycodeType').show();
                return false;
            }
            else
            {
                $('#spanPaycodeType').hide();
            }

            if(  $("#CPMD_PayCode").val()=="" || $("#CPMD_PayCode").val()=="0"  || $("#CPMD_PayCode").val()==null  )
            {             
                $('#spanPaycodes').show();
                return false;
            }
            else
            {             
                $('#spanPaycodes').hide();
            }

            if( $('#CPMD_Appl_PT').val() !="" && $('#CPMD_appl_PF').val() !=""  &&  $('#CPMD_Appl_LWF').val() !="" && $('#CPMD_appl_ESI').val() !="")
            {
                return true;
            }
            else
            {
                return false;
            }

        }
        else {
            $("#span_ESI").hide();
            $("#span_PT").hide();
            $("#span_PF").hide();
            $("#span_LWF").hide();

            if(  $("#CPMD_Standard_Column").val()=="" || $("#CPMD_Standard_Column").val()=="0"  || $("#CPMD_Standard_Column").val()==null  )
            {             
                $('#spanStandardType').show();
                return false;
            }
            else
            {             
                $('#spanStandardType').hide();
            }

            var disabled= $('#btnsave').is(":hidden");
            if (disabled==true) {
                return false;
            }
            else{return true;}
            
        }
    });

    $('#CPMD_Standard_Column').on('change', function () 
    {
       
        var Client = $('#CPMD_ClientID').val();
        var Type = $('#CPMD_Standard_Column').val();
        $("#CPMD_Header").val("");
        hideErrorMsgs();
        $("#spanStandardType").hide();
        debugger;
        if (Type != undefined) {

            $.ajax({
                url: "/Setup/ISStandardTypeExist",
                data: { Type,Client },
                type: "POST",
                content: 'application/json;charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    if(data === true)
                    {
                        $('#StandardExist').show();
                        $('#btnsave').addClass('hidden')
                    }
                    
                    else
                    {
                        $('#StandardExist').hide();
                        $('#btnsave').removeClass('hidden')
                    }
                }

            });
        }
    });
    $('#CPMD_PayCode').on('change', function () {
        var Client = $('#CPMD_ClientID').val();
        var Type = $('#CPMD_PayCode').val();

        $("#CPMD_Header").val("");
        $("#PaycodeHeader").hide();
        $('#spanPaycodes').hide();

        debugger;
        if (Type != undefined) {

            $.ajax({
                url: "/Setup/ISPayCodeTypeExist",
                data: { Type,Client },
                type: "POST",
                content: 'application/json;charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    if(data === true)
                    {
                        $('#PaycodeExist').show();
                        $('#btnsave').addClass('hidden')
                    }
                    else
                    {
                        $('#PaycodeExist').hide();
                        $('#btnsave').removeClass('hidden')
                    }
                }

            });
        }
    });




    $('#CPMD_ClientID').on('change', function () 
    {
        $("#CPMD_Header").val("");
        $("#CPMD_Sequence_Order").val("");
        
        $("#CPMD_PayGroup").val("");
        $("#CPMD_Standard_Column option").remove();
        hideErrorMsgs();
    });


    function hideErrorMsgs()
    {
        var standardType = $("#CPMD_Standard_Column").val();
        var headerName = $("#CPMD_Header").val();
        var seqOrder = $("#CPMD_Sequence_Order").val();

        if( (standardType == "" || standardType == null || standardType == "0")&&($("#StandardExist").is(":visible") ))
        {
            $('#StandardExist').hide();
        }
        if( (headerName == "")&&($("#PaycodeHeader").is(":visible") ))
        {
            $('#PaycodeHeader').hide();
        }
        if( (seqOrder == "")&&($("#PaycodeSequence").is(":visible") ))
        {
            $('#PaycodeSequence').hide();
        }

    }
</script>
