﻿@model com.VirtuosoITech.ComplianceManagement.Portal.AppCode.Models.ClientLocationVModel
@{
    ViewBag.Title = "CreateClientLocationSetup";
}

<link href="~/NewCSS/3.3.7/bootstrap.min.css" rel="stylesheet" />
<link href="~/NewCSS/bootstrap-datepicker.min.css" rel="stylesheet" />
@*<link href="~/NewCSS/wizard.css" rel="stylesheet" />*@
<link href="~/NewCSS/bootstrap-datepicker.css" rel="stylesheet" />
@*<script src="~/Newjs/jquery-3.3.1.slim.min.js"></script>*@
<script src="~/Newjs/3.3.1/jquery.min.js"></script>
<script src="~/Newjs/3.3.7/bootstrap.min.js"></script>
<script src="~/Newjs/fastselect.standalone.js"></script>

<script src="~/Newjs/bootstrap-datepicker.min.js"></script>
<script src="~/Newjs/jquery.validate.min.js"></script>
<script src="~/Newjs/jquery.validate.unobtrusive.js"></script>
<link href="~/NewCSS/fastselect.min.css" rel="stylesheet" />

<style>
    .form-control {
        margin-bottom: 8px;
        height: 31px;
        font-family: 'sans-serif';
    }

    .text-danger {
        color: #ef2723;
        font-family: sans-serif;
        font-size: small;
    }

    .control-label {
        font-family: sans-serif;
        padding-top: 7px;
        margin-bottom: 0;
        text-align: right;
    }
</style>
<style type="text/css">
    .bs-example {
        font-family: sans-serif;
        position: relative;
        margin: 100px;
    }

    .typeahead, .tt-query, .tt-hint {
        border: 1px solid #CCCCCC;
        border-radius: 4px;
        font-size: 15px;
        line-height: 30px;
        outline: medium none;
        padding: 8px 12px;
        display: block;
    }

    .typeahead {
        background-color: #FFFFFF;
    }

    /*.typeahead:focus {
            border: 2px solid #0097CF;
        }*/

    .tt-query {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    }

    .tt-hint {
        color: #999999;
    }

    .tt-menu {
        background-color: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        /*margin-top: 12px;*/
        padding: 8px 0;
        /*width: 422px;*/
    }

    .tt-suggestion {
        font-size: 15px; /* Set suggestion dropdown font size */
        padding: 3px 20px;
    }

        .tt-suggestion:hover {
            cursor: pointer;
            background-color: #0097CF;
            color: #FFFFFF;
        }

        .tt-suggestion p {
            margin: 0;
        }
</style>
<style>
    .fstElement {
        font-size: 0.7em;
        height: 34px;
    }

    .fstToggleBtn {
        min-width: 16.5em;
    }

    .submitBtn {
        display: none;
    }

    .fstMultipleMode {
        display: block;
    }

        .fstMultipleMode .fstControls {
            width: 100%;
        }
</style>
<script>
    $(document).ready(function(){
        $('k-loading-mask', window.parent.document.body).css('display', 'none');
        $(window.parent.document).find("#BodyContent_updateProgress").hide();//added 4may
        
        $('#btnsave').click(function () 
        {
            $("#spnLAMsg").html("");
            var ServiceProviderID=$('#ServiceProviderID').val();
            var CL_LocationAnchor=$('#CL_LocationAnchor').val();
            if (ServiceProviderID==94 && CL_LocationAnchor=="") {
                $("#spnLAMsg").html("Select Location Anchor");
                return false;
            }
            //10FEB2021
            var BranchStartDate=$('#CL_BranchStartDate').val();
            var BranchEndDate=$('#CL_BranchEndDate').val();
            var BranchStatus = $("#CL_Status").val();
            //if ( BranchStartDate=="") {
            //    $("#spnBranchStartDateMsg").html("Select Branch Start Date");
            //    return false;
            //}
            if (Status == "I" && BranchEndDate=="") {
                $("#spnBranchEndDateMsg").html("Select Branch End Date");
                return false;
            }
            //END
            debugger;
            var $form = $(this).closest('form');
            if ($form.valid()) 
            {  
                $(window.parent.document).find("#BodyContent_updateProgress").show();
            }
            else
            {
                $(window.parent.document).find("#BodyContent_updateProgress").hide();
            }
            
        });
    });
    function onchangeevent(e){
        $.ajax({
            type: "POST",
            url: "../Setup/CheckDuplicate",
            data: '{"AVACOM_BranchName":"' + $(e).val() + '","AVACOM_BranchID":"'+ $('#AVACOM_BranchID').val()+'"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if(data){
                    $("#branchMessageDiv").removeClass("hidden");
                    $(e).val("");
                    $(e).focus();
                }
                else
                    $("#branchMessageDiv").addClass("hidden");
            },
            failure: function (data) {
                alert(data);
            }
        });
    }
    $(document).ready(function () {
        // $('.bootstrap-tagsinput').addClass('col-md-12');
        $('.typeahead dropdown-menu').addClass('col-md-12');
        debugger;
        var BranchStatus = $("#CL_Status").val();
        if (BranchStatus == "I") {
            $("#spnBranchEndDateMsg").html("Select Branch End Date");
        }
        else {
            $("#spnBranchEndDateMsg").html("");
        }
    });
    function SelectedIndexChanged(e) {  
        $("#CL_LWF_State").val($(e).val());
        $("#CL_PT_State").val($(e).val());
    } 

</script>

<div class="wrapper">

    <div class="container-fluid">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "Locationfrm" }))
        {          <br />

            if (Model.Exception == true)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
                            <strong></strong> Server Error Occured.Please try later.
                        </div>
                    </div>
                </div>
            }

            if (Model.Message == true)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
                            <strong></strong> Details saved successfully.
                            <script>
                                setTimeout(function () {
                                    if (window.parent.$("#divRLCSCustomerLocationDialog") != null && window.parent.$("#divRLCSCustomerLocationDialog") != undefined)
                                        window.parent.$("#divRLCSCustomerLocationDialog").data("kendoWindow").close();
                                }, 3000);
                            </script>
                        </div>
                    </div>
                </div>
            }

              <div class="row hidden" id="branchMessageDiv">
                    <div class="col-md-12">
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
                            <strong></strong> Branch Name Already Exists.
                        </div>
                    </div>
                </div>
           

            if (ViewData["BranchCodeExists"] != null && ViewData["BranchCodeExists"].ToString() == "Yes")
            {
                <div class="row" id="branchCodeErrorDiv">
                    <div class="col-md-12">
                        <div id="divAlert" class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
                            <span id="spnBranchCodeMsg">Branch Code Already Exists.</span>
                        </div>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Entity/Client<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-8 col-xs-8 ">
                            @Html.HiddenFor(m => m.ServiceProviderID)
                            @Html.HiddenFor(m => m.CM_ClientID)
                            @Html.HiddenFor(m => m.AVACOM_BranchID)
                            @Html.TextBoxFor(m => m.CM_ClientName, null, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(m => m.CM_ClientName, "", new { @class = "text-danger" })
                            @Html.HiddenFor(m => m.PFType)
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @*<label class="col-xs-4 control-label">Branch Name<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-8 col-xs-8 ">
                            @if (ViewData["Edit"] != null && ViewData["Edit"].ToString() == "Yes")
                            {
                                @Html.TextBoxFor(m => m.AVACOM_BranchName, null, new { @class = "form-control", @readonly = "readonly" })
                            }
                            else
                            {
                                @Html.TextBoxFor(m => m.AVACOM_BranchName, null, new { @class = "form-control", @onchange = "onchangeevent(this);" })
                            }
                            @Html.ValidationMessageFor(m => m.AVACOM_BranchName, "", new { @class = "text-danger" })
                        </div>*@
                    </div>
                </div>
            </div>


            <div class="row">
                @if ((ViewData["Edit"] != null && ViewData["Edit"].ToString() == "Yes") || (ViewData["BranchCodeExists"] != null))
                {
                    <div class="col-md-6">
                        <div class="form-group"  id="RLCSdivHide">
                            <label class="col-xs-4 control-label">Branch code<span id="spCM_ClientID" style="color: red;">*</span></label>
                            <div class="col-md-6 col-xs-6 ">
                                @if (ViewData["Edit"] != null && ViewData["Edit"].ToString() == "Yes")
                                {
                                    @Html.TextBoxFor(m => m.CL_BranchCode, null, new { @class = "form-control", @readonly = "readonly" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.CL_BranchCode, null, new { @class = "form-control" })
                                }

                            </div>
                            <div class="col-md-1 col-xs-1">
                                @if (ViewData["Edit"] != null && ViewData["Edit"].ToString() == "Yes")
                                {
                                    <input type="button" value="Check" class="btn btn-primary" disabled />
                                }
                                else
                                {
                                    <input type="button" value="Check" class="btn btn-primary" onclick="CheckBranchCodeExist();" />
                                }

                            </div>
                        </div>
                    </div>
                }

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Branch Name<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-8 col-xs-8 ">
                            @if (ViewData["Edit"] != null && ViewData["Edit"].ToString() == "Yes")
                            {
                                @Html.TextBoxFor(m => m.AVACOM_BranchName, null, new { @class = "form-control", @readonly = "readonly" })
                            }
                            else
                            {
                                @Html.TextBoxFor(m => m.AVACOM_BranchName, null, new { @class = "form-control", @onchange = "onchangeevent(this);" })
                            }
                            @Html.ValidationMessageFor(m => m.AVACOM_BranchName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>


            if (ViewData["BranchCodeExists"] != null && ViewData["BranchCodeExists"].ToString() == "Yes")
            {
                <div id="divCaption" class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-xs-4 control-label"></label>
                            <div class="col-md-8 col-xs-8 ">
                                <label><span id="spanBranchCodeExist" style="color: red;">Please click on Check button to verify Branch code.</span></label>
                            </div>
                        </div>
                    </div>
                </div>
            }


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Branch Address<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-8 col-xs-8 ">
                            @Html.TextAreaFor(m => m.CM_Address, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CM_Address, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">State<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-8 col-xs-8">
                            @Html.DropDownListFor(m => m.CM_State, new SelectList(Model.States, "SM_Code", "SM_Name"), "--Select--", new { @class = "form-control", onchange = "SelectedIndexChanged(this)" , @id = "CM_State" })
                            @Html.HiddenFor(x => x.CM_State)
                            @Html.ValidationMessageFor(m => m.CM_State, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Location/City<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-8 col-xs-8 ">
                            @Html.DropDownListFor(m => m.CM_City, new SelectList(Model.Locations, "LM_Code", "LM_Name"), "Select Location", new { @class = "form-control" })
                            @Html.HiddenFor(x => x.CM_City)
                            @Html.ValidationMessageFor(m => m.CM_City, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Location Code</label>
                        <div class="col-md-8 col-xs-8">
                            @Html.TextBoxFor(m => m.CL_Pincode, null, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(m => m.CL_Pincode, null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-bottom:8px">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">LWF State</label>
                        <div class="col-md-8 col-xs-8 ">
                            @Html.DropDownListFor(m => m.CL_LWF_State, new SelectList(Model.States, "SM_Code", "SM_Name"), "--Select--", new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">PT State</label>
                        <div class="col-md-8 col-xs-8 ">
                            @Html.DropDownListFor(m => m.CL_PT_State, new SelectList(Model.PTStates, "SM_Code", "SM_Name"), "--Select--", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">PF Code <span id="SpanPFType" hidden="hidden" style="color: red;">*</span>
                        </label>
                        
                        <div class="col-md-8 col-xs-8 ">
                            @Html.TextBoxFor(m => m.CL_PF_Code, null, new { @class = "form-control", @onchange = "onchangepf(this);" })
                            @Html.ValidationMessageFor(m => m.CL_PF_Code, "", new { @class = "text-danger" })
                            <span id="spanValPF" hidden="hidden" class="text-danger">Please Enter The PF Code.</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">ESI Code</label>
                        <div class="col-md-8 col-xs-8 ">
                            @Html.TextBoxFor(m => m.CL_ESIC_Code, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CL_ESIC_Code, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Office Type<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-8 col-xs-8 ">
                            @Html.DropDownListFor(m => m.CL_OfficeType, new SelectList(new List<SelectListItem> {
                                    new SelectListItem { Text="Branch",Value="Branch"},
                                    new SelectListItem { Text="Factory",Value="Factory"},
                                    new SelectListItem { Text="HeadOffice",Value="HeadOffice"} }, "Value", "Text"), "--Select--", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CL_OfficeType, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Establishment Type<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-8 col-xs-8 ">
                            @Html.DropDownListFor(m => m.CM_EstablishmentType, new SelectList(new List<SelectListItem> {
                                    new SelectListItem { Text="Shop & Establishment",Value="SEA"},
                                    new SelectListItem { Text="Factory",Value="FACT"},
                                    new SelectListItem { Text="Both",Value="SF"} }, "Value", "Text"), "--Select--", new { @class = "form-control", @id = "CM_EstablishmentType" })
                            @Html.HiddenFor(x => x.CM_EstablishmentType)
                            @Html.ValidationMessageFor(m => m.CM_EstablishmentType, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Employer Name<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-8 col-xs-8 ">
                            @Html.TextBoxFor(m => m.CL_EmployerName, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CL_EmployerName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Employer Address<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-8 col-xs-8 ">
                            @Html.TextAreaFor(m => m.CL_EmployerAddress, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CL_EmployerAddress, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Manager Name<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-8 col-xs-8 ">
                            @Html.TextBoxFor(m => m.CL_ManagerName, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CL_ManagerName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Manager Address<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-8 col-xs-8 ">
                            @Html.TextAreaFor(m => m.CL_ManagerAddress, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CL_ManagerAddress, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>               
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Company Ph. No<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-8 col-xs-8 ">
                            @Html.TextBoxFor(m => m.CL_CompPhoneNo, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CL_CompPhoneNo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">HR Contact Person</label>
                        <div class="col-md-8 col-xs-8 ">
                            @Html.TextBoxFor(m => m.CL_HRContactPerson, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CL_HRContactPerson, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">HR Ph. No<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-8 col-xs-8 ">
                            @Html.TextBoxFor(m => m.CL_HRPhNo, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CL_HRPhNo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">HR Mail ID</label>
                        <div class="col-md-8 col-xs-8 ">
                            @Html.TextBoxFor(m => m.CL_HRMailID, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CL_HRMailID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">HR 1st Level Mail</label>
                        <div class="col-md-8 col-xs-8 ">
                            @Html.TextBoxFor(m => m.CL_HR1stLevelMail, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CL_HR1stLevelMail, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">HR 1st Level Phn No</label>
                        <div class="col-md-8 col-xs-8 ">
                            @Html.TextBoxFor(m => m.CL_HR1stLevelPhNo, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CL_HR1stLevelPhNo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Nature of Business<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-8 col-xs-8 ">
                            @Html.TextBoxFor(m => m.CL_NatureOfBusiness, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CL_NatureOfBusiness, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">RC No</label>
                        <div class="col-md-8 col-xs-8 ">
                            @Html.TextBoxFor(m => m.CL_RCNo, null, new { @maxlength = "20", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CL_RCNo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>                
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">RC Valid (From)</label>
                        <div class="col-md-8 col-xs-8 " id='divRCvalidfrom'>
                            @Html.TextBoxFor(m => m.CL_RCValidFrom, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(m => m.CL_RCValidFrom, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">RC Valid (To)</label>
                        <div class="col-md-8 col-xs-8 " id='divRCvalidto'>
                            @Html.TextBoxFor(m => m.CL_RCValidTo, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Week Off Days<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-8 col-xs-8 ">
                            @Html.HiddenFor(m => m.CL_WeekoffDay)
                            <select class="multipleSelect" multiple name="language">
                                <option value="SUN">Sunday</option>
                                <option value="MON">Monday</option>
                                <option value="TUE">Tuesday</option>
                                <option value="WED">Wednesday</option>
                                <option value="THU">Thursday</option>
                                <option value="FRI">Friday</option>
                                <option value="SAT">Saturday</option>
                            </select>

                            @Html.ValidationMessageFor(m => m.CL_WeekoffDay, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Work Timings<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-8 col-xs-8 ">
                            @Html.DropDownListFor(m => m.CL_WorkTimings, new SelectList(new List<SelectListItem> {
                                    new SelectListItem { Text="Shift",Value="Shift"},
                                    new SelectListItem { Text="Standard",Value="Standard"} }, "Value", "Text"), "--Select--", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CL_WorkTimings, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Work Hours (From)<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-8 col-xs-8 ">
                            @Html.DropDownListFor(m => m.CL_WorkHoursFrom, new SelectList(new List<SelectListItem> {
                                    new SelectListItem { Text="12:00 AM",Value="12:00 AM"},    new SelectListItem { Text="12:15 AM",Value="12:15 AM"},
                                    new SelectListItem { Text="12:30 AM",Value="12:30 AM"},   new SelectListItem { Text="12:45 AM",Value="12:45 AM"},   new SelectListItem { Text="01:00 AM",Value="01:00 AM"},
                                    new SelectListItem { Text="01:15 AM",Value="01:15 AM"},   new SelectListItem { Text="01:30 AM",Value="01:30 AM"},  new SelectListItem { Text="01:45 AM",Value="01:45 AM"},   new SelectListItem { Text="02:00 AM",Value="02:00 AM"},
                                    new SelectListItem { Text="02:15 AM",Value="02:15 AM"},   new SelectListItem { Text="02:30 AM",Value="02:30 AM"},  new SelectListItem { Text="02:45 AM",Value="02:45 AM"},   new SelectListItem { Text="03:00 AM",Value="03:00 AM"},new SelectListItem { Text="03:15 AM",Value="03:15 AM"},
                                       new SelectListItem { Text="03:30 AM",Value="03:30 AM"},  new SelectListItem { Text="03:45 AM",Value="03:45 AM"},  new SelectListItem { Text="04:00 AM",Value="04:00 AM"},  new SelectListItem { Text="04:15 AM",Value="04:15 AM"},
                                       new SelectListItem { Text="04:30 AM",Value="04:30 AM"},     new SelectListItem { Text="04:45 AM",Value="04:45 AM"},    new SelectListItem { Text="05:00 AM",Value="5:00 AM"},
                                    new SelectListItem { Text="05:15 AM",Value="05:15 AM"}, new SelectListItem { Text="05:30 AM",Value="05:30 AM"},      new SelectListItem { Text="05:45 AM",Value="05:45 AM"},     new SelectListItem { Text="06:00 AM",Value="06:00 AM"},
                                    new SelectListItem { Text="06:15 AM",Value="06:15 AM"},     new SelectListItem { Text="06:30 AM",Value="06:30 AM"}, new SelectListItem { Text="07:00 AM",Value="07:00 AM"},   new SelectListItem { Text="07:15 AM",Value="07:15 AM"},
                                    new SelectListItem { Text="07:30 AM",Value="07:30 AM"},    new SelectListItem { Text="07:45 AM",Value="07:45 AM"},       new SelectListItem { Text="08:00 AM",Value="08:00 AM"},       new SelectListItem { Text="8:15 AM",Value="08:15 AM"},
                                       new SelectListItem { Text="8:30 AM",Value="08:30 AM"},  new SelectListItem { Text="09:00 AM",Value="09:00 AM"},  new SelectListItem { Text="09:15 AM",Value="09:15 AM"},  new SelectListItem { Text="09:30 AM",Value="09:30 AM"},      new SelectListItem { Text="9:45 AM",Value="9:45 AM"},
                                    new SelectListItem { Text="10:00 AM",Value="10:00 AM"},           new SelectListItem { Text="10:15 AM",Value="10:15 AM"},       new SelectListItem { Text="10:30 AM",Value="10:30 AM"},    new SelectListItem { Text="10:45 AM",Value="10:45 AM"},
                                    new SelectListItem { Text="11:00 AM",Value="11:00 AM"},new SelectListItem { Text="11:15 AM",Value="11:15 AM"}, new SelectListItem { Text="11:30 AM",Value="11:30 AM"},      new SelectListItem { Text="11:45 AM",Value="11:45 AM"},
                                    new SelectListItem { Text="12:00 PM",Value="12:00 PM"},   new SelectListItem { Text="12:15 PM",Value="12:15 PM"},   new SelectListItem { Text="12:30 PM",Value="12:30 PM"},
                                    new SelectListItem { Text="12:45 PM",Value="12:45 PM"},   new SelectListItem { Text="01:00 PM",Value="01:00 PM"},  new SelectListItem { Text="01:15 PM",Value="01:15 PM"},
                                    new SelectListItem { Text="01:30 PM",Value="01:30 PM"},  new SelectListItem { Text="01:45 PM",Value="01:45 PM"}, new SelectListItem { Text="02:00 PM",Value="02:00 PM"},  new SelectListItem { Text="02:15 PM",Value="02:15 PM"},
                                    new SelectListItem { Text="02:30 PM",Value="02:30 PM"},  new SelectListItem { Text="02:45 PM",Value="02:45 PM"},  new SelectListItem { Text="03:00 PM",Value="03:00 PM"},  new SelectListItem { Text="03:15 PM",Value="03:15 PM"},
                                    new SelectListItem { Text="03:30 PM",Value="03:30 PM"},  new SelectListItem { Text="03:45 PM",Value="03:45 PM"}, new SelectListItem { Text="04:00 PM",Value="04:00 PM"}, new SelectListItem { Text="04:15 PM",Value="04:15 PM"},
                                    new SelectListItem { Text="04:30 PM",Value="04:30 PM"},  new SelectListItem { Text="04:45 PM",Value="04:45 PM"}, new SelectListItem { Text="05:00 PM",Value="05:00 PM"},  new SelectListItem { Text="05:15 PM",Value="05:15 PM"},
                                    new SelectListItem { Text="05:30 PM",Value="05:30 PM"},    new SelectListItem { Text="05:45 PM",Value="05:45 PM"},
                                    new SelectListItem { Text="06:00 PM",Value="06:00 PM"},  new SelectListItem { Text="06:15 PM",Value="06:15 PM"}, new SelectListItem { Text="06:30 PM",Value="06:30 PM"},
                                    new SelectListItem { Text="06:45 PM",Value="06:45 PM"}, new SelectListItem { Text="07:00 PM",Value="07:00 PM"},  new SelectListItem { Text="07:15 PM",Value="07:15 PM"},
                                    new SelectListItem { Text="07:30 PM",Value="07:30 PM"},  new SelectListItem { Text="07:45 PM",Value="07:45 PM"},
                                    new SelectListItem { Text="08:00 PM",Value="08:00 PM"}, new SelectListItem { Text="08:15 PM",Value="08:15 PM"},    new SelectListItem { Text="08:30 PM",Value="08:30 PM"},
                                    new SelectListItem { Text="08:45 PM",Value="08:45 PM"},    new SelectListItem { Text="09:00 PM",Value="09:00 PM"},  new SelectListItem { Text="09:15 PM",Value="09:15 PM"},
                                    new SelectListItem { Text="09:30 PM",Value="09:30 PM"},  new SelectListItem { Text="09:45 PM",Value="09:45 PM"},   new SelectListItem { Text="10:00 PM",Value="10:00 PM"}, new SelectListItem { Text="10:15 PM",Value="10:15 PM"},
                                    new SelectListItem { Text="10:30 PM",Value="10:30 PM"},     new SelectListItem { Text="10:45 PM",Value="10:45 PM"},  new SelectListItem { Text="11:00 PM",Value="11:00 PM"},  new SelectListItem { Text="11:15 PM",Value="11:15 PM"},
                                    new SelectListItem { Text="11:30 PM",Value="11:30 PM"},
                                    new SelectListItem { Text="11:45 PM",Value="11:45 PM"}}, "Value", "Text"), "--Select--", new { @class = "form-control" })

                            @Html.ValidationMessageFor(m => m.CL_WorkHoursFrom, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Work Hours (To)<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-8 col-xs-8 ">
                            @Html.DropDownListFor(m => m.CL_WorkHoursTo, new SelectList(new List<SelectListItem> {
                                    new SelectListItem { Text="12:00 AM",Value="12:00 AM"},    new SelectListItem { Text="12:15 AM",Value="12:15 AM"},
                                    new SelectListItem { Text="12:30 AM",Value="12:30 AM"},   new SelectListItem { Text="12:45 AM",Value="12:45 AM"},
                                    new SelectListItem { Text="01:00 AM",Value="01:00 AM"},
                                    new SelectListItem { Text="01:15 AM",Value="01:15 AM"},   new SelectListItem { Text="01:30 AM",Value="01:30 AM"},
                                    new SelectListItem { Text="01:45 AM",Value="01:45 AM"},   new SelectListItem { Text="02:00 AM",Value="02:00 AM"},
                                    new SelectListItem { Text="02:15 AM",Value="02:15 AM"},   new SelectListItem { Text="02:30 AM",Value="02:30 AM"},
                                    new SelectListItem { Text="02:45 AM",Value="02:45 AM"},   new SelectListItem { Text="03:00 AM",Value="03:00 AM"},new SelectListItem { Text="03:15 AM",Value="03:15 AM"},
                                       new SelectListItem { Text="03:30 AM",Value="03:30 AM"},  new SelectListItem { Text="03:45 AM",Value="03:45 AM"},
                                       new SelectListItem { Text="04:00 AM",Value="04:00 AM"},  new SelectListItem { Text="04:15 AM",Value="04:15 AM"},
                                       new SelectListItem { Text="04:30 AM",Value="04:30 AM"},     new SelectListItem { Text="04:45 AM",Value="04:45 AM"},    new SelectListItem { Text="05:00 AM",Value="05:00 AM"},
                                    new SelectListItem { Text="05:15 AM",Value="05:15 AM"}, new SelectListItem { Text="05:30 AM",Value="05:30 AM"},
                                          new SelectListItem { Text="05:45 AM",Value="05:45 AM"},     new SelectListItem { Text="06:00 AM",Value="06:00 AM"},
                                    new SelectListItem { Text="06:15 AM",Value="06:15 AM"},     new SelectListItem { Text="06:30 AM",Value="06:30 AM"},
                                    new SelectListItem { Text="07:00 AM",Value="07:00 AM"},   new SelectListItem { Text="07:15 AM",Value="07:15 AM"},
                                    new SelectListItem { Text="07:30 AM",Value="07:30 AM"},    new SelectListItem { Text="07:45 AM",Value="07:45 AM"},
                                             new SelectListItem { Text="08:00 AM",Value="08:00 AM"},       new SelectListItem { Text="8:15 AM",Value="08:15 AM"},
                                       new SelectListItem { Text="08:30 AM",Value="08:30 AM"},  new SelectListItem { Text="09:00 AM",Value="09:00 AM"},
                                    new SelectListItem { Text="09:15 AM",Value="09:15 AM"},  new SelectListItem { Text="09:30 AM",Value="09:30 AM"},      new SelectListItem { Text="09:45 AM",Value="09:45 AM"},
                                    new SelectListItem { Text="10:00 AM",Value="10:00 AM"},           new SelectListItem { Text="10:15 AM",Value="10:15 AM"},
                                    new SelectListItem { Text="10:30 AM",Value="10:30 AM"},    new SelectListItem { Text="10:45 AM",Value="10:45 AM"},
                                    new SelectListItem { Text="11:00 AM",Value="11:00 AM"},new SelectListItem { Text="11:15 AM",Value="11:15 AM"},
                                    new SelectListItem { Text="11:30 AM",Value="11:30 AM"},      new SelectListItem { Text="11:45 AM",Value="11:45 AM"},
                                    new SelectListItem { Text="12:00 PM",Value="12:00 PM"},
                                       new SelectListItem { Text="12:15 PM",Value="12:15 PM"},
                                    new SelectListItem { Text="12:30 PM",Value="12:30 PM"},
                                    new SelectListItem { Text="12:45 PM",Value="12:45 PM"},
                                    new SelectListItem { Text="01:00 PM",Value="01:00 PM"},  new SelectListItem { Text="01:15 PM",Value="01:15 PM"},
                                    new SelectListItem { Text="01:30 PM",Value="01:30 PM"},
                                    new SelectListItem { Text="01:45 PM",Value="01:45 PM"},
                                    new SelectListItem { Text="02:00 PM",Value="02:00 PM"},  new SelectListItem { Text="02:15 PM",Value="02:15 PM"},
                                    new SelectListItem { Text="02:30 PM",Value="02:30 PM"},
                                    new SelectListItem { Text="02:45 PM",Value="02:45 PM"},
                                    new SelectListItem { Text="03:00 PM",Value="03:00 PM"},  new SelectListItem { Text="03:15 PM",Value="03:15 PM"},
                                    new SelectListItem { Text="03:30 PM",Value="03:30 PM"},
                                    new SelectListItem { Text="03:45 PM",Value="03:45 PM"},
                                    new SelectListItem { Text="04:00 PM",Value="04:00 PM"}, new SelectListItem { Text="04:15 PM",Value="04:15 PM"},
                                    new SelectListItem { Text="04:30 PM",Value="04:30 PM"},
                                    new SelectListItem { Text="04:45 PM",Value="04:45 PM"},
                                    new SelectListItem { Text="05:00 PM",Value="05:00 PM"},  new SelectListItem { Text="05:15 PM",Value="05:15 PM"},
                                    new SelectListItem { Text="05:30 PM",Value="05:30 PM"},
                                    new SelectListItem { Text="05:45 PM",Value="05:45 PM"},
                                    new SelectListItem { Text="06:00 PM",Value="06:00 PM"},  new SelectListItem { Text="06:15 PM",Value="06:15 PM"},
                                    new SelectListItem { Text="06:30 PM",Value="06:30 PM"},
                                    new SelectListItem { Text="06:45 PM",Value="06:45 PM"},
                                    new SelectListItem { Text="07:00 PM",Value="07:00 PM"},  new SelectListItem { Text="07:15 PM",Value="07:15 PM"},
                                    new SelectListItem { Text="07:30 PM",Value="07:30 PM"},
                                    new SelectListItem { Text="07:45 PM",Value="07:45 PM"},
                                    new SelectListItem { Text="08:00 PM",Value="08:00 PM"}, new SelectListItem { Text="08:15 PM",Value="08:15 PM"},
                                    new SelectListItem { Text="08:30 PM",Value="08:30 PM"},
                                    new SelectListItem { Text="08:45 PM",Value="08:45 PM"},
                                    new SelectListItem { Text="09:00 PM",Value="09:00 PM"},  new SelectListItem { Text="09:15 PM",Value="09:15 PM"},
                                    new SelectListItem { Text="09:30 PM",Value="09:30 PM"},
                                    new SelectListItem { Text="09:45 PM",Value="09:45 PM"},
                                    new SelectListItem { Text="10:00 PM",Value="10:00 PM"}, new SelectListItem { Text="10:15 PM",Value="10:15 PM"},
                                    new SelectListItem { Text="10:30 PM",Value="10:30 PM"},
                                    new SelectListItem { Text="10:45 PM",Value="10:45 PM"},  new SelectListItem { Text="11:00 PM",Value="11:00 PM"},  new SelectListItem { Text="11:15 PM",Value="11:15 PM"},
                                    new SelectListItem { Text="11:30 PM",Value="11:30 PM"},
                                    new SelectListItem { Text="11:45 PM",Value="11:45 PM"}}, "Value", "Text"), "--Select--", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CL_WorkHoursTo, "", new { @class = "text-danger" })
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Intervals (From)<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-8 col-xs-8 ">
                            @Html.DropDownListFor(m => m.CL_IntervalsFrom, new SelectList(new List<SelectListItem> {
                                    new SelectListItem { Text="12:00 AM",Value="12:00 AM"},    new SelectListItem { Text="12:15 AM",Value="12:15 AM"},
                                    new SelectListItem { Text="12:30 AM",Value="12:30 AM"},   new SelectListItem { Text="12:45 AM",Value="12:45 AM"},
                                    new SelectListItem { Text="01:00 AM",Value="01:00 AM"},
                                    new SelectListItem { Text="01:15 AM",Value="01:15 AM"},   new SelectListItem { Text="01:30 AM",Value="01:30 AM"},
                                    new SelectListItem { Text="01:45 AM",Value="01:45 AM"},   new SelectListItem { Text="02:00 AM",Value="02:00 AM"},
                                    new SelectListItem { Text="02:15 AM",Value="02:15 AM"},   new SelectListItem { Text="02:30 AM",Value="02:30 AM"},
                                    new SelectListItem { Text="02:45 AM",Value="02:45 AM"},   new SelectListItem { Text="03:00 AM",Value="03:00 AM"},new SelectListItem { Text="03:15 AM",Value="03:15 AM"},
                                       new SelectListItem { Text="03:30 AM",Value="03:30 AM"},  new SelectListItem { Text="03:45 AM",Value="03:45 AM"},
                                       new SelectListItem { Text="04:00 AM",Value="04:00 AM"},  new SelectListItem { Text="04:15 AM",Value="04:15 AM"},
                                       new SelectListItem { Text="04:30 AM",Value="04:30 AM"},     new SelectListItem { Text="04:45 AM",Value="04:45 AM"},    new SelectListItem { Text="05:00 AM",Value="05:00 AM"},
                                    new SelectListItem { Text="05:15 AM",Value="05:15 AM"}, new SelectListItem { Text="05:30 AM",Value="05:30 AM"},
                                          new SelectListItem { Text="05:45 AM",Value="05:45 AM"},     new SelectListItem { Text="06:00 AM",Value="06:00 AM"},
                                    new SelectListItem { Text="06:15 AM",Value="06:15 AM"},     new SelectListItem { Text="06:30 AM",Value="06:30 AM"},
                                    new SelectListItem { Text="07:00 AM",Value="07:00 AM"},   new SelectListItem { Text="07:15 AM",Value="07:15 AM"},
                                    new SelectListItem { Text="07:30 AM",Value="07:30 AM"},    new SelectListItem { Text="07:45 AM",Value="07:45 AM"},
                                             new SelectListItem { Text="08:00 AM",Value="08:00 AM"},       new SelectListItem { Text="8:15 AM",Value="08:15 AM"},
                                       new SelectListItem { Text="08:30 AM",Value="08:30 AM"},  new SelectListItem { Text="09:00 AM",Value="09:00 AM"},
                                    new SelectListItem { Text="09:15 AM",Value="09:15 AM"},  new SelectListItem { Text="09:30 AM",Value="09:30 AM"},      new SelectListItem { Text="09:45 AM",Value="09:45 AM"},
                                    new SelectListItem { Text="10:00 AM",Value="10:00 AM"},           new SelectListItem { Text="10:15 AM",Value="10:15 AM"},
                                    new SelectListItem { Text="10:30 AM",Value="10:30 AM"},    new SelectListItem { Text="10:45 AM",Value="10:45 AM"},
                                    new SelectListItem { Text="11:00 AM",Value="11:00 AM"},new SelectListItem { Text="11:15 AM",Value="11:15 AM"},
                                    new SelectListItem { Text="11:30 AM",Value="11:30 AM"},      new SelectListItem { Text="11:45 AM",Value="11:45 AM"},
                                    new SelectListItem { Text="12:00 PM",Value="12:00 PM"},
                                       new SelectListItem { Text="12:15 PM",Value="12:15 PM"},
                                    new SelectListItem { Text="12:30 PM",Value="12:30 PM"},
                                    new SelectListItem { Text="12:45 PM",Value="12:45 PM"},
                                    new SelectListItem { Text="01:00 PM",Value="01:00 PM"},  new SelectListItem { Text="01:15 PM",Value="01:15 PM"},
                                    new SelectListItem { Text="01:30 PM",Value="01:30 PM"},
                                    new SelectListItem { Text="01:45 PM",Value="01:45 PM"},
                                    new SelectListItem { Text="02:00 PM",Value="02:00 PM"},  new SelectListItem { Text="02:15 PM",Value="02:15 PM"},
                                    new SelectListItem { Text="02:30 PM",Value="02:30 PM"},
                                    new SelectListItem { Text="02:45 PM",Value="02:45 PM"},
                                    new SelectListItem { Text="03:00 PM",Value="03:00 PM"},  new SelectListItem { Text="03:15 PM",Value="03:15 PM"},
                                    new SelectListItem { Text="03:30 PM",Value="03:30 PM"},
                                    new SelectListItem { Text="03:45 PM",Value="03:45 PM"},
                                    new SelectListItem { Text="04:00 PM",Value="04:00 PM"}, new SelectListItem { Text="04:15 PM",Value="04:15 PM"},
                                    new SelectListItem { Text="04:30 PM",Value="04:30 PM"},
                                    new SelectListItem { Text="04:45 PM",Value="04:45 PM"},
                                    new SelectListItem { Text="05:00 PM",Value="05:00 PM"},  new SelectListItem { Text="05:15 PM",Value="05:15 PM"},
                                    new SelectListItem { Text="05:30 PM",Value="05:30 PM"},
                                    new SelectListItem { Text="05:45 PM",Value="05:45 PM"},
                                    new SelectListItem { Text="06:00 PM",Value="06:00 PM"},  new SelectListItem { Text="06:15 PM",Value="06:15 PM"},
                                    new SelectListItem { Text="06:30 PM",Value="06:30 PM"},
                                    new SelectListItem { Text="06:45 PM",Value="06:45 PM"},
                                    new SelectListItem { Text="07:00 PM",Value="07:00 PM"},  new SelectListItem { Text="07:15 PM",Value="07:15 PM"},
                                    new SelectListItem { Text="07:30 PM",Value="07:30 PM"},
                                    new SelectListItem { Text="07:45 PM",Value="07:45 PM"},
                                    new SelectListItem { Text="08:00 PM",Value="08:00 PM"}, new SelectListItem { Text="08:15 PM",Value="08:15 PM"},
                                    new SelectListItem { Text="08:30 PM",Value="08:30 PM"},
                                    new SelectListItem { Text="08:45 PM",Value="08:45 PM"},
                                    new SelectListItem { Text="09:00 PM",Value="09:00 PM"},  new SelectListItem { Text="09:15 PM",Value="09:15 PM"},
                                    new SelectListItem { Text="09:30 PM",Value="09:30 PM"},
                                    new SelectListItem { Text="09:45 PM",Value="09:45 PM"},
                                    new SelectListItem { Text="10:00 PM",Value="10:00 PM"}, new SelectListItem { Text="10:15 PM",Value="10:15 PM"},
                                    new SelectListItem { Text="10:30 PM",Value="10:30 PM"},
                                    new SelectListItem { Text="10:45 PM",Value="10:45 PM"},  new SelectListItem { Text="11:00 PM",Value="11:00 PM"},  new SelectListItem { Text="11:15 PM",Value="11:15 PM"},
                                    new SelectListItem { Text="11:30 PM",Value="11:30 PM"},
                                    new SelectListItem { Text="11:45 PM",Value="11:45 PM"}}, "Value", "Text"), "--Select--", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CL_IntervalsFrom, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Intervals (To)<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-8 col-xs-8 ">
                            @Html.DropDownListFor(m => m.CL_IntervalsTo, new SelectList(new List<SelectListItem> {
                                    new SelectListItem { Text="12:00 AM",Value="12:00 AM"},    new SelectListItem { Text="12:15 AM",Value="12:15 AM"},
                                    new SelectListItem { Text="12:30 AM",Value="12:30 AM"},   new SelectListItem { Text="12:45 AM",Value="12:45 AM"},
                                    new SelectListItem { Text="01:00 AM",Value="01:00 AM"},
                                    new SelectListItem { Text="01:15 AM",Value="01:15 AM"},   new SelectListItem { Text="01:30 AM",Value="01:30 AM"},
                                    new SelectListItem { Text="01:45 AM",Value="01:45 AM"},   new SelectListItem { Text="02:00 AM",Value="02:00 AM"},
                                    new SelectListItem { Text="02:15 AM",Value="02:15 AM"},   new SelectListItem { Text="02:30 AM",Value="02:30 AM"},
                                    new SelectListItem { Text="02:45 AM",Value="02:45 AM"},   new SelectListItem { Text="03:00 AM",Value="03:00 AM"},new SelectListItem { Text="03:15 AM",Value="03:15 AM"},
                                       new SelectListItem { Text="03:30 AM",Value="03:30 AM"},  new SelectListItem { Text="03:45 AM",Value="03:45 AM"},
                                       new SelectListItem { Text="04:00 AM",Value="04:00 AM"},  new SelectListItem { Text="04:15 AM",Value="04:15 AM"},
                                       new SelectListItem { Text="04:30 AM",Value="04:30 AM"},     new SelectListItem { Text="04:45 AM",Value="04:45 AM"},    new SelectListItem { Text="05:00 AM",Value="05:00 AM"},
                                    new SelectListItem { Text="05:15 AM",Value="05:15 AM"}, new SelectListItem { Text="05:30 AM",Value="05:30 AM"},
                                          new SelectListItem { Text="05:45 AM",Value="05:45 AM"},     new SelectListItem { Text="06:00 AM",Value="06:00 AM"},
                                    new SelectListItem { Text="06:15 AM",Value="06:15 AM"},     new SelectListItem { Text="06:30 AM",Value="06:30 AM"},
                                    new SelectListItem { Text="07:00 AM",Value="07:00 AM"},   new SelectListItem { Text="07:15 AM",Value="07:15 AM"},
                                    new SelectListItem { Text="07:30 AM",Value="07:30 AM"},    new SelectListItem { Text="07:45 AM",Value="07:45 AM"},
                                             new SelectListItem { Text="08:00 AM",Value="08:00 AM"},       new SelectListItem { Text="8:15 AM",Value="08:15 AM"},
                                       new SelectListItem { Text="08:30 AM",Value="08:30 AM"},  new SelectListItem { Text="09:00 AM",Value="09:00 AM"},
                                    new SelectListItem { Text="09:15 AM",Value="09:15 AM"},  new SelectListItem { Text="09:30 AM",Value="09:30 AM"},      new SelectListItem { Text="09:45 AM",Value="09:45 AM"},
                                    new SelectListItem { Text="10:00 AM",Value="10:00 AM"},           new SelectListItem { Text="10:15 AM",Value="10:15 AM"},
                                    new SelectListItem { Text="10:30 AM",Value="10:30 AM"},    new SelectListItem { Text="10:45 AM",Value="10:45 AM"},
                                    new SelectListItem { Text="11:00 AM",Value="11:00 AM"},new SelectListItem { Text="11:15 AM",Value="11:15 AM"},
                                    new SelectListItem { Text="11:30 AM",Value="11:30 AM"},      new SelectListItem { Text="11:45 AM",Value="11:45 AM"},
                                    new SelectListItem { Text="12:00 PM",Value="12:00 PM"},
                                       new SelectListItem { Text="12:15 PM",Value="12:15 PM"},
                                    new SelectListItem { Text="12:30 PM",Value="12:30 PM"},
                                    new SelectListItem { Text="12:45 PM",Value="12:45 PM"},
                                    new SelectListItem { Text="01:00 PM",Value="01:00 PM"},  new SelectListItem { Text="01:15 PM",Value="01:15 PM"},
                                    new SelectListItem { Text="01:30 PM",Value="01:30 PM"},
                                    new SelectListItem { Text="01:45 PM",Value="01:45 PM"},
                                    new SelectListItem { Text="02:00 PM",Value="02:00 PM"},  new SelectListItem { Text="02:15 PM",Value="02:15 PM"},
                                    new SelectListItem { Text="02:30 PM",Value="02:30 PM"},
                                    new SelectListItem { Text="02:45 PM",Value="02:45 PM"},
                                    new SelectListItem { Text="03:00 PM",Value="03:00 PM"},  new SelectListItem { Text="03:15 PM",Value="03:15 PM"},
                                    new SelectListItem { Text="03:30 PM",Value="03:30 PM"},
                                    new SelectListItem { Text="03:45 PM",Value="03:45 PM"},
                                    new SelectListItem { Text="04:00 PM",Value="04:00 PM"}, new SelectListItem { Text="04:15 PM",Value="04:15 PM"},
                                    new SelectListItem { Text="04:30 PM",Value="04:30 PM"},
                                    new SelectListItem { Text="04:45 PM",Value="04:45 PM"},
                                    new SelectListItem { Text="05:00 PM",Value="05:00 PM"},  new SelectListItem { Text="05:15 PM",Value="05:15 PM"},
                                    new SelectListItem { Text="05:30 PM",Value="05:30 PM"},
                                    new SelectListItem { Text="05:45 PM",Value="05:45 PM"},
                                    new SelectListItem { Text="06:00 PM",Value="06:00 PM"},  new SelectListItem { Text="06:15 PM",Value="06:15 PM"},
                                    new SelectListItem { Text="06:30 PM",Value="06:30 PM"},
                                    new SelectListItem { Text="06:45 PM",Value="06:45 PM"},
                                    new SelectListItem { Text="07:00 PM",Value="07:00 PM"},  new SelectListItem { Text="07:15 PM",Value="07:15 PM"},
                                    new SelectListItem { Text="07:30 PM",Value="07:30 PM"},
                                    new SelectListItem { Text="07:45 PM",Value="07:45 PM"},
                                    new SelectListItem { Text="08:00 PM",Value="08:00 PM"}, new SelectListItem { Text="08:15 PM",Value="08:15 PM"},
                                    new SelectListItem { Text="08:30 PM",Value="08:30 PM"},
                                    new SelectListItem { Text="08:45 PM",Value="08:45 PM"},
                                    new SelectListItem { Text="09:00 PM",Value="09:00 PM"},  new SelectListItem { Text="09:15 PM",Value="09:15 PM"},
                                    new SelectListItem { Text="09:30 PM",Value="09:30 PM"},
                                    new SelectListItem { Text="09:45 PM",Value="09:45 PM"},
                                    new SelectListItem { Text="10:00 PM",Value="10:00 PM"}, new SelectListItem { Text="10:15 PM",Value="10:15 PM"},
                                    new SelectListItem { Text="10:30 PM",Value="10:30 PM"},
                                    new SelectListItem { Text="10:45 PM",Value="10:45 PM"},  new SelectListItem { Text="11:00 PM",Value="11:00 PM"},  new SelectListItem { Text="11:15 PM",Value="11:15 PM"},
                                    new SelectListItem { Text="11:30 PM",Value="11:30 PM"},
                                    new SelectListItem { Text="11:45 PM",Value="11:45 PM"}}, "Value", "Text"), "--Select--", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CL_IntervalsTo, "", new { @class = "text-danger" })
                        </div>

                    </div>
                </div>                
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Business Type<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-8 col-xs-8 ">
                            @Html.DropDownListFor(m => m.CL_BusinessType, new SelectList(new List<SelectListItem> {
                                    new SelectListItem { Text="IT",Value="IT"},
                                    new SelectListItem { Text="ITES",Value="ITES"},
                                         new SelectListItem { Text="NON-IT",Value="NON-IT"}}, "Value", "Text"), "--Select--", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CL_BusinessType, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 SEAhide">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Municipality<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-8 col-xs-8 ">
                            @Html.TextBoxFor(m => m.CL_Municipality, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CL_Municipality, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row SEAhide">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Maintain Forms<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-8 col-xs-8 ">
                            @Html.DropDownListFor(m => m.CL_Permission_MaintaingForms, new SelectList(new List<SelectListItem> {
                                    new SelectListItem { Text="Yes",Value="Y"},
                                    new SelectListItem { Text="No",Value="N"} }, "Value", "Text"), "--Select--", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CL_Permission_MaintaingForms, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Power to impose fines<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-8 col-xs-8 ">
                            @Html.DropDownListFor(m => m.CL_RequirePowerforFines, new SelectList(new List<SelectListItem> {
                                    new SelectListItem { Text="Yes",Value="Y"},
                                    new SelectListItem { Text="No",Value="N"} }, "Value", "Text"), "--Select--", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CL_RequirePowerforFines, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row SEAhide">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">LIN</label>
                        <div class="col-md-8 col-xs-8 ">
                            @Html.TextBoxFor(m => m.CL_LIN, null, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Commencement Date</label>
                        <div class="col-md-8 col-xs-8 " id='diveffectdate'>
                            @Html.TextBoxFor(m => m.CL_CommencementDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @autocomplete = "off", @readonly = "readonly" })

                        </div>
                    </div>
                </div>
            </div>

            <div class="row SEAhide">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Classification of Est</label>
                        <div class="col-md-8 col-xs-8 ">
                            @Html.TextBoxFor(m => m.CL_ClasssificationofEstabilishment, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CL_ClasssificationofEstabilishment, "", new { @class = "text-danger" })
                        </div>

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Licence No</label>
                        <div class="col-md-8 col-xs-8 ">
                            @Html.TextBoxFor(m => m.CL_LicenceNo, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CL_LicenceNo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row SEAhide">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">NIC Code</label>
                        <div class="col-md-8 col-xs-8 ">
                            @Html.TextBoxFor(m => m.CL_NICCode, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CL_NICCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Section of Act</label>
                        <div class="col-md-8 col-xs-8 ">
                            @Html.DropDownListFor(m => m.CL_SectionofAct, new SelectList(new List<SelectListItem> {
                                    new SelectListItem { Text="2m(i)",Value="2m(i)"},
                                    new SelectListItem { Text="2m(ii)",Value="2m(ii)"},
                                    new SelectListItem { Text="Section 85",Value="Section-85"} }, "Value", "Text"), "--Select--", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 SEAhide">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">District</label>
                        <div class="col-md-8 col-xs-8 ">
                            @Html.TextBoxFor(m => m.CL_District, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CL_District, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6 SEAhide">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Jurisdiction</label>
                        <div class="col-md-8 col-xs-8 ">
                            @Html.TextBoxFor(m => m.CL_Jurisdiction, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CL_Jurisdiction, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">No Of Employee</label>
                        <div class="col-md-8 col-xs-8 ">
                            @Html.TextBoxFor(m => m.NoofEmployees, new { @class = "form-control", @type = "number", @maxlength = "8", @autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.NoofEmployees,"", new { @class = "text-danger" })

                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Trade Licence<span id="spCM_TradeLicence" style="color: red;">*</span></label>
                        <div class="col-md-8 col-xs-8 ">
                            @Html.DropDownListFor(m => m.CL_TradeLicenceApplicability, new SelectList(new List<SelectListItem> {
                                    new SelectListItem { Text="Yes",Value="Y"},
                                    new SelectListItem { Text="No",Value="N"} }, "Value", "Text"), "--Select--", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                    <div class="col-md-6">
                        <div class="form-group" id="divBSD">
                            <label class="col-xs-4 control-label">Branch Start Date</label>
                            <div class="col-md-8 col-xs-8 " id="divStartdate">
                                @Html.TextBoxFor(m => m.CL_BranchStartDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @autocomplete = "off", @readonly = "readonly" })
                                <span id="spnBranchStartDateMsg" style="color: red;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" id="divBED">
                            <label class="col-xs-4 control-label">Branch End Date</label>
                            <div class="col-md-8 col-xs-8 " id="divEnddate">
                                @Html.TextBoxFor(m => m.CL_BranchEndDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @autocomplete = "off", @readonly = "readonly" })
                                <span id="spnBranchEndDateMsg" style="color: red;"></span>
                            </div>
                        </div>
                    </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Employer Designation</label>
                        <div class="col-md-8 col-xs-8 ">
                            @Html.TextBoxFor(m => m.CL_EmployerDesignation, null, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                
                    <div class="col-md-6" style="">
                        <div class="form-group">
                            <label class="col-xs-4 control-label">Status<span id="spCM_ClientID" style="color: red;">*</span></label>
                            <div class="col-md-8 col-xs-8 ">
                                @Html.DropDownListFor(m => m.CL_Status, new SelectList(new List<SelectListItem> {
                                    new SelectListItem { Text="Active",Value="A"},
                                    new SelectListItem { Text="InActive",Value="I"} }, "Value", "Text"), "--Select--", new { @class = "form-control", @id = "CL_Status" })
                                @Html.ValidationMessageFor(m => m.CL_Status, "", new { @class = "text-danger" })

                                @{
                                    string mode = null;
                                    if (ViewData["Edit"] != null)
                                    {
                                        mode = ViewData["Edit"].ToString();
                                        @Html.HiddenFor(m => m.SaveMode, new { id = "hiddenSaveMode", Value = mode })
                                    }
                                    <input type="hidden" id="hdMode" value="@mode" />
                                }

                            </div>
                        </div>
                    </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">EDLI Excemption</label>
                        <div class="col-md-8 col-xs-8 ">
                            @Html.DropDownListFor(m => m.CL_EDLI_Excemption, new SelectList(new List<SelectListItem> {
                                    new SelectListItem { Text="Yes",Value="Y"},
                                    new SelectListItem { Text="No",Value="N"} }, "Value", "Text"), "--Select--", new { @class = "form-control" })

                        </div>
                    </div>
                </div>
                    <div class="col-md-6">
                        <div class="form-group" id="divLocationRLCS">
                            <label class="col-xs-4 control-label">Location Anchor<span id="spCM_ClientID" style="color: red;">*</span></label>
                            <div class="col-md-8 col-xs-8 ">
                                @Html.DropDownListFor(m => m.CL_LocationAnchor, new SelectList(Model.LocationsAnchor, "ID", "UserName"), "Select Location Anchor", new { @class = "form-control" })
                                @Html.HiddenFor(x => x.CL_LocationAnchor)
                                <span id="spnLAMsg" style="color: red;"></span>
                                
                            </div>
                        </div>
                    </div>
                </div>
         
            <div class="row" style="margin-top:20px; margin-bottom:10px;">
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        @if (ViewData["ButtonType"].ToString() == "Edit")
                        {
                            <button type="submit" id="btnsave" class="btn btn-primary">Save</button>
                        }
                    </div>
                </div>
            </div>
            
        }
    </div>
</div>
<script>
    $(function () {
        debugger;
        $("#CM_State").on("change",function () {
            var State = $('#CM_State option:selected').val();
            $.ajax({
                url: '/Setup/GetLocations',
                data:{State},
                contentType: 'application/json; charset=utf-8',
                datatype: 'json',
                type: "GET",
                success: function (data) {
                    if(data !=undefined)
                    {
                        var dset = [];
                        dset = data;
                        $("#CM_City").empty();
                        var optionhtml1 = '<option value="' +
                           0 + '">' + "Select Location" + '</option>';
                        $("#CM_City").prepend(optionhtml1);
                        $.each(dset, function (data, value) {
                            $("#CM_City").append($("<option></option>").val(value.LM_Code).html(value.LM_Name));

                        });
                    }
                }
            });
        });
    });
</script>

<script>
    $(function () {
        $("#CM_City").on("change",function () {
            var State = $('#CM_City option:selected').val();
            $('#CL_Pincode').val(State);
        });
    });
</script>

<script>
    $(document).ready(function()
    {
        var sd = new Date(), ed = new Date();

        $('#CL_RCValidFrom').datepicker({
            pickTime: false,
            format: "dd/mm/yyyy",
            autoclose: true,
        }) .on('changeDate', function(selected){
            startDate = new Date(selected.date.valueOf());
            startDate.setDate(startDate.getDate(new Date(selected.date.valueOf())));
            $('#CL_RCValidTo').datepicker('setStartDate', startDate);
        }); ;

        $('#CL_RCValidTo').datepicker({
            pickTime: false,
            format: "dd/mm/yyyy",
            autoclose: true,
        }) .on('changeDate', function(selected){
            FromEndDate = new Date(selected.date.valueOf());
            FromEndDate.setDate(FromEndDate.getDate(new Date(selected.date.valueOf())));
            $('#CL_RCValidFrom').datepicker('setEndDate', FromEndDate);
        });

        $('#CL_BranchStartDate').datepicker({
            pickTime: false,
            format: "dd/mm/yyyy",
            autoclose: true,
        }) .on('changeDate', function(selected){
            startDate = new Date(selected.date.valueOf());
            startDate.setDate(startDate.getDate(new Date(selected.date.valueOf())));
            $('#CL_BranchEndDate').datepicker('setStartDate', startDate);
        }); 

        $('#CL_BranchEndDate').datepicker({
            pickTime: false,
            format: "dd/mm/yyyy",
            autoclose: true,
        }) .on('changeDate', function(selected){
            FromEndDate = new Date(selected.date.valueOf());
            FromEndDate.setDate(FromEndDate.getDate(new Date(selected.date.valueOf())));
            $('#CL_BranchStartDate').datepicker('setEndDate', FromEndDate);
        });
    });


    $('#Locationfrm').attr("action", "/Setup/CreateClientLocationSetup");
    function fselect () {
        $('.multipleSelect').fastselect();
        // setdata();
        var model = @Html.Raw(Json.Encode(Model.CL_WeekoffDay));

        var array = model.split("|");

        //  var countFlag=0;

        //$('.multipleSelect').data('fastselect').setSelectedOption($('.multipleSelect option[value=MON]').get(0));
        //$('.multipleSelect').data('fastselect').setSelectedOption($('.multipleSelect option[value=SUN]').get(0));

        for(i in array){
            debugger;
            $('.multipleSelect').data('fastselect').setSelectedOption($('.multipleSelect option[value=' + array[i] + ' ]').get(0));
        }
    }
    window.onload=fselect;
    $(function () {

        $('#divUploadLocationDetails').hide();
        $("#email").hide();
        //$('#btnUpload').click(function () {
        //    OpenLocatonWindow();
        //});
        $('#diveffectdate input').datepicker({
            autoclose: true,
            format: 'dd/mm/yyyy'
        });
        $('#divEnddate input').datepicker({
            autoclose: true,
            format: 'dd/mm/yyyy'
        });
        $('#divTrainingD input').datepicker({
            autoclose: true,
            format: 'dd/mm/yyyy'
        });
        $('#divExempD input').datepicker({
            autoclose: true,
            format: 'dd/mm/yyyy'
        });
    });

    var weekoffDays = "";
    // $('fstResults').mouseout
    $('.multipleSelect').on("change",function () {
       
        var weekoffDays = "";
        $('#CL_WeekoffDay').val("");
        if ($('.multipleSelect').data('fastselect') != undefined) {
            var models = $('.multipleSelect').data('fastselect').optionsCollection.models;
        }

        if(models != undefined)
        {
            debugger;
            for(i in models){
                if(models[i].selected == true)
                {
                    if (weekoffDays.indexOf(models[i].value) === -1){
                        weekoffDays += models[i].value + "|";
                    }
                }
            }
            // weekoffDays = weekoffDays.slice(0, -1);
            $('#CL_WeekoffDay').val(weekoffDays);
        }
    });

    function HideLoaderDiv() {
        //$('#updateProgress1').hide();
        kendo.ui.progress(loading, false);
    }

    $(document).ready(function () {
        ShowHideDiv();
        ShowHidePFType();
        debugger;
        var city= @Html.Raw(Json.Encode(Model.CM_City));
        var State = $('#CM_State').val();
        var CM_city = $('#CM_City').val();

        $('#CM_City').val(city);

        var mode = $('#hdMode').val();
        if(mode=="Yes")
        {
            //alert("in yes")
            DisableStateAndEstablishmentType();
        }

        var type = $('#CM_EstablishmentType option:selected').val();
        if(type=="SEA")
            $(".SEAhide").hide();                   
        else
            $(".SEAhide").show();
        
    });
    
	function DisableStateAndEstablishmentType()
    {
        //Disable State and Establishtment type dropdownlists if compliances are assigned to the customerbranchid
        var branchId = $('#AVACOM_BranchID').val();
        

        $.ajax({
            url: '/Setup/GetComplianceAssignment',
            data:{branchID:branchId},
            contentType: 'application/json; charset=utf-8',
            datatype: 'json',
            type: "GET",
            success: function (data) 
            {
                if(data !=undefined)
                {
                    if(data>0)
                    {                       
                        $("#CM_State").prop("disabled", true);
                        $("#CM_EstablishmentType").prop("disabled", true);  
                        $("#CL_PT_State").prop("disabled", true);  
                        $("#CL_LWF_State").prop("disabled", true);  

                    }
                }
            }
        });  
	}

	function CheckBranchCodeExist()
	{
	    $("#divAlert").addClass("alert-danger");   
	    $("#divCaption").show();
	    
	    var branchCode = $('#CL_BranchCode').val();
	    if(branchCode=="")
	    {
	        $("#branchCodeErrorDiv").removeClass("hidden");  
	        $("#spnBranchCodeMsg").html("Please enter branch code");
	        return;
	    }


	    $("#branchCodeErrorDiv").addClass("hidden");   	   
	    $("#spnBranchCodeMsg").html("Branch Code Already Exists.");
	    
	    $.ajax({
	        url: '/Setup/CheckBranchCodeExist',
	        data:{branchCode:branchCode},
	        contentType: 'application/json; charset=utf-8',
	        datatype: 'json',
	        type: "GET",
	        success: function (data) 
	        {
	            if(data !=undefined)
	            {
	                if(data=="True")
	                {                       
	                    $("#branchCodeErrorDiv").removeClass("hidden");           
	                }
	                else if(data=="False")
	                {                       
	                    $("#branchCodeErrorDiv").removeClass("hidden");  
	                    $("#divAlert").removeClass("alert-danger");   
	                    $("#divAlert").addClass("alert-success"); 
	                    $("#spnBranchCodeMsg").html("Branch Code Available, Please proceed further");
	                    $("#divCaption").hide();
	                }
	                else
	                {
	                    $("#branchCodeErrorDiv").removeClass("hidden");  	                    
	                    $("#spnBranchCodeMsg").html("Server Error Occured. Please try again.");
	                }

	            }
	        }
	    });
	}



	$("#CM_EstablishmentType").on("change",function () 
	{
	    var type = $('#CM_EstablishmentType option:selected').val();
	    if(type=="SEA")
	        $(".SEAhide").hide();	       
	    else
	        $(".SEAhide").show();
	  
	});
    //RLCSdivHide
	function ShowHideDiv()
	{
	   // Hide Branch code for Avacom only show DFR(RLCS) 
	    var ServiceProviderID = $('#ServiceProviderID').val();
	    if (ServiceProviderID=='94') {
	        $("#RLCSdivHide").show();
	        $("#divLocationRLCS").show();
	        
	    }
	    else {
	        $("#RLCSdivHide").hide();
	        $("#divLocationRLCS").hide();
	    }
	}

	$('#CL_Status').on('change', function () 
	{
	    $("#spnBranchEndDateMsg").html("");
	    var Status = $("#CL_Status").val();
	    if (Status == "A") {
	        $("#CL_BranchEndDate").val("");
	    } 
	    else if (Status == "I")
	    {
	        $("#spnBranchEndDateMsg").html("Select Branch End Date");
	    }
	});
	function process(date) {
	    var parts = date.split("/");
	    return new Date(parts[2], parts[1] - 1, parts[0]);
	}
	$('#CL_BranchEndDate').change(function () {
	    debugger;
	    var BranchEndDate = $("#CL_BranchEndDate").val();
	    var BranchStartDate = $("#CL_BranchStartDate").val();
        
	    if (BranchEndDate!="" && BranchStartDate!="") {
	        var StartDate = process(BranchStartDate);
	        var EndDate = process(BranchEndDate);
	        if (EndDate<=StartDate) {
	            $('#CL_BranchEndDate').val("");
	            alert("Please Select Branch End Date  greater than Branch Start Date.");
	            return false;
	        }
	    }
	    var Status = $("#CL_Status").val();

	    if (Status == "I" && BranchEndDate=="") {
	        $("#spnBranchEndDateMsg").html("Select Branch End Date");
	    }
	    else if (Status == "I" && BranchEndDate!="") {
	        $("#spnBranchEndDateMsg").html("");
	    }
	    else {
	        $("#CL_BranchEndDate").val("");
	        $("#spnBranchEndDateMsg").html("");
	    }
	});
    //09FEB2021
	$('#CL_BranchStartDate').change(function () {
	    var BranchEndDate = $("#CL_BranchEndDate").val();
	    var BranchStartDate = $("#CL_BranchStartDate").val();
        
	    if (BranchEndDate!="" && BranchStartDate!="") {
	        var StartDate = process(BranchStartDate);
	        var EndDate = process(BranchEndDate);
	        if (EndDate<StartDate) {
	            alert("Please Select Branch End Date  greater than Branch Start Date.");
	            return false;
	        }
	    }
        if (BranchStartDate!="") {
             $("#spnBranchStartDateMsg").html("");
           }   
	});
	
    //END
	$('#CL_LocationAnchor').on('change', function () 
	{
	    var CL_LocationAnchor=$('#CL_LocationAnchor').val();
	    if (CL_LocationAnchor!="") {
	        $("#spnLAMsg").html("");
	    }
	});
  
	//PFType
	
	function onchangepf (e){
	    ShowHidePFType();
	}
	function ShowHidePFType()
	{ 
	    debugger;
	    var PFType = $('#PFType').val();
	    var pf_val= $('#CL_PF_Code').val();
	    if (PFType=="C") {
	        $("#CL_PF_Code").attr("disabled", "disabled"); 
	    }
	    else if (PFType=="B"&& $.trim(pf_val)=="") {
	        $("#SpanPFType").show();
	        $("#spanValPF").show();
	        $('#btnsave').addClass('hidden');
	    }
	    else if (PFType=="B"&& $.trim(pf_val)!="") {
	        $("#spanValPF").hide();
	        $('#btnsave').removeClass('hidden','hidden')
	    }
	    
	}


	function validatePF(){
	    var PFType = $('#PFType').val();
	    var pf_val= $('#CL_PF_Code').val();
	    if (PFType=="B" && $.trim(pf_val) == "") {
	        $("#spanValPF").show();
	        $('#btnSave').addClass('hidden');
	    }
	    else {
	        $('#btnSave').removeClass('hidden','hidden')
	    }

	}
</script>
