﻿@using com.VirtuosoITech.ComplianceManagement.Business.Data;
@model com.VirtuosoITech.ComplianceManagement.Portal.AppCode.Models.EmployeeCtcVModel

<!-- Latest compiled JavaScript -->

<link href="~/NewCSS/3.3.7/bootstrap.min.css" rel="stylesheet" />
<link href="~/NewCSS/bootstrap-datepicker.min.css" rel="stylesheet" />
<!-- jQuery library -->
<script src="~/Newjs/3.3.1/jquery.min.js"></script>
<script src="~/Newjs/3.3.7/bootstrap.min.js"></script>

<script src="~/Newjs/bootstrap-datepicker.min.js"></script>
<link href="~/NewCSS/font-awesome.min.css" rel="stylesheet" />
<style>
    .form-control {
        margin-bottom: 8px;
        height: 31px;
        font-family: 'sans-serif';
    }

    .text-danger {
        color: #ef2723;
        font-family: sans-serif;
        font-size: small;
    }

    .control-label {
        font-family: sans-serif;
        margin-bottom: 0;
        text-align: right;
    }
</style>
<div class="wrapper">
    <div class="chart-loading" id="loader"></div>

    <div class="container-fluid">
        <br />

        @if (Model.Error == true)
        {
            <div class="row">
                <div class="col-md-12">
                    <div id="divErrorPanel" class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
                        @Model.ErrorMsg
                    </div>
                </div>
            </div>
        }
        @if (Model.Success == true)
        {
            <div class="row">
                <div class="col-md-12">
                    <div id="divSuccessPanel" class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
                        <strong></strong> File Uploaded Successfully.
                    </div>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-md-12">
                <div id="divSuccessErrors" class="alert alert-success alert-dismissible" style="display:none;">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
                    <strong></strong> File Uploaded Successfully.
                </div>
            </div>
        </div>

        <div class="row" style="margin-top:10px">
            <div class="col-md-12">
                <div class="col-md-3 col-xs-5">
                    <label>Select Customer</label>
                </div>

                <div class="col-md-3 col-xs-4">
                    @Html.DropDownListFor(m => m.Customers, new SelectList(Model.Customers, "ID", "Name"), "--Select--", new { @class = "form-control", onchange = "getClients()", @id = "ddlCustomers" })
                   
                </div>
            </div>
        </div>

        <div class="row" style="margin-top:10px">
            <div class="col-md-12">
                <div class="col-md-3 col-xs-5">
                    <label>Select Client</label>
                </div>
                <div class="col-md-3 col-xs-4">
                    @*<select id="ddlClients" class="form-control"></select>*@
                    @Html.DropDownListFor(m => m.Clients, new SelectList(Model.Clients, "CM_ClientID", "CM_ClientName"), "--Select--", new { @class = "form-control", @id = "ddlClients" })
                </div>
            </div>
        </div>

        <div class="row" style="margin-top:10px">
            <div class="col-md-12">
                <div class="col-md-3 col-xs-5">
                    <input type="file" name="fileUpload" id="fileUpload" /><br />
                </div>
                <div class="col-md-2 col-xs-4">
                    <button type="submit" id="btnUpload" class="btn btn-primary">Upload</button>
                    <br />
                </div>
                <div class="col-md-3 col-xs-3">
                    <a href="#" onclick="getCsv();" class="fa fa-file-excel-o" id="btnSample">Sample Document</a>
                    <br />
                </div>
            </div>
            <div class="col-md-12 col-xs-12">
                <div id="divErrorsLink" style="display:none;color:red;">
                   
                    Uploaded document contains errors. Please download file to correct errors.
                    <a href="/Setup/downloadErrorCSV" class="btn btn-danger" id="btnErrorFile">Download Errors</a>

                </div>
                <div id="divErrors" style="display:none;" class="alert alert-danger alert-dismissiblex">

                </div>
                @{
                    string strCustid = null;
                    if (ViewData["custID"] != null)
                    {
                         strCustid = ViewData["custID"].ToString();
                    }
                    <input type="hidden" id="hdCustId" name="hdCustId" value="@strCustid"  />
                }
                
            </div>
        </div>
    </div>

</div>

<script>

    $(document).ready(function () {
        debugger;
        $('.k-loading-mask', window.parent.document.body).css('display', 'none');
    });
    $('#btnUpload').click(function ()
    {
        uploadFile();
    });

    function displayStatus(msg)
    {
        $("#divSuccessErrors").html("");
        $("#divSuccessErrors").html(msg);
        $("#divSuccessErrors").removeClass('alert-success');
        $("#divSuccessErrors").addClass('alert-danger');
        $("#divSuccessErrors").show();
    }

    function getClients()
    {
        $("#divSuccessErrors").hide();//for validations

        $("#divErrorPanel").hide();
        $("#divSuccessPanel").hide();

        var custid = $("#ddlCustomers").val();
        if ((custid == "-1")||(custid == ""))
        {
            displayStatus("Please select customer");
            return false;
        }

        $.ajax({
            url: '/Setup/getClients',
            type: "GET",
            data: { customerid: custid },
            success: function (data)
            {
                var s = '<option value="-1">Select Client</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].CM_ClientID + '">' + data[i].CM_ClientName + '</option>';
                }
                $("#ddlClients").html(s);


            },
            error: function (err) {
                alert(err.statusText);
            }
        });
    }



    function uploadFile()
    {

        // Checking whether FormData is available in browser
        if (window.FormData !== undefined)
        {
            $("#divSuccessErrors").hide();//for validations
            $("#divErrorPanel").hide();
            $("#divSuccessPanel").hide();
            var custid = $("#ddlCustomers").val();
            if ((custid == "-1")||(custid == ""))
            {
                displayStatus("Please select customer");
                return false;
            }

            var clientid = $("#ddlClients").val();
            if ((clientid == "-1")||(clientid == ""))
            {
                displayStatus("Please select client");
                return false;
            }

            var fileUpload = $("#fileUpload").get(0);
            var files = fileUpload.files;

            if (files.length == 0)
            {
                displayStatus("Please upload a csv file");
                return false;
            }

            var nm = files[0].name;
            var ext = nm.substr(nm.lastIndexOf('.') + 1).toLowerCase();
            if (ext!="csv")
            {
                displayStatus("Please upload a csv file");
                return false;
            }

            $("#divErrors").html("");
            $("#divErrors").hide();
            $("#divErrorsLink").hide();

            // Create FormData object
            var fileData = new FormData();

            // Looping over all files and add it to FormData object
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }

            // Adding one more key to FormData object

            fileData.append("customerid", custid);
            fileData.append("clientid", clientid);

            //$("#btnUpload").prop('disabled', true);
            $('#btnUpload').html('<span id="spanLoading" class="fa fa-refresh fa-spin" role="status" aria-hidden="true"></span>Loading...').addClass('disabled');
            $.ajax({
                url: '/Setup/UploadCtc',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result)
                {
                    $("#spanLoading").hide();
                    $("#btnUpload").html("upload");
                    $("#btnUpload").prop('disabled', true);

                    if (result.blankss=="Y")
                    {
                        $("#divErrors").html("Errors").append("</br>");
                        $("#divErrors").html("Blank headers not allowed.");
                        $("#divErrors").show();

                    }
                    if (result.repeats.length > 0)
                    {
                        $("#divErrors").show();
                        //$("#divErrors").append("Following headers should not be repeated.");

                        //for (i = 0; i < result.repeats.length; i++)
                        //{
                        //    $("#divErrors").after("<h4>" + result.repeats[i] + ",</h4>");
                        //}

                        $("#divErrors").append("Following headers should not be repeated.").append("</br>");

                        for (i = 0; i < result.repeats.length; i++)
                        {
                            $("#divErrors").append("  ");
                            $("#divErrors").append("<h5>" + result.repeats[i] + ",</h5>");
                        }
                    }
                    if (result.unmapps.length > 0)
                    {
                        $("#divErrors").show();
                        $("#divErrors").append("</br>");
                        $("#divErrors").append("Following headers are not mapped: ").append("</br>");

                        for (i = 0; i < result.unmapps.length; i++)
                        {
                            $("#divErrors").append("  ");
                            $("#divErrors").append(result.unmapps[i]);
                        }
                    }

                    if (result.blankss == "N" && result.repeats.length == 0 && result.unmapps.length == 0)
                    {
                        var custid = $("#hdCustId").val();
                        if (result.statuss == "1")
                            //alert("File uploaded successfully");
                            window.location.href = "/Setup/showSuccess?error=0&CustID=" + custid;
                        else if (result.statuss == "2")
                            //alert("Please upload csv file only");
                            window.location.href = "/Setup/showSuccess?error=1";
                        else if (result.statuss == "3")
                        {
                            $("#divErrorsLink").show();
                            //alert("File could not be uploaded as it contains validation errors. Please click on the link: Download validation errors");
                        }

                        else
                            alert(result.statuss);
                    }

                    //alert(result);
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        }
        else
        {
            displayStatus("FormData is not supported.");
        }
    }

    function getCsv()
    {
        $("#divSuccessErrors").hide();//for validations
        $("#divErrorPanel").hide();
        $("#divSuccessPanel").hide();

        var custid = $("#ddlCustomers").val();
        if ((custid == "-1")||(custid == ""))
        {
            displayStatus("Please select customer");
            return false;
        }

        var clientid = $("#ddlClients").val();
        if ((clientid == "-1")||(clientid == ""))
        {
            displayStatus("Please select client");
            return false;
        }

        window.location.href = "/Setup/downloadCSV?id=" + custid + "&clientid=" + clientid;

    }



</script>