﻿@model com.VirtuosoITech.ComplianceManagement.Portal.AppCode.Models.UploadEmployeeDocumentVModel
@{
    ViewBag.Title = "UploadEmployeeUpdateSelected";
}


<link href="~/NewCSS/3.3.7/bootstrap.min.css" rel="stylesheet" />

<link href="~/NewCSS/bootstrap-datepicker.min.css" rel="stylesheet" />
<!-- jQuery library -->
<script src="~/Newjs/3.3.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<link href="~/NewCSS/chosen.css" rel="stylesheet" />
<script src="~/Newjs/3.3.7/bootstrap.min.js"></script>
<script src="~/Newjs/bootstrap-datepicker.min.js"></script>
<script src="~/Newjs/jquery.validate.min.js"></script>
<script src="~/Newjs/jquery.validate.unobtrusive.js"></script>
<link href="~/NewCSS/font-awesome.css" rel="stylesheet" />
<script src="~/Newjs/UploadJS/fileupload.js"></script>
<style>
    .form-control {
        margin-bottom: 8px;
        height: 31px;
        font-family: 'sans-serif';
    }

    .text-danger {
        color: #ef2723;
        font-family: sans-serif;
        font-size: small;
    }

    .control-label {
        font-family: sans-serif;
        margin-bottom: 0;
        text-align: left;
    }

    .ml-20 {
        margin-left: 50px;
    }

    .pl-10 {
        padding-top: 5px;
    }

    .label1 {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 300;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 0px;
    }

    .input[type=checkbox] {
        margin: 10px 0 0;
    }

    .alert {
        padding: 15px;
        margin-bottom: 0px;
        border: 1px solid transparent;
        border-radius: 4px;
    }
</style>
<div class="wrapper">
    <div class="container-fluid">
        @using (Html.BeginForm("UploadEmployeeUpdateSelected", "Setup", FormMethod.Post, new { enctype = "multipart/form-data", id = "UploadEmployeeMasterNew1" }))
        {          <br />
            if (Model.Error == true)
            {
                <div class="col-md-11">
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
                        <span class="glyphicon glyphicon-alert" aria-hidden="true"></span> &nbsp;&nbsp;&nbsp;<strong></strong> Select File to Upload
                    </div>
                </div>
            }
            if (Model.RowCount == true)
            {
                <div class="col-md-11">
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
                        <span class="glyphicon glyphicon-alert" aria-hidden="true"></span> &nbsp;&nbsp;&nbsp;<strong></strong> File Should be Empty.
                    </div>
                </div>
            }
            if (Model.ColumnCount == true)
            {
                <div class="col-md-11">
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
                        <span class="glyphicon glyphicon-alert" aria-hidden="true"></span> &nbsp;&nbsp;&nbsp;<strong></strong> Uploaded Excel File Does Not Match Please Check Sample Excel File.
                    </div>
                </div>
            }

            if (Model.Message == true)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
                            <strong></strong> File Uploaded Successfully
                        </div>
                    </div>
                </div>
            }

            if (Model.ServerError == true)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
                            <strong></strong> Something went wrong, Please try again...!!!
                        </div>
                    </div>
                </div>
            }
            <div class="row" style="margin-top:10px;">
                <div class="col-md-6" id="divExcelRequired">
                    <div class="alert alert-info alert-dismissible">
                        <span class="glyphicon glyphicon-alert" aria-hidden="true"></span> &nbsp;&nbsp;&nbsp;<strong></strong>
                        Please Check Excel Column Header To download Template
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:0px">
                <div class="col-xs-6 col-md-6" style="overflow-y: scroll;height:385px;">

                    <table class="table table-bordered table-striped dataTable no-footer" id="example1">
                        <thead>
                            <tr style="background-color: #58B0E4" role="row">

                                <th style="text-align: center; width: 60px;">
                                    @Html.DisplayName("Header Name")
                                </th>
                                <th style="text-align: center;">
                                    @Html.DisplayName("")
                                    @Html.CheckBox("chk2", new { @id = "checkall" })
                                </th>
                            </tr>
                        </thead>

                        <tbody>

                            @using (Ajax.BeginForm("UploadEmployeeUpdateSelected", new AjaxOptions { HttpMethod = "GET", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }))
                            {
                                if (Model.ClientHeaderMappingVModelList != null && Model.ClientHeaderMappingVModelList.Count > 0)
                                {


                                    if (Model.ClientHeaderMappingVModelList.All(x => x.ColName != null))
                                    {
                                        for (int i = 0; i < Model.ClientHeaderMappingVModelList.Count; i++)
                                        {

                                            <div class="form-group">

                                                @if ((Model.ClientHeaderMappingVModelList[i].ClientHeaderName) != "")
                                                {
                                                    <tr>
                                                        <td>
                                                            <h5 class="col-xs-11 col-md-11 " id="@Model.ClientHeaderMappingVModelList[i].ClientHeaderName">@Model.ClientHeaderMappingVModelList[i].ClientHeaderName</h5>

                                                            @Html.HiddenFor(m => m.ClientHeaderMappingVModelList[i].ClientHeaderName)
                                                        </td>
                                                        <td>
                                                            <div class="col-xs-1 col-md-1">

                                                                @if (Model.ClientHeaderMappingVModelList[i].ColName == "EM_EmpID" || Model.ClientHeaderMappingVModelList[i].ColName == "EM_ClientID")
                                                                {

                                                                    @Html.CheckBoxFor(model => model.ClientHeaderMappingVModelList[i].Check, new { @class = "checkminimal-in", @checked = true })
                                                                    @Html.HiddenFor(m => m.ClientHeaderMappingVModelList[i].ColName)
                                                                    @Html.HiddenFor(m => m.ClientHeaderMappingVModelList[i].ClientHeaderName)
                                                                    <span id=@Model.ClientHeaderMappingVModelList[i].ColName></span>

                                                                }
                                                                else if (Model.ClientHeaderMappingVModelList[i].ColName == "EM_WomenWorkingNightshift" || Model.ClientHeaderMappingVModelList[i].ColName == "EM_ModeofTransport" || Model.ClientHeaderMappingVModelList[i].ColName == "EM_SecurityProvided")
                                                                {

                                                                    @Html.CheckBoxFor(model => model.ClientHeaderMappingVModelList[i].Check, new { @class = "checkminimal-in checkuncheck1", @onChange = "CheckUnCheckFunction(" + i + ",'WN')" })
                                                                    @Html.HiddenFor(m => m.ClientHeaderMappingVModelList[i].ColName)
                                                                    @Html.HiddenFor(m => m.ClientHeaderMappingVModelList[i].ClientHeaderName)
                                                                    <span id=@Model.ClientHeaderMappingVModelList[i].ColName></span>
                                                                }
                                                                else if (Model.ClientHeaderMappingVModelList[i].ColName == "EM_SkillCategory" || Model.ClientHeaderMappingVModelList[i].ColName == "EM_Sectorid" || Model.ClientHeaderMappingVModelList[i].ColName == "EM_JobCategory" || Model.ClientHeaderMappingVModelList[i].ColName == "EM_IndustryType")
                                                                {

                                                                    @Html.CheckBoxFor(model => model.ClientHeaderMappingVModelList[i].Check, new { @class = "checkminimal-in checkuncheck5", @onChange = "CheckUnCheckFunctionvpf(" + i + ",'SK')" })
                                                                    @Html.HiddenFor(m => m.ClientHeaderMappingVModelList[i].ColName)
                                                                    @Html.HiddenFor(m => m.ClientHeaderMappingVModelList[i].ClientHeaderName)
                                                                    <span id=@Model.ClientHeaderMappingVModelList[i].ColName></span>
                                                                }
                                                                else if (Model.ClientHeaderMappingVModelList[i].ColName == "EM_VPF_Applicability" || Model.ClientHeaderMappingVModelList[i].ColName == "EM_VPF_Type" || Model.ClientHeaderMappingVModelList[i].ColName == "EM_VPF_Value")
                                                                {

                                                                    @Html.CheckBoxFor(model => model.ClientHeaderMappingVModelList[i].Check, new { @class = "checkminimal-in checkuncheck6", @onChange = "CheckUnCheckFunctionvpf(" + i + ",'VP')" })
                                                                    @Html.HiddenFor(m => m.ClientHeaderMappingVModelList[i].ColName)
                                                                    @Html.HiddenFor(m => m.ClientHeaderMappingVModelList[i].ClientHeaderName)
                                                                    <span id=@Model.ClientHeaderMappingVModelList[i].ColName></span>
                                                                }

                                                                else if (Model.ClientHeaderMappingVModelList[i].ColName == "EM_BankName" || Model.ClientHeaderMappingVModelList[i].ColName == "EM_Bankaccountnumber" || Model.ClientHeaderMappingVModelList[i].ColName == "EM_IFSC")
                                                                {
                                                                    @Html.CheckBoxFor(model => model.ClientHeaderMappingVModelList[i].Check, new { @class = "checkminimal-in checkuncheck4", @onChange = "CheckUnCheckFunctionvpf(" + i + ",'ba')" })
                                                                    @Html.HiddenFor(m => m.ClientHeaderMappingVModelList[i].ColName)
                                                                    @Html.HiddenFor(m => m.ClientHeaderMappingVModelList[i].ClientHeaderName)
                                                                    <span id=@Model.ClientHeaderMappingVModelList[i].ColName></span>
                                                                }
                                                                else
                                                                {

                                                                    @Html.CheckBoxFor(model => model.ClientHeaderMappingVModelList[i].Check, new { @class = "checkminimal-in" })

                                                                    @Html.HiddenFor(m => m.ClientHeaderMappingVModelList[i].ColName)
                                                                    @Html.HiddenFor(m => m.ClientHeaderMappingVModelList[i].ClientHeaderName)
                                                                    <span id=@Model.ClientHeaderMappingVModelList[i].ColName></span>
                                                                }
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }

                                            </div>

                                        }
                                    }

                                }
                            }
                        </tbody>
                    </table>


                    @*<br />*@
                </div>
                <div class="col-xs-6 col-md-6">
                    <div class="row" style="margin-top:10px;margin-bottom:20px;">
                        <div class="col-xs-12">
                            <div class="form-group">
                                @Html.HiddenFor(m => m.CustomerID)
                                @Html.HiddenFor(m => m.UserID)

                                @using (Ajax.BeginForm("UploadEmployeeUpdateSelected", new AjaxOptions { HttpMethod = "GET", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }))
                                {
                                    <div class="col-xs-12 col-md-12" id="divDownload" style="cursor:pointer;">
                                        <button id="btndownload" class="btn btn-info fa fa-cloud-download" name="New">Download Template</button>
                                        <button id="btnReset" class="btn btn-info fa fa-recycle" name="New">Reset</button>
                                        <button id="btndownloadCTC" class="btn btn-info fa fa-cloud-download" type="button" name="New">Employee Transfer Template</button>


                                        @*<a href="/Setup/DownloadAttachment('','DownloadSampleEmployee')" id="btndownload"><i class="fa fa-cloud-download fa-2x" aria-hidden="true"></i></a>*@
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="col-xs-12" id="divupload">
                        <div class="panel-group">
                            <div class="alert alert-info">
                                <div class="panel-heading">Upload Excel File</div>
                            </div>
                            <div class="panel panel-info">
                                <div class="panel-body">
                                    <div class="col-xs-9 col-md-9">
                                        <input type="file" name="fileUpload"  />
                                    </div>
                                    <div class="col-xs-3 col-md-3" id="divDownload" style="cursor:pointer;">
                                        <button type="submit" id="btnUpload" class="btn btn-info fa fa-cloud-upload" name="New">Upload</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (Model.ExcelErrors == true)
                        {
                                <div class="row" style="margin-top:10px">
                                    <div class="col-md-12">
                                        @*<span id="errors" style="color:red">Uploaded File Contains Some Errors. Click to Download Error File <a href="/Setup/DownloadAttachment?Name=@Model.FileName&Sample=DownloadErrorsLocation&Emp=true" class="btn btn-danger">Download</a></span>*@
                                        <span id="errors" style="color:red">Uploaded file contains some errors. Please check the downloaded error file.</span>
                                    </div>
                                </div>
                                if (ViewData["ErrorFileName"] != null)
                                {
                                    <input type="hidden" id="hdErrorFileName" value="@ViewData["ErrorFileName"].ToString()" />
                                }

                        }
                    </div>
                   
                </div>
            </div>


        }
    </div>
    <!-- Trigger the modal with a button -->
    <button id="btnModal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="display:none;">Open Modal</button>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Message</h3>
                </div>
                <div class="modal-body">
                    <h4> <span id="msgerror"></span></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $(function () {

        $('#UploadEmployeeMasterNew1').attr("action", "/Setup/UploadEmployeeUpdateSelected");
    });

    $(document).ready(function ()
    {
        //document.getElementById('Update').Update = true;


        var errorFile = $("#hdErrorFileName").val();
        if (errorFile != null && errorFile != "")
        {
            //alert("errorFile is " + errorFile);
            window.location = '/Setup/DownloadEmployeeErrorCSV?file=' + errorFile;
        }
    });
    var i = 1;
    $("#example1 tr:gt(0)").each(function (eve) {
        IsOneRowSelected = 'yes';
        _Col_Status = document.getElementById('ClientHeaderMappingVModelList_' + (i - 1) + '__ColName').value;
        Chk_Status = document.getElementById('ClientHeaderMappingVModelList_' + (i - 1) + '__Check').checked;
        if (_Col_Status == "EM_EmpID") {
            $("#ClientHeaderMappingVModelList_" + (i - 1) + "__Check").prop("checked", true);
            document.getElementById('ClientHeaderMappingVModelList_' + (i - 1) + '__Check').disabled = true;
        }
        if (_Col_Status == "EM_ClientID") {
            $("#ClientHeaderMappingVModelList_" + (i - 1) + "__Check").prop("checked", true);
            document.getElementById('ClientHeaderMappingVModelList_' + (i - 1) + '__Check').disabled = true;
        }

        i = i + 1;
    });
    $("#checkall").change(function () {  //" all" change

        var status = this.checked; // " all" checked status
        $('.checkminimal-in').each(function () { //iterate all listed checkbox items
            this.checked = status; //change ".checkbox" checked status

            var i = 1;
            $("#example1 tr:gt(0)").each(function (eve) {
                IsOneRowSelected = 'yes';
                _Comp_Status = document.getElementById('ClientHeaderMappingVModelList_' + (i - 1) + '__ColName').value;
                Chk_Status = document.getElementById('ClientHeaderMappingVModelList_' + (i - 1) + '__Check').checked;
                if (_Comp_Status == "EM_EmpID") {
                    $("#ClientHeaderMappingVModelList_" + (i - 1) + "__Check").prop("checked", true);
                }
                if (_Comp_Status == "EM_ClientID") {
                    $("#ClientHeaderMappingVModelList_" + (i - 1) + "__Check").prop("checked", true);
                }

                i = i + 1;
            });

        });

    });
    $("#btnReset").click(function () {
        var haserror = false;
        //$("#divupload").css('display', 'none');
        debugger;
        var i = 1;
        $("#example1 tr:gt(0)").each(function (eve) {
            IsOneRowSelected = 'yes';
            document.getElementById('ClientHeaderMappingVModelList_' + (i - 1) + '__Check').checked = false;

            if (document.getElementById('ClientHeaderMappingVModelList_' + (i - 1) + '__ColName').value == 'EM_EmpID' || document.getElementById('ClientHeaderMappingVModelList_' + (i - 1) + '__ColName').value == 'EM_ClientID') {

                document.getElementById('ClientHeaderMappingVModelList_' + (i - 1) + '__Check').checked = true;
                document.getElementById('ClientHeaderMappingVModelList_' + (i - 1) + '__Check').disabled = true;
            }
            else {

                document.getElementById('ClientHeaderMappingVModelList_' + (i - 1) + '__Check').checked = false;
                document.getElementById('checkall').checked = false;

            }
            i = i + 1;
        });
        return false;
    });

    function CheckUnCheckFunction(id, tag) {

        var Chk_Status = document.getElementById('ClientHeaderMappingVModelList_' + id + '__Check').checked;

        var flag = 0;
        if (document.getElementById('ClientHeaderMappingVModelList_' + id + '__ColName').value == "EM_WomenWorkingNightshift" || document.getElementById('ClientHeaderMappingVModelList_' + id + '__ColName').value == "EM_ModeofTransport" || document.getElementById('ClientHeaderMappingVModelList_' + id + '__ColName').value == "EM_SecurityProvided") {
            Chk_Status = document.getElementById('ClientHeaderMappingVModelList_' + id + '__Check').checked;
            if (!Chk_Status) {
                $('.checkuncheck1').prop("checked", false);
                $('.chkgender').prop("checked", false);
            } else {
                $('.checkuncheck1').prop("checked", true);
                $('.chkgender').prop("checked", true);
            }
        } else {
            if (Chk_Status) {
                $('.checkuncheck1').prop("checked", false);
                $('.chkgender').prop("checked", false);
            } else {
                $('.checkuncheck1').prop("checked", true);
                $('.chkgender').prop("checked", true);
            }
        }
    }

    function CheckUnCheckFunctionvpf(id, tag) {

        var Chk_Status = document.getElementById('ClientHeaderMappingVModelList_' + id + '__Check').checked;

        var flag = 0;
        if (tag == 'ba') {
            if (document.getElementById('ClientHeaderMappingVModelList_' + id + '__ColName').value == "EM_BankName" || document.getElementById('ClientHeaderMappingVModelList_' + id + '__ColName').value == "EM_Bankaccountnumber" || document.getElementById('ClientHeaderMappingVModelList_' + id + '__ColName').value == "EM_IFSC") {
                Chk_Status = document.getElementById('ClientHeaderMappingVModelList_' + id + '__Check').checked;
                if (!Chk_Status) {
                    $('.checkuncheck4').prop("checked", false);
                } else {
                    $('.checkuncheck4').prop("checked", true);
                }
            } else {
                if (Chk_Status) {
                    $('.checkuncheck4').prop("checked", false);
                } else {
                    $('.checkuncheck4').prop("checked", true);
                }
            }
        }

        if (tag == 'SK') {
            if (document.getElementById('ClientHeaderMappingVModelList_' + id + '__ColName').value == "EM_SkillCategory" || document.getElementById('ClientHeaderMappingVModelList_' + id + '__ColName').value == "EM_Sectorid" || document.getElementById('ClientHeaderMappingVModelList_' + id + '__ColName').value == "EM_JobCategory" || document.getElementById('ClientHeaderMappingVModelList_' + id + '__ColName').value == "EM_IndustryType") {
                Chk_Status = document.getElementById('ClientHeaderMappingVModelList_' + id + '__Check').checked;
                if (!Chk_Status) {
                    $('.checkuncheck5').prop("checked", false);
                } else {
                    $('.checkuncheck5').prop("checked", true);
                }
            } else {
                if (Chk_Status) {
                    $('.checkuncheck5').prop("checked", false);
                } else {
                    $('.checkuncheck5').prop("checked", true);
                }
            }
        }
        if (tag == 'VP') {
            if (document.getElementById('ClientHeaderMappingVModelList_' + id + '__ColName').value == "EM_VPF_Applicability" || document.getElementById('ClientHeaderMappingVModelList_' + id + '__ColName').value == "EM_VPF_Type" || document.getElementById('ClientHeaderMappingVModelList_' + id + '__ColName').value == "EM_VPF_Value") {
                Chk_Status = document.getElementById('ClientHeaderMappingVModelList_' + id + '__Check').checked;
                if (!Chk_Status) {
                    $('.checkuncheck6').prop("checked", false);
                } else {
                    $('.checkuncheck6').prop("checked", true);
                }
            } else {
                if (Chk_Status) {
                    $('.checkuncheck6').prop("checked", false);
                } else {
                    $('.checkuncheck6').prop("checked", true);
                }
            }
        }
    }

    $(function () {

        //$(".chosen").chosen();    btndownloadCTC
        $("#btndownloadCTC").click(function () {
            debugger;
            var a = document.createElement('a');
            var CustID = $('#CustomerID').val();
            a.href = "/Setup/DownloadAttachmentNEW?Name=&Sample=DownloadSampleEmployeeBranchTransferUpdate&Emp=true&CustomerID=" + CustID;
            document.body.append(a);
            a.click();
            a.remove();
        });


        $("#btndownload").click(function () {
            var haserror = false;
            debugger;
            var _Comp_Status = "";
            var _Sectioncode = "";
            var arrHeadercode = [];
            var Chk_Status = "";
            var _remarks = "";
            var count = 0;
            var str2 = $('#CustomerID').val();
            if (str2.trim().length > 0) {
                if ($('#example1 tr:gt(0)').closest('tr').find('.checkminimal-in').is(':checked')) {
                    var i = 1;

                    var ColumnHeaders;
                    $("#example1 tr:gt(0)").each(function (eve) {
                        IsOneRowSelected = 'yes';
                        _Comp_Status = document.getElementById('ClientHeaderMappingVModelList_' + (i - 1) + '__ColName').value;
                        _Sectioncode = document.getElementById('ClientHeaderMappingVModelList_' + (i - 1) + '__ClientHeaderName').value;
                        Chk_Status = document.getElementById('ClientHeaderMappingVModelList_' + (i - 1) + '__Check').checked;

                        if (_Comp_Status == 'EM_EmpID' && Chk_Status == false) {
                            _remarks = 'Error';
                        }

                        if (Chk_Status == true) {
                            arrHeadercode.push(_Sectioncode);
                            count += 1;
                        }

                        i = i + 1;
                    });
                    if (_remarks == 'Error') {
                        $("#msgerror").text("Please select EmpId to continue...");
                        $('#btnModal').click();
                        haserror == true;
                        return false;
                    }
                    else if (count > 2) {
                        if (arrHeadercode.length > 0) {
                            var Update = true;
                            var CustID = $('#CustomerID').val();

                            var HeaderJSON1 = JSON.stringify(arrHeadercode);

                            // alert(CustID);
                            if (Update == true && CustID != "") {

                                //GenerateCSV(ColumnNames, FileName);
                                $.ajax({
                                    type: "POST",
                                    url: "/Setup/JSONInsert",
                                    data: "{ 'ColumnJSON': '" + HeaderJSON1 + "' }",
                                    contentType: 'application/json; charset=utf-8',
                                    dataType: 'json',
                                    success: function (data) {
                                        debugger;
                                        if (data != 0) {
                                            var a = document.createElement('a');
                                            a.href = "/Setup/DownloadAttachmentSelectedColumns?CustomerID=" + CustID + "&ID=" + data;
                                            document.body.append(a);
                                            a.click();
                                            a.remove();
                                            //$("#divupload").css('display', '');
                                        }

                                    }
                                });
                                // a.href = "/Setup/DownloadAttachmentSelectedColumns?CustomerID=" + CustID + "&ColumnNames=" + ColumnNames;
                            }

                        }

                        haserror == false;
                    }
                    else if (count == 2) {
                        $("#msgerror").text("Please Select To Update Column...");
                        $('#btnModal').click();
                        haserror == true;
                        return false;
                    }
                    else {
                        $("#msgerror").text("Please do mapping for selected client..");
                        $('#btnModal').click();
                        haserror == true;
                        return false;
                    }
                    // DownloadTemplateFunc();

                }
                else {
                    $("#msgerror").text("Please do mapping for selected client...");
                    $('#btnModal').click();
                    haserror == true;
                    return false;
                }

            }
            else {
                $("#msgerror").text("Please Select Customer");
                $('#btnModal').click();
                return false;
            }
            return false;
            //window.URL.revokeObjectURL(url);
        });

        $("#btnSave").click(function () {
            ClientColumnMappinglist = {};
            $('#form0').attr("action", "/Setup/CreateUpdateClientMapping");


        });
    });




</script>


<script type="text/javascript">
    function OnSuccess(response) {
        alert(response);
    }

    function OnFailure(response) {
        alert("Whoops! That didn't go so well did it?");
    }
    $('#btnUpload').click(function () {
        $('#btnUpload').html('<span class="fa fa-refresh fa-spin" role="status" aria-hidden="true"></span>Loading...').addClass('disabled');
    });
</script>
