﻿
@model com.VirtuosoITech.ComplianceManagement.Portal.AppCode.Models.UploadPaycodeVModel
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Latest compiled JavaScript -->

<link href="~/NewCSS/3.3.7/bootstrap.min.css" rel="stylesheet" />

<link href="~/NewCSS/bootstrap-datepicker.min.css" rel="stylesheet" />
<!-- jQuery library -->
<script src="~/Newjs/3.3.1/jquery.min.js"></script>
<script src="~/Newjs/3.3.7/bootstrap.min.js"></script>

<script src="~/Newjs/bootstrap-datepicker.min.js"></script>
<link href="~/NewCSS/font-awesome.min.css" rel="stylesheet" />

<style>
    .form-control {
        margin-bottom: 8px;
        height: 31px;
        font-family: 'sans-serif';
    }

    .text-danger {
        color: #ef2723;
        font-family: sans-serif;
        font-size: small;
    }

    .control-label {
        font-family: sans-serif;
        margin-bottom: 0;
        text-align: right;
    }
     /* Style buttons */
   .btnUpload {
  background-color: #4CAF50; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px /* Set a font size */
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
</style>
<div class="wrapper">
    <div class="chart-loading" id="loader"></div>
    <div class="container-fluid">
        @using (Html.BeginForm("UploadPaycodeFile", "Setup", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {          <br />
            if (Model.PaycodeMappingModel.SheetNameError == true)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
                            <strong></strong> Sheet name must be Entity
                        </div>
                    </div>
                </div>
            }
            
            if (Model.PaycodeMappingModel.Message == true )
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
                            <strong></strong> File Uploaded Successfully.
                        </div>
                    </div>
                </div>
            }
            if (Model.ServerError == true)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
                            <strong></strong> Something went wrong, Please try again.
                        </div>
                    </div>
                </div>
            }
            if (Model.ExtensionError == true)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
                            <strong></strong> Upload only excelsheet with extension .xls and .xlsx.
                        </div>
                    </div>
                </div>
            }


    <div class="row" style="margin-top:10px;margin-bottom:20px;">

        <div class="col-md-4 col-xs-4">
            @Html.HiddenFor(m => m.ClientID)
            <a href="/Setup/DownloadPaycodeFiles?Name=@Model.PaycodeMappingModel.FileName&Sample=DownloadSampleLocation&Emp=false" class="fa fa-file-excel-o" id="btnSample">Upload PayCode</a>
            @*<a href="/Setup/DownloadAttachment?FName=@Model.Setup.FileName&Name=DownloadErrorsLocation" class="fa fa-file-excel-o" id="btnSample">Sample Document</a>*@
        </div>
        <div class="col-md-4 col-xs-4">
            @Html.HiddenFor(m => m.ClientID)
            <a href="/Setup/DownloadPaycodeFiles1?Name=@Model.PaycodeMappingModel.FileName&Sample=DownloadSampleLocation&Emp=false" class="fa fa-file-excel-o" id="btnSample">Master Paycode</a>
            @*<a href="/Setup/DownloadAttachment?FName=@Model.Setup.FileName&Name=DownloadErrorsLocation" class="fa fa-file-excel-o" id="btnSample">Sample Document</a>*@
        </div>
    </div>

            <div class="row" style="margin-top:10px">
                <div class="col-md-9">
                    <div class="col-md-7 col-xs-7">
                        <input type="file" name="fileUpload" /><br />
                        @if (Model.Error == true)
                        {
                            <span id="lblfileerror" style="color:red">Please upload file</span>
                        }
                    </div>
                    <div class="col-md-2 col-xs-2">
                        <button type="submit" id="btnUpload" class="btn btn-primary">Upload</button>
                        <br />
                    </div>
                </div>
            </div>

            if (Model.PaycodeMappingModel.ExcelErrors == true )
            {
                <div class="row">
                    <div class="col-md-8">
                        <span id="errors" style="color:red">
                            Uploaded document contains errors. Please download file to correct errors.
                            @if (Model.PaycodeMappingModel.FileName != null)
                            {
                                <a href="/Setup/DownloadPaycodeFiles?Name=@Model.PaycodeMappingModel.FileName&Sample=DownloadErrorsLocation&Emp=false" class="btn btn-danger">Download Errors</a>
                            }
                            else
                            {
                                <a href="/Setup/DownloadPaycodeFiles1?Name=@Model.ClientLocationVModel.FileName&Sample=DownloadErrorsLocation&Emp=false" class="btn btn-danger">Download Errors</a>
                            }
                        </span>
                    </div>
                </div>
            }
        }
    </div>

</div>

<script>

    $(document).ready(function () {
        debugger;
        $('.k-loading-mask', window.parent.document.body).css('display', 'none');
    });

    $(function () {

        $('form').attr("action", "/Setup/UploadPaycodeFile");

      
    });
    $('#btnUpload').click(function () {
        $('#btnUpload').html('<span class="fa fa-refresh fa-spin" role="status" aria-hidden="true"></span>Loading...').addClass('disabled');
    });
  
  
</script>