﻿@using Kendo.Mvc.UI;
@*@model int*@

<script>
    function additionalAnnual() {
     return {
         EntityId: '@Model',
         Doctype:"AR"
     };
    }
    function DownloadAnnualdata(e)
    {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.Id;
        window.location.href = "@Url.Action("DownloadHistoricalData", "EntityMaster")?Id=" + id;
    }
    function ViewAnnualdata(e)
    {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.Id;
        @*window.location.href = "@Url.Action("ViewRecords", "CompanyProfile")?Id=" + id;*@
        $.ajax({
            type: "POST",
            url: '@Url.Action("ViewHistoricalData", "EntityMaster")',
            data: {Id:id},
            dataType: "json",
            cache: false,
            success: function (data) {


                var direction="@Url.Content("~/docviewer.aspx")" + "?docurl=" + data ;


                $("#wndDocViewer").attr("style", "min-height:100px;");

                var wnd = $("#wndDocViewer").data("kendoWindow");
                var opts = wnd.options;

                wnd = $("#wndDocViewer").kendoWindow({
                    actions: ["Close"],
                    content: direction,
                    visible: false,
                    modal: true,
                    iFrame :true,
                    refresh: function () { this.center(); },
                    open: function () { onOpenWindow("wndDocViewer") },
                    close: function (e) {
                        $(this.element).empty();
                        $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                    }
                }).data("kendoWindow");

                opts.width = "95%";
                wnd.setOptions(opts);
                wnd.center();
                wnd.open();


                $('#wndDocViewer').parent().find('.k-window-titlebar,.k-window-actions').css('backgroundColor', '#f7f7f7');
            }
        });
    }

    var wnd;
    $(document).ready(function () {
        wnd = $("#modalWindow").kendoWindow({
            title: "Delete confirmation",
            modal: true,
            visible: false,
            resizable: false,
            width: 300
        }).data("kendoWindow");
    });
    function DeleteFile(id) {
        $.ajax({
            url: "@Url.Action("DeleteDocdata", "EntityMaster")?Id=" +id,
            method: "DELETE",
        success: function (data) {
            $('#AnnualKendoGrid').data('kendoGrid').dataSource.read();
            $('#AnnualKendoGrid').data('kendoGrid').refresh();
        }
    });
    }
    function DeleteAnnualdata(e)
    {
        e.preventDefault();

        var grid = this;
        var row = $(e.currentTarget).closest("tr");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.DocumentID;
        wnd.center().open();
        $("#yes").click(function () {
            DeleteFile(id)
            grid.removeRow(row);
            wnd.close();
        });

        $("#no").click(function () {
            wnd.close();
        });

    }

    function toolTipContent_gridNew(e) {
        return e.target.context.innerText;
    }
    function toolTipContent(e) {
        return "download";
    }

    function toolTipContentforDelete(e) {
        return "View";
    }
    function toolTipContentforDelete(e) {
        return "delete";
    }

</script>

@(Html.Kendo().Window().Name("wndDocViewer").Title("Viewer").Visible(false).Modal(true).Draggable(true).Pinned(true).Scrollable(true))
<div class="row colpadding0 mt30">
    <div class="col-md-12 colpadding0">
        @(Html.Kendo().Tooltip()
        .For("#AnnualKendoGrid")
        .Filter("td:nth-child(4)")
        .Position(TooltipPosition.Bottom)
        .ContentHandler("toolTipContent_gridNew")
        //.Width(450)
        .AutoHide(true) )
        @(Html.Kendo().Grid<BM_ManegmentServices.Data.BM_SP_GetEntityDocuments_Result>()
                    .Name("AnnualKendoGrid")
                    .Columns(columns =>
                    {
                        columns.Bound(o => o.DocumentID).Visible(false);
                        columns.Bound(o => o.Id).Visible(false);
                        columns.Bound(o => o.License_RegNumber).Title("Serial No.").Width("10%").HtmlAttributes(new { }).Filterable(ftb => ftb.Multi(true).Search(true));
                        columns.Bound(o => o.BMDate_LastRenew).Format("{0:dd-MMM-yyyy}").Width("10%").Title("Date of AGM").HtmlAttributes(new { }).Filterable(ftb => ftb.Multi(true).Search(true));
                        columns.Bound(o => o.FYText).Width("10%").Title("FY").HtmlAttributes(new { }).Filterable(ftb => ftb.Multi(true).Search(true));
                        columns.Bound(o => o.Description).Width("10%").Title("Venue").Sortable(true).HtmlAttributes(new { }).Filterable(ftb => ftb.Multi(true).Search(true));
                        columns.Bound(o => o.StartTimeAGM).Width("10%").Title("Start Time").HtmlAttributes(new { }).Filterable(ftb => ftb.Multi(true).Search(true));
                        columns.Bound(o => o.EndTimeAGM).Width("10%").Title("End Time").HtmlAttributes(new { }).Filterable(ftb => ftb.Multi(true).Search(true));
                        columns.Command(commnd =>
                        {
                            commnd.Custom("Download").Click("DownloadAnnualdata").HtmlAttributes(new { @class = "k-grid-download" });
                            commnd.Custom("View").Click("ViewAnnualdata").HtmlAttributes(new { @class = "k-grid-view" });
                            commnd.Custom("Delete").Click("DeleteAnnualdata").HtmlAttributes(new { @class = "k-grid-delete" });
                        }).Title("Action").Width("10%").HeaderHtmlAttributes(new { style = "text-align:center; border-width: 0px 0px 0px 0px;" }).HtmlAttributes(new { style = "text-align: center;" });
                    }).EnableCustomBinding(true)
        .Events(e => e.DataBound("onRowBound"))
        .Navigatable()
        .Pageable(pageable => pageable
        .Refresh(false)
        .PageSizes(true)
        .ButtonCount(5))
        .Scrollable()
        .Filterable()
        .Sortable()
        .Reorderable(reorderable => reorderable.Columns(true))
        .Resizable(resizable => resizable.Columns(true))
        .ColumnMenu(col => col.Columns(false))
        .DataSource(
                dataSource => dataSource
                .Ajax()
                .PageSize(10)
                .ServerOperation(false)
                .Model(model =>
                {
                    model.Id(o => o.DocumentID);
                })
                .Read(read => read.Action("GetEntityDocuments", "EntityMaster").Data("additionalAnnual").Type(HttpVerbs.Get))
                ).HtmlAttributes(new { @style = "width:100%" })
        )
    </div>
</div>
@(Html.Kendo().Tooltip()
        .For("#AnnualKendoGrid")
        .Filter(".k-grid-delete")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
         .Content("Delete")
        )
@(Html.Kendo().Tooltip()
        .For("#AnnualKendoGrid")
        .Filter(".k-grid-download")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
         .Content("Download")
        )
@(Html.Kendo().Tooltip()
        .For("#AnnualKendoGrid")
        .Filter(".k-grid-view")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
         .Content("View")
        )