﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.BankAccDetails_VM

@{
    ViewBag.Title = "Bank Account Details";
}

<script>
    var initialLoad = true;
    function onRowBoundbank(e) {

        var grid = $("#gridbank").data("kendoGrid");

        GetICons();
        getGridborder(grid);

    }

</script>
<div id="modalWindow" style="display:none">
    <h5>Are you sure?</h5>
    <button id="yes" class="k-button">Yes</button>
    <button id="no" class="k-button">No</button>
</div>
<script>

    function toolTipContent(e) {

        return e.target.context.innerText;
    }

    function toolTipContent(e) {


        return "Edit";
    }

    function toolTipContentforDelete(e) {

        return "Close";
    }
</script>

<script>
    function getEntityDataBankDetails(){
        return { "entityId" : '@Model.EntityId'};
    }

    $("#CreateNewAccount").click(function (e) {
        debugger;
        EditNewBank(e);
    });

    function EditNewBank(e) {
        debugger;
        $("#wndAdd").attr("style", "min-height:400px;");

        $("#wndAdd").kendoWindow({
            title: "Bank Details",
            modal: true
        });

        if (e.currentTarget.innerText != "New") {
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            /*var direction = "BankAccDetails/AddNewDetails?Id=" + dataItem.Id;*/
            var direction = "@Url.Action("AddNewDetails", "BankAccDetails")" + "?&Id=" + dataItem.Id  +"&EntityId="+@Model.EntityId ;
            var wnd = $("#wndAdd").data("kendoWindow");
            var opts = wnd.options;
        }
        else {
            /*var direction = "BankAccDetails/AddNewDetails?Id=" + 0;*/
            var direction = "@Url.Action("AddNewDetails", "BankAccDetails")" + "?&Id=" + 0 +"&EntityId="+@Model.EntityId ;
            var wnd = $("#wndAdd").data("kendoWindow");
            var opts = wnd.options;
        }
        //kendo.ui.progress(wnd.element, true);
        // first click of the button - will automatically fetch the contentUrl
        wnd = $("#wndAdd").kendoWindow({
            // title: "Template",
            actions: ["Close"],
            content: direction,
            width: "40%",
           // height: "40%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () {
                //OnOpen();
                OnOpen();
            },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                $('#gridbank').data('kendoGrid').dataSource.read();
                $('#gridbank').data('kendoGrid').refresh();

            }
        }).data("kendoWindow");
        // }
        opts.width = "60%";
        //opts.height = "400px";
        wnd.setOptions(opts);
        wnd.center();
        wnd.refresh(direction);
        wnd.open();

    }
    //added by Ruchi

    function adjustSize() {
        // if ($(window).width() < 500 || $(window).height() < 400) {
        //   this.maximize();
        // }
    }

    function OnRefresh() {

        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function OnOpen(e) {

        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }

    function OnOpene(e) {

        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }

    var wnd;
    $(document).ready(function () {
        wnd = $("#modalWindow").kendoWindow({
            title: "Close confirmation",
            modal: true,
            visible: false,
            resizable: false,
            width: 300
        }).data("kendoWindow");

        //var breadCrumbData = [
        //    {
        //        displayText: "Master",
        //        navigateUrl: "#",
        //    }, {
        //        displayText: "Bank Details",
        //        navigateUrl: "#",
        //    }
        //];
        //setBreadCrumb(breadCrumbData);
    });


    function deleteuserassignment(Id) {
        $.ajax({
            url: "/api/BankDetails/DeleteAdditionalBankDetails?Id=" + Id,
            method: "DELETE",
            success: function () {
                alert("Delete Successfully");
                $('#gridbank').data('kendoGrid').dataSource.read();
                $('#gridbank').data('kendoGrid').refresh();
            }
        });
    }

    function Deleteassignment(e) {
        e.preventDefault();

        var grid = this;
        var row = $(e.currentTarget).closest("tr");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var Id = dataItem.Id;

        wnd.center().open();
        $("#yes").click(function () {
            deleteuserassignment(Id)
            grid.removeRow(row);
            wnd.close();
        });

        $("#no").click(function () {
            wnd.close();
        });
    }
</script>

<!-- Filter Script-->
<script>
    function filterChange() {
        var filter = { logic: 'or', filters: [] };

        var t = $('#filter');
        if (t.val() != "") {
            filter.filters.push({ logic: "or", field: "AccNo", operator: "contains", value: t.val() });

            filter.filters.push({ logic: "or", field: "ifsc", operator: "contains", value: t.val() });
        }

        if (filter != null) {
            $("#clearFilter").show();
        }
        else {
            $("#clearFilter").hide();
        }

        grid = $("#gridbank").data("kendoGrid");
        grid.dataSource.filter(filter);
    }

    function clearfilter(e) {

        var txtStartPeriod = $("#filter").val();

        if (txtStartPeriod != null && txtStartPeriod != undefined) {
            $("#filter").val("");
        }

        $('#clearFilter').css('display', 'none');

        $("#gridbank").data("kendoGrid").dataSource.filter({});
    }
</script>

<script>
    $('#filter').on('input', function (e) {
        filterChange();
    });
</script>


<div class="row colpadding0" style="height:450px">
    <div class="col-md-12 colpadding0">

        <div class="row colpadding0">
            <div class="col-md-11 colpadding0">
                <input id='filter' placeholder="Search by AccNo./IFSC" class='k-textbox hidden' style="width: 52%" autocomplete="off" />
            </div>
            <div class="col-md-1 colpadding0 text-right">
                <button class="btn btn-primary" id="CreateNewAccount" title="Add New"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</button>
            </div>
        </div>


        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">

                @(Html.Kendo().Grid<BM_ManegmentServices.VM.BankAccDetails_VM>()
                .Name("gridbank")
               .Columns(columns =>
               {
                   columns.Bound(o => o.Id).Visible(false);
                   columns.Bound(o => o.EntityId).Visible(false);
                   columns.Bound(o => o.BankName).Title("Name of the Bank").Width("10%").Sortable(true);
                   columns.Bound(o => o.AccNo).Title("Account No.").Width("10%").Sortable(true).Filterable(ftb => ftb.Multi(true).Search(true));
                   columns.Bound(o => o.AccTypeId).Title("Type of Account").Width("10%").Visible(false);
                   columns.Bound(o => o.AccType).Title("Type of Account").Width("10%").Filterable(ftb => ftb.Multi(true).Search(true));
                   columns.Bound(o => o.Ifsc).Title("IFSC").Width("10%").Filterable(ftb => ftb.Multi(true).Search(true));
                   columns.Bound(o => o.Address).Title("Address").Hidden().Width("10%").Filterable(ftb => ftb.Multi(true).Search(true));
                   columns.Bound(o => o.OpenDate).Title("Opening Date").Width("5%").ClientTemplate("#= OpenDate == null ? '' : kendo.toString(OpenDate, \"MMM dd, yyyy\")#").Filterable(ftb => ftb.Multi(true).Search(true));
                   columns.Bound(o => o.CloseDate).Title("Closing Date").Width("5%").ClientTemplate("#= CloseDate == null ? '' : kendo.toString(CloseDate, \"MMM dd, yyyy\")#").Filterable(ftb => ftb.Multi(true).Search(true));
                   columns.Bound(o => o.IsActive).Title("Status").Width("5%").ClientTemplate("#= Status ? 'Active' : 'InActive' #").Filterable(ftb => ftb.Multi(true).Search(true));
                   columns.Command(command =>
                   {
                       command.Custom("Edit").Click("EditNewBank").HtmlAttributes(new { @class = "k-grid-edit hoverCircle" });
                       command.Custom("delete").Click("Deleteassignment").HtmlAttributes(new { @class = "k-grid-cancel hoverCircle" });
                      
                   }).Title("Action").Width("5%");
               })
                .EnableCustomBinding(true)
                .Sortable()
                .ColumnMenu()
                .Filterable()
                .Events(e => e.DataBound("onRowBoundbank"))
                .Navigatable()
                .Pageable(pageable => pageable
                .Refresh(false)
                .PageSizes(true)
                .ButtonCount(5))
                .DataSource(dataSource => dataSource
                .WebApi()
                .PageSize(5)
                .ServerOperation(false)
                .Model(model =>
                {
                    model.Id(o => o.Id);
                })
                .Read(read => read.Url("/api/BankDetails/GetBankDetails").Type(HttpVerbs.Get).Data("getEntityDataBankDetails"))))
            </div>
        </div>
    </div>
</div>


@(Html.Kendo().Window()
    .Name("wndAdd")
    .Visible(false)
    .Modal(true))
@(Html.Kendo().Tooltip()
        .For("#gridbank")
        .Filter(".k-grid-Edit")
        .ContentHandler("toolTipContent")
        .Position(TooltipPosition.Top)
        .Width(30)
        .AutoHide(true) )
@(Html.Kendo().Tooltip()
        .For("#gridbank")
        .Filter(".k-grid-cancel")
        .ContentHandler("toolTipContentforDelete")
        .Position(TooltipPosition.Top)
        .Width(45)
        .AutoHide(true) )
