﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.EntityBranchDetailsVM
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;

<style>
    #btnaddBranch {
        float: right;
    }
</style>
<script>
    function EditBranch(e)
    {

    }

    function onRowBound()
    {
        GetICons();
        var grid = $("#gridKendobranchdetils").data("kendoGrid");
        var gridData = grid.dataSource.view();
        getGridborder(grid);
    }

    $("#btnaddBranch").click(function (e) {
        e.preventDefault();

        CreateNew(0);

    });

    function EditBranch(e)
    {
        debugger;
        var item = $("#gridKendobranchdetils").data("kendoGrid").dataItem($(e.currentTarget).closest("tr"));
        var branchID = item.BranchID;

        CreateNew(branchID);
    }

     function AddCompliance(e) {

        EditCompliance();
    }

    function CreateNew(branchID) {
         debugger;

        @*if (e != "" && e != undefined) {
           // var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        }else {
            $('#divBranch').show();
            $('#IframeMyCompliances').attr('src', "@Url.Content("~/Areas_Secretarial/EntityBranchDetails.aspx")");
        }*@

        $('#divBranch').show();
        $('#IframeMyCompliances').attr('src', "@Url.Content("~/Areas_Secretarial/EntityBranchDetails.aspx")?BranchID=" + branchID + "&ParentID=" + @Model.BranchID);
        //$('#IframeMyCompliances').attr('src', "@Url.Content("~/Areas_Secretarial/AddEditCustomerBranch.aspx")?CustomerID=" + "@AuthenticationHelper.CustomerID" + "&Mode=" + 0 + "&BranchID="+0);

        var myWindowAdv = $("#divBranch");
        
        var wnd = myWindowAdv.kendoWindow({
            pinned: true,
            width: "76%",
            //height: "80%",

            title: "Add/Edit Branch",
            visible: false,
            modal: true,
            actions: ["Close"],
            //close: onClose
            refresh: function () { this.center(); OnRefreshbranch(); },
            close: function (e) {
                //$(this.element).empty();
                $('#gridKendobranchdetils').data('kendoGrid').dataSource.read();
                $('#gridKendobranchdetils').data('kendoGrid').refresh();
                //$(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            //close: onClose,
            open: function (e) {
                OnOpenBranch();
                $(this.element).closest(".k-window").css("position", "fixed")
                //$(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        //wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

    function OnOpenBranch(e) {

        var wndcomplience = $("#divBranch").data("kendoWindow");
        kendo.ui.progress(wndcomplience.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }
    function onClose() {
        $(".k-overlay").attr('style', "opacity:0.5; display:none;");
    }

    function OnRefreshbranch() {

        var wndcomplience = $("#divBranch").data("kendoWindow");
        kendo.ui.progress(wndcomplience.element, false);
    }
    //$(document).ready(function()
    //{
    //    $("#divBranch").hide();
    //})
</script>


<div class="row colpadding0" style="height:450px">
    <div class="col-md-12 colpadding0">

        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                <button class="btn btn-primary" href="/#" id="btnaddBranch" title="Add New"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</button>
            </div>
        </div>

        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">
                @(Html.Kendo().Grid<BM_ManegmentServices.VM.EntityBranchDetailsVM>()
                    .Name("gridKendobranchdetils")
                    .Columns(columns =>
                    {
                        columns.Bound(o => o.BranchID).Visible(false);
                        columns.Bound(o => o.EntityId).Visible(false);
                        columns.Bound(o => o.location).Width("20%").Title("Branch/Location").HtmlAttributes(new { }).Filterable(ftb => ftb.Multi(true).Search(true));
                        columns.Bound(o => o.Type).Title("Type").Width("10%").HtmlAttributes(new { }).Filterable(ftb => ftb.Multi(true).Search(true));
                        columns.Bound(o => o.ContactPersone).Width("10%").Title("Contact Person").HtmlAttributes(new { }).Filterable(ftb => ftb.Multi(true).Search(true));
                        columns.Bound(o => o.ContactNo).Width("10%").Title("Contact Person No.").HtmlAttributes(new { }).Filterable(ftb => ftb.Multi(true).Search(true));
                        columns.Bound(o => o.EmailId).Width("10%").Title("Email").HtmlAttributes(new { }).Filterable(ftb => ftb.Multi(true).Search(true));
                        columns.Bound(o => o.Address).Width("20%").Title("Address").HtmlAttributes(new { }).Filterable(ftb => ftb.Multi(true).Search(true));
                        columns.Bound(o => o.Status).Width("5%").Title("Status").HtmlAttributes(new { }).Filterable(ftb => ftb.Multi(true).Search(true));
                        columns.Command(commnd =>
                        {
                            commnd.Custom("Edit").Click("EditBranch").HtmlAttributes(new { @class = "k-grid-edit hoverCircle" });
                        }).Title("Action").Width("5%").HeaderHtmlAttributes(new { style = "text-align:center; border-width: 0px 0px 0px 0px;" }).HtmlAttributes(new { style = "text-align: center;" });
                    }).EnableCustomBinding(true)
                    .Events(e => e.DataBound("onRowBound"))
                    .Navigatable()
                    .Pageable(pageable => pageable
                    .Refresh(false)
                    .PageSizes(true)
                    .ButtonCount(5))
                    .Filterable()
                    .Sortable()
                    .Reorderable(reorderable => reorderable.Columns(true))
                    .Resizable(resizable => resizable.Columns(true))
                    .ColumnMenu(col => col.Columns(false))
                    .DataSource(
                            dataSource => dataSource
                            .WebApi()
                            .PageSize(10)
                            .ServerOperation(false)
                            .Model(model =>
                            {
                                model.Id(o => o.BranchID);
                            })
                            .Read(read => read.Url("/api/EntityMasterAPI/GetEntityBranchDetails?EntityId="+Model.BranchID).Type(HttpVerbs.Get))
                            ).HtmlAttributes(new { @style = "width:100%" }))
            </div>
        </div>

    </div>
</div>
<div id="divBranch">
    <iframe id="IframeMyCompliances" src="about:blank" frameborder="0" height="450px" width="100%"></iframe>
</div>

