﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.ChargeDetails_VM
@{
    ViewBag.Title = "ChargeDetails :: Masters";
}
<script>
    function getEntityDataChargeDetails(){
        return { "entityId" : '@Model.EntityId'};
    }

    var initialLoad = true;
    function onRowBoundCharge(e) {
        var grid = $("#gridCharge").data("kendoGrid");

        GetICons();
        getGridborder(grid);
    }
</script>
<div id="modalWindow" style="display:none;">
    <h5>Are you sure?</h5>
    <button id="yes" class="k-button">Yes</button>
    <button id="no" class="k-button">No</button>
</div>
<script>

    function toolTipContent(e) {

        return e.target.context.innerText;
    }

    function toolTipContent(e) {


        return "Edit";
    }

    function toolTipContentforDelete(e) {

        return "Delete";
    }
    function toolTipContentforUpload(e) {

        return e.target.context.innerText;
    }
    function toolTipContentforUpload(e) {

        return "Upload";
    }
    function toolTipContentforUpload(e) {

        return "View";
    }
</script>
<script>
    $("#CreateNewChargeDetails").click(function (e) {

        EditNewChargeDetails(e);
    });

    function EditNewChargeDetails(e) {

        //$("#wndAdd").attr("style", "min-height:100px;");

        $("#wndAdd").kendoWindow({
            title: "Add Charge Details",
            modal: true
        });

        if (e.currentTarget.innerText != "New") {
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            var direction = "@Url.Action("AddNewChargeDetails", "ChargeDetails")" + "?&Id=" + dataItem.ChargeId  +"&EntityId="+@Model.EntityId ;

            var wnd = $("#wndAdd").data("kendoWindow");
            var opts = wnd.options;
        }
        else {
            var direction = "@Url.Action("AddNewChargeDetails", "ChargeDetails")" + "?&Id=" +0+"&EntityId="+@Model.EntityId ;
            var wnd = $("#wndAdd").data("kendoWindow");
            var opts = wnd.options;
        }
        wnd = $("#wndAdd").kendoWindow({
            // title: "Template",
            actions: ["Close"],
            content: direction,
            width: "50%",
            height: "60%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () {
                //OnOpen();
                OnOpen();
            },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                //$('#gridCharge').data('kendoGrid').dataSource.read();
                //$('#gridCharge').data('kendoGrid').refresh();
                $('#gridChargeDetails').data('kendoGrid').dataSource.read();
                $('#gridChargeDetails').data('kendoGrid').refresh();

            }
        }).data("kendoWindow");
        opts.width = "90%";
        opts.height = "70%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.refresh(direction);
        wnd.open();

    }
    $("#UplaodChargeDetails").click(function (e) {

        UploadCharge(null);
    });

</script>

<script>
    function openPopupDetails(t, d) {
        OnOpen('a');
        settracknew('Charge Details', 'Action', 'AddNew', '');
        var direction = d;
        $("#wndAdd").kendoWindow({
            title: t,
            modal: true
        });

        var wnd = $("#wndAdd").data("kendoWindow");
        var opts = wnd.options;
        // if (!wnd) {
        wnd = $("#wndAdd").kendoWindow({
            title: "Add New - Committee",
            actions: ["Close"],
            //  content: direction,
            width: "45%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefresh(); },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function () {
                OnOpen();
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        // }
        wnd.modal = true;
        opts.width = "60%";
        wnd.setOptions(opts);
        wnd.refresh(direction);
        wnd.center();
        wnd.open();
    }
    function adjustSize() {
        // if ($(window).width() < 500 || $(window).height() < 400) {
        //   this.maximize();
        // }
    }

    function OnRefresh() {

        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function OnOpen(e) {

        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }

    function OnOpene(e) {

        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }
    var wnd;
    $(document).ready(function () {
        wnd = $("#modalWindow").kendoWindow({
            title: "Delete confirmation",
            modal: true,
            visible: false,
            resizable: false,
            width: 300
        }).data("kendoWindow");
    });

    function deleteCharge(Id) {
        $.ajax({
            url: "/api/ChargeDetails/DeleteChargeDetails?Id=" + Id,
            method: "DELETE",
            success: function () {
                alert("Selected Record Deleted Successfully");
                $('#gridKendoadditionCompdata').data('kendoGrid').dataSource.read();
                $('#gridKendoadditionCompdata').data('kendoGrid').refresh();
            }
        });
    }

    function DeleteChargeDetails(e) {
        e.preventDefault();

        var grid = this;
        var row = $(e.currentTarget).closest("tr");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var Id = dataItem.ChargeId;

        wnd.center().open();
        $("#yes").click(function () {
            deleteCharge(Id)
            grid.removeRow(row);
            wnd.close();
        });
    }


</script>

<script>
    function beginChargeEFormUpload() {
        var wnd = $("#wndFileUpload").data("kendoWindow");

        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }
    function completedChargeEFormUpload() {
        var wnd = $("#wndFileUpload").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
        $(".k-overlay").attr('style', "opacity:0.5; display:none;");
    }
</script>

<script>
    function UploadChargeDocument(e) {
        $("#wndUploadCharge").kendoWindow({
            title: "Upload Charge",
        });
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var direction = "@Url.Action("Uploadchargedocument", "ChargeDetails")" + "?ChargeHeaderId=" + dataItem.ChargeHeaderId + "&EntityId=" +@Model.EntityId+ "&ChargeDetailId=" + dataItem.ChargeId + "&ParticularChargeId=" + dataItem.PId;

        var wnd = $("#wndUploadCharge").data("kendoWindow");
            var opts = wnd.options;
       // }

        wnd = $("#wndUploadCharge").kendoWindow({

            content: direction,
            width: "40%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
            refresh: function () {
                this.center();
                //OnRefresheupload();
            },
            close: function (e) {
                $(this.element).empty();
                $('#gridCharge').data('kendoGrid').dataSource.read();
                $('#gridCharge').data('kendoGrid').refresh();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {

                //OnOpenupload();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "45%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.refresh(direction);
        wnd.open();
    }
    function UploadCharge(e) {

        /*OnOpen('a');*/
        $("#wndFileUpload").kendoWindow({
            title: "Upload Charge",
        });
        //if (e.currentTarget.innerText == "Upload") {
            //var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            //var direction = "@Url.Action("UploadChargePopup", "ChargeDetails")" + "?&Id=" + dataItem.ChargeId +"&entityId="+@Model.EntityId ;
        //var direction = "@Url.Action("UploadChargePopup", "ChargeDetails")"+"?entityId="+@Model.EntityId ;
        var direction = "@Url.Action("UploadFileopenPopUP", "ChargeDetails")"+"?entityId="+@Model.EntityId ;

            var wnd = $("#wndFileUpload").data("kendoWindow");
            var opts = wnd.options;
       // }

        wnd = $("#wndFileUpload").kendoWindow({

            content: direction,
            width: "30%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefresheupload(); },
            close: function (e) {
                $(this.element).empty();
                $('#gridCharge').data('kendoGrid').dataSource.read();
                $('#gridCharge').data('kendoGrid').refresh();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {

                OnOpenupload();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "40%";
        opts.height = "40%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.refresh(direction);
        wnd.open();

        function OnOpenupload() {

        }
        function OnRefresheupload() {

        }
    }

    function DownloadChargeDocument(){
        window.location.href = "@Url.Action("DownloadSampleFormateforChargeMaster", "ChargeDetails")";
    }

    function Showdocumentgrid(e)
    {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var direction = "@Url.Action("GetUploaddocuments", "ChargeDetails")" + "?ChargeHeaderId=" + dataItem.ChargeHeaderId + "&EntityId=" +@Model.EntityId+ "&ChargeDetailId=" + dataItem.ChargeId;

        var wnd = $("#wndUploadEntityDocument").data("kendoWindow");
        var opts = wnd.options;
        // }

        wnd = $("#wndUploadEntityDocument").kendoWindow({

            content: direction,
            width: "50%",
            height: "60",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
            refresh: function () {
                this.center();
                //OnRefresheupload();
            },
            close: function (e) {
                $(this.element).empty();
                $('#gridCharge').data('kendoGrid').dataSource.read();
                $('#gridCharge').data('kendoGrid').refresh();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {

                //OnOpenupload();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "80%";
        opts.height = "100%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
        return {
            }
    }
     function Showdocumentdatagrid() {
        return {
            EntityId: '@Model.EntityId',
            Chargedetailid: '@Model.ChargeDetailId',
            ParticularChargeId: '@Model.PId'
     };
 }

</script>
<!-- Charge Details Grid-->
<script>
    //wndChargeDetails
    function openChargeDetailsWnd(e) {

        settracknew('Charge Details', 'Action', 'ViewChargeDetails', '');

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        var direction = "@Url.Action("GetChargeDetails", "ChargeDetails")" +"?headerId="+dataItem.ChargeHeaderId;
        $("#wndChargeDetails").kendoWindow({
            title: "Details Charge ID : " +dataItem.ChargeId,
            modal: true
        });

        var wnd = $("#wndChargeDetails").data("kendoWindow");
        var opts = wnd.options;
        wnd = $("#wndChargeDetails").kendoWindow({
            title: "Add New - Committee",
            actions: ["Close"],
            //  content: direction,
            width: "90%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefresh(); },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function () {
                OnOpen();
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        wnd.modal = true;
        opts.width = "90%";
        opts.height = "80%";
        wnd.setOptions(opts);
        wnd.refresh(direction);
        wnd.center();
        wnd.open();
    }
</script>
<style>
    #wndAdd {
        /*background: #E1DFDF;*/
        background: #F5F5F5;
        margin-top: 0%;
        height: 100%;
    }
</style>

<!-- Filter script functions-->
<script>
    $('#filterCharge').on('input', function (e) {

        var grid = $('#gridCharge').data('kendoGrid');
        var columns = grid.columns;

        var filter = { logic: 'or', filters: [] };
        columns.forEach(function (x) {
            if (x.field) {
                var type = grid.dataSource.options.schema.model.fields[x.field].type;
                if (type == 'string') {
                    filter.filters.push({
                        field: x.field,
                        operator: 'contains',
                        value: e.target.value
                    })
                }
                else if (type == 'number') {
                    if (isNumeric(e.target.value)) {
                        filter.filters.push({
                            field: x.field,
                            operator: 'eq',
                            value: e.target.value
                        });
                    }

                } else if (type == 'boolean' && getBoolean(e.target.value) !== null) {
                    var bool = getBoolean(e.target.value);
                    filter.filters.push({
                        field: x.field,
                        operator: 'eq',
                        value: bool
                    });
                }
            }
        });
        grid.dataSource.filter(filter);
    });
</script>
<div class="row colpadding0" style="height:450px">
    <div class="col-md-12 colpadding0">
        <div class="row colpadding0 master-Headre">
            <div class="col-md-12  colpadding0 vertical-center">
                <div class="col-md-9">
                    <input id='filterCharge' placeholder="" class='k-textbox' style="width: 52%" autocomplete="off" />
                </div>

                <div class="col-md-1 colpadding0">
                    <button type="button" class="btn btn-default btn-sm ClearFilterbtn" onclick="clearfilter()" id="clearFilter" style="position: fixed;display:none">
                        <img src="~/Areas/BM_Management/img/Vector.png" />Clear
                    </button>
                </div>


                <div class="col-md-1 colpadding0">
                    <button class="btn btn-primary hidden" id="CreateNewChargeDetails" title="Add New"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</button>
                </div>
                <div class="col-md-1 colpadding0 pull-right">

                    <button class="btn btn-primary " id="UplaodChargeDetails" title="Upload"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>Upload</button>

                </div>


            </div>
        </div>

        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">
                @Html.AntiForgeryToken()
                @(Html.Kendo().Grid<BM_ManegmentServices.VM.ChargeHeaderVM>()
                .Name("gridCharge")
               .Columns(columns =>
               {
                   columns.Bound(o => o.ChargeId).Title("Charge ID").Width("5%").Sortable(true).HtmlAttributes(new { });
                   columns.Bound(o => o.ChargeHolder).Title("Name of Holder").Width("5%");
                   columns.Bound(o => o.ChargeAmount).Title("Charge Amount").Width("10%").Sortable(true).HtmlAttributes(new { });
                   columns.Bound(o => o.CreationDate).Title("Creation Date").Width("10%").ClientTemplate("#= CreationDate == null ? '' : kendo.toString(CreationDate, \"dd/MM/yyyy\")#").Filterable(ftb => ftb.Multi(true).Search(true));
                   columns.Bound(o => o.ModificationDate).Title("Modification Date").Width("10%").ClientTemplate("#= ModificationDate == null ? '' : kendo.toString(ModificationDate, \"dd/MM/yyyy\")#").Filterable(ftb => ftb.Multi(true).Search(true));
                   columns.Bound(o => o.SatisficationDate).Title("Satisfication Date").Width("10%").ClientTemplate("#= SatisficationDate == null ? '' : kendo.toString(SatisficationDate, \"dd/MM/yyyy\")#").Filterable(ftb => ftb.Multi(true).Search(true));
                   columns.Bound(o => o.Status).Title("Status").Width("10%").ClientTemplate("#= StatusId != 3 ? 'Open' : 'Close' #").Filterable(ftb => ftb.Multi(true).Search(true));
                   columns.Command(command =>
                   {
                       //command.Custom("Edit").Click("EditNewChargeDetails").HtmlAttributes(new { @class = "k-grid-view hoverCircle" });
                       command.Custom("view").Click("openChargeDetailsWnd").HtmlAttributes(new { @class = "k-grid-view" });
                       //command.Custom("delete").Click("DeleteChargeDetails").HtmlAttributes(new { @class = "k-grid-delete hoverCircle" });
                       //command.Custom("Upload").Click("UploadCharge").HtmlAttributes(new { @class = "k-grid-document hoverCircle" });
                   }).Title("Action").Width("10%");
               })
                .EnableCustomBinding(true)
                .Sortable()
                .Events(e => e.DataBound("onRowBoundCharge"))
                .Navigatable()
                .Pageable(pageable => pageable
                .Refresh(false)
                .PageSizes(true)
                .ButtonCount(5))
                .DataSource(dataSource => dataSource
                .WebApi()
                .PageSize(10)
                .ServerOperation(false)
                .Model(model =>
                {
                    model.Id(o => o.ChargeHeaderId);
                })
                .Read(read => read.Url("/api/ChargeDetails/GetAllChargeIndex").Type(HttpVerbs.Get).Data("getEntityDataChargeDetails")))
                .HtmlAttributes(new { @style = "width:100%" }))
            </div>
        </div>
    </div>
</div>

@(Html.Kendo().Window()
    .Name("wndAdd")
    .Visible(false)
    .Modal(true))
@(Html.Kendo().Window()
        .Name("wndFileUpload")
        .Title("AddEntity")
        .Visible(false)
        .Modal(true))
@(Html.Kendo().Tooltip()
        .For("#gridCharge")
        .Filter(".k-grid-Edit")
        .ContentHandler("toolTipContent")
        .Position(TooltipPosition.Top)
        .Width(30)
        .AutoHide(true) )
@(Html.Kendo().Tooltip()
        .For("#gridCharge")
        .Filter(".k-grid-delete")
        .ContentHandler("toolTipContentforDelete")
        .Position(TooltipPosition.Top)
        .Width(45)
        .AutoHide(true) )
@(Html.Kendo().Tooltip()
        .For("#gridCharge")
        .Filter(".k-grid-upload")
        .ContentHandler("toolTipContentforUpload")
        .Position(TooltipPosition.Top)
        .Width(45)
        .AutoHide(true) )
@(Html.Kendo().Tooltip()
        .For("#gridCharge")
        .Filter(".k-grid-view")
        .ContentHandler("toolTipContentforUpload")
        .Position(TooltipPosition.Top)
        .Width(45)
        .AutoHide(true) )
@(Html.Kendo().Window()
    .Name("wndChargeUpload")
    .Visible(false)
    .Modal(true))

@(Html.Kendo().Window().Name("wndChargeDetails").Visible(false).Modal(true))
@(Html.Kendo().Window()
        .Name("wndUploadCharge")
        .Title("AddEntity")
        .Visible(false)
        .Modal(true))
@(Html.Kendo().Window()
        .Name("wndDocViewer")
        .Title("Viewer")
        .Visible(false)
        .Modal(true)
        .Draggable(true)
        .Pinned(true)
        .Scrollable(true))
@(Html.Kendo().Window()
        .Name("wndEntityDocument")
        .Title("Document")
        .Visible(false)
        .Modal(true)
        .Draggable(true)
        .Pinned(true)
        .Scrollable(true))
@(Html.Kendo().Window()
        .Name("wndUploadEntityDocument")
        .Title("Document")
        .Visible(false)
        .Modal(true)
        .Draggable(true)
        .Pinned(true)
        .Scrollable(true))
