﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.EntityMasterVM
<div class="row colpadding0">
    <div class="col-md-12 colpadding0">
        <div class="tab" role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" id="mytab1" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">Entity Details</a></li>
                <li role="presentation" id="mytab2"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">Documents</a></li>
                @if (Model.IsBranch)
                {
                    <li role="presentation" id="mytab3"><a href="#Section3" aria-controls="Branch" role="tab" data-toggle="tab">Branch Details</a></li>
                }
                <li role="presentation" id="mytab4"><a href="#Section4" aria-controls="Branch" role="tab" data-toggle="tab">Bank Details</a></li>
                @if (Model.Entity_Type != 3)
                {
                    <li role="presentation" id="mytab5"><a href="#Section5" aria-controls="Branch" role="tab" data-toggle="tab">Charge Details</a></li>
                }
                <li role="presentation" id="mytab6"><a href="#Section6" aria-controls="Branch" role="tab" data-toggle="tab">Investment/Loan</a></li>
            </ul>

            <div class="tab-content tabs">
                <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                    @Html.Partial("_AddEntityMaster", Model)
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Section2">
                    @Html.Partial("_EntityDocuments", new BM_ManegmentServices.VM.EntityDocumentVM() { EntityId = Model.Id,EntityType=Model.Entity_Type })
                </div>
                @if (Model.IsBranch)
                {
                    <div role="tabpanel" class="tab-pane fade" id="Section3">
                        @Html.Partial("_BranchDetails", new BM_ManegmentServices.VM.EntityBranchDetailsVM() { EntityId = Model.Id, BranchID = Model.customerBranchID })
                    </div>
                }

                <div role="tabpanel" class="tab-pane fade" id="Section4">
                    @Html.Partial("_BankDetails", new BM_ManegmentServices.VM.BankAccDetails_VM() { EntityId = Model.Id })
                </div>

                @if (Model.Entity_Type != 3)
                {
                    <div role="tabpanel" class="tab-pane fade" id="Section5">
                        @Html.Partial("_ChargeView", new BM_ManegmentServices.VM.ChargeDetails_VM() { EntityId = Model.Id })
                    </div>
                }
                <div role="tabpanel" class="tab-pane fade" id="Section6">
                    @Html.Partial("_MBP2Details", Model.Id )
                </div>

            </div>
        </div>
    </div>
</div>
