﻿@using Kendo.Mvc.UI;
@model int

<style>
    /*#gridMBP2Trans th.k-header{
  	white-space: normal !important;
  }

    th.k-header{
  	white-space: normal !important;
  }*/
</style>
<script>
    function getEntityDataMBP2Details(){
        return { "entityId" : '@Model', "view" : 'Transaction'};
    }
    var initialLoad = true;
    function onRowBoundMBP2(e) {
        var grid = $("#gridMBP2Trans").data("kendoGrid");
        GetICons();
        getGridborder(grid);
        $(".k-grid-upload").removeClass("k-button k-button-icontext");
        $(".k-grid-upload").html("<span class=''></span>").addClass("k-grid-button");
        $(".k-grid-upload").find("span").append("<img src='/Areas/BM_Management/img/upload.png'/>");
    }
    function DownloadMBP2Excel(){
        window.location.href = "@Url.Action("DownloadSampleFormateofMBP2Excel", "MBP2Transaction")";
    }

    function toolTipContent(e) {
        return "Edit";
    }

    function toolTipContentforDelete(e) {
        return "document";
    }
    function toolTipContentforDelete(e) {
        return "Upload";
    }

</script>

<script>
    function onOpenMBP2Tran() {
        var wnd = $("#wndChargeDetails").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
    }

    function onRefreshMBP2Tran() {
        var wnd = $("#wndChargeDetails").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function addMBP2Transaction() {
        settracknew('MBP-2 Transaction', 'Action', 'AddEditMBP2Transaction', '');
        showMBP2Transaction(0, '@Model')
    }

    function editMBP2Transaction(e) {
        settracknew('MBP-2 Transaction', 'Action', 'AddEditMBP2Transaction', '');
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        showMBP2Transaction(dataItem.MBP2TransId, dataItem.EntityId)
    }

    function showMBP2Transaction(i,e) {

        var direction = "@Url.Action("GetTransaction", "MBP2Transaction")" + "?id=" + i + "&entityId=" + e;
        $("#wndChargeDetails").kendoWindow({
            title: "MBP2 Transaction",
            modal: true
        });

        var wnd = $("#wndChargeDetails").data("kendoWindow");
        var opts = wnd.options;
        wnd = $("#wndChargeDetails").kendoWindow({
            title: "Add New - Committee",
            actions: ["Close"],
            content: direction,
            width: "90%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); onRefreshMBP2Tran(); },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                $('#gridMBP2Trans').data('kendoGrid').dataSource.read();
                $('#gridMBP2Trans').data('kendoGrid').refresh();
            },
            open: function () {
                onOpenMBP2Tran();
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");

        wnd.modal = true;
        opts.width = "90%";
        opts.height = "80%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

    function onOpenMBP2TranUpload() {
        var wnd = $("#wndUploadMBP2Tran").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
    }
    function onRefreshMBP2TranUpload() {
        var wnd = $("#wndUploadMBP2Tran").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function uploadMBP2Transaction() {

        var direction = "@Url.Action("UploadExcel", "MBP2Transaction")" + "?entityId=@Model" ;
        $("#wndUploadMBP2Tran").kendoWindow({
            title: "Upload - MBP2",
            modal: true
        });

        var wnd = $("#wndUploadMBP2Tran").data("kendoWindow");
        var opts = wnd.options;
        wnd = $("#wndUploadMBP2Tran").kendoWindow({
            title: "Upload - MBP-2",
            actions: ["Close"],
            content: direction,
            width: "40%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); onRefreshMBP2TranUpload(); },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                $('#gridMBP2Trans').data('kendoGrid').dataSource.read();
                $('#gridMBP2Trans').data('kendoGrid').refresh();
            },
            open: function () {
                onOpenMBP2TranUpload();
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");

        wnd.modal = true;
        opts.width = "40%";
        opts.height = "40%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }
    function uploadMBP2Document(e) {
        $("#wndUploadMBP2Tran").kendoWindow({
            title: "Upload - MBP2",
        });
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var direction = "@Url.Action("UploadMBP2document", "MBP2Transaction")"+ "?entityId=@Model" + "&NatureOfTransactionId=" + dataItem.MBP2TransId;

        var wnd = $("#wndUploadMBP2Tran").data("kendoWindow");
        var opts = wnd.options;
        // }

        wnd = $("#wndUploadMBP2Tran").kendoWindow({

            content: direction,
            width: "40%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
            refresh: function () {
                this.center();
                //OnRefresheupload();
            },
            close: function (e) {
                $(this.element).empty();
                $('#gridMBP2Trans').data('kendoGrid').dataSource.read();
                $('#gridMBP2Trans').data('kendoGrid').refresh();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {

                //OnOpenupload();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "45%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.refresh(direction);
        wnd.open();
    }
    function ShowMBP2documentgrid(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var direction = "@Url.Action("GetMBP2Documents", "MBP2Transaction")" + "?entityId=@Model"+"&NatureOfTransactionId=" +dataItem.MBP2TransId;

        var wnd = $("#wndMBP2EntityDocument").data("kendoWindow");
        var opts = wnd.options;
        // }

        wnd = $("#wndMBP2EntityDocument").kendoWindow({

            content: direction,
            width: "40%",
            height: "40",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
            refresh: function () {
                this.center();
                //OnRefresheupload();
            },
            close: function (e) {
                $(this.element).empty();
                $('#gridMBP2Trans').data('kendoGrid').dataSource.read();
                $('#gridMBP2Trans').data('kendoGrid').refresh();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {

                //OnOpenupload();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "65%";
        opts.height = "50%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
        return {
        }
    }
</script>

<script>
    function ddlNatureOfTransactionChanged() {
        debugger;
        var ddlNatureOfTransaction = $("#NatureOfTransactionId").data("kendoDropDownList");
        var value = ddlNatureOfTransaction.value();
        if (value == '3') {
            $("#divLoanDetails").removeClass("hidden");
            $("#divAquisitionDetails").addClass("hidden");
            $("#divAquisitionDetails1").addClass("hidden");
        } else if (value == '1') {
            $("#divLoanDetails").addClass("hidden");
            $("#divAquisitionDetails").removeClass("hidden");
            $("#divAquisitionDetails1").removeClass("hidden");
        }
        else {
            $("#divLoanDetails").addClass("hidden");
            $("#divAquisitionDetails").addClass("hidden");
            $("#divAquisitionDetails1").addClass("hidden");
        }
    }
</script>

<script>
    $('#filterMBP2').on('input', function (e) {
        debugger;
        var grid = $('#gridMBP2Trans').data('kendoGrid');
        var columns = grid.columns;

        var filter = { logic: 'or', filters: [] };
        columns.forEach(function (x) {
            if (x.field) {
                var type = grid.dataSource.options.schema.model.fields[x.field].type;
                if (type == 'string') {
                    filter.filters.push({
                        field: x.field,
                        operator: 'contains',
                        value: e.target.value
                    })
                }
                else if (type == 'number') {
                    if (isNumeric(e.target.value)) {
                        filter.filters.push({
                            field: x.field,
                            operator: 'eq',
                            value: e.target.value
                        });
                    }

                } else if (type == 'boolean' && getBoolean(e.target.value) !== null) {
                    var bool = getBoolean(e.target.value);
                    filter.filters.push({
                        field: x.field,
                        operator: 'eq',
                        value: bool
                    });
                }
            }
        });
        grid.dataSource.filter(filter);
    });
</script>

<div class="row colpadding0 master-Headre">
    <div class="col-md-11  vertical-center">
        
        <div class="col-md-3 colpadding0">
            <label class="control-label">Approved Limit</label>
            @(Html.Kendo().TextBox().Name("txtApprovedLimit").HtmlAttributes(new { @class = "k-textbox", style = "width: 96%", autocomplete = "off", @readonly= "readonly" }))
        </div>

        <div class="col-md-2 colpadding0">
            <label class="control-label">Limit Used</label>
            @(Html.Kendo().TextBox().Name("txtLimitUsed").HtmlAttributes(new { @class = "k-textbox", style = "width: 94%", autocomplete = "off", @readonly = "readonly" }))
        </div>

        <div class="col-md-2 colpadding0">
            <label class="control-label">Date of Passing (BM)</label><span style="color:red"></span>
            @(Html.Kendo().DatePicker()
                    .Name("txtDateOfBoardResolution")
                    .Max(DateTime.Today).Format("dd/MM/yyyy")
                    .HtmlAttributes(new { style = "width:93%", @Id = "txtDateOfBoardResolution", autocomplete = "off", onchange = "checkDate(this);", @readonly = "readonly" })
            )
        </div>

        <div class="col-md-2 colpadding0">
            <label class="control-label">Date of Passing (GM)</label><span style="color:red"></span>
            @(Html.Kendo().DatePicker().Name("txtDateOfPassingResolution").Max(DateTime.Today).Format("dd/MM/yyyy").HtmlAttributes(new { style = "width:90%", @Id = "txtDateOfPassingResolution", onchange = "checkDate(this);", autocomplete = "off", @readonly = "readonly" }))
        </div>


        <div class="col-md-2 colpadding0">
            <div style="margin-top:16px;">
                <a role="button" class="k-grid-edit k-grid-button" id="btnEditLimit" href="#" onclick="btnEditLimitClick()"><span class=""><img src="/Areas/BM_Management/img/Edit.png"></span></a>
            </div>
            <input type="button" class="btn btn-primary hidden" id="btnSaveLimit" href="#" value="Save" onclick="btnSaveLimit_Click()" />
        </div>
    </div>
</div>

    <div class="row mt30">
        <div class="col-md-12 colpadding0">
            <div class="col-md-9 colpadding0">
                <input id='filterMBP2' placeholder="" class='k-textbox hidden' style="width: 62%" autocomplete="off" />
            </div>

            <div class="col-md-1 colpadding0 hidden">
                <button type="button" class="btn btn-default btn-sm ClearFilterbtn" onclick="clearFilterMBP2()" id="nbtClearFilterMBP2" style="position: fixed;display:none">
                    <img src="~/Areas/BM_Management/img/Vector.png" />Clear
                </button>
            </div>


            <div class="col-md-2 colpadding0 text-right">
                <button class="btn btn-primary" href="/#" id="customCommandCreateBMP2Trans" onclick="addMBP2Transaction()"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</button>
                <input type="button" class="btn btn-primary" id="btnUplaodMBP2" href="/#" value="Upload" onclick="uploadMBP2Transaction()" />
            </div>
        </div>
    </div>

    <div class="row colpadding0 mt30">
        <div class="col-md-12 colpadding0">
            @Html.AntiForgeryToken()
            @(Html.Kendo().Grid<BM_ManegmentServices.VM.MBP2TransactionVM>()
    .Name("gridMBP2Trans")
    .Columns(columns =>
    {
    columns.Bound(o => o.NatureOfTransaction).Title("Nature").Width("10%").Filterable(ftb => ftb.Multi(true).Search(true));
    columns.Bound(o => o.DateOfMaking).Title("Date of Transaction").Width("15%").ClientTemplate("#= DateOfMaking == null ? '' : kendo.toString(DateOfMaking, \"dd/MM/yyyy\")#").Filterable(ftb => ftb.Multi(true).Search(true));
    columns.Bound(o => o.Name_).Title("Name").Width("20%").Filterable(ftb => ftb.Multi(true).Search(true));
    columns.Bound(o => o.Address_).Title("Address").Hidden().Width("10%").Filterable(ftb => ftb.Multi(true).Search(true));
    columns.Bound(o => o.Amount).Title("Amount").Width("10%").Filterable(ftb => ftb.Multi(true).Search(true));
    columns.Bound(o => o.DateOfSelling).Title("Date of Selling of Investment").Width("20%").ClientTemplate("#= DateOfSelling == null ? '' : kendo.toString(DateOfSelling, \"dd/MM/yyyy\")#").Filterable(ftb => ftb.Multi(true).Search(true));
    columns.Bound(o => o.DateOfMaturity).Title("Date of Maturity").Hidden().Width("10%").ClientTemplate("#= DateOfMaturity == null ? '' : kendo.toString(DateOfMaturity, \"dd/MM/yyyy\")#").Filterable(ftb => ftb.Multi(true).Search(true));
    columns.Bound(o => o.DateOfBoardResolution).Title("Date of Board Resolution").Hidden().Width("10%").ClientTemplate("#= DateOfBoardResolution == null ? '' : kendo.toString(DateOfBoardResolution, \"dd/MM/yyyy\")#").Filterable(ftb => ftb.Multi(true).Search(true));
    columns.Bound(o => o.DateOfPassingResolution).Title("Date of GM").Hidden().Width("10%").ClientTemplate("#= DateOfPassingResolution == null ? '' : kendo.toString(DateOfPassingResolution, \"dd/MM/yyyy\")#").Filterable(ftb => ftb.Multi(true).Search(true));
    columns.Bound(o => o.Purpose).Title("Purpose").Hidden().Width("10%").Filterable(ftb => ftb.Multi(true).Search(true));
    columns.Command(command =>
    {
    command.Custom("edit").Click("editMBP2Transaction").HtmlAttributes(new { @class = "k-grid-edit" });
    command.Custom("Upload").Click("uploadMBP2Document").HtmlAttributes(new { @class = "k-grid-upload hoverCircle" });
    command.Custom("document").Click("ShowMBP2documentgrid").HtmlAttributes(new { @class = "k-grid-document hoverCircle" });
    }).Title("Action").Width("15%");
    })
    .EnableCustomBinding(true)
    .ColumnMenu()
    .Sortable()
    .Scrollable()
    .Filterable()
    .Events(e => e.DataBound("onRowBoundMBP2"))
    .Navigatable()
    .Pageable(pageable => pageable
    .Refresh(false)
    .PageSizes(true)
    .ButtonCount(5))
    .DataSource(dataSource => dataSource
    .WebApi()
    .PageSize(10)
    .ServerOperation(false)
    .Model(model =>
    {
           model.Id(o => o.MBP2TransId);
    })
    .Read(read => read.Url("/api/MBP2Transaction/GetMBP2Transactions").Type(HttpVerbs.Get).Data("getEntityDataMBP2Details")))
    .HtmlAttributes(new { @style = "width:100%" }))
</div>
    </div>

<div>
    @(Html.Kendo().Window().Name("wndApprovedLimit").Visible(false).Modal(true))

    @(Html.Kendo().Tooltip()
        .For("#btnEditLimit")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Width(170)
        .Content("Edit Approved Limit Details")
    )
        @(Html.Kendo().Window()
        .Name("wndMBP2EntityDocument")
        .Title("Document")
        .Visible(false)
        .Modal(true)
        .Draggable(true)
        .Pinned(true)
        .Scrollable(true))
        @(Html.Kendo().Tooltip()
        .For("#gridMBP2Trans")
        .Filter(".k-grid-edit")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
         .Content("Edit")
        )
        @(Html.Kendo().Tooltip()
        .For("#gridMBP2Trans")
        .Filter(".k-grid-upload")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
         .Content("Upload")
        )
        @(Html.Kendo().Tooltip()
        .For("#gridMBP2Trans")
        .Filter(".k-grid-document")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
         .Content("Document")
        )

    </div>

<script>
    function btnCloseLimitWnd(){
        $("#wndApprovedLimit").data("kendoWindow").close();
    }

    function onOpenLimit() {
        var wnd = $("#wndApprovedLimit").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
    }

    function onRefreshLimit() {
        var wnd = $("#wndApprovedLimit").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function btnEditLimitClick(e) {

        var direction = "@Url.Action("AddEditLimit", "MBP2Transaction", new { entityId = Model})";
        $("#wndApprovedLimit").kendoWindow({
            title: "Approved Limit Details",
            modal: true
        });

        var wnd = $("#wndApprovedLimit").data("kendoWindow");
        var opts = wnd.options;
        wnd = $("#wndApprovedLimit").kendoWindow({
            title: "Approved Limit Details",
            actions: ["Close"],
            content: direction,
            width: "40%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); onRefreshLimit(); },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                loadApprovalLimitDetails();
            },
            open: function () {
                onOpenLimit();
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");

        wnd.modal = true;
        opts.width = "40%";
        opts.height = "60%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();

        //$("#btnEditLimit").addClass("hidden");
        //$("#btnSaveLimit").removeClass("hidden");
        //$("#txtApprovedLimit").removeAttr("readonly");
        //$("#txtLimitUsed").removeAttr("readonly");

        //$("#txtDateOfBoardResolution").removeAttr("readonly");
        //$("#txtDateOfPassingResolution").removeAttr("readonly");
    }

    function btnSaveLimit_Click() {

        //$("#btnSaveLimit").addClass("hidden");
        //$("#btnEditLimit").removeClass("hidden");
        
        //$("#txtApprovedLimit").attr("readonly");
        //$("#txtLimitUsed").attr("readonly");

        //$("#txtDateOfBoardResolution").attr("readonly");
        //$("#txtDateOfPassingResolution").attr("readonly");
    }

    function loadApprovalLimitDetails() {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetMBP2Limit", "MBP2Transaction")" + "?entityId=@Model",
            //data: '{"entityId" : "@Model"}"',
            contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (response) {
            if (response != null) {
                $("#txtApprovedLimit").val(response.Result.ApprovedLimit);
                $("#txtLimitUsed").val(response.Result.UsedLimit);

                $("#txtDateOfBoardResolution").val(response.Result.DateOfBoardResolutionStr);
                $("#txtDateOfPassingResolution").val(response.Result.DateOfPassingResolutionStr);

            }
        },
        failure: function (response) {
            alert(response.responseText);
        },
        error: function (response) {
            alert(response.responseText);
        }
    });
    }

    $(document).ready(function () {
        loadApprovalLimitDetails();
    });
</script>