﻿@model BM_ManegmentServices.VM.VM_QuestionForShareholding
<script>
    function OnOpen(e)
    {

    }
    function OnRefresh(e)
    {
        

        val1 = document.getElementById('rdDematerialised');
        val2 = document.getElementById('rdIsdemat');
        if (val1.checked == true && val2.checked == true) {
            window.location.href = "@Url.Action("GetDematShare", "ShareholdingMaster")?Entity_Id=" + @Model.EntityId;
        }
        else if (val1.checked == false) {
            window.location.href = "@Url.Action("GetShareholdingMaster", "ShareholdingMaster")?entity_Id=" +  @Model.EntityId;
        }
        else if (val1.checked == false && val2.checked == false) {
            window.location.href = "@Url.Action("GetShareholdingMaster", "ShareholdingMaster")?entity_Id=" +  @Model.EntityId;
        }
        else if (val1.checked == true && val2.checked == false) {
            window.location.href = "@Url.Action("GetShareholdingMaster", "ShareholdingMaster")?entity_Id=" +  @Model.EntityId;
        }
        else if (val1.checked == true) {
            window.location.href = "@Url.Action("GetDematShare", "ShareholdingMaster")?Entity_Id=" + @Model.EntityId;
        }
    }
</script>
<div id="divQuestionsforShareholder">
    @using (Ajax.BeginForm("SaveQuestionsForShareHolder", "EntityMaster", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divQuestionsforShareholder", OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmdivQuestionsforShareholder" }))
    {
        @Html.HiddenFor(m=>m.EntityId)
        <div class="container">
            <div class="row">

                <div class="col-md-12 colpadding0">
                    <div class="col-md-6">
                        <span style="color:red"></span><label>Whether the shares are held in Dematerialised format?</label>
                    </div>
                    <div class="col-md-3">

                        @* <label class='container1'>Yes @Html.RadioButtonFor(model => model.rdDematerialised, true)<span class='checkmark1'></span></label>*@
                        <label class='container1'>No @Html.RadioButtonFor(model => model.rdDematerialised, false)<span class='checkmark1'></span></label>
                    </div>

                </div>
            </div>

            <div id="Isdemat" style="display:none; margin-top:26px">
                <div class="row">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-6">
                            <span style="color:red"></span><label>Whether the Shares are Complete or Partial Demat?</label>
                        </div>
                        <div class="col-md-5">
                            @*<input type="radio" name="rdIsdemat" value="True" id="rbdemat"> Complete Demat

                            <input type="radio" name="rdIsdemat" value="False" id="rbdemat"> Partial Demat*@
                            <label class='container1'>Complete Demat @Html.RadioButtonFor(model => model.rdIsdemat, true)<span class='checkmark1'></span></label>
                            <label class='container1'>Partial Demat @Html.RadioButtonFor(model => model.rdIsdemat, false)<span class='checkmark1'></span></label>
                        </div>

                    </div>
                </div>
            </div>

            <div>
                <div class="row colpadding0">
                    <div class="col-md-12 colpadding0" style="background:!important;background:none;width:100%;margin-top: 2%; text-align:center">
                        <button type="submit" id="btnshereQue" class="k-primary k-button k-grid-update k-button-icontext">Save</button>
                        <button type="button" id="btncloseshe" class="k-button">Close</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    $("#btncloseshe").click(function (z) {
        
        z.preventDefault();
        z.stopPropagation();
        $('#wndAdd').data("kendoWindow").close();
    });
</script>
