﻿<!DOCTYPE html>
<html>
<head>
    <link href="~/select2/select2.min.css" rel="stylesheet" />
    <link href="~/content/bootstrap.css" rel="stylesheet" />
    <link href="~/content/bootstrap.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.common.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.rtl.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.silver.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.mobile.all.min.css" rel="stylesheet" />
    <script type="text/javascript" src="../../Newjs/jquery-1.12.4.min.js"></script>
    <script src="~/masters/bootstrap.min.js"></script>
    <script src="~/select2/select2.min.js"></script>
    <script src="~/select2/select2.full.js"></script>
    <script src="~/scripts/anjular(1.5.0).min.js"></script>
    <script src="~/masters/angular.js"></script>
    <script src="~/scripts/angular.js"></script>
    <script src="~/scripts/angular.min.js"></script>
    <script type="text/javascript" src="../../Newjs/kendo.all.min.js"></script>
    <script type="text/javascript" src="../../Newjs/jszip.min.js"></script>
    <script src="~/js/lodash.js"></script>
    <script src="~/js/angularjs-dropdown-multiselect.min.js"></script>
    <style type="text/css">
        .div.k-grid-footer, div.k-grid-header {
            border-top-style: solid;
            border-top-width: 1px;
        }

        .k-state-default > .k-select {
            border-color: #ceced2;
            margin-top: -6px;
        }

        .k-pager-wrap > .k-link > .k-icon {
            margin-top: -2px !important;
            color: inherit;
        }

        .btn .caret {
            margin-left: 170px;
        }

        ul.dropdown-menu.dropdown-menu-form.ng-scope {
            width: 280px;
        }

        .btn-default {
            color: #333;
            background-color: #fff;
            border-color: #ccc;
            height: 28px;
            padding-top: 3px;
            width: 280px;
            padding-right: 116px;
            /*margin-left: 50px;*/
        }

        .dropdown-menu .divider {
            height: 1px;
            margin: 3px 0;
            overflow: hidden;
            background-color: #e5e5e5;
        }

        html {
            color: #666666;
            font-size: 15px;
            font-weight: normal;
            font-family: 'Roboto',sans-serif;
        }

        .modal-content {
            position: relative;
            background-color: #fff;
            border: 1px solid #999;
            border: 1px solid rgba(0,0,0,0.2);
            border-radius: 6px;
            outline: 0;
            -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
            box-shadow: 0 3px 9px rgba(0,0,0,0.5);
            background-clip: padding-box;
            height: 369px;
        }

        .select2-container--open .select2-dropdown {
            left: 0;
            /*margin-left: -66px;*/
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: grey !important;
            line-height: 28px;
            /*margin-right: 48px;*/
            text-align: left;
        }

        .select2-container {
            box-sizing: border-box;
            display: inline-block;
            margin: 0;
            position: relative;
            vertical-align: middle;
        }

        .k-checkbox-label, .k-radio-label {
            display: inline;
        }

        .myKendoCustomClass {
            z-index: 999 !important;
        }

        .k-header .k-grid-toolbar {
            background: white;
            float: left;
            width: 100%;
        }

        .k-grid td {
            line-height: 1.0em;
        }

        .k-i-more-vertical:before {
            content: "\e006";
        }

        .k-grid td.k-state-selected:hover, .k-grid tr.k-state-selected:hover {
            background-color: #1fd9e1;
            background-image: none;
        }

        k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list > .k-state-highlight, .k-list > .k-state-selected, .k-marquee-color, .k-panel > .k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-tool.k-state-selected {
            color: #000000;
            border-color: #1fd9e1;
            background-color: #f6f6f6;
        }

        #grid .k-grid-toolbar {
            background: white;
        }


        .k-pager-wrap > .k-link > .k-icon {
            margin-top: 5px;
            color: inherit;
        }

        .toolbar {
            float: left;
        }

        html .k-grid tr:hover {
            background: #E4F7FB;
        }

        html .k-grid tr.k-alt:hover {
            background: #E4F7FB;
            min-height: 30px;
        }

        .k-grid tbody .k-button {
            min-width: 30px;
            min-height: 30px;
            border-radius: 35px;
        }

        .k-button-icontext .k-icon, .k-button-icontext .k-image, .k-button-icontext .k-sprite {
            margin-right: 0px;
            margin-right: 0px;
            margin-left: 0px;
            margin-left: 0px;
        }

        .k-auto-scrollable {
            overflow: hidden;
        }

        .k-grid-header {
            padding-right: 0px !important;
        }

        .k-multicheck-wrap .k-item {
            line-height: 1.2em;
            font-size: 14px;
            margin-bottom: 5px;
        }

        label {
            display: inline-block;
            margin-bottom: 0px;
        }

        .k-filter-menu .k-button {
            width: 27%;
        }

        .k-label input[type="checkbox"] {
            margin: 0px 5px 0 !important;
        }

        .k-filter-row th, .k-grid-header th.k-header {
            font-size: 15px;
            background: #f8f8f8;
            font-family: 'Roboto',sans-serif;
            color: #2b2b2b;
            font-weight: 400;
        }

        .k-primary {
            border-color: #1fd9e1;
            background-color: #1fd9e1;
        }

        .k-pager-wrap {
            background-color: #f8f8f8;
            color: #2b2b2b;
        }

        td.k-command-cell {
            border-width: 0 1px 0 1px;
        }

        .k-grid-pager {
            border-width: 1px 1px 1px 1px;
        }

        span.k-icon.k-i-calendar {
            margin-top: 6px;
        }

        .col-md-2 {
            width: 20%;
        }

        .k-filter-row > th:first-child, .k-grid tbody td:first-child, .k-grid tfoot td:first-child, .k-grid-header th.k-header:first-child {
            border-left-width: 1px;
            line-height: 14px;
        }

        .k-grid tbody tr {
            height: 38px;
        }
    </style>
    <script>

        function onChange() {
            FilterAll();
        }
        function BindStatus() {
            $("#dropdownQuestionName").kendoDropDownList({
                autoClose: true,
                autoWidth: true,
                optionLabel: "Select Question",
                dataTextField: "MasterName",
                dataValueField: "MasterName",
                change: function (e) {
                    FilterAll();
                },
                dataSource:
                    {
                        severFiltering: true,
                        transport: {
                            read: '../Question/GetMastersfromDB'
                        },
                    }
            });
        }
        function BindControl() {
            $("#dropdownControlName").kendoDropDownList({
                autoClose: true,
                autoWidth: true,
                optionLabel: "Select Control",
                dataTextField: "ControlName",
                dataValueField: "ControlName",
                change: function (e) {
                    FilterAll();
                },
                dataSource:
                    {
                        severFiltering: true,
                        transport: {
                            read: '../Question/GetAnswerControl'
                        },
                    }
            });
        }
        function FilterAll() {

            if (($("#dropdownControlName").val() != 0 && $("#dropdownControlName").val() != -1 && $("#dropdownControlName").val() != "") 
               // ||($("#dropdownQuestionName").val() != 0 && $("#dropdownQuestionName").val() != -1 && $("#dropdownQuestionName").val() != "")
                ) {
                var finalSelectedfilter = { logic: "and", filters: [] };

                if ($("#dropdownControlName").val() != 0 && $("#dropdownControlName").val() != -1 && $("#dropdownControlName").val() != "") {
                    var FYFilter = { logic: "or", filters: [] };

                    FYFilter.filters.push({
                        field: "ControlName", operator: "eq", value: $("#dropdownControlName").val()
                    });
                    finalSelectedfilter.filters.push(FYFilter);
                }
                //if ($("#dropdownQuestionName").val() != 0 && $("#dropdownQuestionName").val() != -1 && $("#dropdownQuestionName").val() != "") {
                //    var FYFilter = { logic: "or", filters: [] };

                //    FYFilter.filters.push({
                //        field: "QuestionName", operator: "eq", value: $("#dropdownQuestionName").val()
                //    });
                //    finalSelectedfilter.filters.push(FYFilter);
                //}

                if (finalSelectedfilter.filters.length > 0) {
                    var dataSource = $("#grid").data("kendoGrid").dataSource;
                    dataSource.filter(finalSelectedfilter);
                }
                else {
                    $("#grid").data("kendoGrid").dataSource.filter({});
                }
            }
            else {
                $("#grid").data("kendoGrid").dataSource.filter({});
            }
        }

        var app=angular.module("KendoDemos", [ 'angularjs-dropdown-multiselect',"kendo.directives" ]);
        app.directive("select2", function ($timeout, $parse) {
            return {
                restrict// Code goes here
            : 'AC',
                require: 'ngModel',
                link: function (scope, element, attrs) {
                    console.log(attrs);
                    $timeout(function () {
                        element.select2();
                        element.select2Initialized = true;
                    });

                    var refreshSelect = function () {
                        if (!element.select2Initialized) return;
                        $timeout(function () {
                            element.trigger('change');
                        });
                    };

                    var recreateSelect = function () {
                        if (!element.select2Initialized) return;
                        $timeout(function () {
                            element.select2('destroy');
                            element.select2();
                        });
                    };

                    scope.$watch(attrs.ngModel, refreshSelect);

                    if (attrs.ngOptions) {
                        var list = attrs.ngOptions.match(/ in ([^ ]*)/)[1];
                        // watch for option list change
                        scope.$watch(list, recreateSelect);
                    }

                    if (attrs.ngDisabled) {
                        scope.$watch(attrs.ngDisabled, refreshSelect);
                    }
                }
            };
        });
        app.controller("MyCtrl", function ($scope,$http,myService) {

            $scope.example5customTexts = { buttonDefaultText: 'Select Value' };
            //define object
            $scope.CategoriesSelected = [];
            $scope.Categories = [];
            $scope.dropdownSetting = {
                checkBoxes: true,
                scrollableHeight: '200px',
                scrollable: true,
                enableSearch: true,
                showCheckAll: true,
                showUncheckAll:true,
                GetChecked: true,
                width: '200px',
            }


            var record = 0;
            Bindgrid();
            BindStatus();
            BindControl();
            function Bindgrid() {
                var grid = $('#grid').data("kendoGrid");
                if (grid != undefined || grid != null)
                    $('#grid').empty();
                var grid = $("#grid").kendoGrid({
                    dataSource: {
                        transport: {
                            read: '../Question/getAll'
                        },
                        pageSize: 10
                    },
                    excel: {
                        allPages: true,
                    },
                    noRecords: true,
                    messages: {
                        noRecords: "No records found"
                    },
                    sortable: true,
                    groupable: true,
                    filterable: true,
                    columnMenu: true,
                    pageable: true,
                    reorderable: true,
                    resizable: true,
                    multi: true,
                    selectable: true,
                    dataBinding: function () {
                        record = (this.dataSource.page() - 1) * this.dataSource.pageSize();
                        if (this.ReminderStatus == 0) { template: "#=pending" }
                    },
                    //dataBound: OnGridDataBoundAdvanced,
                    columns: [
                        //{
                        //    title: "Sr",
                        //    template: "#= ++record #",
                        //    width: "58px",
                        //},

                         { hidden: true, field: "ControlID", title: "ControlID" },

                {
                    field: "QuestionID", title: 'QuestionID',
                    attributes: {
                        style: 'white-space: nowrap;'

                    }, filterable: {
                        extra: false,
                        operators: {
                            string: {
                                eq: "Is equal to",
                                neq: "Is not equal to",
                                contains: "Contains"
                            }
                        }
                    }
                },

                {
                        field: "QuestionName", title: 'Question Name',
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            extra: false,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        field: "ControlName", title: 'Control Name',
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            extra: false,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        command: [
                            { name: "edit", text: "", iconClass: "k-icon k-i-hyperlink-open", className: "ob-edit" },
                            { name: "edit1", text: "", iconClass: "k-icon k-i-delete k-i-trash", className: "ob-deleteuser" },
                            //{ name: "download", text: "", iconClass: "k-icon k-i-download", className: "ob-download" },
                            { name: "view", text: "", iconClass: "k-icon k-i-eye", className: "ob-view" }
                        ], title: "Action", lock: true, width: "15%;",// width: 150,
                    }
                    ]
                });

                $("#grid").kendoTooltip({
                    filter: "td:nth-child(2)", //this filter selects the second column's cells
                    position: "down",
                    content: function (e) {
                        var content = e.target.context.textContent;
                        return content;
                    }
                }).data("kendoTooltip");

                $("#grid").kendoTooltip({
                    filter: "td:nth-child(3)", //this filter selects the second column's cells
                    position: "down",
                    content: function (e) {
                        var content = e.target.context.textContent;
                        return content;
                    }
                }).data("kendoTooltip");

                $("#grid").kendoTooltip({
                    filter: ".k-grid-edit",
                    content: function (e) {
                        return "Edit";
                    }
                });

                $("#grid").kendoTooltip({
                    filter: ".k-grid-edit1",
                    content: function (e) {
                        return "Delete";
                    }
                });

                $("#grid").kendoTooltip({
                    filter: ".k-grid-view",
                    content: function (e) {
                        return "View";
                    }
                });
                //$("#grid").kendoTooltip({
                //    filter: ".k-grid-download",
                //    content: function (e) {
                //        return "Download";
                //    }
                //});

                //ob - download
            }
            @*function Bindgrid() {
                var grid = $('#grid').data("kendoGrid");
                if (grid != undefined || grid != null)
                    $('#grid').empty();

                var checkRoleselected = -1;
                if ($scope.ControlID != undefined && $scope.ControlID !="") {
                    checkRoleselected=$scope.ControlID;
                }

                var grid = $("#grid").kendoGrid({
                    dataSource: {
                        transport: {
                            //read: '@Url.Action("getAll1","employee")'
                            read: '../Question/getAll'

                        },
                        pageSize: 10
                    },
                    excel: {
                        allPages: true,
                    },
                    noRecords: true,
                    messages: {
                        noRecords: "No records found"
                    },
                    sortable: true,
                    filterable: true,
                    columnMenu: true,
                    pageable: true,
                    reorderable: true,
                    resizable: true,
                    multi: true,
                    selectable: true,
                    dataBinding: function () {
                        record = (this.dataSource.page() - 1) * this.dataSource.pageSize();
                        if (this.ReminderStatus == 0) { template: "#=pending" }
                    },
                    columns: [
                    //    {
                    //    title: "Sr",
                    //    template: "#= ++record #",
                    //    width: "10%",
                    //},
                   {
                       field: "ControlID", title: 'ID',hidden:true,
                       attributes: {
                           style: 'white-space: nowrap;'

                       }, filterable: {
                           extra: false,
                           operators: {
                               string: {
                                   eq: "Is equal to",
                                   neq: "Is not equal to",
                                   contains: "Contains"
                               }
                           }
                       }, width: "15%",
                   },

                     {
                         field: "QuestionName", title: 'QuestionName',
                         attributes: {
                             style: 'white-space: nowrap;'

                         }, filterable: {
                             extra: false,
                             operators: {
                                 string: {
                                     eq: "Is equal to",
                                     neq: "Is not equal to",
                                     contains: "Contains"
                                 }
                             }
                         }, width: "10%",
                     },
                       {
                           field: "ControlName", title: 'ControlName',
                           attributes: {
                               style: 'white-space: nowrap;'

                           }, filterable: {
                               extra: false,
                               operators: {
                                   string: {
                                       eq: "Is equal to",
                                       neq: "Is not equal to",
                                       contains: "Contains"
                                   }
                               }
                           }, width: "15%",
                       },
                    {
                        command: [
                            { name: "edit", text: "", iconClass: "k-icon k-i-hyperlink-open", className: "ob-edit" },
                            { name: "edit1", text: "", iconClass: "k-icon k-i-delete k-i-trash", className: "ob-deleteuser" }], title: "Action", lock: true, width: "5%;",// width: 150,
                    }
                    ]
                });
                $("#grid").kendoTooltip({
                    filter: "td:nth-child(2)", //this filter selects the second column's cells
                    position: "down",
                    content: function (e) {
                        var content = e.target.context.textContent;
                        return content;
                    }
                }).data("kendoTooltip");
                $("#grid").kendoTooltip({
                    filter: "td:nth-child(3)", //this filter selects the second column's cells
                    position: "down",
                    content: function (e) {
                        var content = e.target.context.textContent;
                        return content;
                    }
                }).data("kendoTooltip");
                $("#grid").kendoTooltip({
                    filter: ".k-grid-edit",
                    content: function (e) {
                        return "Edit";
                    }
                });
                $("#grid").kendoTooltip({
                    filter: ".k-grid-edit1",
                    content: function (e) {
                        return "Delete";
                    }
                });
            }*@
            //Edit User Deatais
            $(document).on("click", "#grid tbody tr .ob-edit", function (e) {
                debugger;
                $('#popup').modal('show');
                var item = $("#grid").data("kendoGrid").dataItem($(this).closest("tr"));
                $scope.DisplayForm = true;
                $scope.addminus = false;
                $scope.addplus = false;
                $scope.editminus = true;
                $scope.AddAlert = false;
                $scope.EditAlert = false;
                $scope.DeleteAlert = false;
                $http({
                    method: 'POST',
                    url: '../Question/getActivityByNo/',
                    data: JSON.stringify({ id: item.QuestionID })
                }).success(function (data, status, headers, config) {
                    $scope.ID = data[0].ID;
                    $scope.ActivityName = data[0].ActivityName;
                    $scope.ControlID = data[0].ControlID;
                    $scope.MasterID = data[0].MasterID;
                    $scope.Action = "Update";
                }).error(function (data, status, headers, config) {
                    $scope.message = 'Unexpected Error';
                });
            });

            //Delete User Details
            $(document).on("click", "#grid tbody tr .ob-deleteuser", function (e) {
                debugger;
                var retVal = confirm("Do you want to Delete Record..?");
                if (retVal == true) {
                    var item = $("#grid").data("kendoGrid").dataItem($(this).closest("tr"));
                    $http({
                        method: 'POST',
                        url: '/Question/DeleteActivity/',
                        data: JSON.stringify({ Id: item.QuestionID })
                    }).success(function (data, status, headers, config) {
                        debugger;
                        $scope.delete = data;
                        $scope.DeleteAlert = true;
                        $scope.AddAlert = false;
                        $scope.EditAlert = false;
                        $scope.popup = false;
                        $scope.IsEmailValid = true;
                        Bindgrid();
                    }).error(function (data, status, headers, config) {
                        $scope.message = 'Unexpected Error';
                    });
                }
                return true;
            });


            //View file based upon DocumentTransactionID
            $(document).on("click", "#grid tbody tr .ob-view", function (e) {
                var item = $("#grid").data("kendoGrid").dataItem($(this).closest("tr"));
                $('#divViewDocument').modal('show');
                $('.modal-dialog').css('width', '90%');
                //$('#OverViews').attr('src', '/Common/DocumentOverview.aspx?InstanceID=' + item.DocumentTransactionID);
                $('#OverViews').attr('src', '../Common/TagQuestion.aspx?InstanceID=' + item.QuestionID);
                //$('#OverViews').attr('src', '../Question/KendoTagQuestions?InstanceID=' + item.QuestionID);

               
                e.preventDefault();
                return false;
            });


            $scope.DisplayForm = false;
            $scope.addminus = false;
            $scope.addplus = true;
            $scope.editminus = false;
            $scope.AddAlert = false;
            $scope.EditAlert = false;
            $scope.DeleteAlert = false;
            $scope.popup = false;
            $scope.showsubmasterval=false;

            $scope.ShowLoader = false;
            $scope.sort = function (keyname) {
                $scope.sortKey = keyname;
                $scope.reverse = !$scope.reverse;
            }
            $scope.IsEmployee = true;

            $scope.toggle=function(user){
                $scope.IsEmployee=false;
                $scope.message = 'true';
                $scope.onChange = function(state) {
                    $scope.message = state;
                };
            }
            var UserId=@Session["userID"].ToString();
            $scope.rights =
            [{ 'accessadd': UserId, 'accessedit':UserId,'accessdelete':UserId }];

            //controllid
            $scope.ControlID = -1;
            $scope.questionanswercontrols = [];

            //masterid
            $scope.MasterID= -1;
            $scope.questionanswarmasters= [];

            //submasterid
            $scope.SubMasterID= -1;
            $scope.SubMasterType = [];

            //mastertypeid
            $scope.mastertypeID= -1;
            $scope.getmastercontrols= [];

            GetQuestions();
            GetMasters();
            //Get Question name
            function GetQuestions() {
                $scope.questionanswercontrols = [];
                $http({
                    method: 'Get',
                    url: '../Question/GetAnswerControl',
                }).success(function (data, status, headers, config) {
                    $scope.questionanswercontrols = data;
                    $scope.ControlID = -1;
                }).error(function (data, status, headers, config) {
                    $scope.message = 'Unexpected Error';
                });
            }

            //Get Master name
            function GetMasters() {
                $scope.questionanswarmasters = [];
                $http({
                    method: 'Get',
                    url: '../Question/GetMastersfromDB',
                }).success(function (data, status, headers, config) {
                    $scope.questionanswarmasters = data;
                    $scope.MasterID = -1;
                }).error(function (data, status, headers, config) {
                    $scope.message = 'Unexpected Error';
                });
            }
            $scope.changeStatus = function(){
                $scope.status = !$scope.status;
                //alert($scope.status);
            }
            $scope.onSubMasterChanges = function () {
                debugger;
                var ram= $scope.SubMasterID
                if ($scope.SubMasterID !=undefined) {
                    $scope.showSingleSelectionval=false;
                    $scope.showMultipleChoiceval=false;
                    $scope.showRangeval=false;
                    $scope.showValueval=false;
                    if ($scope.ControlID==1) {
                        debugger;

                        $scope.showSingleSelectionval=true;
                        $scope.showMultipleChoiceval=false;
                        $scope.showRangeval=false;
                        $scope.showValueval=false;
                        $scope.getmastercontrols = [];
                        $http({
                            method: 'Get',
                            url: '../Question/GetSubMastersDataAll',
                            params: { MID: $scope.SubMasterID }
                        }).success(function (data, status, headers, config) {
                            $scope.getmastercontrols = data;
                            $scope.mastertypeID = -1;
                        }).error(function (data, status, headers, config) {
                            $scope.message = 'Unexpected Error';
                        });
                    }
                    else if ($scope.ControlID==2) {
                        debugger;
                        $scope.showSingleSelectionval=false;
                        $scope.showMultipleChoiceval=true;
                        $scope.showRangeval=false;
                        $scope.showValueval=false;
                        $scope.CategoriesSelected = [];
                        $scope.Categories = [];
                        $scope.getmastercontrols= [];
                        $scope.mastertypeID= -1;

                        //fetch data from database for show in multiselect dropdown
                        $http.get('/Question/GetSubMastersDataAll?MID='+ $scope.SubMasterID +'').then(function (data) {
                            angular.forEach(data.data, function (value, index) {
                                $scope.Categories.push({ id: value.ID, label: value.Name });
                            });
                        })
                    }
                    else if ($scope.ControlID==3) {
                        debugger;
                        $scope.showSingleSelectionval=false;
                        $scope.showMultipleChoiceval=false;
                        $scope.showRangeval=true;
                        $scope.showValueval=false;

                    }
                    else
                    { debugger;
                        $scope.showSingleSelectionval=false;
                        $scope.showMultipleChoiceval=false;
                        $scope.showRangeval=false;
                        $scope.showValueval=true;
                    }
                }
                else
                { 
                    debugger;
                    if ($scope.mastertypeID ==undefined) {
                        $scope.mastertypeID=-1;
                    }
                    $scope.SubMasterID=-1;
                    $scope.MasterID=-1;
                }
            };
            $scope.showmasterval=true;
            $scope.showsubmasterval=false;

            $scope.oncontrolsChanges = function () {
                debugger;
                $scope.datacontrols = [];
                if ($scope.ControlID == 3)
                {
                    debugger;
                    //masterid
                    $scope.MasterID= -1;
                    $scope.questionanswarmasters= [];

                    //submasterid
                    $scope.SubMasterID= -1;
                    $scope.SubMasterType = [];

                    //mastertypeid
                    $scope.mastertypeID= -1;
                    $scope.getmastercontrols= [];

                    $scope.showmasterval=false;
                    $scope.showSingleSelectionval=false;
                    $scope.showMultipleChoiceval=false;
                    $scope.showRangeval=true;
                    $scope.showValueval=false;
                    $scope.showsubmasterval=false;
                }
                else if ($scope.ControlID == 4 ) {

                    //masterid
                    $scope.MasterID= -1;
                    $scope.questionanswarmasters= [];

                    //submasterid
                    $scope.SubMasterID= -1;
                    $scope.SubMasterType = [];

                    //mastertypeid
                    $scope.mastertypeID= -1;
                    $scope.getmastercontrols= [];

                    $scope.showmasterval=false;
                    $scope.showSingleSelectionval=false;
                    $scope.showMultipleChoiceval=false;
                    $scope.showRangeval=false;
                    $scope.showValueval=true;
                    $scope.showsubmasterval=false;
                }
                else if ($scope.ControlID==2) {
                    debugger;
                    $scope.getmastercontrols= [];
                    $scope.mastertypeID= -1;
                    $scope.SubMasterID= -1;
                    $scope.SubMasterType = [];
                    GetMasters();
                    if ($scope.MasterID==undefined || $scope.MasterID==-1) {
                        $scope.showmasterval=true;
                        $scope.showSingleSelectionval=false;
                        $scope.showMultipleChoiceval=false;
                        $scope.showRangeval=false;
                        $scope.showValueval=false;
                        $scope.showsubmasterval=false;
                    }
                    else
                    {
                        $scope.showSingleSelectionval=false;
                        $scope.showMultipleChoiceval=true;
                        $scope.showRangeval=false;
                        $scope.showValueval=false;
                        $scope.showmasterval=true;
                        $scope.showsubmasterval=false;
                    }
                }
                else if ($scope.ControlID==1  ) {
                    debugger;
                    $scope.mastertypeID = -1;
                    $scope.getmastercontrols= [];
                    $scope.SubMasterType = [];
                    $scope.SubMasterID=-1;
                    $scope.MasterID=-1;

                    if ($scope.MasterID==undefined || $scope.MasterID==-1) {
                        $scope.showmasterval=true;
                        $scope.showSingleSelectionval=false;
                        $scope.showMultipleChoiceval=false;
                        $scope.showRangeval=false;
                        $scope.showValueval=false;
                        $scope.showsubmasterval=false;
                        GetMasters();
                    }
                    else
                    {
                        $scope.showmasterval=true;
                        $scope.showSingleSelectionval=true;
                        $scope.showMultipleChoiceval=false;
                        $scope.showRangeval=false;
                        $scope.showValueval=false;
                        $scope.showsubmasterval=false;
                    }
                }
                else
                {  //controllid
                    $scope.ControlID = -1;
                    $scope.questionanswercontrols = [];

                    //masterid
                    $scope.MasterID= -1;
                    $scope.questionanswarmasters= [];

                    //submasterid
                    $scope.SubMasterID= -1;
                    $scope.SubMasterType = [];

                    //mastertypeid
                    $scope.mastertypeID= -1;
                    $scope.getmastercontrols= [];
                    $scope.showsubmasterval=false;
                    $scope.showmasterval=true;
                    $scope.showSingleSelectionval=false;
                    $scope.showMultipleChoiceval=false;
                    $scope.showRangeval=false;
                    $scope.showValueval=false;
                }
            };

            $scope.onChanges = function () {
                debugger;
                $scope.datamasters = [];
                if ($scope.MasterID !=undefined) {
                    $http({
                        method: 'Get',
                        url: '../Question/GetMastersfromDBAll',
                        params: { MID: $scope.MasterID }
                    }).success(function (data, status, headers, config) {
                        $scope.datamasters = data;
                        $scope.mastertypeID = -1;
                        if( $scope.datamasters.IsSubtype==true)
                        {
                            $scope.showsubmasterval=true;
                            $scope.SubMasterType = [];
                            $http({
                                method: 'Get',
                                url: '../Question/GetMastersDataAll',
                                params: { MID: $scope.MasterID }
                            }).success(function (data, status, headers, config) {
                                if(data.length != 0){
                                    $scope.SubMasterType=data;
                                    $scope.showSingleSelectionval=false;
                                    $scope.showMultipleChoiceval=false;
                                    $scope.showRangeval=false;
                                    $scope.showValueval=false;
                                }
                                else
                                {
                                    $scope.showsubmasterval=false;
                                    $scope.SubMasterType = null;
                                }
                            })
                        }
                        else{
                            debugger;
                            $scope.showsubmasterval=false;
                            $scope.SubMasterType = null;
                            $scope.showSingleSelectionval=false;
                            $scope.showMultipleChoiceval=false;
                            $scope.showRangeval=false;
                            $scope.showValueval=false;

                            if ($scope.ControlID==1) {
                                debugger;
                                $scope.showSingleSelectionval=true;
                                $scope.showMultipleChoiceval=false;
                                $scope.showRangeval=false;
                                $scope.showValueval=false;
                                $scope.getmastercontrols = [];
                                $scope.mastertypeID = -1;

                                $http({
                                    method: 'Get',
                                    url: '../Question/GetMastersDataAll',
                                    params: { MID: $scope.MasterID }
                                }).success(function (data, status, headers, config) {
                                    $scope.getmastercontrols = data;
                                    $scope.mastertypeID = -1;
                                }).error(function (data, status, headers, config) {
                                    $scope.message = 'Unexpected Error';
                                });

                                //if ($scope.mastertypeID ==undefined) {
                                    //$scope.mastertypeID=-1;
                                //}
                            }
                            else if ($scope.ControlID==2) {
                                debugger;
                                $scope.showSingleSelectionval=false;
                                $scope.showMultipleChoiceval=true;
                                $scope.showRangeval=false;
                                $scope.showValueval=false;
                                $scope.CategoriesSelected = [];
                                $scope.Categories = [];
                                //fetch data from database for show in multiselect dropdown
                                $http.get('/Question/GetMastersDataAll?MID='+ $scope.MasterID +'').then(function (data) {
                                    angular.forEach(data.data, function (value, index) {
                                        $scope.Categories.push({ id: value.ID, label: value.Name });
                                    });
                                })
                                $scope.getmastercontrols= [];
                                $scope.mastertypeID= -1;
                                $scope.SubMasterID= -1;
                                $scope.SubMasterType = [];
                            }
                            else if ($scope.ControlID==3) {
                                debugger;
                                //masterid
                                $scope.MasterID= -1;
                                $scope.questionanswarmasters= [];

                                //submasterid
                                $scope.SubMasterID= -1;
                                $scope.SubMasterType = [];

                                //mastertypeid
                                $scope.mastertypeID= -1;
                                $scope.getmastercontrols= [];

                                $scope.showSingleSelectionval=false;
                                $scope.showMultipleChoiceval=false;
                                $scope.showRangeval=true;
                                $scope.showValueval=false;
                            }
                            else
                            {
                                debugger;
                                //masterid
                                $scope.MasterID= -1;
                                $scope.questionanswarmasters= [];

                                //submasterid
                                $scope.SubMasterID= -1;
                                $scope.SubMasterType = [];

                                //mastertypeid
                                $scope.mastertypeID= -1;
                                $scope.getmastercontrols= [];

                                $scope.showSingleSelectionval=false;
                                $scope.showMultipleChoiceval=false;
                                $scope.showRangeval=false;
                                $scope.showValueval=true;
                            }
                        }
                    }).error(function (data, status, headers, config) {
                        $scope.message = 'Unexpected Error';
                    });

                    //if ($scope.mastertypeID ==undefined) {
                        $scope.mastertypeID=-1;
                    //}
                }
                else
                {
                    //if ($scope.mastertypeID ==undefined) {
                        $scope.mastertypeID=-1;
                    //}
                    $scope.MasterID=-1;
                }
            };

            $scope.IsValid = true;
            $scope.IsExist = false;
            $scope.Validate = function () {
                $http({
                    method: 'POST',
                    url: '../Question/CheckExistance/',
                    params: { QuestionName: $scope.QuestionName}
                }).then(function (response) {
                    if (response.data==true) {
                        $scope.IsValid = false;
                        $scope.IsExist = true;
                    } else {
                        $scope.IsValid= true;
                        $scope.IsExist = false;
                    }
                });
            }
            //Save Add/Edit details to database
            $scope.IscustomerValid = 1;
            $scope.AddUpdateActivity = function (isValid) {
                debugger;
                if (isValid) {
                    $scope.ShowLoader = true;
                    $scope.userForm.$setPristine();
                    var Activity = {};
                    $scope.userForm.$setPristine();
                    var categoryIds = [];
                    var detail = {};
                    detail.ID= $scope.ID;
                    detail.QuestionName= $scope.QuestionName;
                    detail.ControlID= $scope.ControlID;
                    detail.MasterID = $scope.MasterID;
                    detail.txtvalue= $scope.txtvalue;
                    detail.minnumber= $scope.min;
                    detail.maxnumber= $scope.max;
                    //if ($scope.mastertypeID ==undefined) {
                    //    detail.mastertypeID=-1;
                    //}
                    //else
                    //{
                        detail.mastertypeID=$scope.mastertypeID;
                    //}
                    categoryIds.push(detail)
                    Activity.customerassignments = categoryIds;
                    if ($scope.CategoriesSelected != 0) {
                        var categoryIds = [];
                        angular.forEach($scope.CategoriesSelected, function (value, index) {
                            var detail = {};
                            detail.ID= $scope.ID;
                            detail.QuestionName= $scope.QuestionName;
                            detail.ControlID= $scope.ControlID;
                            detail.MasterID = $scope.MasterID;
                            detail.txtvalue= $scope.txtvalue;
                            detail.minnumber= $scope.min;
                            detail.maxnumber= $scope.max;
                            detail.mastertypeID=value.id;
                            categoryIds.push(detail);
                            $scope.IscustomerValid = 1;
                            $scope.IsCustValid = true;
                        });
                        Activity.customerassignments = categoryIds;
                        var getAction = $scope.Action;
                    }

                    if (getAction == "Update") {
                        Activity.ID = $scope.ID;
                        var getData = myService.updateActivity(Activity);
                        getData.then(function (msg) {
                            $scope.msg = msg.data;
                            if (msg.data == "Question has been Created Successfully!") {
                                ClearFields();
                                Bindgrid();
                                $scope.ShowLoader = false;
                                $scope.DisplayForm = false;
                                $scope.addminus = false;
                                $scope.addplus = true;
                                $scope.editminus = false;
                                $scope.DeleteAlert = false;
                                $scope.AddAlert = false;
                                $scope.EditAlert = true;
                                $scope.IsValid = true;
                                $scope.CategoriesSelected = [];
                                // Close Bootstrap Modal Popup.
                                angular.element('#popup').modal('hide');
                            }
                            else {
                                $scope.ShowLoader = false;
                                $scope.ID=$scope.ID;
                                $scope.QuestionName = $scope.QuestionName;
                                $scope.ControlID= $scope.ControlID;
                                $scope.MasterID = $scope.MasterID;
                                $scope.txtvalue = $scope.txtvalue;
                                $scope.min = $scope.min;
                                $scope.max = $scope.max;
                                $scope.mastertypeID = $scope.mastertypeID;
                                alert(2 +'' + $scope.mastertypeID);
                            }
                        }, function (msg) {
                            $scope.msg = msg.data;
                        });
                    }
                    else {
                        var getData = myService.AddActivity(Activity);
                        getData.then(function (msg) {
                            $scope.msg = msg.data;
                            if (msg.data == "Question has been Created Successfully!") {
                                ClearFields();
                                $scope.ShowLoader = false;
                                $scope.DisplayForm = false;
                                $scope.addminus = false;
                                $scope.addplus = true;
                                $scope.editminus = false;
                                $scope.DeleteAlert = false;
                                $scope.AddAlert = true;
                                $scope.EditAlert = false;
                                $scope.IsValid = true;
                                $scope.CategoriesSelected = [];
                                // Close Bootstrap Modal Popup.
                                angular.element('#popup').modal('hide');
                                Bindgrid();
                            }
                            else {
                                $scope.ShowLoader = false;
                                $scope.ID=$scope.ID;
                                $scope.QuestionName = $scope.QuestionName;
                                $scope.ControlID= $scope.ControlID;
                                $scope.MasterID = $scope.MasterID;
                                $scope.txtvalue = $scope.txtvalue;
                                $scope.min = $scope.min;
                                $scope.max = $scope.max;
                                $scope.mastertypeID = $scope.mastertypeID;
                                alert(1 +'' + $scope.mastertypeID);
                            }
                        }, function (msg) {

                            $scope.msg = msg.data;
                        });
                    }
                }
                else {
                    $scope.DisplayForm = true;
                    // Show error Message if Form not valid.
                    if ($scope.userForm.$error.required != undefined) {
                        for (var i = 0; i < $scope.userForm.$error.required.length; i++) {
                            $scope.userForm.$error.required[i].$pristine = false;
                        }
                    }
                }
                Bindgrid();
            }
            //Add User details
            //Add Activity details
            $scope.AddActivityDiv = function () {
                $scope.showSingleSelectionval=false;
                $scope.showMultipleChoiceval=false;
                $scope.showRangeval=false;
                $scope.showValueval=false;
                $scope.showmasterval=true;
                $scope.showsubmasterval=false;
                $scope.DisplayForm = true;
                $scope.addminus = true;
                $scope.addplus = false;
                $scope.DeleteAlert = false;
                $scope.AddAlert = false;
                $scope.EditAlert = false;
                $scope.ShowLoader = false;
                $scope.popup = true;
                $scope.IsValid = true;
                Bindgrid();
                $scope.IscustomerValid = 1;
                $scope.CategoriesSelected = [];
                $scope.Categories = [];

                //controllid
                $scope.ControlID = -1;
                $scope.questionanswercontrols = [];

                //masterid
                $scope.MasterID= -1;
                $scope.questionanswarmasters= [];

                //submasterid
                $scope.SubMasterID= -1;
                $scope.SubMasterType = [];

                //mastertypeid
                $scope.getmastercontrols= [];
                $scope.mastertypeID= -1;

                GetQuestions();
                GetMasters();
                ClearFields();
                $scope.Action = "Save";
            }


            //Clear all feilds
            function ClearFields() {
                $scope.showSingleSelectionval=false;
                $scope.showMultipleChoiceval=false;
                $scope.showRangeval=false;
                $scope.showValueval=false;
                $scope.showsubmasterval=false;
                $scope.ID = "";
                $scope.QuestionName = "";
                //$scope.ControlID =-1;
                //$scope.MasterID =-1;
                $scope.txtvalue = 0;
                $scope.min = 0;
                $scope.max = 0;
                //$scope.mastertypeID = -1;


                $scope.CategoriesSelected = [];
                $scope.Categories = [];

                //controllid
                $scope.ControlID = -1;
                $scope.questionanswercontrols = [];

                //masterid
                $scope.MasterID= -1;
                $scope.questionanswarmasters= [];

                //submasterid
                $scope.SubMasterID= -1;
                $scope.SubMasterType = [];

                //mastertypeid
                $scope.getmastercontrols= [];
                $scope.mastertypeID= -1;

                $scope.ShowLoader = false;
                $scope.IsValid = true;
                $scope.showmasterval=true;
                $scope.userForm.$setPristine();
                $scope.IscustomerValid = 1;
            }
            //Cancel Functionality
            $scope.close = function () {
                $scope.DisplayForm = false;
                $scope.addminus = false;
                $scope.addplus = true;
                $scope.editminus = false;
                $scope.DeleteAlert = false;
                $scope.AddAlert = false;
                $scope.popup = false;
                $scope.EditAlert = false;
                $scope.ShowLoader = false;
                $scope.showSingleSelectionval=false;
                $scope.showMultipleChoiceval=false;
                $scope.showRangeval=false;
                $scope.showValueval=false;
                $scope.showsubmasterval=false;
                ClearFields();
                $scope.CategoriesSelected = [];
                $scope.userForm.$setPristine();
                $scope.showmasterval=true;
                $scope.IscustomerValid = 1;
            }
        })
        app.service("myService", function ($http) {
            // Update Activity by Id
            this.updateActivity = function (activitie) {
                var response = $http({
                    method: "post",
                    url: "../Question/UpdateActivity",
                    data: JSON.stringify(activitie),
                    dataType: "json"
                });
                return response;
            }
            // Add Activity by Id
            this.AddActivity = function (activitie) {
                var response = $http({
                    method: "post",
                    url: "../Question/AddActivity",
                    data: JSON.stringify(activitie),
                    dataType: "json"
                });

                return response;
            }
        });

    </script>


</head>
<body>
    <div class="container">
        <div id="example" ng-app="KendoDemos">
            <div ng-controller="MyCtrl">
                <div style="padding-top:10px"></div>

                <div class="alert alert-danger" ng-show="DeleteAlert" ng-model="delete">
                    <strong>{{delete}}</strong>
                </div>
                <div class="alert alert-success" ng-show="AddAlert" ng-model="add">
                    <strong>{{msg}}</strong>
                </div>
                <div class="alert alert-info" ng-show="EditAlert" ng-model="edit">
                    <strong>{{msg}}</strong>
                </div>



                <div class="modal fade" id="popup" data-keyboard="false" data-backdrop="static" style="border:0px;margin-left: 35px;position: absolute;overflow: hidden;padding-top:30px" role="dialog">
                    <div style="width:1250px;">
                        <div class="modal-content">
                            <div class="modal-header pt-reduced pb-reduced" style="background-color:#81c9ff;">
                                <button type="button" class="close" data-dismiss="modal" ng-click="close()">x</button>
                                <h4 class="modal-title" style="text-align:center;height: 20px;color:white"><b>Question Master</b></h4>
                            </div>
                            <div class="modal-body">
                                <div id="wrapper" class="clearfix" ng-show="DisplayForm" scroll-bookmark="bookmark">
                                    <div>
                                        <form name="userForm" novalidate>
                                            <div class="form-horizontal">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label for="lblLastName">Question</label><br />

                                                        @*ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,60}$/"*@
                                                        <input type="text" style="display: inline;color:gray; height: 28px;" class="form-control"
                                                               ng-change="Validate()"
                                                               name="QuestionName" ng-model="QuestionName" required />
                                                        <p style="color:red" ng-show="userForm.QuestionName.$error.required  && !userForm.QuestionName.$pristine" class="help-block"> Question is required.</p>
                                                        <p style="color: Red; width: 200px; padding-left: 2%;" ng-show="!IsValid">Question already exists!</p>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <label style="color:red;">*</label>
                                                        <label for="lblControlID">Control</label><br />
                                                        <select class="form-control" style="display: inline; width: 252px;" select2="" name="ControlID" ng-model="ControlID"
                                                                containerCssClass="all" ng-options="r.ID as r.ControlName for r in questionanswercontrols" ng-change="oncontrolsChanges()"
                                                                ng-disabled="disabled" required>
                                                            <option value="">Select Control</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-3" ng-show="showmasterval">
                                                        <label style="color:red;">*</label>
                                                        <label for="lblMasterID">Master</label><br />
                                                        <select class="form-control" style="display: inline; width: 252px;" select2="" name="MasterID" ng-model="MasterID" containerCssClass="all"
                                                                ng-options="r.ID as r.MasterName for r in questionanswarmasters" ng-change="onChanges()" ng-disabled="disabled" required>
                                                            <option value="">Select Master</option>
                                                        </select>
                                                    </div>

                                                    <div id="Subtype" class="col-md-3" ng-show="showsubmasterval">
                                                        <label style="color:red;">*</label>
                                                        <label for="lblSubMasterID"> Sub Master</label><br />
                                                        <select class="form-control" style="display: inline; width: 252px;" select2="" name="SubMasterID" ng-model="SubMasterID"
                                                                containerCssClass="all" ng-options="r.ID as r.Name for r in SubMasterType" ng-change="onSubMasterChanges()" ng-disabled="disabled" required>
                                                            <option value="">Select Sub Master</option>
                                                        </select>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <lable id="Act_type"></lable>
                                                    </div>
                                                </div>
                                                <div class="clearfix" style="height:10px;"> </div>
                                                <div class="row">
                                                    <div class="col-md-3" ng-show="showSingleSelectionval">
                                                        <select class="form-control" style="display: inline;" select2="" name="mastertypeID" ng-model="mastertypeID" containerCssClass="all"
                                                                ng-options="r.ID as r.Name for r in getmastercontrols" ng-disabled="disabled" required>
                                                            <option value="">Select Value</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-3" ng-show="showMultipleChoiceval">
                                                        <div ng-dropdown-multiselect="" extra-settings="dropdownSetting"
                                                             options="Categories" selected-model="CategoriesSelected" translation-texts="example5customTexts" checkboxes="true">
                                                        </div>
                                                        <p style="color:red; margin-left: 15%;" ng-show="IscustomerValid==0" class="help-block"> Please select any one category</p>
                                                        <p style="color:red" ng-show="IscustomerValid==1" class="help-block"></p>
                                                    </div>

                                                    <div class="col-md-3" ng-show="showRangeval">
                                                        <div>
                                                            <label>Min:</label>
                                                            <input name="minnumber" style="display: inline;color:#333; width: 268px;height: 28px;" class="form-control" type="number" ng-model="min">
                                                            <p style="color:red" ng-show="userForm.min.$error.required  && !userForm.min.$pristine" class="help-block"> Value is required.</p>
                                                        </div>
                                                        <div class="clearfix" style="height:10px;"> </div>
                                                        <div style="margin-left: -3px;">
                                                            <label>Max:</label>
                                                            <input name="maxnumber" style="display: inline;color:#333; width: 268px;height: 28px;" class="form-control" type="number" ng-model="max">
                                                            <p style="color:red" ng-show="userForm.max.$error.required  && !userForm.max.$pristine" class="help-block"> Value is required.</p>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3" ng-show="showValueval">
                                                        <input type="number" style="display: inline;color:#333; width: 268px;height: 28px;" class="form-control" name="txtvalue" ng-model="txtvalue" required />
                                                        <p style="color:red" ng-show="userForm.txtvalue.$error.required  && !userForm.txtvalue.$pristine" class="help-block"> Value is required.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group"></div>
                                                <div class="form-group" style="width: 120%; text-align: center; padding: 10px;">
                                                    <div class="col-md-offset-2 col-md-5">
                                                        <p>
                                                            @*<button class="button" ng-model="IsVisible" ng-click="AddUpdateActivity(userForm.$valid)">{{Action}}</button>*@
                                                            <button class="button" ng-model="IsVisible" ng-click="AddUpdateActivity(true)">{{Action}}</button>
                                                            <button class="button" data-dismiss="modal" ng-click="close()" style="margin-right: -58px;">Close</button>
                                                        </p>
                                                        <p style="color: red;margin-left: -321px;"><strong>Note:</strong> (*) Fields Are Compulsary</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4" style="margin-left: -18px;display:inline-block">
                                <h1 class="modal-title" style="text-align:left;height: 20px;font-size: 16px;"><b>Question Master</b></h1>
                            </div>
                            <div class="col-md-3"></div>
                            <div class="col-md-3"></div>
                            <div class="col-md-" style="text-align: right;display:inline-block ;margin-left:125px">
                                <button class="btn btn-primary btn-sm " data-toggle="modal" data-target="#popup" ng-show="addplus" ng-click="AddActivityDiv();" style="margin-left: 27px;margin-bottom: 6px;"><span class="glyphicon glyphicon-plus"></span>Add</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row" style="padding-bottom: 10px; margin-left: -4px; padding-top: 2px;">
                    @*<input id="dropdownQuestionName" data-placeholder="Status" style="width: 15%; display:none;" />*@
                    <input id="dropdownControlName" data-placeholder="Status" style="width: 15%;" />
                </div>


                <div class="row" style="padding-top: 12px;margin-right: -11px;">
                    <div id="grid" style="margin-left:10px;margin-right:10px;"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="divViewDocument" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
        <div class="modal-dialog" style="width: 70%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body" style="height: 570px;">
                    <div style="width: 100%;">
                        <div class="col-md-12 colpadding0">
                            <label Style="color: red;"></label>
                            <fieldset style="height: 550px; width: 100%;">
                                <iframe src="about:blank" id="OverViews" width="100%" height="100%" frameborder="0"></iframe>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
