﻿<!DOCTYPE html>
<html>
<head>
    @*<link href="~/select2/select2.min.css" rel="stylesheet" />
    <link href="~/content/bootstrap.css" rel="stylesheet" />
    <link href="~/content/bootstrap.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.common.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.rtl.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.silver.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.mobile.all.min.css" rel="stylesheet" />
    <link href="~/content/ng-tags-input.min.css" rel="stylesheet" />
    <script type="text/javascript" src="../../Newjs/jquery-1.12.4.min.js"></script>
    <script src="~/masters/bootstrap.min.js"></script>
    <script src="~/select2/select2.min.js"></script>
    <script src="~/select2/select2.full.js"></script>
    <script src="~/scripts/anjular(1.5.0).min.js"></script>
    <script src="~/masters/angular.js"></script>
    <script src="~/scripts/angular.js"></script>
    <script src="~/scripts/angular.min.js"></script>
    <script type="text/javascript" src="../../Newjs/kendo.all.min.js"></script>
    <script type="text/javascript" src="../../Newjs/jszip.min.js"></script>
    <script src="~/js/lodash.js"></script>
    <script src="~/js/angularjs-dropdown-multiselect.min.js"></script>    
    <script src="~/Scripts/ng-tags-input.min.js"></script>*@   


    <link href="~/IMAJS/select2.min.css" rel="stylesheet" />
    <link href="~/IMACSS/bootstrap.css" rel="stylesheet" />
    <link href="~/IMACSS/bootstrap.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.common.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.rtl.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.silver.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.mobile.all.min.css" rel="stylesheet" />
    <link href="~/IMACSS/ng-tags-input.min.css" rel="stylesheet" />
    <script type="text/javascript" src="../../Newjs/jquery-1.12.4.min.js"></script>
    <script src="~/IMAJS/bootstrap.min.js"></script>
    <script src="~/IMAJS/select2.min.js"></script>
    <script src="~/IMAJS/select2.full.js"></script>
    <script src="~/IMAJS/anjular(1.5.0).min.js"></script>  
    <script src="~/IMAJS/angular.js"></script>
    <script src="~/IMAJS/angular.min.js"></script>
    <script type="text/javascript" src="../../Newjs/kendo.all.min.js"></script>
    <script type="text/javascript" src="../../Newjs/jszip.min.js"></script>
    <script src="~/IMAJS/lodash.js"></script>
    <script src="~/IMAJS/angularjs-dropdown-multiselect.min.js"></script>
    <script src="~/IMAJS/ng-tags-input.min.js"></script>   
    <style type="text/css">
            .div.k-grid-footer, div.k-grid-header {
                border-top-style: solid;
                border-top-width: 1px;
            }

            .k-state-default > .k-select {
                border-color: #ceced2;
                margin-top: -6px;
            }

            .k-pager-wrap > .k-link > .k-icon {
                margin-top: -2px !important;
                color: inherit;
            }

            .btn .caret {
                margin-left: 170px;
            }

            ul.dropdown-menu.dropdown-menu-form.ng-scope {
                width: 280px;
            }

            .btn-default {
                color: #333;
                background-color: #fff;
                border-color: #ccc;
                height: 28px;
                padding-top: 3px;
                width: 280px;
                padding-right: 116px;
                /*margin-left: 50px;*/
            }

            .dropdown-menu .divider {
                height: 1px;
                margin: 3px 0;
                overflow: hidden;
                background-color: #e5e5e5;
            }

            html {
                color: #666666;
                font-size: 15px;
                font-weight: normal;
                font-family: 'Roboto',sans-serif;
            }

            .modal-content {
                position: relative;
                background-color: #fff;
                border: 1px solid #999;
                border: 1px solid rgba(0,0,0,0.2);
                border-radius: 6px;
                outline: 0;
                -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
                box-shadow: 0 3px 9px rgba(0,0,0,0.5);
                background-clip: padding-box;
                height: 425px;
            }

            .select2-container--open .select2-dropdown {
                left: 0;
                /*margin-left: -66px;*/
            }

            .select2-container--default .select2-selection--single .select2-selection__rendered {
                color: grey !important;
                line-height: 28px;
                /*margin-right: 48px;*/
                text-align: left;
            }

            .select2-container {
                box-sizing: border-box;
                display: inline-block;
                margin: 0;
                position: relative;
                vertical-align: middle;
            }

            .k-checkbox-label, .k-radio-label {
                display: inline;
            }

            .myKendoCustomClass {
                z-index: 999 !important;
            }

            .k-header .k-grid-toolbar {
                background: white;
                float: left;
                width: 100%;
            }

            .k-grid td {
                line-height: 1.0em;
            }

            .k-i-more-vertical:before {
                content: "\e006";
            }

            .k-grid td.k-state-selected:hover, .k-grid tr.k-state-selected:hover {
                background-color: #1fd9e1;
                background-image: none;
            }

            k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list > .k-state-highlight, .k-list > .k-state-selected, .k-marquee-color, .k-panel > .k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-tool.k-state-selected {
                color: #000000;
                border-color: #1fd9e1;
                background-color: #f6f6f6;
            }

            #grid .k-grid-toolbar {
                background: white;
            }


            .k-pager-wrap > .k-link > .k-icon {
                margin-top: 5px;
                color: inherit;
            }

            .toolbar {
                float: left;
            }

            html .k-grid tr:hover {
                background: #E4F7FB;
            }

            html .k-grid tr.k-alt:hover {
                background: #E4F7FB;
                min-height: 30px;
            }

            .k-grid tbody .k-button {
                min-width: 30px;
                min-height: 30px;
                border-radius: 35px;
            }

            .k-button-icontext .k-icon, .k-button-icontext .k-image, .k-button-icontext .k-sprite {
                margin-right: 0px;
                margin-right: 0px;
                margin-left: 0px;
                margin-left: 0px;
            }

            .k-auto-scrollable {
                overflow: hidden;
            }

            .k-grid-header {
                padding-right: 0px !important;
            }

            .k-multicheck-wrap .k-item {
                line-height: 1.2em;
                font-size: 14px;
                margin-bottom: 5px;
            }

            label {
                display: inline-block;
                margin-bottom: 0px;
            }

            .k-filter-menu .k-button {
                width: 27%;
            }

            .k-label input[type="checkbox"] {
                margin: 0px 5px 0 !important;
            }

            .k-filter-row th, .k-grid-header th.k-header {
                font-size: 15px;
                background: #f8f8f8;
                font-family: 'Roboto',sans-serif;
                color: #2b2b2b;
                font-weight: 400;
            }

            .k-primary {
                border-color: #1fd9e1;
                background-color: #1fd9e1;
            }

            .k-pager-wrap {
                background-color: #f8f8f8;
                color: #2b2b2b;
            }

            td.k-command-cell {
                border-width: 0 1px 0 1px;
            }

            .k-grid-pager {
                border-width: 1px 1px 1px 1px;
            }

            span.k-icon.k-i-calendar {
                margin-top: 6px;
            }

            .col-md-2 {
                width: 20%;
            }

            .k-filter-row > th:first-child, .k-grid tbody td:first-child, .k-grid tfoot td:first-child, .k-grid-header th.k-header:first-child {
                border-left-width: 1px;
                line-height: 14px;
            }

            .k-grid tbody tr {
                height: 38px;
            }

            
    </style>

   
   
    <script>

        function onChange() {
            FilterAll();
        }
        function BindControl() {
            $("#dropdownControlName").kendoDropDownList({
                autoClose: true,
                autoWidth: true,
                optionLabel: "Select Control",
                dataTextField: "ControlName",
                dataValueField: "ControlName",
                change: function (e) {
                    FilterAll();
                },
                dataSource:
                    {
                        severFiltering: true,
                        transport: {
                            read: '../Question/GetAnswerControl'
                        },
                    }
            });
        }
        function FilterAll() {

            if (($("#dropdownControlName").val() != 0 && $("#dropdownControlName").val() != -1 && $("#dropdownControlName").val() != "")
                ) {
                var finalSelectedfilter = { logic: "and", filters: [] };

                if ($("#dropdownControlName").val() != 0 && $("#dropdownControlName").val() != -1 && $("#dropdownControlName").val() != "") {
                    var FYFilter = { logic: "or", filters: [] };

                    FYFilter.filters.push({
                        field: "ControlName", operator: "eq", value: $("#dropdownControlName").val()
                    });
                    finalSelectedfilter.filters.push(FYFilter);
                }
                if (finalSelectedfilter.filters.length > 0) {
                    var dataSource = $("#grid").data("kendoGrid").dataSource;
                    dataSource.filter(finalSelectedfilter);
                }
                else {
                    $("#grid").data("kendoGrid").dataSource.filter({});
                }
            }
            else {
                $("#grid").data("kendoGrid").dataSource.filter({});
            }
        }

        var app=angular.module("KendoDemos", [ 'angularjs-dropdown-multiselect',"kendo.directives","ngTagsInput" ]);
        app.directive("select2", function ($timeout, $parse) {
            return {
                restrict// Code goes here
            : 'AC',
                require: 'ngModel',
                link: function (scope, element, attrs) {
                    console.log(attrs);
                    $timeout(function () {
                        element.select2();
                        element.select2Initialized = true;
                    });

                    var refreshSelect = function () {
                        if (!element.select2Initialized) return;
                        $timeout(function () {
                            element.trigger('change');
                        });
                    };

                    var recreateSelect = function () {
                        if (!element.select2Initialized) return;
                        $timeout(function () {
                            element.select2('destroy');
                            element.select2();
                        });
                    };

                    scope.$watch(attrs.ngModel, refreshSelect);

                    if (attrs.ngOptions) {
                        var list = attrs.ngOptions.match(/ in ([^ ]*)/)[1];
                        // watch for option list change
                        scope.$watch(list, recreateSelect);
                    }

                    if (attrs.ngDisabled) {
                        scope.$watch(attrs.ngDisabled, refreshSelect);
                    }
                }
            };
        });
        app.controller("MyCtrl", function ($scope,$http,myService) {

            $scope.example5customTexts = { buttonDefaultText: 'Select Value' };
            //define object
            $scope.CategoriesSelected = [];
            $scope.Categories = [];
            $scope.dropdownSetting = {
                checkBoxes: true,
                scrollableHeight: '200px',
                scrollable: true,
                enableSearch: true,
                showCheckAll: true,
                showUncheckAll:true,
                GetChecked: true,
                width: '200px',
            }


            var record = 0;
            Bindgrid();
            BindControl();
            GetQuestions();
            GetTabList();
            function Bindgrid() {
                var grid = $('#grid').data("kendoGrid");
                if (grid != undefined || grid != null)
                    $('#grid').empty();
                var grid = $("#grid").kendoGrid({
                    dataSource: {
                        transport: {
                            read: '../Question/getAllQuestion'
                        },
                        pageSize: 10
                    },
                    excel: {
                        allPages: true,
                    },
                    noRecords: true,
                    messages: {
                        noRecords: "No records found"
                    },
                    sortable: true,
                    groupable: true,
                    filterable: true,
                    columnMenu: true,
                    pageable: true,
                    reorderable: true,
                    resizable: true,
                    multi: true,
                    selectable: true,
                    dataBinding: function () {
                        record = (this.dataSource.page() - 1) * this.dataSource.pageSize();
                        if (this.ReminderStatus == 0) { template: "#=pending" }
                    },
                    //dataBound: OnGridDataBoundAdvanced,
                    columns: [
                        //{
                        //    title: "Sr",
                        //    template: "#= ++record #",
                        //    width: "58px",
                        //},

                         { hidden: true, field: "ControlID", title: "ControlID" },
                          { hidden: true, field: "TabID", title: "TabID" },

                {
                    field: "QuestionID", title: 'QuestionID',
                    attributes: {
                        style: 'white-space: nowrap;'

                    }, 
                    width: "150px",
                    filterable: {
                        extra: false,
                        operators: {
                            string: {
                                eq: "Is equal to",
                                neq: "Is not equal to",
                                contains: "Contains"
                            }
                        }
                    }
                },

                {
                    field: "QuestionName", title: 'Question Name',
                    attributes: {
                        style: 'white-space: nowrap;'

                    }, filterable: {
                        extra: false,
                        operators: {
                            string: {
                                eq: "Is equal to",
                                neq: "Is not equal to",
                                contains: "Contains"
                            }
                        }
                    }
                },
                    {
                        field: "ControlName", title: 'Control Name',
                        width: "200px",
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            extra: false,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                     {
                         field: "TabName", title: 'Tab Name',
                         width: "200px",
                         attributes: {
                             style: 'white-space: nowrap;'

                         }, filterable: {
                             extra: false,
                             operators: {
                                 string: {
                                     eq: "Is equal to",
                                     neq: "Is not equal to",
                                     contains: "Contains"
                                 }
                             }
                         }
                     },
                    {
                        command: [
                            { name: "edit", text: "", iconClass: "k-icon k-i-hyperlink-open", className: "ob-edit" },
                            { name: "edit1", text: "", iconClass: "k-icon k-i-delete k-i-trash", className: "ob-deleteuser" },
                            //{ name: "download", text: "", iconClass: "k-icon k-i-download", className: "ob-download" },
                            //{ name: "view", text: "", iconClass: "k-icon k-i-eye", className: "ob-view" }
                        ], title: "Action", lock: true, width: "15%;",// width: 150,
                    }
                    ]
                });

                $("#grid").kendoTooltip({
                    filter: "td:nth-child(2)", //this filter selects the second column's cells
                    position: "down",
                    content: function (e) {
                        var content = e.target.context.textContent;
                        return content;
                    }
                }).data("kendoTooltip");

                $("#grid").kendoTooltip({
                    filter: "td:nth-child(3)", //this filter selects the second column's cells
                    position: "down",
                    content: function (e) {
                        var content = e.target.context.textContent;
                        return content;
                    }
                }).data("kendoTooltip");

                $("#grid").kendoTooltip({
                    filter: ".k-grid-edit",
                    content: function (e) {
                        return "Edit";
                    }
                });

                $("#grid").kendoTooltip({
                    filter: ".k-grid-edit1",
                    content: function (e) {
                        return "Delete";
                    }
                });

                $("#grid").kendoTooltip({
                    filter: ".k-grid-view",
                    content: function (e) {
                        return "View";
                    }
                });
            }

            //Edit User Deatais
            $(document).on("click", "#grid tbody tr .ob-edit", function (e) {               
                $('#popup').modal('show');
                var item = $("#grid").data("kendoGrid").dataItem($(this).closest("tr"));
                $scope.DisplayForm = true;
                $scope.addminus = false;
                $scope.addplus = false;
                $scope.editminus = true;
                $scope.AddAlert = false;
                $scope.EditAlert = false;
                $scope.DeleteAlert = false;
                $scope.PossibleAnswer=[];
                $http({
                    method: 'POST',
                    url: '../Question/getQuestionByNo/',
                    data: JSON.stringify({ id: item.QuestionID })
                }).success(function (data, status, headers, config) {
                    debugger;          
                    $scope.ID = data.ID;
                    $scope.QuestionName = data.QuestionName;
                    $scope.ControlID = data.ControlID; 
                    $scope.TabID = data.TabID;
                    $scope.IsQuestionType = data.IsQuestionType; 
                    $scope.PossibleAnswer=  data.PossibleAnswer; 
                    $scope.disabledValuedropdown = 0;  
                    if ($scope.ControlID==1 || $scope.ControlID==2) {
                        //$scope.PossibleAnswer=  data.PossibleAnswer;   
                        $scope.disabledValuedropdown = 1;                         
                    }         
                    $scope.heyram=false;          
                    $scope.Action = "Update";
                }).error(function (data, status, headers, config) {
                    $scope.message = 'Unexpected Error';
                });
            });

            //Delete User Details
            $(document).on("click", "#grid tbody tr .ob-deleteuser", function (e) {                
                var retVal = confirm("Do you want to Delete Record..?");
                if (retVal == true) {
                    var item = $("#grid").data("kendoGrid").dataItem($(this).closest("tr"));
                    $http({
                        method: 'POST',
                        url: '../Question/DeleteQuestion/',
                        data: JSON.stringify({ Id: item.QuestionID })
                    }).success(function (data, status, headers, config) {                        
                        $scope.delete = data;
                        $scope.DeleteAlert = true;
                        $scope.AddAlert = false;
                        $scope.EditAlert = false;
                        $scope.popup = false;
                        $scope.IsEmailValid = true;
                        Bindgrid();
                    }).error(function (data, status, headers, config) {
                        $scope.message = 'Unexpected Error';
                    });
                }
                return true;
            });


            $scope.disabledValuedropdown = 0; 
            $scope.DisplayForm = false;
            $scope.addminus = false;
            $scope.addplus = true;
            $scope.editminus = false;
            $scope.AddAlert = false;
            $scope.EditAlert = false;
            $scope.DeleteAlert = false;
            $scope.popup = false;

           
            $scope.ShowLoader = false;
            $scope.sort = function (keyname) {
                $scope.sortKey = keyname;
                $scope.reverse = !$scope.reverse;
            }
            $scope.IsEmployee = true;

            $scope.toggle=function(user){
                $scope.IsEmployee=false;
                $scope.message = 'true';
                $scope.onChange = function(state) {
                    $scope.message = state;
                };
            }
            var UserId=@Session["userID"].ToString();
            $scope.rights =
            [{ 'accessadd': UserId, 'accessedit':UserId,'accessdelete':UserId }];

            //controllid                           
            //Get Question name
            function GetQuestions() {
                $scope.questionanswercontrols = [];
                $http({
                    method: 'Get',
                    url: '../Question/GetAnswerControl',
                }).success(function (data, status, headers, config) {
                    $scope.questionanswercontrols = data;
                    //$scope.ControlID = -1;
                }).error(function (data, status, headers, config) {
                    $scope.message = 'Unexpected Error';
                });
            }

            function GetTabList() {
                $scope.questionanswertab = [];
                $http({
                    method: 'Get',
                    url: '../TabMaster/Gettabdata',
                }).success(function (data, status, headers, config) {
                    $scope.questionanswertab = data;
                    //$scope.ControlID = -1;
                }).error(function (data, status, headers, config) {
                    $scope.message = 'Unexpected Error';
                });
            }

            $scope.changeStatus = function(){
                $scope.status = !$scope.status;
                //alert($scope.status);
            }

            $scope.IsValid = true;
            $scope.IsExist = false;
            $scope.Validate = function () {
                $http({
                    method: 'POST',
                    url: '../Question/CheckExistance/',
                    params: { QuestionName: $scope.QuestionName}
                }).then(function (response) {
                    if (response.data==true) {
                        $scope.IsValid = false;
                        $scope.IsExist = true;
                    } else {
                        $scope.IsValid= true;
                        $scope.IsExist = false;
                    }
                });
            }
            //Save Add/Edit details to database
            $scope.AddUpdateActivity = function (isValid) {   
                debugger;
                if (isValid) {
                    $scope.ShowLoader = true;
                    $scope.userForm.$setPristine();
                    var Activity = {};                                   
                    var detail = {};                    
                    detail.ID= $scope.ID;
                    detail.QuestionName= $scope.QuestionName;
                    detail.ControlID= $scope.ControlID; 
                    detail.TabID= $scope.TabID; 
                    detail.PossibleAnswer = $scope.PossibleAnswer; 
                    detail.IsQuestionType = $scope.IsQuestionType; 
                    debugger;
                    if ($scope.IsQuestionType ==undefined || $scope.IsQuestionType ==-1) {                     
                        $scope.heyram=true;                        
                    }
                    else
                    {   debugger;
                        $scope.heyram=false;
                        var getAction = $scope.Action;
                        if (getAction == "Update") {
                            Activity.ID = $scope.ID;
                            var getData = myService.updateActivity(detail);
                            getData.then(function (msg) {
                                $scope.msg = msg.data;
                                if (msg.data == "Question Updated Successfully!") {
                                    ClearFields();
                                    Bindgrid();
                                    $scope.ShowLoader = false;
                                    $scope.DisplayForm = false;
                                    $scope.addminus = false;
                                    $scope.addplus = true;
                                    $scope.editminus = false;
                                    $scope.DeleteAlert = false;
                                    $scope.AddAlert = false;
                                    $scope.EditAlert = true;
                                    $scope.IsValid = true;                             
                                    // Close Bootstrap Modal Popup.
                                    angular.element('#popup').modal('hide');
                                }
                                else {                                
                                    $scope.ShowLoader = false;
                                    $scope.ID=$scope.ID;
                                    $scope.QuestionName = $scope.QuestionName;
                                    $scope.PossibleAnswer = $scope.PossibleAnswer;
                                    $scope.ControlID= $scope.ControlID;
                                    $scope.TabID= $scope.TabID;
                                }
                            }, function (msg) {
                                $scope.msg = msg.data;
                            });
                        }
                        else {
                            var getData = myService.AddQuestion(detail);
                            getData.then(function (msg) {
                                $scope.msg = msg.data;
                                if (msg.data == "Question Saved Successfully!") {
                                    ClearFields();
                                    $scope.ShowLoader = false;
                                    $scope.DisplayForm = false;
                                    $scope.addminus = false;
                                    $scope.addplus = true;
                                    $scope.editminus = false;
                                    $scope.DeleteAlert = false;
                                    $scope.AddAlert = true;
                                    $scope.EditAlert = false;
                                    $scope.IsValid = true;
                                    // Close Bootstrap Modal Popup.
                                    angular.element('#popup').modal('hide');
                                    Bindgrid();
                                }
                                else {                                
                                    $scope.ShowLoader = false;
                                    $scope.ID=$scope.ID;
                                    $scope.QuestionName = $scope.QuestionName;
                                    $scope.PossibleAnswer = $scope.PossibleAnswer;                                
                                    $scope.ControlID= $scope.ControlID;
                                    $scope.TabID= $scope.TabID;
                                }
                            }, function (msg) {

                                $scope.msg = msg.data;
                            });
                        }
                    }
                }
                else {
                    $scope.DisplayForm = true;
                    // Show error Message if Form not valid.
                    if ($scope.userForm.$error.required != undefined) {
                        for (var i = 0; i < $scope.userForm.$error.required.length; i++) {
                            $scope.userForm.$error.required[i].$pristine = false;
                        }
                    }
                }
                Bindgrid();
            }
            //Add User details
            //Add Activity details
            $scope.AddActivityDiv = function () {
                $scope.DisplayForm = true;
                $scope.addminus = true;
                $scope.addplus = false;
                $scope.DeleteAlert = false;
                $scope.AddAlert = false;
                $scope.EditAlert = false;
                $scope.ShowLoader = false;
                $scope.popup = true;
                $scope.IsValid = true;
                Bindgrid();
                //controllid
                //$scope.ControlID = -1;  
                $scope.submitted=false;
                $scope.PossibleAnswer=[];
                $scope.ControlID = undefined;
                $scope.TabID = undefined;
                GetQuestions();
                GetTabList();
                ClearFields();
                $scope.Action = "Save";
            }

          
            //Clear all feilds
            function ClearFields() {
                $scope.ID = "";
                $scope.QuestionName = "";
                $scope.ControlID = -1;
                $scope.TabID = -1;
                $scope.ShowLoader = false;
                $scope.IsValid = true;
                $scope.IsQuestionType=-1;
                $scope.userForm.$setPristine();
            }
            //Cancel Functionality
            $scope.close = function () {
                $scope.DisplayForm = false;
                $scope.addminus = false;
                $scope.addplus = true;
                $scope.editminus = false;
                $scope.DeleteAlert = false;
                $scope.AddAlert = false;
                $scope.popup = false;
                $scope.EditAlert = false;
                $scope.ShowLoader = false;              
                ClearFields();
                $scope.userForm.$setPristine();
            }

            $scope.onChanges = function (val) {                                
                if (val != undefined) {                                                              
                    if (val == 1) {
                        $scope.disabledValuedropdown = 1; 
                        $scope.PossibleAnswer=[];
                    }
                    else if (val == 2) {
                        $scope.disabledValuedropdown = 1;       
                        $scope.PossibleAnswer=[];
                    }
                    else if (val == 3) {
                        $scope.disabledValuedropdown = 0;                             
                        $scope.PossibleAnswer.push({ name: "" });
                    }
                    else if (val == 4) {                      
                        $scope.disabledValuedropdown = 0;  
                        $scope.PossibleAnswer.push({ name: "" });
                    }
                    else {
                        $scope.disabledValuedropdown = 0;   
                        $scope.PossibleAnswer.push({ name: "" });
                    }                    
                } else {         
                   
                    $scope.disabledValuedropdown = 0;                       
                }
            };
        })

        app.service("myService", function ($http) {
            // Update Question by Id
            this.updateActivity = function (activitie) {
                var response = $http({
                    method: "post",
                    url: "../Question/UpdateQuestion",
                    data: JSON.stringify(activitie),
                    dataType: "json"
                });
                return response;
            }               
            this.AddQuestion = function (activitie) {
                var response = $http({
                    method: "post",
                    url: "../Question/AddQuestion",
                    data: JSON.stringify(activitie),
                    dataType: "json"
                });

                return response;
            }
        })   
    </script>


</head>
<body>
    <div class="container">
        <div id="example" ng-app="KendoDemos">
            <div ng-controller="MyCtrl">
                <div style="padding-top:10px"></div>

                <div class="alert alert-danger" ng-show="DeleteAlert" ng-model="delete">
                    <strong>{{delete}}</strong>
                </div>
                <div class="alert alert-success" ng-show="AddAlert" ng-model="add">
                    <strong>{{msg}}</strong>
                </div>
                <div class="alert alert-info" ng-show="EditAlert" ng-model="edit">
                    <strong>{{msg}}</strong>
                </div>



                <div class="modal fade" id="popup" data-keyboard="false" data-backdrop="static" style="border:0px;margin-left: 35px;position: absolute;overflow: hidden;padding-top:30px" role="dialog">
                    <div style="width:850px; margin-left: 16%;">
                        <div class="modal-content">
                            <div class="modal-header pt-reduced pb-reduced" style="background-color:#81c9ff;">
                                <button type="button" class="close" data-dismiss="modal" ng-click="close()">x</button>
                                <h4 class="modal-title" style="text-align:center;height: 20px;color:white"><b>Question Master</b></h4>
                            </div>
                            <div class="modal-body">
                                <div id="wrapper" class="clearfix" ng-show="DisplayForm" scroll-bookmark="bookmark">
                                    <div>
                                        <form name="userForm" novalidate>
                                            <div class="form-horizontal">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div style="float: left; margin: 10px; width: 130px;">
                                                            <label style="color:red;">*</label>
                                                            <label for="lblQuestion1">Question Type</label>
                                                        </div>                   
                                                        <div style="width: 75%; float: left; margin: 10px">
                                                            <input type="radio" name="IsQuestionType" ng-model="IsQuestionType" ng-value="1" ng-checked="Checked == 1"
                                                                   @*ng-click="Enable(1)" ng-disabled="Rtype != 0"*@ />
                                                            Compliance
                                                            <input type="radio" name="IsQuestionType" ng-model="IsQuestionType" ng-value="2" ng-checked="Checked == 2"
                                                                   @*ng-click="Enable(2)" ng-disabled="Rtype != 0"*@ />
                                                            Act
                                                            <input type="radio" name="IsQuestionType" ng-model="IsQuestionType" ng-value="3" ng-checked="Checked == 3"
                                                                   @*ng-click="Enable(2)" ng-disabled="Rtype != 0"*@ />
                                                            Both

                                                            <p style="color:red" ng-show="heyram" class="help-block">Question Type is required.</p>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div style="float: left; margin: 10px; width: 130px;">
                                                            <label style="color:red;">*</label>
                                                            <label for="lblQuestion">Question</label>
                                                        </div>
                                                        <div style="width: 75%; float: left; margin: 10px">
                                                            <input type="text" style="display: inline;color:gray; height: 32px; width: 600px;" class="form-control" autocomplete="off"
                                                                   ng-change="Validate()"
                                                                   name="QuestionName" ng-model="QuestionName" required />
                                                            <p style="color:red" ng-show="userForm.QuestionName.$error.required  && !userForm.QuestionName.$pristine" class="help-block"> Question is required.</p>
                                                            <p style="color: Red; width: 200px; padding-left: 2%;" ng-show="!IsValid">Question already exists!</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div style="float: left; margin: 10px; width: 130px;">
                                                            <label style="color:red;">*</label>
                                                            <label for="lblControlID">Control</label>
                                                        </div>

                                                        <div style="width: 75%; float: left; margin: 10px">
                                                            <select class="form-control" style="display: inline; width:600px;" select2="" name="ControlID" ng-model="ControlID"
                                                                    containerCssClass="all" ng-options="r.ID as r.ControlName for r in questionanswercontrols"
                                                                    ng-change="onChanges(ControlID)"
                                                                     required>
                                                                <option value="">Select Control</option>
                                                            </select>
                                                            <p style="color:red" ng-show="submitted &&userForm.ControlID.$error.required"  class="help-block"> Control is required.</p>                                                                                                                 
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div style="float: left; margin: 10px; width: 130px;">
                                                            <label style="color:red;">*</label>
                                                            <label for="lblTabID">Tab</label>
                                                        </div>

                                                        <div style="width: 75%; float: left; margin: 10px">
                                                            <select class="form-control" style="display: inline; width:600px;" select2="" name="TabID" ng-model="TabID"
                                                                    containerCssClass="all" ng-options="r.ID as r.TabName for r in questionanswertab"
                                                                    @*ng-change="onChanges(TabID)"*@
                                                                    required>
                                                                <option value="">Select Tab</option>
                                                            </select>
                                                            <p style="color:red" ng-show="submitted &&userForm.TabID.$error.required" class="help-block"> Tab is required.</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row" ng-show="disabledValuedropdown">
                                                    <div class="col-md-12">
                                                        <div style="float: left; margin: 10px; width: 130px;">
                                                            <label style="color:red;">*</label>
                                                            <label for="lblControlID">Possible Answer</label>
                                                        </div>
                                                        <div style="width: 75%; float: left; margin: 10px">    
                                                            
                                                            <tags-input name="PossibleAnswer" ng-model="PossibleAnswer"   display-property="name" ng-change="checkContent()" required>
                                                                
                                                            </tags-input>
                                                            <p style="color:red" ng-show="userForm.PossibleAnswer.$error.required  && !userForm.PossibleAnswer.$pristine" class="help-block"> Possible Answer is required.</p>                                                           
                                                        </div>
                                                    </div>
                                                </div>
                                               
                                                <div class="clearfix" style="height:10px;"> </div>
                                                <div class="row">
                                                    <div class="col-md-12" style="margin-left: 341px;">
                                                        <p>
                                                            <button class="button" ng-model="IsVisible" ng-click="submitted=true;AddUpdateActivity(userForm.$valid)">{{Action}}</button>
                                                            <button class="button" data-dismiss="modal" ng-click="close()" style="margin-right: -58px;">Close</button>
                                                        </p>
                                                    </div>
                                                </div>                                                                                         
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p style="color: red;"><strong>Note:</strong> (*) Fields Are Compulsary</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4" style="margin-left: -18px;display:inline-block">
                                <h1 class="modal-title" style="text-align:left;height: 20px;font-size: 16px;"><b>Question Master</b></h1>
                            </div>
                            <div class="col-md-3"></div>
                            <div class="col-md-3"></div>
                            <div class="col-md-" style="text-align: right;display:inline-block ;margin-left:125px">
                                <button class="btn btn-primary btn-sm " data-toggle="modal" data-target="#popup" ng-show="addplus" ng-click="AddActivityDiv();" style="margin-left: 27px;margin-bottom: 6px;"><span class="glyphicon glyphicon-plus"></span>Add</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row" style="padding-bottom: 10px; margin-left: -4px; padding-top: 2px;">
                    <input id="dropdownControlName" data-placeholder="Status" style="width: 15%;" />
                </div>


                <div class="row" style="padding-top: 12px;margin-right: -11px;">
                    <div id="grid" style="margin-left:10px;margin-right:10px;"></div>
                </div>
            </div>
        </div>
    </div>



</body>
</html>
