﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.WhatsNewVM
@{
    ViewBag.Title = "What's New";
}
<style>
    #gridwhatsnew .k-grid-content {
        min-height: 462px;
        max-height: 462px;
        overflow: hidden;
    }
</style>
<script>
    $(document).ready(function () {
        wnd = $("#modalWindow").kendoWindow({
            title: "Delete confirmation",
            modal: true,
            visible: false,
            resizable: false,
            width: 300
        }).data("kendoWindow");

        var breadCrumbData = [
            {
                displayText: "My Workspace",
                navigateUrl: "#",
            }, {
                displayText: "What's New",
                navigateUrl: "#",
            }
        ];
        setBreadCrumb(breadCrumbData);
    });
    function deleteuserassignment(Id) {
        $.ajax({
            url: "/api/WhatsNew/DeleteWhatsNew?Id=" + Id,
            method: "DELETE",
            success: function () {
                $('#gridwhatsnew').data('kendoGrid').dataSource.read();
                $('#gridwhatsnew').data('kendoGrid').refresh();
            }
        });
    }

    function DeleteWhatsNewDocument(e) {
        e.preventDefault();

        var grid = this;
        var row = $(e.currentTarget).closest("tr");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var Id = dataItem.Id;

        wnd.center().open();
        $("#yes").click(function () {
            deleteuserassignment(Id)
            grid.removeRow(row);
            wnd.close();
        });

        $("#no").click(function () {
            wnd.close();
        });
    }
    function ViewWhatsNew(e) {

        var filepath;
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        filepath = dataItem.FilePath;
        if (filepath != null && filepath != undefined) {
            filepath = filepath.replace("~/", "/");
            var url = ("/Areas_Secretarial/WhatsNew.aspx?docurl=" + filepath);
            $('#docViewer').modal('show');
            $('#dicviewer').attr('src', url);
        }
    }

</script>

<script>

    var initialLoad = true;
    function onRowBoundwhatsnew(e) {
        var grid = $("#gridwhatsnew").data("kendoGrid");

        $("#gridwhatsnew tr.k-alt").removeClass("k-alt");
        $("#gridwhatsnew .k-grid-header").attr("style", "padding-right: 0px;");
        GetICons();
        getGridborder(grid);
    }
</script>
<script>
    function toolTipContent_gridNew(e) {
        return e.target.context.innerText;
    }
    function toolTipContent(e) {
        return "View";
    }

    function toolTipContentforDelete(e) {
        return "Delete";
    }
   
</script>
<div class="row colpadding0 mt30">
    <div class="col-md-1 colpadding0 pull-right">
        <button class="btn btn-primary " id="UplaodWhatsNew" title="New"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</button>
    </div>
</div>
<div class="row colpadding0 mt30">
    <div class="col-md-12 colpadding0">
        @(Html.Kendo().Tooltip()
        .For("#gridwhatsnew")
        .Filter("td:nth-child(1)")
        .Position(TooltipPosition.Bottom)
        .ContentHandler("toolTipContent_gridNew")
        //.Width(450)
        .AutoHide(true) )

        @Html.AntiForgeryToken()
        @(Html.Kendo().Grid<BM_ManegmentServices.VM.WhatsNewVM>()
    .Name("gridwhatsnew")
    .Columns(columns =>
    {
        columns.Bound(o => o.Title).Title("Title").Width("80%").Filterable(ftb => ftb.Multi(true).Search(true));
        columns.Bound(o => o.UploadedOn).Title("Date").ClientTemplate("#=kendo.toString(UploadedOn,'MMM dd, yyyy')#").Width("30%").Filterable(ftb => ftb.Multi(true).Search(true));
        columns.Bound(o => o.Id).Title("Id").Visible(false);

        columns.Command(command =>
        {
            command.Custom("View").Click("ViewWhatsNew").HtmlAttributes(new { @class = "k-grid-view" });
            command.Custom("Delete").Click("DeleteWhatsNewDocument").HtmlAttributes(new { @class = "k-grid-delete" });
        }).Title("Action").Width("20%");
    })
    .EnableCustomBinding(true)
    .ColumnMenu()
    .Sortable()
    .Scrollable()
    .Filterable()
    .Events(e => e.DataBound("onRowBoundwhatsnew"))
    .Navigatable()
    .Pageable(pageable => pageable
    .Refresh(false)
    .PageSizes(true)
    .ButtonCount(5))
    .DataSource(dataSource => dataSource
    .WebApi()
    .PageSize(10)
    .ServerOperation(false)
    .Model(model =>
    {
        model.Id(o => o.Id);
    })
    .Read(read => read.Url("/api/WhatsNew/GetWhatsnewData").Type(HttpVerbs.Get)))
    .HtmlAttributes(new { @style = "width:100%" }))
    </div>
</div>

<div id="modalWindow">
    <h5>Are you sure you want to delete this data?</h5>
    <div class="text-center">
        <button id="yes" class="btn btn-primary">Yes</button>
        <button id="no" class="btn btn-primary">No</button>
    </div>
</div>
@(Html.Kendo().Window()
        .Name("wndWhatsNew")
        .Title("Whats New")
        .Visible(false)
        .Modal(true)
        )
@(Html.Kendo().Tooltip()
        .For("#gridwhatsnew")
        .Filter(".k-grid-view")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
         .Content("View")
        )
@(Html.Kendo().Tooltip()
        .For("#gridwhatsnew")
        .Filter(".k-grid-delete")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
         .Content("Delete")
        )


<script>
    function saveadditionalCharge() {
    }
    $("#UplaodWhatsNew").click(function (e) {

        UploadWhatsNewDocument();
    });
</script>
<script>
         function UploadWhatsNewDocument(e) {
             $("#wndWhatsNew").kendoWindow({
            title: "What's New",
             });

              var direction = "@Url.Action("UploadwhatsnewDocument", "WhatsNew")";

             var wnd = $("#wndWhatsNew").data("kendoWindow");
            var opts = wnd.options;


             wnd = $("#wndWhatsNew").kendoWindow({

            content: direction,
            width: "35%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
            refresh: function () {
                this.center();
                //OnRefresheupload();
            },
            close: function (e) {
                $(this.element).empty();
                $('#gridwhatsnew').data('kendoGrid').dataSource.read();
                $('#gridwhatsnew').data('kendoGrid').refresh();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {

                //OnOpenupload();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "40%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.refresh(direction);
        wnd.open();
    }

    //function OnRefresh() {

    //    var wnd = $("#wndWhatsNew").data("kendoWindow");
    //    kendo.ui.progress(wnd.element, false);
    //}

    //function OnOpen(e) {

    //    var wnd = $("#wndWhatsNew").data("kendoWindow");
    //    kendo.ui.progress(wnd.element, true);
    //    $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    //}

</script>

