﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.WhatsNewVM
@{
    ViewBag.Title = "What's New";
}
<style>
    #gridwhatsnew .k-grid-content {
        min-height: 462px;
        max-height: 462px;
        overflow: hidden;
    }
</style>
<script> 
    function ViewWhatsNew(e) {

        var filepath;
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        filepath = dataItem.FilePath;
        if (filepath != null && filepath != undefined) {
            filepath = filepath.replace("~/", "/");
            var url = ("/Areas_Secretarial/WhatsNew.aspx?docurl=" + filepath);
            $('#docViewer').modal('show');
            $('#dicviewer').attr('src', url);
        }
    }

</script>

<script>

    var initialLoad = true;
    function onRowBoundwhatsnew(e) {
        var grid = $("#gridwhatsnew").data("kendoGrid");

        $("#gridwhatsnew tr.k-alt").removeClass("k-alt");
        $("#gridwhatsnew .k-grid-header").attr("style", "padding-right: 0px;");
        GetICons();
        getGridborder(grid);
    }
</script>
<script>
    function toolTipContent_gridNew(e) {
        return e.target.context.innerText;
    }
    function toolTipContent(e) {
        return "Edit";
    }

    function toolTipContentforDelete(e) {
        return "document";
    }
    
</script>
<div class="row colpadding0 mt30">
    <div class="col-md-12 colpadding0">
        @(Html.Kendo().Tooltip()
        .For("#gridwhatsnew")
        .Filter("td:nth-child(1)")
        .Position(TooltipPosition.Bottom)
        .ContentHandler("toolTipContent_gridNew")
        //.Width(450)
        .AutoHide(true) )

        @Html.AntiForgeryToken()
        @(Html.Kendo().Grid<BM_ManegmentServices.VM.WhatsNewVM>()
    .Name("gridwhatsnew")
    .Columns(columns =>
    {
        columns.Bound(o => o.Title).Title("Title").Width("80%").Filterable(ftb => ftb.Multi(true).Search(true));
        columns.Bound(o => o.UploadedOn).Title("Date").ClientTemplate("#=kendo.toString(UploadedOn,'MMM dd, yyyy')#").Width("30%").Filterable(ftb => ftb.Multi(true).Search(true));
        columns.Bound(o => o.Id).Title("Id").Visible(false);

        columns.Command(command =>
        {
            command.Custom("View").Click("ViewWhatsNew").HtmlAttributes(new { @class = "k-grid-view" });
        }).Title("Action").Width("20%");
    })
    .EnableCustomBinding(true)
    .ColumnMenu()
    .Sortable()
    .Scrollable()
    .Filterable()
    .Events(e => e.DataBound("onRowBoundwhatsnew"))
    .Navigatable()
    .Pageable(pageable => pageable
    .Refresh(false)
    .PageSizes(true)
    .ButtonCount(5))
    .DataSource(dataSource => dataSource
    .WebApi()
    .PageSize(10)
    .ServerOperation(false)
    .Model(model =>
    {
        model.Id(o => o.Id);
    })
    .Read(read => read.Url("/api/WhatsNew/GetWhatsnewData").Type(HttpVerbs.Get)))
    .HtmlAttributes(new { @style = "width:100%" }))
    </div>
</div>


@(Html.Kendo().Window()
        .Name("wndWhatsNew")
        .Title("Whats New")
        .Visible(false)
        .Modal(true)
        )
@(Html.Kendo().Tooltip()
        .For("#gridwhatsnew")
        .Filter(".k-grid-view")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
         .Content("View")
        )




