﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.WhatsNewVM


<script>
    function OnOpen() {

    }
    function OnRefresh() {

    }
    function OnSuccess() {

    }
    function OnFailure() {

    }
</script>
<script id="fileTemplate" type="text/x-kendo-template">
    <span class='k-progress'></span>
    <div class='file-wrapper'>
        <span class='file-icon #=addExtensionClass(files[0].extension)#'></span>
        <h4 class='file-heading file-name-heading'>Name: #=name#<\br></h4>
        <h4 class='file-heading file-size-heading'>Size: #=size# bytes</h4>
        <strong class="k-upload-status">
            <button type='button' class='k-upload-action'></button>
            @*<button type='button' class='k-upload-action'></button>*@
        </strong>
    </div>
</script>

<div id="DivwhatsnewDocument" style="overflow-x:hidden">

    @using (Ajax.BeginForm("Savewhatsnewdocument", "WhatsNew", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivwhatsnewDocument" }, new { id = "frmWhatsnewDocuments", enctype = "multipart/form-data" }))
    {
        <div class="row colpadding0">
            @if (Model.Success)
            {
                <div class="col-md-12">

                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.Message)))
                        {
                            <lable>@Model.Message</lable>
                        }
                    </div>
                </div>
            }
        </div>

        <div class="row">
            @if (Model.Error)
            {
                <div class="col-md-12">
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.Message)))
                        {
                            <lable>@Model.Message</lable>
                        }
                    </div>
                </div>
            }
        </div>
        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                <div class="row colpadding0">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-2"><span></span><label class="control-label">Title</label></div>
                        <div class="col-md-8 colpadding0">
                            @(Html.Kendo().TextBoxFor(m => m.Title).HtmlAttributes(new { @class = "k-textbox", style = "width:100%", autocomplete = "off" }))
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row colpadding0 mt30">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-2">
                            <span></span><label class="control-label">Date</label>
                        </div>
                        <div class="col-md-8 colpadding0">
                            @(Html.Kendo().DatePicker()
                        .Name("UploadedOn") // The name of the DatePicker is mandatory. It specifies the "id" attribute of the widget.
                        .Format("dd/MM/yyyy").Enable(true).ParseFormats(new[] { "dd/MM/yyyy" })
                          .HtmlAttributes(new { style = "width:10%", autocomplete = "off" }))
                        </div>
                    </div>
                </div>

                <div class="row colpadding0 mt30">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-2">
                            <span></span><label class="control-label">Upload</label>
                        </div>
                        <div class="col-md-8 colpadding0">
                            @(Html.Kendo().Upload()
                    .Name("files")
                    .HtmlAttributes(new { aria_label = "files" , @Id = "files" })
                )
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-md-12 colpadding0 text-center mt20" style="padding-top:22px">
                <button type="submit" id="saveppcom" class="btn btn-primary">Save</button>
            </div>
        </div>

    }
    </div>

    <script>

        $(document).ready(function () {
            ChangeTypeDoc();
        });
        function ChangeTypeDoc() {

        }
    </script>
    <script>
        $("#UploadedOn").kendoDatePicker({
            format: "dd/MM/yyyy"
    });
    </script>


