﻿
/*Custom CSS-START*/

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: transparent;
}

/*.modal-header {
    background: #f7f7f7;
    color: #688a7e;
    height: 30px;
}*/
.modal-header-custom{
    width: 225px; display: block; float: left; font-size: 20px; color: #1fd9e1;
}

.input-group-addon > html input[disabled]{
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #8e8e93;
    background-color: #fff;
    border: 1px solid #c7c7cc;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    cursor: not-allowed;
    background-color: #f7f7f7;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.top-nav .dropdown-menu.extended.logout {
    top: 70px;
}

.Dashboard-white-widget {
    background: #fff;
    padding: 5px 5px 5px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
    background-color: #c1c1c1;
    border-color: #c1c1c1;
}

input[type=radio] {
    margin: 4px 5px 0px 0px; 
}

.alert {
    padding: 15px 15px 15px 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid transparent;
}

.panel {
    margin-bottom: 0px !important;
}

.panel-body {
    padding: 5px;
}

.panel-heading {
    padding: 0px 15px;
    border-bottom: 1px solid transparent;
}

    .panel-heading .nav .active, .panel-heading .nav > li.active > a, .panel-heading .nav > li > a:hover {
        color: #1fd9e1;
        /*background-color: #f7f7f7;*/
    }

    .panel-heading .nav > li > a {
        font-size: 18px !important;
        border-bottom: 0px;
        background: none;
    }

.fileUploadClass {
    display: block;
    font-size: 13px;
    color: #666 !important;
}

#grdCustomeField > tbody > tr > th, .table > tbody > tr > th > a {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    display: none;
}

.customDropDownCheckBoxCSS {
    height: 32px !important;
    width: 70%;
}

.chosen-single {
    color: #8e8e93;
}

.chosen-container .chosen-results {
    max-height: 150px !important;
}

.container {
    max-width: 100%;
}

ul.multiselect-container.dropdown-menu {
    width: 100%;
    height: 150px;
    overflow-y: auto;
}

button.multiselect.dropdown-toggle.btn.btn-default {
    text-align: left;
    border: 1px solid #c7c7cc;
    /*padding: 6px 12px;*/
}

span.multiselect-selected-text {
    float: left;
    color: #999;
    font-family: 'Roboto', sans-serif !important;
    padding: 0px 0px 0px 2px !important;
}

b.caret {
    float: right;
    margin-top: 8px;
}

label {
    font-weight: 500;
    color: #666;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.Shorter {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    display: block;
}

.align-middle {
    vertical-align: middle !important;
}

/*Custom CSS-END*/

.m0 {
    margin-top: 0;
    margin-bottom: 0;
}

.m10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.m20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.m30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.m40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.m50 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.m60 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.m70 {
    margin-top: 70px;
    margin-bottom: 70px;
}

.m80 {
    margin-top: 80px;
    margin-bottom: 80px;
}

.m90 {
    margin-top: 90px;
    margin-bottom: 90px;
}

.m100 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.mt0 {
    margin-top: 0;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}

.mb0 {
    margin-bottom: 0;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb40 {
    margin-bottom: 40px;
}

.mlr0 {
    margin-right: 0;
    margin-left: 0;
}

.mlr5 {
    margin-right: 5px;
    margin-left: 5px;
}

.mlr10 {
    margin-right: 10px;
    margin-left: 10px;
}

.mlr15 {
    margin-right: 15px;
    margin-left: 15px;
}

.mlr20 {
    margin-right: 20px;
    margin-left: 20px;
}

.mlr25 {
    margin-right: 25px;
    margin-left: 25px;
}

.mlr30 {
    margin-right: 30px;
    margin-left: 30px;
}

.mlr35 {
    margin-right: 35px;
    margin-left: 35px;
}

.mlr40 {
    margin-right: 40px;
    margin-left: 40px;
}

.mlr45 {
    margin-right: 45px;
    margin-left: 45px;
}

.mlr50 {
    margin-right: 50px;
    margin-left: 50px;
}

.ml0 {
    margin-left: 0;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.mr0 {
    margin-right: 0;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.p0 {
    padding-top: 0;
    padding-bottom: 0;
}

.p5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.p10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.p15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.p20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.p30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.p40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.p50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.p60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.p70 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.p80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.p90 {
    padding-top: 90px;
    padding-bottom: 90px;
}

.p100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.pt0 {
    padding-top: 0;
}

.pt10 {
    padding-top: 10px;
}

.pt20 {
    padding-top: 20px;
}

.pt30 {
    padding-top: 30px;
}

.pt40 {
    padding-top: 40px;
}

.pt0 {
    padding-top: 0;
}

.pt10 {
    padding-top: 10px;
}

.pt20 {
    padding-top: 20px;
}

.pt30 {
    padding-top: 30px;
}

.pt40 {
    padding-top: 40px;
}

.pb0 {
    padding-bottom: 0;
}

.pb10 {
    padding-bottom: 10px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb30 {
    padding-bottom: 30px;
}

.pb40 {
    padding-bottom: 40px;
}

.plr0 {
    padding-right: 0;
    padding-left: 0;
}

.plr5 {
    padding-right: 5px;
    padding-left: 5px;
}

.plr10 {
    padding-right: 10px;
    padding-left: 10px;
}

.plr15 {
    padding-right: 15px;
    padding-left: 15px;
}

.plr20 {
    padding-right: 20px;
    padding-left: 20px;
}

.plr2 {
    padding-right: 2px;
    padding-left: 2px;
}

.pl0 {
    padding-left: 0;
}

.pl5 {
    padding-left: 5px;
}

.pl10 {
    padding-left: 10px;
}

.pl15 {
    padding-left: 15px;
}

.pl20 {
    padding-left: 20px;
}

.pr0 {
    padding-right: 0;
}

.pr5 {
    padding-right: 5px;
}

.pr10 {
    padding-right: 10px;
}

.pr15 {
    padding-right: 15px;
}

.pr20 {
    padding-right: 20px;
}



.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.float-none {
    float: none !important;
}

@media (min-width:576px) {
    .float-sm-left {
        float: left !important;
    }

    .float-sm-right {
        float: right !important;
    }

    .float-sm-none {
        float: none !important;
    }
}

@media (min-width:768px) {
    .float-md-left {
        float: left !important;
    }

    .float-md-right {
        float: right !important;
    }

    .float-md-none {
        float: none !important;
    }
}

@media (min-width:992px) {
    .float-lg-left {
        float: left !important;
    }

    .float-lg-right {
        float: right !important;
    }

    .float-lg-none {
        float: none !important;
    }
}

@media (min-width:1200px) {
    .float-xl-left {
        float: left !important;
    }

    .float-xl-right {
        float: right !important;
    }

    .float-xl-none {
        float: none !important;
    }
}