﻿

a {
    color: rgba(52, 178, 228, 0.7);
    text-decoration: none;
}


.Help_Back {

        background: #1fd9e1;
        color: #688a7e;
        height: 70px;
        border-radius: 9px;
        margin-left: 10.1%;
        width: 90%;
         margin-top: -3.1%;
}

.Help_logo {

        background-image: url("../img/avantis-logo-dashboard.png");
          background-size: 100% 100%;
            position: absolute;
            /* height: 70px; */
            /* border-radius: 9px; */
            left: 2%;
            width: 12%;
            height: 76px;
                top: 0%;
}

.modal-header .close {
    margin-top: 8px;
}

#Help_MainContainer 
{
        margin-top: 0%;
}
h1, h2, h3
 {
        font-weight: 300;
        color: #1fd9e1;
}
.h4, h4,.Help_font
 {
     font-weight: 400;
}
.Help_Heading 
{
        font-weight: 300;
    
}
.report_Heading 
{
    margin-left: -11px;
    
    }

a, a:focus, a:hover 
{
        color: #007aff;
}
#Help_Video {
    margin-left: 7%;
    margin-top: -3.5%;
}

#videoPlayer_01 ,#videoPlayer_03, #videoPlayer_05,#videoPlayer_02,#videoPlayer_04,#videoPlayer_06 
{
    position: absolute;
    top: 21%;
   left: 10%;

}
#videoPlayer_02 {top: 100%;}
#videoPlayer_03 {top: 180%;}

#videoPlayer_05 {top: 74%;}

#videoPlayer_04 {top: 280%;}
#videoPlayer_06 {top: 74%;}

#HelpVideo_Container
 {
    padding-left: 45px;
    display: block;
    margin-top: -2%;
}


.Video_Heading 
{
    position: absolute;
    top: 10%;
    left: 5.5%;
}
#Video_Head1 {   top: 10%; }
#Video_Head2 {   top: 89%; }
#Video_Head3 {   top: 169%; }
#Video_Head4 {   top: 269%; }
.btn-search
 {
    background: none;
}

.clsHelpClick
{
        font-size: 150%;
}
.clsHelpClick:hover 
{
     color: #1fd9e1;
     text-decoration:underline;
}
.clsHelpClick:active 
{
     color: #1fd9e1;
     text-decoration:underline;
}
.clsVideoClick {
        font-size: 150%;
}
.clsVideoClick:hover 
{
     color: #1fd9e1;
     text-decoration:underline;
}



