﻿/** 
 * Kendo UI v2018.2.620 (http://www.telerik.com/kendo-ui)                                                                                                                                               
 * Copyright 2018 Telerik EAD. All rights reserved.                                                                                                                                                     
 *                                                                                                                                                                                                      
 * Kendo UI commercial licenses may be obtained at                                                                                                                                                      
 * http://www.telerik.com/purchase/license-agreement/kendo-ui-complete                                                                                                                                  
 * If you do not own a commercial license, this file shall be governed by the trial license terms.                                                                                                      
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/

.k-theme-test-class, .ktb-theme-id-default {
    opacity: 0
}

.ktb-var-accent {
    color: #1984c8
}

.ktb-var-base {
    color: #f3f3f4
}

.ktb-var-background {
    color: #fff
}

.ktb-var-border-radius {
    border-radius: 4px
}

.ktb-var-normal-background {
    color: #fff
}

.ktb-var-normal-gradient {
    background-image: url(textures/highlight.png);
    background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.45)),to(rgba(255,255,255,0)));
    background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.45) 0,rgba(255,255,255,0) 100%);
    background-image: none,linear-gradient(to bottom,rgba(255,255,255,.45) 0,rgba(255,255,255,0) 100%)
}

.ktb-var-normal-text-color {
    color: #515967
}

.ktb-var-hover-background {
    color: #b6bdca
}

.ktb-var-hover-gradient {
    background-image: url(textures/highlight.png);
    background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.3)),to(rgba(255,255,255,0)));
    background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.3) 0,rgba(255,255,255,0) 100%);
    background-image: none,linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,0) 100%)
}

.ktb-var-hover-text-color {
    color: #263248
}

.ktb-var-selected-background {
    color: #1984c8
}

.ktb-var-selected-gradient {
    background-image: url(textures/highlight.png);
    background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0)),to(rgba(255,255,255,.2)));
    background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,.2) 100%);
    background-image: none,linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,.2) 100%)
}

.ktb-var-selected-text-color {
    color: #fff
}

.ktb-var-error {
    color: #d92800
}

.ktb-var-warning {
    color: #ff9800
}

.ktb-var-success {
    color: #3ea44e
}

.ktb-var-info {
    color: #2498bc
}

.ktb-var-series-a {
    color: #007bc3
}

.ktb-var-series-b {
    color: #76b800
}

.ktb-var-series-c {
    color: #ffae00
}

.ktb-var-series-d {
    color: #ef4c00
}

.ktb-var-series-e {
    color: #a419b7
}

.ktb-var-series-f {
    color: #430B62
}

.k-grid-norecords-template {
    background-color: #fff;
    border: 1px solid #dedee0
}

.k-button {
    border-radius: 4px;
    border-color: #ceced2;
    color: #515967;
    background-color: #f3f3f4;
    background-position: 50% 50%;
    background-image: url(textures/highlight.png);
    background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.45)),to(rgba(255,255,255,0)));
    background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.45) 0,rgba(255,255,255,0) 100%);
    background-image: none,linear-gradient(to bottom,rgba(255,255,255,.45) 0,rgba(255,255,255,0) 100%)
}

    .k-button.k-state-hover, .k-button:hover {
        color: #263248;
        border-color: #bebec3;
        background-color: #b6bdca;
        background-image: url(textures/highlight.png);
        background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.3)),to(rgba(255,255,255,0)));
        background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.3) 0,rgba(255,255,255,0) 100%);
        background-image: none,linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,0) 100%)
    }

    .k-button.k-state-active, .k-button:active {
        color: #fff;
        background-color: #1984c8;
        border-color: #1a87cd;
        background-image: url(textures/highlight.png);
        background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0)),to(rgba(255,255,255,.2)));
        background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,.2) 100%);
        background-image: none,linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,.2) 100%);
        -webkit-box-shadow: none;
        box-shadow: none
    }

        .k-button.k-state-active:hover {
            color: #fff;
            border-color: #7b889f;
            background-color: #1b8dd6
        }

    .k-button:focus:active {
        -webkit-box-shadow: inset 0 0 3px 1px #14699f;
        box-shadow: inset 0 0 3px 1px #14699f
    }

    .k-button.k-state-disabled, .k-button.k-state-disabled:hover, .k-button[disabled], .k-state-disabled .k-button, .k-state-disabled .k-button:hover {
        color: #cbcbcf;
        border-color: #ceced2;
        background-color: #f3f3f4;
        background-image: url(textures/highlight.png);
        background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.45)),to(rgba(255,255,255,0)));
        background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.45) 0,rgba(255,255,255,0) 100%);
        background-image: none,linear-gradient(to bottom,rgba(255,255,255,.45) 0,rgba(255,255,255,0) 100%)
    }

        .k-button.k-state-disabled, .k-button.k-state-disabled:active, .k-button[disabled] {
            -webkit-box-shadow: none;
            box-shadow: none
        }

        .k-button.k-state-focused, .k-button.k-state-focused.k-state-disabled, .k-button:focus, .k-button:focus:hover, .k-state-disabled .k-button.k-state-focused {
            border-color: #ceced2;
            -webkit-box-shadow: inset 0 0 3px 1px #bebec3;
            box-shadow: inset 0 0 3px 1px #bebec3
        }

.k-primary {
    color: #fff;
    border-color: #177bba;
    background-color: #2198e3;
    background-image: url(textures/highlight.png);
    background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0)),to(rgba(255,255,255,.2)));
    background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,.2) 100%);
    background-image: none,linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,.2) 100%)
}

    .k-primary.k-state-hover, .k-primary:hover {
        color: #fff;
        border-color: #7b889f;
        background-color: #1b8dd6;
        background-image: url(textures/highlight.png);
        background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.3)),to(rgba(255,255,255,0)));
        background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.3) 0,rgba(255,255,255,0) 100%);
        background-image: none,linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,0) 100%)
    }

    .k-primary.k-state-active, .k-primary:active {
        color: #fff;
        border-color: #1a87cd;
        background-color: #1a84c7;
        background-image: url(textures/highlight.png);
        background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0)),to(rgba(255,255,255,.2)));
        background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,.2) 100%);
        background-image: none,linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,.2) 100%)
    }

    .k-primary:focus:active:not(.k-state-disabled):not([disabled]) {
        -webkit-box-shadow: 0 0 3px 0 #1984c8;
        box-shadow: 0 0 3px 0 #1984c8
    }

    .k-primary.k-state-disabled, .k-primary.k-state-disabled:hover, .k-primary[disabled], .k-state-disabled .k-primary, .k-state-disabled .k-primary:hover {
        color: #e6e6e6;
        border-color: #e6e6e6;
        background-color: #269ae4;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-image: url(textures/highlight.png);
        background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0)),to(rgba(255,255,255,.2)));
        background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,.2) 100%);
        background-image: none,linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,.2) 100%)
    }

    .k-primary.k-state-disabled, .k-primary[disabled] {
        -webkit-box-shadow: none;
        box-shadow: none
    }

    .k-primary.k-state-focused, .k-primary:focus {
        border-color: #177bba;
        -webkit-box-shadow: 0 0 3px 0 #1984c8;
        box-shadow: 0 0 3px 0 #1984c8
    }

.k-button-group {
    border-radius: 4px
}

    .k-button-group .k-button {
        border-radius: 0
    }

        .k-button-group .k-button:first-child, .k-button-group .k-group-start {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px
        }

        .k-button-group .k-button:last-child, .k-button-group .k-group-end {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px
        }

        .k-button-group .k-button:first-child:last-child, .k-button-group .k-group-start.k-group-end {
            border-radius: 4px
        }

.k-rtl .k-button-group .k-button {
    border-radius: 0
}

    .k-rtl .k-button-group .k-button:first-child, .k-rtl .k-button-group .k-group-start {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px
    }

    .k-rtl .k-button-group .k-button:last-child, .k-rtl .k-button-group .k-group-end {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px
    }

    .k-rtl .k-button-group .k-button:first-child:last-child, .k-rtl .k-button-group .k-group-start.k-group-end {
        border-radius: 4px
    }

.k-split-button {
    border-radius: 4px
}

    .k-split-button.k-state-border-down > .k-button, .k-split-button.k-state-border-up > .k-button {
        color: #263248;
        background-color: #b6bdca;
        border-color: #bebec3;
        background-image: url(textures/highlight.png);
        background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.3)),to(rgba(255,255,255,0)));
        background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.3) 0,rgba(255,255,255,0) 100%);
        background-image: none,linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,0) 100%);
        -webkit-box-shadow: none;
        box-shadow: none
    }

    .k-split-button:focus {
        border-color: #ceced2;
        outline: 0;
        -webkit-box-shadow: inset 0 0 3px 1px #bebec3;
        box-shadow: inset 0 0 3px 1px #bebec3
    }

        .k-split-button:focus > .k-button {
            background: 0 0;
            border-color: #ceced2
        }

        .k-split-button:focus:not(.k-state-disabled) > .k-button:hover, .k-split-button:focus:not(.k-state-disabled) > .k-state-active {
            color: #263248;
            background-color: #b6bdca;
            border-color: #ceced2;
            background-image: url(textures/highlight.png);
            background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.3)),to(rgba(255,255,255,0)));
            background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.3) 0,rgba(255,255,255,0) 100%);
            background-image: none,linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,0) 100%);
            -webkit-box-shadow: none;
            box-shadow: none
        }

    .k-split-button.k-state-disabled {
        color: #cbcbcf;
        background: #f3f3f4;
        background-image: url(textures/highlight.png);
        background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.45)),to(rgba(255,255,255,0)));
        background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.45) 0,rgba(255,255,255,0) 100%);
        background-image: none,linear-gradient(to bottom,rgba(255,255,255,.45) 0,rgba(255,255,255,0) 100%)
    }

.k-edit-buttons {
    border-color: #dedee0;
    background: #f3f3f4
}

.k-card {
    border-color: #dedee0;
    color: #515967;
    background-color: #fff
}

.k-card-header {
    border-color: #dedee0;
    color: #535b6a;
    background-color: #f3f3f4
}

.k-card-actions {
    border-color: #dedee0
}

.k-chat {
    border-color: #dedee0;
    color: #515967;
    background-color: #fff
}

    .k-chat .k-timestamp {
        text-transform: uppercase;
        opacity: .7
    }

    .k-chat .k-author {
        font-weight: 700
    }

    .k-chat .k-bubble {
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.08);
        box-shadow: 0 1px 2px rgba(0,0,0,.08);
        border-color: #f3f3f4;
        color: #515967;
        background-color: #f3f3f4;
        -webkit-transition: -webkit-box-shadow .2s ease-in-out;
        transition: -webkit-box-shadow .2s ease-in-out;
        transition: box-shadow .2s ease-in-out;
        transition: box-shadow .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
        -webkit-box-ordinal-group: 0;
        -webkit-order: -1;
        -ms-flex-order: -1;
        order: -1
    }

        .k-chat .k-bubble:hover {
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.16);
            box-shadow: 0 1px 2px rgba(0,0,0,.16)
        }

    .k-chat .k-state-selected .k-bubble {
        -webkit-box-shadow: 0 3px 10px rgba(0,0,0,.16);
        box-shadow: 0 3px 10px rgba(0,0,0,.16)
    }

    .k-chat .k-alt .k-bubble {
        border-color: #1984c8;
        color: #fff;
        background-color: #1984c8
    }

    .k-chat .k-quick-reply {
        border-color: #1984c8;
        color: #1984c8;
        background-color: transparent
    }

        .k-chat .k-quick-reply:hover {
            border-color: #1984c8;
            color: #fff;
            background-color: #1984c8
        }

    .k-chat .k-message-box {
        border-color: inherit;
        color: #515967;
        background-color: #fff
    }

        .k-chat .k-message-box .k-button:hover {
            color: #1984c8
        }

.k-in, .k-item, .k-window-action {
    border-color: transparent
}

.k-tool.k-state-hover {
    color: #fff
}

.k-splitbar .k-resize-handle {
    background-color: #515967;
    color: #515967
}

    .k-splitbar .k-resize-handle:hover {
        color: #263248
    }

.k-splitbar .k-resize-handle {
    background-color: #515967
}

.k-block, .k-widget {
    background-color: #fff
}

.k-autocomplete, .k-block, .k-button-group .k-tool, .k-calendar th, .k-content, .k-dropdown-wrap, .k-dropzone-active, .k-editable-area, .k-editor-dialog .k-tabstrip-items, .k-filter-row > th, .k-footer-template td, .k-grid td, .k-grid td.k-state-selected, .k-grid-content-locked, .k-grid-footer, .k-grid-footer-locked, .k-grid-footer-wrap, .k-grid-header, .k-grid-header-locked, .k-grid-header-wrap, .k-group, .k-group-footer td, .k-grouping-header, .k-grouping-header .k-group-indicator, .k-header, .k-input, .k-pager-refresh, .k-pager-wrap, .k-pager-wrap .k-link, .k-panel > .k-item > .k-link, .k-panelbar .k-content, .k-panelbar .k-panel, .k-panelbar > .k-item > .k-link, .k-popup.k-align .k-list .k-item:last-child, .k-separator, .k-slider-track, .k-splitbar, .k-state-default, .k-state-default .k-select, .k-state-disabled, .k-textbox, .k-textbox > input, .k-tiles, .k-toolbar, .k-tooltip, .k-treemap-tile, .k-upload-files, .k-widget {
    border-color: #dedee0
}

    .k-calendar .k-alt, .k-calendar th, .k-dropzone-hovered, .k-footer-template td, .k-grid-footer, .k-group, .k-group-footer td, .k-grouping-header, .k-pager-wrap, .k-popup, .k-toolbar, .k-widget .k-status {
        background-color: #f5f5f5
    }

.k-grouping-row td, .k-resize-handle-inner, td.k-group-cell {
    background-color: #f3f3f4
}

.k-list-container {
    border-color: #ceced2;
    background-color: #f3f3f4
}

.k-list-filter > .k-textbox {
    border-color: #a3a3a3
}

.k-content, .k-panel > li.k-item, .k-panelbar > li.k-item, .k-tiles {
    background-color: #fff
}

.k-alt, .k-pivot-layout > tbody > tr:first-child > td:first-child, .k-resource.k-alt, .k-separator {
    background-color: #fbfbfb
}

.k-header.k-alt, .k-pivot-rowheaders .k-alt .k-alt {
    background-color: #e6e6e8
}

.k-autocomplete.k-header, .k-dropdown-wrap.k-state-active, .k-numeric-wrap.k-state-active, .k-picker-wrap.k-state-active, .k-textbox {
    border-color: #dedee0;
    background-color: #f3f3f4
}

    .k-autocomplete .k-input, .k-autocomplete.k-state-focused .k-input, .k-dropdown-wrap .k-input, .k-dropdown-wrap.k-state-focused .k-input, .k-multiselect-wrap, .k-numeric-wrap.k-state-focused .k-input, .k-picker-wrap.k-state-focused .k-input, .k-textbox > input {
        border-color: #dedee0
    }

    .k-textbox > input, input.k-textbox, input.k-textbox:hover, textarea.k-textbox, textarea.k-textbox:hover {
        background: 0 0
    }

        .k-input, .k-multiselect-wrap, .k-textbox > input, input.k-textbox, input.k-textbox:hover, textarea.k-textbox, textarea.k-textbox:hover {
            background-color: #fff;
            color: #515967
        }

            .k-input[readonly] {
                background-color: #fff;
                color: #515967
            }

.k-block, .k-content, .k-dropdown .k-input, .k-popup, .k-toolbar, .k-widget {
    color: #515967
}

.k-inverse {
    color: #fff
}

.k-block {
    color: #535b6a
}

.k-link:link, .k-link:visited, .k-nav-current.k-state-hover .k-link {
    color: #505968
}

.k-panelbar > li > .k-link, .k-tabstrip-items .k-link {
    color: #515967
}

.k-grid-header .k-header > .k-link, .k-header, .k-treemap-title {
    color: #535b6a
}

.k-autocomplete, .k-draghandle, .k-dropdown-wrap, .k-grid-header, .k-grouping-header, .k-header, .k-numeric-wrap, .k-pager-wrap, .k-panelbar .k-tabstrip-items .k-item, .k-picker-wrap, .k-progressbar, .k-state-highlight, .k-tabstrip-items .k-item, .k-textbox, .k-toolbar, .km-pane-wrapper > .km-pane > .km-view > .km-content {
    background-image: url(textures/highlight.png);
    background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.45)),to(rgba(255,255,255,0)));
    background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.45) 0,rgba(255,255,255,0) 100%);
    background-image: none,linear-gradient(to bottom,rgba(255,255,255,.45) 0,rgba(255,255,255,0) 100%);
    background-position: 50% 50%;
    background-color: #f3f3f4
}

.k-block, .k-draghandle, .k-grid-header, .k-grouping-header, .k-header, .k-pager-wrap, .k-toolbar, .k-treemap-tile, html .km-pane-wrapper .k-header {
    background-color: #f3f3f4
}

.k-mediaplayer-toolbar {
    background-color: rgba(243,243,244,.85)
}

.k-hr {
    border-color: #dedee0
}

.k-column-menu .k-state-active .k-sprite, .k-column-menu .k-state-hover .k-sprite, .k-icon:hover, .k-pager-numbers .k-current-page .k-link:hover:after, .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view.k-state-hover > .k-link:after, .k-state-focused .k-icon, .k-state-hover .k-icon, .k-state-selected .k-icon {
    opacity: 1
}

.k-column-menu .k-sprite, .k-pager-numbers .k-current-page .k-link:after, .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link:after, .k-state-disabled .k-icon {
    opacity: .9
}

.k-mobile-list .k-check:checked, .k-mobile-list .k-edit-field [type=checkbox]:checked, .k-mobile-list .k-edit-field [type=radio]:checked {
    opacity: .9
}

.k-badge {
    background-color: #1984c8;
    color: #fff;
    border-radius: 3px
}

.k-tool {
    border-color: transparent
}

.k-mobile-list .k-check:checked, .k-mobile-list .k-edit-field [type=checkbox]:checked, .k-mobile-list .k-edit-field [type=radio]:checked {
    background-image: url(Silver/sprite.png);
    border-color: transparent
}

.k-mobile-list .k-check:checked, .k-mobile-list .k-edit-field [type=checkbox]:checked {
    font-family: WebComponentsIcons;
    background-image: none
}

    .k-mobile-list .k-check:checked:before, .k-mobile-list .k-edit-field [type=checkbox]:checked:before {
        content: "\e118"
    }

.k-i-loading {
    background-image: url(Silver/loading.gif)
}

.k-loading-image {
    background-image: url(Silver/loading-image.gif)
}

.k-loading-color {
    background-color: #fff
}

.k-draghandle {
    border-color: #ceced2;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none
}

    .k-draghandle:hover {
        border-color: #bebec3;
        background-color: #b7bdc9;
        -webkit-box-shadow: none;
        box-shadow: none
    }

.k-scheduler {
    color: #515967;
    background-color: #fff
}

.k-scheduler-layout {
    color: #515967
}

.k-scheduler-datecolumn, .k-scheduler-groupcolumn {
    background-color: #fff;
    color: #515967
}

.k-scheduler-header th, .k-scheduler-header-wrap, .k-scheduler-table td, .k-scheduler-times, .k-scheduler-times th, .k-scheduler-times tr {
    border-color: #ceced2
}

.k-nonwork-hour, .k-scheduler-dayview .k-today.k-nonwork-hour, .k-scheduler-timelineview .k-today.k-nonwork-hour {
    background-color: #f3f3f4
}

.k-gantt .k-nonwork-hour {
    background-color: rgba(243,243,244,.2)
}

.k-gantt .k-header.k-nonwork-hour {
    background-color: rgba(243,243,244,.15)
}

.k-scheduler-table .k-today, .k-today > .k-scheduler-datecolumn, .k-today > .k-scheduler-groupcolumn {
    background-color: #f6f6f6
}

.k-scheduler-now-arrow {
    border-left-color: #450d00
}

.k-scheduler-now-line {
    background-color: #450d00
}

.k-event, .k-task-complete {
    border-color: #97cff2;
    background: #53afea 0 -257px none repeat-x;
    color: #515967
}

.k-event-inverse {
    color: #fff
}

.k-event.k-state-selected {
    background-position: 0 0;
    -webkit-box-shadow: 0 0 0 2px #515967;
    box-shadow: 0 0 0 2px #515967
}

.k-event .k-resize-handle:after, .k-task-single .k-resize-handle:after {
    background-color: #4f5764
}

.k-scheduler-marquee:after, .k-scheduler-marquee:before {
    border-color: #1984c8
}

.k-panelbar .k-content, .k-panelbar .k-item, .k-panelbar .k-panel {
    background-color: #fff;
    color: #515967;
    border-color: #ceced2
}

.k-panelbar > li > .k-link {
    color: #515967
}

.k-panelbar > .k-item > .k-link {
    border-color: #ceced2
}

.k-panel > li.k-item {
    background-color: #fff
}

.k-active-filter, .k-state-active, .k-state-active:hover {
    background-color: #fff;
    border-color: #a6a6ad;
    color: #535b6a
}

.k-fieldselector .k-list-container {
    background-color: #fff
}

.k-menu .k-state-hover > .k-state-active {
    background-color: transparent
}

.k-mediaplayer-toolbar .k-button.k-bare.k-state-active, .k-mediaplayer-toolbar .k-button.k-bare.k-state-active:hover, .k-mediaplayer-toolbar .k-button.k-bare:active {
    color: #1984c8
}

.k-menu .k-state-selected > .k-link {
    color: #fff;
    background-color: #1984c8;
    border-color: #1a87cd;
    background-image: url(textures/highlight.png);
    background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0)),to(rgba(255,255,255,.2)));
    background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,.2) 100%);
    background-image: none,linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,.2) 100%)
}

.k-menu .k-link.k-state-active {
    background-color: #fff;
    border-color: #a6a6ad;
    color: #535b6a
}

.k-menu .k-menu-scroll-button:hover, .k-menu .k-state-hover > .k-link {
    color: #263248;
    background-color: #b6bdca;
    border-color: #bebec3;
    background-image: url(textures/highlight.png);
    background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.3)),to(rgba(255,255,255,0)));
    background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.3) 0,rgba(255,255,255,0) 100%);
    background-image: none,linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,0) 100%)
}

.k-state-highlight {
    background: #fff;
    color: #535b6a
}

.k-grouping-row .k-state-focused, .k-state-focused {
    border-color: #dedee0
}

.k-calendar .k-link {
    color: #505968
}

.k-calendar .k-footer {
    padding: 0
}

    .k-calendar .k-footer .k-nav-today {
        color: #505968;
        text-decoration: none;
        background-color: #fff
    }

        .k-calendar .k-footer .k-nav-today.k-state-hover, .k-calendar .k-footer .k-nav-today:hover {
            background-color: #fff;
            text-decoration: underline
        }

        .k-calendar .k-footer .k-nav-today:active {
            background-color: #fff
        }

.k-calendar .k-link.k-nav-fast {
    color: #505968
}

.k-calendar .k-nav-fast.k-state-hover {
    text-decoration: none;
    background-color: #b6bdca;
    color: #263248
}

.k-calendar .k-link.k-state-hover {
    border-radius: 4px
}

.k-calendar .k-today {
    -webkit-box-shadow: inset 0 0 0 1px #1984c8;
    box-shadow: inset 0 0 0 1px #1984c8
}

    .k-calendar .k-today .k-link {
        color: #1984c8;
        font-weight: 700
    }

.k-calendar td.k-today.k-state-focused, .k-calendar td.k-today.k-state-focused.k-state-hover {
    -webkit-box-shadow: inset 0 0 3px 1px #d7dae0;
    box-shadow: inset 0 0 3px 1px #d7dae0
}

.k-calendar td.k-today.k-state-hover, .k-calendar td.k-today.k-state-selected {
    -webkit-box-shadow: none;
    box-shadow: none
}

    .k-calendar td.k-today.k-state-hover .k-link {
        color: #505968
    }

.k-calendar .k-footer .k-link {
    border-radius: 0
}

.k-calendar th {
    background-color: #f5f5f5
}

.k-calendar td.k-state-selected.k-state-hover {
    background-color: #1186d0;
    background-image: none
}

.k-calendar td.k-state-selected .k-link, .k-calendar td.k-today.k-state-selected.k-state-hover .k-link {
    color: #fff
}

.k-calendar td.k-state-focused.k-state-selected, .k-calendar td.k-state-selected.k-state-active, .k-calendar td.k-state-selected.k-state-hover:active, .k-calendar td.k-state-selected:active {
    -webkit-box-shadow: inset 0 0 3px 1px #d7dae0;
    box-shadow: inset 0 0 3px 1px #d7dae0
}

.k-window-titlebar .k-link {
    border-radius: 4px
}

.k-calendar-container.k-group {
    border-color: #ceced2
}

.k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list > .k-state-highlight, .k-list > .k-state-selected, .k-marquee-color, .k-panel > .k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-tool.k-state-selected {
    color: #fff;
    background-color: #1984c8;
    border-color: #1a87cd
}

.k-group-header + .k-list > .k-item.k-first, .k-static-header + .k-list > .k-item.k-first, .k-virtual-item.k-first {
    border-top-color: #bebec3
}

.k-group-header + div > .k-list > .k-item.k-first:before {
    border-top-color: #bbbbc6
}

.k-popup > .k-group-header, .k-popup > .k-virtual-wrap > .k-group-header {
    background: #bebec3;
    color: #fff
}

.k-popup .k-list .k-item > .k-group {
    background: #bbbbc6;
    color: #fff;
    border-bottom-left-radius: 3px
}

.k-popup .k-treeview .k-item > .k-group {
    background: 0 0;
    color: #515967
}

.k-marquee-text {
    color: #fff
}

.k-grid-header th.k-state-focused, .k-list > .k-state-focused, .k-listview > .k-state-focused, .k-state-focused, td.k-state-focused {
    -webkit-box-shadow: inset 0 0 3px 1px #d7dae0;
    box-shadow: inset 0 0 3px 1px #d7dae0
}

    .k-list > .k-state-focused.k-state-selected, .k-listview > .k-state-focused.k-state-selected, .k-state-focused.k-state-selected, td.k-state-focused.k-state-selected {
        -webkit-box-shadow: inset 0 0 3px 1px #14699f;
        box-shadow: inset 0 0 3px 1px #14699f
    }

.k-list-optionlabel.k-state-selected.k-state-focused {
    -webkit-box-shadow: none;
    box-shadow: none
}

.k-panelbar > li.k-state-default > .k-link.k-state-selected, .k-panelbar > li > .k-state-selected, .k-state-selected > .k-link {
    color: #fff
}

.k-dropdown .k-state-focused, .k-filebrowser-dropzone, .k-list > .k-state-hover, .k-mobile-list .k-edit-label.k-check:active, .k-mobile-list .k-item > .k-label:active, .k-mobile-list .k-item > .k-link:active, .k-mobile-list .k-recur-view .k-check:active, .k-pager-wrap .k-link:hover, .k-scheduler .k-scheduler-toolbar ul li.k-state-hover, .k-splitbar-horizontal-hover:hover, .k-splitbar-vertical-hover:hover, .k-state-hover, .k-state-hover:hover {
    color: #263248;
    background-color: #b6bdca;
    border-color: #bebec3
}

.k-pager-wrap .k-link.k-state-disabled {
    color: #515967;
    border-color: #dedee0
}

.k-mobile-list .k-scheduler-timezones .k-edit-field:nth-child(2):active {
    color: #263248;
    background-color: #b6bdca;
    border-color: #bebec3
}

.k-state-focused > .k-select, .k-state-hover > .k-select {
    border-color: #bebec3
}

.k-draghandle:hover, .k-listbox .k-item:hover:not(.k-state-disabled), .k-other-month.k-state-hover .k-link, .k-pager-wrap .k-link:hover, .k-state-hover, .k-state-hover:hover, .k-textbox:hover, div.k-filebrowser-dropzone em {
    background-image: url(textures/highlight.png);
    background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.3)),to(rgba(255,255,255,0)));
    background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.3) 0,rgba(255,255,255,0) 100%);
    background-image: none,linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,0) 100%)
}

.k-pager-wrap {
    background-color: #f3f3f4;
    color: #535b6a
}

.k-dropdown-wrap.k-state-active, .k-numeric-wrap.k-state-active, .k-panelbar > .k-item > .k-state-focused, .k-picker-wrap.k-state-active, .k-state-active, .k-state-active:hover, .k-state-active > .k-link {
    background-image: none
}

.k-draghandle.k-state-selected:hover, .k-state-selected {
    background-image: url(textures/highlight.png);
    background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0)),to(rgba(255,255,255,.2)));
    background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,.2) 100%);
    background-image: none,linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,.2) 100%)
}

.k-draghandle.k-state-selected:hover {
    background-position: 50% 50%
}

.k-other-month.k-state-hover .k-link, .k-state-hover > .k-link, div.k-filebrowser-dropzone em {
    color: #263248
}

.k-dropdown .k-state-focused .k-input, .km-pane-wrapper .k-mobile-list input:not([type=checkbox]):not([type=radio]), .km-pane-wrapper .k-mobile-list textarea, .km-pane-wrapper .km-pane .k-mobile-list select:not([multiple]) {
    color: #515967
}

.km-pane-wrapper .km-pane .k-mobile-list.k-filter-menu .k-space-right {
    background-image: url(textures/highlight.png);
    background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.45)),to(rgba(255,255,255,0)));
    background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.45) 0,rgba(255,255,255,0) 100%);
    background-image: none,linear-gradient(to bottom,rgba(255,255,255,.45) 0,rgba(255,255,255,0) 100%);
    background-position: 50% 50%;
    background: #f6f6f6;
    border-color: #ceced2
}

    .km-pane-wrapper .km-pane .k-mobile-list.k-filter-menu .k-space-right > input {
        background: #fff;
        border-color: #ceced2
    }

        .km-pane-wrapper .km-pane .k-mobile-list.k-filter-menu .k-space-right > input:focus {
            -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,.3);
            box-shadow: 0 0 3px 0 rgba(0,0,0,.3)
        }

.k-dropdown .k-state-hover .k-input {
    color: #263248
}

.k-state-error {
    border-color: #450d00;
    background-color: #fdfdfd;
    color: #1778b6
}

.k-state-disabled {
    opacity: .7
}

.k-loading-mask.k-state-selected, .k-tile-empty.k-state-selected {
    border-width: 0;
    background-image: none;
    background-color: transparent
}

.k-dropzone em, .k-other-month, .k-other-month .k-link, .k-slider .k-draghandle, .k-state-disabled, .k-state-disabled .k-link, .k-tile-empty strong {
    color: #cbcbcf
}

.k-dropzone .k-upload-status {
    color: #cbcbcf
}

.k-file .k-upload-status {
    color: #515967
}

.k-century .k-other-month.k-state-hover .k-link, .k-decade .k-other-month.k-state-hover .k-link {
    background: 0 0
}

.k-progressbar-indeterminate {
    background: url(Silver/indeterminate.gif)
}

    .k-progressbar-indeterminate .k-progress-status-wrap, .k-progressbar-indeterminate .k-state-selected {
        display: none
    }

.k-slider-track {
    background-color: #dedee0
}

.k-slider-selection {
    background-color: #1984c8
}

.k-slider-horizontal .k-tick {
    background-image: url(Silver/slider-h.gif)
}

.k-slider-vertical .k-tick {
    background-image: url(Silver/slider-v.gif)
}

.k-chart-crosshair-tooltip, .k-chart-shared-tooltip, .k-widget.k-tooltip {
    background-image: url(textures/highlight.png);
    background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.45)),to(rgba(255,255,255,0)));
    background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.45) 0,rgba(255,255,255,0) 100%);
    background-image: none,linear-gradient(to bottom,rgba(255,255,255,.45) 0,rgba(255,255,255,0) 100%);
    background-position: 50% 50%;
    background-color: #f3f3f4;
    color: #535b6a;
    border-color: transparent;
    -webkit-box-shadow: 0 4px 6px rgba(0,0,0,.3);
    box-shadow: 0 4px 6px rgba(0,0,0,.3)
}

.k-widget.k-tooltip-validation {
    border-color: #ff9800;
    background-color: #ff9800;
    color: #fff
}

.input-append .k-tooltip-validation, .input-prepend .k-tooltip-validation {
    font-size: 12px;
    position: relative;
    top: 3px
}

.k-callout-n {
    border-bottom-color: #f3f3f4
}

.k-callout-w {
    border-right-color: #f3f3f4
}

.k-callout-s {
    border-top-color: #f3f3f4
}

.k-callout-e {
    border-left-color: #f3f3f4
}

.k-tooltip-validation .k-callout-n {
    border-bottom-color: #ff9800
}

.k-tooltip-validation .k-callout-w {
    border-right-color: #ff9800
}

.k-tooltip-validation .k-callout-s {
    border-top-color: #ff9800
}

.k-tooltip-validation .k-callout-e {
    border-left-color: #ff9800
}

.k-splitbar {
    background-color: #f3f3f4
}

.k-restricted-size-horizontal, .k-restricted-size-vertical {
    background-color: #1778b6
}

.k-file {
    background-color: #fff;
    border-color: #dedee0
}

.k-file-progress {
    color: #535b6a
}

    .k-file-progress .k-progress {
        background-color: #2498bc
    }

.k-file-success .k-file-name, .k-file-success .k-upload-pct {
    color: #3ea44e
}

.k-file-success .k-progress {
    background-color: #3ea44e
}

.k-file-error {
    color: #d92800
}

    .k-file-error .k-file-extension-wrapper, .k-file-error .k-multiple-files-extension-wrapper {
        color: #d92800;
        border-color: #d92800
    }

        .k-file-error .k-file-extension-wrapper:before, .k-file-error .k-multiple-files-extension-wrapper:before {
            border-color: transparent transparent #d92800 #d92800
        }

    .k-file-error .k-progress, .k-file-invalid .k-progress {
        background-color: #d92800
    }

.k-file-extension-wrapper, .k-multiple-files-extension-wrapper {
    color: #cbcbcf;
    border-color: #cbcbcf
}

.k-file-invalid .k-file-name-invalid {
    color: #d92800
}

.k-file-invalid-extension-wrapper, .k-multiple-files-invalid-extension-wrapper {
    color: #d92800;
    border-color: #ff896e
}

.k-file-extension-wrapper:before, .k-multiple-files-extension-wrapper:before {
    background-color: #fff;
    border-color: transparent transparent #cbcbcf #cbcbcf
}

.k-file-invalid-extension-wrapper:before, .k-multiple-files-invalid-extension-wrapper:before {
    background-color: #fff;
    border-color: transparent transparent #ff896e #ff896e
}

.k-multiple-files-extension-wrapper:after {
    border-top-color: #cbcbcf;
    border-left-color: #cbcbcf
}

.k-multiple-files-invalid-extension-wrapper:after {
    border-top-color: #ff896e;
    border-left-color: #ff896e
}

.k-file-information, .k-file-size, .k-file-validation-message {
    color: #cbcbcf
}

.k-upload .k-upload-selected {
    color: #1984c8;
    border-color: #dedee0
}

.k-upload-action:focus:active:not(.k-state-disabled):not([disabled]) {
    -webkit-box-shadow: inset 0 0 3px 1px #bebec3;
    box-shadow: inset 0 0 3px 1px #bebec3
}

.k-tile {
    border-color: #fff
}

.k-textbox:hover, .k-tiles li.k-state-hover {
    border-color: #bebec3
}

.k-tiles li.k-state-selected {
    border-color: #1a87cd
}

.k-leaf, .k-leaf.k-state-hover:hover {
    color: #fff
}

    .k-leaf.k-inverse, .k-leaf.k-inverse.k-state-hover:hover {
        color: #000
    }

.k-slider, .k-treeview, .k-upload {
    -webkit-box-shadow: none;
    box-shadow: none
}

.k-state-hover {
    -webkit-box-shadow: none;
    box-shadow: none
}

.k-autocomplete.k-state-focused, .k-dropdown-wrap.k-state-focused, .k-numeric-wrap.k-state-focused, .k-picker-wrap.k-state-focused, .k-textbox:focus {
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,.3);
    box-shadow: 0 0 3px 0 rgba(0,0,0,.3)
}

.k-state-selected {
    -webkit-box-shadow: none;
    box-shadow: none
}

.k-state-active {
    -webkit-box-shadow: none;
    box-shadow: none
}

.k-grid tr:hover {
    background-color: #b5bdcb;
    background-image: url(textures/highlight.png);
    background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.3)),to(rgba(255,255,255,0)));
    background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.3) 0,rgba(255,255,255,0) 100%);
    background-image: none,linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,0) 100%);
    background-position: 50% 50%
}

.k-grid .k-filter-row:hover, .k-pivot-rowheaders .k-grid tr:hover {
    background: 0 0
}

.k-grid td.k-state-selected:hover, .k-grid tr.k-state-selected:hover {
    background-color: #1186d0;
    background-image: none
}

.k-autocomplete.k-state-border-down, .k-autocomplete.k-state-border-up, .k-datepicker-calendar, .k-dropdown-wrap.k-state-active, .k-filebrowser .k-image, .k-grid .k-filter-options, .k-menu .k-menu-group, .k-multiselect.k-state-focused, .k-picker-wrap.k-state-active, .k-popup, .k-time-popup, .k-tooltip {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.3)
}

.k-treemap-tile.k-state-hover {
    -webkit-box-shadow: inset 0 0 0 3px #dedee0;
    box-shadow: inset 0 0 0 3px #dedee0
}

.k-window {
    border-color: rgba(0,0,0,.3);
    -webkit-box-shadow: 1px 1px 7px 1px rgba(128,128,128,.3);
    box-shadow: 1px 1px 7px 1px rgba(128,128,128,.3);
    background-color: #fff
}

    .k-window.k-state-focused {
        border-color: rgba(0,0,0,.3);
        -webkit-box-shadow: 1px 1px 7px 1px rgba(0,0,0,.3);
        box-shadow: 1px 1px 7px 1px rgba(0,0,0,.3)
    }

    .k-window-maximized .k-window-content, .k-window-maximized .k-window-titlebar, .k-window.k-window-maximized {
        border-radius: 0
    }

.k-shadow {
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.3)
}

.k-inset {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.3);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.3)
}

.k-editor-inline ::-moz-selection {
    background-color: #1a87cd;
    text-shadow: none;
    color: #fff
}

.k-editor-inline ::selection {
    background-color: #1a87cd;
    text-shadow: none;
    color: #fff
}

.k-editor-inline ::-moz-selection {
    background-color: #1a87cd;
    text-shadow: none;
    color: #fff
}

.k-editor-inline.k-state-active, .k-editor-inline:hover {
    border-color: #dedee0
}

.k-notification {
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.25)),to(rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(rgba(255,255,255,.25) 0,rgba(255,255,255,0) 100%);
    background-image: linear-gradient(rgba(255,255,255,.25) 0,rgba(255,255,255,0) 100%)
}

.k-notification-info {
    background-color: #2498bc;
    color: #fff;
    border-color: #2498bc
}

.k-notification-success {
    background-color: #3ea44e;
    color: #fff;
    border-color: #3ea44e
}

.k-notification-warning {
    background-color: #ff9800;
    color: #000;
    border-color: #ff9800
}

.k-notification-error {
    background-color: #d92800;
    color: #fff;
    border-color: #d92800
}

.k-gantt .k-treelist {
    background: #fbfbfb
}

    .k-gantt .k-treelist .k-alt {
        background-color: #eeeeef
    }

    .k-gantt .k-treelist tr:hover {
        background-image: url(textures/highlight.png);
        background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.45)),to(rgba(255,255,255,0)));
        background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.45) 0,rgba(255,255,255,0) 100%);
        background-image: none,linear-gradient(to bottom,rgba(255,255,255,.45) 0,rgba(255,255,255,0) 100%);
        background-color: #bbbbc6
    }

    .k-gantt .k-treelist .k-alt.k-state-selected, .k-gantt .k-treelist .k-alt.k-state-selected > td, .k-gantt .k-treelist .k-state-selected, .k-gantt .k-treelist .k-state-selected td {
        background-color: #1984c8;
        background-image: url(textures/highlight.png);
        background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0)),to(rgba(255,255,255,.2)));
        background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,.2) 100%);
        background-image: none,linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,.2) 100%)
    }

        .k-gantt .k-treelist .k-state-selected:hover, .k-gantt .k-treelist .k-state-selected:hover td {
            background-color: #1186d0;
            background-image: none
        }

.k-task-dot:after {
    background-color: #515967;
    border-color: #515967
}

.k-task-dot:hover:after {
    background-color: #fff
}

.k-task-summary {
    border-color: #9099a8;
    background: #9099a8
}

.k-task-milestone, .k-task-summary-complete {
    border-color: #515967;
    background: #515967
}

.k-state-selected.k-task-summary {
    border-color: #73beee;
    background: #73beee
}

.k-state-selected .k-task-summary-complete, .k-state-selected.k-task-milestone {
    border-color: #1984c8;
    background: #1984c8
}

.k-task-single {
    background-color: #b7def6;
    border-color: #97cff2;
    color: #515967
}

.k-state-selected.k-task-single {
    border-color: #1a87cd
}

.k-line {
    background-color: #515967;
    color: #515967
}

.k-state-selected.k-line {
    background-color: #1984c8;
    color: #1984c8
}

.k-resource {
    background-color: #fff
}

.k-autocomplete, .k-block, .k-calendar .k-link, .k-calendar td, .k-calendar-container, .k-colorpicker, .k-combobox, .k-datepicker, .k-datetimepicker, .k-drag-clue, .k-dropdown, .k-dropdown-wrap, .k-editor-inline, .k-gantt-views > .k-current-view, .k-grid .k-filter-options, .k-grouping-header .k-group-indicator, .k-inline-block, .k-list-container, .k-multiselect, .k-notification, .k-numeric-wrap, .k-numerictextbox, .k-picker-wrap, .k-slider-selection, .k-slider-track, .k-split-button .k-gantt-views, .k-textbox, .k-tile, .k-timepicker, .k-tooltip, .k-touch-scrollbar, .k-treeview .k-in, .k-upload, .k-window, .k-window-action, .k-window-titleless .k-window-content {
    border-radius: 4px
}

.k-tool {
    text-align: center;
    vertical-align: middle
}

    .k-tool.k-group-start, .k-toolbar .k-button-group .k-group-start, .k-toolbar .k-split-button .k-button {
        border-radius: 4px 0 0 4px
    }

.k-rtl .k-tool.k-group-start, .k-rtl .k-toolbar .k-button-group .k-group-start, .k-rtl .k-toolbar .k-split-button .k-button {
    border-radius: 0 4px 4px 0
}

.k-toolbar .k-button-group > .k-group-end {
    border-radius: 4px
}

.k-tool.k-group-end, .k-toolbar .k-button-group .k-button + .k-group-end, .k-toolbar .k-split-button .k-split-button-arrow {
    border-radius: 0 4px 4px 0
}

.k-rtl .k-tool.k-group-end, .k-rtl .k-toolbar .k-button-group .k-group-end, .k-rtl .k-toolbar .k-split-button .k-split-button-arrow {
    border-radius: 4px 0 0 4px
}

.k-group-start.k-group-end.k-tool {
    border-radius: 4px
}

.k-autocomplete.k-state-border-up, .k-calendar-container.k-state-border-up, .k-dropdown-wrap.k-state-border-up, .k-filter-menu, .k-list-container.k-state-border-up, .k-multiselect.k-state-border-up, .k-numeric-wrap.k-state-border-up, .k-picker-wrap.k-state-border-up, .k-window-content {
    border-radius: 0 0 4px 4px
}

    .k-autocomplete.k-state-border-up .k-input, .k-dropdown-wrap.k-state-border-up .k-input, .k-numeric-wrap.k-state-border-up .k-input, .k-picker-wrap.k-state-border-up .k-input, .k-picker-wrap.k-state-border-up .k-selected-color {
        border-radius: 0 0 0 4px
    }

    .k-multiselect.k-state-border-up .k-multiselect-wrap {
        border-radius: 0 0 4px 4px
    }

.k-autocomplete.k-state-border-down, .k-block > .k-header, .k-calendar-container.k-state-border-down, .k-dropdown-wrap.k-state-border-down, .k-gantt-views.k-state-expanded, .k-gantt-views.k-state-expanded > .k-current-view, .k-list-container.k-state-border-down, .k-multiselect.k-state-border-down, .k-numeric-wrap.k-state-border-down, .k-panelbar .k-tabstrip-items .k-item, .k-picker-wrap.k-state-border-down, .k-tabstrip-items .k-item, .k-tabstrip-items .k-link, .k-window-titlebar {
    border-radius: 4px 4px 0 0
}

.k-split-button.k-state-border-down > .k-button {
    border-radius: 4px 0 0 0
}

.k-split-button.k-state-border-up > .k-button {
    border-radius: 0 0 0 4px
}

.k-split-button.k-state-border-down > .k-split-button-arrow {
    border-radius: 0 4px 0 0
}

.k-split-button.k-state-border-up > .k-split-button-arrow {
    border-radius: 0 0 4px 0
}

.k-dropdown-wrap .k-input, .k-numeric-wrap .k-input, .k-picker-wrap .k-input {
    border-radius: 3px 0 0 3px
}

.k-rtl .k-dropdown-wrap .k-input, .k-rtl .k-numeric-wrap .k-input, .k-rtl .k-picker-wrap .k-input {
    border-radius: 0 3px 3px 0
}

.k-numeric-wrap .k-link {
    border-radius: 0 3px 0 0
}

    .k-numeric-wrap .k-link + .k-link {
        border-radius: 0 0 3px 0
    }

.k-colorpicker .k-selected-color {
    border-radius: 3px 0 0 3px
}

.k-rtl .k-colorpicker .k-selected-color {
    border-radius: 0 3px 3px 0
}

.k-autocomplete.k-state-border-down .k-input {
    border-radius: 4px 4px 0 0
}

.k-dropdown-wrap.k-state-border-down .k-input, .k-numeric-wrap.k-state-border-down .k-input, .k-picker-wrap.k-state-border-down .k-input, .k-picker-wrap.k-state-border-down .k-selected-color {
    border-radius: 4px 0 0 0
}

.k-numeric-wrap .k-link.k-state-selected {
    background-color: #1984c8
}

.k-multiselect.k-state-border-down .k-multiselect-wrap {
    border-radius: 3px 3px 0 0
}

.k-datetimepicker .k-select + .k-select, .k-dropdown-wrap .k-select, .k-list-container.k-state-border-right, .k-numeric-wrap .k-select, .k-picker-wrap .k-select {
    border-radius: 0 4px 4px 0
}

.k-rtl .k-datetimepicker .k-select + .k-select, .k-rtl .k-dropdown-wrap .k-select, .k-rtl .k-list-container.k-state-border-right, .k-rtl .k-numeric-wrap .k-select, .k-rtl .k-picker-wrap .k-select {
    border-radius: 4px 0 0 4px
}

.k-numeric-wrap.k-expand-padding .k-input {
    border-radius: 4px
}

.k-autocomplete .k-input, .k-multiselect-wrap, .k-textbox > input {
    border-radius: 3px
}

.k-dropzone, .k-fieldselector .k-list .k-item, .k-list .k-state-focused, .k-list .k-state-highlight, .k-list .k-state-hover, .k-list .k-state-selected, .k-list-optionlabel, .k-listbox .k-item {
    border-radius: 3px
}

.k-grid .k-slider .k-button, .k-slider .k-button {
    border-radius: 13px
}

.k-draghandle {
    border-radius: 7px
}

.k-scheduler-toolbar > ul li:first-child, .k-scheduler-toolbar > ul li:first-child .k-link, .k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li, .k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li .k-link {
    border-radius: 4px 0 0 4px
}

.k-rtl .k-scheduler-toolbar > ul li:first-child, .k-rtl .k-scheduler-toolbar > ul li:first-child .k-link, .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li, .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li .k-link, .km-view.k-popup-edit-form .k-scheduler-toolbar > ul li:last-child, .km-view.k-popup-edit-form .k-scheduler-toolbar > ul li:last-child .k-link {
    border-radius: 0 4px 4px 0
}

.k-edit-field > .k-scheduler-navigation, .k-scheduler-phone .k-scheduler-toolbar > ul li.k-nav-today, .k-scheduler-phone .k-scheduler-toolbar > ul li.k-nav-today .k-link {
    border-radius: 4px
}

.k-scheduler-toolbar .k-nav-next, .k-scheduler-toolbar .k-nav-next .k-link, .k-scheduler-toolbar ul + ul li:last-child, .k-scheduler-toolbar ul + ul li:last-child .k-link {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.k-rtl .k-scheduler-toolbar .k-nav-next, .k-rtl .k-scheduler-toolbar .k-nav-next .k-link, .k-rtl .k-scheduler-toolbar ul + ul li:last-child, .k-rtl .k-scheduler-toolbar ul + ul li:last-child .k-link {
    border-radius: 4px 0 0 4px
}

.k-scheduler div.k-scheduler-footer .k-link, .k-scheduler div.k-scheduler-footer ul li {
    border-radius: 4px
}

.k-event, .k-event .k-link, .k-more-events, .k-task-complete, .k-task-single {
    border-radius: 3px
}

.k-scheduler-mobile .k-event {
    border-radius: 2px
}

.k-grid-mobile .k-column-active + th.k-header {
    border-left-color: #515967
}

.k-ie .km-pane-wrapper .k-content, .k-ie .km-pane-wrapper .k-group, .k-ie .km-pane-wrapper .k-header, .k-ie .km-pane-wrapper .k-popup-edit-form .k-edit-field .k-button, .k-ie .km-pane-wrapper .k-widget, .km-pane-wrapper .k-mobile-list .k-edit-field, .km-pane-wrapper .k-mobile-list .k-edit-label, .km-pane-wrapper .k-mobile-list .k-item, html .km-pane-wrapper .km-widget {
    color: #515967
}

@media screen and (-ms-high-contrast:active) and (-ms-high-contrast:none) {
    div.km-pane-wrapper a {
        color: #515967
    }
}

.km-pane-wrapper .k-mobile-list .k-edit-field, .km-pane-wrapper .k-mobile-list .k-item, .km-pane-wrapper .k-mobile-list .k-recur-view > .k-edit-field .k-check {
    background-color: #fff;
    border-top: 1px solid #ceced2
}

    .km-pane-wrapper .k-mobile-list .k-edit-field textarea {
        outline-width: 0
    }

    .km-pane-wrapper .k-mobile-list .k-item.k-state-selected {
        background-color: #1984c8;
        border-top-color: #1a87cd
    }

    .km-pane-wrapper .k-mobile-list .k-recur-view > .k-edit-field .k-check:first-child {
        border-top-color: transparent
    }

    .km-pane-wrapper .k-mobile-list .k-item:last-child {
        -webkit-box-shadow: inset 0 -1px 0 #ceced2;
        box-shadow: inset 0 -1px 0 #ceced2
    }

.km-pane-wrapper #recurrence .km-scroll-container > .k-edit-label:first-child, .km-pane-wrapper .k-mobile-list .k-recur-view > .k-edit-label:nth-child(3), .km-pane-wrapper .k-mobile-list > ul > li > .k-link {
    color: #535b6a;
    opacity: .7
}

.km-pane-wrapper .k-mobile-list > ul > li > .k-link {
    border-bottom: 1px solid #ceced2
}

.km-pane-wrapper .k-mobile-list .k-edit-field {
    -webkit-box-shadow: 0 1px 1px #ceced2;
    box-shadow: 0 1px 1px #ceced2
}

.km-actionsheet .k-grid-delete, .km-actionsheet .k-scheduler-delete, .km-pane-wrapper .k-filter-menu .k-button[type=reset], .km-pane-wrapper .k-scheduler-delete {
    color: #fff;
    border-color: #450d00;
    background-color: red;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.3)),to(rgba(255,255,255,.15)));
    background-image: -webkit-linear-gradient(top,rgba(255,255,255,.3),rgba(255,255,255,.15));
    background-image: linear-gradient(to bottom,rgba(255,255,255,.3),rgba(255,255,255,.15))
}

    .km-actionsheet .k-grid-delete:active, .km-actionsheet .k-scheduler-delete:active, .km-pane-wrapper .k-filter-menu .k-button[type=reset]:active, .km-pane-wrapper .k-scheduler-delete:active {
        background-color: #900
    }

.k-autocomplete.k-state-default, .k-dropdown-wrap.k-state-default, .k-numeric-wrap.k-state-default, .k-picker-wrap.k-state-default {
    background-image: url(textures/highlight.png);
    background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.45)),to(rgba(255,255,255,0)));
    background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.45) 0,rgba(255,255,255,0) 100%);
    background-image: none,linear-gradient(to bottom,rgba(255,255,255,.45) 0,rgba(255,255,255,0) 100%);
    background-position: 50% 50%;
    background-color: #f6f6f6;
    border-color: #ceced2
}

.k-dropdown-wrap.k-state-hover, .k-numeric-wrap.k-state-hover, .k-picker-wrap.k-state-hover {
    background-color: #b5bdcb;
    background-image: url(textures/highlight.png);
    background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.3)),to(rgba(255,255,255,0)));
    background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.3) 0,rgba(255,255,255,0) 100%);
    background-image: none,linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,0) 100%);
    background-position: 50% 50%;
    border-color: #bebec3
}

.k-autocomplete.k-state-hover, .k-multiselect-wrap.k-state-hover, .k-state-hover > .k-multiselect-wrap {
    border-color: #bebec3;
    background: #fff;
    color: #515967
}

.k-dateinput.k-state-disabled > .k-textbox:hover, .k-maskedtextbox.k-state-disabled > .k-textbox:hover, .k-multiselect-wrap, input.k-textbox, textarea.k-textbox {
    border-color: #ceced2
}

.k-dropdown-wrap.k-state-focused, .k-numeric-wrap.k-state-focused, .k-picker-wrap.k-state-focused {
    background-color: #b5bdcb;
    background-image: url(textures/highlight.png);
    background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.3)),to(rgba(255,255,255,0)));
    background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.3) 0,rgba(255,255,255,0) 100%);
    background-image: none,linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,0) 100%);
    background-position: 50% 50%;
    border-color: #bdbdbd;
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,.3);
    box-shadow: 0 0 3px 0 rgba(0,0,0,.3)
}

.k-autocomplete.k-state-focused, .k-multiselect-wrap.k-state-focused, .k-state-focused > .k-multiselect-wrap {
    border-color: #bdbdbd;
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,.3);
    box-shadow: 0 0 3px 0 rgba(0,0,0,.3)
}

.k-list-container {
    color: #515967
}

.k-nodata {
    color: #cbcbcf
}

.k-dropdown .k-input, .k-dropdown .k-state-focused .k-input, .k-menu .k-popup, .k-multiselect .k-button, .k-multiselect .k-button:hover {
    color: #515967
}

.k-state-default > .k-select {
    border-color: #ceced2;
   
}

.k-state-hover > .k-select {
    border-color: #bebec3
}

.k-state-focused > .k-select {
    border-color: #bdbdbd
}

.k-tabstrip:focus {
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,.3);
    box-shadow: 0 0 3px 0 rgba(0,0,0,.3)
}

.k-panelbar > li.k-state-default > .k-link, .k-tabstrip-items .k-state-default .k-link {
    color: #515967
}

    .k-panelbar > li.k-state-default > .k-link.k-state-hover, .k-panelbar > li.k-state-hover > .k-link, .k-tabstrip-items .k-state-hover .k-link {
        color: #263248
    }

.k-panelbar > .k-state-focused.k-state-hover {
    background: #b6bdca;
    -webkit-box-shadow: none;
    box-shadow: none
}

.k-tabstrip-items .k-state-default {
    border-color: #ceced2
}

.k-tabstrip-items .k-state-hover {
    border-color: #bebec3
}

.k-panelbar .k-tabstrip-items .k-state-active, .k-tabstrip-items .k-state-active {
    background-color: #fff;
    background-image: none;
    border-color: #a6a6ad
}

.k-panelbar .k-tabstrip-top > .k-tabstrip-items .k-state-active, .k-tabstrip-top > .k-tabstrip-items .k-state-active {
    border-bottom-color: #fff
}

.k-tabstrip .k-content.k-state-active {
    background-color: #fff;
    color: #515967
}

.k-menu .k-item, .k-menu.k-header {
    border-color: #ceced2
}

.k-column-menu, .k-column-menu .k-item, .k-overflow-container .k-overflow-group {
    border-color: #ceced2
}

.k-toolbar .k-button.k-state-disabled:focus {
    border-color: #ceced2;
    -webkit-box-shadow: inset 0 0 3px 1px #bebec3;
    box-shadow: inset 0 0 3px 1px #bebec3
}

.k-overflow-container .k-button-group .k-button {
    border-radius: 4px
}

.k-overflow-container .k-overflow-group {
    -webkit-box-shadow: inset 0 1px 0 #fff,0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff,0 1px 0 #fff
}

.k-overflow-container .k-separator {
    border-color: #ceced2
}

.k-overflow-container .k-overflow-group + .k-overflow-group, .k-toolbar-first-visible.k-overflow-group {
    -webkit-box-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 #fff
}

.k-toolbar-last-visible.k-overflow-group {
    -webkit-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff
}

.k-column-menu .k-separator {
    border-color: #ceced2;
    background-color: transparent
}

.k-menu .k-group {
    border-color: #ceced2
}

.k-grid-filter.k-state-active {
    background-color: #fff
}

.k-grid-footer td, .k-group-footer td, .k-grouping-row td {
    color: #515967;
    border-color: #ceced2;
    font-weight: 700
}

.k-grouping-header {
    color: #515967
}

.k-grid td.k-state-focused {
    -webkit-box-shadow: inset 0 0 3px 1px #d7dae0;
    box-shadow: inset 0 0 3px 1px #d7dae0
}

.k-gantt-toolbar .k-state-default, .k-grid .k-grouping-header, .k-grid-header, .k-grid-header-wrap, .k-grouping-header .k-group-indicator, .k-header, .k-pager-wrap, .k-pager-wrap .k-link, .k-pager-wrap .k-textbox {
    border-color: #ceced2
}

.k-pager-numbers .k-link, .k-treeview .k-in {
    border-color: transparent
}

.k-grid .k-hierarchy-cell .k-icon, .k-scheduler-table .k-icon, .k-treeview .k-icon {
    background-color: transparent;
    border-radius: 4px
}

.k-scheduler-table .k-state-hover .k-icon {
    background-color: transparent
}

.k-editor .k-tool:focus {
    outline: 0;
    border-color: #ceced2;
    -webkit-box-shadow: inset 0 0 3px 1px #bebec3;
    box-shadow: inset 0 0 3px 1px #bebec3
}

.k-checkbox-label:before {
    border-color: #ceced2;
    background: #fff;
    border-radius: 3px
}

.k-checkbox-label:hover:before, .k-checkbox:checked + .k-checkbox-label:hover:before, .k-checkbox:checked:hover + .k-checkbox-label:before, .k-checkbox:hover + .k-checkbox-label:before {
    border-color: #b3b3b9;
    -webkit-box-shadow: none;
    box-shadow: none
}

.k-checkbox:checked + .k-checkbox-label:before {
    background-color: #fff;
    border-color: #d3d3d7;
    color: #1a87cd
}

.k-checkbox-label:active:before, .k-checkbox:active + .k-checkbox-label:before {
    -webkit-box-shadow: 0 0 3px 0 #1984c8;
    box-shadow: 0 0 3px 0 #1984c8;
    border-color: #1a87cd
}

.k-checkbox:checked + .k-checkbox-label:active:before, .k-checkbox:checked:active + .k-checkbox-label:before {
    -webkit-box-shadow: 0 0 3px 0 #1984c8;
    box-shadow: 0 0 3px 0 #1984c8;
    border-color: #1a87cd
}

.k-checkbox:disabled + .k-checkbox-label {
    color: #cbcbcf
}

    .k-checkbox:disabled + .k-checkbox-label:hover:before {
        -webkit-box-shadow: none;
        box-shadow: none
    }

    .k-checkbox:checked:disabled + .k-checkbox-label:active:before, .k-checkbox:checked:disabled + .k-checkbox-label:before, .k-checkbox:checked:disabled + .k-checkbox-label:hover:before, .k-checkbox:disabled + .k-checkbox-label:before {
        color: #cbcbcf;
        background: #f4f5f7;
        border-color: #d3d3d7;
        border-radius: 3px
    }

.k-checkbox:focus + .k-checkbox-label:before, .k-checkbox:focus + .k-checkbox-label:hover:before {
    border-color: #1a87cd;
    -webkit-box-shadow: 0 0 3px 0 #1984c8;
    box-shadow: 0 0 3px 0 #1984c8
}

.k-checkbox:indeterminate + .k-checkbox-label:after {
    background-color: #1a87cd;
    background-image: url(textures/highlight.png);
    background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0)),to(rgba(255,255,255,.2)));
    background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,.2) 100%);
    background-image: none,linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,.2) 100%);
    border-color: #1a87cd;
    border-radius: 2px
}

.k-checkbox:indeterminate:hover + .k-checkbox-label:after {
    border-color: #1a87cd;
    background-color: #1a87cd
}

.k-radio-label:before {
    border-color: #ceced2;
    border-radius: 50%;
    background-color: #fff;
    border-width: 1px
}

.k-radio-label:hover:before, .k-radio:checked + .k-radio-label:hover:before {
    border-color: #b3b3b9;
    -webkit-box-shadow: none;
    box-shadow: none
}

.k-radio:checked + .k-radio-label:after {
    background-color: #1b8dd6;
    border-radius: 50%
}

.k-radio-label:active:before {
    border-color: #1a87cd;
    -webkit-box-shadow: 0 0 3px 0 #1984c8;
    box-shadow: 0 0 3px 0 #1984c8
}

.k-radio:checked + .k-radio-label:active:before {
    -webkit-box-shadow: 0 0 3px 0 #1984c8;
    box-shadow: 0 0 3px 0 #1984c8;
    border-color: #1a87cd
}

.k-radio:disabled + .k-radio-label {
    color: #cbcbcf
}

    .k-radio:disabled + .k-radio-label:active:before, .k-radio:disabled + .k-radio-label:before, .k-radio:disabled + .k-radio-label:hover:after, .k-radio:disabled + .k-radio-label:hover:before {
        background: #f4f5f7;
        border-color: #bfbfbf;
        -webkit-box-shadow: none;
        box-shadow: none
    }

.k-radio:disabled:checked + .k-radio-label:after {
    background-color: #1b8dd6;
    opacity: .5
}

.k-radio:focus + .k-radio-label:before {
    border-color: #1a87cd;
    -webkit-box-shadow: 0 0 3px 0 #1984c8;
    box-shadow: 0 0 3px 0 #1984c8
}

@media screen and (-ms-high-contrast:active) {
    .k-editor-toolbar-wrap .k-button-group .k-tool:focus, .k-editor-toolbar-wrap .k-dropdown-wrap.k-state-focused {
        border-color: #fff
    }
}

@media only screen and (max-width:1024px) {
    .k-edge .k-grid .k-pager-numbers, .k-edge .k-pager-numbers, .k-ff .k-grid .k-pager-numbers, .k-ff .k-pager-numbers, .k-ie11 .k-grid .k-pager-numbers, .k-ie11 .k-pager-numbers, .k-safari .k-grid .k-pager-numbers, .k-safari .k-pager-numbers, .k-webkit .k-grid .k-pager-numbers, .k-webkit .k-pager-numbers {
        -ms-transform: translatey(-100%);
        transform: translatey(-100%);
        -webkit-transform: translatey(-100%)
    }

        .k-edge .k-grid .k-pager-numbers .k-current-page, .k-edge .k-pager-numbers .k-current-page, .k-ff .k-grid .k-pager-numbers .k-current-page, .k-ff .k-pager-numbers .k-current-page, .k-ie11 .k-grid .k-pager-numbers .k-current-page, .k-ie11 .k-pager-numbers .k-current-page, .k-safari .k-grid .k-pager-numbers .k-current-page, .k-safari .k-pager-numbers .k-current-page, .k-webkit .k-grid .k-pager-numbers .k-current-page, .k-webkit .k-pager-numbers .k-current-page {
            -ms-transform: translatey(100%);
            transform: translatey(100%);
            -webkit-transform: translatey(100%)
        }

            .k-edge .k-pager-numbers .k-current-page .k-link, .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view, .k-ff .k-pager-numbers .k-current-page .k-link, .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view, .k-ie11 .k-pager-numbers .k-current-page .k-link, .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view, .k-safari .k-pager-numbers .k-current-page .k-link, .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view, .k-webkit .k-pager-numbers .k-current-page .k-link, .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view {
                background-image: url(textures/highlight.png);
                background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.45)),to(rgba(255,255,255,0)));
                background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.45) 0,rgba(255,255,255,0) 100%);
                background-image: none,linear-gradient(to bottom,rgba(255,255,255,.45) 0,rgba(255,255,255,0) 100%);
                background-position: 50% 50%;
                background-color: #f6f6f6;
                border-color: #dedee0
            }

            .k-edge .k-pager-numbers .k-current-page .k-link, .k-ff .k-pager-numbers .k-current-page .k-link, .k-ie11 .k-pager-numbers .k-current-page .k-link, .k-safari .k-pager-numbers .k-current-page .k-link, .k-webkit .k-pager-numbers .k-current-page .k-link {
                border-color: #ceced2
            }

    .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view, .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view, .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view, .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view, .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view {
        border-radius: 4px
    }

    .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li, .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li, .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li, .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li, .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li {
        border-radius: 0
    }

        .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view, .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view, .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view, .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view, .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view {
            border-radius: 3px 3px 0 0
        }

    .k-edge .k-scheduler-toolbar > ul li:first-child, .k-edge .k-scheduler-toolbar > ul li:first-child .k-link, .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li, .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li .k-link, .k-ff .k-scheduler-toolbar > ul li:first-child, .k-ff .k-scheduler-toolbar > ul li:first-child .k-link, .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li, .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li .k-link, .k-ie11 .k-scheduler-toolbar > ul li:first-child, .k-ie11 .k-scheduler-toolbar > ul li:first-child .k-link, .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li, .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li .k-link, .k-safari .k-scheduler-toolbar > ul li:first-child, .k-safari .k-scheduler-toolbar > ul li:first-child .k-link, .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li, .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li .k-link, .k-webkit .k-scheduler-toolbar > ul li:first-child, .k-webkit .k-scheduler-toolbar > ul li:first-child .k-link, .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li, .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li .k-link {
        border-radius: 0
    }

        .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li:last-child, .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link, .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li:last-child, .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link, .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li:last-child, .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link, .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li:last-child, .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link, .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li:last-child, .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link {
            border-radius: 0 0 3px 3px
        }

    .k-edge .k-pager-numbers .k-current-page .k-link:hover, .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover, .k-ff .k-pager-numbers .k-current-page .k-link:hover, .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover, .k-ie11 .k-pager-numbers .k-current-page .k-link:hover, .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover, .k-safari .k-pager-numbers .k-current-page .k-link:hover, .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover, .k-webkit .k-pager-numbers .k-current-page .k-link:hover, .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover {
        border-color: #bebec3;
        background-image: url(textures/highlight.png);
        background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.3)),to(rgba(255,255,255,0)));
        background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.3) 0,rgba(255,255,255,0) 100%);
        background-image: none,linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,0) 100%);
        background-color: #b6bdca
    }

    .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link, .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link, .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link, .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link, .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link {
        color: #515967;
        min-width: 75px
    }

    .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link, .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link, .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link, .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link, .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link {
        color: #263248
    }

    .k-edge .k-pager-numbers .k-current-page .k-link:after, .k-edge .k-scheduler-views > li.k-state-selected > .k-link:after, .k-ff .k-pager-numbers .k-current-page .k-link:after, .k-ff .k-scheduler-views > li.k-state-selected > .k-link:after, .k-ie11 .k-pager-numbers .k-current-page .k-link:after, .k-ie11 .k-scheduler-views > li.k-state-selected > .k-link:after, .k-safari .k-pager-numbers .k-current-page .k-link:after, .k-safari .k-scheduler-views > li.k-state-selected > .k-link:after, .k-webkit .k-pager-numbers .k-current-page .k-link:after, .k-webkit .k-scheduler-views > li.k-state-selected > .k-link:after {
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        margin-top: -.5em;
        right: .333em;
        width: 1.333em;
        height: 1.333em
    }

    .k-edge .k-pager-numbers.k-state-expanded, .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded, .k-ff .k-pager-numbers.k-state-expanded, .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded, .k-ie11 .k-pager-numbers.k-state-expanded, .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded, .k-safari .k-pager-numbers.k-state-expanded, .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded, .k-webkit .k-pager-numbers.k-state-expanded, .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded {
        border-width: 1px 1px 0 1px;
        border-style: solid;
        border-color: #ceced2;
        background-color: #f3f3f4;
        border-radius: 4px 4px 0 0;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.3)
    }

    .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded, .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded, .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded, .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded, .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded {
        border-width: 1px;
        background-image: none;
        border-radius: 4px
    }

    .k-edge .k-pager-numbers .k-link, .k-edge .k-pager-numbers .k-state-selected, .k-ff .k-pager-numbers .k-link, .k-ff .k-pager-numbers .k-state-selected, .k-ie11 .k-pager-numbers .k-link, .k-ie11 .k-pager-numbers .k-state-selected, .k-safari .k-pager-numbers .k-link, .k-safari .k-pager-numbers .k-state-selected, .k-webkit .k-pager-numbers .k-link, .k-webkit .k-pager-numbers .k-state-selected {
        border-radius: 3px
    }

    .k-edge .k-widget.k-grid .k-pager-nav + .k-pager-numbers, .k-ff .k-widget.k-grid .k-pager-nav + .k-pager-numbers, .k-ie11 .k-widget.k-grid .k-pager-nav + .k-pager-numbers, .k-safari .k-widget.k-grid .k-pager-nav + .k-pager-numbers, .k-webkit .k-widget.k-grid .k-pager-nav + .k-pager-numbers {
        position: absolute
    }

    .k-grid .k-pager-numbers:not(.k-state-expanded) {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }

        .k-grid .k-pager-numbers:not(.k-state-expanded) .k-current-page {
            -webkit-transform: none;
            -ms-transform: none;
            transform: none
        }
}

.k-chart .k-mask {
    background-color: #fff;
    filter: alpha(opacity=68);
    opacity: .68
}

.k-chart .k-selection {
    border-color: rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 1px 8px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 8px rgba(0,0,0,.1);
    -webkit-transition: border-color .2s linear,-webkit-box-shadow .2s linear;
    transition: border-color .2s linear,-webkit-box-shadow .2s linear;
    transition: box-shadow .2s linear,border-color .2s linear;
    transition: box-shadow .2s linear,border-color .2s linear,-webkit-box-shadow .2s linear
}

    .k-chart .k-selection:hover {
        border-color: rgba(0,0,0,.3);
        -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.2);
        box-shadow: inset 0 3px 8px rgba(0,0,0,.2)
    }

.k-chart .k-handle {
    background-color: #fcfcfc;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    box-shadow: 0 0 0 1px rgba(0,0,0,.1)
}

    .k-chart .k-handle:hover {
        background-color: #fff;
        border-color: #b8b8b8;
        -webkit-box-shadow: 0 0 0 2px rgba(111,101,96,.5);
        box-shadow: 0 0 0 2px rgba(111,101,96,.5)
    }

.k-chart .k-navigator-hint .k-tooltip {
    border: 3px solid #fff;
    -webkit-box-shadow: 0 0 0 3px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px rgba(0,0,0,.2);
    background: #fff;
    color: #242424
}

.k-chart .k-navigator-hint .k-scroll {
    background: rgba(25,132,200,.7);
    height: 4px
}

.k-map .k-marker {
    font-size: 28px;
    color: #1984c8;
    text-shadow: 0 0 3px rgba(0,0,0,.4)
}

.k-map .k-attribution {
    color: #666
}

.k-spreadsheet-column-header, .k-spreadsheet-row-header {
    background-color: #fff
}

.k-spreadsheet-column-header, .k-spreadsheet-row-header, .k-spreadsheet-top-corner {
    background-color: #f3f3f4;
    background-image: none;
    color: #000;
    border-color: #bebec3
}

.k-spreadsheet-top-corner {
    border-color: #bebec3
}

    .k-spreadsheet-top-corner:after {
        border-color: transparent #bebec3 #bebec3 transparent
    }

.k-spreadsheet-pane {
    border-color: #bebec3
}

    .k-spreadsheet-pane .k-spreadsheet-haxis, .k-spreadsheet-pane .k-spreadsheet-vaxis {
        border-color: #d8d8dc
    }

    .k-spreadsheet-pane .k-spreadsheet-column-header, .k-spreadsheet-pane .k-spreadsheet-row-header {
        border-color: #bebec3
    }

    .k-spreadsheet-pane .k-spreadsheet-merged-cell {
        background-color: #fff
    }

    .k-spreadsheet-pane .k-selection-full, .k-spreadsheet-pane .k-selection-partial {
        border-color: rgba(25,132,200,.2);
        background-color: rgba(25,132,200,.2)
    }

    .k-spreadsheet-pane .k-filter-range {
        border-color: #1984c8
    }

    .k-spreadsheet-pane .k-spreadsheet-column-header .k-selection-full, .k-spreadsheet-pane .k-spreadsheet-column-header .k-selection-partial {
        border-bottom-color: #1984c8
    }

    .k-spreadsheet-pane .k-spreadsheet-row-header .k-selection-full, .k-spreadsheet-pane .k-spreadsheet-row-header .k-selection-partial {
        border-right-color: #1984c8
    }

.k-auto-fill, .k-spreadsheet-selection {
    border-color: #1984c8;
    -webkit-box-shadow: inset 0 0 0 1px #1984c8;
    box-shadow: inset 0 0 0 1px #1984c8
}

.k-auto-fill-wrapper .k-tooltip {
    background: #fff
}

.k-spreadsheet-selection {
    background-color: rgba(25,132,200,.2)
}

.k-spreadsheet-active-cell {
    -webkit-box-shadow: inset 0 0 0 1px #1984c8;
    box-shadow: inset 0 0 0 1px #1984c8;
    background-color: #fff
}

    .k-spreadsheet-active-cell.k-right {
        -webkit-box-shadow: inset 0 0 0 1px #1984c8,inset -1px 0 0 1px #1984c8;
        box-shadow: inset 0 0 0 1px #1984c8,inset -1px 0 0 1px #1984c8
    }

    .k-spreadsheet-active-cell.k-bottom {
        -webkit-box-shadow: inset 0 0 0 1px #1984c8,inset 0 -1px 0 1px #1984c8;
        box-shadow: inset 0 0 0 1px #1984c8,inset 0 -1px 0 1px #1984c8
    }

        .k-spreadsheet-active-cell.k-bottom.k-right {
            -webkit-box-shadow: inset 0 0 0 1px #1984c8,inset -1px -1px 0 1px #1984c8;
            box-shadow: inset 0 0 0 1px #1984c8,inset -1px -1px 0 1px #1984c8
        }

    .k-spreadsheet-active-cell.k-single {
        color: #515967;
        background-color: #fff
    }

.k-spreadsheet .k-spreadsheet-action-bar {
    background-color: #fff;
    border-color: #dedee0
}

    .k-spreadsheet .k-spreadsheet-action-bar .k-spreadsheet-name-editor {
        border-color: #bebec3
    }

    .k-spreadsheet .k-spreadsheet-action-bar .k-spreadsheet-formula-bar::before {
        border-color: #bebec3
    }

.k-spreadsheet .k-spreadsheet-formula-input {
    background-color: #fff;
    color: #515967
}

.k-spreadsheet .k-resize-handle, .k-spreadsheet .k-resize-hint-handle, .k-spreadsheet .k-resize-hint-marker {
    background-color: #1984c8
}

.k-spreadsheet .k-resize-hint-vertical .k-resize-hint-handle, .k-spreadsheet .k-resize-hint-vertical .k-resize-hint-marker {
    background-color: #1984c8
}

.k-spreadsheet .k-single-selection::after {
    background-color: #1984c8;
    border-color: #fff
}

.k-spreadsheet .k-auto-fill-punch {
    background-color: rgba(255,255,255,.5)
}

.k-spreadsheet .k-single-selection.k-dim-auto-fill-handle::after {
    background-color: rgba(25,132,200,.5)
}

.k-spreadsheet-format-cells .k-spreadsheet-preview {
    border-color: #dedee0
}

.k-spreadsheet-filter {
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: inset 0 0 0 1px #d8d8dc;
    box-shadow: inset 0 0 0 1px #d8d8dc
}

    .k-spreadsheet-filter.k-state-active {
        color: #fff;
        background-color: #1984c8
    }

    .k-spreadsheet-filter:hover {
        color: #263248;
        background: #b6bdca;
        border-color: #9ea8b9
    }

.k-action-window .k-action-buttons {
    border-color: #dedee0;
    background: #f3f3f4
}

.k-spreadsheet-sample {
    color: #9ea6b3
}

.k-state-selected .k-spreadsheet-sample {
    color: inherit
}

.k-spreadsheet-window .k-list {
    border-color: #dedee0;
    border-radius: 4px
}

.k-spreadsheet-toolbar.k-toolbar .k-button-group .k-button:not(.k-toggle-button) {
    border-radius: 4px
}

.k-spreadsheet-toolbar > .k-button, .k-spreadsheet-toolbar > .k-button-group, .k-spreadsheet-toolbar > .k-widget {
    border-radius: 4px
}

.k-spreadsheet-toolbar > .k-separator {
    border-color: #dedee0
}

.k-spreadsheet-toolbar .k-overflow-anchor {
    border-radius: 0
}

.k-spreadsheet-popup {
    border-radius: 4px
}

    .k-spreadsheet-popup .k-separator {
        background-color: #dedee0
    }

    .k-spreadsheet-popup .k-button {
        background-color: transparent
    }

        .k-spreadsheet-popup .k-button:hover {
            background-color: #b6bdca
        }

    .k-spreadsheet-popup .k-state-active {
        background-color: #1984c8;
        color: #000
    }

        .k-spreadsheet-popup .k-state-active:hover {
            background-color: #13669b
        }

.k-spreadsheet-filter-menu .k-details {
    border-color: #dedee0
}

.k-spreadsheet-filter-menu .k-details-content .k-space-right {
    background-color: #fff
}

.k-spreadsheet-filter-menu .k-spreadsheet-value-treeview-wrapper {
    background-color: #fff;
    border-color: #dedee0;
    border-radius: 4px 0 0 4px
}

.k-syntax-ref {
    color: #f82
}

.k-syntax-num {
    color: #09f
}

.k-syntax-func {
    font-weight: 700
}

.k-syntax-str {
    color: #38b714
}

.k-syntax-error {
    color: red
}

.k-syntax-bool {
    color: #a9169c
}

.k-syntax-startexp {
    font-weight: 700
}

.k-syntax-paren-match {
    background-color: #caf200
}

.k-series-a {
    border-color: #007bc3;
    background-color: rgba(0,123,195,.15)
}

.k-series-b {
    border-color: #76b800;
    background-color: rgba(118,184,0,.15)
}

.k-series-c {
    border-color: #ffae00;
    background-color: rgba(255,174,0,.15)
}

.k-series-d {
    border-color: #ef4c00;
    background-color: rgba(239,76,0,.15)
}

.k-series-e {
    border-color: #a419b7;
    background-color: rgba(164,25,183,.15)
}

.k-series-f {
    border-color: #430B62;
    background-color: rgba(67,11,98,.15)
}

.k-spreadsheet-sheets-remove:hover .k-icon {
    color: #c22
}

.k-spreadsheet-formula-list .k-state-focused {
    background-color: #1984c8;
    color: #fff
}

.k-spreadsheet .k-widget[data-property=fontSize] {
    width: 60px
}

.k-spreadsheet .k-widget[data-property=format] {
    width: 100px
}

.k-spreadsheet .k-widget[data-property=fontFamily] {
    width: 130px
}

.k-spreadsheet-toolbar .k-combobox .k-input {
    color: #515967
}

.k-spreadsheet-toolbar .k-combobox .k-state-active .k-input, .k-spreadsheet-toolbar .k-combobox .k-state-focused .k-input, .k-spreadsheet-toolbar .k-combobox .k-state-hover .k-input {
    color: #515967
}

.k-dialog .k-content {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px
}

.k-dialog.k-dialog-titleless .k-content {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px
}

.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button {
    padding: 12px
}

.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal {
    border-top: solid 1px #dedee0;
    background: #f3f3f4
}

    .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal .k-button {
        border-radius: 4px
    }

.k-rtl .k-dialog a.k-dialog-action.k-dialog-close {
    left: .5em
}

.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button:first-child {
    border-bottom-right-radius: 4px
}

.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button:last-child {
    border-bottom-left-radius: 4px
}

.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal {
    text-align: left
}

    .k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal .k-button {
        margin-left: 0;
        margin-right: .5em
    }

        .k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal .k-button:first-child {
            margin-right: 0
        }

.k-numeric-wrap .k-i-warning {
    color: #d92800;
    position: absolute;
    top: 0;
    right: 1.9em;
    width: 1.9em
}

.k-numeric-wrap.k-state-invalid {
    border-color: #d92800
}

    .k-numeric-wrap.k-state-invalid input {
        color: #d92800
    }

.k-rtl .k-numeric-wrap.k-state-invalid .k-i-warning {
    right: auto;
    left: 1.9em
}

.k-maskedtextbox.k-state-invalid .k-textbox {
    border-color: #d92800;
    color: #d92800
}

.k-maskedtextbox.k-state-invalid .k-i-warning {
    color: #d92800
}

.k-dateinput.k-state-invalid .k-textbox {
    color: #d92800;
    border-color: #d92800
}

.k-dateinput.k-state-invalid .k-i-warning {
    margin-left: 0;
    margin-right: .6em;
    color: #d92800
}

.k-rtl .k-dateinput .k-i-warning {
    margin-right: 0;
    margin-left: .6em
}

.k-datepicker .k-picker-wrap.k-state-invalid, .k-timepicker .k-picker-wrap.k-state-invalid {
    border-color: #d92800
}

    .k-datepicker .k-picker-wrap.k-state-invalid .k-input, .k-timepicker .k-picker-wrap.k-state-invalid .k-input {
        color: #d92800
    }

.k-datepicker .k-picker-wrap .k-i-warning, .k-timepicker .k-picker-wrap .k-i-warning {
    color: #d92800;
    margin-left: 0;
    margin-right: 2.1em
}

.k-rtl .k-datepicker .k-picker-wrap .k-i-warning, .k-rtl .k-timepicker .k-picker-wrap .k-i-warning {
    margin-right: 0;
    margin-left: 2.1em
}

.k-datetimepicker .k-picker-wrap.k-state-invalid {
    border-color: #d92800
}

    .k-datetimepicker .k-picker-wrap.k-state-invalid .k-input {
        color: #d92800
    }

.k-datetimepicker .k-picker-wrap .k-i-warning {
    color: #d92800;
    margin-left: 0;
    margin-right: 4.3em
}

.k-rtl .k-datetimepicker .k-picker-wrap .k-icon.k-i-warning {
    margin-right: 0;
    margin-left: 4.3em
}

.k-listbox .k-list-scroller {
    padding: 2px;
    border-color: #dedee0;
    background-color: #fff
}

.k-listbox .k-item:hover:not(.k-state-disabled) {
    color: #263248;
    background-color: #b6bdca;
    border-color: transparent
}

.k-listbox .k-drop-hint {
    height: 0;
    border-top: 1px solid #1984c8
}

.k-grid-header .k-i-sort-asc-sm, .k-grid-header .k-i-sort-desc-sm, .k-grid-header .k-sort-order {
    color: inherit
}
/*# sourceMappingURL=kendo.silver.min.css.map */
