﻿/******** Agenda / MOM preview css ***********/
    .myHeading h3 {
        font-size: 1.2em;
        margin-top: 2px;
        text-align: center;
        color: #1f97f7;
        width: auto;
        font-weight: normal;
    }

    .myHeading h4 {
        font-size: 1.6em;
        /*text-transform: uppercase;*/
        text-align: center;
        font-weight: normal;
        /*color: #1f97f7;*/
        width: auto;
    }

    .myIndex h3 {
        font-size: 1.1em;
        margin-top: 1px;
        margin-left: 20px;
        text-align: left;
        width: auto;
        font-weight: normal;
    }

    #main-content-agenda-preview {
        display: table-cell;
        margin: 0;
        padding: 20px;
        /* width: 680px; */
        /*width: 980px;*/
        vertical-align: top;
    }

    .widget.placeholder {
        opacity: 0.4;
        border: 1px dashed #a6a6a6;
    }

    /* WIDGETS */
    .widget {
        margin: 0 0 10px;
        padding: 0;
        background-color: #ffffff;
        border: 1px solid #e7e7e7;
        border-radius: 3px;
        /*cursor: move;*/
    }


        .widget:hover {
            background-color: #fcfcfc;
            border-color: #cccccc;
        }



        .widget h3 {
            font-size: 12px;
            padding: 8px 10px;
            text-transform: uppercase;
            border-bottom: 1px solid #e7e7e7;
            margin-top: 2px;
            text-align: right;
        }

            .widget h3 span {
                float: right;
            }

                .widget h3 span:hover {
                    cursor: pointer;
                    background-color: #e7e7e7;
                    border-radius: 20px;
                }


    #teammates h4,
    #blogs h4,
    #news h4 {
        width: auto;
        margin: 10px 0 2px;
        font-size: 1.4em;
        color: #1f97f7;
        font-weight: normal;
    }

    .blog-info {
        margin: 0 0 10px;
        font-size: .9em;
        color: #787878;
    }

    #sidebar #blogs h4 {
        font-size: 1em;
    }

    #sidebar #blogs p {
        display: none;
    }

    #sidebar #blogs .blog-info {
        display: block;
    }

    #main-content-agenda-preview #news h4 {
        font-size: 1.2em;
        line-height: 1.4em;
        height: 40px;
    }

        #main-content-agenda-preview #news h4 span {
            display: block;
            float: left;
            width: 100px;
            height: 40px;
            color: #000;
        }

    .hint {
        width: 250px;
        height: 100px;
        overflow: hidden;
    }

        .hint > h3 {
            padding-left: 20px;
        }
/*******************/
    .widget {
        margin-left: 50px;
        /*border-right-width: 0px;*/
        margin-bottom: 2px;
        margin-right: 50px;
    }

    #teammates h4,
    #blogs h4,
    #news h4 {
        /*margin-top :50px;*/
    }

    .widget-item,
    .widget-item {
        /*padding: 0 20px 20px;*/
        /*padding: 50px 90px 50px;*/
        padding: 30px 90px 50px;
        min-height: 50px;
        text-align:justify;
    }

.widget-item-gm {
    padding: 10px 90px 10px;
    min-height: 50px;
    text-align: justify;
}

        .my-agenda-tool-box{
    text-align:right;
    padding-top: 1px;
    padding-bottom: 6px;
    padding-right: 1px;
    padding-left: 1px;
    min-height:!important;
    /* height: 14px; */
    /* max-height: 25px; */
    width: 100%;
    }

        /*******************/
    .page-thumb {
        /*padding: 5px 2px 5px;
    border: 1px;
    border-color: #c7c1c1;
    border-style: solid;
    margin-left: 5px;
    margin-right: 5px;
    max-height: 80px;
    padding-left:10px;*/
        padding: 20px 20px 20px;
        border: 1px;
        background-color: white;
        border-color: #c7c1c1;
        border-style: solid;
        margin-left: 20px;
        margin-right: 20px;
        /*max-height: 98px;
    padding-left: 10px;*/
        font-size: smaller;
        line-height: 1.5em;
    }

    .my-agenda-tool-box{

    }
