﻿body {
}

html .k-grid tr:hover {
    background: transparent !important;
}

html .k-grid tr:hover {
    background: #E4F7FB;
}

html .k-grid tr.k-alt:hover {
    background: #E4F7FB;
}

.alert {    
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

/*TextBox*/

.k-textbox {
    font-family: Roboto;
}

.k-checkbox-label, .k-radio-label {
    display: inline;
}

/*.k-filter-row > th:first-child, .k-grid tbody td:first-child, .k-grid tfoot td:first-child, .k-grid-header th.k-header:first-child {
            /*border-left-width: 1px;*/
}

*/ .k-header .k-grid-toolbar {
    background: white;
    float: left;
    width: 100%;
}

.k-grid td {
    line-height: 2.5em;
    white-space: nowrap;
}

.k-i-more-vertical:before {
    content: "\e006";
}

.k-grid td.k-state-selected:hover, .k-grid tr.k-state-selected:hover {
    background-color: #1fd9e1;
    background-image: none;
}

k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list > .k-state-highlight, .k-list > .k-state-selected, .k-marquee-color, .k-panel > .k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-tool.k-state-selected {
    color: #fff;
    background-color: #E9EAEA;
    border-color: #E9EAEA;
}

#grid .k-grid-toolbar {
    background: white;
}

.k-pager-wrap > .k-link > .k-icon {
    /*margin-top: 5px;*/
    color: inherit;
}

.toolbar {
    float: left;
}



.k-grid tbody .k-button {
    min-width: 39px;
    min-height: 38px;
    border-radius: 35px;
}

.k-button-icontext .k-icon, .k-button-icontext .k-image, .k-button-icontext .k-sprite {
    margin-right: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-left: 0px;
}

.k-auto-scrollable {
    /*overflow: hidden;*/
}

/*.k-grid-header {
    padding-right: 0px !important;
}*/

.k-multicheck-wrap .k-item {
    line-height: 1.2em;
    font-size: 14px;
    margin-bottom: 5px;
}

label {
    display: inline-block;
    margin-bottom: 0px;
}

.k-filter-menu .k-button {
    width: 40%;
    /*width: 27%;*/
}

.k-label input[type="checkbox"] {
    margin: 0px 5px 0 !important;
}

/*.k-grid,
        .k-grid-header-wrap,
        .k-grid-header th,
        .k-grid-content > table > tbody > tr > td {
            border: none;
        }*/


.k-filter-row th, .k-grid-header th.k-header {
    border-width: 0px 0px 0px 0px;
    background: #E9EAEA;
    font-weight: bold;
    margin-right: 18px;
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}

.k-grid-header {
    background: #E9EAEA !important;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    /*border-radius: 4px 4px 0px 0px;*/
}

.k-grid-header .k-header > .k-link {
    margin-right: 18px;
}

.k-grid-header .k-header > .k-link, .k-filter-menu .k-filter-selected-items,
.k-column-menu .k-menu .k-item .k-link {
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}

.k-primary {
    border-color: #0090D6;
    background-color: #0090D6;
}

.k-primary:active, .k-primary:hover  {
    color: #0090d6;
    border-color: #0090d6;
    background: 0 0;
}

.k-primary:focus:active:not(.k-state-disabled):not([disabled]) {
    box-shadow: none;
}

.k-pager-wrap {
    background-color: #f8f8f8;
    color: #2b2b2b;
}
/*.k-pager-wrap.k-grid-pager.k-widget.k-floatwrap {
            margin-top: 9px;
        }*/
td.k-command-cell {
    border-width: 0 0px 0 1px;
}

.k-grid-pager {
    /*//border-width: 1px 1px 1px 1px;*/
}

.k-list-container {
    border-color: #c5c5c5;
    background-color: #ffffff;
}

.k-tooltip {
    background-color: black !important;
    color: white !important;
    max-width: 300px;
    /*height: 300px;*/
}

.k-tooltip-content {
    padding: 0px 0px 0px 0px;
    text-align: justify;
}

.k-list > .k-state-selected, .k-state-selected, .k-list > .k-state-focused.k-state-selected {
    background: #E9EAEA;
    color: rgba(0, 0, 0, 0.5);
    box-shadow: none;
    border-radius: 0px;
}

.k-content > .k-panelbar > li.k-state-default > .k-link {
    padding-left: 20px;
    font-weight: bold;
    border-bottom: 1px solid #c5c5c5;
    /*border-top: 1px solid #c5c5c5;*/
}

.k-active-filter, .k-state-active, .k-state-active:hover {
    background-color: #E9EAEA;
    border-color: #E9EAEA;
    color: rgba(0, 0, 0, 0.5);
}

.k-grid td .k-state-focused,.k-state-focused{
    box-shadow:none !important;
}

.k-grid tr {
    box-sizing: border-box;
    box-shadow: rgb(221, 221, 221) 0px 1px 0px 0px;
}

.k-grid tr:hover {
    background-color: white;
}

.k-grid-edit:hover, .k-grid-delete:hover,.k-grid-D:hover,.k-grid-CS:hover,.k-grid-C:hover,.k-grid-A:hover,.k-grid-S:hover,.k-grid-CM:hover,.k-grid-AU:hover,.k-grid-R:hover,.k-grid-SM:hover {
    -webkit-box-shadow: 0 0 0 19px #E9EAEA;
    box-shadow: 0 0 0 10px #E9EAEA;
    -moz-transition: -moz-box-shadow .2s;
    -webkit-transition: -webkit-box-shadow .2s;
    transition: box-shadow 0.2s;
    border-radius: 15px;
    margin-left: 6%;
}


.k-panelbar .k-content, .k-panelbar .k-panel {
    border-bottom-style: none;
}

#panelbarEditDirector .k-panelbar > li.k-state-default > .k-link.k-state-selected, .k-panelbar > li > .k-state-selected, .k-state-selected > .k-link {
    /*color: #767676;*/
    color: #FFF;
}

#panelbarEditDirector .k-panelbar > li.k-state-default > .k-link, .k-tabstrip-items .k-state-default .k-link {
    color: #767676;
    border-top: 1px solid;
}

.k-autocomplete.k-state-default, .k-dropdown-wrap.k-state-default, .k-numeric-wrap.k-state-default, .k-picker-wrap.k-state-default {
    background-image: url(textures/highlight.png);
    background-image: none,linear-gradient(to bottom,rgba(255,255,255,.6) 0,rgba(255,255,255,0) 100%);
    background-position: 50% 50%;
    background-color: #ffffff;
    border-color: #c5c5c5;
}