﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.Template_MasterVM

@using (Ajax.BeginForm("SaveMeetingMailTemplateMaster", "TemplateMaster", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divTempletMasterEmailFormate" }, new { id = "frmAddTempletMasterEmailFormate" }))
{
    if (Model.Success)
    {
        <div class="row">
            <div class="col-md-12 colpadding0">
                <div class="alert alert-success alert-dismissible">
                    @*<button class="close" type="button" onclick="hideAlert();">×</button>*@
                    <lable>@Model.Message</lable>
                </div>
            </div>
        </div>
    }
    else if (Model.Error)
    {
        <div class="row">
            <div class="col-md-12 colpadding0" id="DiverrorI">
                <div class="alert alert-danger alert-dismissible">
                    <button class="close" type="button" onclick="hideAlert();">×</button>
                    <lable id="lblerrormsgI">@Model.Message</lable>
                </div>
            </div>
        </div>
    }

    <div>
        @(Html.Kendo().Tooltip()
                    .For("#btnInsertNoticeEditorTemplate")
                    .Position(TooltipPosition.Top)
                    .AutoHide(true)
                    .Content("Insert Template Field")
                    .Width(150)
        )

        @(Html.Kendo().Tooltip()
                    .For("#btnNoticeMailPreview")
                    .Position(TooltipPosition.Top)
                    .AutoHide(true)
                    .Content("Mail Preview")
                    .Width(150)
        )

        @(Html.Kendo().Tooltip()
                    .For("#command_name1")
                    .Position(TooltipPosition.Top)
                    .AutoHide(true)
                    .Content("Save")
                    .Width(150)
        )

        @(Html.Kendo().Tooltip()
                    .For("#command_name")
                    .Position(TooltipPosition.Top)
                    .AutoHide(true)
                    .Content("Send")
                    .Width(150)
        )


    </div>

    <div class="row colpadding0">
        @Html.HiddenFor(m => m.MeetingTypeId)
        @Html.HiddenFor(m => m.IsShorter)
        <div class="col-md-3 colpadding0">
            @Html.Kendo().DropDownListFor(model => model.TemplateType).OptionLabel("Template").BindTo(new SelectList(new List<object> {
                                                new {id="T",text="Test Mail"},
                                                new {id="JM",text="Join Meeting"},
                                                new {id="ARA",text="Agenda Review Assigned"},
                                                new {id="ARAPR",text="Agenda Review Approved"},
                                                new {id="ARRJC",text="Agenda Review Rejected"},
                                                }, "id", "text")).Events(e => e.Change("ddlTemplateTypeChanged")).HtmlAttributes(new { style = "width: 95%;" })
        </div>

        @if (Model.Quarter_ == "Quarter")
        {
            <div id="divQuarter" class="col-md-3 colpadding0 hidden">
                @Html.Kendo().DropDownListFor(model => model.Quarter_).BindTo(new SelectList(new List<object> {
                                                new {id="Quarter",text="Quarter"},
                                                new {id="",text="Other"},
                                                }, "id", "text")).SelectedIndex(0).HtmlAttributes(new { style = "width: 95%;" })
            </div>
        }
        else
        {
            <div id="divQuarter" class="col-md-3 colpadding0 hidden">
                @Html.Kendo().DropDownListFor(model => model.Quarter_).BindTo(new SelectList(new List<object> {
                                                new {id="Quarter",text="Quarter"},
                                                new {id="",text="Other"},
                                                }, "id", "text")).SelectedIndex(1).HtmlAttributes(new { style = "width: 95%;" })
            </div>
        }

    </div>

    <div class="row colpadding0 chart-loading" style="margin-top:10px;">
        <div class="col-md-12 colpadding0">

            @(Html.Kendo().EditorFor(m => m.MailTemplate)
                .HtmlAttributes(new { style = "height:380px" })
                .Encode(false)
                .Events(e => e.Paste("onPasteRemoveTag"))
                //.Resizable(resizable => resizable.Content(false).Toolbar(true))
                .Tools(tools => tools
                .Clear().Formatting()
                .FontName(fonts => fonts
                    .Add("Andale Mono", "Andale Mono")
                    .Add("Arial", "Arial")
                    .Add("Arial Black", "Arial Black")
                    .Add("Book Antiqua", "Book Antiqua")
                    .Add("Bookman Old Style", "Bookman Old Style")
                    .Add("Comic Sans MS", "Comic Sans MS")
                    .Add("Courier New", "Courier New")
                    .Add("Georgia", "Georgia")
                )
                .FontSize(size => size
                .Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
                .Bold().Italic().Underline().Strikethrough()
                .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                .SubScript().SuperScript()
                .InsertUnorderedList().InsertOrderedList().Indent().Outdent()
                .TableEditing()
                .CleanFormatting()
                .CustomTemplate(ct => ct.Template("<label for='templateToolNotice' class='' style='vertical-align:middle;'>Fields:</label> <select id='templateToolNotice' class='' style='width:280px;'>" +
                "<option value='{{ Letter Head of the Company }}'>Letter Head of the Company</option>" +
                "<option value='{{ Name of the Company }}'>Name of the Company</option>" +
                "<option value='{{ Name of the Director }}'>Name of the Director</option>" +
                "<option value='{{ Designation in the Company }}'>Designation in the Company</option>" +
                "<option value='{{ Today }}'>Today's Date</option>" +
                "<option value='{{ No. of the Meeting }}'>No. of the Meeting</option>" +
                "<option value='{{ Type of Meeting }}'>Type of Meeting</option>" +
                "<option value='{{ Purpose }}'>Purpose</option>" +
                "<option value='{{ Meeting Date }}'>Meeting Date</option>" +
                "<option value='{{ Meeting Time }}'>Meeting Time</option>" +
                "<option value='{{ Meeting Venue }}'>Meeting Venue</option>" +
                "<option value='{{ Quarter }}'>Quarter</option>" +
                "<option value='{{ Quarter End Date }}'>Quarter End Date</option>" +
                "<option value='{{ Registered office Address }}'>Registered office Address</option>" +
                "<option value='{{ Corporate office Address }}'>Corporate office Address</option>" +
                "<option value='{{ Name of Company Secretary/Director }}'>Name of Company Secretary/Director</option>" +
                "<option value='{{ Due Date }}'>Due Date</option>" +
                "<option value='{{ AgendaList }}'>Agenda List</option>" +
                "</select>"
                ))
                .CustomTemplate(ct => ct.Template("<input type='button' id='btnInsertNoticeEditorTemplate' value='Insert' class='btn btn-primary editorbutton'  onclick='insertEditorTemplateFieldNotice1();'>"))
                ))
        </div>
    </div>

        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0" style="text-align:center">
                <button type="Submit" id="command_name1" name="command_name" value="save" class="btn btn-primary templetbutton">Save</button>
            </div>
            </div>

            }
            <script>
                function ddlTemplateTypeChanged() {

                    var ddlTemplateType = $("#TemplateType").data("kendoDropDownList").value();

                    if (ddlTemplateType == "JM") {

                        $("#templateToolNotice").kendoDropDownList({
                            dataTextField: "text",
                            dataValueField: "value",
                            dataSource: [
                                { value: "{{ Letter Head of the Company }}", text: "Letter Head of the Company" },
                                { value: "{{ Name of the Company }}", text: "Name of the Company" },
                                { value: "{{ Name of the Director }}", text: "Name of the Director" },
                                { value: "{{ Today }}", text: "Today's Date" },
                                { value: "{{ No. of the Meeting }}", text: "No. of the Meeting" },
                                { value: "{{ Type of Meeting }}", text: "Type of Meeting" },
                                { value: "{{ Meeting Date }}", text: "Meeting Date" },
                                { value: "{{ Meeting Time }}", text: "Meeting Time" },
                                { value: "{{ Meeting Venue }}", text: "Meeting Venue" },
                                { value: "{{ Quarter }}", text: "Quarter" },
                                { value: "{{ Quarter End Date }}", text: "Quarter End Date" },
                                { value: "{{ Registered office Address }}", text: "Registered office Address" },
                                { value: "{{ Corporate office Address }}", text: "Corporate office Address" },
                                { value: "{{ Name of Company Secretary/Director }}", text: "Name of Company Secretary/Director" }
                            ]
                        });
                    }
                    else if (ddlTemplateType == "ARA" || ddlTemplateType == "ARAPR" || ddlTemplateType == "ARRJC") {

                        $("#templateToolNotice").kendoDropDownList({
                            dataTextField: "text",
                            dataValueField: "value",
                            dataSource: [
                                { value: "{{ Name of the Performer }}", text: "Name of the Performer" },
                                { value: "{{ Name of the Reviewer }}", text: "Name of the Reviewer" },
                                { value: "{{ Due Date of Review }}", text: "Due Date Of Review" },
                                { value: "{{ Title of Review }}", text: "Title Of Review" },
                                { value: "{{ Letter Head of the Company }}", text: "Letter Head of the Company" },
                                { value: "{{ Name of the Company }}", text: "Name of the Company" },
                                { value: "{{ Today }}", text: "Today's Date" },
                                //{ value: "{{ No. of the Meeting }}", text: "No. of the Meeting" },
                                { value: "{{ Type of Meeting }}", text: "Type of Meeting" },
                                { value: "{{ Meeting Date }}", text: "Meeting Date" },
                                { value: "{{ Meeting Time }}", text: "Meeting Time" },
                                { value: "{{ Meeting Venue }}", text: "Meeting Venue" },
                                { value: "{{ Quarter }}", text: "Quarter" },
                                { value: "{{ Quarter End Date }}", text: "Quarter End Date" },
                                { value: "{{ Registered office Address }}", text: "Registered office Address" },
                                { value: "{{ Corporate office Address }}", text: "Corporate office Address" }
                            ]
                        });
                    }
                    else {
                        $("#templateToolNotice").kendoDropDownList({
                            dataTextField: "text",
                            dataValueField: "value",
                            dataSource: [
                                { value: "{{ Name of the Company }}", text: "Name of the Company" }
                            ]
                        });
                    }
                    
                }

                $(document).ready(function () {
                    $("#templateToolNotice").kendoDropDownList({});
                });

                function insertEditorTemplateFieldNotice1() {
                    var ddltemplateToolParent = $("#templateToolNotice").data("kendoDropDownList");
                    var val = ddltemplateToolParent.value();
                    if (val != "") {
                        $("#MailTemplate").data("kendoEditor").exec("inserthtml", { value: val + " " });
                    }
                }
            </script>
