﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.Template_MasterVM

@{
    ViewBag.Title = "Masters/Meeting Mail Template";
   
}
<link href="~/Content/Css/DirectorCSS.css" rel="stylesheet" />
<div class="row Dashboard-white-widget">
    <div class="dashboard">
        <div id="divTempletMasterEmailFormate">
            @Html.Partial("_AddEditMeetingMailTemplateMaster", Model)
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        $("#templateToolNotice").kendoDropDownList();
    });

    function insertEditorTemplateFieldNotice() {
        
        var ddltemplateToolParent = $("#templateToolNotice").data("kendoDropDownList");
        var val = ddltemplateToolParent.value();
        if (val != "") {
            $("#MailTemplate").data("kendoEditor").body.innerHTML += val;
        }
    }

    function OpenNoticeMailPreview(response) {

        $($('#AvailabilityMailPreview').data().kendoEditor.body).attr('contenteditable', false);
        $("#AvailabilityMailPreview").data("kendoEditor").body.innerHTML = response.NoticeMail;

        var wnd = $("#wndAvailabilityMailPreview").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndAvailabilityMailPreview").kendoWindow({
            actions: ["Close"],
            width: "65%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () { },
            close: function (e) {
            }
        }).data("kendoWindow");

        opts.width = "65%";
        wnd.setOptions(opts);
        wnd.center()
        wnd.open();

    }

    $("#btnNoticeMailPreview").click(function () {
        
        var Template_MasterVM = new Object();
        Template_MasterVM.MeetingTypeId = "@Model.MailTemplate";
        Template_MasterVM.NoticeMail = $("#MailTemplate").data("kendoEditor").body.innerHTML;
        Template_MasterVM.Type = "@Model.TemplateType";
        if (Template_MasterVM.Type != "") {
            $.ajax({
                type: "POST",
                url: "@Url.Action("PreviewNoticeMail", "TemplateMaster")",
                data: JSON.stringify(Template_MasterVM),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    
                    if (response != null) {
                        OpenNoticeMailPreview(response);
                    } else {
                        alert("Something went wrong");
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
    });


    $(document).on("change", '#TemplateType', function () {
        showHideQuarter();
        getTemplateDetails();
    });

    $(document).on("change", '#MeetingTypeId', function () {
        showHideQuarter();
        getTemplateDetails();
    });
    $(document).on("change", '#Quarter_', function () {
        getTemplateDetails();
    });

    function showHideQuarter() {
            $("#divQuarter").addClass("hidden");
    }

    function getTemplateDetails() {
        

        //var ddlMeetingTypeId = "-1";//$("#MeetingTypeId").data("kendoDropDownList");
        var ddlTemplateType = $("#TemplateType").data("kendoDropDownList");
        var ddlQuarter = $("#Quarter_").data("kendoDropDownList");

        if (ddlTemplateType.value() == "T"){
            $("#btnInsertNoticeEditorTemplate").addClass("hidden");
        }
        else {
            $("#btnInsertNoticeEditorTemplate").removeClass("hidden");
        }

        var TemplateNoticeMailVM = new Object();
        TemplateNoticeMailVM.NoticeMail = "@Model.MeetingTypeId";
        TemplateNoticeMailVM.TemplateType = ddlTemplateType.value();
        TemplateNoticeMailVM.MeetingTypeId = "-1";//ddlMeetingTypeId.value();
        TemplateNoticeMailVM.Quarter_ = ddlQuarter.value();

        if (TemplateNoticeMailVM.TemplateType != "") {

            kendo.ui.progress($(".chart-loading"), true);
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetTemplatemaster", "TemplateMaster")",
                data: JSON.stringify(TemplateNoticeMailVM),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                
                if (response != null) {
                    if (response.MailTemplate == null) {
                        $("#MailTemplate").data("kendoEditor").body.innerHTML = "";
                    } else {
                        $("#MailTemplate").data("kendoEditor").body.innerHTML = response.MailTemplate;
                    }
                } else {
                    alert("Something went wrong");
                }

                kendo.ui.progress($(".chart-loading"), false);
            },
            failure: function (response) {
                alert(response.responseText);
                kendo.ui.progress($(".chart-loading"), false);
            },
            error: function (response) {
                alert(response.responseText);
                kendo.ui.progress($(".chart-loading"), false);
            }
            });

        }
        
    }

</script>

<script>
    function onPasteRemoveTag(e) {
        e.html = e.html.replace(/<\/?img[^>]*>/g, "");
    }
</script>