﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.ChargeDetails_VM



<div id="DivNewChargeDetails"style="overflow-x: hidden">
    @using (Ajax.BeginForm("CreateChargeDetails", "ChargeDetails", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivNewChargeDetails" }, new { id = "frmNewChargeDetails" }))
    {

        @Html.HiddenFor(m => m.ChargeId);
        @Html.HiddenFor(m => m.EntityId);

        <div class="row">
            @if (Model.Success)
            {
                <div class="col-md-12">

                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.Message)))
                        {
                            <lable>@Model.Message</lable>
                        }
                    </div>
                </div>
            }
        </div>

        <div class="row">
            @if (Model.Error)
            {
                <div class="col-md-12">
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.Message)))
                        {
                            <lable>@Model.Message</lable>
                        }
                    </div>
                </div>
            }
        </div>

        <div class="row" style="overflow-x: hidden" ; margin-left: 2%; margin-right: 3%; margin-bottom: 1%">
            <div class="row col-md-12 colpadding0 mt30">
                <div class="col-md-4 colpadding0">
                    <label class="control-label">Charge Type</label><span style="color:red">*</span>

                    @(Html.Kendo().DropDownListFor(m => m.ChargeTypeId)
         .DataTextField("ChargeTypeDesc")
         .DataValueField("Id").Filter("contains")
         .DataSource(source =>
         {
             source.Read(read =>
             {
                 read.Url("/api/ChargeDetails/GetDropDownforChargeType").Type(HttpVerbs.Get);
             }).ServerFiltering(false);
         }).HtmlAttributes(new { style = "width: 95%", autocomplete = "off" }))
                    @Html.ValidationMessageFor(model => model.ChargeTypeId, "", new { @class = "text-danger" })

                </div>

                <div class="col-md-2 colpadding0">
                    <label class="control-label">Charge Creation Date</label><span style="color:red">*</span>

                    @(Html.Kendo().DatePicker()
    .Name("CreationDate")
    .Max(DateTime.Today).Format("dd/MM/yyyy")
    //.ParseFormats(new[] { "dd/MM/yyyy" })
    //.Culture("en-GB")
    .HtmlAttributes(new { style = "width:90%", @Id = "CreationDate", placeholder = "DD/MM/YYYY", autocomplete = "off", onchange = "checkDate(this);", })
                        )
                    @*@(Html.Kendo().DatePicker().Name("CreationDate").Max(DateTime.Today).Format("dd/MM/yyyy").HtmlAttributes(new { style = "width:90%", @Id = "CreationDate", onchange = "checkDate(this);", autocomplete = "off" }))*@
                    @Html.ValidationMessageFor(model => model.CreationDate, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-2 colpadding0">
                    <label class="control-label">Registration Charge Create Date </label><span style="color:red">*</span>
                    @(Html.Kendo().DatePicker().Name("RegistrationChargeCreateDate").Max(DateTime.Today).Format("dd/MM/yyyy").HtmlAttributes(new { style = "width:90%", @Id = "RegistrationChargeCreateDate", onchange = "checkDate(this);", autocomplete = "off" }))
                    @Html.ValidationMessageFor(model => model.RegistrationChargeCreateDate, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-3 colpadding0">
                    <label class="control-label">Short Description Property Charged</label>
                    @(Html.Kendo().TextBoxFor(m => m.ShortDescPropertyCharged).HtmlAttributes(new { @class = "k-textbox", style = "width: 95%", autocomplete = "off" }))
                    @Html.ValidationMessageFor(model => model.ShortDescPropertyCharged, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-1 colpadding0">
                    <label class="control-label">Period In Month</label>
                    @(Html.Kendo().TextBoxFor(m => m.ChargeTerm).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off" }))
                    @Html.ValidationMessageFor(model => model.ChargeTerm, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row colpadding0 mt30">
                <div class="col-md-12 colpadding0">
                    <div class="col-md-2 colpadding0">
                        <label class="control-label">Charge Amount</label><span style="color:red">*</span>
                        @(Html.Kendo().TextBoxFor(m => m.ChargeAmount).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off" }))
                        @Html.ValidationMessageFor(model => model.ChargeAmount, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-2 colpadding0">
                        <label class="control-label">Names Of Chargeholder</label>
                        @(Html.Kendo().TextBoxFor(m => m.Namesaddresseschargeholder).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off" }))
                        @Html.ValidationMessageFor(model => model.Namesaddresseschargeholder, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-2 colpadding0">
                        <label class="control-label">Address Of Chargeholder</label>
                        @(Html.Kendo().TextBoxFor(m => m.AddressOfChargeHolder).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off" }))
                        @Html.ValidationMessageFor(model => model.AddressOfChargeHolder, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6 colpadding0">
                        <label class="control-label">Terms and Conditions Of Charge</label>
                        @(Html.Kendo().TextBoxFor(m => m.TermsconditionsOfcharge).HtmlAttributes(new { @class = "k-textbox", style = "width: 98%", autocomplete = "off" }))
                        @Html.ValidationMessageFor(model => model.TermsconditionsOfcharge, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row colpadding0 mt30">
                <div class="col-md-12 colpadding0">
                    <div class="col-md-4 colpadding0">
                        <label class="control-label">Description Instrument</label>
                        @(Html.Kendo().TextBoxFor(m => m.Descinstrument).HtmlAttributes(new { @class = "k-textbox", style = "width: 95%", autocomplete = "off" }))
                        @Html.ValidationMessageFor(model => model.Descinstrument, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-2 colpadding0">
                        <label class="control-label">Charge Modification Date</label><span style="color:red">*</span>
                        @(Html.Kendo().DatePicker().Name("ModificationDate").Max(DateTime.Today).Format("dd/MM/yyyy").HtmlAttributes(new { style = "width:90%", @Id = "ModificationDate", onchange = "checkDate(this);", autocomplete = "off" }))
                        @Html.ValidationMessageFor(model => model.ModificationDate, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 colpadding0">
                        <label class="control-label">Registration Modification Date</label><span style="color:red">*</span>
                        @(Html.Kendo().DatePicker().Name("RegistrationChargeModificationDate").Max(DateTime.Today).Format("dd/MM/yyyy").HtmlAttributes(new { style = "width:90%", @Id = "RegistrationChargeModificationDate", autocomplete = "off",onchange = "checkDate(this);"}))
                        @Html.ValidationMessageFor(model => model.RegistrationChargeModificationDate, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4 colpadding0">
                        <label class="control-label">Description Instrument Chargemodify </label>
                        @(Html.Kendo().TextBoxFor(m => m.Descinstrumentchargemodify).HtmlAttributes(new { @class = "k-textbox", style = "width: 98%", autocomplete = "off" }))
                        @Html.ValidationMessageFor(model => model.Descinstrumentchargemodify, "", new { @class = "text-danger" })
                    </div>
                    
                </div>
            </div>
            <div class="row mt30">
                <div class="col-md-12 colpadding0">
                    <div class="col-md-2 colpadding0">
                        <label class="control-label">Satisfaction Date</label>
                        @(Html.Kendo().DatePicker()
                 .Name("SatisfactionDate")
                 .Max(DateTime.Today).Format("dd/MM/yyyy")
                 //.ParseFormats(new[] { "dd/MM/yyyy" })
                 //.Culture("en-GB")
                 .HtmlAttributes(new { style = "width:90%", @Id = "SatisfactionDate", placeholder = "DD/MM/YYYY", autocomplete = "off", onchange = "checkDate(this);", })
                    )
                        @Html.ValidationMessageFor(model => model.SatisfactionDate, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 colpadding0">
                        <label class="control-label">Registration Satisfaction Date</label>

                        @(Html.Kendo().DatePicker().Name("RegistrationsatisfactionDate").Max(DateTime.Today).Format("dd/MM/yyyy").HtmlAttributes(new { style = "width:90%", @Id = "RegistrationsatisfactionDate", onchange = "checkDate(this);", autocomplete = "off" }))
                        @Html.ValidationMessageFor(model => model.RegistrationsatisfactionDate, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 colpadding0">
                        <label class="control-label">Facts Delay Condonation Date</label>
                        @(Html.Kendo().DatePicker().Name("FactsDelaycondonationDate").Max(DateTime.Today).Format("dd/MM/yyyy").HtmlAttributes(new { style = "width:90%", @Id = "FactsDelaycondonationDate", onchange = "checkDate(this);", autocomplete = "off" }))
                        @Html.ValidationMessageFor(model => model.FactsDelaycondonationDate, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6 colpadding0">
                        <label class="control-label">Particulars Modification</label>
                        @(Html.Kendo().TextBoxFor(m => m.Particularsmodification).HtmlAttributes(new { @class = "k-textbox", style = "width: 98%", autocomplete = "off" }))
                        @Html.ValidationMessageFor(model => model.Particularsmodification, "", new { @class = "text-danger" })
                    </div>

                </div>
                </div>
                <div class="row colpadding0 mt30">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-6 colpadding0">
                            <label class="control-label">Reasons Delay Filling</label>
                            @(Html.Kendo().TextBoxFor(m => m.Reasonsdelayfiling).HtmlAttributes(new { @class = "k-textbox", style = "width: 97%", autocomplete = "off" }))
                            @Html.ValidationMessageFor(model => model.Reasonsdelayfiling, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6 colpadding0">
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row colpadding0 mt30">
                    <div style="text-align:center" class="col-md-12">
                        <button type="Submit" id="command_name" name="command_name" value="save" class="btn btn-primary" onclick="saveadditionalCharge()">Save</button>
                    </div>
                </div>
                }
            </div>
<script>
    function saveadditionalCharge() {

    }
</script>

<script>
    $(document).ready(function () {
        $("#CreationDate").removeAttr("data-val-date");
        $("#ModificationDate").removeAttr("data-val-date");
        $("#SatisfactionDate").removeAttr("data-val-date");
        $("#RegistrationsatisfactionDate").removeAttr("data-val-date");
        $("#RegistrationChargeModificationDate").removeAttr("data-val-date");
        $("#RegistrationChargeCreateDate").removeAttr("data-val-date");
        $("#FactsDelaycondonationDate").removeAttr("data-val-date");

        if ($("#CreationDate").val() == "01/01/0001") {
            $("#CreationDate").val('');
        }

        if ($("#ModificationDate").val() == "01/01/0001") {
            $("#ModificationDate").val('');
        }
        if ($("#SatisfactionDate").val() == "01/01/0001") {
            $("#SatisfactionDate").val('');
        } if ($("#RegistrationsatisfactionDate").val() == "01/01/0001") {
            $("#RegistrationsatisfactionDate").val('');
        }
        if ($("#RegistrationChargeModificationDate").val() == "01/01/0001") {
            $("#RegistrationChargeModificationDate").val('');
        }
        if ($("#FactsDelaycondonationDate").val() == "01/01/0001") {
            $("#FactsDelaycondonationDate").val('');
        }
        if ($("#RegistrationChargeCreateDate").val() == "01/01/0001") {
            $("#RegistrationChargeCreateDate").val('');
        }
    });
    function checkDate(e) {
        if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
            e.value = '';
        }
    }



</script>

<script>
    var validator1 = $("#frmNewChargeDetails").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");


</script>

