﻿@using Kendo.Mvc.UI;
@model long
<script>
    function getHeaderDataChargeDetails(){
        return { "chargeHeaderId": '@Model' };
    }
    var initialLoad = true;
    function onRowBoundChargeDetails(e) {

        var grid = $("#gridChargeDetails").data("kendoGrid");

        GetICons();
        getGridborder(grid);

        $(".k-grid-upload").removeClass("k-button k-button-icontext");
        $(".k-grid-upload").html("<span class=''></span>").addClass("k-grid-button");
        $(".k-grid-upload").find("span").append("<img src='/Areas/BM_Management/img/upload.png'/>");

    }
    function toolTipContent_gridNew(e) {
        return e.target.context.innerText;
    }

    function toolTipContent(e) {
        return "Edit";
    }

    function toolTipContentforDelete(e) {
        return "document";
    }
    function toolTipContentforDelete(e) {
        return "Upload";
    }
</script>

<div class="row colpadding0 mt30">
    <div class="col-md-12 colpadding0">

        @(Html.Kendo().Tooltip()
        .For("#gridChargeDetails")
        .Filter("td:nth-child(4)")
        .Position(TooltipPosition.Bottom)
        .ContentHandler("toolTipContent_gridNew")
        //.Width(450)
        .AutoHide(true) )

        @Html.AntiForgeryToken()
        @(Html.Kendo().Grid<BM_ManegmentServices.VM.ChargeDetails_VM>()
        .Name("gridChargeDetails")
        .Columns(columns =>
        {
            //columns.Bound(o => o.ChargeId).Title("Charge ID").Width("5%").Sortable(true).HtmlAttributes(new { });
            columns.Bound(o => o.ChargeTypeDesc).Title("Charge Type").Width("10%");
            columns.Bound(o => o.Namesaddresseschargeholder).Title("Charge Holder").Width("10%");
            columns.Bound(o => o.ChargeAmount).Title("Amount").Width("10%").Sortable(true).HtmlAttributes(new { });
            columns.Bound(o => o.ShortDescPropertyCharged).Title("Short Description").Width("10%").Sortable(true).HtmlAttributes(new { });
            columns.Bound(o => o.Descinstrumentchargemodify).Title("Description").Width("10%").Filterable(ftb => ftb.Multi(true).Search(true));
            columns.Bound(o => o.Reasonsdelayfiling).Title("Delay Reason").Width("10%").Filterable(ftb => ftb.Multi(true).Search(true));
            columns.Bound(o => o.CreationDate).Title("Creation Date").Width("10%").ClientTemplate("#= CreationDate == null ? '' : kendo.toString(CreationDate, \"dd/MM/yyyy\")#").Filterable(ftb => ftb.Multi(true).Search(true));
            columns.Bound(o => o.ModificationDate).Title("Modification Date").Width("10%").ClientTemplate("#= ModificationDate == null ? '' : kendo.toString(ModificationDate, \"dd/MM/yyyy\")#").Filterable(ftb => ftb.Multi(true).Search(true));
            columns.Bound(o => o.SatisfactionDate).Title("Satisfication Date").Width("10%").ClientTemplate("#= SatisfactionDate == null ? '' : kendo.toString(SatisfactionDate, \"dd/MM/yyyy\")#").Filterable(ftb => ftb.Multi(true).Search(true));
            columns.Bound(o => o.Reasonsdelayfiling).Title("Delay Reason").Width("10%").Filterable(ftb => ftb.Multi(true).Search(true));

            //columns.Bound(o => o.InFavour).Title("In Favour").Width("10%").Filterable(ftb => ftb.Multi(true).Search(true));
            //columns.Bound(o => o.Status).Title("Status").Width("10%").ClientTemplate("#= StatusId == 3 ? 'Close' : 'Open' #").Filterable(ftb => ftb.Multi(true).Search(true));
            columns.Command(command =>
            {
                command.Custom("Edit").Click("EditNewChargeDetails").HtmlAttributes(new { @class = "k-grid-edit hoverCircle" });
                //command.Custom("View").Click("ViewUploadchargedocument").HtmlAttributes(new { @class = "k-grid-view" });
                command.Custom("Upload").Click("UploadChargeDocument").HtmlAttributes(new { @class = "k-grid-upload hoverCircle" });
                command.Custom("document").Click("Showdocumentgrid").HtmlAttributes(new { @class = "k-grid-document hoverCircle" });
            }).Title("Action").Width("15%");
        })
        .EnableCustomBinding(true)
        .Sortable()
        .Scrollable()
        .Events(e => e.DataBound("onRowBoundChargeDetails"))
        .Navigatable()
        .Pageable(pageable => pageable
        .Refresh(false)
        .PageSizes(true)
        .ButtonCount(5))
        .DataSource(dataSource => dataSource
        .WebApi()
        .PageSize(10)
        .ServerOperation(false)
        .Model(model =>
        {
            model.Id(o => o.ChargeId);
        })
        .Read(read => read.Url("/api/ChargeDetails/GetAllCharges").Type(HttpVerbs.Get).Data("getHeaderDataChargeDetails")))
        .HtmlAttributes(new { @style = "width:100%" }))
    </div>
</div>
@(Html.Kendo().Tooltip()
        .For("#gridChargeDetails")
        .Filter(".k-grid-edit")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
         .Content("Edit")
        )
@(Html.Kendo().Tooltip()
        .For("#gridChargeDetails")
        .Filter(".k-grid-upload")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
         .Content("Upload")
        )
@(Html.Kendo().Tooltip()
        .For("#gridChargeDetails")
        .Filter(".k-grid-document")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
         .Content("document")
        )