﻿@model BM_ManegmentServices.VM.VM_ChargeUpload
<style>
    .theexcelexport {
        height: 27px;
        width: 100%;
    }

    .mt2 {
        margin-top: 2%;
    }

    .cursur {
        cursor: pointer;
    }
</style>
<script>
    $(document).ready(function () {
        $("#DIVChargeExcel").kendoTooltip({ content: "Sample Document For Charge" });
    });
</script>
<div class="row colpadding0">
    <div class="col-md-12 colpadding0">
        <div id="DivChargeUpload">
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="col-md-12">
                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <lable>@ViewBag.SuccessMessage</lable>
                    </div>
                </div>
            }

            @if (ViewBag.ErrorMessage != null)
            {
                <div class="col-md-12">
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @foreach (var item in ViewBag.ErrorMessage)
                        {
                            <lable>@item.</lable><br />
                        }
                    </div>
                </div>
            }

            @if (ViewBag.Error != null)
            {
                <div class="col-md-12">
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

                        <lable>@ViewBag.Error</lable><br />

                    </div>
                </div>

            }
            <div class="row colpadding0">
                <div class="col-md-12 colpadding0">
                    <div class="col-md-2 pull-right" id="DIVChargeExcel">
                        <img src="/Images/Excel _icon.png" class="theexcelexport cursur" onclick="DownloadChargeDocument()">
                    </div>

                </div>
            </div>
            <div>
                @using (Ajax.BeginForm("UploadCharges", "ChargeDetails", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivChargeUpload", OnBegin = "OnOpen", OnComplete = "OnRefresh", OnSuccess = "RefreshGrid" }, new { id = "frmupdateAuditor", enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(m => m.EntityId_ChargeUpload)
                    <div class="row colpadding0 mt30">
                        <div class="col-md-12 colpadding0">
                            <div class="col-md-8  mt2">
                                <input type="file" name="File" />
                            </div>

                            <div class="col-md-1 ">
                                <button type="submit" id="btnuploadEntity" class="btn btn-primary" value="Save" name="submitButton"><span class=""></span>Upload</button>
                            </div>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>