﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.ChargeUploadEFormVM


<script>
    $(document).ready(function () {
        $("#divform11").kendoTooltip({ content: "Sample Document For Form LLP-11" });
    });
</script>


<div class="row colpadding0">
    <div class="col-md-12 colpadding0">
        <div id="DivUploadChargeEform">
            @using (Ajax.BeginForm("UploadChargeEForm", "ChargeDetails", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivUploadChargeEform", OnBegin = "beginChargeEFormUpload", OnComplete = "completedChargeEFormUpload" }, new { id = "DivUploadChargeEform", enctype = "multipart/form-data" }))
            {
                
            if (ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Any()))
            {
                <div class="alert alert-danger">
                    <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    @Html.ValidationSummary(false, "Errors: ")
                </div>
                }

                if (Model.Success)
                {
                    <div class="col-md-12">
                        <div class="alert alert-success alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <lable>@Model.Message</lable>
                        </div>
                    </div>
                }

                if (ViewBag.SuccessMessage != null)
                {
                    <div class="col-md-12">
                        <div class="alert alert-success alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <lable>@ViewBag.SuccessMessage</lable>
                        </div>
                    </div>
                }

                if (ViewBag.ErrorMessage != null)
                {
                    <div class="col-md-12">
                        <div class="alert alert-danger alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            @foreach (var item in ViewBag.ErrorMessage)
                            {
                                <lable>@item.</lable><br />
                            }
                        </div>
                    </div>
                }

                if (ViewBag.Error != null)
                {
                    <div class="col-md-12">
                        <div class="alert alert-danger alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

                            <lable>@ViewBag.Error</lable><br />

                        </div>
                    </div>

                }

                <div class="row colpadding0">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-2 pull-right hidden" id="DIVChargeExcel">
                            <img src="/Images/Excel _icon.png" class="theexcelexport cursur" onclick="DownloadChargeDocument()">
                        </div>

                    </div>
                </div>

                
                    <div class="row colpadding0 mt30">

                        <div class="col-md-2">
                            <label class="control-label">Select Type</label><span style="color:red">*</span>
                        </div>

                        <div class="col-md-8">
                            @(Html.Kendo().RadioButtonFor(m => m.fromTypeCharge).Label("Excel").Value("EXCEL").HtmlAttributes(new { }))
                            &nbsp; &nbsp;
                            @(Html.Kendo().RadioButtonFor(m => m.fromTypeCharge).Label("CHG-1 (Modification)").Value("SHG1").HtmlAttributes(new { }))
                            &nbsp; &nbsp;
                            @(Html.Kendo().RadioButtonFor(m => m.fromTypeCharge).Label("CHG-4").Value("SHG4").HtmlAttributes(new { }))
                            
                            @Html.HiddenFor(m => m.EntityId)
                        </div>

                    </div>

                    <div class="row colpadding0 mt30">
                        <div class="col-md-2">
                            <label class="control-label">Select Form</label><span style="color:red">*</span>
                        </div>

                        <div class="col-md-8">
                            <input type="file" name="File" id="File" />
                        </div>
                    </div>

                    <div class="row col-md-12 colpadding0 text-center mt30">
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>

                    <script>
                        $(document).on("change", "input[name='fromTypeCharge']", function () {
                            debugger;

                            if (this.value == "EXCEL") {
                                $("#DIVChargeExcel").removeClass('hidden');
                            }
                            else {
                                $("#DIVChargeExcel").addClass('hidden');
                            }
                        })
                    </script>
                    }
                </div>
    </div>
</div>
