<head><title>

</title>
<script src="/cdn-cgi/apps/head/wJ-d6Wf0vtDL3SAEw42RUStKs6k.js"></script><script src="/cdn-cgi/apps/body/9ez4O41ihtsBKiMc6IPNmeloV48.js"></script><style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 600px;
                  /*margin:125px;*/
    }
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color:#F5F2F4;
      height: 1000px;

      
    }
     .MainContainer {
     
     
      border:groove;
      border-color:#f1f3f4;
      
    }
       .img1{
        border:ridge;
        border-color:lightgrey;
    }
   
   
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        *height: auto;
        *padding: 15px;
      
      }
      .row.content {height: auto;} 
    }
  </style>
<style>
       
 .container {
  /*padding: 16px;*/
  background-color: white;
  margin:10px;
  /*margin-right:50px;
  margin-top:50px;*/
  height:1000px;
  width:1000px;

  
}
 body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:#1fd9e1;
}

* {
  box-sizing: border-box;
}

    </style>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<style>

	.panel-group .panel {
		border-radius: 5px;
		border-color: #EEEEEE;
        padding:0;
	}

	.panel-default > .panel-heading {
		color:black;
		background-color: white;
		border-color: #EEEEEE;
	}

	.panel-title {
		font-size: 14px;
	}

	.panel-title > a {
		display: block;
		padding: 15px;
		text-decoration: none;
	}

	.short-full {
		float: right;
		color: black;
	}

	.panel-default > .panel-heading + .panel-collapse > .panel-body {
		border: solid 1px #EEEEEE;
        /*background-color: #B7FFB7;*/
        
	}

</style>
<script src="https://analytics.avantis.co.in/piwik.js"></script></head>
<body>
&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;
<div class="container">
<div class="row content">
<div class="col-sm-3 sidenav">
<ul class="nav nav-pills nav-stacked">
    <li style="font-size:18px"><a href="contract_help.html" style="color:#333"><b>Standard Dashboard</b></a>
    </li><li style="font-size:14px"><a href="contract_dashboard.html" style="color:#333"><i class="fas fa-desktop"></i>&nbsp;&nbsp;&nbsp;<b>My Dashboard</b></a>
    <ul style="line-height:25px;font-size:13px">
    <li><a href="contract_draft.html" style="color:#333">Draft</a></li>
    <li><a href="contract_pending_review.html" style="color:#333">Pending Review</a></li>
    <li><a href="contract_reviewd.html" style="color:#333">Reviewd</a></li>
    <li> <a href="contract_pending_approval.html" style="color:#333">Pending Approval</a></li>
    <li> <a href="contract_approved.html" style="color:#333">Approved</a></li>
    <li> <a href="contract_active.html" style="color:#333">Active</a></li>
    <li> <a href="contract_expired.html" style="color:#333">Expired</a></li>
    <li> <a href="contract_graphs.html" style="color:#333">Graphs And Charts</a></li>
    <li> <a href="contract_tasksummary.html" style="color:#333">Task Summary</a></li>

    </ul>
    </li>
    <li style="font-size:14px"><a href="contract_workspace.html" style="color:#333;"><i class="fas fa-briefcase"></i>&nbsp;&nbsp;&nbsp;<b>My Workspace</b></a></li>
    <li style="font-size:14px"><a href="contract_documents.html" style="color:#333;"><i class="fas fa-briefcase"></i>&nbsp;&nbsp;&nbsp;<b>My Documents</b></a></li>
    <li style="font-size:14px"><a href="contract_reports.html" style="color:#333"><i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>My Reports</b></a></li>
    <li style="font-size:14px"><a href="contract_masters.html" style="color:#333"> <i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Masters</b> </a></li>
    <li style="font-size:14px"><a href="contract_upload_utility.html" style="color:#333"> <i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Upload Utility</b> </a></li>
    
</ul>
<br>
</div>
<div class="col-sm-9 MainContainer">


        <div>
                
                <h3><b>Masters :</b></h3>   
        </div>
 <br />
 <p style="font-size:16px;text-align:justify;"> Under master section, various sub sections regarding contracts can be tracked by obtaining all the master details for easy management of all the master data and users present under the contract module. Different sub-sections which are present under master section are as:</p>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

 <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
               <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                   <i class="short-full glyphicon glyphicon-plus"></i>
                    <b>Legal Entity</b>
               </a>
           </h4>
       </div>
       <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
           <div class="panel-body">
               <p  style="font-size:16px;text-align:justify">To view the list of open/close Notices/Cases/Tasks based on location, department, type or Winning prospect, you can directly apply the filter on the dashboard filter block to obtain the required litigation list. </p><br /><br />
               <img class="img1" style="width: 600px;margin-left:30px; height: 300px" src="../Contract/Contract_images/Masters_LEGAL ENTITY_1.png" /><br /><br /><br />
               <p  style="font-size:16px;text-align:justify">Actions that can be taken under Legal entity are as:</p>
               <p  style="font-size:16px;text-align:justify"><b>Add New Entity :</b>You can create a new entity from the expired list window by clicking on the ‘New’ button present on the right-hand corner by inserting all the details mentioned and clicking on the save button.</p>
               <p  style="font-size:16px;text-align:justify"><b>Edit Entity :</b>A similar window just like the one which is getting popped during creation of New entity will generate but with filled details which can be changed by clicking on the edit button present under the action column.</p>
               <p  style="font-size:16px;text-align:justify"><b>Delete Entity :</b> Delete the unwanted entity from the list through this button directly from the list itself.</p><br>
               <p  style="font-size:16px;text-align:justify">Once you click on either Add new button or for editing any entity, the below window generates where you can insert all the details relating to the entity and click on save to register the entity in the system</p>
               <img class="img1" style="width: 400px;margin-left:30px; height: 450px" src="../Contract/Contract_images/Masters_LEGAL ENTITY_2.png" /><br /><br /><br />

    
                 
        </div>

       </div>

</div>
        

<div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="short-full glyphicon glyphicon-plus"></i>
                     <b>User</b>
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                    <p  style="font-size:16px;text-align:justify">All different type of users that have got registered under various entities can be viewed by accessing the user master section to obtain a list like below window.</p><br />
                     <img class="img1" style="width: 600px;margin-left:30px; height: 300px" src="../Contract/Contract_images/Masters_User_1.png" /><br /><br />
                     <p  style="font-size:16px;text-align:justify">Different actions can be taken over the user master as: </p>
                     <p  style="font-size:16px;text-align:justify"><b>New User :</b>You can create a new user from the expired list window by clicking on the ‘New’ button present on the right-hand corner by inserting all the details mentioned and clicking on the save button.</p>
                     <p  style="font-size:16px;text-align:justify"><b>Edit User :</b>A similar window just like the one which is getting popped during creation of New User will generate but with filled details which can be changed by clicking on the edit button present under the action column.</p>
                     <p  style="font-size:16px;text-align:justify"><b>Delete User :</b> Delete the unwanted user from the list through this button directly from the list itself</p><br>
                     <img class="img1" style="width: 600px;margin-left:30px; height: 300px" src="../Contract/Contract_images/Masters_User_2.png" /><br /><br />

         </div>
 
        </div>
 
 </div>


 <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                   <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                       <i class="short-full glyphicon glyphicon-plus"></i>
                        <b>Vendor</b>
                   </a>
               </h4>
           </div>
           <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
               <div class="panel-body">
                    <p  style="font-size:16px;text-align:justify">Under Vendor section you can view all the vendors that have been registered for providing services to various client branch/entities as well as the contact person for that service providing vendor. Actions that can be taken under vendot section includes:</p><br />
                    <img class="img1" style="width: 600px;margin-left:30px; height: 300px" src="../Contract/Contract_images/Masters_Vendor_1.png" /><br /><br />
                    <p  style="font-size:16px;text-align:justify"><b>1. New Vendor:</b>You can create a new vendor from the expired list window by clicking on the ‘New’ button present on the right-hand corner by inserting all the details mentioned and clicking on the save button.</p>
                    <p  style="font-size:16px;text-align:justify"><b>2. Edit Vendor :</b>A similar window just like the one which is getting popped during creation of New Vendor will generate but with filled details which can be changed by clicking on the edit button present under the action column.</p>
                    <p  style="font-size:16px;text-align:justify"><b>3. Delete Vendor :</b> Delete the unwanted Vendor from the list through this button directly from the list itself</p>
                    <p  style="font-size:16px;text-align:justify"><b>4. Search :</b>Search for any specific vendor directly from the text field present by inserting the vendor name, contact person, email or contact number to obtain the specific vendor.</p><br>
                    <img class="img1" style="width: 600px;margin-left:30px; height: 300px" src="../Contract/Contract_images/Masters_Vendor_2.png" /><br /><br />

        
                     
            </div>
    
           </div>
    
    </div>

    <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                       <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                           <i class="short-full glyphicon glyphicon-plus"></i>
                            <b>Contract Type Sub Type</b>
                       </a>
                   </h4>
               </div>
               <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                   <div class="panel-body">
                       <p  style="font-size:16px;text-align:justify">If there any sub-types regarding any contract that have been created or is required to be created can be done through here.</p>
                       <img class="img1" style="width: 600px;margin-left:30px; height: 300px" src="../Contract/Contract_images/Masters_Contract Type_1.png" /><br /><br />
                       <p  style="font-size:16px;text-align:justify">You can view all the sub-types that are present for any contract by clicking on the sub-types link present as well as can add new subtypes to obtain a popup window like below:</p>
                       <img class="img1" style="width: 600px;margin-left:30px; height: 300px" src="../Contract/Contract_images/Masters_Contract Type_2.png" /><br /><br /><br />
                         
                </div>
        
               </div>
        
        </div>


        <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFive">
                    <h4 class="panel-title">
                           <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                               <i class="short-full glyphicon glyphicon-plus"></i>
                                <b>Document Type</b>
                           </a>
                       </h4>
                   </div>
                   <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                        <div class="panel-body">
                        <p  style="font-size:16px;text-align:justify">Under document type section, you can view all the documents uploaded for all contracts registered under the module.  But to sort out the documents based their type, the below screen provide the easiness as you can not only identify all the documents based on their type, but also can take actions over them which includes:</p><br />
                        <img class="img1" style="width: 600px;margin-left:30px; height: 300px" src="../Contract/Contract_images/Masters_DOCUMENT TYPE_1.png" /><br /><br />
                        <p  style="font-size:16px;text-align:justify"><b>1. New Document:</b>You can add new document to the master list by clicking on the New button to add new document based on the type under which it needs to be uploaded</p>
                    <p  style="font-size:16px;text-align:justify"><b>2. Edit Document :</b>you can act against document by clicking on the edit button present under the action column.</p>
                    <p  style="font-size:16px;text-align:justify"><b>3. Search :</b> Can search any document directly through the search field present on the top of the page.</p>
                    <img class="img1" style="width: 500px;margin-left:30px; height: 200px" src="../Contract/Contract_images/Masters_DOCUMENT TYPE_2.png" /><br /><br />

                    </div>
            
                   </div>
            
            </div>

            <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingSix">
                        <h4 class="panel-title">
                               <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                                   <i class="short-full glyphicon glyphicon-plus"></i>
                                    <b>Custom Field</b>
                               </a>
                           </h4>
                       </div>
                       <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                           <div class="panel-body">
                               <p  style="font-size:16px;text-align:justify"> In this section, as per customer requirement, a new field with custom details can be added which can be customer specific and can be used while tracking a contract defined for that customer regarding any contract</p>
                                <img class="img1" style="width: 600px;margin-left:30px; height: 300px" src="../Contract/Contract_images/Masters_Custom fields_1.png" /><br /><br /><br />
                                 
                        </div>
                
                       </div>
                
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingSeven">
                        <h4 class="panel-title">
                               <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                                   <i class="short-full glyphicon glyphicon-plus"></i>
                                    <b>Contract Template</b>
                               </a>
                           </h4>
                       </div>
                       <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                           <div class="panel-body">
                               <p  style="font-size:16px;text-align:justify"> While registering any contract or inserting details for the same, you can obtain the exact format under which different contract can be added based on their type, scope and details present from the below section.</p>
                               <img class="img1" style="width: 600px;margin-left:30px; height: 270px" src="../Contract/Contract_images/Masters_CONTRACT TEMPLATE_1.png" /><br />
                               <p  style="font-size:16px;text-align:justify">Actions that can be taken while accessing and creating a contract under various types are:</p>
                               <p  style="font-size:16px;text-align:justify"><b>1. Template Section:</b>Before creating contract, you will have to create template section. Click on edit icon beside new button and obtain a window like below:</p>
                               <img class="img1" style="width: 600px;margin-left:30px; height: 270px" src="../Contract/Contract_images/Masters_CONTRACT TEMPLATE_2.png" /><br /><br>
                               <p  style="font-size:16px;text-align:justify">You can add New template section, edit and delete them. To add, click on New button and obtain below window to add details, </p>

                               <img class="img1" style="width: 400px;margin-left:30px; height: 450px" src="../Contract/Contract_images/Masters_CONTRACT TEMPLATE_3.png" /><br /><br>

                               <p  style="font-size:16px;text-align:justify"><b>2. Contract creation:</b>You can create contract by clicking on ‘New’ button present on top right corner to obtain a window like below:</p>
                               <p  style="font-size:15px;text-align:justify"><b>Step 1 :</b>Provide name to the template with the version name and you can either click on save, or can export the template in a word format for filling details or can click on save and next for importing the section.</p>
                               <img class="img1" style="width: 600px;margin-left:30px; height: 270px" src="../Contract/Contract_images/Masters_CONTRACT TEMPLATE_4.png" /><br /><br>
                               <p  style="font-size:15px;text-align:justify"><b>Step 2 :</b>Under step 2 as shown above, you must select the order in which the contract should appear based on the header and the version mentioned in the step 1. Also, by clicking on the Add icon on top right corner, you can add new sections in the template as well which you can view directly by clicking on the button present under action column.</p><br>
                               <img class="img1" style="width: 450px;margin-left:30px; height: 300px" src="../Contract/Contract_images/Masters_CONTRACT TEMPLATE_5.png" /><br /><br>

                               
                               <p  style="font-size:16px;text-align:justify">Finally click on save and export the template into word format which you can then upload through upload utility section for creation of contract.</p>

                               <p  style="font-size:16px;text-align:justify"><b>3. Contract Editing:</b>A similar window just like the one which is getting popped during creation of New contract will generate but with filled details which can be changed by clicking on the edit button present under the action column.</p>
                               <p  style="font-size:16px;text-align:justify"><b>4. Delete Contract:</b>Delete the unwanted contract from the list through this button directly from the list itself.</p>
                               <p  style="font-size:16px;text-align:justify"><b>5. Download contract:</b>Download the contract which have got created previously or from the list to view the complete details.</p>

                        </div>
                
                       </div>
                
                </div>



</div>




</div>

</div>

</div>
</div>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script>

	function toggleIcon(e) {
        $(e.target)
            .prev('.panel-heading')
            .find(".short-full")
            .toggleClass('glyphicon-plus glyphicon-minus');
    }
    $('.panel-group').on('hidden.bs.collapse', toggleIcon);
    $('.panel-group').on('shown.bs.collapse', toggleIcon);
</script>


</body>