<head><title>

</title>
<script src="/cdn-cgi/apps/head/wJ-d6Wf0vtDL3SAEw42RUStKs6k.js"></script><script src="/cdn-cgi/apps/body/9ez4O41ihtsBKiMc6IPNmeloV48.js"></script><style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 600px;
                  /*margin:125px;*/
    }
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color:#F5F2F4;
      height: 1000px;

      
    }
     .MainContainer {
     
      
      border:groove;
      border-color:#f1f3f4;
      
    }
       .img1{
        border:ridge;
        border-color:lightgrey;
    }
   
   
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        *height: auto;
        *padding: 15px;
      
      }
      .row.content {height: auto;} 
    }
  </style>
<style>
       
 .container {
  /*padding: 16px;*/
  background-color: white;
  margin:10px;
  /*margin-right:50px;
  margin-top:50px;*/
  height:1000px;
  width:1000px;

  
}
 body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:#1fd9e1;
}

* {
  box-sizing: border-box;
}

    </style>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<style>

    .panel-group .panel {
        border-radius: 5px;
        border-color: #EEEEEE;
        padding:0;
    }

    .panel-default > .panel-heading {
        color:black;
        background-color: white;
        border-color: #EEEEEE;
    }

    .panel-title {
        font-size: 14px;
    }

    .panel-title > a {
        display: block;
        padding: 15px;
        text-decoration: none;
    }

    .short-full {
        float: right;
        color: black;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border: solid 1px #EEEEEE;
        /*background-color: #B7FFB7;*/
        
    }
   

</style>
<script src="https://analytics.avantis.co.in/piwik.js"></script></head>
<body>
&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;
<div class="container">
<div class="row content">
<div class="col-sm-3 sidenav">
<ul class="nav nav-pills nav-stacked">
    <li style="font-size:18px"><a href="contract_help.html" style="color:#333"><b>Standard Dashboard</b></a>
    </li><li style="font-size:14px"><a href="contract_dashboard.html" style="color:#333"><i class="fas fa-desktop"></i>&nbsp;&nbsp;&nbsp;<b>My Dashboard</b></a>
    <ul style="line-height:25px;font-size:13px">
    <li><a href="contract_draft.html" style="color:#333">Draft</a></li>
    <li><a href="contract_pending_review.html" style="color:#333">Pending Review</a></li>
    <li><a href="contract_reviewd.html" style="color:#333">Reviewed</a></li>
    <li> <a href="contract_pending_approval.html" style="color:#333">Pending Approval</a></li>
    <li> <a href="contract_approved.html" style="color:#333">Approved</a></li>
    <li> <a href="contract_active.html" style="color:#333">Active</a></li>
    <li> <a href="contract_expired.html" style="color:#333">Expired</a></li>
    <li> <a href="contract_graphs.html" style="color:#333">Graphs And Charts</a></li>
    <li> <a href="contract_tasksummary.html" style="color:#333">Task Summary</a></li>

    </ul>
    </li>
    <li style="font-size:14px"><a href="contract_workspace.html" style="color:#333;"><i class="fas fa-briefcase"></i>&nbsp;&nbsp;&nbsp;<b>My Workspace</b></a></li>
    <li style="font-size:14px"><a href="contract_documents.html" style="color:#333;"><i class="fas fa-briefcase"></i>&nbsp;&nbsp;&nbsp;<b>My Documents</b></a></li>
    <li style="font-size:14px"><a href="contract_reports.html" style="color:#333"><i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>My Reports</b></a></li>
    <li style="font-size:14px"><a href="contract_masters.html" style="color:#333"> <i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Masters</b> </a></li>
    <li style="font-size:14px"><a href="contract_upload_utility.html" style="color:#333"> <i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Upload Utility</b> </a></li>
    
</ul>
<br>
</div>
<div class="col-sm-9 MainContainer">
<br>
<h3><b>Pending Review :</b></h3><br>
<p style="font-size:16px;text-align:justify;">Under pending review, all the contracts that are pending for review can be viewed along with certain actions that can be taken over each of them as present in the below window:</p>
<img class="img1" style="width: 600px; margin-left: 20px;  height: 100px" src="../Contract/Contract_images/My Dashboard_Pending review_1.png"><br><br>
<p style="font-size:16px;text-align:justify;">The complete list getting displayed can again be sorted based on various filters present like location of client for which the contract got created, or on department basis or on vendor as per requirement to obtain a customized list.</p><br>
<p style="font-size:16px;text-align:justify;">There are certain actions that can be taken on the pending review contracts as :</p>
<img class="img1" style="width: 600px; margin-left: 20px;  height: 300px" src="../Contract/Contract_images/My Dashboard_Pending review_2.png"><br><br><br>


<p style="font-size:16px;text-align:justify;"><b>1. Filter :</b>You can filter out the list of all the contracts pending for review again based on the filters present on the screen.</p>
<p style="font-size:16px;text-align:justify;"><b>2. New :</b>You can add new contract from the screen itself by clicking on the <b>‘New’</b> button given on the upper right-hand side.</p>
<p style="font-size:16px;text-align:justify;"><b>3. Edit :</b>In order to make any changes to any contract under pending for review, you can click on the edit details button to obtain a window like below </p><br>
<p style="font-size:16px;text-align:justify;">There are again certain actions that can be taken while editing details of the contract under like:</p><br>

<h4 style="background-color:#F5F2F4;padding-left:10px"><b>Summary :</b></h4>
<p style="font-size:16px;text-align:justify;"><b>1. Linkage :</b>You can link present contract with other contract incase if they are on the same ground or they are for same agreement directly from the window itself.</p>
<p style="font-size:16px;text-align:justify;"><b>2. Email :</b>You can email the contract along with any documents that may have uploaded for the same to other users present under the system.</p>
<p style="font-size:16px;text-align:justify;"><b>3. Edit Details: :</b>In order to make updation to all the fields present for each pending contract, you need to click on the edit button present on the top right corner.</p>
<img class="img1" style="width: 600px; margin-left: 20px;  height: 300px" src="../Contract/Contract_images/My Dashboard_Pending review_3.png"><br><br><br>

<h4 style="background-color:#F5F2F4;padding-left:10px"><b>Details :</b></h4>
<p style="font-size:16px;text-align:justify;">Again, you can also make changes to the details of the contract by clicking on the details tab present in the edit popup window as shown in below screen Sections that can be updated for a contract includes Terms, termination, MISC, details about license, Warranties, Guarantees, things that are to be kept confidential, ownership of contract etc. </p><br>
<img class="img1" style="width: 600px; margin-left: 20px;  height: 300px" src="../Contract/Contract_images/My Dashboard_Pending review_4.png"><br><br><br>

<h4 style="background-color:#F5F2F4;padding-left:10px"><b>Documents :</b></h4>
<p style="font-size:16px;text-align:justify;">Under documents tab, you can view all the documents that have been uploaded till date regarding a particular contract as well as can take certain action over them like: </p><br>
<img class="img1" style="width: 600px; margin-left: 20px;  height: 250px" src="../Contract/Contract_images/My Dashboard_Pending review_5.png"><br><br><br>
<p style="font-size:16px;text-align:justify;"><b>1. View details :</b>Can view complete details of document in the dashboard itself as to who uploaded it and when along with its format.</p>
<p style="font-size:16px;text-align:justify;"><b>2. View Document :</b>Can view the documents on the dashboard without taking the unnecessary efforts of downloading to view it.</p>
<p style="font-size:16px;text-align:justify;"><b>3. Download Document :</b>You can download the documents for offline use as well</p>
<p style="font-size:16px;text-align:justify;"><b>4. Delete document :</b> Can delete or remove any unwanted document.</p><br><br>


<h4 style="background-color:#F5F2F4;padding-left:10px"><b>Tasks :</b></h4>
<p style="font-size:16px;text-align:justify;">View all the tasks that have been created for a contract as to identify who created it and when along with its priority level.  </p><br>
<img class="img1" style="width: 600px; margin-left: 20px;  height: 250px" src="../Contract/Contract_images/My Dashboard_Pending review_6.png"><br>
<p style="font-size:16px;text-align:justify;"><b>1. New task :</b>Can create a new task by clicking on the ‘New’ button present on the right-hand corner.</p>
<p style="font-size:16px;text-align:justify;"><b>3. Edit task :</b>Can edit that tasks for additional details like as shown in below screen.</p>
<img class="img1" style="width: 600px; margin-left: 20px;  height: 280px" src="../Contract/Contract_images/My Dashboard_Pending review_7.png"><br>
<p style="font-size:16px;text-align:justify;"><b>3. Close Task  :</b>You can close the task with one condition that once the task is closed the person to whom it has been assigned cannot provide any updated over it.</p>
<p style="font-size:16px;text-align:justify;"><b>4. Delete Task :</b>you can delete the task if it has got completed or if unrequired.</p><br>


<h4 style="background-color:#F5F2F4;padding-left:10px"><b>Audit Log :</b></h4>
<p style="font-size:16px;text-align:justify;">Under Audit log, you can view the complete details regarding all the actions that have been taken for particular contract regarding documents uploaded or tasks created and allocated which can also be filtered out based on users, time period based on when it got created.  </p><br>
<img class="img1" style="width: 600px; margin-left: 20px;  height: 300px" src="../Contract/Contract_images/My Dashboard_Pending review_8.png"><br><br><br>


</div>

</div>
</div>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script>

    function toggleIcon(e) {
        $(e.target)
            .prev('.panel-heading')
            .find(".short-full")
            .toggleClass('glyphicon-plus glyphicon-minus');
    }
    $('.panel-group').on('hidden.bs.collapse', toggleIcon);
    $('.panel-group').on('shown.bs.collapse', toggleIcon);
</script>


</body>