﻿@using Kendo.Mvc.UI;
@model dynamic

<script type="text/javascript">
    function error_handlerT(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function() {
                        message += this + "<br>";
                    });
                }
            });
            //alert(message);
            var divgridNewMessage = $("#divgridNewMessage");
            divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-danger'> " + message + "</div></div></div>";

        }
        else {
            alert('Save Successfully.');
        }
    }

    function Request_EndT(e) {
        
        if (e.type == "create" || e.type == "update") {
            if(e.response.Errors == null)
            {
                var divgridNewMessage = $("#divgridNewMessage");
                divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success'> <lable>Save Successfully.</lable></div></div></div>";
            }
        }
    }

    $("#btnSaveTemplate").kendoButton({
        click: function (e) {
            var divgridNewMessage = $("#divgridNewMessage");
            divgridNewMessage[0].innerHTML = '';


            var grid = $("#gridNew").data("kendoGrid");
            var gridData = grid.dataSource.data();

            var lookup = {};
            var isExists = false;

            for (var i = 0; i < gridData.length; i++){
                var templateName = gridData[i].TemplateName.toUpperCase();
                if (!(templateName in lookup)){
                    lookup[templateName] = 1;
                }
                else {
                    isExists = true;
                }
               }

            if (isExists == false) {
                grid.saveChanges();
            }
            else {
                var strValidation = "Duplicate Template Name.";
                divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-danger'> <lable>" + strValidation + "</lable></div></div></div>";
            }

            
            if ("@Model.PostAgendaId" != "") {
                loadTemplateToolSub();
            } else {
                loadTemplateMasterDropDownParent();
            }
        }
    })

    $("#btncloseTemplate").kendoButton({
        click: function (e) {
            $("#wndAddTemplate").data("kendoWindow").close();
        }
    })

    function toolTipContent_gridNew(e) {
        return e.target.context.innerText;
    }
</script>
<!-- Filter Script-->
<script>
    function templatesFilterChange() {
        var filter = { logic: 'or', filters: [] };

        var t = $('#txtfilterTemplates');
        if (t.val() != "") {
            filter.filters.push({ logic: "or", field: "TemplateName", operator: "contains", value: t.val() });
            filter.filters.push({ logic: "or", field: "TemplateLabel", operator: "contains", value: t.val() });
        }
        grid = $("#gridImportTemplates").data("kendoGrid");
        grid.dataSource.filter(filter);
    }
</script>

<script type="text/x-kendo-template" id="myTemplate">
    <div class="toolbar">
        <label class="category-label" for="category">Filter :</label>
        <input id='txtfilterTemplates' class='k-textbox' placeholder="Type to filter" style="width: 450px;" autocomplete="off" />
    </div>
</script>
<!-- Import templates-->
<script>
    function btnImportTemplateClick(id) {
        $('#divgridImportTemplates').addClass("hidden");
        kendo.ui.progress($("#gridImportTemplates"), true);
        $.ajax({
            type: "POST",
            url: "@Url.Action("ImportTemplates", "Template")",
            data: "{AgendaMasterId:" + id + "}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                
                kendo.ui.progress($("#gridImportTemplates"), false);
                fillGridImportTemplates(response.Templates);

                if (response.Templates.length > 0) {
                    $('#divgridImportTemplates').removeClass("hidden");
                    $('#divgridNew').addClass("hidden");
                }
            },
        failure: function (response) {
            //alert(response.responseText);
            kendo.ui.progress($("#gridImportTemplates"), false);
        },
        error: function (response) {
            //alert(response.responseText);
            kendo.ui.progress($("#gridImportTemplates"), false);
        }
    });
    }

    function checkAll(ele) {
        var state = $(ele).is(':checked');
        var grid = $('#gridImportTemplates').data().kendoGrid;

        $.each(grid.dataSource.data(), function () {
            if (this['IsSelected'] != state)
                this.dirty = true;
            this['IsSelected'] = state;
        });
        grid.refresh();
    }

    function fillGridImportTemplates(d) {
        var ds = new kendo.data.DataSource({
            data: d, //myJson.employees,
            pageSize: 10
        });

        var grid = $("#gridImportTemplates").kendoGrid({
            toolbar: kendo.template($("#myTemplate").html()),
            pageable: {
                alwaysVisible: false,
                pageSizes: [5, 10, 20, 100]
            },
            columns: [
                        {
                            field: "TemplateID", title: " ", template: "<input type='checkbox' #= IsSelected ? checked='checked':'' # class='chkbx' />", width: "35px;"
                            , headerTemplate: "<input type='checkbox' id='header_chb' class='k-checkbox header-checkbox'><label class='k-checkbox-label' for='header-chb'></label>"
                        },
                        { field: "TemplateName", title: "Field Name", width: "25%;" },
                        { field: "TemplateLabel", title: "Field Label" },
                        { field: "IsSelected", title: "IsSelected", hidden: true },
                        { field: "CategoryID", title: "CategoryID", hidden: true },
                        { field: "CategoryName", title: "Category", hidden: true }
                        
            ],
            height : 450,
            dataSource: ds
        });

        $('#gridImportTemplates').on('click', '.chkbx', function () {
            var checked = $(this).is(':checked');
            var grid = $('#gridImportTemplates').data().kendoGrid;
            var dataItem = grid.dataItem($(this).closest('tr'));
            dataItem.set('IsSelected', checked);

            if (checked == false) {
                $('#header_chb').prop('checked', false);
            }
        });

        $('#header_chb').change(function () {
            checkAll(this);
        })

        $('#txtfilterTemplates').on('input', function (e) {
            templatesFilterChange();
        });
    }

    function btnApply_Click() {
        //$('#fsetCompliance').addClass("hidden");
        kendo.ui.progress($("#gridComplianceAssign"), true);
        
        var grid = $('#gridImportTemplates').data().kendoGrid;
        var gridData = grid.dataSource.data();

        var lookup = {};
        var result = { items: [] }

        var gridNew = $("#gridNew").data("kendoGrid");
        var gridNewdataSource = gridNew.dataSource;
        var gridNewData = gridNew.dataSource.data();
        for (var i = 0; i < gridNewData.length; i++) {
            lookup[gridNewData[i].TemplateName] = 1;
        }

        
        for (var i = 0; i < gridData.length; i++) {

            if (gridData[i].IsSelected == true) {
                var templateName = gridData[i].TemplateName;
                if (!(templateName in lookup)) {
                    lookup[templateName] = 1;
                    result.items.push(gridData[i]);

                    var total = gridNewdataSource.data().length;
                    gridNewdataSource.insert(total, { AgendaID: "@Model.AgendaMasterId", TemplateID: 0, TemplateName: gridData[i].TemplateName, TemplateLabel: gridData[i].TemplateLabel, Category: { CategoryID: gridData[i].CategoryID, CategoryName: gridData[i].CategoryName, } });

                }
            }
        }
        kendo.ui.progress($("#gridImportTemplates"), false);

        $('#divgridImportTemplates').addClass("hidden");
        $('#divgridNew').removeClass("hidden");
    }
</script>


<!-- IsUIForm non-Editable-->
<script>
    function isRowEditable(dataItem) {
        return dataItem.ProductID != 3;
    }
</script>


<div>
    @(Html.Kendo().Tooltip()
        .For("#gridNew")
        .Filter(".k-grid-add")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Add - Template Field")
        .Width(120)
    )

    @(Html.Kendo().Tooltip()
        .For("#gridNew")
        .Filter(".k-grid-delete")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Delete")
        .Width(120)
    )

    @(Html.Kendo().Tooltip()
        .For("#gridNew")
        .Filter("td:nth-child(1)")
        .ContentHandler("toolTipContent_gridNew")
        .Position(TooltipPosition.Top)
        .Width(200)
        .AutoHide(true) )

    @(Html.Kendo().Tooltip()
        .For("#gridNew")
        .Filter("td:nth-child(2)")
        .ContentHandler("toolTipContent_gridNew")
        .Position(TooltipPosition.Top)
        .Width(300)
        .AutoHide(true) )

    @(Html.Kendo().Tooltip()
        .For("#gridNew")
        .Filter("td:nth-child(3)")
        //.ContentHandler("toolTipContent_gridNew")
        .Position(TooltipPosition.Top)
        .Width(300)
        .AutoHide(true) )

    @(Html.Kendo().Tooltip()
        .For("#btnImport")
        .Position(TooltipPosition.Top)
        .AutoHide(true) )

    @(Html.Kendo().Tooltip()
        .For("#btnImportFromParent")
        .Position(TooltipPosition.Top)
        .AutoHide(true) )
</div>

<div id="divgridNewMessage"></div>

<div id="divgridImportTemplates" class="hidden">
    <div id="gridImportTemplates"></div>
    <div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;">
        <button id="btnApplyAgendaItem" type="button" onclick="btnApply_Click()" style="margin-bottom: 10px;" class="k-primary k-button k-grid-update k-button-icontext">Apply</button>
    </div>
</div>

<div id="divgridNew">
    <div>
        @(Html.Kendo().Grid<BM_ManegmentServices.VM.TemplateViewModel>()
    .Name("gridNew")
    .Columns(columns =>
    {
        columns.Bound(p => p.TemplateName).HeaderTemplate("Field Name").ClientTemplate("<b>{{#=TemplateName.toUpperCase()#}}</b>").HtmlAttributes(new { title = "<b>{{#=TemplateName.toUpperCase()#}}</b>" }).Sortable(false).Width("25%"); ;
        columns.Bound(p => p.TemplateLabel).HeaderTemplate("Field Label").HtmlAttributes(new { title = "#= TemplateLabel #" }).Sortable(false).Width("45%");
        columns.Bound(p => p.Category).ClientTemplate("#=Category.CategoryName#").HtmlAttributes(new { title = "#= Category.CategoryDetails #" }).Sortable(false).Width("20%");
        columns.Command(command => command.Destroy());
    })
    .ToolBar(toolbar =>
    {
        toolbar.Template(@<text>
            <div class="pull-right">
                <input type="button" class="k-button" id="btnImport" title="Template Fields" onclick="btnImportTemplateClick(null);" value="Import" />
                @if (@Model.PostAgendaId != null)
                {
                    <input type="button" class="k-button" id="btnImportFromParent" title="Template Fields from Post Agenda" onclick="btnImportTemplateClick(@Model.PostAgendaId);" value="Import" />
                }
                else
                {
                    <input type="button" class="k-button hidden" id="btnImportFromParent" value="Import" />
                }
                <a class="k-grid-add k-button k-button-icontext" href="/#" id="btnNewTemplateField" title="Create New"><span class="k-icon k-add k-i-plus-outline"></span>New</a>
            </div>
            <div>
                
            </div>
        </text>);
    })
    .Editable(editable => editable.Mode(GridEditMode.InCell).CreateAt(GridInsertRowPosition.Bottom))
    .Pageable()
    .Sortable()
    //.Scrollable()    
    //.HtmlAttributes(new { style = "height:450px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        .ServerOperation(false)
        .Events(events => events.Error("error_handlerT")
        .RequestEnd("Request_EndT"))
        .Model(model =>
        {
            model.Id(p => p.TemplateID);
            model.Field(p => p.TemplateID).Editable(false);
            model.Field(p => p.AgendaID).Editable(false).DefaultValue(Model.AgendaMasterId);
            model.Field(p => p.Category).DefaultValue(ViewData["defaultCategory"] as BM_ManegmentServices.VM.CategoryViewModel);
        })
        .PageSize(10)
        .Read(read => read.Action("EditingCustom_Read", "Template", new { AgendaMasterId = Model.AgendaMasterId }))
        .Create(create => create.Action("EditingCustom_Create", "Template"))
        .Update(update => update.Action("EditingCustom_Update", "Template"))
        .Destroy(destroy => destroy.Action("EditingCustom_Destroy", "Template"))
    ))
    </div>

    <div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;">
        <button type="button" id="btnSaveTemplate" class="k-primary k-button k-grid-update k-button-icontext">Save</button>
        <button type="button" id="btncloseTemplate" class="k-button">Close</button>
    </div>
</div>
