﻿<%@ Page Title="Auditor Team Master" Language="C#" MasterPageFile="~/AuditTool.Master" AutoEventWireup="true" CodeBehind="AuditorUserMaster.aspx.cs" Inherits="com.VirtuosoITech.ComplianceManagement.Portal.RiskManagement.Customers.AuditorUserMaster" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<%@ Register Assembly="DropDownListChosen" Namespace="Saplin.Controls"  TagPrefix="asp" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">

    <style type="text/css">
        #progressbar .ui-progressbar-value {
            background-color: #ccc;
        }
      .modal-body label {
    font-weight: 400;
    font-family: 'Roboto',sans-serif;
    padding-right: 10px;
}

    </style>

    <script type="text/javascript">
        function fopenpopup() {
            $('#divAuditorDialog').modal('show');
        }
    </script>
     <style type="text/css">
        .dd_chk_select {
            
            height: 81px;
            height: 3px !important;
            /*text-align: center;*/
            border-radius: 4px !important;
            padding: 6px 12px !important;
            font-size: 14px !important;
            line-height: 1.428571429;
            color: #8e8e93 !important;
            background-color: #fff !important;
            border: 1px solid #c7c7cc!important;        
            -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            font-family:Roboto sans-serif !important;
            margin-bottom: 0px !important;
        }
        
         .chosen-results {  max-height: 75px !important
         }
         
        .chosen-container-single .chosen-single{background:none !important;border:1px solid #c7c7cc   !important;height: 32px  !important;padding: 3px 0px 0px 14px !important; font-family:'Roboto', sans-serif !important; }
    </style> 
    <script type="text/javascript">
        //$(function () {
        //    $('#divAuditorDialog').dialog({
        //        height: 450,
        //        width: 550,
        //        autoOpen: false,
        //        draggable: true,
        //        title: "Auditor User Details",
        //        open: function (type, data) {
        //            $(this).parent().appendTo("form");
        //        }
        //    });
        //});

        function initializeRadioButtonsList(controlID) {
            $(controlID).buttonset();
        };

        function initializeJQueryUI(textBoxID, divID) {
            $("#" + textBoxID).unbind('click');

            $("#" + textBoxID).click(function () {
                $("#" + divID).toggle("blind", null, 500, function () { });
            });
        };
        $(document).ready(function () {
            //setactivemenu('leftremindersmenu');
            fhead('Auditors Team Master');
        });
        $(document).ready(function () {
            //setactivemenu('Auditors Team Master');
            fhead('Auditors Team Master');
        });
    </script>
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 10);
        window.onunload = function () { null };

        $(document).ready(function () {
            setactivemenu('Auditor\'s Team Master');
            fhead('Auditor\'s Team Master');
        });

    </script>
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:UpdateProgress ID="updateProgress" runat="server">
        <%--<ProgressTemplate>
            <div style="position: fixed; text-align: center; height: 100%; width: 100%; top: 0; right: 0; left: 0; z-index: 9999999; background-color: #000000; opacity: 0.7;">
                <asp:Image ID="imgUpdateProgress" runat="server" ImageUrl="~/Images/processing.gif"
                    AlternateText="Processing..." ToolTip="Processing ..." Style="padding: 10px; position: fixed; top: 45%; left: 50%;" />
            </div>
        </ProgressTemplate>--%>
    </asp:UpdateProgress>
    <asp:UpdatePanel ID="upPromotorList" runat="server" UpdateMode="Conditional">
        <ContentTemplate>

            <div class="row Dashboard-white-widget">
                <div class="dashboard">
                    <div class="col-lg-12 col-md-12 ">
                        <section class="panel">                 
                        <div style="margin-bottom: 4px"/> 
                    <div class="col-md-2 colpadding0 entrycount" style="margin-top: 5px;">
                    <div class="col-md-2 colpadding0" style="width:23%">
                        <p style="color: #999; margin-top: 5px;">Show </p>
                    </div>
                    <asp:DropDownList runat="server" ID="ddlPageSize" class="form-control m-bot15" Style="width: 70px; float: left"
                        AutoPostBack="true" OnSelectedIndexChanged="ddlPageSize_SelectedIndexChanged" >                        
                        <asp:ListItem Text="5" Selected="True" />
                        <asp:ListItem Text="10" />
                        <asp:ListItem Text="20" />
                        <asp:ListItem Text="50" />
                    </asp:DropDownList>
                </div>
                <div  class="col-md-4 colpadding0 entrycount" style="color: #999; padding-top: 5px;">                   
                    <div class="col-md-3 colpadding0"  style="width:27%">
                     <p style="color: #999; margin-top: 5px;">Auditor </p>                            
                         </div>
                        <asp:DropDownList runat="server" ID="ddlFilterAuditor" class="form-control m-bot15" Style="width: 150px; "
                             AutoPostBack="true" OnSelectedIndexChanged="ddlFilterAuditor_SelectedIndexChanged" />                                    
                    </div> 
                     <div style="text-align:right;padding-top: 5px;">
                    <asp:LinkButton Text="Add New" runat="server" OnClientClick="fopenpopup()" ID="btnAddPromotor" CssClass="btn btn-primary" OnClick="btnAddPromotor_Click" />
                </div>
                 <div style="margin-bottom: 4px">  
                     &nbsp;                               
            <%--<asp:Panel ID="Panel1" Width="100%" Height="450px" ScrollBars="Vertical" runat="server">--%>
                <asp:GridView runat="server" ID="grdAuditor" AutoGenerateColumns="false" AllowSorting="true" OnRowDataBound="grdAuditor_RowDataBound"
                    PageSize="5" AllowPaging="true" AutoPostBack="true" CssClass="table" GridLines="none" Width="100%" ShowHeaderWhenEmpty="true"
                    OnSorting="grdAuditor_Sorting"  DataKeyNames="ID" OnRowCommand="grdAuditor_RowCommand"
                    OnPageIndexChanging="grdAuditor_PageIndexChanging">
                    <Columns>
                        <asp:TemplateField ItemStyle-HorizontalAlign="Left" HeaderText="Sr">
                         <ItemTemplate>
                                          <%#Container.DataItemIndex+1 %>
                         </ItemTemplate>
                         </asp:TemplateField>
                        <asp:BoundField DataField="FirstName" HeaderText="First Name"  />
                        <asp:BoundField DataField="LastName" HeaderText="Last Name"  />
                        <asp:BoundField DataField="Email" HeaderText="Email ID"  />
                        <asp:BoundField DataField="ContactNumber" HeaderText="Contact No"  />

                        <asp:TemplateField  ItemStyle-Width="8%" HeaderText="Action">
                            <ItemTemplate>
                                <asp:LinkButton ID="LinkButton1" runat="server" CommandName="EDIT_PROMOTER" OnClientClick="fopenpopup()" data-toggle="tooltip" data-placement="top" ToolTip="Edit User Details"
                                    CommandArgument='<%# Eval("ID") %>'><img src="../../Images/edit_icon_new.png" /></asp:LinkButton>
                                <asp:LinkButton ID="LinkButton2" runat="server" CommandName="DELETE_PROMOTER" Visible="false" data-toggle="tooltip" data-placement="top" ToolTip="Delete Promoter Details"
                                    CommandArgument='<%# Eval("ID") %>' OnClientClick="return confirm('Are you certain you want to delete this User Details?');"><img src="../../Images/delete_icon_new.png" /></asp:LinkButton>
                            </ItemTemplate>                            
                        </asp:TemplateField>
                    </Columns>
                    <RowStyle CssClass="clsROWgrid" />
                    <HeaderStyle CssClass="clsheadergrid" /> 
                    <HeaderStyle BackColor="#ECF0F1" />   
                    <PagerSettings Visible="false" />            
                    <PagerTemplate>
                                       <%-- <table style="display: none">
                                            <tr>
                                                <td>
                                                    <asp:PlaceHolder ID="ph" runat="server"></asp:PlaceHolder>
                                                </td>
                                            </tr>
                                        </table>--%>
                      </PagerTemplate>
                    <EmptyDataTemplate>
                        No Record Found
                    </EmptyDataTemplate>
                </asp:GridView>
                         <div style="float: right;">
                  <asp:DropDownListChosen runat="server" ID="DropDownListPageNo" AutoPostBack="true"
                      class="form-control m-bot15"  Width="120%" Height="30px"  OnSelectedIndexChanged="DropDownListPageNo_SelectedIndexChanged">                                   
                  </asp:DropDownListChosen>  
                </div>
                     </div>
                            <div class="col-md-12 colpadding0">
                            <div class="col-md-5 colpadding0">
                                <div class="table-Selecteddownload">
                                    <div class="table-Selecteddownload-text">
                                        <p><asp:Label runat="server" ID="lblTotalSelected" Text="" style="color: #999; margin-right: 10px;"></asp:Label></p>
                                    </div>                                   
                                </div>
                            </div>
                            <div class="col-md-6 colpadding0"   style="float:right">
                                <div class="table-paging" style="margin-bottom: 10px;">
                                    <%--<asp:ImageButton ID="lBPrevious" CssClass="table-paging-left" runat="server" ImageUrl="~/img/paging-left-active.png" OnClick ="lBPrevious_Click"/>--%>                                  
                                    <div class="table-paging-text" style="float: right;">
                                        <p>Page
                                          <%--  <asp:Label ID="SelectedPageNo" runat="server" Text=""></asp:Label>/
                                            <asp:Label ID="lTotalCount" runat="server" Text=""></asp:Label>--%>
                                        </p>
                                    </div>
                                    <%--<asp:ImageButton ID="lBNext" CssClass="table-paging-right" runat="server" ImageUrl="~/img/paging-right-active.png" OnClick ="lBNext_Click" />--%>                                   
                                    <asp:HiddenField ID="TotalRows" runat="server" Value="0" />
                                </div>
                            </div>
                        </div>
                       </section>
                    </div>
                </div>
            </div>
            <%--</asp:Panel>--%>
        </ContentTemplate>
    </asp:UpdatePanel>
    <div class="modal fade" id="divAuditorDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 530px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div id="dvAuditorDialog">
                        <asp:UpdatePanel ID="upPromotor" runat="server" UpdateMode="Conditional" OnLoad="upPromotor_Load">
                            <ContentTemplate>
                                <div>
                                    <div style="margin-bottom: 7px">
                                        <asp:ValidationSummary ID="ValidationSummary1" runat="server" Display="none" class="alert alert-block alert-danger fade in" ValidationGroup="PromotorValidationGroup" />
                                        <asp:CustomValidator ID="cvDuplicateEntry" runat="server" EnableClientScript="False"
                                            ValidationGroup="PromotorValidationGroup" Display="none" class="alert alert-block alert-danger fade in" />
                                    </div>
                                    <div runat="server" style="margin-bottom: 7px">
                                        <label style="width: 10px; display: block; float: left; font-size: 13px; color: red;">&nbsp;</label>
                                        <label style="width: 150px; display: block; float: left; font-size: 13px; color: #333;">
                                            Auditor Name</label>
                                        <asp:DropDownList runat="server" ID="ddlAuditor" class="form-control m-bot15" Style="width: 250px;"
                                            AutoPostBack="true" OnSelectedIndexChanged="ddlAuditor_SelectedIndexChanged" />
                                        <asp:RequiredFieldValidator ID="RequiredFieldValidator4" ErrorMessage="Select Auditor." InitialValue="-1"
                                            ControlToValidate="ddlAuditor" runat="server" ValidationGroup="PromotorValidationGroup"
                                            Display="None" />
                                    </div>
                                    <div style="margin-bottom: 7px">
                                        <label style="width: 10px; display: block; float: left; font-size: 13px; color: red;">&nbsp;</label>
                                        <label style="width: 150px; display: block; float: left; font-size: 13px; color: #333;">
                                            &nbsp;</label>
                                        <asp:RadioButtonList runat="server" ID="rblAuditRole" RepeatDirection="Horizontal" RepeatLayout="Flow" ForeColor="Black">
                                            <asp:ListItem Text="Is Audit Head"   Value="IAH"/>
                                            <asp:ListItem Text="Is Audit Manager" Value="IAM" />
                                        </asp:RadioButtonList>
                                    </div>
                                    <div style="margin-bottom: 7px">
                                        <label style="width: 10px; display: block; float: left; font-size: 13px; color: red;">*</label>
                                        <label style="width: 150px; display: block; float: left; font-size: 13px; color: #333;">
                                            First Name</label>
                                        <asp:TextBox runat="server" ID="txtFName" CssClass="form-control" autocomplete="off" Style="width: 250px;" MaxLength="100" />
                                        <asp:RequiredFieldValidator ID="RequiredFieldValidator1" ErrorMessage="First Name can not be empty." ControlToValidate="txtFName"
                                            runat="server" ValidationGroup="PromotorValidationGroup" Display="None" />
                                        <asp:RegularExpressionValidator ID="RegularExpressionValidator1" Display="None" runat="server" ValidationGroup="PromotorValidationGroup"
                                            ErrorMessage="Please enter a valid name." ControlToValidate="txtFName"
                                            ValidationExpression="^[a-zA-Z_]+[a-zA-Z0-9_ .]*$"></asp:RegularExpressionValidator>
                                    </div>
                                    <div style="margin-bottom: 7px">
                                        <label style="width: 10px; display: block; float: left; font-size: 13px; color: red;">*</label>
                                        <label style="width: 150px; display: block; float: left; font-size: 13px; color: #333;">
                                            Last Name</label>
                                        <asp:TextBox runat="server" ID="txtLName" CssClass="form-control" autocomplete="off" Style="width: 250px;" MaxLength="100" />
                                        <asp:RequiredFieldValidator ID="RequiredFieldValidator2" ErrorMessage="Last Name can not be empty." ControlToValidate="txtLName"
                                            runat="server" ValidationGroup="PromotorValidationGroup" Display="None" />
                                        <asp:RegularExpressionValidator ID="RegularExpressionValidator2" Display="None" runat="server" ValidationGroup="PromotorValidationGroup"
                                            ErrorMessage="Please enter a valid name." ControlToValidate="txtLName"
                                            ValidationExpression="^[a-zA-Z_]+[a-zA-Z0-9_ .]*$"></asp:RegularExpressionValidator>
                                    </div>
                                    <div style="margin-bottom: 7px">
                                        <label style="width: 10px; display: block; float: left; font-size: 13px; color: red;"></label>
                                        <label style="width: 150px; display: block; float: left; font-size: 13px; color: #333;">
                                            Address</label>
                                        <asp:TextBox runat="server" ID="txtAddress" CssClass="form-control" Style="width: 250px;" TextMode="MultiLine" />

                                    </div>
                                    <div style="margin-bottom: 7px">
                                        <label style="width: 10px; display: block; float: left; font-size: 13px; color: red;">*</label>
                                        <label style="width: 150px; display: block; float: left; font-size: 13px; color: #333;">
                                            Email</label>
                                        <asp:TextBox runat="server" ID="txtEmail" CssClass="form-control" autocomplete="off" Style="width: 250px;" MaxLength="100" />
                                        <asp:RegularExpressionValidator ID="RegularExpressionValidator4" Display="None" runat="server"
                                            ValidationGroup="PromotorValidationGroup" ErrorMessage="Please enter a valid email."
                                            ControlToValidate="txtEmail" ValidationExpression="^([\w-_]+\.)*[\w-_]+@([\w-_]+\.)*[\w-_]+\.[\w-_]+$"></asp:RegularExpressionValidator>
                                        <asp:RequiredFieldValidator ID="RequiredFieldValidator6" ErrorMessage="Email can not be empty." ControlToValidate="txtEmail"
                                            runat="server" ValidationGroup="PromotorValidationGroup" Display="None" />
                                    </div>
                                    <%-- <div style="margin-bottom: 7px">
                        <label style="width: 10px; display: block; float: left; font-size: 13px; color: red;">*</label>
                        <label style="width: 150px; display: block; float: left; font-size: 13px; color: #333;">
                            Password</label>
                        <asp:TextBox runat="server" ID="txtPassword" Style="height: 16px; width: 250px;" MaxLength="30" TextMode="Password" />
                        <asp:RequiredFieldValidator ID="RequiredFieldValidator7" ErrorMessage="Please Enter Password" ControlToValidate="txtPassword"
                            runat="server" ValidationGroup="PromotorValidationGroup" Display="None" />
                    </div>--%>
                                    <div style="margin-bottom: 7px">
                                        <label style="width: 10px; display: block; float: left; font-size: 13px; color: red;">*</label>
                                        <label style="width: 150px; display: block; float: left; font-size: 13px; color: #333;">
                                            Contact No</label>
                                        <asp:TextBox runat="server" ID="txtContactNo" CssClass="form-control" autocomplete="off" Style="width: 250px;" MaxLength="32" />
                                               <asp:RequiredFieldValidator ID="RequiredFieldValidator5" ErrorMessage="Contact Number can not be empty."
                                                        ControlToValidate="txtContactNo" runat="server" ValidationGroup="PromotorValidationGroup"
                                                        Display="None" />
                                                   <asp:RegularExpressionValidator ID="RegularExpressionValidator7" Display="None" runat="server"
                                                        ValidationGroup="PromotorValidationGroup" ErrorMessage="Please enter a valid contact number."
                                                        ControlToValidate="txtContactNo" ValidationExpression="^[\+\d]+(?:[\d-.\s()]*)$"></asp:RegularExpressionValidator>                
                                                   <cc1:FilteredTextBoxExtender ID="FilteredTextBoxExtender2" runat="server" FilterType="Numbers" TargetControlID="txtContactNo" />
                                                   <asp:RegularExpressionValidator ID="RegularExpressionValidator8" Display="None" runat="server"
                                                        ValidationGroup="PromotorValidationGroup" ErrorMessage="Please enter only 10 digit."
                                                        ControlToValidate="txtContactNo" ValidationExpression="[0-9]{10}"></asp:RegularExpressionValidator>

                                    </div>
                                    <div style="margin-bottom: 7px; margin-left: 200px; margin-top: 25px;">
                                        <asp:Button Text="Save" runat="server" ID="btnSave" OnClick="btnSave_Click" CssClass="btn btn-primary"
                                            ValidationGroup="PromotorValidationGroup" />
                                        <asp:Button Text="Close" runat="server" ID="btnCancel" CssClass="btn btn-primary" data-dismiss="modal" />
                                    </div>
                                    <asp:Repeater runat="server" ID="repParameters">
                                        <ItemTemplate>
                                            <div style="margin-bottom: 7px">
                                                <asp:Label runat="server" ID="lblName" Style="width: 150px; display: block; float: left; font-size: 13px; color: #333;"
                                                    Text='<%# Eval("Name")  + ":"%>' />
                                                <asp:TextBox runat="server" ID="tbxValue" CssClass="form-control" Style="height: 20px; width: 390px;" Text='<%# Eval("Value") %>'
                                                    MaxLength='<%# Eval ("Length") %>' />
                                                <asp:HiddenField runat="server" ID="hdnID" Value='<%# Eval("ValueID") %>' />
                                                <asp:HiddenField runat="server" ID="hdnEntityParameterID" Value='<%# Eval("ParameterID") %>' />
                                            </div>
                                        </ItemTemplate>
                                    </asp:Repeater>
                                    <div  style="margin-bottom: 7px; float: left; margin-left: 10px; margin-top: 10px;">
                                        <p style="color: red;"><strong>Note:</strong> (*) fields are compulsory</p>
                                    </div>
                                    <div class="clearfix" style="height: 50px">
                                </div>
                                </div>
                            </ContentTemplate>
                        </asp:UpdatePanel>
                    </div>
                </div>
            </div>
        </div>
    </div>
</asp:Content>
