﻿@model BM_ManegmentServices.VM.Director_MasterKMPUploadSecurity

<style>
    .divposition {
        position: absolute;
        width: 70%;
        margin-left: 17%;
    }
</style>
<script>
    function OnOpen()
    {

    }
    function OnRefresh()
    {

    }
    function RefreshGrid()
    {

    }
</script>
<div class="row colpadding0">
    <div class="col-md-12 colpadding0">
        <div id="DivUploadKMP">

            @using (Ajax.BeginForm("UploadKMP_SecuritiesDtls", "KMPMaster",new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivUploadKMP", OnBegin = "OnOpen", OnComplete = "OnRefresh", OnSuccess = "RefreshGrid" }, new { id = "frmKMPUpdateDetails", enctype = "multipart/form-data" }))
            {
                <div class="row colpadding0 mt30">
                    @Html.AntiForgeryToken()

                    <div class="col-md-12 divposition">
                        @if (ViewBag.SuccessMessage != null)
                    {
                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <lable>@ViewBag.SuccessMessage</lable>
                    </div>
                    }
                    </div>

                </div>

                <div class="col-md-12 divposition" >
                    @if (ViewBag.ErrorMessage != null)
                {
                <div class="alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    @foreach (var item in ViewBag.ErrorMessage)
                        {
                        <lable>@item.</lable><br />
                        }
                </div>
                }
                </div>
                <div class="col-md-12 divposition">
                    @if (ViewBag.Error != null)
                {
                        <div class="col-md-12">
                            <div class="alert alert-danger alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

                                <lable>@ViewBag.Error</lable><br />

                            </div>
                        </div>

                    }
                    </div>
                    @Html.HiddenFor(m => m.KMP_ID)
                    @Html.Hidden("Id")

                    <div class="col-md-10 colpadding0 ">

                        <span style="color:red">*</span><label class="control-label">Select File</label>

                        @Html.TextBox("file", "", new { type = "file", multiple = "multiple" })
                    </div>

                    <div class="col-md-1 colpadding0">
                        <button type="submit" class="k-primary k-button k-grid-update k-button-icontext" style="float:right">Upload</button>
                    </div>

                    <div class="col-md-1 colpadding0">
                        @*<button type="submit" class="k-primary k-button k-grid-update k-button-icontext" style="float:right">Upload</button>*@
                        <input type="button"  class="k-primary k-button k-grid-update k-button-icontext" style="float:right" value="Download" onclick="DownloadKmpSecurityDocument()"/>
                    </div>
            }
                </div>

    </div>
</div>

