﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.Director

@{
    ViewBag.Title = "Master / Key Managerial Person";
}
<style>
    #wndAdd {
        /*background: #E1DFDF;*/
        background: #F5F5F5;
        margin-top: 0%;
    }
</style>
<!-- Filter Script-->
<script>
    function filterChange() {
        var filter = { logic: 'or', filters: [] };

        //var t = $('#filter');
        //if (t.val() != "") {
        //    filter.filters.push({ logic: "or", field: "FirstName", operator: "contains", value: t.val() });
        //    filter.filters.push({ logic: "or", field: "PAN", operator: "contains", value: t.val() });
        //}

        var txtSearch = $('#filterSearch');

        if (txtSearch.val() != "") {
            var splittedData = txtSearch.val().trim().split(",");

            for (var i = 0; i < splittedData.length; i++) {
                if (splittedData[i].trim() != "") {
                    filter.filters.push({ logic: "or", field: "FirstName", operator: "contains", value: splittedData[i].trim() });
                    filter.filters.push({ logic: "or", field: "PAN", operator: "contains", value: splittedData[i].trim() });
                }
            }
        }

        if (filter != null) {
            $("#clearFilter").show();
        } else {
            $("#clearFilter").hide();
        }

        var grid = $("#gridKendo").data("kendoGrid");
        grid.dataSource.filter(filter);

    };

    function clearfilter(e) {
        var txtStartPeriod = $("#filterSearch").val();

        if (txtStartPeriod != null && txtStartPeriod != undefined) {
            $("#filterSearch").val("");
        }

        $('#clearFilter').css('display', 'none');

        $("#gridKendo").data("kendoGrid").dataSource.filter({});
    }

    $(document).ready(function () {
        var breadCrumbData = [
           {
               displayText: "Masters",
               navigateUrl: "#",
           }, {
               displayText: "Key Managerial Person",
               navigateUrl: "/BM_Management/KMPMaster/Index",
           }
        ];

        setBreadCrumb(breadCrumbData);

        $("#gridKendo .k-grid-content").css({
            "overflow-y": "scroll"
        });
    });

    var initialLoad = true;
    function onRowBound(e) {
        GetICons();
        var grid = $("#gridKendo").data("kendoGrid");
        //grid.thead.css("background-color", "green")
        getGridborder(grid);

        if (initialLoad) {
            BindAutoComplete();
            initialLoad = false;
        }
    }

    function BindAutoComplete() {
        var autoCompleteData = [];
        autoCompleteData = autoCompleteData.concat(GetGridColumnValues('gridKendo', 'FirstName'));
        autoCompleteData = autoCompleteData.concat(GetGridColumnValues('gridKendo', 'PAN'));

        if (autoCompleteData != null && autoCompleteData != undefined) {
            $("#filterSearch").kendoAutoComplete({
                dataSource: autoCompleteData,
                filter: "contains",
                placeholder: "Search by Name / PAN",
                separator: ", ",
                change: AutoComplete_onChange,
            });
        }
    }

    function AutoComplete_onChange() {
        filterChange();
    }
</script>
<div class="row Dashboard-white-widget">
    <div class="dashboard">
        @(Html.Kendo().Window()
        .Name("wndAdd")
        .Title("Add - Director Master")
        .Visible(false)
        .Modal(true)
        .Draggable(false)
        .Scrollable(true)
        .Events(e => e.Open("adjustSize"))
        .Events(e => e.Refresh("OnRefresh"))
        )
        @(Html.Kendo().Window()
        .Name("wndAddSecurityDetails")
        .Title("Add - Security Details")
        .Visible(false)
        .Modal(true)
        .Draggable(true)
      .Actions(m =>
      {
          m.Pin();
          m.Close();
      })
        .Events(e => e.Open("adjustSize"))
        .Events(e => e.Refresh("OnRefresh"))
        )
        <div class="row master-Headre">
            <div class="col-md-12 vertical-center">
                <div class="col-md-6 colpadding0">
                    <div class="input-group">
                        <input id='filterSearch' placeholder="Search by Name / PAN" class='form-control' autocomplete="off" /> @*onchange="filterChange(this)"*@
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit" style="height:34px">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-default btn-sm ClearFilterbtn" onclick="clearfilter()" id="clearFilter" style="display:none">
                        <img src="~/Areas/BM_Management/img/Vector.png" />Clear
                    </button>
                </div>
                @if (Model.CanAdd)
                {
                <div class="col-md-5 colpadding0 text-right">
                    <a class="btn btn-primary" href="/#" id="customCommand" title="Add New"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</a>
                </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success alert-dismissible fade in" role="alert" id="divdelete" style="display:none">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <label>Record deleted successfully</label>
                </div>
            </div>
        </div>
        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">
                @(Html.Kendo().Grid<BM_ManegmentServices.VM.Director_MasterVM_KMP>
            ()
            .Name("gridKendo")
            .Columns(columns =>
            {
                columns.Bound(o => o.FirstName).Title("Name").Filterable(ftb => ftb.Multi(true).
                Search(true)).
                Width("30%");
                columns.Bound(o => o.PAN).Title("PAN").Filterable(ftb => ftb.Multi(true).
                Search(true))
                .Width("30%");
                columns.Bound(o => o.DateOfBirth).Title("Date of Birth").Format("{0:dd/MM/yyyy}").Filterable(ftb => ftb.Multi(true)
                .Search(true))
                .Width("30%");
                if(Model.CanDelete || Model.CanEdit)
                { 
                columns.Command(command =>
                {
                    //command.Edit();
                    if (Model.CanEdit)
                    {
                        command.Custom("Edit").Click("CreateNew").HtmlAttributes(new { @class = "k-grid-edit hoverCircle" });
                    }
                    if (Model.CanDelete)
                    {
                        command.Custom("Delete").Click("DeletebyId").HtmlAttributes(new { @class = "k-grid-delete hoverCircle" });
                    }
                    //command.Custom("Details").Click("ShowShareDetails").HtmlAttributes(new { @class = "k-grid-edit" }).Text("Test");
                }).Title("Action").Width("10%");
            }
    })
    .EnableCustomBinding(true)
    //.ToolBar(
    //toolbar => toolbar.Custom().Text("New").HtmlAttributes(new { id = "customCommand", @class = "k-grid-add", title = "Create New" })
    //)
    .Events(e => e.DataBound("onRowBound"))
    .Navigatable()
    .Pageable(pageable => pageable
    .Refresh(false)
    .PageSizes(true)
    .ButtonCount(5))
    .Filterable()
    .Sortable()
    .Reorderable(reorderable => reorderable.Columns(true))
    .Resizable(resizable => resizable.Columns(true))
    .ColumnMenu(col => col.Columns(false))
    .DataSource(dataSource => dataSource
    .WebApi()
    .PageSize(10)
    .ServerOperation(false)
    .Model(model =>
    {
        model.Id(o => o.ID);
        model.Field(o => o.PAN);
        model.Field(o => o.DateOfBirth);
    })
    //.Create(read => read.Url("/api/DirectorMasterAPI/CreateDirector").Type(HttpVerbs.Post))
    .Read(read => read.Url("/api/KMIMasterAPI/GetKMP").Type(HttpVerbs.Get))
    //.Update(e => e.Url("/api/InfoDirectorsAPI/DeleteDirector").Type(HttpVerbs.Delete))
    //.Destroy(update => update.Url("/api/InfoDirectorsAPI/DeleteDirector").Type(HttpVerbs.Delete))
    .Events(events => events.Sync("sync_handler"))
    .Events(events => events.Error("error_handler"))
    )
                )
            </div>
        </div>
        @*@(Html.Kendo().Tooltip()
                .For(".master-headre")
            .Filter("#customCommand")
            .Position(TooltipPosition.Bottom)
            .AutoHide(true)
            .Content("Add - Key Managerial Person")
                )

                @(Html.Kendo().Tooltip()
            .For("#gridKendo")
            .Filter(".k-grid-delete")
            .Position(TooltipPosition.Bottom)
            .AutoHide(true)
            .Content("Delete")
            .Events(e => e.Show("PositionTooltip"))

                )*@
        @*@(Html.Kendo().Tooltip()
            .For("#gridKendo")
            .Filter(".k-grid-edit")
            .Position(TooltipPosition.Bottom)
            .AutoHide(true)
            .Content("Edit")
            .Events(e => e.Show("PositionTooltip"))
                )*@
    </div>
</div>
<div id="modalWindow">
    <h5>Are you sure?</h5>
    <button id="yes" class="k-button">Yes</button>
    <button id="no" class="k-button">No</button>
</div>
<script>
    var wnd;
    $(document).ready(function () {
        wnd = $("#modalWindow").kendoWindow({
            title: "Delete confirmation",
            modal: true,
            visible: false,
            resizable: false,
            draggable: false,
            width: 300
        }).data("kendoWindow");
    });

    function DeletebyId(e) {

        e.preventDefault();

        var grid = this;
        var row = $(e.currentTarget).closest("tr");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.ID;
        wnd.center().open();
        $("#yes").click(function () {
            DeleteKMP(id)
            grid.removeRow(row);
            wnd.close();
        });

        $("#no").click(function () {
            wnd.close();
        });
    }

    function DeleteKMP(id) {

        $.ajax({
            url: "/api/KMIMasterAPI/DeleteKMPData?Id=" + id,
            method: "DELETE",
            success: function (data) {
                debugger;
                $('#divdelete').fadeIn('slow', function () {
                    $('#divdelete').delay(1000).fadeOut();
                });
                $('#gridKendo').data('kendoGrid').dataSource.read();
                $('#gridKendo').data('kendoGrid').refresh();
            }
        });
    }

    function sync_handler(e) {
        this.read();
    }

    function toolTipContent(e) {
        return e.target.context.innerText;
    }

    function GetSalutation(value) {
        if (value == "1") {
            return "Mr.";
        } else if (value == "2") {
            return "Mrs.";
        } else if (value == "3") {
            return "Ms.";
        } else {
            return "Error";
        }
    }


</script>

<script>

    $("#customCommand").click(function (e) {
        e.preventDefault();
        CreateNew(e);
    });

    $("#Deletedata").click(function (e) {
        e.preventDefault();
        DeletebyId();
    });

    $("#btnclose1").click(function (e) {
        $("#wndAdd").data("kendoWindow").close();
    });

    $("#btnclose2").click(function (e) {
        $("#wndAdd").data("kendoWindow").close();
    });

    function Deletedata(e) {
        e.preventDefault();
        DeletebyId(e);
    }

    function CreateNew(e) {
        e.preventDefault();
        OnOpen('a');
        $("#wndAdd").kendoWindow({
            title: "Add New - Key Managerial Person"
        });
        //$("#wndAdd").attr("style", "min-height:100px;");
        var direction = "Create";
        var wnd = $("#wndAdd").data("kendoWindow");
        var opts = wnd.options;
        // if (!wnd) {
        if (e.currentTarget.innerText != "New") {
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            direction = "Create?Id=" + dataItem.ID;

            var wnd = $("#wndAdd").data("kendoWindow");
            var opts = wnd.options;
        } else {
            $("#wndAdd").attr("style", "min-height:100px;");
            direction = "Create?Id=" + 0;
            var wnd = $("#wndAdd").data("kendoWindow");
            var opts = wnd.options;
        }

        wnd = $("#wndAdd").kendoWindow({
            title: "Add New - Key Managerial Person",
            actions: ["Close"],
            content: direction,
            width: "95%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefresh(); },
            close: function (e) {
                $(this.element).empty();
                var grid = $("#gridKendo").data("kendoGrid");
                grid.dataSource.read();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {
                OnOpen();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        // }

        opts.width = "90%";
        opts.height = "90%";
        wnd.setOptions(opts);
        wnd.refresh(direction);
        wnd.center();
        wnd.open();
    }

    function adjustSize() {
        // if ($(window).width() < 500 || $(window).height() < 400) {
        //   this.maximize();
        // }
    }

    function OnOpen(e) {
        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }

    function OnRefresh() {
        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    $(document).on("change", "input[name='IsCAmember']", function () {
        // var checkbox = document.getElementById("startClientFromWebEnabled");
        var mimeType = document.getElementById("CS_Membersip");

        if (this.value == "True") {
            //document.getElementById('DIVIsCS').style.display = 'block';
            mimeType.setAttribute("required", "required");
            $("#csspan").text('*');
        }
        else {
            //document.getElementById('DIVIsCS').style.display = 'none';
            mimeType.removeAttribute("required");
            $("#csspan").text('');
        }
    })

    function filterProducts() {
        return {
            stateId: $("#ddlPresent_StateId").val()
        };
    }

    function onChange(e) {
        var dropdownlist = $("#ddlMarital_Status").data("kendoDropDownList");
        var mimeType = document.getElementById("SpouseName");
        if (dropdownlist.selectedIndex == 1) {
            mimeType.setAttribute("required", "required");
            $("#spanspouse").text('*');
            $("#SpouseName_validationMessage").show();
        }
        else if (dropdownlist.selectedIndex == 2) {
            mimeType.removeAttribute("required");
            $("#spanspouse").text('');
            $("#SpouseName_validationMessage").hide();
        }
        else if (dropdownlist.selectedIndex == 3) {
            mimeType.setAttribute("required", "required");
            $("#spanspouse").text('*');
            $("#SpouseName_validationMessage").show();
        }
        else if (dropdownlist.selectedIndex == 4) {
            mimeType.setAttribute("required", "required");

            $("#spanspouse").text('*');
            $("#SpouseName_validationMessage").show();
        }
    }

    function filterProductsforcity() {
        return {
            stateId: $("#ddlPermenant_StateId").val()
        };
    }

    function dropdownlist_dataBound() {
        var ddlReg_CityId = $("#ddlPermenant_CityId").data("kendoDropDownList");
        var ddlCorp_CityId = $("#ddlPresent_CityId").data("kendoDropDownList");
        var cityId = ddlReg_CityId.value();
        ddlCorp_CityId.value(cityId);
    }

    $(document).on("change", "input[name='IsSameAddress']", function () {

        if (this.value == "True") {
            $('#Present_Address_Line1').val($('#Permenant_Address_Line1').val());
            $('#Present_Address_Line2').val($('#Permenant_Address_Line2').val());
            $('#Present_PINCode').val($('#Permenant_PINCode').val());

            var ddlReg_StateId = $("#ddlPermenant_StateId").data("kendoDropDownList");
            var ddlCor_StateId = $("#ddlPresent_StateId").data("kendoDropDownList");
            var Reg_StateId = ddlReg_StateId.value();
            var Corp_StateId = ddlCor_StateId.value();
            ddlCor_StateId.value(Reg_StateId);

            var ddlCorp_CityId = $("#ddlPresent_CityId").data("kendoDropDownList");
            if (Reg_StateId == Corp_StateId) {
                var ddlReg_CityId = $("#ddlPermenant_CityId").data("kendoDropDownList");
                var ddlCorp_CityId = $("#ddlPresent_CityId").data("kendoDropDownList");
                var cityId = ddlCorp_CityId.value();
                ddlCorp_CityId.value(cityId);
            }
            else {

                ddlCorp_CityId.bind("dataBound", dropdownlist_dataBound);
            }
        } else {
            $('#Present_Address_Line1').val("");
            $('#Present_Address_Line2').val("");
            $('#Present_PINCode').val("");
            $("#ddlPresent_StateId").data("kendoDropDownList").value("");
            $("#ddlPresent_CityId").data("kendoDropDownList").value("");
        }
    });

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

</script>
<!-- Filter Script-->
