﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.ReviewerRemark
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;

@*<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2021.1.119/styles/kendo.default-v2.min.css" />
<script src="https://kendo.cdn.telerik.com/2021.1.119/js/jquery.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2021.1.119/js/kendo.all.min.js"></script>*@

<style>
    .k-content {
        margin-top: !important;
    }

    .k-content > .k-panelbar > li.k-state-default > .k-link {        
        border-top: 1px solid #c5c5c5;
    }
</style>
<style>
    .reviewer {
        background: greenyellow;
        max-width: 120px;
        white-space: pre-wrap;
        /*line-height: normal;*/
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 20px;
        border-bottom-left-radius: 1px;
        min-height: 20px;
    }

    .peformer {
        background: #ccc7c7;
        max-width: 130px;
        white-space: pre-wrap;
        padding-left: 12px;
        padding-right: 10px;
        border-radius: 20px;
        border-bottom-right-radius: 1px;
        margin-left: 45px;
        min-height: 20px;
    }

    .review-time {
        font-size: 10px;
    }

    #gridReviewTransactions.k-grid td {
        line-height: normal;
        /*line-height: 1.8em;*/
    }

    #gridReviewTransactionsNew.k-grid .k-header {
        display: none;
    }

    #gridReviewTransactionsNew .k-alt {
        background-color: #ffffff;
    }

    #gridReviewTransactionsNew .k-grid tr {
        background-color: #ffffff;
    }

    #gridReviewTransactionsNew.k-grid tr {
        box-shadow: none;
    }

    #gridReviewTransactionsNew td.k-command-cell {
        border-width: 0 0px 0 0px;
    }

    #wndReviewComments table.k-widget.k-editor.k-header {
        border-style: none;
    }

    #wndReviewComments {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

    #panelbarReviewTabs .k-panelbar > li.k-state-default > .k-link.k-state-selected, .k-panelbar > li > .k-state-selected {
    background: #E8F0FE;
    /*font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;*/
    color: #066999;
    /*line-height: 50px;*/
    }

    .k-panelbar > li.k-state-default > .k-link
    {
        background: #E8F0FE;
        color: #066999;
    }
</style>
<script>
    function onRowBoundGridReviewTransactionsNew(){
        GetICons();
    }

    function showReviewTransactionComment(e){
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        $("#wndReviewComments").kendoWindow({
            title: "Remark",
            modal: true
        });

        var wnd = $("#wndReviewComments").data("kendoWindow");
        var opts = wnd.options;

        var editor = $("#editorReviewRemark").data("kendoEditor");
        editor.body.contentEditable = false;

        if(dataItem.Remark != null){
            editor.body.innerHTML = "<div style='user-select:none;'>" + dataItem.Remark.replace(/\n/g, "<br />") + "</div>";
        }
        else{
            editor.body.innerHTML = "<div style='user-select:none;'>" + dataItem.Remark + "</div>";
        }

        opts.width = "45%";
        opts.height = "250";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
        //wndReviewComments
    }
    function getReviewLogTooltip(e) {
        var dataItem = $("#gridReviewTransactions").data("kendoGrid").dataItem(e.target.closest("tr"));
        return dataItem.UserName;
    }

    function getRatingTooltip(e) {
        var treeview = $("#treeview1").data("kendoTreeView");
        var uid = e.target[0].dataset.uid;
        var item = treeview.dataSource.getByUid(uid);
        return item.AgendaOrFileName == undefined ? "" : item.AgendaOrFileName;
    }

    function getAdditionalData() { return { meetingId : @Model.MeetingId} }
    function getDataForReviewTransaction() { return { taskId : @Model.TaskId} }

    $("#divtreeview1Parent").on("click", ".k-i-close", function (e) {
        e.preventDefault();

        if (confirm("Are you sure?")) {
            var divAgendaMinutesReviewMsg = $("#divAgendaMinutesReviewMsg");
            divAgendaMinutesReviewMsg[0].innerHTML = "";

            var wnd = $("#wndAgendaPreview").data("kendoWindow");
            kendo.ui.progress(wnd.element, true);

            var treeview = $("#treeview1").data("kendoTreeView");
            var uid = $(this).closest(".k-item")[0].dataset.uid;;
            var id = 0, mid = 0 ;var exitFlag = false;
            //
            var treeviewData = treeview.dataSource.data();
            for (var i = 0; i < treeviewData.length; i++) {
                if(treeviewData[i].hasChildren){
                    for (var j = 0; j < treeviewData[i].children.data().length; j++) {
                        if(uid == treeviewData[i].children.data()[j].uid){
                            id = treeviewData[i].children.data()[j].id;
                            mid = treeviewData[i].children.data()[j].ParentID;
                            exitFlag = true;
                            break;
                        }
                    }
                }
                    if(exitFlag){
                        break;
                    }
            }
            //
            if(id > 0 && mid > 0){
                $.ajax({
                    url: "@Url.Action("DeleteSecretarialFileByMappingId", "FileData")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: "{id : " + id+ ", meetingAgendaMappingId : " + mid +", meetingId : @Model.MeetingId}",
                    success: function (result) {
                        if(result.Success){
                            $("#btnRefreshDoc").removeClass("hidden");
                            divAgendaMinutesReviewMsg[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success'> <lable>Deleted Successfully.</lable></div></div></div>";
                        }
                        else{
                            divAgendaMinutesReviewMsg[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-danger'> <lable>" + result.Message + "</lable></div></div></div>";
                        }

                        kendo.ui.progress(wnd.element, false);
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.log(textStatus, errorThrown);
                        kendo.ui.progress(wnd.element, false);
                    }
                });
            }
            treeview.remove($(this).closest(".k-item"));
        }
        //var treeview = $("#treeview1").data("kendoTreeView");
        //treeview.remove($(this).closest(".k-item"));
    });

    $("#divtreeview1Parent").on("click", ".k-i-edit", function (e) {
        e.preventDefault();
        var treeview = $("#treeview1").data("kendoTreeView");
        var uid = $(this).closest(".k-item")[0].dataset.uid;;
        var item = treeview.dataSource.getByUid(uid);
        editAgendaReview(@Model.MeetingId,@Model.TaskId, @Model.Id, item.id, item.AgendaReviewId, @(Model.CanAcceptChanges == true ? "1" : "0"));
    });

    $("#divtreeview1Parent").on("click", ".k-i-track-changes", function (e) {
        e.preventDefault();
        var treeview = $("#treeview1").data("kendoTreeView");
        var uid = $(this).closest(".k-item")[0].dataset.uid;;
        var item = treeview.dataSource.getByUid(uid);
        editAgendaReview(@Model.MeetingId,@Model.TaskId, @Model.Id, item.id, item.AgendaReviewId, @(Model.CanAcceptChanges == true ? "1" : "0"));
    });

    $("#divtreeview1Parent").on("click", ".k-i-add", function (e) {
        e.preventDefault();
        var treeview = $("#treeview1").data("kendoTreeView");

        var uid = $(this).closest(".k-item")[0].dataset.uid;;
        var item = treeview.dataSource.getByUid(uid);
        viewAgendaDocumentsUpload(item.id);
    });

    function showHideIcon(){
        var data = $("#treeview1").data("kendoTreeView").dataSource.data();
        for(var i=0; i< data.length; i++){
            if(data[i].hasChildren){

            }
        }
    }

    function htmlDecode(value) {
        return value.replace(/&lt;/g, "<").replace(/&gt;/g, ">");
    }

    function allowEditOperation(){
        var editFlag = $("#hdnAllowEditOperations").val();
        if(editFlag == "1"){
            return false;
        }else{
            return '@Model.StatusId' == '1' || '@Model.AllowFinalizeReview' == 'True' || '@Model.AllowFinalizeReview' == 'true' ? true : false;
        }
    }
    function getReviewLogTemplate(data){
        var t = "";
        var title = data.UserName;
        var d = '';
        if(data.UpdatedOn != null){
            //d = moment(data.UpdatedOn).startOf('day').fromNow();
            //d = moment(data.UpdatedOn).format("LLL");
            //d = moment(data.UpdatedOn).format("MMM dd YYYY, h:mm a");
        }
        if(data.RoleId == 3){
            t = "<div><div class='peformer pull-right' title='"+ title+"'>"+data.Remark+"</div></div>";
            //t = "<div><div class='peformer pull-right' title='"+ title+"'><span class='review-time'>"+d+"</span><br>"+data.Remark+"</div></div>";
        }
        else{
            t = "<div><div class='reviewer pull-left' title='"+ title+"'>"+data.Remark+"</div></div>";
        }
        return t;
    }

    function getRemarkTemplate(r){
        if(r.length > 12){
            return "<div style='max-width:10px; white-space:nowrap;'>"+ r.substring(0,12)+" ...</div>";
        }
        else{
            return "<div style='max-width:10px; white-space:nowrap;'>"+r+"</div>";
        }
    }

    function closeReviewCommentsWindow(){
        var wnd = $("#wndReviewComments").data("kendoWindow");
        wnd.close();
    }
</script>
<script id="treeview-template" type="text/kendo-ui-template">

    # if(allowEditOperation()) {#
    # if (!item.items) { #
    #=GetFileExtType(item.text)#
    <span class="k-agenda-item-doc" title="#= item.AgendaOrFileName #">#= (item.text.length>12 ? item.text.substring(0,12) :  item.text)  #</span>
    <span class='k-icon k-i-close'></span>
    # } else { #
    <span class="k-agenda-item" title="#= htmlDecode(item.AgendaOrFileName) #"> #= "Item No " + item.ItemNo # </span>
    <span class='k-icon k-i-edit'></span>
    <span class='k-icon k-i-add'></span>

    #if(item.HasChanges){#
    <span class='k-icon k-i-track-changes'></span>
    #} else if(item.HasComment){#
    <span class='k-icon k-i-comment'></span>
    #}#

    # } #
    #} else {#
        # if (!item.items) { #
        #=GetFileExtType(item.text)#
        <span class="k-agenda-item-doc" title="#= item.AgendaOrFileName #">#= (item.text.length>15 ? item.text.substring(0,15) :  item.text)  #</span>
        # } else { #
        <span class="k-agenda-item" title="#= htmlDecode(item.AgendaOrFileName) #"> #= "Item No " + item.ItemNo # </span>
        # } #
    #}#
</script>

@(Html.Kendo().Window().Name("wndAgendaDocument").Title("Agenda Document").Visible(false).Modal(true).Draggable(false).Pinned(true))
@(Html.Kendo().Window().Name("wndReviewComments").Title("Remark").Visible(false).Modal(true).Draggable(true).Scrollable(true)
                                    .Content(@<text>
                        <div>
                            @(Html.Kendo().Editor().Name("editorReviewRemark")
                                                                .HtmlAttributes(new { style = "height:200px;user-select:none;border:0;" })
                                                                .Encode(false)
                                                                .Tools(t => t.Clear())
                            )
                        </div>
                        <div style="text-align: center;" class="mt10">
                            <input class="btn btn-primary" type="button" value="Close" onclick="closeReviewCommentsWindow()" />
                        </div>
                                    </text>)
)

<div id="divAgendaMinutesReviewMsg"></div>

<div id="divAgendaMinutesReview">
    <div class="row colpadding0">
        <div class="col-md-2 colpadding0">

            <div style="min-height:300px;overflow-y:auto">
                <div class="demo-section k-content">
                    <ul class="k-widget k-panelbar k-reset k-header" id="panelbarReviewTabs" data-role="panelbar" tabindex="0" role="menu">
                        <li class="k-item k-state-default k-first k-state-active" aria-expanded="true" role="menuitem">
                            <span class="k-link k-header">Agenda <span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span></span>

                            <div id="divtreeview1Parent" style="max-height:280px;overflow-y:auto;overflow-x:hidden;">
                                <div id="treeview1"></div>
                            </div>

                            <div style="text-align: center;">
                                <input id="btnSaveDocOrder" class="btn btn-primary hidden" type="button" value="Save" onclick="saveDocOrder()" />
                                <input id="btnRefreshDoc" class="btn btn-primary hidden" type="button" value="Preview" onclick="loadDocument('Preview')" />
                            </div>


                            @if (Model.StatusId == 1 && Model.AllowApproveReview == true && Model.AllowFinalizeReview == false)
                            {
                                if (Model.DueDate >= DateTime.Today)
                                {
                                    <div id="divReviewerCommands">
                                        <div style="padding:5px;">
                                            @Html.TextAreaFor(m => m.Remark, new { @Id = "Remark", @style = "width:100%; height:100px;resize: none;", @class = "k-textbox", @spellcheck = "true", placeholder = "Remark" })
                                        </div>
                                        <div style="text-align: center;padding-bottom :5px;">
                                            <input id="btnApproveReview" onclick="btnApproveReviewClick('7')" class="btn btn-primary" type="button" value="Approve" />
                                            <input id="btnRejectReview" onclick="btnApproveReviewClick('6')" class="btn btn-primary" type="button" value="Revert" />
                                        </div>
                                    </div>
                                }
                            }

                            @if (Model.AllowFinalizeReview == true && Model.StatusId != 1 && Model.StatusId != 4 && Model.StatusId != 5) 
                            {
                                <div id="divPerformerCommands">
                                    <div style="padding:5px;">
                                        @Html.TextAreaFor(m => m.Remark, new { @Id = "Remark", @style = "width:100%; height:100px;resize: none;", @class = "k-textbox", @spellcheck = "true", placeholder = "Remark" })
                                    </div>
                                    <div style="text-align: center;padding-bottom :5px;">
                                        <input id="btnFinalizeReview" onclick="btnFinalizeReviewClick()" class="btn btn-primary" type="button" value="Mark as Final" />
                                        <input id="btnReSendReview" onclick="btnReSendReviewClick()" class="btn btn-primary" type="button" value="Resend" />
                                    </div>
                                </div>
                            }
                        </li>

                        <li class="k-item" aria-expanded="true" role="menuitem">
                            <span class="k-link k-header">Remarks History<span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span></span>
                            
                            @(Html.Kendo().Grid<BM_ManegmentServices.VM.ReviewTransactionVM>()
                                        .Name("gridReviewTransactionsNew")
                                        .Columns(columns =>
                                        {
                                            columns.Bound(p => p.Id).ClientTemplate("#=getRemarkTemplate(data.Remark)#").HtmlAttributes(new { @title = "#=data.UserName# #= data.UpdatedOn == null ? '' : kendo.toString(UpdatedOn, \"MMM dd, yyyy hh:mm tt\")#" });
                                            columns.Command(command =>
                                            {
                                                command.Custom("v").Click("showReviewTransactionComment").HtmlAttributes(new { @class = "k-grid-view" });
                                            }).Title("Action").Width("35%");
                                        })
                                        .Events(e => e.DataBound("onRowBoundGridReviewTransactionsNew"))
                                        .Navigatable()
                                        .Filterable()
                                        .Sortable()
                                        .Reorderable(reorderable => reorderable.Columns(true))
                                        .Resizable(resizable => resizable.Columns(true))
                                        .ColumnMenu()
                                        .DataSource(dataSource => dataSource
                                        .WebApi()
                                        .ServerOperation(false)
                                        .Model(model =>
                                        {
                                            model.Id(o => o.Id);
                                            model.Field(o => o.UpdatedOn);
                                        })
                                        .Read(read => read.Url("/api/TaskAPI/GetReviewLog").Data("getDataForReviewTransaction").Type(HttpVerbs.Get))
                                     ))

                        </li>
                    </ul>
                </div>
            </div>

            @Html.Hidden("hdnAllowEditOperations")

        </div>
        <div class="col-md-10 colpadding0">
            <div style="overflow-y :hidden;">
                <iframe id="IframeAgendaMinutes" src="about:blank" frameborder="0" height="530px" width="100%">
                    <div class="chart-loading"></div>
                </iframe>
            </div>
        </div>

        <div class="col-md-10 colpadding0">
            <div id="timeline"></div>
        </div>
    </div>
</div>

<script>

    // The literals in this example use the default field names the widget takes.
    var eventsData = [
        {
            description: "First event description.",
            date: new Date(2015, 4, 15),
            title: "Barcelona \u0026 Tenerife",
            subtitle: "May 15, 2015",
            images: [
                {
                    src: "https://demos.telerik.com/aspnet-mvc/tripxpert/Images/Gallery/Barcelona-and-Tenerife/Arc-de-Triomf,-Barcelona,-Spain_Liliya-Karakoleva.JPG?width=500&amp;height=500"
                }
            ],
            actions: [
                {
                    text: "More info about Barcelona",
                    url: "https://en.wikipedia.org/wiki/Barcelona"
                }
            ]
        },
        {
            description: "The second event description.",
            date: new Date(2018, 1, 27),
            title: "United States East Coast Tour",
            subtitle: "Feb 27, 2018",
            images: [
                {
                    src: "https://demos.telerik.com/aspnet-mvc/tripxpert/Images/Gallery/United-States/Boston-Old-South-Church_Ivo-Igov.JPG?width=500&amp;height=500"
                }
            ],
            actions: [
                {
                    text: "More info about New York City",
                    url: "https://en.wikipedia.org/wiki/New_York_City"
                }
            ]
        },
        {
            description: "Third event description.",
            date: new Date(2015, 5, 25),
            subtitle: "My second trip this year",
            title: "Malta, a Country of Кnights",
            images: [
                {
                    src: "https://demos.telerik.com/aspnet-mvc/tripxpert/Images/Gallery/Malta/Bibliotheca-National-Library_Marie-Lan-Nguyen.JPG?width=500&amp;height=500"
                }
            ],
            actions: [
                {
                    text: "More info about Malta",
                    url: "https://en.wikipedia.org/wiki/Malta"
                }
            ]
        }
    ];

        $(document).ready(function () {
            //$("#timeline").kendoTimeline({
            //    dataSource: {
            //        data: eventsData, // Defined later in this snippet.,
            //      schema: {
            //        model: {
            //          fields: {
            //            date: {
            //              type: "date"
            //            }
            //          }
            //        }
            //      }
            //    },
            //    alternatingMode: true,
            //    collapsibleEvents: true,
            //    orientation: "vertical"
            //});
        });
</script>

<div>
    @(Html.Kendo().Tooltip()
        .For("#btnFinalizeReview")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Complete the Review Process")
)
    @(Html.Kendo().Tooltip()
        .For("#btnReSendReview")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Send back to Reviewer")
)
    @(Html.Kendo().Tooltip()
        .For("#divtreeview1Parent")
        .Filter(".k-agenda-item")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
)
    @(Html.Kendo().Tooltip()
        .For("#divtreeview1Parent")
        .Filter(".k-agenda-item-doc")
        .Position(TooltipPosition.Right)
        .Width(150)
        .AutoHide(true)
)
    @(Html.Kendo().Tooltip()
            .For("#divtreeview1Parent")
            .Filter(".k-i-edit")
            .Position(TooltipPosition.Top)
            .AutoHide(true)
            .Content("Edit - Agenda Item")
)
    @(Html.Kendo().Tooltip()
            .For("#divtreeview1Parent")
            .Filter(".k-i-track-changes")
            .Position(TooltipPosition.Top)
            .AutoHide(true)
            .Width(100)
            .Content("Track Changes")
)
    @(Html.Kendo().Tooltip()
            .For("#treeview1")
            .Filter(".k-i-arrow-up")
            .Position(TooltipPosition.Top)
            .AutoHide(true)
            .Content("Move Up")
)
    @(Html.Kendo().Tooltip()
            .For("#treeview1")
            .Filter(".k-i-arrow-down")
            .Position(TooltipPosition.Top)
            .AutoHide(true)
            .Content("Move Down")
)
    @(Html.Kendo().Tooltip()
            .For("#divtreeview1Parent")
            .Filter(".k-i-close")
            .Position(TooltipPosition.Top)
            .AutoHide(true)
            .Content("Delete Document")
)
    @(Html.Kendo().Tooltip()
            .For("#divtreeview1Parent")
            .Filter(".k-i-close")
            .Position(TooltipPosition.Top)
            .AutoHide(true)
            .Content("Delete Document")
)
    @(Html.Kendo().Tooltip()
            .For("#divtreeview1Parent")
            .Filter(".k-i-add")
            .Position(TooltipPosition.Top)
            .AutoHide(true)
            .Content("Add Document")
)
    @(Html.Kendo().Tooltip()
            .For("#divAgendaMinutesReview")
            .Filter(".peformer")
            .Position(TooltipPosition.Top)
            .Width(120)
            .AutoHide(true)
)
    @(Html.Kendo().Tooltip()
            .For("#divAgendaMinutesReview")
            .Filter(".reviewer")
            .Position(TooltipPosition.Top)
            .Width(120)
            .AutoHide(true)
)
    @(Html.Kendo().Tooltip()
            .For("#gridReviewTransactionsNew")
            .Filter("td:nth-child(1)")
            .Width(150)
            .Position(TooltipPosition.Top)
            .AutoHide(true) )
    @(Html.Kendo().Tooltip()
        .For("#gridReviewTransactionsNew")
        .Filter(".k-grid-v")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("View")
    )
</div>

<script>
    function saveDocOrder(){
        docViewerLoading();
        var treeView = $("#treeview1").data("kendoTreeView");
        var model = { items: [] };

        var treeviewData = treeView.dataSource.data();
        for (var i = 0; i < treeviewData.length; i++) {
            if(treeviewData[i].dirty){
                var aa = treeviewData[i].children.data();
                for (var j = 0; j < treeviewData[i].children.data().length; j++) {

                    treeviewData[i].children.data()[j].SrNo = (j+1);
                    treeviewData[i].children.data()[j].dirty = true;
                    model.items.push({"FileID" : treeviewData[i].children.data()[j].id, "SrNo" : (j + 1)});
                }
            }
        }

        $.ajax({
            url: "@Url.Action("SetDocumentOrder", "MyReview")",
            type: "POST",
            data: JSON.stringify({ 'model': model.items , 'meetingId' : @Model.MeetingId}),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (result) {
            docViewerOnLoad();
            $("#btnSaveDocOrder").addClass("hidden");
            loadTreeViewData(true);
        },
        error : function(jqXHR, textStatus, errorThrown){
            docViewerOnLoad();
        }
        });
    }

    function treeViewDrop(dropEvent) {
        var treeView = $("#treeview1").data("kendoTreeView");
        var destination = treeView.dataItem(dropEvent.destinationNode);
        var source = treeView.dataItem(dropEvent.sourceNode);

        //if (destination.ParentID != source.ParentID) {
        //    alert("called");
        //    dropEvent.setValid(false);
        //}else if (destination.ParentID == 0 && source.ParentID == 0) {
        //    alert("called");
        //    dropEvent.setValid(false);
        //}

        //alert(dropEvent.dropPosition);
        //if (destination.id == source.ParentID || destination.ParentID == source.ParentID) {
        if (destination.ParentID == source.ParentID && dropEvent.dropPosition != "over") {
            //if(destination.hasChildren == false){
            //    alert("called");
            //    dropEvent.setValid(false);
            //}
            dropEvent.setValid(true);

            var treeviewData = treeView.dataSource.data();
            for (var i = 0; i < treeviewData.length; i++) {
                if(treeviewData[i].id == destination.ParentID){
                    treeviewData[i].dirty = true;

                    for (var j = 0; j < treeviewData[i].children.data().length; j++) {
                        treeviewData[i].children.data()[j].SrNo = (j+1);
                        treeviewData[i].children.data()[j].dirty = true;
                    }
                }
            }
            $("#btnSaveDocOrder").removeClass("hidden");
        }else{
            dropEvent.setValid(false);}
    }

    $(document).ready(function () {
        loadTreeViewData(false);
        loadDocument();

        window.myfunction = function () {
            var wnd = $("#wndAgendaPreview").data("kendoWindow");
            kendo.ui.progress(wnd.element, false);
        }

        window.myfunctionRefreshDoc = function () {
            loadTreeViewData(true);
        }

        window.ReviewWindowOnLoad = function () {
            editReviewWindowOnLoad();
        }
    });

    function loadDocument(p){
       docViewerLoading();
       $('#IframeAgendaMinutes').attr('src', "@Url.Content("~/Areas_Secretarial/AgendaDocumentViewerSyncfusion.aspx")?meetingId=@Model.MeetingId"+"&assignmentId="+ @Model.Id +"&mode="+p);
    }

    function loadTreeViewData(v){
        $.ajax({
            url: "@Url.Action("ReviewAgendaDocumentData", "MyReview")"+"?meetingId=@Model.MeetingId"+"&taskId=" + @Model.TaskId +"&assignmentId="+ @Model.Id,
            type: "Get",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            //data: '{}',
            success: function (result) {

                bindTreeView(result);
                if(v == true){
                    //loadDocument();
                    $("#btnRefreshDoc").removeClass("hidden");
                }
            }
        });
    }

    function bindTreeView(data){
        var result = { items: [] };
        var SubResult = { items: [] };

        var lookupItems = {};

        for (var i = 0; i < data.length; i++) {
            if(data[i].Category == 'A' && !(data[i].ID in lookupItems)){
                lookupItems[data[i].ID] = 1;
                result.items.push( { "id": data[i].ID, "text": data[i].ItemNo, "expanded": true, "items": [], "ItemNo" : data[i].ItemNo, "ParentID" : 0, "AgendaOrFileName": data[i].AgendaOrFileName, "AgendaReviewId" : data[i].AgendaReviewId, "HasChanges" : data[i].HasChanges, "HasComment" : data[i].HasComment  } );
            }
        }

        for (var i = 0; i < data.length; i++) {
            for (var j = 0; j < result.items.length; j++) {
                if(data[i].Category == 'D' && data[i].ParentID == result.items[j].id){
                    var SrNo = result.items[j].items.length + 1;
                    result.items[j].items.push({ "id": data[i].ID, "text": data[i].AgendaOrFileName, "SrNo" :  SrNo, "ParentID" : data[i].ParentID, "AgendaOrFileName": data[i].AgendaOrFileName, "HasChanges" : false, "HasComment" : false});
                }
            }
        }

        var ds = new kendo.data.HierarchicalDataSource({
            data: result.items,
        });

        $("#divtreeview1Parent")[0].innerHTML = "<div id='treeview1'></div>";

        var allowDragAndDrop = allowEditOperation();

        $("#treeview1").kendoTreeView({
            template: kendo.template($("#treeview-template").html()),
            dataSource:  ds,
            dragAndDrop: allowDragAndDrop,
            drop: treeViewDrop,
            //checkboxes: {
            //    checkChildren: true
            //},
            loadOnDemand: true,
        });
    }

    function viewAgendaDocumentsUpload(mappingId) {
        $("#wndAgendaDocument").kendoWindow({
            modal: true
        });

        var direction = "@Url.Action("AgendaDocumentsListForReview", "Meetings")"+"?MeetingAgendaMappingID=" + mappingId +"&AgendaDocumentMeetingID=@Model.MeetingId";

        $("#wndAgendaDocument").attr("style", "min-height:350px;");

        var wnd = $("#wndAgendaDocument").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndAgendaDocument").kendoWindow({
            actions: ["Close"],
            content: direction,
            width: "55%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            open: function () { kendo.ui.progress(this.element, true); },
            close: function (e) {
                $(this.element).empty();
                GetICons();
            }
        }).data("kendoWindow");

        opts.width = "55%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }
    function btnApproveReviewClick(statusId){
        docViewerLoading();
        var divAgendaMinutesReviewMsg = $("#divAgendaMinutesReviewMsg");
        divAgendaMinutesReviewMsg[0].innerHTML = "";

        var model = new Object();
        model.Id = "@Model.Id";
        model.StatusId = statusId;
        model.Remark = $("#Remark").val();
        $.ajax({
            url: "@Url.Action("SaveAgendaDocumentReview", "MyReview")"+"?meetingId=@Model.MeetingId",
            type: "Post",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data : JSON.stringify(model),
            success: function (result) {
                docViewerOnLoad();
                if(result.Result.Success){

                    $("#divReviewerCommands").addClass('hidden');

                    $("#btnApproveReview").addClass("hidden");
                    $("#hdnAllowEditOperations").val('1');
                    divAgendaMinutesReviewMsg[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success'> <lable>Save Successfully.</lable></div></div></div>";
                    loadTreeViewData(false);
                    if($('#gridKendo').data('kendoGrid') != null){
                        $('#gridKendo').data('kendoGrid').dataSource.read();
                    }
                }
                else{
                    divAgendaMinutesReviewMsg[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-danger'> <lable>" + result.Result.Message + "</lable></div></div></div>";
                }
            }
        });
    }

    function btnFinalizeReviewClick(){
        docViewerLoading();
        var remark = $("#Remark").val();
        var divAgendaMinutesReviewMsg = $("#divAgendaMinutesReviewMsg");
        divAgendaMinutesReviewMsg[0].innerHTML = "";
        var treeView = $("#treeview1").data("kendoTreeView");
        var pendingTrackChanges = false;
        var treeviewData = treeView.dataSource.data();
        for (var i = 0; i < treeviewData.length; i++) {
            if(treeviewData[i].HasChanges){
                pendingTrackChanges = true;
                break;
            }
        }
        if(pendingTrackChanges){
            divAgendaMinutesReviewMsg[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-danger'> <lable>Please accept or reject all changes.</lable></div></div></div>";
            docViewerOnLoad();
        }
        else{
            $.ajax({
                url: "@Url.Action("MergeReviewChanges", "MyReview")",
                data: "{taskId: " + @Model.TaskId + ", taskAssignmentId:'" + @Model.Id + "', remark :'"+ remark +"'}",
                type: "Post",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    docViewerOnLoad();
                    if(result.Result.Success){

                    $("#divPerformerCommands").addClass('hidden');
                    $("#hdnAllowEditOperations").val('1');
                    loadTreeViewData(false);
                    //alert('Merged successfully');
                    divAgendaMinutesReviewMsg[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success'> <lable>Save Successfully.</lable></div></div></div>";

                    if($('#gridAgendaMinutesReview').data('kendoGrid') != null){
                        $('#gridAgendaMinutesReview').data('kendoGrid').dataSource.read();
                    }
                }
                else{
                    divAgendaMinutesReviewMsg[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-danger'> <lable>" + result.Result.Message + "</lable></div></div></div>";
                }
                    }
                });
        }
    }

    function btnReSendReviewClick(){
        docViewerLoading();
        //Remark
        var model = new Object();
        model.Id = "@Model.Id";
        model.TaskId = " @Model.TaskId";
        model.Remark = $("#Remark").val();

        var divAgendaMinutesReviewMsg = $("#divAgendaMinutesReviewMsg");
        divAgendaMinutesReviewMsg[0].innerHTML = "";
        $.ajax({
            url: "@Url.Action("ReSendChangesForReview", "MyReview")",
            data: JSON.stringify(model),
        type: "Post",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (result) {
            docViewerOnLoad();
            if(result.Result.Success){
                $("#divPerformerCommands").addClass('hidden');
                $("#hdnAllowEditOperations").val('1');
                //alert('Re-send successfully');
                divAgendaMinutesReviewMsg[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success'> <lable>Save Successfully.</lable></div></div></div>";
                loadTreeViewData(false);
                if($('#gridAgendaMinutesReview').data('kendoGrid') != null){
                    $('#gridAgendaMinutesReview').data('kendoGrid').dataSource.read();
                }
            }
            else{
                divAgendaMinutesReviewMsg[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-danger'> <lable>" + result.Result.Message + "</lable></div></div></div>";
            }
        }
    });
    }
</script>

<script>
    $(document).ready(function () {
        $("#panelbarReviewTabs").kendoPanelBar({
            expandMode: "single"
        });
    });
</script>