﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.AgendaMinutesTaskVM
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;

<style>
    .k-state-disabled {
        opacity: .7;
        cursor: not-allowed !important;
    }

    /*#gridAgendaMinutesReview .k-grid-content.k-auto-scrollable {
    height: 420px;
    }*/

    #gridAgendaMinutesReview .k-grid-content {
        min-height: 390px;
        max-height: 390px;
        overflow: hidden;
    }
</style>

<script>
        $(document).ready(function () {
            $("#btnAddNewReview").click(function (e) {
                e.preventDefault();
                CreateAgendaMinutesReview('@Model.TaskEnitytId','@Model.TaskMeetingId',0,'@Model.TaskTypeId');
            });
        });

        function CreateAgendaMinutesReview(e, m, i, t) {
            $("#wndAgendaMinutesReviewAddEdit").attr("style", "min-height:250px;min-width:540px;");
            var wnd = $("#wndAgendaMinutesReviewAddEdit").data("kendoWindow");
            var opts = wnd.options;

            var direction = "@Url.Action("AddEditAgendaMinutesTask", "Meetings")" + "?meetingId=" + m + "&entityId=" + e + "&taskId=" + i + "&taskType=" + t;

            wnd = $("#wndAgendaMinutesReviewAddEdit").kendoWindow({
                actions: ["Close"],
                content: direction,
                visible: false,
                modal: true,
                refresh: function () { this.center(); },
                open: function () { kendo.ui.progress(wnd.element, true); },
                close: function (e) {
                    $(this.element).empty();
                    $('#gridAgendaMinutesReview').data('kendoGrid').dataSource.read();
                }
            }).data("kendoWindow");
            //opts.width = "45%";
            wnd.setOptions(opts);
            wnd.center();
            wnd.open();
        }

    function closeAgendaMinutesReviewWnd() {
        var wnd = $("#wndAgendaMinutesReviewAddEdit").data("kendoWindow");
        wnd.close();
    }

        var rowNumbers1 = 0;
        function filterAgendaTaskDetails() {
            return { entityId: "@Model.TaskEnitytId", meetingId: "@Model.TaskMeetingId", taskType: "@Model.TaskTypeId", maxTaskAssignmentId: "@Model.MaxTaskAssinmentId" }
        }

        function onRowBoundsAgendaMinutesReview(e) {
            $(".k-grid-View").find("span").append("<img id='theImg2' src='/Images/View.png'/>");
            var page = e.sender.dataSource.page();
            var pageSize = e.sender.dataSource.pageSize();
            rowNumbers1 = (page - 1) * pageSize;

            var grid = $("#gridAgendaMinutesReview").data("kendoGrid");
            var gridData = grid.dataSource.view();
            for (var i = 0; i < gridData.length; i++) {
                var currentUid = gridData[i].uid;
                var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");

                debugger;
                if (gridData[i].StatusId == 1) { //if (gridData[i].StatusId != 6 && gridData[i].StatusId != 7) {
                    $(currenRow).find(".k-grid-Agenda").addClass("k-state-disabled");
                }

                if (gridData[i].StatusId != 1) {
                    $(currenRow).find(".k-grid-delete").addClass("k-state-disabled hidden");
                }
            }
            GetICons();
        }

        function renderNumber2(data) {
            return ++rowNumbers1;
        }

        function AgendaDocumentReviewClose(e) {
            e.preventDefault();
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            if (dataItem.StatusId == 1) {
                closeAgendaReview(dataItem.TaskId);
            }
        }

        function getRemarktooltipNL(v) {
            if (v == null || v == undefined) {
                return '';
            } else {
                return v.replace(/\n/g, "<br />");
            }
        }
</script>

<!-- Agenda/Minutes Review-->
<script>
    function AgendaDocumentReview(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        if (dataItem.StatusId != 1) {//if (dataItem.StatusId == 6 || dataItem.StatusId == 7) {
            $("#wndAgendaPreview").kendoWindow({
                title: "Review - Agenda",
                modal: true
            });

            var direction = "@Url.Action("ReviewAgendaDocument", "MyReview")" + "?taskId=" + dataItem.TaskId + "&assignmentId=" + dataItem.Id + "&meetingId=" + dataItem.MeetingId + "&canAcceptChanges=false&allowFinalizeReview=false";

            $("#wndAgendaPreview").attr("style", "min-height:500px;");

            var wnd = $("#wndAgendaPreview").data("kendoWindow");
            var opts = wnd.options;

            wnd = $("#wndAgendaPreview").kendoWindow({
                actions: ["Close"],
                content: direction,
                width: "85%",
                visible: false,
                modal: true,
                refresh: function () { this.center(); },
                open: function () { kendo.ui.progress(wnd.element, true); },
                close: function (e) {
                    $(this.element).empty();
                }
            }).data("kendoWindow");

            opts.width = "85%";
            wnd.setOptions(opts);
            wnd.center();
            wnd.open();
        }
    }

    function docViewerLoading(e) {
        var wnd = $("#wndAgendaPreview").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
    }

    function docViewerOnLoad() {
        var wnd = $("#wndAgendaPreview").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function editReviewWindowLoading(e) {
        var wnd = $("#divMyCompliances").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
    }

    function editReviewWindowOnLoad() {
        var wnd = $("#divMyCompliances").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function editAgendaReview(m, tId, assignmentId, a, reviewId, canAcceptChanges) {
        debugger;
        //       $('#divMyCompliances').show();

        var myWindowAdv = $("#divMyCompliances");
        var wnd = myWindowAdv.kendoWindow({
            pinned: true,
            width: "65%",
            title: "Agenda - Review",
            visible: false,
            modal: true,
            iFrame : true,
            actions: ["Close"],
            refresh: function () { this.center(); OnRefresh(); },
            close: function (e) {
                //$(this.element).empty();
            },
            open: function (e) {
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        var opts = wnd.options;
        opts.width = "70%";
        wnd.setOptions(opts);
        debugger;
        wnd.center();
        wnd.open();

        editReviewWindowLoading();
        $('#IframeMyCompliances').attr('src', "@Url.Content("~/Areas_Secretarial/AgendaMinutesReview.aspx")?mappingId=" + a + "&taskId=" + tId + "&assignmentId=" + assignmentId + "&agendaReviewId=" + reviewId + "&changesFlag=" + canAcceptChanges);
    }
    function GetFileExtType(value) {

        if (value.split('.').pop() == "pdf" || value.split('.').pop() == "PDF" || value.split('.').pop() == "Pdf") {
            return "<span class='k-icon k-i-file-pdf k-i-pdf'></span>";
        }
        else if (value.split('.').pop() == "doc" || value.split('.').pop() == "docx" || value.split('.').pop() == "DOC" || value.split('.').pop() == "DOCX") {
            //return "<span class='k-icon k-i-file-word k-i-file-doc k-i-word k-i-doc'></span>";
            return "<span class='k-icon k-i-file-word k-i-file-doc k-i-word k-i-doc'></span>";
        }

        else if (value.split('.').pop() == "xls" || value.split('.').pop() == "xlsx" || value.split('.').pop() == "XLS" || value.split('.').pop() == "XLSX") {
            return "<span class='k-icon k-i-file-excel k-i-file-xls k-i-excel k-i-xls'></span>";
        }
        else if (value.split('.').pop() == "ppt" || value.split('.').pop() == "pptx" || value.split('.').pop() == "PPT" || value.split('.').pop() == "PPTX") {
            return "<span class='k-icon k-i-file-ppt k-i-ppt'></span>";
        }
        else if (value.split('.').pop() == "msg" || value.split('.').pop() == "MSG") {
            return "<span class='k-icon k-i-email k-i-envelop k-i-letter'></span>";
        }
        else if (value.split('.').pop() == "txt") {
            return "<span class='k-icon k-i-file-txt k-i-txt'></span>";
        }
        else if (value.split('.').pop() == "jpg" || value.split('.').pop() == "JPG" || value.split('.').pop() == "jpeg" || value.split('.').pop() == "JPEG" || value.split('.').pop() == "png" || value.split('.').pop() == "PNG" || value.split('.').pop() == "tif" || value.split('.').pop() == "TIF" || value.split('.').pop() == "tiff" || value.split('.').pop() == "TIFF" || value.split('.').pop() == "bmp" || value.split('.').pop() == "BMP" || value.split('.').pop() == "gif" || value.split('.').pop() == "GIF") {
            return "<span class='k-icon k-i-image k-i-photo'></span>";
        }
        else {
            return "";
        }
    }

    function showAgendaDocumentsNew(mappingId) {
        $("#wndAgendaDocumentForReview").kendoWindow({
            //  title: "Agenda It - " + dataItem.AgendaItemHeading,
            modal: true
        });

        var direction = "@Url.Action("AgendaDocuments", "Meetings")" + "?MeetingAgendaMappingID=" + mappingId;

        $("#wndAgendaDocumentForReview").attr("style", "min-height:330px;");

        var wnd = $("#wndAgendaDocumentForReview").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndAgendaDocumentForReview").kendoWindow({
            actions: ["Close"],
            content: direction,
            width: "55%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            open: function () { kendo.ui.progress(this.element, true); },
            close: function (e) {
                $(this.element).empty();
                GetICons();
            }
        }).data("kendoWindow");

        opts.width = "55%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }
</script>

<div id="divCloseReviewMessage"></div>

<div>
    <div>
        @(Html.Kendo().Tooltip()
        .For("#gridAgendaMinutesReview")
        .Filter("td:nth-child(5)")
        .Position(TooltipPosition.Top)
        .AutoHide(true))
    </div>
</div>

<div class="row form-group mt30">
    <div class="col-md-12 colpadding0">
        @(Html.Kendo().Grid<BM_ManegmentServices.VM.ReviewerRemark>()
                        .Name("gridAgendaMinutesReview")
                        .Columns(columns =>
                        {
                            columns.Template(t => { }).Title("Sr No").ClientTemplate("#= renderNumber2(data) #").Width("6%");
                            columns.Bound(o => o.PerformerName).Title("Performer").Width("20%").Sortable(true).Filterable(ftb => ftb.Multi(true).Search(true));
                            columns.Bound(o => o.ReviewerName).Title("Reviewer").Width("20%").Sortable(true).Filterable(ftb => ftb.Multi(true).Search(true));
                            columns.Bound(o => o.Status).Width("15%").Sortable(true).Filterable(ftb => ftb.Multi(true).Search(true));
                            columns.Bound(o => o.Remark).Width("20%").Sortable(true).Filterable(ftb => ftb.Multi(true).Search(true)).HtmlAttributes(new { title = "#= getRemarktooltipNL(Remark) #" });
                            //columns.Bound(p => p.DueDate).ClientTemplate("#= DueDate == null ? '' : kendo.toString(DueDate, \"MMM dd, yyyy\")#").HeaderTemplate("Due Date").Sortable(false).Width("12%");
                            columns.Bound(p => p.UpdatedOn).ClientTemplate("#= UpdatedOn == null ? '' : kendo.toString(UpdatedOn, \"MMM dd, yyyy hh:mm tt\")#").HeaderTemplate("Responded On").Sortable(false).Width("15%");
                            columns.Command(command =>
                            {
                                command.Custom("A").Click("AgendaDocumentReview").HtmlAttributes(new { @class = "k-grid-Agenda" });
                            }).Title("Action").Width("8%");
                        })
                        .EnableCustomBinding(true)
                        .Scrollable()
                        .Events(e => e.DataBound("onRowBoundsAgendaMinutesReview"))
                        .Navigatable()
                        .Pageable(pageable => pageable
                        .Refresh(false)
                        .PageSizes(true)
                        .ButtonCount(5))
                        .Filterable()
                        .Sortable()
                        .Reorderable(reorderable => reorderable.Columns(true))
                        .Resizable(resizable => resizable.Columns(true))
                        .ColumnMenu()
                        .ColumnMenu()
                        .DataSource(dataSource => dataSource
                        .WebApi()
                        .PageSize(10)
                        .ServerOperation(false)
                        .Model(model =>
                        {
                            model.Field(p => p.Id);
                            model.Field(p => p.RoleId);
                            model.Field(p => p.TaskId);
                            model.Field(p => p.MeetingId);
                            model.Field(p => p.StatusId);
                        }).Read(read => read.Url("/api/TaskAPI/GetAgendaMinutesAllReviewDetailsTillReview").Data("filterAgendaTaskDetails").Type(HttpVerbs.Get))
                ))
    </div>
</div>

<div class="row colpadding0 mt30 hidden">
    <div class="col-md-12 colpadding0" style="text-align:center">
        <button type="button" id="btnCloseAgendaReview" onclick="closeAgendaReview()" class="btn btn-primary"><span class=""></span>Close Review</button>
    </div>
</div>

<script>
        function closeAgendaReview(t) {
            var divCloseReviewMessage = $("#divCloseReviewMessage");
            divCloseReviewMessage[0].innerHTML = '';
            $.ajax({
                type: "POST",
                url: "@Url.Action("CloseAgendaMinutesReview", "Meetings")",
                data: "{ taskId : '" + t + "', meetingId :'"+ @Model.TaskMeetingId+"'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response != null) {
                        if (response.result.Success == true) {
                            $("#btnCloseAgendaReview").addClass('hidden');
                            divCloseReviewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success'> <lable>" + response.result.Message + "</lable></div></div></div>";
                            $('#gridAgendaMinutesReview').data('kendoGrid').dataSource.read();
                        }
                        else if (response.result.Error == true) {
                            divCloseReviewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-danger'> <lable>" + response.result.Message + "</lable></div></div></div>";

                        } else {
                            divCloseReviewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-danger'> <lable>" + response.result.Message + "</lable></div></div></div>";
                        }
                    } else {
                        divCloseReviewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-danger'> <lable>Something wents wrong.</lable></div></div></div>";
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
</script>

<div style="max-height:10px;display:none;">
    <div id="divMyCompliances">
        <iframe id="IframeMyCompliances" src="about:blank" frameborder="0" height="530px" width="100%"></iframe>
    </div>
</div>