﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.PreviewAgendaVM

<link href="~/Content/Text-Highlight-Plugin/jquery.marker.css" rel="stylesheet" />
<link href="~/Content/Text-Highlight-Plugin/extensions/spectrum.css" rel="stylesheet" />

<script src="~/Content/Text-Highlight-Plugin/jquery.marker1.js"></script>
<script src="~/Content/Text-Highlight-Plugin/extensions/spectrum.js"></script>

<style>
    #gridAgendaItemSearch .k-grid-header {
        height: 0;
        border-bottom-width: 0;
        display: none;
        overflow: hidden;
    }

    #gridAgendaItemSearch .k-grid td {
        line-height: 1.5em;
    }

     #gridComments .k-grid-header {
        height: 0;
        border-bottom-width: 0;
        display: none;
        overflow: hidden;
    }

     td.noWhiteSpace {
    white-space: initial;
    }
</style>

<style>
    .my-comment-list{
            border-left: solid;
            border-width: thin;
            border-color: #d7d8c8;
            padding-left: 8px;
    }
    
</style>

<script>
    function getCommentToolTip(e) {
        //var title = "<div style='min-height:100px;'>" +
        //    "<div class='text-center'>" + e.target.attr('data-owner') + "</div> <div style='text-align:left;'>" + e.target.attr('data-title') + "</div></div>";
        var title =  "<b>" + e.target.attr('data-owner') + "</b>: <br>" + e.target.attr('data-title');
        return title;
    }

    function toolTipContent_gridNew(e) {
        return e.target.context.innerText;
    }
</script>

@(Html.Kendo().Tooltip()
            .For("#divAgendaPreview")
            .Filter(".marker")
            .Position(TooltipPosition.Top)
            .AutoHide(true)
            .Width(150)
            .ContentHandler("getCommentToolTip")
)


@if (Model != null)
{
    var SrNo = 0;
    var SrN = 0;
    var strMeetingSrNo = "";
    var adjourned = (@Model.IsAdjourned == true ? " (Adjourned)" : "");

    if (Model.MeetingSrNo != null)
    {
        var MeetingSrNo = Model.MeetingSrNo;
        if (MeetingSrNo == 1)
        {
            strMeetingSrNo = "1<sup>st</sup>";
        }
        else if (MeetingSrNo == 2)
        {
            strMeetingSrNo = "2<sup>nd</sup>";
        }
        else if (MeetingSrNo == 3)
        {
            strMeetingSrNo = "3<sup>rd</sup>";
        }
        else
        {
            strMeetingSrNo = MeetingSrNo + "<sup>th</sup>";
        }
    }

    <div id="divAgendaPreview">


        @{
            SrNo = 0;
            SrN = 0;
        }

        <table>
            <tr>
                <td style="width:22%;vertical-align:top;">
                    <div style="max-height:480px;overflow-y :auto;">

                        <div class="tab" role="tabpanel">

                            <ul class="nav nav-tabs mynavtab">
                                <li class="active">
                                    <a data-toggle="tab" href="#AgendaItemSearch" role="tab" aria-controls="AgendaItemSearch" aria-selected="true">Agenda</a>
                                </li>
                                <li>
                                    <a id="lnkDownloadDoc" href='@Url.Action("DownloadAgendaDocumnet", "Meetings",new { MeetingId = Model.MeetingID} )' target="_blank">
                                        <img src='../../Areas/BM_Management/img/Download.png' />
                                    </a>
                                </li>
                                <li class="hidden">
                                    <a data-toggle="tab" href="#AgendaItemComments" role="tab" aria-controls="AgendaItemComments" aria-selected="true">Comments</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div id="AgendaItemSearch" class="tab-pane fade in active">

                                    <div class="row master-Headre " style="background-color: whitesmoke;">
                                        <div class="col-md-12 colpadding0">
                                            <div class="col-md-1 colpadding0">
                                            </div>
                                            <div class="col-md-10 colpadding0">
                                                <input id='filterAgendaItemSearch' placeholder="Search" class='k-textbox' style="margin-top:15px;width:100%" autocomplete="off" onchange="filterChange(this)" />
                                            </div>
                                            <div class="col-md-1 colpadding0">
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row colpadding0">
                                        <div class="col-md-12 colpadding0">
                                            <table id="gridAgendaItemSearch">

                                                <colgroup>
                                                    <col />
                                                </colgroup>

                                                <thead>
                                                    <tr>
                                                        <th data-field="Agenda_Name">Agenda</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @foreach (var item in Model.lstAgendaItems)
                                                    {
                                                        SrN++;
                                                        <tr>
                                                            <td> <div class="page-thumb">
                                                                     <a role="button" class="pull-right" onclick="editAgendaReview(@item.Meeting_Id, @item.MeetingAgendaMappingID)" href="#" style="margin-left: 5px;margin-bottom: 5px;"><span class=""><img class="docs" style="width:16px;" src="../../Areas/BM_Management/img/edit.png"></span></a> 
                                                                     <a role="button" class="pull-right" onclick="showAgendaDocumentsNew(@item.MeetingAgendaMappingID)" href="#" style="margin-left: 5px;"><span class=""><img class="docs" style="width:16px;" src="../../Areas/BM_Management/img/Documents.png"></span></a>
                                                                <br />

                                                                <a href="#spMOMText_@item.MeetingAgendaMappingID"> @SrN. @Html.Raw(item.AgendaItemText)</a> 
                                                                </div> </td>
                                                        </tr>
                                                    }

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>

                                <div id="AgendaItemComments" class="tab-pane fade in">
                                    <div class="row" style="background-color: whitesmoke;">
                                        <div class="col-md-12 colpadding0">

                                            <div id="gridComments"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </td>



                <td style="background-color:#dedddd;">
                    <div style="overflow-y :hidden;">
                        <iframe id="IframeAgendaMinutes" src="about:blank" frameborder="0" height="530px" width="100%"></iframe>
                    </div>
                </td>

            </tr>
        </table>

    </div>
}

<script>

    $('#filterAgendaItemSearch').on('input', function (e) {

        var filter = { logic: 'or', filters: [] };

        var t = $('#filterAgendaItemSearch');
        if (t.val() != "") {
            filter.filters.push({ logic: "or", field: "Agenda_Name", operator: "contains", value: t.val() });
        }

        var grid = $("#gridAgendaItemSearch").data("kendoGrid");
        grid.dataSource.filter(filter);
    });

    $(document).ready(function () {

        //var grid = $('#gridAgendaItemSearch').kendoGrid({});
        //grid.refresh();

        $("#gridAgendaItemSearch").kendoGrid({
           // toolbar: kendo.template($("#myTemplateSearchAgenda").html()),
            sortable: false,
            scrollable: false,
            dataBound: function (e) {

                var grid = $("#gridAgendaItemSearch").data("kendoGrid");
                var data = grid.dataSource.data();
                $.each(data, function (i, row) {
                    $('tr[data-uid="' + row.uid + '"] ').removeClass("k-alt");

                    $('tr[data-uid="' + row.uid + '"] ').css("box-sizing", "border-box");
                    $('tr[data-uid="' + row.uid + '"] ').css("background-color", "whitesmoke");
                    //$('tr[data-uid="' + row.uid + '"] ').css("box-shadow", "0px 0px 1px 0 #DDDDDD");

                    //background-color: #cccaca;
                });

                var allRows = e.sender.items();
                allRows.each(function (index, row) {
                    var nameCell = $(this).find("td");
                    nameCell.addClass("noWhiteSpace");
                });
            }
        });

    });

</script>

<script id="detail-template-comment" type="text/x-kendo-template">
    <div id="divCommentsList_#:ParticipantId#">
    </div>
</script>

<script>

    $(document).ready(function () {
        //loadAgendaComments();
        $('#IframeAgendaMinutes').attr('src', "@Url.Content("~/Areas_Secretarial/AgendaDocumentViewer.aspx")?meetingId=" + @Model.MeetingID);
    });

    function loadAgendaComments() {
        var target = $('body .myAgendaComment');

        $.ajax({
                type: "POST",
                url: "@Url.Action("GetParticipantAgendaComments", "MyMeetings")",
                data: "{ meetingId: '@Model.MeetingID' }",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {

                    //target.marker('clear');
                    //var j = JSON.parse(response.CommentData);
                    //target.marker('restore', j);
                    fillGridComments(response)
                    //fillGridComment(response)
                },
                failure: function (response) {

                },
                error: function (response) {

                }
            });
    }

    function fillGridComments(d) {

        var commetnsData = [];

        for (var i = 0; i < d.length; i++) {

            var comments = JSON.parse(d[i].CommentData);
            if (comments != null) {
                for (var j = 0; j < comments.length; j++) {
                    //comments[j].title = d[i].FirstName + " " + d[i].LastName + ": <br>" + comments[j].title;
                    comments[j].owner = d[i].FirstName + " " + d[i].LastName;
                    commetnsData.push(comments[j]);
                }
            }

        }

        var target = $('body .myAgendaComment');

        target.marker({
            data: function (e, data) {
                //console.log(JSON.stringify(data))
            },
            debug: function (e, data) {
                //console.log(data)
            }
        });

        target.marker('restore', commetnsData);

        var ds = new kendo.data.DataSource({
            data: d, //myJson.employees,
            pageSize: 10
        });

        var grid = $("#gridComments").kendoGrid({
            pageable: {
                alwaysVisible: false,
                pageSizes: [5, 10, 20, 100]
            },
            detailTemplate: kendo.template($("#detail-template-comment").html()),
            detailInit: detailInit,
            dataBound: function () {
                this.expandRow(this.tbody.find("tr.k-master-row").first());

                var grid = $("#gridComments").data("kendoGrid");
                var data = grid.dataSource.data();
                $.each(data, function (i, row) {
                    $('tr[data-uid="' + row.uid + '"] ').removeClass("k-alt");

                    //$('tr[data-uid="' + row.uid + '"] ').css("box-sizing", "border-box");
                    // $('tr[data-uid="' + row.uid + '"] ').css("background-color", "whitesmoke");

                })

            },
            columns: [
                        //{ field: "FirstName", title: "Name", template: "<div>#=getImage(data)#</div>" },
                        { field: "FirstName", title: "Name", template: "#=getImage(data)# #:FirstName# #:LastName#" },
                        //{ field: "CommentData", title: "Comment" },
                        //{ field: "AgendaItem", title: "Agenda Item" },
                        //{ field: "IsAgendaSelect", title: "IsAgendaSelect", hidden: true },
            ],
            dataSource: ds,
            editable: false,
            //sortable: true,
            groupable: false,
        });

    }

    function detailInit(e) {
        var detailRow = e.detailRow;
        var data = e.data;
        var a = 3;

        var str = "<div>";
        var comments = JSON.parse(data.CommentData);
        var lookupData = {};

        if (comments != null) {
            str += "<ul>";
            for (var j = 0; j < comments.length; j++) {
                var uid = comments[j].uniqueName;
                if (!(uid in lookupData)) {
                    lookupData[uid] = 1;
                    str += "<li class='my-comment-list' onclick='showSpan(this);' target-id='" + uid + "'>" + comments[j].title + "</li>";
                }
            }
            str += "</ul>";
        }
            str += "</div>";

            $('#divCommentsList_' + data.ParticipantId)[0].innerHTML = str;
    }

    function showSpan(e) {

        //var spanId = e.attr('target-id');
        var spanId = e.attributes['target-id'].value;
        $("#divAgendaPreview").find('.marker' + '[' + 'data-unique-name' + '=' + spanId + ']').get(0).scrollIntoView();
    }

    function getImage(data) {


        var Colors = {};

        var html;
            Colors = [
           "#42A5F5",
           "#008391",
           "#846600",
          "#CC0060",
          "#330099", ];
            var result;
            var count = 0;
            //for (var prop in Colors)
            //    if (Math.random() < 1 / ++count) {
            //        result = prop;
            result = Colors[Math.floor(Math.random() * Colors.length)];
            var firstName = data.FirstName;
            var lastName = data.LastName;
            var intials = firstName.charAt(0) + lastName.charAt(0);

            html = "<span class='customer-photo textimage' style='text-align: center;color:white;background-color:" + result + "'><b>" + intials + "</b></span>"
        return html;
    }
</script>