﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMConfiguration

<script type="text/javascript">
    function filterMeting() {

        var Entity = $("#ddlEntity").data("kendoDropDownList").value();
        if(@Model.Id==0)
        {
            return {
                EntityId: Entity,
            }
        }
        else if(@Model.Id>0)
        {
            return {
                EntityId: 0,
            }
        }

    }
</script>
<script type="text/javascript">
    function filterProducts() {
        debugger;
        return {
            Type: "M",
            entityID: $("#entityID").val()
        };
    }
</script>

@if (Model.EntityId > 0)
{
    <script>
        //$("#ddlEntity").data("kendoDropDownList").readonly();
    </script>
}
else
{
    <script>
        //$("#ddlEntity").data("kendoDropDownList").readonly(false);
    </script>
}

<div class="row colpadding0" style="height:450px;overflow-x:hidden; overflow-y:auto">
    <div class="col-md-12 colpadding0">
        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                <div id="DivMeetings">
                    @using (Ajax.BeginForm("AddEditMeeting", "Configuration", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivMeetings", OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmUpdateMeetings" }))
                    {
                        <div class="row">
                            @if (Model.successMessage)
                            {
                                <div class="col-md-12">
                                    <div class="alert alert-success alert-dismissible">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        @if (!(string.IsNullOrEmpty(@Model.errorsuccessMessage)))
                                        {
                                            <lable>@Model.errorsuccessMessage</lable>
                                        }
                                    </div>
                                </div>
                            }
                        </div>

                        <div class="row">
                            @if (Model.errorMessage)
                            {
                                <div class="col-md-12">
                                    <div class="alert alert-danger alert-dismissible">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        @if (!(string.IsNullOrEmpty(@Model.errorsuccessMessage)))
                                        {
                                            <lable>@Model.errorsuccessMessage</lable>
                                        }
                                    </div>
                                </div>
                            }
                        </div>


                        @Html.AntiForgeryToken()
                        @*@Html.HiddenFor(m => m.EntityId)*@
                        @Html.HiddenFor(m => m.conId)

                        <div class="row">
                            <div class="col-md-12 colpadding0">
                                <div class="row form-group">
                                    <div class="col-md-12 colpadding0">
                                        <div class="col-md-4 colpadding0">
                                            <label for="ddlEntity" class="control-label">Entity</label><span style="color:red">*</span>
                                            @*@(Html.Kendo().DropDownListFor(m => m.EntityId)

                                                .DataTextField("EntityName")
                                                .DataValueField("Id")

                                                .Filter("contains")

                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Url("/api/EntityMasterAPI/GetDropDownforEntity").Type(HttpVerbs.Get);
                                                    })
                                                    .ServerFiltering(false);
                                                })

                                                .HtmlAttributes(new { style = "width: 96%", @Id = "ddlEntity", autocomplete = "off", @onchange = "ReloadConfiguration()" })
                                                    )*@
                                            @(Html.Kendo().DropDownList()
              .Name("EntityId")
              .HtmlAttributes(new { style = "width:96%", Id = "entityID", @onchange = "ReloadConfiguration()" })
             .DataTextField("EntityName")
                                        .DataValueField("Id")
                                        .Filter("contains")
                                        .OptionLabel("Select")
              .DataSource(source =>
              {
                  source.Read(read =>
                  {
                      read.Url("/api/EntityMasterAPI/GetDropDownforEntity").Type(HttpVerbs.Get);

                  });
              })
                                            )
                                        </div>
                                        <div class="col-md-3 colpadding0">
                                            <div class="col-md-1 colpadding0">
                                            </div>
                                            <div class="col-md-11 colpadding0"style="visibility:hidden">
                                                <span style="color:red">*</span><label class="control-label">Default Virtual Meeting</label><br />
                                                @(Html.Kendo().RadioButtonFor(m => m.DefaultVirtualMeeting).Label("Yes").Value(true).HtmlAttributes(new { }))
                                                &nbsp; &nbsp;
                                                @(Html.Kendo().RadioButtonFor(m => m.DefaultVirtualMeeting).Label("No").Value(false).HtmlAttributes(new { }))
                                                @Html.ValidationMessageFor(model => model.DefaultVirtualMeeting, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-12 colpadding0">
                                        <div class="col-md-4 colpadding0">
                                            <span style="color:red">*</span><label class="control-label">Meeting Type</label>
                                            @*@(Html.Kendo().DropDownListFor(m => m.MeetingType)
                    .DataValueField("Id")
                    .DataTextField("MeetingTypeName")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Url("/api/ConfigurationMasterAPI/GetMeetingType").Data("filterMeting").Type(HttpVerbs.Get);
                        })
                        .ServerFiltering(true);
                    })
                    .Enable(false)
                    .AutoBind(false)
                    .CascadeFrom("ddlEntity")
                    .HtmlAttributes(new { @class = "myMultiSelect2", style = "width: 96%;", @Id = "ddlboardMeeting" })
                        )*@
                                            @(Html.Kendo().DropDownList()
              .Name("MeetingType")
              .HtmlAttributes(new { style = "width:96%" })
              .OptionLabel("Select Type")
             .DataValueField("Id")
                                            .DataTextField("MeetingTypeName")
              .DataSource(source =>
              {
                  source.Read(read =>
                  {
                      read.Url("/api/CommitteeCompAPI/GetMeetingTypeByEntityWithGM").Data("filterProducts").Type(HttpVerbs.Get);

                  })
                  .ServerFiltering(true);
              })
              .Enable(false)
              .AutoBind(false)
              .CascadeFrom("entityID")
                                            )
                                        </div>
                                    </div>
                                </div>

                                <fieldset class="col" style="margin-right:5px;">
                                    <legend class="amp-mb5"><label style="font-size:17px">Details</label></legend>
                                    <div class="row">
                                        <div class="col-md-12 colpadding0">
                                            <div class="col-md-2 colpadding0">
                                                <label class="control-label">Previous Meeting Date</label><span style="color:red"></span>
                                                @(Html.Kendo().DatePickerFor(m => m.MeetingDate).Format("dd/MM/yyyy").Enable(true).ParseFormats(new[] { "dd/MM/yyyy" }).Culture("en-GB").Max(DateTime.Now).HtmlAttributes(new { @style = "width:96%", @onchange = "checkDate(this)" }))
                                            </div>
                                            <div class="col-md-2 colpadding0">
                                                <label for="ddlFY" class="control-label">Meeting Numbering Pattern</label><span style="color:red">*</span>
                                                @(Html.Kendo().DropDownListFor(m => m.MeetingNoType)

                                            .DataTextField("Text")
                                            .DataValueField("Value")

                                            .BindTo(new List<SelectListItem>
                                                () {
                                                new SelectListItem() {
                                                Text = "Select",
                                                Value = " "
                                                },
                                                new SelectListItem() {
                                                Text = "Continuous",
                                                Value = "C"
                                                },
                                                new SelectListItem() {
                                                Text = "FY Wise",
                                                Value = "FY"
                                                },
                                                })

                                                .HtmlAttributes(new { style = "width: 96%", @Id = "ddlMeetingNoType", @onchange = "ddlMeetingNoTypechange()" }))
                                            </div>
                                            <div class="col-md-2 colpadding0">
                                                <label class="control-label">Previous Meeting No</label><span style="color:red"></span>
                                                <div class="col-md-6 colpadding0">
                                                    @(Html.Kendo().TextBoxFor(m => m.MeetingNo).HtmlAttributes(new { @style = "width:50%", @Id = "txtmeetingNo" }))
                                                </div>
                                                <div class="col-md-6 colpadding0">
                                                    @(Html.Kendo().TextBoxFor(m => m.MeetingNoFormate).HtmlAttributes(new { @style = "width:50%", @Id = "txtmeetingformate", @readonly = "readonly" }))
                                                </div>
                                            </div>
                                            <div class="col-md-2 colpadding0">
                                                <label for="ddlEntity" class="control-label">Financial Year</label><span style="color:red"></span>
                                                @(Html.Kendo().DropDownListFor(m => m.FinancialYear)

                                        .DataValueField("FYID")
                                        .DataTextField("FYText")

                                        .Filter("contains")
                                        .OptionLabel("Select")
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Url("/api/ConfigurationMasterAPI/GetFYListByEntityID").Data("BindFinancialYear").Type(HttpVerbs.Get);
                                            })
                                            .ServerFiltering(false);
                                        })

                                        .HtmlAttributes(new { style = "width: 90%", @Id = "ddlFinancialYear", autocomplete = "off" })
                                                )
                                            </div>
                                            <div class="col-md-3 colpadding0"style="visibility:hidden">
                                                <label class="control-label">Last Page No. of Previous Meeting Minutes</label><span style="color:red">*</span>
                                                @(Html.Kendo().TextBoxFor(m => m.Minutes_Pageno).HtmlAttributes(new { @style = "width:50%" }))
                                            </div>
                                            <div class="col-md-1 colpadding0">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt30">
                                        <div class="colpadding0 col-md-12">
                                            <div class="col-md-3 colpadding0">
                                                <div class="col-md-6 colpadding0">
                                                    <span style="color:red"></span><label class="control-label">Details of Circular?</label>
                                                </div>
                                                <div class="col-md-6 colpadding0">
                                                    @(Html.Kendo().RadioButtonFor(m => m.IsCircular).Label("Yes").Value(true).HtmlAttributes(new { }))
                                                    &nbsp; &nbsp;
                                                    @(Html.Kendo().RadioButtonFor(m => m.IsCircular).Label("No").Value(false).HtmlAttributes(new { }))
                                                    @Html.ValidationMessageFor(model => model.IsCircular, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row colpadding0 mt30">
                                        <div class="col-md-12 colpadding0">
                                            <div id="DivCircular">

                                                <div class="col-md-2 colpadding0">
                                                    <label class="control-label">Previous Circular Date</label><span style="color:red"></span>
                                                    @(Html.Kendo().DatePickerFor(m => m.CircularDate).Format("dd/MM/yyyy").Enable(true).ParseFormats(new[] { "dd/MM/yyyy" }).Culture("en-GB").Max(DateTime.Now).HtmlAttributes(new { @style = "width:96%", @onchange = "checkDate(this)" }))
                                                </div>
                                                <div class="col-md-2 colpadding0">
                                                    <label for="ddlFY" class="control-label">Circular Numbering Pattern</label><span style="color:red">*</span>
                                                    @(Html.Kendo().DropDownListFor(m => m.CircularNoType)

                                                .DataTextField("Text")
                                                .DataValueField("Value")

                                                .BindTo(new List<SelectListItem>
                                                    () {
                                                    new SelectListItem() {
                                                    Text = "Select",
                                                    Value = "0"
                                                    },
                                                    new SelectListItem() {
                                                    Text = "Continuous",
                                                    Value = "C"
                                                    },
                                                    new SelectListItem() {
                                                    Text = "FY Wise",
                                                    Value = "FY"
                                                    },
                                                    })

                                                    .HtmlAttributes(new { style = "width: 96%", @Id = "ddlCircularNoType", @onchange = "ddlCircularNoTypechange()" }))
                                                </div>
                                                <div class="col-md-2 colpadding0">
                                                    <label class="control-label">Previous Circular No</label><span style="color:red"></span>
                                                    <div class="col-md-6 colpadding0">
                                                        @(Html.Kendo().TextBoxFor(m => m.CircularNo).HtmlAttributes(new { @style = "width:50%", @Id = "txtCircularNo" }))
                                                    </div>
                                                    <div class="col-md-6 colpadding0">
                                                        @(Html.Kendo().TextBoxFor(m => m.CircularNoformate).HtmlAttributes(new { @style = "width:50%", @Id = "txtCircularformate", @readonly = "readonly" }))
                                                    </div>
                                                </div>
                                                <div class="col-md-2 colpadding0">
                                                    <span style="color:red"></span><label for="ddlEntity" class="control-label">Financial Year</label>
                                                    @(Html.Kendo().DropDownListFor(m => m.FinancialYearforCircural)

                                        .DataValueField("FYID")
                            .DataTextField("FYText")

                                        .Filter("contains")
                                        .OptionLabel("Select")
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Url("/api/ConfigurationMasterAPI/GetFYListByEntityID").Data("BindFinancialYearforCircular").Type(HttpVerbs.Get);
                                            })
                                            .ServerFiltering(false);
                                        })

                                        .HtmlAttributes(new { style = "width:80%", @Id = "ddlFinancialYearforCircular", autocomplete = "off" })
                                                    )
                                                </div>
                                                <div class="col-md-3 colpadding0"style="visibility:hidden">
                                                    <span style="color:red">*</span><label class="control-label">Last Page No. of Previous Circular Minutes</label>
                                                    @(Html.Kendo().TextBoxFor(m => m.LastCircularMinutePageNo).HtmlAttributes(new { @style = "width:50%" }))
                                                </div>
                                                <div class="col-md-1 colpadding0">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row colpadding0">
                                        <div class="col-md-12 colpadding0">
                                            <div class="span6 offset3 mt30" style="text-align:center">
                                                @if (Model.Id > 0)
                                                {
                                                    <button type="submit" value="update" class="btn btn-primary">Update</button>
                                                }
                                                else
                                                {
                                                    <button type="submit" value="Save" class="btn btn-primary" id="saveconfig">Add</button>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <div id="DivLoadlistofMeetings">
                                    @Html.Partial("_ConfiMeetingDetailsList")
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var validator1 = $("#frmUpdateMeetings").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");

    $(document).ready(function () {
        $("#remark").hide();

    })

    $("#btnclose2").click(function (z) {

        z.preventDefault();
        z.stopPropagation();
        $('#KendoPopupMeetingMaster').data("kendoWindow").close();

        $('#gridKendoMeeting').data('kendoGrid').dataSource.read();
        $('#gridKendoMeeting').data('kendoGrid').refresh();

    })

    function ddlMeetingType() {
        debugger
        var meetingtype = $("#ddlboardMeetin").data("kendoDropDownList").value();
        if (meetingtype == 10) {
            $("#remark").show();
        }
        else {
            $("#remark").hide();
        }
    }

    $("#MeetingDate").removeAttr("data-val-date");
    if ($("#MeetingDate").val() == "01/01/0001") {
        $("#MeetingDate").val('');
    }

    $("#CircularDate").removeAttr("data-val-date");
    if ($("#CircularDate").val() == "01/01/0001") {
        $("#CircularDate").val('');
    }


    function checkDate(e) {
        if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
            e.value = '';
        }
    }

    $("#tblmetting").kendoGrid({
        sortable: false,
        scrollable: false
    });

    $(document).ready(function () {
        $("#tblmetting").kendoGrid({
            sortable: false,
            scrollable: false
        });

    });
    $("#saveconfig").click(function(e){
        debugger;
        e.preventDefault();
        $("#frmUpdateMeetings").submit();
    })
    //function saveconfiguration(e)
    //{
    //    debugger;
    //    e.preventDefault();
    //    $("#frmUpdateMeetings").submit();
    //}
    //DivLoadlistofMeetings
    function EditMeeting(EntityId,Id,meetingType) {
        debugger;
        removeDataValidationDropDown($("#MeetingType"));
        $("#frmUpdateMeetings").attr("action","@Url.Action("EditMeeting", "Configuration")" + "?EntityId=" + EntityId + "&Id=" + Id
).submit();

        //var dropdownlist = $("#ddlboardMeeting").data("kendoDropDownList");
        //dropdownlist.refresh();
        //dropdownlist.readonly();
    }




    $(document).on("change", "input[name='IsCircular']", function () {

        if (this.value == "True") {
            document.getElementById('DivCircular').style.display = 'block';

        }
        else {
            document.getElementById('DivCircular').style.display = 'none';
        }
    })



</script>
@if (Model.IsCircular)
{
    <script>
        document.getElementById('DivCircular').style.display = 'block';
    </script>
}
else if (!Model.IsCircular)
{
    <script>
        document.getElementById('DivCircular').style.display = 'none';
    </script>
}
