﻿@using Kendo.Mvc.UI;


<script>
    function onRowBound(e) {
      
        GetICons();
        var grid = $("#gridKendoMeeting").data("kendoGrid");
        var data = grid.dataSource.data();
        $.each(data, function (i, row) {
            $('tr[data-uid="' + row.uid + '"] ').removeClass("k-alt");

            $('tr[data-uid="' + row.uid + '"] ').css("box-sizing", "border-box");
            $('tr[data-uid="' + row.uid + '"] ').css("box-shadow", "0px 0px 1px 0 #DDDDDD");
        })
    }
</script>


<div class="row colpadding0 mt30">
    <div class="col-md-12 colpadding0">

        @(Html.Kendo().Grid<BM_ManegmentServices.VM.VMConfiguration>()
        .Name("gridKendoMeeting")
               .Columns(columns =>
               {
                   columns.Bound(o => o.Id).Visible(false);
                   columns.Bound(o => o.EntityName).Title("Entity Name").Width(300);
                   columns.Bound(o => o.YearType).Title("FY Type").Width(100);


                   columns.Command(command =>
                   {
                       command.Custom("Edit").Click("editMeetingModule").HtmlAttributes(new { @class = "k-grid-edit" });

                   })
                   .Title("Action").Width(80);
               })

        .EnableCustomBinding(true)
        //.ToolBar(
        //toolbar => toolbar.Custom().Name("CreateNew").Text("New").HtmlAttributes(new { id = "CreatenewMeetingModule", @class = "k-grid-add k-button k-button-icontext" })
        //)
        .Events(e => e.DataBound("onRowBound"))
        .Navigatable()
        .Pageable(pageable => pageable
        //.Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
        .Filterable()
        .Sortable()

        .Reorderable(reorderable => reorderable.Columns(true))
        .Resizable(resizable => resizable.Columns(true))
        .ColumnMenu()
        .DataSource(dataSource => dataSource
        .WebApi()

        .PageSize(5)
        .ServerOperation(false)
              .Model(model =>
              {
                  model.Id(o => o.Id);
                  model.Field(o => o.EntityId);
              })

        .Read(read => read.Url("/api/ConfigurationMasterAPI/getMeetingConfiguration").Data("filterEntity").Type(HttpVerbs.Get))
                       ))
    </div>
</div>
