﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMConfiguration

<div id="viewPlaceHolder" style="max-height:550px;overflow-y:auto;overflow-x:hidden">
    <div class="row colpadding0 mt30">
        <div class="col-md-12 colpadding0">
            @Html.Partial("_AddEditConfiguration", Model)
        </div>
    </div>
</div>

