﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.Director_MasterVM

<script>
    $(document).ready(function () {
        loadDirectorName('@Model.FirstName', '@Model.LastName')
        $("#panelbarEditDirector").kendoPanelBar({
            expandMode: "single"
        });
    });

    function loadDirectorName(first, last) {

        Colors = [
          "#42A5F5",
          "#008391",
          "#846600",
         "#CC0060",
         "#330099", ];
        var result1 = Colors[Math.floor(Math.random() * Colors.length)];
        var firstName = first;
        var lastName = last;
        var intials = firstName.charAt(0) + lastName.charAt(0);
        $(".textimage1").text(intials);
        $(".textimage1").css("background-color", result1)
        $(".textimage1").css("color", "white")
        $(".textimage1").css("text-align", "center")
    }
</script>

<script>

    $(document).ready(function () {
        debugger;
        $("#DateOfBirth").removeAttr("data-val-date");
        //$("#DESC_ExpiryDate").removeAttr("data-val-date");

        if ($("#DateOfBirth").val() == "01/01/0001") {
            $("#DateOfBirth").val('');
        }

        //if ($("#DESC_ExpiryDate").val() == "01/01/0001") {
        //    $("#DESC_ExpiryDate").val('');
        //}
        //$("#DESC_ExpiryDate").removeClass("input-validation-error")

    });
    function checkdobDate(e) {
        debugger;
        if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
            e.value = '';
        }

    }
</script>

<style>
    ul.listmessage {
        list-style-position: outside;
    }

    .Profilebutton {
        /*float: right;
        width: 100%;*/
        /* height: 27px; */
        left: 1399px;
        top: 122px;
        background: #0090D6;
        border-radius: 5px;
        /* margin-right: 14%; */
        margin-bottom: 6%;
    }

    .buttonProfile {
        width: 9%;
        /* height: 28px; */
        left: 1399px;
        top: 122px;
        background: #0090D6;
        border-radius: 5px;
    }

    .editProfilebutton {
        float: right;
        margin-right: 4%;
    }
</style>

<script>
    $(function () {
        
        //$("#DESC_ExpiryDate").data("kendoDatePicker").removeClass("input-validation-error");
    });
</script>

<script>
    $(document).ready(function () {
        ontypechange(@Model.ID);
        Editchangeeffect();
    })

    function Editchangeeffect() {
        
        $.ajax({
            type: "POST",
            url: '@Url.Action("Checkchngedbydirectorornot", "MyProfile")',
            content: "application/json; charset=utf-8",
            dataType: "json",
            //data: { "id": dataItem.ID },
            success: function (d) {
                if(d==true)
                {
                    document.getElementById('savebutton').style.display = 'block';
                    document.getElementById('cancelbutton').style.display = 'block';
                }
                else
                {
                    document.getElementById('savebutton').style.display = 'none';
                    document.getElementById('cancelbutton').style.display = 'none';
                }
            }
        })
    }

    function Opendirectircanceledit(DirectorID)
    {
        $.ajax({
            type: "POST",
            url: '@Url.Action("canceleditChangebyDir", "MyProfile")' + '?DirectorId=' + DirectorID,
            content: "application/json; charset=utf-8",
            dataType: "json",
            //data: { "id": dataItem.ID },
            success: function (d) {
                if(d==true)
                {
                    ontypechange(DirectorID);
                    Editchangeeffect();
                }
                else {
                    ontypechange(DirectorID);
                    Editchangeeffect();
                }
            }
        });
    }

    function ontypechange(DirectorID) {
        
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetDitectorChangeType", "Director_Master")' + '?DirectorId=' + DirectorID,
            content: "application/json; charset=utf-8",
            dataType: "json",
            //data: { "id": dataItem.ID },
            success: function (d) {

                if (d != null || d != "") {
                    if (d.Name) {
                        $("#FirstName").removeAttr('readonly');
                        $("#MiddleName").removeAttr('readonly');
                        $("#LastName").removeAttr('readonly');
                        $("#Salutation").data("kendoDropDownList").readonly(true);

                        $("#FirstName").css("outline", "solid 1px yellow");
                        $("#MiddleName").css("outline", "solid 1px yellow");
                        $("#LastName").css("outline", "solid 1px yellow");
                        $("#Salutation").css("outline", "solid 1px yellow");
                    }
                    else if (!d.Name) {
                        $("#FirstName").attr('readonly', 'true');
                        $("#MiddleName").attr('readonly', 'true');
                        $("#LastName").attr('readonly', 'true');
                        $("#Salutation").data("kendoDropDownList").readonly(false);

                        $("#FirstName").css("outline", "");
                        $("#MiddleName").css("outline", "");
                        $("#LastName").css("outline", "");
                        $("#Salutation").css("outline", "");
                    }

                    if (d.FatherName) {
                        $("#FatherFirstName").removeAttr('readonly');
                        $("#FatherMiddleName").removeAttr('readonly');
                        $("#FatherLastName").removeAttr('readonly');
                        $("#FSalutations").data("kendoDropDownList").readonly(false);

                        $("#FatherFirstName").css("outline", "solid 1px yellow");
                        $("#FatherMiddleName").css("outline", "solid 1px yellow");
                        $("#FatherLastName").css("outline", "solid 1px yellow");
                        $("#FSalutations").css("outline", "solid 1px yellow");
                    }

                    else if (!d.FatherName) {
                        $("#FatherFirstName").attr('readonly', 'true');
                        $("#FatherMiddleName").attr('readonly', 'true');
                        $("#FatherLastName").attr('readonly', 'true');
                        $("#FSalutations").data("kendoDropDownList").readonly(true);

                        $("#FatherFirstName").css("outline", "");
                        $("#FatherMiddleName").css("outline", "");
                        $("#FatherLastName").css("outline", "");
                        $("#FSalutations").css("outline", "");
                    }
                    if (d.Nationality) {
                        $("#Nationality").data("kendoDropDownList").readonly(false);
                        //$("#Nationality").css("outline", "solid 1px yellow");
                        $("#divNationality").css("outline", "solid 1px yellow");
                    }
                    else if (!d.Nationality) {
                        $("#Nationality").data("kendoDropDownList").readonly();
                        $("#divNationality").css("outline", "");
                    }

                    if (d.DateofBirth) {
                        $("#DateOfBirth").data("kendoDatePicker").enable(true);
                        $("#DateOfBirth").css("outline", "solid 1px yellow");

                    }
                    else if (!d.DateofBirth) {
                        $("#DateOfBirth").data("kendoDatePicker").readonly();
                        $("#DateOfBirth").css("outline", "");
                    }

                    if (d.Gender) {
                        $("#Gender").data("kendoDropDownList").readonly(false);
                        $("#divGender").css("outline", "solid 1px yellow");

                    }
                    else if (!d.Gender) {
                        $("#Gender").data("kendoDropDownList").readonly(true);
                        $("#divGender").css("outline", "");
                    }
                    if (d.PAN) {
                        $("#PAN").removeAttr('readonly');
                        $("#PAN").css("outline", "solid 1px yellow");
                    }
                    else if (!d.PAN) {
                        $("#PAN").attr('readonly', 'true');
                        $("#PAN").css("outline", "");
                    }
                    if (d.PassportNumber) {
                        $("#PassportNo").removeAttr('readonly');
                        $("#PassportNo").css("outline", "solid 1px yellow");
                    }
                    else if (!d.PassportNumber) {
                        $("#PassportNo").attr('readonly', 'true');
                        $("#PassportNo").css("outline", "");
                    }
                    if (d.EmailId) {
                        $("#EmailId").removeAttr('readonly');
                        $("#EmailId_Official").removeAttr('readonly');

                        $("#EmailId").css("outline", "solid 1px yellow");
                        $("#EmailId_Official").css("outline", "solid 1px yellow");
                    }
                    else if (!d.EmailId) {
                        $("#EmailId").attr('readonly', 'true');
                        $("#EmailId_Official").attr('readonly', 'true');

                        $("#EmailId").css("outline", "");
                        $("#EmailId_Official").css("outline", "");
                    }
                    if (d.MobileNumber) {
                        $("#MobileNo").removeAttr('readonly');

                        $("#MobileNo").css("outline", "solid 1px yellow");

                    }
                    else if (!d.MobileNumber) {
                        $("#MobileNo").attr('readonly', 'true');

                        $("#MobileNo").css("outline", "");
                    }

                    if (d.PermanentAddress) {
                        $("#Permenant_Address_Line1").removeAttr('readonly');
                        $("#Permenant_Address_Line2").removeAttr('readonly');
                        $("#Permenant_PINCode").removeAttr('readonly');

                        $("#ddlPermenant_StateId").data("kendoDropDownList").readonly(false);

                        $("#ddlPermenant_CityId").data("kendoDropDownList").readonly(false);

                        $("#Permenant_Address_Line1").css("outline", "solid 1px yellow");
                        $("#Permenant_Address_Line2").css("outline", "solid 1px yellow");
                        $("#Permenant_PINCode").css("outline", "solid 1px yellow");
                        $("#divPermenant_StateId").css("outline", "solid 1px yellow");
                        $("#divPermenant_CityId").css("outline", "solid 1px yellow");
                    }
                    else if (!d.PermanentAddress) {
                        $("#Permenant_Address_Line1").attr('readonly', 'true');
                        $("#Permenant_Address_Line2").attr('readonly', 'true');
                        $("#Permenant_PINCode").attr('readonly', 'true');

                        $("#ddlPermenant_StateId").data("kendoDropDownList").readonly();

                        $("#ddlPermenant_CityId").data("kendoDropDownList").readonly();

                        $("#Permenant_Address_Line1").css("outline", "");
                        $("#Permenant_Address_Line2").css("outline", "");
                        $("#Permenant_PINCode").css("outline", "");
                        $("#divPermenant_StateId").css("outline", "");
                        $("#divPermenant_CityId").css("outline", "");

                    }

                    if (d.PresentAddress) {
                        $("#Present_Address_Line1").removeAttr('readonly');
                        $("#Present_Address_Line2").removeAttr('readonly');
                        $("#Present_PINCode").removeAttr('readonly');

                        $("#ddlPresent_StateId").data("kendoDropDownList").readonly(false);

                        $("#ddlPresent_CityId").data("kendoDropDownList").readonly(false);

                        $("#Present_Address_Line1").css("outline", "solid 1px yellow");
                        $("#Present_Address_Line2").css("outline", "solid 1px yellow");
                        $("#Present_PINCode").css("outline", "solid 1px yellow");
                        $("#divPresent_StateId").css("outline", "solid 1px yellow");
                        $("#divPresent_CityId").css("outline", "solid 1px yellow");

                    }
                    else if (!d.PresentAddress) {
                        $("#Present_Address_Line1").attr('readonly', 'true');
                        $("#Present_Address_Line2").attr('readonly', 'true');
                        $("#Present_PINCode").attr('readonly', 'true');

                        $("#ddlPresent_StateId").data("kendoDropDownList").readonly();

                        $("#ddlPresent_CityId").data("kendoDropDownList").readonly();

                        $("#Present_Address_Line1").css("outline", "");
                        $("#Present_Address_Line2").css("outline", "");
                        $("#Present_PINCode").css("outline", "");
                        $("#divPresent_StateId").css("outline", "");
                        $("#divPresent_CityId").css("outline", "");
                    }
                    if (d.ResidentialStatus) {
                        $("#ResidentInIndia").data("kendoDropDownList").readonly(false);

                        $("#ResidentInIndia").css("outline", "solid 1px yellow");

                    }
                    else if (!d.ResidentialStatus) {
                        $("#ResidentInIndia").data("kendoDropDownList").readonly();

                        $("#ResidentInIndia").css("outline", "");

                    }
                    if (d.Aadhaar) {

                        $("#Adhaar").removeAttr('readonly');
                        $("#Adhaar").css("outline", "solid 1px yellow");
                    }
                    else if (!d.Aadhaar) {
                        $("#Adhaar").attr('readonly', 'true');
                        $("#Adhaar").css("outline", "");
                    }
                    if (d.PhotoGraph_of_Director) {

                        $("#divphotoupload").removeAttr('readonly');
                        $("#divphotoupload").css("outline", "solid 1px yellow");
                    }
                    else if (!d.PhotoGraph_of_Director) {
                        $("#divphotoupload").attr('readonly', 'true');
                        $("#divphotoupload").css("outline", "");
                    }
                    $("#DESC_ExpiryDatepro").data("kendoDatePicker").readonly();
                  
                }
                else {

                    $("#FirstName").attr('readonly', 'true');
                    $("#MiddleName").attr('readonly', 'true');
                    $("#LastName").attr('readonly', 'true');

                    $("#FatherFirstName").attr('readonly', 'true');
                    $("#FatherMiddleName").attr('readonly', 'true');
                    $("#FatherLastName").attr('readonly', 'true');

                    $("#Nationality").data("kendoDropDownList").readonly();

                    $("#DateOfBirth").data("kendoDatePicker").readonly();
                   
                    $("#Gender").data("kendoDropDownList").readonly(true);

                    $("#PAN").attr('readonly', 'true');

                    $("#PassportNo").attr('readonly', 'true');


                    $("#EmailId").attr('readonly', 'true');
                    $("#EmailId_Official").attr('readonly', 'true');

                    $("#MobileNo").attr('readonly', 'true');


                    $("#Permenant_Address_Line1").attr('readonly', 'true');
                    $("#Permenant_Address_Line2").attr('readonly', 'true');
                    $("#Permenant_PINCode").attr('readonly', 'true');

                    $("#ddlPermenant_StateId").data("kendoDropDownList").readonly();

                    $("#ddlPermenant_CityId").data("kendoDropDownList").readonly();


                    $("#Present_Address_Line1").attr('readonly', 'true');
                    $("#Present_Address_Line2").attr('readonly', 'true');
                    $("#Present_PINCode").attr('readonly', 'true');

                    $("#ddlPresent_StateId").data("kendoDropDownList").readonly();

                    $("#ddlPresent_CityId").data("kendoDropDownList").readonly();

                    $("#ResidentInIndia").data("kendoDropDownList").readonly();

                    $("#Adhaar").attr('readonly', 'true');

                    $("#DIN").attr('readonly', 'true');

                    $("#divuploadpan").attr('disabled', 'disabled');
                    $("#divuploadaadhar").attr('disabled', 'disabled');
                    $("#divuploadpassport").attr('disabled', 'disabled');
                    $("#DESC_ExpiryDatepro").data("kendoDatePicker").readonly();

                }

            },
        })
    }
</script>

@if (Model.NumberofTypeChange > 0)
{
    @*<div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">
                <div class="alert alert-success" role="alert">
                    @if (Model.MessageforDirector != null)
                    {
                        <lable style="margin-left:-3%">In your profile following changes made and submitted for review. Based on the decision you want to take, Approve or Reject.</lable>
                        <ul>
                            @foreach (var item in Model.MessageforDirector)
                        {
                                <li class="listmessage">@item</li>
                            }

                        </ul>
                    }
                </div>
            </div>
        </div>*@
}
<div class="row">
    <div class="col-md-2 colpadding0">
    </div>
    <div class="col-md-8 colpadding0">
        @Html.Partial("_Response", Model.Response)
    </div>
    <div class="col-md-2 colpadding0">
    </div>
</div>


    <div class="row master-Headre mt30">
        <div class="row col-md-12 colpadding0">

            <div class="col-md-9 colpadding0"></div>
            <div class="col-md-1 colpadding0 btnUpload" id="cancelbutton" style="display:none">
              
                <button type="button" class="btn btn-primary Profilebutton" onclick="Opendirectircanceledit(@Model.ID)"><i class=""></i>Cancel Edit</button>
               
            </div>
            <div class="col-md-1 colpadding0"></div>
            <div class="col-md-1 colpadding0 editProfilebutton btnUpload" id="editbtton">
                @if (Model.NumberofTypeChange == null)
                {
                <button type="button" class="btn btn-primary Profilebutton" onclick="OpendirectirEditon(@Model.ID)" title="Add New"><i class="glyphicon glyphicon-pencil pencilicon"></i>Edit Profile</button>
                }
            </div>
        </div>
    </div>

<div id="divDetails">
    @using (Ajax.BeginForm("UpdateDirectorDetails", "MyProfile", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divDetails", OnSuccess = "OpenAssignmet" }, new { id = "frmUpdateofDirectorProfile" }))
    {
        @Html.HiddenFor(m => m.ID)
        <div class="row" style="overflow-x:hidden">

            <div class="demo-section k-content">
                <ul class="k-widget k-panelbar k-reset k-header" id="panelbarEditDirector" data-role="panelbar" tabindex="0" role="menu">
                    <li class="k-item k-state-default k-first k-state-active" aria-expanded="true" role="menuitem">
                        <span class="k-link k-header">
                            Details <span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span>
                            <div class="col-md-1 colpadding0 pull-right imgright">

                                @if (Model.Photo_Doc_Name != null)
                                {

                                    <img class="customer-photo1" src="@Url.Content(String.Format("/Areas/BM_Management/Documents/Director/"+Model.ID+"/"+Model.Photo_Doc_Name))" />

                                }
                                else
                                {

                                    <span class='customer-photo1 textimage1' onload="loadDirectorName(@Model.FirstName,@Model.LastName)"></span>
                                }

                            </div>

                        </span>
                        <span id='notification'></span>
                        <div class="row colpadding0" style="display: block; margin-left: 1%; margin-right: 1%; margin-bottom:1%">
                            <div class="row colpadding0" style="margin-top:1%;">
                                <div class="col-md-12 colpadding0">
                                    <div class="col-md-1 colpadding0">
                                        <label class="control-label">Salutation</label><span style="color:red">*</span>
                                        @Html.Kendo().DropDownListFor(model => model.Salutation).BindTo(new SelectList(new List<object> {
                        new {id="",text="Select"},
                        new {id="Mr.",text="Mr."},
                        new {id="Mrs.",text="Mrs."},
                        new {id="Ms.",text="Ms."},
                    }, "id", "text")).HtmlAttributes(new { style = "width: 83%" })
                                        @Html.ValidationMessageFor(model => model.Salutation, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2 colpadding0">
                                        <label class="control-label">First Name</label><span style="color:red">*</span>
                                        @(Html.Kendo().TextBoxFor(m => m.FirstName).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2 colpadding0">
                                        <label class="control-label">Middle Name</label>
                                        @(Html.Kendo().TextBoxFor(m => m.MiddleName).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2 colpadding0">
                                        <label class="control-label">Last Name</label><span style="color:red">*</span>
                                        @(Html.Kendo().TextBoxFor(m => m.LastName).HtmlAttributes(new { @class = "k-textbox", style = "width:90%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2 colpadding0">
                                        <div class="col-md-5 colpadding0">
                                            <label class="control-label">Gender</label><span style="color:red">*</span>
                                            <div id="divGender">
                                                @Html.Kendo().DropDownListFor(model => model.Gender).BindTo(new SelectList(new List<object> {
                                           new {id="0",text="Select"},
                        new {id="1",text="Male"},
                        new {id="2",text="Female"},
                        new {id="3",text="Other"},
                    }, "id", "text")).HtmlAttributes(new { style = "width:100%" })
                                                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-7 colpadding0">
                                            <label class="control-label">Date of Birth</label><span style="color:red">*</span>
                                            @(Html.Kendo().DatePicker().Name("DOB").Max(DateTime.Today).Format("dd/MM/yyyy").HtmlAttributes(new { style = "width:90%", @Id = "DateOfBirth", onchange = "checkdobDate(this);", autocomplete = "off" }))
                                            
                                        </div>
                                    </div>

                                    <div class="col-md-1 colpadding0">
                                        <label class="control-label">DIN</label><span></span>
                                        @(Html.Kendo().TextBoxFor(m => m.DIN).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%", autocomplete = "off" }))

                                    </div>
                                </div>
                            </div>

                            <div class="row colpadding0 " style="margin-top:15px">
                                <div class="col-md-12 colpadding0">
                                    <div class="col-md-1 colpadding0">
                                        <label class="control-label">Resident(India)</label><span style="color:red">*</span>
                                        @Html.Kendo().DropDownListFor(model => model.ResidentInIndia).BindTo(new SelectList(new List<object> {
                        new {id="True",text="Yes"},
                        new {id="False",text="No"},
                    }, "id", "text")).Events(e => e.Change("onResidentInIndia")).HtmlAttributes(new { style = "width: 83%" })
                                        @Html.ValidationMessageFor(model => model.ResidentInIndia, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-1 colpadding0">
                                        <label class="control-label">Passport No</label><span id="spanPassport" style="color:red" hidden="true">*</span>
                                        @(Html.Kendo().TextBoxFor(m => m.PassportNo).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.PassportNo, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-1 colpadding0">
                                        <label class="control-label">Nationality</label><span style="color:red">*</span>
                                        <div id="divNationality" style="width: 90%">
                                            @Html.Kendo().DropDownListFor(model => model.Nationality).BindTo(new SelectList(new List<object> {
                        new {id="-1",text="Select"},
                        new {id="1",text="Indian"},
                        new {id="2",text="other"},
                    }, "id", "text")).HtmlAttributes(new { style = "width: 90%" })
                                            @Html.ValidationMessageFor(model => model.Nationality, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-2 colpadding0">
                                        <label class="control-label">Mobile No</label><span style="color:red">*</span>
                                        @(Html.Kendo().TextBoxFor(m => m.MobileNo).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2 colpadding0">
                                        <label class="control-label">Email (Personal)</label><span style="color:red">*</span>
                                        @(Html.Kendo().TextBoxFor(m => m.EmailId).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2 colpadding0">
                                        <label class="control-label">Email (Official)</label><span style="color:red">*</span>
                                        @(Html.Kendo().TextBoxFor(m => m.EmailId_Official).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.EmailId_Official, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-1 colpadding0">
                                        <label class="control-label">DSC Expiry Date</label><span style="color:red"></span>
                                        @(Html.Kendo().DatePicker()
                                    .Name("DESC_ExpiryDateprofile")
                                    .Min(DateTime.Today)
                                    .Format("dd/MM/yyyy")
                                    .HtmlAttributes(new { style = "width: 100%", @Id = "DESC_ExpiryDatepro", autocomplete = "off" })
                                        )
                                     
                                    </div>
                                </div>
                            </div>

                            <div class="row colpadding0" style="margin-top:15px">
                                <div class="col-md-12 colpadding0">
                                    <div class="col-md-1 colpadding0">
                                        <label class="control-label">Salutation</label><span style="color:red">*</span>
                                        @Html.Kendo().DropDownList().Name("FSalutations").BindTo(new SelectList(new List<object> {
                        new {id="",text="Select"},
                        new {id="Mr.",text="Mr."},
                        new {id="Mrs.",text="Mrs."},
                        new {id="Ms.",text="Ms."},
                    }, "id", "text")).HtmlAttributes(new { style = "width: 83%" })
                                        @Html.ValidationMessageFor(model => model.FSalutations, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2 colpadding0">
                                        <label class="control-label">Father's First Name</label><span style="color:red">*</span>
                                        @(Html.Kendo().TextBoxFor(m => m.FatherFirstName).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.FatherFirstName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2 colpadding0">
                                        <label class="control-label">Middle Name</label><span style="color:red"></span>
                                        @(Html.Kendo().TextBoxFor(m => m.FatherMiddleName).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.FatherMiddleName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2 colpadding0">
                                        <label class="control-label">Last Name</label><span style="color:red">*</span>
                                        @(Html.Kendo().TextBoxFor(m => m.FatherLastName).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.FatherLastName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2 colpadding0">
                                        <label class="control-label">PAN of Director</label><span id="spPAN" style="color:red">*</span>
                                        @(Html.Kendo().TextBoxFor(m => m.PAN).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%; text-transform: uppercase;", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.PAN, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-1 colpadding0">
                                        <label class="control-label">Aadhaar No</label><span id="spAdhaar" style="color:red">*</span>
                                        @(Html.Kendo().TextBoxFor(m => m.Adhaar).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.Adhaar, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row colpadding0" style="margin-top:15px">
                                <div class="col-md-12 colpadding0">
                                    <div class="col-md-1 colpadding0">
                                        <label class="control-label">Salutation</label><span style="color:red">*</span>
                                        @Html.Kendo().DropDownList().Name("MSalutations").BindTo(new SelectList(new List<object> {
                        //new {id="",text="Select"},
                        //new {id="Mr.",text="Mr."},
                        new {id="Mrs.",text="Mrs."},
                        //new {id="Ms.",text="Ms."},
                    }, "id", "text")).HtmlAttributes(new { style = "width: 83%" })
                                        @*@Html.ValidationMessageFor(model => model.Salutation, "", new { @class = "text-danger" })*@
                                    </div>
                                    <div class="col-md-4 colpadding0">
                                        <label class="control-label">Mother's Name</label><span></span>
                                        @(Html.Kendo().TextBoxFor(m => m.MotherName).HtmlAttributes(new { @class = "k-textbox", style = "width: 95%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.MotherName, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="k-item" aria-expanded="true" role="menuitem">
                        <span class="k-link k-header" id="spanAgendaItemB">Address<span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span></span>

                        <div id="step1Content" style="display: block;
    margin-left: 1%;
    margin-right: 1%;margin-top:1%;margin-bottom:1%">


                            <div class="row colpadding0">
                                <div class="colpadding0 col-md-12">
                                    <label class="control-label">Permanent residential address</label>
                                </div>
                                <div class="colpadding0 col-md-12">
                                    <div class="col-md-3 colpadding0">

                                        <label class="control-label">Line 1</label><span style="color:red">*</span>
                                        @(Html.Kendo().TextBoxFor(m => m.Permenant_Address_Line1).HtmlAttributes(new { @class = "k-textbox", style = "width: 95%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.Permenant_Address_Line1, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-3 colpadding0">

                                        <label for="txtCorpAddress2llp" class="control-label">Line 2</label><span style="color:red"></span>
                                        @(Html.Kendo().TextBoxFor(m => m.Permenant_Address_Line2).HtmlAttributes(new { @class = "k-textbox", style = "width: 95%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.Permenant_Address_Line2, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="col-md-2 colpadding0">

                                        <label class="control-label">State</label><span style="color:red">*</span>
                                        <div id="divPermenant_StateId" style="width: 90%">
                                            @(Html.Kendo().DropDownListFor(m => m.Permenant_StateId)
                                         .DataTextField("Name")
                                          .DataValueField("SIdPublic")
                                          .OptionLabel("Select State")
                                          .Filter("contains")
                                          .DataSource(source =>
                                          {
                                              source.Read(read =>
                                              {
                                                  read.Url("/api/EntityMasterAPI/GetDropDownforState").Type(HttpVerbs.Get);
                                              })
                                              .ServerFiltering(false);
                                          })

                                           .HtmlAttributes(new { style = "width: 90%", @Id = "ddlPermenant_StateId", onchange = "load(this,'ddlPermenant_CityId')" })
                                            )
                                            @Html.ValidationMessageFor(model => model.Permenant_StateId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-2 colpadding0">

                                        <label class="control-label">City</label><span style="color:red">*</span>
                                        <div id="divPermenant_CityId" style="width: 90%">
                                            @(Html.Kendo().DropDownListFor(m => m.Permenant_CityId)
                                          .DataTextField("Name")
                                          .Value("" + Model.Permenant_CityId)
                                          .DataValueField("Reg_cityId")
                                          .Filter(FilterType.Contains)
                                          .DataSource(source =>
                                          {
                                              source.Read(read =>
                                              {
                                                  read.Url("/api/EntityMasterAPI/GetDropDownforCity").Data("filterPermentState").Type(HttpVerbs.Get);
                                              })
                                              .ServerFiltering(false);
                                          })
                                           //.Enable(false)
                                           .AutoBind(true)
                                           //.CascadeFrom("ddlPermenant_StateId")
                                           .OptionLabel("Select City")
                                          .HtmlAttributes(new { style = "width: 90%", @Id = "ddlPermenant_CityId" })
                                            )
                                            @Html.ValidationMessageFor(model => model.Permenant_CityId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-2 colpadding0">

                                        <label class="control-label">PIN Code</label><span></span>
                                        @(Html.Kendo().TextBoxFor(m => m.Permenant_PINCode).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.Permenant_PINCode, "", new { @class = "text-danger" })

                                    </div>

                                </div>
                            </div>

                            <div class="row mt20 mt30">
                                <div class="colpadding0 col-md-6">
                                    <div class="col-md-8 colpadding0">
                                        <label class="control-label">Whether present address is same as permanent address</label><span style="color:red">*</span>
                                    </div>
                                    <div class="col-md-4 colpadding0">
                                        @(Html.Kendo().RadioButtonFor(m => m.IsSameAddress).Label("Yes").Value(true))
                                        &nbsp; &nbsp;
                                        @(Html.Kendo().RadioButtonFor(m => m.IsSameAddress).Label("No").Value(false))
                                        @Html.ValidationMessageFor(model => model.IsSameAddress, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div id="divPresentAddress" style="margin-top:1%">
                                <div class="row mt10">
                                    <div class="colpadding0 col-md-12">
                                        <label class="control-label">Present residential address</label>
                                    </div>
                                    <div class="col-md-12 colpadding0">
                                        <div class="col-md-3 colpadding0">

                                            <label class="control-label">Line 1</label><span style="color:red">*</span>

                                            @(Html.Kendo().TextBoxFor(m => m.Present_Address_Line1).HtmlAttributes(new { @class = "k-textbox", style = "width: 95%", autocomplete = "off" }))
                                            @Html.ValidationMessageFor(model => model.Present_Address_Line1, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="col-md-3 colpadding0">

                                            <label class="control-label">Line 2</label><span style="color:red"></span>
                                            @(Html.Kendo().TextBoxFor(m => m.Present_Address_Line2).HtmlAttributes(new { @class = "k-textbox", style = "width: 95%", autocomplete = "off" }))
                                            @Html.ValidationMessageFor(model => model.Present_Address_Line2, "", new { @class = "text-danger" })


                                        </div>
                                        <div class="col-md-2 colpadding0">

                                            <label class="control-label">State</label><span style="color:red">*</span>
                                            <div id="divPresent_StateId" style="width: 90%">
                                                @(Html.Kendo().DropDownListFor(m => m.Present_StateId)
                                          .DataTextField("Name")
                                          .DataValueField("SIdPublic")
                                          .OptionLabel("Select State")
                                          .Filter("contains")
                                          .DataSource(source =>
                                          {
                                              source.Read(read =>
                                              {
                                                  read.Url("/api/EntityMasterAPI/GetDropDownforState").Type(HttpVerbs.Get);
                                              })
                                              .ServerFiltering(false);
                                          })
                                           .HtmlAttributes(new { style = "width: 90%", @Id = "ddlPresent_StateId", onchange = "load(this,'ddlPresent_CityId')" })
                                        //.HtmlAttributes(new { style = "width: 100%", @Id = "ddlPresent_StateId" })
                                                )
                                                @Html.ValidationMessageFor(model => model.Present_StateId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-2 colpadding0">

                                            <label class="control-label">City</label><span style="color:red">*</span>
                                            <div id="divPresent_CityId" style="width: 90%">
                                                @(Html.Kendo().DropDownListFor(m => m.Present_CityId)
                                          .DataTextField("Name")
                                          .DataValueField("Reg_cityId")
                                          .Filter(FilterType.Contains)
                                          .DataSource(source =>
                                          {
                                              source.Read(read =>
                                              {
                                                  read.Url("/api/EntityMasterAPI/GetDropDownforCity").Data("filterPresentState").Type(HttpVerbs.Get);
                                              })
                                              .ServerFiltering(false);
                                          })
                                           //.Enable(false)
                                           .AutoBind(true)
                                           //.CascadeFrom("ddlPresent_StateId")
                                           .OptionLabel("Select City")
                                           .HtmlAttributes(new { style = "width: 90%", @Id = "ddlPresent_CityId" })
                                                )
                                                @Html.ValidationMessageFor(model => model.Present_CityId, "", new { @class = "text-danger" })
                                            </div>

                                        </div>
                                        <div class="col-md-2 colpadding0">

                                            <label class="control-label">PIN Code</label><span></span>
                                            @(Html.Kendo().TextBoxFor(m => m.Present_PINCode).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%", autocomplete = "off" }))
                                            @Html.ValidationMessageFor(model => model.Present_PINCode, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    <li class="k-item" aria-expanded="true" role="menuitem">
                        <span class="k-link k-header" id="spanAgendaItemB">Education  and  Qualification<span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span></span>

                        <div id="step1Content" style="display: block;
    margin-left: 1%;
    margin-right: 1%;margin-top:1%;margin-bottom:1%">

                            <div class="row form-group">
                                <div class="col-md-12 colpadding0">
                                    <div class="col-md-3 colpadding0">

                                        <label class="control-label">Educational Qualification</label><span style="color:red">*</span>
                                        <div id="divEducationalQualification" style="width: 90%">
                                            @Html.Kendo().DropDownListFor(model => model.EducationalQualification).BindTo(new SelectList(new List<object> {
                                           new {id="-1",text="Select"},
                        new {id="1",text="X/SSLC/Junior/Equivalent"},
                        new {id="2",text="XII/SSC/High/Equivalent"},
                        new {id="3",text="Graduation/Bachelor/Equivalent"},
                        new {id="4",text="Post-Graduation/Master/Equivalent"},
                        new {id="5",text="Professional"},
                        new {id="6",text="Executive Program"},
                        new {id="7",text="Doctorate"},
                        new {id="8",text="Diploma"},
                        new {id="0",text="Others"},
                    }, "id", "text")).Events(e => e.Change("onEducationalQualification")).HtmlAttributes(new { style = "width: 90%" })
                                            @Html.ValidationMessageFor(model => model.Nationality, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-2 colpadding0">

                                        <span id="spOtherQualification" style="color:red" hidden="true">*</span><label class="control-label">Other Qualification</label>

                                        @(Html.Kendo().TextBoxFor(m => m.OtherQualification).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.OtherQualification, "", new { @class = "text-danger" })

                                    </div>

                                    <div class="col-md-3 colpadding0">

                                        <label class="control-label">Occupation</label><span style="color:red">*</span>
                                        <div id="divOccupation" style="width: 90%">
                                            @Html.Kendo().DropDownListFor(model => model.Occupation).BindTo(new SelectList(new List<object> {
                                           new {id="-1",text="Select"},
                        new {id="1",text="Self Employed"},
                        new {id="2",text="Professional"},
                        new {id="3",text="Homemaker"},
                        new {id="4",text="Student"},
                        new {id="5",text="Serviceman"},
                    }, "id", "text")).Events(e => e.Change("onOccupationChange")).HtmlAttributes(new { style = "width: 90%" })
                                            @Html.ValidationMessageFor(model => model.Occupation, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                    <div class="col-md-2 colpadding0">

                                        <label class="control-label">Area of Occupation</label><span id="spAreaOfOccupation" style="color:red" hidden="true">*</span>
                                        <div id="divAreaOfOccupation">
                                            @Html.Kendo().DropDownListFor(model => model.AreaOfOccupation).BindTo(new SelectList(new List<object> {
                       new {id="-1",text="Select"},
                        new {id="1",text="Government"},
                        new {id="2",text="Teaching"},
                        new {id="0",text="Others"},
                    }, "id", "text")).Events(e => e.Change("onAreaOfOccupation")).HtmlAttributes(new { style = "width: 90%" })
                                            @Html.ValidationMessageFor(model => model.AreaOfOccupation, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div id="divOtherOccupation" class="col-md-2 colpadding0">

                                        <label class="control-label">Other Occupation</label><span id="spOtherOccupation" style="color:red" hidden="true">*</span>

                                        @(Html.Kendo().TextBoxFor(m => m.OtherOccupation).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.OtherOccupation, "", new { @class = "text-danger" })

                                    </div>

                                </div>
                            </div>


                            <div class="row form-group">
                                <div class="col-md-12 colpadding0">

                                    <div class="col-md-3 colpadding0">
                                        <label class="control-label" style="width:100%">Membership No of the ICSI in case of CS ?</label>
                                        @(Html.Kendo().RadioButtonFor(m => m.IsCAmember).Label("Yes").Value(true).HtmlAttributes(new { }))
                                        &nbsp; &nbsp;
                                        @(Html.Kendo().RadioButtonFor(m => m.IsCAmember).Label("No").Value(false).HtmlAttributes(new { }))
                                        @Html.ValidationMessageFor(model => model.IsCAmember, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-1 colpadding0" id="DIVIsCS" style="width:10%">
                                        <label for="txtCorpAddress2llp" class="control-label">CS Membership No</label><span style="color:red" id="csspan"></span>
                                        @(Html.Kendo().TextBoxFor(m => m.CS_Membersip).HtmlAttributes(new { @class = "k-textbox", style = "width:90%", }))
                                        @Html.ValidationMessageFor(model => model.CS_Membersip, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            @*<div id="divAreaOfOccupation" class="row mt30">
                                    <div class="col-md-12 colpadding0">
                                    </div>
                                </div>*@
                        </div>
                    </li>


                    <li class="k-item" aria-expanded="true" role="menuitem">
                        <span class="k-link k-header" id="spanAgendaItemB">Documents<span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span></span>
                        <div class="row " style="display: block;
    margin-left: 1%;
    margin-right: 1%;margin-top:1%;margin-bottom:1%">
                            <div class="col-md-12 colpadding0">

                                <div class="col-md-3 colpadding0">
                                    <div class="col-md-10 colpadding0" id="divphotoupload">
                                        <span style="color:red"></span><label class="control-label">Upload Photo</label>
                                        @Html.TextBoxFor(m => m.Photo_Doc, new { type = "file", style = "width:100%" })
                                        @Html.HiddenFor(m => m.Photo_Doc_Name)
                                    </div>
                                    <div class="col-md-2 colpadding0" style="top:16px;">
                                        @if (!string.IsNullOrEmpty(Model.Photo_Doc_Name))
                                        {
                                            <a href='@Url.Action("Download", "Director_Master",new { id = Model.ID, ImageName = Model.Photo_Doc_Name } )' target="_blank">
                                                <img src='@Url.Content("~/Images/icon-download.png")' />
                                            </a>
                                        }
                                    </div>
                                </div>


                                <div class="col-md-3 colpadding0">
                                    <div class="col-md-10 colpadding0" id="divuploadpan">
                                        <span style="color:red"></span><label class="control-label">Upload PAN</label>
                                        @Html.TextBoxFor(m => m.PAN_Doc, new { type = "file", style = "width:100%" })
                                        @Html.HiddenFor(m => m.PAN_Doc_Name)
                                    </div>
                                    <div class="col-md-2 colpadding0" style="top:16px;">
                                        @if (!string.IsNullOrEmpty(Model.PAN_Doc_Name))
                                        {
                                            <a href='@Url.Action("Download", "Director_Master",new { id = Model.ID, ImageName = Model.PAN_Doc_Name } )' target="_blank">
                                                <img src='@Url.Content("~/Images/icon-download.png")' />
                                            </a>
                                        }
                                    </div>
                                </div>


                                <div class="col-md-3 colpadding0">
                                    <div class="col-md-10 colpadding0" id="divuploadaadhar">
                                        <span style="color:red"></span><label class="control-label">Upload Aadhaar</label>
                                        @Html.TextBoxFor(m => m.Aadhaar_Doc, new { type = "file", style = "width:100%" })
                                        @Html.HiddenFor(m => m.Aadhaar_Doc_Name)
                                    </div>
                                    <div class="col-md-2 colpadding0" style="top:16px;">
                                        @if (!string.IsNullOrEmpty(Model.Aadhaar_Doc_Name))
                                        {
                                            <a href='@Url.Action("Download", "Director_Master",new { id = Model.ID, ImageName = Model.Aadhaar_Doc_Name } )' target="_blank">
                                                <img src='@Url.Content("~/Images/icon-download.png")' />
                                            </a>
                                        }
                                    </div>
                                </div>

                                <div class="col-md-3 colpadding0">
                                    <div class="col-md-10 colpadding0" id="divuploadpassport">
                                        <span style="color:red"></span><label class="control-label">Upload Passport</label>
                                        @Html.TextBoxFor(m => m.Passport_Doc, new { type = "file", style = "width:100%" })
                                        @Html.HiddenFor(m => m.Passport_Doc)
                                    </div>
                                    <div class="col-md-2 colpadding0" style="top:16px;">
                                        @if (!string.IsNullOrEmpty(Model.Passport_Doc_Name))
                                        {
                                            <a href='@Url.Action("Download", "Director_Master",new { id = Model.ID, ImageName = Model.Passport_Doc_Name } )' target="_blank">
                                                <img src='@Url.Content("~/Images/icon-download.png")' />
                                            </a>
                                        }
                                    </div>
                                </div>


                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            @(Html.Kendo().Window()
    .Name("wndonEditable")
    .Title("Edit On")
    .Visible(false)
    .Modal(true)
    .Draggable(true)

            )

        </div>
        //if (Model.NumberofTypeChange ==null && Model.NumberofTypeChange == 0)
        //{
        <div class="row colpadding0 mt30" id="savebutton" style="display:none">
            <div class="col-md-12 colpadding0" style="text-align:center">
                <button type="submit" id="btnsub" class="btn btn-primary buttonProfile" name="submitButton" value="Save">Save</button>

            </div>
        </div>
        @*}*@


    if (Model.NumberofTypeChange > 0)
    {
        <div class="row colpadding0 mt30" id="Approveanddisapproved">
            <div class="col-md-12 colpadding0" style="text-align:center">

                <button type="submit" id="btnsub" class="btn btn-primary buttonProfile" name="submitButton" value="Approved">Approve</button>
                <button type="submit" id="btnNextMeetingAttendence" class="btn btn-primary buttonProfile" name="submitButton" value="Reject">Reject</button>
            </div>
        </div>
        }
    }

</div>

@(Html.Kendo().Window()
    .Name("wndonEditable")
    .Title("Edit On")
    .Visible(false)
    .Modal(true)
    .Draggable(true)

)
@(Html.Kendo().Window()
    .Name("wndoAssignment")
    .Title("Edit On")
    .Visible(false)
    .Modal(true)
    .Draggable(true)

)


<script>
    function OpendirectirEditon(meetingID) {
        

        $("#wndonEditable").attr("style", "min-height:100px;");

        $("#wndonEditable").kendoWindow({
            title: "Type of Changes",
        });
        $("#wndonEditable").attr("style", "min-height:100px;");
        direction = "OpenOneditDirector?DirectorID=" + meetingID;
        var wnd = $("#wndonEditable").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndonEditable").kendoWindow({
            pinned: true,
            content: direction,
            width: "68%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefresheupload(); },
            close: function (e) {
                $(this.element).empty();

                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {

                OnOpenupload();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "68%";

        wnd.setOptions(opts);
        wnd.center();
        //wnd.refresh(direction);
        wnd.open();

        function OnOpenupload() {
            //$('#wndAdd').data("kendoWindow").close();
        }
        function OnRefresheupload() {

        }
    }
</script>

<script>
    //function ad(ID)
    //{
    //    updatedirectorProfile(ID);
    //}
    var validator1 = $("#frmUpdateofDirectorProfile").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");

    function updatedirectorProfile(ID) {

        $("#frmUpdateofDirectorProfile").submit();
    }
</script>

<script>

    function OpenAssignmet(data) {
        debugger;
        
        if (data.obj.Approve_disapprove == "Approved") {
            //document.getElementById('Approveanddisapproved').style.display = 'none';
            $("#Approveanddisapproved").hide();
            openAssignData();
        }
        else if (data.obj.Approve_disapprove == "Save")
        {
            $("#savebutton").hide();
            $("#cancelbutton").hide();
            //location.reload();
            openAssignData();
        }

        else if (data.obj.Approve_disapprove == "Reject")
        {
            //document.getElementById('Approveanddisapproved').style.display = 'none';
            $("#Approveanddisapproved").hide();
            // openAssignData();
            location.reload();
        }
      
    }
    function openAssignData() {
        
        $("#wndoAssignment").attr("style", "min-height:100px;");
        var direction = "OpenOneditAssignment?ID=" + '@Model.ID';

        $("#wndoAssignment").kendoWindow({
            title: "Type of Changes",
        });
        $("#wndoAssignment").attr("style", "min-height:100px;");
        direction = "OpenOneditAssignment?ID=" + '@Model.ID';
        var wnd = $("#wndoAssignment").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndoAssignment").kendoWindow({
            pinned: true,
            content: direction,
            width: "68%",
            //position: {
            //    top: 100, // or "100px"
            //},
            pinned: true,
            visible: false,
            modal: true,
            refresh: function () {
                this.center();
                kendo.ui.progress(this.element, false);
                OnRefresheassignment();
            },
            close: function (e) {
                $(this.element).empty();

                $(".k-overlay").attr('style', "opacity:0.5; display:none;");

                location.reload();
            },
            open: function (e) {
                kendo.ui.progress(this.element, true);
                OnOpenassignmet();
                //$(this.element).closest(".k-window").css("position", "fixed")
                //$(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "68%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.open();

        function OnOpenassignmet() {
            
        }
        function OnRefresheassignment() {
            
        }
    }
</script>

