﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.Director_MasterVM


@Html.AntiForgeryToken()
@Html.ValidationSummary(false, "", new { @class = "text-danger" })
@Html.HiddenFor(model => model.ID)
<script>
    $(document).ready(function () {
        loadDirectorName('@Model.FirstName', '@Model.LastName')
        $("#panelbarEditDirector").kendoPanelBar({
            expandMode: "single"
        });
    });

    function loadDirectorName(first, last) {

        Colors = [
          "#42A5F5",
          "#008391",
          "#846600",
         "#CC0060",
         "#330099", ];
        var result1 = Colors[Math.floor(Math.random() * Colors.length)];
        var firstName = first;
        var lastName = last;
        var intials = firstName.charAt(0) + lastName.charAt(0);
        $(".textimage1").text(intials);
        $(".textimage1").css("background-color", result1)
        $(".textimage1").css("color", "white")
        $(".textimage1").css("text-align", "center")

    }
</script>
@if (Model.Response != null)
{
    <div class="row">
        <div class="col-md-2 colpadding0">
        </div>
        <div class="col-md-8 colpadding0">
            @Html.Partial("_Response", Model.Response)
        </div>
        <div class="col-md-2 colpadding0">
        </div>
    </div>

    if (Model.Response.Success == true)
    {
        <script>
            if ("@Model.ViewName" == "DirectorAppointment") {

                var dropDownListFor = $('#Director_Id').data('kendoDropDownList');
                if (dropDownListFor != null) {
                    dropDownListFor.dataSource.read();
                }

            } else {
                var gridKendo = $('#gridKendo').data('kendoGrid');
                if (gridKendo != null) {
                    gridKendo.dataSource.read();
                }
            }

        </script>
    }
}

<div class="row" style="overflow-x:hidden">

    <div class="demo-section k-content">
        <ul class="k-widget k-panelbar k-reset k-header" id="panelbarEditDirector" data-role="panelbar" tabindex="0" role="menu">
            <li class="k-item k-state-default k-first k-state-active" aria-expanded="true" role="menuitem">
                <span class="k-link k-header">
                    Details <span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span>
                    <div class="col-md-1 colpadding0 pull-right imgright">

                        @if (Model.Photo_Doc_Name != null)
                        {

                            <img class="customer-photo1" src="@Url.Content(String.Format("/Areas/BM_Management/Documents/Director/"+Model.ID+"/"+Model.Photo_Doc_Name))" />

                        }
                        else
                        {

                            <span class='customer-photo1 textimage1' onload="loadDirectorName(@Model.FirstName,@Model.LastName)"></span>
                        }

                    </div>

                </span>
                <span id='notification'></span>
                <div class="row colpadding0" style="display: block;
    margin-left: 1%;
    margin-right: 1%;margin-bottom:1%">
                    <div class="row colpadding0" style="margin-top:1%;">
                        <div class="col-md-12 colpadding0">
                            <div class="col-md-1 colpadding0">
                                <label class="control-label">Salutation</label><span style="color:red">*</span>
                                @Html.Kendo().DropDownListFor(model => model.Salutation).BindTo(new SelectList(new List<object> {
                        new {id="",text="Select"},
                        new {id="Mr.",text="Mr."},
                        new {id="Mrs.",text="Mrs."},
                        new {id="Ms.",text="Ms."},
                    }, "id", "text")).HtmlAttributes(new { style = "width: 83%" })
                                @Html.ValidationMessageFor(model => model.Salutation, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-2 colpadding0">
                                <label class="control-label">First Name</label><span style="color:red">*</span>
                                @(Html.Kendo().TextBoxFor(m => m.FirstName).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-2 colpadding0">
                                <label class="control-label">Middle Name</label>
                                @(Html.Kendo().TextBoxFor(m => m.MiddleName).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })

                            </div>

                            <div class="col-md-2 colpadding0">
                                <label class="control-label">Last Name</label><span style="color:red">*</span>
                                @(Html.Kendo().TextBoxFor(m => m.LastName).HtmlAttributes(new { @class = "k-textbox", style = "width:90%", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })

                            </div>

                            <div class="col-md-2 colpadding0">

                                <label class="control-label">Date of Birth</label><span style="color:red">*</span>
                                @(Html.Kendo().DatePicker().Name("DateOfBirth").Max(DateTime.Today).Format("dd/MM/yyyy").HtmlAttributes(new { style = "width:90%", @Id = "DateOfBirth", onchange = "checkDate(this);", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-1 colpadding0">

                                <label class="control-label">Gender</label><span style="color:red">*</span>

                                @Html.Kendo().DropDownListFor(model => model.Gender).BindTo(new SelectList(new List<object> {
                                           new {id="0",text="Select"},
                        new {id="1",text="Male"},
                        new {id="2",text="Female"},
                        new {id="3",text="Other"},
                    }, "id", "text")).HtmlAttributes(new { style = "width:90%" })
                                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-2 colpadding0">

                                <label class="control-label">DIN</label><span style="color:red">*</span>
                                @(Html.Kendo().TextBoxFor(m => m.DIN).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.DIN, "", new { @class = "text-danger" })

                            </div>
                        </div>
                    </div>

                    <div class="row colpadding0" style="margin-top:15px"><div class="col-md-12 colpadding0"><label class="control-label">Father's</label></div></div>
                    <div class="row colpadding0">
                        <div class="col-md-12 colpadding0">
                            <div class="col-md-1 colpadding0">
                                <label class="control-label">Salutation</label><span style="color:red">*</span>
                                @Html.Kendo().DropDownList().Name("FSalutations").BindTo(new SelectList(new List<object> {
                        new {id="",text="Select"},
                        new {id="Mr.",text="Mr."},
                        new {id="Mrs.",text="Mrs."},
                        new {id="Ms.",text="Ms."},
                    }, "id", "text")).HtmlAttributes(new { style = "width: 83%" })
                                @Html.ValidationMessageFor(model => model.Salutation, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2 colpadding0">
                                <label class="control-label">First Name</label><span style="color:red">*</span>
                                @(Html.Kendo().TextBoxFor(m => m.FatherFirstName).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.FatherFirstName, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-2 colpadding0">

                                <label class="control-label">Middle Name</label><span style="color:red"></span>
                                @(Html.Kendo().TextBoxFor(m => m.FatherMiddleName).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.FatherMiddleName, "", new { @class = "text-danger" })

                            </div>


                            <div class="col-md-2 colpadding0">

                                <label class="control-label">Last Name</label><span style="color:red">*</span>
                                @(Html.Kendo().TextBoxFor(m => m.FatherLastName).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.EmailId_Official, "", new { @class = "text-danger" })

                            </div>
                        </div>

                    </div>
                    <div class="row colpadding0 " style="margin-top:15px">
                        <div class="col-md-12 colpadding0">

                            <div class="col-md-1 colpadding0">
                                <label class="control-label">Resident(India)</label><span style="color:red">*</span>
                                @Html.Kendo().DropDownListFor(model => model.ResidentInIndia).BindTo(new SelectList(new List<object> {
                        new {id="True",text="Yes"},
                        new {id="False",text="No"},
                    }, "id", "text")).Events(e => e.Change("onResidentInIndia")).HtmlAttributes(new { style = "width: 83%" })

                                @Html.ValidationMessageFor(model => model.ResidentInIndia, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2 colpadding0">
                                <label class="control-label">Mobile No</label><span style="color:red">*</span>
                                @(Html.Kendo().TextBoxFor(m => m.MobileNo).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-2 colpadding0">

                                <label class="control-label">Email (Personal)</label><span style="color:red">*</span>
                                @(Html.Kendo().TextBoxFor(m => m.EmailId).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })

                            </div>


                            <div class="col-md-2 colpadding0">

                                <label class="control-label">Email (Official)</label><span style="color:red">*</span>
                                @(Html.Kendo().TextBoxFor(m => m.EmailId_Official).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.EmailId_Official, "", new { @class = "text-danger" })

                            </div>
                            <div class="col-md-2 colpadding0">

                                <label class="control-label">PAN</label><span id="spPAN" style="color:red">*</span>
                                @(Html.Kendo().TextBoxFor(m => m.PAN).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.PAN, "", new { @class = "text-danger" })

                            </div>
                            <div class="col-md-1 colpadding0">

                                <label class="control-label">Nationality</label><span style="color:red">*</span>

                                @Html.Kendo().DropDownListFor(model => model.Nationality).BindTo(new SelectList(new List<object> {
                        new {id="-1",text="Select"},
                        new {id="1",text="Indian"},
                        new {id="2",text="other"},
                    }, "id", "text")).HtmlAttributes(new { style = "width: 90%" })
                                @Html.ValidationMessageFor(model => model.Nationality, "", new { @class = "text-danger" })

                            </div>


                            <div class="col-md-2 colpadding0">

                                <label class="control-label">Aadhaar No</label><span id="spAdhaar" style="color:red">*</span>
                                @(Html.Kendo().TextBoxFor(m => m.Adhaar).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.Adhaar, "", new { @class = "text-danger" })

                            </div>


                        </div>

                    </div>

                    <div class="row colpadding0">
                        <div class="col-md-12 colpadding0" style="margin-top:15px">

                            <div class="col-md-2 colpadding0">

                                <label class="control-label">Passport</label><span id="spanPassport" style="color:red" hidden="true">*</span>
                                @(Html.Kendo().TextBoxFor(m => m.PassportNo).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.PassportNo, "", new { @class = "text-danger" })

                            </div>

                            <div class="col-md-2 colpadding0">

                                <label class="control-label">DSC Expiry Date</label><span style="color:red">*</span>

                                @(Html.Kendo().DatePickerFor(m => m.DESC_ExpiryDate)
                                    .Min(DateTime.Today)
                                    .Format("dd/MM/yyyy")
                                    .HtmlAttributes(new { style = "width: 90%", @Id = "DESC_ExpiryDate", onchange = "checkDate(this);", autocomplete = "off" })
                                )

                                @Html.ValidationMessageFor(model => model.DESC_ExpiryDate, "", new { @class = "text-danger" })


                            </div>
                        </div>
                    </div>

                </div>
            </li>

            <li class="k-item" aria-expanded="true" role="menuitem">
                <span class="k-link k-header" id="spanAgendaItemB">Address<span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span></span>

                <div id="step1Content" style="display: block;
    margin-left: 1%;
    margin-right: 1%;margin-top:1%;margin-bottom:1%">


                    <div class="row colpadding0">
                        <div class="colpadding0 col-md-12">
                            <label class="control-label">Permanent residential address</label>
                        </div>
                        <div class="colpadding0 col-md-12">
                            <div class="col-md-3 colpadding0">

                                <label class="control-label">Line 1</label><span style="color:red">*</span>
                                @(Html.Kendo().TextBoxFor(m => m.Permenant_Address_Line1).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.Permenant_Address_Line1, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3 colpadding0">

                                <label for="txtCorpAddress2llp" class="control-label">Line 2</label><span style="color:red">*</span>
                                @(Html.Kendo().TextBoxFor(m => m.Permenant_Address_Line2).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.Permenant_Address_Line2, "", new { @class = "text-danger" })

                            </div>
                            <div class="col-md-2 colpadding0">

                                <label class="control-label">State</label><span style="color:red">*</span>
                                @(Html.Kendo().DropDownListFor(m => m.Permenant_StateId)
                                         .DataTextField("Name")
                                          .DataValueField("SIdPublic")
                                          .OptionLabel("Select State")
                                          .Filter("contains")
                                          .DataSource(source =>
                                          {
                                              source.Read(read =>
                                              {
                                                  read.Url("/api/EntityMasterAPI/GetDropDownforState").Type(HttpVerbs.Get);
                                              })
                                              .ServerFiltering(false);
                                          })

                                           .HtmlAttributes(new { style = "width: 90%", @Id = "ddlPermenant_StateId", onchange = "load(this,'ddlPermenant_CityId')" })
                                )
                                @Html.ValidationMessageFor(model => model.Permenant_StateId, "", new { @class = "text-danger" })

                            </div>
                            <div class="col-md-2 colpadding0">

                                <label class="control-label">City</label><span style="color:red">*</span>
                                @(Html.Kendo().DropDownListFor(m => m.Permenant_CityId)
                                          .DataTextField("Name")
                                          .Value("" + Model.Permenant_CityId)
                                          .DataValueField("Reg_cityId")
                                          .Filter(FilterType.Contains)
                                          .DataSource(source =>
                                          {
                                              source.Read(read =>
                                              {
                                                  read.Url("/api/EntityMasterAPI/GetDropDownforCity").Data("filterPermentState").Type(HttpVerbs.Get);
                                              })
                                              .ServerFiltering(false);
                                          })
                                           //.Enable(false)
                                           .AutoBind(true)
                                           //.CascadeFrom("ddlPermenant_StateId")
                                           .OptionLabel("Select City")
                                          .HtmlAttributes(new { style = "width: 90%", @Id = "ddlPermenant_CityId" })
                                )
                                @Html.ValidationMessageFor(model => model.Permenant_CityId, "", new { @class = "text-danger" })

                            </div>
                            <div class="col-md-2 colpadding0">

                                <label class="control-label">PIN Code</label><span></span>
                                @(Html.Kendo().TextBoxFor(m => m.Permenant_PINCode).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.Permenant_PINCode, "", new { @class = "text-danger" })

                            </div>

                        </div>
                    </div>

                    <div class="row mt20 mt30">
                        <div class="colpadding0 col-md-6">
                            <div class="col-md-8 colpadding0">
                                <label class="control-label">Whether present address is same as permanent address</label><span style="color:red">*</span>
                            </div>
                            <div class="col-md-4 colpadding0">
                                @(Html.Kendo().RadioButtonFor(m => m.IsSameAddress).Label("Yes").Value(true))
                                &nbsp; &nbsp;
                                @(Html.Kendo().RadioButtonFor(m => m.IsSameAddress).Label("No").Value(false))
                                @Html.ValidationMessageFor(model => model.IsSameAddress, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div id="divPresentAddress" style="margin-top:1%">
                        <div class="row mt10">
                            <div class="colpadding0 col-md-12">
                                <label class="control-label">Present residential address</label>
                            </div>
                            <div class="col-md-12 colpadding0">
                                <div class="col-md-3 colpadding0">

                                    <label class="control-label">Line 1</label><span style="color:red">*</span>

                                    @(Html.Kendo().TextBoxFor(m => m.Present_Address_Line1).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off" }))
                                    @Html.ValidationMessageFor(model => model.Present_Address_Line1, "", new { @class = "text-danger" })

                                </div>
                                <div class="col-md-3 colpadding0">

                                    <label class="control-label">Line 2</label><span style="color:red">*</span>
                                    @(Html.Kendo().TextBoxFor(m => m.Present_Address_Line2).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off" }))
                                    @Html.ValidationMessageFor(model => model.Present_Address_Line2, "", new { @class = "text-danger" })


                                </div>
                                <div class="col-md-2 colpadding0">

                                    <label class="control-label">State</label><span style="color:red">*</span>
                                    @(Html.Kendo().DropDownListFor(m => m.Present_StateId)
                                          .DataTextField("Name")
                                          .DataValueField("SIdPublic")
                                          .OptionLabel("Select State")
                                          .Filter("contains")
                                          .DataSource(source =>
                                          {
                                              source.Read(read =>
                                              {
                                                  read.Url("/api/EntityMasterAPI/GetDropDownforState").Type(HttpVerbs.Get);
                                              })
                                              .ServerFiltering(false);
                                          })
                                           .HtmlAttributes(new { style = "width: 90%", @Id = "ddlPresent_StateId", onchange = "load(this,'ddlPresent_CityId')" })
                                    //.HtmlAttributes(new { style = "width: 100%", @Id = "ddlPresent_StateId" })
                                    )
                                    @Html.ValidationMessageFor(model => model.Present_StateId, "", new { @class = "text-danger" })

                                </div>
                                <div class="col-md-2 colpadding0">

                                    <label class="control-label">City</label><span style="color:red">*</span>
                                    @(Html.Kendo().DropDownListFor(m => m.Present_CityId)
                                          .DataTextField("Name")
                                          .DataValueField("Reg_cityId")
                                          .Filter(FilterType.Contains)
                                          .DataSource(source =>
                                          {
                                              source.Read(read =>
                                              {
                                                  read.Url("/api/EntityMasterAPI/GetDropDownforCity").Data("filterPresentState").Type(HttpVerbs.Get);
                                              })
                                              .ServerFiltering(false);
                                          })
                                           //.Enable(false)
                                           .AutoBind(true)
                                           //.CascadeFrom("ddlPresent_StateId")
                                           .OptionLabel("Select City")
                                           .HtmlAttributes(new { style = "width: 90%", @Id = "ddlPresent_CityId" })
                                    )
                                    @Html.ValidationMessageFor(model => model.Present_CityId, "", new { @class = "text-danger" })


                                </div>
                                <div class="col-md-2 colpadding0">

                                    <label class="control-label">PIN Code</label><span></span>
                                    @(Html.Kendo().TextBoxFor(m => m.Present_PINCode).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%", autocomplete = "off" }))
                                    @Html.ValidationMessageFor(model => model.Present_PINCode, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            <li class="k-item" aria-expanded="true" role="menuitem">
                <span class="k-link k-header" id="spanAgendaItemB">Education  and  Qualification<span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span></span>

                <div id="step1Content" style="display: block;
    margin-left: 1%;
    margin-right: 1%;margin-top:1%;margin-bottom:1%">

                    <div class="row form-group">
                        <div class="col-md-12 colpadding0">
                            <div class="col-md-2 colpadding0">

                                <label class="control-label">Educational Qualification</label><span style="color:red">*</span>

                                @Html.Kendo().DropDownListFor(model => model.EducationalQualification).BindTo(new SelectList(new List<object> {
                                           new {id="-1",text="Select"},
                        new {id="1",text="X/SSLC/Junior/Equivalent"},
                        new {id="2",text="XII/SSC/High/Equivalent"},
                        new {id="3",text="Graduation/Bachelor/Equivalent"},
                        new {id="4",text="Post-Graduation/Master/Equivalent"},
                        new {id="5",text="Professional"},
                        new {id="6",text="Executive Program"},
                        new {id="7",text="Doctorate"},
                        new {id="8",text="Diploma"},
                        new {id="0",text="Others"},
                    }, "id", "text")).Events(e => e.Change("onEducationalQualification")).HtmlAttributes(new { style = "width: 90%" })
                                @Html.ValidationMessageFor(model => model.Nationality, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-2 colpadding0">

                                <span id="spOtherQualification" style="color:red" hidden="true">*</span><label class="control-label">Other Qualification</label>

                                @(Html.Kendo().TextBoxFor(m => m.OtherQualification).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.OtherQualification, "", new { @class = "text-danger" })

                            </div>

                            <div class="col-md-2 colpadding0">

                                <label class="control-label">Occupation</label><span style="color:red">*</span>

                                @Html.Kendo().DropDownListFor(model => model.Occupation).BindTo(new SelectList(new List<object> {
                                           new {id="-1",text="Select"},
                        new {id="1",text="Self Employed"},
                        new {id="2",text="Professional"},
                        new {id="3",text="Homemaker"},
                        new {id="4",text="Student"},
                        new {id="5",text="Serviceman"},
                    }, "id", "text")).Events(e => e.Change("onOccupationChange")).HtmlAttributes(new { style = "width: 90%" })
                                @Html.ValidationMessageFor(model => model.Occupation, "", new { @class = "text-danger" })

                            </div>


                            <div class="col-md-2 colpadding0">

                                <label class="control-label">Area of Occupation</label><span id="spAreaOfOccupation" style="color:red" hidden="true">*</span>

                                @Html.Kendo().DropDownListFor(model => model.AreaOfOccupation).BindTo(new SelectList(new List<object> {
                       new {id="-1",text="Select"},
                        new {id="1",text="Government"},
                        new {id="2",text="Teaching"},
                        new {id="0",text="Others"},
                    }, "id", "text")).Events(e => e.Change("onAreaOfOccupation")).HtmlAttributes(new { style = "width: 90%" })
                                @Html.ValidationMessageFor(model => model.AreaOfOccupation, "", new { @class = "text-danger" })

                            </div>

                            <div id="divOtherOccupation" class="col-md-2 colpadding0">

                                <label class="control-label">Other Occupation</label><span id="spOtherOccupation" style="color:red" hidden="true">*</span>

                                @(Html.Kendo().TextBoxFor(m => m.OtherOccupation).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.OtherOccupation, "", new { @class = "text-danger" })

                            </div>

                        </div>
                    </div>

                    @*<div id="divAreaOfOccupation" class="row mt30">
                            <div class="col-md-12 colpadding0">
                            </div>
                        </div>*@
                </div>
            </li>


            <li class="k-item" aria-expanded="true" role="menuitem">
                <span class="k-link k-header" id="spanAgendaItemB">Documents<span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span></span>
                <div class="row " style="display: block;
    margin-left: 1%;
    margin-right: 1%;margin-top:1%;margin-bottom:1%">
                    <div class="col-md-12 colpadding0">

                        <div class="col-md-3 colpadding0">
                            <div class="col-md-10 colpadding0">
                                <span style="color:red"></span><label class="control-label">Upload Photo</label>
                                @Html.TextBoxFor(m => m.Photo_Doc, new { type = "file", style = "width:100%" })
                                @Html.HiddenFor(m => m.Photo_Doc_Name)
                            </div>
                            <div class="col-md-2 colpadding0" style="top:16px;">
                                @if (!string.IsNullOrEmpty(Model.Photo_Doc_Name))
                                {
                                    <a href='@Url.Action("Download", "Director_Master",new { id = Model.ID, ImageName = Model.Photo_Doc_Name } )' target="_blank">
                                        <img src='@Url.Content("~/Images/icon-download.png")' />
                                    </a>
                                }
                            </div>
                        </div>


                        <div class="col-md-3 colpadding0">
                            <div class="col-md-10 colpadding0">
                                <span style="color:red"></span><label class="control-label">Upload PAN</label>
                                @Html.TextBoxFor(m => m.PAN_Doc, new { type = "file", style = "width:100%" })
                                @Html.HiddenFor(m => m.PAN_Doc_Name)
                            </div>
                            <div class="col-md-2 colpadding0" style="top:16px;">
                                @if (!string.IsNullOrEmpty(Model.PAN_Doc_Name))
                                {
                                    <a href='@Url.Action("Download", "Director_Master",new { id = Model.ID, ImageName = Model.PAN_Doc_Name } )' target="_blank">
                                        <img src='@Url.Content("~/Images/icon-download.png")' />
                                    </a>
                                }
                            </div>
                        </div>


                        <div class="col-md-3 colpadding0">
                            <div class="col-md-10 colpadding0">
                                <span style="color:red"></span><label class="control-label">Upload Aadhaar</label>
                                @Html.TextBoxFor(m => m.Aadhaar_Doc, new { type = "file", style = "width:100%" })
                                @Html.HiddenFor(m => m.Aadhaar_Doc_Name)
                            </div>
                            <div class="col-md-2 colpadding0" style="top:16px;">
                                @if (!string.IsNullOrEmpty(Model.Aadhaar_Doc_Name))
                                {
                                    <a href='@Url.Action("Download", "Director_Master",new { id = Model.ID, ImageName = Model.Aadhaar_Doc_Name } )' target="_blank">
                                        <img src='@Url.Content("~/Images/icon-download.png")' />
                                    </a>
                                }
                            </div>
                        </div>

                        <div class="col-md-3 colpadding0">
                            <div class="col-md-10 colpadding0">
                                <span style="color:red"></span><label class="control-label">Upload Passport</label>
                                @Html.TextBoxFor(m => m.Passport_Doc, new { type = "file", style = "width:100%" })
                                @Html.HiddenFor(m => m.Passport_Doc)
                            </div>
                            <div class="col-md-2 colpadding0" style="top:16px;">
                                @if (!string.IsNullOrEmpty(Model.Passport_Doc_Name))
                                {
                                    <a href='@Url.Action("Download", "Director_Master",new { id = Model.ID, ImageName = Model.Passport_Doc_Name } )' target="_blank">
                                        <img src='@Url.Content("~/Images/icon-download.png")' />
                                    </a>
                                }
                            </div>
                        </div>


                    </div>
                </div>
            </li>
        </ul>
    </div>
    @(Html.Kendo().Window()
    .Name("wndonEditable")
    .Title("Edit On")
    .Visible(false)
    .Modal(true)
    .Draggable(true)

    )

</div>



<script>
    $(document).ready(function () {
        $("#DateOfBirth").removeAttr("data-val-date");
        $("#DESC_ExpiryDate").removeAttr("data-val-date");

        if ($("#DateOfBirth").val() == "01/01/0001") {
            $("#DateOfBirth").val('');
        }

        if ($("#DESC_ExpiryDate").val() == "01/01/0001") {
            $("#DESC_ExpiryDate").val('');
        }

    });

    function load(e, t) {

        var ddlState = $("#" + e.id).data("kendoDropDownList");
        var val = ddlState.value();

        $("#" + t).kendoDropDownList({
            dataSource: {
                transport: {
                    read: {
                        url: "/api/EntityMasterAPI/GetDropDownforCity?stateId=" + val + ""
                    }
                },
                serverFiltering: false
            },
            dataTextField: "Name",
            dataValueField: "Reg_cityId",
            filter: "contains"
        });
        //var ddlState = $("#" + t).data("kendoDropDownList");
        //ddlState.dataSource.read();
        //ddlState.refresh();
    }

    function checkDate(e) {
        if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
            e.value = '';
        }
    }
</script>



<script>
    function OpendirectirEditon(meetingID) {
        

        $("#wndonEditable").attr("style", "min-height:100px;");
        var direction = "OpenOneditDirector?DirectorID=" + meetingID;

        $("#wndonEditable").kendoWindow({
            title: "Type of Changes",
        });
        $("#wndonEditable").attr("style", "min-height:100px;");
        direction = "OpenOneditDirector?DirectorID=" + meetingID;
        var wnd = $("#wndonEditable").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndonEditable").kendoWindow({
            pinned: true,
            content: direction,
            width: "68%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
            refresh: function () { this.center();},
            close: function (e) {
                $(this.element).empty();

                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {

                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "68%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.refresh(direction);
        wnd.open();
    }

    $(document).ready(function () {
        ontypechange(@Model.ID);
    })

    function ontypechange(DirectorID) {
        
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetDitectorChangeType", "Director_Master")' + '?DirectorId=' + DirectorID,
            content: "application/json; charset=utf-8",
            dataType: "json",
            //data: { "id": dataItem.ID },
            success: function (d) {
                
                if (d != null || d != "") {
                    if (d.Name) {
                        $("#FirstName").removeAttr('readonly');
                        $("#MiddleName").removeAttr('readonly');
                        $("#LastName").removeAttr('readonly');
                       
                        $("#FirstName").css("outline", "solid 1px yellow");
                        $("#MiddleName").css("outline", "solid 1px yellow");
                        $("#LastName").css("outline", "solid 1px yellow");
                        
                    }
                    else if (!d.Name) {
                        $("#FirstName").attr('readonly', 'true');
                        $("#MiddleName").attr('readonly', 'true');
                        $("#LastName").attr('readonly', 'true');

                        $("#FirstName").css("outline", "");
                        $("#MiddleName").css("outline", "");
                        $("#LastName").css("outline", "");
                    }

                    if (d.FatherName) {
                        $("#FatherFirstName").removeAttr('readonly');
                        $("#FatherMiddleName").removeAttr('readonly');
                        $("#FatherLastName").removeAttr('readonly');

                        $("#FatherFirstName").css("outline", "solid 1px yellow");
                        $("#FatherMiddleName").css("outline", "solid 1px yellow");
                        $("#FatherLastName").css("outline", "solid 1px yellow");
                    }
                    else if (!d.FatherName) {
                        $("#FatherFirstName").attr('readonly', 'true');
                        $("#FatherMiddleName").attr('readonly', 'true');
                        $("#FatherLastName").attr('readonly', 'true');

                        $("#FatherFirstName").css("outline", "");
                        $("#FatherMiddleName").css("outline", "");
                        $("#FatherLastName").css("outline", "");
                    }
                    if (d.Nationality) {
                        $("#Nationality").data("kendoDropDownList").readonly(false);
                        $("#Nationality").css("outline", "solid 1px yellow");
                    }
                    else if (!d.Nationality) {
                        $("#Nationality").data("kendoDropDownList").readonly();
                        $("#Nationality").css("outline", "");

                    }

                    if (d.DateofBirth) {
                        $("#DateOfBirth").data("kendoDatePicker").enable(true);
                        $("#DateOfBirth").css("outline", "solid 1px yellow");

                    }
                    else if (!d.DateofBirth) {
                        $("#DateOfBirth").data("kendoDatePicker").readonly();
                        $("#DateOfBirth").css("outline", "");
                    }

                    if (d.Gender) {
                        $("#Gender").data("kendoDropDownList").readonly(false);
                        $("#Gender").css("outline", "solid 1px yellow");

                    }
                    else if (!d.Gender) {
                        $("#Gender").data("kendoDropDownList").readonly(true);
                        $("#Gender").css("outline", "");
                    }
                    if (d.PAN) {
                        $("#PAN").removeAttr('readonly');
                        $("#PAN").css("outline", "solid 1px yellow");
                    }
                    else if (!d.PAN) {
                        $("#PAN").attr('readonly', 'true');
                        $("#PAN").css("outline", "");
                    }
                    if (d.PassportNumber) {
                        $("#PassportNo").removeAttr('readonly');
                        $("#PassportNo").css("outline", "solid 1px yellow");
                    }
                    else if (!d.PassportNumber) {
                        $("#PassportNo").attr('readonly', 'true');
                        $("#PassportNo").css("outline", "");
                    }
                    if (d.EmailId) {
                        $("#EmailId").removeAttr('readonly');
                        $("#EmailId_Official").removeAttr('readonly');

                        $("#EmailId").css("outline", "solid 1px yellow");
                        $("#EmailId_Official").css("outline", "solid 1px yellow");
                    }
                    else if (!d.EmailId) {
                        $("#EmailId").attr('readonly', 'true');
                        $("#EmailId_Official").attr('readonly', 'true');

                        $("#EmailId").css("outline", "");
                        $("#EmailId_Official").css("outline", "");
                    }
                    if (d.MobileNumber) {
                        $("#MobileNo").removeAttr('readonly');

                        $("#MobileNo").css("outline", "solid 1px yellow");
                       
                    }
                    else if (!d.MobileNumber) {
                        $("#MobileNo").attr('readonly', 'true');

                        $("#MobileNo").css("outline", "");
                    }

                    if (d.PermanentAddress) {
                        $("#Permenant_Address_Line1").removeAttr('readonly');
                        $("#Permenant_Address_Line2").removeAttr('readonly');
                        $("#Permenant_PINCode").removeAttr('readonly');

                        $("#ddlPermenant_StateId").data("kendoDropDownList").readonly(false);

                        $("#ddlPermenant_CityId").data("kendoDropDownList").readonly(false);

                        $("#Permenant_Address_Line1").css("outline", "solid 1px yellow");
                        $("#Permenant_Address_Line2").css("outline", "solid 1px yellow");
                        $("#Permenant_PINCode").css("outline", "solid 1px yellow");
                        $("#ddlPermenant_StateId").css("outline", "solid 1px yellow");
                        $("#ddlPermenant_CityId").css("outline", "solid 1px yellow");
                    }
                    else if (!d.PermanentAddress) {
                        $("#Permenant_Address_Line1").attr('readonly', 'true');
                        $("#Permenant_Address_Line2").attr('readonly', 'true');
                        $("#Permenant_PINCode").attr('readonly', 'true');

                        $("#ddlPermenant_StateId").data("kendoDropDownList").readonly();

                        $("#ddlPermenant_CityId").data("kendoDropDownList").readonly();

                        $("#Permenant_Address_Line1").css("outline", "");
                        $("#Permenant_Address_Line2").css("outline", "");
                        $("#Permenant_PINCode").css("outline", "");
                        $("#ddlPermenant_StateId").css("outline", "");
                        $("#ddlPermenant_CityId").css("outline", "");

                    }

                    if (d.PresentAddress) {
                        $("#Present_Address_Line1").removeAttr('readonly');
                        $("#Present_Address_Line2").removeAttr('readonly');
                        $("#Present_PINCode").removeAttr('readonly');

                        $("#ddlPresent_StateId").data("kendoDropDownList").readonly(false);

                        $("#ddlPresent_CityId").data("kendoDropDownList").readonly(false);

                        $("#Present_Address_Line1").css("outline", "solid 1px yellow");
                        $("#Present_Address_Line2").css("outline", "solid 1px yellow");
                        $("#Present_PINCode").css("outline", "solid 1px yellow");
                        $("#ddlPresent_StateId").css("outline", "solid 1px yellow");
                        $("#ddlPresent_CityId").css("outline", "solid 1px yellow");

                    }
                    else if (!d.PresentAddress) {
                        $("#Present_Address_Line1").attr('readonly', 'true');
                        $("#Present_Address_Line2").attr('readonly', 'true');
                        $("#Present_PINCode").attr('readonly', 'true');

                        $("#ddlPresent_StateId").data("kendoDropDownList").readonly();

                        $("#ddlPresent_CityId").data("kendoDropDownList").readonly();

                        $("#Present_Address_Line1").css("outline", "");
                        $("#Present_Address_Line2").css("outline", "");
                        $("#Present_PINCode").css("outline", "");
                        $("#ddlPresent_StateId").css("outline", "");
                        $("#ddlPresent_CityId").css("outline", "");
                    }
                    if (d.ResidentialStatus) {
                        $("#ResidentInIndia").data("kendoDropDownList").readonly(false);

                        $("#ResidentInIndia").css("outline", "solid 1px yellow");

                    }
                    else if (!d.ResidentialStatus) {
                        $("#ResidentInIndia").data("kendoDropDownList").readonly();

                        $("#ResidentInIndia").css("outline", "");

                    }
                    if (d.Aadhaar) {

                        $("#Adhaar").removeAttr('readonly');
                        $("#Adhaar").css("outline", "solid 1px yellow");
                    }
                    else if (!d.Aadhaar) {
                        $("#Adhaar").attr('readonly', 'true');
                        $("#Adhaar").css("outline", "");
                    }
                    $("#DIN").attr('readonly', 'true');
                }
                else {

                    $("#FirstName").attr('readonly', 'true');
                    $("#MiddleName").attr('readonly', 'true');
                    $("#LastName").attr('readonly', 'true');

                    $("#FatherFirstName").attr('readonly', 'true');
                    $("#FatherMiddleName").attr('readonly', 'true');
                    $("#FatherLastName").attr('readonly', 'true');

                    $("#Nationality").data("kendoDropDownList").readonly();

                    $("#DateOfBirth").data("kendoDatePicker").readonly();


                    $("#Gender").data("kendoDropDownList").readonly(true);

                    $("#PAN").attr('readonly', 'true');

                    $("#PassportNo").attr('readonly', 'true');


                    $("#EmailId").attr('readonly', 'true');
                    $("#EmailId_Official").attr('readonly', 'true');

                    $("#MobileNo").attr('readonly', 'true');


                    $("#Permenant_Address_Line1").attr('readonly', 'true');
                    $("#Permenant_Address_Line2").attr('readonly', 'true');
                    $("#Permenant_PINCode").attr('readonly', 'true');

                    $("#ddlPermenant_StateId").data("kendoDropDownList").readonly();

                    $("#ddlPermenant_CityId").data("kendoDropDownList").readonly();


                    $("#Present_Address_Line1").attr('readonly', 'true');
                    $("#Present_Address_Line2").attr('readonly', 'true');
                    $("#Present_PINCode").attr('readonly', 'true');

                    $("#ddlPresent_StateId").data("kendoDropDownList").readonly();

                    $("#ddlPresent_CityId").data("kendoDropDownList").readonly();

                    $("#ResidentInIndia").data("kendoDropDownList").readonly();

                    $("#Adhaar").attr('readonly', 'true');

                    $("#DIN").attr('readonly', 'true');

                }
            },
        })

    }

    function closeEditButton()
    {
        $("#wndonEditable").data("kendoWindow").close();
        ontypechange(@Model.ID);
    }
</script>


