﻿@using Kendo.Mvc.UI;
@model long


@Html.AntiForgeryToken()
@Html.ValidationSummary(false, "", new { @class = "text-danger" })
@*@Html.TextBoxFor(model => model.Director_Id, new { @Id = "txtDirectorID", @type = "hidden" })*@
<script>
    function error(e) {
        if (e.errors) {

            var message = "Errors:\n";

            $.each(e.errors, function (key, value) {

                if ('errors' in value) {

                    $.each(value.errors, function () {

                        message += this + "\n";

                    });
                }
            });
            var grid = $("#gridKendo1").data("kendoGrid");

            grid.one("dataBinding", function (e) {

                e.preventDefault();   // cancel grid rebind if error occurs
            });

            alert(message);
        }
    }

    function req_End(e) {

        if (e.type == "create") {
            var grid = $("#gridKendo1").data("kendoGrid");
            // grid.dataSource.read();
            grid.one("dataBinding", function (e) {

                e.preventDefault();   // cancel grid rebind if error occurs
            });

            kendo.ui.progress(grid.element, false);
            if (e.response == "Save successfully") {
                $("#Divsuccess").show();
                $("#Diverror").hide();
                $('#lblsuccess').text(e.response);
                var ddlentitydata = $("#ddlEntityType").data("kendoDropDownList");
                //ddlentitydata.dataSource.data({}); // clears dataSource
                //ddl.text(""); // clears visible text
                ddlentitydata.value("0"); // clears invisible value
                var ddlcommitydata = $("#ddlCommitteelist").data("kendoDropDownList");
                ddlcommitydata.value("0");
                var ddldesignationdata = $("#ddlDesignation").data("kendoDropDownList");
                ddldesignationdata.value("0");

                var ddlCommittee_Type = $("#ddlDesignation").data("kendoDropDownList");
                ddlCommittee_Type.value("0");
            }
            else {
                $("#Diverror").show();
                $("#Divsuccess").hide();
                $('#lblerrormsg').text(e.response);
            }

        }
        if (e.type == "update") {
            var grid = $("#gridKendo1").data("kendoGrid");
            //grid.dataSource.read();
            grid.one("dataBinding", function (e) {

                e.preventDefault();   // cancel grid rebind if error occurs
            });

            kendo.ui.progress(grid.element, false);
            if (e.response == "Update Successfully") {
                $("#Divsuccess").show();
                $("#Diverror").hide();
                $('#lblsuccess').text(e.response);
            }
            else {
                $("#Diverror").show();
                $("#Divsuccess").hide();
                $('#lblerrormsg').text(e.response);
            }
        }
    }

    function onEdit(e) {
        e.container.find(".k-grid-cancel,.k-i-close").bind("click", function () {
            var grid = $("#gridKendo1").data("kendoGrid");
            grid.dataSource.read();
        });

        $('#gridKendo1').data().kendoGrid.editable.element.closest('.k-window')
      .find('.k-window-action:has(.k-i-close)').click(function () {
          var grid = $("#gridKendo1").data("kendoGrid");
          grid.dataSource.read();
      })

        if (e.model.isNew()) {
            $('.k-grid-update').text("Save");
            $('.k-grid-cancel').text("Close");
        } else {
            $('.k-grid-update').text("Update");
            $('.k-grid-cancel').text("Close");
        }

    }
</script>
<script>
    $("#btnAddDirectorcommitee").click(function (e) {
        e.preventDefault();
        var grid = $("#gridRelatives").data("kendoGrid");
        grid.addRow();
    });
</script>
<script>
    function onRowBoundcommitee(e) {

        GetICons();


        var grid = $("#gridKendo1").data("kendoGrid");
        //grid.thead.css("background-color", "green")
        var data = grid.dataSource.data();
        $.each(data, function (i, row) {
            $('tr[data-uid="' + row.uid + '"] ').removeClass("k-alt");

            $('tr[data-uid="' + row.uid + '"] ').css("box-sizing", "border-box");
            $('tr[data-uid="' + row.uid + '"] ').css("box-shadow", "0px 0px 1px 0 #DDDDDD");
        })

    }
</script>
<div class="Dashboard-white-widget">
    <div class="dashboard">

        <div class="row master-Headre">
            <div class="col-md-12 vertical-center">
                <div class="col-md-2 pull-right text-right">
                    <a class="btn btn-primary" id="btnAddDirectorcommitee" title="Add New"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</a>
                </div>
            </div>
        </div>

        <div class="row colpadding0 mt30" style="overflow-x:hidden;height:430px">
            <div class="col-md-12 colpadding0">
                @(Html.Kendo().Grid<BM_ManegmentServices.VM.CommitteeMasterVM>()
        .Name("gridKendo1")
        .Columns(columns =>
        {
            //columns.Bound(o => o.Director_Id);
            columns.Bound(o => o.EntityName).Title("Company").Filterable(ftb => ftb.Multi(true).Search(true));
            columns.Bound(o => o.CommitteeName).Title("Committee").Filterable(ftb => ftb.Multi(true).Search(true));
            columns.Bound(o => o.Designation_Name).Title("Designation").Filterable(ftb => ftb.Multi(true).Search(true)); ;
            columns.Bound(o => o.Committee_Type_Name).Title("Committee Type").Filterable(ftb => ftb.Multi(true).Search(true)); ;
            columns.Command(command => { command.Edit(); command.Destroy(); }).Width(200).Title("Action");
        })
        .Editable(editable =>
        {
            editable.Mode(GridEditMode.PopUp).TemplateName("_committeadd_Edit").Window(w => w.Title("Add/Edit").Width(620));
            editable.DisplayDeleteConfirmation("Are you sure you want to delete State?");
        })
        .Events(e => e.Edit("onEdit"))
        //.Events(e => e.Edit("HideGridFields"))
        .Navigatable()
        .Pageable(pageable => pageable
        .Refresh(false)
        .PageSizes(true)
        .ButtonCount(5))
        .Filterable()
        .Sortable()
        .Reorderable(reorderable => reorderable.Columns(true))
        .Resizable(resizable => resizable.Columns(true))
        .ColumnMenu(col => col.Columns(false))
        .DataSource(dataSource => dataSource
        .WebApi()
        .PageSize(10)
        .ServerOperation(false)
            .Model(model =>
            {
                model.Id(o => o.Id);
                model.Field(o => o.Director_Id).DefaultValue(Model);
            })
        //.Events(events => events.Error("error"))
        //.Events(events => events.RequestEnd("req_End"))
        .Read(read => read.Url("/api/CommitteeMasterNewAPIController/GetCommitteeDtls?DirectorId=" + Model).Type(HttpVerbs.Get))
        .Create(create => create.Url("/api/CommitteeMasterNewAPIController/AddMember").Type(HttpVerbs.Post))
        .Update(update => update.Url("/api/CommitteeMasterNewAPIController/UpdateMember").Type(HttpVerbs.Put))
        .Destroy(destroy => destroy.Url("/api/CommitteeMasterNewAPIController/DeleteCommitteeDtls").Type(HttpVerbs.Delete))
                     ).Events(e => e.DataBound("onRowBoundcommitee"))
                )
            </div>
        </div>

    </div>
</div>
<script>
    function sync_handler(e) {
        this.read();
    }

    function toolTipContent(e) {
        return e.target.context.innerText;
    }

    $("#customCommand").click(function (e) {
        e.preventDefault();
        CreateNew();
    });

    $("#btnclose1").click(function (e) {
        $("#wndAdd").data("kendoWindow").close();
    });

    $("#btnclose2").click(function (e) {
        $("#wndAdd").data("kendoWindow").close();
    });

    $(document).ready(function () {
    });

    function CreateNew() {
        OnOpen('a');
        $("#wndAdd").kendoWindow({
            title: "Add - Director Master",
            modal: true
        });
        $("#wndAdd").attr("style", "min-height:100px;");
        var direction = "Create";
        var wnd = $("#wndAdd").data("kendoWindow");
        var opts = wnd.options;
        // if (!wnd) {
        wnd = $("#wndAdd").kendoWindow({
            title: "Add - Director Master",
            actions: ["Close"],
            content: direction,
            width: "95%",
            visible: false,
            modal: true,
            actions: [
                        "Pin",
                        "Minimize",
                        "Maximize",
                        "Close"
            ],
            refresh: function () { this.center(); OnRefresh(); },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function () {

                OnOpen();
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        // }

        opts.width = "95%";
        wnd.setOptions(opts);
        wnd.refresh(direction);
        wnd.center();
        wnd.open();
    }

    function ShowRates(e) {
        e.preventDefault();
        $("#wndAdd").attr("style", "min-height:100px;");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        $("#wndAdd").kendoWindow({
            title: "Edit - Director Master",
            modal: true
        });


        var direction = "Edit?id=" + dataItem.Id;
        var wnd = $("#wndAdd").data("kendoWindow");
        var opts = wnd.options;
        // if (!wnd) {

        // first click of the button - will automatically fetch the contentUrl
        wnd = $("#wndAdd").kendoWindow({
            title: "Edit - Director Master",
            actions: ["Close"],
            content: direction,
            width: "95%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefresh(); },
            open: function () {
                OnOpen();
            },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            }
        }).data("kendoWindow");
        // }

        opts.width = "95%";
        //opts.height = "450px";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();

    }

    function adjustSize() {
    }

    function OnOpen(e) {
        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");

    }

    function OnRefresh() {
        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function changeNameOfOtherCommittee(obj) {
        var ddlNameOfOtherCommittee = document.getElementById("ddlCommitteelist");
        //$("#ddlCommitteelist").data("kendoDropDownList");

        var txtCommittee = document.getElementById("_txtNameOfOtherCommittee");
        var divDivotherCommity = document.getElementById("DivotherCommity");

        if (ddlNameOfOtherCommittee.value == 0) {
            $("#DivotherCommity").css("display", "block");
            $("#_txtNameOfOtherCommittee").attr("readonly", false);

            dataValidation($("#_txtNameOfOtherCommittee"), 'Please enter name of other committee');
            $("#sp_NameOfOtherCommittee1").removeClass("hidden");
            txtCommittee.setAttribute("required", "required");
            ddlNameOfOtherCommittee.removeAttribute("required");
        }
        else {
            $("#DivotherCommity").css("display", "none");

            txtCommittee.value = "";

            $("#_txtNameOfOtherCommittee").attr("readonly", true);
            $("#sp_NameOfOtherCommittee1").addClass("hidden");
            ddlNameOfOtherCommittee.setAttribute("required", "required");
            txtCommittee.removeAttribute("required");
        }
    }


</script>

