﻿@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "Master / Director";
}

<style>
    html {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>

<style>
    .field-validation-error {
        color: #ff0000;
    }

    .k-current-page {
        display: none;
    }

    html .k-upload-empty {
        border-width: 1px;
    }

    .k-edit-form-container {
        position: relative;
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .k-grid-edit {
        height: 32px;
        width: 33px;
        padding: 6px 0px 10px 0;
        /*white-space: nowrap;*/
        overflow: hidden;
        /*border-radius: 20px;*/
    }

    .k-grid-delete {
        height: 32px;
        width: 33px;
        padding: 5px 0px 10px 0;
        overflow: hidden;
    }

    .fieldlist {
        margin: 0 0 -2em;
        padding: 0;
    }

        .fieldlist li {
            list-style: none;
            padding-bottom: 2em;
        }

        .fieldlist label {
            display: block;
            padding-bottom: 1em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            color: #444;
        }

    .mt30 {
        margin-top: 18px;
    }

    .k-grid-add {
        float: right;
        /*background-color: #1fd9e1;*/
        /*color: white;*/
    }
    /*.k-add
    {
        background-image:url("'../../../../Images/Add_new_icon.png'")
    }*/
    /*.k-edit-buttons {
       height: 43px;
        text-align: center;
    }*/

    label {
        color: black;
    }

    .ml-mr {
        margin-left: 2%;
    }
</style>

<style>
    .k-window div.k-window-content {
        /*// overflow: hidden;*/
        /*overflow-y: scroll*/
    }

    fieldset {
        display: block;
        margin-inline-start: 0px;
        margin-inline-end: 2px;
        padding-block-start: 0.35em;
        padding-inline-start: 0.75em;
        padding-inline-end: 0.75em;
        padding-block-end: 0.625em;
        min-inline-size: min-content;
        border-width: 1px;
        border-style: groove;
        border-color: rgba(128, 128, 128, 0.56);
        border-radius: 11px;
        /*border-color: threedface;
    border-image: initial;*/
    }

    .amp-mb5 {
        margin-bottom: 5px;
    }

    .amp-h25 {
        height: 25px;
    }

    .amp-h26 {
        height: 26px;
    }

    .amp-h27 {
        height: 27px;
    }

    .amp-h28 {
        height: 28px;
    }

    .amp-h29 {
        height: 29px;
    }

    .amp-h30 {
        height: 30px;
    }

    .amp-mt7 {
        margin-top: 7px;
    }

    .amp-mt8 {
        margin-top: 8px;
    }

    .amp-mt9 {
        margin-top: 9px;
    }

    .amp-mt10 {
    }
</style>

<!-- Script for Generate Grid SrNo -->
<script>
    var gridRowNumber = 0;

    function resetGridRowNumber(e) {
        gridRowNumber = 0;
    }

    function renderGridRowNumber() {
        var page = parseInt($("#gridKendo").data("kendoGrid").dataSource.page()) - 1;
        var pagesize = $("#gridKendo").data("kendoGrid").dataSource.pageSize();
        return parseInt(++gridRowNumber + (parseInt(page) * parseInt(pagesize)));
    }

</script>
<script>
    function FormUpload() {
        
        OnOpen('a');
        $("#wndFileUploadDirector").attr("style", "min-height:100px;");
        var direction = "UploadFileopenPopUP";

        $("#wndFileUploadDirector").kendoWindow({
            title: "Upload File",
        });
        $("#wndFileUploadDirector").attr("style", "min-height:100px;");
        direction = "UploadFileopenPopUP";
        var wnd = $("#wndFileUploadDirector").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndFileUploadDirector").kendoWindow({

            content: direction,
            width: "64%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefresheupload(); },
            close: function (e) {
                $(this.element).empty();
                $('#gridKendo').data('kendoGrid').dataSource.read();
                $('#gridKendo').data('kendoGrid').refresh();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {

                OnOpenupload();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "64%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.refresh(direction);
        wnd.open();

        function OnOpenupload() {

        }
        function OnRefresheupload() {

        }
    }
</script>

<script>
    function onRowBound(e) {
        resetGridRowNumber(e);
        GetICons();
        var grid = $("#gridKendo").data("kendoGrid");
        var gridData = grid.dataSource.view();

        for (var i = 0; i < gridData.length; i++) {
            var currentUid = gridData[i].uid;
            var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");

            $(currenRow).find(".k-grid-warn").empty();
           
           
                $(currenRow).find(".k-grid-warn").append("<img style='height:21px;' src='../../Images/regulatorydownload.png'/>");
          
        }

    }
</script>

<!-- Filter Script-->
<script>
    function filterChange() {

        var filter = { logic: 'and', filters: [] };

        var t = $('#filter');
        if (t.val() != "") {
            filter.filters.push({ logic: "or", field: "FullName", operator: "contains", value: t.val() });
            //filter.filters.push({ logic: "or", field: "LastName", operator: "contains", value: t.val() });
        }

        var t1 = $('#filterDIN');
        if (t1.val() != "") {
            filter.filters.push({ logic: "or", field: "DIN", operator: "contains", value: t1.val() });
        }

        grid = $("#gridKendo").data("kendoGrid");
        grid.dataSource.filter(filter);
    }
</script>

<div class="row Dashboard-white-widget">
    <div class="dashboard">
        @(Html.Kendo().Window()
    .Name("wndFileUploadDirector")
    .Title("Upload")
    .Visible(false)
    .Modal(true)
    .Draggable(false)
    .Scrollable(false)
    .Width(700)
        //.Events(e => e.Open("adjustSize"))
        //.Events(e => e.Refresh("OnRefreshe"))
        )

        @(Html.Kendo().Window()
    .Name("wndAdd")
    .Title("Add - Director Master")
    .Visible(false)
    .Modal(true)
    .Draggable(true)
    .Scrollable(true)
    .Events(e => e.Open("adjustSize"))
    .Events(e => e.Refresh("OnRefresh"))
        )

        @(Html.Kendo().Grid<BM_ManegmentServices.VM.Director_MasterVM>()
        .Name("gridKendo")
        .Columns(columns =>
        {
            columns.Template(t => { }).Title("Sr No").ClientTemplate("#= renderGridRowNumber() #").Width(50);
            columns.Bound(o => o.FullName).Title("Director Name").HtmlAttributes(new { title = "#=data.Salutation# #= FirstName # #= data.LastName #" }).Width(510);
            //columns.Bound(c => c.FirstName).Title("Director Name").HtmlAttributes(new { title = "#= FirstName # #= data.LastName #" })
            //                .ClientTemplate(
            //                    @"<div class='customer-photo'
            //                        style='background-image: url(" + @Url.Content("~/Areas/BM_Management/Documents/Director/#:data.Id#/#:data.Photo_Doc#") + ");'></div><div class='customer-name'>#:FirstName# #:data.LastName#</div>")
            //                  .Width(240);
            columns.Bound(o => o.DIN).Title("DIN").HtmlAttributes(new { title = "#= DIN #" }).Width(100);
            //columns.Bound(o => o.PAN).Title("PAN").HtmlAttributes(new { title = "#= PAN #" }).Width(100);

            //columns.Template(@<text>
            //                       @Html.ActionLink(@item.PAN_Doc_Name.ToString(), "Director_Master", "Download", new { id = @item.ID , ImageName = @item.PAN_Doc_Name, PAN = @item.PAN })
            //               </text>).Title("PAN").ClientTemplate("<a href='/Director_Master/Download/id=#=id# &ImageName=#= PAN_Doc_Name#'>#=PAN#</a>");
            //   columns.Bound(o => o.Adhaar).Title("Adhaar").HtmlAttributes(new { title = "#= Adhaar #" }).Width(100);

            columns.Bound(o => o.DESC_ExpiryDate).Format("{0:dd/MM/yyyy}").Title("DSC Expiry Date").Width(165);

            columns.Command(command =>
            {

                command.Custom("Edit").Click("ShowRates").HtmlAttributes(new { @class = "k-grid-edit" });
                command.Custom("Download").HtmlAttributes(new { @class = "k-grid-warn pull-right" });

            })
 .Title("Action");
        })
        .EnableCustomBinding(true)
        //.ToolBar(
        //    toolbar => toolbar.Custom().Text("New").HtmlAttributes(new { id = "btnCreateNewDirector", @class = "k-grid-add", title = "Create New" })
        //)
        .ToolBar(toolbar =>
        {
        toolbar.Template(@<text>
            <div class="col-md-10 colpadding0">
                Filter
                <input id='filter' placeholder="Name" class='k-textbox' style="width: 30%;" autocomplete="off" />
                <input id='filterDIN' placeholder="DIN" class='k-textbox' style="width: 20%;" autocomplete="off" />
            </div>
            <div class="refreshBtnContainer col-md-1 colpadding0">
                <a class="k-grid-add k-button k-button-icontext" href="/#" id="btnCreateNewDirector" title="Add New"><span class="k-icon k-add k-i-plus-outline"></span>New</a>
            </div>

            <div class="col-md-1 colpadding0" style="text-align:right">
                <input type="button" class="k-button k-primary" href="/#" title="Upload" value="Upload" onclick="FormUpload()" />
            </div>

        </text>);
        })
        .Events(e => e.DataBound("onRowBound"))
        .Navigatable()
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
            .Filterable()
            .Sortable()
            .Reorderable(reorderable => reorderable.Columns(true))
            .Resizable(resizable => resizable.Columns(true))
            .ColumnMenu()
            .DataSource(dataSource => dataSource
            .WebApi()
            .PageSize(10)
            .ServerOperation(false)
            .Model(model =>
            {
                model.Id(o => o.ID);
                model.Field(o => o.DIN);
                model.Field(o => o.DESC_ExpiryDate);
            })
        //.Create(read => read.Url("/api/DirectorMasterAPI/CreateDirector").Type(HttpVerbs.Post))
        .Read(read => read.Url("/api/DirectorMasterAPI/GetDirectorHistory").Type(HttpVerbs.Get))
        .Events(events => events.Sync("sync_handler"))
        .Events(events => events.Error("error_handler"))

                          )
        )

        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter("td:nth-child(2)")
        .Position(TooltipPosition.Top)
        .Width(100)
        .AutoHide(true) )

        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter("td:nth-child(3)")
        .Position(TooltipPosition.Top)
        .Width(100)
        .AutoHide(true) )

        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter("td:nth-child(4)")
        .ContentHandler("toolTipContent")
        .Position(TooltipPosition.Top)
        .Width(100)
        .AutoHide(true) )

        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-add")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Add - Director Master")
        .Width(120)
        )

        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-delete")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Delete")
        .Width(120)
        )

        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-edit")
        .Position(TooltipPosition.Top)
        .Width(100)
        .AutoHide(true)
        .Content("Edit")
        )

    </div>
</div>

<style>
    .customer-photo {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-size: 32px 35px;
        background-position: center center;
        vertical-align: middle;
        line-height: 32px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-left: 5px;
    }

    .customer-name {
        display: inline-block;
        vertical-align: middle;
        line-height: 32px;
        padding-left: 3px;
    }
</style>

<script>
    function getDirectorID() {
        var DirectorId = document.getElementById("txtDirectorID").value;
        //alert(DirectorId);
        return {
            DirectorId: DirectorId,
        }
    }
    function sync_handler(e) {
        this.read();
    }

    function toolTipContent(e) {
        return e.target.context.innerText;
    }

</script>

<script>

    $("#btnCreateNewDirector").click(function (e) {
        e.preventDefault();
        createNewDirector();
    });

    $("#btnclose1").click(function (e) {
        $("#wndAdd").data("kendoWindow").close();
    });

    $("#btnclose2").click(function (e) {
        $("#wndAdd").data("kendoWindow").close();
    });

    $(document).ready(function () {
    });

    function GetSalutation(value) {
        if (value == "1") {
            return "Mr.";
        } else if (value == "2") {
            return "Mrs.";
        } else if (value == "3") {
            return "Ms.";
        } else {
            return "Error";
        }
    }

    function createNewDirector() {

        OnOpen('a');
        $("#wndAdd").kendoWindow({
            title: "Add - Director Master",
            modal: true
        });
        $("#wndAdd").attr("style", "min-height:100px;");
        var direction = "Create";
        var wnd = $("#wndAdd").data("kendoWindow");
        var opts = wnd.options;
        // if (!wnd) {
        wnd = $("#wndAdd").kendoWindow({
            title: "Add - Director Master",
            actions: ["Close"],
            content: direction,
            width: "95%",
            visible: false,
            modal: true,
            actions: [
                        "Pin",
                        "Minimize",
                        "Maximize",
                        "Close"
            ],
            refresh: function () { this.center(); OnRefresh(); },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");

                $('#gridKendo').data('kendoGrid').dataSource.read();

            },
            open: function () {

                OnOpen();
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        // }

        opts.width = "95%";
        wnd.setOptions(opts);
        //wnd.refresh(direction);
        wnd.center();
        wnd.open();
    }

    function ShowRates(e) {
        e.preventDefault();
        $("#wndAdd").attr("style", "min-height:100px;");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        $("#wndAdd").kendoWindow({
            title: "History - Director Master",
            modal: true
        });


        var direction = "Edit?id=" + dataItem.ID;
        var wnd = $("#wndAdd").data("kendoWindow");
        var opts = wnd.options;
        // if (!wnd) {

        // first click of the button - will automatically fetch the contentUrl
        wnd = $("#wndAdd").kendoWindow({
            title: "Edit - Director Master",
            actions: ["Close"],
            content: direction,
            width: "95%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefresh(); },
            open: function () {
                OnOpen();
            },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");

                $('#gridKendo').data('kendoGrid').dataSource.read();
            }
        }).data("kendoWindow");
        // }

        opts.width = "95%";
        //opts.height = "450px";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();

    }

    function ShowShareDetails(e) {
        e.preventDefault();
        $("#wndAdd").attr("style", "min-height:100px;");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        $("#wndAdd").kendoWindow({
            title: "Details of Share",
        });


        var direction = "Share?id=" + dataItem.ID;
        var wnd = $("#wndAdd").data("kendoWindow");
        var opts = wnd.options;
        // if (!wnd) {

        // first click of the button - will automatically fetch the contentUrl
        wnd = $("#wndAdd").kendoWindow({
            title: "Edit - Director Master",
            actions: ["Close"],
            content: direction,
            width: "95%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            }
        }).data("kendoWindow");
        // }

        opts.width = "95%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();

    }

    function adjustSize() {
    }

    function OnOpen(e) {
        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");

    }

    function OnRefresh() {
        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function DeleteDirector(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        var data = {
            id: dataItem.ID
        };

        if (confirm("Are you Sure.")) {
            $.ajax({
                type: "POST",
                url: "Delete",
                content: "application/json; charset=utf-8",
                dataType: "json",
                data: { "id": dataItem.ID },
                success: function (d) {

                    $('#gridKendo').data('kendoGrid').dataSource.read();
                    $('#gridKendo').data('kendoGrid').refresh();

                },
                error: function (xhr, textStatus, errorThrown) {
                    // TODO: Show error
                    alert('Something wents wrong');
                }
            });
        }
        else {

        }

    }

</script>

<script type="text/javascript">

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

</script>

<script type="text/javascript">

    function filterProducts() {
        return {
            stateId: $("#ddlState").val()
        };
    }
</script>

<script type="text/javascript">

    function onCategoryChange() {

        var Entity_Type = $("#Entity_Type").data("kendoDropDownList").value();
        if (Entity_Type == "1") {
            $('#DivEntityDetails')[0].hidden = true;
            $('#DivEntityDetails1')[0].hidden = false;
        } else {
            $('#DivEntityDetails1')[0].hidden = true;
            $('#DivEntityDetails')[0].hidden = false;
        }
    }

    function onEducationalQualification() {

        var data = $("#EducationalQualification").data("kendoDropDownList").value();
        if (data == "0") {
            $('#spOtherQualification')[0].hidden = false;
            $('#OtherQualification').removeAttr("readonly");
            dataValidation($('#OtherQualification'), 'Please enter Other Qualification');

        }
        else {
            $('#spOtherQualification')[0].hidden = true;
            $('#OtherQualification').val('');
            $('#OtherQualification').attr("readonly", "readonly");
            removeDataValidation($('#OtherQualification'));
        }
    }

    function onOccupationChange() {

        var data = $("#Occupation").data("kendoDropDownList").value();
        if (data == "1" || data == "2" || data == "5") {
            $('#spAreaOfOccupation')[0].hidden = false;
            $('#AreaOfOccupation').removeAttr("readonly");
            dataValidationDropDown($('#AreaOfOccupation'), "Please select Area of Occupation", 0)

        }
        else {
            $('#spAreaOfOccupation')[0].hidden = true;
            $('#AreaOfOccupation').attr("readonly", "readonly");
            removeDataValidationDropDown($('#AreaOfOccupation'));
        }
    }

    function onAreaOfOccupation() {
        var data = $("#AreaOfOccupation").data("kendoDropDownList").value();
        if (data == "0") {
            $('#spOtherOccupation')[0].hidden = false;
            $('#OtherOccupation').removeAttr("readonly");
            dataValidation($('#OtherOccupation'), 'Please enter other occupation');
        }
        else {
            $('#spOtherOccupation')[0].hidden = true;
            $('#OtherOccupation').attr("readonly", "readonly");
            removeDataValidation($('#OtherOccupation'));
        }
    }

    function onResidentInIndia() {

        var data = $("#ResidentInIndia").data("kendoDropDownList").value();
        if (data == "False") {
            $('#spPAN')[0].hidden = true;
            $('#spAdhaar')[0].hidden = true;
            $('#spanPassport')[0].hidden = false;

            removeDataValidation($('#PAN'));
            removeDataValidation($('#Adhaar'));
            dataValidation($('#PassportNo'), 'Please enter Passport number');

        }
        else {
            $('#spPAN')[0].hidden = false;
            $('#spAdhaar')[0].hidden = false;
            $('#spanPassport')[0].hidden = true;

            dataValidation($('#PAN'), 'Please enter PAN');
            dataValidation($('#Adhaar'), 'Please enter Aadhaar number');
            removeDataValidation($('#PassportNo'));
        }
    }

    function filterPermentState() {
        return {
            stateId: $("#ddlPermenant_StateId").val()
        };
    }

    function filterPresentState() {
        return {
            stateId: $("#ddlPresent_StateId").val()
        };
    }

    function filterNatureOfInterest() {

        return {
            EntityType: $("#TypeOfEntity").val()
        };
    }

</script>

<script>
    $('#filter').on('input', function (e) {
        filterChange();
    });

    $('#filterDIN').on('input', function (e) {
        filterChange();
    });
</script>