﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.Director

@{
    ViewBag.Title = "My Profile";
}


<style type="text/css">
    .k-radio:checked + .k-radio-label:after {
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        top: 3px;
        left: 3px;
    }
</style>




<div class="row colpadding0">
    <div class="col-md-12 colpadding0">
        <div class="tab" role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" id="mytab1" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">Profile</a></li>
                <li role="presentation" id="mytab2"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">List of Relatives</a></li>
                <li role="presentation" id="mytab3"><a href="#Section3" aria-controls="messages" role="tab" data-toggle="tab">Details of Interest</a></li>
                <li role="presentation" id="mytab4"><a href="#Section4" aria-controls="messages1" role="tab" data-toggle="tab">Details of Committee Positions</a></li>
                <li role="presentation" id="mytab5"><a href="#Section5" aria-controls="messages2" role="tab" data-toggle="tab">Security Details</a></li>
            </ul>

            <div class="tab-content tabs">
                <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                    @Html.Partial("_DirectorPersonalProfile", Model.objDirector_MasterVM)
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Section2">
                    @Html.Partial("_DirectorsRelatives", Model.objDirector_MasterVM.ID)
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Section3">
                    @Html.Partial("_DetailsofIntrest", Model.objDirector_MasterVM.ID)
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Section4">
                    @Html.Partial("_PartialviewDtlsofCommity", Model.objDirector_MasterVM.ID)
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Section5">
                    @Html.Partial("_UplaodDirectorSecurities", Model.objDirector_MasterVM.ID)
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    

    $(document).ready(function () {
        var breadCrumbData = [
            {
               displayText: "My Profile",
               navigateUrl: "/BM_Management/MyProfile/DirectorProfile",
           }
        ];

        setBreadCrumb(breadCrumbData);
        
    });

    $("#btnsub1").click(function (e) {
        e.preventDefault();
        var validator = $("#divDetails").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
        if (validator.validate()) {
            $("#frmUpdateDetails").submit();
        }
    });

    $("#mytab1").click(function () {
        tab_changed("1");

    });

    $("#mytab2").click(function () {
        tab_changed("2");
    });

    $("#mytab3").click(function () {
        tab_changed("3");
    });

    $("#mytab4").click(function () {
        tab_changed("4");
    });
    $("#mytab5").click(function () {
        tab_changed("5");
    });

    function tab_changed(n) {
        $("#btnsub1").addClass("hidden");

        switch (n) {
            case "1": $("#btnsub1").removeClass("hidden");
                break;
            default:
                break;
        }
    }
</script>


<script type="text/javascript">

    function filterProducts() {
        return {
            stateId: $("#ddlState").val()
        };
    }
</script>

<script type="text/javascript">

    function onCategoryChange() {

        var Entity_Type = $("#Entity_Type").data("kendoDropDownList").value();
        if (Entity_Type == "1") {
            $('#DivEntityDetails')[0].hidden = true;
            $('#DivEntityDetails1')[0].hidden = false;
        } else {
            $('#DivEntityDetails1')[0].hidden = true;
            $('#DivEntityDetails')[0].hidden = false;
        }
    }

    function onEducationalQualification() {

        var data = $("#EducationalQualification").data("kendoDropDownList").value();
        if (data == "0") {
            $('#spOtherQualification')[0].hidden = false;
            $('#OtherQualification').removeAttr("readonly");
            dataValidation($('#OtherQualification'), 'Please enter Other Qualification');

        }
        else {
            $('#spOtherQualification')[0].hidden = true;
            $('#OtherQualification').val('');
            $('#OtherQualification').attr("readonly", "readonly");
            removeDataValidation($('#OtherQualification'));
        }
    }

    function onOccupationChange() {

        var data = $("#Occupation").data("kendoDropDownList").value();
        if (data == "1" || data == "2" || data == "5") {
            $('#spAreaOfOccupation')[0].hidden = false;
            $('#AreaOfOccupation').removeAttr("readonly");
            dataValidationDropDown($('#AreaOfOccupation'), "Please select Area of Occupation", 0)

        }
        else {
            $('#spAreaOfOccupation')[0].hidden = true;
            $('#AreaOfOccupation').attr("readonly", "readonly");
            removeDataValidationDropDown($('#AreaOfOccupation'));
        }
    }

    function onAreaOfOccupation() {
        var data = $("#AreaOfOccupation").data("kendoDropDownList").value();
        if (data == "0") {
            $('#spOtherOccupation')[0].hidden = false;
            $('#OtherOccupation').removeAttr("readonly");
            dataValidation($('#OtherOccupation'), 'Please enter other occupation');
        }
        else {
            $('#spOtherOccupation')[0].hidden = true;
            $('#OtherOccupation').attr("readonly", "readonly");
            removeDataValidation($('#OtherOccupation'));
        }
    }

    function onResidentInIndia() {
        
        var data = $("#ResidentInIndia").data("kendoDropDownList").value();
        if (data == "False") {
            //$('#spPAN')[0].hidden = true;
            //$('#spAdhaar')[0].hidden = true;
            //$('#spanPassport')[0].hidden = false;

            $("#divPAN").removeClass("required");
            $("#DivAadhar").removeClass("required");
            $("#divPassport").removeClass("required");

            removeDataValidation($('#PAN'));
            removeDataValidation($('#Adhaar'));
            dataValidation($('#PassportNo'), 'Please enter Passport number');

        }
        else {
            //$('#spPAN')[0].hidden = false;
            //$('#spAdhaar')[0].hidden = false;
            //$('#spanPassport')[0].hidden = true;

            $("#divPAN").addClass("required");
            $("#DivAadhar").addClass("required");
            $("#divPassport").addClass("required");

            dataValidation($('#PAN'), 'Please enter PAN');
            dataValidation($('#Adhaar'), 'Please enter Aadhaar number');
            removeDataValidation($('#PassportNo'));
        }
    }

    function filterPermentState() {
        return {
            stateId: $("#ddlPermenant_StateId").val()
        };
    }

    function filterPresentState() {
        return {
            stateId: $("#ddlPresent_StateId").val()
        };
    }

    function filterNatureOfInterest() {

        return {
            EntityType: $("#TypeOfEntity").val()
        };
    }

</script>

<script>
    $('#filter').on('input', function (e) {
        filterChange();
    });

    $('#filterDIN').on('input', function (e) {
        filterChange();
    });
</script>


<script>

    $("#btnclose2").click(function (e) {
        $("#wndAdd").data("kendoWindow").close();
    });
    var validator1 = $("#frmUpdateDetails").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");


    function dropdownlist_dataBound() {
        // Handle the event
        var ddlPermenant_CityId = $("#ddlPermenant_CityId").data("kendoDropDownList");
        var ddlPresent_CityId = $("#ddlPresent_CityId").data("kendoDropDownList");
        var cityId = ddlPermenant_CityId.value();
        ddlPresent_CityId.value(cityId);
    }

    function dropdownlist_dataBound_New() {

        var rbTypeValue = $("input[name='IsSameAddress']:checked").val();
        var ddlPresent_CityId = $("#ddlPresent_CityId").data("kendoDropDownList");
        if (rbTypeValue == "True") {

            var ddlPermenant_CityId = $("#ddlPermenant_CityId").data("kendoDropDownList");

            var cityId = ddlPermenant_CityId.value();
            ddlPresent_CityId.value(cityId);
            console.log('P : ' + cityId);
            console.log('C : ' + ddlPresent_CityId.value());
        }

        ddlPresent_CityId.unbind("dataBound", dropdownlist_dataBound);
    }

    function dropdownlist_dataBound1() {
        var ddlPresent_CityId = $("#ddlPresent_CityId").data("kendoDropDownList");
        ddlPresent_CityId.unbind("dataBound", dropdownlist_dataBound1);
    }

    $(document).on("change", "input[name='IsSameAddress111']", function () {
        if (this.value == "True") {
            $('#Present_Address_Line1').val($('#Permenant_Address_Line1').val());
            $('#Present_Address_Line2').val($('#Permenant_Address_Line2').val());
            $('#Present_PINCode').val($('#Permenant_PINCode').val());

            var ddlPermenant_StateId = $("#ddlPermenant_StateId").data("kendoDropDownList");
            var ddlPresent_StateId = $("#ddlPresent_StateId").data("kendoDropDownList");
            var Permenant_StateId = ddlPermenant_StateId.value();
            var Present_StateId = ddlPresent_StateId.value();
            ddlPresent_StateId.value(Permenant_StateId);

            var ddlPresent_CityId = $("#ddlPresent_CityId").data("kendoDropDownList");
            //ddlPresent_CityId.enable(false);

            if (Permenant_StateId == Present_StateId) {
                var ddlPermenant_CityId = $("#ddlPermenant_CityId").data("kendoDropDownList");
                var cityId = ddlPermenant_CityId.value();
                ddlPresent_CityId.value(cityId);
            }
            else {

                ddlPresent_CityId.bind("dataBound", dropdownlist_dataBound);
            }


        }
        else {
            var ddlPermenant_CityId = $("#ddlPermenant_CityId").data("kendoDropDownList");
            //ddlPermenant_CityId.enable(true);
        }
    })

    $(document).on("change", "input[name='IsSameAddress']", function () {
        if (this.value == "True") {
            $('#Present_Address_Line1').val($('#Permenant_Address_Line1').val());
            $('#Present_Address_Line2').val($('#Permenant_Address_Line2').val());
            $('#Present_PINCode').val($('#Permenant_PINCode').val());

            var ddlPermenant_StateId = $("#ddlPermenant_StateId").data("kendoDropDownList");
            var ddlPresent_StateId = $("#ddlPresent_StateId").data("kendoDropDownList");
            var Permenant_StateId = ddlPermenant_StateId.value();
            var Present_StateId = ddlPresent_StateId.value();
            ddlPresent_StateId.value(Permenant_StateId);

            var ddlPresent_CityId = $("#ddlPresent_CityId").data("kendoDropDownList");
            var ddlPermenant_CityId = $("#ddlPermenant_CityId").data("kendoDropDownList");
            var cityId = ddlPermenant_CityId.value();
            ddlPresent_CityId.value(cityId);


            $("#ddlPresent_CityId").kendoDropDownList({
                dataTextField: "Name",
                dataValueField: "Reg_cityId",
                dataSource: ddlPermenant_CityId.dataSource.data(),
                value: cityId,
                filter: "contains"
            });
        }
    })

    $(document).ready(function () {
        //onEducationalQualification();
        //onOccupationChange();
        //onAreaOfOccupation();
        //onResidentInIndia();
    });

</script>




