﻿@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "Circular Resolution";
}


<style>
    .k-chart.small-chart {
        display: inline-block;
        width: 120px;
        height: 120px;
    }
</style>

<!-- Agenda / MOM preview css-->
<style>
    .myHeading h3 {
        font-size: 1.2em;
        margin-top: 2px;
        text-align: center;
        color: #1f97f7;
        width: auto;
        font-weight: normal;
    }

    .myHeading h4 {
        font-size: 1.6em;
        /*text-transform: uppercase;*/
        text-align: center;
        font-weight: normal;
        /*color: #1f97f7;*/
        width: auto;
    }

    .myIndex h3 {
        font-size: 1.1em;
        margin-top: 1px;
        margin-left: 20px;
        text-align: left;
        width: auto;
        font-weight: normal;
    }

    #main-content-agenda-preview {
        display: table-cell;
        margin: 0;
        padding: 20px;
        /* width: 680px; */
        width: 980px;
        vertical-align: top;
    }

    .widget.placeholder {
        opacity: 0.4;
        border: 1px dashed #a6a6a6;
    }

    /* WIDGETS */
    .widget {
        margin: 0 0 10px;
        padding: 0;
        background-color: #ffffff;
        border: 1px solid #e7e7e7;
        border-radius: 3px;
        cursor: move;
    }

        .widget:hover {
            background-color: #fcfcfc;
            border-color: #cccccc;
        }

        .widget div {
            padding: 10px;
            min-height: 50px;
        }

        .widget h3 {
            font-size: 12px;
            padding: 8px 10px;
            text-transform: uppercase;
            border-bottom: 1px solid #e7e7e7;
            margin-top: 2px;
            text-align: right;
        }

            .widget h3 span {
                float: right;
            }

                .widget h3 span:hover {
                    cursor: pointer;
                    background-color: #e7e7e7;
                    border-radius: 20px;
                }

    /* BLOGS & NEWS */
    #blogs div,
    #news div {
        /*padding: 0 20px 20px;*/
        padding: 0 20px 1px;
    }

    #teammates h4,
    #blogs h4,
    #news h4 {
        width: auto;
        margin: 10px 0 2px;
        font-size: 1.4em;
        color: #1f97f7;
        font-weight: normal;
    }

    .blog-info {
        margin: 0 0 10px;
        font-size: .9em;
        color: #787878;
    }

    #sidebar #blogs h4 {
        font-size: 1em;
    }

    #sidebar #blogs p {
        display: none;
    }

    #sidebar #blogs .blog-info {
        display: block;
    }

    #main-content-agenda-preview #news h4 {
        font-size: 1.2em;
        line-height: 1.4em;
        height: 40px;
    }

        #main-content-agenda-preview #news h4 span {
            display: block;
            float: left;
            width: 100px;
            height: 40px;
            color: #000;
        }

    .hint {
        width: 250px;
        height: 100px;
        overflow: hidden;
    }

        .hint > h3 {
            padding-left: 20px;
        }
</style>

<style>
    html {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .myMultiSelect .k-multiselect-wrap {
        overflow: auto;
        max-height: 34px;
        height: 34px;
    }

    .myMultiSelect2 .k-multiselect-wrap {
        overflow: auto;
        max-height: 63px;
        height: 63px;
    }

    .order-id {
        display: inline-block;
        min-width: 60px;
    }

    .ap-grid-h300 {
        min-height: 120px;
        max-height: 120px;
        overflow-x: no-display;
        overflow-y: auto;
    }
</style>

<style>
    .field-validation-error {
        color: #ff0000;
    }

    .k-current-page {
        display: none;
    }

    html .k-upload-empty {
        border-width: 1px;
    }

    .k-edit-form-container {
        position: relative;
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .k-grid-edit {
        height: 32px;
        width: 33px;
        padding: 6px 0px 10px 0;
        /*white-space: nowrap;*/
        overflow: hidden;
        /*border-radius: 20px;*/
    }

    .k-grid-delete {
        height: 32px;
        width: 33px;
        padding: 5px 0px 10px 0;
        overflow: hidden;
    }

    .fieldlist {
        margin: 0 0 -2em;
        padding: 0;
    }

        .fieldlist li {
            list-style: none;
            padding-bottom: 2em;
        }

        .fieldlist label {
            display: block;
            padding-bottom: 1em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            color: #444;
        }

    .mt30 {
        margin-top: 18px;
    }

    .k-grid-add {
        float: right;
        /*background-color: #1fd9e1;*/
        /*color: white;*/
    }
    /*.k-add
    {
        background-image:url("'../../../../Images/Add_new_icon.png'")
    }*/
    .k-edit-buttons {
        height: 43px;
        text-align: center;
    }

    label {
        color: black;
    }

    .ml-mr {
        margin-left: 2%;
    }
</style>

<style>
    .k-window div.k-window-content {
        /*// overflow: hidden;*/
        /*overflow-y: scroll*/
    }

    fieldset {
        display: block;
        margin-inline-start: 0px;
        margin-inline-end: 2px;
        padding-block-start: 0.35em;
        padding-inline-start: 0.75em;
        padding-inline-end: 0.75em;
        padding-block-end: 0.625em;
        min-inline-size: min-content;
        border-width: 1px;
        border-style: groove;
        border-color: rgba(128, 128, 128, 0.56);
        border-radius: 11px;
        /*border-color: threedface;
    border-image: initial;*/
    }

    .amp-mb5 {
        margin-bottom: 5px;
    }

    .amp-h25 {
        height: 25px;
    }

    .amp-h26 {
        height: 26px;
    }

    .amp-h27 {
        height: 27px;
    }

    .amp-h28 {
        height: 28px;
    }

    .amp-h29 {
        height: 29px;
    }

    .amp-h30 {
        height: 30px;
    }

    .amp-mt7 {
        margin-top: 7px;
    }

    .amp-mt8 {
        margin-top: 8px;
    }

    .amp-mt9 {
        margin-top: 9px;
    }

    .amp-mt10 {
    }
</style>

<style>
    #grid.k-grid td {
        background: white !important;
        border: 0 !important;
    }

    #grid.k-grid .k-header {
        display: none;
    }
</style>

<style>
    .k-window div.k-window-content {
        /*// overflow: hidden;*/
        /*overflow-y: scroll*/
    }

    fieldset {
        display: block;
        margin-inline-start: 0px;
        margin-inline-end: 2px;
        padding-block-start: 0.35em;
        padding-inline-start: 0.75em;
        padding-inline-end: 0.75em;
        padding-block-end: 0.625em;
        min-inline-size: min-content;
        border-width: 1px;
        border-style: groove;
        border-color: rgba(128, 128, 128, 0.56);
        border-radius: 11px;
        /*border-color: threedface;
    border-image: initial;*/
    }

    .amp-mb5 {
        margin-bottom: 5px;
    }

    .amp-h25 {
        height: 25px;
    }

    .amp-h26 {
        height: 26px;
    }

    .amp-h27 {
        height: 27px;
    }

    .amp-h28 {
        height: 28px;
    }

    .amp-h29 {
        height: 29px;
    }

    .amp-h30 {
        height: 30px;
    }

    .amp-mt7 {
        margin-top: 7px;
    }

    .amp-mt8 {
        margin-top: 8px;
    }

    .amp-mt9 {
        margin-top: 9px;
    }

    .amp-mt10 {
    }
</style>

<style>
    #wndAgendaInfo table {
        border-style: none;
    }
</style>

<!-- rectangal buttons-->
<style>
    .rect {
        border-radius: 20px;
        height: 34px;
        width: 77px;
    }
</style>

<!-- Script for Generate Grid SrNo -->
<script>
    var gridRowNumber = 0;

    function resetGridRowNumber(e) {
        gridRowNumber = 0;
    }

    function renderGridRowNumber() {
        var page = parseInt($("#gridMeetings").data("kendoGrid").dataSource.page()) - 1;
        var pagesize = $("#gridMeetings").data("kendoGrid").dataSource.pageSize();
        return parseInt(++gridRowNumber + (parseInt(page) * parseInt(pagesize)));
    }
</script>

<!-- Script for Generate Grid SrNo -->
<script>
    var rowNumber = 0;

    function resetRowNumber(e) {
        rowNumber = 0;
    }

    function renderNumber(data) {
        return ++rowNumber;
    }
</script>

<!-- Script for Kendo Grid-->
<script type="text/javascript">
    function GridMeetingsonRowBound(e) {
        //$(".k-grid-edit").find("span").addClass("k-icon k-edit");
        //$(".k-grid-delete").find("span").addClass("k-icon k-delete");
        //$(".k-grid-add").find("span").addClass("k-icon k-add k-i-plus-outline");


        var grid = $("#gridMeetings").data("kendoGrid");
        var gridData = grid.dataSource.view();
        
        for (var i = 0; i < gridData.length; i++) {
            var currentUid = gridData[i].uid;
            if (gridData[i].Type != null) {
                if (gridData[i].Type == "C") {
                    var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                    var editButton = $(currenRow).find(".k-grid-S").addClass("k-state-disabled");
                }
            }
            if (gridData[i].IsMeetingCompleted == false) {
                var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                // var editButton = $(currenRow).find(".k-grid-S").addClass("k-state-disabled");
                var mom = $(currenRow).find(".k-grid-mom").addClass("k-state-disabled");
                var ctc = $(currenRow).find(".k-grid-ctc").addClass("k-state-disabled");
            }

            if (gridData[i].IsMeetingCompleted == true) {
                var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");
            }
        }

        GetICons();
    }

    function error_handlerT(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

    function toolTipContent_gridNew(e) {
        return e.target.context.innerText;
    }
</script>

<!-- Script for Show PopUp window-->
<script>
    $(document).ready(function () {
        $("#customCommand1").click(function (e) {
            e.preventDefault();
            CreateMeeting();
        });
    });

    function CreateMeeting(e) {
        $("#wndAdd").kendoWindow({
            title: "Meeting",
            modal: true
        });

        var direction = "Meeting_Create";
        showMeetingPopup(direction);
    }

    function EditMeetingNew(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location.href = "@Url.Action("MeetingDraft", "Meetings")?MeetingId=" + dataItem.MeetingID;
    }

    function EditMeeting(e) {
        e.preventDefault();
        
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var direction = "Meeting_Edit?MeetingId=" + dataItem.MeetingID;
        var wndTitle = "";
        var SrNo = dataItem.MeetingSrNo == null ? "#" : dataItem.MeetingSrNo;

        if (dataItem.Quarter_ != null) {
            wndTitle = dataItem.TypeName + "-" + dataItem.MeetingTypeName + " " + dataItem.Quarter_ + " [ " + SrNo + " ]" + (dataItem.IsAdjourned == true ? " (Adjourned) - " : " - ") + dataItem.FY_CY
        }
        else {
            wndTitle = dataItem.TypeName + "-" + dataItem.MeetingTypeName + " " + " [ " + SrNo + " ]" + (dataItem.IsAdjourned == true ? " (Adjourned) - " : " - ") + dataItem.FY_CY;
        }

        $("#wndAdd").kendoWindow({
            title: wndTitle,
            //title: wndTitle = dataItem.TypeName + "-" + dataItem.MeetingTypeName + " " + " [ " + SrNo + " ] -" + dataItem.FY_CY,
            modal: true
        });

        $("#wndAdd").attr("style", "min-height:200px;");

        var wnd = $("#wndAdd").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndAdd").kendoWindow({
            actions: ["Close"],
            content: direction,
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () { kendo.ui.progress(wnd.element, true); },
            close: function (e) {
                $(this.element).empty();
                $('#gridMeetings').data('kendoGrid').dataSource.read();
            }
        }).data("kendoWindow");
        //opts.height = "90%";
        //opts.width = "98%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

    function showMeetingPopup(direction) {
        $("#wndAdd").attr("style", "min-height:100px;");

        var wnd = $("#wndAdd").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndAdd").kendoWindow({
            actions: ["Close"],
            content: direction,
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () { kendo.ui.progress(wnd.element, true); },
            close: function (e) {
                $(this.element).empty();
                $('#gridMeetings').data('kendoGrid').dataSource.read();
            }
        }).data("kendoWindow");
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

    function OnOpen(e) {
        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
    }

    function OnRefresh() {
        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function OnRefreshNewMeeting() {
        
        var wnd = $("#wndAdd").data("kendoWindow");
        //var opts = wnd.options;
        //opts.width = "95%";
        //wnd.setOptions(opts);
        wnd.center();

        //var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function OnOpenAgendaFormat(e) {
        var wnd = $("#wndAddAgendaItem").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
    }

    function OnRefreshAgendaFormat() {
        var wnd = $("#wndAddAgendaItem").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }
</script>

<!-- Compliance Assignment -->
<script>
    function ComplianceAssignmentMeetingGrid(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var direction = "@Url.Action("MeetingComplianceAssignment", "MeetingComplianceAssign")" + "?meetingId=" + dataItem.MeetingID;
        showCompliancePopUp(direction);
    }

    function showCompliancePopUp(d) {
        $("#wndMeetingComplianceAssign").attr("style", "min-height:100px;");

        var wnd = $("#wndMeetingComplianceAssign").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndMeetingComplianceAssign").kendoWindow({
            title: "Template",
            actions: ["Close"],
            content: d,
            width: "75%",
            visible: false,
            modal: true,
            refresh: function () {
                this.center();
                kendo.ui.progress($(this.element), false);
            },
            open: function () {
                kendo.ui.progress($(this.element), true);
            },
            close: function (e) {
                $(this.element).empty();
            }
        }).data("kendoWindow");
        opts.width = "85%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }
</script>

<!-- Draft Resolution & Minutes Window-->
<script>
    function showMinutesOfMeeting(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var direction = "MOMPreview?MeetingId=" + dataItem.MeetingID;
        //var direction = "GetMinutesDetails?meetingId=" + dataItem.MeetingID;

        if (dataItem.IsMeetingCompleted == true) {

            $("#wndMOMPreview").attr("style", "min-height:100px;");

            var wnd = $("#wndMOMPreview").data("kendoWindow");
            var opts = wnd.options;

            wnd = $("#wndMOMPreview").kendoWindow({
                actions: ["Close"],
                content: direction,
                width: "65%",
                visible: false,
                modal: true,
                refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
                open: function () { kendo.ui.progress(this.element, true); },
                close: function (e) {
                    $(this.element).empty();
                }
            }).data("kendoWindow");
            opts.width = "65%";

            wnd.setOptions(opts);
            wnd.center();
            wnd.open();
        }
    }

    function editMinutesOfMeeting(m, id) {

        $("#wndMOMEdit").attr("style", "min-height:100px;");


        var direction = "Edit_Minutes?MeetingId=" + m + "&MappingId=" + id;
        

        $("#hndMOMEditMappingId").val(id);
        var wnd = $("#wndMOMEdit").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndMOMEdit").kendoWindow({
            actions: ["Close"],
            content: direction,
            width: "65%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            open: function () { kendo.ui.progress(this.element, true); },
            close: function (e) {
                loadMinutesOfMeetings(m);
                $(this.element).empty();
            }
        }).data("kendoWindow");
        opts.width = "65%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

    function loadMinutesOfMeetings(m) {

        var momMappingId = $("#hndMOMEditMappingId").val();
        $.ajax({
            type: "POST",
            url: "@Url.Action("Get_Minutes", "Meetings")",
            data: "{MeetingId: " + m + ",MappingId:'" + momMappingId + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                
                if (response.result != null) {
                    $("#spMOMText_" + momMappingId)[0].innerHTML = response.result.MinutesFormatHeading;
                    $("#divMOMFormat_" + momMappingId)[0].innerHTML = response.result.MinutesFormat;
                }
            },
        });
    }

    function viewMinutesOfMeeting(m, id) {

        $("#wndMOMEdit").attr("style", "min-height:100px;");

        var direction = "View_Minutes?MeetingId=" + m + "&MappingId=" + id;

        var wnd = $("#wndMOMEdit").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndMOMEdit").kendoWindow({
            actions: ["Close"],
            content: direction,
            width: "65%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            open: function () { kendo.ui.progress(this.element, true); },
            close: function (e) {
                $(this.element).empty();
            }
        }).data("kendoWindow");
        opts.width = "65%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

    function showCTC(e) {
        
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var direction = "@Url.Action("OpenApproveAgendaList", "MainMeeting")" + "?MeetingId=" + dataItem.MeetingID;

        if (dataItem.IsMeetingCompleted == true) {
            $("#wndCTCApprovedAgenda").attr("style", "min-height:100px;");

            var wnd = $("#wndCTCApprovedAgenda").data("kendoWindow");
            var opts = wnd.options;

            wnd = $("#wndCTCApprovedAgenda").kendoWindow({
                pinned: true,
                content: direction,
                width: "65%",
                visible: false,
                modal: true,
                refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
                open: function () { kendo.ui.progress(this.element, true); },
                close: function (e) {
                    $(this.element).empty();
                }
            }).data("kendoWindow");
            opts.width = "65%";

            wnd.setOptions(opts);
            wnd.center();
            wnd.open();
        }
    }
    function OnEditMOM(e) {
        var wnd = $("#wndMOMEdit").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
    }

    function OnSaveMOM() {
        var wnd = $("#wndMOMEdit").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

</script>

<!-- Filter Script-->
<script>
    function filterChange() {

        var filter = { logic: 'and', filters: [] };

        var ddlEntityType = $("#ddlEntityFilter").data("kendoDropDownList");
        var d = ddlEntityType.value();

        if (d > 0) {
            filter.filters.push({ logic: "and", field: "Entityt_Id", operator: "eq", value: parseInt(d) });
        }

        var ddlMeetingStatusFilter = $("#ddlMeetingStatusFilter").data("kendoDropDownList");
        var m = ddlMeetingStatusFilter.value();

        if (m != "") {
            filter.filters.push({ logic: "and", field: "Stage", operator: "eq", value: m });
        }

        var t = $('#filter');
        if (t.val() != "") {
            filter.filters.push({ logic: "or", field: "MeetingTitle", operator: "contains", value: t.val() });
        }

        
        var startOfFilterDate1 = new Date(2019, 11, 16);
        var startOfFilterDate = moment("16/12/2019", "DD/MM/YYYY");
        //filter.filters.push({ logic: "or", field: "MeetingDate", operator: "gte", value: startOfFilterDate1 });


        grid = $("#gridMeetings").data("kendoGrid");
        grid.dataSource.filter(filter);
    }
</script>

<!-- Start Meeting-->
<script>
    //Open Main Meeting Details in another Controller
    function Meetings(e) {
        
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        //var direction = "MeetingVootingNoting?MeetingId=" + dataItem.MeetingID;
        if (dataItem.Type == "M") {
            var wndTitle = "";
            window.location.href = "@Url.Action("MeetingsDetails", "MainMeeting")?MeetingId=" + dataItem.MeetingID;
        }
    }
</script>

<script>
    function getSrNo(e) {
        return e == null ? '[ # ]' : '[ ' + e + ' ]';
    }
</script>

<script>
    function getRatingTooltip(e) {
        
        var dataItem = $("#gridMeetings").data("kendoGrid").dataItem(e.target.closest("tr"));
        var content = dataItem.IsMeetingCompleted;
        //if (content == false) {
        //    return "Start Meeting";
        //}
        //else{
        //    return "End Meeting";
        //}
        return "Start Meeting";
    }
</script>

<div class="row Dashboard-white-widget">
    <div>
        <input type="hidden" id="hndCursorlocation" />
        <input type="hidden" id="hndCurrentCtrl" />
        <input type="hidden" id="hndIsEditor" />
        <input type="hidden" id="hndMOMEditMappingId" />

        @(Html.Kendo().Tooltip()
        .For("#gridMeetings")
        .Filter(".k-grid-add")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Add - New Meeting")
        .Width(120)
        )

        @(Html.Kendo().Tooltip()
        .For("#gridMeetings")
        .Filter(".k-grid-delete")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Delete")
        .Width(100)
        )

        @(Html.Kendo().Tooltip()
        .For("#gridMeetings")
        .Filter(".k-grid-edit")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Edit")
        .Width(100)
        )

        @(Html.Kendo().Tooltip()
        .For("#gridMeetings")
        .Filter(".k-grid-c")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Compliances")
        .Width(100)
        )

        @(Html.Kendo().Tooltip()
        .For("#gridMeetings")
        .Filter(".k-grid-mom")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Draft Resolution & Minutes")
        )

        @(Html.Kendo().Tooltip()
        .For("#gridMeetings")
        .Filter(".k-grid-ctc")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("CTC")
        )

        @(Html.Kendo().Tooltip()
        .For("#gridMeetings")
        .Filter(".k-grid-S")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        //.Content("Start Meeting")
        .ContentHandler("getRatingTooltip")
        )

        @(Html.Kendo().Tooltip()
        .For("#gridMeetings")
        .Filter("td:nth-child(1)")
        .ContentHandler("toolTipContent_gridNew")
        .Position(TooltipPosition.Top)
        //.Width(100)
        .AutoHide(true) )

        @(Html.Kendo().Tooltip()
        .For("#gridMeetings")
        .Filter("td:nth-child(2)")
        .ContentHandler("toolTipContent_gridNew")
        .Position(TooltipPosition.Top)
        .Width(150)
        .AutoHide(true) )

        @(Html.Kendo().Tooltip()
        .For("#gridMeetings")
        .Filter("td:nth-child(3)")
        .ContentHandler("toolTipContent_gridNew")
        .Position(TooltipPosition.Top)
        //.Width(300)
        .AutoHide(true) )

    </div>

    <div class="dashboard">

        @(Html.Kendo().Window().Name("wndSeekAvailability").Title("Availability").Visible(false).Modal(true).Draggable(true).Scrollable(true))
        @(Html.Kendo().Window().Name("wndMeetingComplianceAssign").Title("Compliance").Visible(false).Modal(true).Draggable(true).Scrollable(true))
        @(Html.Kendo().Window().Name("wndAgendaDocument").Title("Agenda Document").Visible(false).Modal(true).Draggable(false).Pinned(true))
        @(Html.Kendo().Window().Name("wndAdd").Title("Meeting").Visible(false).Modal(true).Draggable(false).Pinned(true))
        @(Html.Kendo().Window().Name("wndScheduleDetails").Title("Compliance").Visible(false).Modal(true).Draggable(true).Pinned(true).Scrollable(true))
        @(Html.Kendo().Window().Name("wndDocViewer").Title("Viewer").Visible(false).Modal(true).Draggable(true).Pinned(true).Scrollable(true))
        @(Html.Kendo().Window().Name("wndMOMPreview").Title("Draft Resolution & Minutes").Visible(false).Modal(true).Draggable(true).Scrollable(true))
        @(Html.Kendo().Window().Name("wndMOMEdit").Title("Minutes Of Meeting").Visible(false).Modal(true).Draggable(true).Scrollable(true))

        @(Html.Kendo().Window().Name("wndParticipantsResponse").Title("Participants").Visible(false).Modal(true).Draggable(true).Scrollable(true))
        @(Html.Kendo().Window().Name("wndCTCApprovedAgenda").Title("CTC").Visible(false).Actions(a => { a.Close(); }).Modal(true).Draggable(true).Scrollable(true))
        @(Html.Kendo().Window().Name("wndMultistageAgendaHistory").Title("CTC").Visible(false).Actions(a => { a.Close(); }).Modal(true).Draggable(true).Scrollable(true))

        @(Html.Kendo().Window().Name("wndNoticeAgendaLog").Title("Notice, Agenda Log details").Visible(false).Modal(true).Draggable(true).Scrollable(true))

        @(Html.Kendo().Window().Name("wndAgendaInfo").Title("Information").Visible(false).Modal(true).Draggable(true).Scrollable(true)
    .Content(@<text>
            @(Html.Kendo().Editor().Name("editor")
                                       .HtmlAttributes(new { style = "height:530px;user-select:none;border:0;" })
                                       .Encode(false)
                                       .Tools(t => t.Clear())
            )
    </text>)
        )

        @(Html.Kendo().Window().Name("wndMeetingForm").Title("Document/Form").Visible(false).Modal(true).Draggable(false).Scrollable(false))

        @(Html.Kendo().Window().Name("wndMeetingFormPreview").Title("Meeting Form Preview").Visible(false).Modal(true)
            .Content(@<text>
            <div style="user-select:none;">
                @(Html.Kendo().Editor().Name("MeetingFormEditor").HtmlAttributes(new { style = "height:700px; max-height:750px; user-select:none;", aria_label = "editor" }).Tools(t => t.Clear()))
            </div>
            </text>)
            .Draggable(true)
            .Scrollable(true)
        )


        @(Html.Kendo().Grid<BM_ManegmentServices.VM.MeetingVM>()
                .Name("gridMeetings")
                .Columns(columns =>
                {
                    //columns.Template(t => { }).Title("Sr No").ClientTemplate("#= renderGridRowNumber() #").Width(65);
                    //columns.Bound(p => p.MeetingTypeName).HeaderTemplate("Type").HtmlAttributes(new { title = "#= MeetingTypeName #" }).Sortable(false).Width(210);
                    //columns.Bound(p => p.TypeName).HeaderTemplate("Meeting/Circular").HtmlAttributes(new { title = "#= Type #" }).Sortable(false).Width(150);
                    //columns.Bound(p => p.MeetingSrNo).HeaderTemplate("Number").HtmlAttributes(new { title = "#= MeetingSrNo #" }).Sortable(false).Width(80);

                    //columns.Bound(p => p.MeetingDate).Format("{0:dd/MM/yyyy, dddd}").HeaderTemplate("Date").HtmlAttributes(new { title = "#= MeetingDate #" }).Sortable(false).Width(160);
                    //columns.Bound(p => p.MeetingTime).HeaderTemplate("Time").HtmlAttributes(new { title = "#= MeetingTime #" }).Sortable(false).Width(100);
                    //columns.Bound(p => p.MeetingVenue).HeaderTemplate("Stage").HtmlAttributes(new { title = "Draft" }).ClientTemplate("Draft").Sortable(false).Width(100);

                    columns.Bound(p => p.MeetingTypeName).ClientTemplate("#=data.TypeName# - #= MeetingTypeName # #=data.Quarter_ ==null ? '' : data.Quarter_ # #=getSrNo(data.MeetingSrNo)# - #=data.FY_CY# #=data.IsAdjourned == true ? '(Adjourned)' :''#").HeaderTemplate("Meeting").HtmlAttributes(new { title = "" }).Sortable(false).Width(300);
                    columns.Bound(p => p.TypeName).ClientTemplate("#= MeetingDate == null ? '' : kendo.toString(MeetingDate, \"MMM dd, yyyy\")# #=data.MeetingTime == null ? '' : data.MeetingTime #").HeaderTemplate("Date").HtmlAttributes(new { title = "#= Type #" }).Sortable(false).Width(120);
                    columns.Bound(p => p.Stage).HeaderTemplate("Stage").HtmlAttributes(new { title = "Draft" }).Sortable(false).Width(100);

                    columns.Command(command =>
                    {
                        command.Custom("Edit").Click("EditMeeting").HtmlAttributes(new { @class = "k-grid-edit" });
                        command.Custom("C").Click("ComplianceAssignmentMeetingGrid").HtmlAttributes(new { @class = "k-grid-c" });
                        command.Custom("S").Click("Meetings");
                        command.Custom("MI").Click("showMinutesOfMeeting").HtmlAttributes(new { @class = "k-grid-mom" });
                        //command.Custom("Delete").HtmlAttributes(new { @class = "k-grid-delete" });
                        command.Custom("CT").Click("showCTC").HtmlAttributes(new { @class = "k-grid-ctc" });
                    })
                       .Title("Action").Width(150);
                })
                .EnableCustomBinding(true)
                .ToolBar(toolbar =>
                {
                toolbar.Template(@<text>
            @*<div class="refreshBtnContainer">
                    <a class="k-grid-add k-button k-button-icontext" href="/#" id="customCommand1" title="Create New"><span class="k-icon k-add k-i-plus-outline"></span>New</a>
                </div>*@
            <div>
                Filter :
                @(Html.Kendo().DropDownList()
                                .Name("ddlEntityFilter")
                                .ValuePrimitive(true)
                                .DataValueField("Id")
                                .DataTextField("EntityName")
                                .OptionLabel("Entity")
                                .Events(e => e.Change("filterChange"))
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Url("/api/EntityMasterAPI/GetDropDownEntityForMeeting").Type(HttpVerbs.Get);
                                    })
                                    .ServerFiltering(false);
                                }).HtmlAttributes(new { style = "width: 320px;" })
                )

                @(Html.Kendo().DropDownList()
                                .Name("ddlMeetingStatusFilter")
                                .Events(e => e.Change("filterChange"))
                                .BindTo(new SelectList(new List<object> {
                                            new {id="",text="Stage"},
                                            new {id="Draft",text="Draft"},
                                            new {id="Todays",text="Todays"},
                                            new {id="Upcoming",text="Upcoming"},
                                            new {id="Completed",text="Completed"},
                                            new {id="Past",text="Past"},
                               }, "id", "text")).HtmlAttributes(new { style = "width: 200px;" })
                )

                <input id='filter' placeholder="Purpose" class='k-textbox hidden' style="width: 20%;" onchange="filterChange();" autocomplete="off" />
            </div>
                </text>);
                })
                .Events(e => e.DataBound("GridMeetingsonRowBound"))
                .Navigatable()
                .Pageable(pageable => pageable
                .Refresh(true)
                .PageSizes(true)
                .ButtonCount(5))
                .Filterable()
                .Sortable()
                //.HtmlAttributes(new { style = "height:510px;" })
                .Reorderable(reorderable => reorderable.Columns(true))
                .Resizable(resizable => resizable.Columns(true))
                .ColumnMenu()
                .DataSource(dataSource => dataSource
                .WebApi()
                .PageSize(10)
                .ServerOperation(false)
                .Model(model =>
                {
                    model.Id(p => p.MeetingID);
                    model.Field(p => p.MeetingID).Editable(false);
                    model.Field(p => p.MeetingSrNo);
                    model.Field(p => p.Entityt_Id);
                })
                //.Events(events => events.RequestEnd("req_EndAgenda"))
                .Read(read => read.Action("Meetings_Read", "Meetings"))
                //.Read(read => read.Url("/api/AgendaMasterAPI/GetAllAgenda").Type(HttpVerbs.Get))
                //.Create(create => create.Url("/api/AgendaMasterAPI/CreateAgenda").Type(HttpVerbs.Post))
                //.Update(update => update.Url("/api/AgendaMasterAPI/UpdateAgenda").Type(HttpVerbs.Put))
                //.Destroy(destroy => destroy.Url("/api/AgendaMasterAPI/DeleteAgenda").Type(HttpVerbs.Delete))
                .Events(events => events.Error("error_handlerT"))
                     ))
    </div>
</div>

<!-- Script from Meeting_Edit view -->
<script>
    function setDataItem(item) {
        
        var grid = $("#gridResponse").data("kendoGrid");
        var row = $(item).closest("tr");
        var dataItem = grid.dataItem(row);
        var ID;

        if ($(item).val() == "True") {
            dataItem.Response = true;
        } else {
            dataItem.Response = false;
        }
        dataItem.dirty = true;
    };

    function setDataItemforCircular(item) {
        
        var grid = $("#gridResponsees").data("kendoGrid");
        var row = $(item).closest("tr");
        var dataItem = grid.dataItem(row);
        var ID;

        if ($(item).val() == "A") {
            dataItem.Response = "A";
        } else if ($(item).val() == "D") {
            dataItem.Response = "D";
        }
        else if ($(item).val() == "DIF") {
            dataItem.Response = "DIF";
        }
        else if ($(item).val() == "AB") {
            dataItem.Response = "AB";
        }
        dataItem.dirty = true;
        //grid.refresh();
    };
</script>

<!-- checkDate-->
<script>
    function checkDate(e) {
        if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
            e.value = '';
        }
    }
</script>

<!-- Seek Availability DueDate-->
<script>
    function setAvailabilityDueDate(m, v) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("UpdateAvailabilityDueDate", "Meetings")",
            //data: "{MeetingId: " + MeetingID + ",date_:'" + dat + "'}",
            data: "{MeetingId: " + m + ",date_:'" + v + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response == false) {
                    e.value = '';
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    function addEditSeekAvailability(m, id) {
        //wndSeekAvailability
        
        var direction = "@Url.Action("CreateUpdateSeekAvailabilityNew", "Meetings")" + "?id=" + id + "&meetingId=" + m;

        $("#wndSeekAvailability").attr("style", "min-height:300px;");

        var wnd = $("#wndSeekAvailability").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndSeekAvailability").kendoWindow({
            actions: ["Close"],
            content: direction,
            width: "65%",
            visible: true,
            modal: true,
            refresh: function () { this.center(); },
            open: function () { },
            close: function (e) {
                $(this.element).empty();
                createNewSeekAvailability();
            }
        }).data("kendoWindow");

        opts.width = "65%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();

    }
</script>

<!-- Notice Script-->
<script>
    function getNoticeFormate(v) {

        $.ajax({
            type: "POST",
            url: "@Url.Action("NoticeAgendaTemplate", "Meetings")",
            data: JSON.stringify(v),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                
                if (response != null) {
                    $("#NoticeMail").data("kendoEditor").body.innerHTML = response.NoticeMail;
                } else {
                    alert("Something went wrong");
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
</script>

<!-- Nav Tabs css-->
<style>
    .tile #tile-1 .tab-pane {
        padding: 5px;
    }

    #tile-1 .tab-content {
        border-left: none !important;
        border-right: none !important;
        border-bottom: none !important;
        border-top: 1px solid #e5e8e8;
    }

    #tile-1 .nav-tabs {
        position: relative;
        border: none !important;
        background-color: #fff;
        /*   box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2); */
        border-radius: 6px;
    }

        #tile-1 .nav-tabs li {
            margin: 0px !important;
        }

            #tile-1 .nav-tabs li a {
                position: relative;
                margin-right: 0px !important;
                /*padding: 20px 40px!important;*/
                font-size: 14px;
                border: none !important;
                color: dimgrey;
            }

        #tile-1 .nav-tabs a:hover {
            background-color: #fff !important;
            border: none;
        }

    #tile-1 .slider {
        display: inline-block;
        width: 30px;
        height: 4px;
        border-radius: 3px;
        background-color: #39bcd3;
        position: absolute;
        z-index: 1200;
        bottom: 0;
        transition: all .4s linear;
    }

    #tile-1 .nav-tabs .active {
        background-color: transparent !important;
        border: none !important;
        color: #39bcd3 !important;
    }
</style>
<!-- Agenda Preview -->
<style>
    .myHeading h3 {
        font-size: 1.2em;
        margin-top: 2px;
        text-align: center;
        color: #1f97f7;
        width: auto;
        font-weight: normal;
    }

    .myHeading h4 {
        font-size: 1.6em;
        /*text-transform: uppercase;*/
        text-align: center;
        font-weight: normal;
        /*color: #1f97f7;*/
        width: auto;
    }

    .myIndex h3 {
        font-size: 1.1em;
        margin-top: 1px;
        margin-left: 20px;
        text-align: left;
        width: auto;
        font-weight: normal;
    }

    #main-content-agenda-preview {
        display: table-cell;
        margin: 0;
        padding: 20px;
        /* width: 680px; */
        width: 980px;
        vertical-align: top;
    }

    .widget.placeholder {
        opacity: 0.4;
        border: 1px dashed #a6a6a6;
    }

    /* WIDGETS */
    .widget {
        margin: 0 0 10px;
        padding: 0;
        background-color: #ffffff;
        border: 1px solid #e7e7e7;
        border-radius: 3px;
        cursor: move;
    }

        .widget:hover {
            background-color: #fcfcfc;
            border-color: #cccccc;
        }

        .widget div {
            padding: 10px;
            min-height: 50px;
        }

        .widget h3 {
            font-size: 12px;
            padding: 8px 10px;
            text-transform: uppercase;
            border-bottom: 1px solid #e7e7e7;
            margin-top: 2px;
            text-align: right;
        }

            .widget h3 span {
                float: right;
            }

                .widget h3 span:hover {
                    cursor: pointer;
                    background-color: #e7e7e7;
                    border-radius: 20px;
                }

    /* BLOGS & NEWS */
    #blogs div,
    #news div {
        /*padding: 0 20px 20px;*/
        padding: 0 20px 1px;
    }

    #teammates h4,
    #blogs h4,
    #news h4 {
        width: auto;
        margin: 10px 0 2px;
        font-size: 1.4em;
        color: #1f97f7;
        font-weight: normal;
    }

    .blog-info {
        margin: 0 0 10px;
        font-size: .9em;
        color: #787878;
    }

    #sidebar #blogs h4 {
        font-size: 1em;
    }

    #sidebar #blogs p {
        display: none;
    }

    #sidebar #blogs .blog-info {
        display: block;
    }

    #main-content-agenda-preview #news h4 {
        font-size: 1.2em;
        line-height: 1.4em;
        height: 40px;
    }

        #main-content-agenda-preview #news h4 span {
            display: block;
            float: left;
            width: 100px;
            height: 40px;
            color: #000;
        }

    .hint {
        width: 250px;
        height: 100px;
        overflow: hidden;
    }

        .hint > h3 {
            padding-left: 20px;
        }
</style>

<!--TimeLine-->
<style>
    .aWhite {
        color: white;
    }

    .text-muted {
        color: #828181;
    }
    /* Timeline */
    .timeline,
    .timeline-horizontal {
        list-style: none;
        padding: 20px;
        position: relative;
    }

        .timeline:before {
            top: 40px;
            bottom: 0;
            position: absolute;
            content: " ";
            width: 3px;
            background-color: #eeeeee;
            left: 50%;
            margin-left: -1.5px;
        }

        .timeline .timeline-item {
            margin-bottom: 20px;
            position: relative;
        }

            .timeline .timeline-item:before,
            .timeline .timeline-item:after {
                content: "";
                display: table;
            }

            .timeline .timeline-item:after {
                clear: both;
            }

            .timeline .timeline-item .timeline-badge {
                color: #fff;
                /*width: 48px;
                height: 48px;
                line-height: 52px;
                font-size: 22px;*/
                width: 35px;
                height: 35px;
                line-height: 37px;
                font-size: 16px;
                text-align: center;
                position: absolute;
                top: 18px;
                left: 50%;
                margin-left: -25px;
                background-color: #7c7c7c;
                border: 3px solid #ffffff;
                z-index: 100;
                border-top-right-radius: 50%;
                border-top-left-radius: 50%;
                border-bottom-right-radius: 50%;
                border-bottom-left-radius: 50%;
            }

                .timeline .timeline-item .timeline-badge i,
                .timeline .timeline-item .timeline-badge .fa,
                .timeline .timeline-item .timeline-badge .glyphicon {
                    top: 2px;
                    left: 0px;
                }

                .timeline .timeline-item .timeline-badge.primary {
                    background-color: #1f9eba;
                }

                .timeline .timeline-item .timeline-badge.info {
                    background-color: #5bc0de;
                }

                .timeline .timeline-item .timeline-badge.success {
                    background-color: #59ba1f;
                }

                .timeline .timeline-item .timeline-badge.warning {
                    background-color: #d1bd10;
                }

                .timeline .timeline-item .timeline-badge.danger {
                    background-color: #ba1f1f;
                }

                .timeline .timeline-item .timeline-badge.silver {
                    background-color: #949b9c;
                }

            .timeline .timeline-item .timeline-panel {
                position: relative;
                width: 46%;
                float: left;
                right: 16px;
                border: 1px solid #c0c0c0;
                background: #ffffff;
                border-radius: 2px;
                /*padding: 20px;*/
                padding: 10px;
                -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
                box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            }

                .timeline .timeline-item .timeline-panel:before {
                    position: absolute;
                    top: 26px;
                    right: -16px;
                    display: inline-block;
                    border-top: 16px solid transparent;
                    border-left: 16px solid #c0c0c0;
                    border-right: 0 solid #c0c0c0;
                    border-bottom: 16px solid transparent;
                    content: " ";
                }

                .timeline .timeline-item .timeline-panel .timeline-title {
                    margin-top: 0;
                    color: #1f97f7; /*color: inherit;*/
                }

                .timeline .timeline-item .timeline-panel .timeline-body > p,
                .timeline .timeline-item .timeline-panel .timeline-body > ul {
                    /*margin-bottom: 0;*/
                    margin-bottom: 0;
                }

                    .timeline .timeline-item .timeline-panel .timeline-body > p + p {
                        margin-top: 5px;
                    }

            .timeline .timeline-item:last-child:nth-child(even) {
                float: right;
            }

            .timeline .timeline-item:nth-child(even) .timeline-panel {
                float: right;
                left: 16px;
            }

                .timeline .timeline-item:nth-child(even) .timeline-panel:before {
                    border-left-width: 0;
                    border-right-width: 14px;
                    left: -14px;
                    right: auto;
                }

    .timeline-horizontal {
        list-style: none;
        position: relative;
        /*padding: 20px 0px 20px 0px;*/
        padding: 2px 0px 2px 0px;
        display: inline-block;
    }

        .timeline-horizontal:before {
            height: 3px;
            top: auto;
            bottom: 26px;
            left: 56px;
            right: 0;
            width: 100%;
            margin-bottom: 20px;
        }

        .timeline-horizontal .timeline-item {
            display: table-cell;
            /*height: 280px;*/
            height: 170px;
            /*width: 20%;*/
            min-width: 185px; /*min-width: 200px;*/
            float: none !important;
            padding-left: 0px;
            padding-right: 10px; /*padding-right: 20px;*/
            margin: 0 auto;
            vertical-align: bottom;
        }

            .timeline-horizontal .timeline-item .timeline-panel {
                top: auto;
                bottom: 68px;
                display: inline-block;
                float: none !important;
                left: 0 !important;
                right: 0 !important;
                width: 75%; /*width: 100%;*/
                margin-bottom: 12px; /*margin-bottom: 20px;*/
            }

                .timeline-horizontal .timeline-item .timeline-panel:before {
                    top: auto;
                    bottom: -16px;
                    left: 28px !important;
                    right: auto;
                    border-right: 16px solid transparent !important;
                    border-top: 16px solid #c0c0c0 !important;
                    border-bottom: 0 solid #c0c0c0 !important;
                    border-left: 16px solid transparent !important;
                }

            .timeline-horizontal .timeline-item:before,
            .timeline-horizontal .timeline-item:after {
                display: none;
            }

            .timeline-horizontal .timeline-item .timeline-badge {
                top: auto;
                bottom: 22px;
                left: 50px;
            }
</style>
<!-- Agenda Item info -->
<script>

    function showAgendaInfo(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        if (dataItem.HasInfo == true) {
            showAgendaInfoEditor(dataItem.AgendaID);
        }
    }

    function showAgendaInfoSelect(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        if (dataItem.HasInfo == true) {
            showAgendaInfoEditor(dataItem.BM_AgendaMasterId);
        }
    }

    function showAgendaInfoEditor(d) {

        $("#wndAgendaInfo").attr("style", "min-height:100px;");

        $("#wndAgendaInfo").kendoWindow({
            title: "Agenda Item Information",
            modal: true
        });

        var wnd = $("#wndAgendaInfo").data("kendoWindow");
        var opts = wnd.options;
        
        var editor = $("#editor").data("kendoEditor");
        editor.body.contentEditable = false;
        editor.value("<div style='user-select:none;'></div>");

        opts.width = "95%";
        opts.height = "550";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();

        $.ajax({
            type: "GET",
            url: "/api/AgendaMasterAPI/Information?id=" + d,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                
                var editor = $("#editor").data("kendoEditor");
                editor.body.contentEditable = false;
                //editor.value("<div style='user-select:none;'>" + response.AgendaInfo + "</div>");
                editor.body.innerHTML = "<div style='user-select:none;'>" + response.AgendaInfo + "</div>";

            },
        });
    }
</script>
<!-- Notice Agenda Log -->
<script>
    function showNoticeAgendaLog(d) {

        $("#wndNoticeAgendaLog").attr("style", "min-height:100px;");
        var direction = "@Url.Action("NoticeAgendaLog","Meetings")" + "?meetingId=" + d;

        var wnd = $("#wndNoticeAgendaLog").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndNoticeAgendaLog").kendoWindow({
            actions: ["Close"],
            content: direction,
            width: "65%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            open: function () { kendo.ui.progress(this.element, true); },
            close: function (e) {
                $(this.element).empty();
            }
        }).data("kendoWindow");
        opts.width = "65%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }
</script>

<!-- _editMeetings-->
<script>
    function CheckVenue() {
        var ddlMeetingAddressType = $("#MeetingAddressType").data("kendoDropDownList");
        if (ddlMeetingAddressType.value() == "O") {
            var _txtMeetingVenue = $("#MeetingVenue");
            if (_txtMeetingVenue.val() == "") {
                return false;
            }
            else {
                return true;
            }
        }
        else {
            return true;
        }
    }

    function ddlMeetingAddressType_Changed() {
        var ddlMeetingAddressType = $("#MeetingAddressType").data("kendoDropDownList");
        var _txtMeetingVenue = $("#MeetingVenue");
        var Item = ddlMeetingAddressType.dataItem(ddlMeetingAddressType.selectedIndex);

        _txtMeetingVenue.val(Item.EntityAddress);
    }

    function ddlAvailabilityAddressType_Changed() {
        var ddlAvailabilityAddressType = $("#AvailabilityAddressType").data("kendoDropDownList");
        var _txtAvailabilityVenue = $("#AvailabilityVenue");
        var Item = ddlAvailabilityAddressType.dataItem(ddlAvailabilityAddressType.selectedIndex);

        _txtAvailabilityVenue.val(Item.EntityAddress);
    }

    function IsMultistage(v) {
        var datepicker = $("#MeetingDate").data("kendoDatePicker");
        var timepicker = $("#MeetingTime").data("kendoTimePicker");
        var MeetingAddressType = $("#MeetingAddressType").data("kendoDropDownList");
        if (v == true) {
            $("#divSeekAvailability").removeClass('hidden');
            $("#mytabSA").removeClass('hidden');
            $("#mytabSA").parent().removeClass('hidden');

            $("#divSeekAvailabilityDesc").removeClass('hidden');
            $("#spMeetingDate").addClass('hidden');
            $("#spMeetingTime").addClass('hidden');
            $("#spMeetingVenue").addClass('hidden');
            $("#spMeetingVenueOther").addClass('hidden');

            datepicker.readonly();
            timepicker.readonly();
            MeetingAddressType.readonly();
            $('#MeetingVenue').attr('readonly', 'true');
        }
        else {
            $("#divSeekAvailability").addClass('hidden');
            $("#mytabSA").addClass('hidden');
            $("#mytabSA").parent().addClass('hidden');
            $("#divSeekAvailabilityDesc").addClass('hidden');
            $("#spMeetingDate").removeClass('hidden');
            $("#spMeetingTime").removeClass('hidden');
            $("#spMeetingVenue").removeClass('hidden');
            $("#spMeetingVenueOther").removeClass('hidden');

            datepicker.readonly(false);
            timepicker.readonly(false);
            MeetingAddressType.readonly(false);
            $('#MeetingVenue').removeAttr('readonly');
        }
    }

    $("#btnclose2").click(function (e) {
        $("#wndAdd").data("kendoWindow").close();
    });
</script>

<!-- Agenda Items-->
<!-- SORTABLE PART [A]-->
<script>
    var noHintA = $.noop;

    function placeholderA(element) {
        return element.clone().addClass("k-state-hover").css("opacity", 0.65);
    }

    function onChangeA(e) {
        
        var grid = $("#gridAgendaItemA").data("kendoGrid"),
            skip = grid.dataSource.skip(),
            //oldIndex = e.oldIndex + skip,
            //newIndex = e.newIndex + skip,
            oldIndex = e.oldIndex + 1,
            newIndex = e.newIndex + 1;

        data = grid.dataSource.data(),
        dataItem = grid.dataSource.getByUid(e.item.data("uid"));

        grid.dataSource.remove(dataItem);
        grid.dataSource.insert(newIndex, dataItem);

        //Set Dirty
        var gridData = grid.dataSource.view();
        for (var i = 0; i < gridData.length; i++) {
            gridData[i].dirty = true;
        }
        $('#divbtnSaveAgendaItemOrderA').removeClass("hidden");
    }

    function saveSerialOrderA() {
        var grid = $("#gridAgendaItemA").data("kendoGrid");
        var gridData = grid.dataSource.view();

        
        for (var i = 0; i < gridData.length; i++) {
            var currentUid = gridData[i].uid;
            var MeetingAgendaMappingID = gridData[i].MeetingAgendaMappingID;
            var AgendaID = gridData[i].AgendaID;

            gridData[i].dirty = true;
        }
    }

    $("#btnSaveAgendaItemOrderA").kendoButton({
        click: function (e) {
            
            var grid = $("#gridAgendaItemA").data("kendoGrid");
            grid.saveChanges();

            $('#divbtnSaveAgendaItemOrderA').addClass("hidden");
        }
    })

</script>
<!-- SORTABLE PART [B] -->
<script>
    var noHint = $.noop;

    function placeholder(element) {
        return element.clone().addClass("k-state-hover").css("opacity", 0.65);
    }

    function onChange(e) {
        
        var grid = $("#gridAgendaItem").data("kendoGrid"),
            skip = grid.dataSource.skip(),

            oldIndex = e.oldIndex,
            newIndex = e.newIndex,
            data = grid.dataSource.data(),
            dataItem = grid.dataSource.getByUid(e.item.data("uid"));

        grid.dataSource.remove(dataItem);
        grid.dataSource.insert(newIndex, dataItem);

        //Set Dirty
        var gridData = grid.dataSource.view();
        for (var i = 0; i < gridData.length; i++) {
            gridData[i].dirty = true;
        }

        $('#divbtnSaveAgendaItemOrder').removeClass("hidden");
    }

    function saveSerialOrder() {
        var grid = $("#gridAgendaItem").data("kendoGrid");
        var gridData = grid.dataSource.view();

        
        for (var i = 0; i < gridData.length; i++) {
            var currentUid = gridData[i].uid;
            var MeetingAgendaMappingID = gridData[i].MeetingAgendaMappingID;
            var AgendaID = gridData[i].AgendaID;

            gridData[i].dirty = true;
        }
    }

    $("#btnSaveAgendaItemOrder").kendoButton({
        click: function (e) {
            var grid = $("#gridAgendaItem").data("kendoGrid");
            grid.saveChanges();

            $('#divbtnSaveAgendaItemOrder').addClass("hidden");
        }
    })

</script>

<!-- Compliance Mapping-->
<script>
    function EditComplianceMapping(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        if (dataItem.HasCompliance == true) {
            ComplianceMapping(dataItem.Meeting_Id, dataItem.MeetingAgendaMappingID, dataItem.AgendaItemHeading);
        }
    }

    function ComplianceMapping(Meeting_Id, MeetingAgendaMappingID, AgendaItemHeading) {
        $("#wndMeetingCompliances").attr("style", "min-height:100px;");

        if (AgendaItemHeading == null) {
            $("#wndMeetingCompliances").kendoWindow({
                title: "Compliances ",
                modal: true
            });
        } else {
            $("#wndMeetingCompliances").kendoWindow({
                title: "Compliances - " + AgendaItemHeading,
                modal: true
            });
        }

        var direction = "@Url.Action("Compliances", "Meeting_Compliances",null)" + "?agendaId=0&meetingId=" + Meeting_Id + "&meetingAgendaMappingId=" + MeetingAgendaMappingID;
        var wnd = $("#wndMeetingCompliances").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndMeetingCompliances").kendoWindow({
            title: "Template",
            actions: ["Close"],
            content: direction,
            width: "75%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            open: function () { kendo.ui.progress(this.element, true); },
            close: function (e) {
                $(this.element).empty();
            }
        }).data("kendoWindow");

        opts.width = "75%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }
</script>

<script>
    function onRowBoundAgendaItemsA(e) {
        resetRowNumber();

        this.tbody.find("tr:lt(" + 1 + ")").addClass("restricted");

        var grid = $("#gridAgendaItemA").data("kendoGrid");
        var gridData = grid.dataSource.view();
        for (var i = 0; i < gridData.length; i++) {
            var currentUid = gridData[i].uid;
            var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");

            if (gridData[i].HasInfo == false) {
                $(currenRow).find(".k-grid-ainfo").addClass("k-state-disabled");
            }

            if (gridData[i].HasCompliance == false) {
                var editButton = $(currenRow).find(".k-grid-c").addClass("k-state-disabled");
            }

            if (gridData[i].HasTemplate == true) {

                if (gridData[i].IsFillTemplateFields == false) {
                    //var tButton = $(currenRow).find(".k-grid-warn").append("<i class='icon_error-circle_alt' style='color: #24dae2;'></i>");
                    $(currenRow).find(".k-grid-warn").append("<img class='fill-template-fields' style='height:25px;' src='../../Images/upload_error.png'/>");
                } else {
                    //var tButton = $(currenRow).find(".k-grid-warn").append("<i class='icon_error-circle_alt' style='color: #24dae2;'></i>");
                    $(currenRow).find(".k-grid-warn").append("<img style='height:25px;' src='../../Images/upload_success.png'/>");
                }
            }
            else {
                $(currenRow).find(".k-grid-t").addClass("k-state-disabled");
            }
        }

        GetICons();
    }

    function onRowBoundAgendaItems(e) {
        resetRowNumber();

        //$(".k-grid-info").find("span").append("<img id='theImg2' src='/Images/Info_icon.png'/>");

        var grid = $("#gridAgendaItem").data("kendoGrid");
        var gridData = grid.dataSource.view();
        for (var i = 0; i < gridData.length; i++) {
            var currentUid = gridData[i].uid;
            var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");

            if (gridData[i].HasInfo == false) {
                $(currenRow).find(".k-grid-ainfo").addClass("k-state-disabled");
            }

            if (gridData[i].HasCompliance == false) {
                var editButton = $(currenRow).find(".k-grid-c").addClass("k-state-disabled");
            }

            if (gridData[i].HasTemplate == true || gridData[i].UIFormID > 0) {
                if (gridData[i].IsFillTemplateFields == false) {
                    //var tButton = $(currenRow).find(".k-grid-warn").append("<i class='icon_error-circle_alt' style='color: #24dae2;'></i>");
                    $(currenRow).find(".k-grid-warn").append("<img class='fill-template-fields' style='height:25px;' src='../../Images/upload_error.png'/>");
                } else {
                    //var tButton = $(currenRow).find(".k-grid-warn").append("<i class='icon_error-circle_alt' style='color: #24dae2;'></i>");
                    $(currenRow).find(".k-grid-warn").append("<img style='height:25px;' src='../../Images/upload_success.png'/>");
                }
            }
            else {
                $(currenRow).find(".k-grid-t").addClass("k-state-disabled");
            }

            //if (gridData[i].UIFormID > 0) {

            //}
            //else{
            //    $(currenRow).find(".k-grid-f").addClass("k-state-disabled");
            //}
        }

        GetICons();
    }

    function onRowBoundAgendaItemsC(e) {
        resetRowNumber();

        var grid = $("#gridAgendaItemC").data("kendoGrid");
        var gridData = grid.dataSource.view();
        for (var i = 0; i < gridData.length; i++) {
            var currentUid = gridData[i].uid;
            var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");

            if (gridData[i].HasInfo == false) {
                $(currenRow).find(".k-grid-ainfo").addClass("k-state-disabled");
            }

            if (gridData[i].HasCompliance == false) {
                var editButton = $(currenRow).find(".k-grid-c").addClass("k-state-disabled");
            }

            if (gridData[i].HasTemplate == true) {
                if (gridData[i].IsFillTemplateFields == false) {
                    //var tButton = $(currenRow).find(".k-grid-warn").append("<i class='icon_error-circle_alt' style='color: #24dae2;'></i>");
                    $(currenRow).find(".k-grid-warn").append("<img class='fill-template-fields' style='height:25px;' src='../../Images/upload_error.png'/>");
                } else {
                    //var tButton = $(currenRow).find(".k-grid-warn").append("<i class='icon_error-circle_alt' style='color: #24dae2;'></i>");
                    $(currenRow).find(".k-grid-warn").append("<img style='height:25px;' src='../../Images/upload_success.png'/>");
                }
            }
            else {
                $(currenRow).find(".k-grid-t").addClass("k-state-disabled");
            }
        }

        GetICons();
    }
</script>
<!-- End Agenda Items-->
<!-- Pre Committee Pending Agenda Items -->
<script>
    function showPendingPreCommitteeAgendaItemsWnd(m) {
        var direction = "GetPendingPreCommitteeAgendaItems?MeetingId=" + m;

        $("#wndPreCommitteeAgenda").attr("style", "min-height:100px;");

        var wnd = $("#wndPreCommitteeAgenda").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndPreCommitteeAgenda").kendoWindow({
            actions: ["Close"],
            content: direction,
            width: "65%",
            visible: true,
            modal: true,
            refresh: function () { this.center(); },
            open: function () { },
            close: function (e) {
                $(this.element).empty();
            }
        }).data("kendoWindow");

        opts.width = "65%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();

    }

    function savePreCommitteeAgenda(mType, s, sMappingId, postAgendaId, index) {
        

        var TargetMeetingID = $("#TargetMeetingID_" + index);
        if (TargetMeetingID[0].value != "") {
            var divPreAgendaMessage = $("#divPreAgendaMessage");
            var divSavePreCommitteeAgenda = $("#divSavePreCommitteeAgenda_" + index);

            divPreAgendaMessage[0].innerHTML = '';
            $.ajax({
                type: "POST",
                url: "@Url.Action("SavePreCommitteeAgendaItems", "Meetings")",
                data: "{MeetingTypeID: " + mType + ", SourceMeetingID:" + s + ", SourceMeetingAgendaMappingID:" + sMappingId + ", PostAgendaID:" + postAgendaId + ", TargetMeetingID:" + TargetMeetingID[0].value + "}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    
                    if (response.Result == "true") {
                        divSavePreCommitteeAgenda[0].innerHTML = '';
                        divPreAgendaMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success'> <lable>Save Successfully.</lable></div></div></div>";

                    }
                    else if (response.Result == "false") {
                        divPreAgendaMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-danger'> <lable>Something wents wrong.</lable></div></div></div>";

                    } else {
                        divPreAgendaMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-danger'> <lable>" + response.Result + "</lable></div></div></div>";
                    }
                },
            });

        }
    }
</script>

<!-- -->
<script>
    function showMeetingFormsList(meetingId, mappingId, cid) {
        $("#wndMeetingForm").attr("style", "min-height:100px;");
        var direction = "@Url.Action("MeetingFormsList", "MeetingForm")?meetingId=" + meetingId + "&meetingAgendaMappingId=" + mappingId + "&complianceId=" + cid;

        var wnd = $("#wndMeetingForm").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndMeetingForm").kendoWindow({
            pinned: true,
            actions: [
                         "Pin",
                         "Minimize",
                         "Maximize",
                         "Close"
            ],
            content: direction,
            width: "65%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            open: function () { kendo.ui.progress(this.element, true); },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
        }).data("kendoWindow");
        opts.width = "65%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }
</script>

<!-- refreshAvailabilityCharts -->
<script>
    function refreshAvailabilityCharts() {
        
        //$('#chart_1').data('kendoChart').dataSource.read();
        //$('#chart_2').data('kendoChart').dataSource.read();
        //$('#chart_3').data('kendoChart').dataSource.read();
        //var c = $('#chart_3').data('kendoChart');
        //c.refresh();
        //c.redraw();
        //var c4 = $('#chart_4').data('kendoChart');

        $(window).on("resize orientationchange", function () {
            kendo.resize($("body"));
        });

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            kendo.resize($("body"));
        });

        //kendo.resize($("body"));
    }
</script>