﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMBoard_Director
@{
    ViewBag.Title = "Master / Board Rules";
    Layout = "~/Areas/BM_Management/Views/Shared/BM_layout.cshtml";
}
<style>
    html {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }

    #TabstripID {
  position: relative;
}

    .field-validation-error {
        color: #ff0000;
    }

    .k-current-page {
        display: none;
    }

    html .k-upload-empty {
        border-width: 1px;
    }

    .k-edit-form-container {
        position: relative;
        width: 900px;
    }

    .k-grid-edit {
        height: 32px;
        width: 33px;
        padding: 6px 0px 10px 0;
        /*white-space: nowrap;*/
        overflow: hidden;
        /*border-radius: 20px;*/
    }

    .k-grid-delete {
        height: 32px;
        width: 33px;
        padding: 5px 0px 10px 0;
        overflow: hidden;
    }

    .fieldlist {
        margin: 0 0 -2em;
        padding: 0;
    }

        .fieldlist li {
            list-style: none;
            padding-bottom: 2em;
        }

        .fieldlist label {
            display: block;
            padding-bottom: 1em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            color: #444;
        }

    .mt30 {
        margin-top: 18px;
    }

    .k-grid-add {
        float: right;
        /*background-color: #1fd9e1;*/
        /*color: white;*/
    }
    /*.k-add
    {
        background-image:url("'../../../../Images/Add_new_icon.png'")
    }*/
    .k-edit-buttons {
        width: 1280px;
        text-align: center;
    }

    label {
        color: black;
    }

    .ml-mr {
        margin-left: 2%;
    }

    .k-window div.k-window-content {
        /*// overflow: hidden;*/
        /*overflow-y: scroll*/
    }

    fieldset {
        display: block;
        margin-inline-start: 0px;
        margin-inline-end: 2px;
        padding-block-start: 0.35em;
        padding-inline-start: 0.75em;
        padding-inline-end: 0.75em;
        padding-block-end: 0.625em;
        min-inline-size: min-content;
        border-width: 1px;
        border-style: groove;
        border-color: rgba(128, 128, 128, 0.56);
        border-radius: 11px;
        /*border-color: threedface;
    border-image: initial;*/
    }

    .amp-mb5 {
        margin-bottom: 5px;
    }

    .amp-h25 {
        height: 25px;
    }

    .amp-h26 {
        height: 26px;
    }

    .amp-h27 {
        height: 27px;
    }

    .amp-h28 {
        height: 28px;
    }

    .amp-h29 {
        height: 29px;
    }

    .amp-h30 {
        height: 30px;
    }

    .amp-mt7 {
        margin-top: 7px;
    }

    .amp-mt8 {
        margin-top: 8px;
    }

    .amp-mt9 {
        margin-top: 9px;
    }

    .amp-mt10 {
    }
</style>

<div class="row Dashboard-white-widget">
    <div class="dashboard">
       
        <div class="row form-group colpadding0">
            <div class="col-md-12 colpadding0">

                <div class="col-md-4 colpadding0">

                    <label class="control-label">Company Type</label>
                    @Html.Kendo().DropDownList().Name("ddlRulesFor").BindTo(new SelectList(new List<object> {
                                    new {id="0",text="Select"},
                                      new {id="1",text="Private"},
                                    new {id="2",text="Public Company"},
                                    new {id="9",text="Deemed Public Company"},
                                    new {id="10",text="Listed Company"}},
                                    "id", "text")).Value("0").HtmlAttributes(new { style = "width: 80%;", onchange = "ruleForChange()" })

                </div>

            </div>
        </div>

        <div id="viewPlaceHolder">
            <div class="row colpadding0 mt30">
                <div class="col-md-12 colpadding0">
                    @Html.Partial("_partialViewForRule", Model)
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    function sync_handler(e) {
        this.read();
    }

    function toolTipContent(e) {
        return e.target.context.innerText;
    }


    $(document).ready(function () {

    });

    function ruleForChange() {
        var id = 0;
        var Entity_Type = $("#ddlRulesFor").data("kendoDropDownList").value();

        var Customer_Id = 0;
      
        $("#viewPlaceHolder").load('@Url.Action("RulesFor","BoardOF_Director")?EntityType=' + Entity_Type);

    }

    //function createOrCopyRules(option) {

    //    var Entity_Type = $("#ddlRulesFor").data("kendoDropDownList").value();

    //    $("#viewPlaceHolder").load("../CommitteeComposition/RulesFor",
    //           { EntityType: Entity_Type, command_name: option });
    //}

    function OnOpen(e) {

        kendo.ui.progress($("#viewPlaceHolder"), true);

    }

    function OnRefresh(e) {
        kendo.ui.progress($("#viewPlaceHolder"), false);
    }

</script>



