﻿@using Kendo.Mvc.UI;
@model dynamic
<!-- Script for Kendo Grid-->
<script type="text/javascript">

    function error_handlerT(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function() {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

    function toolTipContent_gridNew(e) {
        return e.target.context.innerText;
    }

    function GetDueString(dataItem) {
        
        var result = "";
        if ($.trim(dataItem.BeforeAfter) == "A") {
            result += "After";
        } else {
            result += "Before";
        }

        result += " " + dataItem.Numbers + " ";
        if ($.trim(dataItem.DaysOrHours) == "D") {
            if (dataItem.Numbers > 1) {
                result += "Days.";
            } else {
                result += "Day.";
            }

        } else {
            if (dataItem.Numbers > 1) {
                result += "Hours.";
            } else {
                result += "Hour.";
            }

        }

        return result;
    }

    function onRowBoundComplianceMapping(e) {
        resetRowNumber();
        $(".k-grid-edit").find("span").addClass("k-icon k-edit");
        $(".k-grid-delete").find("span").addClass("k-icon k-delete");
        $(".k-grid-add").find("span").addClass("k-icon k-add k-i-plus-outline");
    }

</script>

<script type="text/javascript">

    function Request_EndT(e) {
        
        if (e.type == "create" || e.type == "update") {
            if(e.response.Errors == null)
            {
                var divgridNewMessage = $("#divgridNewMessage");
                divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success'> <lable>Save Successfully.</lable></div></div></div>";
            }
        }
    }

    $("#btnSaveTemplate").kendoButton({
        click: function (e) {
            var divgridNewMessage = $("#divgridNewMessage");
            divgridNewMessage[0].innerHTML = '';

            var grid = $("#gridMeetingComplianceAssign").data("kendoGrid");

            grid.saveChanges();
            //var gridData = grid.dataSource.data();

            //var lookup = {};
            //var isExists = false;
            //
            //for (var i = 0; i < gridData.length; i++){
            //    var templateName = gridData[i].TemplateName.toUpperCase();
            //    if (!(templateName in lookup)){
            //        lookup[templateName] = 1;
            //    }
            //    else {
            //        isExists = true;
            //    }
            //   }

            //if (isExists == false) {
            //    grid.saveChanges();
            //}
            //else {
            //    var strValidation = "Duplicate Template Name.";
            //    divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-danger'> <lable>" + strValidation + "</lable></div></div></div>";
            //}

        }
    })


    $("#btncloseTemplate").kendoButton({
        click: function (e) {
            $("#wndMeetingComplianceAssign").data("kendoWindow").close();
        }
    })

</script>

<ul class="nav nav-tabs" id="MyTab">
    <li class="active"><a data-toggle="tab" id="mytab2" href="#menuScheduleOn">Schedule</a></li>
    <li><a data-toggle="tab" id="mytabComplianceAssignment" href="#menuComplianceAssignment">Assignment</a></li>
</ul>
<div class="tab-content">

    <div id="menuScheduleOn" class="tab-pane fade in active">
        <div class="mt30" style="margin-left:1%; margin-right:1%;">
            <div style="overflow-y:auto; height:500px;">
                @Html.Partial("_ComplianceSchedule", (long)Model.MeetingID)
            </div>
        </div>
    </div>

    <div id="menuComplianceAssignment" class="tab-pane fade">

        <div class="mt30" style="margin-left:1%; margin-right:1%;">

            <div id="divgridNewMessage">

            </div>

            <div>
                @(Html.Kendo().Grid<BM_ManegmentServices.VM.MeetingComplianceScheduleDetails_ResultVM>()
                .Name("gridMeetingComplianceAssign")
                .Columns(columns =>
                {
                    //columns.Bound(p => p.ShortDescription).HeaderTemplate("Compliance").ClientTemplate("#=ShortDescription#").HtmlAttributes(new { title = "#= ShortDescription #", style = "height: 25px" }).Sortable(false).Width(600);
                    columns.Bound(p => p.AgendaItemHeading).HeaderTemplate("Compliance").ClientGroupHeaderTemplate("#= value == '' ? 'Meeting' : 'Agenda : '+ value  #").ClientTemplate("##").Hidden();
                    //columns.Bound(p => p.ShortDescription).ClientGroupHeaderTemplate("Compliance : #= value #").HeaderTemplate("Role").ClientTemplate("#=data.Role #").Width("20%");
                    columns.Bound(p => p.ShortDescription).HeaderTemplate("Compliance").ClientTemplate("#=data.ShortDescription #").Width("65%");
                    columns.Bound(p => p.Role).HeaderTemplate("Role").ClientTemplate("#= Role #").HtmlAttributes(new { title = "#= Role #" }).Sortable(false).Width("15%");
                    columns.Bound(p => p.User).ClientTemplate("#=User.FullName#").HtmlAttributes(new { title = "#= User.FullName #" }).Sortable(false);
                })
                .Editable(editable => editable.Mode(GridEditMode.InCell))
                //.HtmlAttributes(new { style = "height:480px;" })
                //.EnableCustomBinding(true)
                .Events(e => e.DataBound("onRowBoundComplianceMapping"))
                .Navigatable()
                //.Scrollable()
                .Scrollable(s => s.Enabled(true).Height("auto"))
                .DataSource(dataSource => dataSource
                .Ajax()
                .Batch(true)
                .ServerOperation(false)
                .Events(events => events.Error("error_handlerT")
                .RequestEnd("Request_EndT"))
                .Model(model =>
                {
                    model.Id(p => p.AssignmentID);
                    model.Field(p => p.AssignmentID).Editable(false);
                    model.Field(p => p.AgendaItemHeading).Editable(false);
                    model.Field(p => p.ShortDescription).Editable(false);
                    model.Field(p => p.Role).Editable(false);
                })
                .Group(groups => groups.Add(p => p.AgendaItemHeading))
                //.Group(groups => groups.Add(p => p.ShortDescription))
                .Read(read => read.Action("ComplianceAssignment_Read", "MeetingComplianceAssign", new { meetingId = Model.MeetingID, mappingType="S" }))
                .Create(create => create.Action("EditingCustom_Create", "MeetingComplianceAssign").Type(HttpVerbs.Post))
                .Update(update => update.Action("EditingCustom_Create", "MeetingComplianceAssign").Type(HttpVerbs.Post))
                .Events(events => events.Error("error_handlerT"))
                ))
            </div>

            <div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;">
                <button type="button" id="btnSaveTemplate" class="k-primary k-button k-grid-update k-button-icontext">Save</button>
                <button type="button" id="btncloseTemplate" class="k-button">Close</button>
            </div>

        </div>
    </div>
</div>

