﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMState


<div id="example">
    <div id="window">
        <!-- this will be the content of the popup -->

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.SIdPublic)
        <div class="row mt30">
            <div class="col-md-12 colpadding0">

                <div class="col-md-3 colpadding0">
                    <span style="color:red">*</span><lable class="control-label">Countary Name:</lable>
                    @*@Html.LabelFor(m => m.FirstName)*@
                </div>
                <div class="col-md-7 colpadding0">
                    @(Html.Kendo().DropDownListFor(m => m.countryId)
                  .DataTextField("CountryName")
                  .DataValueField("CountryId")

                  .Filter("contains")
                  
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Url("/api/EntityMasterAPI/GetDropDownEntityForCountry").Type(HttpVerbs.Get);
                      })
                      .ServerFiltering(false);
                  })

                   .HtmlAttributes(new { style = "width: 100%", @Id = "ddlCountryforpartial", autocomplete = "off" })
                    )
                </div>

            </div>
        </div>

        <div class="row mt30">
            <div class="col-md-12 colpadding0">

                <div class="col-md-3 colpadding0">
                    <span style="color:red">*</span><lable class="control-label">State Name:</lable>
                    @*@Html.LabelFor(m => m.FirstName)*@
                </div>
                <div class="col-md-7 colpadding0">
                    @(Html.Kendo().TextBoxFor(m => m.Name).HtmlAttributes(new { @class = "form-control k-textbox", @Id = "txtName", style = "width: 100%", required = "true", validationmessage = "required field" }))
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>

            </div>
        </div>

    </div>
</div>

