﻿@model BM_ManegmentServices.VM.Body_CorporateVM

@using Kendo.Mvc.UI
<script>
    $(document).ready(function () {
        $("#PanelbarBodyCorporate").kendoPanelBar({
            expandMode: "Single"
        });
    });
</script>
<style>
    .k-window-actions {
        display: none;
    }
</style>

<script>
    function success1(e) {
        debugger;
        //if (e.message.Model.Success === true) {
        //    debugger;
        //    $("#divsuccessbco").show();
        //    $("#divErrorbco").hide();
        //    $("#lblsuccess").text(e.message.Model.Message);
        //}
        //else {
        //    $("#divErrorbco").show();
        //    $("#divsuccessbco").hide();
        //    $("#lblerror").text(e.message.Model.Message);
        //}

    }


    function begin1(e) {
        debugger;
        var wnd = $("#wndBodyCorporate").data("kendoWindow");

        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }
    function Complite1() {
        debugger;
        var wnd = $("#wndBodyCorporate").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
        $(".k-overlay").attr('style', "opacity:0.5; display:none;");
    }

</script>

@if(Model.Success==true)
{
    
    <script>
        debugger;
        $("#divsuccessbco").show();
        $("#divErrorbco").hide();
        @*$("#lblsuccess").text("Saved successfully");
        $("#lblsuccess").html('@Model.Message');*@
    </script>
}
else if (Model.Error == true)
{
    <script>
        $("#divErrorbco").show();
        $("#divsuccessbco").hide();
        $("#lblerror").text('@Model.Message');
        $("#lblerror").html('@Model.Message');
    </script>
}

<div id="DivBodyCorporate">

    @using (Ajax.BeginForm("SaveBodyCorporate", "EntityMaster", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivBodyCorporate", OnSuccess = "success1", OnBegin = "begin1", OnComplete = "Complite1" }, new { id = "frmdivbodyCorporate" }))
    {
        <div class="row colpadding0" style="display:none;" id="divsuccessbco">
            <div class="col-md-12 colpadding0">
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <label id="lblsuccess">Saved successfully</label>
                </div>
            </div>
        </div>

            <div class="row colpadding0" style="display:none" id="divErrorbco">
                <div class="col-md-12 colpadding0">
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <label id="lblerror"></label>
                    </div>
                </div>
            </div>

            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
            <div class="row colpadding0">
                <div class="col-md-12 colpadding0">

                    <div class="row colpadding0">
                        <div class="col-md-12 colpadding0">
                            <div class="col-md-6 colpadding0">
                                <label for="txtEntityName" class="control-label">Type</label><span style="color:red">*</span>
                                @*@(Html.Kendo().TextBoxFor(m => m.Type).HtmlAttributes(new { @class = "k-textbox", @Id = "txtbctype", style = "width: 90%", autocomplete = "off" }))*@
                                @Html.Kendo().DropDownListFor(model => model.Type).BindTo(new SelectList(new List<object> {
                                   new {id="LLP",text="LLP"},
                                    new {id="Company",text="Company"},
                                    new {id="Foreign LLP",text="Foreign LLP"},
                                    new {id="Foreign Company",text="Foreign Company"},
                                    new {id="LLP incorporated outside India (LIOI)",text="LLP incorporated outside India (LIOI)"},
                                }, "id", "text")).HtmlAttributes(new { style = "width: 90%" })
                                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-6 colpadding0">
                                <label class="control-label">FRCN/CIN</label><span style="color:red">*</span>
                                @(Html.Kendo().TextBoxFor(m => m.CIN_FCRN).HtmlAttributes(new { @class = "k-textbox", @Id = "txtCINFRCN", style = "width: 90%", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.CIN_FCRN, "", new { @class = "text-danger" })
                            </div>

                        </div>
                    </div>

                    <div class="row colpadding0 mt30">
                        <div class="col-md-12 colpadding0">

                            <div class="col-md-6 colpadding0">
                                <label class="control-label">Name</label><span></span>
                                @(Html.Kendo().TextBoxFor(m => m.Name).HtmlAttributes(new { @class = "k-textbox", @Id = "txtbcName", style = "width: 90%", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-6 colpadding0">
                                <label class="control-label">PAN</label>
                                @(Html.Kendo().TextBoxFor(m => m.PANOfBodyCorporate).HtmlAttributes(new { @class = "k-textbox", @Id = "txtPANOfBodyCorporate", style = "width: 90%", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })

                            </div>
                        </div>
                    </div>

                    <div class="row colpadding0 mt30">
                        <div class="col-md-12 colpadding0">

                            <div class="col-md-6 colpadding0">
                                <label class="control-label">Email</label><span></span>
                                @(Html.Kendo().TextBoxFor(m => m.EmailIdOfBodyCorporate).HtmlAttributes(new { @class = "k-textbox", @Id = "txtEmailIdOfBodyCorporate", style = "width: 90%", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.EmailIdOfBodyCorporate, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-6 colpadding0">
                                <label class="control-label">Address</label><span style="color:red"></span>
                                @(Html.Kendo().TextBoxFor(m => m.Address).HtmlAttributes(new { @class = "k-textbox", @Id = "txtbcAddress", style = "width: 90%", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })

                            </div>
                        </div>
                    </div>

                    <div class="row colpadding0 mt30">
                        <div class="col-md-12 colpadding0">

                            <div class="col-md-6 colpadding0">
                                <label class="control-label">Country where registered</label><span style="color:red"></span>
                                @(Html.Kendo().DropDownListFor(m => m.CountryId)
                  .DataTextField("CountryName")
                  .DataValueField("CountryId")
                  .OptionLabel("Select")
                  .Filter(FilterType.Contains)
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Url("/api/EntityMasterAPI/GetDropDownEntityForCountry").Type(HttpVerbs.Get);
                      })
                      .ServerFiltering(false);
                  })

                   .HtmlAttributes(new { style = "width: 90%", @Id = "txtddlcountry", autocomplete = "off" })
                                )
                                @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })
                            </div>



                            <div class="col-md-6 colpadding0 hidden">
                                <label class="control-label">Oblogation of Contribution</label><span style="color:red">*</span>
                                @(Html.Kendo().TextBoxFor(m => m.obligationofContribution).HtmlAttributes(new { @class = "k-textbox", @Id = "txtobligationofcontribution", style = "width:90%", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.obligationofContribution, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row colpadding0 mt30 hidden">
                        <div class="col-md-12 colpadding0">

                            <div class="col-md-6 colpadding0">

                                <label class="control-label">Contribution Recived and accounted</label><span></span>
                                @(Html.Kendo().TextBoxFor(m => m.ContributionRecivedandAccounted).HtmlAttributes(new { @class = "k-textbox", @Id = "txtcontributionrecived", style = "width:90%", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.ContributionRecivedandAccounted, "", new { @class = "text-danger" })

                            </div>
                        </div>
                    </div>




                    <div class="row colpadding0 mt30">
                        <div class="col-md-12 colpadding0" style="text-align:center">
                            <button type="submit" id="btnBodyCorporate" class="btn btn-primary">Save</button>

                            <button type="button" id="btnBodyCorporateclose" class="btn btn-primary">Close</button>

                        </div>
                    </div>
                </div>

            </div>

    }

</div>
<script>
    var validator1 = $("#frmdivbodyCorporate").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");

    $("#btnBodyCorporateclose").click(function (z) {
        z.preventDefault();
        z.stopPropagation();
        $("#wndBodyCorporate").data("kendoWindow").close();
        //var ddl = $("#bodycorporateId").data("kendoDropDownList");
        //ddl.dataSource.read();
        $("#divDFI").attr('style', "opacity:''; display:block;");
        $(".k-window-actions").attr('style', "display:block;");
    })
</script>