﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.CommitteeMasterVM


@Html.AntiForgeryToken()
@Html.ValidationSummary(false, "", new { @class = "text-danger" })
@Html.TextBoxFor(model => model.Director_Id, new { @Id = "txtDirectorID", @type = "hidden" })
<script>    
    function error(e) {
        if (e.errors) {

            var message = "Errors:\n";

            $.each(e.errors, function (key, value) {

                if ('errors' in value) {

                    $.each(value.errors, function () {

                        message += this + "\n";

                    });
                }
            });
            var grid = $("#gridKendo1").data("kendoGrid");

            grid.one("dataBinding", function (e) {

                e.preventDefault();   // cancel grid rebind if error occurs
            });

            alert(message);
        }
    }
    function req_EndDetailsOfCommitteePosition(e) {

        if (e.type == "create") {
            var grid = $("#gridKendo1").data("kendoGrid");
            // grid.dataSource.read();
            grid.one("dataBinding", function (e) {

                e.preventDefault();   // cancel grid rebind if error occurs
            });

            kendo.ui.progress(grid.element, false);
            $(".k-loading-mask").hide();
            if (e.response == "×Saved Successfully.") {
                $("#Divsuccess").show();
                $("#Diverror").hide();
                $('#lblsuccess').text(e.response);
                var ddlentitydata = $("#ddlEntityType").data("kendoDropDownList");
                //ddlentitydata.dataSource.data({}); // clears dataSource
                //ddl.text(""); // clears visible text
                ddlentitydata.value("0"); // clears invisible value
                var ddlcommitydata = $("#ddlCommitteelist").data("kendoDropDownList");
                ddlcommitydata.value("0");
                var ddldesignationdata = $("#ddlDesignation").data("kendoDropDownList");
                ddldesignationdata.value("0");

                var ddlCommittee_Type = $("#ddlDesignation").data("kendoDropDownList");
                ddlCommittee_Type.value("0");
            }
            else {
                $("#Diverror").show();
                $("#Divsuccess").hide();
                $('#lblerrormsg').text(e.response);
            }

        }
        if (e.type == "update") {
            var grid = $("#gridKendo1").data("kendoGrid");
            //grid.dataSource.read();
            grid.one("dataBinding", function (e) {

                e.preventDefault();   // cancel grid rebind if error occurs
            });

            kendo.ui.progress(grid.element, false);
            $(".k-loading-mask").hide();
            if (e.response == "Update Successfully") {
                $("#Divsuccess").show();
                $("#Diverror").hide();
                $('#lblsuccess').text(e.response);
            }
            else {
                $("#Diverror").show();
                $("#Divsuccess").hide();
                $('#lblerrormsg').text(e.response);
            }
        }
    }
    function onRowBound(e) {
        
        resetGridRowNumber(e);
        GetICons();


        var grid = $("#gridKendo1").data("kendoGrid");
        //grid.thead.css("background-color", "green")
        var data = grid.dataSource.data();
        $.each(data, function (i, row) {
            $('tr[data-uid="' + row.uid + '"] ').removeClass("k-alt");

            $('tr[data-uid="' + row.uid + '"] ').css("box-sizing", "border-box");
            $('tr[data-uid="' + row.uid + '"] ').css("box-shadow", "0px 0px 1px 0 #DDDDDD");
        })

    }
    function onEdit(e) {
        

        e.container.find(".k-grid-cancel,.k-i-close").bind("click", function () {
            var grid = $("#gridKendo1").data("kendoGrid");
            grid.dataSource.read();
        });

        $('#gridKendo1').data().kendoGrid.editable.element.closest('.k-window')
      .find('.k-window-action:has(.k-i-close)').click(function () {
          var grid = $("#gridKendo1").data("kendoGrid");
          grid.dataSource.read();
      })

        $("#AppointmentFrom").removeAttr("data-val-date");
        $("#AppointmentTo").removeAttr("data-val-date");

        if (e.model.isNew()) {
            $('.k-grid-update').text("Save");
            $('.k-grid-cancel').text("Close");
        } else {
            $('.k-grid-update').text("Update");
            $('.k-grid-cancel').text("Close");
        }

    }
</script>
<script>
    $("#btnAddDetailsOfCommittee").click(function (e) {
        e.preventDefault();
        var grid = $("#gridKendo1").data("kendoGrid");
        grid.addRow();
    });
    function ShowDetailsofCommOtherCustRecordAction(dataItem) {
        if (dataItem.IsCurrentCustRecord == true) {
            return true;
        } else {
            return false;
        }
    }
</script>
<div class="row col-md-12 colpadding0">
    <div class="col-md-1 colpadding0 pull-right text-right">
        <a class="btn btn-primary" href="/#" id="btnAddDetailsOfCommittee" title="Add New"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</a>
    </div>
</div>

<div class="row col-md-12 colpadding0">
    @(Html.Kendo().Grid<BM_ManegmentServices.VM.CommitteeMasterVM>()
        .Name("gridKendo1")
        .Columns(columns =>
        {
            //columns.Bound(o => o.Director_Id);
            columns.Bound(o => o.EntityName).Title("Entity").Width("25%");
            columns.Bound(o => o.CommitteeName).Title("Committee").Width("25%");
            columns.Bound(o => o.Designation_Name).Title("Position").Width("15%");
            columns.Bound(o => o.AppointmentFrom).ClientTemplate("#= AppointmentFrom == null ? '' : kendo.toString(AppointmentFrom, \"dd-MMM-yyyy\")#").Title("Date of Appointment").Width("12.5%");
            columns.Bound(o => o.AppointmentTo).ClientTemplate("#= AppointmentTo == null ? '' : kendo.toString(AppointmentTo, \"dd-MMM-yyyy\")#").Title("Date of Cessation").Width("12.5%");
            //columns.Bound(o => o.Committee_Type_Name).Title("Committee Type").HtmlAttributes(new { @style = "width:20%" });
            columns.Command(command => { command.Edit().Visible("ShowDetailsofCommOtherCustRecordAction"); command.Destroy().Visible("ShowDetailsofCommOtherCustRecordAction"); }).Title("Action");
        })
        //.ToolBar(tools =>
        //{
        //    tools.Create().Text("New");
        //})
        .Editable(editable =>
        {
            editable.Mode(GridEditMode.PopUp).TemplateName("_committeadd_Edit").Window(w => w.Title("Add/Edit").Width(620));
            editable.DisplayDeleteConfirmation("Are you sure you want to delete State?");
        })
        .Events(e => e.DataBound("onRowBound"))
        .Events(e => e.Edit("onEdit"))
        //.Events(e => e.Edit("HideGridFields"))
        .Navigatable()
        .Pageable(pageable => pageable
        .Refresh(false)
        .PageSizes(true)
        .ButtonCount(5))
        .Filterable()
        .Sortable()
        .Reorderable(reorderable => reorderable.Columns(true))
        .Resizable(resizable => resizable.Columns(true))
        .ColumnMenu()
        .DataSource(dataSource => dataSource
        .WebApi()
        .PageSize(5)
        .ServerOperation(false)
        .Model(model =>
        {
            model.Id(o => o.Id);
            model.Field(o => o.Director_Id).DefaultValue(Model.Director_Id);
            model.Field(o => o.PositionId);
            model.Field(o => o.IsCurrentCustRecord);
        })
        .Events(events => events.Error("error"))
        .Events(events => events.RequestEnd("req_EndDetailsOfCommitteePosition"))
        .Sort(sort =>
        {
            sort.Add("IsCurrentCustRecord").Descending();
            sort.Add("EntityName").Ascending();
        })
        .Read(read => read.Url("/api/CommitteeMasterNewAPIController/GetCommitteeDtls").Data("getDirectorID").Type(HttpVerbs.Get))
        .Create(create => create.Url("/api/CommitteeMasterNewAPIController/AddCommitee").Type(HttpVerbs.Post))
        .Update(update => update.Url("/api/CommitteeMasterNewAPIController/UpdateCommittee").Type(HttpVerbs.Put))
        .Destroy(destroy => destroy.Url("/api/CommitteeMasterNewAPIController/DeleteCommitteeDtls").Type(HttpVerbs.Delete))
                     ))

    @(Html.Kendo().Tooltip()
        .For("#gridKendo1")
        .Filter(".k-grid-delete")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Delete")
        .Width(120)
    )

    @(Html.Kendo().Tooltip()
    .For("#gridKendo1")
    .Filter(".k-grid-edit")
    .Position(TooltipPosition.Bottom)
     .Width(100)
        .AutoHide(true)
    .Content("Edit")
    )
</div>

<script>
    function sync_handler(e) {
        this.read();
    }

    function toolTipContent(e) {
        return e.target.context.innerText;
    }

    $("#customCommand").click(function (e) {
        e.preventDefault();
        CreateNew();
    });

    $("#btnclose1").click(function (e) {
        $("#wndAddDirector").data("kendoWindow").close();
    });

    $("#btnclose2").click(function (e) {
        $("#wndAddDirector").data("kendoWindow").close();
    });

    function CreateNew() {
        OnOpen('a');
        $("#wndAddDirector").kendoWindow({
            title: "Add - Director Master",
            modal: true
        });
        $("#wndAddDirector").attr("style", "min-height:100px;");
        var direction = "Create";
        var wnd = $("#wndAddDirector").data("kendoWindow");
        var opts = wnd.options;
        // if (!wnd) {
        wnd = $("#wndAddDirector").kendoWindow({
            title: "Add - Director Master",
            actions: ["Close"],
            content: direction,
            width: "95%",
            visible: false,
            modal: true,
            actions: [
                        "Pin",
                        "Minimize",
                        "Maximize",
                        "Close"
            ],
            refresh: function () { this.center(); OnRefresh(); },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function () {

                OnOpen();
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        // }

        opts.width = "95%";
        wnd.setOptions(opts);
        wnd.refresh(direction);
        wnd.center();
        wnd.open();
    }

    function ShowRates(e) {
        e.preventDefault();
        $("#wndAddDirector").attr("style", "min-height:100px;");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        $("#wndAddDirector").kendoWindow({
            title: "Edit - Director Master",
            modal: true
        });

        var direction = "Edit?id=" + dataItem.Id;
        var wnd = $("#wndAddDirector").data("kendoWindow");
        var opts = wnd.options;
        // if (!wnd) {

        // first click of the button - will automatically fetch the contentUrl
        wnd = $("#wndAddDirector").kendoWindow({
            title: "Edit - Director Master",
            actions: ["Close"],
            content: direction,
            width: "95%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefresh(); },
            open: function () {
                OnOpen();
            },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            }
        }).data("kendoWindow");
        // }

        opts.width = "95%";
        //opts.height = "450px";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();

    }

    function adjustSize() {
    }

    function OnOpen(e) {
        var wnd = $("#wndAddDirector").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");

    }

    function OnRefresh() {
        var wnd = $("#wndAddDirector").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function changeNameOfOtherCommittee(obj) {
        var ddlNameOfOtherCommittee = document.getElementById("ddlCommitteelist");
        //$("#ddlCommitteelist").data("kendoDropDownList");

        //var txtCommittee = document.getElementById("_txtNameOfOtherCommittee");
        //var divDivotherCommity = document.getElementById("DivotherCommity");

        //if (ddlNameOfOtherCommittee.value == 0) {
        //    $("#DivotherCommity").css("display", "block");
        //    $("#_txtNameOfOtherCommittee").attr("readonly", false);

        //    dataValidation($("#_txtNameOfOtherCommittee"), 'Please enter name of other committee');
        //    $("#sp_NameOfOtherCommittee1").removeClass("hidden");
        //    txtCommittee.setAttribute("required", "required");
        //    ddlNameOfOtherCommittee.removeAttribute("required");
        //}
        //else {
        //    $("#DivotherCommity").css("display", "none");

        //    txtCommittee.value = "";

        //    $("#_txtNameOfOtherCommittee").attr("readonly", true);
        //    $("#sp_NameOfOtherCommittee1").addClass("hidden");
        //    ddlNameOfOtherCommittee.setAttribute("required", "required");
        //    txtCommittee.removeAttribute("required");
        //}
    }

</script>

