﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.Director_Master_KMPCompanySecurity

@Html.AntiForgeryToken()
@Html.ValidationSummary(false, "", new { @class = "text-danger" })
<script>
    $(document).ready(function () {
        $("#divSuccess").hide();
        $("#divError").hide();
    });

    function success(obj)
    {
        debugger;
        if (obj != null && obj != "") {
            if (obj.Response.Success) {
                $("#divSuccess").show();
                $("#divError").hide();
                $("#successmessage").text(obj.Response.Message);
            }
            else if (obj.Response.Error)
            {
                $("#divSuccess").hide();
                $("#divError").show();
                $("#errormessage").text(obj.Response.Message);
            }
        }
        
    }
</script>

<div style="margin-left:2%; margin-right:2%;height:450px !important;overflow-x:hidden">
    
   

    <div id="divKmpCompanydtls">
        @using (Ajax.BeginForm("SaveKMP_CompanySecurity", "Director_Master", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divKmpCompanyDtls", OnBegin = "OnOpen", OnComplete = "OnRefresh", OnSuccess = "success" }, new { id = "frmKMPSecuritydtls" }))
        {
            <div class="alert alert-success alert-dismissible" id="divSuccess" style="display:none">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong id="successmessage"></strong>
            </div>

            <div class="alert alert-danger alert-dismissible" id="divError" style="display:none">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong id="errormessage"></strong>
            </div>

            @Html.HiddenFor(model => model.KMP_Id)
            @Html.HiddenFor(m => m.Id_sec)

            <div class="row colpadding0 mt30">
                <div class="col-md-12 colpadding0">

                    <div class="row form-group">
                        <div class="col-md-12 colpadding0">
                            <div class="col-md-6 colpadding0">
                                <span style="color:red">*</span><label class="control-label">Company Name</label>
                                @(Html.Kendo().TextBoxFor(m => m.CompanyName).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%" }))
                                @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2 colpadding0">
                                <div class="col-md-1 colpadding0"></div>
                                <div class="col-md-11 colpadding0">
                                    <span style="color:red">*</span><label class="control-label">Number of Securities</label>
                                    @(Html.Kendo().TextBoxFor(m => m.securities_No).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%" }))
                                    @Html.ValidationMessageFor(model => model.securities_No, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-2 colpadding0">
                                <div class="col-md-1 colpadding0"></div>
                                <div class="col-md-11 colpadding0">
                                    <label class="control-label">Description of Securities</label>
                                    @(Html.Kendo().TextBoxFor(m => m.Dis_of_securities).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%" }))
                                    @*@Html.ValidationMessageFor(model => model.Dis_of_securities, "", new { @class = "text-danger" })*@
                                </div>
                            </div>
                            <div class="col-md-2 colpadding0">
                                <div class="col-md-1 colpadding0"></div>
                                <div class="col-md-11 colpadding0">
                                    <span style="color:red"></span><label class="control-label">Nominal Value of Securities</label>
                                    @(Html.Kendo().TextBoxFor(m => m.Nominam_valSecurities).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%" }))
                                    @*@Html.ValidationMessageFor(model => model.Nominam_valSecurities, "", new { @class = "text-danger" })*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group mt30">
                        <div class="col-md-12 colpadding0">

                            <div class="col-md-2 colpadding0">

                                <label class="control-label">Date of acquisition</label>
                                @(Html.Kendo().DatePickerFor(m => m.acquisition_Date).Max(DateTime.Today)
        .Format("dd/MM/yyyy")
        .ParseFormats(new List<string>
            () { "dd/MM/yyyy" })
            .HtmlAttributes(new { style = "width: 100%", @Id = "dpacquisition_Date", onchange = "checkDate(this);" }))
                                @Html.ValidationMessageFor(model => model.acquisition_Date, "", new { @class = "text-danger" })

                            </div>
                            <div class="col-md-2 colpadding0">
                                <div class="col-md-1 colpadding0"></div>
                                <div class="col-md-11 colpadding0">
                                    <span style="color:red"></span><label class="control-label">Price paid for acquisition</label>
                                    @(Html.Kendo().TextBoxFor(m => m.acquisition_pricePaid).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%" }))
                                    @Html.ValidationMessageFor(model => model.acquisition_pricePaid, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-4 colpadding0">
                                <div class="col-md-1 colpadding0"></div>
                                <div class="col-md-11 colpadding0">
                                    <span style="color:red"></span><label class="control-label">Other consideration paid for acquisition</label>
                                    @(Html.Kendo().TextBoxFor(m => m.Other_ConsiPaid_acquisition).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%" }))
                                    @Html.ValidationMessageFor(model => model.Other_ConsiPaid_acquisition, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-2 colpadding0">
                                <div class="col-md-1 colpadding0"></div>
                                <div class="col-md-11 colpadding0">
                                    <span style="color:red"></span><label class="control-label">Date of disposal</label>
                                    <div>
                                        @(Html.Kendo().DatePickerFor(m => m.Date_disposal).Max(DateTime.Today)
.Format("dd/MM/yyyy")
.ParseFormats(new List<string>
() { "dd/MM/yyyy" })
.HtmlAttributes(new { style = "width: 100%", @Id = "DateOfdisposal", onchange = "checkDate(this);" }))
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Date_disposal, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-2 colpadding0">
                                <div class="col-md-1 colpadding0"></div>
                                <div class="col-md-11 colpadding0">
                                    <label class="control-label">Price received on disposal</label>
                                    @(Html.Kendo().TextBoxFor(m => m.Price_Received_disposal).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" }))
                                    @Html.ValidationMessageFor(model => model.Price_Received_disposal, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 colpadding0">

                            <div class="col-md-3 colpadding0">

                                <span style="color:red"></span><label for="ddlMarital_Status" class="control-label">Other consideration received on disposal</label>
                                @(Html.Kendo().TextBoxFor(m => m.otherconsideration_disposal_RescPrice).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%" }))
                                @Html.ValidationMessageFor(model => model.otherconsideration_disposal_RescPrice, "", new { @class = "text-danger" })

                            </div>
                            <div class="col-md-2 colpadding0">
                                <div class="col-md-1 colpadding0"></div>
                                <div class="col-md-11 colpadding0">
                                    <span style="color:red"></span><label class="control-label">Mode of acquisition</label>
                                    @(Html.Kendo().TextBoxFor(m => m.Mode_of_acquisitionSecurities).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%" }))
                                    @Html.ValidationMessageFor(model => model.Mode_of_acquisitionSecurities, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6 colpadding0">
                                <div class="col-md-1 colpadding0"></div>
                                <div class="col-md-11 colpadding0">
                                    <span style="color:red"></span><label class="control-label">Cumulative balance and number of securities held after each transaction</label>
                                    @(Html.Kendo().TextBoxFor(m => m.Cbal_No_securities_afterTransaction).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 45%" }))
                                    @Html.ValidationMessageFor(model => model.Cbal_No_securities_afterTransaction, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group mt30">
                        <div class="col-md-12 colpadding0">
                           
                                <div class="col-md-4 colpadding0">
                                    <span style="color:red"></span><label class="control-label">Mode of holding physical or in dematerialized form</label>
                                </div>
                                <div class="col-md-5 colpadding0">
                                    @(Html.Kendo().RadioButtonFor(m => m.Isdematerialized).Label("Physical").Value("Physical").HtmlAttributes(new { }))
                                    &nbsp; &nbsp;
                                    @(Html.Kendo().RadioButtonFor(m => m.Isdematerialized).Label("Dematerialized ").Value("Dematerialized").HtmlAttributes(new { }))
                                    @Html.ValidationMessageFor(model => model.Isdematerialized, "", new { @class = "text-danger" })
                                </div>
                           
                        </div>
                    </div>
                    <div class="row form-group mt30">
                        <div class="col-md-12 colpadding0">
                            <div class="col-md-5 colpadding0">
                               
                                    <span style="color:red"></span><label class="control-label">Securities have been pledged or any encumbrance has been created</label>
                                    @(Html.Kendo().TextBoxFor(m => m.Securities_encumbrance).HtmlAttributes(new { @class = "k-textbox", style = "width: 60%" }))
                                    @Html.ValidationMessageFor(model => model.Securities_encumbrance, "", new { @class = "text-danger" })
                               
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row colpadding0">
                <div class="col-md-12 colpadding0" style="text-align:center">
                    <button type="submit" id="btncompayDtls" class="btn btn-primary">Save</button>
                    <button type="button" id="btncloseComdls" class="btn btn-primary">Close</button>
                </div>
            </div>
        }
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#dpacquisition_Date").removeAttr("data-val-date");
        $("#DateOfdisposal").removeAttr("data-val-date");


        if ($("#dpacquisition_Date").val() == "01/01/0001") {
            $("#dpacquisition_Date").val('');
        }

        if ($("#DateOfdisposal").val() == "01/01/0001") {
            $("#DateOfdisposal").val('');
        }

    });

    function checkDate(e) {
        if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
            e.value = '';
        }
    }

    $(document).ready(function () {
        if ($(window).height() > 500) {
            $("#divKmpCompanydtls").height($(window).height() - 100);
        }

        var validator1 = $("#frmKMPSecuritydtls").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");

    });


    $("#btncloseComdls").click(function (z) {
        z.preventDefault();
        z.stopPropagation();
        $('#wndAddSecurityDetailsofDirector').data("kendoWindow").close();
        $('#KendoDirectorSecurityDetails').data('kendoGrid').dataSource.read();
        $('#KendoDirectorSecurityDetails').data('kendoGrid').refresh();
    })
</script>