﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.DetailsOfInterest

@Html.AntiForgeryToken()
@Html.ValidationSummary(false, "", new { @class = "text-danger" })
@*@Html.HiddenFor(model => model.Director_ID)*@

<style>
    .k-grid-footer-wrap, .k-grid-header-wrap {
    overflow: hidden;
    border-style: none;
}
    div.k-grid-footer, div.k-grid-header {
    padding-right: 0px;
    }
</style>
<script>
    function serialize(data) {
        for (var property in data) {
            if ($.isArray(data[property])) {
                serializeArray(property, data[property], data);
            }
        }
    }

    function serializeArray(prefix, array, result) {
        for (var i = 0; i < array.length; i++) {
            if ($.isPlainObject(array[i])) {
                for (var property in array[i]) {
                    result[prefix + "[" + i + "]." + property] = array[i][property];
                }
            }
            else {
                result[prefix + "[" + i + "]"] = array[i];
            }
        }
    }

</script>

<script>
    function getDirectorId(){
        var DirectorId=@Model.Director_ID;
        return
        {
            DirectorId:DirectorId;
        }
    }

    function req_StartInterest(e) {
        //divDetailsOfInterestPopup
        //var validator = $("#divDetailsOfInterestPopup").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
        debugger;
        var flag = true;
        if (e.type == "create" || e.type == "update") {

            var ddlNatureOfInterest = $("#NatureOfInterest").data("kendoDropDownList");
            var val = ddlNatureOfInterest.value();
            var ddlIfDirector = $("#IfDirector").data("kendoDropDownList");
            var ddlIfRelatives = $("#IfRelatives").data("kendoMultiSelect");


            if (val == "2" || val == "9" || val == "10") {
                if (ddlIfDirector.value() <= 0) {
                    alert('Please select If director');
                    e.preventDefault();

                }
            }
        }
    }

    function req_EndInterest(e) {

        if (e.type == "create") {
            var grid = $("#gridKendo2").data("kendoGrid");
            // grid.dataSource.read();
            grid.one("dataBinding", function (e) {
                e.preventDefault();   // cancel grid rebind if error occurs
            });

            $(".k-loading-mask").hide();
            if (e.response == "Record Save Successfully") {
                $("#DivsuccessI").show();
                $("#DiverrorI").hide();
                $('#lblsuccessI').text(e.response);

                clearDetailsofInterest();
            }
            else {
                $("#DiverrorI").show();
                $("#DivsuccessI").hide();
                $('#lblerrormsgI').text(e.response);
            }
            //var grid1 = $("#KendoDirectorSecurityDetails").data("kendoGrid");
            //grid1.dataSource.read();
            //grid1.refresh();
        }

        if (e.type == "update") {
            var grid = $("#gridKendo2").data("kendoGrid");
            //grid.dataSource.read();
            grid.one("dataBinding", function (e) {
                e.preventDefault();   // cancel grid rebind if error occurs
            });

            $(".k-loading-mask").hide();
            if (e.response == "Record Updated Successfully") {
                $("#DivsuccessI").show();
                $("#DiverrorI").hide();
                $('#lblsuccessI').text(e.response);
            }
            else {
                $("#DiverrorI").show();
                $("#DivsuccessI").hide();
                $('#lblerrormsgI').text(e.response);
            }
            //var grid1 = $("#KendoDirectorSecurityDetails").data("kendoGrid");
            //grid1.dataSource.read();
            //grid1.refresh();
        }
    }

    function clearDetailsofInterest(){
        var _txtNameOfOther1 = $("#NameOfOther");
        var _txtCIN1 = $("#txtCIN");
        var _txtPAN1 = $("#txtPAN");
        var _Arosed1 = $("#Arosed");
        var _PercentagesOfShareHolding1 = $("#PercentagesOfShareHolding");

        _txtNameOfOther1.val('');
        _txtCIN1.val('');
        _txtPAN1.val('');
        _Arosed1.val('');
        _PercentagesOfShareHolding1.val('');

        var ddlNatureOfInterest = $("#NatureOfInterest").data("kendoDropDownList");
        var ddlIfDirector = $("#IfDirector").data("kendoDropDownList");
        var ddlIfRelatives = $("#IfRelatives").data("kendoMultiSelect");

        ddlNatureOfInterest.select(0);
        ddlIfDirector.select(0);
        ddlIfRelatives.value([]);
    }

    function onRowBound(e) {
        debugger;
        resetGridRowNumber(e);
        GetICons();

        $("#gridKendo2 tr.k-alt").removeClass("k-alt");

        //var grid = $("#gridKendo2").data("kendoGrid");
        //grid.dataSource.read();
        //grid.refresh();
        //var grid = $("#gridKendo2").data("kendoGrid");
        //var gridData = grid.dataSource.data();
        //for (var i = 0; i < gridData.length; i++) {
        //    if (gridData[i].IsOtherEntity == true) {
        //        var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");
        //        var editButton = $(currenRow).find(".k-grid-R").addClass("k-state-disabled");
        //    }
        //}
    }

    function ShowHideResignationButton(dataItem) {
        if (dataItem.IsOtherEntity == true || dataItem.IsCurrentCustRecord != true) {
            return false;
        } else {
            return true;
        }
    }

    function ShowOtherCustRecordAction(dataItem) {
        if (dataItem.IsCurrentCustRecord == true || dataItem.IsOtherEntity == true) {
            return true;
        } else {
            return false;
        }
    }

    function onEditInterest(e) {
        e.container.find(".k-grid-cancel,.k-i-close").bind("click", function () {
            var grid = $("#gridKendo2").data("kendoGrid");
            grid.dataSource.read();
            var grid1 = $("#KendoDirectorSecurityDetails").data("kendoGrid");
            grid1.dataSource.read();
            grid1.refresh();
        });

        $('#gridKendo2').data().kendoGrid.editable.element.closest('.k-window')
      .find('.k-window-action:has(.k-i-close)').click(function () {
          var grid = $("#gridKendo2").data("kendoGrid");
          grid.dataSource.read();
          var grid1 = $("#KendoDirectorSecurityDetails").data("kendoGrid");
          //alert(grid1);
          grid1.dataSource.read();
          grid1.refresh();
      })

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var _txtNameOfOther1 = $("#NameOfOther");
        var _txtCIN1 = $("#txtCIN");
        var _txtPAN1 = $("#txtPAN");
        var _Arosed1 = $("#Arosed");

        var TypeOfEntityDropDown1 = $("#TypeOfEntity").data("kendoDropDownList");
        TypeOfEntityDropDown1.readonly();

        if (e.model.isNew()) {

            $('.k-grid-update').text("Save");
            $('.k-grid-cancel').text("Close");

            _txtNameOfOther1.attr('readonly', false);
            _txtCIN1.attr('readonly', false);
            _txtPAN1.attr('readonly', false);
            $("#Arosed").removeAttr("data-val-date");
            $("#BoardofResolution").removeAttr("data-val-date");
            $("#DateofAppointment").removeAttr("data-val-date");
        }
        else {
            $('.k-grid-update').text("Update");
            $('.k-grid-cancel').text("Close");

            _txtNameOfOther1.attr('readonly', true);
            _txtCIN1.attr('readonly', true);
            _txtPAN1.attr('readonly', true);
            _Arosed1.val(moment(e.model.Arosed).format('DD/MM/YYYY'));

            //_Arosed1.val(e.model.Arosed);
            $("#Arosed").removeAttr("data-val-date");
            $("#BoardofResolution").removeAttr("data-val-date");
            $("#DateofAppointment").removeAttr("data-val-date");
            if(e.model.NatureOfInterest==2)
            {
                $("#PercentagesOfShareHolding").attr('readonly', 'readonly');
                $("#PercentagesOfShareHolding").css("cursure", "no-drop");
                //$("#PercentagesOfShareHolding").val("0");
                //$("#PercentagesOfShareHolding").change()
            }
            else
            {
                $("#PercentagesOfShareHolding").removeAttr('readonly');
            }
            if(e.model.EntityType=="Limited Liability Partnership (LLP)")
            {
                debugger;
                $("#divboardofResolution").hide();
                $("#divContributionofobligation").show();
                $("#lblshareholder").text("% of Holding");
                $("#lblNumbershareheld").text("Contribution Accounted");
                $("#divllpifpartner").show();
                $("#divifDirector").hide();
                if(e.model.DesignationtypeId==13)
                {
                    $("#BodyCorporateName").removeAttr('readonly');

                }
                else
                {
                    $("#BodyCorporateName").attr('readonly', 'readonly');
                    $("#BodyCorporateName").css("cursure", "no-drop");
                }
                if(e.model.NatureofIntrest==3)
                {
                    $("#divifintrested").hide();
                }
                else
                {
                    $("#divifintrested").hide()
                }
            }
        }
    }
</script>

<script>
   

    function request(e) {
        debugger;
        var grid = $("#gridKendo2").data("kendoGrid");
        grid.dataSource.read();
        grid.refresh();
        var grid1 = $("#KendoDirectorSecurityDetails").data("kendoGrid");
        grid1.dataSource.read();
        grid1.refresh();
    }

    //function updatesecretarial()
    //{
    //    debugger;
    //    var grid1 = $("#KendoDirectorSecurityDetails").data("kendoGrid");
    //    grid1.dataSource.read();
    //    grid1.refresh();
    //}
</script>

<script>
    function checkDate(e) {
        if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
            e.value = '';
        }
    }

    function ResignationOfDirector(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        if (dataItem.IsOtherEntity == false) {
            $("#wndResin").attr("style", "min-height:100px;");

            $("#wndResin").kendoWindow({
                title: "Resignation of director",
            });

            $("#wndResin").attr("style", "min-height:100px;");
            var direction = "@Url.Action("ResignationOfDirector","Director_Master")" + "?detailsOfInterestId=" + dataItem.Id;
            var wnd = $("#wndResin").data("kendoWindow");
            var opts = wnd.options;

            wnd = $("#wndResin").kendoWindow({
                //pinned: true,
                content: direction,
                width: "30%",
                position: {
                    top: 100, // or "100px"
                },
                visible: false,
                modal: true,
                refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
                close: function (e) {
                    $(this.element).empty();
                    $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                },
                open: function (e) {
                    this.center(); kendo.ui.progress(this.element, true);
                    $(this.element).closest(".k-window").css("position", "fixed"); $(".k-overlay").attr('style', "opacity:0.5; display:block;");
                }
            }).data("kendoWindow");
            opts.width = "30%";

            wnd.setOptions(opts);
            wnd.center();
            wnd.open();
        }
    }

    function OnOpenassignmet() {

    }
    function OnRefresheassignment() {

    }

    $("#btncloseDirectorResignation").click(function (e) {
        $("#wndResin").data("kendoWindow").close();
    });

</script>

<div class="row colpadding0" id="DivParDOIList"><div class="col-md-12 colpadding0">

<div class="row col-md-12 colpadding0">
    <div class="col-md-1 colpadding0 pull-right text-right">
        <button class="btn btn-primary" id="btnAddDetailsIfInterest" onclick="OpenCreateDOI('@Model.Director_ID')" title="Add New"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</button>
    </div>
</div>


<div class="row colpadding0 mt30">
    <div class="col-md-12 colpadding0">
        @(Html.Kendo().Grid<BM_ManegmentServices.VM.DetailsOfInterest>()
    .Name("gridKendo2")
    .Columns(columns =>
    {
        columns.Bound(o => o.Director_ID).Visible(false);
        columns.Bound(o => o.DirectorDesignationId).Visible(false);
        columns.Bound(o => o.EntityName).Title("Entity/Company").Width("28%").Filterable(ftb => ftb.Multi(true).Search(true));
        columns.Bound(o => o.EntityType).Title("Entity Type").Width("18%").Filterable(ftb => ftb.Multi(true).Search(true));
        columns.Bound(o => o.NatureofIntrest).Title("Nature").Width("10%").Filterable(ftb => ftb.Multi(true).Search(true));
        //columns.Bound(o => o.IfDirectorName).ClientTemplate("#:data.DirectorDesignationName# #=getDirectorTypeOfMembershipName(data.IfDirectorName)#").Title("Designation").Width("22%").Filterable(ftb => ftb.Multi(true).Search(true));
        columns.Bound(o => o.IfDirectorName).ClientTemplate("#:(data.DirectorDesignationName==null? '':data.DirectorDesignationName)# #=getDirectorTypeOfMembershipName(data.IfDirectorName)#").Title("Designation").Width("22%").Filterable(ftb => ftb.Multi(true).Search(true));
        //columns.Bound(o => o.IfInterestThroughRelativesName).Title("Relative").Width("10%").Filterable(ftb => ftb.Multi(true).Search(true));
        columns.Bound(o => o.DateofAppointment).Title("Date").Format("{0:dd-MMM-yyyy}").Width("10%").HtmlAttributes(new { @style = "text-align: center;" });
        columns.Command(command =>
        {
            command.Custom("Edit").Click("OpenEditDOI").HtmlAttributes(new { @class = "k-grid-edit hoverCircle" }).Visible("ShowOtherCustRecordAction");
            command.Custom("Delete").Click("DeleteDOI").HtmlAttributes(new { @class = "k-grid-delete hoverCircle" }).Visible("ShowOtherCustRecordAction");
            command.Custom("R").Click("ResignationOfDirector").HtmlAttributes(new { }).Visible("ShowHideResignationButton");
        })
       .Title("Action").Width("12%");
    })
      .Events(e => e.DataBound("onRowBound"))
      .Navigatable()
    .Scrollable()
    .Pageable(pageable => pageable
    .Refresh(false)
    .PageSizes(true)
    .ButtonCount(5))
    .Filterable()
    //.Sortable()
    .Reorderable(reorderable => reorderable.Columns(true))
    .Resizable(resizable => resizable.Columns(true))
    .ColumnMenu(col => col.Columns(false))
    .DataSource(dataSource => dataSource
    .WebApi()
    .PageSize(10)
    .ServerOperation(false)
    .Model(model =>
    {
        model.Id(o => o.Id);
        model.Field(o => o.Director_ID).DefaultValue(Model.Director_ID);
        model.Field(o => o.Entity_Id);
        model.Field(o => o.TypeOfEntity);
        model.Field(o => o.NatureOfInterest);
        model.Field(o => o.IfDirector);
        model.Field(o => o.IfInterestThroughRelatives);
        model.Field(o => o.PercentagesOfShareHolding);
        model.Field(o => o.Arosed);
        model.Field(o => o.IfRelatives);
        model.Field(o => o.EntityType);
        model.Field(o => o.IsOtherEntity).DefaultValue(false);
        model.Field(o => o.DirectorDesignationId);
        model.Field(o => o.DirectorDesignationName);
        model.Field(o => o.IsCurrentCustRecord);
    })
    //.Events(events => events.Error("error"))
    //.Events(events => events.RequestStart("req_StartInterest"))
    .Events(events => events.RequestEnd("req_EndInterest"))
    .Sort(sort =>
    {
        sort.Add("IsCurrentCustRecord").Descending();
        sort.Add("EntityName").Ascending();
    })
            .Read(read => read.Url("/api/DirectorMasterAPI/GetDetailsofIntrest?DirectorId=" + Model.Director_ID).Type(HttpVerbs.Get))

            ))
    </div>
</div>

</div>
</div>
@(Html.Kendo().Tooltip()
            .For("#gridKendo2")
            .Filter(".k-grid-delete")
            .Position(TooltipPosition.Bottom)
            .AutoHide(true)
            .Content("Delete"))
@(Html.Kendo().Tooltip()
        .For("#gridKendo2")
        .Filter(".k-grid-edit")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Edit"))
@(Html.Kendo().Tooltip()
        .For("#gridKendo2")
        .Filter(".k-grid-R")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Resign"))
@(Html.Kendo().Window().Name("wndResin").Title("Resignation of Director").Visible(false).Modal(true).Draggable(false).Scrollable(false))