﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.Director_MasterVM

<div id="divDirectorDetails">
    @using (Ajax.BeginForm("Save", "Director_Master", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divDirectorDetails", OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmCreateDirector", enctype = "multipart/form-data" }))
    {
        <div id="example">
            <div id="window">

                <!-- this will be the content of the popup -->
                <div id="divDetailsNew" style="height:430px;overflow-y:auto;overflow-x:hidden">

                    @Html.Partial("_DirectorMaster", Model)

                </div>
            </div>
        </div>

        <div class="col-md-12 colpadding0 text-center">
            <button type="button" id="btnsub1" class="btn btn-primary">Save</button>
            <button type="button" id="btnclose1" class="btn btn-primary">Close</button>
        </div>
    }
</div>

<style>
    .k-input.k-invalid, .k-textbox.k-invalid {
        border: 1px solid red;
    }

    .k-invalid-msg {
        display: none !important;
    }


    .k-widget > span.k-invalid,
    input.k-invalid {
        border: 1px solid red !important;
    }

    .dropdown-validation-error {
        border: 1px solid red !important;
    }
</style>



<script>



    $("#btnclose1").click(function (e) {
        $("#wndAddDirector").data("kendoWindow").close();
    });


    $("#btnsub1").click(function (e) {
        e.preventDefault();
        var validator = $("#divDetailsNew").kendoValidator({
            validate: function (e) {
                $("span.k-invalid-msg").hide();

                var dropDowns = $(".k-dropdown");

                $.each(dropDowns, function (key, value) {
                    var input = $(value).find("input.k-invalid");    //this is where Kendo foolishly places k-invalid
                    var span = $(this).find("span.k-dropdown-wrap"); //this span controls the dropdown's appearance.

                    //manually set the validation attributes. Note that input-validation-error would have been a better
                    //class to use here, but I think bootstrap.js must do some magic with it, because when I set it and then
                    //manually remove it, that caused the span to mysteriously become display: none.
                    if (input.size() > 0) { //if there is an input in here with k-invalid...
                        $(span).addClass("dropdown-validation-error");
                    } else {
                        $(span).removeClass("dropdown-validation-error");
                    }
                });

                var dropDowns = $(".k-datepicker");

                $.each(dropDowns, function (key, value) {
                    var input = $(value).find("input.k-invalid");    //this is where Kendo foolishly places k-invalid
                    var span = $(this).find("span.k-picker-wrap"); //this span controls the dropdown's appearance.

                    //manually set the validation attributes. Note that input-validation-error would have been a better
                    //class to use here, but I think bootstrap.js must do some magic with it, because when I set it and then
                    //manually remove it, that caused the span to mysteriously become display: none.
                    if (input.size() > 0) { //if there is an input in here with k-invalid...
                        $(span).addClass("dropdown-validation-error");
                    } else {
                        $(span).removeClass("dropdown-validation-error");
                    }
                });
            }
            //errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>'
        }).data("kendoValidator");
        if (validator.validate()) {
            $("#frmCreateDirector").submit();
        } else {
            $("#panelbarEditDirector").kendoPanelBar({
                expandMode: "single"
            });
        }
    });

    $(document).ready(function () {
        //if ($(window).height() > 500) {
        //    $("#divDetailsNew").height($(window).height() - 100);
        //}
        var validator1 = $("#frmCreateDirector").kendoValidator({
            validate: function (e) {
                $("span.k-invalid-msg").hide();
            }
            //errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>'
        }).data("kendoValidator");
    });

    $(document).ready(function () {
        onEducationalQualification();
        onOccupationChange();
        onAreaOfOccupation();
        onResidentInIndia();
    });

    function dropdownlist_dataBound() {
        // Handle the event
        var ddlPermenant_CityId = $("#ddlPermenant_CityId").data("kendoDropDownList");
        var ddlPresent_CityId = $("#ddlPresent_CityId").data("kendoDropDownList");
        var cityId = ddlPermenant_CityId.value();
        ddlPresent_CityId.value(cityId);
    }

    function dropdownlist_dataBoundstate() {
        debugger;
        // Handle the event
        var ddlPermenant_StateId = $("#ddlPermenant_StateId").data("kendoDropDownList");
        var ddlPresent_StateId = $("#ddlPresent_StateId").data("kendoDropDownList");
        var stateId = ddlPermenant_StateId.value();
        ddlPresent_StateId.value(stateId);
    }

    $(document).on("change", "input[name='IsSameAddress111']", function () {
        if (this.value == "True") {
            $('#Present_Address_Line1').val($('#Permenant_Address_Line1').val());
            $('#Present_Address_Line2').val($('#Permenant_Address_Line2').val());
            $('#Present_PINCode').val($('#Permenant_PINCode').val());

            var ddlPermenant_StateId = $("#ddlPermenant_StateId").data("kendoDropDownList");
            var ddlPresent_StateId = $("#ddlPresent_StateId").data("kendoDropDownList");
            var Permenant_StateId = ddlPermenant_StateId.value();
            var Present_StateId = ddlPresent_StateId.value();
            ddlPresent_StateId.value(Permenant_StateId);

            var ddlPresent_CityId = $("#ddlPresent_CityId").data("kendoDropDownList");


            if (Permenant_StateId == Present_StateId) {
                var ddlPermenant_CityId = $("#ddlPermenant_CityId").data("kendoDropDownList");
                var cityId = ddlPermenant_CityId.value();
                ddlPresent_CityId.value(cityId);

                ddlPresent_CityId.dataSource.read();
                ddlPresent_CityId.refresh();
            }
            else {
                ddlPresent_CityId.bind("dataBound", dropdownlist_dataBound);
            }
        }
    })

    //$(document).on("change", "input[name='IsSameAddress']", function () {
    //    if (this.value == "True") {
    //        debugger;
    //        $('#Present_Address_Line1').val($('#Permenant_Address_Line1').val());
    //        $('#Present_Address_Line2').val($('#Permenant_Address_Line2').val());
    //        $('#Present_PINCode').val($('#Permenant_PINCode').val());
    //        var ddlPermenant_CountryID = $("#ddlpercountry").data("kendoDropDownList");
    //        var ddlPresent_CountryID = $("#ddlprecountry").data("kendoDropDownList");

         
    //        ddlPresent_CountryID.value(ddlPermenant_CountryID.value());

    //        var ddlPermenant_StateId = $("#ddlPermenant_StateId").data("kendoDropDownList");
    //        var ddlPresent_StateId = $("#ddlPresent_StateId").data("kendoDropDownList");

    //        var Permenant_StateId = ddlPermenant_StateId.value();
    //        var Present_StateId = ddlPresent_StateId.value();

    //        ddlPresent_StateId.value(Permenant_StateId);

    //        var ddlPresent_CityId = $("#ddlPresent_CityId").data("kendoDropDownList");
    //        var ddlPermenant_CityId = $("#ddlPermenant_CityId").data("kendoDropDownList");

    //        var cityId = ddlPermenant_CityId.value();
    //        ddlPresent_CityId.value(cityId);


    //        $("#ddlPresent_CityId").kendoDropDownList({
    //            dataTextField: "Name",
    //            dataValueField: "Reg_cityId",
    //            dataSource: ddlPermenant_CityId.dataSource.data(),
    //            value: cityId,
    //            filter: "contains"
    //        });
    //    }
    //})
    $(document).on("change", "input[name='IsSameAddress']", function () {
        debugger;
        if (this.value == "True") {
            $('#Present_Address_Line1').val($('#Permenant_Address_Line1').val());
            $('#Present_Address_Line2').val($('#Permenant_Address_Line2').val());
            $('#Present_PINCode').val($('#Permenant_PINCode').val());

            var ddlPermenant_CountryID = $("#ddlpercountry").data("kendoDropDownList");
            var ddlPresent_CountryID = $("#ddlprecountry").data("kendoDropDownList");
            var Permenant_CountryID = ddlPermenant_CountryID.value();
            //var Present_CountryID = Permenant_CountryID.value();
            ddlPresent_CountryID.value(Permenant_CountryID);

            var ddlPermenant_StateId = $("#ddlPermenant_StateId").data("kendoDropDownList");
            var ddlPresent_StateId = $("#ddlPresent_StateId").data("kendoDropDownList");
            var Permenant_StateId = ddlPermenant_StateId.value();
            var Present_StateId = ddlPresent_StateId.value();
            ddlPresent_StateId.value(Permenant_StateId);

            $("#ddlPresent_StateId").kendoDropDownList({
                dataTextField: "Name",
                dataValueField: "SIdPublic",
                dataSource: ddlPermenant_StateId.dataSource.data(),
                value: Permenant_StateId,
                filter: "contains"
            });

            var ddlPresent_CityId = $("#ddlPresent_CityId").data("kendoDropDownList");
            var ddlPermenant_CityId = $("#ddlPermenant_CityId").data("kendoDropDownList");
            var cityId = ddlPermenant_CityId.value();
            ddlPresent_CityId.value(cityId);


            $("#ddlPresent_CityId").kendoDropDownList({
                dataTextField: "Name",
                dataValueField: "Reg_cityId",
                dataSource: ddlPermenant_CityId.dataSource.data(),
                value: cityId,
                filter: "contains"
            });
        }
    })
</script>

