﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.Director

<style>
       .k-window-actions
{
    display:block;
}
</style>

<div class="row colpadding0">
    <div class="col-md-12 colpadding0">
        <div class="tab" role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" id="mytab1" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">Details</a></li>
                <li role="presentation" id="mytab2"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">List of Relatives</a></li>
                <li role="presentation" id="mytab3"><a href="#Section3" aria-controls="messages" role="tab" data-toggle="tab">Details of Interest</a></li>
                <li role="presentation" id="mytab4"><a href="#Section4" aria-controls="messages1" role="tab" data-toggle="tab">Details of Committee Positions</a></li>
                <li role="presentation" id="mytab5"><a href="#Section5" aria-controls="messages2" role="tab" data-toggle="tab">Security Details</a></li>
                <li role="presentation" id="mytab6"><a href="#Section6" aria-controls="messages3" role="tab" data-toggle="tab">Profile </a></li>
            </ul>

            <div class="tab-content tabs">
                <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                    @Html.Partial("_DirectorDetails", Model.objDirector_MasterVM)
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Section2">
                    @Html.Partial("_DirectorsRelativesAPI", new BM_ManegmentServices.VM.Directors_Relatives() { Director_ID = Model.objDirector_MasterVM.ID })
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Section3">
                    @Html.Partial("_partialViewDetailsofIntrest", new BM_ManegmentServices.VM.DetailsOfInterest() { Director_ID = Model.objDirector_MasterVM.ID })
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Section4">
                    @Html.Partial("_PartialviewDtlsofCommity", new BM_ManegmentServices.VM.CommitteeMasterVM() { Director_Id = Model.objDirector_MasterVM.ID })
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Section5">
                    @Html.Partial("_UplaodDirectorSecurities", Model._objSecurities)
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Section6">
                    @Html.Partial("_DirectorDescription", new BM_ManegmentServices.VM.DirectorprofiledetailsVM() { DirectorId = Model.objDirector_MasterVM.ID, Profiledetails = Model.objDirector_MasterVM.Profiledetails })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row colpadding0 mt30">
    <div class="col-md-12 colpadding0" style="text-align:center">
        <button type="button" id="btnsub1" class="btn btn-primary">Update</button>
        <button type="button" id="btnclose2" class="btn btn-primary">Close</button>
    </div>
</div>

<script>

    $(document).ready(function () {

        if ($(window).height() > 1500) {
            $("#divDetails").height($(window).height() - 150);
            $("#divfrmUpdateRelatives").height($(window).height() - 150);
            $("#divDetailsOfInterest").height($(window).height() - 150);
            $("#divDetailsOfCommittee").height($(window).height() - 150);
            $("#divSecurityDetailsofDirector").height($(window).height() - 150);
        }

        $(function () {
            // setTimeout() function will be fired after page is loaded
            // it will wait for 5 sec. and then will fire
            // $("#successMessage").hide() function
            setTimeout(function () {
                $('.alert').hide('blind', {}, 500)
            }, 5000);
        });
    });

    $("#btnsub1").click(function (e) {
        e.preventDefault();
        var validator = $("#divDetails").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
        if (validator.validate()) {
            $("#frmUpdateDetails").submit();
        }
    });

    $("#mytab1").click(function () {
        tab_changed("1");
    });

    $("#mytab2").click(function () {
        tab_changed("2");
    });

    $("#mytab3").click(function () {
        tab_changed("3");
    });

    $("#mytab4").click(function () {
        tab_changed("4");
    });
    $("#mytab5").click(function () {
        tab_changed("5");
    });
    $("#mytab6").click(function () {
        tab_changed("6");
    });

    function tab_changed(n) {
        $("#btnsub1").addClass("hidden");
        $("#btnclose2").addClass("hidden");

        switch (n) {
            case "1":
                $("#btnsub1").removeClass("hidden");
                $("#btnclose2").removeClass("hidden");
                break;
            default:
                break;
        }
    }
</script>
