﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMDirectorFileUpload

<div class="row colpadding0">
    <div class="col-md-12 colpadding0">
        <div id="DivUploadDirectorMaster">
            @using (Ajax.BeginForm("ImportDIR3", "Director_Master", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivUploadDirectorMaster", OnBegin = "onbeginDMUpload", OnComplete = "onCompleteDMUpload" }, new { id = "frmUpdateUpload", enctype = "multipart/form-data" }))
            {
                if (Model.Response != null)
                {

                    if (Model.Response.message != null && Model.Response.message.Count > 0)
                    {
                        <div class="alert alert-danger alert-dismissible" style="margin-bottom:0px;">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <ul>
                                @foreach (var item in Model.Response.message)
                                {
                                    <li>
                                        <label>@item</label>
                                    </li>
                                }
                            </ul>
                        </div>
                    }

                    <div class="row">
                        <dsiv class="col-md-2 colpadding0">
                        </dsiv>
                        <div class="col-md-8 colpadding0">
                            @Html.Partial("_Response", Model.Response)
                        </div>
                        <div class="col-md-2 colpadding0">
                        </div>
                    </div>
                }

                <div class="row colpadding0">
                    <div class="col-md-12 colpadding0" style="display:none" id="DIVDMExcel">
                        <div class="col-md-2 pull-right" >
                            <img src="/Images/Excel _icon.png" class="theexcelexport cursur" onclick="DownloadDMExcel()">
                        </div>
                        <div class="col-md-pull-2"><p><b></b></p></div>
                    </div>
                </div>

                <div class="row colpadding0 ">
                    <div class="col-md-2">
                        <label class="control-label">Select Type</label><span style="color:red">*</span>
                    </div>
                    <div class="col-md-8">
                        @(Html.Kendo().RadioButtonFor(m => m.FileType).Label("DIR-3 KYC").Value("DIR-3").HtmlAttributes(new { }))
                        &nbsp; &nbsp;
                        @(Html.Kendo().RadioButtonFor(m => m.FileType).Label("Excel").Value("DM_Excel").HtmlAttributes(new { }))
                    </div>

                </div>

                <div class="row colpadding0 mt30">
                        <div class="col-md-2">
                            <label class="control-label">Select File</label><span style="color:red">*</span>
                        </div>
                        <div class="col-md-8">
                            <input type="file" name="File" id="File" />
                        </div>
                </div>

                <div class="row colpadding0 mt30">
                    <div class="col-md-12 colpadding0 text-center mt30">
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

