﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VM_SecreterialAuditor

<!-- Filter Script-->
<script>
    function filterChangeSEC() {

        debugger;
        var filtersc = { logic: 'or', filters: [] };
        var ddltenure = $("#Istenuarsec").data("kendoDropDownList");

        if (ddltenure != null && ddltenure != undefined) {
            var type = ddltenure.value();

            if (type != "") {
                var isTrueSet = (type === 'true');
                filtersc.filters.push({ logic: "and", field: "IsTenureCompleted", operator: "eq", value: isTrueSet });
            }
        }

        var t = $('#filter');
        if (t.val() != "") {
            filtersc.filters.push({ logic: "and", field: "AuditorName", operator: "contains", value: t.val() });
        }

        var grid = $("#gridKendoSecreterial").data("kendoGrid");
        if (grid != null && grid != undefined) {
            grid.dataSource.filter(filtersc);
        }

        if (filtersc != null) {
            $("#clearfilltersc").show();
        }
        else {
            $("#clearfilltersc").hide();
        }
    };

    function clearfilterSEC(e) {

        var ddlTenure = $("#Istenuarsec").data("kendoDropDownList");
        if (ddlTenure != null && ddlTenure != undefined) {
            ddlTenure.value("-1");
        }

        var txtStartPeriod = $("#filter").val();

        if (txtStartPeriod != null && txtStartPeriod != undefined) {
            $("#filter").val("");
        }

        $('#clearfilltersc').css('display', 'none');

        $("#gridKendoSecreterial").data("kendoGrid").dataSource.filter({});
    }

    $(document).ready(function () {
        $("#SecreterialCreatenew").kendoTooltip({ content: "Add Secretarial Auditor/Firm" });
    });
</script>
<script>
    function onRowBoundSecreterial(e) {
        GetICons();

        var grid = $("#gridKendoSecreterial").data("kendoGrid");
        var gridData = grid.dataSource.view();

        for (var i = 0; i < gridData.length; i++) {
            if (gridData[i].IsTenureCompleted == true) {
                var currentUid = gridData[i].uid;
                var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                $(currenRow).find(".k-grid-resignation").addClass("k-state-disabled");
            }
        }
        getGridborder(grid);

    }
</script>

<div class="row master-Headre mt30">
    <div class="col-md-12 vertical-center">
        <div class="col-md-6 colpadding0">
            <div class="col-md-8">
                <div class="input-group">
                    <input id='filter' placeholder="Search by Auditor / Firm Name" class='form-control' autocomplete="off" /> @*onchange="filterChange(this)"*@
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit" style="height:34px">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                @(Html.Kendo().DropDownList()
          .Name("Istenuarsec")
          .DataTextField("Text")
          .DataValueField("Value")
          .HtmlAttributes(new { style = "width: 100%" })
          .BindTo(new List<SelectListItem>()
          {
              new SelectListItem() {
                Text = "Status-All", Value ="-1"
              },
              new SelectListItem() {
                Text = "Current", Value ="false"
              },
              new SelectListItem() {
                Text = "Past", Value ="true"
              },

          }).HtmlAttributes(new { @Onchange = "filterChangeSEC()" })
                )
            </div>
        </div>

        <div class="col-md-1">
            <button type="button" class="btn btn-default btn-sm ClearFilterbtn" onclick="clearfilterSEC()" id="clearfilltersc" style="display:none">
                <img src="~/Areas/BM_Management/img/Vector.png" />Clear
            </button>
        </div>

        <div class="col-md-5 colpadding0 text-right">
            <a class="btn btn-primary" href="/#" id="SecreterialCreatenew" title="Add New"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</a>
        </div>
    </div>
</div>

<div class="row colpadding0 mt30">
    <div class="col-md-12 colpadding0">
        @(Html.Kendo().Grid<BM_ManegmentServices.VM.VM_SecreterialAuditor>()
        .Name("gridKendoSecreterial")
               .Columns(columns =>
               {
                   columns.Bound(o => o.Id).Visible(false);
                   columns.Bound(o => o.CategoryName).Title("Category").Width("10%").HtmlAttributes(new {  }).Filterable(ftb => ftb.Multi(true).Search(true));
                   columns.Bound(o => o.AuditorName).Title("Firm/Auditor").Width("10%").HtmlAttributes(new { style = "width:30%" }).Filterable(ftb => ftb.Multi(true).Search(true));
                   columns.Bound(o => o.Date_of_appointment).Title("Date of Appointment").Format("{0:dd/MM/yyyy}").Width("10%").HtmlAttributes(new { @class = "text-center" }).Filterable(ftb => ftb.Multi(true).Search(true));
                   columns.Bound(o => o.Period_of_AppointmentFromDate).Title("From Date").Format("{0:dd/MM/yyyy}").Width("10%").HtmlAttributes(new { @class = "text-center" }).Filterable(ftb => ftb.Multi(true).Search(true));
                   columns.Bound(o => o.Period_of_AppointmentToDate).Title("To Date").Format("{0:dd/MM/yyyy}").Width("10%").HtmlAttributes(new { @class = "text-center" }).Filterable(ftb => ftb.Multi(true).Search(true));

                   columns.Command(command =>
                   {
                       command.Custom("Edit").Click("editSecreterial").HtmlAttributes(new { @class = "k-grid-edit" });
                       command.Custom("R").Click("editSecretarialResignation").HtmlAttributes(new { @class = "k-grid-resignation" });
                   }).Title("Action").Width("10%").HtmlAttributes(new { });
               })
        .EnableCustomBinding(true)
        .Events(e => e.DataBound("onRowBoundSecreterial"))
        .Navigatable()
        .Pageable(pageable => pageable
        .Refresh(false)
        .PageSizes(true)
        .ButtonCount(5))
        .Filterable()
        .Sortable()
        .Reorderable(reorderable => reorderable.Columns(true))
        .Resizable(resizable => resizable.Columns(true))
        .ColumnMenu(col => col.Columns(false))
        .DataSource(dataSource => dataSource
        .WebApi()
        .PageSize(10)
        .ServerOperation(false)
              .Model(model =>
              {
                  model.Id(o => o.Id);
                  model.Field(o => o.EntityId);
                  model.Field(o => o.AuditorMappingId);
              })

        .Read(read => read.Url("/api/AuditorMasterAPI/GetSecreterialAuditor?EntityId=" + Model.EntityId).Type(HttpVerbs.Get))
                       ).HtmlAttributes(new { @style = "width:100%" }))
    </div>
</div>


@*<div class="row colpadding0">
        <div class="col-md-12 colpadding0">
            <label>Auditor's History</label>

            <div class="row colpadding0">
                <div class="col-md-12 colpadding0">

                    @(Html.Kendo().Grid<BM_ManegmentServices.VM.VM_SecreterialAuditor>()
            .Name("gridKendoHistorySecreterial")
                   .Columns(columns =>
                   {
                       columns.Bound(o => o.Id).Visible(false);
                       columns.Bound(o => o.CategoryName).Title("Category").Width(80);
                       columns.Bound(o => o.Auditor_Name).Width(150);

                       columns.Bound(o => o.Period_of_AppointmentFromDate).Title("From date").Format("{0:dd/MM/yyyy}").Width(50);
                       columns.Bound(o => o.Period_of_AppointmentToDate).Title("To date").Format("{0:dd/MM/yyyy}").Width(50);
                       columns.Bound(o => o.Date_of_appointment).Title("To date").Format("{0:dd/MM/yyyy}").Width(50);
                       //columns.Command(command =>
                       //{
                       //    command.Custom("Edit").Click("editSecreterial").HtmlAttributes(new { @class = "k-grid-edit" });

                       //})
                       //.Title("Action").Width(100);
                   })

            .EnableCustomBinding(true)
            //.ToolBar(
            //toolbar => toolbar.Custom().Name("CreateNew").Text("New").HtmlAttributes(new { id = "SecreterialCreatenew", @class = "k-grid-add k-button k-button-icontext" })
            //)
            .Events(e => e.DataBound("onRowBound"))
            .Navigatable()
            .Pageable(pageable => pageable
            .Refresh(false)
            .PageSizes(true)
            .ButtonCount(5))
            .Filterable()
            .Sortable()

            .Reorderable(reorderable => reorderable.Columns(true))
            .Resizable(resizable => resizable.Columns(true))
            .ColumnMenu()
            .DataSource(dataSource => dataSource
            .WebApi()

            .PageSize(5)
            .ServerOperation(false)
                  .Model(model =>
                  {
                      model.Id(o => o.Id);
                      model.Field(o => o.EntityId);
                  })

            .Read(read => read.Url("/api/AuditorMasterAPI/GetSecreterialAuditorHistory").Type(HttpVerbs.Get))
                           ))
                </div>
            </div>
        </div>
    </div>*@


