﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VM_CostAuditor

<script>
    var initialLoad = true;
    function onRowBound(e) {
        GetICons();
        var grid = $("#gridKendoCost").data("kendoGrid");
        //grid.thead.css("background-color", "green")
        var data = grid.dataSource.data();
        $.each(data, function (i, row) {
            $('tr[data-uid="' + row.uid + '"] ').removeClass("k-alt");

            $('tr[data-uid="' + row.uid + '"] ').css("box-sizing", "border-box");
            $('tr[data-uid="' + row.uid + '"] ').css("box-shadow", "0px 0px 1px 0 #DDDDDD");
        });

        if (initialLoad) {
            BindAutoComplete();
            initialLoad = false;
        }
    }

    function BindAutoComplete() {
        var autoCompleteData = [];
        autoCompleteData = autoCompleteData.concat(GetGridColumnValues('gridKendoCost', 'CategoryName'));
        autoCompleteData = autoCompleteData.concat(GetGridColumnValues('gridKendoCost', 'Auditor_Name'));

        if (autoCompleteData != null && autoCompleteData != undefined) {
            $("#filter").kendoAutoComplete({
                dataSource: autoCompleteData,
                filter: "contains",
                placeholder: "Search by Auditor/Firm Name",
                separator: ", ",
                change: AutoComplete_onChange,
            });
        }
    }

    function AutoComplete_onChange() {
        filterChange();
    }

    function filterChange() {

        debugger;
        var filtersc = { logic: 'or', filters: [] };
        var ddltenure = $("#Istenuarcost").data("kendoDropDownList");

        if (ddltenure != null && ddltenure != undefined) {
            var type = ddltenure.value();

            if (type != "") {
                var isTrueSet = (type === 'true');
                filtersc.filters.push({ logic: "and", field: "IsTenureCompleted", operator: "eq", value: isTrueSet });
            }
        }

        var t = $('#filtercost');
        if (t.val() != "") {
            filtersc.filters.push({ logic: "and", field: "AuditorName", operator: "contains", value: t.val() });
        }

        var grid = $("#gridKendoCost").data("kendoGrid");
        if (grid != null && grid != undefined) {
            grid.dataSource.filter(filtersc);
        }

        if (filtersc != null) {
            $("#clearfilltercost").show();
        }
        else {
            $("#clearfilltercost").hide();
        }
    };

    function clearfilter(e) {

        var ddlTenure = $("#Istenuarcost").data("kendoDropDownList");
        if (ddlTenure != null && ddlTenure != undefined) {
            ddlTenure.value("-1");
        }

        var txtStartPeriod = $("#filter").val();

        if (txtStartPeriod != null && txtStartPeriod != undefined) {
            $("#filter").val("");
        }

        $('#clearfilltercost').css('display', 'none');

        $("#gridKendoCost").data("kendoGrid").dataSource.filter({});
    }

    $(document).ready(function () {
        $("#CostAuditorCreatenew").kendoTooltip({ content: "Add Cost Auditor/Firm" });
    });
</script>

<div class="row master-Headre mt30">
    <div class="col-md-12 vertical-center">
        <div class="col-md-6 colpadding0">
            <div class="col-md-8">
                <div class="input-group">
                    <input id='filtercost' placeholder="Search by Auditor / Firm" class='form-control' autocomplete="off" />
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit" style="height:34px">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                @(Html.Kendo().DropDownList()
          .Name("Istenuarcost")
          .DataTextField("Text")
          .DataValueField("Value")
          .HtmlAttributes(new { style = "width: 100%" })
          .BindTo(new List<SelectListItem>()
          {
              new SelectListItem() {
                Text = "Status-All", Value ="-1"
              },
              new SelectListItem() {
                Text = "Current", Value ="false"
              },
              new SelectListItem() {
                Text = "Past", Value ="true"
              },

          }).HtmlAttributes(new { @Onchange = "filterChange()" })
                )
            </div>
        </div>

        <div class="col-md-1">
            <button type="button" class="btn btn-default btn-sm ClearFilterbtn" onclick="clearfilter()" id="clearfilltercost" style="display:none">
                <img src="~/Areas/BM_Management/img/Vector.png" />Clear
            </button>
        </div>

        <div class="col-md-5 colpadding0 text-right">
            <a class="btn btn-primary" href="/#" id="CostAuditorCreatenew" title="Add New"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</a>
        </div>
    </div>
</div>

<div class="row colpadding0 mt30">
    <div class="col-md-12 colpadding0">

        @(Html.Kendo().Grid<BM_ManegmentServices.VM.VM_CostAuditor>()
        .Name("gridKendoCost")
               .Columns(columns =>
               {
                   columns.Bound(o => o.Id).Visible(false);
                   columns.Bound(o => o.CategoryName).Title("Category").Width("10%").HtmlAttributes(new { });
                   columns.Bound(o => o.Auditor_Name).Title("Firm/Auditor").Width("30%").HtmlAttributes(new { });
                   columns.Bound(o => o.dateofBordMeeting).Title("Date of Board Meeting").Format("{0:dd/MM/yyyy}").Width("10%").HtmlAttributes(new { @class = "text-center" });
                   columns.Bound(o => o.ResulationNumber).Title("Resolution Number").Width("10%").HtmlAttributes(new { });
                   columns.Bound(o => o.FromDate).Title("From Date").Width("10%").Format("{0:dd/MM/yyyy}").HtmlAttributes(new { @class = "text-center" }).Filterable(ftb => ftb.Multi(true).Search(true));
                   columns.Bound(o => o.DueDate).Title("To Date").Width("10%").Format("{0:dd/MM/yyyy}").HtmlAttributes(new { @class = "text-center" }).Filterable(ftb => ftb.Multi(true).Search(true));
                   columns.Command(command =>
                   {
                       command.Custom("Edit").Click("editCostAuditor").HtmlAttributes(new { @class = "k-grid-edit" });
                       command.Custom("R").Click("editCostResignation").HtmlAttributes(new { });
                   })
                   .Title("Action").Width("10%").HtmlAttributes(new { });
               })

        .EnableCustomBinding(true)
        .Events(e => e.DataBound("onRowBound"))
        .Navigatable()
        .Pageable(pageable => pageable
        .Refresh(false)
        .PageSizes(true)
        .ButtonCount(5))
        .Filterable()
        .Sortable()
        .Reorderable(reorderable => reorderable.Columns(true))
        .Resizable(resizable => resizable.Columns(true))
        .ColumnMenu()
        .DataSource(dataSource => dataSource
        .WebApi()
        .PageSize(10)
        .ServerOperation(false)
              .Model(model =>
              {
                  model.Id(o => o.Id);
                  model.Field(o => o.EntityId);
              })

        .Read(read => read.Url("/api/AuditorMasterAPI/GetCostAuditor?EntityId=" + Model.EntityId).Type(HttpVerbs.Get))
                       ).HtmlAttributes(new { @style="width:100%"}))
    </div>
</div>











