﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMInternalAuditor

<script>
    var initialLoad = true;
    function onRowBound(e) {
        
        $("#gridKendoInternal tr.k-alt").removeClass("k-alt");

        GetICons();
        //var grid = $("#gridKendoInternal").data("kendoGrid");
        //getGridborder(grid);

        if (initialLoad) {
            BindAutoComplete();
            initialLoad = false;
        }
    }

    function filterChangeINT() {

        debugger;
        var filterin = { logic: 'or', filters: [] };

        var ddltenureIn = $("#IstenuarInter").data("kendoDropDownList");

        if (ddltenureIn != null && ddltenureIn != undefined) {
            var type = ddltenureIn.value();
           
            if (type != "") {
                var isTrueSet = (type === 'true');
                filterin.filters.push({ logic: "and", field: "IsTenureCompleted", operator: "eq", value: isTrueSet });
            }
        }

        var t = $('#filteriNTERNAL');
        if (t.val() != "") {
            filterin.filters.push({ logic: "and", field: "AuditorName", operator: "contains", value: t.val() });
        }
        
        var grid = $("#gridKendoInternal").data("kendoGrid");
        if (grid != null && grid != undefined) {
            grid.dataSource.filter(filterin);
        }

        if (filterin != null) {
            $("#clearfillterin").show();
        }
        else {
            $("#clearfillterin").hide();
        }

    };

    function clearfilterINT(e) {

        var ddlTenure = $("#IstenuarInter").data("kendoDropDownList");
        if (ddlTenure != null && ddlTenure != undefined) {
            ddlTenure.value("-1");
        }

        var txtStartPeriod = $("#filteriNTERNAL").val();

        if (txtStartPeriod != null && txtStartPeriod != undefined) {
            $("#filteriNTERNAL").val("");
        }

        $('#clearfillterin').css('display', 'none');

        $("#gridKendoInternal").data("kendoGrid").dataSource.filter({});
    }

    function BindAutoComplete() {
        var autoCompleteData = [];
        autoCompleteData = autoCompleteData.concat(GetGridColumnValues('gridKendoInternal', 'InternalAuditor_Category'));
        autoCompleteData = autoCompleteData.concat(GetGridColumnValues('gridKendoInternal', 'AuditorName'));

        if (autoCompleteData != null && autoCompleteData != undefined) {
            $("#filteriNTERNAL").kendoAutoComplete({
                dataSource: autoCompleteData,
                filter: "contains",
                placeholder: "Search by Auditor/Firm Name",
                separator: ", ",
                change: AutoComplete_onChange,
            });
        }
    }

    function AutoComplete_onChange() {
        filterChange();
    }
    $(document).ready(function () {
        $("#InternalCreatenew").kendoTooltip({ content: "Add Internal Auditor" });
    });

</script>

<div class="row master-Headre mt30">
    <div class="col-md-12 vertical-center">
        <div class="col-md-6 colpadding0">
            <div class="col-md-8">
                <div class="input-group">
                    <input id='filteriNTERNAL' placeholder="Search by Auditor/Firm Name" class='form-control' autocomplete="off" /> @*onchange="filterChangeINT(this)"*@
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit" style="height:34px">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                </div>
                <div class="col-md-4">
                    @(Html.Kendo().DropDownList()
          .Name("IstenuarInter")
          .DataTextField("Text")
          .DataValueField("Value")
          .HtmlAttributes(new { style = "width: 100%" })
          .BindTo(new List<SelectListItem>()
          {
              new SelectListItem() {
                Text = "Status-All", Value ="-1"
              },
              new SelectListItem() {
                Text = "Current", Value ="false"
              },
              new SelectListItem() {
                Text = "Past", Value ="true"
              },

          }).HtmlAttributes(new { @Onchange = "filterChangeINT()" })
                    )
                </div>
            </div>

        <div class="col-md-1">
            <button type="button" class="btn btn-default btn-sm ClearFilterbtn" onclick="clearfilterINT()" id="clearfillterin" style="display:none">
                <img src="~/Areas/BM_Management/img/Vector.png" />Clear
            </button>
        </div>

        <div class="col-md-5 colpadding0 text-right">
            <a class="btn btn-primary" href="/#" id="InternalCreatenew" title="Add New"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</a>
        </div>
    </div>
</div>

<div class="row col-md-12 colpadding0 mt30">
    @(Html.Kendo().Grid<BM_ManegmentServices.VM.VMInternalAuditor>()
        .Name("gridKendoInternal")
               .Columns(columns =>
               {
                   columns.Bound(o => o.IsTenureCompleted).Visible(false);
                   columns.Bound(o => o.Id).Visible(false);
                   columns.Bound(o => o.InternalAuditor_Category).Title("Category").Width("10%").HtmlAttributes(new { }).Filterable(ftb => ftb.Multi(true).Search(true));
                   columns.Bound(o => o.AuditorName).Title("Audit Firm/Auditor").Width("40%").HtmlAttributes(new { }).Filterable(ftb => ftb.Multi(true).Search(true));
                   columns.Bound(o => o.Isemployee).Title("Employee of Company").Width("10%").HtmlAttributes(new { });
                   columns.Bound(o => o.Date_of_appointment).Title("Date of Appointment").Format("{0:dd/MM/yyyy}").Width("10%").HtmlAttributes(new { @class = "text-center" }).Filterable(ftb => ftb.Multi(true).Search(true));
                   columns.Bound(o => o.FromDate).Title("From Date").Format("{0:dd/MM/yyyy}").Width("10%").HtmlAttributes(new { @class = "text-center" }).Filterable(ftb => ftb.Multi(true).Search(true));
                   columns.Bound(o => o.ToDate).Title("To Date").Format("{0:dd/MM/yyyy}").Width("10%").HtmlAttributes(new { @class = "text-center" }).Filterable(ftb => ftb.Multi(true).Search(true));
                   columns.Command(command =>
                   {
                       command.Custom("Edit").Click("editInternal").HtmlAttributes(new { @class = "k-grid-edit" });
                       command.Custom("R").Click("editInternalResignation").HtmlAttributes(new { });
                   }).Title("Action").Width("10%").HtmlAttributes(new {});
               })

        .EnableCustomBinding(true)
        //.ToolBar(
        //toolbar => toolbar.Custom().Name("CreateNew").Text("New").HtmlAttributes(new { id = "InternalCreatenew", @class = "k-grid-add k-button k-button-icontext" })
        //)
        .Events(e => e.DataBound("onRowBound"))
        .Navigatable()
        .Pageable(pageable => pageable
        .Refresh(false)
        .PageSizes(true)
        .ButtonCount(5))
        .Filterable()
        .Sortable()
        .Reorderable(reorderable => reorderable.Columns(true))
        .Resizable(resizable => resizable.Columns(true))
        .ColumnMenu(col => col.Columns(false))
        .DataSource(dataSource => dataSource
        .WebApi()
        .PageSize(10)
        .ServerOperation(false)
              .Model(model =>
              {
                  model.Id(o => o.Id);
                  model.Field(o => o.EntityId);
              })
        .Read(read => read.Url("/api/AuditorMasterAPI/GetAuditorInternalDetails?EntityId="+Model.EntityId).Type(HttpVerbs.Get))
        ))
</div>


@*<div class="row colpadding0 mt30">
        <div class="col-md-12 colpadding0">

            @(Html.Kendo().Grid<BM_ManegmentServices.VM.VMInternalAuditor>()
            .Name("gridKendoInternalHistory")
                   .Columns(columns =>
                   {
                       columns.Bound(o => o.Id).Visible(false);
                       columns.Bound(o => o.InternalAuditor_Category).Title("Category").Width(80);
                       columns.Bound(o => o.AuditorName).Width(150);

                       columns.Bound(o => o.Isemployee).Title("Is Employee").Width(50);
                       columns.Bound(o => o.Date_of_appointment).Title("To date").Format("{0:dd/MM/yyyy}").Width(50);

                       //columns.Command(command =>
                       //{
                       //    command.Custom("Edit").Click("editInternal").HtmlAttributes(new { @class = "k-grid-edit" });

                       //})
                       //.Title("Action").Width(100);
                   })

            .EnableCustomBinding(true)

            .Events(e => e.DataBound("onRowBound"))
            .Navigatable()
            .Pageable(pageable => pageable
            .Refresh(false)
            .PageSizes(true)
            .ButtonCount(5))
            .Filterable()
            .Sortable()

            .Reorderable(reorderable => reorderable.Columns(true))
            .Resizable(resizable => resizable.Columns(true))
            .ColumnMenu()
            .DataSource(dataSource => dataSource
            .WebApi()

            .PageSize(5)
            .ServerOperation(false)
                  .Model(model =>
                  {
                      model.Id(o => o.Id);
                      model.Field(o => o.EntityId);
                  })

            .Read(read => read.Url("/api/AuditorMasterAPI/GetAuditorInternalDetails?EntityId="+Model.EntityId).Type(HttpVerbs.Get))
                           ))
        </div>
    </div>*@






@*<script>

        function dateofAGM() {

            var DateofAGM = kendo.toString($("#dpDate_AGM").data("kendoDateTimePicker").value(), 'MM/dd/yyyy');
            if (DateofAGM != null) {
                $("#dpdateofAppointment").data("kendoDateTimePicker").value(DateofAGM);
            }
        }
    </script>*@



