﻿
@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMAuditor

<script>
    function BindAuditorsDetails() {
        return {
            CriteriaId: 0,
            Type: 0,
            EntityId: 0
        };
    }

    $(document).ready(function () {
        var IsAuditorexi = $("input[name='Isexisting']:checked").val();
        if (IsAuditorexi == "True") {
            $("#divAuditorList").hide();
        }
        else if (IsAuditorexi == "False") {
            $("#divAuditorList").show();
        }
    })

    $(document).on("change", "input[name='Isexisting']", function () {
        //alert(this.value);
        if (this.value == "True") {
            $("#divAuditorList").hide();
        }
        else if (this.value == "False") {
            $("#divAuditorList").show();
        }
    });

    function changeAuditor() {
        debugger;
        var id = 0;
        var AuditorID = $("#ddlAuditor").data("kendoDropDownList").value();

        $("#viewPlaceHolder").load("../AuditorMaster/getAuditordetails",
            { Id: AuditorID });
    }
</script>

<div id="viewPlaceHolder">
    @if (Model.Id == 0)
    {
        <div class="row colpadding0">
            <div class="col-md-5 colpadding0">
                @(Html.Kendo().RadioButtonFor(m=>m.Isexisting).Label("Create New").Value(true).HtmlAttributes(new { }))
                &nbsp;&nbsp;&nbsp;
                @(Html.Kendo().RadioButtonFor(m => m.Isexisting).Label("Create from Existing").Value(false).HtmlAttributes(new { }))
            </div>

            <div class="col-md-5 colpadding0" id="divAuditorList" style="display:none">
                @(Html.Kendo().DropDownListFor(m => m.AuditorId)
                                            .DataTextField("Name")
                                            .DataValueField("Id")
                                            .Events(e => e.Change("changeAuditor"))
                                            .OptionLabel("Select")
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Url("/api/AuditorMasterAPI/GetDropDownAuditors").Data("BindAuditorsDetails").Type(HttpVerbs.Get);
                                                })
                                                .ServerFiltering(false);
                                            }).HtmlAttributes(new { style = "width: 90%", @Id = "ddlAuditor" }))
            </div>

            <div class="col-md-2">

            </div>
        </div>
    }

    <div class="row colpadding0">
        <div class="col-md-12 colpadding0">
            @Html.Partial("_partialviewAddEditAuditor", Model)
        </div>
    </div>
</div>

<script>
    function sync_handler(e) {
        this.read();
    }

    function toolTipContent(e) {
        return e.target.context.innerText;
    }

    function OnOpen(e) {

        //kendo.ui.progress($("#viewPlaceHolder"), true);
    }

    function OnRefresh(e) {
        //kendo.ui.progress($("#viewPlaceHolder"), false);
    }
</script>

