﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMAuditor
<script>
    $(document).ready(function () {
        $('[id^="panelbar"]').kendoPanelBar({
            expandMode: "single",
            collapse: cancelExpandCollapse,
        });
    });
</script>

<div class="row col-md-12 colpadding0">
    <div id="DivAuditorDtls">

        @using (Ajax.BeginForm("Add_UpdateAudit", "AuditorMaster", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivAuditorDtls", OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmUpdateAuditor" }))
            {
            <div class="row">
                @if (Model.successMessage)
                {
                    <div class="col-md-12">

                        <div class="alert alert-success alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            @if (!(string.IsNullOrEmpty(@Model.showMessage)))
                            {
                                <lable>@Model.showMessage</lable>
                            }
                        </div>

                    </div>
                }
            </div>

            <div class="row">
                @if (Model.errorMessage)
                {
                    <div class="col-md-12">
                        <div class="alert alert-danger alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            @if (!(string.IsNullOrEmpty(@Model.showMessage)))
                            {
                                <lable>@Model.showMessage</lable>
                            }
                        </div>

                    </div>
                }
            </div>

            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Entity_Id)
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.ViewName)
           
            <div class="row col-md-12 colpadding0">
                <div class="demo-section k-content" style="background:transparent;">
                    <ul class="k-widget k-panelbar k-reset k-header" id="panelbar_AuditorDetails" data-role="panelbar" tabindex="0" role="menu" style="margin-bottom: 20px;border-radius: 4px">
                        <li class="k-item k-state-default k-first k-state-active" aria-expanded="true" role="menuitem">
                            <span class="k-link k-header k-state-selected">
                                Details <span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span>
                            </span>

                            <span id='notification'></span>
                            <div class="row colpadding0" style="display: block; margin-left: 1%; margin-right: 1%;margin-top:1%;margin-bottom:1%">
                                <div class="row colpadding0 mt30">
                                    <div class="col-md-12 colpadding0">
                                        <div class="col-md-3 colpadding0 required">
                                            <label for="ddlAuditorType" class="control-label">Auditor Type</label>
                                            @(Html.Kendo().DropDownListFor(m => m.Auditor_Type)
                                            .DataTextField("Name")
                                            .DataValueField("Id")
                                            //.Events(e => e.Change("change"))
                                            .OptionLabel("Select")
                                           .Enable(Model.IsMapped)
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Url("/api/AuditorMasterAPI/GetDropDownAuditors_Type").Type(HttpVerbs.Get);
                                                })
                                                .ServerFiltering(false);
                                            }).HtmlAttributes(new { style = "width: 90%", @Id = "ddlAuditor_Type" }))

                                        </div>

                                        <div class="col-md-3 colpadding0 required">
                                            <label for="ddlAuditor_Category" class="control-label">Category of Auditor</label>

                                            @(Html.Kendo().DropDownList()
                                            .Name("Audit_CategoryId")
                                            .DataTextField("Text")
                                            .DataValueField("Value")
                                            //.Events(e => e.Change("change"))
                                            .BindTo(new List<SelectListItem>() {
                                                           new SelectListItem() {
                                                              Text = "Select",
                                                              Value = "0"
                                                          },
                                                          new SelectListItem() {
                                                              Text = "Individual",
                                                              Value = "1"
                                                          },
                                                          new SelectListItem() {
                                                              //Text = "AuditorFirm",
                                                              Text = "Audit Firm",
                                                              Value = "2"
                                                          },
                                            }).HtmlAttributes(new { style = "width: 90%", @Id = "ddlAuditor_Category" }))

                                            @Html.ValidationMessageFor(model => model.Audit_CategoryId, "", new { @class = "text-danger" })
                                        </div>

                                        <div id="divAuditFirm" class="col-md-6 colpadding0 required">
                                            <label for="txtName_of_Auditor_or_AuditorFirm" class="control-label" id="lblAuditorFirm">Name of the Auditor or Auditor's Firm</label>
                                            @(Html.Kendo().TextBoxFor(m => m.Audit_FirmName_FullName).HtmlAttributes(new { @Id = "txtFirstName_Auditor_or_AuditorFirm", style = "width: 90%", }))
                                            @Html.ValidationMessageFor(model => model.Audit_FirmName_FullName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row col-md-12 colpadding0 mt30">
                                    <div class="col-md-4 colpadding0 required">
                                        <label for="txtEmail" class="control-label">Email</label>
                                        @(Html.Kendo().TextBoxFor(m => m.Email_Id).HtmlAttributes(new { @Id = "txtEmail", style = "width: 90%", }))
                                        @Html.ValidationMessageFor(model => model.Email_Id, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-3 colpadding0 required">
                                        <label for="txtName_of_Auditor_or_AuditorFirm" class="control-label">Membership/ Registration No</label>
                                        @(Html.Kendo().TextBoxFor(m => m.AuditorFirmRegistration_Number).HtmlAttributes(new { @Id = "txtName_of_Auditor_or_AuditorFirm", style = "width: 90%", }))
                                        @Html.ValidationMessageFor(model => model.AuditorFirmRegistration_Number, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-1 colpadding0" style="width:20%">
                                        <label for="txtMobileNumber" class="control-label">Mobile No</label>
                                        @(Html.Kendo().TextBoxFor(m => m.MobileNo).HtmlAttributes(new { @Id = "txtMobileNo", style = "width: 90%", }))
                                        @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-1 colpadding0" style="width:20%">
                                        <label for="txtPanNumber" class="control-label">PAN</label>
                                        @(Html.Kendo().TextBoxFor(m => m.Pan_Number).HtmlAttributes(new { @Id = "txtPanNumber", style = "width: 90%; text-transform: uppercase;", }))
                                        @*//@Html.ValidationMessageFor(model => model.Pan_Number, "", new { @class = "text-danger" })*@
                                    </div>

                                    @*<div style="display:none" id="DivAuditor">
                                            <div class="col-md-2 colpadding0">
                                                <span style="color:red">*</span><label for="txtFirstName_Auditor" class="control-label">First Name:</label>
                                                @(Html.Kendo().TextBoxFor(m => m.FirstName_Auditor).HtmlAttributes(new { @Id = "txtFirstName_Auditor", style = "width: 100%", }))
                                                @Html.ValidationMessageFor(model => model.FirstName_Auditor, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="col-md-2 colpadding0">
                                                <div class="col-md-1 colpadding0"></div>
                                                <div class="col-md-11 colpadding0">
                                                    <span style="color:red">*</span><label for="txtMiddleName_Auditor" class="control-label" >Middle Name:</label>
                                                    @(Html.Kendo().TextBoxFor(m => m.MiddleName_Auditor).HtmlAttributes(new { @Id = "txtMiddleName_Auditor", style = "width: 100%", }))
                                                    @Html.ValidationMessageFor(model => model.MiddleName_Auditor, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                            <div class="col-md-2 colpadding0">
                                                <div class="col-md-1 colpadding0"></div>
                                                <div class="col-md-11 colpadding0">
                                                    <span style="color:red">*</span><label for="txtLastName_Auditor" class="control-label" >Last Name:</label>
                                                    @(Html.Kendo().TextBoxFor(m => m.LastName_Auditor).HtmlAttributes(new { @Id = "txtLastName_Auditor", style = "width: 100%", }))
                                                    @Html.ValidationMessageFor(model => model.LastName_Auditor, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>*@
                                </div>
                            </div>
                        </li>
                    </ul>

                    <ul class="k-widget k-panelbar k-reset k-header" id="panelbar_AuditorAddress" data-role="panelbar" tabindex="0" role="menu" style="margin-bottom: 20px;border-radius: 4px">
                        <li class="k-item k-state-default k-last k-state-highlight k-state-active" aria-expanded="true" role="menuitem">
                            <span class="k-link k-header" id="spanAgendaItemB">Address<span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span></span>
                            <div id="step1Content" style="display: block; margin-left: 1%; margin-right: 1%; margin-top:1%; margin-bottom:1%">
                                <div class="row colpadding0 mt30">
                                    <div class="col-md-12 colpadding0">
                                        <div class="col-md-6 colpadding0 required">
                                            <label for="txtAddressLine1" class="control-label">Address Line 1</label>
                                            @(Html.Kendo().TextBoxFor(m => m.AddressLine1).HtmlAttributes(new { @Id = "txtAddressLine1", style = "width:98%", }))
                                            @Html.ValidationMessageFor(model => model.AddressLine1, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-6 colpadding0">
                                            <label for="txtAddressLine2" class="control-label">Address Line 2</label>
                                            @(Html.Kendo().TextBoxFor(m => m.AddressLine2).HtmlAttributes(new { @Id = "txtAddressLine2", style = "width: 98%", }))
                                            @Html.ValidationMessageFor(model => model.AddressLine2, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt30 colpadding0">
                                    <div class="col-md-12 colpadding0">
                                        <div class="col-md-3 colpadding0">
                                            <span style="color:red"></span><label for="txtcountry" class="control-label">Country</label>
                                            @(Html.Kendo().DropDownListFor(m => m.country)

.HtmlAttributes(new { style = "width:100%" })
.OptionLabel("Select")
.Filter("contains")
.DataTextField("CountryName")
.DataValueField("CountryId")
.DataSource(source =>
{
    source.Read(read =>
    {
        read.Url("/api/EntityMasterAPI/GetDropDownEntityForCountry").Type(HttpVerbs.Get);
    })
    .ServerFiltering(false);
})
.HtmlAttributes(new { style = "width: 90%", @Id = "CountryId", autocomplete = "off" })
                                            )

                                            @Html.ValidationMessageFor(model => model.country, "", new { @class = "text-danger" })

                                        </div>

                                        <div class="col-md-4 colpadding0">                                         
                                            
                                                <span style="color:red"></span><label for="txtstate" class="control-label">State</label>
                                                @(Html.Kendo().DropDownListFor(m => m.state)
.DataTextField("Name")
.DataValueField("SIdPublic")

//.Filter("contains")
.DataSource(source =>
{
    source.Read(read =>
    {
        read.Url("/api/EntityMasterAPI/GetDropDownforStateMaster").Data("filterProductss").Type(HttpVerbs.Get);
    })
  .ServerFiltering(true);
})
.Enable(false)
.AutoBind(false)
.CascadeFrom("CountryId")

.HtmlAttributes(new { style = "width: 90%", @Id = "stateId", autocomplete = "off" })
                                                )
                                                @Html.ValidationMessageFor(model => model.state, "", new { @class = "text-danger" })
                                            
                                        </div>

                                        <div class="col-md-4 colpadding0">
                                            <span style="color:red"></span><label for="txtName_of_Auditor_or_AuditorFirm" class="control-label">City:</label>
                                            @(Html.Kendo().DropDownListFor(m => m.city)
                                            //.Name("ddlNationality")
                                            .DataTextField("Name")
                                            .DataValueField("Reg_cityId")

                                            //.Filter("contains")
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Url("/api/EntityMasterAPI/GetDropDownforCity").Data("filterProducts").Type(HttpVerbs.Get);
                                                })
                                                .ServerFiltering(true);
                                            })
                                            .Enable(false)
                                            .AutoBind(false)
                                            .CascadeFrom("stateId")
                                            .HtmlAttributes(new { style = "width: 90%", @Id = "ddlreg_cityId", autocomplete = "off" }))

                                            @Html.ValidationMessageFor(model => model.city, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-1 colpadding0">
                                            <span style="color:red"></span><label for="ddlAuditor_Category" class="control-label">PIN</label>
                                            @(Html.Kendo().TextBoxFor(m => m.PinNumber).HtmlAttributes(new { @Id = "txtAddressLine1", style = "width: 100%", }))
                                            @Html.ValidationMessageFor(model => model.PinNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <div class="row col-md-12 colpadding0 mt30 text-center">
                        <button type="submit" id="btnllp" class="btn btn-primary">Save</button>
                        @if (Model.ViewName == "")
                        {
                            <button type="button" id="btnclose2" class="btn btn-primary">Close</button>
                        }
                        else
                        {
                            <button type="button" id="btncloseAuditorMasterNew" class="btn btn-primary">Close</button>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    var validator1 = $("#frmUpdateAuditor").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");

    $("#btnclose2").click(function (z) {

        z.preventDefault();
        z.stopPropagation();
        $('#KendoPopupAditorMaster').data("kendoWindow").close();
        $('#gridKendo').data('kendoGrid').dataSource.read();
        $('#gridKendo').data('kendoGrid').refresh();
    });

    $("#btncloseAuditorMasterNew").click(function (z) {
        z.preventDefault();
        z.stopPropagation();
        $('#KendoPopupAditorMaster').data("kendoWindow").close();
    })


    function checkDate(e) {

        if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
            e.value = '';
        }
    }

    $("#dpRegignation_Date").removeAttr("data-val-date");
    if ($("#dpRegignation_Date").val() == "01/01/0001") {
        $("#dpRegignation_Date").val('');
    }


    $(document).on("change", "input[name='IsAuditorResign']", function () {

        if (this.value == "True") {
            document.getElementById('DIVresionforLeave').style.display = 'block';

        }
        else {
            document.getElementById('DIVresionforLeave').style.display = 'none';
        }
    })
</script>

