﻿
@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMInternalAuditor


<script>

    function filterCategory()
    {
        var CriteriaId = $("#ddlCriteria").data("kendoDropDownList").value();
        if(@Model.Id==0)
        {
            return {
                CriteriaId:CriteriaId,
                Type:2,
                EntityId:"@Model.EntityId"

            };
        }
        else{
            return {
                CriteriaId:CriteriaId,
                Type:2,
                EntityId:0
            };
        }
    }

</script>


<div class="row colpadding0 colpadding0">
    <div class="col-md-12 colpadding0">
        <div id="DivInternalAuditorDtls">

    @using (Ajax.BeginForm("Add_UpdateInternalAuditor", "AuditorMaster", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivInternalAuditorDtls", OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmUpdateInternalAuditor" }))
            {
        <div class="row">
            @if (Model.successMessage)
            {
                <div class="col-md-12">
                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.successerrorMessage)))
                        {
                            <lable>@Model.successerrorMessage</lable>
                        }
                    </div>
                </div>
            }
        </div>

                <div class="row">
                    @if (Model.errorMessage)
                    {
                        <div class="col-md-12">
                            <div class="alert alert-danger alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                @if (!(string.IsNullOrEmpty(@Model.successerrorMessage)))
                                {
                                    <lable>@Model.successerrorMessage</lable>
                                }
                            </div>

                        </div>
                    }
                </div>

                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.EntityId)
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.MeetingAgengaMappingID)
                @Html.HiddenFor(m => m.AuditorMappingId)


                <div class="row colpadding0 mt30">
                    <div class="col-md-12 colpadding0">


                        <div class="row colpadding0">
                            <div class="col-md-3 colpadding0">
                                <label for="ddlCriteria" class="control-label">Category </label><span style="color:red">*</span>
                                @(Html.Kendo().DropDownListFor(m => m.InternalAuditor_CategoryId)

                                                                    .DataTextField("Text")
                                                                    .DataValueField("Value")
                                                                    .BindTo(new List<SelectListItem>
                                                                        () {
                                                                    new SelectListItem() {
                                                                    Text = "Select",
                                                                    Value = ""
                                                                    },
                                                                    new SelectListItem() {
                                                                    Text = "Individual",
                                                                    Value = "1"
                                                                    },
                                                                    new SelectListItem() {
                                                                    //Text = "AuditorFirm",
                                                                    Text = "Audit Firm",
                                                                    Value = "2"
                                                                    },

                                                                        })
                                                                        .HtmlAttributes(new { style = "width: 90%", @Id = "ddlCriteria", @class = "myAuditCriteria" ,@onchange = "changeCategory(this)"}))
                                                                    </div>


                                                                    <div class="col-md-3 colpadding0">
                                                                        <label for="Auditor_Id" class="control-label">  Name of Auditor/Firm/Employee </label><span style="color:red">*</span>
                                                                        @(Html.Kendo().DropDownList()
              .Name("Auditor_Id")
              .HtmlAttributes(new { style = "width:90%" })
              .OptionLabel("Select")
              .DataTextField("Name")
              .DataValueField("Id")
              .DataSource(source =>
              {
                  source.Read(read =>
                  {
                      read.Url("/api/AuditorMasterAPI/GetDropDownAuditors")
                          .Data("filterCategory");
                  })
                  .ServerFiltering(true);
              })
              .Enable(false)
              .AutoBind(false)
              .CascadeFrom("ddlCriteria")
                                                                        )
                                                                    </div>

                            <div class="col-md-3 colpadding0">
                                <label for="FYID" class="control-label">FY</label><span style="color:red"></span>
                                @(Html.Kendo().DropDownListFor(model => model.FYID)
                             .DataValueField("FYID")
                             .DataTextField("FYText")
                             .OptionLabel("Select")
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {

                                    read.Url("/api/ConfigurationMasterAPI/GetFYListByEntityID?EntityID="+Model.EntityId).Type(HttpVerbs.Get);
                                })
                                .ServerFiltering(true);
                            })
                           
                             .HtmlAttributes(new { style = "width: 92%" }))

                            </div>

                                                                    <div class="col-md-3 colpadding0">
                                                                        <label for="dpDateofAppointment" class="control-label">Date of appointment</label><span style="color:red">*</span>
                                                                        @(Html.Kendo().DatePickerFor(m => m.Date_of_appointment).Max(DateTime.Today).Format("dd/MM/yyyy")
                                                .Enable(true).ParseFormats(new[] { "dd/MM/yyyy" })
                                                .Culture("en-GB")
                                                .HtmlAttributes(new { style = "width: 90%", @Id = "dpDateofAppointment", placeholder = "DD/MM/YYYY", autocomplete = "off", onchange = "checkDate(this);", @class = "mydatepic" })
                                                                        )
                                                                    </div>

                                                                </div>

                                                                <div class="row colpadding0 mt30" id="divEmployee">

                                                                    <div class="col-md-3 colpadding0">
                                                                        <label for="dpDateofAppointment" class="control-label">Whether Employee?</label><span style="color:red">*</span>
                                                                        @(Html.Kendo().DropDownListFor(m => m.Isemployee)

                                                                    .DataTextField("Text")
                                                                    .DataValueField("Value")
                                                                    .BindTo(new List<SelectListItem>
                                                                        () {
                                                                    new SelectListItem() {
                                                                    Text = "Select",
                                                                    Value = ""
                                                                    },
                                                                    new SelectListItem() {
                                                                    Text = "Yes",
                                                                    Value = "Y"
                                                                    },
                                                                    new SelectListItem() {
                                                                    Text = "No",
                                                                    Value = "N"
                                                                    },

                                                                        })
                                                                        .HtmlAttributes(new { style = "width: 90%", @Id = "ddlIsEmployee", @class = "myAuditIsEmployee", @onchange = "changeEmployeement(this);" }))
                                                                    </div>

                                                                    <div class="col-md-3 colpadding0" id="IsEmployee">
                                                                        <label for="dpDateofAppointment" class="control-label">Employee Number</label><span style="color:red">*</span>
                                                                        @(Html.Kendo().TextBoxFor(m => m.EmployeeNo).HtmlAttributes(new { style = "width: 90%", @Id = "txtEmployeeNo" }))
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row colpadding0 mt30">
                                                            <div class="col-md-12 colpadding0" style="text-align:center">
                                                                <button type="submit" id="btnllp" class="btn btn-primary button1" name="Save" value="Save" onclick="btnstatutoryclick()">Save</button>
                                                                <button type="button" id="btnclose2" class="btn btn-primary button1">Close</button>
                                                            </div>
                                                        </div>
            }
        </div>
    </div>
</div>

@(Html.Kendo().Window()
    .Name("KendoPopupAditorMaster")
    .Visible(false)
    .Modal(true)
    .Draggable(false)
    .Scrollable(false)
    .Events(e => e.Open("adjustSize"))
    .Events(e => e.Refresh("OnRefresh"))
)
@if (Model.Id > 0)
{
    <script>
        
        // var dropdownlist1 = $("#ddlCriteria").data("kendoDropDownList");
        //dropdownlist1.enable(false);
        //var dropdownlist = $("#Auditor_Id").data("kendoDropDownList");
        //dropdownlist.enable(false);
    </script>
}
<script>


    $("#btnclose2").click(function (z) {

        z.preventDefault();
        z.stopPropagation();
        $('#KendoPopupAuditor').data("kendoWindow").close();
        $('#gridKendoInternal').data('kendoGrid').dataSource.read();
        $('#gridKendoInternal').data('kendoGrid').refresh();
    })




    $("#dpDateofAppointment").removeAttr("data-val-date");
    if ($("#dpDateofAppointment").val() == "01/01/0001") {
        $("#dpDateofAppointment").val('');
    }
    $(".dpDateofAppointment").removeAttr("data-val-date");


    function checkDate(e) {
        if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
            e.value = '';
        }
    }

    $(document).ready(function () {
        changeEmployeement();
        
    })


    function btnstatutoryclick() {
        $("frmUpdateInternalAuditor").attr(
                    "action",
                    "@Url.Action("Add_UpdateInternalAuditor", "AuditorMaster")"
                 ).submit();
        var validator1 = $("#frmUpdateInternalAuditor").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
    }

    function changeEmployeement() {
        
        var ddlIsEmployee = $("#ddlIsEmployee").data("kendoDropDownList");

        var val = ddlIsEmployee.value();

        if (val == "Y") {
            $("#IsEmployee").show();
        }
        else if (val == "N") {
            $("#IsEmployee").hide();
        }
    }
    @*if(@Model.Id>0)
    {
        function changeCategory() {
            
            var ddlCriteria = $("#ddlCriteria").data("kendoDropDownList");

            var val = ddlCriteria.value();

            $("#ddlAuditor").kendoDropDownList({
                dataSource: {
                    transport: {
                        read: {
                            url: "/api/AuditorMasterAPI/GetDropDownAuditors?CriteriaId=" + val + "&Type=" + 2 + "&EntityId=" +0
                        }
                    },
                    serverFiltering: false
                },
                dataTextField: "Name",
                dataValueField: "Id",
                value: 0,
                optionLabel: "Select",
                index: 0
            });
        }
        if(@Model.Id==0)
        {
            function changeCategory() {
                
                var ddlCriteria = $("#ddlCriteria").data("kendoDropDownList");

                var val = ddlCriteria.value();

                $("#ddlAuditor").kendoDropDownList({
                    dataSource: {
                        transport: {
                            read: {
                                url: "/api/AuditorMasterAPI/GetDropDownAuditors?CriteriaId=" + val + "&Type=" + 2 + "&EntityId=" + '@Model.EntityId'
                            }
                        },
                        serverFiltering: false
                    },
                    dataTextField: "Name",
                    dataValueField: "Id",
                    value: 0,
                    optionLabel: "Select",
                    index: 0
                });
            }*@
    //if (val == "1") {
    //    $("#" + tableRef.rows[aa].cells[1].children[0].lastElementChild.id).closest(".k-widget").show();
    //}
    //else if (val == "2") {
    //    $("#" + tableRef.rows[aa].cells[1].children[0].lastElementChild.id).closest(".k-widget").hide();
    //}
    //}
    //}

    function changeCategory(e)
    {
        
        var categoryval=$("#ddlCriteria").data("kendoDropDownList").value();
        if(categoryval==2)
        {
            document.getElementById("divEmployee").style.display="none";
        }
        else{
            document.getElementById("divEmployee").style.display="block";
        }
    }
</script>

