﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMStatutory_Auditor
@{
    ViewBag.Title = "Auditors :: Masters";
}
<title></title>

<script>
    $(document).ready(function () {
        var breadCrumbData = [
            {
               displayText: "Entity",
               navigateUrl: "/BM_Management/EntityMaster/GetEntityDtls",
           }, {
               displayText: "Auditors",
               navigateUrl: "#",
           }
        ];
        @*var breadCrumbData = [
           {
               displayText: "Masters",
               navigateUrl: "/BM_Management/EntityMaster/GetEntityDtls",
           }, {
               displayText: "Entity",
               navigateUrl: "/BM_Management/EntityMaster/GetEntityDtls",
           }, {
               displayText: "Auditors",
               navigateUrl: "#",
           }, {
               displayText: '@Model.EntityName',
               navigateUrl: "#",
           }
        ];*@

        setBreadCrumb(breadCrumbData);
    });
</script>

<div class="row Dashboard-white-widget">
    <div class="dashboard">
        @Html.AntiForgeryToken()

        <div class="row col-md-12 colpadding0">
            <h4><b>@Model.EntityName</b></h4>
        </div>

        <div class="row col-md-12 colpadding0">
            <div class="tab" role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" id="mytab1" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">Statutory Auditor</a></li>
                    <li role="presentation" id="mytab2"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">Internal Auditor</a></li>
                    <li role="presentation" id="mytab3"><a href="#Section3" aria-controls="messages" role="tab" data-toggle="tab">Secretarial Auditor</a></li>
                    <li role="presentation" id="mytab4"><a href="#Section4" aria-controls="messages1" role="tab" data-toggle="tab">Cost Auditor</a></li>
                </ul>

                <div class="tab-content tabs">
                    <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                        @Html.Partial("_StatutoryAuditorGrid", new BM_ManegmentServices.VM.VMStatutory_Auditor { EntityId = Model.EntityId })
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="Section2">
                        @Html.Partial("_InternalAuditorGrid", new BM_ManegmentServices.VM.VMInternalAuditor { EntityId = Model.EntityId })
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="Section3">
                        @Html.Partial("_gridForSecreterialAuditor", new BM_ManegmentServices.VM.VM_SecreterialAuditor { EntityId = Model.EntityId })
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="Section4">
                        @Html.Partial("_gridForCostAuditor", new BM_ManegmentServices.VM.VM_CostAuditor { EntityId = Model.EntityId })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@(Html.Kendo().Window()
    .Name("KendoPopupAuditor")
    .Visible(false)
    .Modal(true)
     .Resizable(m => m.Enabled(false))
    .Pinned(true)
    .Iframe(true)
    .Events(e => e.Open("adjustSize"))
    .Events(e => e.Refresh("OnRefresh"))
)

@(Html.Kendo().Window()
    .Name("KendoPopupAuditorRegignaton")
    .Visible(false)
    .Modal(true)
    //.Draggable(false)
    //.Scrollable(false)
    .Resizable(m => m.Enabled(false))
    .Pinned(true)
    .Iframe(true)
    .Events(e => e.Open("adjustSizee"))
    .Events(e => e.Refresh("OnRefreshe"))
)

<script>
    $("#StaturoryCreatenew").click(function (e) {
        e.preventDefault();
        editstatutory(e);
    });

    function editstatutory(e) {
        e.preventDefault();
        OnOpen('a');

        //$("#KendoPopupAuditor").attr("style", "min-height:100px;");
        @*var direction = "Add_Edit Statutory Auditor ?Id=" + 0 + "&EntityID=" + @ViewBag.EntityID;*@
        if (e.currentTarget.innerText != "New") {
            $("#KendoPopupAuditor").kendoWindow({
                title: "Edit - Statutory Auditor",
            });
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            direction = "Open_popforStatutoryAudit?Id=" + dataItem.Id + "&EntityID=" + @ViewBag.EntityID;
            var wnd = $("#KendoPopupAuditor").data("kendoWindow");
            var opts = wnd.options;
        }
        else {
            $("#KendoPopupAuditor").kendoWindow({
                title: "Add - Statutory Auditor",
            });
            //$("#KendoPopupAuditor").attr("style", "min-height:100px;");
            direction = "Open_popforStatutoryAudit?Id="+ 0 + "&EntityID=" + @ViewBag.EntityID;
            var wnd = $("#KendoPopupAuditor").data("kendoWindow");
            var opts = wnd.options;
        }
        wnd = $("#KendoPopupAuditor").kendoWindow({
            title: "Edit - Auditor Master",
            pinned:true,
            actions: [
                         "Pin",
                         "Minimize",
                         "Maximize",
                         "Close"
            ],
            content: direction,
            width: "98%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefresh(); },
            close: function (e) {
                $(this.element).empty();
                $('#gridKendoStatutory').data('kendoGrid').dataSource.read();
                $('#gridKendoStatutory').data('kendoGrid').refresh();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {
                OnOpen();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "98%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.refresh(direction);
        wnd.open();
    }

    $("#SecreterialCreatenew").click(function (e) {
        e.preventDefault();
        editSecreterial(e);
    });

    function editSecreterial(e) {

        e.preventDefault();
        OnOpen('a');

        //$("#KendoPopupAuditor").attr("style", "min-height:100px;");

        if (e.currentTarget.innerText != "New") {
            $("#KendoPopupAuditor").kendoWindow({
                title: "Edit - Secretarial Auditor",
            });
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            direction = "Open_PopUpForsacreterialAuditor?Id=" + dataItem.Id + "&EntityID=" + @ViewBag.EntityID;
            var wnd = $("#KendoPopupAuditor").data("kendoWindow");
            var opts = wnd.options;
        }
        else {
            $("#KendoPopupAuditor").kendoWindow({
                title: "Add - Secretarial Auditor",
            });
            //$("#KendoPopupAuditor").attr("style", "min-height:100px;");
            direction = "Open_PopUpForsacreterialAuditor?Id="+ 0 + "&EntityID=" + @ViewBag.EntityID;
            var wnd = $("#KendoPopupAuditor").data("kendoWindow");
            var opts = wnd.options;
        }
        wnd = $("#KendoPopupAuditor").kendoWindow({
            title: "Edit - Auditor Master",
            actions: [
                         "Pin",
                         "Minimize",
                         "Maximize",
                         "Close"
            ],
            content: direction,
            width: "50%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefresh(); },
            close: function (e) {
                $(this.element).empty();
                $('#gridKendoSecreterial').data('kendoGrid').dataSource.read();
                $('#gridKendoSecreterial').data('kendoGrid').refresh();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {
                OnOpen();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "50%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.refresh(direction);
        wnd.open();
    }
    function adjustSize() {
        // if ($(window).width() < 500 || $(window).height() < 400) {
        //   this.maximize();
        // }
    }

    $("#InternalCreatenew").click(function (e) {
        e.preventDefault();
        editInternal(e);
    });

    function editInternal(e) {

        e.preventDefault();
        OnOpen('a');

        //$("#KendoPopupAuditor").attr("style", "min-height:100px;");

        if (e.currentTarget.innerText != "New") {
            $("#KendoPopupAuditor").kendoWindow({
                title: "Edit - Internal Auditor",
            });
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            direction = "Open_PopUpForInternalAuditor?Id=" + dataItem.Id + "&EntityID=" + @ViewBag.EntityID;
            var wnd = $("#KendoPopupAuditor").data("kendoWindow");
            var opts = wnd.options;
        }
        else {
            $("#KendoPopupAuditor").kendoWindow({
                title: "Add - Internal Auditor",
            });
            //$("#KendoPopupAuditor").attr("style", "min-height:100px;");
            direction = "Open_PopUpForInternalAuditor?Id="+ 0 + "&EntityID=" + @ViewBag.EntityID;
            var wnd = $("#KendoPopupAuditor").data("kendoWindow");
            var opts = wnd.options;
        }
        wnd = $("#KendoPopupAuditor").kendoWindow({
            title: "Edit - Auditor Master",
            actions: [
                         "Pin",
                         "Minimize",
                         "Maximize",
                         "Close"
            ],
            content: direction,
            width: "60%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefresh(); },
            close: function (e) {
                $(this.element).empty();
                $('#gridKendoInternal').data('kendoGrid').dataSource.read();
                $('#gridKendoInternal').data('kendoGrid').refresh();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {
                OnOpen();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "60%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.refresh(direction);
        wnd.open();
    }

    $("#CostAuditorCreatenew").click(function (e) {
        e.preventDefault();
        editCostAuditor(e);
    });

    function editCostAuditor(e) {

        e.preventDefault();
        OnOpen('a');

        //$("#KendoPopupAuditor").attr("style", "min-height:100px;");

        if (e.currentTarget.innerText != "New") {
            $("#KendoPopupAuditor").kendoWindow({
                title: "Edit - Cost Auditor",
            });
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            direction = "Open_PopUpForCostAuditor?Id=" + dataItem.Id + "&EntityID=" + @ViewBag.EntityID;
            var wnd = $("#KendoPopupAuditor").data("kendoWindow");
            var opts = wnd.options;
        }
        else {
            $("#KendoPopupAuditor").kendoWindow({
                title: "Add - Cost Auditor",
            });
            //$("#KendoPopupAuditor").attr("style", "min-height:100px;");
            direction = "Open_PopUpForCostAuditor?Id="+ 0 + "&EntityID=" + @ViewBag.EntityID;
            var wnd = $("#KendoPopupAuditor").data("kendoWindow");
            var opts = wnd.options;
        }
        wnd = $("#KendoPopupAuditor").kendoWindow({
            title: "Edit - Auditor Master",
            actions: [
                         "Pin",
                         "Minimize",
                         "Maximize",
                         "Close"
            ],
            content: direction,
            width: "50%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefresh(); },
            close: function (e) {
                $(this.element).empty();
                $('#gridKendoCost').data('kendoGrid').dataSource.read();
                $('#gridKendoCost').data('kendoGrid').refresh();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {
                OnOpen();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "50%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.refresh(direction);
        wnd.open();
    }


    function adjustSize() {
        // if ($(window).width() < 500 || $(window).height() < 400) {
        //   this.maximize();
        // }
    }
    function OnRefresh() {
        var wnd = $("#KendoPopupAuditor").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function OnOpen(e) {
        var wnd = $("#KendoPopupAuditor").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }

    function filterProducts() {
        return {
            stateId: $("#stateId").val()
        };
    }

    function filterProductss() {
        return {
            CountryId: $("#CountryId").val()
        };
    }

    $(document).on("change", "input[name='IsJoin_Auditor_Appointed']", function () {


        if (this.value == "True") {
            $('#txtAuditor_Number').val("");
            $("#DivAuditorslist").hide();
            $("#txtAuditor_Number").attr("readonly", false);

        }
        else {

            $('#txtAuditor_Number').val(1);
            $("#DivAuditorslist").show();
            $("#txtAuditor_Number").attr("readonly", true);
            $("#frmUpdatestatutoryAuditor").submit();
            $("#txtAuditor_Number").attr("readonly", true);

        }
    })

    $(document).on("change", "input[name='Auditor_AGM']", function () {

        var ddlnatureofappointment = $("#txtNature_of_Appointment").data("kendoDropDownList").value();
        var datepikerdpDate_AGM = document.getElementById("dpDate_AGM");

        if (ddlnatureofappointment == 2 && this.value == "True") {
            datepikerdpDate_AGM.setAttribute("required", "required");

        }
        else if (ddlnatureofappointment == 2 && this.value == "False")
        {
            document.getElementById("Auditor_AGM").checked = true;
            alert("Please change nature of Appointment");
        }
        else{
            datepikerdpDate_AGM.removeAttribute("required");
            document.getElementById("Auditor_AGM").checked = false;
            var datepicker = $("#dpDate_AGM").data("kendoDatePicker");
            datepicker.readonly();
        }

    })

    $(document).on("change", "input[name='Reasons_casual_vacancy']", function () {

        var personvacated = $("#ddlpersonvacated").data("kendoDropDownList").value();
        var SRN_Relevent_form = document.getElementById("txtSRN_relevent_form");
        var dateofvacancy = document.getElementById("dpDate_vacancy");
        var ddlnatureofappointment = $("#txtNature_of_Appointment").data("kendoDropDownList").value();

        if (ddlnatureofappointment == 4 && this.value == "True")
        {
            SRN_Relevent_form.setAttribute("required", "required");
            personvacated.setAttribute("required", "required");
            dateofvacancy.setAttribute("required", "required");
        }
        else if (ddlnatureofappointment == 4 && this.value == "False")
        {
            document.getElementById("rdbIsReasons_casual_vacancy").checked = true;

            alert("Please change nature of Appointment");
        }
        else if(this.value == "False")
        {
            $("#txtSRN_relevent_form").attr("readonly", true);
            var Date_vacancy = $("#dpDate_vacancy").data("kendoDatePicker");
            Date_vacancy.readonly();
            $("#txtMembership_Number_or_Registrationfirm").attr("readonly", true);
            var personalvacation = $("#ddlpersonvacated").data("kendoDropDownList");
            personalvacation.readonly();
            $("#txtSRN_relevent_form").val("");
            $("#txtMembership_Number_or_Registrationfirm").val("");
            $("#dpDate_vacancy").val("");
            $("#ddlpersonvacated").val("");
        }

        else if(this.value == "True")
        {
            $("#txtSRN_relevent_form").attr("readonly", false);

            var Date_vacancy = $("#dpDate_vacancy").data("kendoDatePicker");
            Date_vacancy.readonly(false);


            $("#txtMembership_Number_or_Registrationfirm").attr("readonly", false);


            var personalvacation = $("#ddlpersonvacated").data("kendoDropDownList");
            personalvacation.readonly(false);
        }
    })


    function AuditChange()
    {
        var rbIsjointAuditor = document.getElementById("IsJoin_Auditor_Appointed");
        var txtauditval= $("#txtAuditor_Number").val();

        var txtauditval= $("#txtAuditor_Number").val();
        if(txtauditval==1)
        {
            alert("Audit Number is greater then 1")
            $("#txtAuditor_Number").val("");
        }
        else if(txtauditval>1)
        {
            var ddljointAuditorss = $("#ddlMmultipleSelectorAuditor").data("kendoMultiSelect");
            ddljointAuditorss.options.maxSelectedItems = txtauditval;
        }
    }

    function datepikerAGMDate(){
        var getAGMdate=$("#dpDate_AGM").val();
        if(getAGMdate!='')
        {
            $("#dpdateofAppointment").val();
        }
    }

    function GetSalutation(value) {
        if(value == "1"){
            return "First auditor by Board of directors/members";
        } else if (value == "2") {
            return "Appointment/Re-appointment in AGM";
        } else if (value == "3") {
            return "Re-appointment in AGM";
        } else if (value == "4") {
            return "Auditor appointed in case of casual vacancy";
        } else if (value == "5") {
            return "Auditor appointed by the Tribunal";
        } else if (value == "6") {
            return "Auditor appointed in case of non-re-appointment/ removal of the previous auditor";
        }
    }

    function iterateMeeting(object) {
        var str = "";
        if (object !== null && object.length > 0) {
            for (var x = 0; x < object.length; x++) {
                str += object[x].Name + ", ";
            }
        } else {
            str += "";
        }
        return trimChars(str, ", ");
    }

    function trimChars (str, c) {
        var re = new RegExp("^[" + c + "]+|[" + c + "]+$", "g");
        return str.replace(re, "");
    }



    function editStaturoryRegignation(e) {

        e.preventDefault();
        
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        if(dataItem.IsTenureCompleted == true){

        }
        else{

            OnOpene('aa');
            $("#KendoPopupAuditorRegignaton").kendoWindow({
                title: "Resignation of Auditor",
            });

            direction = "Open_PopUpForResignation?Id=" + dataItem.Id +"&AuditorId="+dataItem.AuditorId+ "&AU=SA&EntityID=" + @ViewBag.EntityId;
            var wnd = $("#KendoPopupAuditorRegignaton").data("kendoWindow");
            var opts = wnd.options;

            wnd = $("#KendoPopupAuditorRegignaton").kendoWindow({
                title: "Edit",
                actions: [
                             "Pin",
                             "Minimize",
                             "Maximize",
                             "Close"
                ],
                content: direction,
                width: "70%",
                position: {
                    top: 100, // or "100px"
                },

                visible: false,
                modal: true,
                refresh: function () { this.center(); OnRefreshe(); },
                close: function (e) {
                    $(this.element).empty();
                    $('#gridKendoStatutory').data('kendoGrid').dataSource.read();
                    $('#gridKendoStatutory').data('kendoGrid').refresh();
                    $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                },
                open: function (e) {
                    OnOpene();
                    $(this.element).closest(".k-window").css("position", "fixed")
                    $(".k-overlay").attr('style', "opacity:0.5; display:block;");
                }
            }).data("kendoWindow");
            opts.width = "70%";

            wnd.setOptions(opts);
            wnd.center();
            wnd.open();
        }
    }

    function editInternalResignation(e) {

        e.preventDefault();
        OnOpene('aa');

        $("#KendoPopupAuditorRegignaton").kendoWindow({
            title: "Resignation of Auditor",
        });


        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        direction = "Open_PopUpForResignation?Id=" + dataItem.Id +"&AuditorId="+dataItem.Auditor_Id+ "&AU=IA&EntityID=" + @ViewBag.EntityId;
        var wnd = $("#KendoPopupAuditorRegignaton").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#KendoPopupAuditorRegignaton").kendoWindow({
            title: "Edit",
            actions: [
                         "Pin",
                         "Minimize",
                         "Maximize",
                         "Close"
            ],
            content: direction,
            width: "70%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefreshe(); },
            close: function (e) {
                $(this.element).empty();
                $('#gridKendoInternal').data('kendoGrid').dataSource.read();
                $('#gridKendoInternal').data('kendoGrid').refresh();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {
                OnOpene();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "70%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.refresh(direction);
        wnd.open();
    }

    function editSecretarialResignation(e) {

        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        if(dataItem.IsTenureCompleted){

        }
        else{
            OnOpene('aa');

            $("#KendoPopupAuditorRegignaton").kendoWindow({
                title: "Resignation of Auditor",
            });

            direction = "Open_PopUpForResignation?Id=" + dataItem.Id +"&AuditorId="+dataItem.AuditorID+ "&AU=SCA&EntityID=" + @ViewBag.EntityId;
            var wnd = $("#KendoPopupAuditorRegignaton").data("kendoWindow");
            var opts = wnd.options;

            wnd = $("#KendoPopupAuditorRegignaton").kendoWindow({
                title: "Edit",
                actions: [
                             "Pin",
                             "Minimize",
                             "Maximize",
                             "Close"
                ],
                content: direction,
                width: "70%",
                position: {
                    top: 100, // or "100px"
                },

                visible: false,
                modal: true,
                refresh: function () { this.center(); OnRefreshe(); },
                close: function (e) {
                    $(this.element).empty();
                    $('#gridKendoSecreterial').data('kendoGrid').dataSource.read();
                    $('#gridKendoSecreterial').data('kendoGrid').refresh();
                    $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                },
                open: function (e) {
                    OnOpene();
                    $(this.element).closest(".k-window").css("position", "fixed")
                    $(".k-overlay").attr('style', "opacity:0.5; display:block;");
                }
            }).data("kendoWindow");
            opts.width = "70%";

            wnd.setOptions(opts);
            wnd.center();
            wnd.open();
        }
    }

    function editCostResignation(e) {

        e.preventDefault();
        OnOpene('aa');

        $("#KendoPopupAuditorRegignaton").kendoWindow({
            title: "Resignation of Auditor",
        });


        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        direction = "Open_PopUpForResignation?Id=" + dataItem.Id +"&AuditorId="+dataItem.AuditorId+ "&AU=CA&EntityID=" + @ViewBag.EntityId;
        var wnd = $("#KendoPopupAuditorRegignaton").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#KendoPopupAuditorRegignaton").kendoWindow({
            title: "Edit",
            actions: [
                         "Pin",
                         "Minimize",
                         "Maximize",
                         "Close"
            ],
            content: direction,
            width: "70%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefreshe(); },
            close: function (e) {
                $(this.element).empty();
                $('#gridKendoCost').data('kendoGrid').dataSource.read();
                $('#gridKendoCost').data('kendoGrid').refresh();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {
                OnOpene();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "70%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.refresh(direction);
        wnd.open();
    }

    function adjustSizee() {
        // if ($(window).width() < 500 || $(window).height() < 400) {
        //   this.maximize();
        // }
    }

    function OnRefreshe() {
        var wnd = $("#KendoPopupAuditorRegignaton").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function OnOpene(e) {
        var wnd = $("#KendoPopupAuditorRegignaton").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }   
</script>
