﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMTask
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;


<script id="fileTemplate" type="text/x-kendo-template">
    <span class='k-progress'></span>
    <div class='file-wrapper'>
        <span class='file-icon #=addExtensionClass(files[0].extension)#'></span>
        <h4 class='file-heading file-name-heading'>Name: #=name#<\br></h4>
        <h4 class='file-heading file-size-heading'>Size: #=size# bytes</h4>
        <strong class="k-upload-status">
            <button type='button' class='k-upload-action'></button>
            @*<button type='button' class='k-upload-action'></button>*@
        </strong>
    </div>
</script>

<script type="text/javascript">
    function addExtensionClass(extension) {
        switch (extension) {
            case '.jpg':
            case '.img':
            case '.png':
            case '.gif':
                return "img-file";
            case '.doc':
            case '.docx':
                return "doc-file";
            case '.xls':
            case '.xlsx':
                return "xls-file";
            case '.pdf':
                return "pdf-file";
            case '.zip':
            case '.rar':
                return "zip-file";
            default:
                return "default-file";
        }
    }
</script>

<style>
    .k-file-success .k-progress {
        background-color: #ffffff;
    }

    .file-icon {
        display: inline-block;
        float: left;
        width: 48px;
        height: 48px;
        margin-left: 10px;
        margin-top: 13.5px;
    }

    .img-file {
        background-image: url(/content/web/upload/jpg.png);
    }

    .doc-file {
        background-image: url(/content/web/upload/doc.png);
    }

    .pdf-file {
        background-image: url(/content/web/upload/pdf.png);
    }

    .xls-file {
        background-image: url(/content/web/upload/xls.png);
    }

    .zip-file {
        background-image: url(/content/web/upload/zip.png);
    }

    .default-file {
        background-image: url(/content/web/upload/default.png);
    }

    #example .file-heading {
        font-family: Arial;
        font-size: 1.1em;
        display: inline-block;
        float: left;
        width: 60%;
        margin: 0 0 0 20px;
        height: 25px;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    #example .file-name-heading {
        font-weight: bold;
        margin-top: 20px;
    }

    #example .file-size-heading {
        font-weight: normal;
        font-style: italic;
    }

    li.k-file div.file-wrapper {
        position: relative;
        height: 75px;
    }

    .validation {
        color: red;
    }

    .k-upload .k-upload-selected {
        color: #2e2e2e;
        border-color: #d5d5d5;
    }
</style>

<script>

    function filterProducts() {

        return {
            MeetingId: $("#MeetingId").val()
        };
    }

    function filterMeeting() {

        var EntityId = $("#EntityId").data("kendoDropDownList").value();
        return {
            EntityId: EntityId
        };
    }


</script>
@if (Model.Id > 0)
{
    <script>
        function filterTaskId() {
            return {
                TaskId: '@Model.Id'
            }
        }
    </script>
}
<script>
    function onRowBoundTaskDocument(e) {
        GetICons();
        var grid = $("#gridKendoForFile").data("kendoGrid");
        //grid.thead.css("background-color", "green")
        getGridborder(grid);
    }
</script>

<div class="row colpadding0" style="max-height:530px !important;overflow-y:auto;overflow-x:hidden">
    <div class="col-md-12 colpadding0">
        <!-- this will be the content of the popup -->
        @if (Model.successMessage)
        {
            <div class="row">
                <div class="col-md-12">

                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.successErrorMsg)))
                        {
                            <lable>@Model.successErrorMsg</lable>
                        }
                    </div>

                </div>
            </div>
        }

        @if (Model.errorMessage)
        {
            <div class="row">

                <div class="col-md-12">
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.successErrorMsg)))
                        {
                            <lable>@Model.successErrorMsg</lable>
                        }
                    </div>
                </div>
            </div>
        }
        <div id="collapsible" data-role="collapsible" data-collapse-icon="arrow-up" data-expand-icon="arrow-down">
            <div id="DivTask">
                @using (Ajax.BeginForm("CreateUpdateTask", "Task", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivTask", OnBegin = "OnOpenTask", OnComplete = "OnRefreshTask" }, new { id = "frmUpdateTask", enctype = "multipart/form-data" }))
                {
                    <div class="row colpadding0">
                        <div class="col-md-12 colpadding0">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.Tasklevel)
                            @if (Model.Tasklevel == "M")
                            {
                                @Html.HiddenFor(model => model.MeetingType)
                                @Html.HiddenFor(model => model.EntityId)
                                @Html.HiddenFor(model => model.AgendaId)
                                @Html.HiddenFor(model => model.TaskType)

                            }
                            @if (Model.Tasklevel != "M")
                            {
                                <div class="row mt30 colpadding0">
                                    <div class="col-md-12 colpadding0">
                                        <div class="col-md-4 colpadding0">
                                            <div class="col-md-4 colpadding0">

                                                <label for="txtTaskTitle" class="control-label">Type</label><span class="validation">*</span>

                                                @(Html.Kendo().DropDownList()
.Name("TaskType")
.DataTextField("Text")
.DataValueField("Value")
.HtmlAttributes(new { style = "width: 100%" })
.BindTo(new List<SelectListItem>()
{
               new SelectListItem() {
                Text = "Select", Value ="0"
              },
              new SelectListItem() {
                Text = "Meeting", Value ="1"
              },
              new SelectListItem() {
                Text = "Agenda", Value ="2"
              },
              //new SelectListItem() {
              //  Text = "Compliance", Value ="3"
              //},
              new SelectListItem() {
                Text = "Other", Value ="4"
              },

})
.HtmlAttributes(new { @style = "width: 90%", @Id = "TaskType", @onchange = "ddlTaskType()" })
                                                )

                                                @Html.ValidationMessageFor(model => model.TaskTitle, "", new { @class = "text-danger" })

                                            </div>

                                            <div class="col-md-8 colpadding0" id="divEntityId">
                                                <label for="txtTaskTitle" class="control-label">Entity</label><span class="validation"></span>

                                                @(Html.Kendo().DropDownListFor(m => m.EntityId)

.DataTextField("EntityName")
.Filter("contains")
.DataValueField("Id")
.OptionLabel("Select")
.DataSource(source =>
{
    source.Read(read =>
    {
        read.Url("/api/EntityMasterAPI/GetEntityListForTask").Type(HttpVerbs.Get);
    })
    .ServerFiltering(true);
}).HtmlAttributes(new { @style = "width: 95%", @Id = "EntityId" })
                                                )

                                                @Html.ValidationMessageFor(model => model.EntityId, "", new { @class = "text-danger" })

                                            </div>
                                        </div>

                                        <div class="col-md-8 colpadding0">
                                            <div id="Meeting">
                                                <div class="col-md-5 colpadding0">

                                                    <label for="txtTaskTitle" class="control-label">Meeting</label><span></span>

                                                    @(Html.Kendo().DropDownList()
.Name("MeetingType")
.HtmlAttributes(new { style = "width:95%;", @Id = "MeetingId" })
.DataTextField("MeetingTitle")
.DataValueField("MeetingId")
// .Filter(FilterType.Contains)
.DataSource(source =>
{
    source.Read(read =>
    {
        read.Url("/api/TaskAPI/GetMeetingList").Data("filterMeeting").Type(HttpVerbs.Get);
    })
     .ServerFiltering(true);
})
                .CascadeFrom("EntityId")
                .Enable(false)
                .AutoBind(true)
                                                    )

                                                    @Html.ValidationMessageFor(model => model.MeetingType, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div id="Agenda">
                                                <div class="col-md-7 colpadding0">

                                                    <label for="txtTaskTitle" class="control-label">Agenda</label><span></span>

                                                    @(Html.Kendo().DropDownList()
.Name("AgendaId")
.HtmlAttributes(new { style = "width:95%;", @Id = "AgendaId" })
    .DataTextField("AgendaItemText")
.DataValueField("MeetingAgendaMappingID")
.Filter(FilterType.Contains)
.DataSource(source =>
{
    source.Read(read =>
    {

        read.Url("/api/TaskAPI/GetAgendaList").Data("filterProducts").Type(HttpVerbs.Get);
    })
    .ServerFiltering(true);
})
.Enable(false)
.AutoBind(false)
.CascadeFrom("MeetingId")
                                                    )

                                                    @Html.ValidationMessageFor(model => model.AgendaId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div id="Complience">
                                                <div class="col-md-4 colpadding0">

                                                    <label for="txtTaskTitle" class="control-label">Complience</label><span></span>

                                                    @(Html.Kendo().DropDownList()
.Name("ComId")
.DataTextField("ProductName")
.DataValueField("ProductID")
.DataSource(source =>
{
    source.Read(read =>
    {
        read.Url("").Type(HttpVerbs.Get);
    })
    .ServerFiltering(true);
}).HtmlAttributes(new { @style = "width: 90%", @Id = "ComplId" })
                                                    )

                                                    @Html.ValidationMessageFor(model => model.AgendaId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="row mt30 colpadding0">
                                <div class="col-md-12 colpadding0">

                                    <div class="col-md-5 colpadding0">

                                        <label for="txtTaskTitle" class="control-label">Title</label><span class="validation">*</span>

                                        @Html.TextBoxFor(m => m.TaskTitle, new { @class = "k-textbox", style = "width: 97%;", @Id = "TaskTitle" })
                                        @Html.ValidationMessageFor(model => model.TaskTitle, "", new { @class = "text-danger" })

                                    </div>

                                    <div class="col-md-7 colpadding0">
                                        @*<div class="col-md-4 colpadding0">

                                                                                        <label for="txtTaskTitle" class="control-label">Assign on</label><span class="validation"></span>

                                                                                        @(Html.Kendo().DatePicker().Name("AssignOnDate").Format("dd/MM/yyyy")
                                            .HtmlAttributes(new { style = "width: 90%", title = "Assign Date", @Id = "AssignToDate", @onchange = "checkDate(this)" })
                                                                                        )

                                                                                        @Html.ValidationMessageFor(model => model.AssignOnDate, "", new { @class = "text-danger" })
                                                                                    </div>*@

                                        <div class="col-md-4 colpadding0">

                                            <label for="txtTaskTitle" class="control-label">Due Date</label><span class="validation">*</span>

                                            @(Html.Kendo().DatePicker().Name("DueDate").Format("dd/MM/yyyy")
                    .Min(DateTime.Now)
.HtmlAttributes(new { style = "width: 90%", title = "Due Date", @Id = "DueDate" })
                                            )

                                            @Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4 colpadding0">
                                            <label for="txtTaskTitle" class="control-label">User</label><span class="validation">*</span>
                                            @(Html.Kendo().DropDownListFor(m => m.UserId)

                  .DataTextField("Name")
                  .DataValueField("Id")

                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Url("/api/EntityUserAssignmentAPI/GetUserforTask?Role="+AuthenticationHelper.Role+ "&CustomerId="+AuthenticationHelper.CustomerID+ "&UserId="+AuthenticationHelper.UserID).Type(HttpVerbs.Get);
                      })
                      .ServerFiltering(false);
                  })

                   .HtmlAttributes(new { style = "width: 98%", @Id = "ddluser", autocomplete = "off" })
                                            )
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt30 colpadding0">

                                <div class="col-md-12 colpadding0">

                                    <div class="col-md-12 colpadding0">

                                        <label for="txtTaskTitle" class="control-label">Description</label><span class="validation"></span>

                                        @Html.TextAreaFor(m => m.Description, new { @Id = "Description", @style = "width:100%", @class = "k-textbox", @spellcheck = "true" })

                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

                                    </div>

                                </div>
                            </div>


                            <div class="row mt30 colpadding0">



                                <div class="col-md-12 colpadding0">

                                    <label for="txtTaskTitle" class="control-label">Documents</label><span class="validation"></span>

                                    <input type="file" name="files" id="files" multiple="multiple" />
                                    <div class="dropZoneElement">Drag and drop file here</div>
                                </div>
                                @Html.ValidationMessageFor(model => model.files, "", new { @class = "text-danger" })

                            </div>

                            @if (Model.Id > 0)
                            {
                                <div class="row colpadding0">
                                    <div class="col-md-12 colpadding0">
                                        @(Html.Kendo().Grid<BM_ManegmentServices.VM.TaskFile>()
.Name("gridKendoForFile")
.Columns(columns =>
{
    columns.Bound(o => o.TaskId).Visible(false);
    columns.Bound(o => o.FileId).Visible(false);
    //columns.Template(t => { }).Title("Sr No").ClientTemplate("#= renderNumber(data) #").HtmlAttributes(new { @style = "width:5%" });
    columns.Bound(o => o.FileName).Title("File Name").HtmlAttributes(new { @style = "width:80%" });

    columns.Command(command =>
    {
        command.Custom("Delete").Click("openWindow").HtmlAttributes(new { @class = "k-grid-delete" });
        command.Custom("Download").Click("DownloadTaskFile").HtmlAttributes(new { @class = "k-grid-download" });
        command.Custom("View").Click("ViewTaskFile").HtmlAttributes(new { @class = "k-grid-view" });
    })
    .Title("Action").HtmlAttributes(new { @style = "width:20%" });
})
.EnableCustomBinding(true)
.Navigatable()
.Pageable(pageable => pageable
.PageSizes(true)
.ButtonCount(5))
.DataSource(dataSource => dataSource
.WebApi()
.PageSize(5)
.ServerOperation(false)
.Model(model =>
{
    model.Id(o => o.Id);
})
.Read(read => read.Url("/api/TaskAPI/GetTaskFileDetails").Data("filterTaskId").Type(HttpVerbs.Get))
).Events(e => e.DataBound("onRowBoundTaskDocument")))
                                    </div>
                                </div>
                            }



                            <div class="row colpadding0 mt30">
                                <div class="col-md-12 colpadding0" style="text-align:center">
                                    <button type="submit" id="btnsave" class="btn btn-primary" value="Save" name="submitButton"><span class=""></span>Save</button>
                                    <button type="button" id="btnholidayclose" class="btn btn-primary" value="Close"><span class=""></span>Close</button>

                                </div>
                            </div>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<script>

    var validator1 = $("#frmUpdateTask").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");

    $("#btnholidayclose").click(function()
    {
        $('#wndTask').data("kendoWindow").close();
        $('#gridKendo').data('kendoGrid').dataSource.read();
        $('#gridKendo').data('kendoGrid').refresh();
    })
    function ddlTaskType() {

        if ("@Model.Tasklevel" != "M") {
            var tasktypeval = $("#TaskType").data("kendoDropDownList").value();

            // call for hide kendo dropdown call
            if (tasktypeval == 1) {
                $("#Meeting").show();
                $("#Agenda").hide();
                $("#Complience").hide();
                $("#divEntityId").show();
            }
            else if (tasktypeval == 2) {
                $("#Meeting").show();
                $("#Agenda").show();
                $("#Complience").hide();
                $("#divEntityId").show();
            }
            else if (tasktypeval == 3) {
                $("#Complience").show();
                $("#Meeting").hide();
                $("#Agenda").hide();
                $("#divEntityId").show();
            }
            else if (tasktypeval == 4) {
                $("#Meeting").hide();
                $("#Agenda").hide();
                $("#Complience").hide();
                $("#divEntityId").hide();
            }
            else if (tasktypeval == 0) {
                $("#Meeting").hide();
                $("#Agenda").hide();
                $("#Complience").hide();
                $("#divEntityId").hide();
            }
        }
    }

    $(document).ready(function () {
        $("#AssignToDate").removeAttr("data-val-date");
        $("#DueDate").removeAttr("data-val-date");

        if ($("#AssignToDate").val() == "01/01/0001") {
            $("#AssignToDate").val('');
        }

        if ($("#DueDate").val() == "01/01/0001") {
            $("#DueDate").val('');
        }

    });

    function checkDate(e) {

        if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
            e.value = '';
        }
    }


    $(document).ready(function () {
        $("#files").kendoUpload({

            //template: kendo.template($('#fileTemplate').html()),
            async: {
                saveUrl: "/BM_Management/Task/CreateUpdateTask",
                autoUpload: false,
                removeUrl: "/BM_Management/Task/Templates_Remove",
                batch: true
            },
            validation: {
                allowedExtensions: [".doc", ".docx", ".pdf", ".pdf", ".zip", ".rar", ".xls", ".xlsx"]
            },
            dropZone: ".dropZoneElement"
        });
    });
    //$("#files").kendoUpload({

    //    async: {

    //        saveUrl: "/BM_Management/Task/CreateUpdateTask",
    //        removeUrl: "/BM_Management/Task/Templates_Remove",
    //        autoUpload: false,
    //        batch: true
    //    },
    //    //files: initialFiles,
    //});

    // function uploadSelected()
    $("#btnsave").click(function () {

        $(".k-upload-selected").click();
    })

    $(document).ready(function () {
        if ("@Model.Tasklevel" != "M") {
            var tasktypeval = $("#TaskType").data("kendoDropDownList").value();

            if (tasktypeval == 1) {
                $("#Meeting").show();
                $("#Agenda").hide();
                $("#Complience").hide();
                $("#divEntityId").show();

            }
            else if (tasktypeval == 2) {
                $("#Meeting").show();
                $("#Agenda").show();
                $("#Complience").hide();
                $("#divEntityId").show();

            }
            else if (tasktypeval == 3) {
                $("#Complience").show();
                $("#Meeting").hide();
                $("#Agenda").hide();
                $("#divEntityId").show();

            }
            else if (tasktypeval == 4) {
                $("#Meeting").hide();
                $("#Agenda").hide();
                $("#Complience").hide();
                $("#divEntityId").hide();

            }
            else if (tasktypeval == 0) {
                $("#Meeting").hide();
                $("#Agenda").hide();
                $("#Complience").hide();
                $("#divEntityId").hide();

            }
        }
    })

    function DownloadFile(e) {

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location.href = "@Url.Action("TaskFileDownload", "Task")?Id=" + dataItem.Id;
    }

    function ViewFile() {
        alert(2);
    }
</script>

<style>
    .k-clear-selected, .k-upload-selected {
        display: none !important;
    }
</style>
