﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMTask
@using BM_ManegmentServices.Data;

<script>
    $(document).ready(function () {

        $("#panelbarEditDirector").kendoPanelBar({
            expandMode: "single"
        });
    });
</script>
<script>
    var rowNumbers = 0;
    var rowNumbers1 = 0;

    function onRowBounds(e) {
        GetICons();
    }

    function onRowBounds1(e) {
        GetICons();
    }

    function renderNumber1(data) {
        return ++rowNumbers;
    }
    function renderNumber2(data) {
        return ++rowNumbers1;
    }

    function DownloadFile1(e) {
        
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location.href = "@Url.Action("TaskFileDownload1", "Task")?Id=" + dataItem.TaskId;
    }
    function OnOpen()
    {

    }
    function OnRefresh()
    {

    }

    $(document).ready(function () {
        var textremark = $("#txtRemark");
        dataValidation(textremark, 'Please enter remark');
    }

  )
    function dataValidation(e, msg) {
        e.attr("data-val", "true");
        e.attr("data-val-required", msg);
    }
</script>

<div class="row colpadding0" style="max-height:530px !important;overflow-y:auto;width:100%">
    <div class="col-md-12 colpadding0">
        <div id="DivTaskPerformer">
            @using (Ajax.BeginForm("CreateUpdateTaskPerformer", "Task", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivTaskPerformer", OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmUpdatePerformer", enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(m => m.Id)
                @*@Html.HiddenFor(m => m.Role,4)*@
                @Html.HiddenFor(m => m.Role, new { value = 4 })
                <input type="hidden" value=4 id="Role" />
              

                <div class="demo-section k-content">
                    <ul class="k-widget k-panelbar k-reset k-header" id="panelbarEditDirector" data-role="panelbar" tabindex="0" role="menu">
                        <li class="k-item k-state-default k-first k-state-active" aria-expanded="true" role="menuitem">
                            <span class="k-link k-header">
                                Task Details <span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span>

                            </span>


                            <span id='notification'></span>
                            <div class="row colpadding0" style="display: block;
    margin-left: 1%;
    margin-right: 1%;margin-bottom:1%">
                                <div class="row colpadding0 mt30">
                                    <div class="col-md-12 colpadding0">
                                       
                                        @if (ViewBag.Taskdetails != null)
                                        {
                                            <table class="table">
                                                <thead>

                                                    <tr>
                                                        <th class="col-md-2" style="vertical-align:top;">
                                                            Task Title:
                                                        </th>

                                                        <th class="col-md-5">@ViewBag.Taskdetails.TaskTitle</th>
                                                    </tr>

                                                    <tr>
                                                        <th class="col-md-2" style="vertical-align:top;">
                                                            Task Description
                                                        </th>

                                                        <th class="col-md-5">@ViewBag.Taskdetails.Description</th>
                                                    </tr>

                                                    <tr>
                                                        <th class="col-md-2">
                                                            Due Date
                                                        </th>

                                                        <th class="col-md-5">@ViewBag.Taskdetails.DueDate</th>
                                                    </tr>

                                                </thead>
                                            </table>
                                        }
                                    </div>
                                </div>
                                <div class="row colpadding0">
                                    <div class="col-md-12 colpadding0">

                                        <fieldset class="col" id="divtype" style="display:@(ViewBag.lstTaskType.TaskTypeNameforMeeting == "Meeting" ? "block" : "none")">
                                            <legend><label style="font-size:17px">@ViewBag.lstTaskType.TaskTypeNameforMeeting</label></legend>
                                            @if (ViewBag.lstTaskType != null)
                                            {
                                                if (@ViewBag.lstTaskType.TaskTypeNameforMeeting == "Meeting")
                                                {
                                                    <table class="table">
                                                        <thead>

                                                            <tr>
                                                                <th class="col-md-2">
                                                                    Meeting Type:
                                                                </th>

                                                                <th class="col-md-5">@ViewBag.lstTaskType.MeetingType</th>
                                                            </tr>

                                                            <tr>
                                                                <th class="col-md-2">
                                                                    Meeting Date:
                                                                </th>
                                                             @if (ViewBag.lstTaskType.MettingDate != null)
                                                             {
                                                                <th class="col-md-5">@(ViewBag.lstTaskType.MettingDate.ToString("dd/MM/yyyy"))</th>
                                                             }
                                                            </tr>

                                                            <tr>
                                                                <th class="col-md-2">
                                                                    Meeting Detail:
                                                                </th>

                                                                <th class="col-md-5">@ViewBag.lstTaskType.MeetingPurpose</th>
                                                            </tr>

                                                        </thead>
                                                    </table>

                                                }
                                            }
                                        </fieldset>

                                        <fieldset class="col" id="divtype" style="display:@(@ViewBag.lstTaskType.TaskTypeNameforAgenda == "Agenda" ? "block" : "none" )">
                                            <legend><label style="font-size:17px">@ViewBag.lstTaskType.TaskTypeNameforAgenda</label></legend>
                                            @if (ViewBag.lstTaskType != null)
                                            {
                                                <table class="table">
                                                    <thead>

                                                        <tr>
                                                            <th class="col-md-2">
                                                                Agenda Detail:
                                                            </th>

                                                            <th class="col-md-5">@ViewBag.lstTaskType.AgendaName</th>
                                                        </tr>

                                                    </thead>
                                                </table>
                                            }
                                        </fieldset>

                                    </div>
                                </div>

                            </div>
                        </li>

                        <li class="k-item k-state-default k-state-highlight k-state-active" aria-expanded="true" role="menuitem">
                            <span class="k-link k-header k-state-selected" id="spanAgendaItemB">Task Update Details<span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span></span>
                            <div class="row " style="display: block;
    margin-left: 1%;
    margin-right: 1%;margin-top:1%;margin-bottom:1%">
                               
                                    <div class="row colpadding0">
                                        <div class="col-md-12 colpadding0">
                                            <div class="col-md-12 colpadding0">
                                                <div class="col-md-3 colpadding0">
                                                    <span class="validation"></span><label for="txtTaskTitle" class="control-label">Status:</label>
                                                </div>
                                                <div class="col-md-9 colpadding0">
                                                    @(Html.Kendo().RadioButtonFor(m => m.status).Label("Open").Value("Open").HtmlAttributes(new { }))

                                                    @(Html.Kendo().RadioButtonFor(m => m.status).Label("Rejected").Value("Rejected").HtmlAttributes(new { }))

                                                    @(Html.Kendo().RadioButtonFor(m => m.status).Label("Approved").Value("Approved").HtmlAttributes(new { }))
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <div class="row">
                                    @if (Model.successMessage)
                {
                                        <div class="col-md-12">
                                            <div class="alert alert-success alert-dismissible">
                                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                @if (!(string.IsNullOrEmpty(@Model.successErrorMsg)))
                                                {
                                                    <lable>@Model.successErrorMsg</lable>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="row">
                                    @if (Model.errorMessage)
                {
                                        <div class="col-md-12">
                                            <div class="alert alert-danger alert-dismissible">
                                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                @if (!(string.IsNullOrEmpty(@Model.successErrorMsg)))
                                                {
                                                    <lable>@Model.successErrorMsg</lable>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>

                                <div class="row colpadding0 mt30">
                                    <div class="col-md-12 colpadding0">
                                        <div class="col-md-6 colpadding0">

                                            <label for="txtTaskTitle" class="control-label">Remark</label><span class="validation" style="color:red">*</span>

                                            @(Html.Kendo().TextBoxFor(m => m.Remark).HtmlAttributes(new { @Id = "txtRemark", @style = "width:100%" }))
                                            @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row colpadding0 mt30">
                                    <div class="col-md-12 colpadding0">
                                        <input type="file" name="files" id="files1" />
                                        <div class="dropZoneElement">Drag and drop file here</div>

                                    </div>
                                </div>

                                <div class="col-md-12 colpadding0 mt30">
                                    @(Html.Kendo().Grid<BM_ManegmentServices.VM.TaskRemarks>()
        .Name("gridKendoResponse")
        .Columns(columns =>
        {
            columns.Template(t => { }).Title("Sr No").ClientTemplate("#= renderNumber2(data) #").HtmlAttributes(new { @style = "width:5%" });
            columns.Bound(o => o.TaskId).Visible(false);
            columns.Bound(o => o.User).Title("Users").HtmlAttributes(new { @style = "width:35%" });
            columns.Bound(o => o.Role).Title("Role").HtmlAttributes(new { @style = "width:20%" });
            //columns.Bound(o => o.UploadedOn).Title("Uploaded On").Format("{0:dd/MM/yyyy}").HtmlAttributes(new { @style = "width:20%" });
            columns.Bound(o => o.Remark).Title("Remark").HtmlAttributes(new { @style = "width:20%" });
            columns.Command(command =>
            {
                command.Custom("d").Click("DownloadFile1").HtmlAttributes(new { @class = "k-grid-download" });

            })
        .Title("Action").HtmlAttributes(new { @style = "width:5%" });
        })
        .EnableCustomBinding(true)

        .Events(e => e.DataBound("onRowBounds1"))
        .Navigatable()
        .Pageable(pageable => pageable
        .PageSizes(true)
        .ButtonCount(5)
        )

        .DataSource(dataSource => dataSource
        .WebApi()
        .PageSize(5)
        .ServerOperation(false)
              .Model(model =>
              {
                  model.Id(o => o.Id);
              })
        .Read(read => read.Url("/api/TaskAPI/GetPerformerDetails?TaskId=" + Model.Id).Type(HttpVerbs.Get))
                       ))
                                </div>
                            </div>
                        </li>


                        @*<li class="k-item" aria-expanded="true" role="menuitem">
                            <span class="k-link k-header" id="spanAgendaItemB">Task Document<span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span></span>

                          
                        </li>*@


                        <li class="k-item" aria-expanded="true" role="menuitem">
                            <span class="k-link k-header" id="spanAgendaItemB">Status Log<span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span></span>

                            <div id="step1Content" style="display: block;
    margin-left: 1%;
    margin-right: 1%;margin-top:1%;margin-bottom:1%">
                                @(Html.Kendo().Grid<BM_ManegmentServices.Data.BM_Task_SP_Status_Result>()
        .Name("gridKendoDocument")
        .Columns(columns =>
        {
            columns.Template(t => { }).Title("Sr No").ClientTemplate("#= renderNumber1(data) #").HtmlAttributes(new { @style = "width:5%" });
            columns.Bound(o => o.UserName).Title("Name").HtmlAttributes(new { @style = "width:20%;height:20px" });
            columns.Bound(o => o.RoleName).Title("Role").HtmlAttributes(new { @style = "width:10%;height:20px" });
            //columns.Bound(o => o.Remark).Title("Remark").HtmlAttributes(new { @style = "width:40%;height:20px" });
            columns.Bound(o => o.status).Title("Status").HtmlAttributes(new { @style = "width:20%;height:20px" });
            columns.Bound(o => o.CreatedOn).Title("status Change On").Format("{0:dd/MM/yyyy}").HtmlAttributes(new { @style = "width:20%;height:20px" });
            //columns.Command(command =>
            //{
            //    command.Custom("Download").Click("DownloadFile").HtmlAttributes(new { @class = "downloadImg1" });
            //}).Title("Action");
        })
        .EnableCustomBinding(true)

        .Events(e => e.DataBound("onRowBounds"))
        .Navigatable()
        .Pageable(pageable => pageable

        .PageSizes(true)
        .ButtonCount(5))

        .DataSource(dataSource => dataSource
        .WebApi()
        .PageSize(5)
        .ServerOperation(false)
              .Model(model =>
              {
                  model.Id(o => o.ID);
              })
        .Read(read => read.Url("/api/TaskAPI/GetPerformerstatus?TaskId=" + Model.Id).Type(HttpVerbs.Get))
                       ))
                            </div>

                    </ul>
                </div>
                <div class="row colpadding0 mt30">
                    <div class="col-md-12 colpadding0" style="text-align:center">
                        <button type="submit" id="btnsave1" class="btn btn-primary button1" value="Save" name="submitButton"><span class=""></span>Save</button>
                        <button type="button" id="btnholidayclose" class="btn btn-primary button1" value="Close"><span class=""></span>Close</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        $("#files1").kendoUpload({

            // template: kendo.template($('#fileTemplate').html()),
            async: {
                saveUrl: "/BM_Management/Task/CreateUpdateTaskPerformer",
                autoUpload: false,
                removeUrl: "/BM_Management/Task/Templates_Remove",
                batch: true
            },
            validation: {
                allowedExtensions: [".doc", ".docx", ".pdf", ".pdf", ".zip", ".rar", ".xls", ".xlsx"]
            },
            dropZone: ".dropZoneElement"
        });
    });

    $("#btnsave1").click(function (e) {

        $(".k-upload-selected").click();
    })

</script>

<style>
    .k-clear-selected, .k-upload-selected {
        display: none !important;
    }
</style>

@(Html.Kendo().Tooltip()
        .For("#gridKendoResponse")
        .Filter(".k-grid-d")
        .Position(TooltipPosition.Bottom)
        .Width(100)
        .AutoHide(true)
        .Content("Download")
)
<script>
    var validator1 = $("#frmUpdatePerformer").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");

</script>