﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMTask



<div id="example" style="max-height:530px !important;overflow-y:auto">
    <div id="window">
        <div class="container">

            <div class="row colpadding0">
                <div class="col-md-12 colpadding0">
                  @Html.Partial("_AddEditTask", Model)
                </div>
            </div>

            <div class="row colpadding0">
                <div class="col-md-12 colpadding0">
                    @Html.Partial("_TaskAssinment",Model.Id)
                

                </div>
            </div>
        </div>
    </div>
</div>
