﻿@using Kendo.Mvc.UI;
@model  BM_ManegmentServices.VM.BankAccDetails_VM
<div id="DivNewBankDetails">
    @using (Ajax.BeginForm("CreateBankDetails", "BankAccDetails", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivNewBankDetails" }, new { id = "frmNewBankDetails" }))
    {

        <div class="row colpadding0">
            @if (Model.Success)
            {
            <div class="col-md-12 colpadding0">

                <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    @if (!(string.IsNullOrEmpty(@Model.Message)))
                        {
                        <lable>@Model.Message</lable>
                        }
                </div>
            </div>
            }
        </div>

        <div class="row colpadding0">
            @if (Model.Error)
            {
            <div class="col-md-12 colpadding0">
                <div class="alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    @if (!(string.IsNullOrEmpty(@Model.Message)))
                        {
                        <lable>@Model.Message</lable>
                        }
                </div>
            </div>
            }
        </div>
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.EntityId)
        <div style="overflow:hidden">

            <div class="row colpadding0">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <lable class="control-label">Account No.</lable><span style="color:red">*</span>
                    </div>
                    <div class="col-md-7 colpadding0">
                        @Html.Kendo().TextBoxFor(model => model.AccNo).HtmlAttributes(new { style = "width: 95%;", placeholder = "Enter Account Number", })
                        @Html.ValidationMessageFor(model => model.AccNo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row mt30 colpadding0">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <lable class="control-label">&nbsp;Name of Bank</lable><span style="color:red">*</span>
                    </div>
                    <div class="col-md-7 colpadding0">
                        @Html.Kendo().TextBoxFor(model => model.BankName).HtmlAttributes(new { style = "width: 95%;", placeholder = "Enter Name Of the Bank", })
                        @Html.ValidationMessageFor(model => model.BankName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row mt30 colpadding0">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <lable class="control-label">&nbsp;Type Of Account</lable><span style="color:red">*</span>
                    </div>
                    <div class="col-md-7 colpadding0">
                        @(Html.Kendo().DropDownListFor(m => m.AccTypeId)
                                          .DataTextField("Acctype")
                                          .DataValueField("Id")
                                          .OptionLabel("Select Type")
                                          .DataSource(source =>
                                          {
                                              source.Read(read =>
                                              {
                                                  read.Url("/api/BankDetails/GetDropDownforAccType").Type(HttpVerbs.Get);
                                              })
                                              .ServerFiltering(false);
                                          }).HtmlAttributes(new { style = "width: 95%", @Id = "ddlType", autocomplete = "off" }))
                    </div>
                </div>
            </div>
            <div class="row mt30 colpadding0">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <span style="color:red"></span><lable class="control-label">&nbsp;IFSC</lable>
                    </div>
                    <div class="col-md-7 colpadding0">
                        @Html.Kendo().TextBoxFor(model => model.Ifsc).HtmlAttributes(new { style = "width: 95%;", placeholder = "Enter Your IFSC Code", })
                        @Html.ValidationMessageFor(model => model.Ifsc, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row mt30 colpadding0">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <span style="color:red"></span><lable class="control-label">&nbsp;Address</lable>
                    </div>
                    <div class="col-md-7 colpadding0">
                        @Html.Kendo().TextBoxFor(model => model.Address).HtmlAttributes(new { style = "width: 95%;", placeholder = "Enter Your Address", })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            <div class="row mt30 colpadding0">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <span style="color:red"></span><lable class="control-label">&nbsp;Opening Date</lable>
                    </div>
                    <div class="col-md-7 colpadding0">
                        @(Html.Kendo().DatePickerFor(m => m.OpenDate)
                //.Name("OpenDate")
                .Max(DateTime.Today).Format("dd/MM/yyyy")
                //.ParseFormats(new[] { "dd/MM/yyyy" })
                //.Culture("en-GB")
                .HtmlAttributes(new { style = "width:35%", @Id = "dpOpenDate", placeholder = "DD/MM/YYYY", autocomplete = "off", onchange = "checkDate(this);", })
                        )
                        @Html.ValidationMessageFor(model => model.OpenDate, "", new { @class = "text-danger" })

                    </div>
                </div>

            </div>
            <div class="row mt30 colpadding0">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <span style="color:red"></span><lable class="control-label">&nbsp;Closing Date</lable>
                    </div>
                    <div class="col-md-7 colpadding0">
                        @(Html.Kendo().DatePickerFor(m => m.CloseDate)
                //.Name("CloseDate")
                .Max(DateTime.Today).Format("dd/MM/yyyy")
                //.ParseFormats(new[] { "dd/MM/yyyy" })
                //.Culture("en-GB")
                .HtmlAttributes(new { style = "width:35%", @Id = "dpCloseDate", placeholder = "DD/MM/YYYY", autocomplete = "off", onchange = "checkDate(this);", })
                        )
                        @*@Html.ValidationMessageFor(model => model.CloseDate, "", new { @class = "text-danger" })*@
                    </div>
                </div>

            </div>

            <div class="row colpadding0 mt30">
                <div class="col-md-12 colpadding0">
                    <div class="text-center">
                        <button type="Submit" id="command_name" name="command_name" value="save" class="btn btn-primary" onclick="saveadditionalCom()">Save</button>
                    </div>
                </div>
            </div>

        </div>
    }
</div>
<script>
    function saveadditionalCom() {
        debugger;
        //var validator1 = $("#frmNewCompliances").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");

        //$("#frmNewCompliances").submit();
    }
</script>
<script>
    var validator1 = $("#frmNewBankDetails").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");

    $(document).ready(function () {
        $("#dpOpenDate").removeAttr("data-val-date");
        if ($("#dpOpenDate").val() == "01/01/0001") {
            $("#dpOpenDate").val('');
        }

        $("#dpCloseDate").removeAttr("data-val-date");
        if ($("#dpCloseDate").val() == "01/01/0001") {
            $("#dpCloseDate").val('');
        }
    });
    function checkDate(e) {
        if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
            e.value = '';
        }
    }
</script>
