﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.Composition


<div id="divcommitteeRulesDetails">
    <div id="divRule_Quorum">

                @Html.HiddenFor(m => m.RuleId)
                @Html.HiddenFor(m => m.CommitteeId)
                @Html.HiddenFor(m => m.Entity_Type)
                @Html.Hidden("RuleType","Q")

        <fieldset class="col">
            <legend class="amp-mb5"><label style="font-size:17px"></label></legend>

            <div class="row form-group">
                @if (ViewBag.lstQuorum != null)
                {
                    int counter = 0;
                    <div class="col-md-12 colpadding0">

                        <table id="tblDetailsOfQuorum">
                            <thead>
                                <tr>
                                    <th data-field="SrNo">SrNo</th>
                                    <th data-field="Rule_">Rule</th>
                                    <th data-field="Action">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.lstQuorum)
                                {
                                    counter++;
                                <tr>
                                    <td>@counter </td>
                                    <td>@Html.Raw(item.Rule)</td>
                                    <td>
                                        <button type="button" class="k-button k-button-icontext k-grid-edit k-state-disabled" style="min-width:25px;"><span class="k-icon k-edit"></span></button>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                }
            </div>


        </fieldset>
        
    </div>
</div>

<script>

    $(document).ready(function () {
        $("#tblDetailsOfQuorum").kendoGrid({
            sortable: false,
            scrollable: false
        });
    });

</script>