﻿

@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.CommitteeCompVM


<div id="divCommittee">
    @using (Ajax.BeginForm("Save", "CommitteeComposition", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divCommittee", OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmCreateCommittee", enctype = "multipart/form-data" }))
    {

        @Html.HiddenFor(m => m.Id)
        string btnName = Model == null ? "Save" : Model.Id > 0 ? "Update" : "Save";
        <div id="example">
            <div id="window">

                <div id="divDetailsNew">

                    <div class="container">

                        @if (Model.Response != null)
                        {
                            <div class="row">
                                <div class="col-md-12 colpadding0">
                                    @Html.Partial("_Response", Model.Response)
                                </div>
                            </div>
                        }

                        <div class="row mt30">
                            <div class="col-md-12 colpadding0">
                                <div class="col-md-2 colpadding0">
                                    <span style="color:red">*</span><label class="control-label">Committee Name</label>
                                </div>
                                <div class="col-md-4 colpadding0">
                                    @(Html.Kendo().TextBoxFor(m => m.Name).HtmlAttributes(new { @class = "form-control k-textbox", @Id = "Name", style = "width: 90%" }))
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-md-2 colpadding0">
                                    <label class="control-label">Description</label>
                                </div>
                                <div class="col-md-4 colpadding0">
                                    @(Html.TextAreaFor(m => m.Description_, new { @class = "form-control k-textbox", @Id = "Description_", style = "width: 90%" }))
                                </div>
                            </div>
                        </div>


                        <div class="row mt30">
                            <div class="col-md-2 colpadding0">
                                <span style="color:red">*</span><label class="control-label">Rule</label>
                            </div>
                            <div class="col-md-3 colpadding0">
                                @Html.Kendo().DropDownList().Name("Rule").BindTo(new SelectList(new List<object> {
                                    new {id="0",text="Select"},
                                    new {id="1",text="Minimum Director"},
                                    new {id="2",text="Desingation"},
                                    new {id="3",text="Chairperson"},
                                    new {id="4",text="Quorum"},
                                    new {id="5",text="Meeting"},
                                    new {id="6",text="Voting Requirement"},
                                    new {id="7",text="Board Report"}
                                    }, "id", "text")).HtmlAttributes(new { style = "width: 250px;", onchange = "ruleChange()" })
                            </div>

                            <div class="col-md-7 colpadding0">

                            </div>
                        </div>

                        <div class="row mt30">
                            <div class="col-md-3 colpadding0">

                            </div>
                            <div class="col-md-9 colpadding0">

                                <table width="80%" border="0">
                                    <thead>
                                        <tr style="text-align:center">
                                            <th class="text-center"><lable class="control-label">Private Company</lable></th>
                                            <th class="text-center"><lable class="control-label">Public Company</lable></th>
                                            <th class="text-center"><lable class="control-label">Listed Company</lable></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id="trRule1" style="text-align:center" class="hidden">
                                            <td>@Html.Kendo().TextBox().Name("Minimum_Pvt").HtmlAttributes(new { style = "width: 50px;", type = "number" })</td>
                                            <td>@Html.Kendo().TextBox().Name("Minimum_Pub").HtmlAttributes(new { style = "width: 50px;", type = "number" })</td>
                                            <td>@Html.Kendo().TextBox().Name("Minimum_Listed").HtmlAttributes(new { style = "width: 50px;", type = "number" })</td>
                                        </tr>

                                        <tr id="trRule2" style="text-align:center" class="hidden">
                                            <td style="text-align:center">
                                                <table width="80%">
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="3" style="text-align:center">
                                                                @Html.Kendo().DropDownList().Name("MinimumDesignation_Pvt1").BindTo(new SelectList(new List<object> {
                                    new {id="0",text="Select"},
                                    new {id="1",text="Executive Chairman"},
                                    new {id="2",text="MD"},
                                    new {id="3",text="KMP"},
                                    new {id="4",text="Non-Executive Chairman"},
                                    new {id="5",text="Executive"},
                                    new {id="6",text="Non-Executive"},
                                    new {id="7",text="Non-Executive Independent"},
                                    new {id="8", text="Designated Partner"}}, "id", "text")).HtmlAttributes(new { style = "width: 80%;" })
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td rowspan="2">Minimun @Html.Kendo().TextBox().Name("MinimumDesignationCount_Pvt").HtmlAttributes(new { style = "width: 50px;", type = "number" })</td>
                                                            <td rowspan="2">OR</td>
                                                            <td>@Html.Kendo().TextBox().Name("MinimumDesignationCount1_Pvt").HtmlAttributes(new { style = "width: 50px;", type = "number" })</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.Kendo().TextBox().Name("MinimumDesignationCount1_Pvt").HtmlAttributes(new { style = "width: 50px;" }, type = "number")</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td>
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td rowspan="2">Minimum @Html.Kendo().TextBox().Name("MinimumDesignationCount_Pvt").HtmlAttributes(new { style = "width: 50px;" })</td>
                                                            <td rowspan="2">OR</td>
                                                            <td>@Html.Kendo().TextBox().Name("MinimumDesignationCount1_Pvt").HtmlAttributes(new { style = "width: 50px;", type = "number" })</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.Kendo().TextBox().Name("MinimumDesignationCount1_Pvt").HtmlAttributes(new { style = "width: 50px;", type = "number" })</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td>
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td rowspan="2">@Html.Kendo().TextBox().Name("MinimumDesignationCount_Pvt").HtmlAttributes(new { style = "width: 50px;", type = "number" })</td>
                                                            <td rowspan="2">OR</td>
                                                            <td>@Html.Kendo().TextBox().Name("MinimumDesignationCount1_Pvt").HtmlAttributes(new { style = "width: 50px;", type = "number" })</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.Kendo().TextBox().Name("MinimumDesignationCount1_Pvt").HtmlAttributes(new { style = "width: 50px;", type = "number" })</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>

                                        <tr id="trRule3" class="hidden">
                                            <td>
                                                @Html.Kendo().DropDownList().Name("Chairperson_Pvt").BindTo(new SelectList(new List<object> {
                                    new {id="0",text="Select"},
                                    new {id="1",text="Executive Chairman"},
                                    new {id="2",text="MD"},
                                    new {id="3",text="KMP"},
                                    new {id="4",text="Non-Executive Chairman"},
                                    new {id="5",text="Executive"},
                                    new {id="6",text="Non-Executive"},
                                    new {id="7",text="Non-Executive Independent"},
                                    new {id="8", text="Designated Partner"}}, "id", "text")).HtmlAttributes(new { style = "width: 200px;" })
                                            </td>
                                            <td>
                                                @Html.Kendo().DropDownList().Name("Chairperson_Pub").BindTo(new SelectList(new List<object> {
                                    new {id="0",text="Select"},
                                    new {id="1",text="Executive Chairman"},
                                    new {id="2",text="MD"},
                                    new {id="3",text="KMP"},
                                    new {id="4",text="Non-Executive Chairman"},
                                    new {id="5",text="Executive"},
                                    new {id="6",text="Non-Executive"},
                                    new {id="7",text="Non-Executive Independent"},
                                    new {id="8", text="Designated Partner"}}, "id", "text")).HtmlAttributes(new { style = "width: 200px;" })
                                            </td>
                                            <td>
                                                @Html.Kendo().DropDownList().Name("Chairperson_Listed").BindTo(new SelectList(new List<object> {
                                    new {id="0",text="Select"},
                                    new {id="1",text="Executive Chairman"},
                                    new {id="2",text="MD"},
                                    new {id="3",text="KMP"},
                                    new {id="4",text="Non-Executive Chairman"},
                                    new {id="5",text="Executive"},
                                    new {id="6",text="Non-Executive"},
                                    new {id="7",text="Non-Executive Independent"},
                                    new {id="8", text="Designated Partner"}}, "id", "text")).HtmlAttributes(new { style = "width: 200px;" })
                                            </td>
                                        </tr>

                                        <tr id="trRule4" style="text-align:center" class="hidden">
                                            <td>
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td rowspan="2">Minimum @Html.Kendo().TextBox().Name("MinimumDesignationCount_Pvt").HtmlAttributes(new { style = "width: 50px;", type = "number" })</td>
                                                            <td rowspan="2">OR</td>
                                                            <td>@Html.Kendo().TextBox().Name("MinimumDesignationCount1_Pvt").HtmlAttributes(new { style = "width: 50px;", type = "number" })</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.Kendo().TextBox().Name("MinimumDesignationCount1_Pvt").HtmlAttributes(new { style = "width: 50px;", type = "number" })</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td>
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td rowspan="2">Minimum @Html.Kendo().TextBox().Name("MinimumDesignationCount_Pvt").HtmlAttributes(new { style = "width: 50px;", type = "number" })</td>
                                                            <td rowspan="2">OR</td>
                                                            <td>@Html.Kendo().TextBox().Name("MinimumDesignationCount1_Pvt").HtmlAttributes(new { style = "width: 50px;", type = "number" })</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.Kendo().TextBox().Name("MinimumDesignationCount1_Pvt").HtmlAttributes(new { style = "width: 50px;", type = "number" })</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td>
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td rowspan="2">Minimum @Html.Kendo().TextBox().Name("MinimumDesignationCount_Pvt").HtmlAttributes(new { style = "width: 50px;", type = "number" })</td>
                                                            <td rowspan="2">OR</td>
                                                            <td>@Html.Kendo().TextBox().Name("MinimumDesignationCount1_Pvt").HtmlAttributes(new { style = "width: 50px;", type = "number" })</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.Kendo().TextBox().Name("MinimumDesignationCount1_Pvt").HtmlAttributes(new { style = "width: 50px;", type = "number" })</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>

                        <div class="row mt30 hidden">
                            <div class="col-md-12 colpadding0">
                                <table width="100%" border="1">
                                    <thead>
                                        <tr>
                                            <th style="width:25%"></th>
                                            <th class="text-center"><lable class="control-label">Private Company</lable></th>
                                            <th class="text-center"><lable class="control-label">Public Company</lable></th>
                                            <th class="text-center"><lable class="control-label">Listed Company</lable></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Minimum Director</td>
                                            <td>@Html.Kendo().TextBox().Name("Minimum_Pvt").HtmlAttributes(new { style = "width: 50px;", type = "number" })</td>
                                            <td>@Html.Kendo().TextBox().Name("Minimum_Pub").HtmlAttributes(new { style = "width: 50px;", type = "number" })</td>
                                            <td>@Html.Kendo().TextBox().Name("Minimum_Listed").HtmlAttributes(new { style = "width: 50px;", type = "number" })</td>
                                        </tr>
                                        <tr>
                                            <td rowspan="1">
                                                Designation @Html.Kendo().DropDownList().Name("MinimumDesignation_Pvt").BindTo(new SelectList(new List<object> {
                                    new {id="0",text="Select"},
                                    new {id="1",text="Executive Chairman"},
                                    new {id="2",text="MD"},
                                    new {id="3",text="KMP"},
                                    new {id="4",text="Non-Executive Chairman"},
                                    new {id="5",text="Executive"},
                                    new {id="6",text="Non-Executive"},
                                    new {id="7",text="Non-Executive Independent"},
                                    new {id="8", text="Designated Partner"}}, "id", "text")).HtmlAttributes(new { style = "width: 220px;" })
                                            </td>
                                            <td>
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td rowspan="2">Minimum @Html.Kendo().TextBox().Name("MinimumDesignationCount_Pvt").HtmlAttributes(new { style = "width: 50px;" })</td>
                                                            <td rowspan="2">OR</td>
                                                            <td>@Html.Kendo().TextBox().Name("MinimumDesignationCount1_Pvt").HtmlAttributes(new { style = "width: 50px;", type = "number" })</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.Kendo().TextBox().Name("MinimumDesignationCount1_Pvt").HtmlAttributes(new { style = "width: 50px;", type = "number" })</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td>
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td rowspan="2">Minimum @Html.Kendo().TextBox().Name("MinimumDesignationCount_Pvt").HtmlAttributes(new { style = "width: 50px;", type = "number" })</td>
                                                            <td rowspan="2">OR</td>
                                                            <td>@Html.Kendo().TextBox().Name("MinimumDesignationCount1_Pvt").HtmlAttributes(new { style = "width: 50px;", type = "number" })</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.Kendo().TextBox().Name("MinimumDesignationCount1_Pvt").HtmlAttributes(new { style = "width: 50px;", type = "number" })</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td>
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td rowspan="2">Minimum @Html.Kendo().TextBox().Name("MinimumDesignationCount_Pvt").HtmlAttributes(new { style = "width: 50px;", type = "number" })</td>
                                                            <td rowspan="2">OR</td>
                                                            <td>@Html.Kendo().TextBox().Name("MinimumDesignationCount1_Pvt").HtmlAttributes(new { style = "width: 50px;", type = "number" })</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.Kendo().TextBox().Name("MinimumDesignationCount1_Pvt").HtmlAttributes(new { style = "width: 50px;", type = "number" })</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Chairperson</td>
                                            <td>
                                                @Html.Kendo().DropDownList().Name("Chairperson_Pvt").BindTo(new SelectList(new List<object> {
                                    new {id="0",text="Select"},
                                    new {id="1",text="Executive Chairman"},
                                    new {id="2",text="MD"},
                                    new {id="3",text="KMP"},
                                    new {id="4",text="Non-Executive Chairman"},
                                    new {id="5",text="Executive"},
                                    new {id="6",text="Non-Executive"},
                                    new {id="7",text="Non-Executive Independent"},
                                    new {id="8", text="Designated Partner"}}, "id", "text")).HtmlAttributes(new { style = "width: 200px;" })
                                            </td>
                                            <td>
                                                @Html.Kendo().DropDownList().Name("Chairperson_Pub").BindTo(new SelectList(new List<object> {
                                    new {id="0",text="Select"},
                                    new {id="1",text="Executive Chairman"},
                                    new {id="2",text="MD"},
                                    new {id="3",text="KMP"},
                                    new {id="4",text="Non-Executive Chairman"},
                                    new {id="5",text="Executive"},
                                    new {id="6",text="Non-Executive"},
                                    new {id="7",text="Non-Executive Independent"},
                                    new {id="8", text="Designated Partner"}}, "id", "text")).HtmlAttributes(new { style = "width: 200px;" })
                                            </td>
                                            <td>
                                                @Html.Kendo().DropDownList().Name("Chairperson_Listed").BindTo(new SelectList(new List<object> {
                                    new {id="0",text="Select"},
                                    new {id="1",text="Executive Chairman"},
                                    new {id="2",text="MD"},
                                    new {id="3",text="KMP"},
                                    new {id="4",text="Non-Executive Chairman"},
                                    new {id="5",text="Executive"},
                                    new {id="6",text="Non-Executive"},
                                    new {id="7",text="Non-Executive Independent"},
                                    new {id="8", text="Designated Partner"}}, "id", "text")).HtmlAttributes(new { style = "width: 200px;" })
                                            </td>
                                        </tr>

                                        <tr>
                                            <td rowspan="1">
                                                Quorum
                                            </td>
                                            <td>
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td rowspan="2">Minimum @Html.Kendo().TextBox().Name("MinimumDesignationCount_Pvt").HtmlAttributes(new { style = "width: 50px;", type = "number" })</td>
                                                            <td rowspan="2">OR</td>
                                                            <td>@Html.Kendo().TextBox().Name("MinimumDesignationCount1_Pvt").HtmlAttributes(new { style = "width: 50px;", type = "number" })</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.Kendo().TextBox().Name("MinimumDesignationCount1_Pvt").HtmlAttributes(new { style = "width: 50px;", type = "number" })</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td>
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td rowspan="2">Minimum @Html.Kendo().TextBox().Name("MinimumDesignationCount_Pvt").HtmlAttributes(new { style = "width: 50px;", type = "number" })</td>
                                                            <td rowspan="2">OR</td>
                                                            <td>@Html.Kendo().TextBox().Name("MinimumDesignationCount1_Pvt").HtmlAttributes(new { style = "width: 50px;", type = "number" })</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.Kendo().TextBox().Name("MinimumDesignationCount1_Pvt").HtmlAttributes(new { style = "width: 50px;", type = "number" })</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td>
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td rowspan="2">Minimum @Html.Kendo().TextBox().Name("MinimumDesignationCount_Pvt").HtmlAttributes(new { style = "width: 50px;", type = "number" })</td>
                                                            <td rowspan="2">OR</td>
                                                            <td>@Html.Kendo().TextBox().Name("MinimumDesignationCount1_Pvt").HtmlAttributes(new { style = "width: 50px;", type = "number" })</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.Kendo().TextBox().Name("MinimumDesignationCount1_Pvt").HtmlAttributes(new { style = "width: 50px;", type = "number" })</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row mt30">
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;">
            <button type="submit" id="btnsub1" class="k-primary k-button k-grid-update k-button-icontext">@btnName</button>
            <button type="button" id="btnclose1" class="k-button" onclick="return closeWindow();">Close</button>
        </div>


    }
</div>

<script>
            $(document).ready(function () {
                var validator = $("#divCommittee").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
            });

            function ruleChange()
            {

                $("#trRule1").addClass("hidden");
                $("#trRule2").addClass("hidden");
                $("#trRule3").addClass("hidden");
                $("#trRule4").addClass("hidden");
                var ddlRule = $("#Rule").data("kendoDropDownList");
                var val = ddlRule.value();
                switch(val)
                {
                    case "1":
                        $("#trRule1").removeClass("hidden");
                        break;
                    case "2":
                        $("#trRule2").removeClass("hidden");
                        break;
                    case "3":
                        $("#trRule3").removeClass("hidden");
                        break;
                    case "4":
                        $("#trRule4").removeClass("hidden");
                        break;
                }
            }
</script>
