﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.UserMeetingTypeAssignmentVM
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;
<div id="example">
    <div id="window">
        <!-- this will be the content of the popup -->
        @if (Model.Success)
        {
            <div class="row">
                <div class="col-md-12 colpadding0">
                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.Message)))
                        {
                            <lable>@Model.Message</lable>
                        }
                    </div>
                </div>
            </div>
        }

        @if (Model.Error)
        {
            <div class="row">
                <div class="col-md-12 colpadding0">
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.Message)))
                        {
                            <lable>@Model.Message</lable>
                        }
                    </div>
                </div>
            </div>
        }

        <div id="DivUserEntityAssignment">
            @using (Ajax.BeginForm("SaveMeetingTypeAssignment", "EntitiesUserAssignment", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivUserEntityAssignment", OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmUpdateEntityUserMaster" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.AssignmentId)
                @Html.HiddenFor(model => model.EntityId)

                <div class="row colpadding0 mt30">
                    <div class="col-md-2 colpadding0 required">
                        <label for="ddlMeetingType" class="control-label">Meeting</label>
                    </div>
                    <div class="col-md-8 colpadding0">
                        @(Html.Kendo().MultiSelectFor(m => m.ListMeetingTypeId)
                          .DataTextField("MeetingTypeName")
                          .DataValueField("Id")
                          .Filter("contains")
                          .TagMode(TagMode.Single)
                          .DataSource(source =>
                          {
                              source.Read(read =>
                              {
                                  read.Url("/api/CommitteeCompAPI/GetMeetingTypeByEntity").Data("getDataForMeetingTypes").Type(HttpVerbs.Get);
                              }).ServerFiltering(false);
                          }).HtmlAttributes(new { style = "width: 100%;height: 32px;", @Id = "ddlMeetingType", autocomplete = "off" }))
                        @Html.ValidationMessageFor(model => model.EntityId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row colpadding0 mt30">
                    <div class="col-md-12 colpadding0 text-center">
                        <button type="submit" id="btnsave" class="btn btn-primary" value="Save" name="submitButton"><span class=""></span>Save</button>
                        <button type="button" id="btnuserassinmentclose" class="btn btn-primary" value="Close"><span class=""></span>Close</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    var validator = $("#frmUpdateEntityUserMaster").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");

    $("#btnuserassinmentclose").click(function (z) {
        z.preventDefault();
        z.stopPropagation();
        $('#KendoPopupUserMaster').data("kendoWindow").close();
        $('#gridKendoUser').data('kendoGrid').dataSource.read();
        $('#gridKendoUser').data('kendoGrid').refresh();
    })

</script>

