﻿
@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VM_EntityuserAssignment
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;

@{
    ViewBag.Title = "User-Entity Assignment :: Masters";    
}

<script>
    function onRowBound(e) {
        GetICons();

        var grid = $("#gridKendoUser").data("kendoGrid");
        getGridborder(grid);
    }

    $(document).ready(function () {

        var breadCrumbData = [
            {
                displayText: "Masters",
                navigateUrl: "#",
            },
            {
                displayText: "User-Entity Assignment",
                navigateUrl: "#",
            }
        ];

        setBreadCrumb(breadCrumbData);
    });
    function getDataForMeetingTypes() {
        //return { showAll: false };
        return { Type: "M", entityID: $('#EntityId').val() }
    }
</script>

<div class="row Dashboard-white-widget">
    <div class="dashboard">
        <div class="row master-Headre">
            <div class="col-md-12 vertical-center">
                <div class="col-md-10 colpadding0">
                    <input id='filter' placeholder="Search by User Name" class='k-textbox' style="width: 52%" autocomplete="off" />
                </div>
                <div class="col-md-1 colpadding0 ">
                   
                </div>
                @if (Model.CanAdd)
                {
                <div class="col-md-1 colpadding0 text-right">
                    <button class="btn btn-primary" id="Createnewuserassignment" title="Add New"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</button>
                </div>
                }
            </div>
        </div>

        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">
                @*.ClientTemplate("#= iterateMeeting(Entity) #")*@
                @(Html.Kendo().Grid<BM_ManegmentServices.VM.VM_EntityuserAssignment>()
                .Name("gridKendoUser")
               .Columns(columns =>
               {
                   columns.Bound(o => o.Id).Visible(false);
                   columns.Bound(o => o.UserName).Title("User").HtmlAttributes(new { style = "vertical-align:top;" }).Width("27%");
                   columns.Bound(o => o.CompanyName).Title("Entity").HtmlAttributes(new { style = "vertical-align:top;" }).Width("30%");
                   columns.Bound(p => p.MeetingTypeName).HeaderTemplate("Meetings").ClientTemplate("#= iterateMeetings(MeetingTypeName) #").Sortable(false).Width("30%");
                   columns.Command(command =>
                   {
                       if (Model.CanEdit)
                       {
                           command.Custom("Edit").Click("edituserassignment").HtmlAttributes(new { @class = "k-grid-edit" });
                           command.Custom("Meetings").Click("editMeetingTypeMapping").HtmlAttributes(new { @class = "k-grid-compliance" });
                       }
                       if (Model.CanDelete)
                       {
                           command.Custom("delete").Click("Deleteassignment").HtmlAttributes(new { @class = "k-grid-delete" });
                       }
                   })
                   .Title("Action").HtmlAttributes(new { style = "vertical-align:top;" });
               })

        .EnableCustomBinding(true)

        .Events(e => e.DataBound("onRowBound"))
        .Navigatable()
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
        .Filterable()
        .Sortable()
        .Reorderable(reorderable => reorderable.Columns(true))
        .Resizable(resizable => resizable.Columns(true))
        .ColumnMenu()
        .DataSource(dataSource => dataSource
        .WebApi()
        .PageSize(10)
        .ServerOperation(false)
              .Model(model =>
              {
                  model.Id(o => o.Id);
                  model.Field(o => o.CompanyId);
              })
        .Read(read => read.Url("/api/EntityUserAssignmentAPI/GetEntityAssignment").Type(HttpVerbs.Get))
                       ))
                </div>
            </div>
            </div>
        </div>
<div id="modalWindow">
    <h5>Are you sure, You want to delete selected User-Entity Assignment Record?</h5>
    <button id="yes" class="k-button">Yes</button>
    <button id="no" class="k-button">No</button>
</div>


        @(Html.Kendo().Window()
    .Name("KendoPopupUserMaster")
    .Visible(false)
    .Modal(true)
    .Draggable(false)
    .Scrollable(false)
    .Events(e => e.Open("adjustSize"))
    .Events(e => e.Refresh("OnRefresh"))
        )
        <script>
            $("#Createnewuserassignment").click(function (e) {
                e.preventDefault();
                edituserassignment(e);
            });

            function edituserassignment(e) {
                debugger;
                e.preventDefault();
                OnOpen('a');
                $("#KendoPopupUserMaster").attr("style", "min-height:100px;");
                var direction = "AddEditPopup?id=" + 0;
                if (e.currentTarget.innerText != "New") {
                    $("#KendoPopupUserMaster").kendoWindow({
                        title: "Edit - User-Entity Assignment",
                    });
                    var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                    direction = "AddEditPopup?id=" + dataItem.Id;
                    var wnd = $("#KendoPopupUserMaster").data("kendoWindow");
                    var opts = wnd.options;
                    settracknew('User Assignment Master', 'Action', 'Edit', '');
                }
                else {
                    $("#KendoPopupUserMaster").kendoWindow({
                        title: "Add - User-Entity Assignment",
                    });
                    $("#KendoPopupUserMaster").attr("style", "min-height:100px;");
                    direction = "AddEditPopup?id=" + 0;
                    var wnd = $("#KendoPopupUserMaster").data("kendoWindow");
                    var opts = wnd.options;
                    settracknew('User Assignment Master', 'Action', 'Add New', '');
                }
                wnd = $("#KendoPopupUserMaster").kendoWindow({
                    title: "Edit - User-Entity Assignment",
                    actions: [
                                 "Pin",
                                 "Minimize",
                                 "Maximize",
                                 "Close"
                    ],
                    content: direction,
                    width: "40%",
                    position: {
                        top: "85.96px", // or "100px"
                    },

                    visible: false,
                    modal: true,
                    refresh: function () { this.center(); OnRefresh(); },
                    close: function (e) {
                        $(this.element).empty();
                        $('#gridKendoUser').data('kendoGrid').dataSource.read();
                        $('#gridKendoUser').data('kendoGrid').refresh();
                        $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                    },
                    open: function (e) {
                        OnOpen();
                        $(this.element).closest(".k-window").css("position", "fixed")
                        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
                    }
                }).data("kendoWindow");
                opts.width = "40%";
                wnd.setOptions(opts);
                wnd.center();
                wnd.refresh(direction);
                wnd.open();
            }

            function editMeetingTypeMapping(e) {
                debugger;
                e.preventDefault();
                var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                var titleData = "Assignment : " + dataItem.UserName + " - " + dataItem.CompanyName;
                $("#KendoPopupUserMaster").attr("style", "min-height:100px;");
                $("#KendoPopupUserMaster").kendoWindow({
                    title: titleData,
                });
                
                var direction = "@Url.Action("AddEditMeetingTypeAssignment", "EntitiesUserAssignment")" + "?assignmentId=" + dataItem.Id + "&entityId=" + dataItem.CompanyId;
                wnd = $("#KendoPopupUserMaster").kendoWindow({
                    title: titleData,
                    actions: [
                                 "Close"
                    ],
                    content: direction,
                    width: "40%",
                    position: {
                        top: "85.96px", // or "100px"
                    },

                    visible: false,
                    modal: true,
                    refresh: function () { this.center(); OnRefresh(); },
                    close: function (e) {
                        $(this.element).empty();
                        $('#gridKendoUser').data('kendoGrid').dataSource.read();
                        $('#gridKendoUser').data('kendoGrid').refresh();
                        $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                    },
                    open: function (e) {
                        OnOpen();
                        $(this.element).closest(".k-window").css("position", "fixed")
                        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
                    }
                }).data("kendoWindow");

                var opts = wnd.options;
                opts.width = "40%";
                wnd.setOptions(opts);
                wnd.center();
                wnd.refresh(direction);
                wnd.open();
            }

            function iterateMeetings(object) {
                var str = "";
                if (object !== null && object.length > 0) {
                    for (var x = 0; x < object.length; x++) {
                        str += "<li>" + object[x] + "</li>";
                    }
                } else {
                    str += "";
                }
                return str;
            }

            function adjustSize() {
                // if ($(window).width() < 500 || $(window).height() < 400) {
                //   this.maximize();
                // }
            }

            function OnRefresh() {

                var wnd = $("#KendoPopupUserMaster").data("kendoWindow");
                kendo.ui.progress(wnd.element, false);
            }

            function OnOpen(e) {

                var wnd = $("#KendoPopupUserMaster").data("kendoWindow");
                kendo.ui.progress(wnd.element, true);
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }

            function OnOpene(e) {

                var wnd = $("#KendoPopupUserMaster").data("kendoWindow");
                kendo.ui.progress(wnd.element, true);
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }

            function iterateMeeting(object) {
                
                var str = "";
                if (object !== null && object.length > 0) {
                    for (var x = 0; x < object.length; x++) {
                        str += object[x] + ", ";
                    }
                } else {
                    str += "";
                }
                return trimChars(str, ", ");
            }
            function trimChars(str, c) {
                var re = new RegExp("^[" + c + "]+|[" + c + "]+$", "g");
                return str.replace(re, "");
            }


            var wnd;
            $(document).ready(function () {
                wnd = $("#modalWindow").kendoWindow({
                    title: "Delete confirmation",
                    modal: true,
                    visible: false,
                    resizable: false,
                    width: 300
                }).data("kendoWindow");
            });

            
            function deleteuserassignment(id,EntityId) {
                $.ajax({
                    url: "/api/EntityUserAssignmentAPI/DeleteEntityuserAssignment?Id=" + id + "&EntityId=" + EntityId,
                    method: "DELETE",
                    success: function () {
                        alert("Selected Record Deleted Successfully");
                        $('#gridKendoUser').data('kendoGrid').dataSource.read();
                        $('#gridKendoUser').data('kendoGrid').refresh();
                    }
                });
            }

            function Deleteassignment(e) {
                e.preventDefault();

                var grid = this;
                var row = $(e.currentTarget).closest("tr");
                var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                var id = dataItem.Id;
                var EntityId = dataItem.CompanyId;
                wnd.center().open();
                $("#yes").click(function () {
                    deleteuserassignment(id,EntityId)
                    grid.removeRow(row);
                    wnd.close();
                });

                $("#no").click(function () {
                    wnd.close();
                });
            }
        </script>

<!-- Filter Script-->
<script>
    function filterChange() {

        var filter = { logic: 'or', filters: [] };

        var t = $('#filter');
        if (t.val() != "")
        {
            filter.filters.push({ logic: "or", field: "UserName", operator: "contains", value: t.val() });
        }

        grid = $("#gridKendoUser").data("kendoGrid");
        grid.dataSource.filter(filter);
    }
</script>

<script>
    $('#filter').on('input', function (e) {
        filterChange();
    });
</script>

