﻿@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;
@model BM_ManegmentServices.VM.AOC4_List_VM
@{
    ViewBag.Title = "AOC-4 :: Forms";
}

    <div id="DivUploadforms">
        <style>
            /*#gridKendoForms .k-grid-content {
                min-height: 462px;
                max-height: 462px;
                overflow: hidden;
            }*/
        </style>

        <script>
        $(document).ready(function () {

            var breadCrumbData = [
                {
                    displayText: "Forms",
                    navigateUrl: "#",
                }, {
                    displayText: "AOC-4 (Non XBRL)",
                    navigateUrl: "/BM_Management/AOC4/Index",
                }
            ];
            $('.breadcrumbs')[0].innerHTML = "";
            setBreadCrumb(breadCrumbData);
            //$("#divDPT3").kendoTooltip({ content: "Sample Excel for DPT-3", width: 180 });
        });

        function downloadDPT3Sample() {
            window.location.href = "@Url.Action("DownloadSampleExcelDPT_3", "Forms")";
        }
        function btnCancelUpload() {
            window.location.href = "@Url.Action("DPT3", "Forms")";
        }

        function onBegin() {
            window.kendo.ui.progress($("#DivUploadforms"), true);
        }
        function onComplete() {
            window.kendo.ui.progress($("#DivUploadforms"), false);
        }

        function ddlEntityIdChanged() {
            var entityID = $("#EntityId1").val();
            if (entityID == null || entityID == undefined) {
                entityID = 0;
            }
            if (entityID > 0) {
                var dataSource = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: "/api/ConfigurationMasterAPI/GetFYListByEntityID?EntityID=" + entityID,
                        }
                    }
                });
                var ddl = $('#FYId1').data("kendoDropDownList");
                ddl.setDataSource(dataSource);
                ddl.refresh();
            }
        }
        function btnGenerateDPT3() {
            var entityId = $("#hdnEntityId").val();
            window.open("DownloadDPT3?entityId=" + entityId, '_blank');
        }
        </script>

        <script>
            function OnOpenForm(e) {
                var wnd = $("#wndFormDetails").data("kendoWindow");
                kendo.ui.progress(wnd.element, true);
                //$(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }

            function OnRefreshForm() {
                var wnd = $("#wndFormDetails").data("kendoWindow");
                kendo.ui.progress(wnd.element, false);
            }
        </script>

        <script>
        function onRowBoundForms(e) {

            var grid = $("#gridKendoForms").data("kendoGrid");
            var gridData = grid.dataSource.view();

            for (var i = 0; i < gridData.length; i++) {
                var currentUid = gridData[i].uid;
                var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");

                $(currenRow).find(".k-grid-warn").empty();
                if (gridData[i].Status_ != true) {
                    $(currenRow).find(".k-grid-warn").append("<img class='fill-template-fields' style='height:21px;' src='../../Images/upload_error.png'/>");
                    $(currenRow).find(".k-grid-view").addClass("k-state-disabled");
                } else {
                    $(currenRow).find(".k-grid-warn").append("<img style='height:21px;' src='../../Images/upload_success.png'/>");
                }

            }

            GetICons();
            $("#gridKendoForms tr.k-alt").removeClass("k-alt");
            $("#gridKendoForms .k-grid-header").attr("style", "padding-right: 0px;");
        }

        function editFormDetails(e) {
            e.preventDefault();
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            var action = dataItem.EditAction;
            if (action != null && action != undefined) {
                var direction = action + "?id=" + dataItem.Aoc4Id + "&entityId=" + dataItem.EntityId;
                //openEditDetails(direction, action);
                openEditDetails(direction, dataItem.wndTitle,dataItem.EditAction);
            } else {
                //wndFormWIP
                openwndFormWIP();
            }
        }

        function openwndFormWIP() {

            $("#wndFormWIP").attr("style", "min-height:100px;");

            var wnd = $("#wndFormWIP").data("kendoWindow");
            var opts = wnd.options;

            wnd = $("#wndFormWIP").kendoWindow({
                title: "Add - Form",
                actions: [
                             "Pin",
                             "Minimize",
                             "Maximize",
                             "Close"
                ],
                width: "80%",
                position: {
                    top: 100,
                },
                visible: false,
                modal: true,
                refresh: function () {
                    this.center();
                },
                close: function (e) {
                    //$(this.element).empty();
                },
                open: function (e) {
                    OnOpenForm();
                }
            }).data("kendoWindow");

            wnd.setOptions(opts);
            wnd.center();
            wnd.open();
        }

        function openEditDetails(direction, v , v1) {

            $("#wndFormDetails").attr("style", "min-height:100px;");

            $("#wndFormDetails").kendoWindow({
                title: v,

//                title: "@Model.Company"+" @Model.FY" +" "+ v,
            });

            var wnd = $("#wndFormDetails").data("kendoWindow");
            var opts = wnd.options;

            wnd = $("#wndFormDetails").kendoWindow({
                title: "Add - Form",
                actions: [
                             "Pin",
                             "Minimize",
                             "Maximize",
                             "Close"
                ],
                content: direction,
                width: "80%",
                position: {
                    top: 100,
                },
                visible: false,
                modal: true,
                refresh: function () {
                    this.center();
                    OnRefreshForm();
                },
                close: function (e) {
                    $(this.element).empty();
                    $('#gridKendoForms').data('kendoGrid').dataSource.read();
                    $('#gridKendoForms').data('kendoGrid').refresh();
                },
                open: function (e) {
                    OnOpenForm();
                    //$(this.element).closest(".k-window").css("position", "fixed")
                    //$(".k-overlay").attr('style', "opacity:0.5; display:block;");
                }
            }).data("kendoWindow");

           switch (v1) {
                case "BalanceSheet":
                case "DetailedBalanceSheet":
                case "FinancialParameters":
                case "ShareCapitalRaised":
                case "ProfitLoss":
                case "DetailsOfPandLitems":
                case "FinancialParameters_PL":
                case "RPT":
                    opts.width = "42%";
                    break;
                case "ReportingCSR":
                    opts.width = "55%";
                   
break;
                case "DetailsOfCostRecords":
                    opts.width = "70%";
                    break;
                default:
                    opts.width = "80%";
                    break;
            }

            wnd.setOptions(opts);
            wnd.center();
            wnd.open();
        }

        function viewFormDetails(e) {
            e.preventDefault();
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            if (dataItem.Status_) {

                var action = dataItem.PrevAction;
                if (action != null || action != undefined) {
                    var direction = action + "?id=" + dataItem.Aoc4Id + "&entityId=" + dataItem.EntityId;
                    previewFormDetails(direction, dataItem.wndTitle);
                }
            }
        }

        function previewFormDetails(direction, v) {
            $("#wndFormDetails").attr("style", "min-height:100px;");

            $("#wndFormDetails").kendoWindow({
                title: v,
            });

            var wnd = $("#wndFormDetails").data("kendoWindow");
            var opts = wnd.options;

            wnd = $("#wndFormDetails").kendoWindow({
                title: "Add - Form",
                actions: [
                             "Pin",
                             "Minimize",
                             "Maximize",
                             "Close"
                ],
                content: direction,
                width: "80%",
                position: {
                    top: 100,
                },
                visible: false,
                modal: true,
                refresh: function () {
                    this.center();
                    OnRefreshForm();
                },
                close: function (e) {
                    $(this.element).empty();
                    //$('#gridKendoForms').data('kendoGrid').dataSource.read();
                    //$('#gridKendoForms').data('kendoGrid').refresh();
                },
                open: function (e) {
                    OnOpenForm();
                    //$(this.element).closest(".k-window").css("position", "fixed")
                    //$(".k-overlay").attr('style', "opacity:0.5; display:block;");
                }
            }).data("kendoWindow");

            opts.width = "80%";

            wnd.setOptions(opts);
            wnd.center();
            wnd.open();
        }
        </script>

        <script>
            function btnGenerateAOC4() {
                alert("Section 2/ Point 3/Highlighted area (in grey) is current being worked on. Request you to enter those details manually after form generation. We regret the inconvenience caused.");
            window.open("DownloadForm?id=@Model.AOC4Id", '_blank');
        }
        </script>
        <script>
            function numberWithCommas(number) {
                var parts = number.toString().split(".");
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                return parts.join(".");
            }
        </script>
        <script id="Generatetemplate" type="text/x-kendo-template">
            @*<div class="template-wrapper">
                <p><b>Fill data in following points after generation of Form</b></p>
                <p>3. Financial year to which financial statements relates To</p>
                <p>11. Whether Schedule III of the Companies Act, 2013 is applicable</p>
                <p>12. Whether consolidated financial statements required or not</p>
                <p></p>
            </div>*@
        </script>

        <div>
            @(Html.Kendo().Tooltip()
        .For("#gridKendoForms")
        .Filter(".fill-template-fields")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Pending")
        .Events(e => e.Show("PositionTooltip"))
        )
            @(Html.Kendo().Tooltip()
        .For("#btnGenerate")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .ContentTemplateId("Generatetemplate")
        )

        </div>

        <div class="row Dashboard-white-widget">
            <div class="dashboard">

                <div class="row colpadding0">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-11 colpadding0">
                            <h4><b>&nbsp;@Model.Company -> @Model.FY</b></h4>
                        </div>
                        <div class="col-md-1 colpadding0">
                            <button id="btnGenerate" type="button" class="btn btn-primary" onclick="btnGenerateAOC4()">Generate</button>
                        </div>

                    </div>
                </div>

                <div class="row colpadding0">
                    <div class="col-md-12 colpadding0">

                        @(Html.Kendo().Grid<BM_ManegmentServices.VM.AOC4DetailsVM>()
                .Name("gridKendoForms")
                .Columns(columns =>
                {
                    columns.Bound(o => o.Aoc4Id).Visible(false);
                    //columns.Bound(o => o.Seg).Title("Segment").Width("60%").Filterable(ftb => ftb.Multi(true).Search(true));
                    columns.Bound(o => o.Details).Title("Description").Width("70%").Filterable(ftb => ftb.Multi(true).Search(true));
                    columns.Template(t => { }).Title("Status").ClientTemplate("<span class='k-grid-warn'></span>").Width("10%").HeaderHtmlAttributes(new { style = "text-align:center;" }).HtmlAttributes(new { @class = "text-center" });
                    columns.Command(command =>
                    {
                        command.Custom("Edit").Click("editFormDetails").HtmlAttributes(new { @class = "k-grid-button k-grid-edit hoverCircle" });
                        command.Custom("View").Click("viewFormDetails").HtmlAttributes(new { @class = "k-grid-button k-grid-view hoverCircle" });
                    }).Title("Action").Width("10%");
                }).EnableCustomBinding(true)
                .Events(e => e.DataBound("onRowBoundForms"))
                //.Scrollable()
                //.Pageable(pageable => pageable
                //.Refresh(false)
                //.PageSizes(true)
                //.ButtonCount(5))
                .Filterable()
                .Sortable()
                .Reorderable(reorderable => reorderable.Columns(true))
                .Resizable(resizable => resizable.Columns(true))
                .ColumnMenu(col => col.Columns(false))
                .DataSource(dataSource => dataSource
                .WebApi()
                .PageSize(20)
                .ServerOperation(false)
                .Model(model =>
                {
                    model.Id(o => o.Aoc4Id);
                    model.Field(o => o.EntityId);
                    model.Field(o => o.EditAction);
                    model.Field(o => o.PrevAction);
                    model.Field(o => o.wndTitle);
                }).Read(read => read.Url("/api/AOC4/GetSavedFormDetails?id=" + Model.AOC4Id).Type(HttpVerbs.Get))))
                    </div>
                </div>

            </div>
        </div>

        @(Html.Kendo().Window()
    .Name("wndFormDetails")
    .Scrollable(true)
    .Visible(false)
    .Pinned(true)
    .Modal(true))
        @(Html.Kendo().Window()
    .Name("wndFormWIP")
    .Title("Details related to principal products or services")
    .Scrollable(true)
    //.Content("")
    .Content(@<text><div class="row">

                    <div class="col-md-12 colpadding0">
                         <p style="color:red;">Section : Details related to principal products or services of the company is current being worked on. <br> Request you to enter those details manually after form generation. <br> We regret the inconvenience caused !</p>
                    </div>

                </div>
        <div class="row colpadding0 mt30">
                <div class="col-md-12 colpadding0">
                    <div class="text-center">
                        <button type="button" class="btn btn-primary" onclick="btnCloseSecWindow();">Close</button>
                    </div>
                </div>
            </div>
        </text>)
    .Visible(false)
    .Pinned(true)
    .Modal(true))
    </div>
<script>
    function checkDate(e) {

    }
    function btnClosePreviewWindow() {
        $("#wndFormDetails").data("kendoWindow").close();
    }
    function btnCloseSecWindow() {
        $("#wndFormWIP").data("kendoWindow").close();
    }

</script>