﻿@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;
@model BM_ManegmentServices.VM.AOC4_BalanceSheetPrevVM

<style>
    #tblBalanceSheet .td {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: justify;
    color: #767676;
}
</style>
<script>
    $(document).ready(function () {
        $("#tblBalanceSheet td").each(function () {
            var num = $(this).text();
            var commaNum = numberWithCommas(num);
            $(this).text(commaNum);
        });
    });
</script>
<div id="DivBalanceSheet" style="max-height:520px; overflow-x:hidden; overflow-y:auto;">

    @if (Model != null)
    {
        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                <table id="tblBalanceSheet" border="1">
                    <tr>
                        <th style="width:7%">
                            &nbsp;
                        </th>

                        <th style="width:48%; text-align:center">
                            <b>Particulars</b>
                        </th>

                        <th style="width:25%; text-align:center">
                            Figures as at the end of (Current
                            reporting period) (in Rs.)<br />
                            @if (Model.Current.EndDate != null)
                            {
                                <span style="font-weight:500">@(Convert.ToDateTime(Model.Current.EndDate).ToString("dd-MMM-yyyy"))</span>
                                
                            }
                        </th>

                        <th style="width:25%; text-align:center">
                            Figures as at the end of
                            (Previous reporting period)
                            (in Rs.)<br />
                            @if (Model.Previous.EndDate != null)
                            {
                                <span style="font-weight:500">@(Convert.ToDateTime(Model.Previous.EndDate).ToString("dd-MMM-yyyy"))</span>
                            }
                        </th>
                    </tr>

                    <tr>
                        <td>I.<br />1</td>
                        <td>
                            <b>EQUITY AND LIABILITIES</b><br />
                            <b>Shareholder's Fund</b><br />
                            (a) Share capital
                        </td>
                        <td style="text-align:right">@Model.Current.Capital</td>
                        <td style="text-align:right">@Model.Previous.Capital</td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>(b) Reserves and surplus</td>
                        <td style="text-align:right">@Model.Current.Reserve</td>
                        <td style="text-align:right">@Model.Previous.Reserve</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(c) Money received against share warrants</td>
                        <td style="text-align:right">@Model.Current.MoneyRecived</td>
                        <td style="text-align:right">@Model.Previous.MoneyRecived</td>
                    </tr>
                    <tr>
                        <td>(2)</td>
                        <td><b>Share application money pending allotment</b></td>
                        <td style="text-align:right">@Model.Current.MoneyPending</td>
                        <td style="text-align:right">@Model.Previous.MoneyPending</td>
                    </tr>
                    <tr>
                        <td>(3)</td>
                        <td><b>Non - current liabilities</b></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(a) Long term borrowings</td>
                        <td style="text-align:right">@Model.Current.LongTerm</td>
                        <td style="text-align:right">@Model.Previous.LongTerm</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(b) Deferred tax liabilities (net)</td>
                        <td style="text-align:right">@Model.Current.Deferred</td>
                        <td style="text-align:right">@Model.Previous.Deferred</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(c) Other long term liabilities</td>
                        <td style="text-align:right">@Model.Current.OtherLongTerm</td>
                        <td style="text-align:right">@Model.Previous.OtherLongTerm</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(d) Long term provisions</td>
                        <td style="text-align:right">@Model.Current.LongTermProvision</td>
                        <td style="text-align:right">@Model.Previous.LongTermProvision</td>
                    </tr>

                    <tr>
                        <td>(4)</td>
                        <td><b>Current liabilities</b></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(a) Short term borrowings</td>
                        <td style="text-align:right">@Model.Current.ShortTerm</td>
                        <td style="text-align:right">@Model.Previous.ShortTerm</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(b) Trade payables</td>
                        <td style="text-align:right">@Model.Current.TradePayables</td>
                        <td style="text-align:right">@Model.Previous.TradePayables</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(c) Other current liabilities</td>
                        <td style="text-align:right">@Model.Current.OtherCL</td>
                        <td style="text-align:right">@Model.Previous.OtherCL</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(d) Short term provisions</td>
                        <td style="text-align:right">@Model.Current.ShortTermProvision</td>
                        <td style="text-align:right">@Model.Previous.ShortTermProvision</td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>Total</td>
                        <td style="text-align:right">@Model.Current.Total_I</td>
                        <td style="text-align:right">@Model.Previous.Total_I</td>
                    </tr>

                    <tr>
                        <td>II</td>
                        <td><b>ASSETS</b></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>(1)</td>
                        <td><b>Non-Current assets</b></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>(a) Fixed assets</td>
                        <td></td>
                        <td></td>
                    </tr>
                    
                    <tr>
                        <td></td>
                        <td>(i) Tangible assets</td>
                        <td style="text-align:right">@Model.Current.TangibleA</td>
                        <td style="text-align:right">@Model.Previous.TangibleA</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(ii) Intangible assets</td>
                        <td style="text-align:right">@Model.Current.IntangibleA</td>
                        <td style="text-align:right">@Model.Previous.IntangibleA</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(iii) Capital work-in-progress</td>
                        <td style="text-align:right">@Model.Current.CapitalWIP</td>
                        <td style="text-align:right">@Model.Previous.CapitalWIP</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(iv) Intangible assets under development</td>
                        <td style="text-align:right">@Model.Current.IntangibleA_UD</td>
                        <td style="text-align:right">@Model.Previous.IntangibleA_UD</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(b) Non-current Investments</td>
                        <td style="text-align:right">@Model.Current.NonCI</td>
                        <td style="text-align:right">@Model.Previous.NonCI</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(c) Deferred tax assets (net)</td>
                        <td style="text-align:right">@Model.Current.DeferredTA</td>
                        <td style="text-align:right">@Model.Previous.DeferredTA</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(d) Long term loans and advances</td>
                        <td style="text-align:right">@Model.Current.Lt_LoanAndAdv</td>
                        <td style="text-align:right">@Model.Previous.Lt_LoanAndAdv</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(e) Other non-current assets</td>
                        <td style="text-align:right">@Model.Current.OtherNonCA</td>
                        <td style="text-align:right">@Model.Previous.OtherNonCA</td>
                    </tr>
                    <tr>
                        <td>(2)</td>
                        <td><b>Current assets</b></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(a) Current Investment</td>
                        <td style="text-align:right">@Model.Current.CurrentInvestment</td>
                        <td style="text-align:right">@Model.Previous.CurrentInvestment</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(b) Inventories</td>
                        <td style="text-align:right">@Model.Current.Invetories</td>
                        <td style="text-align:right">@Model.Previous.Invetories</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(c) Trade receivables</td>
                        <td style="text-align:right">@Model.Current.TradeReceivable</td>
                        <td style="text-align:right">@Model.Previous.TradeReceivable</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(d) Cash and cash equivalents</td>
                        <td style="text-align:right">@Model.Current.CashEquivalents</td>
                        <td style="text-align:right">@Model.Previous.CashEquivalents</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(e) Short term loans and advances</td>
                        <td style="text-align:right">@Model.Current.ShortTermLoan</td>
                        <td style="text-align:right">@Model.Previous.ShortTermLoan</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(f) Other current assets</td>
                        <td style="text-align:right">@Model.Current.OtherCurrentAsset</td>
                        <td style="text-align:right">@Model.Previous.OtherCurrentAsset</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Total</b></td>
                        <td style="text-align:right">@Model.Current.Total_II</td>
                        <td style="text-align:right">@Model.Previous.Total_II</td>
                    </tr>

                </table>
            </div>
        </div>
    }
</div>
<div class="row col-md-12 colpadding0 text-center mt10">
    <button type="button" class="btn btn-primary" onclick="btnClosePreviewWindow();">Close</button>
</div>