﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.AOC4_CompanyInfoVM
<div id="divCompanyInfo">

<style>
    #tblFRStatement .td {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        text-align: justify;
        color: #767676;
    }
</style>

@using (Ajax.BeginForm("SaveCompanyInfo", "AOC4", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divCompanyInfo", OnBegin = "OnOpenForm", OnComplete = "OnRefreshForm" }, new { id = "frmCompanyInfo" }))
{
    <div style="min-height:480px;max-height:500px;overflow-y:auto;overflow-x:hidden">

        @if (Model.Success)
        {
            <div class="row">
                <div class="col-md-12 colpadding0" id="DivsuccessI">
                    <div class="alert alert-success alert-dismissible">
                        <button class="close" type="button" onclick="hideAlert();">×</button>
                        <lable id="lblsuccessI">@Html.Raw(Model.Message)</lable>
                    </div>
                </div>
            </div>
        }
        else if (Model.Error)
        {
            <div class="row">
                <div class="col-md-12 colpadding0" id="DiverrorI">
                    <div class="alert alert-danger alert-dismissible">
                        <button class="close" type="button" onclick="hideAlert();">×</button>
                        <lable id="lblerrormsgI">@Html.Raw(Model.Message)</lable>
                    </div>
                </div>
            </div>
        }

        @Html.HiddenFor(m => m.CompanyInfoId)
        @Html.HiddenFor(m => m.CompanyInfoAOC4Id)
        @Html.HiddenFor(m => m.EntityId)

        <div style="height:400px;">
            
            <div class="tab" role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" id="Details" class="active"><a href="#Details1" aria-controls="home" role="tab" data-toggle="tab">Details</a></li>
                    <li role="presentation" id="SigningDetails"><a href="#SigningDetails1" aria-controls="profile" role="tab" data-toggle="tab">Signing of Financial Statements</a></li>
                    <li role="presentation" id="SigningDetails_1"><a href="#SigningDetails2" aria-controls="profile" role="tab" data-toggle="tab">Signing of Borad's Report</a></li>
                    <li role="presentation" id="Other_1"><a href="#Other2" aria-controls="profile" role="tab" data-toggle="tab">Other</a></li>
                </ul>

                <div class="tab-content tabs">

                    <div role="tabpanel" class="tab-pane fade in active" id="Details1">

                        <div style="height:400px;">
                            <div class="row mt30">

                                <div class="col-md-12">
                                    <div class="col-md-6 colpadding0">
                                        <div class="col-md-7 colpadding0">
                                            <span style="color:red">*</span><lable class="control-label">Financial year to which financial statements relates From</lable>
                                        </div>
                                        <div class="col-md-4 colpadding0">
                                            @(Html.Kendo().DatePicker().Name("FYStart").Format("dd/MM/yyyy")
                        .HtmlAttributes(new { style = "width: 91%", @Id = "FYStart", onchange = "checkDate(this);", autocomplete = "off" }))
                                            @Html.ValidationMessageFor(model => model.FYStart, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-1 colpadding0">
                                            <lable class="control-label">To</lable>
                                        </div>
                                    </div>
                                    <div class="col-md-2 colpadding0">
                                        @(Html.Kendo().DatePicker().Name("FYEnd").Format("dd/MM/yyyy")
                            .HtmlAttributes(new { style = "width: 95%", @Id = "FYEnd", onchange = "checkDate(this);", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.FYEnd, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>

                            <div class="row mt30">
                                <div class="col-md-12">
                                    <div class="col-md-6 colpadding0">
                                        <lable class="control-label">Date of Board of directors’ meeting in which financial statements are approved</lable>
                                    </div>
                                    <div class="col-md-2 colpadding0">
                                        @(Html.Kendo().DatePicker().Name("DateOfBM_FRApproved").Format("dd/MM/yyyy")
                        .HtmlAttributes(new { style = "width: 95%", @Id = "DateOfBM_FRApproved", onchange = "checkDate(this);", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.DateOfBM_FRApproved, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row mt30">
                                <div class="col-md-12">
                                    <div class="col-md-6 colpadding0">
                                        <lable class="control-label">Date of Board of directors' meeting in which boards' report referred under section 134 was approved</lable>
                                    </div>
                                    <div class="col-md-2 colpadding0">
                                        @(Html.Kendo().DatePicker().Name("DateOfBM_FRSec134").Format("dd/MM/yyyy")
                        .HtmlAttributes(new { style = "width: 95%", @Id = "DateOfBM_FRSec134", onchange = "checkDate(this);", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.DateOfBM_FRSec134, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row mt30">
                                <div class="col-md-12">
                                    <div class="col-md-6 colpadding0">
                                        <lable class="control-label">Date of signing of reports on the financial statements by the auditors</lable>
                                    </div>
                                    <div class="col-md-2 colpadding0">
                                        @(Html.Kendo().DatePicker().Name("DateOfBM_FRSignAuditor").Format("dd/MM/yyyy")
                        .HtmlAttributes(new { style = "width: 95%", @Id = "DateOfBM_FRSignAuditor", onchange = "checkDate(this);", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.DateOfBM_FRSignAuditor, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row mt30">
                                <div class="col-md-12">
                                    <div class="col-md-6 colpadding0">
                                        <span style="color:red">*</span><lable class="control-label">Whether company is maintaining books of account and other relevant books and papers in electronic form </lable>
                                    </div>
                                    <div class="col-md-3 colpadding0">
                                        @(Html.Kendo().RadioButtonFor(m => m.RecordsInEForm).Label("Yes").Value(true).HtmlAttributes(new { }))
                                        &nbsp;
                                        @(Html.Kendo().RadioButtonFor(m => m.RecordsInEForm).Label("No").Value(false).HtmlAttributes(new { }))
                                    </div>
                                </div>
                            </div>

                            <div class="row mt30 hidden">
                                <div class="col-md-12">
                                    <div class="col-md-6 colpadding0">
                                        <span style="color:red">*</span><lable class="control-label">Number of Auditors</lable>
                                    </div>
                                    <div class="col-md-2 colpadding0">
                                        @(Html.Kendo().TextBoxFor(m => m.NoOfAuditors).HtmlAttributes(new { style = "width: 80%", autocomplete = "off", type = "number" }))
                                        @Html.ValidationMessageFor(model => model.NoOfAuditors, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row mt30">
                                <div class="col-md-12">
                                    <div class="col-md-6 colpadding0">
                                        <span style="color:red"></span><lable class="control-label">Share capital raised during the reporting period</lable>
                                    </div>
                                    <div class="col-md-3 colpadding0">
                                        @(Html.Kendo().RadioButtonFor(m => m.ShareCapital).Label("Yes").Value(true).HtmlAttributes(new { }))
                                        &nbsp;
                                        @(Html.Kendo().RadioButtonFor(m => m.ShareCapital).Label("No").Value(false).HtmlAttributes(new { }))
                                    </div>
                                </div>
                            </div>

                            <div class="row mt30">
                                <div class="col-md-12">
                                    <div class="col-md-6 colpadding0">
                                        <span style="color:red"></span><lable class="control-label">Whether there is any Foreign Exchange transaction during the F.Y.</lable>
                                    </div>
                                    <div class="col-md-3 colpadding0">
                                        @(Html.Kendo().RadioButtonFor(m => m.DetailedPL).Label("Yes").Value(true).HtmlAttributes(new { }))
                                        &nbsp;
                                        @(Html.Kendo().RadioButtonFor(m => m.DetailedPL).Label("No").Value(false).HtmlAttributes(new { }))
                                    </div>
                                </div>
                            </div>

                            <div class="row mt30">
                                <div class="col-md-12">
                                    <div class="col-md-6 colpadding0">
                                        <span style="color:red"></span><lable class="control-label">Whether there is any Related Party transaction during the F.Y.</lable>
                                    </div>
                                    <div class="col-md-3 colpadding0">
                                        @(Html.Kendo().RadioButtonFor(m => m.RPT).Label("Yes").Value(true).HtmlAttributes(new { }))
                                        &nbsp;
                                        @(Html.Kendo().RadioButtonFor(m => m.RPT).Label("No").Value(false).HtmlAttributes(new { }))
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="SigningDetails1">

                        <div class="row mt30">

                            <div class="col-md-12">

                                <div class="col-md-5">

                                    <div style="height:300px;">
                                        <table id="tblFRStatement" border="0">
                                            <tr>
                                                <th><b> DIN or PAN </b></th>
                                                <th><b>Date of signing</b></th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @(Html.Kendo().TextBoxFor(m => m.objSignedDetails.DINPAN_1).HtmlAttributes(new { style = "width: 80%", autocomplete = "off" }))
                                                </td>
                                                <td>
                                                    @(Html.Kendo().DatePickerFor(m => m.objSignedDetails.Date_1).Format("dd/MM/yyyy").HtmlAttributes(new { style = "width: 80%", onchange = "checkDate(this);", autocomplete = "off" }))
                                                    @Html.ValidationMessageFor(model => model.objSignedDetails.Date_1, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    @(Html.Kendo().TextBoxFor(m => m.objSignedDetails.DINPAN_2).HtmlAttributes(new { @class = "mt30", style = "width: 80%", autocomplete = "off" }))
                                                </td>
                                                <td>
                                                    @(Html.Kendo().DatePickerFor(m => m.objSignedDetails.Date_2).Format("dd/MM/yyyy").HtmlAttributes(new { @class = "mt30", style = "width: 80%", onchange = "checkDate(this);", autocomplete = "off" }))
                                                    @Html.ValidationMessageFor(model => model.objSignedDetails.Date_2, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    @(Html.Kendo().TextBoxFor(m => m.objSignedDetails.DINPAN_3).HtmlAttributes(new { @class = "mt30", style = "width: 80%", autocomplete = "off" }))
                                                </td>
                                                <td>
                                                    @(Html.Kendo().DatePickerFor(m => m.objSignedDetails.Date_3).Format("dd/MM/yyyy").HtmlAttributes(new { @class = "mt30", style = "width: 80%", onchange = "checkDate(this);", autocomplete = "off" }))
                                                    @Html.ValidationMessageFor(model => model.objSignedDetails.Date_3, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    @(Html.Kendo().TextBoxFor(m => m.objSignedDetails.DINPAN_4).HtmlAttributes(new { @class = "mt30", style = "width: 80%", autocomplete = "off" }))
                                                </td>
                                                <td>
                                                    @(Html.Kendo().DatePickerFor(m => m.objSignedDetails.Date_4).Format("dd/MM/yyyy").HtmlAttributes(new { @class = "mt30", style = "width: 80%", onchange = "checkDate(this);", autocomplete = "off" }))
                                                    @Html.ValidationMessageFor(model => model.objSignedDetails.Date_4, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    @(Html.Kendo().TextBoxFor(m => m.objSignedDetails.DINPAN_5).HtmlAttributes(new { @class = "mt30", style = "width: 80%", autocomplete = "off" }))
                                                </td>
                                                <td>
                                                    @(Html.Kendo().DatePickerFor(m => m.objSignedDetails.Date_5).Format("dd/MM/yyyy").HtmlAttributes(new { @class = "mt30", style = "width: 80%", onchange = "checkDate(this);", autocomplete = "off" }))
                                                    @Html.ValidationMessageFor(model => model.objSignedDetails.Date_5, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>
                                        </table>
                                    </div>


                                </div>

                                <div class="col-md-6">

                                </div>


                            </div>

                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="SigningDetails2">

                        <div class="row mt30">

                            <div class="col-md-12">

                                <div class="col-md-5">

                                    <div style="height:300px;">
                                        <table id="tblBRStatement" border="0">
                                            <tr>
                                                <th><b> DIN</b></th>
                                                <th><b>Date of signing</b></th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @(Html.Kendo().TextBoxFor(m => m.objSignedDetails.DIN_1).HtmlAttributes(new { style = "width: 80%", autocomplete = "off", type = "number" }))
                                                </td>
                                                <td>
                                                    @(Html.Kendo().DatePickerFor(m => m.objSignedDetails.DDate_1).Format("dd/MM/yyyy").HtmlAttributes(new { style = "width: 80%", onchange = "checkDate(this);", autocomplete = "off" }))
                                                    @Html.ValidationMessageFor(model => model.objSignedDetails.DDate_1, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @(Html.Kendo().TextBoxFor(m => m.objSignedDetails.DIN_2).HtmlAttributes(new { @class = "mt30", style = "width: 80%", autocomplete = "off", type = "number" }))
                                                </td>
                                                <td>
                                                    @(Html.Kendo().DatePickerFor(m => m.objSignedDetails.DDate_2).Format("dd/MM/yyyy").HtmlAttributes(new { @class = "mt30", style = "width: 80%", onchange = "checkDate(this);", autocomplete = "off" }))
                                                    @Html.ValidationMessageFor(model => model.objSignedDetails.DDate_2, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @(Html.Kendo().TextBoxFor(m => m.objSignedDetails.DIN_3).HtmlAttributes(new { @class = "mt30", style = "width: 80%", autocomplete = "off", type = "number" }))
                                                </td>
                                                <td>
                                                    @(Html.Kendo().DatePickerFor(m => m.objSignedDetails.DDate_3).Format("dd/MM/yyyy").HtmlAttributes(new { @class = "mt30", style = "width: 80%", onchange = "checkDate(this);", autocomplete = "off" }))
                                                    @Html.ValidationMessageFor(model => model.objSignedDetails.DDate_3, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>

                                        </table>
                                    </div>


                                </div>

                                <div class="col-md-6">

                                </div>

                            </div>

                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="Other2">

                        <div class="row mt30">
                            <div class="col-md-12">
                                <div class="col-md-6 colpadding0">
                                    <span style="color:red">*</span><lable class="control-label">Whether annual general meeting (AGM) held</lable>
                                </div>
                                <div class="col-md-4 colpadding0">
                                    @(Html.Kendo().RadioButton().Name("AGM_Held_T").Enable(false).Label("Yes").Value("T").HtmlAttributes(new { }))
                                    &nbsp;
                                    @(Html.Kendo().RadioButton().Name("AGM_Held_F").Enable(false).Label("No").Value("F").HtmlAttributes(new { }))
                                    &nbsp;
                                    @(Html.Kendo().RadioButton().Name("AGM_Held_NA").Enable(false).Label("Not applicable").Value("NA").HtmlAttributes(new { }))
                                </div>
                            </div>
                        </div>

                        <div class="row mt30">
                            <div class="col-md-12">
                                <div class="col-md-6 colpadding0">
                                    <lable class="control-label">If yes, date of AGM</lable>
                                </div>
                                <div class="col-md-2 colpadding0">
                                    @(Html.Kendo().DatePicker().Name("TempDateOfAGM").Enable(false).Format("dd/MM/yyyy").HtmlAttributes(new { style = "width: 95%", autocomplete = "off" }))
                                </div>
                            </div>
                        </div>

                        <div class="row mt30">
                            <div class="col-md-12">
                                <div class="col-md-6 colpadding0">
                                    <lable class="control-label">Due date of AGM</lable>
                                </div>
                                <div class="col-md-2 colpadding0">
                                    @(Html.Kendo().DatePicker().Name("TempDueDateOfAGM").Enable(false).Format("dd/MM/yyyy").HtmlAttributes(new { style = "width: 95%", autocomplete = "off" }))
                                </div>
                            </div>
                        </div>

                        <div class="row mt30">
                            <div class="col-md-12">
                                <div class="col-md-6 colpadding0">
                                    <span style="color:red">*</span><lable class="control-label">Whether any extension for financial year or AGM granted</lable>
                                </div>
                                <div class="col-md-3 colpadding0">
                                    @(Html.Kendo().RadioButton().Name("AGM_E_T").Enable(false).Label("Yes").Value("T").HtmlAttributes(new { }))
                                    &nbsp;
                                    @(Html.Kendo().RadioButton().Name("AGM_E_F").Enable(false).Label("No").Value("F").HtmlAttributes(new { }))
                                </div>
                            </div>
                        </div>

                        <div class="row mt30">
                            <div class="col-md-12">
                                <div class="col-md-6 colpadding0">
                                    <span style="color:red">*</span><lable class="control-label">Whether the company has a subsidiary company as defined under clause (87) of section 2</lable>
                                </div>
                                <div class="col-md-3 colpadding0">
                                    @(Html.Kendo().RadioButton().Name("Subsidary_T").Enable(false).Label("Yes").Value("T").HtmlAttributes(new { }))
                                    &nbsp;
                                    @(Html.Kendo().RadioButton().Name("Subsidary_F").Enable(false).Label("No").Value("F").HtmlAttributes(new { }))
                                </div>
                            </div>
                        </div>

                        <div class="row mt30">
                            <div class="col-md-12">
                                <p style="color:red;"><b>Note : Highlighted area (in grey) is current being worked on. Request you to enter those details manually after form generation. We regret the inconvenience caused.</b></p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>

         <div class="row colpadding0 mt30">
                    <div class="col-md-12 colpadding0">
                        <div class="text-center">
                            <button type="Submit" id="command_name" name="command_name" value="save" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>

        </div>
}

    <script>
        var validator1 = $("#frmAddNewForm").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
    </script>

    <script>
    $(document).ready(function () {

    });
    </script>
</div>