﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.AOC4_List_VM
    <div id="divCreateNew">
        @using (Ajax.BeginForm("Save", "AOC4", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divCreateNew", OnBegin = "OnOpenForm", OnComplete = "OnRefreshForm" }, new { id = "frmAddNewForm" }))
        {
            <div style="width:520px; max-height:400px;overflow-y:auto;overflow-x:hidden">

                @if (Model.Success)
                {
                    <div class="row">
                        <div class="col-md-12 colpadding0" id="DivsuccessI">
                            <div class="alert alert-success alert-dismissible">
                                <button class="close" type="button" onclick="hideAlert();">×</button>
                                <lable id="lblsuccessI">@Html.Raw(Model.Message)</lable>
                            </div>
                        </div>
                    </div>
                }
                else if (Model.Error)
                {
                    <div class="row">
                        <div class="col-md-12 colpadding0" id="DiverrorI">
                            <div class="alert alert-danger alert-dismissible">
                                <button class="close" type="button" onclick="hideAlert();">×</button>
                                <lable id="lblerrormsgI">@Html.Raw(Model.Message)</lable>
                            </div>
                        </div>
                    </div>
                }

                <div class="row mt30">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <span style="color:red">*</span><lable class="control-label">Entity</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @(Html.Kendo().DropDownListFor(model => model.EntityId)
         .DataValueField("Id")
         .DataTextField("EntityName")
         .OptionLabel("Select Entity")
         .DataSource(source =>
         {
             source.Read(read =>
             {
                 read.Url("/api/EntityMasterAPI/GetAllEntityMasterForMeetingNew").Type(HttpVerbs.Get);
             }).ServerFiltering(false);
         }).HtmlAttributes(new { style = "width: 95%;", onchange = "ddlEntity_changed(this)" }))

                        </div>
                    </div>
                </div>

                <div id="divFY" class="row mt30">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <span style="color:red">*</span><lable class="control-label">Financial Year</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @(Html.Kendo().DropDownListFor(model => model.FYId).OptionLabel("Select FY").ValuePrimitive(true).DataValueField("FYID").DataTextField("FYText").HtmlAttributes(new { style = "width: 95%;" })
                            )
                        </div>
                    </div>
                </div>

                <div class="row colpadding0 mt30">
                    <div class="col-md-12 colpadding0">
                        <div class="text-center">
                            <button type="Submit" id="command_name" name="command_name" value="save" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>

        }

        <script>
            var validator1 = $("#frmAddNewForm").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");

            function ddlEntity_changed() {
                debugger;
                var ddlEntityId = $("#EntityId").data("kendoDropDownList");
                var entityID = $("#EntityId").val();
                var index = ddlEntityId.selectedIndex;

                if ((entityID > 0) == false) {
                    entityID = -1;
                }
                BindFinancialYear_DropDown(entityID);
            }

            function BindFinancialYear_DropDown(entityID) {
                var dataSource = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: "/api/ConfigurationMasterAPI/GetFYListByEntityID?EntityID=" + entityID,
                        }
                    }
                });

                var ddl = $('#FYId').data("kendoDropDownList");
                ddl.setDataSource(dataSource);
                ddl.refresh();
            }
        </script>

        <script>
            $(document).ready(function () {
                if ("@Model.Success".toUpperCase() == "TRUE") {
                    window.location = "@Url.Action("AOC4", "AOC4")"+"?id=@Model.AOC4Id";
                }
            });
        </script>
    </div>