﻿
@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;
@model BM_ManegmentServices.VM.DetailedProfitLossPrevVM

<style>
    #tblBalanceSheet .td {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        text-align: justify;
        color: #767676;
    }
</style>
@*<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="jquery.numberformatter.js"></script>*@
@*<script>
    $(document).ready(function () {
        $(".numbers").each(function () {
            $(this).format({ format: "#,###", locale: "us" });
        });
    });
</script>*@
<script>
    function numberWithCommas(number) {
        var parts = number.toString().split(".");
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        return parts.join(".");
    }
    $(document).ready(function () {
        $("#tblDetailedPL td").each(function () {
            var num = $(this).text();
            var commaNum = numberWithCommas(num);
            $(this).text(commaNum);
        });
        
        $("#tblDetailedPL1 td").each(function () {
            var num = $(this).text();
            var commaNum = numberWithCommas(num);
            $(this).text(commaNum);
        });
    });
</script>
<div id="DivBalanceSheetSharedCapitalRaised" style="max-height:520px; overflow-x:hidden; overflow-y:auto;">

    @if (Model != null)
    {
        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                <table border="0" style="margin-bottom:10px">
                    <tr>
                        <th>
                            <b>II.Detailed Profit and Loss items (Amount in Rupees)</b>
                        </th>
                    </tr>
                    <tr></tr>
                    <tr>
                        <th>
                            <b>A.Details of earning in foreign exchange</b>
                        </th>
                    </tr>
                    <tr></tr>
                </table>
                <table id="tblDetailedPL" border="1">
                    <tr>
                        <th style="width: 48%; text-align: center">
                            <b>Particulars</b>
                        </th>
                        <th>
                            <b>Current reporting period</b>
                        </th>
                        <th>
                            <b>Previous reporting period</b>
                        </th>
                    </tr>
                    <tr>
                        <th>Export of goods calculated on FOB basis</th>
                        <td style="text-align:right">@Model.Current.EXP_GOODS_FOB_CR</td>
                        <td style="text-align:right">@Model.Previous.EXP_GOODS_FOB_CR</td>
                    </tr>
                    <tr>
                        <th>Interest and dividend</th>
                        <td style="text-align:right">@Model.Current.INTEREST_DIVD_CR</td>
                        <td style="text-align:right">@Model.Previous.INTEREST_DIVD_CR</td>
                    </tr>
                    <tr>
                        <th>Royalty</th>
                        <td style="text-align:right">@Model.Current.ROYALTY_CR</td>
                        <td style="text-align:right">@Model.Previous.ROYALTY_CR</td>
                    </tr>
                    <tr>
                        <th>Know-how</th>
                        <td style="text-align:right">@Model.Current.KNOW_HOW_CR</td>
                        <td style="text-align:right">@Model.Previous.KNOW_HOW_CR</td>
                    </tr>
                    <tr>
                        <th>Professional and consultation fees</th>
                        <td style="text-align:right">@Model.Current.PROF_CONS_FEE_CR</td>
                        <td style="text-align:right">@Model.Previous.PROF_CONS_FEE_CR</td>
                    </tr>
                    <tr>
                        <th>Other income</th>
                        <td style="text-align:right">@Model.Current.OTHR_INCOME_E_CR</td>
                        <td style="text-align:right">@Model.Previous.OTHR_INCOME_E_CR</td>
                    </tr>
                    <tr>
                        <th>Total Earning in Foreign Exchange</th>
                        <td style="text-align:right">@Model.Current.TOTAL_EARNG_FE_C</td>
                        <td style="text-align:right">@Model.Previous.TOTAL_EARNG_FE_C</td>
                    </tr>
                </table>
                <table style="margin-top:10px">
                    <tr>
                        <th>
                            <b>B.Details of expenditure in foreign exchange</b>
                        </th>
                    </tr>
                </table>
                <table id="tblDetailedPL1" border="1">
                    <tr>
                        <th style="width: 48%; text-align: center"><b>Particulars</b></th>
                        <th><b>Current reporting period</b></th>
                        <th><b>Previous reporting period</b></th>
                    </tr>
                    <tr>
                        <th>Import of goods calculated on CIF basis</th>
                    </tr>
                    <tr>
                        <th>(i) Raw material</th>
                        <td style="text-align:right">@Model.Current.RAW_MATERIAL_CR</td>
                        <td style="text-align:right">@Model.Previous.RAW_MATERIAL_CR</td>
                    </tr>
                    <tr>
                        <th>(ii) Component and spare parts</th>
                        <td style="text-align:right">@Model.Current.COMPONENT_SP_CR</td>
                        <td style="text-align:right">@Model.Previous.COMPONENT_SP_CR</td>
                    </tr>
                    <tr>
                        <th>(iii) Capital goods</th>
                        <td style="text-align:right">@Model.Current.CAPITAL_GOODS_CR</td>
                        <td style="text-align:right">@Model.Previous.CAPITAL_GOODS_CR</td>
                    </tr>
                    <tr>
                        <th>Expenditure on account of Royalty</th>
                        <td style="text-align:right">@Model.Current.ROYALTY_EXP_CR</td>
                        <td style="text-align:right">@Model.Previous.ROYALTY_EXP_CR</td>
                    </tr>
                    <tr>
                        <th>Know-how</th>
                        <td style="text-align:right">@Model.Current.KNOW_HOW_EXP_CR</td>
                        <td style="text-align:right">@Model.Previous.KNOW_HOW_EXP_CR</td>
                    </tr>
                    <tr>
                        <th>Professional and consultation fees</th>
                        <td style="text-align:right">@Model.Current.PROF_CON_FEE_E_C</td>
                        <td style="text-align:right">@Model.Previous.PROF_CON_FEE_E_C</td>
                    </tr>
                    <tr>
                        <td style="text-align:right">Interest</td>
                        <td style="text-align:right">@Model.Current.INTEREST_EXP_CR</td>
                        <td style="text-align:right">@Model.Previous.INTEREST_EXP_CR</td>
                    </tr>
                    <tr>
                        <th>Other matters</th>
                        <td style="text-align:right">@Model.Current.OTHER_MATTERS_CR</td>
                        <td style="text-align:right">@Model.Previous.OTHER_MATTERS_CR</td>
                    </tr>
                    <tr>
                        <th>Dividend paid</th>
                        <td style="text-align:right">@Model.Current.DIVIDEND_PAID_CR</td>
                        <td style="text-align:right">@Model.Previous.DIVIDEND_PAID_CR</td>
                    </tr>
                    <tr>
                        <th>Total Expenditure in foreign exchange</th>
                        <td style="text-align:right">@Model.Current.TOT_EXP_FE_CR</td>
                        <td style="text-align:right">@Model.Previous.TOT_EXP_FE_CR</td>
                    </tr>
                </table>
            </div>
        </div>
    }
</div>

<div class="row col-md-12 colpadding0 text-center mt10">
    <button type="button" class="btn btn-primary" onclick="btnClosePreviewWindow();">Close</button>
</div>


