﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.DetailsOfCostRecordsVM

<div id="divDetailsOfRecords">
    @using (Ajax.BeginForm("PreviewDetailsOfCostRecords", "AOC4", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "divDetailsOfRecords", OnBegin = "OnOpenForm", OnComplete = "OnRefreshForm" }, new { id = "frmDetailsCostRecords" }))
    {
        <div style="max-height:400px;overflow-y:auto;overflow-x:hidden">

            @Html.HiddenFor(m => m.DetailsOfCostRecordsId)
            @Html.HiddenFor(m => m.DetailsOfCostRecordsAOC4Id)

            <div class="row mt30">
                <div class="col-md-12">
                    <div class="col-md-8 colpadding0">
                        <span style="color:red">*</span><lable class="control-label"> Whether maintenance of cost records by the company has been mandated under Companies (Cost Records and Audit) Rules, 2014.</lable>
                    </div>
                    <div class="col-md-2">
                        @(Html.Kendo().RadioButtonFor(m => m.MaintenanceOfCR).Label("Yes").Value(true).HtmlAttributes(new { }))
                        &nbsp;
                        @(Html.Kendo().RadioButtonFor(m => m.MaintenanceOfCR).Label("No").Value(false).HtmlAttributes(new { }))
                    </div>
                </div>
            </div>
            <div class="row mt30">
                <div class="col-md-12">
                    <div class="col-md-6 colpadding0">
                        <span style="color:red">*</span><lable class="control-label">If yes, Central Excise Tariff Act Heading in which the product/ service is covered</lable>
                    </div>
                    <div class="col-md-2 colpadding0">
                        @(Html.Kendo().TextBoxFor(m => m.CentralExcise).HtmlAttributes(new { style = "width: 100%", autocomplete = "off"}))
                        @Html.ValidationMessageFor(model => model.CentralExcise, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row mt30">
                <div class="col-md-12">
                    <div class="col-md-6 colpadding0">
                        <span style="color:red">*</span><lable class="control-label"> Whether audit of cost records of the company has been mandated under Rules specified in SN 1.</lable>
                    </div>
                    <div class="col-md-3 colpadding0">
                        @(Html.Kendo().RadioButtonFor(m => m.AuditOfCR).Label("Yes").Value(true).HtmlAttributes(new { }))
                        &nbsp;
                        @(Html.Kendo().RadioButtonFor(m => m.AuditOfCR).Label("No").Value(false).HtmlAttributes(new { }))
                    </div>
                </div>
            </div>
            <div class="row mt30">
                <div class="col-md-12">
                    <div class="col-md-6 colpadding0">
                        <span style="color:red">*</span><lable class="control-label">If yes, Central Excise Tariff ActHeading in which the product/ service is covered</lable>
                    </div>
                    <div class="col-md-2 colpadding0">
                        @(Html.Kendo().TextBoxFor(m => m.CentralExcise1).HtmlAttributes(new { style = "width: 100%", autocomplete = "off"}))
                        @Html.ValidationMessageFor(model => model.CentralExcise1, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row colpadding0 mt30">
                <div class="col-md-12 colpadding0">
                    <div class="text-center">                      
                        <button type="button" class="btn btn-primary" onclick="btnClosePreviewWindow();">Close</button>
                    </div>
                </div>
            </div>
        </div>

    }

    <script>
        var validator1 = $("#frmAddNewForm").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
    </script>

    <script>
            $(document).ready(function () {

            });
    </script>
</div>

