﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.DetailsOfCostRecordsVM

<div id="divDetailsOfRecords">
    @using (Ajax.BeginForm("SaveDetailsOfCostRecords", "AOC4", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divDetailsOfRecords", OnBegin = "OnOpenForm", OnComplete = "OnRefreshForm" }, new { id = "frmDetailsCostRecords" }))
    {
    <div style="max-height:400px;overflow-y:auto;overflow-x:hidden">

        @if (Model.Success)
        {
            <div class="row">
                <div class="col-md-12 colpadding0" id="DivsuccessI">
                    <div class="alert alert-success alert-dismissible">
                        <button class="close" type="button" onclick="hideAlert();">×</button>
                        <lable id="lblsuccessI">@Html.Raw(Model.Message)</lable>
                    </div>
                </div>
            </div>
        }
        else if (Model.Error)
        {
            <div class="row">
                <div class="col-md-12 colpadding0" id="DiverrorI">
                    <div class="alert alert-danger alert-dismissible">
                        <button class="close" type="button" onclick="hideAlert();">×</button>
                        <lable id="lblerrormsgI">@Html.Raw(Model.Message)</lable>
                    </div>
                </div>
            </div>
        }

        @Html.HiddenFor(m => m.DetailsOfCostRecordsId)
        @Html.HiddenFor(m => m.DetailsOfCostRecordsAOC4Id)

        <div class="row mt30">
            <div class="col-md-12">
                <div class="col-md-8 colpadding0">
                    <span style="color:red">*</span><lable class="control-label"> Whether maintenance of cost records by the company has been mandated under Companies (Cost Records and Audit) Rules, 2014.</lable>
                </div>
                <div class="col-md-2">
                    @(Html.Kendo().RadioButtonFor(m => m.MaintenanceOfCR).Label("Yes").Value(true).HtmlAttributes(new { }))
                    &nbsp;
                    @(Html.Kendo().RadioButtonFor(m => m.MaintenanceOfCR).Label("No").Value(false).HtmlAttributes(new { }))
                </div>
            </div>
        </div>
        <div id="divShowHide1" class="row mt30">
            <div class="col-md-12">
                <div class="col-md-6 colpadding0">
                    <lable class="control-label">If yes, Central Excise Tariff Act Heading in which the product/ service is covered</lable>
                </div>
                <div class="col-md-2 colpadding0">
                    @(Html.Kendo().TextBoxFor(m => m.CentralExcise).HtmlAttributes(new { style = "width: 100%", autocomplete = "off"}))
                    @Html.ValidationMessageFor(model => model.CentralExcise, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div id="divShowHide2" class="row mt30">
            <div class="col-md-12">
                <div class="col-md-6 colpadding0">
                    <lable class="control-label"> Whether audit of cost records of the company has been mandated under Rules specified in SN 1.</lable>
                </div>
                <div class="col-md-3 colpadding0">
                    @(Html.Kendo().RadioButtonFor(m => m.AuditOfCR).Label("Yes").Value(true).HtmlAttributes(new { }))
                    &nbsp;
                    @(Html.Kendo().RadioButtonFor(m => m.AuditOfCR).Label("No").Value(false).HtmlAttributes(new { }))
                </div>
            </div>
        </div>

        <div id="divShowHide3" class="row mt30">
            <div class="col-md-12">
                <div class="col-md-6 colpadding0">
                    <lable class="control-label">If yes, Central Excise Tariff ActHeading in which the product/ service is covered</lable>
                </div>
                <div class="col-md-2 colpadding0">
                    @(Html.Kendo().TextBoxFor(m => m.CentralExcise1).HtmlAttributes(new { style = "width: 100%", autocomplete = "off"}))
                    @Html.ValidationMessageFor(model => model.CentralExcise1, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">
                <div class="text-center">
                    <button type="Submit" id="command_name" name="command_name" value="save" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

    }

    <script>
        var validator1 = $("#frmAddNewForm").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
    </script>

    <script>
    $(document).ready(function () {

        $('input[type=radio][name=MaintenanceOfCR]').change(function () {
            debugger;
            if (this.value == 'True' || this.value == 'true') {
                $("#divShowHide1").removeClass("hidden");
                $("#divShowHide2").removeClass("hidden");

                if ($("#AuditOfCR_True")[0].checked == true) {
                    $("#divShowHide3").removeClass("hidden");
                }
                else {
                    $("#divShowHide3").addClass("hidden");
                }
            }
            else if (this.value == 'False' || this.value == 'false') {
                $("#divShowHide1").addClass("hidden");
                $("#divShowHide2").addClass("hidden");
                $("#divShowHide3").addClass("hidden");
            }
        });


        $('input[type=radio][name=AuditOfCR]').change(function () {
            debugger;
            if (this.value == 'True' || this.value == 'true') {
                $("#divShowHide3").removeClass("hidden");
            }
            else if (this.value == 'False' || this.value == 'false') {
                $("#divShowHide3").addClass("hidden");
            }
        });

        if ($("#MaintenanceOfCR_True")[0].checked) {
            $("#divShowHide1").removeClass("hidden");
            $("#divShowHide2").removeClass("hidden");

            if ($("#AuditOfCR_True")[0].checked == true) {
                $("#divShowHide3").removeClass("hidden");
            }
            else {
                $("#divShowHide3").addClass("hidden");
            }
        } else {
            $("#divShowHide1").addClass("hidden");
            $("#divShowHide2").addClass("hidden");
            $("#divShowHide3").addClass("hidden");
        }
    });
    </script>
</div>
