﻿@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;
@model BM_ManegmentServices.VM.AOC4_DetailedBalanceSheetPrevVM

<style>
    #tblBalanceSheet .td {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        text-align: justify;
        color: #767676;
    }
</style>
<script>
    $(document).ready(function () {
        $("#tblBalanceSheet td").each(function () {
            var num = $(this).text();
            var commaNum = numberWithCommas(num);
            $(this).text(commaNum);
        });
    });
</script>
<div id="DivBalanceSheet" style="max-height:520px; overflow-x:hidden; overflow-y:auto;">

    @if (Model != null)
    {
        //Section A

        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                <table>
                    <tr>
                        <th>
                            <b>
                                II. Detailed Balance sheet items (Amount in Rupees)
                            </b>
                        </th>
                    </tr>
                    <tr><td><br /></td></tr>
                    <tr>
                        <th>
                            <b>
                                A. Details of long term borrowings (unsecured)
                            </b>
                        </th>
                    </tr>
                </table>
                <table id="tblBalanceSheet" border="1">

                    <tr>
                        <th style="width: 48%; text-align:center">
                            <b>Particulars</b>
                        </th>
                        <th style="width: 25%; text-align: center">
                            <b>Currents reporting period</b>
                        </th>
                        <th style="width: 25%; text-align: center">
                            <b>Previous reporting period</b>
                        </th>
                    </tr>
                    <tr>
                        <td>  Bonds / Debentures   </td>
                        <td style="text-align:right">@Model.Current.LT_Bonds</td>
                        <td style="text-align:right">@Model.Previous.LT_Bonds</td>
                    </tr>
                    <tr><th><b>Term Loans</b></th> </tr>
                    <tr>
                        <td>-From Banks</td>
                        <td style="text-align:right">@Model.Current.LT_LoanBank</td>
                        <td style="text-align:right">@Model.Previous.LT_LoanBank</td>
                    </tr>
                    <tr>
                        <td>-From other parties</td>
                        <td style="text-align:right">@Model.Current.LT_LoanOtherParties</td>
                        <td style="text-align:right">@Model.Previous.LT_LoanOtherParties</td>
                    </tr>
                    <tr>
                        <td>Deferred payment liabilities</td>
                        <td style="text-align:right">@Model.Current.LT_Deferred_pay_liabilities</td>
                        <td style="text-align:right">@Model.Previous.LT_Deferred_pay_liabilities</td>
                    </tr>
                    <tr>
                        <td>Deposits</td>
                        <td style="text-align:right">@Model.Current.LT_Deposits</td>
                        <td style="text-align:right">@Model.Previous.LT_Deposits</td>
                    </tr>
                    <tr>
                        <td>Loans and advances from related parties</td>
                        <td style="text-align:right">@Model.Current.LT_Loans_adv_related_parties</td>
                        <td style="text-align:right">@Model.Previous.LT_Loans_adv_related_parties</td>
                    </tr>
                    <tr>
                        <td>Long term maturities of financial lease Obligations</td>
                        <td style="text-align:right">@Model.Current.LT_maturities</td>
                        <td style="text-align:right">@Model.Previous.LT_maturities</td>
                    </tr>
                    <tr>
                        <td>Other loans & advances</td>
                        <td style="text-align:right">@Model.Current.LT_Otherloans_advances</td>
                        <td style="text-align:right">@Model.Previous.LT_Otherloans_advances</td>
                    </tr>
                    <tr>
                        <td><b>Total long term borrowings (unsecured)</b></td>
                        <td style="text-align:right">@Model.Current.LT_Tot_borrowings</td>
                        <td style="text-align:right">@Model.Previous.LT_Tot_borrowings</td>
                    </tr>
                    <tr>
                        <td>
                            Out of above total, aggregate amount guaranteed by
                            directors
                        </td>
                        <td style="text-align:right">@Model.Current.LT_Aggregate_Amt</td>
                        <td style="text-align:right">@Model.Previous.LT_Aggregate_Amt</td>
                    </tr>


                </table>
            </div>
        </div>

        //Section B
        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                <table>
                    <tr><td><br /></td></tr>
                    <tr>
                        <th>
                            <b>
                                B. Details of short term borrowings (unsecured)
                            </b>
                        </th>
                    </tr>
                </table>
                <table id="tblBalanceSheet" border="1">
                    <tr>

                        <th style="width:48%; text-align:center">
                            <b>Particulars</b>
                        </th>
                        <th style="width:25%; text-align:center">
                            <b>Currents reporting period</b>
                        </th>
                        <th style="width:25%; text-align:center">
                            <b>Previous reporting period</b>
                        </th>
                    </tr>
                    <tr>
                        <td>Loans repayable on demand</td>
                    </tr>
                    <tr>
                        <td>-From banks</td>
                        <td style="text-align:right">@Model.Current.ST_LoanBank</td>
                        <td style="text-align:right">@Model.Previous.ST_LoanBank</td>
                    </tr>
                    <tr>
                        <td>-From other parties</td>
                        <td style="text-align:right">@Model.Current.ST_LoanOtherParties</td>
                        <td style="text-align:right">@Model.Previous.ST_LoanOtherParties</td>
                    </tr>
                    <tr>
                        <td>Loans and advances from related parties</td>
                        <td style="text-align:right">@Model.Current.ST_Loans_advances_related_parties</td>
                        <td style="text-align:right">@Model.Previous.ST_Loans_advances_related_parties</td>
                    </tr>
                    <tr>
                        <td>Deposits</td>
                        <td style="text-align:right">@Model.Current.ST_Deposits</td>
                        <td style="text-align:right">@Model.Previous.ST_Deposits</td>
                    </tr>
                    <tr>
                        <td>Other loans and advances</td>
                        <td style="text-align:right">@Model.Current.ST_Loans_adv_related_parties</td>
                        <td style="text-align:right">@Model.Previous.ST_Loans_adv_related_parties</td>
                    </tr>
                    <tr>
                        <td><b>Total Short term borrowings (unsecured)</b></td>
                        <td style="text-align:right">@Model.Current.ST_Tot_borrowings</td>
                        <td style="text-align:right">@Model.Previous.ST_Tot_borrowings</td>
                    </tr>
                    <tr>
                        <td>
                            Out of above total, aggregate amount guaranteed by
                            directors
                        </td>
                        <td style="text-align:right">@Model.Current.ST_Aggregate_Amt</td>
                        <td style="text-align:right">@Model.Previous.ST_Aggregate_Amt</td>
                    </tr>


                </table>
            </div>
        </div>

        //Section C
        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                <table>
                    <tr><td><br /></td></tr>
                    <tr>
                        <th>
                            <b>
                                C. Details of long term loans and advances (unsecured, considered good)
                            </b>
                        </th>
                    </tr>
                </table>
                <table id="tblBalanceSheet" border="1">
                    <tr>
                        <th style="width:48%;text-align:center">
                            <b>Particulars</b>
                        </th>
                        <th style="width: 25%; text-align: center">
                            <b>Currents reporting period</b>
                        </th>
                        <th style="width: 25%; text-align: center">
                            <b>Previous reporting period</b>
                        </th>
                    </tr>
                    <tr>
                        <td>Capital advances</td>
                        <td style="text-align:right">@Model.Current.LTA_Capital_adv</td>
                        <td style="text-align:right">@Model.Previous.LTA_Capital_adv</td>
                    </tr>
                    <tr>
                        <td>Security deposits</td>
                        <td style="text-align:right">@Model.Current.LTA_Security_Deposits</td>
                        <td style="text-align:right">@Model.Previous.LTA_Security_Deposits</td>
                    </tr>
                    <tr>
                        <td>Loans and advances to other related parties</td>
                        <td style="text-align:right">@Model.Current.LTA_Loans_adv_related_parties</td>
                        <td style="text-align:right">@Model.Previous.LTA_Loans_adv_related_parties</td>
                    </tr>
                    <tr>
                        <td>Other loans and advances</td>
                        <td style="text-align:right">@Model.Current.LTA_Otherloans_advances</td>
                        <td style="text-align:right">@Model.Previous.LTA_Otherloans_advances</td>
                    </tr>
                    <tr>
                        <td>Total long term loan and advances</td>
                        <td style="text-align:right">@Model.Current.LTA_TotLoan_Adv</td>
                        <td style="text-align:right">@Model.Previous.LTA_TotLoan_Adv</td>
                    </tr>
                    <tr>
                        <td>Less: Provision/ allowance for bad and doubtful loans and advances</td>
                    </tr>
                    <tr>
                        <td>-From related parties</td>
                        <td style="text-align:right">@Model.Current.LTA_FromRelated_Parties</td>
                        <td style="text-align:right">@Model.Previous.LTA_FromRelated_Parties</td>
                    </tr>
                    <tr>
                        <td>-From others</td>
                        <td style="text-align:right">@Model.Current.LTA_FromOthers</td>
                        <td style="text-align:right">@Model.Previous.LTA_FromOthers</td>
                    </tr>
                    <tr>
                        <td>Net long term loan and advances (doubtful)</td>
                        <td style="text-align:right">@Model.Current.LTA_Net_loan_Adv</td>
                        <td style="text-align:right">@Model.Previous.LTA_Net_loan_Adv</td>
                    </tr>
                    <tr>
                        <td>Loans and advances due by directors/ other officers of the company</td>
                        <td style="text-align:right">@Model.Current.LTA_Loans_Adv_dueByDir</td>
                        <td style="text-align:right">@Model.Previous.LTA_Loans_Adv_dueByDir</td>
                    </tr>


                </table>
            </div>
        </div>

        //Section D
        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                <table>
                    <tr><td><br /></td></tr>
                    <tr>
                        <th>
                            <b>
                                D. Details of long term loans and advances (doubtful)
                            </b>
                        </th>
                    </tr>
                </table>
                <table id="tblBalanceSheet" border="1">
                    <tr>
                        <th style="width: 48%; text-align: center">
                            <b>Particulars</b>
                        </th>
                        <th style="width: 25%; text-align: center">
                            <b>Currents reporting period</b>
                        </th>
                        <th style="width: 25%; text-align: center">
                            <b>Previous reporting period</b>
                        </th>
                    </tr>
                    <tr>
                        <td>Capital advances</td>
                        <td style="text-align:right">@Model.Current.LTAD_Capital_adv</td>
                        <td style="text-align:right">@Model.Previous.LTAD_Capital_adv</td>
                    </tr>
                    <tr>
                        <td>Security deposits</td>
                        <td style="text-align:right">@Model.Current.LTAD_Security_Deposits</td>
                        <td style="text-align:right">@Model.Previous.LTAD_Security_Deposits</td>
                    </tr>
                    <tr>
                        <td>Loans and advances to other related parties</td>
                        <td style="text-align:right">@Model.Current.LTAD_Loans_adv_related_parties</td>
                        <td style="text-align:right">@Model.Previous.LTAD_Loans_adv_related_parties</td>
                    </tr>
                    <tr>
                        <td>Other loans and advances</td>
                        <td style="text-align:right">@Model.Current.LTAD_Otherloans_advances</td>
                        <td style="text-align:right">@Model.Previous.LTAD_Otherloans_advances</td>
                    </tr>
                    <tr>
                        <td>Total long term loan and advances</td>
                        <td style="text-align:right">@Model.Current.LTAD_TotLoan_Adv</td>
                        <td style="text-align:right">@Model.Previous.LTAD_TotLoan_Adv</td>
                    </tr>
                    <tr>
                        <td>Less: Provision/ allowance for bad and doubtful loans and advances</td>
                    </tr>
                    <tr>
                        <td>-From related parties</td>
                        <td style="text-align:right">@Model.Current.LTAD_FromRelated_Parties</td>
                        <td style="text-align:right">@Model.Previous.LTAD_FromRelated_Parties</td>
                    </tr>
                    <tr>
                        <td>-From others</td>
                        <td style="text-align:right">@Model.Current.LTAD_FromOthers</td>
                        <td style="text-align:right">@Model.Previous.LTAD_FromOthers</td>
                    </tr>
                    <tr>
                        <td>Net long term loan and advances (doubtful)</td>
                        <td style="text-align:right">@Model.Current.LTAD_Net_loan_Adv</td>
                        <td style="text-align:right">@Model.Previous.LTAD_Net_loan_Adv</td>
                    </tr>
                    <tr>
                        <td>Loans and advances due by directors/ other officers of the company</td>
                        <td style="text-align:right">@Model.Current.LTAD_Loans_Adv_dueByDir</td>
                        <td style="text-align:right">@Model.Previous.LTAD_Loans_Adv_dueByDir</td>
                    </tr>


                </table>
            </div>
        </div>

        //Section E
        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                <table>
                    <tr><td><br /></td></tr>
                    <tr>
                        <th>
                            <b>
                                E. Details of trade receivables
                            </b>
                        </th>
                    </tr>
                </table>
                <table id="tblBalanceSheet" border="1">
                    <tr>
                        <th style="width: 48%; text-align: center">
                            <b>Particulars</b>
                        </th>
                        <th style="width: 25%; text-align: center" colspan="2">                            
                            <b>Currents reporting period</b>

                        </th>
                        <th style="width: 25%; text-align: center" colspan="2">
                            <b>Previous reporting period</b>
                        </th>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <b>
                                Exceeding six
                                months
                            </b> 
                        </td>
                        <td><b>Within six months</b></td>
                        <td>
                            <b>
                                Exceeding six
                                months
                            </b>
                        </td>
                        <td>
                            <b>Within six months </b>                           
                        </td>
                    </tr>
                    <tr>
                        <td>Secured, considered good</td>
                        <td style="text-align:right">@Model.Current.TR_Secured_ESM</td>
                        <td style="text-align:right">@Model.Current.TR_Secured_WSM</td>
                        <td style="text-align:right">@Model.Previous.TR_Secured_ESM</td>
                        <td style="text-align:right">@Model.Previous.TR_Secured_WSM</td>
                    </tr>
                    <tr>
                        <td>Unsecured, considered good</td>
                        <td style="text-align:right">@Model.Current.TR_Unsecured_ESM</td>
                        <td style="text-align:right">@Model.Current.TR_Unsecured_WSM</td>
                        <td style="text-align:right">@Model.Previous.TR_Unsecured_ESM</td>
                        <td style="text-align:right">@Model.Previous.TR_Unsecured_WSM</td>
                    </tr>
                  
                    <tr>
                        <td>Doubtful</td>
                        <td style="text-align:right">@Model.Current.TR_Doubtful_ESM</td>
                        <td style="text-align:right">@Model.Current.TR_Doubtful_WSM</td>
                        <td style="text-align:right">@Model.Previous.TR_Doubtful_ESM</td>
                        <td style="text-align:right">@Model.Previous.TR_Doubtful_WSM</td>
                    </tr>
                    <tr>
                        <td>Total trade receivables</td>
                        <td style="text-align:right">@Model.Current.TR_TotalTrade_ESM</td>
                        <td style="text-align:right">@Model.Current.TR_TotalTrade_WSM</td>
                        <td style="text-align:right">@Model.Previous.TR_TotalTrade_ESM</td>
                        <td style="text-align:right">@Model.Previous.TR_TotalTrade_WSM</td>
                    </tr>
                    <tr>
                        <td>
                            Less: Provision/ allowance for
                            bad and doubtful debts
                        </td>
                        <td style="text-align:right">@Model.Current.TR_Provision_ESM</td>
                        <td style="text-align:right">@Model.Current.TR_Provision_WSM</td>
                        <td style="text-align:right">@Model.Previous.TR_Provision_ESM</td>
                        <td style="text-align:right">@Model.Previous.TR_Provision_WSM</td>
                    </tr>
                    
                    <tr>
                        <td>Net trade receivables</td>
                        <td style="text-align:right">@Model.Current.TR_NetTrade_ESM</td>
                        <td style="text-align:right">@Model.Current.TR_NetTrade_WSM</td>
                        <td style="text-align:right">@Model.Previous.TR_NetTrade_ESM</td>
                        <td style="text-align:right">@Model.Previous.TR_NetTrade_WSM</td>
                    </tr>
                    <tr>
                        <td>
                            Debt due by directors/ others
                            officers of the company
                        </td>
                        <td style="text-align:right">@Model.Current.TR_DebtDue_ESM</td>
                        <td style="text-align:right">@Model.Current.TR_DebtDue_WSM</td>
                        <td style="text-align:right">@Model.Previous.TR_DebtDue_ESM</td>
                        <td style="text-align:right">@Model.Previous.TR_DebtDue_WSM</td>
                    </tr>
                    

                </table>
            </div>
        </div>

    }
</div>

<div class="row col-md-12 colpadding0 text-center mt10">
    <button type="button" class="btn btn-primary" onclick="btnClosePreviewWindow();">Close</button>
</div>