﻿@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;
@model BM_ManegmentServices.VM.AOC4_FinancialParameterVM

<style>
    #tblFinancialParatmeter .td {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        text-align: justify;
        color: #767676;
    }
</style>
<script>
    $(document).ready(function () {
        $("#tblFinancialParatmeter td").each(function () {
            var num = $(this).text();
            var commaNum = numberWithCommas(num);
            $(this).text(commaNum);
        });
        });
</script>
<div id="DivBalanceSheetFinancialParameter" style="max-height:520px; overflow-x:hidden; overflow-y:auto;">

    @if (Model != null)
    {
        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                <table border="0"style="margin-bottom:10px">
                    <tr>
                        <th>
                            <b>III.Financial parameters - Balance sheet items (Amount in Rupees) as on financial year end date</b>
                        </th>                     
                    </tr>
                    <tr></tr>
                </table>
                <table id="tblFinancialParatmeter" border="1">
                    <tr>
                        <td>1</td>
                        <td>
                            Amount of issue allotted for contracts without payment received in
                            cash during reporting periods
                        </td>
                        <td style="text-align:right">@Model.Amt_Of_issue_Alloted</td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>Share application money given</td>
                        <td style="text-align:right">@Model.Share_app_Money_1</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Share application money given during the reporting period</td>
                        <td style="text-align:right">@Model.Share_app_Money_2</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Share application money received during the reporting period</td>
                        <td style="text-align:right">@Model.Share_app_Money_3</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Share application money received and due for refund</td>
                        <td style="text-align:right">@Model.Share_app_Money_4</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Paid – up capital held by foreign company</td>
                        <td style="text-align:right">@Model.Paid_up_capital_1</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td> Paid-up capital held by foreign holding company and/ or through its subsidiaries</td>
                        <td style="text-align:right">@Model.Paid_up_capital_2</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Number of shares bought back during the reporting period</td>
                        <td style="text-align:right">@Model.NoOfShares</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Deposits accepted or renewed during the reporting period</td>
                        <td style="text-align:right">@Model.Deposit_Accepted</td>
                    </tr>

                    <tr>
                        <td>10</td>
                        <td>Deposits matured and claimed but not paid during the reporting period</td>
                        <td style="text-align:right">@Model.Deposit_Matured_1</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Deposits matured and claimed but not paid</td>
                        <td style="text-align:right">@Model.Deposit_Matured_2</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Deposits matured, but not claimed</td>
                        <td style="text-align:right">@Model.Deposit_Matured_3</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>Unclaimed matured debentures</td>
                        <td style="text-align:right">@Model.Unclaimed_Debentures</td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>Debentures claimed but not paid</td>
                        <td style="text-align:right">@Model.Claimed_Debentures</td>
                    </tr>

                    <tr>
                        <td>15</td>
                        <td>Interest on deposits accrued and due but not paid</td>
                        <td style="text-align:right">@Model.InterestOnDepositAccrued</td>
                    </tr>

                    <tr>
                        <td>16</td>
                        <td>Unpaid dividend</td>
                        <td style="text-align:right">@Model.Unpaid_divedend</td>
                    </tr>

                    <tr>
                        <td>17</td>
                        <td>Investment in subsidiary companies</td>
                        <td style="text-align:right">@Model.InvestmentInCompany_1</td>
                    </tr>

                    <tr>
                        <td>18</td>
                        <td>Investment in government companies</td>
                        <td style="text-align:right">@Model.InvestmentInCompany_2</td>
                    </tr>

                    <tr>
                        <td>19</td>
                        <td>Capital Reserves</td>
                        <td style="text-align:right">@Model.Capital_Reserves</td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>Amount due for transfer to Investor Education and Protection Fund (IEPF)</td>
                        <td style="text-align:right">@Model.Amt_TransferforIEPF</td>
                    </tr>
                    <tr>
                        <td>21</td>
                        <td>Inter- corporate deposits</td>
                        <td style="text-align:right">@Model.Inter_Corp_Deposit</td>
                    </tr>
                    <tr>
                        <td>22</td>
                        <td>Gross value of transaction as per AS18 (If applicable)</td>
                        <td style="text-align:right">@Model.GrossValueOfTransaction</td>
                    </tr>
                    <tr>
                        <td>23</td>
                        <td>Capital subsidies/ grants received from government authority(ies)</td>
                        <td style="text-align:right">@Model.CapitalSubsidies</td>
                    </tr>
                    <tr>
                        <td>24</td>
                        <td>Calls unpaid by directors</td>
                        <td style="text-align:right">@Model.CallsUnpaidByDirector</td>
                    </tr>
                    <tr>
                        <td>25</td>
                        <td>Calls unpaid by others</td>
                        <td style="text-align:right">@Model.CallsUnpaidByOthers</td>
                    </tr>
                    <tr>
                        <td>26</td>
                        <td>Forfeited shares (amount originally paid-up)</td>
                        <td style="text-align:right">@Model.Forfeited_Shares_1</td>
                    </tr>
                    <tr>
                        <td>27</td>
                        <td>Forfeited shares reissued</td>
                        <td style="text-align:right">@Model.Forfeited_Shares_2</td>
                    </tr>
                    <tr>
                        <td>28</td>
                        <td>Borrowing from foreign institutional agencies</td>
                        <td style="text-align:right">@Model.Borrowing_foreign_1</td>
                    </tr>
                    <tr>
                        <td>29</td>
                        <td>Borrowing from foreign companies</td>
                        <td style="text-align:right">@Model.Borrowing_foreign_2</td>
                    </tr>
                    <tr>
                        <td>30</td>
                        <td>Inter-corporate borrowings - secured</td>
                        <td style="text-align:right">@Model.InterCorporate_1</td>
                    </tr>
                    <tr>
                        <td>31</td>
                        <td>Inter-corporate borrowings - unsecured</td>
                        <td style="text-align:right">@Model.InterCorporate_2</td>
                    </tr>
                    <tr>
                        <td>32</td>
                        <td>Commercial Paper</td>
                        <td style="text-align:right">@Model.CommercialPaper</td>
                    </tr>
                    <tr>
                        <td>33</td>
                        <td>Conversion of warrants into equity shares during the reporting period</td>
                        <td style="text-align:right">@Model.ConversionOfWarrant_1</td>
                    </tr>
                    <tr>
                        <td>34</td>
                        <td>Conversion of warrants into preference shares during the reporting period</td>
                        <td style="text-align:right">@Model.ConversionOfWarrant_2</td>
                    </tr>
                    <tr>
                        <td>35</td>
                        <td>Conversion of warrants into debentures during the reporting period</td>
                        <td style="text-align:right">@Model.ConversionOfWarrant_3</td>
                    </tr>
                    <tr>
                        <td>36</td>
                        <td>Warrants issued during the reporting period (In foreign currency)</td>
                        <td style="text-align:right">@Model.WarrantsIssueInForeignCurrency</td>
                    </tr>
                    <tr>
                        <td>37</td>
                        <td>Warrants issued during the reporting period (In Rupees)</td>
                        <td style="text-align:right">@Model.WarrantsIssueInRupees</td>
                    </tr>
                    <tr>
                        <td>38</td>
                        <td>Default in payment of short term borrowings and interest thereon</td>
                        <td style="text-align:right">@Model.DefaultInPayment_1</td>
                    </tr>
                    <tr>
                        <td>39</td>
                        <td>Default in payment of long term borrowings and interest thereon</td>
                        <td style="text-align:right">@Model.DefaultInPayment_2</td>
                    </tr>
                    <tr>
                        <td>40</td>
                        <td>Whether any operating lease has been converted to financial lease or vice-versa</td>
                        <td style="text-align:right">@Model.WheatheOperatingLease</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Provide details of such conversion</td>
                        <td style="text-align:right">@Model.ProvideDetailsOfConversion</td>
                    </tr>
                    <tr>
                        <td>41</td>
                        <td>Net worth of company</td>
                        <td style="text-align:right">@Model.NetWorthOfComp</td>
                    </tr>
                    <tr>
                        <td>42</td>
                        <td>Number of shareholders to whom shares allotted under private placement during the reporting period</td>
                        <td style="text-align:right">@Model.NoOfShareHolders</td>
                    </tr>
                    <tr>
                        <td>43</td>
                        <td>Secured Loan</td>
                        <td style="text-align:right">@Model.SecuredLoan</td>
                    </tr>
                    <tr>
                        <td>44</td>
                        <td>Gross fixed assets (including intangible assets)</td>
                        <td style="text-align:right">@Model.GrossFixedAssets</td>
                    </tr>
                    <tr>
                        <td>45</td>
                        <td>Depreciation and amortization</td>
                        <td style="text-align:right">@Model.Depreciation_Amortization</td>
                    </tr>
                    <tr>
                        <td>46</td>
                        <td>Miscellaneous expenditure to the extent not written off or adjusted</td>
                        <td style="text-align:right">@Model.Misc_Expenditure</td>
                    </tr>
                    <tr>
                        <td>47</td>
                        <td>Unhedged Foreign Exchange Exposure</td>
                        <td style="text-align:right">@Model.UnhedgedForeign</td>
                    </tr>

                </table>
            </div>
        </div>
    }
</div>

@*<div class="row col-md-12 colpadding0 text-center mt10">
    <button type="button" class="btn btn-primary" onclick="btnClosePreviewWindow();">Close</button>
</div>*@

<div class="row colpadding0 mt30">
    <div class="col-md-12 colpadding0">
        <div class="text-center">
            <button type="button" class="btn btn-primary" onclick="btnClosePreviewWindow();">Close</button>
        </div>
    </div>
</div>
