﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.MiscellaneousAuthorizationVM

    <div id="divDetailsOfRecords">
        @using (Ajax.BeginForm("SaveMiscAuth", "AOC4", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divDetailsOfRecords", OnBegin = "OnOpenForm", OnComplete = "OnRefreshForm" }, new { id = "frmDetailsCostRecords" }))
        {
        <div style="max-height:600px;overflow-y:auto;overflow-x:hidden">

            @if (Model.Success)
            {
                <div class="row">
                    <div class="col-md-12 colpadding0" id="DivsuccessI">
                        <div class="alert alert-success alert-dismissible">
                            <button class="close" type="button" onclick="hideAlert();">×</button>
                            <lable id="lblsuccessI">@Html.Raw(Model.Message)</lable>
                        </div>
                    </div>
                </div>
            }
            else if (Model.Error)
            {
                <div class="row">
                    <div class="col-md-12 colpadding0" id="DiverrorI">
                        <div class="alert alert-danger alert-dismissible">
                            <button class="close" type="button" onclick="hideAlert();">×</button>
                            <lable id="lblerrormsgI">@Html.Raw(Model.Message)</lable>
                        </div>
                    </div>
                </div>
            }

            @Html.HiddenFor(m => m.MiscId)
            @Html.HiddenFor(m => m.Aoc4Id)

            <div class="row mt30">
                <div class="col-md-12">
                    <div style="text-align:center">
                        <b>SEGMENT-VI- Miscellaneous</b>
                    </div>
                </div>
            </div>

            <div class="row mt30">
                <div class="col-md-12">
                    <div class="col-md-6 colpadding0">
                        <span style="color:red">*</span><lable class="control-label"> Whether the Secretarial Audit is applicable</lable>
                    </div>
                    <div class="col-md-3 colpadding0">
                        @(Html.Kendo().RadioButtonFor(m => m.RB_SECRETARIAL_A).Label("Yes").Value(true).HtmlAttributes(new { }))
                        &nbsp;
                        @(Html.Kendo().RadioButtonFor(m => m.RB_SECRETARIAL_A).Label("No").Value(false).HtmlAttributes(new { }))
                    </div>
                </div>
            </div>
            <div class="row mt30">
                <div class="col-md-12">
                    <div class="col-md-6 colpadding0">
                        <span style="color:red">*</span>
                        <lable class="control-label">
                            Whether detailed disclosures with respect to Directors’ report under sub-section (3)
                            of section 134 is attached.
                        </lable>
                    </div>
                    <div class="col-md-2 colpadding0">
                        @(Html.Kendo().RadioButtonFor(m => m.RB_AUDTR_REPORT).Label("Yes").Value(true).HtmlAttributes(new { }))
                        &nbsp;
                        @(Html.Kendo().RadioButtonFor(m => m.RB_AUDTR_REPORT).Label("No").Value(false).HtmlAttributes(new { }))
                    </div>
                </div>
            </div>

            <div class="row mt30">
                <div class="col-md-12">
                    <div style="text-align:center">
                        <b>Declaration</b>
                    </div>
                </div>
            </div>

            <div class="row mt30">
                <div class="col-md-12">
                    <div class="col-md-6 colpadding0">
                        <span style="color:red">*</span><lable class="control-label">Resolution number</lable>
                    </div>
                    <div class="col-md-2 colpadding0">
                        @(Html.Kendo().TextBoxFor(m => m.CVRN).HtmlAttributes(new { style = "width: 95%", autocomplete = "off"}))
                        @Html.ValidationMessageFor(model => model.CVRN, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>

            <div class="row mt30">
                <div class="col-md-12">
                    <div class="col-md-6 colpadding0">
                        <span style="color:red">*</span><lable class="control-label">Dated</lable>
                    </div>
                    <div class="col-md-2 colpadding0">
                        @(Html.Kendo().DatePicker().Name("DECLARATION_DATE").Format("dd/MM/yyyy")
                            .HtmlAttributes(new { style = "width: 95%", @Id = "FYStart", onchange = "checkDate(this);", autocomplete = "off" }))
                        @Html.ValidationMessageFor(model => model.DECLARATION_DATE, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>
            <div class="row mt30 hidden">
                <div class="col-md-12">
                    <div class="col-md-6 colpadding0">
                        <span style="color:red">*</span><lable class="control-label">Designation</lable>
                    </div>
                    <div class="col-md-2 colpadding0">
                        @Html.Kendo().DropDownListFor(model => model.DESIGNATION).BindTo(new SelectList(new List<object> {
                                                             new {id="DRCTR",text="Director"},
                                                             new {id="MNGR",text="Manager"},
                                                             new {id="SCTY",text="Secretary"},
                                                             new {id="CEO",text="CEO"},

                                                             new {id="CFO",text="CFO"}
                                                         }, "id", "text")).HtmlAttributes(new { style = "width: 95%" })
                        @Html.ValidationMessageFor(model => model.DESIGNATION, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row mt30">
                <div class="col-md-12">
                    <div class="col-md-6 colpadding0">
                        <span style="color:red">*</span><lable class="control-label">
                            Director identification number of the director; or
                            PAN of the manager or CEO or CFO; or Membership
                            number of the secretary
                        </lable>
                    </div>
                    <div class="col-md-2 colpadding0">
                        @(Html.Kendo().TextBoxFor(m => m.DIN_PAN_MEM_NUM).HtmlAttributes(new { style = "width: 100%", autocomplete = "off"}))
                        @Html.ValidationMessageFor(model => model.DIN_PAN_MEM_NUM, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row mt30 hidden">
                <div class="col-md-12">
                    <div class="col-md-6 colpadding0">
                        <span style="color:red">*</span><lable class="control-label"> Certificate by Practicing professional</lable>
                    </div>
                    <div class="col-md-2 colpadding0">
                        @Html.Kendo().DropDownListFor(model => model.RB_CA_COA_CS).BindTo(new SelectList(new List<object> {
                                                            new {id="CA",text="Chartered Accountant"},
                                                            new {id="COA",text="Cost Accountant"},
                                                            new {id="CS",text="Company Secretary"},

                                                        }, "id", "text")).HtmlAttributes(new { style = "width: 95%", onchange = "ddlCPP_changed()" })
                        @Html.ValidationMessageFor(model => model.RB_CA_COA_CS, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row mt30">
                <div class="col-md-12">
                    <div class="col-md-6 colpadding0">
                        <span style="color:red">*</span><lable class="control-label"> Whether fellow or associate</lable>
                    </div>
                    <div class="col-md-3 colpadding0">
                        @(Html.Kendo().RadioButtonFor(m => m.RB_ASSOC_FELLOW).Label("Yes").Value(true).Enable(false).HtmlAttributes(new { }))
                        &nbsp;
                        @(Html.Kendo().RadioButtonFor(m => m.RB_ASSOC_FELLOW).Label("No").Value(false).Enable(false).HtmlAttributes(new { }))
                    </div>
                </div>
            </div>
            <div class="row mt30">
                <div class="col-md-12">
                    <div class="col-md-6 colpadding0">
                        <lable class="control-label">Membership number</lable>
                    </div>
                    <div class="col-md-3 colpadding0">
                        @(Html.Kendo().TextBoxFor(m => m.MEMBERSHIP_NUM).Enable(false).HtmlAttributes(new { style = "width: 100%", autocomplete = "off"}))
                        @Html.ValidationMessageFor(model => model.MEMBERSHIP_NUM, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>
            <div class="row mt30 hidden" id="DivCpn">
                <div class="col-md-12">
                    <div class="col-md-6 colpadding0">
                        <lable class="control-label">Certificate of practice number</lable>
                    </div>
                    <div class="col-md-3 colpadding0">
                        @(Html.Kendo().TextBoxFor(m => m.CERT_PRACTICE_NO).HtmlAttributes(new { style = "width: 100%", autocomplete = "off"}))
                        @Html.ValidationMessageFor(model => model.CERT_PRACTICE_NO, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>
            <div class="row mt30">
                <div class="col-md-12">
                    <p style="color:red;"><b>Note : Highlighted area (in grey) is current being worked on. Request you to enter those details manually after form generation. We regret the inconvenience caused.</b></p>
                </div>
            </div>
            <div class="row colpadding0 mt30">
                <div class="col-md-12 colpadding0">
                    <div class="text-center">
                        <button type="Submit" id="command_name" name="command_name" value="save" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>

        }

        <script>
            var validator1 = $("#frmAddNewForm").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
        </script>

        <script>
            function ddlCPP_changed()
            {

                var ddl = $("#RB_CA_COA_CS").data("kendoDropDownList");

                var v = ddl.value();
                $("#DivCpn").addClass("hidden");
                if(v == "CS"){
                $("#DivCpn").removeClass("hidden");
                }

            }

                $(document).ready(function () {
                $("#DivCpn").addClass("hidden");
                if("@Model.RB_CA_COA_CS" == "CS"){
                $("#DivCpn").removeClass("hidden");
                }

                });
        </script>

    </div>

