﻿@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;
@model BM_ManegmentServices.VM.AuditorsReport_VM

<div id="divAuditorsReport">
    <script>
       
    </script>
    <div class="row">
        <div class="col-md-12 colpadding0">
            <div style="max-height: 600px;background-color: white; overflow-y: auto; overflow-x: hidden ">

                <div class="row mt30">
                    <div class="col-md-12">
                        <div class="col-md-10 colpadding0">
                            <span style="color:red">*</span><lable class="control-label">
                                I.(a) In case of a government company, whether Comptroller and Auditor-General of India (CAG of India) has commented
                                upon or supplemented the audit report under section 143 of the Companies Act, 2013
                            </lable>
                        </div>
                        <div class="col-md-2 colpadding0">
                            @(Html.Kendo().RadioButtonFor(m => m.RB_COMPTRL_AUDTR).Label("Yes").Value(true).HtmlAttributes(new { }))
                            &nbsp;
                            @(Html.Kendo().RadioButtonFor(m => m.RB_COMPTRL_AUDTR).Label("No").Value(false).HtmlAttributes(new { }))
                        </div>
                    </div>
                </div>

                <div class="row mt30">
                    <div class="col-md-12">
                        <b>III.Details of remarks made by auditors and applicability of CARO</b>
                    </div>
                </div>
                <div class="row mt30">
                    <div class="col-md-12">
                        <div class="col-md-6 colpadding0">
                            1.<span style="color:red">*</span>Whether auditors' report has been qualified or has any reservations or contains adverse remarks
                        </div>
                        <div class="col-md-2 colpadding0">
                            @(Html.Kendo().RadioButtonFor(m => m.RB_AUDTR_REPORT).Label("Yes").Value(true).HtmlAttributes(new { }))
                            &nbsp;
                            @(Html.Kendo().RadioButtonFor(m => m.RB_AUDTR_REPORT).Label("No").Value(false).HtmlAttributes(new { }))
                        </div>
                    </div>
                </div>
                <div class="row mt30">
                    <div class="col-md-12">
                        <div class="col-md-6 colpadding0">
                            3.<span style="color:red">*</span>Whether Companies (Auditors' Report) Order (CARO) applicable
                        </div>
                        <div class="col-md-2 colpadding0">
                            @(Html.Kendo().RadioButtonFor(m => m.RB_COMP_AUDT_REP).Label("Yes").Value(true).HtmlAttributes(new { }))
                            &nbsp;
                            @(Html.Kendo().RadioButtonFor(m => m.RB_COMP_AUDT_REP).Label("No").Value(false).HtmlAttributes(new { }))
                        </div>
                    </div>
                </div>
                <div class="row mt30">
                    <div class="col-md-12">
                        4.Auditors' comment on the items specified under Companies (Auditors' Report) Order (CARO)
                    </div>
                </div>

                <div class="row mt30">
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th><b>Particulars</b></th>
                                    <th><b>Auditors' comments on the report</b></th>
                                </tr>
                                <tr>
                                    <th>Fixed assets</th>
                                    <td>
                                        @(Html.Kendo().DropDownList()
                                              .Name("FIXED_ASSETS")
                                              .DataTextField("Text")
                                              .DataValueField("Value")
                                              .HtmlAttributes(new { style = "width: 100%" })
                                              .BindTo(new List<SelectListItem>()
                                              {
                                                 new SelectListItem() {
                                                    Text = "Favourable Remark", Value ="FAVO"
                                                  },
                                                  new SelectListItem() {
                                                    Text = "Unfavourable remark", Value ="UNFO"
                                                  },
                                                  new SelectListItem() {
                                                    Text = "Disclaimer remark", Value ="DISO"
                                                  },
                                                  new SelectListItem() {
                                                    Text = "Clause not applicable", Value ="CNTA"
                                                  }
                                              })
                                        )
                                    </td>
                                </tr>
                                <tr>
                                    <th>Inventories</th>
                                    <td>
                                        @(Html.Kendo().DropDownList()
                                              .Name("INVENTORIES")
                                              .DataTextField("Text")
                                              .DataValueField("Value")
                                              .HtmlAttributes(new { style = "width: 100%" })
                                              .BindTo(new List<SelectListItem>()
                                              {
                                                  new SelectListItem() {
                                                    Text = "Favourable Remark", Value ="FAVO"
                                                  },
                                                  new SelectListItem() {
                                                    Text = "Unfavourable remark", Value ="UNFO"
                                                  },
                                                  new SelectListItem() {
                                                    Text = "Disclaimer remark", Value ="DISO"
                                                  },
                                                  new SelectListItem() {
                                                    Text = "Clause not applicable", Value ="CNTA"
                                                  }
                                              })
                                        )
                                    </td>
                                </tr>
                                <tr>
                                    <th>Loans given by the company</th>
                                    <td>
                                        @(Html.Kendo().DropDownList()
                                              .Name("LOANS_GIVEN_COMP")
                                              .DataTextField("Text")
                                              .DataValueField("Value")
                                              .HtmlAttributes(new { style = "width: 100%" })
                                              .BindTo(new List<SelectListItem>()
                                              {
                                                  new SelectListItem() {
                                                    Text = "Favourable Remark", Value ="FAVO"
                                                  },
                                                  new SelectListItem() {
                                                    Text = "Unfavourable remark", Value ="UNFO"
                                                  },
                                                  new SelectListItem() {
                                                    Text = "Disclaimer remark", Value ="DISO"
                                                  },
                                                  new SelectListItem() {
                                                    Text = "Clause not applicable", Value ="CNTA"
                                                  }
                                              })
                                        )
                                    </td>
                                </tr>
                                <tr>
                                    <th>Acceptance of Public Deposits</th>
                                    <td>
                                        @(Html.Kendo().DropDownList()
                                              .Name("ACCEPTANCE_PUB_D")
                                              .DataTextField("Text")
                                              .DataValueField("Value")
                                              .HtmlAttributes(new { style = "width: 100%" })
                                              .BindTo(new List<SelectListItem>()
                                              {
                                                  new SelectListItem() {
                                                    Text = "Favourable Remark", Value ="FAVO"
                                                  },
                                                  new SelectListItem() {
                                                    Text = "Unfavourable remark", Value ="UNFO"
                                                  },
                                                  new SelectListItem() {
                                                    Text = "Disclaimer remark", Value ="DISO"
                                                  },
                                                  new SelectListItem() {
                                                    Text = "Clause not applicable", Value ="CNTA"
                                                  }
                                              })
                                        )
                                    </td>
                                </tr>
                                <tr>
                                    <th>Maintenance of Cost records</th>
                                    <td>
                                        @(Html.Kendo().DropDownList()
                                              .Name("MAINTENANCE_CR")
                                              .DataTextField("Text")
                                              .DataValueField("Value")
                                              .HtmlAttributes(new { style = "width: 100%" })
                                              .BindTo(new List<SelectListItem>()
                                              {
                                                 new SelectListItem() {
                                                    Text = "Favourable Remark", Value ="FAVO"
                                                  },
                                                  new SelectListItem() {
                                                    Text = "Unfavourable remark", Value ="UNFO"
                                                  },
                                                  new SelectListItem() {
                                                    Text = "Disclaimer remark", Value ="DISO"
                                                  },
                                                  new SelectListItem() {
                                                    Text = "Clause not applicable", Value ="CNTA"
                                                  }
                                              })
                                        )
                                    </td>
                                </tr>
                                <tr>
                                    <th>Statutory dues</th>
                                    <td>
                                        @(Html.Kendo().DropDownList()
                                              .Name("STATUTORY_DUES")
                                              .DataTextField("Text")
                                              .DataValueField("Value")
                                              .HtmlAttributes(new { style = "width: 100%" })
                                              .BindTo(new List<SelectListItem>()
                                              {
                                                  new SelectListItem() {
                                                    Text = "Favourable Remark", Value ="FAVO"
                                                  },
                                                  new SelectListItem() {
                                                    Text = "Unfavourable remark", Value ="UNFO"
                                                  },
                                                  new SelectListItem() {
                                                    Text = "Disclaimer remark", Value ="DISO"
                                                  },
                                                  new SelectListItem() {
                                                    Text = "Clause not applicable", Value ="CNTA"
                                                  }
                                              })
                                        )
                                    </td>
                                </tr>
                                <tr>
                                    <th>Term loans</th>
                                    <td>
                                        @(Html.Kendo().DropDownList()
                                              .Name("TERM_LOANS")
                                              .DataTextField("Text")
                                              .DataValueField("Value")
                                              .HtmlAttributes(new { style = "width: 100%" })
                                              .BindTo(new List<SelectListItem>()
                                              {
                                                  new SelectListItem() {
                                                    Text = "Favourable Remark", Value ="FAVO"
                                                  },
                                                  new SelectListItem() {
                                                    Text = "Unfavourable remark", Value ="UNFO"
                                                  },
                                                  new SelectListItem() {
                                                    Text = "Disclaimer remark", Value ="DISO"
                                                  },
                                                  new SelectListItem() {
                                                    Text = "Clause not applicable", Value ="CNTA"
                                                  }
                                              })
                                        )
                                    </td>
                                </tr>
                                <tr>
                                    <th>Fraud noticed</th>
                                    <td>
                                        @(Html.Kendo().DropDownList()
                                              .Name("FRAUD_NOTICED")
                                              .DataTextField("Text")
                                              .DataValueField("Value")
                                              .HtmlAttributes(new { style = "width: 100%" })
                                              .BindTo(new List<SelectListItem>()
                                              {
                                                  new SelectListItem() {
                                                    Text = "Favourable Remark", Value ="FAVO"
                                                  },
                                                  new SelectListItem() {
                                                    Text = "Unfavourable remark", Value ="UNFO"
                                                  },
                                                  new SelectListItem() {
                                                    Text = "Disclaimer remark", Value ="DISO"
                                                  },
                                                  new SelectListItem() {
                                                    Text = "Clause not applicable", Value ="CNTA"
                                                  }
                                              })
                                        )
                                    </td>
                                </tr>
                                <tr>
                                    <th>Others</th>
                                    <td>
                                        @(Html.Kendo().DropDownList()
                                              .Name("OTHER_COMMENTS")
                                              .DataTextField("Text")
                                              .DataValueField("Value")
                                              .HtmlAttributes(new { style = "width: 100%" })
                                              .BindTo(new List<SelectListItem>()
                                              {
                                                 new SelectListItem() {
                                                    Text = "Favourable Remark", Value ="FAVO"
                                                  },
                                                  new SelectListItem() {
                                                    Text = "Unfavourable remark", Value ="UNFO"
                                                  },
                                                  new SelectListItem() {
                                                    Text = "Disclaimer remark", Value ="DISO"
                                                  },
                                                  new SelectListItem() {
                                                    Text = "Clause not applicable", Value ="CNTA"
                                                  }
                                              })
                                        )
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>

                <div class="row colpadding0 mt30">
                    <div class="col-md-12 colpadding0">
                        <div class="text-center">
                            <button type="button" class="btn btn-primary" onclick="btnClosePreviewWindow();">Close</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

