﻿@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;
@model BM_ManegmentServices.VM.CSR_VM


<script>  
    $(document).ready(function () {
        $("#tblContracts td").each(function () {
            var num = $(this).text();
            var commaNum = numberWithCommas(num);
            $(this).text(commaNum);
        });
    });
</script>
<div id="DivUploadExcelSample">
    <div class="row mt20">
        <div class="col-md-12 colpadding0">
            <div style="max-height: 500px;background-color: white; overflow-y: auto; overflow-x: hidden ">

                <div class="row mt30">
                    <div class="col-md-4">
                        <span style="color:red">*</span><lable class="control-label">1. (a) (i) Whether CSR is applicable as per section 135 </lable>
                    </div>
                    <div class="col-md-2">
                        @(Html.Kendo().RadioButtonFor(m => m.RB_CSR_APPLICABL).Label("Yes").Value(true).HtmlAttributes(new { }))
                        &nbsp;
                        @(Html.Kendo().RadioButtonFor(m => m.RB_CSR_APPLICABL).Label("No").Value(false).HtmlAttributes(new { }))
                    </div>
                </div>
                <div class="row mt30">
                    <div class="col-md-4">
                        <lable class="control-label" style="margin-left:35px">(ii) Turnover (in Rs.)</lable>
                    </div>
                    <div class="col-md-3">
                        @(Html.Kendo().TextBoxFor(m => m.TURNOVER).HtmlAttributes(new { style = "width: 80%", autocomplete = "off", @readonly = "readonly" }))
                        @Html.ValidationMessageFor(model => model.TURNOVER, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(m => m.CSRAOC4Id)
                <div class="row mt30">
                    <div class="col-md-4">
                        <lable class="control-label" style="margin-left:35px">(iii) Net worth (in Rs.)</lable>
                    </div>
                    <div class="col-md-3">
                        @(Html.Kendo().TextBoxFor(m => m.NET_WORTH).HtmlAttributes(new { style = "width: 80%", autocomplete = "off", @readonly = "readonly" }))
                        @Html.ValidationMessageFor(model => model.NET_WORTH, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row mt30">
                    <div class="col-md-4">
                        <lable class="control-label">3. Prescribed CSR Expenditure (two per cent. of the amount as in item 2 above)</lable>
                    </div>
                    <div class="col-md-3">
                        @(Html.Kendo().TextBox().Name("PRESCRIBED_CSR_E").HtmlAttributes(new { style = "width: 80%", autocomplete = "off", @readonly = "readonly" }))
                    </div>
                </div>

                <div class="row mt30">
                    <div class="col-md-4">
                        <lable class="control-label">4.  (a) Total amount spent on CSR for the financial year</lable>
                    </div>
                    <div class="col-md-3">
                        @(Html.Kendo().TextBoxFor(m => m.TOTAL_AMT_SPENT).HtmlAttributes(new { style = "width: 80%", autocomplete = "off", @readonly = "readonly" }))
                        @Html.ValidationMessageFor(model => model.TOTAL_AMT_SPENT, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row mt30">
                    <div class="col-md-4">
                        <lable class="control-label" style="margin-left:15px">(b) Amount spent in local area</lable>
                    </div>
                    <div class="col-md-3">
                        @(Html.Kendo().TextBoxFor(m => m.AMOUNT_SPENT_LA).HtmlAttributes(new { style = "width: 80%", autocomplete = "off", @readonly = "readonly" }))
                        @Html.ValidationMessageFor(model => model.AMOUNT_SPENT_LA, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row mt30 hidden">
                    <div class="col-md-6">
                        <lable class="control-label" style="margin-left:15px">(c) Manner in which the amount spent during the financial year as detailed below:</lable>
                    </div>
                </div>
                <div class="row mt30 hidden">
                    <div class="row mt30">
                        <div class="col-md-2" style="float:left;margin-left:15px">
                            <lable class="control-label">Number of CSR activities</lable>
                        </div>
                        <div class="col-md-9">
                            @(Html.Kendo().TextBoxFor(m => m.NUM_CSR_ACTIVITY).HtmlAttributes(new { style = "width: 15%", autocomplete = "off", type = "number" }))
                            @Html.ValidationMessageFor(model => model.NUM_CSR_ACTIVITY, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row mt30">
                    <div class="col-md-4">
                        <lable class="control-label">5. Give details (name, address and email address) of <br />implementing agency(ies)</lable>
                    </div>
                    <div class="col-md-3">
                        @(Html.TextAreaFor(m => m.DETAILS_IMPLEMEN, new { @style = "width:80%" ,@class="k-textbox" ,@readonly = "readonly"}))
                        @Html.ValidationMessageFor(model => model.DETAILS_IMPLEMEN, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row mt30">
                    <div class="col-md-4">
                        <lable class="control-label">7. Whether a responsibility statement of the CSR Committee on the implementation and monitoring of CSR Policy is enclosed to the Board's Report  </lable>
                    </div>
                    <div class="col-md-2">
                        @(Html.Kendo().RadioButton().Name("CSR7").Label("Yes").Enable(false).Value(true).HtmlAttributes(new { }))
                        &nbsp;
                        @(Html.Kendo().RadioButton().Name("CSR7").Label("No").Enable(false).Value(false).HtmlAttributes(new { }))
                    </div>
                </div>


                @*<div class="row  mt30">

                    <div class="row mt30">
                        <div class="col-md-4">
                            <label class="control-label">Select file</label>
                        </div>
                        <div class="col-md-3">
                            <input type="file" name="File" id="File" style="color:#767676;" />
                        </div>
                        <div class="col-md-1" id="divFPL">
                            <img src="/Images/Excel _icon.png" class="theexcelexport cursur" onclick="downloadReportingCSRExcel()">
                        </div>
                    </div>
                </div>*@


                <div class="row mt30" id="CSRdetails">
                    @if (Model.lstDetails != null)
                    {
                        <div class="row colpadding0">
                            <div class="col-md-12 colpadding0">
                                <table id="tblContracts" border="1" style="margin-top:10px;">
                                    <tr>
                                        <td>CSR project or activity identified</td>
                                        <td>Sector in which the Project is covered</td>
                                        <td>Projects or programs - Specify the State /Union Territory where the Project/ Program was undertaken</td>
                                        <td>Amount outlay (budget) project or programswise (in Rs.)</td>
                                        <td>Amount spent on the projects or programs (in Rs.)</td>
                                        <td>Mode of Amount spent</td>
                                    </tr>

                                    @foreach (var item in Model.lstDetails)
                                    {
                                        <tr>
                                            <td>@item.CSR_PROJECT_ACTV</td>
                                            <td>@item.SECTOR_PROJ_COVR_Str</td>
                                            <td>@item.STATE_UT_Str</td>
                                            <td>@item.AMOUNT_OUTLAY</td>
                                            <td>@item.AMOUNT_SPENT_PRJ</td>
                                            <td>@item.MODE_AMOUNT_SPNT_Str</td>
                                        </tr>
                                    }

                                </table>
                            </div>
                        </div>
                    }
                </div>


                <div class="row colpadding0 mt30">
                    <div class="col-md-12 colpadding0">
                        <div class="text-center">
                            <button type="button" class="btn btn-primary" onclick="btnClosePreviewWindow();">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







