﻿@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;
@model BM_ManegmentServices.VM.FinancialParameter_PLVM

<style>
    #tblFinancialParatmeterPL .td {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        text-align: justify;
        color: #767676;
    }
</style>
<script>  
    $(document).ready(function () {
        $("#tblFinancialParatmeterPL td").each(function () {
            var num = $(this).text();
            var commaNum = numberWithCommas(num);
            $(this).text(commaNum);
        });
    });
</script>
<div id="DivBalanceSheetFinancialParameterPL" style="max-height:520px; overflow-x:hidden; overflow-y:auto;">

    @if (Model != null)
    {
        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                <table border="0" style="margin-bottom:10px">
                    <tr>
                        <th>
                            <b>III. *Financial parameters - Profit and loss account items (Amount in Rupees) during the reporting period</b>
                        </th>
                    </tr>
                    <tr></tr>
                </table>
                <table id="tblFinancialParatmeterPL" border="1">
                    <tr>
                        <th style="width:2%">1</th>
                        <th>
                            Proposed Dividend
                        </th>
                        <td style="width:18%; text-align:right">@Model.PROPOSED_DIVIDND</td>
                        <td style="width:18%; text-align:right">@Model.PROPOSED_DIV_PER</td>
                    </tr>

                    <tr>
                        <th style="width:3%">2</th>
                        <th>
                            Earnings per share (in Rupees) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            Basic
                        </th>
                        <td style="text-align:right" colspan="2">@Model.BASIC_EARNING_PS</td>
                    </tr>
                    <tr>
                        <th style="width:3%"></th>
                        <th style="float:right;border:none">
                            Diluted
                        </th>
                        <td style="text-align:right" colspan="2">@Model.DILUTED_EARN_PS</td>
                    </tr>
                    <tr>
                        <th style="width:3%">3</th>
                        <th>Income in foreign currency</th>
                        <td style="text-align:right" colspan="2">@Model.INCOME_FOREIGN</td>
                    </tr>
                    <tr>
                        <th style="width:3%">4</th>
                        <th>Expenditure in foreign currency</th>
                        <td style="text-align:right" colspan="2">@Model.EXPENDIT_FOREIGN</td>
                    </tr>
                    <tr>
                        <th style="width:3%">5</th>
                        <th>
                            Revenue subsidies or grants received from government authority(ies)
                        </th>
                        <td style="text-align:right" colspan="2">@Model.REVENUE_SUBSIDIE</td>
                    </tr>
                    <tr>
                        <th style="width:3%">6</th>
                        <th>
                            Rent paid
                        </th>
                        <td style="text-align:right" colspan="2">@Model.RENT_PAID</td>
                    </tr>
                    <tr>
                        <th style="width:3%">7</th>
                        <th>
                            Consumption of stores and spare parts
                        </th>
                        <td style="text-align:right" colspan="2">@Model.CONSUMPTION_STOR</td>
                    </tr>
                    <tr>
                        <th style="width:3%">8</th>
                        <th>
                            Gross value of transaction with related parties as per AS-18 (If applicable)
                        </th>
                        <td style="text-align:right" colspan="2">@Model.GROSS_VALUE_TRAN</td>
                    </tr>
                    <tr>
                        <th style="width:3%">9</th>
                        <th>
                            Bad debts of related parties as per AS-18 (If applicable)
                        </th>
                        <td style="text-align:right" colspan="2">@Model.BAD_DEBTS_RP</td>
                    </tr>

                </table>
            </div>
        </div>
    }
</div>
@*<div class="row col-md-12 colpadding0 text-center mt10">
    <button type="button" class="btn btn-primary">Close</button>
</div>*@
<div class="row colpadding0 mt30">
    <div class="col-md-12 colpadding0">
        <div class="text-center">
            <button type="button" class="btn btn-primary" onclick="btnClosePreviewWindow();">Close</button>
        </div>
    </div>
</div>


