﻿@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;
@model BM_ManegmentServices.VM.AOC4_ProfitLossPrevVM

<style>
    #tblBalanceSheet .td {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: justify;
    color: #767676;
}
</style>
<script>
    $(document).ready(function () {
        $("#tblBalanceSheet td").each(function () {
            var num = $(this).text();
            var commaNum = numberWithCommas(num);
            $(this).text(commaNum);
        });
    });
</script>
<div id="DivBalanceSheet" style="max-height:520px; overflow-x:hidden; overflow-y:auto;">

    @if (Model != null)
    {
        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                <table>
                    <tr>
                        <th>
                            <b>
                                SEGMENT II: INFORMATION AND PARTICULARS IN RESPECT OF PROFIT AND LOSS ACCOUNT
                            </b>
                        </th>
                    </tr>
                    <tr><td><br /></td></tr>
                    <tr>
                        <th>
                            <b>
                                I. Statement Of Profit And Loss
                            </b>
                        </th>
                    </tr>
                </table>

                <table id="tblBalanceSheet" border="1">
                    <tr>
                        <th style="width:7%">
                            &nbsp;
                        </th>

                        <th style="width: 45%; text-align:center">
                            <b>Particulars</b>
                        </th>

                        <th style="width: 25%; text-align: center">
                            Figures as at the end of (Current
                            reporting period)<br />
                            From :
                            @if (Model.Current.FROM_DATE_CR != null)
                            {
                                <span style="font-weight:500">@(Convert.ToDateTime(Model.Current.FROM_DATE_CR).ToString("dd-MMM-yyyy"))</span>

                            }
                            To :
                            @if (Model.Current.FROM_DATE_CR != null)
                            {
                                <span style="font-weight:500">@(Convert.ToDateTime(Model.Current.TO_DATE_CR).ToString("dd-MMM-yyyy"))</span>

                            }
                        </th>
                        <th style="width: 25%; text-align:center">
                            Figures as at the end of (Previous
                            reporting period)<br />
                            From :
                            @if (Model.Previous.FROM_DATE_CR != null)
                            {
                                <span style="font-weight:500">@(Convert.ToDateTime(Model.Previous.FROM_DATE_CR).ToString("dd-MMM-yyyy"))</span>
                            }
                            To :
                            @if (Model.Previous.FROM_DATE_CR != null)
                            {
                                <span style="font-weight:500">@(Convert.ToDateTime(Model.Previous.TO_DATE_CR).ToString("dd-MMM-yyyy"))</span>
                            }
                        </th>

                        @*<th style="width:25%">
                            Figures as at the end of (Current
                            reporting period)<br />
                            @if (Model.Current.TO_DATE_CR != null)
                            {
                                <span style="font-weight:500">@(Convert.ToDateTime(Model.Current.FROM_DATE_CR).ToString("dd-MMM-yyyy"))</span>

                            }
                        </th>

                        <th style="width:25%">
                            Figures as at the end of
                            (Previous reporting period)
                            <br />
                            @if (Model.Previous.TO_DATE_CR != null)
                            {
                                <span style="font-weight:500">@(Convert.ToDateTime(Model.Previous.FROM_DATE_CR).ToString("dd-MMM-yyyy"))</span>
                            }
                        </th>*@
                    </tr>

                    <tr>
                        <td>(I)</td>
                        <td>
                            <b>Revenue from operations</b><br />
                        </td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            Domestic Turnover
                        </td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <td></td>
                        <td>(i) Sales of goods manufactureds</td>
                        <td style="text-align:right">@Model.Current.SALES_GOODS_CR</td>
                        <td style="text-align:right">@Model.Previous.SALES_GOODS_CR</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(ii) Sales of goods traded</td>
                        <td style="text-align:right">@Model.Current.SALES_GOODS_T_CR</td>
                        <td style="text-align:right">@Model.Previous.SALES_GOODS_T_CR</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(iii) Sales or supply of services</td>
                        <td style="text-align:right">@Model.Current.SALES_SUPPLY_CR</td>
                        <td style="text-align:right">@Model.Previous.SALES_SUPPLY_CR</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Export turnover</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(i) Sales of goods manufactured</td>
                        <td style="text-align:right">@Model.Current.SALES_GOODS1_CR</td>
                        <td style="text-align:right">@Model.Previous.SALES_GOODS1_CR</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(ii) Sales of goods traded</td>
                        <td style="text-align:right">@Model.Current.SALE_GOODS_T1_CR</td>
                        <td style="text-align:right">@Model.Previous.SALE_GOODS_T1_CR</td>
                    </tr>
                    <tr>
                        <td>(II)</td>
                        <td>Other income</td>
                        <td style="text-align:right">@Model.Current.OTHER_INCOME_CR</td>
                        <td style="text-align:right">@Model.Previous.OTHER_INCOME_CR</td>
                    </tr>
                    <tr>
                        <td>(III)</td>
                        <td><b>Total Revenue (I+II)</b></td>
                        <td style="text-align:right">@Model.Current.TOTAL_REVENUE_CR</td>
                        <td style="text-align:right">@Model.Previous.TOTAL_REVENUE_CR</td>
                    </tr>

                    <tr>
                        <td>(IV)</td>
                        <td><b>Expenses</b></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Cost of material consumed</td>
                        <td style="text-align:right">@Model.Current.COST_MATERIAL_CR</td>
                        <td style="text-align:right">@Model.Previous.COST_MATERIAL_CR</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Purchases of stock in trade</td>
                        <td style="text-align:right">@Model.Current.PURCHASE_STOCK_C</td>
                        <td style="text-align:right">@Model.Previous.PURCHASE_STOCK_C</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            Changes in inventories of
                            -Finished goods
                        </td>
                        <td style="text-align:right">@Model.Current.FINISHED_GOODS_C</td>
                        <td style="text-align:right">@Model.Previous.FINISHED_GOODS_C</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>-Work-in-progress</td>
                        <td style="text-align:right">@Model.Current.WORK_IN_PROG_CR</td>
                        <td style="text-align:right">@Model.Previous.WORK_IN_PROG_CR</td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>-Stock in trade</td>
                        <td style="text-align:right">@Model.Current.STOCK_IN_TRADE_C</td>
                        <td style="text-align:right">@Model.Previous.STOCK_IN_TRADE_C</td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>Employee benefit Expense</td>
                        <td style="text-align:right">@Model.Current.EMP_BENEFIT_EX_C</td>
                        <td style="text-align:right">@Model.Previous.EMP_BENEFIT_EX_C</td>
                    </tr>

                    <tr>
                        <td></td>
                        <td><b>Managerial remuneration</b></td>
                        <td style="text-align:right">@Model.Current.MANGERIAL_REM_CR</td>
                        <td style="text-align:right">@Model.Previous.MANGERIAL_REM_CR</td>
                    </tr>

                    <tr>
                        <td></td>
                        <td><b>Managerial remuneration</b></td>
                        <td style="text-align:right">@Model.Current.MANGERIAL_REM_CR</td>
                        <td style="text-align:right">@Model.Previous.MANGERIAL_REM_CR</td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>Payment to Auditors</td>
                        <td style="text-align:right">@Model.Current.PAYMENT_AUDTRS_C</td>
                        <td style="text-align:right">@Model.Previous.PAYMENT_AUDTRS_C</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Insurance expenses</td>
                        <td style="text-align:right">@Model.Current.INSURANCE_EXP_CR</td>
                        <td style="text-align:right">@Model.Previous.INSURANCE_EXP_CR</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Power and fuel</td>
                        <td style="text-align:right">@Model.Current.POWER_FUEL_CR</td>
                        <td style="text-align:right">@Model.Previous.POWER_FUEL_CR</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Finance cost</td>
                        <td style="text-align:right">@Model.Current.FINANCE_COST_CR</td>
                        <td style="text-align:right">@Model.Previous.FINANCE_COST_CR</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            Depreciation and Amortisation
                            expense
                        </td>
                        <td style="text-align:right">@Model.Current.DEPRECTN_AMORT_C</td>
                        <td style="text-align:right">@Model.Previous.DEPRECTN_AMORT_C</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Other expenses</td>
                        <td style="text-align:right">@Model.Current.OTHER_EXPENSES_C</td>
                        <td style="text-align:right">@Model.Previous.OTHER_EXPENSES_C</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Total expenses</b></td>
                        <td style="text-align:right">@Model.Current.TOTAL_EXPENSES_C</td>
                        <td style="text-align:right">@Model.Previous.TOTAL_EXPENSES_C</td>
                    </tr>
                    <tr>
                        <td>(V)</td>
                        <td>
                            Profit before exceptional and
                            extraordinary items and tax (III-IV)
                        </td>
                        <td style="text-align:right">@Model.Current.PROFIT_BEFORE_CR</td>
                        <td style="text-align:right">@Model.Previous.PROFIT_BEFORE_CR</td>
                    </tr>
                    <tr>
                        <td>(VI)</td>
                        <td>Exceptional items</td>
                        <td style="text-align:right">@Model.Current.EXCEPTIONL_ITM_C</td>
                        <td style="text-align:right">@Model.Previous.EXCEPTIONL_ITM_C</td>
                    </tr>
                    <tr>
                        <td>(VII)</td>
                        <td>
                            Profit before extraordinary items and
                            tax (V-VI)
                        </td>
                        <td style="text-align:right">@Model.Current.PROFIT_BEF_TAX_C</td>
                        <td style="text-align:right">@Model.Previous.PROFIT_BEF_TAX_C</td>
                    </tr>
                    <tr>
                        <td>(VIII)</td>
                        <td>Extraordinary items</td>
                        <td style="text-align:right">@Model.Current.EXTRAORDINARY_CR</td>
                        <td style="text-align:right">@Model.Previous.EXTRAORDINARY_CR</td>
                    </tr>
                    <tr>
                        <td>(IX)</td>
                        <td>Profit before tax (VII-VIII)</td>
                        <td style="text-align:right">@Model.Current.PROF_B_TAX_7_8_C</td>
                        <td style="text-align:right">@Model.Previous.PROF_B_TAX_7_8_C</td>
                    </tr>
                    <tr>
                        <td>(X)</td>
                        <td><b>Tax Expense</b></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(1) Current tax</td>
                        <td style="text-align:right">@Model.Current.CURRENT_TAX_CR</td>
                        <td style="text-align:right">@Model.Previous.CURRENT_TAX_CR</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(2) Deferred tax</td>
                        <td style="text-align:right">@Model.Current.DEFERRED_TAX_CR</td>
                        <td style="text-align:right">@Model.Previous.DEFERRED_TAX_CR</td>
                    </tr>
                    <tr>
                        <td>(XI)</td>
                        <td>
                            <b>
                                Profit (Loss) for the period from
                                continuing Operations (IX-X)
                            </b>
                        </td>
                        <td style="text-align:right">@Model.Current.PROF_LOSS_OPER_C</td>
                        <td style="text-align:right">@Model.Previous.PROF_LOSS_OPER_C</td>
                    </tr>
                    <tr>
                        <td>(XII)</td>
                        <td>
                            <b>
                                Profit/(Loss) from discontinuing
                                operations
                            </b>
                        </td>
                        <td style="text-align:right">@Model.Current.PROF_LOSS_DO_CR</td>
                        <td style="text-align:right">@Model.Previous.PROF_LOSS_DO_CR</td>
                    </tr>

                    <tr>
                        <td>(XIII)</td>
                        <td>
                            Tax expense of discontinuing
                            operations
                        </td>
                        <td style="text-align:right">@Model.Current.TAX_EXPNS_DIS_CR</td>
                        <td style="text-align:right">@Model.Previous.TAX_EXPNS_DIS_CR</td>
                    </tr>
                    <tr>
                        <td>(XIV)</td>
                        <td>
                            Profit /(Loss) from discontinuing
                            operations (after tax) (XII-XIII)
                        </td>
                        <td style="text-align:right">@Model.Current.PROF_LOS_12_13_C</td>
                        <td style="text-align:right">@Model.Previous.PROF_LOS_12_13_C</td>
                    </tr>
                    <tr>
                        <td>(XV)</td>
                        <td>
                            Profit/ (Loss) (XI+XIV)
                        </td>
                        <td style="text-align:right">@Model.Current.PROF_LOS_11_14_C</td>
                        <td style="text-align:right">@Model.Previous.PROF_LOS_11_14_C</td>
                    </tr>
                    <tr>
                        <td>(XVI)</td>
                        <td>
                            Earnings per equity share
                            before extraordinary items
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            (1) Basic
                        </td>
                        <td style="text-align:right">@Model.Current.BASIC_BEFR_EI_CR</td>
                        <td style="text-align:right">@Model.Previous.BASIC_BEFR_EI_CR</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            (2) Diluted
                        </td>
                        <td style="text-align:right">@Model.Current.DILUTED_BEF_EI_C</td>
                        <td style="text-align:right">@Model.Previous.DILUTED_BEF_EI_C</td>
                    </tr>
                    <tr>
                        <td>(XVII)</td>
                        <td>
                            Earnings per equity share
                            after extraordinary items
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            (1) Basic
                        </td>
                        <td style="text-align:right">@Model.Current.BASIC_AFTR_EI_CR</td>
                        <td style="text-align:right">@Model.Previous.BASIC_AFTR_EI_CR</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            (2) Diluted
                        </td>
                        <td style="text-align:right">@Model.Current.DILUTED_AFT_EI_C</td>
                        <td style="text-align:right">@Model.Previous.DILUTED_AFT_EI_C</td>
                    </tr>


                </table>
            </div>
        </div>
    }
</div>
<div class="row col-md-12 colpadding0 text-center mt10">
    <button type="button" class="btn btn-primary" onclick="btnClosePreviewWindow();">Close</button>
</div>