﻿@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;
@model BM_ManegmentServices.VM.CSR_VM

<div id="DivUploadExcelSample">
    <script>
        function downloadReportingCSRExcel() {
        window.location.href = "@Url.Action("SampleExcelReportingCSR", "AOC4", new { id= Model.CSRAOC4Id })";
    }
    </script>

    <script>
        $(document).ready(function () {
            $("#divFPL").kendoTooltip({ content: "Sample Excel For Reporting CSR ", width: 180 });
            $("#divcsr").find("input,button,textarea,select").attr("disabled", "disabled");
            $("#divcsr1").find("input,button,textarea,select").attr("disabled", "disabled");
        });

    </script>
    <div class="row mt20">
        <div class="col-md-12 colpadding0">
            <div style="max-height: 500px;background-color: white; overflow-y: auto; overflow-x: hidden ">
                @using (Ajax.BeginForm("SaveReportingCSR", "AOC4", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivUploadExcelSample", OnBegin = "OnOpenForm", OnComplete = "OnRefreshForm" }, new { id = "frmUpdateUploadEntity", enctype = "multipart/form-data" }))
                {
                    if (Model.Error)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert alert-danger alert-dismissible">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    @if (!(string.IsNullOrEmpty(@Model.Message)))
                                    {
                                        <lable>@Model.Message</lable>
                                    }
                                </div>
                            </div>
                        </div>
                    }

                    if (Model.Success)
                    {
                        <div class="row">
                            <div class="col-md-12 colpadding0" id="DivsuccessI">
                                <div class="alert alert-success alert-dismissible">
                                    <button class="close" type="button" onclick="hideAlert();">×</button>
                                    <lable id="lblsuccessI">@Html.Raw(Model.Message)</lable>
                                </div>
                            </div>
                        </div>
                    }
                    else if (Model.Error)
                    {
                        <div class="row">
                            <div class="col-md-12 colpadding0" id="DiverrorI">
                                <div class="alert alert-danger alert-dismissible">
                                    <button class="close" type="button" onclick="hideAlert();">×</button>
                                    <lable id="lblerrormsgI">@Html.Raw(Model.Message)</lable>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="row mt30">
                        <div class="col-md-4">
                            <span style="color:red">*</span><lable class="control-label">1. (a) (i) Whether CSR is applicable as per section 135 </lable>
                        </div>
                        <div class="col-md-2">
                            @(Html.Kendo().RadioButtonFor(m => m.RB_CSR_APPLICABL).Label("Yes").Value(true).HtmlAttributes(new { }))
                            &nbsp;
                            @(Html.Kendo().RadioButtonFor(m => m.RB_CSR_APPLICABL).Label("No").Value(false).HtmlAttributes(new { }))
                        </div>
                    </div>
                    <div class="row mt30">
                        <div class="col-md-4">
                            <lable class="control-label" style="margin-left:35px">(ii) Turnover (in Rs.)</lable>
                        </div>
                        <div class="col-md-3">
                            @(Html.Kendo().TextBoxFor(m => m.TURNOVER).HtmlAttributes(new { style = "width: 80%", autocomplete = "off" }))
                            @Html.ValidationMessageFor(model => model.TURNOVER, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @Html.HiddenFor(m => m.CSRAOC4Id)
                    <div class="row mt30" id="divcsr">
                        <div class="col-md-4">
                            <lable class="control-label" style="margin-left:35px">(iii) Net worth (in Rs.)</lable>
                        </div>
                        <div class="col-md-3">
                            @(Html.Kendo().TextBoxFor(m => m.NET_WORTH).Enable(false).HtmlAttributes(new { style = "width: 80%", autocomplete = "off"}))
                            @Html.ValidationMessageFor(model => model.NET_WORTH, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row mt30" id="divcsr1">
                        <div class="col-md-4">
                            <lable class="control-label">3. Prescribed CSR Expenditure (two per cent. of the amount as in item 2 above)</lable>
                        </div>
                        <div class="col-md-3">
                            @(Html.Kendo().TextBox().Name("PRESCRIBED_CSR_E").HtmlAttributes(new { style = "width: 80%", autocomplete = "off"}))
                        </div>
                    </div>
                    <div class="row mt30">
                        <div class="col-md-4">
                            <lable class="control-label">4.  (a) Total amount spent on CSR for the financial year</lable>
                        </div>
                        <div class="col-md-3">
                            @(Html.Kendo().TextBoxFor(m => m.TOTAL_AMT_SPENT).HtmlAttributes(new { style = "width: 80%", autocomplete = "off"}))
                            @Html.ValidationMessageFor(model => model.TOTAL_AMT_SPENT, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row mt30">
                        <div class="col-md-4">
                            <lable class="control-label" style="margin-left:15px">(b) Amount spent in local area</lable>
                        </div>
                        <div class="col-md-3">
                            @(Html.Kendo().TextBoxFor(m => m.AMOUNT_SPENT_LA).HtmlAttributes(new { style = "width: 80%", autocomplete = "off" }))
                            @Html.ValidationMessageFor(model => model.AMOUNT_SPENT_LA, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row mt30 hidden">
                        <div class="col-md-6">
                            <lable class="control-label" style="margin-left:15px">(c) Manner in which the amount spent during the financial year as detailed below:</lable>
                        </div>
                    </div>
                    <div class="row mt30 hidden">
                        <div class="row mt30">
                            <div class="col-md-2" style="float:left;margin-left:15px">
                                <lable class="control-label">Number of CSR activities</lable>
                            </div>
                            <div class="col-md-9">
                                @(Html.Kendo().TextBoxFor(m => m.NUM_CSR_ACTIVITY).HtmlAttributes(new { style = "width: 15%", autocomplete = "off", type = "number" }))
                                @Html.ValidationMessageFor(model => model.NUM_CSR_ACTIVITY, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row mt30">
                        <div class="col-md-4">
                            <lable class="control-label">5. Give details (name, address and email address) of <br />implementing agency(ies)</lable>
                        </div>
                        <div class="col-md-3">
                            @(Html.TextAreaFor(m => m.DETAILS_IMPLEMEN, new { @style = "width:80%" ,@class="k-textbox"}))
                            @Html.ValidationMessageFor(model => model.DETAILS_IMPLEMEN, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row mt30">
                        <div class="col-md-4">
                            <lable class="control-label">7. Whether a responsibility statement of the CSR Committee on the implementation and monitoring of CSR Policy is enclosed to the Board's Report  </lable>
                        </div>
                        <div class="col-md-2">
                            @(Html.Kendo().RadioButton().Name("CSR7").Label("Yes").Enable(false).Value(true).HtmlAttributes(new { }))
                            &nbsp;
                            @(Html.Kendo().RadioButton().Name("CSR7").Label("No").Enable(false).Value(false).HtmlAttributes(new { }))
                        </div>
                    </div>


                    <div class="row  mt30">

                        <div class="row mt30">
                            <div class="col-md-4">
                                <label class="control-label">Select file</label>
                            </div>
                            <div class="col-md-3">
                                <input type="file" name="File" id="File" style="color:#767676;" />
                            </div>
                            <div class="col-md-1" id="divFPL">
                                <img src="/Images/Excel _icon.png" class="theexcelexport cursur" onclick="downloadReportingCSRExcel()">
                            </div>
                        </div>
                    </div>

                    <div class="row mt30">
                        <div class="col-md-12">
                            <p style="color:red;"><b>Note : Highlighted area (in grey) is current being worked on. Request you to enter those details manually after form generation. We regret the inconvenience caused.</b></p>
                        </div>
                    </div>

                    <div class="row mt30">
                        <div class="row col-md-12 colpadding0 text-center mt30">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

