﻿@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;
@model BM_ManegmentServices.VM.RPT_VM

<style>
    #tblContracts .td {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        text-align: justify;
        color: #767676;
    }
</style>
<script>
    $(document).ready(function () {
        $("#tblAmountpaid").each(function () {
            var num = $(this).text();
            var commaNum = numberWithCommas(num);
            $(this).text(commaNum);
        });
        $("#tblAmountpaid1").each(function () {
            var num = $(this).text();
            var commaNum = numberWithCommas(num);
            $(this).text(commaNum);
        });
    });
</script>

<div id="DivBalanceSheet" style="min-height:500px; max-height:520px; overflow-x:hidden; overflow-y:auto;">

    @if (Model != null)
    {
        <div class="tab" role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" id="Details" class="active"><a href="#Details1" aria-controls="home" role="tab" data-toggle="tab">Contracts</a></li>
                <li role="presentation" id="SigningDetails"><a href="#SigningDetails1" aria-controls="profile" role="tab" data-toggle="tab">Material Contracts</a></li>
            </ul>

            <div class="tab-content tabs">
                <div role="tabpanel" class="tab-pane fade in active" id="Details1">
                    @if (Model.lstContracts != null)
                    {
                        <div class="row colpadding0">
                            <div class="col-md-12 colpadding0">
                                <table id="tblContracts" border="1" style="margin-top:10px;">
                                    <tr>
                                        <th style="width:15%">
                                            <b>Name(s) of the related party</b>
                                        </th>

                                        <th style="width:10%">
                                            <b>Nature of relationship</b>
                                        </th>

                                        <th style="width:10%">
                                            <b>Nature of contracts/ arrangements/ transactions</b>
                                        </th>

                                        <th style="width:15%">
                                            <b>Duration of the contracts /arrangements/ transactions</b>
                                        </th>

                                        <th style="width:15%">
                                            <b>Date of approval by the Board</b>
                                        </th>

                                        <th style="width:15%">
                                            <b>Amount paid as advances, if any</b>
                                        </th>

                                        <th style="width:15%">
                                            <b>Date on which the special resolution was passed in general meeting as required under first proviso to section 188</b>
                                        </th>

                                    </tr>

                                    @foreach (var item in Model.lstContracts)
                                    {
                                        <tr>
                                            <td>@item.NAME_RELATED_PAR</td>
                                            <td>@item.NATURE_OF_RELATN</td>
                                            <td>@item.NATURE_OF_CONTRA</td>
                                            <td>@item.DURATION_OF_CONT</td>
                                            <td>@(item.DATE_OF_APPROVAL == null ? "" : Convert.ToDateTime(item.DATE_OF_APPROVAL).ToString("dd-MMM-yyyy"))</td>
                                            <td id="tblAmountpaid">@item.AMOUNT_PAID</td>
                                            <td>@(item.DATE_SPCL_RESOLT == null ? "" : Convert.ToDateTime(item.DATE_SPCL_RESOLT).ToString("dd-MMM-yyyy"))</td>
                                        </tr>
                                    }

                                </table>
                            </div>
                        </div>
                    }
                </div>

                <div role="tabpanel" class="tab-pane fade" id="SigningDetails1">
                    @if (Model.lstMaterialContracts != null)
                    {
                        <div class="row colpadding0">
                            <div class="col-md-12 colpadding0">
                                <table id="tblContracts" border="1" style="margin-top:10px;">
                                    <tr>
                                        <th style="width:20%">
                                            <b>Name(s) of the related party</b>
                                        </th>

                                        <th style="width:15%">
                                            <b>Nature of relationship</b>
                                        </th>

                                        <th style="width:15%">
                                            <b>Nature of contracts/ arrangements/ transactions</b>
                                        </th>

                                        <th style="width:15%">
                                            <b>Duration of the contracts /arrangements/ transactions</b>
                                        </th>

                                        <th style="width:15%">
                                            <b>Date of approval by the Board</b>
                                        </th>

                                        <th style="width:15%">
                                            <b>Amount paid as advances, if any</b>
                                        </th>
                                    </tr>

                                    @foreach (var item in Model.lstMaterialContracts)
                                    {
                                        <tr>
                                            <td>@item.NAME_RELATED_PAR</td>
                                            <td>@item.NATURE_OF_RELATN</td>
                                            <td>@item.NATURE_OF_CONTRA</td>
                                            <td>@item.DURATION_OF_CONT</td>
                                            <td>@(item.DATE_OF_APPROVAL == null ? "" : Convert.ToDateTime(item.DATE_OF_APPROVAL).ToString("dd-MMM-yyyy"))</td>
                                            <td id="tblAmountpaid1">@item.AMOUNT_PAID</td>
                                        </tr>
                                    }

                                </table>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

    }
</div>
<div class="row col-md-12 colpadding0 text-center mt10">
    <button type="button" class="btn btn-primary" onclick="btnClosePreviewWindow();">Close</button>
</div>