﻿
@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;
@model BM_ManegmentServices.VM.ShareCapitalRaisedVM

<style>
    #tblSharecapital .td {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        text-align: justify;
        color: #767676;
    }
</style>
<script>
    $(document).ready(function () {
        $("#tblSharecapital td").each(function () {
            var num = $(this).text();
            var commaNum = numberWithCommas(num);
            $(this).text(commaNum);
        });
    });
</script>
<div id="DivBalanceSheetSharedCapitalRaised" style="max-height:520px; overflow-x:hidden; overflow-y:auto;">

    @if (Model != null)
    {
        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                <table border="0" style="margin-bottom:10px">
                    <tr>
                        <th>
                            <b>IV. Share capital raised during the reporting period (Amount in Rupees)</b>
                        </th>
                    </tr>
                    <tr></tr>
                </table>
                <table id="tblSharecapital" border="1">
                    <tr>
                        <th style="width: 35%; text-align: center">
                            <b>Particulars</b>
                        </th>
                        <th style="text-align: center">
                            <b>Equity Shares</b>
                        </th>
                        <th style="text-align: center">
                            <b>Preference Shares</b>
                        </th>
                        <th style="text-align: center">
                            <b>Total</b>
                        </th>
                    </tr>
                    <tr>
                        <td>(a) Public issue</td>
                        <td style="text-align:right">@Model.PublicIssue_E</td>
                        <td style="text-align:right">@Model.PublicIssue_P</td>
                        <td style="text-align:right">@Model.PublicIssue_T</td>
                    </tr>
                    <tr>
                        <td>(b) Bonus issue</td>
                        <td style="text-align:right">@Model.BonusIssue_E</td>
                        <td style="text-align:right">@Model.BonusIssue_P</td>
                        <td style="text-align:right">@Model.BonusIssue_T</td>
                    </tr>
                    <tr>
                        <td>(c) Right issue</td>
                        <td style="text-align:right">@Model.RightIssue_E</td>
                        <td style="text-align:right">@Model.RightIssue_P</td>
                        <td style="text-align:right">@Model.RightIssue_T</td>
                    </tr>
                    <tr>
                        <td>(d) Private placement arising out of conversion of debentures or preference shares</td>
                        <td style="text-align:right">@Model.PvtPlacementarising_E</td>
                        <td style="text-align:right">@Model.PvtPlacementarising_P</td>
                        <td style="text-align:right">@Model.PvtPlacementarising_T</td>
                    </tr>
                    <tr>
                        <td>(e) Other private placement</td>
                        <td style="text-align:right">@Model.OtherPvtPlacement_E</td>
                        <td style="text-align:right">@Model.OtherPvtPlacement_P</td>
                        <td style="text-align:right">@Model.OtherPvtPlacement_T</td>
                    </tr>
                    <tr>
                        <td>(f) Preferential allotment arising out of conversion ofdebentures or preference shares</td>
                        <td style="text-align:right">@Model.PrferentialAllotment_E</td>
                        <td style="text-align:right">@Model.PrferentialAllotment_P</td>
                        <td style="text-align:right">@Model.PrferentialAllotment_T</td>
                    </tr>
                    <tr>
                        <td>(g) Other preferential allotment</td>
                        <td style="text-align:right">@Model.OtherPreferentialallotment_E</td>
                        <td style="text-align:right">@Model.OtherPreferentialallotment_P</td>
                        <td style="text-align:right">@Model.OtherPreferentialallotment_T</td>
                    </tr>
                    <tr>
                        <td>(h) Employee Stock Option Plan (ESOP)</td>
                        <td style="text-align:right">@Model.EmpStockOptionPlan_E</td>
                        <td style="text-align:right">@Model.EmpStockOptionPlan_P</td>
                        <td style="text-align:right">@Model.EmpStockOptionPlan_T</td>
                    </tr>
                    <tr>
                        <td>(i) Others</td>
                        <td style="text-align:right">@Model.Others_E</td>
                        <td style="text-align:right">@Model.Others_P</td>
                        <td style="text-align:right">@Model.Others_T</td>
                    </tr>
                    <tr>
                        <td>(j) Total amount of share capital raised during the reporting period</td>
                        <td style="text-align:right">@Model.TotalAmtShares_E</td>
                        <td style="text-align:right">@Model.TotalAmtShares_P</td>
                        <td style="text-align:right">@Model.TotalAmtShares_T</td>
                    </tr>
     
                </table>
            </div>
        </div>
    }
</div>
<div class="row col-md-12 colpadding0 text-center mt10">
    <button type="button" class="btn btn-primary" onclick="btnClosePreviewWindow();">Close</button>
</div>
