﻿@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;
@model BM_ManegmentServices.VM.ExcelFileAOC4UploadVM

<div id="DivUploadExcelSample">
    <script>
    function downloadSharedCapitalRiseExcel() {
        window.location.href = "@Url.Action("SampleExcelAOC4ShareCapitalRaise", "AOC4", new { id= Model.ExcelAOC4Id })";
    }
    </script>

    <script>
        $(document).ready(function () {
            $("#divSharedCapital").kendoTooltip({ content: "Sample Excel Shared Capital Raised During Reporting Period", width: 120 });
        });

    </script>
    <div class="row colpadding0">
        <div class="col-md-12 colpadding0">
            <div style="background-color:white;">
                @using (Ajax.BeginForm("UploadExcelSharedCapitalRaise", "AOC4", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivUploadExcelSample", OnBegin = "OnOpenForm", OnComplete = "OnRefreshForm" }, new { id = "frmUpdateUploadEntity", enctype = "multipart/form-data" }))
                {
                    if (Model.Error)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert alert-danger alert-dismissible">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    @if (!(string.IsNullOrEmpty(@Model.Message)))
                                    {
                                        <lable>@Model.Message</lable>
                                    }
                                </div>
                            </div>
                        </div>
                    }

                    if (Model.Success)
                    {
                        <div class="row">
                            <div class="col-md-12 colpadding0" id="DivsuccessI">
                                <div class="alert alert-success alert-dismissible">
                                    <button class="close" type="button" onclick="hideAlert();">×</button>
                                    <lable id="lblsuccessI">@Html.Raw(Model.Message)</lable>
                                </div>
                            </div>
                        </div>
                    }
                    else if (Model.Error)
                    {
                        <div class="row">
                            <div class="col-md-12 colpadding0" id="DiverrorI">
                                <div class="alert alert-danger alert-dismissible">
                                    <button class="close" type="button" onclick="hideAlert();">×</button>
                                    <lable id="lblerrormsgI">@Html.Raw(Model.Message)</lable>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="row colpadding0 mt30">
                        <div class="col-md-12 colpadding0">
                            <div class="col-md-2 pull-right" id="divSharedCapital">
                                <img src="/Images/Excel _icon.png" class="theexcelexport cursur" onclick="downloadSharedCapitalRiseExcel()">
                            </div>
                            @Html.HiddenFor(m => m.ExcelAOC4Id)
                        </div>
                    </div>

                    <div class="row colpadding0 mt30">
                        <div class="col-md-12 colpadding0">
                            <div class="col-md-3">
                                <label class="control-label">Select file</label><span style="color:red">*</span>
                            </div>

                            <div class="col-md-6">
                                <input type="file" name="File" id="File" style="color:#767676;" />
                            </div>
                        </div>
                    </div>

                    <div class="row col-md-12 colpadding0 text-center mt30">
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>

                    <div class="row mt30">
                        <div class="row col-md-12 colpadding0 text-center mt30">
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

