﻿@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;
@{
    ViewBag.Title = "AOC-4 (Non XBRL) :: Forms";
}

<div id="DivUploadforms">
    <style>
        #gridKendoForms .k-grid-content {
            min-height: 462px;
            max-height: 462px;
            overflow: hidden;
        }
    </style>

    <script>
        $(document).ready(function () {

            var breadCrumbData = [
                {
                    displayText: "Forms",
                    navigateUrl: "#",
                }, {
                    displayText: "AOC-4 (Non XBRL)",
                    navigateUrl: "/BM_Management/AOC4/Index",
                }
            ];
            $('.breadcrumbs')[0].innerHTML = "";
            setBreadCrumb(breadCrumbData);
            //$("#divDPT3").kendoTooltip({ content: "Sample Excel for DPT-3", width: 180 });
        });

        function downloadDPT3Sample() {
            window.location.href = "@Url.Action("DownloadSampleExcelDPT_3", "Forms")";
        }
        function btnCancelUpload() {
            window.location.href = "@Url.Action("DPT3", "Forms")";
        }

        function onBegin() {
            window.kendo.ui.progress($("#DivUploadforms"), true);
        }
        function onComplete() {
            window.kendo.ui.progress($("#DivUploadforms"), false);
        }

        function ddlEntityIdChanged() {
            var entityID = $("#EntityId1").val();
            if (entityID == null || entityID == undefined) {
                entityID = 0;
            }
            if (entityID > 0) {
                var dataSource = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: "/api/ConfigurationMasterAPI/GetFYListByEntityID?EntityID=" + entityID,
                        }
                    }
                });
                var ddl = $('#FYId1').data("kendoDropDownList");
                ddl.setDataSource(dataSource);
                ddl.refresh();
            }
        }
        function btnGenerateDPT3() {
            var entityId = $("#hdnEntityId").val();
            window.open("DownloadDPT3?entityId=" + entityId, '_blank');
        }
    </script>

    <script>
        function OnOpenForm(e) {
            var wnd = $("#wndNewForm").data("kendoWindow");
            kendo.ui.progress(wnd.element, true);
            //$(".k-overlay").attr('style', "opacity:0.5; display:block;");
        }

        function OnRefreshForm() {
            var wnd = $("#wndNewForm").data("kendoWindow");
            kendo.ui.progress(wnd.element, false);
        }
    </script>

    <script>
        $(document).ready(function(){
            $("#cmdNewForm").click(function (e) {
                debugger;
                e.preventDefault();
                CreateNew(e);
            });
        });
        

        function CreateNew(e) {
            e.preventDefault();

            $("#wndNewForm").attr("style", "min-height:100px;");

            var direction = "@Url.Action("Create", "AOC4")";

            $("#wndNewForm").kendoWindow({
                title: "Add - Form",
            });

            var wnd = $("#wndNewForm").data("kendoWindow");
            var opts = wnd.options;

            wnd = $("#wndNewForm").kendoWindow({
                title: "Add - Form",
                actions: [
                             "Pin",
                             "Minimize",
                             "Maximize",
                             "Close"
                ],
                content: direction,
                width: "40%",
                position: {
                    top: 100,
                },

                visible: false,
                modal: true,
                refresh: function () {
                    this.center();
                    OnRefreshForm();
                },
                close: function (e) {
                    $(this.element).empty();
                    $('#gridKendoForms').data('kendoGrid').dataSource.read();
                    $('#gridKendoForms').data('kendoGrid').refresh();
                    $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                },
                open: function (e) {
                    OnOpenForm();
                    $(this.element).closest(".k-window").css("position", "fixed")
                    $(".k-overlay").attr('style', "opacity:0.5; display:block;");
                }
            }).data("kendoWindow");

            opts.width = "40%";
            wnd.setOptions(opts);
            wnd.center();
            wnd.open();
        }
    </script>

    <script>
        var initialLoad = true;
        function onRowBoundForms(e) {

            var grid = $("#gridKendoForms").data("kendoGrid");
            var gridData = grid.dataSource.view();

            for (var i = 0; i < gridData.length; i++) {
                var currentUid = gridData[i].uid;
                var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");

                $(currenRow).find(".k-grid-warn").empty();
                if (gridData[i].Status_ != true) {
                    $(currenRow).find(".k-grid-warn").append("<img class='fill-template-fields' style='height:21px;' src='../../Images/upload_error.png'/>");
                    //$(currenRow).find(".k-grid-view").addClass("k-state-disabled");
                } else {
                    $(currenRow).find(".k-grid-warn").append("<img style='height:21px;' src='../../Images/upload_success.png'/>");
                }
            }

            GetICons();
            $("#gridKendoForms tr.k-alt").removeClass("k-alt");
            $("#gridKendoForms .k-grid-header").attr("style", "padding-right: 0px;");

            if (initialLoad) {
                initialLoad = false;
                fillEntityDDL();
            }
        }

        function viewFormDetails(e) {
            e.preventDefault();
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            var id = dataItem.AOC4Id;
            if (id > 0) {
                window.location = "@Url.Action("AOC4", "AOC4")"+"?id="+id;
            }
        }

        function filterChange() {
            var filter = { logic: 'and', filters: [] };
            var ddlEntityType = $("#EntityId1").data("kendoDropDownList");
            var d = ddlEntityType.value();

            if (d > 0) {
                filter.filters.push({ logic: "and", field: "EntityId", operator: "eq", value: parseInt(d) });
            }

            var FYIdNew = $("#FYIdNew").data("kendoDropDownList");
            var d1 = FYIdNew.value();
            if (d1 > 0) {
                filter.filters.push({ logic: "and", field: "FYId", operator: "eq", value: parseInt(d1) });
            }

            grid = $("#gridKendoForms").data("kendoGrid");
            grid.dataSource.filter(filter);
        }
    </script>
    <div class="row colpadding0 hidden">
        <div class="col-md-12 colpadding0">
            <div style="background-color:white;">


                <div class="row colpadding0 mt30">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-2 pull-right mt30" id="divDPT3">
                            <img src="/Images/Excel _icon.png" class="theexcelexport cursur" onclick="downloadDPT3Sample()">
                        </div>
                        <input type="hidden" id="hdnEntityId" />
                    </div>
                </div>

                <div class="row colpadding0 mt30">
                    <div class="col-md-6 colpadding0">
                        <div class="col-md-3">
                            <label class="control-label">Company</label><span style="color:red">*</span>
                        </div>
                        <div class="col-md-8">
                           
                        </div>
                    </div>

                    <div class="col-md-6 colpadding0">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-8">
                            <div id="FYId1"></div>
                        </div>
                    </div>

                </div>

                <div class="row mt30">
                    <div class="row col-md-12 colpadding0 text-center mt30">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row Dashboard-white-widget">
        <div class="dashboard">

            <div class="row master-Headre">
                <div class="col-md-12 vertical-center">
                    <div class="col-md-10 colpadding0">
                        <div class="col-md-6 colpadding0">
                            <input id='filter' placeholder="Search by Type/Title/Status" class='k-textbox hidden' style="width:90%" autocomplete="off" onchange="filterChange(this)" />

                            @(Html.Kendo().DropDownList()
                              .Name("EntityId1")
                              .DataTextField("EntityName")
                              .DataValueField("Id")
                              .OptionLabel("Entity-All")
                              .Events(e => e.Change("filterChange"))
                              .HtmlAttributes(new { style = "width: 90%", @Id = "EntityId1", autocomplete = "off" }))

                        </div>

                        <div class="col-md-2 colpadding0">
                            @(Html.Kendo().DropDownList()
                              .Name("FYIdNew")
                              .DataTextField("FY")
                              .DataValueField("FYId")
                              .OptionLabel("FY-All")
                              .Events(e => e.Change("filterChange"))
                              .HtmlAttributes(new { style = "width: 90%", @Id = "FYIdNew", autocomplete = "off" }))
                        </div>

                        <div class="col-md-2 colpadding0" id="clearfillter" style="display:none">
                            <button type="button" class="btn btn-default btn-sm ClearFilterbtn" onclick="clearfilter()">
                                <img src="~/Areas/BM_Management/img/Vector.png" /> Clear Filter
                            </button>
                        </div>

                        <div class="col-md-2 colpadding0">

                        </div>
                    </div>

                    <div class="col-md-2 colpadding0 text-right">
                        <input type="button" class="btn btn-primary add-button" href="/#" title="Upload" value="Upload" onclick="FormUpload()" />
                        <button class="btn btn-primary add-button" href="/#" id="cmdNewForm" title="Add New"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</button>
                    </div>
                </div>
            </div>

            <div class="row colpadding0 mt30">
                <div class="col-md-12 colpadding0">

                    @(Html.Kendo().Grid<BM_ManegmentServices.VM.AOC4_List_VM>()
                .Name("gridKendoForms")
                .Columns(columns =>
                {
                    columns.Bound(o => o.AOC4Id).Visible(false);
                    columns.Bound(o => o.Company).Title("Company").Width("60%").Filterable(ftb => ftb.Multi(true).Search(true));
                    columns.Bound(o => o.FY).Title("FY").Width("20%").Filterable(ftb => ftb.Multi(true).Search(true));
                    columns.Template(t => { }).Title("Status").ClientTemplate("<span class='k-grid-warn'></span>").Width("10%").HeaderHtmlAttributes(new { style = "text-align:center;" }).HtmlAttributes(new { @class = "text-center" });
                    columns.Command(command =>
                    {
                        command.Custom("view").Click("viewFormDetails").HtmlAttributes(new { @class = "k-grid-button k-grid-view hoverCircle" });
                    }).Title("Action").Width("10%");
                }).EnableCustomBinding(true)
                .Events(e => e.DataBound("onRowBoundForms"))
                .Scrollable()
                .Pageable(pageable => pageable
                .Refresh(false)
                .PageSizes(true)
                .ButtonCount(5))
                .Filterable()
                .Sortable()
                .Reorderable(reorderable => reorderable.Columns(true))
                .Resizable(resizable => resizable.Columns(true))
                .ColumnMenu()
                .DataSource(dataSource => dataSource
                .WebApi()
                .PageSize(10)
                .ServerOperation(false)
                .Model(model =>
                {
                model.Id(o => o.AOC4Id);
                model.Field(o => o.EntityId);
                model.Field(o => o.FYId);
                }).Read(read => read.Url("/api/AOC4/GetSavedForms").Type(HttpVerbs.Get))))
                </div>
            </div>
            <div class="row colpadding0 mt30">
                <div class="col-md-12 colpadding0">
                    <p style="color:red; font-size:medium"><b>Note : To use AOC-4 form automation capability, please upload your last filed AOC-4 form in "Upload" Section.</b></p>
                </div>
            </div>

        </div>
    </div>

    @(Html.Kendo().Tooltip()
        .For("#gridKendoForms")
        .Filter(".fill-template-fields")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Pending")
        .Events(e => e.Show("PositionTooltip"))
    )

    @(Html.Kendo().Window()
    .Name("wndNewForm")
    .Scrollable(true)
    .Visible(false)
    .Pinned(false)
    .Modal(true))


    @(Html.Kendo().Window()
    .Name("wndFileUploadAOC4")
    .Title("Upload")
    .Visible(false)
    .Modal(true)
    .Draggable(false)
    .Scrollable(false))
</div>

<script>
    function FormUpload() {

        var direction = "UploadFileopenPopUP";

        $("#wndFileUploadAOC4").kendoWindow({
            title: "Upload - AOC-4 (Non XBRL)",
        });
        $("#wndFileUploadAOC4").attr("style", "min-height:100px;");
        direction = "UploadFileopenPopUP";
        var wnd = $("#wndFileUploadAOC4").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndFileUploadAOC4").kendoWindow({

            content: direction,
            width: "50%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefresheupload(); },
            close: function (e) {
                $(this.element).empty();
                //$('#gridKendo').data('kendoGrid').dataSource.read();
                //$('#gridKendo').data('kendoGrid').refresh();

                initialLoad = true;

                $('#gridKendo').data('kendoGrid').dataSource.read();
                $('#gridKendo').data('kendoGrid').refresh();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {

                
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");

        opts.width = "50%";

        wnd.setOptions(opts);
        wnd.center();
        //wnd.refresh(direction);
        wnd.open();
    }

    function OnOpenupload() {
        var wnd = $("#wndFileUploadAOC4").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
    }
    function OnRefresheupload() {
        var wnd = $("#wndFileUploadAOC4").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }
    function btnCloseUploadWindow() {
        $("#wndFileUploadAOC4").data("kendoWindow").close();
    }
</script>

<script>
    function fillEntityDDL() {

        var grid = $("#gridKendoForms").data("kendoGrid");

        if (grid != null && grid != undefined) {

            var gridData = grid.dataSource.data();

            var lookupEntity = {};
            var lstEntities = [];

            var lookupFY = {};
            var lstFY = [];


            for (var i = 0; i < gridData.length; i++) {

                var EntityId = gridData[i].EntityId;
                if (!(EntityId in lookupEntity)) {
                    lookupEntity[EntityId] = 1;
                    lstEntities.push({ "Id": gridData[i].EntityId, "EntityName": gridData[i].Company });
                }


                var FYId = gridData[i].FYId;
                if (!(FYId in lookupFY)) {
                    lookupFY[FYId] = 1;
                    lstFY.push({ "FYId": gridData[i].FYId, "FY": gridData[i].FY });
                }
            }

            var lstTemp = lstEntities.sort((a, b) => (a.EntityName > b.EntityName) ? 1 : -1);

            var dsEntity = new kendo.data.DataSource({
                data: lstTemp,
                sort: { field: "EntityName", dir: "asc" },
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            EntityName: { editable: false },
                        },
                        hasChildren: false
                    }
                },
            });

            var ddlEntity = $("#EntityId1").data("kendoDropDownList");
            ddlEntity.setDataSource(dsEntity);


            var lstTemp1 = lstFY.sort((a, b) => (a.FY > b.FY) ? 1 : -1);

            var dsFYIdNew = new kendo.data.DataSource({
                data: lstTemp1,
                schema: {
                    model: {
                        id: "FYId",
                        fields: {
                            FY: { editable: false },
                        },
                        hasChildren: false
                    }
                },
            });

            var FYIdNew = $("#FYIdNew").data("kendoDropDownList");
            FYIdNew.setDataSource(dsFYIdNew);
        }
    }
</script>