﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.AOC4FormUploadVM

<div class="row colpadding0">
    <div class="col-md-12 colpadding0">
        <div id="DivUploadAOC4">
            @using (Ajax.BeginForm("ImportAOC4", "AOC4", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivUploadAOC4", OnBegin = "OnOpenupload", OnComplete = "OnRefresheupload" }, new { id = "frmUploadAOC4", enctype = "multipart/form-data" }))
            {

                if (Model.Success)
                {
                    <div class="row">
                        <div class="col-md-12 colpadding0" id="DivsuccessI">
                            <div class="alert alert-success alert-dismissible">
                                <button class="close" type="button" onclick="hideAlert();">×</button>
                                <lable id="lblsuccessI">@Html.Raw(Model.Message)</lable>
                            </div>
                        </div>
                    </div>
                }
                else if (Model.Error)
                {
                    <div class="row">
                        <div class="col-md-12 colpadding0" id="DiverrorI">
                            <div class="alert alert-danger alert-dismissible">
                                <button class="close" type="button" onclick="hideAlert();">×</button>
                                <lable id="lblerrormsgI">@Html.Raw(Model.Message)</lable>
                            </div>
                        </div>
                    </div>
                }


                <div class="row colpadding0 mt30">
                    <div class="col-md-2">
                        <label class="control-label">Select File</label><span style="color:red">*</span>
                    </div>
                    <div class="col-md-8">
                        <input type="file" name="File" id="File" />
                    </div>
                </div>

                <div class="row colpadding0 mt30">
                    <div class="col-md-12 colpadding0 text-center mt30">
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </div>

                <div class="row colpadding0 mt30">
                    <div class="col-md-12 colpadding0">
                        <p style="color:red;"><b>Note : Please use this option to upload your last filed AOC-4 form only.</b></p>
                    </div>
                </div>

            }
            <script>
                $(document).ready(function () {
                    if("@Model.Success".toUpperCase() == "TRUE"){
                        //$('#gridKendoForms').data('kendoGrid').dataSource.read();
                        //$('#gridKendoForms').data('kendoGrid').refresh();
                    }
                });
            </script>

        </div>
    </div>
</div>