﻿@using Kendo.Mvc.UI;
@model long

<script type="text/javascript">
    function error_handlerT(e) {
        
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function() {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
        else {
            alert('Save Successfully.');
        }
    }

    function Request_EndT(e) {
        
        if (e.type == "create" || e.type == "update") {
            if(e.response.Errors == null)
            {
                var divgridNewMessage = $("#divgridNewMessage");
                divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success'> <lable>Save Successfully.</lable></div></div></div>";
            }
        }
    }

    $("#btnIntParties").kendoButton({
        click: function (e) {
            var divgridNewMessage = $("#divgridNewMessage");
            divgridNewMessage[0].innerHTML = '';


            var grid = $("#gridNew").data("kendoGrid");
            var gridData = grid.dataSource.data();

            var lookup = {};
            var isExists = false;
            
            for (var i = 0; i < gridData.length; i++){
                var templateName = gridData[i].Category.ID;
                if (!(templateName in lookup)){
                    lookup[templateName] = 1;
                }
                else {
                    isExists = true;
                }
               }

            if (isExists == false) {
                grid.saveChanges();
            }
            else {
                var strValidation = "Duplicate Template Name.";
                divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-danger'> <lable>" + strValidation + "</lable></div></div></div>";
            }
            
        }
    })

    

    function btnCloseIPClick(){
        $("#wndInterestParties").data("kendoWindow").close();
    }

    function toolTipContent_gridNew(e) {
        return e.target.context.innerText;
    }

    function gridNewIP_DataBound(e) {
        GetICons();
    }
</script>

<div>
    @(Html.Kendo().Tooltip()
        .For("#gridNew")
        .Filter(".k-grid-add")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Add - Interested Party")
        .Width(150)
    )

    @(Html.Kendo().Tooltip()
        .For("#gridNew")
        .Filter(".k-grid-delete")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Delete")
        .Width(120)
    )

    @(Html.Kendo().Tooltip()
        .For("#gridNew")
        .Filter("td:nth-child(1)")
        .ContentHandler("toolTipContent_gridNew")
        .Position(TooltipPosition.Top)
        .Width(200)
        .AutoHide(true) )

    @*@(Html.Kendo().Tooltip()
        .For("#gridNew")
        .Filter("td:nth-child(2)")
        .ContentHandler("toolTipContent_gridNew")
        .Position(TooltipPosition.Top)
        .Width(300)
        .AutoHide(true) )*@

    @*@(Html.Kendo().Tooltip()
        .For("#gridNew")
        .Filter("td:nth-child(3)")
        //.ContentHandler("toolTipContent_gridNew")
        .Position(TooltipPosition.Top)
        .Width(300)
        .AutoHide(true) )*@
</div>

<div id="divgridNewMessage">

</div>

<div>
    @(Html.Kendo().Grid<BM_ManegmentServices.VM.MeetingAgendaInterestedPartyVM>()
    .Name("gridNew")
    .Columns(columns =>
    {
        columns.Bound(p => p.Category).HeaderTemplate("Name").ClientTemplate("#=Category.Name#").HtmlAttributes(new { title = "#= Category.Name #" }).Sortable(false).Width("88%");
        columns.Command(command => command.Destroy()).Title("Action");
    })
    .ToolBar(toolBar =>
    {
        toolBar.Create().Text("Add New").HtmlAttributes(new { @class = "k-grid-add", title = "Add New Template Field" });
    })
    .Editable(editable => editable.Mode(GridEditMode.InCell).CreateAt(GridInsertRowPosition.Bottom))
    .Pageable()
    .Sortable()
    .Events( e => e.DataBound("gridNewIP_DataBound"))
    //.Scrollable()
    .HtmlAttributes(new { style = "height:400px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        .ServerOperation(false)
        .Events(events => events.Error("error_handlerT")
        .RequestEnd("Request_EndT"))
        .Model(model =>
        {
            model.Id(p => p.InterestedPartyID);
            model.Field(p => p.InterestedPartyID).Editable(false);
            model.Field(p => p.MeetingAgendaMappingID).Editable(false).DefaultValue(Model);
            model.Field(p => p.Category).DefaultValue(
                ViewData["defaultCategory"] as BM_ManegmentServices.VM.DirectorMasterListVM);
        })
        .PageSize(10)
        .Read(read => read.Action("EditingCustom_Read", "MeetingInterestedParty", new { MeetingAgendaMappingID = Model }))
        .Create(create => create.Action("EditingCustom_Create", "MeetingInterestedParty"))
        .Update(update => update.Action("EditingCustom_Update", "MeetingInterestedParty"))
    //.Destroy(destroy => destroy.Action("EditingCustom_Destroy", "MeetingInterestedParty"))
    )
    )
</div>

<div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;">
    <button type="button" id="btnIntParties" class="k-primary k-button k-grid-update k-button-icontext">Save</button>
    <button type="button" id="btncloseTemplate" class="k-primary k-button" onclick="btnCloseIPClick()">Close</button>
</div>