﻿@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;
@model BM_ManegmentServices.VM.ExcelFileFormUploadVM
@{
    ViewBag.Title = "DPT-3 :: Forms";
}

<div id="DivUploadforms">
    <script>
        $(document).ready(function () {

            var breadCrumbData = [
                {
                    displayText: "Forms",
                    navigateUrl: "#",
                }, {
                    displayText: "DPT-3",
                    navigateUrl: "/BM_Management/Forms/DPT3",
                }
            ];
            $('.breadcrumbs')[0].innerHTML = "";
            setBreadCrumb(breadCrumbData);

            $("#divDPT3").kendoTooltip({ content: "Sample Excel for DPT-3", width: 180 });
        });

        function downloadDPT3Sample() {
            window.location.href = "@Url.Action("DownloadSampleExcelDPT_3", "Forms")";
        }
        function btnCancelUpload() {
            window.location.href = "@Url.Action("DPT3", "Forms")";
        }

        function onBegin() {
            window.kendo.ui.progress($("#DivUploadforms"), true);
        }
        function onComplete() {
            window.kendo.ui.progress($("#DivUploadforms"), false);
        }
        function ddlEntityIdChanged() {
            var entityID = $("#EntityId").val();
            if (entityID == null || entityID == undefined) {
                entityID = 0;
            }
            if (entityID > 0) {
                var dataSource = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: "/api/ConfigurationMasterAPI/GetFYListByEntityID?EntityID=" + entityID,
                        }
                    }
                });
                var ddl = $('#FYId').data("kendoDropDownList");
                ddl.setDataSource(dataSource);
                ddl.refresh();
            }
        }
        function btnGenerateDPT3() {
            var entityId = $("#hdnEntityId").val();
            window.open("DownloadDPT3?entityId=" + entityId, '_blank');
        }
    </script>

    <div class="row colpadding0">
        <div class="col-md-12 colpadding0">
            <div style="background-color:white;">
                @using (Ajax.BeginForm("UploadExcel", "Forms", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivUploadforms", InsertionMode = InsertionMode.ReplaceWith, OnBegin = "onBegin", OnComplete = "onComplete" }, new { id = "frmUpdateUploadEntity", enctype = "multipart/form-data" }))
                {
                    <div class="row">
                        @if (Model.Error)
                        {
                            <div class="col-md-12">
                                <div class="alert alert-danger alert-dismissible">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    @if (!(string.IsNullOrEmpty(@Model.Message)))
                                    {
                                        <lable>@Model.Message</lable>
                                    }
                                </div>
                            </div>
                        }
                    </div>

                    <div class="row colpadding0 mt30">
                        <div class="col-md-12 colpadding0">
                            <div class="col-md-2 pull-right mt30" id="divDPT3">
                                <img src="/Images/Excel _icon.png" class="theexcelexport cursur" onclick="downloadDPT3Sample()">
                            </div>
                            <input type="hidden" id="hdnEntityId" />
                            <input type="hidden" id="FYId" value="0" />
                        </div>
                    </div>

                    <div class="row colpadding0 mt30">
                        <div class="col-md-6 colpadding0">
                            <div class="col-md-3">
                                <label class="control-label">Company</label><span style="color:red">*</span>
                            </div>
                            <div class="col-md-8">
                                @(Html.Kendo().DropDownListFor( m => m.EntityId)
                              .DataTextField("EntityName")
                              .DataValueField("Id")
                              //.Events(e => e.Change("ddlEntityIdChanged"))
                              .OptionLabel("Select Entity")
                              .DataSource(source =>
                              {
                                  source.Read(read =>
                                  {
                                      read.Url("/api/EntityMasterAPI/GetDropDownforEntity").Type(HttpVerbs.Get);
                                  })
                                  .ServerFiltering(false);
                              }).HtmlAttributes(new { style = "width: 90%", @Id = "EntityId", autocomplete = "off" }))
                            </div>
                        </div>

                        <div class="col-md-5 colpadding0">
                            <div class="col-md-3">
                                <label class="control-label">Select Form</label><span style="color:red">*</span>
                            </div>

                            <div class="col-md-8">
                                <input type="file" name="File" id="File" style="color:#767676;"/>
                            </div>
                        </div>

                        @*<div class="col-md-4 hidden">
                            <div class="col-md-3">
                                <span style="color:red">*</span><lable class="control-label">Financial Year</lable>
                            </div>
                            <div class="col-md-7 colpadding0">
                                @(Html.Kendo().DropDownListFor(model => model.FYId).OptionLabel("Select FY").ValuePrimitive(true).DataValueField("FYID").DataTextField("FYText").HtmlAttributes(new { style = "width: 95%;" }))
                            </div>
                        </div>*@
                    </div>

                    if (Model.CanGenerateEform)
                    {
                        if (TempData["DPT3EFormVMData"] != null)
                        {
                            TempData.Keep("DPT3EFormVMData");

                            <div class="row col-md-12 colpadding0 text-center mt30">
                                <button type="button" class="btn btn-primary" onclick="btnGenerateDPT3()">Generate Form</button>
                                <button type="button" class="btn btn-primary" onclick="btnCancelUpload()">Cancel</button>
                            </div>
                        }

                        <script>
                            $(document).ready(function () {
                                $("#hdnEntityId").val('@Model.EntityId');
                            });
                        </script>
                    }
                    else
                    {
                        <div class="row col-md-12 colpadding0 text-center mt30">
                            <button type="submit" class="btn btn-primary">Upload</button>
                        </div>
                    }

                    <div class="row mt30">
                        <div class="row col-md-12 colpadding0 text-center mt30">
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>