﻿@model com.VirtuosoITech.ComplianceManagement.Portal.AppCode.Models.SectionMappingModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "AvacomComplianceMapping";
}

@Styles.Render("~/NewCss/css")
<link href="~/NewCSS/bootstrap-chosen.css" rel="stylesheet" />
<link href="~/NewCSS/margin-padding.css" rel="stylesheet" />
@Scripts.Render("~/bundles/jquery")
<script src="/Newjs/chosenselect.jquery.js"></script>
@Scripts.Render("~/bundles/jqueryval")

<style>
    .NopaddingBody {
        /*padding-left:20px;*/
    }

    .span {
        /*border:solid 1px;*/
        font-size: 11px;
        color: red;
        padding-left: 5px;
    }

    .tablestyle {
        font-size: 12px;
        background-color: White;
        border-color: #DEDFDE;
        margin-left:10px;
        margin-right:10px;
    }

    .tableheader {
        background-color: #5c9ccc;
        height: 20px;
    }
</style>
<div class="wrapper">
    <div class="container-fluid NopaddingBody">
        @using (Html.BeginForm())
        {
            if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
            {
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">×</button>

                    @Html.ValidationSummary()
                </div>
            }

            if (Model.Message == true)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
                            <strong></strong> Details saved successfully.
                        </div>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="form-group">
                            @Html.RadioButton("funBased", false, false, new { @id = "funBased" })  <label class="control-label">Function Based</label>
                            @Html.RadioButton("CheckList", false, false, new { @id = "CheckList" }) <label class="control-label">CheckList</label>

                        </div>
                    </div>


                    <div class="col-md-5 form-group">
                        <div class="plr10">
                            <label class="control-label">RLCS Acts</label>

                            @Html.DropDownListFor(m => Model.ActMappingModelList.AM_ActID, new SelectList(Model.ActMappingModelList.RLCS_Act_MappingList, "AM_ActID", "AM_ActName"), new { @id = "RLCS_ACT_ID", @class = "form-control chosen-select input-sm", @placeholder = "--Select Category--" })
                            @Html.HiddenFor(m => m.HiddenAct_ID)
                        </div>
                        </div>
                   
                    <div class="col-md-5 form-group">
                        <div class="plr10">
                            <label class="control-label">RLCS Sections</label>

                            <select id="@Html.IdFor(m=>m.SM_SectionID)" name="SM_SectionID" class="form-control chosen-select input-sm"></select>


                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3 form-group">
                        
                            <label class="control-label col-md-4">Section Name:</label>
                        <div class="plr10">
                            <span id="DSectionName"></span>

                        </div>
                    </div>
                            
                    <div class="col-md-3 form-group">
                                    <label class="control-label col-md-4">Record Name:</label>
                                    <div class="plr10">
                                        <span id="DRecordName" class="col-md-2"></span>

                                    </div>
                                </div>
                           
                            <div class="col-md-3 form-group">
                               
                                    <label class="control-label col-md-4">Frequency:</label>
                                    <div class="plr10">
                                        <span id="DFrequency" class=""></span>
                                    </div>
                            </div>
                    <div class="col-md-3 form-group">
                       
                            <label class="control-label col-md-1">Risk:</label>
                            <span id="DRisk" class=""></span>
                        </div>
                    </div>
                            <br />
                        </div>


            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Type</label>
                            
                                @Html.DropDownListFor(m => Model.ComplianceTypes.Types.ID, new SelectList(Model.ComplianceTypes.ComplianceTypeList, "ID", "Name"), new { @id = "ComplianceTypes_Types_ID", @class = "form-control chosen-select input-sm", @placeholder = "--Select Category--" })
                           
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Compliance Category</label>
                            
                                @Html.DropDownListFor(m => Model.category.ID, new SelectList(Model.category.CategoriesList, "ID", "Name"), new { @class = "form-control chosen-select input-sm", @id = "category_ID" })
                           
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                          
                                <label class="control-label">Frequency</label>
                               
                                    @Html.DropDownListFor(m => m.FrequencyId, new SelectList(ViewBag.Lst, "ID", "Name"), new { @class = "form-control chosen-select input-sm", @id = "frequency_ID" })
                                
                            </div>
                        </div>
                    </div>
                </div>
           
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table id="tblCompliance" class="table tablestyle table-striped table-bordered">
                                <thead class="tableheader">
                                    <tr>
                                        <th>#</th>
                                        <th class="">Act Name</th>
                                        <th class="">Description</th>
                                        <th class="">Section</th>
                                        <th class="">Upload</th>
                                        <th class="">Risk</th>
                                        <th class="">Frequency</th>
                                        <th>Status</th>

                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <button type="submit" id="btnsave" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </div>



        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        
        var optionhtml1 = '<option value="' +
                0 + '">' + "All" + '</option>';
        var optionhtml2 = '<option value="' +
              0 + '">' + "Select Frequency" + '</option>';
        $("#category_ID").prepend(optionhtml1);
        $("select#category_ID").prop('selectedIndex', 0);
        $('#ComplianceTypes_Types_ID').prepend(optionhtml1);
        $("select#ComplianceTypes_Types_ID").prop('selectedIndex', 0);
        $("#RLCS_ACT_ID").prepend(optionhtml1);
        $("select#RLCS_ACT_ID").prop('selectedIndex', 0);
        $("#frequency_ID").prepend(optionhtml2);
        $("select#frequency_ID").prop('selectedIndex', 0);
        LoadTbl();
        $('#tblCompliance tbody').on('click', 'td', function () {

            var selValue = $('input[name=ID]:checked').val();
            $('#HiddenAct_ID').val(selValue);
            // note - call draw() to update the table's draw state with the new data
        });

        $('#funBased').on("change", function () {
            $('#CheckList').removeAttr('checked');
            $('input[name="CheckList"]').prop('checked', false);
            var val = '0';
            LoadTbl(val);
        });

        $('#CheckList').change(function () {
            $('input[name="funBased"]').prop('checked', false);
            $('#funBased').removeAttr('checked');
            var val = '1';
            LoadTbl(val);
        });

       
        $(".chosen-select").chosen({

        });

       
        var dset = [];
        $('#RLCS_ACT_ID').on('change',function () {
           
            //$("#SM_SectionID_chosen").removeClass('chosen-select');
            $.ajax({
                url: "/Main/GetAllSections",
                data: {},
                type: "GET",
                content: 'application/json;charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    debugger;
                    dset = data;
                    $('#SM_SectionID').empty().trigger('chosen:updated');
                    var optionhtml1 = '<option value="' +
                   0 + '">' + "All" + '</option>';
                    $("#SM_SectionID").prepend(optionhtml1);
                    $.each(dset, function (data, value) {
                        $("#SM_SectionID").append($("<option></option>").val(value.SM_SectionID).html(value.SM_SectionName));

                    });
                    $('#SM_SectionID').trigger('chosen:updated');
                   $("#SM_SectionID").chosen();
                },
                error: function () {
                    alert(" An error occurred.");
                },
            });

            //   LoadTbl();
        });
        $('#SM_SectionID').change(function () {
            $("#DSectionName").text('');
            $("#DRecordName").text('');
            $("#DFrequency").text('');
            $("#DRisk").text('');
            var Section = $('#SM_SectionID option:selected').val();
            $.each(dset, function (data, value) {

                if (value.SM_SectionID == Section) {
                    $("#DSectionName").append($("<option></option>").val(value.SM_SectionName).html(value.SM_SectionName));
                    $("#DRecordName").append($("<option></option>").val(value.SM_RecordName).html(value.SM_RecordName));
                    $("#DFrequency").append($("<option></option>").val(value.SM_Frequency).html(value.SM_Frequency));
                    $("#DRisk").append($("<option></option>").val(value.SM_SectionName).html(value.SM_Risk));
                }

            });
        });
        $('#ComplianceTypes_Types_ID').change(function () {
            var val = null;
            LoadTbl(val);
        });
        $('#category_ID').change(function () {
            var val = null;
            LoadTbl(val);
        });
        $('#frequency_ID').change(function () {
            var val = null;
            LoadTbl(val);
        });
      
    });



    function LoadTbl(val) {
        var compliancetype = $('#ComplianceTypes_Types_ID option:selected').val();
        var categorytype = $('#category_ID option:selected').val();
        var RLCS_ACT_ID = $('#RLCS_ACT_ID option:selected').val();
        var frequency = $('#frequency_ID option:selected').val();


        if ($.fn.DataTable.isDataTable('#tblCompliance')) {
            $('#tblCompliance').dataTable().fnDestroy();
            $('#tblCompliance').dataTable().empty();

        }
        actsMaptable = $('#tblCompliance').DataTable({

            serverSide: true,
            destroy: true,
            processing: true,
            ajax:
            {
                url: "/Main/LoadData",
                type: "POST",
                dataType: "JSON",
                data: { compliancetype, categorytype, RLCS_ACT_ID, frequency, val }
                //dataSrc: ""

            },
            // deferRender: true,

            columns: [
               {
                   "render": function (data, type, full, meta) {

                       return '<input type="radio" name="ID" style="text-align:center" value=' + full.ID + ' /><input type=hidden id=' + full.ID + '">';
                       //
                   },
                   //"className": "dt-center", "targets": "_all"
               },
                { 'data': 'ActName' },
                { 'data': 'Description' },
                { 'data': 'Sections', "className": "text-center",},
                 { 'data': 'UploadName', 'name': 'UploadName', "className": "text-center" },
                { 'data': 'Risk', 'name': 'Risk', "className": "text-center" },
                { 'data': 'FrquencyName', 'name': 'FrquencyName', "className": "text-center" },
                { 'data': 'Status', 'name': 'Status', "className": "text-center" }
            ]

        });

        $("#tblCompliance_length").css("float", "left");
        $("#tblCompliance_length").css("padding-left", "28px");
       
        //$("#tblCompliance_length").parent().removeClass("col-sm-6");//.addClass("col-md-2");
       $("#tblCompliance_filter").children().css("width", "1000px");
        //$("#tblCompliance_filter").parent().removeClass("col-sm-6").addClass("col-md-2");
    
    }

</script>



