﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMNotes


<style>
    html {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>

<title></title>


<style>
    @@media screen and (max-width: 600px) {

        #gridKendoNotes > table {
        }
    }

    .k-window div.k-window-content {
        overflow: hidden;
    }

    .field-validation-error {
        color: #ff0000;
    }

    .k-current-page {
        display: none;
    }

    html .k-upload-empty {
        border-width: 1px;
    }

    .k-edit-form-container {
        position: relative;
        width: 95%;
        margin-left: 3%;
    }

    .k-grid-edit {
        height: 32px;
        width: 33px;
        padding: 6px 0px 10px 0;
        /*white-space: nowrap;*/
        overflow: hidden;
        /*border-radius: 20px;*/
    }

    .k-grid-delete {
        height: 32px;
        width: 33px;
        padding: 5px 0px 10px 0;
        overflow: hidden;
    }

    .fieldlist {
        margin: 0 0 -2em;
        padding: 0;
    }

        .fieldlist li {
            list-style: none;
            padding-bottom: 2em;
        }

        .fieldlist label {
            display: block;
            padding-bottom: 1em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            color: #444;
        }

    .mt30 {
        margin-top: 18px;
    }

    .k-grid-add {
        float: right;
    }

    .k-edit-buttons {
        /*//width: 1280px;*/
        text-align: center;
    }

    label {
        color: black;
    }

    .ml-mr {
        margin-left: 2%;
    }

    fieldset {
        display: block;
        margin-inline-start: 2px;
        margin-inline-end: 2px;
        padding-block-start: 0.35em;
        padding-inline-start: 0.75em;
        padding-inline-end: 0.75em;
        padding-block-end: 0.625em;
        min-inline-size: min-content;
        border-width: 1px;
        border-style: groove;
        border-color: rgba(128, 128, 128, 0.56);
        border-radius: 11px;
        /*border-color: threedface;
        border-image: initial;*/
    }

    .forTooltips {
        width: 100%;
        height: 100%;
        padding: .929em 1.286em;
    }

    td.overridePadding {
        padding: 0;
    }
</style>

<script>
    function onRowBound(e)
    {
          $(".k-grid-edit").find("span").addClass("k-icon k-edit");
        $(".k-grid-Download").find("span").append("<img id='theImgnotes' style='width:31px' src='/Images/icons8-share-25.png'/>");
    }
</script>

<div class="row">
   
        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                <button type="button"  class="k-grid-add k-button k-button-icontext"  onclick="AddNotes(@Model.MeetingId,@Model.AgendaId)"><span class="k-icon k-add k-i-plus-outline"></span>Add</button>
            </div>
        </div>

        <div class="row colpadding0" style="margin-top:1%">
        <div class="col-md-12 colpadding0">
        @Html.AntiForgeryToken()

        @(Html.Kendo().Grid<BM_ManegmentServices.VM.VMNotes>
            ()
            .Name("gridKendoNotes")

            .Columns(columns =>
            {
                columns.Bound(o => o.Id).Visible(false);
                columns.Bound(o => o.MeetingId).Visible(false);
                columns.Bound(o => o.AgendaId).Visible(false);
                columns.Bound(o => o.Title).Title("Notes Title").HtmlAttributes(new { @style = "width:70%" });
                columns.Command(command =>
                {
                    command.Custom("Edit").Click("EditNotes").HtmlAttributes(new { @class = "k-grid-edit" });
                    //command.Custom("Download").Click("shareNotes").HtmlAttributes(new { @class = "downloadImg" });
                })
                .Title("Action").HtmlAttributes(new { @style = "width:20%" });
            })
            //.Events(x => x.Save("SaveChanges"))
            .EnableCustomBinding(true)


            .Events(e => e.DataBound("onRowBound"))
          
            .Navigatable()
         
            .DataSource(dataSource => dataSource
            .Ajax()
         
            .ServerOperation(false)
            .Events(events =>
            {
                //events.Error("error_handler");
                //events.RequestEnd("request_end");
            })

            .Model(model =>
            {
                model.Id(o => o.Id);
                model.Field(o => o.type);
                model.Field(o => o.NotesDetails);
              
                model.Field(o => o.Title);
            })
            .Read(read => read.Action("GetNotes","Notes", new { MeetingId = Model.MeetingId, AgendaId = Model.AgendaId }).Type(HttpVerbs.Get))

            ))
            </div></div>
    </div>

@(Html.Kendo().Tooltip()
        .For("#gridKendoNotes")
        .Filter(".k-grid-edit")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Edit")
        .Width(120)
)

@(Html.Kendo().Tooltip()
        .For("#gridKendoNotes")
        .Filter(".downloadImg")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Share")
        .Width(100)
)

<script>

    function HideGridFields(e) {

        if (e.model.isNew()) {
            
            $('.k-grid-update').text("Save");
            $('.k-grid-cancel').text("Close");

        }
        else {
            $('.k-grid-update').text("Update");
            $('.k-grid-cancel').text("Close");
            $('.k-grid-update').focus().trigger('click');

        }
    }

    function SaveChanges() {

        var grid = $("#gridKendoNotes").data("kendoGrid");

        grid.bind("dataBinding", function (e) {
            e.preventDefault();
        })
    }

   

    function error_handler(e) {
        
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            $(".errorMessage").text(message);
            alert(message);
        }
    }

    function request_end(e) {
        
        //switch (e.type) {
        //    case "create":
        if (e.type == "create") {
            if (e.response == "Save successfully") {
                $("#Divsuccess").show();
                $("#Diverror").hide();
                $('#lblsuccess').text(e.response);
            }
            else {
                $("#Diverror").show();
                $("#Divsuccess").hide();
                $('#lblerrormsg').text(e.response);
            }
        }
        else if (e.type == "update") {
            //case "update":
            if (e.response == "Update Successfully") {
                $("#Divsuccess").show();
                $("#Diverror").hide();
                $('#lblsuccess').text(e.response);
            }
            else {
                $("#Diverror").show();
                $("#Divsuccess").hide();
                $('#lblerrormsg').text(e.response);
            }
        }
            //case "destroygrid":
        else if (e.type == "destroy") {
            if (e.response == "Deleted Successfully") {
                $("#Divsuccessgrid").show();
                $("#Diverrorgrid").hide();
                $('#lblsuccessgrid').text(e.response);
            }
            else {
                $("#Diverrorgrid").show();
                $("#Divsuccessgrid").hide();
                $('#lblerrormsggrid').text(e.response);
            }
        }

        //}

        return true;
    }


</script>
