﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Compliance.Master" AutoEventWireup="true" CodeBehind="ActAssignmentPage.aspx.cs" Inherits="com.VirtuosoITech.ComplianceManagement.Portal.Compliances.ActAssignmentPage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="BodyContent" runat="server">
      <iframe  src="/ActAssignment/Index"  width="1300" frameborder="0"  height="1300" scrolling="no"></iframe>
</asp:Content>
