﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Compliance.Master" AutoEventWireup="true" CodeBehind="TabMaster.aspx.cs" Inherits="com.VirtuosoITech.ComplianceManagement.Portal.Compliances.TabMaster" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="BodyContent" runat="server">
     <iframe   id="idIframe"  frameborder="0"  src="/tabmaster/Index" width="1350"   height="700" scrolling="no"></iframe>

</asp:Content>
