﻿<%@ Page Title="My Inputs :: " Language="C#" MasterPageFile="~/HRPlusCompliance.Master" AutoEventWireup="true" CodeBehind="RLCS_MyInputs.aspx.cs" Inherits="com.VirtuosoITech.ComplianceManagement.Portal.RLCS.RLCS_MyInputs" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <script type="text/javascript">
        $(document).ready(function () {
            //var ComplianceId = '<% =this.ComplianceID%>';
            var ComplianceType = '<% =this.ComplianceType%>';
            //var ReturnRegisterChallanID = '<% =this.ReturnRegisterChallanID%>';
            var MonthId = '<% =this.MonthId%>';
            var Year = '<% =this.Year%>';
            //var InputID = '<% =this.InputID%>';
            //var BranchID = '<% =this.BranchID%>';
            var JSONID = '<% =this.JSONID%>';
            var ClientID = '<% =this.ClientId%>'
            debugger;
            fhead('My Workspace/ Inputs');
            if (JSONID !='') {
                // $('#iFrameDialog').attr('src', "https://kimai.avantisregtec.in/diytest/public/customhomepage?ID" = +ID);

                //$('#iFrameDialog').attr('src', "https://kimai.avantisregtec.in/diytest/public/customhomepage?CustomerID=<% =custID_Encrypted%>&UserID=<% =userID_Encrypted%>&ComplianceID=" + ComplianceId + " &ComplianceType=" + ComplianceType + " &ReturnRegisterChallanID=" + ReturnRegisterChallanID + " &MonthId=" + MonthId + " &Year=" + Year + "&InputID=" + InputID + "&BranchID=" + BranchID + "&JSONID=" + JSONID);
                $('#iFrameDialog').attr('src', "https://kimai.avantisregtec.in/diytest/public/customhomepage?CustomerID=<% =custID_Encrypted%>&UserID=<% =userID_Encrypted%>&ComplianceType=" + ComplianceType + "&MonthId=" + MonthId + " &Year=" + Year + "&JSONID=" + JSONID+ "&ClientID=" + ClientID);
            }
            else {
                $('#iFrameDialog').attr('src', "https://kimai.avantisregtec.in/diytest/public/monthly?CustomerID=<% =custID_Encrypted%>&UserID=<% =userID_Encrypted%>");

            }
		$('#iFrameDialog').load(function () {
  		   $('#datacal').hide();
		     
 		});
        });
       $('#datacal').hide();
       $('#iFrameDialog').ready(function () {
          $('#datacal').show();
	});

    </script>
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <asp:HiddenField ID="hdnComplianceID" runat="server" Value="0" />
    <asp:HiddenField ID="hdnComplianceType" runat="server" Value="" />
    <asp:HiddenField ID="hdnReturnRegisterChallanID" runat="server" Value="" />
<div id="datacal" style="position: fixed;left: 50%;top: 40%;">
<img src="../images/processing.gif" id="imgcaldate" style="position: absolute;" />

</div>
    <div id="divDialog" title="" style="display: block; height: 475px; max-height: 475px">
        <iframe id="iFrameDialog" src="about:blank" width="100%" height="100%" style="border: none;"></iframe>
    </div>
</asp:Content>
