﻿#example .demo-containers {
    position:relative;
}
 
.RadEditor  {
    margin:0 auto;
}
 
/* Demo description section */
.reUser {
    border-radius:5px;
    padding:0 5px;
    font-weight:bold;
}
 
    .reUser.reU0 {
        background-color: #FF9933;
    }
 
    .reUser.reU1 {
        background-color: #FF0101;
    }
 
    .reUser.reU2 {
        background-color: #F37E0C;
    }
 
    .reUser.reU3 {
        background-color: #04B4B6;
    }
 
    .reUser.reU4 {
        background-color: #C85100;
    }
 
    .reUser.reU5 {
        background-color: #008380;
    }
 
    .reUser.reU6 {
        background-color: #800000;
    }
 
    .reUser.reU7 {
        background-color: #A4A000;
    }
 
    .reUser.reU8 {
        background-color: #808080;
    }
 
    .reUser.reU9 {
        background-color: #38FD11;
    }
