﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="VerifyOtpAuth.aspx.cs" Inherits="com.VirtuosoITech.ComplianceManagement.Portal.VerifyOtpAuth" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
            <asp:Label runat="server" ID="lblmsg"></asp:Label>
        <div>
         
        </div>
    </form>
</body>
</html>
