﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.ReportVM

<div class="row colpadding0">
    <div class="col-md-12 colpadding0">

        <div id="DivUploadEntity">
            @using (Ajax.BeginForm("UploadReport", "ReportPolices", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivUploadEntity" }, new { id = "frmUpdateUploadEntity", enctype = "multipart/form-data" }))
            {

                if (Model.Response != null)
                {
                    <div class="row">
                        <div class="col-md-2 colpadding0">
                        </div>
                        <div class="col-md-8 colpadding0">
                            @Html.Partial("_Response", Model.Response)
                        </div>
                        <div class="col-md-2 colpadding0">
                        </div>
                    </div>

                }

                <div class="row colpadding0">
                    <div class="col-md-12 colpadding0 mt30">
                        <div class="row colpadding0">
                            <div class="col-md-12 colpadding0 mt30">
                                <div class="col-md-2">
                                    <label>Entity</label><span style="color:red">*</span>
                                </div>
                                <div class="col-md-8">
                                    @(Html.Kendo().DropDownListFor(m=>m.EntityId)
                                .DataTextField("EntityName")
                                .DataValueField("Id")

                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Url("/api/EntityMasterAPI/GetDropDownforEntity").Type(HttpVerbs.Get);
                                    })
                                    .ServerFiltering(true);
                                })
                                //.Events(e => e.Change("entity_Change"))
                                .HtmlAttributes(new { style = "width: 100%",@Id="ddlEntityID" })
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="row colpadding0">
                            <div class="col-md-12 colpadding0 mt30">
                                <div class="col-md-2">
                                    <label>Upload Record</label><span style="color:red">*</span>
                                </div>
                                <div class="col-md-8">
                                    <input type="file" name="File" id="File" />
                                </div>
                            </div>
                        </div>
                        <div class="row colpadding0">
                            <div class="col-md-12 colpadding0 mt30">
                                <div class="col-md-2">
                                    <label>Record Name</label><span style="color:red">*</span>
                                </div>
                                <div class="col-md-8">
                                    @(Html.Kendo().TextBoxFor(m => m.ReportName).HtmlAttributes(new { @style="width:100%"}))
                                </div>
                                </div>
                            </div>
                                <div class="col-md-2 colpadding0" style="padding-top: 1em; text-align: right">

                                    <button type="submit" class="btn btn-primary button1 uploadbtn" style="width:90%">Upload</button>

                                </div>
                            </div>
                        </div>
                        }
                    </div>
    </div>
</div>

