﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="LegalUpdateAdmin.aspx.cs" MasterPageFile="~/Compliance.Master" 
     Inherits="com.VirtuosoITech.ComplianceManagement.Portal.Common.LegalUpdateAdmin"  EnableEventValidation="false" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
 </asp:Content> 
<asp:Content ID="Content2" ContentPlaceHolderID="BodyContent" runat="server">
</asp:Content> 