﻿<%@ Page Title="RLCS" Language="C#" MasterPageFile="~/HRPlusCompliance.Master" AutoEventWireup="true" CodeBehind="RLCSRedirect.aspx.cs" Inherits="com.VirtuosoITech.ComplianceManagement.Portal.RLCS.TLPages.RLCSRedirect" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <script type="text/javascript">
        $(document).ready(function () {
            $(".tempcls").attr('style', 'height: 0px');

        });
    </script>
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">


    <div id="divDialog" title="" style="display: block; height: 78%;position:fixed;margin-left: -10px;width: 85%;margin-top: 0px;">
        <iframe id="RLCSIFrame" runat="server" width="100%" height="100%" style="border: none;" ></iframe>
    </div>
</asp:Content>


