﻿@using Kendo.Mvc.UI;
@model dynamic
<!-- Script for Kendo Grid-->
<script type="text/javascript">

    function error_handlerT(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function() {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

    function toolTipContent_gridNew(e) {
        return e.target.context.innerText;
    }

    function GetDueString(dataItem) {
        
        var result = "";
        if ($.trim(dataItem.BeforeAfter) == "A") {
            result += "After";
        } else {
            result += "Before";
        }

        result += " " + dataItem.Numbers + " ";
        if ($.trim(dataItem.DaysOrHours) == "D") {
            if (dataItem.Numbers > 1) {
                result += "Days.";
            } else {
                result += "Day.";
            }

        } else {
            if (dataItem.Numbers > 1) {
                result += "Hours.";
            } else {
                result += "Hour.";
            }

        }

        return result;
    }

    function onRowBoundComplianceMapping(e) {
        resetRowNumber();
        GetICons();

        $("#gridMeetingCompliance tr.k-alt").removeClass("k-alt");

        var grid = $("#gridMeetingCompliance").data("kendoGrid");
        var gridData = grid.dataSource.data();

        for (var i = 0; i < gridData.length; i++) {
            var currentUid = gridData[i].uid;
            var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");

            if (gridData[i].HasFormMapped != true) {
                $(currenRow).find(".k-grid-documents").addClass("k-state-disabled hidden");
            }
        }
    }

</script>

<!--popup schedule details-->
<script>

    function showMeetingAgendaFormsList(e) {
        e.preventDefault();
        
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        showMeetingFormsList(dataItem.MeetingID, dataItem.MeetingAgendaMappingID, dataItem.ComplianceID);
    }

    function showScheduleDetailsForAgenda(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        //var direction = "@Url.Action("ScheduleDetails","Meeting_Compliances")" + "?id=" + dataItem.ScheduleOnID + " &entityID=" + dataItem.Entity_ID;
        var direction = "@Url.Action("ScheduleDetails","MyCompliances")" + "?id=" + dataItem.ScheduleOnID + " &entityID=" + dataItem.Entity_ID;

        $("#wndScheduleDetails").attr("style", "min-height:100px;");

            var wnd = $("#wndScheduleDetails").data("kendoWindow");
            var opts = wnd.options;

            wnd = $("#wndScheduleDetails").kendoWindow({
                actions: ["Close"],
                content: direction,
                visible: false,
                modal: true,
                refresh: function () { this.center(); },
                open: function () { onOpenWindow("wndScheduleDetails") },
                close: function (e) {
                    $(this.element).empty();
                    $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                    GetICons();
                }
            }).data("kendoWindow");

            opts.width = "85%";
            wnd.setOptions(opts);
            wnd.center();
            wnd.open();

            $('#wndScheduleDetails').parent().find('.k-window-titlebar,.k-window-actions').css('backgroundColor', '#f7f7f7');
    }
</script>

<div>

    @(Html.Kendo().Tooltip()
        .For("#gridMeetingCompliance")
        .Filter(".k-grid-documents")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Generate Document/Form")
        .Width(150)
    )

</div>

<div style="max-height:500px;">
    @(Html.Kendo().Grid<BM_ManegmentServices.VM.MeetingComplianceScheduleDetails_ResultVM>()
                    .Name("gridMeetingCompliance")
                    .Columns(columns =>
                    {
                        //columns.Bound(p => p.AgendaItemHeading).HeaderTemplate("Compliance").ClientGroupHeaderTemplate("#= value == '' ? 'Meeting' : 'Agenda : '+ value  #").ClientTemplate("##").Hidden();
                        columns.Template(t => { }).Title("Sr No").ClientTemplate("#= renderNumber() #").Width("3%");
                        columns.Bound(p => p.ShortDescription).HeaderTemplate("Compliance").ClientTemplate("#=data.ShortDescription #").Width("50%");
                        columns.Bound(p => p.ScheduleOn).ClientTemplate("#: ScheduleOn == null ? '' : kendo.toString(ScheduleOn, \"dd/MM/yyyy\")# #= data.ScheduleOnTime == null ? '' : data.ScheduleOnTime == '12:00 AM' ? '' : data.ScheduleOnTime #").HeaderTemplate("Due Date").Sortable(false).Width("12%");
                        columns.Bound(p => p.Status).HeaderTemplate("Status").Sortable(false).Width("15%");
                        columns.Bound(p => p.ClosedDate).ClientTemplate("#= ClosedDate == null ? '' : kendo.toString(ClosedDate, \"dd/MM/yyyy\")# #= data.ClosedDateTime == null ? '' : data.ClosedDateTime == '12:00 AM' ? '' : data.ClosedDateTime #").HeaderTemplate("Closed Date").Sortable(false).Width("12%");
                        columns.Command(command =>
                        {
                            command.Custom("F").Click("showMeetingAgendaFormsList").HtmlAttributes(new { @class = "k-grid-documents" });
                        })
                       .Title("").Width("5%");
                        columns.Command(command =>
                        {
                            command.Custom("Edit").Click("showScheduleDetailsForAgenda").HtmlAttributes(new { @class = "k-grid-edit" });
                        })
                       .Title("Action").Width("5%");
                    })
                    //.Editable(editable => editable.Mode(GridEditMode.InCell))
                    .HtmlAttributes(new { style = "height:470px;" })
                    .Events(e => e.DataBound("onRowBoundComplianceMapping"))
                    .Navigatable()
                    //.Scrollable()
                    .DataSource(dataSource => dataSource
                    .Ajax()
                    .Batch(true)
                    .ServerOperation(false)
                    .Events(events => events.Error("error_handlerT")
                    //.RequestEnd("Request_EndT")
                    )
                    .Model(model =>
                    {
                        model.Id(p => p.ScheduleOnID);
                        model.Field(p => p.MeetingID).Editable(false);
                        model.Field(p => p.MeetingAgendaMappingID).Editable(false);
                        model.Field(p => p.ComplianceID).Editable(false);
                        model.Field(p => p.ShortDescription).Editable(false);
                        model.Field(p => p.Role).Editable(false);
                        model.Field(p => p.Entity_ID).Editable(false);
                        model.Field(p => p.HasFormMapped).Editable(false);

                    })
                    //.Group(groups => groups.Add(p => p.AgendaItemHeading))
                    .Read(read => read.Action("Compliances_Read", "Meeting_Compliances", new { meetingId = Model.MeetingID, meetingAgendaMappingId = Model.MeetingAgendaMappingId }))
                ))


</div>