﻿<%@ Page Title="Pending Testing Report" Language="C#" MasterPageFile="~/AuditTool.Master" AutoEventWireup="true" CodeBehind="PendingTestingReport.aspx.cs" Inherits="com.VirtuosoITech.ComplianceManagement.Portal.RiskManagement.AuditTool.PendingTestingReport" %>
<%@ Register Assembly="DropDownListChosen" Namespace="Saplin.Controls"  TagPrefix="asp" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">

    <script type="text/javascript">
        $(document).ready(function () {
            setactivemenu('leftreportsmenu');
            fhead('My Reports / Pending Testing Report');
        });
    </script>

    <style type="text/css">
        #progressbar .ui-progressbar-value {
            background-color: #ccc;
        }
    </style>

    <style type="text/css">
        .td1 {
            width: 25%;
        }

        .td2 {
            width: 25%;
        }

        .td3 {
            width: 25%;
        }

        .td4 {
            width: 25%;
        }

        .chosen-container-single .chosen-single {
            background: none !important;
            border: 1px solid #c7c7cc !important;
            height: 32px !important;
            padding: 3px 0px 0px 14px !important;
            font-family: 'Roboto', sans-serif !important;
        }
    </style>
      <style type="text/css">
        .dd_chk_select {
            
            height: 81px;
            height: 3px !important;
            /*text-align: center;*/
            border-radius: 4px !important;
            padding: 6px 12px !important;
            font-size: 14px !important;
            line-height: 1.428571429;
            color: #8e8e93 !important;
            background-color: #fff !important;
            border: 1px solid #c7c7cc!important;        
            -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            font-family:Roboto sans-serif !important;
            margin-bottom: 0px !important;
        }
         .chosen-results {  max-height: 75px !important
         }
        .chosen-container-single .chosen-single{background:none !important;border:1px solid #c7c7cc   !important;height: 32px  !important;padding: 3px 0px 0px 14px !important; font-family:'Roboto', sans-serif !important; }
    </style> 
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:UpdateProgress ID="updateProgress" runat="server">
        <ProgressTemplate>
            <div style="position: fixed; text-align: center; height: 100%; width: 100%; top: 0; right: 0; left: 0; z-index: 9999999; background-color: #000000; opacity: 0.7;">
                <asp:Image ID="imgUpdateProgress" runat="server" ImageUrl="~/Images/processing.gif"
                    AlternateText="Processing..." ToolTip="Processing ..." Style="padding: 10px; position: fixed; top: 45%; left: 50%;" />
            </div>
        </ProgressTemplate>
    </asp:UpdateProgress>

    <asp:UpdatePanel ID="upComplianceTypeList" runat="server" UpdateMode="Conditional"
        OnLoad="upComplianceTypeList_Load">
        <ContentTemplate>
            <div class="row Dashboard-white-widget">
                <div class="dashboard">
                    <div class="col-lg-12 col-md-12 ">
                        <section class="panel">   
                            <header class="panel-heading tab-bg-primary ">
                                <ul id="rblRole1" class="nav nav-tabs">
                                    <%if (roles.Contains(3))%>
                                    <%{%>
                                        <li class="" id="liPerformer" runat="server">
                                            <asp:LinkButton ID="lnkPerformer"  PostBackUrl="../../RiskManagement/AuditTool/TestingStatusReport.aspx"  runat="server">Testing Status</asp:LinkButton>                                           
                                        </li>
                                        <li class="active" id="li1" runat="server">
                                            <asp:LinkButton ID="LinkButton1" PostBackUrl="../../RiskManagement/AuditTool/PendingTestingReport.aspx"     runat="server">Pending Testing</asp:LinkButton>                                           
                                        </li>
                                    <%}%>
                                    <%if (roles.Contains(4))%>
                                    <%{%>
                                        <li class="active"  id="liReviewer" runat="server">
                                            <asp:LinkButton ID="lnkReviewer" PostBackUrl="../../RiskManagement/AuditTool/ReviewerCommentReport.aspx" runat="server">Reviewer Comments</asp:LinkButton>                                        
                                        </li>
                                       <%-- <li class=""  id="li2" runat="server">
                                            <asp:LinkButton ID="LinkButton2" PostBackUrl="../../RiskManagement/AuditTool/FailedControlReportReviewer" runat="server">Failed Control</asp:LinkButton>                                        
                                        </li>--%>
                                    <%}%>
                                </ul>
                            </header>  

                            <div class="clearfix"></div> 
                                                           
                            <div style="float:right;">                  
                            <asp:Button  ID="lbtnExportExcel" runat="server" Text="Export to Excel" CssClass="btn btn-search" OnClick="lbtnExportExcel_Click" style="margin-top: 5px;  width: 126px;"/>                   
                            </div> 
                                     <div class="clearfix"></div>                                                               
                            <div style="margin-bottom: 4px"/> 
                             <div class="col-md-12 colpadding0">
                                <div class="col-md-3 colpadding0 entrycount" style="margin-top: 5px;">
                                    <div class="col-md-3 colpadding0">
                                        <p style="color: #999; margin-top: 5px;">Show </p>
                                    </div>
                                    <asp:DropDownList runat="server" ID="ddlPageSize" class="form-control m-bot15" Style="width: 70px; float: left"
                                        AutoPostBack="true" OnSelectedIndexChanged="ddlPageSize_SelectedIndexChanged" >                        
                                        <asp:ListItem Text="5" Selected="True" />
                                        <asp:ListItem Text="10" />
                                        <asp:ListItem Text="20" />
                                        <asp:ListItem Text="50" />
                                    </asp:DropDownList>
                                </div>                                  
                                <div class="col-md-3 colpadding0" style="margin-top: 5px;">
                                    <asp:DropDownListChosen runat="server" ID="ddlLegalEntity"  class="form-control m-bot15"  Width="80%" Height="32px"
                                    AutoPostBack="true" Style="background:none;"  OnSelectedIndexChanged="ddlLegalEntity_SelectedIndexChanged"  DataPlaceHolder="Unit">
                                    </asp:DropDownListChosen>
                                </div>
                                <div class="col-md-3 colpadding0" style="margin-top: 5px;">
                                    <asp:DropDownListChosen runat="server" ID="ddlSubEntity1" class="form-control m-bot15"  Width="80%" Height="32px"
                                    AutoPostBack="true"   DataPlaceHolder="Sub Unit" OnSelectedIndexChanged="ddlSubEntity1_SelectedIndexChanged">
                                    </asp:DropDownListChosen>
                                </div>
                                <div class="col-md-3 colpadding0" style="margin-top: 5px;">
                                    <asp:DropDownListChosen runat="server" ID="ddlSubEntity2"  class="form-control m-bot15" Width="80%" Height="32px"
                                    AutoPostBack="true"   DataPlaceHolder="Sub Unit" OnSelectedIndexChanged="ddlSubEntity2_SelectedIndexChanged">
                                    </asp:DropDownListChosen>
                                </div>                                
                              </div>                            
                            <div class="clearfix"></div>
                             <div class="col-md-12 colpadding0">
                                 <div class="col-md-3 colpadding0" style="margin-top: 5px;">
                                    <asp:DropDownListChosen runat="server" ID="ddlSubEntity3" class="form-control m-bot15" Width="80%" Height="32px"
                                    AutoPostBack="true"   DataPlaceHolder="Sub Unit" OnSelectedIndexChanged="ddlSubEntity3_SelectedIndexChanged">
                                    </asp:DropDownListChosen>
                                </div>
                                 <div class="col-md-3 colpadding0" style="margin-top:5px;">
                                    <asp:DropDownListChosen runat="server" ID="ddlSubEntity4" AutoPostBack="true" OnSelectedIndexChanged="ddlFilterLocation_SelectedIndexChanged" class="form-control m-bot15" Width="80%" Height="32px"
                                    DataPlaceHolder="Sub Unit">
                                    </asp:DropDownListChosen>                                  
                                </div>   
                                 <div class="col-md-3 colpadding0" style="margin-top: 5px;">                                
                                    <asp:DropDownListChosen runat="server" ID="ddlQuarter" AutoPostBack="true" class="form-control m-bot15" Width="80%" DataPlaceHolder="Select Period"
                                    OnSelectedIndexChanged="ddlQuarter_SelectedIndexChanged">
                                    <asp:ListItem Value="-1">Select Period</asp:ListItem>
                                    <asp:ListItem Value="1">Apr - Jun</asp:ListItem>
                                    <asp:ListItem Value="2">Jul - Sep</asp:ListItem>
                                    <asp:ListItem Value="3">Oct - Dec</asp:ListItem>
                                    <asp:ListItem Value="4">Jan - Mar</asp:ListItem>
                                    </asp:DropDownListChosen>
                                    <asp:CompareValidator ErrorMessage="Select Quarter" ControlToValidate="ddlQuarter"
                                    runat="server" ValueToCompare="-1" Operator="NotEqual" ValidationGroup="ComplianceInstanceValidationGroup"
                                    Display="None" />
                                </div> 
                                 <div class="col-md-3 colpadding0" style="margin-top: 5px;">                              
                                    <asp:DropDownListChosen runat="server" ID="ddlFilterFinancial" AutoPostBack="true" class="form-control m-bot15" Width="80%" DataPlaceHolder="Financial year"
                                    OnSelectedIndexChanged="ddlFilterFinancial_SelectedIndexChanged">
                                    </asp:DropDownListChosen>
                                    <asp:CompareValidator ErrorMessage="Select Financial Year" ControlToValidate="ddlFilterFinancial"
                                    runat="server" ValueToCompare="-1" Operator="NotEqual" ValidationGroup="ComplianceInstanceValidationGroup"
                                    Display="None" />
                                    <asp:ValidationSummary runat="server" CssClass="vdsummary"
                                    ValidationGroup="ComplianceInstanceValidationGroup" />
                                    <asp:CustomValidator ID="cvDuplicateEntry" runat="server" EnableClientScript="False"
                                    ValidationGroup="ComplianceInstanceValidationGroup" Display="None" />
                                    <asp:Label runat="server" ID="lblErrorMassage" ForeColor="Red"></asp:Label>                        
                                </div> 
                            </div>
                                                                                                                    
                            <div class="clearfix"></div>  
                            <div class="clearfix"></div>  
   
                            <div style="margin-bottom: 4px">
                            <asp:GridView runat="server" ID="grdComplianceTransactions" AutoGenerateColumns="false" PageSize="5" AllowPaging="true" AutoPostBack="true"
                            CssClass="table" GridLines="None" Width="100%" AllowSorting="true"
                            DataKeyNames="ScheduledOnID" OnPageIndexChanging="grdComplianceTransactions_PageIndexChanging">
                                <Columns>
                                    <asp:TemplateField ItemStyle-HorizontalAlign="Left" HeaderText="Sr">
                                        <ItemTemplate>
                                            <%#Container.DataItemIndex+1 %>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="Task ID" Visible="false">
                                        <ItemTemplate>
                                            <asp:Label ID="lblRiskCategoryCreationId" runat="server" Text='<%# Eval("RiskCreationId") %>'></asp:Label>
                                            <asp:Label ID="Label2" runat="server" Text='<%# Eval("Branch")%>'></asp:Label>                                        
                                            <asp:Label ID="Label3" runat="server" Text='<%# Eval("FinancialYear")%>'></asp:Label>   
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="ControlNo">
                                        <ItemTemplate>
                                            <div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 125px;">
                                                <asp:Label ID="lblControlNo" runat="server" data-toggle="tooltip" data-placement="bottom" Text='<%# Eval("ControlNo")%>' tooltip='<%# Eval("ControlNo")%>'></asp:Label>
                                            </div>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="Process">
                                        <ItemTemplate>
                                            <div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100px;">
                                                <asp:Label ID="lblProcess" runat="server" Text='<%# Eval("Process") %>' data-toggle="tooltip" data-placement="bottom" ToolTip='<%# Eval("Process") %>'></asp:Label>
                                            </div>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="SubProcess">
                                        <ItemTemplate>
                                            <div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100px;">
                                                <asp:Label ID="lblSubProcess" runat="server" Text='<%# Eval("SubProcess") %>' data-toggle="tooltip" data-placement="bottom" ToolTip='<%# Eval("SubProcess") %>'></asp:Label>
                                            </div>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="Risk Description">
                                        <ItemTemplate>
                                            <div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100px;">
                                                <asp:Label ID="lblActivityDescription" runat="server" data-toggle="tooltip" data-placement="bottom" Text='<%# Eval("ActivityDescription") %>' ToolTip='<%# Eval("ActivityDescription") %>'></asp:Label>
                                            </div>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="Control Description">
                                        <ItemTemplate>
                                            <div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 150px;">
                                                <asp:Label ID="lblControlDescription" runat="server" data-toggle="tooltip" data-placement="bottom" Text='<%# Eval("ControlDescription")%>' ToolTip='<%# Eval("ControlDescription")%>'></asp:Label>
                                            </div>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="Test Strategy">
                                        <ItemTemplate>
                                            <div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 150px;">
                                                <asp:Label ID="lblTestStrategy" runat="server" data-toggle="tooltip" data-placement="bottom" Text='<%# Eval("TestStrategy")%>' ToolTip='<%# Eval("TestStrategy")%>'></asp:Label>
                                            </div>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="Documents Examined" Visible="false">
                                        <ItemTemplate>
                                            <div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 150px;">
                                                <asp:Label ID="lblDocumentsExamined" runat="server" data-toggle="tooltip" data-placement="bottom" Text='<%# Eval("DocumentsExamined")%>' ToolTip='<%# Eval("DocumentsExamined")%>'></asp:Label>
                                            </div>
                                        </ItemTemplate>
                                    </asp:TemplateField>                                         
                                    <asp:TemplateField HeaderText="Reviewer" Visible="false">
                                        <ItemTemplate>
                                            <div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 70px;">
                                                <asp:Label ID="lblReviewer" data-toggle="tooltip" data-placement="bottom"  runat="server" Text='<%# Eval("ReviewerName")%>' ToolTip='<%# Eval("ReviewerName")%>'></asp:Label>
                                            </div>
                                        </ItemTemplate>                                       
                                    </asp:TemplateField>
                                </Columns>
                                <RowStyle CssClass="clsROWgrid" />
                                <HeaderStyle CssClass="clsheadergrid" />
                                  <PagerSettings Visible="false" />      
                                <PagerTemplate>
                              <%--  <table style="display: none">
                                    <tr>
                                        <td>
                                            <asp:PlaceHolder ID="ph" runat="server"></asp:PlaceHolder>
                                        </td>
                                    </tr>
                                </table>--%>
                            </PagerTemplate>
                                <EmptyDataTemplate>
                                    No Record Found.
                                </EmptyDataTemplate>
                            </asp:GridView>
                                 <div style="float: right;">
                  <asp:DropDownListChosen runat="server" ID="DropDownListPageNo" AutoPostBack="true"
                      class="form-control m-bot15"  Width="120%" Height="30px"  OnSelectedIndexChanged="DropDownListPageNo_SelectedIndexChanged">                                   
                  </asp:DropDownListChosen>  
                </div>
                            </div>
                            <div class="col-md-12 colpadding0">
                                <div class="col-md-5 colpadding0">
                                    <div class="table-Selecteddownload">
                                        <div class="table-Selecteddownload-text">
                                            <p><asp:Label runat="server" ID="lblTotalSelected" Text="" style="color: #999; margin-right: 10px;"></asp:Label></p>
                                        </div>                                   
                                    </div>
                                </div>
                                <div class="col-md-6 colpadding0" style="float:right;">
                                    <div class="table-paging" style="margin-bottom: 10px;">
                                        <%--<asp:ImageButton ID="lBPrevious" CssClass="table-paging-left" runat="server" ImageUrl="~/img/paging-left-active.png" OnClick ="lBPrevious_Click"/>--%>                                  
                                        <div class="table-paging-text" style="float:right;">
                                            <p>Page
                                        <%--    <asp:Label ID="SelectedPageNo" runat="server" Text=""></asp:Label>/
                                            <asp:Label ID="lTotalCount" runat="server" Text=""></asp:Label>--%>
                                            </p>
                                        </div>
                                        <%--<asp:ImageButton ID="lBNext" CssClass="table-paging-right" runat="server" ImageUrl="~/img/paging-right-active.png" OnClick ="lBNext_Click" />--%>                                   
                                        <asp:HiddenField ID="TotalRows" runat="server" Value="0" />
                                    </div>
                                </div>
                            </div>
                       </section>
                    </div>
                </div>
            </div>
        </ContentTemplate>
        <Triggers>
            <asp:PostBackTrigger ControlID="lbtnExportExcel" />
        </Triggers>
    </asp:UpdatePanel>
</asp:Content>
