﻿
@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.EULA.EULA_DetailsVM

<div id="divEULADetails">
    @using (Ajax.BeginForm("SaveEULA_Details", "EULA", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divEULADetails", OnBegin = "onOpenEULADetails", OnComplete = "onRefreshEULADetails" }, new { id = "frmEULADetails", enctype = "multipart/form-data" }))
    {
        if (Model.Success)
        {
            <div class="row colpadding0">
                <div class="col-md-12 colpadding0" id="DivsuccessI">
                    <div class="alert alert-success alert-dismissible">
                        <button class="close" type="button" onclick="hideAlert();">×</button>
                        <lable id="lblsuccessI">@Html.Raw(Model.Message)</lable>
                    </div>
                </div>
            </div>
        }
        else if (Model.Error)
        {
            <div class="row colpadding0">
                <div class="col-md-12 colpadding0" id="DiverrorI">
                    <div class="alert alert-danger alert-dismissible">
                        <button class="close" type="button" onclick="hideAlert();">×</button>
                        <lable id="lblerrormsgI">@Html.Raw(Model.Message)</lable>
                    </div>
                </div>
            </div>
        }

        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.EULA_ID)
        @Html.HiddenFor(model => model.CustomerName)
        @Html.HiddenFor(model => model.UserName)
        @Html.HiddenFor(model => model.AcceptedOn)
        @Html.HiddenFor(model => model.UploadedOn)
        @Html.HiddenFor(model => model.EmailID)

        if (Model.UserMode != "1")
        {
            if (Model.StatusId == 0 || Model.StatusId == 3)
            {
                <div class="row colpadding0">
                    <div class="col-md-12 colpadding0">
                        @*<a role="button" href='~/Areas/Document/EULA.docx' target="_blank" class="pull-right">*@
                        <a role="button" href='~/Areas/Document/EULA.pdf' target="_blank" class="pull-right">
                             <img id="imgSampleEULA"  class="hoverCircle" src="~/Areas/BM_Management/img/end-user-licence-agreement.svg" />
                        </a>
                    </div>
                </div>

                @(Html.Kendo().Tooltip()
                        .For("#imgSampleEULA")
                        .Position(TooltipPosition.Bottom)
                        .AutoHide(true)
                        .Content("Download EULA")
                )
            }
        }

        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                <div class="col-md-3">
                    <lable class="control-label">Customer</lable>
                </div>
                <div class="col-md-7 colpadding0">
                    <strong>@Model.CustomerName</strong>
                </div>
            </div>
        </div>

        <div class="row mt30 colpadding0">
            <div class="col-md-12 colpadding0">
                <div class="col-md-3">
                    <lable class="control-label">User</lable>
                </div>
                <div class="col-md-7 colpadding0">
                    <strong>@Model.UserName</strong>
                </div>
            </div>
        </div>

        <div class="row mt30 colpadding0">
            <div class="col-md-12 colpadding0">
                <div class="col-md-3">
                    <lable class="control-label">Email</lable>
                </div>
                <div class="col-md-7 colpadding0">
                    <strong>@Model.EmailID</strong>
                </div>
            </div>
        </div>

        <div class="row mt30 colpadding0">
            <div class="col-md-12 colpadding0">
                <div class="col-md-3">
                    <lable class="control-label">Accepted On</lable>
                </div>
                <div class="col-md-7 colpadding0">
                    @if (Model.AcceptedOn.HasValue)
                    {
                        <strong>@Convert.ToDateTime(Model.AcceptedOn).ToString("dd-MMM-yyyy hh:mm tt")</strong>
                    }
                </div>
            </div>
        </div>

        <div class="row mt30 colpadding0">
            <div class="col-md-12 colpadding0">
                <div class="col-md-3">
                    <lable class="control-label">Uploaded On</lable>
                </div>
                <div class="col-md-7 colpadding0">
                    @if (Model.UploadedOn.HasValue)
                    {
                        <strong>@Convert.ToDateTime(Model.UploadedOn).ToString("dd-MMM-yyyy hh:mm tt")</strong>
                    }
                </div>
            </div>
        </div>

        <div class="row mt30 colpadding0">
            <div class="col-md-12 colpadding0">
                <div class="col-md-3">
                    <lable class="control-label">Status</lable>
                </div>
                <div class="col-md-7 colpadding0">
                    @switch (Model.StatusId)
                    {
                        case null:
                            <strong>EULA Pending</strong>
                            break;
                        case 0:
                            <strong>Document Upload Pending</strong>
                            break;
                        case 1:
                            <strong>Pending for Review</strong>
                            break;
                        case 2:
                            <strong>Approved</strong>
                            break;
                        case 3:
                            <strong>Rejected</strong>
                            break;
                        default:
                            break;
                    }
                    @if (Model.StatusId == 1 || Model.StatusId == 2 || Model.StatusId == 3)
                    {
                        <span>&nbsp;&nbsp;</span>
                        <a id="lnkDownloadEULA" href='@Url.Action("DownloadEULA", "EULA",new { id = Model.EULA_ID} )' target="_blank">
                            <img src='@Url.Content("~/Areas/BM_Management/img/Download.png")' />
                        </a>

                        @(Html.Kendo().Tooltip()
                        .For("#lnkDownloadEULA")
                        .Position(TooltipPosition.Bottom)
                        .AutoHide(true)
                        .Content("Download EULA")
                        )
                    }
                </div>
            </div>
        </div>

        if (Model.UserMode == "1")
        {
            <div class="text-center mt30">
                @if (Model.StatusId == 1 || Model.StatusId == 3)
                {
                    <button type="Submit" id="command_name" name="command_name" value="Approve" class="btn btn-primary">Approve</button>
                    <button type="Submit" id="command_name1" name="command_name" value="Reject" class="btn btn-primary">Reject</button>
                    @Html.HiddenFor(model => model.UserMode)
                    @Html.HiddenFor(model => model.StatusId)
                }
            </div>
        }
        else
        {
            if (Model.StatusId == 0 || Model.StatusId == 3)
            {
                <div class="row colpadding0">
                    <div class="col-md-12 colpadding0">
                        <div class="demo-section k-content">
                            @(Html.Kendo().Upload().Name("files").Multiple(false).HtmlAttributes(new { aria_label = "files", @Id = "files" }))
                        </div>
                    </div>
                </div>

                <div class="text-center mt30">
                    @*<a role="button" href='~/Areas/Document/EULA/EULA.docx' target="_blank" class="btn btn-primary">Download</a>*@
                    <button type="Submit" id="command_name" name="command_name" value="Upload" class="btn btn-primary">Save</button>
                </div>
            }
            @Html.HiddenFor(model => model.StatusId)
        }
    }
</div>