﻿@using Kendo.Mvc.UI;
@Html.AntiForgeryToken()
@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@{
    ViewBag.Title = "End User License Agreement";
}

<style>
    .k-grid table {
        table-layout: fixed;
    }
</style>

<script>
    $(document).ready(function () {
        var breadCrumbData = [
            {
                displayText: "End User License Agreement",
                navigateUrl: "#",
            }
        ];

        setBreadCrumb(breadCrumbData);
    });

    function onRowBoundEULADetails(e) {
        GetICons();
        var grid = $("#gridELUADetails").data("kendoGrid");
        var gridData = grid.dataSource.view();
        for (var i = 0; i < gridData.length; i++) {
            var currentUid = gridData[i].uid;
            var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");

            if (gridData[i].StatusId == 10) {
                $(currenRow).find(".k-grid-edit").addClass("hidden");
                //$(currenRow).find(".k-grid-edit").addClass("k-state-disabled");
            }

            if (gridData[i].StatusId == 1 || gridData[i].StatusId == 2 || gridData[i].StatusId == 3) {
                //$(currenRow).find(".k-grid-edit").addClass("k-state-disabled");
            }
            else {
                //$(currenRow).find(".k-grid-document").addClass("k-state-disabled");
                $(currenRow).find(".k-grid-document").addClass("hidden");
            }
        }

        RemoveAlternateRowColor('gridELUADetails');
    }

    function onOpenEULADetails(e) {
        var wnd = $("#wndEULADetails").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
    }
    function onRefreshEULADetails() {
        var wnd = $("#wndEULADetails").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function viewEULADetails(e) {
        e.preventDefault();
        debugger;
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        if (dataItem.StatusId != 10) {
            $("#wndEULADetails").kendoWindow({
                title: "EULA - Details",
                modal: true
            });

            var direction = "@Url.Action("EditEULA_Details", "EULA")" + "?id=" + dataItem.EULA_ID +"&type=1";

            $("#wndEULADetails").attr("style", "min-height:250px;");

            var wnd = $("#wndEULADetails").data("kendoWindow");
            var opts = wnd.options;

            wnd = $("#wndEULADetails").kendoWindow({
                actions: ["Close"],
                content: direction,
                width: "40%",
                visible: false,
                modal: true,
                refresh: function () { this.center(); },
                open: function () { kendo.ui.progress(wnd.element, true); },
                close: function (e) {
                    $(this.element).empty();
                    $('#gridELUADetails').data('kendoGrid').dataSource.read();
                    $('#gridELUADetails').data('kendoGrid').refresh();
                }
            }).data("kendoWindow");

            opts.width = "40%";
            wnd.setOptions(opts);
            wnd.center();
            wnd.open();
        }
    }

    function viewEULADetailsDoc(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        if (dataItem.StatusId == 1 || dataItem.StatusId == 2 || dataItem.StatusId == 3){
            var direction = "@Url.Content("~/Areas_Secretarial/Doc_Viewer.aspx")" + "?EULADocUrl=" + dataItem.EULA_ID;

            var titleFile = dataItem.FileName;
            $("#wndDocumentsViewer").kendoWindow({
                title: titleFile
            });

            $("#wndDocumentsViewer").attr("style", "min-height:500px;");

            var wnd = $("#wndDocumentsViewer").data("kendoWindow");
            var opts = wnd.options;

            wnd = $("#wndDocumentsViewer").kendoWindow({
                actions: ["Close"],
                content: direction,
                visible: false,
                modal: true,
                iFrame :true,
                refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
                open: function () { kendo.ui.progress(this.element, true); },
                close: function (e) {
                    $(this.element).empty();
                    $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                }
            }).data("kendoWindow");

            opts.width = "95%";
            wnd.setOptions(opts);
            wnd.center();
            wnd.open();
        }
    }
</script>

<!-- Filter Script-->
<script>
    function filterChange() {
        var filter = { logic: 'or', filters: [] };

        var t = $('#filter');
        if (t.val() != "") {
            filter.filters.push({ logic: "or", field: "CustomerName", operator: "contains", value: t.val() });
            filter.filters.push({ logic: "or", field: "UserName", operator: "contains", value: t.val() });
            filter.filters.push({ logic: "or", field: "MembershipNumber", operator: "contains", value: t.val() });
        }

        var ddlStatusFilter = $("#ddlStatusFilter").data("kendoDropDownList");
        var m = ddlStatusFilter.value();
        if (m != "") {
            filter.filters.push({ logic: "and", field: "StatusId", operator: "eq", value: parseInt(m) });
        }

        grid = $("#gridELUADetails").data("kendoGrid");
        grid.dataSource.filter(filter);
    }

    $('#filter').on('input', function (e) {
        filterChange();
    });
</script>

<script>
    function btnExportToExcel_Click() {
        var color = "#b5bbbb";
        var _fontSize = 12;
        var _borderBottom = { color: "#ff0000", size: 1 };
        var _borderRight = { color: "#ff0000", size: 1 };

        var rows = [
            // The first row (header).
            {
                cells: [
                    // The first cell.
                    { value: "End User Licence Agreement Details", hAlign: "center", colSpan: 6, fontSize: 14 },
                ]
            }];

        rows.push({
            cells: [
                // The first cell.
                { value: "Customer", width: 100, background: color, fontSize: _fontSize },
                { value: "User", background: color, fontSize: _fontSize },
                { value: "Membership No", background: color, fontSize: _fontSize },
                { value: "Accepted On", background: color, fontSize: _fontSize },
                { value: "Uploaded On", background: color, fontSize: _fontSize },
                { value: "Status", background: color, fontSize: _fontSize }
            ]
        });


        var grid = $('#gridELUADetails').data().kendoGrid;
        var gridData = grid.dataSource.data();

        debugger;

        for (var i = 0; i < gridData.length; i++) {
            var acceptedOn = gridData[i].AcceptedOn;
            var uploadedOn = gridData[i].UploadedOn;
            var acceptedOnStr = '', uploadedOnStr = '';
            if (acceptedOn != null) {
                acceptedOnStr = moment(acceptedOn).format('DD-MMM-YYYY, h:mm a');
            }
            if (uploadedOn != null) {
                uploadedOnStr = moment(uploadedOn).format('DD-MMM-YYYY, h:mm a');
            }

            rows.push({
                cells: [
                    { value: gridData[i].CustomerName, hAlign: "left" },
                    { value: gridData[i].UserName, hAlign: "left" },
                    { value: gridData[i].MembershipNumber, hAlign: "left" },
                    { value: acceptedOnStr, hAlign: "left" },
                    { value: uploadedOnStr, hAlign: "left" },
                    { value: gridData[i].Status, hAlign: "left" }
                ]
            });
        }

        var workbook = new kendo.ooxml.Workbook({
            sheets: [
                {
                    // The column settings (width).
                    columns: [
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true }
                    ],
                    // Th title of the sheet.
                    title: "EULA Details",
                    rows: rows
                }
            ]
        });

        kendo.saveAs({
            dataURI: workbook.toDataURL(),
            fileName: "EULADetails.xlsx"
        });
    }
</script>

@(Html.Kendo().Window().Name("wndEULADetails").Title("EULA - Details").Visible(false).Modal(true).Draggable(true).Scrollable(true))
@(Html.Kendo().Window().Name("wndDocumentsViewer").Title("Viewer").Visible(false).Modal(true).Draggable(true).Pinned(true).Scrollable(true))
@(Html.Kendo().Tooltip().For("#gridELUADetails").Filter(".k-grid-edit").Position(TooltipPosition.Bottom).AutoHide(true).Content("Edit"))
@(Html.Kendo().Tooltip().For("#gridELUADetails").Filter(".k-grid-document").Position(TooltipPosition.Bottom).AutoHide(true).Content("View EULA"))

<div class="row Dashboard-white-widget">
    <div class="dashboard">
        <div class="row master-Headre">
            <div class="col-md-12 vertical-center">
                <div class="col-md-4 colpadding0">
                    <input id='filter' placeholder="Search by Customer/User/Membership No" class='k-textbox' style="width:95%" autocomplete="off" onchange="filterChange()" />
                </div>
                <div class="col-md-3 colpadding0">
                    @(Html.Kendo().DropDownList()
                        .Name("ddlStatusFilter")
                        .Events(e => e.Change("filterChange"))
                        .BindTo(new SelectList(new List<object> {
                                                    new {id="",text="Status-All"},
                                                    new {id="1",text="Pending for Review"},
                                                    new {id="2",text="Approved"},
                                                    new {id="3",text="Rejected"},
                                                    new {id="0",text="Document Upload Pending"},
                                                    new {id="10",text="EULA Pending"},
                        }, "id", "text")).HtmlAttributes(new { style = "width: 76%;" }))
                </div>
                <div class="col-md-2 colpadding0"></div>
                <div class="col-md-3 colpadding0">
                    <input type="button" class="btn btn-primary pull-right" onclick="btnExportToExcel_Click()" value="Export" />
                </div>
            </div>
        </div>

        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">
                @(Html.Kendo().Grid<BM_ManegmentServices.VM.EULA.EULA_DetailsVM>()
                .Name("gridELUADetails")
                .Columns(columns =>
                {
                    columns.Bound(o => o.CustomerName).Title("Customer").Width(100).Locked(true);
                    columns.Bound(o => o.UserName).Title("User").Width(100).Locked(true);
                    columns.Bound(o => o.MembershipNumber).Title("Membership No").Width(50).Locked(true);
                    columns.Bound(o => o.AcceptedOn).ClientTemplate("#= AcceptedOn == null ? '' : kendo.toString(AcceptedOn, \"dd-MMM-yyyy hh:mm tt\")#").Title("Accepted On").Width(100).Locked(false);
                    columns.Bound(o => o.UploadedOn).ClientTemplate("#= UploadedOn == null ? '' : kendo.toString(UploadedOn, \"dd-MMM-yyyy hh:mm tt\")#").Title("Uploaded On").Width(100).Locked(false);
                    columns.Bound(o => o.Status).Title("Status").Width(100).Locked(false);
                    columns.Bound(o => o.LastLoginTime).ClientTemplate("#= LastLoginTime == null ? '' : kendo.toString(LastLoginTime, \"dd-MMM-yyyy hh:mm tt\")#").Title("Last Login Time").Width(100).Locked(false);
                    columns.Bound(o => o.LastLoginBefore).Title("Last Login").Width(50).Locked(false);
                    columns.Command(command =>
                    {
                        command.Custom("Edit").Click("viewEULADetails").HtmlAttributes(new { @class = "k-grid-edit" });
                        command.Custom("Document").Click("viewEULADetailsDoc").HtmlAttributes(new { @class = "k-grid-document" });
                    }).Title("Action").Locked(true).Width(75).Locked(false);
                })
                .Events(e => e.DataBound("onRowBoundEULADetails"))
                .Navigatable()
                .Pageable(pageable => pageable
                .Refresh(true)
                .PageSizes(true)
                .ButtonCount(5))
                .Filterable()
                .Sortable()                
                .Reorderable(reorderable => reorderable.Columns(true))
                .Resizable(resizable => resizable.Columns(true))
                .ColumnMenu()
                .DataSource(dataSource => dataSource
                .WebApi()
                .PageSize(10)
                .ServerOperation(false)
                .Model(model =>
                {
                    model.Id(o => o.EULA_ID);
                    model.Field(o => o.StatusId);
                })
                .Read(read => read.Action("GetEULA_Details", "EULA")
                 )))
            </div>
        </div>
    </div>
</div>