<head><title>

    </title>
    <script src="/cdn-cgi/apps/head/wJ-d6Wf0vtDL3SAEw42RUStKs6k.js"></script><script src="/cdn-cgi/apps/body/9ez4O41ihtsBKiMc6IPNmeloV48.js"></script><style>
        /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
        .row.content {height: 600px;
                      /*margin:125px;*/
        }
        
        /* Set gray background color and 100% height */
        .sidenav {
          background-color:#F5F2F4;
          height: 1000px;
    
          
        }
         .MainContainer {
         
          border:groove;
          border-color:#f1f3f4;
          
        }
           .img1{
            border:ridge;
            border-color:lightgrey;
        }
       
       
        
        /* On small screens, set height to 'auto' for sidenav and grid */
        @media screen and (max-width: 767px) {
          .sidenav {
            *height: auto;
            *padding: 15px;
          
          }
          .row.content {height: auto;} 
        }
      </style>
    <style>
           
     .container {
      /*padding: 16px;*/
      background-color: white;
      margin:10px;
      /*margin-right:50px;
      margin-top:50px;*/
      height:1000px;
      width:1000px;
    
      
    }
     body {
      font-family: Arial, Helvetica, sans-serif;
      background-color:#1fd9e1;
    }
    
    * {
      box-sizing: border-box;
    }
    
        </style>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <style>
    
        .panel-group .panel {
            border-radius: 5px;
            border-color: #EEEEEE;
            padding:0;
        }
    
        .panel-default > .panel-heading {
            color:black;
            background-color: white;
            border-color: #EEEEEE;
        }
    
        .panel-title {
            font-size: 14px;
        }
    
        .panel-title > a {
            display: block;
            padding: 15px;
            text-decoration: none;
        }
    
        .short-full {
            float: right;
            color: black;
        }
    
        .panel-default > .panel-heading + .panel-collapse > .panel-body {
            border: solid 1px #EEEEEE;
            /*background-color: #B7FFB7;*/
            
        }
    
    </style>
    <script src="https://analytics.avantis.co.in/piwik.js"></script></head>
    <body>
    &nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div class="container">
    <div class="row content">
    <div class="col-sm-3 sidenav">
    <ul class="nav nav-pills nav-stacked">
    <li style="font-size:18px"><a href="litigation_help.html" style="color:#333"><b>Standard Dashboard</b></a>
    </li><li style="font-size:14px"><a href="litigation_dashboard.html" style="color:#333"><i class="fas fa-desktop"></i>&nbsp;&nbsp;&nbsp;<b>My Dashboard</b></a>
    <ul style="line-height:25px;font-size:13px">
    <li><a href="litigation_notice.html" style="color:#333">Notice</a></li>
    <li><a href="litigation_cases.html" style="color:#333">Cases</a></li>
    <li><a href="litigation_tasks.html" style="color:#333">Tasks</a></li>
    <li> <a href="litigation_hearing.html" style="color:#333">Upcoming Hearing</a></li>
    <li> <a href="litigation_graphs.html" style="color:#333">Graphs And Charts</a></li>
    <li> <a href="litigation_tasksummary.html" style="color:#333">Task Summary</a></li>
    
    </ul>
    </li>
    <li style="font-size:14px"><a href="litigation_workspace.html" style="color:#333;"><i class="fas fa-briefcase"></i>&nbsp;&nbsp;&nbsp;<b>My Workspace</b></a></li>
    <li style="font-size:14px"><a href="litigation_documents.html" style="color:#333"><i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>My Documents</b></a></li>
    <li style="font-size:14px"><a href="litigation_reports.html" style="color:#333"> <i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>My Reports</b> </a></li>
    <li style="font-size:14px"><a href="litigation_remainders.html" style="color:#333"><i class="far fa-clock"></i>&nbsp;&nbsp;&nbsp;<b>My Reminders</b></a></li>
    <li style="font-size:14px"><a href="litigation_masters.html" style="color:#333"> <i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Masters</b> </a></li>
    <li style="font-size:14px"><a href="litigation_import_utility.html" style="color:#333"> <i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Import Utility</b> </a></li>

    </ul>
    <br>
    </div>
    <div class="col-sm-9 MainContainer">

        <div class="panel panel-default"></div>
        <h3><b>Notice:</b></h3>
        <p style="font-size:16px;text-align:justify">To view the Notices under Litigation that have been either sent to opponent or gotten received can be viewed with the help of following steps,</p><br>
        <img class="img1" style="width:500px;margin-left:30px; height: 120px" src="../Litigation_images/MY DASHBOARD_Notice_1.png" /><br /><br><br>

        <h3 style="background-color:#F5F2F4 ">Open :</h3>
        <p style="font-size:16px;text-align:justify">1. Click on Open block.</p><br />

        <img class="img1" style="width:200px;margin-left:30px; height: 100px" src="../Litigation_images/MY DASHBOARD_Notice_2.png" /><br /><br><br>
        <p style="font-size:16px;text-align:justify">2. You will be redirected to a new page with details of all the open notices which are either received or have been sent to opponent relating to different cases. You can also filter out the required using filters on below window and for more specific result use Advanced search.</p><br />

        <img class="img1" style="width: 600px;margin-left:30px; height: 270px" src="../Litigation_images/MY DASHBOARD_Notice_3.png" /><br /><br><br>

        <p style="font-size:16px;text-align:justify">3. Sort and filter out notice with kendo grid column headers. </p><br />
        <img class="img1" style="width:600px;margin-left:30px; height: 240px" src="../Litigation_images/2.png" /><br /><br><br>


        <p style="font-size:16px;text-align:justify">4. Changes to each notice can be made regarding editing or deleting them by clicking on the button on the right-hand side under action column.</p><br />
        <img class="img1" style="width:600px;margin-left:30px; height: 240px" src="../Litigation_images/MY DASHBOARD_Notice_4.png" /><br /><br><br>

        <p style="font-size:16px;text-align:justify">5. You can add a new notice by clicking on the “New” button to obtain a popup window like below in which you can fill all the details relating to the notice, whether its an outward / inward one while selecting the act under which the notice is being created to keep a track of all it and click on the save button to see it in the list itself.</p><br /><br>
        <img class="img1" style="width:600px;margin-left:30px; height: 270px" src="../Litigation_images/MY DASHBOARD_Notice_6.png" /><br /><br><br>

        <p style="font-size:16px;text-align:justify">6. The complete list can also be downloaded by clicking on the excel sheet icon.</p><br /><br><br>

        <h3 style="background-color:#F5F2F4 ">Closed :</h3>
        <p style="font-size:16px;text-align:justify">To view the closed notices, you can either apply the closed notice filter in the open filter window or can go to the closed notices list through dashboard by clicking on the closed notices count number link as below, </p><br />
        <img class="img1" style="width:200px;margin-left:30px; height: 100px" src="../Litigation_images/MY DASHBOARD_Notice_8.png" /><br /><br><br>



        <br><br>


    </div>

    </div>
    </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script>
    
        function toggleIcon(e) {
            $(e.target)
                .prev('.panel-heading')
                .find(".short-full")
                .toggleClass('glyphicon-plus glyphicon-minus');
        }
        $('.panel-group').on('hidden.bs.collapse', toggleIcon);
        $('.panel-group').on('shown.bs.collapse', toggleIcon);
    </script>
    
    
    </body>