﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.CommittePageAuthorization

@{
    
    ViewBag.title = "Master / Committee";
}

<style>
    .k-grid td {
        border-width: 0;
    }

    .customer-photo {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .customer-name {
        line-height: 50px;
    }

    .k-window div.k-window-content {
        overflow: hidden;
    }

    .field-validation-error {
        color: #ff0000;
    }

    .k-current-page {
        display: none;
    }

    html .k-upload-empty {
        border-width: 1px;
    }

    .k-edit-form-container {
        position: relative;
        width: 500px;
    }

    .fieldlist {
        margin: 0 0 -2em;
        padding: 0;
    }

    .fieldlist li {
        list-style: none;
        padding-bottom: 2em;
    }

    .fieldlist label {
        display: block;
        padding-bottom: 1em;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        color: #444;
    }

    .k-grid-add {
        float: right;
    }

    .k-edit-buttons {
        /*//width: 1280px;*/
        text-align: center;
    }

    label {
        color: black;
    }

    .ml-mr {
        margin-left: 2%;
    }

    fieldset {
        display: block;
        margin-inline-start: 2px;
        margin-inline-end: 2px;
        padding-block-start: 0.35em;
        padding-inline-start: 0.75em;
        padding-inline-end: 0.75em;
        padding-block-end: 0.625em;
        min-inline-size: min-content;
        border-width: 1px;
        border-style: groove;
        border-color: rgba(128, 128, 128, 0.56);
        border-radius: 11px;
        /*border-color: threedface;
    border-image: initial;*/
    }

    .forTooltips {
        width: 100%;
        height: 100%;
        padding: .929em 1.286em;
    }

    td.overridePadding {
        padding: 0;
    }

    .k-edit-buttons {
        display: none;
    }

    .k-edit-buttons-new {
        clear: both;
        text-align: center;
        border-width: 1px 0 0;
        border-style: solid;
        position: relative;
        bottom: -1em;
        padding: .6em;
    }

    .k-window-actions {
        display: none;
    }
</style>

<script>
    $(document).ready(function () {
        var breadCrumbData = [
            {
                displayText: "Masters",
                navigateUrl: "#",
            }, {
                displayText: "Committee",
                navigateUrl: "#",
            }
        ];

        setBreadCrumb(breadCrumbData);

        $("#gridKendo .k-grid-content").css({
            "overflow-y": "scroll"
        });
    });

    $("#btnCreateNewDetailsOfInterest").click(function (e) {
        e.preventDefault();
        var grid = $("#gridKendo").data("kendoGrid");
        grid.addRow();
    });

    function btnCreateNewDetailsOfInterest_click() {
        //e.preventDefault();
        var grid = $("#gridKendo").data("kendoGrid");
        grid.addRow();
    }

    function onRowBound(e) {
        //$(".k-grid-edit").find("span").addClass("k-icon k-edit");
        //$(".k-grid-delete").find("span").addClass("k-icon k-delete");
        //$(".k-grid-add").find("span").addClass("k-i-plus-outline");

        GetICons();
    }
</script>

<div class="row Dashboard-white-widget">
    <div class="dashboard">
        <div class="row master-Headre">
            <div class="col-md-12 vertical-center">
                <div class="col-md-4 colpadding0">
                    @(Html.Kendo().DropDownList()
                      .Name("ddlEntityId")
                      .DataTextField("EntityName")
                      .DataValueField("Id")
                      .Events(e => e.Change("Entity_Change"))
                      .DataSource(source =>
                      {
                          source.Read(read =>
                          {
                              read.Url("/api/EntityMasterAPI/GetDropDownforEntity").Type(HttpVerbs.Get);
                          })
                          .ServerFiltering(false);
                      }).HtmlAttributes(new { style = "width: 90%", @Id = "ddlEntityId", autocomplete = "off" }))
                </div>

                <div class="col-md-4 colpadding0">
                    @(Html.Kendo().DropDownList()
                  .Name("ddlCommitteeId")
                  .DataTextField("Name")
                  .DataValueField("Id")
                  .Events(e => e.Change("Change"))
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Url("/api/CommitteeCompAPI/GetCommitteeCompForCommitteeDropDown").Type(HttpVerbs.Get);
                      })
                      .ServerFiltering(true);
                  }).Enable(false)
                    .AutoBind(false)
                    .CascadeFrom("ddlEntityId")
                   .HtmlAttributes(new { style = "width: 90%", @Id = "ddlCommitteeId", autocomplete = "off" }))
                </div>

                <div class="col-md-1">
                    <button type="button" class="btn btn-default btn-sm ClearFilterbtn" onclick="clearfilter()" id="clearFilter" style="display:none">
                        <img src="~/Areas/BM_Management/img/Vector.png" />Clear
                    </button>
                </div>

                @if (Model.CanAdd)
                {
                    <div class="col-md-3 colpadding0 text-right">
                        <button class="btn btn-primary" role="button" href="#" onclick="btnCreateNewDetailsOfInterest_click()" title="Add New"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</button>
                    </div>
                }
            </div>
        </div>

        <div class="row colpadding0 mt30">
            <div class="col-md-12" style="display:none" id="DivCommitteeValidation">
                <div class="alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <div id="lblcommitteeerrormsg"> <br /></div>
                </div>
            </div>
        </div>

        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                @Html.AntiForgeryToken()

                @(Html.Kendo().Grid<BM_ManegmentServices.VM.CommitteeMasterVM>()
                .Name("gridKendo")
                .Columns(columns =>
                {
                    columns.Bound(p => p.Id).Hidden(true).HeaderHtmlAttributes(new { @title = "Id" });
                    columns.Bound(p => p.Committee_Id).HeaderTemplate("Committee").ClientTemplate(" ").Hidden(true);
                    columns.Bound(c => c.Director_Id).Title("Name of Member/Chairperson")
                        .ClientTemplate(@"<div class='customer-photo'
                                         style='background-image: url(#= GetImage(data.Director_Id,data.ImagePath) #);'></div><div class='customer-name'>#:data.DirectorName#</div>")
                          .Width("30%");
                    columns.Bound(p => p.CommitteeName).HeaderTemplate("Committee").Width("30%");
                    columns.Bound(p => p.PositionId).Title("Position").ClientTemplate("#= data.Position#").Width("15%");
                    columns.Bound(o => o.AppointmentFrom).ClientTemplate("#= AppointmentFrom == null ? '' : kendo.toString(AppointmentFrom, \"dd-MMM-yyyy\")#").Title("Date of Appointment").Width("15%");
                    //columns.Bound(p => p.Committee_Type_Name).Title("Type").Filterable(ftb => ftb.Multi(true).Search(true));
                    columns.Command(command =>
                    {
                        if (Model.CanEdit)
                        {
                            command.Edit();
                        }
                        if (Model.CanDelete)
                        {
                            command.Destroy();
                        }
                    }).Title("Action");
                })
                //.ToolBar(toolbar => toolbar.Create())
                .Editable(editable =>
                {
                    editable.Mode(GridEditMode.PopUp).TemplateName("_AddEditCommitteeMasterNew").Window(w => w.Title("Add/Edit").Draggable(true).Resizable(x => x.MaxWidth(900)));
                    //editable.Mode(GridEditMode.PopUp).Window(w => w.Title("Add/Edit").Width(500).Draggable(true).Resizable(x => x.MaxWidth(900)));
                    editable.DisplayDeleteConfirmation("Are you sure you want to delete?");
                })
                .AutoBind(false)
                .Events(e => e.DataBound("onRowBound"))
                .Events(e => e.Edit("onEdit"))
                .Events(x => x.Save("onSave"))
                .Events(x => x.SaveChanges("SaveChanges"))
                .Navigatable()
                .Pageable(pageable => pageable
                .Refresh(false)
                .PageSizes(true)
                .ButtonCount(5))
                .Filterable()
                .Sortable()
                .Reorderable(reorderable => reorderable.Columns(true))
                .Resizable(resizable => resizable.Columns(true))
                .ColumnMenu()
                .DataSource(dataSource => dataSource
                .WebApi()
                .PageSize(10)
                      .Model(model =>
                      {
                          model.Id(o => o.Id);
                          model.Field(o => o.Entity_Id);
                          model.Field(o => o.Director_Id);
                          model.Field(o => o.UserId);
                      })
                      .ServerOperation(true)
                .Events(x => x.RequestEnd("Request_EndDetailsOfCommitteeNew"))
                //{
                //    aggregates.Add(p => p.CommitteeName).Count();
                //})
                //.Group(groups => groups.Add(c => c.CommitteeName))
                .Sort(sort => sort.Add("Committee_Id").Ascending())
                .Sort(sort => sort.Add("Designation").Ascending())
                    .Read(read => read.Url("/api/CommitteeMasterNewAPIController/GetCommitteeMembersNew").Data("additionalInfo").Type(HttpVerbs.Get))
                    .Update(update => update.Url("/api/CommitteeMasterNewAPIController/UpdateCommittee").Type(HttpVerbs.Put))
                    .Destroy(destroy => destroy.Url("/api/CommitteeMasterNewAPIController/DeleteCommitteeDtls").Type(HttpVerbs.Delete))
                    .Create(create => create.Url("/api/CommitteeMasterNewAPIController/AddCommitee").Type(HttpVerbs.Post))))
            </div>
        </div>
    </div>
</div>

<script>
    function GetSalutation(value) {
        if (value == "1") {
            return "Mr.";
        } else if (value == "2") {
            return "Mrs.";
        } else if (value == "3") {
            return "Ms.";
        } else {
            return "Error";
        }
    }

    function GetImage(did, file) {
        if (did == 0) {
            return "/Images/User-Profile-pic.png";
        }
        else {
            return "/Areas/BM_Management/Documents/Director/" + did + "/" + file;
        }
    }

    function GetDesignation(value) {
        if (value == "1") {
            return "Chairperson";
        } else if (value == "2") {
            return "Member";
        } else {
            return "";
        }
    }

    var onWindowEditClose1 = function (e) {

    };

    var preventCloseOnSave = false;
    function onEdit(e) {
        debugger;
        var editWindow = this.editable.element.data("kendoWindow");
        editWindow.unbind("close");
        editWindow.bind("close", onWindowEditClose);

        var Entity_Id = $("#Entity_Id").data("kendoDropDownList");
        var Committee_Id = $("#Committee_Id").data("kendoDropDownList");

        var ddlEntityId = $("#ddlEntityId").data("kendoDropDownList");
        var ddlCommitteeId = $("#ddlCommitteeId").data("kendoDropDownList");

        $("#AppointmentFrom").removeAttr("data-val-date");
        $("#AppointmentTo").removeAttr("data-val-date");

        if (e.model.isNew()) {
            Entity_Id.readonly(false);
            Committee_Id.readonly(false);

            Entity_Id.value(ddlEntityId.value());
            Committee_Id.value(ddlCommitteeId.value());

            e.model.Committee_Id = ddlCommitteeId.value();
            e.model.Entity_Id = ddlEntityId.value();
            $("#gridKendo .k-grid-content table tr:first").hide();
        }
        else {
            if (e.model.IsStandard == true) {
                $("#divUserMember").addClass("hidden");
                $("#divDirectorMember").removeClass("hidden");
                dataValidation($("#Director_Id"), "Please select member");
            }
            else{
                $("#divDirectorMember").addClass("hidden");
                $("#divUserMember").removeClass("hidden");
                removeDataValidationDropDown($("#Director_Id"));
                var Director_Id = $("#Director_Id").data("kendoDropDownList");
                Director_Id.value("0");
            }
            Entity_Id.readonly();
            Committee_Id.readonly();
        }
    };

    function ddlDirector_DataBound() {
        debugger;
        var Entity_Id = $("#Entity_Id");//.data("kendoDropDownList");
        var Director_Id = $("#Director_Id").data("kendoDropDownList");
        Director_Id.readonly(Entity_Id[0].readOnly);

        var UserId = $("#UserId").data("kendoDropDownList");
        UserId.readonly(Entity_Id[0].readOnly);
        //Director_Id.value("0");
    }

    function ddlUserId_DataBound() {
        debugger;
        var Entity_Id = $("#Entity_Id");//.data("kendoDropDownList");
        var Director_Id = $("#Director_Id").data("kendoDropDownList");
        Director_Id.readonly(Entity_Id[0].readOnly);
        //Director_Id.value("0");

        var UserId = $("#UserId").data("kendoDropDownList");
        UserId.readonly(Entity_Id[0].readOnly);
    }

    var onWindowEditClose = function (e) {
        //e.preventDefault();

        if (preventCloseOnSave) {
            e.preventDefault();
            preventCloseOnSave = false;
        }
    };

    $(".k-edit-buttons").addClass("hidden");

    $(".k-grid-cancel").on("mousedown", function (e) {
        preventCloseOnSave = false;
        forceclose();
    });

    function onSave(e) {
        preventCloseOnSave = true;
    }

    function HideGridFields(e) {

        if (e.model.isNew()) {
            $('.k-grid-update').text("Save");
            $('.k-grid-cancel').text("Close");
        }
        else {
            $('.k-grid-update').text("Update");
            $('.k-grid-cancel').text("Close");
            //$('.k-grid-update').focus().trigger('click');
        }
    }

    function ddlCommitteeIdChanged() {
        var ddlCommitteeId = $("#Committee_Id").data("kendoDropDownList");
        var index = ddlCommitteeId.selectedIndex;
        if (ddlCommitteeId.dataItem(index).Customer_Id > 0) {
            $("#divDirectorMember").addClass("hidden");
            $("#divUserMember").removeClass("hidden");
            removeDataValidationDropDown($("#Director_Id"));
            $("#Director_Id").data("kendoDropDownList").value("0");
        }
        else {
            $("#divUserMember").addClass("hidden");
            $("#divDirectorMember").removeClass("hidden");
            dataValidation($("#Director_Id"),"Please select member");
        }
    }

    function filterDirector() {
        return {
            ddlEntityId: $("#Entity_Id").val()
        };
    }

    function filterDirector_() {
        var DetailsOfCommitteeId = $("#DetailsOfCommiteePositionId").val();
        return {
            EntityId : $("#Entity_Id").val(),
            CommitteeId : $("#Committee_Id").val(),
            DetailsOfCommitteeId: DetailsOfCommitteeId,
            AddSelectOption: true
        };
    }

    function filterUserId_() {
        var DetailsOfCommitteeId = $("#DetailsOfCommiteePositionId").val();
        return {
            EntityId: $("#Entity_Id").val(),
            CommitteeId: $("#Committee_Id").val(),
            AddNew: DetailsOfCommitteeId == 0 ? true : false
        };
    }

    function filterProducts() {
        return {
            EntityId: $("#ddlEntityId").val()
        };
    }

    function getcountryId(){
        return {
            EntityId: $("#ddlEntityId").val()
        };
    }

    var additionalDataObject;
    function additionalInfo() {
        debugger;
        var dropdownlist = $("#ddlEntityId").data("kendoDropDownList");
        var ddlCommitteeId = $("#ddlCommitteeId").data("kendoDropDownList");
        if (dropdownlist.value() != "") {
            additionalDataObject = {
                EntityId: dropdownlist.value(),
                CommitteeId: ddlCommitteeId.value(),
                shoAllCommittees: ddlCommitteeId.value() > 0 ? false : true
            };
        }
        else {
            additionalDataObject = {
                EntityId: 0,
                CommitteeId: 0,
                shoAllCommittees: false
            };
        }

        return additionalDataObject;
    }

    function Entity_Change() {
        var grid = $("#gridKendo").data("kendoGrid");
        grid.dataSource.read();
    }

    function Change() {
        var grid = $("#gridKendo").data("kendoGrid");
        grid.dataSource.read();

        CheckIsValidCommittee();
    }

    function checkDate(e) {
        if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
            e.value = '';
        }
    }

    function CheckIsValidCommittee(){
        var entityId = $("#ddlEntityId").data("kendoDropDownList").value();
        var committeeId = $("#ddlCommitteeId").data("kendoDropDownList").value();

        $.ajax({
            url: "@Url.Action("CheckIsValidCommittee", "CommitteeMaster")",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: '{EntityId: '+entityId+',CommitteeId: '+committeeId+'}',
            success: function (result) {
                ProcessData(result);
            }
        });
    }

    function ProcessData(result){
        if (result.length > 0) {
            var str = "";
            for (var i = 0; i < result.length; i++) {
                str += "<li>" +(i +1) +'. '+ result[i].Rule + "</li>";
            }
            $("#DivCommitteeValidation").show();

            $('#lblcommitteeerrormsg')[0].innerHTML = "<ul> " + str + " </ul>";
        } else {
            $("#DivCommitteeValidation").hide();
            //$('#lblcommitteeerrormsg').text('');
        }
    }

    function forcesave() {
        preventCloseOnSave = true;
        var grid = $("#gridKendo").data("kendoGrid");
        grid.saveChanges();
        //grid.dataSource.sync();
        //grid.refresh();
    }

    function forceclose() {
        var grid = $("#gridKendo").data("kendoGrid");
        grid.dataSource.read();

        CheckIsValidCommittee();
    }

    function SaveChanges() {
        //alert("SaveChanges-Fired");
        var grid = $("#gridKendo").data("kendoGrid");
       // grid.dataSource.read();
        //grid.dataSource.read();
    }

    function Request_EndDetailsOfCommitteeNew(e) {
        if (e.type == "create" || e.type == "update") {
            debugger;
            $(".k-loading-mask").hide();
            if (e.response == "true" ||e.response == "Saved Successfully." || e.response == "Update Successfully") {
                $("#Divsuccess").show();
                $("#Diverror").hide();
                $('#lblsuccess').text(e.type == "create" ? "Saved Successfully" : "Update Successfully");
            }
            else {
                $("#Diverror").show();
                $("#Divsuccess").hide();
                $('#lblerrormsg').text(e.response);
            }
        }
        //Change();
    }

    function refresh_Data() {
        //alert("SaveChangesNew-Fired");

       // var grid = $("#gridKendo").data("kendoGrid");
       // grid.dataSource.read();
        //kendo.ui.progress(grid.element, false);
    }

    function reloadFilterParameters() {
        var dropdownlist = $("#ddlEntityId").data("kendoDropDownList");
        additionalDataObject = {
            EntityId: dropdownlist.value()
        };
    }
</script>
