﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="managementusersAPI.aspx.cs" Inherits="com.VirtuosoITech.ComplianceManagement.Portal.Management.managementusersAPI" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" style="background: white;">
<head runat="server">

    <link href="../NewCSS/kendo.common.min.css" rel="stylesheet" />
    <link href="../NewCSS/kendo.rtl.min.css" rel="stylesheet" />
    <link href="../NewCSS/kendo.silver.min.css" rel="stylesheet" />
    <link href="../NewCSS/kendo.mobile.all.min.css" rel="stylesheet" />
    <script type="text/javascript" src="../Newjs/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../Newjs/kendo.all.min.js"></script>
    <script type="text/javascript" src="../Newjs/jszip.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
    <title></title>

    <style type="text/css">
        input[type=checkbox], input[type=radio] {
            margin: 4px 6px 0;
            margin-top: 1px\9;
            line-height: normal;
        }

        .div.k-grid-footer, div.k-grid-header {
            border-top-width: 1px;
            margin-right: 0px;
        }

        .k-grid-footer-wrap, .k-grid-header-wrap {
            position: relative;
            width: 100%;
            overflow: hidden;
            border-style: solid;
            border-width: 0 1px 0 0;
            zoom: 1;
        }

        .k-grid-content {
            min-height: 380px !important;
            overflow: hidden;
        }

        html {
            color: #666666;
            font-size: 15px;
            font-weight: normal;
            font-family: 'Roboto',sans-serif;
        }

        .k-checkbox-label, .k-radio-label {
            display: inline;
        }

        .myKendoCustomClass {
            z-index: 999 !important;
        }

        .k-header .k-grid-toolbar {
            background: white;
            float: left;
            width: 100%;
        }

        .k-grid td {
            line-height: 2.0em;
            border-bottom-width: 1px;
            background-color: white;
            border-width: 0 1px 1px 0px;
        }

        .k-i-more-vertical:before {
            content: "\e006";
        }

        .k-grid td.k-state-selected:hover, .k-grid tr.k-state-selected:hover {
            background-color: #1fd9e1;
            background-image: none;
            background-color: white;
        }

        k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list > .k-state-highlight, .k-list > .k-state-selected, .k-marquee-color, .k-panel > .k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-tool.k-state-selected {
            color: #000000;
            border-color: #1fd9e1;
            background-color: white;
        }

        .k-pager-wrap > .k-link > .k-icon {
            margin-top: 0px;
            color: inherit;
        }

        html .k-grid tr:hover {
            background: white;
        }

        html .k-grid tr.k-alt:hover {
            background: white;
        }

        .k-grid tbody .k-button {
            min-width: 30px;
            min-height: 30px;
            background: white;
            border: none;
        }

        .k-button-icontext .k-icon, .k-button-icontext .k-image, .k-button-icontext .k-sprite {
            margin-right: 0px;
            margin-right: 0px;
            margin-left: 0px;
            margin-left: 0px;
        }

        .k-auto-scrollable {
            overflow: hidden;
        }

        .k-grid-header {
            padding-right: 0px !important;
            margin-right: 2px;
        }

        .k-filter-menu .k-button {
            width: 27%;
        }

        .k-label input[type="checkbox"] {
            margin: 0px 5px 0 !important;
        }

        .k-filter-row th, .k-grid-header th.k-header {
            font-size: 15px;
            background: #f8f8f8;
            font-family: 'Roboto',sans-serif;
            color: #2b2b2b;
            font-weight: 400;
        }

        .k-primary {
            border-color: #1fd9e1;
            background-color: #1fd9e1;
        }

        .k-pager-wrap {
            background-color: white;
            color: #2b2b2b;
        }

        td.k-command-cell {
            border-width: 0 0px 1px 0px;
            text-align: center;
        }

        .k-grid-pager {
            margin-top: -1px;
        }

        span.k-icon.k-i-calendar {
            margin-top: 6px;
        }

        .col-md-2 {
            width: 20%;
        }

        .k-i-arrow-60-down, .k-i-arrow-60-left, .k-i-arrow-60-right, .k-i-arrow-60-up {
            cursor: pointer;
            margin-top: 6px;
        }

        .k-filter-row th, .k-grid-header th.k-header {
            border-width: 0px 0px 1px 0px;
            background: #E9EAEA;
            font-weight: bold;
            margin-right: 18px;
            font-family: 'Roboto',sans-serif;
            font-size: 15px;
            color: rgba(0, 0, 0, 0.5);
            height: 20px;
            vertical-align: middle;
        }

        .k-dropdown-wrap.k-state-default {
            background-color: white;
        }

        .k-popup.k-calendar-container, .k-popup.k-list-container {
            background-color: white;
        }

        .k-grid-header th.k-state-focused, .k-list > .k-state-focused, .k-listview > .k-state-focused, .k-state-focused, td.k-state-focused {
            -webkit-box-shadow: inset 0 0 3px 1px white;
            box-shadow: inset 0 0 1px 1px white;
        }

        label.k-label {
            font-family: roboto,sans-serif !important;
            color: #515967;
            /* font-stretch: 100%; */
            font-style: normal;
            font-weight: 400;
            min-width: 362px;
            white-space: pre-wrap;
        }

        .k-multicheck-wrap .k-item {
            line-height: 1.2em;
            font-size: 14px;
            margin-bottom: 5px;
        }

        label {
            display: flex;
            margin-bottom: 0px;
        }

        .k-state-default > .k-select {
            border-color: #ceced2;
            margin-top: -4px;
        }

        .k-grid-norecords {
            width: 100%;
            height: 100%;
            text-align: center;
            margin-top: 2%;
        }

        .k-grouping-header {
            font-style: italic;
            background-color: white;
        }

        .k-grid table {
            width: 100.5%;
        }

        .k-active-filter, .k-state-active, .k-state-active:hover {
            background-color: #E9EAEA;
            border-color: #a6a6ad;
            color: #535b6a;
        }
        .k-filter-menu .k-button {
            width: 27%;
            background-color: #E9EAEA;
            color: black;
            border: 2px solid rgba(0, 0, 0, 0.5);
        }
    </style>

    <script type="text/javascript">

        function BindGrid() {
            var grid = $("#grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: '<% =Path%>Data/BindUserList?UserID=<% =UId%>&customerID=<% =CustId%>&branchid=<% =BID%>&depthead=<% =dhead%>&categoryid=<% =catid%>&approver=<% =isapprover%>&compliancetypeflag=<% =FlagID%>',
                            dataType: "json",
                            beforeSend: function (request) {
                                request.setRequestHeader('Authorization', '<% =Authorization%>');
                            },
                        }
                    },
                    schema: {
                        data: function (response) {
                            return response;
                        },
                        total: function (response) {
                            return response.length;
                        }
                    },
                    pageSize: 10
                },
                excel: {
                    allPages: true,
                },
                sortable: true,
                groupable: true,
                filterable: true,
                columnMenu: true,
                pageable: {
                    numeric: true,
                    pageSizes: ['All', 5, 10, 20],
                    pageSize: 10,
                    buttonCount: 3,
                },
                reorderable: true,
                resizable: true,
                multi: true,
                selectable: true,
                databound: function (e) {
                },
                columns: [
                    {
                        field: "UserID", title: 'ID',
                        hidden: true,
                        width: "10%;",
                        attributes: {
                            style: 'white-space: nowrap;'
                        }, filterable: { multi: true, search: true }
                    },
                    {
                        field: "UserName", title: 'Name',
                        width: "15%;",
                        attributes: {
                            style: 'white-space: nowrap;'
                        }, filterable: { multi: true, search: true }
                    },
                    {
                        field: "RoleName", title: 'Role',
                        width: "20%;",
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: { multi: true, search: true }
                    },
                    {
                        field: "BranchName", title: 'Location',
                        width: "20%;",
                        attributes: {
                            style: 'white-space: nowrap;'
                        }, filterable: { multi: true, search: true }
                    },
                    {
                        field: "Email", title: 'Email',
                        width: "20%",
                        attributes: {
                            style: 'white-space: nowrap;'
                        },
                        filterable: { multi: true, search: true }
                    },
                    {
                        field: "DepartmentName", title: 'Department',
                        width: "20%",
                        attributes: {
                            style: 'white-space: nowrap;'
                        },
                        filterable: { multi: true, search: true }
                    },
                    {
                        field: "ContactNumber", title: 'Contact Number',
                        width: "15%",
                        filterable: { multi: true, search: true }
                    },
                ]
            });

            $("#grid").kendoTooltip({
                filter: "td",
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    if (content != "") {
                        return '<div style="width: ' + content.length * .6 + 'em; max-width: 25em;white-space: pre-wrap;">' + content + '</div>';
                    }
                    //else
                    //    e.preventDefault();
                }
            }).data("kendoTooltip");

            $("#grid").kendoTooltip({
                filter: "th",
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    if (content != "") {
                        return '<div style="width: ' + content.length * .6 + 'em; max-width: 20em;white-space: pre-wrap;">' + content + '</div>';
                    }
                    //else
                    //    e.preventDefault();
                }
            }).data("kendoTooltip");
        }

        function fhead(Users) {
            $('#pagetype').html(val);
        }

        $(document).ready(function () {
            BindGrid();
        });
        function ClearAllFilterMain(e) {
            $("#grid").data("kendoGrid").dataSource.filter({});
            e.preventDefault();
        }
        function exportReport(e) {
            debugger;

            var ReportName = "Report of Users";
            /*var todayDate = moment().format('DD-MMM-YYYY');*/

            var grid = $("#grid").getKendoGrid();
            var rows =
                [
                    
                    {
                        cells: [
                            { value: "Report Name:", bold: true },
                            { value: ReportName }
                        ]
                    },
                    //{
                    //    cells: [
                    //        { value: "Report Generated On:", bold: true },
                    //        { value: todayDate }
                    //    ]
                    //},
                    {
                        cells: [
                            { value: "" }
                        ]
                    },
                    {
                        cells: [
                            { value: "User ID", bold: true },
                            { value: "User Name", bold: true },
                            { value: "Role", bold: true },
                            { value: "Branch", bold: true },
                            { value: "Email", bold: true },
                            { value: "Department", bold: true },
                            { value: "Contact Number", bold: true },
                        ]
                    }
                ];

            var trs = grid.dataSource;
            var filteredDataSource = new kendo.data.DataSource({
                data: trs.data(),
                filter: trs.filter()
            });

            filteredDataSource.read();
            var data = filteredDataSource.view();
           

            for (var i = 0; i < data.length; i++) {
                var dataItem = data[i];
                var rowHeight = 20;
               

                rows.push({
                    cells: [
                        { value: dataItem.UserID },
                        { value: dataItem.UserName },
                        { value: dataItem.RoleName },
                        { value: dataItem.BranchName },
                        { value: dataItem.Email },
                        { value: dataItem.DepartmentName },
                        { value: dataItem.ContactNumber },

                    ],
                    height: rowHeight
                });

            }
           
            for (var i = 2; i < rows.length; i++) {
                for (var j = 0; j < 7; j++) {
                    rows[i].cells[j].borderBottom = "#000000";
                    rows[i].cells[j].borderLeft = "#000000";
                    rows[i].cells[j].borderRight = "#000000";
                    rows[i].cells[j].borderTop = "#000000";
                    rows[i].cells[j].hAlign = "left";
                    rows[i].cells[j].vAlign = "top";
                    rows[i].cells[j].wrap = true;
                    if (i == 2) {
                        rows[2].cells[j].background = "#A9A9A9";
                    }

                }
            }
           
            excelExport(rows, ReportName);
            e.preventDefault();
            return false;
        }

        function excelExport(rows, ReportName) {

            var FileName = "Report of Users";
            var workbook = new kendo.ooxml.Workbook({
                sheets: [
                    {
                        columns: [
                          
                            { autoWidth: true },
                            { width: 150 },
                            { width: 200 },
                            { width: 300 },
                            { width: 300 },
                            { width: 200 },
                            { width: 150 },
                            { width: 150 },
                              ],
                        title: FileName,
                        rows: rows
                    },
                ]
            });

            var nameOfPage = FileName;
            //var nameOfPage = "Test-1"; // insert here however you are getting name of screen
            kendo.saveAs({ dataURI: workbook.toDataURL(), fileName: nameOfPage + " .xlsx" });
            return false;
        }
    </script>

</head>
<body style="overflow-x: hidden;">
    <form>
        <div>
            <h1 id="pagetype" style="height: 30px; background-color: #f8f8f8; margin-top: 0px; color: #666; margin-bottom: 5px; font-size: 19px; padding-left: 5px; padding-top: 5px; font-weight: bold;">Users</h1>
        </div>
        <div style="margin: 0.5% 0 0.5%; height: 30px;">
            <button id="ClearfilterMain" style="height: 30px; float: right" onclick="ClearAllFilterMain(event)"><span class="k-icon k-i-filter-clear" onclick="javascript:return false;"></span>Clear</button>
            <button id="export" onclick="exportReport(event)" style="height: 30px;margin-right: 0.5%;margin-left: 1096px;" data-placement="bottom"><span class="k-icon k-i-excel k-grid-edit3"></span>Export</button>
           
        </div>
        <div id="example">
            <div id="grid" style="margin-top: 6px;"></div>
        </div>
    </form>
</body>
</html>
