﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.MBP2TransactionLimitVM

<div id="divApprovedLimitDetails" style="min-height:250px;">
<script>
    function checkDate(e) {
        if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
            e.value = '';
        }
    }
</script>
    @using (Ajax.BeginForm("SaveMBP2Limit", "MBP2Transaction", null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divApprovedLimitDetails", OnBegin = "onOpenMBP2TranUpload", OnComplete = "onRefreshMBP2TranUpload" }, new { id = "frmApprovedLimitDetails" }))
    {
        @Html.HiddenFor(m => m.EntityId)

        if (Model.Success)
        {
            <div class="row colpadding0">
                <div class="col-md-12 colpadding0">

                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.Message)))
                        {
                            <lable>@Model.Message</lable>
                        }
                    </div>
                </div>
            </div>
        }

        if (Model.Error)
        {
            <div class="row colpadding0">
                <div class="col-md-12 colpadding0">
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.Message)))
                        {
                            <lable>@Model.Message</lable>
                        }
                    </div>
                </div>
            </div>
        }

        <div class="row mt30">
            <div class="col-md-12 colpadding0">
                <div class="col-md-4">
                    <label class="control-label">Approved Limit</label>
                </div>
                <div class="col-md-6 colpadding0">
                    @(Html.Kendo().NumericTextBoxFor(m => m.ApprovedLimit).HtmlAttributes(new { @class = "k-textbox", style = "width: 94%", autocomplete = "off" }))
                </div>
            </div>
        </div>

        <div class="row mt30">
            <div class="col-md-12 colpadding0">
                <div class="col-md-4">
                    <label class="control-label">Limit Used</label>
                </div>
                <div class="col-md-6 colpadding0">
                    @(Html.Kendo().NumericTextBoxFor(m => m.UsedLimit).HtmlAttributes(new { @class = "k-textbox", style = "width: 94%", autocomplete = "off" }))
                </div>
            </div>
        </div>

        <div class="row mt30">
            <div class="col-md-12 colpadding0">
                <div class="col-md-4">
                    <label class="control-label">Date of Board Resolution</label><span style="color:red"></span>
                </div>
                <div class="col-md-6 colpadding0">
                    @(Html.Kendo().DatePicker().Name("DateOfBoardResolution").Max(DateTime.Today).Format("dd/MM/yyyy").HtmlAttributes(new { style = "width:65%", @Id = "DateOfBoardResolution", autocomplete = "off", onchange = "checkDate(this);"}))
                </div>
            </div>
        </div>

        <div class="row mt30">
            <div class="col-md-12 colpadding0">
                <div class="col-md-4">
                    <label class="control-label">Date of Passing Resolution</label><span style="color:red"></span>
                </div>
                <div class="col-md-6 colpadding0">
                    @(Html.Kendo().DatePicker().Name("DateOfPassingResolution").Max(DateTime.Today).Format("dd/MM/yyyy").HtmlAttributes(new { style = "width:65%", @Id = "DateOfPassingResolution", onchange = "checkDate(this);", autocomplete = "off"}))
                </div>
            </div>
        </div>

        <div class="row mt30">
            <div class="row col-md-12 colpadding0 text-center">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-primary" onclick="btnCloseLimitWnd()">Close</button>
            </div>
        </div>
    }
</div>