﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.MBP2TransactionVM

<div id="DivMBP2Transaction">
    <script>
        function ddlNatureOfTransactionChanged1() {
            debugger;
            var ddlNatureOfTransaction = $("#NatureOfTransactionId").data("kendoDropDownList");
            var value = ddlNatureOfTransaction.value();
            if (value == '3') {
                $("#divLoanDetails").removeClass("hidden");
                $("#divAquisitionDetails").addClass("hidden");
                $("#divAquisitionDetails1").addClass("hidden");
            } else if (value == '1') {
                $("#divLoanDetails").addClass("hidden");
                $("#divAquisitionDetails").removeClass("hidden");
                $("#divAquisitionDetails1").removeClass("hidden");
            }
            else {
                $("#divLoanDetails").addClass("hidden");
                $("#divAquisitionDetails").addClass("hidden");
                $("#divAquisitionDetails1").addClass("hidden");
            }
        }
    </script>
    @using (Ajax.BeginForm("AddEditTransaction", "MBP2Transaction", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivMBP2Transaction", OnBegin= "onOpenMBP2Tran", OnComplete= "onRefreshMBP2Tran" }, new { id = "frmMBP2Transaction" }))
    {
        @Html.HiddenFor(m => m.MBP2TransId);
        @Html.HiddenFor(m => m.EntityId);
        
        if (Model.Success)
        {
            <div class="row colpadding0">
                <div class="col-md-12 colpadding0">

                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.Message)))
                        {
                            <lable>@Model.Message</lable>
                        }
                    </div>
                </div>
            </div>
        }

        if (Model.Error)
        {
            <div class="row colpadding0">
                <div class="col-md-12 colpadding0">
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.Message)))
                        {
                            <lable>@Model.Message</lable>
                        }
                    </div>
                </div>
            </div>
        }

        <div class="row col-md-12 colpadding0 mt30">
            <div class="col-md-2 colpadding0">
                <label class="control-label">Nature of transaction</label><span style="color:red">*</span>

                @(Html.Kendo().DropDownListFor(m => m.NatureOfTransactionId)
                    .DataTextField("NatureOfTransaction")
                    .DataValueField("Id")
                    .OptionLabel("Select")
                    //.Filter("contains")
                    .Events(e => e.Change("ddlNatureOfTransactionChanged"))
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Url("/api/MBP2Transaction/GetMBP2Nature").Type(HttpVerbs.Get);
                        }).ServerFiltering(false);
                    }).HtmlAttributes(new { style = "width: 94%"}))
                @Html.ValidationMessageFor(model => model.NatureOfTransactionId, "", new { @class = "text-danger" })

            </div>

            <div class="col-md-2 colpadding0">
                <label class="control-label">Date of Transaction</label><span style="color:red">*</span>
                @(Html.Kendo().DatePicker()
                    .Name("DateOfMaking")
                    .Max(DateTime.Today).Format("dd/MM/yyyy")
                    .HtmlAttributes(new { style = "width:94%", @Id = "DateOfMaking", autocomplete = "off", onchange = "checkDate(this);", })
                )
                @Html.ValidationMessageFor(model => model.DateOfMaking, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-4 colpadding0">
                <label class="control-label">Name of Company/Body Corporate/Person</label><span style="color:red">*</span>
                @(Html.Kendo().TextBoxFor(m => m.Name_).HtmlAttributes(new { @class = "k-textbox", style = "width: 97%", autocomplete = "off" }))
                @Html.ValidationMessageFor(model => model.Name_, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-4 colpadding0">
                <label class="control-label">Address</label>
                @(Html.Kendo().TextBoxFor(m => m.Address_).HtmlAttributes(new { @class = "k-textbox", style = "width: 95%", autocomplete = "off" }))
                @Html.ValidationMessageFor(model => model.Address_, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">
                <div class="col-md-2 colpadding0">
                    <label class="control-label">Amount</label><span style="color:red"></span>
                    @(Html.Kendo().TextBoxFor(m => m.Amount).HtmlAttributes(new { @class = "k-textbox", style = "width: 94%", autocomplete = "off" }))
                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-1 colpadding0">
                    <label class="control-label">Time Period</label>
                    @(Html.Kendo().TextBoxFor(m => m.TimePeriod).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off" }))
                    @Html.ValidationMessageFor(model => model.TimePeriod, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-3 colpadding0">
                    <label class="control-label">Purpose</label>
                    @(Html.Kendo().TextBoxFor(m => m.Purpose).HtmlAttributes(new { @class = "k-textbox", style = "width: 96%", autocomplete = "off" }))
                    @Html.ValidationMessageFor(model => model.Purpose, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-2 colpadding0">
                    <label class="control-label">% of Loan/Acquisition/Exposure</label>
                    @(Html.Kendo().TextBoxFor(m => m.PercentageOfReserve).HtmlAttributes(new { @class = "k-textbox", style = "width: 94%", autocomplete = "off" }))
                    @Html.ValidationMessageFor(model => model.PercentageOfReserve, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-2 colpadding0">
                    <label class="control-label">Date of Board Resolution</label><span style="color:red"></span>
                    @(Html.Kendo().DatePicker()
                    .Name("DateOfBoardResolution")
                    .Max(DateTime.Today).Format("dd/MM/yyyy")
                    .HtmlAttributes(new { style = "width:93%", @Id = "DateOfBoardResolution", autocomplete = "off", onchange = "checkDate(this);", })
                    )
                    @Html.ValidationMessageFor(model => model.DateOfBoardResolution, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-2 colpadding0">
                    <label class="control-label">Date of Passing Resolution</label><span style="color:red"></span>
                    @(Html.Kendo().DatePicker().Name("DateOfPassingResolution").Max(DateTime.Today).Format("dd/MM/yyyy").HtmlAttributes(new { style = "width:90%", @Id = "DateOfPassingResolution", onchange = "checkDate(this);", autocomplete = "off" }))
                    @Html.ValidationMessageFor(model => model.DateOfPassingResolution, "", new { @class = "text-danger" })
                </div>

            </div>
        </div>

        <div id="divAquisitionDetails" class="row mt30">
            <div class="col-md-12 colpadding0">

                <div class="col-md-2 colpadding0">
                    <label class="control-label">No. of Security</label>
                    @(Html.Kendo().TextBoxFor(m => m.NoOfSecurity).HtmlAttributes(new { @class = "k-textbox", style = "width: 94%", autocomplete = "off" }))
                    @Html.ValidationMessageFor(model => model.NoOfSecurity, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-3 colpadding0">
                    <label class="control-label">Kind of Security</label>
                    @(Html.Kendo().TextBoxFor(m => m.KindOfSecurity).HtmlAttributes(new { @class = "k-textbox", style = "width: 95%", autocomplete = "off" }))
                    @Html.ValidationMessageFor(model => model.KindOfSecurity, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-1 colpadding0">
                    <label class="control-label">Nominal Value</label>
                    @(Html.Kendo().TextBoxFor(m => m.NominalValue).HtmlAttributes(new { @class = "k-textbox", style = "width: 88%", autocomplete = "off" }))
                    @Html.ValidationMessageFor(model => model.NominalValue, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-2 colpadding0">
                    <label class="control-label">Paid Up value</label>
                    @(Html.Kendo().TextBoxFor(m => m.PaidUp).HtmlAttributes(new { @class = "k-textbox", style = "width: 94%", autocomplete = "off" }))
                    @Html.ValidationMessageFor(model => model.PaidUp, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-2 colpadding0">
                    <label class="control-label">Cost of Auisition</label>
                    @(Html.Kendo().TextBoxFor(m => m.CostOfAuisition).HtmlAttributes(new { @class = "k-textbox", style = "width: 94%", autocomplete = "off" }))
                    @Html.ValidationMessageFor(model => model.CostOfAuisition, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-2 colpadding0">
                    <label class="control-label">Date of Selling</label>
                    @(Html.Kendo().DatePicker()
                        .Name("DateOfSelling")
                        .Max(DateTime.Today).Format("dd/MM/yyyy")
                        .HtmlAttributes(new { style = "width:90%", @Id = "DateOfSelling", autocomplete = "off", onchange = "checkDate(this);", }))
                    @Html.ValidationMessageFor(model => model.DateOfSelling, "", new { @class = "text-danger" })
                </div>

            </div>
        </div>

        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">
                <div id="divLoanDetails" class="col-md-4 colpadding0 hidden">

                    <div class="col-md-6 colpadding0">
                        <label class="control-label">Rate Of Interest</label>
                        @(Html.Kendo().TextBoxFor(m => m.RateOfInterest).HtmlAttributes(new { @class = "k-textbox", style = "width: 94%", autocomplete = "off" }))
                        @Html.ValidationMessageFor(model => model.RateOfInterest, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6 colpadding0">
                        <label class="control-label">Date Of Maturity</label><span style="color:red"></span>
                        @(Html.Kendo().DatePicker().Name("DateOfMaturity").Max(DateTime.Today).Format("dd/MM/yyyy").HtmlAttributes(new { style = "width:93%", @Id = "DateOfMaturity", onchange = "checkDate(this);", autocomplete = "off" }))
                        @Html.ValidationMessageFor(model => model.DateOfMaturity, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div id="divAquisitionDetails1" class="col-md-2 colpadding0 hidden">
                    <label class="control-label">Selling Price</label>
                    @(Html.Kendo().TextBoxFor(m => m.SellingPrice).HtmlAttributes(new { @class = "k-textbox", style = "width: 94%", autocomplete = "off" }))
                    @Html.ValidationMessageFor(model => model.SellingPrice, "", new { @class = "text-danger" })
                </div>


                <div class="col-md-4 colpadding0">
                    <label class="control-label">Remark</label>
                    @(Html.Kendo().TextBoxFor(m => m.Remarks).HtmlAttributes(new { @class = "k-textbox", style = "width: 97%", autocomplete = "off" }))
                    @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                </div>

            </div>
        </div>

        <div class="row colpadding0 mt30">
            <div style="text-align:center" class="col-md-12 colpadding0">
                <button type="Submit" id="command_name" name="command_name" value="save" class="btn btn-primary">Save</button>
            </div>
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        $("#DateOfMaking").removeAttr("data-val-date");
        $("#DateOfBoardResolution").removeAttr("data-val-date");
        $("#DateOfPassingResolution").removeAttr("data-val-date");
        $("#DateOfMaturity").removeAttr("data-val-date");
        $("#DateOfSelling").removeAttr("data-val-date");
        
        //$("#RegistrationChargeModificationDate").removeAttr("data-val-date");
        //$("#RegistrationChargeCreateDate").removeAttr("data-val-date");
        //$("#FactsDelaycondonationDate").removeAttr("data-val-date");

        //if ($("#CreationDate").val() == "01/01/0001") {
        //    $("#CreationDate").val('');
        //}

        //if ($("#ModificationDate").val() == "01/01/0001") {
        //    $("#ModificationDate").val('');
        //}
        //if ($("#SatisfactionDate").val() == "01/01/0001") {
        //    $("#SatisfactionDate").val('');
        //} if ($("#RegistrationsatisfactionDate").val() == "01/01/0001") {
        //    $("#RegistrationsatisfactionDate").val('');
        //}
        //if ($("#RegistrationChargeModificationDate").val() == "01/01/0001") {
        //    $("#RegistrationChargeModificationDate").val('');
        //}
        //if ($("#FactsDelaycondonationDate").val() == "01/01/0001") {
        //    $("#FactsDelaycondonationDate").val('');
        //}
        //if ($("#RegistrationChargeCreateDate").val() == "01/01/0001") {
        //    $("#RegistrationChargeCreateDate").val('');
        //}
    });

    function checkDate(e) {
        if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
            e.value = '';
        }
    }
</script>

<script>
    var validator1 = $("#frmMBP2Transaction").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
</script>