﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.MBP2TransactionUploadVM

<div class="row colpadding0">
    <div class="col-md-12 colpadding0">
        <div id="DivUploadMBP2Excel">
            <script>
                $(document).ready(function () {
                    $("#DIVMBP2Excel").kendoTooltip({ content: "Sample Document For MBP-2", width: "190px" });
                });
            </script>

            @using (Ajax.BeginForm("UploadMBP2Excel", "MBP2Transaction", null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivUploadMBP2Excel", OnBegin = "onOpenMBP2TranUpload", OnComplete = "onRefreshMBP2TranUpload" }, new { id = "frmUploadMBP2Excel", enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(m => m.EntityId)

                if (Model.lstMessage != null && Model.lstMessage.Count > 0)
                {
                    <div class="row colpadding0">
                        <div class="col-md-12 colpadding0">

                            <div class="alert alert-danger alert-dismissible" style="margin-bottom:0px;">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <ul>
                                    @foreach (var item in Model.lstMessage)
                                    {
                                        <li>
                                            <label>@item</label>
                                        </li>
                                    }
                                </ul>
                            </div>

                        </div>
                    </div>

                }
                else if (Model.Success)
                {
                    <div class="row colpadding0">
                        <div class="col-md-12 colpadding0">
                            <div class="alert alert-success alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                @if (!(string.IsNullOrEmpty(@Model.Message)))
                                {
                                    <lable>@Model.Message</lable>
                                }
                            </div>
                        </div>
                    </div>
                }
                else if (Model.Error)
                {
                    <div class="row colpadding0">
                        <div class="col-md-12 colpadding0">
                            <div class="alert alert-danger alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                @if (!(string.IsNullOrEmpty(@Model.Message)))
                                {
                                <lable>@Model.Message</lable>
                                }
                            </div>
                        </div>
                    </div>
                }

                <div class="row colpadding0">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-2 pull-right" id="DIVMBP2Excel">
                            <img src="/Images/Excel _icon.png" class="theexcelexport cursur" onclick="DownloadMBP2Excel()">
                        </div>
                    </div>
                </div>

                <div class="row colpadding0 mt30">
                    <div class="col-md-2">
                        <label class="control-label">Select File</label><span style="color:red">*</span>
                    </div>

                    <div class="col-md-8">
                        <input type="file" name="File" id="File" />
                    </div>
                </div>

                <div class="row col-md-12 colpadding0 text-center mt30">
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            }
        </div>
    </div>
</div>
