﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.EntityDocumentVM
<style>
    .k-upload .k-clear-selected, .k-upload .k-upload-selected {
        display: inline-block;
        width: 50%;
        margin: 0;
        line-height: 1em;
        padding: 1.214em 0;
        border: 0;
        display: none;
    }

    .k-grid-Download {
        height: 36px;
        width: 35%;
        padding: 0px 0px 0px 0px;
        /*white-space: nowrap;*/
        overflow: hidden;
        /*border-radius: 20px;*/
    }
</style>

<script>
    function OnOpen() {

    }
    function OnRefresh() {

    }
    function OnSuccess() {

    }
    function OnFailure() {

    }
</script>
<script id="fileTemplate" type="text/x-kendo-template">
    <span class='k-progress'></span>
    <div class='file-wrapper'>
        <span class='file-icon #=addExtensionClass(files[0].extension)#'></span>
        <h4 class='file-heading file-name-heading'>Name: #=name#<\br></h4>
        <h4 class='file-heading file-size-heading'>Size: #=size# bytes</h4>
        <strong class="k-upload-status">
            <button type='button' class='k-upload-action'></button>
            @*<button type='button' class='k-upload-action'></button>*@
        </strong>
    </div>
</script>

<div id="DivMBP2DocumentsDetails" style="overflow-x:hidden">

    @using (Ajax.BeginForm("SaveMBP2Document", "MBP2Transaction", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivMBP2DocumentsDetails" }, new { id = "frmEntityDocumentsTypes", enctype = "multipart/form-data" }))
    {
        <div class="row">
            @if (Model.Success)
            {
                <div class="col-md-12">

                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.Message)))
                        {
                            <lable>@Model.Message</lable>
                        }
                    </div>
                </div>
            }
        </div>

        <div class="row">
            @if (Model.Error)
            {
                <div class="col-md-12">
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.Message)))
                        {
                            <lable>@Model.Message</lable>
                        }
                    </div>
                </div>
            }
        </div>
        @Html.HiddenFor(m => m.EntityId)
        @Html.HiddenFor(m => m.ChargeHeaderId)
        @Html.HiddenFor(m => m.ChargeDetailId)
        @Html.HiddenFor(m => m.NatureOfTransactionId)
        
                <div class="row colpadding0 mt30" id="divLicenceNo" style="display:none">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-2">
                            <span></span><label id="lblLicenceNo" class="control-label">License/Registration No</label>
                        </div>
                        <div class="col-md-8 colpadding0">
                            @(Html.Kendo().TextBoxFor(m => m.LicenceNo).HtmlAttributes(new { @style = "width:25%" }))
                        </div>
                    </div>
                </div>

                <div class="row colpadding0 mt30" id="divFY" style="display:none">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-2"><span></span><label class="control-label">FY</label></div>
                        <div class="col-md-8 colpadding0">
                            @(Html.Kendo().DropDownListFor(model => model.FYID)
                                 .DataValueField("FYID")
                                 .DataTextField("FYText")
                                 .OptionLabel("--Select FY--")
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {

                                        read.Url("/api/ConfigurationMasterAPI/GetFYListByEntityID?EntityId="+Model.EntityId).Type(HttpVerbs.Get);
                                    })
                                    .ServerFiltering(true);
                                })
                                 //.Enable(false)
                                 //  .AutoBind(false)
                                 //  .CascadeFrom("EntityId")
                                 .HtmlAttributes(new { style = "width: 58%;" }))
                        </div>
                    </div>
                </div>



                <div class="row colpadding0 mt30" id="divdiscription">
                    <div class="colpadding0 col-md-12">
                        <div class="col-md-2"><span></span><label id="lblDiscription" class="control-label">Description</label></div>
                        <div class="col-md-8 colpadding0">
                            @(Html.TextAreaFor(x => x.Discription, new { @style = "width:58%" ,@class="k-textbox"}))
                        </div>
                    </div>
                </div>

                <div class="row colpadding0 mt30" id="divStartTime" style="display:none">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-2"><span></span><label class="control-label">Start Time</label></div>
                        <div class="col-md-8 colpadding0">
                            @(Html.Kendo().TimePicker()
              .Name("startTiming")
              .Value("8:00 AM")
              .Min("8:00 AM")
              .Max("6:00 PM")
              //.Events(e => e.Change("startChange"))
              .HtmlAttributes(new { style = "width: 25%" })
                                )
                        </div>
                    </div>
                </div>

                <div class="row colpadding0 mt30" id="divEndTime" style="display:none">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-2"><span></span><label class="control-label">End Time</label></div>
                        <div class="col-md-8 colpadding0">
                            @(Html.Kendo().TimePicker()
              .Name("EndTiming")
              .Value("8:30 AM")
              .Min("8:00 AM")
              .Max("7:30 AM")
              .HtmlAttributes(new { style = "width: 25%" })
                                )
                        </div>
                    </div>
                </div>

                <div class="row colpadding0 mt30" id="divAlterdate" style="display:none">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-2">
                            <span></span><label id="lblaltereddoc" class="control-label">Altered documents</label>
                        </div>
                        <div class="col-md-8 colpadding0">
                            @(Html.Kendo().TextBoxFor(m => m.AlteredDoc).HtmlAttributes(new {@style="width:58%" }))
                        </div>
                    </div>
                </div>


                <div class="row colpadding0 mt30">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-2">
                            <span></span><label class="control-label">Upload</label>
                        </div>
                        <div class="col-md-8 colpadding0">
                            <input type="file" name="files" id="files1" />

                        </div>
                    </div>
                </div>
            <div class="row col-md-12 colpadding0 text-center mt20" style="padding-top:22px">
                <button type="submit" id="saveppcom" class="btn btn-primary">Save</button>
                @*<button type="button" id="btnclosedoc" class="btn btn-primary">Close</button>*@
            </div>

    }

    <script>

        $(document).ready(function () {
            ChangeTypeDoc();
        })
        function ChangeTypeDoc() {
         

        }
    </script>
