﻿@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;
@{
    ViewBag.Title = "Help Video :: Masters";
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    @*<link href="~/NewCSS/stylenew.css" rel="stylesheet" />
    <link href="~/NewCSS/Help.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link href="~/NewCSS/bootstrap.min.css" rel="stylesheet" />
    <!-- bootstrap theme -->
    <link href="~/NewCSS/bootstrap-theme.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Newjs/jquery.js"></script>
    <script type="text/javascript" src="~/Newjs/jquery-ui-1.9.2.custom.min.js"></script>*@

    <link href="~/NewCSS/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/NewCSS/bootstrap-theme.css" rel="stylesheet" />

    <link href="~/NewCSS/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <!-- Custom styles -->
    <link href="~/NewCSS/stylenew.css" rel="stylesheet" type="text/css" />
    <link href="~/NewCSS/jquery-ui-1.10.4.min.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="~/Newjs/jquery.js"></script>

    <script type="text/javascript" src="~/Newjs/jquery-ui-1.9.2.custom.min.js"></script>

    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/NewCSS/SimpleIcons.css" rel="stylesheet" />

    @Styles.Render("~/Content/2018.3.1017/css/cssKendo")
    @Scripts.Render("~/Content/2018.3.1017/js/jskendo")

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/Content/css/Kendouicss.css" rel="stylesheet"/>

    <script>
        document.addEventListener('contextmenu', event => event.preventDefault());
    </script>
    <style>
        .k-help-link-itemNew
        {
            color:white;
        }
        span.k-help-link-itemNew {
    color: white;
}
        span.k-icon.k-i-collapse {
    color: white;
}
    </style>
</head>
<body>
    <form>
        <div>
            @(Html.Kendo().Tooltip()
        .For("#divtreeviewHelpVideoParent")
        .Filter(".k-help-link-itemNew")
        .Position(TooltipPosition.Top)
        .Width(150)
        .AutoHide(true)
            )
        </div>
        <div style="width:100%; background-color:#0e1630;">
            <table style="width:100%;">
                <tr>
                    <td style="width:20%;vertical-align:top;">
                        <div style="height:450px;max-height:450px;background-color:#0e1630;">
                            <div id="divtreeviewHelpVideoParent" class="mt30" style="max-height:440px;overflow-y:auto;overflow-x:hidden;">
                                <div id="treeviewHelpVideo"></div>
                            </div>
                        </div>
                    </td>

                    <td style="width:80%;vertical-align:top;">
                        <div class="" id="HelpVideo_Container1" style="">
                            <video id="videoHelpControl" controls style="width:100%; height:100%;" controlsList="nodownload">
                                <source  id="helpvideo_src" src="https://avantiscdnprodstorage.blob.core.windows.net/cdn/AVASEC/DFM/AVASEC_Demo_22May2021.mp4" type="video/mp4">
                            </video>
                        </div>
        
                    </td>
                </tr>
            </table>
        </div>
    </form>

    <script id="treeviewHelpVideo-template" type="text/kendo-ui-template">
        # if (item.items) { #
        <strong><span class="k-help-link-itemNew" title="#=item.text#">#=(item.text.length>25 ? item.text.substring(0,25) :  item.text)# </span></strong>
        #} else {#
        <span class="k-help-link-itemNew" title="#=item.text#">#=(item.text.length>25 ? item.text.substring(0,25) :  item.text)# </span>
        #}#
    </script>

    <script>
        $("#divtreeviewHelpVideoParent").on("click", ".k-help-link-itemNew", function (e) {
            e.preventDefault();
            var treeview = $("#treeviewHelpVideo").data("kendoTreeView");
            var uid = $(this).closest(".k-item")[0].dataset.uid;;
            var item = treeview.dataSource.getByUid(uid);
            if (item.FileURL != null)
            {
                document.getElementById("helpvideo_src").src = "https://avantiscdnprodstorage.blob.core.windows.net/" + item.FileURL;
                document.getElementById("videoHelpControl").load();
            }
        });

        function bindTreeView(data) {
            
            var result = { items: [] };
            var SubResult = { items: [] };

            var lookupItems = {};

            for (var i = 0; i < data.length; i++) {
                if (data[i].ParentId == null && !(data[i].HelpVideoId in lookupItems)) {
                    lookupItems[data[i].HelpVideoId] = 1;
                    result.items.push({ "HelpVideoId": data[i].HelpVideoId, "text": data[i].HelpName, "expanded": true, "items": [], "ItemNo": data[i].ItemNo, "ParentID": 0, "text": data[i].HelpName, "FileURL": data[i].FileURL });
                }
            }

            for (var i = 0; i < data.length; i++) {
                for (var j = 0; j < result.items.length; j++) {
                    if (data[i].ParentId > 0 && data[i].ParentId == result.items[j].HelpVideoId) {
                        var SrNo = result.items[j].items.length + 1;
                        result.items[j].items.push({ "HelpVideoId": data[i].HelpVideoId, "SrNo": SrNo, "text": data[i].HelpName, "ParentID": data[i].ParentId, "FileURL": data[i].FileURL });
                    }
                }
            }

            var ds = new kendo.data.HierarchicalDataSource({
                data: result.items,
            });

            $("#divtreeviewHelpVideoParent")[0].innerHTML = "<div id='treeviewHelpVideo'></div>";

            var allowDragAndDrop = false;

            $("#treeviewHelpVideo").kendoTreeView({
                template: kendo.template($("#treeviewHelpVideo-template").html()),
                dataSource: ds,
                dragAndDrop: allowDragAndDrop,
                //drop: treeViewDrop,
                //checkboxes: {
                //    checkChildren: true
                //},
                loadOnDemand: true,
            });
        }

        function loadHelpLinkTreeViewData(){
            $.ajax({
                url: "@Url.Action("HelpVideoData", "HelpVideo")",
                type: "Get",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                bindTreeView(result);
            }
        });
        }

        $(document).ready(function () {
            loadHelpLinkTreeViewData();
        });
    </script>

    <script src="~/Newjs/bxslider/jquery.bxslider.js" type="text/javascript"></script>
    <script src="~/Newjs/bootstrap.min.js"></script>
    <!-- nice scroll -->
    <script src="~/Newjs/jquery.scrollTo.min.js"></script>

    <script src="~/Newjs/jquery.nicescroll.js"></script>

    <!-- charts scripts -->
    <script src="~/assets/jquery-knob/js/jquery.knob.js"></script>

    @*<script src="~/Newjs/owl.carousel.js"></script>*@



    <script src="~/Newjs/jquery.rateit.min.js"></script>

    <script src="~/Newjs/jquery.customSelect.min.js"></script>

    <script src="~/Newjs/scripts.js"></script>


</body>
</html>