﻿@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;
@{
    ViewBag.Title = "Help Video :: Masters";
}

<style>
    .container {
        /* margin-right: auto; */
        /* margin-left: auto; */
        padding-left: 2px;
        padding-right: 15px;
    }

    html {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }

    @@media screen and (max-width: 600px) {

        #gridKendo > table {
        }
    }

    .k-window div.k-window-content {
        overflow: hidden;
    }

    .k-grid td {
        line-height: 2em;
    }

    .field-validation-error {
        color: #ff0000;
    }

    .k-current-page {
        display: none;
    }

    html .k-upload-empty {
        border-width: 1px;
    }

    .k-edit-form-container {
        position: relative;
        width: 900px;
    }

    .k-grid-edit {
        height: 32px;
        width: 33px;
        padding: 6px 0px 10px 0;
        /*white-space: nowrap;*/
        overflow: hidden;
        /*border-radius: 20px;*/
    }

    .k-grid-delete {
        height: 32px;
        width: 33px;
        padding: 5px 0px 10px 0;
        overflow: hidden;
    }

    .fieldlist {
        margin: 0 0 -2em;
        padding: 0;
    }

        .fieldlist li {
            list-style: none;
            padding-bottom: 2em;
        }

        .fieldlist label {
            display: block;
            padding-bottom: 1em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            color: #444;
        }

    .mt30 {
        margin-top: 18px;
    }

    .k-grid-add {
        float: right;
    }

    .mt2 {
        margin-top: 2%;
    }

    .k-edit-buttons {
        /*width: 1280px;*/
        text-align: center;
    }

    label {
        color: black;
    }

    .ml-mr {
        margin-left: 2%;
    }

    fieldset {
        display: block;
        margin-inline-start: 2px;
        margin-inline-end: 2px;
        padding-block-start: 0.35em;
        padding-inline-start: 0.75em;
        padding-inline-end: 0.75em;
        padding-block-end: 0.625em;
        min-inline-size: min-content;
        border-width: 1px;
        border-style: groove;
        border-color: rgba(128, 128, 128, 0.56);
        border-radius: 11px;
        /*border-color: threedface;
    border-image: initial;*/
    }

    .forTooltips {
        width: 100%;
        height: 100%;
        padding: .929em 1.286em;
    }

    td.overridePadding {
        padding: 0;
    }
</style>
<script>

    $(document).ready(function () {
        $("#btnAddNewHelpLink").click(function (e) {
            e.preventDefault();
            CreateEditNewHelpLink(0);
        });
    });

    function CreateEditNewHelpLink(id) {
        debugger;
        $("#wndAddNewHelpLink").kendoWindow({
            title: "New Link",
            modal: true
        });

        var direction = "AddEditHelpLink?id=" + id;
        if (id > 0) {
            $("#wndAddNewHelpLink").attr("style", "min-height:320px;min-width:650px;");
        }
        else {
            $("#wndAddNewHelpLink").attr("style", "min-height:280px;min-width:650px;");
        }
        

        var wnd = $("#wndAddNewHelpLink").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndAddNewHelpLink").kendoWindow({
            actions: ["Close"],
            content: direction,
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () { kendo.ui.progress(wnd.element, true); },
            close: function (e) {
                $(this.element).empty();
                $('#assetTreeList').data('kendoTreeList').dataSource.read();
                loadTreeViewData();
            }
        }).data("kendoWindow");

        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

    function editHelpLink(obj) {
        //obj.preventDefault();
        var helpVideoId = obj; //.value();
        if (helpVideoId > 0) {
            CreateEditNewHelpLink(helpVideoId);
        }
    }
    function deleteHelpLink(i) {
        var divDeleteLinkMessage = $("#divDeleteLinkMessage");
        divDeleteLinkMessage[0].innerHTML = "";
        if (i > 0) {
            $("#hdnHelpLinkIdForDelete").val(i);
            wndDelete.center().open();
        }
        else{
            $("#hdnHelpLinkIdForDelete").val('');
        }
    }
</script>

<script>
    var wndDelete;
    $(document).ready(function () {
        wndDelete = $("#wndDelete").kendoWindow({
            title: "Delete confirmation",
            modal: true,
            visible: false,
            resizable: false,
            width: 300
        }).data("kendoWindow");
    });

    function DeleteHelpLinkFinal() {
        var id = $("#hdnHelpLinkIdForDelete").val();

        if (id > 0) {
            $.ajax({
                url: "@Url.Action("DeleteLink", "HelpVideo")",
                data: "{ 'id': " + id + "}",
                type: "Post",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var divDeleteLinkMessage = $("#divDeleteLinkMessage");
                    divDeleteLinkMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success'> <lable>Delete Successfully.</lable></div></div></div>";
                    $('#assetTreeList').data('kendoTreeList').dataSource.read();
                    loadTreeViewData();
                }
            });

        }
    }

    function closeDeleteLinkWnd() {
        wndDelete.close();
    }
</script>

<div class="row Dashboard-white-widget">
    <div class="dashboard">

        <div class="tab" role="tabpanel" id="tile-111" style="background:#FFFFFF;">
            <ul class="nav nav-tabs mynavtab">

                <li class="active">
                    <a id="mytab1" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Details</a>
                </li>

                <li>
                    <a id="mytab2_sub" data-toggle="tab" href="#setOrder" role="tab" aria-controls="setOrder" aria-selected="false">Sequence</a>
                </li>

            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">

                    <div class="row" >
                        <div class="col-md-12">
                            <div class="col-md-12 colpadding0 text-right">
                                <a class="btn btn-primary" href="/#" id="btnAddNewHelpLink" title="Add New"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</a>
                            </div>
                        </div>
                    </div>

                    <div class="row colpadding0" style="margin-top:10px;">
                        <div class="col-md-12 colpadding0">

                            @(Html.Kendo().TreeList<BM_ManegmentServices.VM.HelpVideo.HelpVideoVM>()
                .Name("assetTreeList")
                .Columns(columns =>
                {
                    columns.Add().Field(e => e.HelpName).Title("Name").Width("30%");
                    columns.Add().Field(e => e.Description_).Title("Description").Width("55%");
                    columns.Add().Field(e => e.IsLinkActive).Template(" #= (IsLinkActive == true ? 'Active' :'Inactive')#").Title("Status").Width("10%");
                    //<input type='button' value='#=HelpVideoId#' id='btnEdit#=data.uid#' onclick='editHelpLink(this)'>
                    columns.Add().Field(e => e.SrNo).Template("<a id='btnEdit#=data.uid#' role='button' value='#=HelpVideoId#' onclick='editHelpLink(#=HelpVideoId#)'><span class='k-icon k-i-edit'></span></a>&nbsp;" +
                        "<a id='btnDelete#=data.uid#' role='button' value='#=HelpVideoId#' onclick='deleteHelpLink(#=HelpVideoId#)'><span class='k-icon k-i-delete'></span></a>").HeaderTemplate("Action").Width("10%");
                })
                .Editable(editable => editable.Move(false))
                .Navigatable(true)
                .Reorderable(true)
                .DataSource(data => data
                .Batch(true)
                .ServerOperation(false)
                .Read(read => read.Action("HelpVideoTreeData", "HelpVideo").Type(HttpVerbs.Get))
                .Model(m =>
                {
                    m.Id(f => f.HelpVideoId);
                    m.Expanded(true);
                    m.ParentId(f => f.ParentId);
                })
                )
                            ))
                        </div>
                    </div>
                </div>

                <div id="setOrder" class="tab-pane fade">

                    <div class="row">
                        <div class="col-md-12 colpadding0">
                            <div id="divLinkSequenceMessage">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 colpadding0">
                            <div id="divtreeview1Parent" class="mt30" style="max-height:280px;overflow-y:auto;overflow-x:hidden;margin-left:10px;">
                                <div id="treeview1"></div>
                            </div>
                        </div>
                    </div>

                    <div class="mt30" style="color: black;">
                        <strong>Note: Drag and Drop Items to change sequence</strong>
                    </div>

                    <div class="row">
                        <div class="col-md-12 colpadding0">
                            
                            <div class="text-center">
                                <input id="btnSaveVideoOrder" type="button" value="Save Order" class="btn btn-primary hidden" onclick="btnSaveVideoOrderClick()" />
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<div>
    @(Html.Kendo().Window().Name("wndAddNewHelpLink").Title("Add").Visible(false).Modal(true).Draggable(false).Pinned(true))
</div>

<input type="hidden" id="hdnHelpLinkIdForDelete" />

<div id="wndDelete" style="display:none;">
    <div id="divDeleteLinkMessage">
    </div>
    <h5>Are you sure you want to delete this data?</h5>
    <div class="text-center">
        <button id="yes" class="btn btn-primary" onclick="DeleteHelpLinkFinal()">Yes</button>
        <button id="no" class="btn btn-primary" onclick="closeDeleteLinkWnd()">No</button>
    </div>
</div>

<script id="treeview-template" type="text/kendo-ui-template">

    # if (item.items) { #
    <strong><span class="k-agenda-item"> #= item.text # </span></strong>
    @*<span class='k-icon k-i-edit'></span>*@
    #} else {#

    <span class="k-agenda-item"> #= item.text # </span>
    @*<span class='k-icon k-i-close'></span>
    <span class='k-icon k-i-edit'></span>*@
    #}#
    
</script>

<script>
    function treeViewDrop(dropEvent) {
        var treeView = $("#treeview1").data("kendoTreeView");
        var destination = treeView.dataItem(dropEvent.destinationNode);
        var source = treeView.dataItem(dropEvent.sourceNode);

        if (destination.ParentID == source.ParentID && dropEvent.dropPosition != "over") {

            dropEvent.setValid(true);

            var treeviewData = treeView.dataSource.data();
            for (var i = 0; i < treeviewData.length; i++) {
                if (treeviewData[i].id == destination.ParentID) {
                    treeviewData[i].dirty = true;

                    for (var j = 0; j < treeviewData[i].children.data().length; j++) {
                        treeviewData[i].children.data()[j].SrNo = (j + 1);
                        treeviewData[i].children.data()[j].dirty = true;
                    }
                }
            }
            $("#btnSaveVideoOrder").removeClass("hidden");
        } else {
            dropEvent.setValid(false);
        }
    }

    function bindTreeView(data) {
        debugger;
        var result = { items: [] };
        var SubResult = { items: [] };

        var lookupItems = {};

        for (var i = 0; i < data.length; i++) {
            if (data[i].ParentId == null && !(data[i].HelpVideoId in lookupItems)) {
                lookupItems[data[i].HelpVideoId] = 1;
                result.items.push({ "HelpVideoId": data[i].HelpVideoId, "text": data[i].HelpName, "expanded": true, "items": [], "ItemNo": data[i].ItemNo, "ParentID": 0, "text": data[i].HelpName });
            }
        }

        for (var i = 0; i < data.length; i++) {
            for (var j = 0; j < result.items.length; j++) {
                if (data[i].ParentId > 0 && data[i].ParentId == result.items[j].HelpVideoId) {
                    var SrNo = result.items[j].items.length + 1;
                    result.items[j].items.push({ "HelpVideoId": data[i].HelpVideoId, "SrNo": SrNo, "text": data[i].HelpName, "ParentID": data[i].ParentId });
                }
            }
        }

        var ds = new kendo.data.HierarchicalDataSource({
            data: result.items,
        });

        $("#divtreeview1Parent")[0].innerHTML = "<div id='treeview1'></div>";

        var allowDragAndDrop = true;

        $("#treeview1").kendoTreeView({
            template: kendo.template($("#treeview-template").html()),
            dataSource: ds,
            dragAndDrop: allowDragAndDrop,
            drop: treeViewDrop,
            //checkboxes: {
            //    checkChildren: true
            //},
            loadOnDemand: true,
        });
    }

    function loadTreeViewData(){
        $.ajax({
            url: "@Url.Action("HelpVideoDataImplementation", "HelpVideo")",
            type: "Get",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
            bindTreeView(result);
            //if(v == true){
            //    //$("#btnRefreshDoc").removeClass("hidden");
            //}
            }
        });
    }
    function btnSaveVideoOrderClick() {
        var lst = [];

        debugger;
        var treeView = $("#treeview1").data("kendoTreeView");
        var model = { items: [] };

        var treeviewData = treeView.dataSource.data();
        var count = 0;
        for (var i = 0; i < treeviewData.length; i++) {
            count++;
            lst.push({ HelpVideoId: treeviewData[i].HelpVideoId, SrNoNew: count });
            //if (treeviewData[i].dirty) {
                var aa = treeviewData[i].children.data();
                for (var j = 0; j < treeviewData[i].children.data().length; j++) {
                    count++;
                    lst.push({ HelpVideoId: treeviewData[i].children.data()[j].HelpVideoId, SrNoNew: count });
                }
            //}
        }

//        lst.push({ HelpVideoId: gridData[i].ComplianceId, SrNoNew: 1});

        $.ajax({
                type: "POST",
                url: "@Url.Action("SetSerialNumbers", "HelpVideo")",
                data: JSON.stringify(lst),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    debugger;
                    if (response.Success == true) {
                        var divLinkSequenceMessage = $("#divLinkSequenceMessage");
                        divLinkSequenceMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success'> <lable>Save Successfully.</lable></div></div></div>";
                        $('#assetTreeList').data('kendoTreeList').dataSource.read();
                    }
                    else {
                        var divLinkSequenceMessage = $("#divLinkSequenceMessage");
                        divLinkSequenceMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success'> <lable>Error.</lable></div></div></div>";
                    }
                }
            });
    }

    $(document).ready(function () {

        var breadCrumbData = [
           {
               displayText: "My Workspace",
               navigateUrl: "#",
           }, {
               displayText: "Help Video",
               navigateUrl: "/BM_Management/HelpVideo/CreateList",
           }
        ];

        setBreadCrumb(breadCrumbData);

        loadTreeViewData();
    });

</script>
