﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.AgendaMasterVM

<div id="divDetailsOfAgendaNew">
    @using (Ajax.BeginForm("SaveUpdateNewAgendaItem", "Meetings", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divDetailsOfAgendaNew", OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmAddEditAgendaNew" }))
    {

        <div id="example">
            <div id="window" style="width:999px; height:490px;overflow-y:hidden;overflow-x:hidden">
                <div id="frmAddEditAgenda" style="margin-left:0.5%; margin-right:0.5%;">

                    <div class="row colpadding0" style="margin-left:3%">
                        <div class="col-md-12 colpadding0">
                            <!-- this will be the content of the popup -->
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @if (Model.Message != null)
                    {
                        if (Model.Message.Success)
                        {
                            <div class="row">
                                <div class="col-md-12" id="DivsuccessI">
                                    <div class="alert alert-success alert-dismissible">
                                        <button class="close" type="button" onclick="hideAlert();">×</button>
                                        <lable id="lblsuccessI">@Model.Message.Message</lable>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-md-12" id="DiverrorI">
                                    <div class="alert alert-danger alert-dismissible">
                                        <button class="close" type="button" onclick="hideAlert();">×</button>
                                        <lable id="lblerrormsgI">@Model.Message.Message</lable>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                    @(Html.HiddenFor(m => m.BM_AgendaMasterId))

                    @(Html.HiddenFor(m => m.EntityType))
                    @(Html.HiddenFor(m => m.MeetingTypeId))
                    @(Html.HiddenFor(m => m.FrequencyId))
                    @(Html.HiddenFor(m => m.PartId))
                    @(Html.HiddenFor(m => m.IsMultiStageAgenda))
                    @(Html.HiddenFor(m => m.CanPassedByCircularResolution))
                    @(Html.HiddenFor(m => m.IsPostBallotRequired))
                    @(Html.HiddenFor(m => m.MeetingId))

                    <fieldset class="col" style="margin-right:5px;">
                        <legend class="amp-mb5"><label style="font-size:17px">Details</label></legend>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <span style="color:red">*</span><lable class="control-label">Agenda Item</lable>
                                </div>
                                <div class="col-md-8 colpadding0">
                                    @(Html.TextBoxFor(m => m.AgendaHeading, new { @class = "form-control k-textbox", style = "width: 98%;", autocomplete = "off" }))
                                </div>
                            </div>
                        </div>

                        <div class="row mt30">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <span style="color:red">*</span><lable class="control-label">Agenda Item (Heading)</lable>
                                </div>
                                <div class="col-md-8 colpadding0">
                                    @(Html.TextAreaFor(m => m.Agenda, new { @class = "form-control k-textbox", @Id = "Agenda", style = "width: 98%; height:50px;", autocomplete = "off" }))
                                </div>
                            </div>
                        </div>

                        <div class="row mt30">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <span style="color:red">*</span><lable class="control-label">Voting/Noting</lable>
                                </div>
                                <div class="col-md-7 colpadding0">
                                    @Html.RadioButtonFor(model => model.IsVoting, "true")Voting&nbsp; &nbsp;
                                    @Html.RadioButtonFor(model => model.IsVoting, "false")Noting
                                    @Html.ValidationMessageFor(model => model.IsVoting, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div id="divAgenda1_" class="row form-group mt30">
                            <div class="col-md-12 colpadding0">

                                <div style="height:260px;overflow-y:auto;overflow-x:hidden" class="tab" role="tabpanel">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a data-toggle="tab" id="mytab1" href="#tabAgendaTemplate">Agenda Template</a></li>
                                        <li><a data-toggle="tab" id="mytab2" href="#tabResolutionTemplate">Resolution Template</a></li>
                                        <li><a data-toggle="tab" id="mytab3" href="#tabMinutesTemplate">Minutes Template</a></li>
                                    </ul>

                                    <div class="tab-content">
                                        <div id="tabAgendaTemplate" class="tab-pane fade in active">
                                            <div class="row form-group">
                                                <div class="col-md-12 colpadding0">
                                                    <label class="control-label">Text</label>
                                                    @(Html.Kendo().EditorFor(m => m.AgendaFormat)
                                                    .HtmlAttributes(new { style = "height:240px" })
                                                    .Encode(false)
                                                    .Events(e => e.Paste("onPasteRemoveTag"))
                                                    //.Resizable(resizable => resizable.Content(false).Toolbar(true))
                                                    .Tools(tools => tools
                                                    .Clear().Formatting()
                                                    .FontName(fonts => fonts
                                                        .Add("Andale Mono", "Andale Mono")
                                                        .Add("Arial", "Arial")
                                                        .Add("Arial Black", "Arial Black")
                                                        .Add("Book Antiqua", "Book Antiqua")
                                                        .Add("Bookman Old Style", "Bookman Old Style")
                                                        .Add("Comic Sans MS", "Comic Sans MS")
                                                        .Add("Courier New", "Courier New")
                                                        .Add("Georgia", "Georgia")
                                                    )
                                                    .FontSize(size => size
                                                    .Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
                                                    .Bold().Italic().Underline().Strikethrough()
                                                    .SubScript().SuperScript()
                                                    .InsertUnorderedList().InsertOrderedList().Indent().Outdent()
                                                    .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                                    .TableEditing()
                                                    .CleanFormatting()
                                                    ))
                                                </div>
                                            </div>
                                        </div>

                                        <div id="tabResolutionTemplate" class="tab-pane fade">
                                            <div class="row form-group">
                                                <div class="col-md-12 colpadding0">
                                                    <label class="control-label">Text</label>
                                                    @(Html.Kendo().EditorFor(m => m.ResolutionFormat)
                                                    .HtmlAttributes(new { style = "height:240px" })
                                                    .Encode(false)
                                                    .Events(e => e.Paste("onPasteRemoveTag"))
                                                    .Tools(tools => tools
                                                    .Clear().Formatting()
                                                    .FontName(fonts => fonts
                                                        .Add("Andale Mono", "Andale Mono")
                                                        .Add("Arial", "Arial")
                                                        .Add("Arial Black", "Arial Black")
                                                        .Add("Book Antiqua", "Book Antiqua")
                                                        .Add("Bookman Old Style", "Bookman Old Style")
                                                        .Add("Comic Sans MS", "Comic Sans MS")
                                                        .Add("Courier New", "Courier New")
                                                        .Add("Georgia", "Georgia")
                                                    )
                                                    .FontSize(size => size
                                                    .Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
                                                    .Bold().Italic().Underline().Strikethrough()
                                                    .SubScript().SuperScript()
                                                    .InsertUnorderedList().InsertOrderedList().Indent().Outdent()
                                                    .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                                    .TableEditing()
                                                    .CleanFormatting()
                                                ))
                                                </div>
                                            </div>
                                        </div>

                                        <div id="tabMinutesTemplate" class="tab-pane fade">
                                            <div class="row">
                                                <div class="col-md-12 colpadding0">
                                                    <label class="control-label">Heading</label>
                                                    @(Html.TextAreaFor(m => m.MinutesFormatHeading, new { @class = "k-textbox", @Id = "MinutesFormatHeading", style = "width: 100%; height:50px;", autocomplete = "off" }))
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 colpadding0">
                                                    <div class="tab" role="tabpanel">
                                                        <ul class="nav nav-tabs">
                                                            <li class="active"><a data-toggle="tab" id="mytabM1" href="#tabMiniteTemplate1">Approve/Recommended</a></li>
                                                            <li><a data-toggle="tab" id="mytabM2" href="#tabMiniteTemplate2">Disapprove/Not Recommended</a></li>
                                                            <li><a data-toggle="tab" id="mytabM3" href="#tabMiniteTemplate3">Defer</a></li>
                                                        </ul>
                                                        <div class="tab-content">
                                                            <div id="tabMiniteTemplate1" class="tab-pane fade in active">
                                                                @(Html.Kendo().EditorFor(m => m.MinutesFormat)
                                                    .HtmlAttributes(new { style = "height:240px" })
                                                    .Encode(false)
                                                    .Events(e => e.Paste("onPasteRemoveTag"))
                                                    //.Resizable(resizable => resizable.Content(false).Toolbar(true))
                                                    .Tools(tools => tools
                                                    .Clear().Formatting()
                                                    .FontName(fonts => fonts
                                                        .Add("Andale Mono", "Andale Mono")
                                                        .Add("Arial", "Arial")
                                                        .Add("Arial Black", "Arial Black")
                                                        .Add("Book Antiqua", "Book Antiqua")
                                                        .Add("Bookman Old Style", "Bookman Old Style")
                                                        .Add("Comic Sans MS", "Comic Sans MS")
                                                        .Add("Courier New", "Courier New")
                                                        .Add("Georgia", "Georgia")
                                                    )
                                                    .FontSize(size => size
                                                    .Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
                                                    .Bold().Italic().Underline().Strikethrough()
                                                    .SubScript().SuperScript()
                                                    .InsertUnorderedList().InsertOrderedList().Indent().Outdent()
                                                    .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                                    .TableEditing()
                                                    .CleanFormatting()
                                                ))

                                                            </div>

                                                            <div id="tabMiniteTemplate2" class="tab-pane fade">
                                                                @(Html.Kendo().EditorFor(m => m.MinutesDisApproveFormat)
                                                    .HtmlAttributes(new { style = "height:240px" })
                                                    .Encode(false)
                                                    .Events(e => e.Paste("onPasteRemoveTag"))
                                                    //.Resizable(resizable => resizable.Content(false).Toolbar(true))
                                                    .Tools(tools => tools
                                                    .Clear().Formatting()
                                                    .FontName(fonts => fonts
                                                        .Add("Andale Mono", "Andale Mono")
                                                        .Add("Arial", "Arial")
                                                        .Add("Arial Black", "Arial Black")
                                                        .Add("Book Antiqua", "Book Antiqua")
                                                        .Add("Bookman Old Style", "Bookman Old Style")
                                                        .Add("Comic Sans MS", "Comic Sans MS")
                                                        .Add("Courier New", "Courier New")
                                                        .Add("Georgia", "Georgia")
                                                    )
                                                    .FontSize(size => size
                                                    .Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
                                                    .Bold().Italic().Underline().Strikethrough()
                                                    .SubScript().SuperScript()
                                                    .InsertUnorderedList().InsertOrderedList().Indent().Outdent()
                                                    .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                                    .TableEditing()
                                                    .CleanFormatting()
                                                ))
                                                            </div>

                                                            <div id="tabMiniteTemplate3" class="tab-pane fade">
                                                                @(Html.Kendo().EditorFor(m => m.MinutesDifferFormat)
                                                    .HtmlAttributes(new { style = "height:240px" })
                                                    .Encode(false)
                                                    .Events(e => e.Paste("onPasteRemoveTag"))
                                                    //.Resizable(resizable => resizable.Content(false).Toolbar(true))
                                                    .Tools(tools => tools
                                                    .Clear().Formatting()
                                                    .FontName(fonts => fonts
                                                        .Add("Andale Mono", "Andale Mono")
                                                        .Add("Arial", "Arial")
                                                        .Add("Arial Black", "Arial Black")
                                                        .Add("Book Antiqua", "Book Antiqua")
                                                        .Add("Bookman Old Style", "Bookman Old Style")
                                                        .Add("Comic Sans MS", "Comic Sans MS")
                                                        .Add("Courier New", "Courier New")
                                                        .Add("Georgia", "Georgia")
                                                    )
                                                    .FontSize(size => size
                                                    .Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
                                                    .Bold().Italic().Underline().Strikethrough()
                                                    .SubScript().SuperScript()
                                                    .InsertUnorderedList().InsertOrderedList().Indent().Outdent()
                                                    .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                                    .TableEditing()
                                                    .CleanFormatting()
                                                ))
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;">
            <button type="submit" id="command_name" name="command_name" value="save" class="k-primary k-button k-grid-update k-button-icontext">Save</button>
            <button type="button" id="btnclose2" class="k-primary k-button">Close</button>
        </div>

        <script>

            $(document).ready(function () {
              
            });

            $("#btnclose2").click(function (e) {
                $("#wndAddNewAgendaItem").data("kendoWindow").close();
            });

        </script>

    }
</div>