﻿
@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.Agenda_SummitResponse

<style>
    .k-chart.small-chart1 {
        /*display: inline-block;*/
        position: relative;
        width: 307px;
        height: 101px;
    }

    .tab-pane p {
        color: #151414;
        font-size: 15px;
        text-align: right;
    }
</style>
<script>
    function onRequestEnd(e) {

        if (e.type == "update" && !e.response.Errors) {
            //alert("Update record is successfull");
            $("#step1Content").load("");
            if (e.response.Errors == null) {
                var divgridNewMessage = $("#divgridNewMessage");
                divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success alert-dismissible fade in'> <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a> <lable>Responses saved successfully.</lable></div></div></div>";
                $('#gridResponsees').data('kendoGrid').dataSource.read();

                $('#gridResponsees').data('kendoGrid').refresh();
            }
        }

        if (e.type == "create" && !e.response.Errors) {
            //For reloading Partial view
            $("#step1Content").load('@Url.Action("ReloadPieChart","Meetings")' + '?MeetingId=' + @Model.MeetingId )

            var divgridNewMessage = $("#divgridNewMessage");
            divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success alert-dismissible fade in'> <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a> <lable>Responses saved successfully.</lable></div></div></div>";

            $('#gridResponsees').data('kendoGrid').dataSource.read();

            $('#gridResponsees').data('kendoGrid').refresh();

        }
    }



    function setDataItemforRemarkCircular(item)
    {
        var grid = $("#gridResponsees").data("kendoGrid");
        var row = $(item).closest("tr");
        var dataItem = grid.dataItem(row);
        dataItem.Remark = $(item).val();
        dataItem.dirty = true;
    }
</script>

<script>
    var boolresponseA=[];
    var boolresponseD=[];
    var gridRowNumber = 0;

    function resetGridRowNumber(e) {
        gridRowNumber = 0;
    }
    function RowDataBound(e)
    {
        var grid = $("#gridResponsees").data("kendoGrid");
        var data = grid.dataSource.data();
        $.each(data, function (i, row) {
            if (row.Castingvote == "C") {
                $('tr[data-uid="' + row.uid + '"] ').css("background-color", "rgba(88, 110, 189, 0.44)");
                $('td').each(function () { $(this).addClass('white') });
            }
        });

        RemoveAlternateRowColor('gridResponsees');

        var page = parseInt($("#gridResponsees").data("kendoGrid").dataSource.page()) - 1;
        var pagesize = $("#gridResponsees").data("kendoGrid").dataSource.pageSize();
        return parseInt(++gridRowNumber + (parseInt(page) * parseInt(pagesize)));
    }
    function CircularResponses(item) {
        debugger;
        var grid = $("#gridResponsees").data("kendoGrid");
        var row = $(item).closest("tr");
        var dataItem = grid.dataItem(row);

        var ID;

        if ($(item).val() == "A") {
            dataItem.Response = "A";


        } else if ($(item).val() == "D") {
            dataItem.Response = "D";

        }
        else if ($(item).val() == "DIF") {
            dataItem.Response = "DIF";

        }
        else if ($(item).val() == "AB") {
            dataItem.Response = "AB";


        }
        else if ($(item).val() == "Atmeet") {
            dataItem.Response = "Atmeet";

        }
        dataItem.dirty = true;

    };
    $("#btnSave_AgendaResponse").click(function()
    {
        boolresponseD=[];
        boolresponseA=[];
        debugger;
        var grid = $("#gridResponsees").data("kendoGrid");
        var data = grid.dataSource.data();
        $.each(data, function (i, row) {
            debugger;
            if(row.Response!="A" && row.Remark=="" && row.Remark==null)
            {
                boolresponseD.push('D');
               
            }
            else
            {
                boolresponseA.push('A');
               
            }

        })
        debugger;
        if(boolresponseA.length==data.length)
        {
            var grid1 = $("#gridResponsees").data("kendoGrid");
            grid1.saveChanges();
            grid1.refresh();
        }
        else
        {
            var divgridNewMessage = $("#divgridNewMessage");
            divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-danger alert-dismissible fade in'> <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a> <lable>Please specify the reason if Agenda is not APProved</lable></div></div></div>";
        }
    })
</script>
<div>
    @*max-height:480px;*@
    <div class="row colpadding0">
        <div class="col-md-12 colpadding0" style="overflow-y:auto; overflow-x:hidden;">
            <div class="demo-section k-content">
                <ul class="k-widget k-panelbar k-reset k-header" id="panelbarAgendaResponse" data-role="panelbar" tabindex="0" role="menu">
                    <li class="k-item k-state-default k-first k-state-highlight k-state-active" aria-expanded="true" role="menuitem">
                        <span class="k-link k-header">Voting <span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span></span>
                        <div class="row colpadding0 mt30">
                            <div class="col-md-12 colpadding0">
                                <div class="row">
                                    <div class="col-md-12">
                                        @*Voting Paper of the Board Circular No. 1 dated @DateTime.Now.ToString("dd/MM/yyyy"), Resolution No. 1*@
                                        <div id="divgridNewMessage">
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row colpadding0 mt30">
                                <div class="col-md-12 colpadding0">

                                    @(Html.Kendo().Grid<BM_ManegmentServices.VM.Agenda_SummitResponse>()
                    .Name("gridResponsees")
                    .Columns(columns =>
                    {
                        //columns.Template(t => { }).Title("Sr No").ClientTemplate("#= renderGridRowNumber() #").Width(65);
                        columns.Bound(p => p.ParticipantName).HeaderTemplate("Participant").ClientGroupHeaderColumnTemplate("<div> #= value # </div>").Width("20%");
                        columns.Bound(p => p.Degignation).Title("Designation").Width("20%");
                        columns.Bound(c => c.Response).ClientTemplate(
                          "<label class='container1' for='rdbApproved#=data.uid#'>Approve<input id='rdbApproved#=data.uid#' name='#=data.uid#' onclick='CircularResponses(this);' #= Response == 'A' ? 'checked=checked' : '' #  #=  CircularResponseId >0 ? 'disabled=disabled' : ''# style='margin-left:0.5em;' type='radio' value='A'><span class='checkmark1'></span></label>" + "&nbsp; &nbsp;" +
                            "<label class='container1' for='rdbDisapprove#=data.uid#'>Disapprove<input id ='rdbDisapprove#=data.uid#' name = '#=data.uid#' onclick = 'CircularResponses(this);' #= Response == 'D' ? 'checked=checked' : '' #  #=  CircularResponseId >0 ? 'disabled=disabled' : ''# style='margin-left:0.5em;' type='radio' value='D'><span class='checkmark1'></span></label>" + "&nbsp; &nbsp;" +
                            "<label class='container1' for='rdbAbstain#=data.uid#'>Abstain<input id = 'rdbAbstain#=data.uid#' name='#=data.uid#' onclick='CircularResponses(this);' #= Response== 'AB' ? 'checked=checked' : '' #  #=  CircularResponseId >0 ? 'disabled=disabled' : ''# style='margin-left:0.5em;' type='radio' value='AB'><span class='checkmark1'></span></label>" + "&nbsp; &nbsp;" +
                            "<label class='container1' for='rdbatmeet#=data.uid#'>At Meeting<input id = 'rdbrdbatmeet#=data.uid#' name='#=data.uid#' onclick='CircularResponses(this);' #= Response== 'Atmeet' ? 'checked=checked' : '' #  #=  CircularResponseId >0 ? 'disabled=disabled' : ''# style='margin-left:0.5em;' type='radio' value='Atmeet'><span class='checkmark1'></span></label>").Width("40%");

                        columns.Bound(p => p.Remark).Title("Remarks/Reason").ClientTemplate("<input id = 'rdbRemark'  onchange='setDataItemforRemarkCircular(this);' #= Remark #  style='width:100%' class='k-input k-textbox' type='textbox' value='#=Remark !=null?Remark:''#'>").HtmlAttributes(new { TextMode = "MultiLine", @required = "required" }).Width("20%");

                    })
                    .Editable(editable => editable.Mode(GridEditMode.InCell).CreateAt(GridInsertRowPosition.Bottom))
                    .DataSource(dataSource => dataSource
                    .Ajax()
                    .Batch(true)
                    .Events(e => e.RequestEnd("onRequestEnd"))
                    .ServerOperation(false)
                    .Aggregates(aggregates =>
                    {
                        aggregates.Add(p => p.AgendaName).Count();
                    })
                    .Group(groups => groups.Add(c => c.AgendaName))
                    .Read(read => read.Action("GetAgendaResponse", "Meetings", new { MeetingID = Model.MeetingId, ViewType = "" }).Type(HttpVerbs.Get))
                    .Update(update => update.Action("UpdateAgendaResponse", "Meetings"))
                    .Create(update => update.Action("UpdateAgendaResponse", "Meetings"))
                    .Model(model =>
                    {
                        model.Id(p => p.MeetingAvailabilityId);
                        model.Field(p => p.AvailabilityResponseID);
                        model.Field(p => p.MeetingParticipantId).Editable(false);
                        model.Field(p => p.MeetingId);
                        model.Field(p => p.PreferenceId).Editable(false);
                        model.Field(p => p.AgendaId).Editable(false);
                        model.Field(p => p.AgendaName).Editable(false);
                        model.Field(p => p.ParticipantName).Editable(false);
                        model.Field(p => p.Response).Editable(false);
                        model.Field(p => p.Degignation).Editable(false);
                        model.Field(p => p.Castingvote).Editable(false);
                        model.Field(p => p.Remark).Editable(false);
                    })).Events(e=>e.DataBound("RowDataBound")))
                            </div>

                            <div class="k-edit-buttons k-state-default mt30" style="background:!important;background:none;width:100%;">
                                <button type="button" id="btnSave_AgendaResponse" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </li>

                    <li class="k-item" aria-expanded="true" role="menuitem">
                        <span class="k-link k-header" id="spanAgendaItemB">Voting Result<span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span></span>

                        <div id="step1Content">
                            @Html.Partial("_CircularAgendaResponsesPiachart", Model.MeetingId)
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>

</script>
<script type="text/javascript">



    //register custom validation rules
    //(function ($, kendo) {
    //    $.extend(true, kendo.ui.validator, {
    //        rules: { // custom rules
    //            productnamevalidation: function (input, params) {
    //                if (input.is("[name='RemarkorResponse']") && input.val() != "") {
    //                    input.attr("data-RemarkorResponsevalidation-msg", "Please Enter Remark");
    //                    return /^[a-zA-z]/.test(input.val());
    //                }

    //                return true;
    //            }
    //        },
    //        messages: { //custom rules messages
    //            productnamevalidation: function (input) {
    //                // return the message text
    //                return input.attr("data-val-RemarkorResponsevalidation");
    //            }
    //        }
    //    });
    //})(jQuery, kendo);
</script>

<script>
    $(document).ready(function () {
        $("#panelbarAgendaResponse").kendoPanelBar({
            expandMode: "single"
        });
    });
</script>


