﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.PreviewAgendaVM

@if (Model != null)
{
    var SrNo = 0;
    var strMeetingSrNo = "";
    var adjourned = (@Model.IsAdjourned == true ? " (Adjourned)" : "");

    if (Model.MeetingSrNo !=null)
    {
        var MeetingSrNo = Model.MeetingSrNo;
        if (MeetingSrNo ==1)
        {
            strMeetingSrNo = "1<sup>st</sup>";
        }
        else if (MeetingSrNo == 2)
        {
            strMeetingSrNo = "2<sup>nd</sup>";
        }
        else if (MeetingSrNo == 3)
        {
            strMeetingSrNo = "3<sup>rd</sup>";
        }
        else
        {
            strMeetingSrNo = MeetingSrNo +"<sup>th</sup>";
        }
    }

    if (Model.GenerateMinutes!=true)
    {
        <div id="divAgendaPreview">
            <div id="divEntityLetterHead" class="myHeading">
                <h3>@Model.EntityName</h3>
                <h6 style="text-align:center">@Model.EntityAddressLine1<br />@Model.EntityAddressLine2</h6>
                @if (Model.EntityCIN_LLPIN != "0")
                {
                    <h6 style="text-align:center">@Model.EntityCIN_LLPIN</h6>
                }
                <h4>AGENDA FOR THE @Html.Raw(strMeetingSrNo)@adjourned @Model.MeetingTypeName.ToUpper() MEETING</h4>
            </div>

            <div>
                <table style="width:80%">
                    <tr>
                        <td style="width:4%"></td>
                        <td style="width:10%">DATE</td>
                        <td style="width:1%">:</td>
                        @if (Model.MeetingDate.HasValue)
                        {
                            <td style="width:70%">@Convert.ToDateTime(Model.MeetingDate).ToString("MMMM dd, yyyy") </td>
                        }
                        else
                        {
                            <td style="width:70%"></td>
                        }

                    </tr>

                    <tr>
                        <td></td>
                        <td>DAY</td>
                        <td>:</td>
                        @if (Model.MeetingDate.HasValue)
                        {
                            <td>@Convert.ToDateTime(Model.MeetingDate).ToString("dddd") </td>
                        }
                        else
                        {
                            <td></td>
                        }
                    </tr>

                    <tr>
                        <td></td>
                        <td>TIME</td>
                        <td>:</td>
                        <td>@Model.MeetingTime</td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>VENUE</td>
                        <td>:</td>
                        <td>@Model.MeetingVenue</td>
                    </tr>
                </table>
            </div>
            <br />
            <div class="myIndex">
                @foreach (var item in Model.lstAgendaItems)
                {
                    SrNo++;
                    <h3 class="">@SrNo. @Html.Raw(item.AgendaItemText)</h3>
                }
            </div>

            @{ 
                SrNo = 0;
            }

            <div id="main-content-agenda-preview" class="mycollapse">
                @foreach (var item in Model.lstAgendaItems)
                {
                    SrNo++;
                    <div id="blogs" class="widget">
                        <h3>Item @SrNo</h3>
                        <div>
                            <h4>@SrNo. @Html.Raw(item.AgendaItemText)</h4>
                            <p class="blog-info"></p>
                            <div>
                                @Html.Raw(item.AgendaFormat)
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    }
    else
    {
        <div id="divMOMPreview">
            @if (Model.meetingMinutesDetails != null)
            {
                @Html.Partial("_MOM_Details", Model.meetingMinutesDetails)
            }
            else
            {
                @Html.Partial("_MOM_Details", new BM_ManegmentServices.VM.MeetingMinutesDetailsVM() { MOM_MeetingId = Model.MeetingID})
            }

            <div id="divEntityLetterHead" class="myHeading">
                <h3 >MINUTES OF THE @Html.Raw(strMeetingSrNo)@adjourned MEETING OF THE @Model.MeetingTypeName.ToUpper() OF @Model.EntityName.ToUpper() HELD ON @Convert.ToDateTime(Model.MeetingDate).ToString("dddd").ToUpper(), @Convert.ToDateTime(Model.MeetingDate).ToString("MMMM dd, yyyy").ToUpper(), AT @Model.MeetingTime.ToUpper() AT @Model.MeetingVenue.ToUpper()</h3>
            </div>
            <br />
            <div style="margin-left:20px;">
                
                @if (Model.lstMeetingAttendance != null)
                {
                    if (Model.lstMeetingAttendance.Count > 0)
                    {
                        <b>PRESENT</b><br />
                        <table style="width:100%">
                            @foreach (var item in Model.lstMeetingAttendance.Where(k => k.Attendance == "P"))
                            {
                                <tr>
                                    <td style="width:40%"><b>@item.MeetingParticipant_Name</b></td>
                                    <td style="width:60%">@item.Designation</td>
                                </tr>
                            }
                        </table>
                        <div>
                            The meeting commenced at @Model.MeetingStartTime.<br /><br />
                            <b>Chairman</b><br />
                            @if (Model.lstMeetingAttendance.Where(k => k.Position == 1 && k.Attendance == "P").FirstOrDefault() != null)
                            {
                                <b>@Model.lstMeetingAttendance.Where(k => k.Position == 1 && k.Attendance == "P").FirstOrDefault().MeetingParticipant_Name </b><span>presided as the Chairman of the meeting.</span> 
                            }
                        </div>
                    }
                }
            </div>

            <div id="main-content-agenda-preview" class="mycollapse">
                @foreach (var item in Model.lstAgendaItems)
                {
                    SrNo++;
                    <div id="blogs" class="widget">
                        <div style="float:right">
                            <button type="button" class="k-button k-button-icontext k-grid-Edit k-grid-edit" style="border-radius:25px;" onclick="editMinutesOfMeeting('@item.Meeting_Id','@item.MeetingAgendaMappingID')"><span class="k-icon k-edit"></span>Edit</button>
                        </div>
                        <div>
                            <h4>@SrNo. <span id="spMOMText_@item.MeetingAgendaMappingID"> @Html.Raw(item.AgendaItemText)</span></h4>
                            <p class="blog-info"></p>
                            <div id="divMOMFormat_@item.MeetingAgendaMappingID">
                                @Html.Raw(item.AgendaFormat)
                            </div>
                        </div>
                    </div>
                }

                <div id="blogs" class="widget">
                    <div>
                        <h4>@Html.Raw("Vote of Thanks")</h4>
                        <p class="blog-info"></p>
                        <div>
                            @Html.Raw("There being no other matter to be transacted, the meeting concluded at " + Model.MeetingEndTime + ". with a vote of thanks to the Chair.")
                        </div>
                    </div>
                </div>

                <div>
                    <table style="width:90%">
                        @if (Model.meetingMinutesDetails != null)
                        {
                            <tr>
                                <td style="width:55%">Place : @Model.meetingMinutesDetails.Place</td>
                                <td style="width:45%"><b>Chairman</b></td>
                            </tr>

                            <tr>
                                <td>Date of entering minutes : @(Model.meetingMinutesDetails.DateOfEntering.HasValue ? Convert.ToDateTime(Model.meetingMinutesDetails.DateOfEntering).ToString("dd/MM/yyyy") : "")</td>
                                <td>Date of signing minutes : @(Model.meetingMinutesDetails.DateOfSigning.HasValue ? Convert.ToDateTime(Model.meetingMinutesDetails.DateOfSigning).ToString("dd/MM/yyyy") : "")</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td style="width:60%">Place</td>
                                <td style="width:40%"><b>Chairman</b></td>
                            </tr>

                            <tr>
                                <td>Date of entering minutes</td>
                                <td>Date of signing minutes</td>
                            </tr>
                        }
                    </table>
                </div>

                <div>
                    <div style="margin-top: 6px;">
                        <a id="lnkDownloadDoc" href='@Url.Action("DownloadMinutesDocumnet", "Meetings",new { MeetingId = Model.MeetingID} )' target="_blank">
                            <img src='@Url.Content("~/Images/icon-download.png")' />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
}

<script>
    //exapand
    $(".mycollapse").on("click", "span.k-i-sort-desc-sm", function (e) {
        var contentElement = $(e.target).closest(".widget").find(">div");
        $(e.target)
            .removeClass("k-i-sort-desc-sm")
            .addClass("k-i-sort-asc-sm");

        kendo.fx(contentElement).expand("vertical").stop().play();
    });

    //collapse
    $(".mycollapse").on("click", "span.k-i-sort-asc-sm", function (e) {
        var contentElement = $(e.target).closest(".widget").find(">div");
        $(e.target)
            .removeClass("k-i-sort-asc-sm")
            .addClass("k-i-sort-desc-sm");

        kendo.fx(contentElement).expand("vertical").stop().reverse();
    });

</script>
