﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VM_AgendaDocument
@*, OnBegin = "OnOpen", OnComplete = "OnRefreshNewMeeting"*@
@using (Ajax.BeginForm("UploadAgendaFile", "Meetings", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divAgendaFileUpload", OnBegin = "onUploadingFiles" }, new { id = "frmAgendaDocumentUpload", enctype = "multipart/form-data" }))
{
    if (Model.Success)
    {
        <div class="row">
            <div class="col-md-12 colpadding0">
                <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <label>@Model.Message</label>
                </div>
            </div>
        </div>
    }
    else if (Model.Error)
    {
        <div class="row">
            <div class="col-md-12 colpadding0">
                <div class="alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <lable>@Model.Message</lable>
                </div>
            </div>
        </div>
    }
    @Html.HiddenFor(m => m.MeetingAggendaMappingId)
    @Html.HiddenFor(m => m.AgendaDocumentMeetingId)
    <div class="row colpadding0">
        <div class="col-md-12 colpadding0">
            <div class="upload-loading"></div>
            <div class="demo-section k-content">
                @(Html.Kendo().Upload()
                    .Name("files")
                    .Validation( v => v.AllowedExtensions(new string[]{ "DOC", "DOCX", "PDF", "BMP" , "JPEG", "JPG", "PNG", "TIFF", "ICO", "ICON" }))
                    .HtmlAttributes(new { aria_label = "files" , @Id = "files" })
                )
                <p style="padding-top: 0.5em;">
                    Note : Extention allowed - .doc, .docx, .pdf, .bmp, .jpeg, .jpg, .png
                </p>
                <p style="text-align: right">
                    <button type="submit" class="k-button k-primary">Upload</button>
                </p>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            debugger;
            if ('@Model.Success' == 'true' || '@Model.Success' == 'True') {
                $('#gridAgendaDocumentItem').data('kendoGrid').dataSource.read();
                if ($("#treeview1").data("kendoTreeView") != null) {
                    if ($.isFunction(window.loadTreeViewData)) {
                        loadTreeViewData(true);
                    }
                }
            }
        });
    </script>

    <script>
        function onUploadingFiles() {
            kendo.ui.progress($(".upload-loading"), true);
        }
        function onUploadFilesCompleted() {
            kendo.ui.progress($(".upload-loading"), false);
        }
    </script>
}
