﻿@using Kendo.Mvc.UI;
@model long

<script type="text/javascript">
    $(document).ready(function () {
        //$("#AgendaPieChart").kendoGrid();
    });
    $(".k-grid table").addClass("table table-condensed");
</script>
<style>
    table, tr, td {
  border: 1px solid #cccccce8;
}
    /*.k-block, .k-draghandle, .k-grid-header, .k-grouping-header, .k-header, .k-pager-wrap, .k-toolbar, .k-treemap-tile, html .km-pane-wrapper .k-header {
    background-color: #bbb6b7;
}*/
</style>

<div class="row colpadding0">

    <div class="col-md-12 colpadding0">
        @{int chart_Id = 0;
            string dateStr = "";

        }
        <div class="row colpadding0 mt30">
            <table class="col-md-12 table" id="AgendaPieChart">
                <thead>
                    <tr>
                        <th>
                            Agenda
                        </th>
                        <th>
                            Agenda Responses
                        </th>
                        <th>
                            Result
                        </th>
                    </tr>
                </thead>
                @if (ViewBag.DetailsOfAgenda_Grid != null)
                {
                    foreach (var item in ViewBag.DetailsOfAgenda_Grid)
                    {
                        chart_Id++;
                    <tbody>
                        <tr>
                            <td class="col-md-5">
                                @*@item.AgendaName*@
                                @Html.Raw(item.AgendaName)
                            </td>
                            <td class="col-md-3">
                                @(Html.Kendo().Chart<BM_ManegmentServices.VM.AvailabilityResponseChartData_ResultVM>()
                                .Name("chart1_" + chart_Id)
                                        .Title(title => title
                                            .Text(dateStr)
                                            .Position(ChartTitlePosition.Top))
                                            .HtmlAttributes(new { @class = "small-piechart1" })
                                .Legend(legend => legend
                                    .Visible(true)
                                .Position(ChartLegendPosition.Right)
                                ).DataSource(ds => { ds.Read(read => read.Action("GetAgendaResponseChartData", "Meetings", new { MeetingId = item.MeetingId, AgendaId = item.AgendaId, MappingId = item.MeetingAgendaMappingId })); })
                                .ChartArea(chart => chart
                                    .Background("transparent")
                                      .Height(165)
                                .Width(300)

                                    )
                                .Series(series => series
                                            .Pie(model => model.Response_Count, model => model.Category, model => model.Color)
                                            .StartAngle(150)
                                        )
                                .Tooltip(tooltip => tooltip
                                    .Visible(true)

                                .Template("#= chartToolTipTemplate(dataItem.lstParticiapants,dataItem.Category, dataItem.Response_Count) #")
                                )
                                //.Events(events => events
                                // .SeriesClick("onSeriesClick")
                                )


                            </td>
                            <td class="col-md-2">
                                @item.CircularAgendaResultVM.Remark
                            </td>
                        </tr>
                    </tbody>
                    }
                }

            </table>
        </div>
    </div>
</div>

