﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.DeleteAgendaVM

<div id="divDetailsOfAgendaDelete">
    @using (Ajax.BeginForm("DeleteAgendaItem", "Meetings", null, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "divDetailsOfAgendaDelete", OnBegin = "OnOpen", OnComplete = "OnRefresh", InsertionMode = InsertionMode.Replace }, new { id = "frmDeleteAgendaItem" }))
    {
        @(Html.HiddenFor(m => m.MeetingId_del))
        @(Html.HiddenFor(m => m.MeetingAgendaMappingId_del))
        @(Html.HiddenFor(m => m.AllowDelete))

        if (Model.Success)
        {
            <div class="row">
                <div class="col-md-12 colpadding0">
                    <div class="alert alert-success alert-dismissible">
                        <lable id="lblsuccessI">@Html.Raw(Model.Message)</lable>
                    </div>
                </div>
            </div>
        }
        else if (Model.Error)
        {
            <div class="row">
                <div class="col-md-12 colpadding0">
                    <div class="alert alert-danger alert-dismissible">
                        <lable id="lblerrormsgI">@Html.Raw(Model.Message)</lable>
                    </div>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-md-12 colpadding0">
                <div>@Model.MessageDetails</div>
            </div>
        </div>
        if (Model.AllowDelete == true)
        {
            <div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;">
                <button type="Submit" class="k-primary k-button k-grid-update k-button-icontext">Yes</button>
                <button id="btnCloseDeleteAgendaItem" onclick="closeDeleteAgendaWindow()" type="button" class="k-primary k-button k-grid-update k-button-icontext">No</button>
            </div>
        }
        else
        {
            <div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;">
                <button id="btnCloseDeleteAgendaItem" onclick="closeDeleteAgendaWindow()" type="button" class="k-primary k-button k-grid-update k-button-icontext">Close</button>
            </div>
        }

        <script>
            $(document).ready(function () {
                if ("@Model.Success" == "True") {
                    var grid = $("#gridAGMVoting").data("kendoGrid");
                    if (grid != null && grid != undefined) {
                        grid.dataSource.read();
                    }
                }
            });
        </script>
    }
</div>
