﻿@using Kendo.Mvc.UI;
@model dynamic

<script type="text/javascript">

    function error_handlerA(e) {
        
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
        else {
            alert('Save Successfully.');
        }
    }

    $(function () {
        $('#gridAgendaSelect').on('click', '.chkbx', function () {
            var checked = $(this).is(':checked');
            var grid = $('#gridAgendaSelect').data().kendoGrid;
            var dataItem = grid.dataItem($(this).closest('tr'));
            dataItem.set('IsCheked', checked);
        })
    })

    function checkAll(ele) {
        var state = $(ele).is(':checked');
        var grid = $('#gridAgendaSelect').data().kendoGrid;
        $.each(grid.dataSource.view(), function () {
            if (this['IsCheked'] != state)
                this.dirty = true;
            this['IsCheked'] = state;
        });
        grid.refresh();
    }


    $("#btnSaveAgendaItemSelected").click(function (e) {
        var divgridAgendaSelectMessage = $("#divgridAgendaSelectMessage");
        divgridAgendaSelectMessage[0].innerHTML = "";

        var grid = $("#gridAgendaSelect").data("kendoGrid");
        grid.saveChanges();
    });

    function getDataForAgendaItemSelect() {
        var result = {
            MeetingId: "@Model.MeetingId",
            Part: "@Model.Part",
            MeetingCircular: "@Model.MeetingCircular",
            showPendingAgenda :"@Model.showPendingAgenda"
        };
        return result;
    }

    function getDataForDetailsOfOpenAgendaItem(e) {
        return { MappingID: e };
    }

    function onRowBoundHistory(e) {

        GetICons();
        $("#gridAgendaSelect tr.k-alt").removeClass("k-alt");

        var grid = $("#gridAgendaSelect").data("kendoGrid");
        var gridData = grid.dataSource.view();
        //
        for (var i = 0; i < gridData.length; i++) {
            var currentUid = gridData[i].uid;

            if (gridData[i].HasInfo == false) {
                var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                var cButton = $(currenRow).find(".k-grid-ainfo").addClass("k-state-disabled");
            }

            if (gridData[i].StartMeetingId == null) {
                    var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                    var editButton = $(currenRow).find(".k-grid-h").addClass("k-state-disabled");
            }
        }
    }

    function Request_End(e) {
        if (e.type == "create" || e.type == "update") {
            debugger;
            var isComplianceMappingPending = false;
            var lstAgendaItems = "";
            var data = e.response.Data;
            if (data != undefined && data != null) {
                for (var i = 0; i < data.length; i++) {
                    lstAgendaItems += (i + 1) + ". " + data[i].Agenda + "<br>";
                    isComplianceMappingPending = true;
                }
            }
            if (e.response.Errors == null) {
                var divgridAgendaSelectMessage = $("#divgridAgendaSelectMessage");
                if (isComplianceMappingPending == false) {
                    divgridAgendaSelectMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success'> <lable>Save Successfully.</lable></div></div></div>";
                }
                else {
                    divgridAgendaSelectMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-danger'> Compliance Assignment pending for following agenda <br>" +
                        lstAgendaItems +
                        "</div></div></div>";
                }
                
            }

            var MeetingID = "@Model.MeetingId";
            $.ajax({
                type: "POST",
                url: "@Url.Action("CheckPendingPreCommitteeAgendaItems", "Meetings")",
                data: "{MeetingId: " + MeetingID + "}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if(response.length > 0) {
                        showPendingPreCommitteeAgendaItems();
                    }
                },
            });
            //if ("@@Model.showPendingAgenda" == "True") {
            //    $('#gridAgendaSelect').data('kendoGrid').dataSource.read();
            //}
            $('#gridAgendaSelect').data('kendoGrid').dataSource.read();
        }
    }
</script>

<script>
    function getAgendaToolTip(e) {
    @*var dataItem = $("#gridAgendaSelect").data("kendoGrid").dataItem(e.target.closest("tr"));
    //var content = dataItem.IsMeetingCompleted;

    if ("@Model.showPendingAgenda" != "True" && dataItem.RefPendingMappingID != null) {
        return dataItem.RefMeeting + " - " + dataItem.AgendaHeading;
    }
    else if ("@Model.showPendingAgenda" == "True") {
        return dataItem.RefResult;
    }
    else {
        return  dataItem.AgendaHeading;
    }*@
}
</script>


<style>
    .k-detail-cell .k-grid .k-header {
        display: none;
    }
</style>

<script id="detail-template" type="text/x-kendo-template">
    <div>
        AgendaHeading: <input name="AgendaHeading1" class="k-textbox" value="#: AgendaHeading #" />
    </div>
    <div>
        Agenda: <input name="Agenda1" class="k-textbox" value="#: Agenda #" />
    </div>
</script>

<script id="detailAgendaChart" type="text/x-kendo-template">
    @(Html.Kendo().Chart<BM_ManegmentServices.VM.AvailabilityResponseChartData_ResultVM>()
                                    .Name("chart")
                                            .Title(title => title
                                                //.Text(dateStr)
                                                .Position(ChartTitlePosition.Top))
                                                .HtmlAttributes(new { @class = "small-chart" })
                                    .Legend(legend => legend
                                        .Visible(true)
                                    .Position(ChartLegendPosition.Right)
                                    ).DataSource(ds => { ds.Read(read => read.Action("GetAgendaResponseChartData", "MainMeeting", new { MeetingId = "#=MeetingId#", AgendaId = "#=AgendaID#", MappingId = "#=MeetingAgendaMappingID#" })); })
                                    .ChartArea(chart => chart
                                        .Background("transparent")

                                        )
                                    .Series(series => series
                                                .Pie(model => model.Response_Count, model => model.Category, model => model.Color)
                                                .StartAngle(150)
                                            )
                                    .Tooltip(tooltip => tooltip
                                        .Visible(true)

                                    .Template("#= chartToolTipTemplate(dataItem.lstParticiapants,dataItem.Category, dataItem.Response_Count) #")
                                    ).ToClientTemplate()
    )
</script>

<script id="detailAgenda1-template" type="text/x-kendo-template">

    @(Html.Kendo().Grid<BM_ManegmentServices.VM.OpenAgendaDetailsVM>()
                        .Name("grid_#=RefPendingMappingID#")
                        .Columns(columns =>
                        {
                            columns.Bound(p => p.MeetingTypeName).ClientTemplate("<div><table style='width:100%;'><tr><td style='padding:10px 30px 0px 15px;vertical-align:top;'><h1 style='cursor:pointer;font-size:16px;line-height:1.4;margin-top:0px;padding-bottom: 0px;margin-bottom: 0px;font-weight:bold;'>\\#:data.MeetingCircular\\# \\#: data.MeetingTypeName\\# </h1><p style='line-height:1.4;'>\\#:data.AgendaItemText\\#</p></td></tr></table></div>");
                            columns.Bound(o => o.MeetingSrNo).ClientTemplate("//#detailAgendaChart//#").Width(150);
                            //columns.Bound(o => o.AgendaItemText);
                        })
                        .HtmlAttributes(new { @class = "noheader" })
                        .DataSource(dataSource => dataSource
                        .Ajax()
                        .Model(model =>
                        {
                            model.Id(o => o.SrNo);
                            model.Field(o => o.MeetingSrNo);
                            model.Field(o => o.MeetingId);
                            model.Field(o => o.MeetingAgendaMappingID);
                            model.Field(o => o.AgendaID);
                            model.Field(o => o.MeetingTypeName);
                            model.Field(o => o.MeetingCircular);
                            model.Field(o => o.AgendaItemText);
                        })
                        //.Read(read => read.Url("DetailTemplate_HierarchyBinding_Orders") , new { employeeID = "#=EmployeeID#" }))
                        .Read(read => read.Url("/api/AgendaMasterAPI/GetDetailsOfOpenAgendaItem").Data("getDataForDetailsOfOpenAgendaItem(#=RefPendingMappingID#)").Type(HttpVerbs.Get))
                        )
                        //.Pageable(false)
                        .Sortable()
                        .ToClientTemplate())
</script>

<script>
    function detailInit(e) {
        var detailRow = e.detailRow;

        $(".noheader .k-grid .k-grid-header").hide();
//        detailRow.find(".noheader").kendoGrid({});
    }

    function chartToolTipTemplate(item, category, count) {

        var template = "<div>" + category + " : " + count + "</div> <div style='text-align:left'>";
        for (var i = 0; i < item.length; i++) {
            var tag = item[i];
            template += kendo.format("<li>{0}</li>", tag.ParticipantName, tag.Email);
        }
        template += "</div>";
        return template;
    }

    function detailsDataBound(e) {
        var closestGridElement = e.sender.element.closest('[data-role="grid"]');
        var id = closestGridElement.attr('id');
        console.log(id);


        $(".k-grid-d").kendoTooltip({
            //filter: "td",
            content: "Documents",
            width: 100,
            position: "top"
        });

        $(".k-grid-n").kendoTooltip({
            //filter: "td",
            content: "Notes",
            width: 100,
            position: "top"
        });

        $(".k-grid-mi").kendoTooltip({
            //filter: "td",
            content: "Minutes",
            width: 100,
            position: "top"
        });

        $(".k-grid-c").kendoTooltip({
            //filter: "td",
            content: "Compliances",
            width: 100,
            position: "top"
        });

        var grid = this;
        $("#"+id+" .chart").each(function(){
            var chart = $(this);
            var tr = chart.closest('tr');
            var model = grid.dataItem(tr);

            chart.kendoChart({
                dataSource: {
                    transport: {
                        read: {
                            url: "@Url.Action("GetAgendaResponseChartData", "MainMeeting")" + "?MeetingId=" + model.MeetingId + "&AgendaId=" + model.AgendaID + "&MappingId=" + model.MeetingAgendaMappingID,
                            dataType: "json",
                            type :"Post",
                        }
                    }
                },
                title: {
                    text: model.ResultRemark,
                    //position: "bottom",
                    visible :false
                },
                chartArea:{
                    background: "transparent"
                },
                legend: {
                    position: "bottom",
                    visible : true
                },
                seriesDefaults: {
                    type: "pie"
                },
                series: [{
                    field: "Response_Count",
                    categoryField: "Category",
                    colorField: "Color",
                    padding: 0
                }],
                tooltip: {
                    visible: true,
                    format: "N0",
                    //template: "#= category # - #= kendo.format('{0:P}', percentage)#"
                    template:"#= chartToolTipTemplate(dataItem.lstParticiapants,dataItem.Category, dataItem.Response_Count) #"
                }
            });
        })
        
        var gridData = grid.dataSource.view();
       
        for (var i = 0; i < gridData.length; i++) {
            var currentUid = gridData[i].uid;
            var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");

            var p = $(currenRow).find(".p-my-agendaItemText");
            p[0].innerHTML = "<strong>"+gridData[i].AgendaItemText+"</strong>";
            
                var div = $(currenRow).find(".myEditors");
                if (div.length > 0) {
                    div[0].innerHTML = gridData[i].AgendaFormat;
                }
        }
    }
</script>

<script>
    function javascriptTemplate(d) {
        return d;//kendo.html("<div style='max-height: 300px'>"+d +"</div>");
    }

    function javascriptTemplateForhref() {
        return "aa";
    }
</script>

<script id="detailAgenda-template" type="text/x-kendo-template">
        @(Html.Kendo().Grid<BM_ManegmentServices.VM.OpenAgendaDetailsVM>()
                        .Name("grid_#=RefPendingMappingID#")
                        .Columns(columns =>
                        {
                        columns.Bound(p => p.MeetingTypeName).ClientTemplate("<div class='mydetailstr'><table style='width:100%;'>" +
                                                                                "<tr class='hidden'>" +
                                                                                "<td colspan='2'>" +
                                                                                //"<a onclick='viewAgendaDocumentsUpload(\\#:data.MeetingAgendaMappingID\\#)'  style='float:right'><img src='/Images/eyedoc.png'/></a>" +
                                                                                "<input type = 'button' value='Documents' class='k-button k-grid-d' onclick='viewAgendaDocumentsUpload(\\#:data.MeetingAgendaMappingID\\#)'>" +
                                                                                "<input type = 'button' value='Notes' class='k-button k-grid-n' onclick='viewNotesDetails(\\#:data.MeetingId\\#,\\#:data.AgendaID\\#)'>" +
                                                                                "<input type = 'button' value='Minutes' class='k-button k-grid-mi' onclick='viewMinutesOfMeeting(\\#:data.MeetingId\\#,\\#:data.MeetingAgendaMappingID\\#)'>" +
                                                                                "<input type = 'button' value='Compliances' class='k-button k-grid-c' onclick='viewAgendaDocumentsUpload(\\#:data.MeetingAgendaMappingID\\#)'>" +
                                                                                "</td>" +
                                                                                "</tr>" +
                                                                                "<tr>" +
                                                                                "<td style='vertical-align:top;width:50%;'>"+
                                                                                "<h1 style='cursor:pointer;font-size:16px;line-height:1.4;margin-top:0px;padding-bottom: 0px;margin-bottom: 0px;font-weight:bold;'>\\#: data.MeetingTypeName\\# \\#:data.MeetingCircular\\# \\#:data.MeetingSrNo\\#/\\#:data.FYText\\#</h1>" +
                                                                                "<strong>\\#= MeetingDate == null ? '' : kendo.toString(MeetingDate, \"MMM dd, yyyy hh:mm tt\")\\# \\#=data.MeetingTime == null ? '' : data.MeetingTime \\#</strong>"+
                                                                                "</td>" +
                                                                                "<td style='border:none;'>" +
                                                                                //"<a onclick='viewAgendaDocumentsUpload(\\#:data.MeetingAgendaMappingID\\#)'  style='float:right'><img src='/Images/eyedoc.png'/></a>" +
                                                                                "<input type = 'button' value='Documents' class='k-button k-grid-d' onclick='viewAgendaDocumentsUpload(\\#:data.MeetingAgendaMappingID\\#)'>" +
                                                                                "<input type = 'button' value='Notes' class='k-button k-grid-n' onclick='viewNotesDetails(\\#:data.MeetingId\\#,\\#:data.AgendaID\\#)'>" +
                                                                                "<input type = 'button' value='Minutes' class='k-button k-grid-mi' onclick='viewMinutesOfMeeting(\\#:data.MeetingId\\#,\\#:data.MeetingAgendaMappingID\\#)'>" +
                                                                                "<input type = 'button' value='Compliances' class='k-button k-grid-c' onclick='ComplianceMapping(\\#:data.AgendaID\\#,\\#:data.MeetingId\\#)'>" +
                                                                                "</td>" +
                                                                                //"<td style='border:none;'><strong>\\#= MeetingDate == null ? '' : kendo.toString(MeetingDate, \"MMMM dd, yyyy\")\\# \\#=data.MeetingTime == null ? '' : data.MeetingTime \\#</strong></td>" +
                                                                                "</tr>" +
                                                                                "<tr>" +
                                                                                "<td colspan='2'>" +
                                                                                "<div class='p-my-agendaItemText' style='font-size:17px;'>\\#:data.AgendaItemText\\#</div>" +
                                                                                "</td>" +
                                                                                "</tr>" +
                                                                                "<tr>" +
                                                                                "<td colspan='2'> <div id='myDiv_\\#:data.MeetingAgendaMappingID\\#' class='myEditors' style='min-height:20px;max-height:140px;overflow-x:hidden;overflow-y:auto;'></div>" +
                                                                                //"<div class='chart' style='height:200px;'></div>"+
                                                                                "</td>" +
                                                                                 "</tr>" +

                                                                                "</table></div>").HtmlAttributes(new { @style = "vertical-align:top;" });
                        columns.Template(@<text></text>).ClientTemplate("<div class='text-center'><strong>\\#:data.ResultRemark\\#</strong></div><div class='chart' style='height:200px;margin-top:10px;'></div>").Width(150).HtmlAttributes(new { @style="vertical-align:top;"});

                        })
                        .Events(e => e.DataBound("detailsDataBound"))
                        .HtmlAttributes(new { @class = "noheader" })
                        .DataSource(dataSource => dataSource
                        .Ajax()
                        .Model(model =>
                        {
                            model.Id(o => o.SrNo);
                            model.Field(o => o.MeetingSrNo);
                            model.Field(o => o.FYText);
                            model.Field(o => o.MeetingId);
                            model.Field(o => o.MeetingDate);
                            model.Field(o => o.AgendaID);
                            model.Field(o => o.MeetingAgendaMappingID);
                            model.Field(o => o.ResultRemark);
                            model.Field(o => o.MeetingTypeName);
                            model.Field(o => o.MeetingCircular);
                            model.Field(o => o.AgendaItemText);
                            model.Field(o => o.AgendaFormat);
                        })
                        //.Read(read => read.Url("DetailTemplate_HierarchyBinding_Orders") , new { employeeID = "#=EmployeeID#" }))
                        .Read(read => read.Url("/api/AgendaMasterAPI/GetDetailsOfOpenAgendaItem").Data("getDataForDetailsOfOpenAgendaItem(#=RefPendingMappingID#)").Type(HttpVerbs.Get))
                        )
                        //.Pageable(false)
                        .Sortable()
                        .ToClientTemplate())
   
</script>

<div>
    @(Html.Kendo().Tooltip()
        .For("#gridAgendaSelect")
        .Filter("td:nth-child(2)")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .ContentHandler("getAgendaToolTip")
    )

    @(Html.Kendo().Tooltip()
        .For("#gridAgendaSelect")
        .Filter("td:nth-child(3)")
        .Position(TooltipPosition.Top)
        .AutoHide(true)

    )

    @(Html.Kendo().Tooltip()
        .For("#gridAgendaSelect")
        .Filter("td:nth-child(4)")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
    )

    @(Html.Kendo().Tooltip()
        .For("#gridAgendaSelect")
        .Filter(".k-grid-h")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Flow of Agenda Item")
        .Width(100)
    )

</div>

<div class="row">
    <div class="col-md-9 colpadding0">
        <lable class="control-label">Filter : </lable>
        <input id='filterAgendaItem' class='k-textbox' style="width: 80%;" autocomplete="off" />
    </div>
</div>

<div id="divgridAgendaSelectMessage">

</div>

<div style="min-height:410px; max-height:410px;overflow-y:auto;overflow-x:hidden">
    

    <div class="row mt30 form-group">
        <div class="col-md-12 colpadding0">
            @if (Model.showPendingAgenda != true)
            {
                @(Html.Kendo().Grid<BM_ManegmentServices.VM.AgendaItemSelect>()
            .Name("gridAgendaSelect")
            .Columns(columns =>
            {
                columns.Template(@<text></text>).ClientTemplate("<input type='checkbox' #= IsCheked ? checked='checked':'' # class='chkbx' />").Width("5%");
                //columns.Bound(o => o.RefMeeting).Title("Meeting").ClientTemplate("#= data.RefResult# - #= RefMeeting #").Width(300).Visible(Model.showPendingAgenda);
                columns.Bound(o => o.RefMeeting).Title("Status").ClientTemplate("#= data.RefResult#").Width("15%").Visible(Model.showPendingAgenda);
                columns.Bound(o => o.AgendaHeading).Title("Agenda Item").HtmlAttributes(new { title = "#= AgendaHeading #" }).Width("60%");
                //columns.Bound(o => o.Agenda).Title("Agenda Item").HtmlAttributes(new { title = "#= Agenda #" });
                columns.Command(command =>
                {
                    //command.Custom("H").Click("multistageAgendaItemHistory").HtmlAttributes(new { @class = "k-grid-h" });
                    command.Custom("i").Click("showAgendaInfoSelect").HtmlAttributes(new { @class = "k-grid-ainfo" });
                }).Title("Info").Visible(true).Width("5%");
            })
            .Events(e => e.DataBound("onRowBoundHistory"))
            .Navigatable()
            //.ClientDetailTemplateId("detail-template")
            //.ClientDetailTemplateId("detailAgenda-template")
            .Filterable()
            .Sortable()
            .Reorderable(reorderable => reorderable.Columns(true))
            .Resizable(resizable => resizable.Columns(true))
            .ColumnMenu()
            .DataSource(dataSource => dataSource
            .WebApi()
            .Batch(true)
            .ServerOperation(false)
            .Events(events => events.Error("error_handlerA")
                            .RequestEnd("Request_End"))
                .Model(model =>
                {
                    model.Id(o => o.BM_AgendaMasterId);
                    model.Field(p => p.PartID).Editable(false);
                    model.Field(p => p.IsCheked);
                    model.Field(p => p.Meeting_Id);
                    model.Field(p => p.RefPendingMappingID);

                    model.Field(p => p.IsNewStage);
                    model.Field(p => p.StartMeetingId);
                    model.Field(p => p.StartAgendaId);
                    model.Field(p => p.StartMappingId);
                    model.Field(p => p.SequenceNo);
                    model.Field(p => p.OpenAgendaId);
                    model.Field(p => p.RefMasterName);
                    model.Field(p => p.ScheduleOnID);
                    model.Field(p => p.RefMasterID);
                })
                .Read(read => read.Url("/api/AgendaMasterAPI/GetAgendaItemsGridForMeeting").Data("getDataForAgendaItemSelect").Type(HttpVerbs.Get))
                .Create(create => create.Action("save_checkedAgendaItems", "Meetings").Type(HttpVerbs.Post))
                .Update(update => update.Action("save_checkedAgendaItems", "Meetings").Type(HttpVerbs.Post))
            ))
            }
            else
            {
                @(Html.Kendo().Grid<BM_ManegmentServices.VM.AgendaItemSelect>()
            .Name("gridAgendaSelect")
            .Columns(columns =>
            {
                columns.Template(@<text></text>).ClientTemplate("<input type='checkbox' #= IsCheked ? checked='checked':'' # class='chkbx' />").Width("5%");
                //columns.Bound(o => o.RefMeeting).Title("Meeting").ClientTemplate("#= data.RefResult# - #= RefMeeting #").Width(300).Visible(Model.showPendingAgenda);
                columns.Bound(o => o.RefMeeting).Title("Status").ClientTemplate("#= data.RefResult#").Width("20%").Visible(Model.showPendingAgenda);
                columns.Bound(o => o.AgendaHeading).Title("Agenda Item").HtmlAttributes(new { title = "#= AgendaHeading #" }).Width("60%");
                //columns.Bound(o => o.Agenda).Title("Agenda Item").HtmlAttributes(new { title = "#= Agenda #" });
                columns.Command(command =>
                {
                    //command.Custom("H").Click("multistageAgendaItemHistory").HtmlAttributes(new { @class = "k-grid-h" });
                    command.Custom("i").Click("showAgendaInfoSelect").HtmlAttributes(new { @class = "k-grid-ainfo" });
                }).Title("Info").Visible(true).Width("5%");
            })
            .Events(e => e.DataBound("onRowBoundHistory").DetailInit("detailInit"))
            .Navigatable()
            //.ClientDetailTemplateId("detail-template")
            .ClientDetailTemplateId("detailAgenda-template")
            .Filterable()
            .Sortable()
            .Reorderable(reorderable => reorderable.Columns(true))
            .Resizable(resizable => resizable.Columns(true))
            .ColumnMenu()
            .DataSource(dataSource => dataSource
            .WebApi()
            .Batch(true)
            .ServerOperation(false)
            .Events(events => events.Error("error_handlerA")
                            .RequestEnd("Request_End"))
                .Model(model =>
                {
                    model.Id(o => o.BM_AgendaMasterId);
                    model.Field(p => p.PartID).Editable(false);
                    model.Field(p => p.IsCheked);
                    model.Field(p => p.Meeting_Id);
                    model.Field(p => p.RefPendingMappingID);

                    model.Field(p => p.IsNewStage);
                    model.Field(p => p.StartMeetingId);
                    model.Field(p => p.StartAgendaId);
                    model.Field(p => p.StartMappingId);
                    model.Field(p => p.SequenceNo);
                    model.Field(p => p.ScheduleOnID);
                })
                .Read(read => read.Url("/api/AgendaMasterAPI/GetAgendaItemsGridForMeeting").Data("getDataForAgendaItemSelect").Type(HttpVerbs.Get))
                .Create(create => create.Action("save_checkedAgendaItems", "Meetings").Type(HttpVerbs.Post))
                .Update(update => update.Action("save_checkedAgendaItems", "Meetings").Type(HttpVerbs.Post))
            ))
        }
        </div>
    </div>
</div>

<div class="text-center" >
    <button type="button" id="btnSaveAgendaItemSelected" class="btn btn-primary">Save</button>
</div>

<!-- Filter script functions-->
<script>
    function isNumeric(n) {
            return !isNaN(parseFloat(n)) && isFinite(n);
        }

    function getBoolean(str) {
        if("true".startsWith(str)){
            return true;
        } else if("false".startsWith(str)){
            return false;
        } else {
            return null;
        }
    }

    $('#filterAgendaItem').on('input', function (e) {
        
        var grid = $('#gridAgendaSelect').data('kendoGrid');
        var columns = grid.columns;

        var filter = { logic: 'or', filters: [] };
        columns.forEach(function (x) {
            if (x.field) {
                var type = grid.dataSource.options.schema.model.fields[x.field].type;
                if (type == 'string') {
                    filter.filters.push({
                        field: x.field,
                        operator: 'contains',
                        value: e.target.value
                    })
                }
                else if (type == 'number') {
                    if (isNumeric(e.target.value)) {
                        filter.filters.push({
                            field: x.field,
                            operator: 'eq',
                            value: e.target.value
                        });
                    }

                } else if (type == 'boolean' && getBoolean(e.target.value) !== null) {
                    var bool = getBoolean(e.target.value);
                    filter.filters.push({
                        field: x.field,
                        operator: 'eq',
                        value: bool
                    });
                }
            }
        });

        //
        //filter.filters.push({ logic: "or", field: "BM_AgendaMasterId", operator: "eq", value: 36 });

        grid.dataSource.filter(filter);
    });
</script>

<script>

    function detailInit(e) {
    }

    $(document).ready(function () {
        if("@Model.showPendingAgenda".toLowerCase() == "true"){

            //$("#gridAgendaSelect").kendoGrid({

            //    detailTemplate: kendo.template($("#detail-template").html()),
            //    detailInit: detailInit
            //});
        }
    });
</script>