﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.MeetingAgendaTemplateVM

<style>
    .pager
    {
        margin:0px;
    }
</style>

@using (Ajax.BeginForm("AgendaItemTemplate_Save", "Meetings", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "wndAddAgendaItemTemplateFields" }, new { id = "frmUpdateTemplateFields" }))
{
    if (Model.Success)
    {
        <div class="row">
            <div class="col-md-12 colpadding0" id="DivsuccessI">
                <div class="alert alert-success alert-dismissible">
                    <button class="close" type="button" onclick="hideAlert();">×</button>
                    <lable id="lblsuccessI">@Model.Message</lable>
                </div>
            </div>
        </div>
    }
    else if (Model.Error)
    {
        <div class="row">
            <div class="col-md-12 colpadding0" id="DiverrorI">
                <div class="alert alert-danger alert-dismissible">
                    <button class="close" type="button" onclick="hideAlert();">×</button>
                    <lable id="lblerrormsgI">@Model.Message</lable>
                </div>
            </div>
        </div>
    }

<div class="row hidden">
    <div class="col-md-12 colpadding0">
        <ul class="pager">
            <li class="previous"><a href="#">Previous</a></li>
            <li class="next"><a href="#">Next</a></li>
        </ul>
    </div>
</div>

    if (Model.lstControls != null)
    {
        @Html.HiddenFor(model => model.MeetingAgendaMappingID)
        @Html.HiddenFor(model => model.Meeting_Id)
        @Html.HiddenFor(model => model.AgendaID)
        @Html.HiddenFor(model => model.EntityID_Ref)

        int i = -1;
        foreach (var item in Model.lstControls)
        {
            i++;
            @Html.HiddenFor(model => model.lstControls[i].TemplateListID)
            @Html.HiddenFor(model => model.lstControls[i].MeetingAgendaMapping_ID)
            @Html.HiddenFor(model => model.lstControls[i].TemplateName)

            @Html.HiddenFor(model => model.lstControls[i].TemplateID)
            @Html.HiddenFor(model => model.lstControls[i].CategoryID)

            @Html.HiddenFor(model => model.lstControls[i].TemplateLabel)
            @Html.HiddenFor(model => model.lstControls[i].TemplateName)

            <div class="row mt30">
                <div class="col-md-12 colpadding0">
                    <div class="col-md-1 colpadding0">

                    </div>

                    <div class="col-md-4 colpadding0">
                        <span style="color:red"></span><lable class="control-label">@item.TemplateLabel</lable>
                    </div>

                    <div class="col-md-5 colpadding0">
                        @switch (item.CategoryID)
                        {
                            case 1:
                        <input id='lstControls_@(i+"__TemplateValue")' name="lstControls[@i].TemplateValue" value="@item.TemplateValue" class="timepickerNew" autocomplete="off" />
                                break;
                            case 2:
                        <input id='lstControls_@(i+"__TemplateValue")' name="lstControls[@i].TemplateValue" value="@item.TemplateValue" class="datepickerNew" autocomplete="off" />
                                break;
                            case 3:
                        @(Html.Kendo().TextBoxFor(model => model.lstControls[i].TemplateValue).HtmlAttributes(new { @class = "form-control k-textbox myemail", style = "width: 100%", autocomplete = "off", type="email"}))
                                break;
                            case 4:
                        @(Html.TextAreaFor(model => model.lstControls[i].TemplateValue, new { @class = "form-control k-textbox", style = "width: 100%; height:69px;", autocomplete = "off" }))
                                break;
                            case 5:
                        @(Html.Kendo().TextBoxFor(model => model.lstControls[i].TemplateValue).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%", autocomplete = "off" }))
                                break;
                            case 6:
                            case 7:
                        @(Html.Kendo().TextBoxFor(model => model.lstControls[i].TemplateValue).HtmlAttributes(new { @class = "form-control k-textbox mynumber", style = "width: 100%", autocomplete = "off", type = "number" }))
                                break;
                            case 8:
                        @(Html.Kendo().TextBoxFor(model => model.lstControls[i].TemplateValue).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%", autocomplete = "off" }))
                                break;
                            case 9:
                        @(Html.Kendo().TextBoxFor(model => model.lstControls[i].TemplateValue).HtmlAttributes(new { @class = "form-control k-textbox myurl", style = "width: 100%", autocomplete = "off", type = "url" }))
                                break;
                            case 10:
                        @(Html.Kendo().DropDownListFor(model => model.lstControls[i].TemplateValue)
                                    .DataValueField("EntityName")
                                    .DataTextField("EntityName")
                                    .Filter(FilterType.Contains)
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Url("/api/EntityMasterAPI/GetDropDownEntityForMeeting").Type(HttpVerbs.Get);
                                        })
                                        .ServerFiltering(false);
                                    })
                                    .HtmlAttributes(new { style = "width: 95%;" })
                        )
                                break;

                            case 11:
                        @(Html.Kendo().DropDownListFor(model => model.lstControls[i].TemplateValue)
                                    .DataValueField("Name")
                                    .DataTextField("Name")
                                    .Filter(FilterType.Contains)
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Url("/api/DirectorMasterAPI/DirectorMaster").Type(HttpVerbs.Get);
                                        })
                                        .ServerFiltering(false);
                                    })
                                    .HtmlAttributes(new { style = "width: 95%;" })
                        )
                                break;

                            case 12:
                        @(Html.Kendo().DropDownListFor(model => model.lstControls[i].TemplateValue)
                                    .DataValueField("FirstName")
                                    .DataTextField("FirstName")
                                    .Filter(FilterType.Contains)
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Url("/api/KMIMasterAPI/KMP").Type(HttpVerbs.Get);
                                        })
                                        .ServerFiltering(false);
                                    })
                                    .HtmlAttributes(new { style = "width: 95%;" })
                        )
                                break;


                            case 13:
                        @(Html.Kendo().DropDownListFor(model => model.lstControls[i].TemplateValue)
                                    .DataValueField("Name")
                                    .DataTextField("Name")
                                    .Filter(FilterType.Contains)
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Url("/api/DirectorMasterAPI/BOD?EntityId=" + Model.EntityID_Ref+ "&showAll=false").Type(HttpVerbs.Get);
                                        })
                                        .ServerFiltering(false);
                                    })
                                    .HtmlAttributes(new { style = "width: 95%;" })
                        )
                                break;

                            case 14:
                        @(Html.Kendo().DropDownListFor(model => model.lstControls[i].TemplateValue)
                                    .DataValueField("Name")
                                    .DataTextField("Name")
                                    .Filter(FilterType.Contains)
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Url("/api/AuditorMasterAPI/GetAuditorsByType?type=1").Type(HttpVerbs.Get);
                                        })
                                        .ServerFiltering(false);
                                    })
                                    .HtmlAttributes(new { style = "width: 95%;" })
                        )
                                break;

                            case 15:
                        @(Html.Kendo().DropDownListFor(model => model.lstControls[i].TemplateValue)
                                    .DataValueField("Name")
                                    .DataTextField("Name")
                                    .Filter(FilterType.Contains)
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Url("/api/AuditorMasterAPI/GetAuditorsByType?type=2").Type(HttpVerbs.Get);
                                        })
                                        .ServerFiltering(false);
                                    })
                                    .HtmlAttributes(new { style = "width: 95%;" })
                        )
                                break;

                            case 16:
                        @(Html.Kendo().DropDownListFor(model => model.lstControls[i].TemplateValue)
                                    .DataValueField("Name")
                                    .DataTextField("Name")
                                    .Filter(FilterType.Contains)
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Url("/api/AuditorMasterAPI/GetAuditorsByType?type=3").Type(HttpVerbs.Get);
                                        })
                                        .ServerFiltering(false);
                                    })
                                    .HtmlAttributes(new { style = "width: 95%;" })
                        )
                                break;

                            case 17:
                        @(Html.Kendo().DropDownListFor(model => model.lstControls[i].TemplateValue)
                                    .DataValueField("Name")
                                    .DataTextField("Name")
                                    .Filter(FilterType.Contains)
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Url("/api/AuditorMasterAPI/GetAuditorsByType?type=4").Type(HttpVerbs.Get);
                                        })
                                        .ServerFiltering(false);
                                    })
                                    .HtmlAttributes(new { style = "width: 95%;" })
                        )
                                break;

                            case 18:
                        @(Html.Kendo().DropDownListFor(model => model.lstControls[i].TemplateValue)
                                    .DataValueField("Name")
                                    .DataTextField("Name")
                                    .Filter(FilterType.Contains)
                                    .DataSource(source =>
                                    {

                                        source.Read(read =>
                                        {
                                            read.Url("/api/EntityMasterAPI/GetDropDownforROCCode").Type(HttpVerbs.Get);
                                        })
                                        .ServerFiltering(false);
                                    })
                                    .HtmlAttributes(new { style = "width: 95%;" })
                        )
                                break;

                            case 19:
                        @(Html.Kendo().DropDownListFor(model => model.lstControls[i].TemplateValue)
                                    .DataValueField("Name")
                                    .DataTextField("Name")
                                    .Filter(FilterType.Contains)
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Url("/api/EntityMasterAPI/GetStockExchangeForTemplateMaster").Type(HttpVerbs.Get);
                                        })
                                        .ServerFiltering(false);
                                    })
                                    .HtmlAttributes(new { style = "width: 95%;" })
                        )
                                break;
                            case 20:
                        @(Html.Kendo().DropDownListFor(model => model.lstControls[i].TemplateValue)
                                    .DataValueField("Name")
                                    .DataTextField("Name")
                                    .Filter(FilterType.Contains)
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Url("/api/CommitteeCompAPI/GetCommitteeMasterDropdown").Type(HttpVerbs.Get);
                                        })
                                        .ServerFiltering(false);
                                    })
                                    .HtmlAttributes(new { style = "width: 95%;" })
                        )
                                break;
                            case 21:
                                @(Html.Kendo().DropDownListFor(model => model.lstControls[i].TemplateValue)
                                    .DataValueField("FYText")
                                    .DataTextField("FYText")
                                    .Filter(FilterType.Contains)
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Url("/api/ConfigurationMasterAPI/GetFYListByEntityID?EntityID="+Model.EntityID_Ref).Type(HttpVerbs.Get);
                                        })
                                        .ServerFiltering(false);
                                    })
                                    .HtmlAttributes(new { style = "width: 95%;" })
                                )
                                break;
                            default:
                                break;
                        }

                    </div>
                </div>
            </div>
        }

        if (i != -1)
        {
            <div class="k-edit-buttons k-state-default mt30" style="background:!important;background:none;width:100%;">
                <button type="submit" id="btnSaveAgendaItemTemplate" class="k-primary k-button k-grid-update k-button-icontext">Save</button>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-12 colpadding0" id="DiverrorI">
                    <div class="alert alert-danger alert-dismissible">
                        <lable id="lblerrormsgI">Template fields not available for this Agenda Item.</lable>
                    </div>
                </div>
            </div>
        }
    }

    <script>
        $(document).ready(function () {
            // create DatePicker from input HTML element
            $(".datepickerNew").kendoDatePicker({ format: "dd/MM/yyyy", });

            $(".timepickerNew").kendoTimePicker({ format: "hh:mm tt", dateInput: false });

            var validator = $(".myemail").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>Please Enter Valid Email<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");

            var validatorNumber = $(".mynumber").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>Please Enter Valid Number<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");

            var validatorNumber = $(".myurl").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>Please Enter Valid URL<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
        });
    </script>
}
