﻿@using Kendo.Mvc.UI;
@model long

<script>
    function dataBoundGridAgendaItemNumber(e) {
        debugger;
        var grid = $("#gridAgendaItemNumber").data("kendoGrid");
        getGridborder(grid);
    };

    function getItemNoTemplate(data) {
        var str = "";
        var itemNo = data.ItemNo == null ? '' : '' + data.ItemNo;
        if (data.ReadOnly == true) {
            str = "<input type='text' " + " style ='width:60px;' class='k-textbox k-valid' disabled='disabled' id= 'txtItemNo" + data.uid + "' value='" + itemNo + "'>";
        }
        else if (data.ReadOnly == false) {
            str = "<input type='text' " + " style ='width:60px;' class='k-textbox k-valid' id= 'txtItemNo" + data.uid + "' onchange='setAgendaItemNumber(this);' value='" + itemNo + "'>";
        }
        return str;
    }

    function setAgendaItemNumber(item) {
        debugger;
        var grid = $("#gridAgendaItemNumber").data("kendoGrid");
        var row = $(item).closest("tr");
        var dataItem = grid.dataItem(row);
        dataItem.ItemNo = $(item).val();
        dataItem.dirty = true;
    }

    function SaveAgendaItemNumber() {
        debugger;
        var grid = $("#gridAgendaItemNumber").data("kendoGrid");
        var gridData = grid.dataSource.data();
        var flag = false;
        var error = false;
        var total = gridData.length;
        for (var i = 1; i <= total; i++) {
            flag = false;
            for (var j = 0; j < gridData.length; j++) {
                if (gridData[j].ItemNo == i) {
                    flag = true;
                }
            }
            if (flag == false) {
                error = true;
                break;
            }
        }

        if (error) {
            alert('Please check agenda items sequence');
        }
        else {
            grid.saveChanges();
        }
        
    }
    function gridAgendaItemNumberRequestEnd(e) {

        if (e.type == "create" || e.type == "update") {
            debugger;
            if (e.response.Errors == null) {
                var divgridAgendaItemNumberMsg = $("#divgridAgendaItemNumberMsg");
                divgridAgendaItemNumberMsg[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success'> <lable>Save Successfully.</lable></div></div></div>";
            }
        }
    }
</script>
<div id="divgridAgendaItemNumberMsg">

</div>
<div class="row colpadding0">
    <div class="col-md-12 colpadding0">
        @(Html.Kendo().Grid<BM_ManegmentServices.VM.ChangeAgendaItemNumberVM>
    ()
    .Name("gridAgendaItemNumber")
    .Columns(columns =>
    {
    columns.Bound(p => p.ChangeMeetingAgendaMappingID).Visible(false);
    columns.Bound(c => c.ItemNo).Title("Item No").ClientTemplate("#= getItemNoTemplate(data)#").HtmlAttributes(new {}).Width("8%");
    columns.Bound(p => p.ChangeAgendaItemText).ClientTemplate("#=ChangeAgendaItemText#").Title("Agenda Item").HtmlAttributes(new { }).Width("80%");
    })
    .Editable(editable => editable.Mode(GridEditMode.InCell).CreateAt(GridInsertRowPosition.Bottom))
    .Events(e => e.DataBound("dataBoundGridAgendaItemNumber"))
    .DataSource(dataSource => dataSource
    .Ajax()
    .Batch(true)
    .ServerOperation(false)
    .Events(events => events.RequestEnd("gridAgendaItemNumberRequestEnd"))
    .Read(read => read.Action("GetAgendaItemsForChangeNumber", "Meetings", new { id = Model }).Type(HttpVerbs.Get))
    .Update(update => update.Action("ChangeItemNumber", "Meetings"))
    .Create(update => update.Action("ChangeItemNumber", "Meetings"))
    .Model(model =>
    {
    model.Id(p => p.ChangeMeetingAgendaMappingID);
    model.Field(m => m.ReadOnly).Editable(false);
    model.Field(m => m.ChangeAgendaItemText).Editable(false);
    model.Field(m => m.ItemNo);
    })
    ))
</div>
</div>

<div class="row colpadding0 mt30">
    <div class="col-md-12 colpadding0" style="text-align:center">
        <button type="button" id="btnSaveAgendaItemNumber" class="btn btn-primary" onclick="SaveAgendaItemNumber()">Submit</button>
    </div>
</div>