﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.MeetingAvailabilityVM

<div id="divSeekAvailabilityDetailsNew">

    @using (Ajax.BeginForm("CreateUpdateSeekAvailabilityNew", "Meetings", null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divSeekAvailabilityDetailsNew", InsertionMode = InsertionMode.Replace, OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmUpdateSeekAvailability" }))
    {

        if (Model.Success)
        {
            <div class="row mt30">
                <div class="col-md-12 colpadding0" id="DivsuccessI_sub">
                    <div style="margin-left:2%; margin-right:2%;">
                        <div class="alert alert-success alert-dismissible">
                            <button class="close" type="button" onclick="hideAlert_Sub();">×</button>
                            <lable id="lblsuccessI_sub">@Model.Message</lable>
                        </div>
                    </div>
                </div>
            </div>
        }
        else if (Model.Error)
        {
            <div class="row mt30">
                <div class="col-md-12 colpadding0" id="DiverrorI_sub">
                    <div style="margin-left:2%; margin-right:2%;">
                        <div class="alert alert-danger alert-dismissible">
                            <button class="close" type="button" onclick="hideAlert_Sub();">×</button>
                            <lable id="lblerrormsgI_sub">@Model.Message</lable>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div style="min-height:100px;">
            @Html.HiddenFor(m => m.MeetingAvailabilityId)
            @Html.HiddenFor(m => m.MeetingID)

            <div id="divAvailabilityCtrl" class="row mt30 form-group">
                <div class="col-md-12 colpadding0">
                    <div class="col-md-2 colpadding0">
                        <span id="spMeetingDate" style="color:red">*</span><label class="control-label">Date</label>
                        @(Html.Kendo().DatePicker().Name("AvailabilityDate").Format("dd/MM/yyyy")
                            .HtmlAttributes(new { style = "width: 95%", @Id = "AvailabilityDate", onchange = "checkDate(this);" }))
                        @Html.ValidationMessageFor(model => model.AvailabilityDate, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-1 colpadding0">
                        <span id="spMeetingVenue" style="color:red">*</span><label class="control-label">Time</label>
                        @(Html.Kendo().TimePicker().Name("AvailabilityTime").Format("hh:mm tt")
                            .HtmlAttributes(new { style = "width: 110%", @Id = "AvailabilityTime" }))
                    </div>

                    <div class="col-md-3 colpadding0">
                        <div class="col-md-1 colpadding0"></div>
                        <div class="col-md-11 colpadding0">
                            <span id="spMeetingVenue" style="color:red">*</span><label class="control-label">Venue</label>
                            @(Html.Kendo().DropDownListFor(model => model.AvailabilityAddressType)
                        .DataValueField("EntityAddressType")
                        .DataTextField("EntityAddressTypeName")
                        .OptionLabel("Select")
                        .Filter(FilterType.Contains)
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Url("/api/EntityMasterAPI/GetDropDownEntityAddressForMeeting").Data("getEntityIDForMeeting").Type(HttpVerbs.Get);
                            })
                            .ServerFiltering(false);
                        })
                        .HtmlAttributes(new { style = "width: 95%;", onchange = "ddlAvailabilityAddressType_Changed()" })
                            )
                        </div>
                    </div>

                    <div class="col-md-4 colpadding0">
                        <div class="col-md-1 colpadding0"></div>
                        <div class="col-md-11 colpadding0">
                            <span id="spMeetingVenue" style="color:red">*</span><label class="control-label">Venue</label>
                            @(Html.Kendo().TextBoxFor(m => m.AvailabilityVenue).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%" }))
                            @Html.ValidationMessageFor(model => model.AvailabilityVenue, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-2 colpadding0">
                        <div class="col-md-1 colpadding0"></div>
                        <div class="col-md-11 colpadding0">
                            <span id="spMeetingVenue" style="color:red">*</span><label class="control-label">Preference</label>
                            @Html.Kendo().DropDownListFor(m => m.PreferenceId).Name("PreferenceId").BindTo(new SelectList(new List<object> {
                                    new {id=1,text="1"},
                                    new {id=2,text="2"},
                                    new {id=3,text="3"},
                       }, "id", "text")).OptionLabel("Select").HtmlAttributes(new { style = "width: 95%;" })

                            @Html.ValidationMessageFor(m => m.PreferenceId)
                        </div>
                    </div>
                </div>
            </div>

            <div id="divSubAgendaEditorCmd" class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;">
                @if (Model.MeetingAvailabilityId > 0)
                {
                    <button type="submit" value="update" class="k-primary k-button k-grid-update k-button-icontext">Update</button>
                }
                else
                {
                    <button type="submit" value="Save" class="k-primary k-button k-grid-update k-button-icontext">Save</button>
                }
                <button type="button" value="Cancel" onclick="btnCancelSeekAvailability();" class="k-primary k-button k-grid-update k-button-icontext">Cancel</button>
            </div>

        </div>

        <script>
            $(document).ready(function () {
                if ($("#AvailabilityDate").val() == "01/01/0001") {
                    $("#AvailabilityDate").val('');
                }
            });
        </script>
    }
</div>