﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.FinalizeResolutionVM

<div id="divDetailsOfFinalizeResolution">
    @using (Ajax.BeginForm("FinalizeResolution", "Meetings", null, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "divDetailsOfFinalizeResolution", OnBegin = "OnOpen", OnComplete = "OnRefresh", InsertionMode = InsertionMode.Replace }, new { id = "frmFinalizeResolution" }))
    {
        @(Html.HiddenFor(m => m.ResolutionFinalizeId))
        @(Html.HiddenFor(m => m.IsVirtualResolution))

        if (Model.Success)
        {
            <div class="row">
                <div class="col-md-12 colpadding0">
                    <div class="alert alert-success alert-dismissible">
                        <lable id="lblsuccessI">@Html.Raw(Model.Message)</lable>
                    </div>
                </div>
            </div>
        }
        else if (Model.Error)
        {
            <div class="row">
                <div class="col-md-12 colpadding0">
                    <div class="alert alert-danger alert-dismissible">
                        <lable id="lblerrormsgI">@Html.Raw(Model.Message)</lable>
                    </div>
                </div>
            </div>
        }

        <div class="row master-Headre">
            <div class="col-md-12 colpadding0 vertical-center">
                <div class="col-md-1 colpadding0">

                </div>

                <div class="col-md-3 colpadding0">
                    <div class="col-md-6 colpadding0">
                        <label class="control-label">Date of finalize Circular</label><span id="spMeetingDate" style="color:red">*</span>
                        @(Html.Kendo().DatePicker().Name("ResolutionFinalizeDate").Format("dd/MM/yyyy").Max(DateTime.Now)
                                                                            .HtmlAttributes(new { style = "width: 95%", @Id = "ResolutionFinalizeDate", onchange = "checkDate(this);", autocomplete = "off" }))
                        @Html.ValidationMessageFor(model => model.ResolutionFinalizeDate, "", new { @class = "text-danger" })
                    </div>
                    @if (Model.IsResolutionFinalized != true || Model.IsVirtualResolution == true)
                    {
                        <div class="col-md-3 colpadding0 text-right">
                            <button id="finalizeResolutionCommand" name="finalizeResolutionCommand" type="Submit" value="finalizeResolution" class="btn btn-primary" style="margin-top:10px;">Save</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>
