﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.MeetingInviteeMailVM

@using (Ajax.BeginForm("EditInviteeMail", "Meetings", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divDetailsOfInviteeFormat", OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmAddEditInviteeMailFormat" }))
{
    @(Html.HiddenFor(m => m.InviteeMailID))
    @Html.Hidden("userid", 0)
    if (Model.Success)
                {
        <div class="row">
            <div class="col-md-12 colpadding0" id="DivsuccessI">
                <div class="alert alert-success alert-dismissible">
                    <button class="close" type="button" onclick="hideAlert();">×</button>
                    <lable id="lblsuccessI">@Model.Message</lable>
                </div>
            </div>
        </div>
    }
    else if (Model.Error)
    {
        <div class="row">
            <div class="col-md-12 colpadding0" id="DiverrorI">
                <div class="alert alert-danger alert-dismissible">
                    <button class="close" type="button" onclick="hideAlert();">×</button>
                    <lable id="lblerrormsgI">@Model.Message</lable>
                </div>
            </div>
        </div>
    }

        @(Html.Kendo().EditorFor(m => m.InviteeMail)
                           .HtmlAttributes(new { style = "height:285px" })
                           .Encode(false)
                           .Events(e => e.Paste("onPasteRemoveTag"))
                           //.Resizable(resizable => resizable.Content(false).Toolbar(true))
                           .Tools(tools => tools
                           .Clear().Formatting()
                            .FontName(fonts => fonts
                                .Add("Andale Mono", "Andale Mono")
                                .Add("Arial", "Arial")
                                .Add("Arial Black", "Arial Black")
                                .Add("Book Antiqua", "Book Antiqua")
                                .Add("Bookman Old Style", "Bookman Old Style")
                                .Add("Comic Sans MS", "Comic Sans MS")
                                .Add("Courier New", "Courier New")
                                .Add("Georgia", "Georgia")
                            )
                            .FontSize(size => size
                            .Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
                            .Bold().Italic().Underline()
                            .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                            .CustomTemplate(ct => ct.Template("<label for='templateToolAvailability' style='vertical-align:middle;'>Fields:</label> <select id='templateToolInvitee' style='width:280px;'>" +
                            "<option value='{{ Letter Head of the Company }}'>Letter Head of the Company</option>" +
                            "<option value='{{ Name of the Company }}'>Name of the Company</option>" +
                            "<option value='{{ CIN of the Company }}'>CIN of the Company</option>" +
                            "<option value='{{ Registered office Address }}'>Registered office Address</option>" +
                            "<option value='{{ Name of the Invitee }}'>Name of the Invitee</option>" +
                            "<option value='{{ InviteeAgendaList }}'>List of Agenda Items</option>" +
                            "<option value='{{ No. of the Meeting }}'>No. of the Meeting</option>" +
                            "<option value='{{ Type of Meeting }}'>Type of Meeting</option>" +
                            "<option value='{{ Notice Date }}'>Notice Date</option>" +
                            "<option value='{{ Meeting Date }}'>Meeting Date</option>" +
                            "<option value='{{ Meeting Time }}'>Meeting Time</option>" +
                            "<option value='{{ Meeting Venue }}'>Meeting Venue</option>" +
                            "</select>"
                            ))
                            .CustomTemplate(ct => ct.Template("<input type='button' id='btnInsertEditorTemplate' value='Insert' class='btn btn-primary'  onclick='insertEditorTemplateFieldInviteeMail();'>"))
                            .CustomTemplate(ct => ct.Template("<input type='button' id='btnAvailabilityMailPreview' name='btnAvailabilityMailPreview' value='Preview' class='btn btn-primary hidden'>"))
                        )
        )

    @(Html.Kendo().Window().Name("wndInviteeMailPreview").Title("Preview").Visible(false).Modal(true).Draggable(true).Scrollable(true)
    .Content(@<text>
                @(Html.Kendo().Editor().Name("InviteeMailPreview")
                                       .HtmlAttributes(new { style = "height:570px" })
                                       .Encode(false)
                                       .Tools( t=> t.Clear())
                 )
            </text>)
    )

    <div>
        @(Html.Kendo().Tooltip()
                    .For("#btnInsertEditorTemplate")
                    .Position(TooltipPosition.Top)
                    .AutoHide(true)
                    .Content("Insert Template Field")
                    .Width(150)
        )

        @(Html.Kendo().Tooltip()
                    .For("#btnAvailabilityMailPreview")
                    .Position(TooltipPosition.Top)
                    .AutoHide(true)
                    .Content("Availability Mail Preview")
                    .Width(150)
        )
    </div>

    <div class="text-center mt30">
        <button type="Submit" name="command_name" value="save" class="btn btn-primary">Update</button>
        <button type="Submit" name="command_name" value="send" class="btn btn-primary">Send</button>
    </div>

    <script>
        $(document).ready(function () {
            $("#templateToolInvitee").kendoDropDownList({});
        });

        function insertEditorTemplateFieldInviteeMail() {
            
            var ddltemplateToolParent = $("#templateToolInvitee").data("kendoDropDownList");
            var val = ddltemplateToolParent.value();
            if (val != "") {
                $("#InviteeMail").data("kendoEditor").exec("inserthtml", { value: " " + val + " " });
            }
        }

        function OpenAvailabilityMailPreview(response) {
          
            $($('#AvailabilityMailPreview').data().kendoEditor.body).attr('contenteditable', false);
            $("#AvailabilityMailPreview").data("kendoEditor").body.innerHTML = response.AvailabilityMail;

            var wnd = $("#wndAvailabilityMailPreview").data("kendoWindow");
            var opts = wnd.options;

            wnd = $("#wndAvailabilityMailPreview").kendoWindow({
                actions: ["Close"],
                width: "65%",
                visible: false,
                modal: true,
                refresh: function () { this.center(); },
                open: function () { },
                close: function (e) {
                }
            }).data("kendoWindow");

            opts.width = "65%";
            wnd.setOptions(opts);
            wnd.center();
            wnd.open();

        }

        $("#btnAvailabilityMailPreview").click(function () {
            var meetingAvailabilityMailVM = new Object();
            meetingAvailabilityMailVM.AvailabilityMailID = "@Model.InviteeMailID";
            meetingAvailabilityMailVM.AvailabilityMail = $("#AvailabilityMail").data("kendoEditor").body.innerHTML;
            if (meetingAvailabilityMailVM != null) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AvailabilityMailPreview", "Meetings")",
                    data: JSON.stringify(meetingAvailabilityMailVM),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                            
                            if (response != null) {
                                //alert("AvailabilityMail : " + response.AvailabilityMail );
                                OpenAvailabilityMailPreview(response);
                            } else {
                                alert("Something went wrong");
                            }
                        },
                    failure: function (response) {
                            alert(response.responseText);
                        },
                    error: function (response) {
                            alert(response.responseText);
                        }
                    });
            }
        });
    </script>
}