﻿@using Kendo.Mvc.UI;
@model long

<script type="text/javascript">
    function error_handlerT(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
        else {
            alert('Save Successfully.');
        }
    }

    function Request_EndT(e) {

        if (e.type == "create" || e.type == "update") {
            if (e.response.Errors == null) {
                var divgridNewMessage = $("#divgridNewMessage");
                divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success'> <lable>Save Successfully.</lable></div></div></div>";
            }
        }
        else if(e.type=="destroy")
        {
            if (e.response.Errors == null) {
                var divgridNewMessage = $("#divgridNewMessage");
                divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success'> <lable>Delete Successfully.</lable></div></div></div>";
            }
            else
            {
                var divgridNewMessage = $("#divgridNewMessage");
                divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success'> <lable>Something went wrong.</lable></div></div></div>";

            }
            $('#gridParticipantNew').data('kendoGrid').dataSource.read();
            $('#gridParticipantNew').data('kendoGrid').refresh();
        }
    }

    $("#btnAddNewParticiant1").click(function (e) {
        var grid = $("#gridParticipantNew").data("kendoGrid");
        grid.dataSource.add();
        grid.refresh();
        gridParticipantNewOnRowDataBound();
    });

    $("#btnSaveTemplate").click(function (e) {
        var divgridNewMessage = $("#divgridNewMessage");
        divgridNewMessage[0].innerHTML = '';

        var grid = $("#gridParticipantNew").data("kendoGrid");
        //var gridData = grid.dataSource.data();

        //var lookup = {};
        //var isExists = false;
        //
        //for (var i = 0; i < gridData.length; i++){
        //    var templateName = gridData[i].TemplateName.toUpperCase();
        //    if (!(templateName in lookup)){
        //        lookup[templateName] = 1;
        //    }
        //    else {
        //        isExists = true;
        //    }
        //   }

        //if (isExists == false) {
        grid.saveChanges();
    });


    $("#btnApplyAgendaItems").click(function (e) {
        $('#divParticipantNew').removeClass('hidden');
        $('#divParticipantAgendaItems').addClass('hidden');

        $('#btnSaveTemplate').removeClass('hidden');
        $('#btnApplyAgendaItems').addClass('hidden');

        var gridParticipantNew = $('#gridParticipantNew').data().kendoGrid;
        var gridParticipantNewData = gridParticipantNew.dataSource.data();

        var uid = $('#hdnParticipantRow_Id').val();
        var index = -1, i = 0;
        for (; i < gridParticipantNewData.length; i++) {
            if (uid == gridParticipantNewData[i].uid) {
                gridParticipantNewData[i].dirty = true;
                index = i;
                break;
            }
        }
        var result = { items: [] }


        if (index >= 0) {
            var gridParticipantAgendaItems = $('#gridParticipantAgendaItems').data().kendoGrid;
            if (gridParticipantAgendaItems != null) {

                var gridAgendaData = gridParticipantAgendaItems.dataSource.data();
                for (var j = 0; j < gridAgendaData.length; j++) {
                    if (gridAgendaData[j].IsSelected == true) {
                        //lstAgendaItems
                        var d = new Object();
                        d.MeetingAgendaMappingID = gridAgendaData[j].MeetingAgendaMappingID
                        d.BM_AgendaMasterId = gridAgendaData[j].AgendaID;
                        //d.AgendaHeading = gridAgendaData[j].AgendaItemHeading;
                        d.PartID = 2;
                        d.AgendaHeading = gridAgendaData[j].AgendaItemHeading;
                        d.Agenda = '';
                        d.IsCheked = true;
                        d.Meeting_Id = gridAgendaData[j].Meeting_Id;
                        result.items.push(d);
                    }
                }

                gridParticipantNewData[i].lstAgendaItems = result.items;
            }
        }

        gridParticipantNew.refresh();
    });

    function toolTipContent_gridNew(e) {
        return e.target.context.innerText;
    }

    function editParticipantAgendaItems(e) {
        e.preventDefault();


        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        $('#hdnParticipantRow_Id').val(dataItem.uid);

        $('#divParticipantName')[0].innerHTML = ' Participant : <b>' + dataItem.ParticipantName + '</b>';
        var result = { items: [] }

        var gridAgendaItemA = $('#gridAgendaItemA').data().kendoGrid;
        if (gridAgendaItemA != null && gridAgendaItemA != undefined) {
            var gridAgendaDataA = gridAgendaItemA.dataSource.data();
            for (var i = 0; i < gridAgendaDataA.length; i++) {
                result.items.push(gridAgendaDataA[i]);
            }
        }

        var gridAgendaItem = $('#gridAgendaItem').data().kendoGrid;
        var gridAgendaData = gridAgendaItem.dataSource.data();
        for (var i = 0; i < gridAgendaData.length; i++) {
            result.items.push(gridAgendaData[i]);
        }

        for (var i = 0; i < result.items.length; i++) {
            result.items[i].IsSelected = false;
        }

        if (dataItem.lstAgendaItems != null) {
            for (var i = 0; i < dataItem.lstAgendaItems.length; i++) {
                for (var j = 0; j < result.items.length; j++) {
                    if (dataItem.lstAgendaItems[i].BM_AgendaMasterId == result.items[j].AgendaID) {
                        result.items[j].IsSelected = true;
                    }
                }
            }
        }


        var ds = new kendo.data.DataSource({
            data: result.items, //myJson.employees,
            schema: {
                model: {
                    id: "AgendaID",
                    fields: {
                        AgendaItemHeading: { editable: false },
                        AgendaItemText: { editable: false },
                        MeetingAgendaMappingID: { editable: false }
                    }
                }
            },
            pageSize: 10
        });

        $("#gridParticipantAgendaItems").kendoGrid({
            //toolbar: kendo.template($("#myTemplateCompliance").html()),
            pageable: {
                alwaysVisible: false,
                pageSizes: [5, 10, 20, 100]
            },
            columns: [
                {
                    field: "IsSelected", title: " ", template: "<input type='checkbox' #= IsSelected ? checked='checked':'' # class='chkbxComplianceAssign' />", width: "30px;"
                    //,headerTemplate: "<input type='checkbox' id='header_chbComplianceAssign' class='k-checkbox header-checkbox'><label class='k-checkbox-label' for='header-chb'></label>"
                },
                //{ field: "AgendaItemHeading", title: "Agenda Item Heading", width: "350px;" },
                { field: "AgendaItemText", title: "Agenda Item", template: "#=AgendaItemText#" }
            ],
            editable: false,
            dataSource: ds
        });

        $('#gridParticipantAgendaItems').on('click', '.chkbxComplianceAssign', function () {

            var checked = $(this).is(':checked');
            var grid = $('#gridParticipantAgendaItems').data().kendoGrid;
            var dataItem = grid.dataItem($(this).closest('tr'));
            dataItem.set('IsSelected', checked);
            grid.refresh();
        });

        $('#divParticipantNew').addClass('hidden');
        $('#divParticipantAgendaItems').removeClass('hidden');

        $('#btnSaveTemplate').addClass('hidden');
        $('#btnApplyAgendaItems').removeClass('hidden');
    }

    var wndDelete;
    $(document).ready(function () {
        wndDelete = $("#wndDelete").kendoWindow({
            title: "Delete confirmation",
            modal: true,
            visible: false,
            resizable: false,
            width: 300
        }).data("kendoWindow");
    });


    function DeleteInvitee(e) {
        debugger;
        e.preventDefault();

        var grid = this;
        var row = $(e.currentTarget).closest("tr");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        if (dataItem != undefined) {
            var id = dataItem.MeetingParticipantId;
            if (id > 0) {
                $("#hdnParticipantIdForDelete").val(id);
                wndDelete.center().open();
            }
            
            //$("#yes").click(function () {
            //    Delete(id)
            //});

            //$("#no").click(function () {
            //    wndDelete.close();
            //});
        }
    }

    function DeleteInviteeFinal() {
        var id = $("#hdnParticipantIdForDelete").val();
        $.ajax({
            url: "@Url.Action("DeleteInvitee", "MeetingInvitee")?participantID="+id,
            method: "DELETE",
            success: function (data) {

                var divgridNewMessage = $("#divgridNewMessage");
                divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success'> <lable>Delete Successfully.</lable></div></div></div>";
                $('#gridParticipantNew').data('kendoGrid').dataSource.read();
                $('#gridParticipantNew').data('kendoGrid').refresh();
                wndDelete.close();
                
            }
        });
    }

    function closeDeleteInviteeWnd() {
        wndDelete.close();
    }

    function trimChars(str, c) {
        var re = new RegExp("^[" + c + "]+|[" + c + "]+$", "g");
        return str.replace(re, "");
    }

    function iterateAgenda(object) {
        var str = "";
        if (object !== null && object.length > 0) {
            for (var x = 0; x < object.length; x++) {
                str += "<li>" + object[x].AgendaHeading + "</li>";
            }
        } else {
            str += "";
        }
        //return trimChars(str, ", ");
        return str;
    }

    function onChanges(e) {
        debugger;
        var grid = $("#gridParticipantNew").data("kendoGrid");
    
      //dataItem = grid.dataSource.getByUid(e.item.data("uid"));

      //  grid.dataSource.pushDestroy(dataItem);
      //  grid.dataSource.insert(newIndex, dataItem);

        //Set Dirty
        var gridData = grid.dataSource.view();
        for (var i = 0; i < gridData.length; i++) {
            gridData[i].dirty = true;
        }

    }

    function gridParticipantNewOnRowDataBound() {

        $(".k-grid-document").html("<span class=''></span>").addClass("k-grid-button");
        $(".k-grid-document").removeClass("k-button k-button-icontext");
        $(".k-grid-document").find("span").append("<img style='width:22px;' src='../../Areas/BM_Management/img/Document.png'/>");

        $(".k-grid-del").html("<span class=''></span>").addClass("k-grid-button");
        $(".k-grid-del").removeClass("k-button k-button-icontext");
        $(".k-grid-del").find("span").append("<img src='/Areas/BM_Management/img/Delete.png'/>");

        debugger;
        var gridParticipantNew = $('#gridParticipantNew').data().kendoGrid;
        if (gridParticipantNew != null) {

            var gridData = gridParticipantNew.dataSource.data();
            for (var j = 0; j < gridData.length; j++) {
                if (gridData[j].MeetingParticipantId > 0) {
                }
                else {
                    var currentUid = gridData[j].uid;
                    var currenRow = gridParticipantNew.table.find("tr[data-uid='" + currentUid + "']");
                    var editButton = $(currenRow).find(".k-grid-del").addClass("hidden");
                }
            }
        }

        
    }
</script>

<div>
    @(Html.Kendo().Tooltip()
        .For("#gridParticipantNew")
        .Filter(".k-grid-add")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Add - Participant")
        .Width(120)
    )
    @(Html.Kendo().Tooltip()
        .For("#gridParticipantNew")
        .Filter(".k-grid-del")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Delete")
        .Width(120)
    )
    @(Html.Kendo().Tooltip()
        .For("#gridParticipantNew")
        .Filter(".k-grid-a")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Agenda Items")
        .Width(120)
    )
    @(Html.Kendo().Tooltip()
        .For("#gridParticipantNew")
        .Filter("td:nth-child(1)")
        .ContentHandler("toolTipContent_gridNew")
        .Position(TooltipPosition.Top)
        .Width(200)
        .AutoHide(true) )
    @(Html.Kendo().Tooltip()
        .For("#gridParticipantNew")
        .Filter("td:nth-child(2)")
        .ContentHandler("toolTipContent_gridNew")
        .Position(TooltipPosition.Top)
        .Width(300)
        .AutoHide(true) )
</div>

<div id="wndDelete">
    <h5>Are you sure you want to delete this data?</h5>
    <div class="text-center">
        <button id="yes" class="btn btn-primary" onclick="DeleteInviteeFinal()">Yes</button>
        <button id="no" class="btn btn-primary" onclick="closeDeleteInviteeWnd()">No</button>
    </div>
</div>

<div id="divgridNewMessage">
</div>

<input type="hidden" id="hdnParticipantRow_Id" />
<input type="hidden" id="hdnParticipantIdForDelete" />

<div class="row form-group">
    <div class="col-md-12 colpadding0">
        <div class="col-md-10 colpadding0">
            <div>Note - Please Save the Invitee Details upon entering required details and agenda selection</div>
        </div>
        <div class="col-md-2 colpadding0 text-right">
            <a class="btn btn-primary add-button" id="btnAddNewParticiant1" title="Add New" style="height:28px;"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</a>
        </div>
    </div>
</div>

<div class="row mt30 form-group colpadding0">
    <div class="col-md-12 colpadding0">
        <div id="divParticipantNew">
            @(Html.Kendo().Grid<BM_ManegmentServices.VM.MeetingInviteeVM>()
        .Name("gridParticipantNew")
        .Columns(columns =>
        {
            columns.Bound(p => p.ParticipantName).ClientTemplate("#=ParticipantName#").Title("Name").HtmlAttributes(new { @maxlength = "2", title = "ParticipantName" }).Sortable(false).Width("20%"); ;
            columns.Bound(p => p.ParticipantEmail).Title("Email").HtmlAttributes(new { title = "#= ParticipantEmail #" }).Sortable(false).Width("20%");
            columns.Bound(p => p.lstAgendaItems).HeaderTemplate("Agenda Items").ClientTemplate("#= iterateAgenda(lstAgendaItems) #").Sortable(false).Width("55%");
            columns.Command(command =>
            {
                command.Custom("A").Click("editParticipantAgendaItems").HtmlAttributes(new { @class = "k-grid-document" });
                command.Custom("del").Click("DeleteInvitee").HtmlAttributes(new { @class = "k-grid-del hoverCircle" });
            })
            .Title("Action").Width(180);
            //columns.Command(command => command.Destroy());
        })
        //.ToolBar(toolBar =>
        //{
        //    toolBar.Create().Text("Add New").HtmlAttributes(new { @class = "k-grid-add", title = "Add New" });
        //})
        .Editable(editable => editable.Mode(GridEditMode.InCell).CreateAt(GridInsertRowPosition.Bottom).DisplayDeleteConfirmation(true))
        .Events(e => e.DataBound("gridParticipantNewOnRowDataBound"))
        .Pageable()
        .Sortable()
        //.Scrollable()
        //.HtmlAttributes(new { style = "height:300px;" })
        .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        .ServerOperation(false)
        .Events(events => events.Error("error_handlerT")
        .RequestEnd("Request_EndT"))
        .Model(model =>
        {
            model.Id(p => p.MeetingParticipantId);
            model.Field(p => p.ParticipantName).Editable(true);
            model.Field(p => p.ParticipantEmail);
            model.Field(p => p.Meeting_ID).DefaultValue(Model);
            model.Field(p => p.lstAgendaItems).DefaultValue(new List<BM_ManegmentServices.VM.MeetingInviteeAgendaItemVM>()).Editable(false);
        })
        .PageSize(10)
        .Read(read => read.Action("Invitee_Read", "MeetingInvitee", new { meetingID = Model }))
        .Create(create => create.Action("Invitee_Create", "MeetingInvitee"))
        .Update(update => update.Action("Invitee_Update", "MeetingInvitee"))
        //.Destroy(destroy => destroy.Action("Invitee_Destroy", "MeetingInvitee"))
    ))
        </div>

        <div id="divParticipantAgendaItems">
            <div id="divParticipantName"></div>
            <br />
            <div id="gridParticipantAgendaItems"></div>
        </div>
    </div>

</div>

<div class="text-center mt30">
    <button type="button" id="btnSaveTemplate" class="btn btn-primary">Save</button>
    <button type="button" id="btnApplyAgendaItems" class="btn btn-primary hidden">Apply</button>
</div>
