﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.MeetingMinutesDetailsVM

<div id="divDetailsOfMinutes">
    @using (Ajax.BeginForm("SaveMinutesDetailsVirtual", "Meetings", null, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "divDetailsOfMinutes", OnBegin = "OnOpen", OnComplete = "OnRefresh", InsertionMode = InsertionMode.Replace }, new { id = "frmAddEditMinutesDetails" }))
    {
        @(Html.HiddenFor(m => m.MeetingMinutesDetailsId))
        @(Html.HiddenFor(m => m.MOM_MeetingId))
        @(Html.HiddenFor(m => m.IsCirculate))

        if (Model.Success)
        {
            <div class="row">
                <div class="col-md-12 colpadding0">
                    <div class="alert alert-success alert-dismissible">
                        <lable id="lblsuccessI">@Html.Raw(Model.Message)</lable>
                    </div>
                </div>
            </div>
        }
        else if (Model.Error)
        {
            <div class="row">
                <div class="col-md-12 colpadding0">
                    <div class="alert alert-danger alert-dismissible">
                        <lable id="lblerrormsgI">@Html.Raw(Model.Message)</lable>
                    </div>
                </div>
            </div>
        }

        if (Model.HasAgendaVotingNotingWarning == true)
        {
            <div class="row">
                <div class="col-md-12 colpadding0">
                    <div class="alert alert-info alert-dismissible">
                        <button class="close" type="button" onclick="hideAlert();">×</button>
                        <lable id="lblConfigmsgI">Please, set Voting/Noting responses to all Agenda Items</lable>
                    </div>
                </div>
            </div>
        }

        <div class="row master-Headre">
            <div class="col-md-12 colpadding0 vertical-center">
                <div class="col-md-4 ">
                    <label class="control-label">Place</label><span style="color:red">*</span><br />
                    @(Html.Kendo().TextBoxFor(m => m.Place).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 98%", autocomplete = "off" }))
                    @Html.ValidationMessageFor(model => model.Place, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-2 colpadding0">
                    <label class="control-label">Date of entering minutes</label><span id="spMeetingDate" style="color:red">*</span>
                    @(Html.Kendo().DatePicker().Name("DateOfEntering").Format("dd/MM/yyyy")
                                                .HtmlAttributes(new { style = "width: 95%", @Id = "DateOfEntering", onchange = "checkDate(this);", autocomplete = "off" }))
                    @Html.ValidationMessageFor(model => model.DateOfEntering, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-2 colpadding0">
                    <label class="control-label">Date of signing minutes</label><span id="spMeetingDate" style="color:red">*</span>
                    @(Html.Kendo().DatePicker().Name("DateOfSigning").Format("dd/MM/yyyy")
                                                .HtmlAttributes(new { style = "width: 95%", @Id = "DateOfSigning", onchange = "checkDate(this);", autocomplete = "off" }))
                    @Html.ValidationMessageFor(model => model.DateOfSigning, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-2 colpadding0 text-right">
                    <button id="commandName" name="commandName" type="Submit" value="finalizeDraft" class="btn btn-primary" style="margin-top:10px;">Save</button>
                    <button id="commandName1" name="commandName1" type="Submit" value="finalizeDraft" class="btn btn-primary hidden" style="margin-top:10px;">Finalize</button>
                </div>
            </div>
        </div>

        <div class="row form-group mt30">
            <div class="col-md-12 colpadding0">
                <div class="col-md-6 colpadding0">

                </div>

                <div class="col-md-3 colpadding0">
                    <div class="col-md-1 colpadding0"></div>
                    <div class="col-md-11 colpadding0">

                    </div>
                </div>

                <div class="col-md-3 colpadding0">
                    <div class="col-md-1 colpadding0"></div>
                    <div class="col-md-11 colpadding0">

                    </div>
                </div>

            </div>
        </div>

        <div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;">

        </div>

        <script>
            $(document).ready(function () {
                if ("@Model.Success" == "True") {
                    var grid = $("#gridMeetingComplianceSchedule1").data("kendoGrid");
                    if (grid != null && grid != undefined) {
                        grid.dataSource.read();
                    }
                }
            });
        </script>
    }
</div>
