﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.MeetingAgendaMappingMOMVM

<div id="divDetailsOfAgendaItemMinutes">

    @using (Ajax.BeginForm("Save_Minutes", "Meeting", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divDetailsOfAgendaItemMinutes", OnBegin = "OnEditMOM", OnComplete = "OnSaveMOM" }, new { id = "frmUpdateMOM" }))
    {
            if (Model.Success)
            {
            <div class="row mt30">
                <div class="col-md-12 colpadding0" id="DivsuccessI_sub">
                    <div style="margin-left:2%; margin-right:2%;">
                        <div class="alert alert-success alert-dismissible">
                            <button class="close" type="button" onclick="hideAlert_Sub();">×</button>
                            <lable id="lblsuccessI_sub">@Model.Message</lable>
                        </div>
                    </div>
                </div>
            </div>
            }
            else if (Model.Error)
            {
            <div class="row mt30">
                <div class="col-md-12 colpadding0" id="DiverrorI_sub">
                    <div style="margin-left:2%; margin-right:2%;">
                        <div class="alert alert-danger alert-dismissible">
                            <button class="close" type="button" onclick="hideAlert_Sub();">×</button>
                            <lable id="lblerrormsgI_sub">@Model.Message</lable>
                        </div>
                    </div>
                </div>
            </div>
            }

            <div id="divSubAgendaEditor" style="margin-left:1%; margin-right:1%;">
                @Html.HiddenFor(m => m.MeetingAgendaMappingID)
                @Html.HiddenFor(m => m.Meeting_Id)
                @Html.HiddenFor(m => m.AgendaID)
                @Html.HiddenFor(m => m.Result)
                @Html.HiddenFor(m => m.ResultRemark)
                
                @if (Model.Result == "A")
                {
                    <div class="tab" role="tabpanel">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" id="mytab3_sub" href="#tabMinutesTemplate_sub">Minutes Template</a></li>
                            <li><a data-toggle="tab" id="mytab2_sub" href="#tabResolutionTemplate_sub">Resolution Template</a></li>
                        </ul>

                        <div class="tab-content">

                            <div id="tabMinutesTemplate_sub" class="tab-pane fade in active">
                                <div class="row">
                                    <div class="col-md-12 colpadding0">
                                        <div class="col-md-12 colpadding0">
                                            <lable class="control-label">Heading</lable>
                                            @(Html.TextAreaFor(m => m.MinutesFormatHeading, new { @class = "form-control k-textbox", style = "width: 100%; height:50px;", autocomplete = "off" }))
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 colpadding0">
                                        <lable class="control-label">Format</lable>
                                        @(Html.Kendo().EditorFor(m => m.MinutesFormat)
                                                    .HtmlAttributes(new { style = "height:250px" })
                                                    .Encode(false)
                                                    .Events(e => e.Paste("onPasteRemoveTag"))
                                                    //.Resizable(resizable => resizable.Content(false).Toolbar(true))
                                                    .Tools(tools => tools
                                                    .Clear().Formatting()
                                                    .FontName(fonts => fonts
                                                        .Add("Andale Mono", "Andale Mono")
                                                        .Add("Arial", "Arial")
                                                        .Add("Arial Black", "Arial Black")
                                                        .Add("Book Antiqua", "Book Antiqua")
                                                        .Add("Bookman Old Style", "Bookman Old Style")
                                                        .Add("Comic Sans MS", "Comic Sans MS")
                                                        .Add("Courier New", "Courier New")
                                                        .Add("Georgia", "Georgia")
                                                    )
                                                    .FontSize(size => size
                                                    .Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
                                                    .Bold().Italic().Underline().Strikethrough()
                                                    .SubScript().SuperScript()
                                                    .InsertUnorderedList().InsertOrderedList().Indent().Outdent()
                                                    .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                                    .TableEditing()
                                                    .CustomTemplate(ct => ct.Template("<label for='templateToolMinutesFormat' style='vertical-align:middle;'>Template Fields:</label> <select id='templateToolMinutesFormat' style='width:200px;'><option value=''>none</option></select>"))
                                                    .CustomTemplate(ct => ct.Template("<input type='button' value='Insert' class='k-primary k-button'  onclick='insertEditorTemplateField(\"MinutesFormat\", \"templateToolMinutesFormat\");'>"))
                                                     ))

                                    </div>
                                </div>
                            </div>

                            <div id="tabResolutionTemplate_sub" class="tab-pane fade">
                                <div class="row hidden">
                                    <div class="col-md-12 colpadding0">
                                        <div class="col-md-12 colpadding0">
                                            <lable class="control-label">Heading</lable>
                                            @(Html.TextAreaFor(m => m.ResolutionFormatHeading, new { @class = "form-control k-textbox", style = "width: 100%; height:50px;", autocomplete = "off" }))
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 colpadding0">
                                        <lable class="control-label">Text</lable>
                                        @(Html.Kendo().EditorFor(m => m.ResolutionFormat)
                                                    .HtmlAttributes(new { style = "height:250px" })
                                                    .Encode(false)
                                                    .Events(e => e.Paste("onPasteRemoveTag"))
                                                    //.Resizable(resizable => resizable.Content(false).Toolbar(true))
                                                    .Tools(tools => tools
                                                    .Clear().Formatting()
                                                    .FontName(fonts => fonts
                                                        .Add("Andale Mono", "Andale Mono")
                                                        .Add("Arial", "Arial")
                                                        .Add("Arial Black", "Arial Black")
                                                        .Add("Book Antiqua", "Book Antiqua")
                                                        .Add("Bookman Old Style", "Bookman Old Style")
                                                        .Add("Comic Sans MS", "Comic Sans MS")
                                                        .Add("Courier New", "Courier New")
                                                        .Add("Georgia", "Georgia")
                                                    )
                                                    .FontSize(size => size
                                                    .Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
                                                    .Bold().Italic().Underline().Strikethrough()
                                                    .SubScript().SuperScript()
                                                    .InsertUnorderedList().InsertOrderedList().Indent().Outdent()
                                                    .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                                    .TableEditing()
                                                    .CustomTemplate(ct => ct.Template("<label for='templateTool' style='vertical-align:middle;'>Template Fields:</label> <select id='templateToolResolutionFormat' style='width:200px;'><option value=''>none</option></select>"))
                                                    .CustomTemplate(ct => ct.Template("<input type='button' value='Insert' class='k-primary k-button'  onclick='insertEditorTemplateField(\"ResolutionFormat\", \"templateToolResolutionFormat\");'>"))
                                                     )
                                        )
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                }
                else
                {
                    <div id="tabMinutesTemplate_sub">
                        
                        <div class="row">
                            <div class="col-md-12 colpadding0">
                                <div class="col-md-12 colpadding0">
                                    <lable class="control-label">Heading</lable>
                                    @(Html.TextAreaFor(m => m.MinutesFormatHeading, new { @class = "form-control k-textbox", style = "width: 100%; height:50px;", autocomplete = "off" }))
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 colpadding0">
                                <lable class="control-label">Format</lable>
                                @(Html.Kendo().EditorFor(m => m.MinutesFormat)
                                            .HtmlAttributes(new { style = "height:250px" })
                                            .Encode(false)
                                            .Events(e => e.Paste("onPasteRemoveTag"))
                                            //.Resizable(resizable => resizable.Content(false).Toolbar(true))
                                            .Tools(tools => tools
                                            .Clear().Formatting()
                                            .FontName(fonts => fonts
                                                .Add("Andale Mono", "Andale Mono")
                                                .Add("Arial", "Arial")
                                                .Add("Arial Black", "Arial Black")
                                                .Add("Book Antiqua", "Book Antiqua")
                                                .Add("Bookman Old Style", "Bookman Old Style")
                                                .Add("Comic Sans MS", "Comic Sans MS")
                                                .Add("Courier New", "Courier New")
                                                .Add("Georgia", "Georgia")
                                            )
                                            .FontSize(size => size
                                            .Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
                                            .Bold().Italic().Underline().Strikethrough()
                                            .SubScript().SuperScript()
                                            .InsertUnorderedList().InsertOrderedList().Indent().Outdent()
                                            .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                            .TableEditing()
                                            .CustomTemplate(ct => ct.Template("<label for='templateToolMinutesFormat' style='vertical-align:middle;'>Template Fields:</label> <select id='templateToolMinutesFormat' style='width:200px;'><option value=''>none</option></select>"))
                                            .CustomTemplate(ct => ct.Template("<input type='button' value='Insert' class='k-primary k-button'  onclick='insertEditorTemplateField(\"MinutesFormat\", \"templateToolMinutesFormat\");'>"))
                                             ))

                            </div>
                        </div>

                    </div>
                }
                    
            </div>

            <div id="divSubAgendaEditorCmd" class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;">
                <button type="submit" value="update" class="k-primary k-button k-grid-update k-button-icontext">Update</button>
            </div>

        <script>

            $(document).ready(function () {

                if ("@Model.Result" == "A"){
                    templateToolsLoadMOM("templateToolResolutionFormat");
                    templateFontName('tabResolutionTemplate_sub');
                }

                templateToolsLoadMOM("templateToolMinutesFormat");
                templateFontName('tabMinutesTemplate_sub');

            });

            function templateFontName(e){
                var cb = $("#"+e+" select.k-fontName").data("kendoComboBox");
                cb.setOptions({
                    template: "<span style='font-family: #: text #'>#: text #</span>"
                });
                cb.list.width(200);
            }

            function templateToolsLoadMOM(e) {

                $("#"+e).kendoDropDownList({
                    dataSource: {
                        transport: {
                            read: {
                                url: "@Url.Action("EditingCustom_Read", "Template", new { AgendaMasterId = Model.AgendaID })",
                                dataType: "json",
                                type: 'GET'
                            }
                        },
                        schema: {
                            data: "Data",
                            type: "json"
                        },
                        serverFiltering: false
                    },
                    dataTextField: "TemplateName",
                    dataValueField: "TemplateName",
                    value: 0,
                    index: 0,
                    change: function (e) {
                        //  $("#AgendaFormatSub").data("kendoEditor").body.innerHTML += " {{"+e.sender.value()+"}}";
                    }
                });
            }

            function insertEditorTemplateField(o, ddl) {

                var ddltemplateToolParent = $("#" + ddl).data("kendoDropDownList");
                var val = ddltemplateToolParent.value();
                if (val != "") {
                    $("#" + o).data("kendoEditor").body.innerHTML += " {{" + val + "}}";
                }
            }
        </script>
    }
</div>
