﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMTask
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;
<div id="divAddEditAgendaMinutesReview" style="overflow-x:hidden;">

    <style>
      #divUserDropdownList .k-multiselect:after {
        content: "\25BC";
        position: absolute;
        top: 30%;
        right: 10px;
        font-size: 12px;
    }

    #divUserDropdownList .k-multiselect.opened:after {
        content: "\25C0";
    }

    </style>
    <script>
        var Globals = {};
        function Multiselect_Open(e) {
            $(this.element).parent().addClass('opened');
            Globals.MultiSelectIsOpening = true;
            setTimeout(function () {
                Globals.MultiSelectIsOpening = false;
            }, 500);
        }

        function Multiselect_Close(e) {
            $(this.element).parent().removeClass('opened');
        }
    </script>
    @using (Ajax.BeginForm("SaveTaskDetails", "Meetings", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divAddEditAgendaMinutesReview", OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmAddEditAgendaTask", enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(model => model.MeetingType)
        @Html.HiddenFor(model => model.EntityId)
        @Html.HiddenFor(model => model.AgendaId)
        @Html.HiddenFor(model => model.TaskType)

        if (Model.successMessage)
        {
            <div class="row">
                <div class="col-md-12 colpadding0" id="DivsuccessI">
                    <div class="alert alert-success alert-dismissible">
                        <button class="close" type="button" onclick="hideAlert();">×</button>
                        <lable id="lblsuccessI">@Html.Raw(Model.successErrorMsg)</lable>
                    </div>
                </div>
            </div>
        }
        else if (Model.errorMessage)
        {
            <div class="row">
                <div class="col-md-12 colpadding0" id="DiverrorI">
                    <div class="alert alert-danger alert-dismissible">
                        <button class="close" type="button" onclick="hideAlert();">×</button>
                        <lable id="lblerrormsgI">@Html.Raw(Model.successErrorMsg)</lable>
                    </div>
                </div>
            </div>
        }

        <div class="row mt30">
            <div class="col-md-12">
                <div class="col-md-3">
                    <span style="color:red">*</span><lable class="control-label">Title</lable>
                </div>
                <div class="col-md-7 colpadding0">
                    @Html.TextBoxFor(m => m.TaskTitle, new { @Id = "TaskTitle", @style = "width:100%", @class = "k-textbox" })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row mt30">
            <div class="col-md-12">
                <div class="col-md-3">
                    <span style="color:red">*</span><lable class="control-label">Reviewer</lable>
                </div>
                <div id="divUserDropdownList" class="col-md-7 colpadding0">
                    @(Html.Kendo().MultiSelectFor(m => m.lstReviewer)
                    .DataTextField("FullName")
                    .DataValueField("UserID")
                    .MaxSelectedItems(1)
                    .ClearButton(false)
                    //.TagMode(TagMode.Single)
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Url("/api/UserMasterAPI/GetUsersDropdown").Type(HttpVerbs.Get);
                        })
                        .ServerFiltering(false);
                    })
                    .Events(e => e.Open("Multiselect_Open"))
                    .Events(e => e.Close("Multiselect_Close"))
                    .HtmlAttributes(new { style = "width: 98%", autocomplete = "off" })
                    )
                </div>
            </div>
        </div>

        <div class="row mt30">
            <div class="col-md-12">
                <div class="col-md-3">
                    <span style="color:red">*</span><lable class="control-label">Due Date</lable>
                </div>
                <div class="col-md-7 colpadding0">
                    @(Html.Kendo().DatePicker().Name("DueDate").Format("dd/MM/yyyy").Min(DateTime.Now).HtmlAttributes(new { style = "width: 50%", title = "Due Date", @Id = "DueDate" }))
                    @Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row mt30 hidden">
            <div class="col-md-12 colpadding0">
                <div class="col-md-6 colpadding0">
                    <label for="txtTaskTitle" class="control-label">Description</label><span class="validation"></span>
                    @Html.TextAreaFor(m => m.Description, new { @Id = "Description", @style = "width:100%", @class = "k-textbox", @spellcheck = "true" })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row mt30 hidden">
            <div class="col-md-12 colpadding0">
                <label for="txtTaskTitle" class="control-label">Documents</label><span class="validation"></span>
                <input type="file" name="files" id="files" multiple="multiple" />
                <div class="dropZoneElement">Drag and drop file here</div>
            </div>
            @Html.ValidationMessageFor(model => model.files, "", new { @class = "text-danger" })
        </div>

        <div class="row mt30">
            <div class="col-md-12" style="text-align:center">
                <button type="submit" id="btnSave" class="btn btn-primary"><span class=""></span>Save</button>
                <button type="button" class="btn btn-primary" onclick="closeAgendaMinutesReviewWnd()"><span class=""></span>Close</button>
            </div>
        </div>
    }
</div>