﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.MinutesViewerVM

@{ 

    var isFinalized = false;
    if(Model.MeetingMinutesDetails != null)
    {
        if(Model.MeetingMinutesDetails.IsFinalized)
        {
            isFinalized = true;
        }
    }
}
<script id="treeview-template" type="text/kendo-ui-template">

    # if(allowEditOperation()) {#
    <span class="k-agenda-item" title="#= htmlDecode(item.AgendaOrFileName) #"> #= "Item No " + item.ItemNo # </span>
    <span class='k-icon k-i-edit'></span>
    # } else { #
    <span class="k-agenda-item" title="#= htmlDecode(item.AgendaOrFileName) #"> #= "Item No " + item.ItemNo # </span>
    #}#
</script>

<script>
    $("#divtreeview1Parent").on("click", ".k-i-edit", function (e) {
        e.preventDefault();
        var treeview = $("#treeview1").data("kendoTreeView");
        var uid = $(this).closest(".k-item")[0].dataset.uid;;
        var item = treeview.dataSource.getByUid(uid);
        editMinutesOfMeeting(@Model.MeetingMinutesId, item.id);
    });
</script>
@(Html.Kendo().Window().Name("wndAgendaDocument").Title("Agenda Document").Visible(false).Modal(true).Draggable(false).Pinned(true))

<div>
    @(Html.Kendo().Tooltip()
        .For("#divtreeview1Parent")
        .Filter(".k-agenda-item")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
    )

    @(Html.Kendo().Tooltip()
            .For("#divtreeview1Parent")
            .Filter(".k-i-edit")
            .Position(TooltipPosition.Top)
            .AutoHide(true)
            .Content("Edit - Agenda Item")
    )
</div>

<div id="divAgendaMinutesReviewMsg"></div>
<div id="divAgendaMinutesReview">
    @if (isFinalized)
    {
        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                <div style="overflow-y :hidden;">
                    <iframe id="IframeAgendaMinutes" src="about:blank" frameborder="0" height="530px" width="100%"></iframe>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row colpadding0">
            <div class="col-md-2 colpadding0">

                <div style="min-height:300px;overflow-y:auto">
                    <div class="demo-section k-content">
                        <ul class="k-widget k-panelbar k-reset k-header" id="panelbarReviewTabs" data-role="panelbar" tabindex="0" role="menu">
                            <li class="k-item k-state-default k-first k-state-active" aria-expanded="true" role="menuitem">
                                <span class="k-link k-header">Agenda <span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span></span>

                                <div id="divtreeview1Parent" style="max-height:280px;overflow-y:auto;overflow-x:hidden;">
                                    <div id="treeview1"></div>
                                </div>

                                <div class="mt30" style="text-align: center;">
                                    <input id="btnRefreshDoc" class="btn btn-primary hidden" type="button" value="Preview" onclick="loadDocument()" />
                                </div>
                            </li>

                            @*<li class="k-item" aria-expanded="true" role="menuitem">
                                    <span class="k-link k-header">Remarks History<span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span></span>
                                </li>*@
                        </ul>
                    </div>
                </div>

                @Html.Hidden("hdnAllowEditOperations")

            </div>
            <div class="col-md-10 colpadding0">
                <div style="overflow-y :hidden;">
                    <iframe id="IframeAgendaMinutes" src="about:blank" frameborder="0" height="530px" width="100%"></iframe>
                </div>
            </div>
        </div>
    }
    
</div>

<script>
    function htmlDecode(value) {
        return value.replace(/&lt;/g, "<").replace(/&gt;/g, ">");
    }

    function loadDocument(){
        docViewerLoading();
        $('#IframeAgendaMinutes').attr('src', "@Url.Content("~/Areas_Secretarial/AgendaDocumentViewerSyncfusion.aspx")?minutesMeetingId=@Model.MeetingMinutesId");
    }

    function loadTreeViewData(v){
        $.ajax({
            url: "@Url.Action("ReviewMinutesDocumentData", "MyReview")"+"?meetingId=@Model.MeetingMinutesId"+"&taskId=" + 0 +"&assignmentId="+ 0,
            type: "Get",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                bindTreeView(result);
                if(v == true){
                    //$("#btnRefreshDoc").removeClass("hidden");
                }
            }
        });
    }

    function allowEditOperation() {
        if ("@(Model.MeetingMinutesDetails == null ? "1" : Model.MeetingMinutesDetails.IsFinalized == true ? "0" : "1")" == 1) {
            return true;
        } else {
            return false;
        }
    }

    function bindTreeView(data) {
        var result = { items: [] };
        var SubResult = { items: [] };

        var lookupItems = {};

        for (var i = 0; i < data.length; i++) {
            if (data[i].Category == 'A' && !(data[i].ID in lookupItems)) {
                lookupItems[data[i].ID] = 1;
                result.items.push({ "id": data[i].ID, "text": data[i].ItemNo, "expanded": true, "items": [], "ItemNo": data[i].ItemNo, "ParentID": 0, "AgendaOrFileName": data[i].AgendaOrFileName, "AgendaReviewId": data[i].AgendaReviewId, "HasChanges": data[i].HasChanges, "HasComment": data[i].HasComment });
            }
        }

        for (var i = 0; i < data.length; i++) {
            for (var j = 0; j < result.items.length; j++) {
                if (data[i].Category == 'D' && data[i].ParentID == result.items[j].id) {
                    var SrNo = result.items[j].items.length + 1;
                    result.items[j].items.push({ "id": data[i].ID, "text": data[i].AgendaOrFileName, "SrNo": SrNo, "ParentID": data[i].ParentID, "AgendaOrFileName": data[i].AgendaOrFileName, "HasChanges": false, "HasComment": false });
                }
            }
        }

        var ds = new kendo.data.HierarchicalDataSource({
            data: result.items,
        });

        $("#divtreeview1Parent")[0].innerHTML = "<div id='treeview1'></div>";
        //var allowDragAndDrop = allowEditOperation();

        $("#treeview1").kendoTreeView({
            template: kendo.template($("#treeview-template").html()),
            dataSource: ds,
            //dragAndDrop: allowDragAndDrop,
            //drop: treeViewDrop,
            loadOnDemand: true,
        });
    }
</script>

<script>
    $(document).ready(function () {
        loadTreeViewData(false);
        loadDocument();

        window.myfunction = function () {
            var wnd = $("#wndAgendaPreview").data("kendoWindow");
            kendo.ui.progress(wnd.element, false);
        }

        window.myfunctionRefreshDoc = function () {
            loadTreeViewData(true);
        }

        window.ReviewWindowOnLoad = function () {
            editReviewWindowOnLoad();
        }
    });
</script>