﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.PreviewAgendaVM

<link href="~/Content/Text-Highlight-Plugin/jquery.marker.css" rel="stylesheet" />
<link href="~/Content/Text-Highlight-Plugin/extensions/spectrum.css" rel="stylesheet" />

<script src="~/Content/Text-Highlight-Plugin/jquery.marker1.js"></script>
<script src="~/Content/Text-Highlight-Plugin/extensions/spectrum.js"></script>

<style>
    #gridMinutesItemSearch .k-grid-header {
        height: 0;
        border-bottom-width: 0;
        display: none;
        overflow: hidden;
    }

    #gridMinutesItemSearch .k-grid td {
        line-height: 1.5em;
    }

    #gridMinutesComments .k-grid-header {
        height: 0;
        border-bottom-width: 0;
        display: none;
        overflow: hidden;
    }
</style>

<style>
    .my-comment-list {
        border-left: solid;
        border-width: thin;
        border-color: #d7d8c8;
        padding-left: 8px;
    }
</style>

<script>
    function getCommentToolTip(e) {
        //var title = "<div style='min-height:100px;'>" +
        //    "<div class='text-center'>" + e.target.attr('data-owner') + "</div> <div style='text-align:left;'>" + e.target.attr('data-title') + "</div></div>";
        var title = "<b>" + e.target.attr('data-owner') + "</b>: <br>" + e.target.attr('data-title');
        return title;
    }

    function toolTipContent_gridNew(e) {
        return e.target.context.innerText;
    }
</script>

@(Html.Kendo().Tooltip()
                        .For("#divMOMPreview")
                        .Filter(".marker")
                        .Position(TooltipPosition.Top)
                        .AutoHide(true)
                        //.Width(150)
                        .ContentHandler("getCommentToolTip")
)

@(Html.Kendo().Tooltip()
                            .For("#divTabPanel1")
                            .Filter(".minutes-download")
                            .Position(TooltipPosition.Right)
                            .AutoHide(true)
                            //.Width(150)
                            .Content("Minutes")
)


            @(Html.Kendo().Tooltip()
            .For("#divTabPanel1")
            .Filter(".minutes-proc-download")
            .Position(TooltipPosition.Right)
            .AutoHide(true)
            //.Width(150)
            .Content("Proceeding of Meeting")
            )

@if (Model != null)
{
    var SrNo = 0;
    var SrN = 0;
    var strMeetingSrNo = "";
    var adjourned = (@Model.IsAdjourned == true ? " (Adjourned)" : "");

    if (Model.MeetingSrNo != null)
    {
        var MeetingSrNo = Model.MeetingSrNo;
        if (MeetingSrNo == 1)
        {
            strMeetingSrNo = "1<sup>st</sup>";
        }
        else if (MeetingSrNo == 2)
        {
            strMeetingSrNo = "2<sup>nd</sup>";
        }
        else if (MeetingSrNo == 3)
        {
            strMeetingSrNo = "3<sup>rd</sup>";
        }
        else
        {
            strMeetingSrNo = MeetingSrNo + "<sup>th</sup>";
        }
    }


    if (Model.meetingMinutesDetails != null)
    {
        if (Model.meetingMinutesDetails.IsCirculate == false)
        {
            <div id="divTabPanel1" class="tab" role="tabpanel">
                <ul class="nav nav-tabs mynavtab">
                    <li class="active">
                        <a data-toggle="tab" href="#DraftMinutes" role="tab" aria-controls="DraftMinutes" aria-selected="true">Draft</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#FinalizeMinutes" role="tab" aria-controls="FinalizeMinutes" aria-selected="true">Circulate</a>
                    </li>
                    <li style="float: right;">
                        <div style="margin-top: 6px;">
                            <a id="lnkDownloadDoc" class="minutes-download" href='@Url.Action("DownloadMinutesDocumnet", "Meetings", new { MeetingId = Model.MeetingID })' target="_blank">
                                <img src='../../Areas/BM_Management/img/Download.png' />
                            </a>
                        </div>
                    </li>
                    @if (Model.MeetingTypeId == 11 || Model.MeetingTypeId == 12)
                    {
                        <li style="float: right;">
                            <div style="margin-top: 6px;">
                                <a id="lnkDownloadDocProceeding" class="minutes-proc-download" href='@Url.Action("DownloadProceedingOfMeetingDocument", "Meetings", new { MeetingId = Model.MeetingID })' target="_blank">
                                    <img src='../../Areas/BM_Management/img/Download.png' />
                                </a>
                            </div>
                        </li>
                    }
                </ul>

                <div class="tab-content">
                    <div id="DraftMinutes" class="tab-pane fade in active">

                        @Html.Partial("_Viewer_Minutes", Model)

                    </div>

                    <div id="FinalizeMinutes" class="tab-pane fade in">
                        @Html.Partial("_MOM_Details", Model.meetingMinutesDetails)
                    </div>
                </div>
            </div>
        }
        else if (Model.meetingMinutesDetails.IsCirculate == true && Model.meetingMinutesDetails.IsFinalized == false)
        {
            <div id="divTabPanel1" class="tab" role="tabpanel">
                <ul class="nav nav-tabs mynavtab">
                    <li class="active">
                        <a data-toggle="tab" href="#DraftMinutes" role="tab" aria-controls="DraftMinutes" aria-selected="true">Draft</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#FinalizeMinutes" role="tab" aria-controls="FinalizeMinutes" aria-selected="true">Finalize</a>
                    </li>
                    <li style="float: right;">
                        <div style="margin-top: 6px;">
                            <a id="lnkDownloadDoc" class="minutes-download" href='@Url.Action("DownloadMinutesDocumnet", "Meetings", new { MeetingId = Model.MeetingID })' target="_blank">
                                <img src='../../Areas/BM_Management/img/Download.png' />
                            </a>
                        </div>
                    </li>
                    @if (Model.MeetingTypeId == 11 || Model.MeetingTypeId == 12)
                    {
                        <li style="float: right;">
                            <div style="margin-top: 6px;">
                                <a id="lnkDownloadDocProceeding" class="minutes-proc-download" href='@Url.Action("DownloadProceedingOfMeetingDocument", "Meetings", new { MeetingId = Model.MeetingID })' target="_blank">
                                    <img src='../../Areas/BM_Management/img/Download.png' />
                                </a>
                            </div>
                        </li>
                    }
                </ul>

                <div class="tab-content">
                    <div id="DraftMinutes" class="tab-pane fade in active">

                        @Html.Partial("_Viewer_Minutes", Model)

                    </div>

                    <div id="FinalizeMinutes" class="tab-pane fade in">

                        @if (Model.meetingMinutesDetails != null)
                        {
                            @Html.Partial("_MOM_Details", Model.meetingMinutesDetails)
                        }
                        else
                        {
                            @Html.Partial("_MOM_Details", new BM_ManegmentServices.VM.MeetingMinutesDetailsVM() { MOM_MeetingId = Model.MeetingID })
                        }

                    </div>
                </div>
            </div>
        }
        else
        {
            @Html.Partial("_Viewer_Minutes", Model)

            <div id="divTabPanel1" style="margin-top: 6px; text-align:right;">
                @if (Model.MeetingTypeId == 11 || Model.MeetingTypeId == 12)
                {
                    <a id="lnkDownloadDocProceeding" class="minutes-proc-download" href='@Url.Action("DownloadProceedingOfMeetingDocument", "Meetings", new { MeetingId = Model.MeetingID })' target="_blank">
                        <img src='../../Areas/BM_Management/img/Download.png' />
                    </a>
                }

                <a id="lnkDownloadDoc" class="minutes-download" href='@Url.Action("DownloadMinutesDocumnet", "Meetings", new { MeetingId = Model.MeetingID })' target="_blank">
                    <img src='../../Areas/BM_Management/img/Download.png' />
                </a>
            </div>
        }
    }
    else
    {
        <div id="divTabPanel1" class="tab" role="tabpanel">
            <ul class="nav nav-tabs mynavtab">
                <li class="active">
                    <a data-toggle="tab" href="#DraftMinutes" role="tab" aria-controls="DraftMinutes" aria-selected="true">Draft</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#FinalizeMinutes" role="tab" aria-controls="FinalizeMinutes" aria-selected="true">Circulate</a>
                </li>
                <li style="float: right;">
                    <div style="margin-top: 6px;">
                        <a id="lnkDownloadDoc" class="minutes-download" href='@Url.Action("DownloadMinutesDocumnet", "Meetings", new { MeetingId = Model.MeetingID })' target="_blank">
                            <img src='../../Areas/BM_Management/img/Download.png' />
                        </a>
                    </div>
                </li>
            </ul>

            <div class="tab-content">
                <div id="DraftMinutes" class="tab-pane fade in active">

                    @Html.Partial("_Viewer_Minutes", Model)

                </div>

                <div id="FinalizeMinutes" class="tab-pane fade in">
                    @Html.Partial("_MOM_Details", new BM_ManegmentServices.VM.MeetingMinutesDetailsVM { MOM_MeetingId = Model.MeetingID, IsCirculate = false, IsFinalized = false })
                </div>
            </div>
        </div>
    }
}