﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.MeetingAvailabilityVM

<div id="divSelectDate">


    @using (Ajax.BeginForm("SetMeetingDateFromAvailability", "Meetings", null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divSelectDate", OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmSelectDate" }))
    {
        if (Model.Success)
        {
            <div class="row mt30">
                <div class="col-md-12 colpadding0" id="DivsuccessI_sub">
                    <div style="margin-left:2%; margin-right:2%;">
                        <div class="alert alert-success alert-dismissible">
                            <button class="close" type="button" onclick="hideAlert_Sub();">×</button>
                            <lable id="lblsuccessI_sub">@Model.Message</lable>
                        </div>
                    </div>
                </div>
            </div>
        }
        else if (Model.Error)
        {
            <div class="row mt30">
                <div class="col-md-12 colpadding0" id="DiverrorI_sub">
                    <div style="margin-left:2%; margin-right:2%;">
                        <div class="alert alert-danger alert-dismissible">
                            <button class="close" type="button" onclick="hideAlert_Sub();">×</button>
                            <lable id="lblerrormsgI_sub">@Model.Message</lable>
                        </div>
                    </div>
                </div>
            </div>
        }

        @Html.HiddenFor(model => model.MeetingID)
        @Html.HiddenFor(model => model.MeetingAvailabilityId)

        @(Html.Kendo().DatePicker().Name("AvailabilityDate").Format("dd/MM/yyyy")
                                    .HtmlAttributes(new { @class = "hidden", @Id = "AvailabilityDate" }))

        @*<div class="row mt30">
                <div class="col-md-12">

                    <div class="col-md-3">
                        <span style="color:red"></span><lable class="control-label">Date</lable>
                    </div>

                    <div class="col-md-7 colpadding0">
                        <strong>  @Convert.ToDateTime(Model.AvailabilityDate).ToString("dd/MMM/yyyy, dddd")</strong>
                    </div>
                </div>
            </div>

            <div class="row mt30">
                <div class="col-md-12">

                    <div class="col-md-3">
                        <span style="color:red"></span><lable class="control-label">Time</lable>
                    </div>

                    <div class="col-md-7 colpadding0">
                        <strong>  @Model.AvailabilityTime</strong>
                    </div>
                </div>
            </div>

            <div class="row mt30">
                <div class="col-md-12">

                    <div class="col-md-3">
                        <span style="color:red"></span><lable class="control-label">Venue</lable>
                    </div>

                    <div class="col-md-7 colpadding0">
                        <strong>  @Model.AvailabilityVenue</strong>
                    </div>
                </div>
            </div>*@

        <div class="row mt30">
            <div class="col-md-12 colpadding0">
                Meeting will be scheduled on <strong> @Convert.ToDateTime(Model.AvailabilityDate).ToString("dd/MMM/yyyy, dddd")</strong> at <strong>@Model.AvailabilityTime</strong> at<strong> @Model.AvailabilityVenue </strong>
            </div>
        </div>


        <div class="k-edit-buttons k-state-default mt30" style="background:!important;background:none;width:100%;">
            <button type="submit" id="btnSelectMeetingDate" class="btn btn-primary">Save</button>
        </div>
    }


    <script>
        $(document).ready(function () {
            if ("@Model.RefreshMailFormat" == "True" || "@Model.RefreshMailFormat" == "true") {
                $('#frmAddEditMeetingNew').attr('action', '@Url.Action("RefreshMeeting", "Meetings", new { ParentId = Model.MeetingID})');
                $("#frmAddEditMeetingNew").submit();

                var wnd = $("#wndCheckQuorum").data("kendoWindow");

                wnd.close();
            }
        });
    </script>

</div>