﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.MeetingVM
@{
    ViewBag.Title = "Meeting";
    Layout = "~/Areas/BM_Management/Views/Shared/_LayoutMeeting.cshtml";
}




<style>

    #sidebar
    {
        height:20%;
    }
    html {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .myMultiSelect .k-multiselect-wrap {
        overflow: auto;
        max-height: 34px;
        height: 34px;
    }

    .myMultiSelect2 .k-multiselect-wrap {
        overflow: auto;
        max-height: 63px;
        height: 63px;
    }

    .order-id {
        display: inline-block;
        min-width: 60px;
    }

    .ap-grid-h300 {
        min-height: 120px;
        max-height: 120px;
        overflow-x: no-display;
        overflow-y: auto;
    }
</style>

<style>
    .field-validation-error {
        color: #ff0000;
    }

    .k-current-page {
        display: none;
    }

    html .k-upload-empty {
        border-width: 1px;
    }

    .k-edit-form-container {
        position: relative;
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .k-grid-edit {
        height: 32px;
        width: 33px;
        padding: 6px 0px 10px 0;
        /*white-space: nowrap;*/
        overflow: hidden;
        /*border-radius: 20px;*/
    }

    .k-grid-delete {
        height: 32px;
        width: 33px;
        padding: 5px 0px 10px 0;
        overflow: hidden;
    }

    .fieldlist {
        margin: 0 0 -2em;
        padding: 0;
    }

        .fieldlist li {
            list-style: none;
            padding-bottom: 2em;
        }

        .fieldlist label {
            display: block;
            padding-bottom: 1em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            color: #444;
        }

    .mt30 {
        margin-top: 18px;
    }

    .k-grid-add {
        float: right;
        /*background-color: #1fd9e1;*/
        /*color: white;*/
    }
    /*.k-add
    {
        background-image:url("'../../../../Images/Add_new_icon.png'")
    }*/
    .k-edit-buttons {
        height: 43px;
        text-align: center;
    }

    label {
        color: black;
    }

    .ml-mr {
        margin-left: 2%;
    }
</style>

<style>
    .k-window div.k-window-content {
        /*// overflow: hidden;*/
        /*overflow-y: scroll*/
    }

    fieldset {
        display: block;
        margin-inline-start: 0px;
        margin-inline-end: 2px;
        padding-block-start: 0.35em;
        padding-inline-start: 0.75em;
        padding-inline-end: 0.75em;
        padding-block-end: 0.625em;
        min-inline-size: min-content;
        border-width: 1px;
        border-style: groove;
        border-color: rgba(128, 128, 128, 0.56);
        border-radius: 11px;
        /*border-color: threedface;
    border-image: initial;*/
    }

    .amp-mb5 {
        margin-bottom: 5px;
    }

    .amp-h25 {
        height: 25px;
    }

    .amp-h26 {
        height: 26px;
    }

    .amp-h27 {
        height: 27px;
    }

    .amp-h28 {
        height: 28px;
    }

    .amp-h29 {
        height: 29px;
    }

    .amp-h30 {
        height: 30px;
    }

    .amp-mt7 {
        margin-top: 7px;
    }

    .amp-mt8 {
        margin-top: 8px;
    }

    .amp-mt9 {
        margin-top: 9px;
    }

    .amp-mt10 {
    }
</style>

<style>
    #grid.k-grid td {
        background: white !important;
        border: 0 !important;
    }

    #grid.k-grid .k-header {
        display: none;
    }
</style>

<style>
    .k-window div.k-window-content {
        /*// overflow: hidden;*/
        /*overflow-y: scroll*/
    }

    fieldset {
        display: block;
        margin-inline-start: 0px;
        margin-inline-end: 2px;
        padding-block-start: 0.35em;
        padding-inline-start: 0.75em;
        padding-inline-end: 0.75em;
        padding-block-end: 0.625em;
        min-inline-size: min-content;
        border-width: 1px;
        border-style: groove;
        border-color: rgba(128, 128, 128, 0.56);
        border-radius: 11px;
        /*border-color: threedface;
    border-image: initial;*/
    }

    .amp-mb5 {
        margin-bottom: 5px;
    }

    .amp-h25 {
        height: 25px;
    }

    .amp-h26 {
        height: 26px;
    }

    .amp-h27 {
        height: 27px;
    }

    .amp-h28 {
        height: 28px;
    }

    .amp-h29 {
        height: 29px;
    }

    .amp-h30 {
        height: 30px;
    }

    .amp-mt7 {
        margin-top: 7px;
    }

    .amp-mt8 {
        margin-top: 8px;
    }

    .amp-mt9 {
        margin-top: 9px;
    }

    .amp-mt10 {
    }
</style>

<!-- Script for Generate Grid SrNo -->
<script>
        var gridRowNumber = 0;

        function resetGridRowNumber(e) {
            gridRowNumber = 0;
        }

        function renderGridRowNumber() {
            var page = parseInt($("#gridMeetings").data("kendoGrid").dataSource.page()) - 1;
            var pagesize = $("#gridMeetings").data("kendoGrid").dataSource.pageSize();
            return parseInt(++gridRowNumber + (parseInt(page) * parseInt(pagesize)));
        }
</script>

<!-- Script for Generate Grid SrNo -->
<script>
    var rowNumber = 0;

    function resetRowNumber(e) {
        rowNumber = 0;
    }

    function renderNumber(data) {
        return ++rowNumber;
    }
</script>

<!-- Script for Kendo Grid-->
<script type="text/javascript">

    function onRowBound(e) {
        
        resetGridRowNumber();
        $(".k-grid-edit").find("span").addClass("k-icon k-edit");
        $(".k-grid-delete").find("span").addClass("k-icon k-delete");
        $(".k-grid-add").find("span").addClass("k-icon k-add k-i-plus-outline");

        //var grid = $("#gridKendo2").data("kendoGrid");
        //var gridData = grid.dataSource.view();
        //for (var i = 0; i < gridData.length; i++) {
        //    var currentUid = gridData[i].uid;
        //    if (gridData[i].MeetingTypeId == null) {

        //        var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");
        //        var cButton = $(currenRow).find(".k-grid-c").addClass("k-state-disabled");
        //    }

        //}
    }

    function error_handlerT(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function() {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

    function toolTipContent_gridNew(e) {
        return e.target.context.innerText;
    }
</script>

<!-- Script for Show PopUp window-->
<script>
    $(document).ready(function () {
        $("#customCommand1").click(function (e) {
            e.preventDefault();
            CreateMeeting();
        });
    });

    function CreateMeeting(e) {
        $("#wndAdd").kendoWindow({
            title: "Meeting",
            modal: true
        });

        var direction = "Meeting_Create";
        showMeetingPopup(direction);
    }

    function EditMeetingNew(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location.href = "@Url.Action("MeetingDraft", "Meetings")?MeetingId=" + dataItem.MeetingID;
    }

    function EditMeeting(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var direction = "Meeting_Edit?MeetingId=" + dataItem.MeetingID;
        var wndTitle = "";

        if (dataItem.Quarter_ != ""){
            wndTitle = dataItem.TypeName+"-"+dataItem.MeetingTypeName +" " +dataItem.Quarter_ + " [ " + dataItem.MeetingSrNo + " ] - " + dataItem.MeetingTitle;
        }
        else{
            wndTitle = dataItem.TypeName + "-" + dataItem.MeetingTypeName + " " + " [ " + dataItem.MeetingSrNo + " ] -" + dataItem.FY_CY;
        }

        $("#wndAdd").kendoWindow({
            //title: wndTitle,
            title: wndTitle = dataItem.TypeName + "-" + dataItem.MeetingTypeName + " " + " [ " + dataItem.MeetingSrNo + " ] -" + dataItem.FY_CY,
            modal: true
        });

        showMeetingPopup(direction);
    }

    function showMeetingPopup(direction) {
        $("#wndAdd").attr("style", "min-height:100px;");

        var wnd = $("#wndAdd").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndAdd").kendoWindow({
            actions: ["Close"],
            content: direction,
            //width: "95%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () { OnOpen(); },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                $('#gridMeetings').data('kendoGrid').dataSource.read();
            }
        }).data("kendoWindow");

        //opts.width = "95%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();

    }

    function OnOpen(e) {
        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");

    }

    function OnRefresh() {
        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function OnRefreshNewMeeting() {
        
        var wnd = $("#wndAdd").data("kendoWindow");
        //var opts = wnd.options;
        //opts.width = "95%";
        //wnd.setOptions(opts);
        wnd.center();

        //var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function OnOpenAgendaFormat(e) {
        var wnd = $("#wndAddAgendaItem").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");

    }

    function OnRefreshAgendaFormat() {
        var wnd = $("#wndAddAgendaItem").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

</script>

<!-- Compliance Assignment -->
<script>

    function ComplianceAssignmentMeetingGrid(e) {

        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var direction = "@Url.Action("MeetingComplianceAssignment", "MeetingComplianceAssign")" + "?meetingId=" + dataItem.MeetingID;
        showCompliancePopUp(direction);
    }

    function showCompliancePopUp(d)
    {
        $("#wndMeetingComplianceAssign").attr("style", "min-height:100px;");

        var wnd = $("#wndMeetingComplianceAssign").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndMeetingComplianceAssign").kendoWindow({
            title: "Template",
            actions: ["Close"],
            content: d,
            width: "75%",
            visible: false,
            modal: true,
            refresh: function () {
                this.center();
                kendo.ui.progress($(this.element), false);
            },
            open: function () {
                kendo.ui.progress($(this.element), true);
            },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            }
        }).data("kendoWindow");
        opts.width = "85%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }
</script>
<!-- Filter Script-->
<script>
    function filterChange() {

        var filter = { logic: 'and', filters: [] };

        


        var ddlEntityType = $("#ddlEntityFilter").data("kendoDropDownList");
        var d = ddlEntityType.value();

        if(d > 0){
            filter.filters.push({ logic: "and", field: "Entityt_Id", operator: "eq", value: parseInt(d) });
        }

        var ddlMeetingStatusFilter = $("#ddlMeetingStatusFilter").data("kendoDropDownList");
        var m = ddlMeetingStatusFilter.value();

        if (m!="") {
           // filter.filters.push({ logic: "and", field: "Entityt_Id", operator: "eq", value: parseInt(d) });
        }

        var t = $('#filter');
        if (t.val() != "")
        {
            filter.filters.push({ logic: "or", field: "MeetingTitle", operator: "contains", value: t.val() });
        }

        grid = $("#gridMeetings").data("kendoGrid");
        grid.dataSource.filter(filter);
    }
</script>



<style>
    .myHeading h3 {
        font-size: 1.2em;
        margin-top: 2px;
        text-align: center;
        color: #1f97f7;
        width: auto;
        font-weight: normal;
    }

    .myHeading h4 {
        font-size: 1.6em;
        /*text-transform: uppercase;*/
        text-align: center;
        font-weight: normal;
        /*color: #1f97f7;*/
        width: auto;
    }

    .myIndex h3 {
        font-size: 1.1em;
        margin-top: 1px;
        margin-left: 20px;
        text-align: left;
        width: auto;
        font-weight: normal;
    }

    #main-content-agenda-preview {
        display: table-cell;
        margin: 0;
        padding: 20px;
        /* width: 680px; */
        width: 980px;
        vertical-align: top;
    }

    .widget.placeholder {
        opacity: 0.4;
        border: 1px dashed #a6a6a6;
    }

    /* WIDGETS */
    .widget {
        margin: 0 0 10px;
        padding: 0;
        background-color: #ffffff;
        border: 1px solid #e7e7e7;
        border-radius: 3px;
        cursor: move;
    }

        .widget:hover {
            background-color: #fcfcfc;
            border-color: #cccccc;
        }

        .widget div {
            padding: 10px;
            min-height: 50px;
        }

        .widget h3 {
            font-size: 12px;
            padding: 8px 10px;
            text-transform: uppercase;
            border-bottom: 1px solid #e7e7e7;
            margin-top: 2px;
            text-align: right;
        }

            .widget h3 span {
                float: right;
            }

                .widget h3 span:hover {
                    cursor: pointer;
                    background-color: #e7e7e7;
                    border-radius: 20px;
                }

    /* BLOGS & NEWS */
    #blogs div,
    #news div {
        /*padding: 0 20px 20px;*/
        padding: 0 20px 1px;
    }

    #teammates h4,
    #blogs h4,
    #news h4 {
        width: auto;
        margin: 10px 0 2px;
        font-size: 1.4em;
        color: #1f97f7;
        font-weight: normal;
    }

    .blog-info {
        margin: 0 0 10px;
        font-size: .9em;
        color: #787878;
    }

    #sidebar #blogs h4 {
        font-size: 1em;
    }

    #sidebar #blogs p {
        display: none;
    }

    #sidebar #blogs .blog-info {
        display: block;
    }

    #main-content-agenda-preview #news h4 {
        font-size: 1.2em;
        line-height: 1.4em;
        height: 40px;
    }

        #main-content-agenda-preview #news h4 span {
            display: block;
            float: left;
            width: 100px;
            height: 40px;
            color: #000;
        }

    .hint {
        width: 250px;
        height: 100px;
        overflow: hidden;
    }

        .hint > h3 {
            padding-left: 20px;
        }
</style>

<style>
    /*.tab-content {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 10px;
    }*/
</style>

<script>
    function additionalInfo() {
        var additionalDataObject = {
            MeetingId: "@Model.MeetingID",
        };
        return additionalDataObject;
    }

    function getEntityIDForMeeting() {
        var additionalDataObject = {
            EntityId: "@Model.Entityt_Id",
        };
        return additionalDataObject;
    }

    function getDataForAgendaItem() {
        var additionalDataObject = {
            EntityId: "@Model.Entityt_Id",
            MeetingTypeId: "@Model.MeetingTypeId",
        };
        return additionalDataObject;
    }

</script>

<!-- Agenda Item Script-->
<script>

    function CreateNewAgendaItem(part) {
        $("#wndAddNewAgendaItem").kendoWindow({
            title: "Agenda Item",
            modal: true
        });

        var direction = "CreateNewAgendaItem?MeetingId=@Model.MeetingID" + "&Part=" + part;

        $("#wndAddNewAgendaItem").attr("style", "min-height:100px;");

        var wnd = $("#wndAddNewAgendaItem").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndAddNewAgendaItem").kendoWindow({
            actions: ["Close"],
            content: direction,
            width: "75%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () { },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                    $('#gridAgendaItem').data('kendoGrid').dataSource.read();
            }
        }).data("kendoWindow");

        opts.width = "75%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();

    }


    function AgendaItemsSelect(part, meetingCircular) {

        var direction = "AgendaItemSelect?MeetingId=@Model.MeetingID" + "&Part=" + part + "&MeetingCircular=" + meetingCircular;

        $("#wndAddAgendaItem").kendoWindow({
            title: "Agenda Items",
            modal: true
        });

        $("#wndAddAgendaItem").attr("style", "min-height:100px;");

        var wnd = $("#wndAddAgendaItem").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndAddAgendaItem").kendoWindow({
            actions: ["Close"],
            content: direction,
            width: "75%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () { },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                if (part == 'A'){
                    $('#gridAgendaItemA').data('kendoGrid').dataSource.read();
                } else {
                    $('#gridAgendaItem').data('kendoGrid').dataSource.read();
                }
            }
        }).data("kendoWindow");

        opts.width = "75%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

    function AgendaItemsEditFormat(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        $("#wndAddAgendaItem").kendoWindow({
            title: "Agenda Item - "+dataItem.AgendaItemHeading,
            modal: true
        });

        var direction = "AgendaItemFormat_Read?MeetingAgendaMappingID=" + dataItem.MeetingAgendaMappingID;

        $("#wndAddAgendaItem").attr("style", "min-height:100px;");

        var wnd = $("#wndAddAgendaItem").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndAddAgendaItem").kendoWindow({
            actions: ["Close"],
            content: direction,
            width: "75%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () { },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                if (dataItem.PartId == 1) {
                    $('#gridAgendaItemA').data('kendoGrid').dataSource.read();
                } else {
                    $('#gridAgendaItem').data('kendoGrid').dataSource.read();
                }
            }
        }).data("kendoWindow");

        opts.width = "75%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();

    }

    function AgendaDocumentsUpload(e)
    {
        
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        
        $("#wndAgendaDocument").kendoWindow({
          //  title: "Agenda It - " + dataItem.AgendaItemHeading,
            modal: true
        });

        var direction = "AgendaDocumentsList?MeetingAgendaMappingID=" + dataItem.MeetingAgendaMappingID;

        $("#wndAgendaDocument").attr("style", "min-height:100px;");

        var wnd = $("#wndAgendaDocument").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndAgendaDocument").kendoWindow({
            actions: ["Close"],
            content: direction,
            width: "55%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () { },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            }
        }).data("kendoWindow");

        opts.width = "55%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

    function AgendaItemsEditTemplateFields(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        
        $("#wndAddAgendaItemTemplateFields").kendoWindow({
            title: "Agenda Item Template Fields - " + dataItem.AgendaItemHeading,
            modal: true
        });


        var direction = "AgendaItemTemplate_Read?MeetingAgendaMappingID=" + dataItem.MeetingAgendaMappingID;

        $("#wndAddAgendaItemTemplateFields").attr("style", "min-height:100px;");

        var wnd = $("#wndAddAgendaItemTemplateFields").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndAddAgendaItemTemplateFields").kendoWindow({
            actions: ["Close"],
            content: direction,
            width: "55%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () { },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                //$('#gridMeetings').data('kendoGrid').dataSource.read();

                if (dataItem.PartId == 1) {
                    $('#gridAgendaItemA').data('kendoGrid').dataSource.read();
                } else {
                    $('#gridAgendaItem').data('kendoGrid').dataSource.read();
                }
            }
        }).data("kendoWindow");

        opts.width = "55%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();

    }

    function AgendaItemsInterestParties(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        $("#wndInterestParties").kendoWindow({
            title: "Interested Parties - " + dataItem.AgendaItemHeading,
            modal: true
        });

        var direction = "../MeetingInterestedParty/Editing_Custom?MeetingAgendaMappingID=" + dataItem.MeetingAgendaMappingID + "&Entityt_Id=@Model.Entityt_Id";

        $("#wndInterestParties").attr("style", "min-height:100px;");

        var wnd = $("#wndInterestParties").data("kendoWindow");
                    var opts = wnd.options;

                    wnd = $("#wndInterestParties").kendoWindow({
                        actions: ["Close"],
                        content: direction,
                        width: "55%",
                        visible: false,
                        modal: true,
                        refresh: function () { this.center(); },
                        open: function () { },
                        close: function (e) {
                            $(this.element).empty();
                            $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                                    }
                    }).data("kendoWindow");

                    opts.width = "55%";
                    wnd.setOptions(opts);
                    wnd.center();
                    wnd.open();
                }

</script>

<script type="text/javascript">
    $(function () {
        $('#wndParticipantsResponse').on('click', '.chkbx1', function () {
                        var checked = $(this).is(':checked');
                        var grid = $('#wndParticipantsResponse').data().kendoGrid;
                        var dataItem = grid.dataItem($(this).closest('tr'));
                        dataItem.set('Response', checked);
                        })
    })

    function gridResponse_Request_End(e) {
                        if (e.type == "create" || e.type == "update") {

                            
                            for (var i = 1; i < 4; i++) {
                                var chart = $("#chart_" + i).data("kendoChart");
                                if (chart != null){
                                    chart.dataSource.read();
                                    chart.refresh();
                                }
                            }
                        }
                    }


                    function wndCheckQuorumShow(m,a) {
        $("#wndCheckQuorum").kendoWindow({
                    title: "Meeting",
                            modal: true
        });

        var direction = "SelectSeekAvailability?meetingId=@Model.MeetingID" + "&meetingAvailabilityId="+a;

                var wnd = $("#wndCheckQuorum").data("kendoWindow");
                var opts = wnd.options;

                wnd = $("#wndCheckQuorum").kendoWindow({
                actions: ["Close"],
            content: direction,
            width: "40%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () { },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                    }
                }).data("kendoWindow");

                opts.width = "40%";
        wnd.setOptions(opts);
        wnd.open();
        wnd.center();
    }

            function onSeriesClick(e, v) {
                
                var CanReSendSeekAvailability = "@Model.CanReSendSeekAvailability";
                if (CanReSendSeekAvailability == "True" || CanReSendSeekAvailability == "true")
                {
                    //alert('' + kendo.format("Series click :: {0} ({1}): {2}",
                    //e.series.name, e.category, e.value));
                    wndCheckQuorumShow(e.dataItem.MeetingId, e.dataItem.MeetingAvailabilityId);
                }
            }

            function DataBound_Chart(e) {
            }

            function ShowAvailabilityResponse() {
            $("#wndParticipantsResponse").kendoWindow({
                title: "Participants",
                modal: true,
                close: function (e) {
                        //$(this.element).empty();
                    }
                });

                var wnd = $("#wndParticipantsResponse").data("kendoWindow");
                var opts = wnd.options;
                opts.width = "95%";
                wnd.setOptions(opts);
                wnd.center();
                wnd.open();

            }

            function wndMarkAvailabilityShow()
            {
        $("#wndParticipantsResponse").kendoWindow({
                title: "Mark Availability",
            modal: true
        });

                var direction = "MarkSeekAvailability?MeetingId=@Model.MeetingID";

                var wnd = $("#wndParticipantsResponse").data("kendoWindow");
                var opts = wnd.options;

                wnd = $("#wndParticipantsResponse").kendoWindow({
                actions: ["Close"],
            content: direction,
            width: "75%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () { },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                    }
                }).data("kendoWindow");

                opts.width = "75%";
                wnd.setOptions(opts);
                wnd.open();
                wnd.center();
            }

            function reSendSeekAvailability()
            {
        $("#frmUpdateSeekAvailability").attr(
                    "action",
                    "@Url.Action("ReSendSeekAvailability", "Meetings", new { MeetingId = Model.MeetingID })"
         ).submit();
            }

            function chartToolTipTemplate(item, category, count) {

                var template = "<div>" + category + " : " + count + "</div> <div style='text-align:left'>";
                for (var i = 0; i < item.length; i++) {
                    var tag = item[i];
                    template += kendo.format("<li>{0}</li>", tag.ParticipantName, tag.Email);
                }
                template += "</div>";
                return template;
            }

</script>

<div id="example">
    <div id="window" style="width:1290px; min-height:520px; max-height:530px;overflow-y:auto;overflow-x:hidden">

        @*<ul class="nav nav-tabs" id="MyTab">
            <li class="active"><a data-toggle="tab" id="mytab1" href="#home">Details</a></li>
            @if (Model.Type.Trim() == "M")
            {
                <li><a data-toggle="tab" id="mytabSA" href="#divSeekAvailability">Seek Availability</a></li>
            }
            <li><a data-toggle="tab" id="mytab2" href="#menu1">Agenda Items</a></li>
            <li><a data-toggle="tab" id="mytab3" href="#menu2">Notice</a></li>
            <li><a data-toggle="tab" id="mytab4" href="#menu4" class="hidden">Sample Agenda Preview </a></li>
            @if (Model.Type.Trim() == "C")
            {
                <li><a data-toggle="tab" id="mytab5" href="#menu5">Agenda Responses</a></li>
            }
        </ul>*@

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                @if (Model.Type.Trim() == "M")
                {
                    <div id="divDetailsOfMeeting" style="margin-left:1%; margin-right:1%;">
                        @Html.Partial("_EditMeetings", Model)
                    </div>
                }
                else
                {
                    <div id="divDetailsOfCircular" style="margin-left:1%; margin-right:1%;">
                        @Html.Partial("_EditCircular", Model)
                    </div>
                }
            </div>
            @if (Model.Type.Trim() == "M")
            {
                <div id="divSeekAvailability" class="tab-pane fade">
                    <div style="margin-left:0%; margin-right:1%; margin-bottom:0%;">

                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" id="mytab1_sub" href="#tabAVDetails_sub">Details</a></li>
                            <li><a data-toggle="tab" id="mytab1_sub" href="#tabAVMail_sub">Mail Format</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="tabAVDetails_sub" class="tab-pane fade in active">
                                <div>
                                    <div class="row form-group mt30">
                                        <div class="col-md-12 colpadding0">
                                            <div class="col-md-2 colpadding0">
                                                <span id="spAvailabilityDueDate" style="color:red">*</span><label class="control-label">Seek Availability Due Date</label>
                                                @(Html.Kendo().DatePicker().Name("SeekAvailability_DueDate").Format("dd/MM/yyyy").Min(DateTime.Now).HtmlAttributes(new { style = "width: 98%", @Id = "SeekAvailability_DueDate", onchange = "UpdateAvailabilityDueDate(this)", autocomplete = "off" }))
                                                @Html.ValidationMessageFor(model => model.SeekAvailability_DueDate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div id="divSeekAvailabilityDetails">
                                    @Html.Partial("_EditAvailability", new BM_ManegmentServices.VM.MeetingAvailabilityVM() { MeetingID = Model.MeetingID, MeetingAvailabilityId = 0, IsSeekAvailabilitySent = Model.IsSeekAvailabilitySent, CanMarkSeekAvailability_ = Model.CanMarkSeekAvailability, CanReSendSeekAvailability_ = Model.CanReSendSeekAvailability })
                                </div>

                            </div>

                            <div id="tabAVMail_sub" class="tab-pane">
                                <div id="divDetailsOfAvailabilityFormat">
                                    @Html.Partial("_EditAvailabilityFormat", Model.AvailabilityMailFormat)
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            }


            <div id="menu1" class="tab-pane fade">
                <div style="margin-left:1%; margin-right:1%; margin-bottom:2%;">
                    <div id="divAgendaItemDetails">
                        @Html.Partial("_EditAgendaItems", Model)
                    </div>
                </div>
            </div>

            <div id="menu2" class="tab-pane fade">
                <div style="margin-left:1%; margin-right:1%; margin-bottom:0%;">
                    <div id="divNoticeMailFormat">
                        @Html.Partial("_NoticeFormat", Model.NoticeMailFormat)
                    </div>
                </div>
            </div>

            @if (Model.Type.Trim() == "C")
            {
                <div id="menu5" class="tab-pane fade">
                    <div style="margin-left:1%; margin-right:1%; margin-bottom:0%;">
                        <div id="divNoticeMailFormat">
                            @Html.Partial("_AgendaResponseSummite", new BM_ManegmentServices.VM.Agenda_SummitResponse { MeetingId = Model.MeetingID })
                        </div>
                    </div>
                </div>
            }
        </div>


        @(Html.Kendo().Window()
            .Name("wndParticipantsResponse")
            .Title("Participants")
            .Visible(false)
            .Modal(true)
            .Draggable(true)
            .Scrollable(true)
        )

        @(Html.Kendo().Window()
            .Name("wndShowParticipants")
            .Title("Participants")
            .Visible(false)
            .Modal(true)
            .Content(@<text>
                @Model.MeetingID

                @(Html.Kendo().Grid<BM_ManegmentServices.VM.DirectorList_ForEntity>()
            .Name("gridparticipants")
            .Columns(columns =>
            {
                columns.Bound(c => c.FirstName).Title("Director")
                                .ClientTemplate(
                                    @"<div class='customer-photo'
                                                            style='background-image: url(" + @Url.Content("~/Areas/BM_Management/Documents/Director/#:data.Director_ID#/#:data.ImagePath#") + ");'></div><div class='customer-name'>#=GetSalutation(data.Salutation)# #:FirstName# #:data.LastName#</div>")
                                  .Width(300);
                columns.Bound(c => c.DIN);
                columns.Command(command =>
                {
                    //command.Custom("Y").HtmlAttributes(new { @class = "k-grid-edit" });
                }).HeaderTemplate("Response");
            })
            .HtmlAttributes(new { style = "height: 520px;" })
            //.Scrollable()
            .Sortable()
            .DataSource(dataSource => dataSource
                //.WebApi()
                .Ajax()
                .ServerOperation(false)
                //.Read(read => read.Url("/api/DirectorMasterAPI/DirectorList_ForEntity?EntityId=" + @Model.Entityt_Id).Type(HttpVerbs.Get))
                //.Read(read => read.Url("/api/DirectorMasterAPI/DirectorList_ForEntity?EntityId=" + @Model.Entityt_Id).Type(HttpVerbs.Get))
                .Read(read => read.Action("Meetings_Read_Participants", "Meetings").Data("additionalInfo").Type(HttpVerbs.Get))
                .PageSize(20)
            ))

                <style>
                    #gridparticipants k-grid td {
                        border-width: 0;
                    }

                    .customer-photo {
                        display: inline-block;
                        width: 75px;
                        height: 65px;
                        border-radius: 50%;
                        background-size: 75px 65px;
                        background-position: center center;
                        vertical-align: middle;
                        line-height: 32px;
                        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
                        margin-left: 5px;
                    }

                    .customer-name {
                        display: inline-block;
                        vertical-align: middle;
                        line-height: 32px;
                        padding-left: 3px;
                    }
                </style>

                <script>
                    function GetSalutation(value) {
                        if (value == "1") {
                            return "Mr.";
                        } else if (value == "2") {
                            return "Mrs.";
                        } else if (value == "3") {
                            return "Ms.";
                        } else {
                            return "Error";
                        }
                    }
                </script>

            </text>)
            .Draggable(true)
            .Scrollable(true)
        )


    </div>
</div>

<script>
    function EditSubAgenda(v) {
        $("#frmUpdateSeekAvailability").attr(
                "action",
                "@Url.Action("GetSeekAvailability", "Meetings")" + "?id=" + v
                ).submit();
    }

    function ShowParticipants() {
        $("#wndShowParticipants").kendoWindow({
            title: "Participants",
            modal: true,
            close: function (e) {
                //$(this.element).empty();
            }
        });

        var wnd = $("#wndShowParticipants").data("kendoWindow");
        var opts = wnd.options;
        opts.width = "95%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();

        //kendo.ui.progress(wnd.element, true);
        $('#gridparticipants').data('kendoGrid').dataSource.read();
        //kendo.ui.progress(wnd.element, false);

    }


    function setDataItem(item) {
        
        var grid = $("#gridResponse").data("kendoGrid");
        var row = $(item).closest("tr");
        var dataItem = grid.dataItem(row);
        // var category = $(item)[0].labels[0].innerText;
        var ID;

        //for (var i = 0; i < categories.length; i++) {
        //    if (categories[i].text === category) {
        //        ID = i;
        //        break;
        //    }
        //};
        if ($(item).val() == "True") {
            dataItem.Response = true;
        } else {
            dataItem.Response = false;
        }
        dataItem.dirty = true;
        //grid.refresh();
    };


    function setDataItemforCircular(item) {
        
        var grid = $("#gridResponsees").data("kendoGrid");
        var row = $(item).closest("tr");
        var dataItem = grid.dataItem(row);
        // var category = $(item)[0].labels[0].innerText;
        var ID;

        //for (var i = 0; i < categories.length; i++) {
        //    if (categories[i].text === category) {
        //        ID = i;
        //        break;
        //    }
        //};
        if ($(item).val() == "A") {
            dataItem.Response = "A";
        } else if ($(item).val() == "D") {
            dataItem.Response = "D";
        }
        else if ($(item).val() == "DIF") {
            dataItem.Response = "DIF";
        }
        else if ($(item).val() == "AB") {
            dataItem.Response = "AB";
        }
        dataItem.dirty = true;
        //grid.refresh();
    };


    $(document).ready(function () {
        $(".k-grid-edit").find("span").addClass("k-icon k-edit");

    });
</script>

<!-- Seek Availability DueDate-->
<script>

    $(document).ready(function () {
        $("#SeekAvailability_DueDate").attr("readonly", true);

        if ('@Model.IsSeekAvailabilitySent' == "True" || '@Model.IsSeekAvailabilitySent' == "true") {

            var datepicker = $("#SeekAvailability_DueDate").data("kendoDatePicker");
            datepicker.readonly();
        }
    });

    function checkDate(e) {
        if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
            e.value = '';
        }
    }

    function UpdateAvailabilityDueDate(e) {
        if (moment(e.value, "DD/MM/YYYY").isValid() == true) {

            var date_ = moment(e.value, "DD/MM/YYYY");
            var dat = moment(date_).format("MMM-DD-YYYY");
            var MeetingID = '@Model.MeetingID';

            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateAvailabilityDueDate", "Meetings")",
                data: "{MeetingId: " + MeetingID + ",date_:'" + dat + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response == false) {
                        e.value = '';
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
    }
</script>

<!-- Notice Script-->
<script>

    $(document).on("change", "input[name='TemplateType']", function () {
        var meetingNoticeMailVM = new Object();
        meetingNoticeMailVM.NoticeMailID = "@Model.MeetingID";
        meetingNoticeMailVM.TemplateType = this.value;
        $.ajax({
            type: "POST",
            url: "@Url.Action("NoticeAgendaTemplate", "Meetings")",
            data: JSON.stringify(meetingNoticeMailVM),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                
                if (response != null) {
                    $("#NoticeMail").data("kendoEditor").body.innerHTML = response.NoticeMail;
                } else {
                    alert("Something went wrong");
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });

    });
</script>


<!-- Compliance Assignment -->
<script>

    function ComplianceAssignment() {
        var direction = "@Url.Action("MeetingComplianceAssignment", "MeetingComplianceAssign", new { meetingId = Model.MeetingID})";
        showCompliancePopUp(direction);
    }
</script>
