﻿@using Kendo.Mvc.UI;

@{
    ViewBag.Title = "Past Meetings";
    Layout = "~/Areas/BM_Management/Views/Shared/BM_layout.cshtml";
}

@Html.AntiForgeryToken()
@Html.ValidationSummary(false, "", new { @class = "text-danger" })

<style>
    #gridKendo2.k-grid .k-header {
        display: none;
    }

    .k-alt
    {
        background-color :#ffffff;
    }
    .k-grid tr td
    {
        border-style:none;
    }
    .k-grid-footer
    {
        border-style:none;
    }
    .k-footer-template{
        display:none;
    }
    td.k-group-cell
    {
        background-color :#ffffff;
    }
    .k-grouping-row td
    {
        background-color :#ffffff;
    }
    
</style>
<style>
    html {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .myMultiSelect .k-multiselect-wrap
    {
       overflow: auto;
       max-height: 34px;
       height:34px;
    }

    .myMultiSelect2 .k-multiselect-wrap
    {
       overflow: auto;
       max-height: 63px;
       height:63px;
    }

    .order-id {
            display: inline-block;
            min-width: 60px;
        }
    .ap-grid-h300{
        min-height: 120px;
        max-height: 120px;
        overflow-x : no-display;
        overflow-y : auto;
    }
</style>

<style>
    .field-validation-error {
        color: #ff0000;
    }

    .k-current-page {
        display: none;
    }

    html .k-upload-empty {
        border-width: 1px;
    }

    .k-edit-form-container {
        position: relative;
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .k-grid-edit {
        height: 32px;
        width: 33px;
        padding: 6px 0px 10px 0;
        /*white-space: nowrap;*/
        overflow: hidden;
        /*border-radius: 20px;*/
    }

    .k-grid-delete {
        height: 32px;
        width: 33px;
        padding: 5px 0px 10px 0;
        overflow: hidden;
    }

    .fieldlist {
        margin: 0 0 -2em;
        padding: 0;
    }

        .fieldlist li {
            list-style: none;
            padding-bottom: 2em;
        }

        .fieldlist label {
            display: block;
            padding-bottom: 1em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            color: #444;
        }

    .mt30 {
        margin-top: 18px;
    }

    .k-grid-add {
        float: right;
        /*background-color: #1fd9e1;*/
        /*color: white;*/
    }
    /*.k-add
    {
        background-image:url("'../../../../Images/Add_new_icon.png'")
    }*/
    .k-edit-buttons {
        height: 43px;
        text-align: center;
    }

    label {
        color: black;
    }

    .ml-mr {
        margin-left: 2%;
    }
</style>

<style>
    .k-window div.k-window-content {
        /*// overflow: hidden;*/
        /*overflow-y: scroll*/
    }

    fieldset {
        display: block;
        margin-inline-start: 0px;
        margin-inline-end: 2px;
        padding-block-start: 0.35em;
        padding-inline-start: 0.75em;
        padding-inline-end: 0.75em;
        padding-block-end: 0.625em;
        min-inline-size: min-content;
        border-width: 1px;
        border-style: groove;
        border-color: rgba(128, 128, 128, 0.56);
        border-radius: 11px;
        /*border-color: threedface;
    border-image: initial;*/
    }

    .amp-mb5 {
        margin-bottom: 5px;
    }

    .amp-h25 {
        height: 25px;
    }

    .amp-h26 {
        height: 26px;
    }

    .amp-h27 {
        height: 27px;
    }

    .amp-h28 {
        height: 28px;
    }

    .amp-h29 {
        height: 29px;
    }

    .amp-h30 {
        height: 30px;
    }

    .amp-mt7 {
        margin-top: 7px;
    }

    .amp-mt8 {
        margin-top: 8px;
    }

    .amp-mt9 {
        margin-top: 9px;
    }

    .amp-mt10 {
    }
</style>

<script type="text/javascript">
    function error_handler(e) {
        e.xhr.responseJSON.Message;
        $("#DiverrorI").show();
        $('#lblerrormsgI').text(e.xhr.responseJSON.Message);
    }
</script>

<script>
    function onRowBound(e) {
        $(".k-grid-edit").find("span").addClass("k-icon k-edit");
        $(".k-grid-delete").find("span").addClass("k-icon k-delete");
        $(".k-grid-add").find("span").addClass("k-icon k-add k-i-plus-outline");
    }
</script>

<script>
    function getDataForEnitity() {

        var result = {
            entityId: $("#ddlEntity").data("kendoDropDownList").value()
        };
        return result;
    }

    function ddlEntityChanged() {
        var grid = $("#gridKendo2").data("kendoGrid");
        grid.dataSource.read();
    }

    function setDefaultEntity() {
        
        var ddlEntity = $("#ddlEntity").data("kendoDropDownList");
        var entityId = ddlEntity.value();
        if (entityId > 0) {
            ddlEntityChanged();
        }
    }
</script>

<script id="name-template" type="text/x-kendo-template">
    <strong>#: name #</strong>
    <div style="border-bottom:2px dotted rgb(169, 169, 169);padding-bottom:4px;margin:10px 10px;">
        <table cellpadding="0" cellspacing="0" style="width:100%;table-layout:fixed;">
            <tbody>
                <tr>
                    <td style="vertical-align:top;width:55px;text-align:center;">
                        <table cellpadding="0" cellspacing="0" style="width:50px;margin:0px auto;border:1px solid rgb(224, 224, 224);border-radius:5px;">
                            <tbody>
                                <tr><td style="background-color:#017fbe;color:#ffffff;font-size:15px;line-height:18px;border-radius:4px 4px 0px 0px;">Nov</td></tr>
                                <tr><td style="color:#555555;font-size:20px;line-height:1;padding:5px 0px;">20</td></tr>
                            </tbody>
                        </table>
                    </td>
                    <td style="padding:0px 30px 0px 15px;vertical-align:top;">
                        <h1 style="cursor:pointer;font-size:16px;line-height:1.4;margin-top:0px;padding-bottom: 0px;margin-bottom: 0px;font-weight:bold;">#: MeetingTypeName # Meeting</h1>
                        <p style="line-height:1.4;"># : kendo.toString(MeetingDate, \"MMM dd, yyyy\") #</p>
                    </td>
                </tr>
            </tbody></table></div>
</script>


<div class="row Dashboard-white-widget">
    <div class="dashboard">

        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">

                @(Html.Kendo().DropDownList()
                                .Name("ddlEntity")
                                .ValuePrimitive(true)
                                .DataValueField("Id")
                                .DataTextField("EntityName")
                                //.OptionLabel("Entity")
                                .Events(e => e.Change("ddlEntityChanged").DataBound("setDefaultEntity"))
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Url("/api/EntityMasterAPI/GetDropDownEntityForMeeting").Type(HttpVerbs.Get);
                                    })
                                    .ServerFiltering(false);
                                }).HtmlAttributes(new { style = "width: 320px;" })
                )
            </div>
        </div>

        <div class="row mt30 colpadding0">
            <div class="col-md-12 colpadding0">

                @(Html.Kendo().Grid<BM_ManegmentServices.VM.CompletedMeetingsVM>()
                .Name("gridKendo2")
                .Columns(columns =>
                {
                    columns.Bound(p => p.FYText).HeaderTemplate("Year").ClientGroupHeaderTemplate("#= value  # (Meetings : #= count#)").ClientTemplate(" ").Width(1);
                    columns.Bound(p => p.MeetingTypeName).HeaderTemplate("Meeting").ClientGroupHeaderTemplate("#= value  # ( #= count# )").ClientTemplate(" ").Width(1);
                    // columns.Bound(p => p.MeetingTypeName).ClientTemplate("#= MeetingTypeName # #=data.Quarter_ =='' ? '' : data.Quarter_ # #=data.MeetingSrNo# - #=data.FYText#").HeaderTemplate("Meeting").HtmlAttributes(new { title = "" }).Sortable(false);
                    //    columns.Bound(p => p.MeetingTypeName).ClientTemplate("<h1 style='cursor:pointer;font-size:16px;line-height:1.4;margin-top:0px;padding-bottom: 0px;margin-bottom: 0px;font-weight:bold;'>Board Meeting</h1><p style='line-height:1.4;'>Wednesday, 11:00 AM</p>");
                    columns.Bound(p => p.MeetingTypeName).ClientTemplate("<div><table style='width:100%;'><tr><td style='vertical-align:top;width:50px;text-align:center;'><table cellpadding='0' cellspacing='0' style='width:50px;margin:0px auto;border:1px solid rgb(224, 224, 224);border-radius:5px;'><tr><td style='background-color:rgb(1, 127, 190);color:white;font-size:14px;line-height:7px;border-radius:4px 4px 0px 0px;'>#:data.Month_#</td></tr><tr><td style='font-size:20px;line-height:1;padding:5px 0px;'>#:data.Day_#</td></tr></table></td><td style='padding:10px 30px 0px 15px;vertical-align:top;'><h1 style='cursor:pointer;font-size:16px;line-height:1.4;margin-top:0px;padding-bottom: 0px;margin-bottom: 0px;font-weight:bold;'>#: data.MeetingCircular=='M' ? 'Meeting ' : 'Circular '# #:data.MeetingTypeName# #: data.Quarter_# #: MeetingSrNo#</h1><p style='line-height:1.4;'>#:data.DName#, #:data.MeetingTime#</p></td></tr></table></div>");
                    //columns.Bound(p => p.TypeName).ClientTemplate("#= MeetingDate == null ? '' : kendo.toString(MeetingDate, \"MMM dd, yyyy\")# ).HeaderTemplate("Date").HtmlAttributes(new { title = "#= Type #" }).Sortable(false).Width(120);
                    //columns.Bound(x => x.MeetingSrNo).Title("SrNo").Width(170);
                })
                @*.ToolBar(toolbar =>
                {
                toolbar.Template(@<text>
                                    <div class="refreshBtnContainer">
                                    </div>
                                    <div>
                                        Filter
                                        <input id='filter' placeholder="Name" class='k-textbox' style="width: 30%;" autocomplete="off" />
                                        <input id='filterEmail' placeholder="Email" class='k-textbox' style="width: 20%;" autocomplete="off" />
                                    </div>
                </text>);
                })*@
                .Events(e => e.DataBound("onRowBound"))
                .AutoBind(false)
                .Navigatable()
                //.Pageable(pageable => pageable
                //.Refresh(false)
                //.PageSizes(true)
                //.ButtonCount(5))
                .Filterable()
                .Sortable()
                .Reorderable(reorderable => reorderable.Columns(true))
                .Resizable(resizable => resizable.Columns(true))
                .ColumnMenu()
                .DataSource(dataSource => dataSource
                .WebApi()
                //.PageSize(10)
                .ServerOperation(false)
                .Model(model =>
                {
                    model.Id(o => o.MeetingID);
                })
                .Aggregates(aggregates =>
                {
                    aggregates.Add(p => p.FYText).Count();
                    aggregates.Add(p => p.MeetingTypeName).Count();
                })
                .Group(groups => groups.Add(p => p.FYText))
                .Group(g => g.Add(p => p.MeetingTypeName))
                //.Sort(sort => sort.Add("Customer_Id").Ascending())
                //.Sort(sort => sort.Add("SerialNo").Ascending())
                .Sort(sort => sort.Add("MeetingDate").Ascending())
                                .Read(read => read.Url("/api/MeetingAPI/GetCompletedMeetings").Data("getDataForEnitity").Type(HttpVerbs.Get))
                                .Events(events => events.Error("error_handler"))
                                     ))
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        //  var validator = $("#divAddUser").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
    });
</script>

<!-- Filter Script-->
<script>
    function filterChange() {

        var filter = { logic: 'or', filters: [] };

        var t = $('#filter');
        if (t.val() != "") {
            filter.filters.push({ logic: "or", field: "FirstName", operator: "contains", value: t.val() });
        }

        var t1 = $('#filterEmail');
        if (t1.val() != "") {
            filter.filters.push({ logic: "or", field: "Email", operator: "contains", value: t1.val() });
        }

        grid = $("#gridKendo2").data("kendoGrid");
        grid.dataSource.filter(filter);
    }
</script>

<script>
    $('#filter').on('input', function (e) {
        filterChange();
    });

    $('#filterEmail').on('input', function (e) {
        filterChange();
    });
</script>