﻿
@{
    ViewBag.Title = "AuditAssignment";
    Layout = "~/Areas/VendorAuditManagement/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <style type="text/css">
        .k-list > .k-state-focused.k-state-selected, .k-listview > .k-state-focused.k-state-selected, .k-state-focused.k-state-selected, td.k-state-focused.k-state-selected {
            -webkit-box-shadow: inset 0 0 3px 1px #14699f;
            box-shadow: inset 0 0 1px 1px #14699f;
        }

        .k-grid-header th.k-state-focused, .k-list > .k-state-focused, .k-listview > .k-state-focused, .k-state-focused, td.k-state-focused {
            -webkit-box-shadow: inset 0 0 3px 1px #d7dae0;
            box-shadow: inset 0 0 1px 1px white;
        }

        .div.k-grid-footer, div.k-grid-header {
            border-top-width: 1px;
            margin-right: 0px;
        }

        .k-grid-footer-wrap, .k-grid-header-wrap {
            position: relative;
            width: 100%;
            overflow: hidden;
            border-style: solid;
            border-width: 0 1px 0 0;
            zoom: 1;
        }

        .k-grid-content {
            min-height: 380px !important;
            overflow: hidden;
        }

        html {
            color: #666666;
            font-size: 15px;
            font-weight: normal;
            font-family: 'Roboto',sans-serif;
        }

        .k-checkbox-label, .k-radio-label {
            display: inline;
        }

        .myKendoCustomClass {
            z-index: 999 !important;
        }

        .k-header .k-grid-toolbar {
            background: white;
            float: left;
            width: 100%;
        }

        .k-grid td {
            line-height: 2.0em;
            border-bottom-width: 1px;
            background-color: white;
            border-width: 0 1px 1px 0px;
        }

        .k-i-more-vertical:before {
            content: "\e006";
        }

        .k-grid td.k-state-selected:hover, .k-grid tr.k-state-selected:hover {
            background-color: #1fd9e1;
            background-image: none;
            background-color: white;
        }

        k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list > .k-state-highlight, .k-list > .k-state-selected, .k-marquee-color, .k-panel > .k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-tool.k-state-selected {
            color: #000000;
            border-color: #1fd9e1;
            background-color: white;
        }

        .k-pager-wrap > .k-link > .k-icon {
            margin-top: -2px;
            color: inherit;
        }

        html .k-grid tr:hover {
            background: white;
        }

        html .k-grid tr.k-alt:hover {
            background: white;
        }

        .k-grid tbody .k-button {
            min-width: 30px;
            min-height: 30px;
            background: white;
            border: none;
        }

        .k-button-icontext .k-icon, .k-button-icontext .k-image, .k-button-icontext .k-sprite {
            margin-right: 0px;
            margin-right: 0px;
            margin-left: 0px;
            margin-left: 0px;
        }

        .k-auto-scrollable {
            overflow: hidden;
        }

        .k-grid-header {
            padding-right: 0px !important;
            margin-right: 2px;
        }

        .k-filter-menu .k-button {
            width: 27%;
        }

        .k-label input[type="checkbox"] {
            margin: 0px 5px 0 !important;
        }

        input[type=checkbox], input[type=radio] {
            margin: 4px 4px 0;
            line-height: normal;
        }

        .k-filter-row th, .k-grid-header th.k-header {
            font-size: 15px;
            background: #f8f8f8;
            font-family: 'Roboto',sans-serif;
            color: #2b2b2b;
            font-weight: 400;
        }

        .k-primary {
            border-color: #1fd9e1;
            background-color: #1fd9e1;
        }

        .k-pager-wrap {
            background-color: white;
            color: #2b2b2b;
        }

        td.k-command-cell {
            border-width: 0 0px 1px 0px;
            text-align: center;
        }

        .k-grid-pager {
            margin-top: -1px;
        }

        span.k-icon.k-i-calendar {
            margin-top: 6px;
        }

        .col-md-2 {
            width: 20%;
        }

        .k-filter-row th, .k-grid-header th.k-header {
            border-width: 0px 0px 1px 0px;
            background: #E9EAEA;
            font-weight: bold;
            margin-right: 18px;
            font-family: 'Roboto',sans-serif;
            font-size: 15px;
            color: rgba(0, 0, 0, 0.5);
            height: 20px;
            vertical-align: middle;
        }

        .k-dropdown-wrap.k-state-default {
            background-color: white;
        }

        .k-popup.k-calendar-container, .k-popup.k-list-container {
            background-color: white;
        }

        label.k-label {
            font-family: roboto,sans-serif !important;
            color: #515967;
            /* font-stretch: 100%; */
            font-style: normal;
            font-weight: 400;
            min-width: 362px;
            white-space: pre-wrap;
        }

        .k-multicheck-wrap .k-item {
            line-height: 1.2em;
            font-size: 14px;
            margin-bottom: 5px;
        }

        label {
            display: flex;
            margin-bottom: 0px;
        }

        .k-state-default > .k-select {
            border-color: #ceced2;
            margin-top: -4px;
        }

        .k-grid-norecords {
            width: 100%;
            height: 100%;
            text-align: center;
            margin-top: 2%;
        }

        .k-grouping-header {
            font-style: italic;
            background-color: white;
        }

        .k-grid table {
            width: 100.5%;
        }

        .k-active-filter, .k-state-active, .k-state-active:hover {
            background-color: #E9EAEA;
            border-color: #a6a6ad;
            color: #535b6a;
        }

        .k-treeview .k-i-collapse, .k-treeview .k-i-expand, .k-treeview .k-i-minus, .k-treeview .k-i-plus {
            margin-left: -18px;
            cursor: pointer;
        }

        .k-button.k-button-icon .k-icon, .k-grid-filter .k-icon, .k-header .k-icon {
            text-indent: -99999px;
            overflow: hidden;
        }

        .k-header > .k-grid-filter, .k-header > .k-header-column-menu {
            float: right;
            margin: -.5em 0.4em -0.4em 0px;
            padding: .5em .2em .4em;
            position: relative;
            z-index: 1;
            color: inherit;
        }

        .k-multiselect-wrap .k-input {
            /*padding-top:6px;*/
            display: inherit !important;
        }

        .k-filter-menu .k-button {
            width: 27%;
            background-color: #E9EAEA;
            color: black;
            border: 2px solid rgba(0, 0, 0, 0.5);
        }

        .k-tabstrip-items > .k-state-default .k-link {
            color: #263238;
            width: 130.13px;
            font-size: 17px;
        }

        .k-tabstrip .k-content.k-state-active {
            background-color: #fff;
            color: #515967;
            overflow-x: hidden;
        }

        .margin-6 {
            margin: 6px 6px 6px 6px;
        }
    </style>

    <script type="text/javascript">

        $(function ()
        {
            $(".k-tabstrip-items").append("<span class='k-textbox k-grid-search' style='float:right;margin-right: 4.3px;'><a href='#' class='k-icon k-i-search' style='color: blue;font-size:17px;'>& nbsp;</a ><input id='txtSearch' autocomplete='off' class='k-input'></span>");

            BinddropdownfilterAuditor();
            BinddropdownfilterDirector();
            bindprojectdetails();
            BindLocation();
            $("#tabstrip").kendoTabStrip({
                animation: false,
                select: showLoading,
                contentLoaded: hideLoading,
                activate: hideLoading,
            });


            $("#btnSavemulti").on("click",function(e)
            {
                var UID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID;
                var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;
                var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';

                var things = [];
                var grid = $("#gridUnScheduled").data("kendoGrid");
                var sel = $("input:checked", grid.tbody).closest("tr");
                $.each (sel, function(idx, row)
                {
                    var item = grid.dataItem(row);
                    if (item.value != "" && item.value != undefined)
                    {
                        item.assignmentID = item.value;
                        item.CreatedBy = UID;
                        things.push(item);
                    }
                });

                //var dataSource = $("#gridUnScheduled").data("kendoGrid").dataSource;
                //var filters = dataSource.filter();
                //var allData = dataSource.data();
                //var query = new kendo.data.Query(allData);
                //var data = query.filter(filters).data;

                //var things = [];
                //for (var i = 0; i < data.length; i++)
                //{
                //    debugger;
                //    if (data[i].value != "" && data[i].value != undefined)
                //    {
                //        data[i].assignmentID = data[i].value;
                //        data[i].CreatedBy = UID;
                //        things.push(data[i]);
                //    }
                //}
                if (things.length > 0)
                {
                    $.ajax({
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        type: 'POST',
                        url: apiUrl + '/VendorAudit/MultipleUpdateAssignment',
                        data: JSON.stringify(things),

                        success: function (data)
                        {
                            if (data[0].Message == "Save")
                            {
                                alert("Record Saved Successfully");
                                BindScheduledGrid();
                                BindUnScheduledGrid();
                                BindFilter();
                                BindFilterunAssigned();
                            }
                        },
                        failure: function (response) {
                            $('#result').html(response);
                        }
                    });
                }
                else
                {
                    alert('Please select at least one Record');
                }
            });
            $("#btnClear").on("click",function(e)
            {
                debugger;
                $("#dropdownFilterProjectName").data("kendoDropDownList").select("-1");
                $('#dropdownLocation').data("kendoDropDownTree").value([]);
                $("#dropdownAuditorfilter").data("kendoDropDownList").select("-1");
                BindFilter();
                BindFilterunAssigned();
            });
            function showLoading(e)
            {
                var tabstrip = e.sender;

                window.setTimeout(function () {
                    kendo.ui.progress(tabstrip.element, true);
                });
            }

            function hideLoading(e)
            {
                var tabstrip = e.sender;

                window.setTimeout(function () {
                    kendo.ui.progress(tabstrip.element, false);
                });
            }

            fhead('Audit Assignment');

            BindScheduledGrid();
            BindUnScheduledGrid();

        });

        function BindScheduledGrid()
        {
            var UID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID;
            var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;
            var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';

            var ddlDataSource1 = new kendo.data.DataSource({
                transport: {
                    read: apiUrl + '/VendorAudit/BindAuditorUser?CID='+CID
                },
                pageSize: 10
            });

            var gridexist = $('#gridScheduled').data("kendoGrid");
            if (gridexist != undefined || gridexist != null)
                $('#gridScheduled').empty();

            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: apiUrl + '/VendorAudit/AssignmentList?CID=' + CID
                },
                pageSize: 10,
                schema: {
                    model: {
                        id: "ID",
                        fields: {
                            ActivationDate: { type: "date" }
                        }
                    }
                },
            });

            $("#gridScheduled").kendoGrid({
                dataSource: dataSource,
                dataBound: function(e) {
                    var grid = e.sender;
                    var items = e.sender.items();

                    items.each(function(e) {
                        var dataItem = grid.dataItem(this);
                        var ddt = $(this).find('.dropDownTemplate1');

                        $(ddt).kendoDropDownList({
                            value: dataItem.value,
                            dataSource: ddlDataSource1,
                            optionLabel: "Select Auditor",
                            dataTextField: "UserName",
                            dataValueField: "ID",
                            change: onDDLChange1
                        });
                    });
                },
                sortable: true,
                //groupable: true,
                filterable: true,
                columnMenu: true,
                noRecords: true,
                messages: {
                    noRecords: "No records found"
                },
                reorderable: true,
                resizable: true,
                multi: true,
                selectable: true,
                pageable: {
                    numeric: true,
                    pageSizes: ['All', 5, 10, 20],
                    pageSize: 10,
                    buttonCount: 3,
                },
                columns: [{
                    field: "ID",
                    filterable: false,
                    hidden: true
                },  {
                    field: "Location",
                    title: "Location", attributes: {
                        style: 'white-space: nowrap;'

                    }, filterable: {
                        multi: true,
                        extra: false,
                        search: true,
                        operators: {
                            string: {
                                eq: "Is equal to",
                                neq: "Is not equal to",
                                contains: "Contains"
                            }
                        }
                    },
                    sortable:true
                }, {
                    field: "ProjectName",
                    title: "Project", attributes: {
                        style: 'white-space: nowrap;'

                    }, filterable: {
                        multi: true,
                        extra: false,
                        search: true,
                        operators: {
                            string: {
                                eq: "Is equal to",
                                neq: "Is not equal to",
                                contains: "Contains"
                            }
                        }
                    },
                    sortable:true
                },
                 {
                     field: "ContractorName",
                     title: "Contractor", attributes: {
                         style: 'white-space: nowrap;'

                     }, filterable: {
                         multi: true,
                         extra: false,
                         search: true,
                         operators: {
                             string: {
                                 eq: "Is equal to",
                                 neq: "Is not equal to",
                                 contains: "Contains"
                             }
                         }
                     },
                     sortable:true
                 },
                 {
                     field: "UserName",
                     title: "Auditor Name", attributes: {
                         style: 'white-space: nowrap;'

                     }, filterable: {
                         multi: true,
                         extra: false,
                         search: true,
                         operators: {
                             string: {
                                 eq: "Is equal to",
                                 neq: "Is not equal to",
                                 contains: "Contains"
                             }
                         }
                     },
                     sortable:true
                 },
                  {
                      field: "value",
                      title:"New Auditor",
                      template: columnTemplateFunction1,
                      sortable:false,
                      filterable:false
                  },
                   {
                       command: [
                           { name: "edit", text: "", iconClass: "k-icon k-i-track-changes-accept Unicode: 6f", className: "ob-edit" },
                       ], title: "Action", width: "8%", lock: true,
                       headerAttributes: {
                           style: "text-align: center;"
                       },
                   },
                ]
            });
            $("#gridScheduled").kendoTooltip({
                filter: "td",
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    if (content != "") {
                        return '<div style="width: ' + content.length * .6 + 'em; max-width: 20em;white-space: pre-wrap;">' + content + '</div>';
                    }
                    else
                        e.preventDefault();
                }
            }).data("kendoTooltip");

            $("#gridScheduled").kendoTooltip({
                filter: "th",
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    if (content != "") {
                        return '<div style="width: ' + content.length * .6 + 'em; max-width: 20em;white-space: pre-wrap;">' + content + '</div>';
                    }
                    else
                        e.preventDefault();
                }
            }).data("kendoTooltip");

            $("#gridScheduled").kendoTooltip({
                filter: ".ob-edit",
                content: function (e) {
                    return "Save";
                }
            });

        }
        function columnTemplateFunction1(dataItem) {
            var input = '<input class="dropDownTemplate1"/>'

            return input
        };
        function onDDLChange1(e) {
            var element = e.sender.element;
            var row = element.closest("tr");
            var grid = $("#gridScheduled").data("kendoGrid");
            var dataItem = grid.dataItem(row);

            dataItem.set("value", e.sender.value());
        };
        function columnTemplateFunction(dataItem) {
            var input = '<input class="dropDownTemplate"/>'

            return input
        };
        function onDDLChange(e) {
            var element = e.sender.element;
            var row = element.closest("tr");
            var grid = $("#gridUnScheduled").data("kendoGrid");
            var dataItem = grid.dataItem(row);

            dataItem.set("value", e.sender.value());
        };

        $(document).on("click", "#gridScheduled tbody tr .ob-edit", function (e) {
            var item = $("#gridScheduled").data("kendoGrid").dataItem($(this).closest("tr"));

            if (item.value != null && item.value != undefined) {
                var UID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID;
                var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;
                var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';

                $.ajax({
                    type: "GET",
                    url: apiUrl + '/VendorUpdate/GetAssignedData',
                    data: {
                        UserID: UID, CustID: CID,
                        assignmentUserId:item.value,
                        MappingID:item.ID
                    },
                    success: function (response) {
                        if (response == "Success")
                        {
                            alert("Record Saved Successfully");
                            BindScheduledGrid();
                            BindUnScheduledGrid();
                            BindFilter();
                            BindFilterunAssigned();
                        }
                        else {
                            alert("Error");
                        }
                    }
                });
            }
            else
            {
                alert('Please select auditor');
            }
        });
        function BindUnScheduledGrid()
        {
            var UID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID;
            var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;
            var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';


            var ddlDataSource = new kendo.data.DataSource({
                transport: {
                    read: apiUrl + '/VendorAudit/BindAuditorUser?CID='+CID
                },
                pageSize: 10
            });

            var gridexist = $('#gridUnScheduled').data("kendoGrid");
            if (gridexist != undefined || gridexist != null)
                $('#gridUnScheduled').empty();

            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: apiUrl + '/VendorAudit/UnAssignmentList?CID=' + CID
                },
                pageSize: 10,
            });

            $("#gridUnScheduled").kendoGrid({
                dataSource: dataSource,
                dataBound: function(e) {
                    editAll();
                    var grid = e.sender;
                    var items = e.sender.items();

                    items.each(function(e) {
                        var dataItem = grid.dataItem(this);
                        var ddt = $(this).find('.dropDownTemplate');

                        $(ddt).kendoDropDownList({
                            value: dataItem.value,
                            dataSource: ddlDataSource,
                            optionLabel: "Select Auditor",
                            dataTextField: "UserName",
                            dataValueField: "ID",
                            change: onDDLChange
                        });
                    });
                },
                sortable: true,
                //groupable: true,
                filterable: true,
                columnMenu: true,
                noRecords: true,
                messages: {
                    noRecords: "No records found"
                },
                reorderable: true,
                resizable: true,
                multi: true,
                selectable: true,
                pageable: {
                    numeric: true,
                    pageSizes: ['All', 5, 10, 20],
                    pageSize: 10,
                    buttonCount: 3,
                },
                columns: [{
                    field: "ID",
                    filterable: false,
                    hidden: true
                },
                  {
                      template: "<input name='sel_chkbxADV' id='sel_chkbxADV' type='checkbox' >",
                      filterable: false, sortable: false,
                      headerTemplate: "<input type='checkbox' id='chkAllADV' />",
                      width: "5%;"//,
                  },
                    {
                        field: "LocationName",
                        title: "Location", attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        },
                        sortable:true
                    },{
                    field: "ProjectName",
                    title: "Project", attributes: {
                        style: 'white-space: nowrap;'

                    }, filterable: {
                        multi: true,
                        extra: false,
                        search: true,
                        operators: {
                            string: {
                                eq: "Is equal to",
                                neq: "Is not equal to",
                                contains: "Contains"
                            }
                        }
                    },
                    sortable:true
                },
                 {
                     field: "ContractorName",
                     title: "Contractor", attributes: {
                         style: 'white-space: nowrap;'

                     }, filterable: {
                         multi: true,
                         extra: false,
                         search: true,
                         operators: {
                             string: {
                                 eq: "Is equal to",
                                 neq: "Is not equal to",
                                 contains: "Contains"
                             }
                         }
                     },
                     sortable:true
                 },
                 {
                     field: "value",
                     title:"Auditor",
                     template: columnTemplateFunction,
                     sortable:false,
                     filterable:false
                 },
                 {
                     command: [
                         { name: "edit", text: "", iconClass: "k-icon k-i-track-changes-accept Unicode: 6f", className: "ob-edit" },
                     ], title: "Action", width: "8%", lock: true,
                     headerAttributes: {
                         style: "text-align: center;"
                     },
                 },
                ]
            });
            $("#gridUnScheduled").kendoTooltip({
                filter: "td",
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    if (content != "") {
                        return '<div style="width: ' + content.length * .6 + 'em; max-width: 20em;white-space: pre-wrap;">' + content + '</div>';
                    }
                    else
                        e.preventDefault();
                }
            }).data("kendoTooltip");

            $("#gridUnScheduled").kendoTooltip({
                filter: "th",
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    if (content != "") {
                        return '<div style="width: ' + content.length * .6 + 'em; max-width: 20em;white-space: pre-wrap;">' + content + '</div>';
                    }
                    else
                        e.preventDefault();
                }
            }).data("kendoTooltip");

            $("#gridUnScheduled").kendoTooltip({
                filter: ".ob-edit",
                content: function (e) {
                    return "Save";
                }
            });
        }
   

        $(document).on("click", "#chkAllADV", function (e) {

            if ($('input[id=chkAllADV]').prop('checked')) {

                $('input[name="sel_chkbxADV"]').each(function (i, e) {
                    e.click();
                });
            }
            else {

                $('input[name="sel_chkbxADV"]').attr("checked", false);
            }

            if (($('input[name="sel_chkbxADV"]:checked').length) == 0) {
                $('#btnSavemulti').css('display', 'none');
            }
            else {
                $('#btnSavemulti').css('display', 'block');
            }
            return true;
        });

        $(document).on("click", "#sel_chkbxADV", function (e) {
            if (($('input[name="sel_chkbxADV"]:checked').length) == 0) {
                $('#btnSavemulti').css('display', 'none');
            }
            else {
                $('#btnSavemulti').css('display', 'block');
            }
            return true;
        });



        $(document).on("click", "#gridUnScheduled tbody tr .ob-edit", function (e) {
            var item = $("#gridUnScheduled").data("kendoGrid").dataItem($(this).closest("tr"));
            if (item.value != null && item.value != undefined) {

                var UID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID;
                var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;
                var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';
                kendo.ui.progress($("#gridUnScheduled").data("kendoGrid").element, true);

                $.ajax({
                    type: "GET",
                    url: apiUrl + '/VendorUpdate/GetAssignedData',
                    data: {
                        UserID: UID, CustID: CID,
                        assignmentUserId:item.value,
                        MappingID:item.ID
                    },
                    success: function (response) {
                        if (response == "Success")
                        {
                            alert("Record Saved Successfully");
                            BindScheduledGrid();
                            BindUnScheduledGrid();
                            BindFilter();
                            BindFilterunAssigned();
                            kendo.ui.progress($("#gridUnScheduled").data("kendoGrid").element, false);
                        }
                        else {
                            alert("Error");
                        }
                    }
                });
            }
            else
            {
                alert('Please select auditor');
            }
        });

        function BinddropdownfilterDirector()
        {
            var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;
            var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';
            $("#dropdownAuditorfilter").kendoDropDownList({
                filter: "startswith",
                autoClose: false,
                autoWidth: true,
                dataTextField: "UserName",
                dataValueField: "ID",
                optionLabel: "Select Auditor",
                change: function (e)
                {
                    BindFilter();
                    BindFilterunAssigned();
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/BindAuditorUser?CID=' + CID,
                            dataType: "json",
                        }}
                }
            });

        }
        function BinddropdownfilterAuditor()
        {
            var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;
            var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';
            $("#dropdownAuditorfilter1").kendoDropDownList({
                filter: "startswith",
                autoClose: false,
                autoWidth: true,
                dataTextField: "UserName",
                dataValueField: "ID",
                optionLabel: "Select Auditor",
                change: function (e)
                {
                    youFunction();
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/BindAuditorUser?CID=' + CID,
                            dataType: "json",
                        }}
                }
            });

        }


        function bindprojectdetails()
        {
            var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;
            var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';


            $("#dropdownFilterProjectName").kendoDropDownList({
                filter: "startswith",
                autoClose: false,
                autoWidth: true,
                dataTextField: "Name",
                dataValueField: "ID",
                optionLabel: "Select Project",
                change: function (e) {
                    BindFilter();
                    BindFilterunAssigned();
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/ProjectMasterNew?CID=' + CID,
                            dataType: "json",
                        }}
                }
            });
        }
        function BindLocation()
        {
            var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;
            var UserID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID;
            var Role = '@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role';
            var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';
            var Authorization ='@com.VirtuosoITech.ComplianceManagement.Business.ComplianceManagement.getToken(Convert.ToString(35))'

            $("#dropdownLocation").kendoDropDownTree({
                placeholder: "Entity/Sub-Entity/Location",
                checkAll: true,
                autoWidth: true,
                checkAllTemplate: "Select All",
                dataTextField: "Name",
                dataValueField: "ID",
                change: function (e) {
                    BindFilter();
                    BindFilterunAssigned();
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/GetLocationList?customerId=' + CID,
                            dataType: "json",
                            //beforeSend: function (request) {
                            //    request.setRequestHeader('Authorization', Authorization);
                            //},
                        }
                    },
                    schema: {
                        data: function (response) {
                            return response[0].locationList;
                        },
                        model: {
                            children: "Children"
                        }
                    }
                }
            });
        }

        function BindFilter()
        {
            var finalSelectedfilter = { logic: "and", filters: [] };

            if (($("#dropdownLocation").val() != "" && $("#dropdownLocation").val() != null && $("#dropdownLocation").val() != undefined)
                || ($("#dropdownFilterProjectName").val() != "" && $("#dropdownFilterProjectName").val() != null && $("#dropdownFilterProjectName").val() != undefined)
                  || ($("#dropdownAuditorfilter").val() != undefined && $("#dropdownAuditorfilter").val() != null && $("#dropdownAuditorfilter").val() != ""))
            {
                if ($("#dropdownFilterProjectName").val() != undefined && $("#dropdownFilterProjectName").val() != null && $("#dropdownFilterProjectName").val() != "") {
                    var SeqFilter01 = { logic: "or", filters: [] };
                    SeqFilter01.filters.push({
                        field: "ProjectID", operator: "eq", value: $("#dropdownFilterProjectName").val()
                    });
                    finalSelectedfilter.filters.push(SeqFilter01);
                }

                if ($("#dropdownLocation").val() != undefined && $("#dropdownLocation").val() != null && $("#dropdownLocation").val() != "") {
                    var SeqFilter1 = { logic: "or", filters: [] };
                    SeqFilter1.filters.push({
                        field: "locationID", operator: "eq", value: $("#dropdownLocation").val()
                    });
                    finalSelectedfilter.filters.push(SeqFilter1);
                }

                if ($("#dropdownAuditorfilter").val() != undefined && $("#dropdownAuditorfilter").val() != null && $("#dropdownAuditorfilter").val() != "") {
                    var SeqFilter4 = { logic: "or", filters: [] };
                    SeqFilter4.filters.push({
                        field: "AuditorID", operator: "eq", value: $("#dropdownAuditorfilter").val()
                    });
                    finalSelectedfilter.filters.push(SeqFilter4);
                }
                if (finalSelectedfilter.filters.length > 0) {
                    var dataSource = $("#gridScheduled").data("kendoGrid").dataSource;
                    dataSource.filter(finalSelectedfilter);
                }
                else {
                    $("#gridScheduled").data("kendoGrid").dataSource.filter({});
                }
            }
            else {
                $("#gridScheduled").data("kendoGrid").dataSource.filter({});
            }
        }
        function editAll() {
            var theGrid = $("#gridUnScheduled").data("kendoGrid");
            $("#gridUnScheduled tbody").find('tr').each(function () {
                var model = theGrid.dataItem(this);
                kendo.bind(this, model);
            });
            $("#gridUnScheduled").focus();
        }
        function BindFilterunAssigned()
        {
            var finalSelectedfilter = { logic: "and", filters: [] };

            if (($("#dropdownLocation").val() != "" && $("#dropdownLocation").val() != null && $("#dropdownLocation").val() != undefined)
                || ($("#dropdownFilterProjectName").val() != "" && $("#dropdownFilterProjectName").val() != null && $("#dropdownFilterProjectName").val() != undefined))
            {
                if ($("#dropdownFilterProjectName").val() != undefined && $("#dropdownFilterProjectName").val() != null && $("#dropdownFilterProjectName").val() != "") {
                    var SeqFilter01 = { logic: "or", filters: [] };
                    SeqFilter01.filters.push({
                        field: "ProjectID", operator: "eq", value: $("#dropdownFilterProjectName").val()
                    });
                    finalSelectedfilter.filters.push(SeqFilter01);
                }

                if ($("#dropdownLocation").val() != undefined && $("#dropdownLocation").val() != null && $("#dropdownLocation").val() != "") {
                    var SeqFilter1 = { logic: "or", filters: [] };
                    SeqFilter1.filters.push({
                        field: "locationID", operator: "eq", value: $("#dropdownLocation").val()
                    });
                    finalSelectedfilter.filters.push(SeqFilter1);
                }

                if (finalSelectedfilter.filters.length > 0) {
                    var dataSource = $("#gridUnScheduled").data("kendoGrid").dataSource;
                    dataSource.filter(finalSelectedfilter);
                }
                else {
                    $("#gridUnScheduled").data("kendoGrid").dataSource.filter({});
                }
            }
            else {
                $("#gridUnScheduled").data("kendoGrid").dataSource.filter({});
            }
        }
        function youFunction()
        {
            debugger;
            editAll();
            var theGrid = $("#gridUnScheduled").data("kendoGrid");
            var gridData = theGrid.dataSource._data;

            for (var i = 0; i < gridData.length; i++) {
                gridData[i].value = $("#dropdownAuditorfilter1").val();
            }
            $("#gridUnScheduled").data("kendoGrid").refresh();
        }
    </script>

</head>
<body>

    <div class="row Dashboard-white-widget">
        <div class="margin-6">
            <input id="dropdownLocation" style="width: 20%;margin-right: 0.5%;" />
            <input id="dropdownFilterProjectName" style="width: 20%;margin-right: 0.5%;" />
            <input id="dropdownAuditorfilter" style="width: 20%;margin-right: 0.5%;" />
            <button id="btnClear" type="button" style="float: right" class="k-button"><span class="k-icon k-i-filter-clear" onclick="javascript:return false;"></span>Clear</button>
        </div>
        <div id="tabstrip" style="border: 0px white; background-color: white;">
            <ul>
                <li class="k-state-active">
                    Assigned
                </li>
                <li>
                    Un-Assigned
                </li>
            </ul>
            <div class="margin-6">
                <div id="gridScheduled"></div>
            </div>
            <div>
                <div class="margin-6">
                    <input id="dropdownAuditorfilter1" data-placeholder="Audit" style="width: 20%;margin-left: 71%;" />
                    <button id="btnSavemulti" type="button" style="float: right" class="k-button">Submit</button>
                </div>
                <div class="margin-6" id="gridUnScheduled"></div>
            </div>
        </div>
    </div>

</body>
</html>