﻿
@{
    ViewBag.Title = "AuditorCloseReport";
    Layout = "~/Areas/VendorAuditManagement/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <style type="text/css">

        html {
            color: #666666;
            font-size: 15px;
            font-weight: normal;
            font-family: 'Roboto',sans-serif;
        }

        .k-button-icontext .k-icon, .k-button-icontext .k-image, .k-button-icontext .k-sprite {
            margin-right: 0px;
            margin-right: 0px;
            margin-left: 0px;
            margin-left: 0px;
        }

        .k-auto-scrollable {
            overflow: hidden;
        }

        .k-primary {
            border-color: #1fd9e1;
            background-color: #1fd9e1;
        }

        .k-pager-wrap {
            background-color: white;
            color: #2b2b2b;
        }

        .k-dropdown-wrap.k-state-default {
            background-color: white;
        }

        .k-popup.k-calendar-container, .k-popup.k-list-container {
            background-color: white;
        }

        label.k-label {
            font-family: roboto,sans-serif !important;
            color: #515967;
            /* font-stretch: 100%; */
            font-style: normal;
            font-weight: 400;
            min-width: 362px;
            white-space: pre-wrap;
        }

        .k-multicheck-wrap .k-item {
            line-height: 1.2em;
            font-size: 14px;
            margin-bottom: 5px;
        }

        label {
            display: flex;
            margin-bottom: 0px;
        }

        .k-state-default > .k-select {
            border-color: #ceced2;
            margin-top: -4px;
        }

        .k-grid-norecords {
            width: 100%;
            height: 100%;
            text-align: center;
            margin-top: 2%;
        }

        .k-grouping-header {
            font-style: italic;
            background-color: white;
        }

        .k-grid table {
            width: 100.5%;
        }

        .k-active-filter, .k-state-active, .k-state-active:hover {
            background-color: #E9EAEA;
            border-color: #a6a6ad;
            color: #535b6a;
        }

        .k-treeview .k-i-collapse, .k-treeview .k-i-expand, .k-treeview .k-i-minus, .k-treeview .k-i-plus {
            margin-left: -18px;
            cursor: pointer;
        }

        .k-button.k-button-icon .k-icon, .k-grid-filter .k-icon, .k-header .k-icon {
            text-indent: -99999px;
            overflow: hidden;
        }

        .k-header > .k-grid-filter, .k-header > .k-header-column-menu {
            float: right;
            margin: -.5em 0.4em -0.4em 0px;
            padding: .5em .2em .4em;
            position: relative;
            z-index: 1;
            color: inherit;
        }

        .k-multiselect-wrap .k-input {
            /*padding-top:6px;*/
            display: inherit !important;
        }

        .k-filter-menu .k-button {
            width: 27%;
            background-color: #E9EAEA;
            color: black;
            border: 2px solid rgba(0, 0, 0, 0.5);
        }

        .MainWrapper {
            width: 18.2%;
            display: block;
            float: left;
            color: #212121;
            margin-left: 2.2%;
            margin-top: 4px;
            font-weight: 400;
        }

        .margin-6 {
            margin: 6px 6px 6px 6px;
        }

        .btnreports {
            width: 252px;
            height: 70px;
            margin: 10px 11px 10px 10px;
            font-size: 17px;
            font-weight: 500;
        }
    </style>

    <script type="text/javascript">

        var UID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID;
        var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;
        var Role = '@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role';

        var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';

        $(function () {
            setactivemenu('leftAssingmentmenu');
            fhead('Audit Report');

            document.getElementById('btnReportInfra').style = "display:none;";
            document.getElementById('btnReportFact').style = "display:none;";
            document.getElementById('btnReportMSI').style = "display:none;";

            $("#dropdownLocation").kendoDropDownTree({
                placeholder: "Entity/Sub-Entity/Location",
                checkboxes: {
                    checkChildren: true
                },
                //filter: "contains",
                checkAll: true,
                autoClose: false,
                autoWidth: true,
                checkAllTemplate: "Select All",
                dataTextField: "Name",
                dataValueField: "ID",
                change: function (e) {
                    fCreateStoryBoard('dropdownLocation', 'filtersLocation', 'location');
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/GetLocationListrolewise?UID=' + UID + '&customerId=' + CID + '&role=' + Role,
                            dataType: "json",
                        }
                    },
                    schema: {
                        data: function (response) {
                            return response[0].locationList;
                        },
                        model: {
                            children: "Children"
                        }
                    }
                }
            });

            var dropdownLocation = $("#dropdownLocation").data("kendoDropDownTree");
            dropdownLocation.bind("dataBound", dropdownLocation_dataBound);

            function dropdownLocation_dataBound(e) {

                $("#dropdownLocation").data("kendoDropDownTree").value(["26475"]);
                if ($("#dropdownLocation").data("kendoDropDownTree").value().length > 1) {
                    document.getElementById('btnReportInfra').style = "display:block;";
                }

                $("#dropdownLocation").data("kendoDropDownTree").value(["26470"]);
                if ($("#dropdownLocation").data("kendoDropDownTree").value().length > 1) {
                    document.getElementById('btnReportFact').style = "display:block;";
                }

                $("#dropdownLocation").data("kendoDropDownTree").value(["26834"]);
                if ($("#dropdownLocation").data("kendoDropDownTree").value().length > 1) {
                    document.getElementById('btnReportMSI').style = "display:block;";
                }
                $("#dropdownLocation").data("kendoDropDownTree").value([]);
            }

            $("#Startdatepicker").kendoDatePicker({
                format: "dd-MM-yyyy"
            });

            $("#Lastdatepicker").kendoDatePicker({
                format: "dd-MM-yyyy"
            });

            $("#project-ddl").kendoDropDownTree({
                placeholder: "Project",
                filter: "contains",
                checkboxes: true,
                checkAll: true,
                autoClose: false,
                checkAllTemplate: "Select All",
                autoWidth: true,
                dataTextField: "Name",
                dataValueField: "Name",
                change: function (e) {
                    fCreateStoryBoard('project-ddl', 'filterProjectCD', 'project');
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/ProjectMasterFilterRecordRoleWise?UID=' + UID + '&CID=' + CID + '&LocationIDs=&role=' + Role,
                            dataType: "json",
                        }
                    }
                }
            });

            $("#drpPeriodWise").kendoDropDownList({
                autoClose: true,
                autoWidth: true,
                dataTextField: "text",
                dataValueField: "value",
                optionLabel: "Month",
                change: function (e) {
                },
                dataSource: [
                    { text: "Jan", value: "1", },
                    { text: "Feb", value: "2", },
                    { text: "Mar", value: "3", },
                    { text: "Apr", value: "4", },
                    { text: "May", value: "5", },
                    { text: "Jun", value: "6", },
                    { text: "Jul", value: "7", },
                    { text: "Aug", value: "8", },
                    { text: "Sep", value: "9", },
                    { text: "Oct", value: "10", },
                    { text: "Nov", value: "11", },
                    { text: "Dec", value: "12", }
                ]
            });

            $("#dateCaseYear").kendoDatePicker({
                start: "decade",
                depth: "decade",
                format: "yyyy",
                dateInput: true
            });

            $("#dateCaseYear").val('2021');

            var Month = new Date().getMonth();

            $("#drpPeriodWise").val(Month);

            $("#drpPeriodWise").data("kendoDropDownList").value(Month);

            $("#btnGetVendorAuditForCloseReport").on("click" , function (e)
            {
                var a = document.createElement('a');
                $.ajax({
                    type: 'post',
                    url: apiUrl + '/VendorAudit/GetVendorAuditForCloseReport?CustID=' + CID + '&UID=' + UID + '&role=' + Role,
                    success: function (data) {

                        if(data != undefined){
                            var fileName = data[1];

                            a.href = apiUrl + "/VendorAudit/DownloaddContractorLicense?Name=" + fileName + '&CustID=' + CID;
                            document.body.append(a);
                            a.click();
                            a.remove();
                        }
                        else
                        {
                            alert("failed");
                        }
                    }
                });
            });

        });

        function fCreateStoryBoard(Id, div, filtername) {
            var IdKReset = $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).attr('id');
            $('#' + div).html('');
            $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).css('height', '0px');
            $('#' + div).css('display', 'block');

            if (div == 'filtersLocation') {
                $('#' + div).append('Location&nbsp;&nbsp;&nbsp;:&nbsp;');//Location
            }

            if (div == 'filtersStatus') {
                $('#' + div).append('Status&nbsp;&nbsp;&nbsp;:&nbsp;');//Status
            }

            if (div == 'filterProjectCD') {
                $('#' + div).append('Project&nbsp;&nbsp;&nbsp;:&nbsp;');//Status
            }

            for (var i = 0; i < $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).find('.k-button').length; i++) {
                var button = $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).find('.k-button')[i];
                $(button).css('display', 'none');
                $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).attr('placeholder', 'Shree');
                var buttontest = $($(button).find('span')[0]).text();
                if (buttontest.length > 10) {
                    buttontest = buttontest.substring(0, 10).concat("...");
                }
                $('#' + div).append('<li class="k-button " unselectable="on" Id="ddl' + filtername + [i] + '" role="option" style="background-color:#EBEBEB;height: 20px;Color:Gray;border-radius:10px;margin-left:5px;margin-bottom: 4px;"><span unselectable="on" title="' + $($(button).find('span')[0]).text() + '">' + buttontest + '</span><span data-K-Id="ddl' + filtername + [i] + '" data-Id="' + IdKReset + '" data-seq="' + i + '" onclick="fcloseStory(this)" title="Clear" aria-label="Clear" class="k-select" style="padding-left: 6px;"><span data-Id="' + IdKReset + '" data-seq="' + i + '"  onclick="fcloseStory(this)"  class="k-icon k-i-close" title="Clear" aria-label="Clear" style="font-size: 12px;"></span></span></li>');
            }

            if ($($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).find('.k-button').length == 0) {
                $('#' + div).css('display', 'none');
                $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).css('height', '0px');

            }
        }

        function fcloseStory(obj) {

            var DataId = $(obj).attr('data-Id');
            var dataKId = $(obj).attr('data-K-Id');
            var seq = $(obj).attr('data-seq');
            var deepspan = $('#' + DataId + ' > li > span > span.k-i-close')[seq];
            $(deepspan).trigger('click');
            var upperli = $('#' + dataKId);
            $(upperli).remove();

            fCreateStoryBoard('dropdownLocation', 'filtersLocation', 'location');
            fCreateStoryBoard('project-ddl', 'filterProjectCD', 'project');
        }

        function ClearAllFilterMain(e) {
            $("#dropdownLocation").data("kendoDropDownTree").value([]);
            $("#project-ddl").data("kendoDropDownTree").value([]);
            $("#drpPeriodWise").data("kendoDropDownList").select(0);
            $("#Startdatepicker").val('');
            $("#Lastdatepicker").val('');
            $("#dateCaseYear").val('');
            e.preventDefault();
        }

        function btnComplianceRemarksReport_click(e) {

            var periodfor = $("#drpPeriodWise").data("kendoDropDownList").text() + " " + $("#dateCaseYear").val().slice(2);

            if ($("#drpPeriodWise").val() == "" || $("#dateCaseYear").val() == "") {
                periodfor = "";
            }

            //location details
            var list1 = $("#dropdownLocation").data("kendoDropDownTree")._values;
            var locationsdetails = [];
            $.each(list1, function (i, v) {
                locationsdetails.push(v);
            });
            var list2 = $("#project-ddl").data("kendoDropDownTree")._values;
            var projectDetails = [];
            $.each(list2, function (i, v) {
                projectDetails.push(v);
            });


            $.ajax({
                type: "GET",
                url: apiUrl + '/VendorUpdate//ComplianceRemarksReport',
                data: {
                    CustomerID: CID,
                    location: JSON.stringify(locationsdetails),
                    StartDate: $("#Startdatepicker").val(),
                    EndDate: $("#Lastdatepicker").val(),
                    Status: "",
                    ProjectID: JSON.stringify(projectDetails),
                    Period: periodfor,
                    UID: UID,
                    role: Role
                },
                success: function (response) {
                    if (response != "Error" && response != "No Record Found" && response != "") {
                        window.location.href = '' + apiUrl + '/VendorUpdate/GetFile?userpath=' + response + '';
                    }
                    if (response == "No Record Found") {
                        alert("No Record Found");
                    }
                }
            });
            e.preventDefault();
            return false;
        }

        function btnReport_click(e) {
            var periodfor = $("#drpPeriodWise").data("kendoDropDownList").text() + " " + $("#dateCaseYear").val().slice(2);

            if ($("#drpPeriodWise").val() == "" || $("#dateCaseYear").val() == "") {
                var Month = new Date().getMonth();
                $("#drpPeriodWise").val(Month);
                $("#drpPeriodWise").data("kendoDropDownList").value(Month);
                $("#dateCaseYear").val('2021');

                periodfor = $("#drpPeriodWise").data("kendoDropDownList").text() + " " + $("#dateCaseYear").val().slice(2);
            }

            //location details
            var list1 = $("#dropdownLocation").data("kendoDropDownTree")._values;
            var locationsdetails = [];
            $.each(list1, function (i, v) {
                locationsdetails.push(v);
            });
            var list2 = $("#project-ddl").data("kendoDropDownTree")._values;
            var projectDetails = [];
            $.each(list2, function (i, v) {
                projectDetails.push(v);
            });


            $.ajax({
                type: "GET",
                url: apiUrl + '/VendorUpdate//ClosedAuitReportInfraWise',
                data: {
                    CustomerID: CID,
                    location: JSON.stringify(locationsdetails),
                    StartDate: $("#Startdatepicker").val(),
                    EndDate: $("#Lastdatepicker").val(),
                    Status: "",
                    ProjectID: JSON.stringify(projectDetails),
                    Period: periodfor,
                    UID: UID,
                    role: Role
                },
                success: function (response) {
                    if (response != "Error" && response != "No Record Found" && response != "") {
                        window.location.href = '' + apiUrl + '/VendorUpdate/GetFile?userpath=' + response + '';
                    }
                    if (response == "No Record Found" || response == "Error") {
                        alert("No Record Found");
                    }
                }
            });
            e.preventDefault();
            return false;
        }

        function btnReportFactory_click(e) {

            var periodfor = $("#drpPeriodWise").data("kendoDropDownList").text() + " " + $("#dateCaseYear").val().slice(2);

            if ($("#drpPeriodWise").val() == "" || $("#dateCaseYear").val() == "") {
                var Month = new Date().getMonth();
                $("#drpPeriodWise").val(Month);
                $("#drpPeriodWise").data("kendoDropDownList").value(Month);
                $("#dateCaseYear").val('2021');

                periodfor = $("#drpPeriodWise").data("kendoDropDownList").text() + " " + $("#dateCaseYear").val().slice(2);
            }

            //location details
            var list1 = $("#dropdownLocation").data("kendoDropDownTree")._values;
            var locationsdetails = [];
            $.each(list1, function (i, v) {
                locationsdetails.push(v);
            });
            var list2 = $("#project-ddl").data("kendoDropDownTree")._values;
            var projectDetails = [];
            $.each(list2, function (i, v) {
                projectDetails.push(v);
            });

            $.ajax({
                type: "GET",
                url: apiUrl + '/VendorUpdate//ClosedAuitReportFactoryWise',
                data: {
                    CustomerID: CID,
                    location: JSON.stringify(locationsdetails),
                    StartDate: $("#Startdatepicker").val(),
                    EndDate: $("#Lastdatepicker").val(),
                    Status: "",
                    ProjectID: JSON.stringify(projectDetails),
                    Period: periodfor,
                    UID: UID,
                    role:Role
                },
                success: function (response) {
                    if (response != "Error" && response != "No Record Found" && response != "") {
                        window.location.href = '' + apiUrl + '/VendorUpdate/GetFile?userpath=' + response + '';
                    }
                    if (response == "No Record Found" || response == "Error") {
                        alert("No Record Found");
                    }
                }
            });
            e.preventDefault();
            return false;
        }

        function btnReportMSI_click(e) {

            var periodfor = $("#drpPeriodWise").data("kendoDropDownList").text() + " " + $("#dateCaseYear").val().slice(2);

            if ($("#drpPeriodWise").val() == "" || $("#dateCaseYear").val() == "") {
                var Month = new Date().getMonth();
                $("#drpPeriodWise").val(Month);
                $("#drpPeriodWise").data("kendoDropDownList").value(Month);
                $("#dateCaseYear").val('2021');

                periodfor = $("#drpPeriodWise").data("kendoDropDownList").text() + " " + $("#dateCaseYear").val().slice(2);
            }

            //location details
            var list1 = $("#dropdownLocation").data("kendoDropDownTree")._values;
            var locationsdetails = [];
            $.each(list1, function (i, v) {
                locationsdetails.push(v);
            });
            var list2 = $("#project-ddl").data("kendoDropDownTree")._values;
            var projectDetails = [];
            $.each(list2, function (i, v) {
                projectDetails.push(v);
            });

            $.ajax({
                type: "GET",
                url: apiUrl + '/VendorUpdate//ClosedAuitReportMSIWise',
                data: {
                    CustomerID: CID,
                    location: JSON.stringify(locationsdetails),
                    StartDate: $("#Startdatepicker").val(),
                    EndDate: $("#Lastdatepicker").val(),
                    Status: "",
                    ProjectID: JSON.stringify(projectDetails),
                    Period: periodfor,
                    UID: UID,
                    role: Role
                },
                success: function (response) {
                    if (response != "Error" && response != "No Record Found" && response != "") {
                        window.location.href = '' + apiUrl + '/VendorUpdate/GetFile?userpath=' + response + '';
                    }
                    if (response == "No Record Found" || response == "Error") {
                        alert("No Record Found");
                    }
                }
            });
            e.preventDefault();
            return false;
        }
    </script>

</head>
<body>
    <div class="row Dashboard-white-widget">
        <div style="margin: 0.4%; margin-left: 0.8%; width: 99%;">
            <input id="dropdownLocation" placeholder="Entity/Sub-Entity/Location" style="width: 24.1%; margin-right: 1%;" />
            <input id="project-ddl" style="width: 17%; margin-right: 1%;" />
            <input id="drpPeriodWise" style="width: 8%; margin-right: 0.8%;" />
            <input id="dateCaseYear" placeholder="Year" style="width: 8%;margin-right: 0.8%;" />
            <input id="Startdatepicker" placeholder="From Date" style="width: 14%; margin-right: 0.8%;" />
            <input id="Lastdatepicker" onkeydown="return false;" placeholder="To Date" style="width: 14%; margin-right: 0.8%;" />
            <button id="ClearfilterMain" style="height: 29px;" class="k-button" onclick="ClearAllFilterMain(event)"><span class="k-icon k-i-filter-clear" onclick="javascript:return false;"></span>Clear</button>
        </div>
        <div class="row" style="display: none; padding-bottom: 4px; font-size: 12px; font-weight: bold; color: black; margin-left: 10px;" id="filtersLocation">&nbsp;&nbsp;</div>
        <div class="row" style="display: none; padding-bottom: 4px; font-size: 12px; font-weight: bold; color: black; margin-left: 10px;" id="filtersStatus">&nbsp;&nbsp;</div>
        <div class="row" style="display: none; padding-bottom: 4px; font-size: 12px; font-weight: bold; color: black; margin-left: 10px;" id="filterProjectCD">&nbsp;&nbsp;</div>
        <div id="divCustomizedReports">
            <button id="btnGetVendorAuditForCloseReport" type="button" class="btn btn-search btnreports">Closed Audit Report</button>
            <button id="btnReportInfra" type="button" class="btn btn-search btnreports" onclick="btnReport_click(event);">Infra Locations<br />Closed Audit Report</button>
            <button id="btnReportFact" type="button" class="btn btn-search btnreports" onclick="btnReportFactory_click(event);">Manufacturing Plant Locations<br />Closed Audit Report</button>
            <button id="btnReportMSI" type="button" class="btn btn-search btnreports" onclick="btnReportMSI_click(event);">MSI Locations<br />Closed Audit Report</button>
            <button id="btnComplianceRemarksReport" type="button" class="btn btn-search btnreports" onclick="btnComplianceRemarksReport_click(event);">Compliance Remarks<br /> Report</button>
        </div>
    </div>
</body>
</html>