﻿
@{
    ViewBag.Title = "LicType";
    Layout = "~/Areas/VendorAuditManagement/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
    <style type="text/css">
        .k-list > .k-state-focused.k-state-selected, .k-listview > .k-state-focused.k-state-selected, .k-state-focused.k-state-selected, td.k-state-focused.k-state-selected {
            -webkit-box-shadow: inset 0 0 3px 1px #14699f;
            box-shadow: inset 0 0 1px 1px #14699f;
        }

        .k-grid-header th.k-state-focused, .k-list > .k-state-focused, .k-listview > .k-state-focused, .k-state-focused, td.k-state-focused {
            -webkit-box-shadow: inset 0 0 3px 1px #d7dae0;
            box-shadow: inset 0 0 1px 1px white;
        }

        .div.k-grid-footer, div.k-grid-header {
            border-top-width: 1px;
            margin-right: 0px;
        }

        .k-grid-footer-wrap, .k-grid-header-wrap {
            position: relative;
            width: 100%;
            overflow: hidden;
            border-style: solid;
            border-width: 0 1px 0 0;
            zoom: 1;
        }

        .k-grid-content {
            min-height: 380px !important;
            overflow: hidden;
        }

        html {
            color: #666666;
            font-size: 15px;
            font-weight: normal;
            font-family: 'Roboto',sans-serif;
        }

        .k-checkbox-label, .k-radio-label {
            display: inline;
        }

        .myKendoCustomClass {
            z-index: 999 !important;
        }

        .k-header .k-grid-toolbar {
            background: white;
            float: left;
            width: 100%;
        }

        .k-grid td {
            line-height: 2.0em;
            border-bottom-width: 1px;
            background-color: white;
            border-width: 0 1px 1px 0px;
        }

        .k-i-more-vertical:before {
            content: "\e006";
        }

        .k-grid td.k-state-selected:hover, .k-grid tr.k-state-selected:hover {
            background-color: #1fd9e1;
            background-image: none;
            background-color: white;
        }

        k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list > .k-state-highlight, .k-list > .k-state-selected, .k-marquee-color, .k-panel > .k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-tool.k-state-selected {
            color: #000000;
            border-color: #1fd9e1;
            background-color: white;
        }

        .k-pager-wrap > .k-link > .k-icon {
            margin-top: -2px;
            color: inherit;
        }

        html .k-grid tr:hover {
            background: white;
        }

        html .k-grid tr.k-alt:hover {
            background: white;
        }

        .k-grid tbody .k-button {
            min-width: 30px;
            min-height: 30px;
            background: white;
            border: none;
        }

        .k-button-icontext .k-icon, .k-button-icontext .k-image, .k-button-icontext .k-sprite {
            margin-right: 0px;
            margin-right: 0px;
            margin-left: 0px;
            margin-left: 0px;
        }

        .k-auto-scrollable {
            overflow: hidden;
        }

        .k-grid-header {
            padding-right: 0px !important;
            margin-right: 2px;
        }

        .k-filter-menu .k-button {
            width: 27%;
        }

        .k-label input[type="checkbox"] {
            margin: 0px 5px 0 !important;
        }

        input[type=checkbox], input[type=radio] {
            margin: 4px 4px 0;
            line-height: normal;
        }

        .k-filter-row th, .k-grid-header th.k-header {
            font-size: 15px;
            background: #f8f8f8;
            font-family: 'Roboto',sans-serif;
            color: #2b2b2b;
            font-weight: 400;
        }

        .k-primary {
            border-color: #1fd9e1;
            background-color: #1fd9e1;
        }

        .k-pager-wrap {
            background-color: white;
            color: #2b2b2b;
        }

        td.k-command-cell {
            border-width: 0 0px 1px 0px;
            text-align: center;
        }

        .k-grid-pager {
            margin-top: -1px;
        }

        span.k-icon.k-i-calendar {
            margin-top: 6px;
        }

        .col-md-2 {
            width: 20%;
        }

        .k-filter-row th, .k-grid-header th.k-header {
            border-width: 0px 0px 1px 0px;
            background: #E9EAEA;
            font-weight: bold;
            margin-right: 18px;
            font-family: 'Roboto',sans-serif;
            font-size: 15px;
            color: rgba(0, 0, 0, 0.5);
            height: 20px;
            vertical-align: middle;
        }

        .k-dropdown-wrap.k-state-default {
            background-color: white;
        }

        .k-popup.k-calendar-container, .k-popup.k-list-container {
            background-color: white;
        }

        label.k-label {
            font-family: roboto,sans-serif !important;
            color: #515967;
            /* font-stretch: 100%; */
            font-style: normal;
            font-weight: 400;
            min-width: 362px;
            white-space: pre-wrap;
        }

        .k-multicheck-wrap .k-item {
            line-height: 1.2em;
            font-size: 14px;
            margin-bottom: 5px;
        }

        label {
            display: flex;
            margin-bottom: 0px;
        }

        .k-state-default > .k-select {
            border-color: #ceced2;
            margin-top: -4px;
        }

        .k-grid-norecords {
            width: 100%;
            height: 100%;
            text-align: center;
            margin-top: 2%;
        }

        .k-grouping-header {
            font-style: italic;
            background-color: white;
        }

        .k-grid table {
            width: 100.5%;
        }

        .k-active-filter, .k-state-active, .k-state-active:hover {
            background-color: #E9EAEA;
            border-color: #a6a6ad;
            color: #535b6a;
        }

        .k-treeview .k-i-collapse, .k-treeview .k-i-expand, .k-treeview .k-i-minus, .k-treeview .k-i-plus {
            margin-left: -18px;
            cursor: pointer;
        }

        .k-button.k-button-icon .k-icon, .k-grid-filter .k-icon, .k-header .k-icon {
            text-indent: -99999px;
            overflow: hidden;
        }

        .k-header > .k-grid-filter, .k-header > .k-header-column-menu {
            float: right;
            margin: -.5em 0.4em -0.4em 0px;
            padding: .5em .2em .4em;
            position: relative;
            z-index: 1;
            color: inherit;
        }

        .k-multiselect-wrap .k-input {
            /*padding-top:6px;*/
            display: inherit !important;
        }

        .k-filter-menu .k-button {
            width: 27%;
            background-color: #E9EAEA;
            color: black;
            border: 2px solid rgba(0, 0, 0, 0.5);
        }

        .MainWrapper {
            width: 18.2%;
            display: block;
            float: left;
            color: #212121;
            margin-left: 2.2%;
            margin-top: 4px;
            font-weight: 400;
        }

        .margin-6 {
            margin: 6px 6px 6px 6px;
        }
        .btnreports {
            width: 274px;
            height: 70px;
            margin: 10px 30px 10px 10px;
            font-size: 20px;
            font-weight: 500;
        }
    </style>

    <script type="text/javascript">

        var UID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID;
        var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;
        var Role = '@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role';

        var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';

        $(function () {
            setactivemenu('leftAssingmentmenu');
            fhead('Contractor License Report');

            BindLocation();
            
            bindContractdetails();
            
            //BindContractType();
            

            BindContractorLicenseReportGrid();

            $("#dropdownStartDate").kendoDatePicker({
                format: "dd-MM-yyyy",
            });

            $("#dropdownEndDate").kendoDatePicker({
                format: "dd-MM-yyyy",
            });


            

            $("#btnClear").on("click" , function (e)
            {
                $("#dropdownLocation").data("kendoDropDownTree").value([]);
                $('#dropdownFilterProjectName').data("kendoDropDownTree").value([]);
                $('#dropdownContractor').data("kendoDropDownTree").value([]);
            });

            $("#exportAdvanced").on("click" , function (e)
            {

                var locationdetails = [];
                if ($("#dropdownLocation").data("kendoDropDownTree") != undefined) {
                    locationdetails = $("#dropdownLocation").data("kendoDropDownTree")._values;
                }

                

                var projectfilter = [];
                if ($("#dropdownFilterProjectName").data("kendoDropDownTree") != undefined) {
                    projectfilter = $("#dropdownFilterProjectName").data("kendoDropDownTree")._values;
                }

                var contractordetails = [];
                if ($("#dropdownContractor").data("kendoDropDownTree") != undefined) {
                    contractordetails = $("#dropdownContractor").data("kendoDropDownTree")._values;
                }

                var data = new FormData();

                data.append('CustID', CID);
                data.append('UserID', UID);
                data.append('LocationIDs', locationdetails);
                data.append('role', Role);
                data.append('projectIDs', projectfilter);
                data.append('contractorIDs', contractordetails);

                var a = document.createElement('a');
                $.ajax({
                    type: 'post',
                    //url: apiUrl + '/VendorAudit/CreateContractorLicense?CustID=' + CID + '&UserID=' + UID + '&LocationIDs=' + locationdetails,
                    url: apiUrl + '/VendorAudit/CreateContractorLicense',
                    //data: { 'CustID': CID, 'UserID': UID,'LocationIDs': locationdetails },
                    //contentType: "application/json; charset=utf-8",
                    //dataType: "json",
                    data: data,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        debugger
                        if(data[0] == 'success'){

                            var fileName = data[1];
                            a.href = apiUrl + "/VendorAudit/DownloaddContractorLicense?Name=" + fileName + '&CustID=' + CID;
                            document.body.append(a);
                            a.click();
                            a.remove();
                        }
                        else
                        {
                            alert("failed");
                        }
                    }
                });
            });


            $("#btnGetVendorAuditForCloseReport").on("click" , function (e)
            {

                var a = document.createElement('a');
                $.ajax({
                    type: 'post',
                    //url: apiUrl + '/VendorAudit/CreateContractorLicense?CustID=' + CID + '&UserID=' + UID + '&LocationIDs=' + locationdetails,
                    url: apiUrl + '/VendorAudit/GetVendorAuditForCloseReport?CustID=' + CID + '&UID=' + UID + '&role=' + Role,
                    //data: { 'CustID': CID, 'UserID': UID,'LocationIDs': locationdetails },
                    //contentType: "application/json; charset=utf-8",
                    //dataType: "json",
                    //data: data,
                    //contentType: false,
                    //processData: false,
                    success: function (data) {
                        debugger
                        //alert(data[1]);
                        if(data != undefined){


                            //a.href = JSON.stringify(data[1]);
                            //document.body.append(a);
                            //a.click();
                            //a.remove();
                            var fileName = data[1];

                            a.href = apiUrl + "/VendorAudit/DownloaddContractorLicense?Name=" + fileName + '&CustID=' + CID;
                            document.body.append(a);
                            a.click();
                            a.remove();
                        }
                        else
                        {
                            alert("failed");
                        }
                    }
                });
            });

        });




        function BindLocation()
        {
            $("#dropdownLocation").kendoDropDownTree({
                placeholder: "Select Location",
                filter: "contains",
                checkboxes: true,
                checkAll: true,
                tagMode: true,
                autoClose: false,
                checkAllTemplate: "Select All",
                autoWidth: true,
                dataTextField: "Name",
                dataValueField: "ID",
                change: function (e) {
                    FilterAll();
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/GetLocationList?customerId=' + CID, //+ '&UserID=' + UID,
                            //url: apiUrl + '/Data/GetLocationList?customerId=' + CID + '&userId=' + UserID + '&Flag=MGMT&IsStatutoryInternal=S',
                            dataType: "json",
                            //beforeSend: function (request) {
                            //    request.setRequestHeader('Authorization', Authorization);
                            //},
                        }
                    },
                    schema: {
                        data: function (response) {
                            return response[0].locationList;
                        },
                        model: {
                            children: "Children"
                        }
                    }
                }
            });


            $("#dropdownFilterProjectName").kendoDropDownTree({
                placeholder: "Select Project",
                filter: "contains",
                checkboxes: true,
                checkAll: true,
                autoClose: false,
                checkAllTemplate: "Select All",
                autoWidth: true,
                dataTextField: "Name",
                dataValueField: "ID",
                tagMode: true,
                change: function (e) {
                    FilterAll();
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/ProjectMaster?CID=' + CID,
                            dataType: "json",
                        }
                    }
                }
            });
        }


        function FilterAll() {
           

            var locationdetails = [];
            if ($("#dropdownLocation").data("kendoDropDownTree") != undefined) {
                locationdetails = $("#dropdownLocation").data("kendoDropDownTree")._values;
            }



            var projectdetails = [];
            if ($("#dropdownFilterProjectName").data("kendoDropDownTree") != undefined) {
                projectdetails = $("#dropdownFilterProjectName").data("kendoDropDownTree")._values;
            }


            var contractordetails = [];
            if ($("#dropdownContractor").data("kendoDropDownTree") != undefined) {
                contractordetails = $("#dropdownContractor").data("kendoDropDownTree")._values;
            }


            var finalSelectedfilter = { logic: "and", filters: [] };

            if (projectdetails.length > 0 || locationdetails.length > 0 || contractordetails.length > 0) {

                if (locationdetails.length > 0) {
                    var LocationFilter = { logic: "or", filters: [] };

                    $.each(locationdetails, function (i, v) {
                        LocationFilter.filters.push({
                            field: "LocationID", operator: "eq", value: v
                        });
                    });

                    finalSelectedfilter.filters.push(LocationFilter);
                }

                if (projectdetails.length > 0) {
                    var ProjectFilter = { logic: "or", filters: [] };

                    $.each(projectdetails, function (i, v) {
                        ProjectFilter.filters.push({
                            field: "PID", operator: "eq", value: v
                        });
                    });

                    finalSelectedfilter.filters.push(ProjectFilter);
                }

                if (contractordetails.length > 0) {
                    var ContractorFilter = { logic: "or", filters: [] };

                    $.each(contractordetails, function (i, v) {
                        ContractorFilter.filters.push({
                            field: "ContractorID", operator: "eq", value: v
                        });
                    });

                    finalSelectedfilter.filters.push(ContractorFilter);
                }

                
                if (finalSelectedfilter.filters.length > 0) {
                    var dataSource = $("#gridContractorLicenseReport").data("kendoGrid").dataSource;
                    dataSource.filter(finalSelectedfilter);
                }
                else {
                    $("#gridContractorLicenseReport").data("kendoGrid").dataSource.filter({});
                }
            }
            else {
                $("#gridContractorLicenseReport").data("kendoGrid").dataSource.filter({});
            }
        }

        function BindState() {
            var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';

            $("#dropdownState").kendoDropDownTree({
                placeholder: "Select State",
                filter: "contains",
                checkboxes: true,
                checkAll: true,
                autoClose: false,
                checkAllTemplate: "Select All",
                autoWidth: true,
                tagMode: true,
                dataTextField: "Name",
                dataValueField: "ID",
                change: function (e) {
                    //fCreateStoryBoardCM('dropdownState', 'filtersState', 'state');
                    //BindFilter();
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/StateMaster',
                            dataType: "json",
                        }
                    }
                }
            });
        }

        function bindContractdetails()
        {
            $("#dropdownContractor").kendoDropDownTree({
                placeholder: "Select Contractor",
                filter: "contains",
                checkboxes: true,
                checkAll: true,
                autoClose: false,
                checkAllTemplate: "Select All",
                autoWidth: true,
                dataTextField: "ContractorName",
                dataValueField: "ID",
                tagMode: true,
                change: function (e) {
                    //bindallContractorData($("#dropdownContractorName").val());
                    FilterAll();
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/GetContractMaster?CID=' + CID,
                            dataType: "json",
                        }}
                }
            });
        }

        function bindSubContractdetails()
        {
            $("#dropdownSubContractor").kendoDropDownTree({
                placeholder: "Select Sub Contractor",
                filter: "contains",
                checkboxes: true,
                checkAll: true,
                autoClose: false,
                checkAllTemplate: "Select All",
                autoWidth: true,
                tagMode: true,

                dataTextField: "ContractorName",
                dataValueField: "ID",
                change: function (e) {
                    //bindallContractorData($("#dropdownContractorName").val());
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/GetContractMaster?CID=' + CID,
                            dataType: "json",
                        }}
                }
            });
        }

        function BindContractType() {
            $("#dropdownContractorType").kendoDropDownTree({
                placeholder: "Select Contractor Type",
                filter: "contains",
                checkboxes: true,
                checkAll: true,
                autoClose: false,
                tagMode: true,
                checkAllTemplate: "Select All",
                autoWidth: true,
                dataTextField: "Name",
                dataValueField: "ID",

                change: function (e) {
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/ContractTypeMaster?CID=' + CID,
                            dataType: "json",
                        }
                    }
                }
            });
        }

        function BindPeriod() {
            $("#dropdownPeriod").kendoDropDownTree({
                placeholder: "Select Period",
                filter: "contains",
                checkboxes: true,
                checkAll: true,
                tagMode: true,
                autoClose: false,
                checkAllTemplate: "Select All",
                autoWidth: true,
                dataTextField: "text",
                dataValueField: "value",
                change: function (e) {
                },
                dataSource: [
                    { text: "XXX - yyy", value: "0" },
                ]
            });
        }

        function BindFinancialYear() {
            $("#dropdownFinancialYear").kendoDropDownTree({
                placeholder: "Select Finance Year",
                filter: "contains",
                checkboxes: true,
                checkAll: true,
                tagMode: true,
                autoClose: false,
                checkAllTemplate: "Select All",
                autoWidth: true,
                dataTextField: "Year",
                dataValueField: "ID",
                change: function (e) {
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/BindYear',
                            dataType: "json",
                        }}
                }
            });
        }


        function BindStatus() {
            $("#dropdownStatus").kendoDropDownTree({
                placeholder: "Select Status",
                filter: "contains",
                checkboxes: true,
                checkAll: true,
                autoClose: false,
                checkAllTemplate: "Select All",
                autoWidth: true,
                tagMode: true,
                dataTextField: "Status",
                dataValueField: "Id",
                change: function (e) {
                    //fCreateStoryBoardPM('dropdownStatusfilter', 'filterStatus', 'status');
                    //FilterAll();
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/ProjectStatusMaster?CID=' + CID,
                            dataType: "json",
                        }
                    }
                }
            });
        }

        function BindAuditor() {
            $("#dropdownAuditorName").kendoDropDownTree({
                placeholder: "Select Auditor",
                filter: "contains",
                checkboxes: true,
                checkAll: true,
                autoClose: false,
                checkAllTemplate: "Select All",
                autoWidth: true,
                tagMode: true,
                dataTextField: "UserName",
                dataValueField: "ID",
                change: function (e) {
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/BindAuditorUser?CID=' + CID,
                            dataType: "json",
                        }}
                }
            });
        }


        function BindContractorLicenseReportGrid() {
            var gridexist = $('#gridContractorLicenseReport').data("kendoGrid");
            if (gridexist != undefined || gridexist != null)
                $('#gridContractorLicenseReport').empty();
            var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;
            var dataSource = new kendo.data.DataSource({

                transport: {
                    read:
                    {
                        url: apiUrl + '/VendorAudit/GetAllContractorLicense?CID='+CID + '&userID=' + UID + '&role=' + Role ,
                    }
                },
                pageSize: 10
            });

            $("#gridContractorLicenseReport").kendoGrid({
                dataSource: dataSource,
                columnMenu: {
                    columns: false
                },
                sortable: true,
                filterable: true,
                navigatable: false,
                filterable: true,
                pageable: true,
                noRecords: true,
                messages: {
                    noRecords: "No records found"
                },
                reorderable: true,
                resizable: true,
                multi: true,
                selectable: true,
                pageable: {
                    numeric: true,
                    pageSizes: ['All',10, 20],
                    pageSize: 10,
                    buttonCount: 3,
                },
                
                columns: [


                    {
                        field: "SrNo", title: 'Sr No',
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        },
                        width: "6%"
                    },
                    {
                        field: "Name", title: 'Project/O&M',
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        },
                        width: "10%"
                    },
                    {
                        field: "PID", title: 'PID',
                        hidden : true,
                    },
                    {
                        field: "FileName",
                        hidden : true,
                    },
                    {
                        field: "FilePath",
                        hidden : true,
                    },
                    
                    {
                        field: "Location", title: 'Location',
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        },
                        width: "10%"
                    },
                    {
                        field: "LocationID",
                        hidden : true,
                    },
                    {
                        field: "ContractorName", title: 'Contractor Name',
                        attributes: {
                            style: 'white-space: nowrap;'

                        },
                        filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        },
                        width: "10%"
                    },
                    {
                        field: "ContractorID",title: 'ContractorID',
                        hidden : true,
                    },
                    {
                        field: "License", title: 'License',
                        attributes: {
                            style: 'white-space: nowrap;'

                        },
                        filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        },
                        width: "10%"
                    },
                    {
                        field: "LicenseNumber", title: 'Registration Number',
                        attributes: {
                            style: 'white-space: nowrap;'

                        },
                        filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        },
                        width: "10%"
                    },
                    {
                        field: "Validity", title: 'Validity',
                        attributes: {
                            style: 'white-space: nowrap;'

                        },
                        filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        },
                        width: "10%"
                    },
                    {
                        field: "Remark", title: 'Remark',
                        attributes: {
                            style: 'white-space: nowrap;'

                        },
                        filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        },
                        width: "10%"
                    },
                    
                    {
                        
                        command: [
                            { name: "edit2", text: "", iconClass: "k-icon k-i-download", className: "ob-download" },

                        ], 

                        title: "License Copy", lock: true, width: 120, headerAttributes: {
                            style: "text-align: center;"
                        },
                        width:"8%"
                    }

                ]
            });

            $("#gridContractorLicenseReport").kendoTooltip({
                filter: "td",
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    if (content != "") {
                        return '<div style="width: ' + content.length * .6 + 'em; max-width: 20em;white-space: pre-wrap;">' + content + '</div>';
                    }
                    else
                        e.preventDefault();
                }
            }).data("kendoTooltip");



            var grid = $("#gridContractorLicenseReport").data("kendoGrid");
            grid.thead.kendoTooltip({
                filter: "th",
                content: function (e) {
                    var target = e.target;
                    return target.text();
                }
            });


            $("#gridContractorLicenseReport").kendoTooltip({
                filter: ".ob-download",
                content: function (e) {
                    //var item = $("#gridContractorLicenseReport").data("kendoGrid").dataItem($(this).closest("tr"));
                    
                    return "Download License File";
                }
            });
        }


        function exportReport(e) {

            var ReportName = "Contract License Report";
            var customerName = '@com.VirtuosoITech.ComplianceManagement.Business.CustomerManagement.CustomerGetByIDName(Convert.ToInt32(@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID))';
            var todayDate = moment().format('DD-MMM-YYYY');

            var grid = $("#gridContractorLicenseReport").getKendoGrid();
            var rows =
                [
                    {
                        cells: [
                            { value: "Location:", bold: true },
                            { value: customerName }
                        ]
                    },
                    {
                        cells: [
                            { value: "Report Name:", bold: true },
                            { value: ReportName }
                        ]
                    },
                    {
                        cells: [
                            { value: "Report Generated On:", bold: true },
                            { value: todayDate }
                        ]
                    },
                    {
                        cells: [
                            { value: "" }
                        ]
                    },
                    {
                        cells: [
                            { value: "Sr No", bold: true },
                            { value: "Project/O&M", bold: true },
                            { value: "Location", bold: true },
                            { value: "Contractor Name", bold: true },
                            { value: "License", bold: true },
                            { value: "License Number", bold: true },
                            { value: "Validity", bold: true },
                            { value: "Remark", bold: true },
                        ]
                    }
                ];

            var trs = grid.dataSource;
            var filteredDataSource = new kendo.data.DataSource({
                data: trs.data(),
                filter: trs.filter()
            });

            filteredDataSource.read();
            var data = filteredDataSource.view();

            for (var i = 0; i < data.length; i++) {
                var dataItem = data[i];
                var rowHeight = 20;
                var ContractorType = "Contractor";
                if (dataItem.Issubcontract == 1) {
                    ContractorType = "Sub Contractor";
                }

                
                //var added=false;
                //if(rows.length > 0)
                //{
                //    $.map(rows, function(elementOfArray, indexInArray) {
                //        if (elementOfArray.PID == dataItem.PID) {
                //            added = true;
                //        }
                //    });
                //}
                //if(jQuery.inArray(dataItem.PID, rows) !== -1)
                //{
                    rows.push({
                        cells: [
                            { value: dataItem.SrNo },
                            { value: dataItem.ProjectOffice },
                            { value: dataItem.Location },
                            { value: dataItem.ContractorName },
                            { value: dataItem.License },
                            { value: dataItem.LicenseNumber },
                            { value: dataItem.Validity },
                            { value: dataItem.Remark },
                        ],
                        height: rowHeight
                    });
                //}
            }
            for (var i = 4; i < rows.length; i++) {
                for (var j = 0; j < 8; j++) {
                    rows[i].cells[j].borderBottom = "#000000";
                    rows[i].cells[j].borderLeft = "#000000";
                    rows[i].cells[j].borderRight = "#000000";
                    rows[i].cells[j].borderTop = "#000000";
                    rows[i].cells[j].hAlign = "left";
                    rows[i].cells[j].vAlign = "top";
                    rows[i].cells[j].wrap = true;
                }
            }
            excelExport(rows, ReportName);

            e.preventDefault();
        }

        function excelExport(rows, ReportName) {

            var FileName = "ContractLicenseReport";
            var workbook = new kendo.ooxml.Workbook({
                sheets: [
                    {
                        columns: [
                            { autoWidth: true },
                            { autoWidth: true },
                            { width: 200 },
                            { width: 150 },
                            { width: 170 },
                            { width: 120 },
                            { width: 120 },
                            { width: 120 },
                            { width: 150 },
                        ],
                        title: FileName,
                        rows: rows
                    },
                ]
            });

            var nameOfPage = FileName;
            kendo.saveAs({ dataURI: workbook.toDataURL(), fileName: nameOfPage + " .xlsx" });
            return false;
        }

        $(document).on("click", "#gridContractorLicenseReport tbody tr .ob-download", function (e) {
            var item = $("#gridContractorLicenseReport").data("kendoGrid").dataItem($(this).closest("tr"));
            
            //document.getElementById('txtUploadFileName').style = "visibility:visible;background-color: #cfd8dc;";
            if(item.FileName != null)
            {
                //DownloadSampleFile
                var a = document.createElement('a');

                //var compID = ($("#txtComplainceID").val()!="") ? $("#txtComplainceID").val() : 0;

                a.href = apiUrl + '/VendorUpdate/DownloadSampleFileLicenseReport?SampleFileName=' + item.FileName + '&FilePath=' + encodeURIComponent(item.FilePath);
                document.body.append(a);
                a.click();
                a.remove();
                document.getElementById('downloadSample').style = "visibility:visible;height: 30px;";
            }
            else
            {
                document.getElementById('downloadSample').style = "visibility:hidden;";
            }

            
            return true;
        });

    </script>

</head>
<body>
    <div>
        <div class="row Dashboard-white-widget">

            <div>
                <input id="dropdownLocation" style="width: 26%;margin-right: 0.5%; margin-bottom:1%;" />
                <input id="dropdownFilterProjectName" style="width: 25%;margin-right: 0.5%; margin-bottom:1%;" />
                <input id="dropdownContractor" style="width: 27%;margin-right: 0.5%; margin-bottom:1%;" />
                @*<input id="dropdownState" style="width: 15%;margin-right: 0.5%; margin-bottom:1%;" />
                <input id="dropdownContractor" style="width: 15%;margin-right: 0.5%; margin-bottom:1%;" />
                <input id="dropdownSubContractor" style="width: 15%;margin-right: 0.5%; margin-bottom:1%;" />
                <input id="dropdownContractorType" style="width: 15%;margin-right: 0.5%; margin-bottom:1%;" />
                <input id="dropdownPeriod" style="width: 15%;margin-right: 0.5%; margin-bottom:1%;" />
                <input id="dropdownFinancialYear" style="width: 15%;margin-right: 0.5%; margin-bottom:1%;" />
                <input id="dropdownStatus" style="width: 15%;margin-right: 0.5%; margin-bottom:1%;" />
                <input id="dropdownAuditorName" style="width: 15%;margin-right: 0.5%; margin-bottom:1%;" />
                <input id="dropdownStartDate" placeholder="Start Date" style="width: 15%;margin-right: 0.5%; margin-bottom:1%;" />
                <input id="dropdownEndDate" placeholder="End Date"  style="width: 15%;margin-right: 0.5%; margin-bottom:1%;" />*@

                
                <button id="exportAdvancednew" onclick="exportReport(event)" style="margin-bottom:10px; float:right" class="k-button" data-placement="Center"><span class="k-icon k-i-excel k-grid-edit3"></span>Export</button>

                <button id="btnClear" style="margin-bottom:10px; margin-right:8px; float:right" type="button" class="k-button"><span class="k-icon k-i-filter-clear" onclick="javascript:return false;"></span>Clear</button>
                @*onclick="exportReport(event)" exportAdvancednew*@
            </div>
            <div>
                <div id="gridContractorLicenseReport"></div>
            </div>

            <div id="filedownload">
                @*<button id="btnContractorLicense" type="button" class="btn btn-search btnreports">Contractor License Report</button>*@
                @*<button id="btnContractorLicense" CssClass="btn btn-search btnreports" type="button">Contractor License Report</button>*@

                @*<button ID="btnContractorLicense" CssClass="btn btn-search btnreports"  Text="Contractor"  />*@

                @*<button id="btnGetVendorAuditForCloseReport" type="button" class="btn btn-search btnreports">Auditor Close Report</button>*@
            </div>
        </div>
    </div>
</body>
</html>

