﻿@{
    ViewBag.Title = "ContractorDashboard";
    Layout = "~/Areas/VendorAuditManagement/Views/Shared/Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <style type="text/css">
        .bg-aqua {
            background-color: #00c0ef !important;
            color: #fff !important;
        }

        .bg-green {
            background-color: #00a65a !important;
        }

        .bg-red, .bg-yellow, .bg-aqua, .bg-blue, .bg-light-blue, .bg-green, .bg-navy, .bg-teal, .bg-olive, .bg-lime, .bg-orange, .bg-fuchsia, .bg-purple, .bg-maroon, .bg-black, .bg-red-active, .bg-yellow-active, .bg-aqua-active, .bg-blue-active, .bg-light-blue-active, .bg-green-active, .bg-navy-active, .bg-teal-active, .bg-olive-active, .bg-lime-active, .bg-orange-active, .bg-fuchsia-active, .bg-purple-active, .bg-maroon-active, .bg-black-active {
            color: #fff !important;
        }

        .bg-yellow {
            background-color: #f39c12 !important;
        }

        :after, :before {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        :after, :before {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .icon {
            -webkit-transition: all .3s linear;
            -o-transition: all .3s linear;
            transition: all .3s linear;
            position: absolute;
            top: -10px;
            right: 10px;
            z-index: 0;
            font-size: 96px;
            color: rgba(0,0,0,0.15);
        }

        .divCount:hover {
            /*color: #FF7473;*/
            font-weight: 500;
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
        }

        .entity-bg {
            color: #fff;
            background: #2b80b7;
        }

        .Closed-bg {
            color: #fff;
            background: #64B973;
        }

        .dueToday-bg {
            color: #fff;
            background: #8F45AD;
        }

        .pendingRev-bg {
            color: #fff;
            background: #0085de;
        }

        .overdue-bg {
            color: #fff;
            background: rgb(255,25,25);
        }

        #max:hover {
            z-index: 10;
        }

        .closeButton:hover, .maxButton:hover {
            -moz-box-shadow: 0 0 0 15px #f4f4f4;
            -webkit-box-shadow: 0 0 0 15px #f4f4f4;
            box-shadow: 0 0 0 15px #f4f4f4;
            -moz-transition: -moz-box-shadow .2s;
            -webkit-transition: -webkit-box-shadow .2s;
            transition: box-shadow .2s;
        }
    </style>

    <style>
        .mr10 {
            margin-left: 15px;
        }

        .ml5 {
            margin-left: 10px;
        }

        .panel-wrap {
            display: table;
            /* width: 968px;
                  background-color: #f5f5f5;
                    border: 1px solid #e5e5e5;*/
        }

        .widget.placeholder {
            opacity: 0.4;
            border: 1px dashed #a6a6a6;
        }

        /* WIDGETS */
        .widget {
            margin-left: 15px;
            margin-bottom: 15px;
            /*margin: 0 0 20px;*/
            padding: 0;
            background-color: #ffffff;
            /*border: 1px solid #e7e7e7;*/
            border-radius: 3px;
            cursor: pointer;
        }

            /*.widget:hover {
            background-color: #fcfcfc;
            border-color: #cccccc;
        }*/

            .widget div {
                /*padding: 10px;
                min-height: 50px;*/
            }

            .widget h3 {
                margin-top: 0px;
                margin-bottom: 0px;
                font-size: 17px;
                padding: 10px 10px;
                /*text-transform: uppercase;*/
                /*border-bottom: 1px solid #e7e7e7;*/
            }

                .widget h3 span {
                    float: right;
                }

                    .widget h3 span:hover {
                        cursor: pointer;
                        background-color: #e7e7e7;
                        border-radius: 20px;
                    }

        /* PROFILE */
        .profile-photo {
            /*width: 80px;
                    height: 80px;*/
            /*margin: 10px auto;*/
            border-radius: 100px;
            border: 1px solid #e7e7e7;
            background: url('../content/web/Customers/ISLAT.jpg') no-repeat 50% 50%;
        }

        .hint {
            width: 250px;
            height: 100px;
            overflow: hidden;
        }

            .hint > h3 {
                padding-left: 20px;
            }

        .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
            cursor: not-allowed;
            background-color: #ffffff;
            color: #000000;
        }

        .select_Date {
            width: 100%;
            margin-right: 0;
        }

        .icongcalender {
            color: #666;
        }

        .m10 {
            margin-left: 10px;
        }

        .k-icon-15 {
            font-size: 15px; /* Sets icon size to 32px */
        }

        imgCentered {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>

    <style type="text/css">
        b, strong {
            font-weight: 400;
        }

        div.k-window {
            z-index: 27;
        }

        .tile_count {
        }

        *, :after, :before {
            box-sizing: border-box;
        }

        .tile_count .tile_stats_count {
            padding: 0px 0px 0px 20px;
            position: relative;
        }

        .tile_count .tile_stats_count, ul.quick-list li {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .body {
            color: #eee;
        }

        *, :after, :before {
            box-sizing: border-box;
        }

        #dailyupdates .bx-viewport {
            height: auto !important;
        }

        .function-selector-radio-label {
            font-size: 12px;
        }

        .colorPickerWidget {
            padding: 10px;
            margin: 10px;
            text-align: center;
            width: 360px;
            border-radius: 5px;
            background: #fafafa;
            border: 2px solid #ddd;
        }

        .TMB {
            padding-left: 0px !important;
            padding-right: 0px !important;
            width: 20% !important;
        }

        .TMBImg {
            padding-left: 0px !important;
            padding-right: 0px !important;
            text-align: center;
            /*margin-left: -7%;
                margin-right: -3%;*/
        }

        .clscircle {
            margin-right: 7px !important;
        }

        .fixwidth {
            width: 20% !important;
        }

        .badge {
            font-size: 10px !important;
            font-weight: 200 !important;
        }

        .days > div.day {
            margin: 1px;
            background: #eee;
        }

        .overdue ~ div > a {
            background: red;
        }

        .info-box {
            min-height: 65px !important;
            /*margin-left: 10px;*/
            border: #dee2e6 solid 1px;
            margin-bottom: 10px;
        }

            .info-box .titleMD {
                font-size: 18px;
            }

            .info-box .countMD {
                font-size: 18px;
            }

        .top-box:hover {
            font-weight: 500;
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            z-index: 5;
        }

        .div-location {
            min-height: 52px;
            padding-top: 0px;
        }

        .Dashboard-white-widget {
            padding: 5px 10px 0px !important;
        }

        .TMBImg > img {
            width: 37px;
        }

        div.panel {
            margin-bottom: 12px;
        }

        .panel .panel-heading .panel-actions {
            height: 25px !important;
        }

            .panel .panel-heading .panel-actions a {
                border: none;
            }

        hr {
            margin-bottom: 8px;
        }

        .panel .panel-heading h2 {
            font-size: 18px;
        }

        span.input-group-addon {
            padding: 0px;
        }

        td > label {
            padding: 3px 4px 0 4px;
            margin-top: -1%;
            padding: 6px;
        }

        .nav-tabs > li > a {
            color: #333 !important;
        }

        .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
            color: #1fd9e1 !important;
        }
    </style>

    <style type="text/css">
        .m-b-n-2 {
            /*/ margin-bottom: -13px;*/
        }

        .m-r {
            margin-right: 15px;
        }

        .m-l {
            margin-left: 10px;
        }

        .b-info {
            border-color: #23b7e5;
        }

        .b-l {
            border-left: 1px solid #23b7e5;
        }

        .m-10 {
            margin-top: 10px;
            margin-left: 10px;
        }

        .count-number {
            font-size: 36px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .count:hover {
            cursor: pointer;
        }
    </style>

    <style type="text/css">
        .k-list > .k-state-focused.k-state-selected, .k-listview > .k-state-focused.k-state-selected, .k-state-focused.k-state-selected, td.k-state-focused.k-state-selected {
            -webkit-box-shadow: inset 0 0 3px 1px #14699f;
            box-shadow: inset 0 0 1px 1px #14699f;
        }

        .k-grid-header th.k-state-focused, .k-list > .k-state-focused, .k-listview > .k-state-focused, .k-state-focused, td.k-state-focused {
            -webkit-box-shadow: inset 0 0 3px 1px #d7dae0;
            box-shadow: inset 0 0 1px 1px white;
        }

        .div.k-grid-footer, div.k-grid-header {
            border-top-width: 1px;
            margin-right: 0px;
        }

        .k-grid-footer-wrap, .k-grid-header-wrap {
            position: relative;
            width: 100%;
            overflow: hidden;
            border-style: solid;
            border-width: 0 1px 0 0;
            zoom: 1;
        }

        .k-grid-content {
            min-height: 380px !important;
            overflow: hidden;
        }

        html {
            color: #666666;
            font-size: 15px;
            font-weight: normal;
            font-family: 'Roboto',sans-serif;
        }

        .k-checkbox-label, .k-radio-label {
            display: inline;
        }

        .myKendoCustomClass {
            z-index: 999 !important;
        }

        .k-header .k-grid-toolbar {
            background: white;
            float: left;
            width: 100%;
        }

        .k-grid td {
            line-height: 2.0em;
            border-bottom-width: 1px;
            background-color: white;
            border-width: 0 1px 1px 0px;
        }

        .k-i-more-vertical:before {
            content: "\e006";
        }

        .k-grid td.k-state-selected:hover, .k-grid tr.k-state-selected:hover {
            background-color: #1fd9e1;
            background-image: none;
            background-color: white;
        }

        k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list > .k-state-highlight, .k-list > .k-state-selected, .k-marquee-color, .k-panel > .k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-tool.k-state-selected {
            color: #000000;
            border-color: #1fd9e1;
            background-color: white;
        }

        .k-pager-wrap > .k-link > .k-icon {
            margin-top: -2px;
            color: inherit;
        }

        html .k-grid tr:hover {
            background: white;
        }

        html .k-grid tr.k-alt:hover {
            background: white;
        }

        .k-grid tbody .k-button {
            min-width: 30px;
            min-height: 30px;
            background: white;
            border: none;
        }

        .k-button-icontext .k-icon, .k-button-icontext .k-image, .k-button-icontext .k-sprite {
            margin-right: 0px;
            margin-right: 0px;
            margin-left: 0px;
            margin-left: 0px;
        }

        .k-auto-scrollable {
            overflow: hidden;
        }

        .k-grid-header {
            padding-right: 0px !important;
            margin-right: 2px;
        }

        .k-filter-menu .k-button {
            width: 27%;
        }

        .k-label input[type="checkbox"] {
            margin: 0px 5px 0 !important;
        }

        input[type=checkbox], input[type=radio] {
            margin: 4px 4px 0;
            line-height: normal;
        }

        .k-filter-row th, .k-grid-header th.k-header {
            font-size: 15px;
            background: #f8f8f8;
            font-family: 'Roboto',sans-serif;
            color: #2b2b2b;
            font-weight: 400;
        }

        .k-primary {
            border-color: #1fd9e1;
            background-color: #1fd9e1;
        }

        .k-pager-wrap {
            background-color: white;
            color: #2b2b2b;
        }

        td.k-command-cell {
            border-width: 0 0px 1px 0px;
            text-align: center;
        }

        .k-grid-pager {
            margin-top: -1px;
        }

        span.k-icon.k-i-calendar {
            margin-top: 6px;
        }

        .k-filter-row th, .k-grid-header th.k-header {
            border-width: 0px 0px 1px 0px;
            background: #E9EAEA;
            font-weight: bold;
            margin-right: 18px;
            font-family: 'Roboto',sans-serif;
            font-size: 15px;
            color: rgba(0, 0, 0, 0.5);
            height: 20px;
            vertical-align: middle;
        }

        .k-dropdown-wrap.k-state-default {
            background-color: white;
        }

        .k-popup.k-calendar-container, .k-popup.k-list-container {
            background-color: white;
        }

        label.k-label {
            font-family: roboto,sans-serif !important;
            color: #515967;
            /* font-stretch: 100%; */
            font-style: normal;
            font-weight: 400;
            min-width: 362px;
            white-space: pre-wrap;
        }

        .k-multicheck-wrap .k-item {
            line-height: 1.2em;
            font-size: 14px;
            margin-bottom: 5px;
        }

        label {
            display: flex;
            margin-bottom: 0px;
        }

        .k-state-default > .k-select {
            border-color: #ceced2;
            margin-top: -4px;
        }

        .k-grid-norecords {
            width: 100%;
            height: 100%;
            text-align: center;
            margin-top: 2%;
        }

        .k-grouping-header {
            font-style: italic;
            background-color: white;
        }

        .k-grid table {
            width: 100.5%;
        }

        .k-active-filter, .k-state-active, .k-state-active:hover {
            background-color: #E9EAEA;
            border-color: #a6a6ad;
            color: #535b6a;
        }

        .k-treeview .k-i-collapse, .k-treeview .k-i-expand, .k-treeview .k-i-minus, .k-treeview .k-i-plus {
            margin-left: -18px;
            cursor: pointer;
        }

        .k-button.k-button-icon .k-icon, .k-grid-filter .k-icon, .k-header .k-icon {
            text-indent: -99999px;
            overflow: hidden;
        }

        .k-header > .k-grid-filter, .k-header > .k-header-column-menu {
            float: right;
            margin: -.5em 0.4em -0.4em 0px;
            padding: .5em .2em .4em;
            position: relative;
            z-index: 1;
            color: inherit;
        }

        .k-multiselect-wrap .k-input {
            /*padding-top:6px;*/
            display: inherit !important;
        }

        .k-filter-menu .k-button {
            width: 27%;
            background-color: #E9EAEA;
            color: black;
            border: 2px solid rgba(0, 0, 0, 0.5);
        }

        .MainWrapper {
            width: 18.2%;
            display: block;
            float: left;
            color: #212121;
            margin-left: 2.2%;
            margin-top: 4px;
            font-weight: 400;
        }
    </style>

    <script type="text/javascript" src="../../newjs/spectrum.js"></script>

    <link href="../../NewCSS/kendo.common.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.rtl.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.silver.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.mobile.all.min.css" rel="stylesheet" />
    <script type="text/javascript" src="../../Newjs/jquery-1.12.4.min.js"></script>

    <script type="text/javascript" src="../../Newjs/kendo.all.min.js"></script>
    <script type="text/javascript" src="../../Newjs/jszip.min.js"></script>
    <link href="../../NewCSS/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="https://avacdn.azureedge.net/avantischarts/highcharts.js"></script>
    <script type="text/javascript" src="https://avacdn.azureedge.net/avantischarts/drilldown.js"></script>
    <script type="text/javascript" src="https://avacdn.azureedge.net/avantischarts/exporting.js"></script>

    <script>
        $(function () {
            setactivemenu('leftAssingmentmenu');
            var Role = '@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role';
            var windowFor = "Auditor";
            if (Role=='VCCON') {
                windowFor = "Performer";
            }
            fhead(windowFor + ' Dashboard');
            BindCommonFilters();
            Highcharts.setOptions({
                credits: {
                    text: '',
                    href: 'https://teamleaseregtech.com',
                },
                lang: {
                    drillUpText: "< Back",
                },
            });

            pieChartPeriodWiseAuditStatus();
            pieChartPeriodWiseComplianceStatus();
            barChartProjectWiseComplianceStatus();
            if (Role == "VCAUD") {
                document.getElementById('divForSubContractor').style = 'display:none;'
            } else {
                pieChartSubContractorWiseAuditStatus();
                pieChartSubContractorComplianceStatus();
                barChartProjectWiseComplianceStatusForSubContractors();
            }
        });

        var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;
        var UserID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID;
        var Role = '@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role';
        var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';

        function ShowMyCompliances(status) {

            var list1 = $("#project-ddl").data("kendoDropDownTree")._values;
            var projectDetails = [];
            $.each(list1, function (i, v) {
                projectDetails.push(v);
            });

            var list2 = $("#location-ddl").data("kendoDropDownTree")._values;
            var locationDetails = [];
            $.each(list2, function (i, v) {
                locationDetails.push(v);
            });

            window.location.replace("/VendorAuditManagement/VendorAudit/ContractorWorkspace?Status=" + status + '&StartDateDetail=' + $("#startDateFilter").val() + '&EndDateDetail=' + $("#endDateFilter").val() + '&Location=' + JSON.stringify(locationDetails) + ' &ProjectID=' + projectDetails + '&Period=' + $("#period-ddl").val());
        }

        function fpopulateddata(ComplianceStatus, ComplianceAtRisk, AuditStatus,ContractorType,ProjectID)
        {
            var list1 = $("#project-ddl").data("kendoDropDownTree")._values;
            var projectDetails = [];
            if (ProjectID == "") {
                $.each(list1, function (i, v) {
                    projectDetails.push(v);
                });
            }

            var list2 = $("#location-ddl").data("kendoDropDownTree")._values;
            var locationDetails = [];
            $.each(list2, function (i, v) {
                locationDetails.push(v);
            });

            var Content = "";
            if (ComplianceAtRisk == "") {
                Content = "/VendorAuditManagement/VendorAudit/AuditorScheduleCompliances?AuditStatus=" + AuditStatus + '&ContractorType=' + ContractorType + '&StartDateDetail=' + $("#startDateFilter").val() + '&EndDateDetail=' + $("#endDateFilter").val() + '&Location=' + JSON.stringify(locationDetails) + ' &ProjectID=' + projectDetails + '&Period=' + $("#period-ddl").val();
            } else {
                if (ProjectID != "") {
                    Content = "/VendorAuditManagement/VendorAudit/ContractorScheduleCompliances?ComplianceStatus=" + ComplianceStatus + '&ComplianceAtRisk=' + ComplianceAtRisk + '&ContractorType=' + ContractorType + '&StartDateDetail=' + $("#startDateFilter").val() + '&EndDateDetail=' + $("#endDateFilter").val() + ' &Location=' + JSON.stringify(locationDetails) + ' &ProjectID=' + ProjectID + '&Period=' + $("#period-ddl").val();
                }
                else {
                    Content = "/VendorAuditManagement/VendorAudit/ContractorScheduleCompliances?ComplianceStatus=" + ComplianceStatus + '&ComplianceAtRisk=' + ComplianceAtRisk + '&ContractorType=' + ContractorType + '&StartDateDetail=' + $("#startDateFilter").val() + '&EndDateDetail=' + $("#endDateFilter").val() + ' &Location=' + JSON.stringify(locationDetails) + ' &ProjectID=' + projectDetails + '&Period=' + $("#period-ddl").val();
                }
            }

            $('#ConstractorPopUpForScheduleComplainces').modal('show');
            $('#showdetails').attr('width', '100%');
            $('#showdetails').attr('height', '540px');
            $('.modal-dialog').css('width', '98%');
            $('#showdetails').attr('src', Content);
        }

        var perStatusChartColorScheme = {

            high: "#ff0000",
            medium: "rgb(255,242,127)",
            low: "#54a84f",
            critical: "#a61c00",
            NotApplicable: "#afafaf",
            NotComplied: "rgb(255,25,25)",
            Rejected: "#ed7d31",
            Overdue: "rgb(255,25,25)",
            InProgress: "#0085de",
            Closed: "#54a84f",
        };

        function pieChartPeriodWiseAuditStatus() {
            var list1 = $("#project-ddl").data("kendoDropDownTree")._values;
            var projectDetails = [];
            $.each(list1, function (i, v) {
                projectDetails.push(v);
            });

            var list2 = $("#location-ddl").data("kendoDropDownTree")._values;
            var locationDetails = [];
            $.each(list2, function (i, v) {
                locationDetails.push(v);
            });

            var dataAuditStatusWise = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: apiUrl + '/VendorAudit/BindCount?UID=' + UserID + '&CID=' + CID + '&Role=' + Role + '&SubContractor=false&StartDateDetail=' + $("#startDateFilter").val() + '&EndDateDetail=' + $("#endDateFilter").val() + '&Location=' + JSON.stringify(locationDetails) + '&ProjectID=' + JSON.stringify(projectDetails) + '&Period=' + $("#period-ddl").val(),
                        dataType: "json",
                    }
                },
            });

            dataAuditStatusWise.read().then(function () {
                var view = dataAuditStatusWise.view();

                if ($("#period-ddl").val() != "2") {
                    $("#startDateFilter").data("kendoDatePicker").value(view[0].PeriodStartDate);
                    $("#endDateFilter").data("kendoDatePicker").value(view[0].PeriodEndDate);
                }

                for (var idx = 0; idx < view.length; idx++) {
                    document.getElementById('divUpcomingCount').innerText = view[idx].Open;
                    document.getElementById('divOverdueCount').innerText = view[idx].Overdue;
                    document.getElementById('divPendingForReviewCount').innerText = view[idx].Underreview;
                    document.getElementById('divClosedCount').innerText = view[idx].Closed;
                }

                var perStatusPieChart = Highcharts.chart('divpieChartPeriodWiseAuditStatus', {
                    chart: {
                        type: 'pie',
                    },
                    title: {
                        text: 'Per Status',
                        style: {
                            display: 'none'
                        },
                    },
                    subtitle: {
                        text: 'Audit Completion Status',
                        style: {
                            "font-family": 'Roboto',
                            fontWeight: '400',
                            fontSize: '15px'
                        }
                    },
                    xAxis: {
                        type: 'category',
                    },
                    plotOptions: {
                        series: {
                            dataLabels: {
                                enabled: true,
                                format: '{y}',
                                distance: 5,
                            },
                            showInLegend: true,
                        },

                    },
                    legend: {
                        itemDistance: 2,
                    },
                    tooltip: {
                        hideDelay: 0,
                        backgroundColor: 'rgba(247,247,247,1)',
                    },
                    series: [{
                        name: 'Status', tooltip: { pointFormat: 'Audit', },
                        data: [
                            {
                                name: 'Overdue', y: view[0].Overdue, color: perStatusChartColorScheme.Overdue,
                                events: {
                                    click: function (e) {
                                        fpopulateddata('', '', 'Overdue', 0,"") }, },
                            },
                            {
                                name: 'Pending Review', y: view[0].Underreview, color: perStatusChartColorScheme.InProgress,
                                events: { click: function (e) { fpopulateddata('', '', 'Pending Review', 0,"") }, },
                            },
                            {
                                name: 'Closed', y: view[0].Closed, color: perStatusChartColorScheme.Closed,
                                events: { click: function (e) { fpopulateddata('', '', 'Closed', 0,"") }, },
                            }
                        ],
                    }],

                });

            });
        }

        function pieChartPeriodWiseComplianceStatus() {

            var list1 = $("#project-ddl").data("kendoDropDownTree")._values;
            var projectDetails = [];
            $.each(list1, function (i, v) {
                projectDetails.push(v);
            });

            var list2 = $("#location-ddl").data("kendoDropDownTree")._values;
            var locationDetails = [];
            $.each(list2, function (i, v) {
                locationDetails.push(v);
            });

            var dataPeriodWiseComplianceStatus = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: apiUrl + '/VendorAudit/BindPeriodWiseComplianceStatusNew?UID=' + UserID + '&CID=' + CID + '&Role=' + Role + '&SubContractor=false&StartDateDetail=' + $("#startDateFilter").val() + '&EndDateDetail=' + $("#endDateFilter").val() + '&Location=' + JSON.stringify(locationDetails) + '&ProjectID=' + JSON.stringify(projectDetails) + '&Period=' + $("#period-ddl").val(),
                        dataType: "json",
                    }
                },
            });


            dataPeriodWiseComplianceStatus.read().then(function () {
                var view = dataPeriodWiseComplianceStatus.view();

                if ($("#period-ddl").val() != "2") {
                    $("#startDateFilter").data("kendoDatePicker").value(view[0].PeriodStartDate);
                    $("#endDateFilter").data("kendoDatePicker").value(view[0].PeriodEndDate);
                }

                var perStatusPieChart = Highcharts.chart('divpieChartPeriodWiseComplianceStatus', {
                    chart: {
                        type: 'pie',
                        events: {
                            drilldown: function (e) {
                                this.setTitle({ text: e.point.name });
                                this.subtitle.update({ text: 'Compliance Status - By Risk' });
                            },
                            drillup: function () {
                                this.setTitle({ text: 'Per Status' });
                                //this.subtitle.update({ text: 'Click on graph to drilldown' });
                                this.subtitle.update({ text: 'Compliance Status' });
                            }
                        },
                    },
                    title: {
                        text: 'Per Status',
                        style: {
                            display: 'none'
                        },
                    },
                    subtitle: {
                        text: 'Compliance Completion Status',
                        style: {
                            "font-family": 'Roboto',
                            fontWeight: '400',
                            fontSize: '15px'
                        }
                    },
                    xAxis: {
                        type: 'category',
                    },
                    plotOptions: {
                        series: {
                            dataLabels: {
                                enabled: true,
                                format: '{y}',
                                distance: 5,
                            },
                            showInLegend: true,
                        },

                    },
                    legend: {
                        itemDistance: 2,
                    },
                    tooltip: {
                        hideDelay: 0,
                        backgroundColor: 'rgba(247,247,247,1)',
                        formatter: function () {
                            if (this.series.name == 'Status')
                                return 'Click to Drilldown';	// text before drilldown
                            else
                                return 'Click to view Compliance List';		// text after drilldown
                        }
                    },
                    series: [{
                        name: 'Status', tooltip: { pointFormat: 'hello', },
                        data: [
                            { name: 'Complied', y: view[0].Complied, color: perStatusChartColorScheme.Closed, drilldown: 'complied', },
                            { name: 'Not Complied', y: view[0].NotComplied, color: perStatusChartColorScheme.NotComplied, drilldown: 'notComplied', },
                            { name: 'Not Applicable', y: view[0].NotApplicable, color: perStatusChartColorScheme.NotApplicable, drilldown: 'notApplicable', },
                        ],
                    }], drilldown: {
                        activeDataLabelStyle: { textDecoration: 'none', color: 'gray', },
                        series: [
                            {
                                id: 'complied', name: 'Complied', cursor: 'pointer',
                                data: [
                                    { name: 'High', y: view[0].CompliedHigh, color: perStatusChartColorScheme.high, events: { click: function (e) { fpopulateddata('1','High','',0,"") }, }, },
                                    { name: 'Medium', y: view[0].CompliedMedium, color: perStatusChartColorScheme.medium, events: { click: function (e) { fpopulateddata('1', 'Medium', '', 0, "") }, }, },
                                    { name: 'Low', y: view[0].CompliedLow, color: perStatusChartColorScheme.low, events: { click: function (e) { fpopulateddata('1', 'Low', '', 0, "") }, }, },],
                            },
                            {
                                id: 'notComplied', name: 'Not Complied', cursor: 'pointer',
                                data: [
                                    { name: 'High', y: view[0].NotCompliedHigh, color: perStatusChartColorScheme.high, events: { click: function (e) { fpopulateddata('2', 'High', '', 0, "") }, }, },
                                    { name: 'Medium', y: view[0].NotCompliedMedium, color: perStatusChartColorScheme.medium, events: { click: function (e) { fpopulateddata('2', 'Medium', '', 0, "") }, }, },
                                    { name: 'Low', y: view[0].NotCompliedLow, color: perStatusChartColorScheme.low, events: { click: function (e) { fpopulateddata('2', 'Low', '', 0, "") }, }, },],
                            },
                            {
                                id: 'notApplicable', name: 'Not Applicable', cursor: 'pointer',
                                data: [
                                    { name: 'High', y: view[0].NotApplicableHigh, color: perStatusChartColorScheme.high, events: { click: function (e) { fpopulateddata('3', 'High', '', 0, "") }, }, },
                                    { name: 'Medium', y: view[0].NotApplicableMedium, color: perStatusChartColorScheme.medium, events: { click: function (e) { fpopulateddata('3', 'Medium', '', 0, "") }, }, },
                                    { name: 'Low', y: view[0].NotApplicableLow, color: perStatusChartColorScheme.low, events: { click: function (e) { fpopulateddata('3', 'Low', '', 0, "") }, }, },],
                            }],
                    },

                });
            });
        }

        function pieChartSubContractorWiseAuditStatus() {

            var list1 = $("#project-ddl").data("kendoDropDownTree")._values;
            var projectDetails = [];
            $.each(list1, function (i, v) {
                projectDetails.push(v);
            });

            var list2 = $("#location-ddl").data("kendoDropDownTree")._values;
            var locationDetails = [];
            $.each(list2, function (i, v) {
                locationDetails.push(v);
            });

            var dataAuditStatusWiseForSubContractor = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: apiUrl + '/VendorAudit/GraphCountForSubContractor?UID=' + UserID + '&CID=' + CID + '&Role=' + Role + '&SubContractor=true&StartDateDetail=' + $("#startDateFilter").val() + '&EndDateDetail=' + $("#endDateFilter").val() + '&Location=' + JSON.stringify(locationDetails) + '&ProjectID=' + JSON.stringify(projectDetails) + '&Period=' + $("#period-ddl").val(),
                        dataType: "json",
                    }
                },
            });

            dataAuditStatusWiseForSubContractor.read().then(function () {
                var view = dataAuditStatusWiseForSubContractor.view();

                if ($("#period-ddl").val() != "2") {
                    $("#startDateFilter").data("kendoDatePicker").value(view[0].PeriodStartDate);
                    $("#endDateFilter").data("kendoDatePicker").value(view[0].PeriodEndDate);
                }
                if (view[0].Open == 0 && view[0].Overdue == 0 && view[0].Underreview == 0 && view[0].Closed == 0) {
                    document.getElementById('divForSubContractor').style = 'display:none;'
                } else {
                    var perStatusPieChart = Highcharts.chart('divPieChartAuditStatusForSubContractors', {
                        chart: {
                            type: 'pie',
                        },
                        title: {
                            text: 'Per Status',
                            style: {
                                display: 'none'
                            },
                        },
                        subtitle: {
                            text: 'Audit Completion Status',
                            style: {
                                "font-family": 'Roboto',
                                fontWeight: '400',
                                fontSize: '15px'
                            }
                        },
                        xAxis: {
                            type: 'category',
                        },
                        plotOptions: {
                            series: {
                                dataLabels: {
                                    enabled: true,
                                    format: '{y}',
                                    distance: 5,
                                },
                                showInLegend: true,
                            },

                        },
                        legend: {
                            itemDistance: 2,
                        },
                        tooltip: {
                            hideDelay: 0,
                            backgroundColor: 'rgba(247,247,247,1)',
                        },
                        series: [{
                            name: 'Status', tooltip: { pointFormat: 'Audit', },
                            data: [
                                {
                                    name: 'Overdue', y: view[0].Overdue, color: perStatusChartColorScheme.Overdue,
                                    events: { click: function (e) { fpopulateddata('', '', 'Overdue', 1, "") }, },
                                },
                                {
                                    name: 'Pending Review', y: view[0].Underreview, color: perStatusChartColorScheme.InProgress,
                                    events: { click: function (e) { fpopulateddata('', '', 'Pending Review', 1, "") }, },
                                },
                                {
                                    name: 'Closed', y: view[0].Closed, color: perStatusChartColorScheme.Closed,
                                    events: { click: function (e) { fpopulateddata('', '', 'Closed', 1, "") }, },
                                }
                            ],
                        }],

                    });
                    //document.getElementById('divForSubContractor').style = 'display:block;'
                }
            });
        }

        function pieChartSubContractorComplianceStatus() {

            var list1 = $("#project-ddl").data("kendoDropDownTree")._values;
            var projectDetails = [];
            $.each(list1, function (i, v) {
                projectDetails.push(v);
            });

            var list2 = $("#location-ddl").data("kendoDropDownTree")._values;
            var locationDetails = [];
            $.each(list2, function (i, v) {
                locationDetails.push(v);
            });

            var dataPeriodWiseComplianceStatusForSubContractors = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: apiUrl + '/VendorAudit/BindPeriodWiseComplianceStatusNew?UID=' + UserID + '&CID=' + CID + '&Role=' + Role + '&SubContractor=true&StartDateDetail=' + $("#startDateFilter").val() + '&EndDateDetail=' + $("#endDateFilter").val() + '&Location=' + JSON.stringify(locationDetails) + '&ProjectID=' + JSON.stringify(projectDetails) + '&Period=' + $("#period-ddl").val(),
                        dataType: "json",
                    }
                },
            });

            dataPeriodWiseComplianceStatusForSubContractors.read().then(function () {
                var view = dataPeriodWiseComplianceStatusForSubContractors.view();
                if ($("#period-ddl").val() != "2") {
                    $("#startDateFilter").data("kendoDatePicker").value(view[0].PeriodStartDate);
                    $("#endDateFilter").data("kendoDatePicker").value(view[0].PeriodEndDate);
                }
                var perStatusPieChart = Highcharts.chart('divPieChartCompliancesSubContractorWise', {
                    chart: {
                        type: 'pie',
                        events: {
                            drilldown: function (e) {
                                this.setTitle({ text: e.point.name });
                                this.subtitle.update({ text: 'Compliance Status - By Risk' });
                            },
                            drillup: function () {
                                this.setTitle({ text: 'Per Status' });
                                //this.subtitle.update({ text: 'Click on graph to drilldown' });
                                this.subtitle.update({ text: 'Compliance Status' });
                            }
                        },
                    },
                    title: {
                        text: 'Per Status',
                        style: {
                            display: 'none'
                        },
                    },
                    subtitle: {
                        text: 'Compliance Completion Status',
                        style: {
                            "font-family": 'Roboto',
                            fontWeight: '400',
                            fontSize: '15px'
                        }
                    },
                    xAxis: {
                        type: 'category',
                    },
                    plotOptions: {
                        series: {
                            dataLabels: {
                                enabled: true,
                                format: '{y}',
                                distance: 5,
                            },
                            showInLegend: true,
                        },

                    },
                    legend: {
                        itemDistance: 2,
                    },
                    tooltip: {
                        hideDelay: 0,
                        backgroundColor: 'rgba(247,247,247,1)',
                        formatter: function () {
                            if (this.series.name == 'Status')
                                return 'Click to Drilldown';	// text before drilldown
                            else
                                return 'Click to view Compliance List';		// text after drilldown
                        }
                    },
                    series: [{
                        name: 'Status', tooltip: { pointFormat: 'hello', },
                        data: [
                            { name: 'Complied', y: view[0].Complied, color: perStatusChartColorScheme.Closed, drilldown: 'complied', },
                            { name: 'Not Complied', y: view[0].NotComplied, color: perStatusChartColorScheme.NotComplied, drilldown: 'notComplied', },
                            { name: 'Not Applicable', y: view[0].NotApplicable, color: perStatusChartColorScheme.NotApplicable, drilldown: 'notApplicable', },
                        ],
                    }], drilldown: {
                        activeDataLabelStyle: { textDecoration: 'none', color: 'gray', },
                        series: [
                            {
                                id: 'complied', name: 'Complied', cursor: 'pointer',
                                data: [
                                    { name: 'High', y: view[0].CompliedHigh, color: perStatusChartColorScheme.high, events: { click: function (e) { fpopulateddata('1', 'High', '', 1, "") }, }, },
                                    { name: 'Medium', y: view[0].CompliedMedium, color: perStatusChartColorScheme.medium, events: { click: function (e) { fpopulateddata('1', 'Medium', '', 1, "") }, }, },
                                    { name: 'Low', y: view[0].CompliedLow, color: perStatusChartColorScheme.low, events: { click: function (e) { fpopulateddata('1', 'Low', '', 1, "") }, }, },],
                            },
                            {
                                id: 'notComplied', name: 'Not Complied', cursor: 'pointer',
                                data: [
                                    { name: 'High', y: view[0].NotCompliedHigh, color: perStatusChartColorScheme.high, events: { click: function (e) { fpopulateddata('2', 'High', '', 1, "") }, }, },
                                    { name: 'Medium', y: view[0].NotCompliedMedium, color: perStatusChartColorScheme.medium, events: { click: function (e) { fpopulateddata('2', 'Medium', '', 1, "") }, }, },
                                    { name: 'Low', y: view[0].NotCompliedLow, color: perStatusChartColorScheme.low, events: { click: function (e) { fpopulateddata('2', 'Low', '', 1, "") }, }, },],
                            },
                            {
                                id: 'notApplicable', name: 'Not Applicable', cursor: 'pointer',
                                data: [
                                    { name: 'High', y: view[0].NotApplicableHigh, color: perStatusChartColorScheme.high, events: { click: function (e) { fpopulateddata('3', 'High', '', 1, "") }, }, },
                                    { name: 'Medium', y: view[0].NotApplicableMedium, color: perStatusChartColorScheme.medium, events: { click: function (e) { fpopulateddata('3', 'Medium', '', 1, "") }, }, },
                                    { name: 'Low', y: view[0].NotApplicableLow, color: perStatusChartColorScheme.low, events: { click: function (e) { fpopulateddata('3', 'Low', '', 1, "") }, }, },],
                            }],
                    },

                });
            });
        }

        function barChartProjectWiseComplianceStatus() {

            var list1 = $("#project-ddl").data("kendoDropDownTree")._values;
            var projectDetails = [];
            $.each(list1, function (i, v) {
                projectDetails.push(v);
            });

            var list2 = $("#location-ddl").data("kendoDropDownTree")._values;
            var locationDetails = [];
            $.each(list2, function (i, v) {
                locationDetails.push(v);
            });

            var dataProjectWiseComplianceStatus = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: apiUrl + '/VendorAudit/GraphDataForCompliancesProjectWiseNew?UID=' + UserID + '&Role=' + Role + '&CID=' + CID + '&StartDateDetail=' + $("#startDateFilter").val() + '&EndDateDetail=' + $("#endDateFilter").val() + '&Location=' + JSON.stringify(locationDetails) + '&ProjectID=' + JSON.stringify(projectDetails) + '&Period=' + $("#period-ddl").val(),
                        dataType: "json",
                    }
                },
            });

            dataProjectWiseComplianceStatus.read().then(function () {
                var view = dataProjectWiseComplianceStatus.view();
                var series = [];
                var drilldownSeries = [];
                var dataComplied = [];
                var dataNotComplied = [];
                var dataNotApplicable = [];

                series.push(
                    {
                        name: 'Complied', id: 'Complied', color: perStatusChartColorScheme.Closed,
                        data: dataComplied
                    },
                    {
                        name: 'Not Complied', id: 'notComplied', color: perStatusChartColorScheme.NotComplied,
                        data: dataNotComplied
                    },
                    {
                        name: 'Not Applicable', id: 'notApplicable', color: perStatusChartColorScheme.NotApplicable,
                        data: dataNotApplicable
                    });

                for (var idx = 0; idx < view.length; idx++) {
                    dataComplied.push(
                        { name: view[idx].ProjectName, y: view[idx].Complied, drilldown: 'complied' + view[idx].ProjectName, },
                    );
                    dataNotComplied.push(
                        { name: view[idx].ProjectName, y: view[idx].NotComplied, drilldown: 'notComplied' + view[idx].ProjectName, },
                    );
                    dataNotApplicable.push(
                        { name: view[idx].ProjectName, y: view[idx].NotApplicable, drilldown: 'notApplicable' + view[idx].ProjectName, },
                    );
                }

                var ProjectName = "";

                for (var idx = 0; idx < view.length; idx++) {
                    ProjectName = "";
                    ProjectName = view[idx].ProjectName;
                    drilldownSeries.push(
                        {
                            id: 'complied' + view[idx].ProjectName, name: 'Complied', color: perStatusChartColorScheme.Closed,
                            data: [
                                ['High,' + ProjectName, view[idx].CompliedHigh],
                                ['Medium,' + ProjectName, view[idx].CompliedMedium],
                                ['Low,' +ProjectName, view[idx].CompliedLow],],
                            events: { click: function (e) { fpopulateddata(1, ((e.point.name).substring(0, (e.point.name).indexOf(','))), '', 0, ((e.point.name).substring((e.point.name).indexOf(',')).replace(",", "")),'') }, },
                        },
                        {
                            id: 'notComplied' + view[idx].ProjectName, name: 'Not Complied', color: perStatusChartColorScheme.NotComplied,
                            data: [
                                ['High,' + ProjectName,view[idx].NotCompliedHigh],
                                ['Medium,' + ProjectName, view[idx].NotCompliedMedium],
                                ['Low,' + ProjectName, view[idx].NotCompliedLow],],
                            events: { click: function (e) { fpopulateddata(2, ((e.point.name).substring(0, (e.point.name).indexOf(','))), '', 0, ((e.point.name).substring((e.point.name).indexOf(',')).replace(",", "")),'') }, },
                        },
                        {
                            id: 'notApplicable' + view[idx].ProjectName, name: 'NotApplicable', color: perStatusChartColorScheme.NotApplicable,
                            data: [
                                ['High,' + ProjectName, view[idx].NotApplicableHigh],
                                ['Medium,' + ProjectName, view[idx].NotApplicableMedium],
                                ['Low,' + ProjectName, view[idx].NotApplicableLow],],
                            events: {
                                click: function (e) {
                                    fpopulateddata(3, ((e.point.name).substring(0, (e.point.name).indexOf(','))), '', 0, ((e.point.name).substring((e.point.name).indexOf(',')).replace(",", "")),'')
                                },
                            },
                        });
                }

                var perFunctionChart = Highcharts.chart('divbarChartProjectWiseComplianceStatus', {
                    chart: {
                        type: 'column',
                        events: {
                            drilldown: function (e) {
                                this.setTitle({ text: e.point.name });
                                this.subtitle.update({ text: 'Click on graph to view Compliance at risk' });
                            },
                            drillup: function () {
                                this.setTitle({ text: 'Per Function' });
                                this.subtitle.update({ text: 'Completion Status - Overall Projects' });
                            }
                        },
                    },
                    title: {
                        text: 'Per Function',
                        style: {
                            display: 'none'
                        },
                    },
                    subtitle: {
                        text: 'Compliance Completion Status',
                        style: {
                            "font-family": 'Roboto',
                            fontWeight: '400',
                            fontSize: '15px'
                        }
                    },
                    xAxis: {
                        type: 'category',
                    },
                    yAxis: {
                        title: {
                            text: 'Number of Compliances'
                        },
                    },
                    tooltip: {
                        hideDelay: 0,
                        backgroundColor: 'rgba(247,247,247,1)',
                        //headerFormat: '<b>{point.x}</b><br/>',
                        pointFormat: '{series.name}: {point.y}'
                    },
                    plotOptions: {
                        column: {
                            stacking: 'normal',
                            dataLabels: {
                                enabled: true,
                                color: 'white',
                                style: {

                                    textShadow: false,
                                }
                            },
                            cursor: 'pointer'
                        },
                    },
                    series: series
                    , drilldown: {
                        drillUpButton: {
                            relativeTo: 'spacingBox', position: { y: 0, x: 0 },
                            theme: {
                                fill: 'white', 'stroke-width': 1, stroke: 'silver', r: 0, states: {
                                    hover: { fill: '#f7f7f7' },
                                    select: { stroke: '#039', fill: '#f7f7f7' }
                                }
                            }
                        }, activeDataLabelStyle: { textDecoration: 'none', color: 'gray', },
                        series: drilldownSeries
                    },

                });


            });

        }

        function barChartProjectWiseComplianceStatusForSubContractors() {

            var list1 = $("#project-ddl").data("kendoDropDownTree")._values;
            var projectDetails = [];
            $.each(list1, function (i, v) {
                projectDetails.push(v);
            });

            var list2 = $("#location-ddl").data("kendoDropDownTree")._values;
            var locationDetails = [];
            $.each(list2, function (i, v) {
                locationDetails.push(v);
            });

            var dataProjectWiseComplianceStatus = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: apiUrl + '/VendorAudit/GraphDataForCompliancesProjectWiseForSubContractor?UID=' + UserID + '&Role=' + Role + '&CID=' + CID + '&StartDateDetail=' + $("#startDateFilter").val() + '&EndDateDetail=' + $("#endDateFilter").val() + '&Location=' + JSON.stringify(locationDetails) + '&ProjectID=' + JSON.stringify(projectDetails) + '&Period=' + $("#period-ddl").val(),
                        dataType: "json",
                    }
                },
            });

            dataProjectWiseComplianceStatus.read().then(function () {
                var view = dataProjectWiseComplianceStatus.view();
                var series = [];
                var drilldownSeries = [];
                var dataComplied = [];
                var dataNotComplied = [];
                var dataNotApplicable = [];

                series.push(
                    {
                        name: 'Complied', id: 'Complied', color: perStatusChartColorScheme.Closed,
                        data: dataComplied
                    },
                    {
                        name: 'Not Complied', id: 'notComplied', color: perStatusChartColorScheme.NotComplied,
                        data: dataNotComplied
                    },
                    {
                        name: 'Not Applicable', id: 'notApplicable', color: perStatusChartColorScheme.NotApplicable,
                        data: dataNotApplicable
                    });

                for (var idx = 0; idx < view.length; idx++) {
                    dataComplied.push(
                        { name: view[idx].ProjectName, y: view[idx].Complied, drilldown: 'complied' + view[idx].ProjectName, },
                    );
                    dataNotComplied.push(
                        { name: view[idx].ProjectName, y: view[idx].NotComplied, drilldown: 'notComplied' + view[idx].ProjectName, },
                    );
                    dataNotApplicable.push(
                        { name: view[idx].ProjectName, y: view[idx].NotApplicable, drilldown: 'notApplicable' + view[idx].ProjectName, },
                    );
                }

                var ProjectName = "";

                for (var idx = 0; idx < view.length; idx++) {
                    ProjectName = "";
                    ProjectName = view[idx].ProjectName;
                    drilldownSeries.push(
                        {
                            id: 'complied' + view[idx].ProjectName, name: 'Complied', color: perStatusChartColorScheme.Closed,
                            data: [
                                ['High,' + ProjectName, view[idx].CompliedHigh],
                                ['Medium,' + ProjectName, view[idx].CompliedMedium],
                                ['Low,' + ProjectName, view[idx].CompliedLow],],
                            events: { click: function (e) { fpopulateddata(1, ((e.point.name).substring(0, (e.point.name).indexOf(','))), '', 1, ((e.point.name).substring((e.point.name).indexOf(',')).replace(",", "")), '') }, },
                        },
                        {
                            id: 'notComplied' + view[idx].ProjectName, name: 'Not Complied', color: perStatusChartColorScheme.NotComplied,
                            data: [
                                ['High,' + ProjectName, view[idx].NotCompliedHigh],
                                ['Medium,' + ProjectName, view[idx].NotCompliedMedium],
                                ['Low,' + ProjectName, view[idx].NotCompliedLow],],
                            events: { click: function (e) { fpopulateddata(2, ((e.point.name).substring(0, (e.point.name).indexOf(','))), '', 1, ((e.point.name).substring((e.point.name).indexOf(',')).replace(",", "")), '') }, },
                        },
                        {
                            id: 'notApplicable' + view[idx].ProjectName, name: 'NotApplicable', color: perStatusChartColorScheme.NotApplicable,
                            data: [
                                ['High,' + ProjectName, view[idx].NotApplicableHigh],
                                ['Medium,' + ProjectName, view[idx].NotApplicableMedium],
                                ['Low,' + ProjectName, view[idx].NotApplicableLow],],
                            events: {
                                click: function (e) {
                                    fpopulateddata(3, ((e.point.name).substring(0, (e.point.name).indexOf(','))), '', 1, ((e.point.name).substring((e.point.name).indexOf(',')).replace(",", "")), '')
                                },
                            },
                        });
                }

                var perFunctionChart = Highcharts.chart('divbarChartProjectWiseComplianceStatusForSubContractors', {
                    chart: {
                        type: 'column',
                        events: {
                            drilldown: function (e) {
                                this.setTitle({ text: e.point.name });
                                this.subtitle.update({ text: 'Click on graph to view Compliance at risk' });
                            },
                            drillup: function () {
                                this.setTitle({ text: 'Per Function' });
                                this.subtitle.update({ text: 'Completion Status - Overall Projects' });
                            }
                        },
                    },
                    title: {
                        text: 'Per Function',
                        style: {
                            display: 'none'
                        },
                    },
                    subtitle: {
                        text: 'Compliance Completion Status',
                        style: {
                            "font-family": 'Roboto',
                            fontWeight: '400',
                            fontSize: '15px'
                        }
                    },
                    xAxis: {
                        type: 'category',
                    },
                    yAxis: {
                        title: {
                            text: 'Number of Compliances'
                        },
                    },
                    tooltip: {
                        hideDelay: 0,
                        backgroundColor: 'rgba(247,247,247,1)',
                        //headerFormat: '<b>{point.x}</b><br/>',
                        pointFormat: '{series.name}: {point.y}'
                    },
                    plotOptions: {
                        column: {
                            stacking: 'normal',
                            dataLabels: {
                                enabled: true,
                                color: 'white',
                                style: {

                                    textShadow: false,
                                }
                            },
                            cursor: 'pointer'
                        },
                    },
                    series: series
                    , drilldown: {
                        drillUpButton: {
                            relativeTo: 'spacingBox', position: { y: 0, x: 0 },
                            theme: {
                                fill: 'white', 'stroke-width': 1, stroke: 'silver', r: 0, states: {
                                    hover: { fill: '#f7f7f7' },
                                    select: { stroke: '#039', fill: '#f7f7f7' }
                                }
                            }
                        }, activeDataLabelStyle: { textDecoration: 'none', color: 'gray', },
                        series: drilldownSeries
                    },

                });


            });

        }

        function BindCommonFilters() {

            $("#startDateFilter").kendoDatePicker({
                format: "dd-MM-yyyy",
            });
            $("#endDateFilter").kendoDatePicker({
                format: "dd-MM-yyyy",
            });
            $("#project-ddl").kendoDropDownTree({
                placeholder: "Project",
                filter: "contains",
                checkboxes: true,
                checkAll: true,
                autoClose: false,
                checkAllTemplate: "Select All",
                autoWidth: true,
                dataTextField: "Name",
                dataValueField: "Name",
                change: function (e) {
                    fCreateStoryBoardCD('project-ddl', 'filterProjectCD', 'project');
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/ProjectMasterFilterRecordRoleWise?UID=' + UserID + '&CID=' + CID + '&LocationIDs=&role='+Role,
                            //url: apiUrl + '/VendorAudit/ProjectMasterFilterRecord?CID=' + CID + '&LocationIDs=',
                            dataType: "json",
                        }
                    }
                }
            });

            $("#period-ddl").kendoDropDownList({
                autoClose: false,
                checkAllTemplate: "Select All",
                autoWidth: true,
                dataTextField: "text",
                dataValueField: "Value",
                change: function (e) {
                    fCreateStoryBoardCD('period-ddl', 'filterPeriodCD', 'period');
                },
                index:6,
                dataSource: [
                    { text: "Current Month", Value: "6" },
                    { text: "Previous Month", Value : "3" },
                    { text: "Last 3 Months", Value : "4" },
                    { text: "Last 6 Months",Value : "5" },
                    { text: "Current YTD", Value : "0" },
                    { text: "Current + Previous YTD", Value : "1" },
                    { text: "All", Value : "2" },
                ]
            });

            $("#location-ddl").kendoDropDownTree({
                placeholder:"Select Location",
                checkboxes: {
                    checkChildren: true
                },
                //filter: "contains",
                checkAll: true,
                autoWidth: true,
                autoClose: false,
                checkAllTemplate: "Select All",
                dataTextField: "Name",
                dataValueField: "ID",
                change: function (e) {
                    fCreateStoryBoardCD('location-ddl', 'filterLocationCD', 'Location');
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/GetLocationListrolewise?UID=' + UserID + '&customerId=' + CID + '&role=' + Role,
                            //url: apiUrl + '/VendorAudit/GetLocationList?customerId=' + CID,
                            dataType: "json",
                        }
                    },
                    schema: {
                        data: function (response) {
                            return response[0].locationList;
                        },
                        model: {
                            children: "Children"
                        }
                    }
                }
            });
        }

        function btnClearCommonFiltersClick() {
            var Role = '@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role';
            $("#project-ddl").data("kendoDropDownTree").value([]);
            $("#period-ddl").data("kendoDropDownList").select(6);
            $("#location-ddl").data("kendoDropDownTree").value([]);
            $("#startDateFilter").val('');
            $("#endDateFilter").val('');
            pieChartPeriodWiseAuditStatus();
            pieChartPeriodWiseComplianceStatus();
            barChartProjectWiseComplianceStatus();
            if (Role == "VCAUD") {
                document.getElementById('divForSubContractor').style = 'display:none;'
            } else {
                pieChartSubContractorWiseAuditStatus();
                pieChartSubContractorComplianceStatus();
                barChartProjectWiseComplianceStatusForSubContractors();
            }
        }

        function fcloseStory(obj) {
            var DataId = $(obj).attr('data-Id');
            var dataKId = $(obj).attr('data-K-Id');
            var seq = $(obj).attr('data-seq');
            var deepspan = $('#' + DataId + ' > li > span > span.k-i-close')[seq];
            $(deepspan).trigger('click');
            var upperli = $('#' + dataKId);
            $(upperli).remove();

            fCreateStoryBoardCD('location-ddl', 'filterLocationCD', 'Location');
            fCreateStoryBoardCD('period-ddl', 'filterPeriodCD', 'period');
            fCreateStoryBoardCD('project-ddl', 'filterProjectCD', 'project');
        }

        function fCreateStoryBoardCD(Id, div, filtername) {

            var IdKReset = $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).attr('id');
            $('#' + div).html('');
            $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).css('height', '0px');
            $('#' + div).css('display', 'block');

            if (div == 'filterLocationCD') {
                $('#' + div).append('Location&nbsp;&nbsp;:');
            }
            else if (div == 'filterPeriodCD') {
                $('#' + div).append('Period&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:');//Dashboard
            }
            else if (div == 'filterProjectCD') {
                $('#' + div).append('Project&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:');//Dashboard
            }

            for (var i = 0; i < $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).find('.k-button').length; i++) {
                var button = $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).find('.k-button')[i];
                $(button).css('display', 'none');
                $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).attr('placeholder', 'Shree');
                var buttontest = $($(button).find('span')[0]).text();
                $('#' + div).append('<li class="k-button " unselectable="on" Id="ddl' + filtername + [i] + '" role="option" style="background-color:#EBEBEB;height: 20px;Color:Gray;margin-left:5px;margin-bottom: 4px;"><span unselectable="on" title="' + $($(button).find('span')[0]).text() + '">' + buttontest + '</span><span data-K-Id="ddl' + filtername + [i] + '" data-Id="' + IdKReset + '" data-seq="' + i + '" onclick="fcloseStory(this)" title="Clear" aria-label="Clear" class="k-select" style="padding-left: 6px;"><span data-Id="' + IdKReset + '" data-seq="' + i + '"  onclick="fcloseStory(this)"  class="k-icon k-i-close" title="Clear" aria-label="Clear" style="font-size: 12px;"></span></span></li>');
            }

            if ($($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).find('.k-button').length == 0) {
                $('#' + div).css('display', 'none');
                $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).css('height', '0px');

            }
        }

        function btnApplyCommonFiltersClick() {

            if ($("#period-ddl").val() != "2") {
                $("#startDateFilter").data("kendoDatePicker").value('');
                $("#endDateFilter").data("kendoDatePicker").value('');
            }

            var Role = '@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role';
            pieChartPeriodWiseAuditStatus();
            pieChartPeriodWiseComplianceStatus();
            barChartProjectWiseComplianceStatus();
            if (Role == "VCAUD") {
                document.getElementById('divForSubContractor').style = 'display:none;'
            } else {
                pieChartSubContractorWiseAuditStatus();
                pieChartSubContractorComplianceStatus();
                barChartProjectWiseComplianceStatusForSubContractors();
            }
        }

    </script>
</head>
<body>
    <section id="container-fluid" class="">
        <section class="">
            <div class="clear"></div>

            <!-- Top Count start -->
            <div id="divTabs" runat="server" class="row col-md-12 tile_count">

                <div id="duetodayCountDivBox" runat="server" class="col-lg-3 col-md-3 col-sm-12 col-xs-12 TMB">
                    <div class="info-box top-box dueToday-bg">
                        <div class="div-location" style="cursor: pointer" onclick="ShowMyCompliances('Upcoming')">
                            <div class="col-md-2 TMBImg">
                                <img src="../../Images/Due Today.png" />
                            </div>
                            <div class="col-md-10 colpadding0">
                                <div class="titleMD">Upcoming</div>
                                <div id="divUpcomingCount" runat="server" class="countMD">0</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="upcomingCountDivBox" runat="server" class="col-lg-3 col-md-3 col-sm-12 col-xs-12 TMB">
                    <div class="info-box top-box overdue-bg">
                        <div class="div-location" style="cursor: pointer" onclick="ShowMyCompliances('Overdue')">
                            <div class="col-md-2 TMBImg">
                                <img src="../../Images/Upcoming-new.png" />
                            </div>
                            <div class="col-md-10 colpadding0">
                                <div class="titleMD">Overdue</div>
                                <div id="divOverdueCount" runat="server" class="countMD">0</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="OverdueCountDivBox" runat="server" class="col-lg-3 col-md-3 col-sm-12 col-xs-12 TMB">
                    <div class="info-box top-box pendingRev-bg">
                        <div class="div-location" style="cursor: pointer" onclick="ShowMyCompliances('Pending Review')">
                            <div class="col-md-2 TMBImg">
                                <img src="../../Images/Overdue-new.png" />
                            </div>
                            <div class="col-md-10 colpadding0">
                                <div class="titleMD">Pending Review</div>
                                <div id="divPendingForReviewCount" runat="server" class="countMD">0</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="ClosedCountDivBox" runat="server" class="col-lg-3 col-md-3 col-sm-12 col-xs-12 TMB">
                    <div class="info-box top-box Closed-bg">
                        <div class="div-location" style="cursor: pointer" onclick="ShowMyCompliances('Closed')">
                            <div class="col-md-2 TMBImg">
                                <img src="../../Images/Overdue-new.png" />
                            </div>
                            <div class="col-md-10 colpadding0">
                                <div class="titleMD">Closed</div>
                                <div id="divClosedCount" runat="server" class="countMD">0</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Top Count End -->

            <div class="clearfix"></div>

            <div class="row">
                <div class="row widget Dashboard-white-widget" style="width: 98%">
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseCommonFilters" style="margin-left: 10px;">
                            <h2>Filters</h2>
                            <div class="panel-actions">
                                <a class="btn-minimize" onclick="btnminimize(this)" data-toggle="collapse" data-parent="#accordion" href="#collapseCommonFilters"><i class="fa fa-chevron-down"></i></a>
                            </div>
                        </div>

                        <div id="collapseCommonFilters" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="col-md-12" style="margin-left: -18px;width: 100%;margin-bottom: 1%;">
                                    <input id="startDateFilter" style="width: 15%;margin-right:0.5%" placeholder="Start Date" />
                                    <input id="endDateFilter" style="width: 15%;margin-right:0.5%" placeholder="End Date" />
                                    <input id="location-ddl" style="width: 23%;margin-right:0.5%" />
                                    <input id="project-ddl" style="width: 15%;margin-right:0.5%" />
                                    <input id="period-ddl" style="width: 13%;margin-right:0.5%" />
                                    <asp:Button ID="btnClearCommonFilters" Style="margin-left: 0.5%;" class="btn btn-primary" OnClick="btnClearCommonFiltersClick()">Clear Filter</asp:Button>
                                    <asp:Button ID="btnApplyCommonFilters" Style="margin-left: 0.5%;" class="btn btn-primary" OnClick="btnApplyCommonFiltersClick()">Apply</asp:Button>
                                </div>
                                <div class="row" style="padding-bottom: 4px; font-size: 12px; display: none; font-weight: bold;color: #666" id="filterLocationCD">&nbsp;</div>
                                <div class="row" style="padding-bottom: 4px; font-size: 12px; display: none; font-weight: bold;color: #666" id="filterPeriodCD">&nbsp;</div>
                                <div class="row" style="padding-bottom: 4px; font-size: 12px; display: none; font-weight: bold;color: #666" id="filterProjectCD">&nbsp;</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Period Wise Start-->
            <div class="row">
                <asp:UpdatePanel ID="UpdatePanel12" runat="server" UpdateMode="Conditional">
                    <ContentTemplate>
                        <div class="row widget Dashboard-white-widget" style="width: 98%">
                            <div class="panel panel-default">
                                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseGraphPeriodWise" style="margin-left: 10px;">
                                    <h2>Status Wise Summary</h2>
                                    <div class="panel-actions">
                                        <a class="btn-minimize" onclick="btnminimize(this)" data-toggle="collapse" data-parent="#accordion" href="#collapseGraphPeriodWise"><i class="fa fa-chevron-down"></i></a>
                                    </div>
                                </div>

                                <div id="collapseGraphPeriodWise" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div id="divpieChartPeriodWiseComplianceStatus" class="col-md-5" style="margin-left: -8px; width: 50%;">
                                        </div>

                                        <div id="divpieChartPeriodWiseAuditStatus" class="col-md-7" style="margin-left: -8px; width: 50%">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </ContentTemplate>
                </asp:UpdatePanel>
            </div>
            <!-- Period Wise End-->
            <!-- Project Wise Start-->
            <div class="row">
                <asp:UpdatePanel ID="UpdatePanel12" runat="server" UpdateMode="Conditional">
                    <ContentTemplate>
                        <div class="row widget Dashboard-white-widget" style="width: 98%">
                            <div class="panel panel-default">
                                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseGraphProjectWise" style="margin-left: 10px;">
                                    <h2>Project Wise Compliance Summary</h2>
                                    <div class="panel-actions">
                                        <a class="btn-minimize" onclick="btnminimize(this)" data-toggle="collapse" data-parent="#accordion" href="#collapseGraphProjectWise"><i class="fa fa-chevron-down"></i></a>
                                    </div>
                                </div>

                                <div id="collapseGraphProjectWise" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div id="divbarChartProjectWiseComplianceStatus" class="col-md-12" style="margin-left: -8px; width: 100%;">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </ContentTemplate>
                </asp:UpdatePanel>
            </div>
            <!-- Project Wise End-->
            <!-- Sub-Contarctor Wise Start-->
            @*<div class="row" id="divForSubContractor" style="display:none">*@
            <div class="row" id="divForSubContractor">
                <div class="row">
                    <asp:UpdatePanel ID="UpdatePanel12" runat="server" UpdateMode="Conditional">
                        <ContentTemplate>
                            <div class="row widget Dashboard-white-widget" style="width: 98%">
                                <div class="panel panel-default">
                                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseGraphSubContrator" style="margin-left: 10px;">
                                        <h2>Status Wise Summary (Sub-Contractor)</h2>
                                        <div class="panel-actions">
                                            <a class="btn-minimize" onclick="btnminimize(this)" data-toggle="collapse" data-parent="#accordion" href="#collapseGraphSubContrator"><i class="fa fa-chevron-down"></i></a>
                                        </div>
                                    </div>

                                    <div id="collapseGraphSubContrator" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div class="panel-body">
                                                <div id="divPieChartCompliancesSubContractorWise" class="col-md-5" style="margin-left: -8px; width: 50%;">
                                                </div>

                                                <div id="divPieChartAuditStatusForSubContractors" class="col-md-7" style="margin-left: -8px; width: 50%">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </ContentTemplate>
                    </asp:UpdatePanel>
                </div>
                <!-- Project Wise Start-->
                <!-- Project Wise SubContractor Start-->
                <div class="row">
                    <asp:UpdatePanel ID="UpdatePanel12" runat="server" UpdateMode="Conditional">
                        <ContentTemplate>
                            <div class="row widget Dashboard-white-widget" style="width: 98%">
                                <div class="panel panel-default">
                                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseGraphProjectWiseSC" style="margin-left: 10px;">
                                        <h2>Project Wise - Compliance Summary (Sub Contractor)</h2>
                                        <div class="panel-actions">
                                            <a class="btn-minimize" onclick="btnminimize(this)" data-toggle="collapse" data-parent="#accordion" href="#collapseGraphProjectWiseSC"><i class="fa fa-chevron-down"></i></a>
                                        </div>
                                    </div>

                                    <div id="collapseGraphProjectWiseSC" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div id="divbarChartProjectWiseComplianceStatusForSubContractors" class="col-md-12" style="margin-left: -8px; width: 100%;">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </ContentTemplate>
                    </asp:UpdatePanel>
                </div>
            </div>
            <!-- Project Wise SubContractor  End-->
        </section>
    </section>
    <div class="modal fade" id="ConstractorPopUpForScheduleComplainces" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
        <div class="modal-dialog" style="width: 98%;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" style="margin-top: -5px;" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body" style="width: 100%">
                    <iframe id="showdetails" src="blank.html" width="100%" height="100%" frameborder="0" scrolling="yes" style="height: 540px"></iframe>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
