﻿
@{
    ViewBag.Title = "ContractorCompliancesdocumentList";
    Layout = "~/Areas/VendorAuditManagement/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <style type="text/css">
        .k-list > .k-state-focused.k-state-selected, .k-listview > .k-state-focused.k-state-selected, .k-state-focused.k-state-selected, td.k-state-focused.k-state-selected {
            -webkit-box-shadow: inset 0 0 3px 1px #14699f;
            box-shadow: inset 0 0 1px 1px #14699f;
        }

        .k-grid-header th.k-state-focused, .k-list > .k-state-focused, .k-listview > .k-state-focused, .k-state-focused, td.k-state-focused {
            -webkit-box-shadow: inset 0 0 3px 1px #d7dae0;
            box-shadow: inset 0 0 1px 1px white;
        }

        .div.k-grid-footer, div.k-grid-header {
            border-top-width: 1px;
            margin-right: 0px;
        }

        .k-grid-footer-wrap, .k-grid-header-wrap {
            position: relative;
            width: 100%;
            overflow: hidden;
            border-style: solid;
            border-width: 0 1px 0 0;
            zoom: 1;
        }

        .k-grid-content {
            min-height: 380px !important;
            overflow: hidden;
        }

        html {
            color: #666666;
            font-size: 15px;
            font-weight: normal;
            font-family: 'Roboto',sans-serif;
        }

        .k-checkbox-label, .k-radio-label {
            display: inline;
        }

        .myKendoCustomClass {
            z-index: 999 !important;
        }

        .k-header .k-grid-toolbar {
            background: white;
            float: left;
            width: 100%;
        }

        .k-grid td {
            line-height: 2.0em;
            border-bottom-width: 1px;
            background-color: white;
            border-width: 0 1px 1px 0px;
        }

        .k-i-more-vertical:before {
            content: "\e006";
        }

        .k-grid td.k-state-selected:hover, .k-grid tr.k-state-selected:hover {
            background-color: #1fd9e1;
            background-image: none;
            background-color: white;
        }

        k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list > .k-state-highlight, .k-list > .k-state-selected, .k-marquee-color, .k-panel > .k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-tool.k-state-selected {
            color: #000000;
            border-color: #1fd9e1;
            background-color: white;
        }

        .k-pager-wrap > .k-link > .k-icon {
            margin-top: -2px;
            color: inherit;
        }

        html .k-grid tr:hover {
            background: white;
        }

        html .k-grid tr.k-alt:hover {
            background: white;
        }

        .k-grid tbody .k-button {
            min-width: 30px;
            min-height: 30px;
            background: white;
            border: none;
        }

        .k-button-icontext .k-icon, .k-button-icontext .k-image, .k-button-icontext .k-sprite {
            margin-right: 0px;
            margin-right: 0px;
            margin-left: 0px;
            margin-left: 0px;
        }

        .k-auto-scrollable {
            overflow: hidden;
        }

        .k-grid-header {
            padding-right: 0px !important;
            margin-right: 2px;
        }

        .k-filter-menu .k-button {
            width: 27%;
        }

        .k-label input[type="checkbox"] {
            margin: 0px 5px 0 !important;
        }

        input[type=checkbox], input[type=radio] {
            margin: 4px 4px 0;
            line-height: normal;
        }

        .k-filter-row th, .k-grid-header th.k-header {
            font-size: 15px;
            background: #f8f8f8;
            font-family: 'Roboto',sans-serif;
            color: #2b2b2b;
            font-weight: 400;
        }

        .k-primary {
            border-color: #1fd9e1;
            background-color: #1fd9e1;
        }

        .k-pager-wrap {
            background-color: white;
            color: #2b2b2b;
        }

        td.k-command-cell {
            border-width: 0 0px 1px 0px;
            text-align: center;
        }

        .k-grid-pager {
            margin-top: -1px;
        }

        span.k-icon.k-i-calendar {
            margin-top: 6px;
        }

        .col-md-2 {
            width: 20%;
        }

        .k-filter-row th, .k-grid-header th.k-header {
            border-width: 0px 0px 1px 0px;
            background: #E9EAEA;
            font-weight: bold;
            margin-right: 18px;
            font-family: 'Roboto',sans-serif;
            font-size: 15px;
            color: rgba(0, 0, 0, 0.5);
            height: 20px;
            vertical-align: middle;
        }

        .k-dropdown-wrap.k-state-default {
            background-color: white;
        }

        .k-popup.k-calendar-container, .k-popup.k-list-container {
            background-color: white;
        }

        label.k-label {
            font-family: roboto,sans-serif !important;
            color: #515967;
            /* font-stretch: 100%; */
            font-style: normal;
            font-weight: 400;
            min-width: 362px;
            white-space: pre-wrap;
        }

        .k-multicheck-wrap .k-item {
            line-height: 1.2em;
            font-size: 14px;
            margin-bottom: 5px;
        }

        label {
            display: flex;
            margin-bottom: 0px;
        }

        .k-state-default > .k-select {
            border-color: #ceced2;
            margin-top: -4px;
        }

        .k-grid-norecords {
            width: 100%;
            height: 100%;
            text-align: center;
            margin-top: 2%;
        }

        .k-grouping-header {
            font-style: italic;
            background-color: white;
        }

        .k-grid table {
            width: 100.5%;
        }

        .k-active-filter, .k-state-active, .k-state-active:hover {
            background-color: #E9EAEA;
            border-color: #a6a6ad;
            color: #535b6a;
        }

        .k-treeview .k-i-collapse, .k-treeview .k-i-expand, .k-treeview .k-i-minus, .k-treeview .k-i-plus {
            margin-left: -18px;
            cursor: pointer;
        }

        .k-button.k-button-icon .k-icon, .k-grid-filter .k-icon, .k-header .k-icon {
            text-indent: -99999px;
            overflow: hidden;
        }

        .k-header > .k-grid-filter, .k-header > .k-header-column-menu {
            float: right;
            margin: -.5em 0.4em -0.4em 0px;
            padding: .5em .2em .4em;
            position: relative;
            z-index: 1;
            color: inherit;
        }

        .k-multiselect-wrap .k-input {
            /*padding-top:6px;*/
            display: inherit !important;
        }

        .k-filter-menu .k-button {
            width: 27%;
            background-color: #E9EAEA;
            color: black;
            border: 2px solid rgba(0, 0, 0, 0.5);
        }

        .MainWrapper {
            width: 18.2%;
            display: block;
            float: left;
            color: #212121;
            margin-left: 2.2%;
            margin-top: 4px;
            font-weight: 400;
        }
    </style>

    <script type="text/javascript">

        var UID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID;
        var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;
        var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';
        var Role = '@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role';

        function FilterAll() {
            var projectdetails = [];
            if ($("#dropdownFilterProjectName").data("kendoDropDownTree") != undefined) {
                projectdetails = $("#dropdownFilterProjectName").data("kendoDropDownTree")._values;
            }

            var contractordetails = [];
            if ($("#dropdownContractor").data("kendoDropDownTree") != undefined) {
                contractordetails = $("#dropdownContractor").data("kendoDropDownTree")._values;
            }

            var locationdetails = [];
            if ($("#dropdownLocation").data("kendoDropDownTree") != undefined) {
                locationdetails = $("#dropdownLocation").data("kendoDropDownTree")._values;
            }

            var finalSelectedfilter = { logic: "and", filters: [] };

            if (projectdetails.length > 0 ||
                locationdetails > 0 ||
                contractordetails > 0)
            {
                if (projectdetails.length > 0) {
                    var ProjectFilter = { logic: "or", filters: [] };

                    $.each(projectdetails, function (i, v) {
                        ProjectFilter.filters.push({
                            field: "ProjectID", operator: "eq", value: parseInt(v)
                        });
                    });

                    finalSelectedfilter.filters.push(ProjectFilter);
                }

                if (locationdetails.length > 0) {
                    var LocationFilter = { logic: "or", filters: [] };

                    $.each(locationdetails, function (i, v) {
                        LocationFilter.filters.push({
                            field: "LocationID", operator: "eq", value: parseInt(v)
                        });
                    });

                    finalSelectedfilter.filters.push(LocationFilter);
                }

                if (contractordetails.length > 0) {
                    var ContractorFilter = { logic: "or", filters: [] };

                    $.each(contractordetails, function (i, v) {
                        ContractorFilter.filters.push({
                            field: "ContractorID", operator: "eq", value: parseInt(v)
                        });
                    });

                    finalSelectedfilter.filters.push(ContractorFilter);
                }

                if (finalSelectedfilter.filters.length > 0) {
                    var dataSource = $("#grid").data("kendoGrid").dataSource;
                    dataSource.filter(finalSelectedfilter);
                }
                else {
                    $("#grid").data("kendoGrid").dataSource.filter({});
                }
            }
            else {
                $("#grid").data("kendoGrid").dataSource.filter({});
            }
        }

        function fcloseStory(obj) {
            var DataId = $(obj).attr('data-Id');
            var dataKId = $(obj).attr('data-K-Id');
            var seq = $(obj).attr('data-seq');
            var deepspan = $('#' + DataId + ' > li > span > span.k-i-close')[seq];
            $(deepspan).trigger('click');
            var upperli = $('#' + dataKId);
            $(upperli).remove();

            fCreateStoryBoardCM('dropdownFilterProjectName', 'filtersProject', 'project');
            fCreateStoryBoardCM('dropdownContractor', 'filtersContractor', 'Contractor');
            fCreateStoryBoardCM('dropdownLocation', 'filterLocation', 'location');
        }

        function fCreateStoryBoardCM(Id, div, filtername) {
            var IdKReset = $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).attr('id');
            $('#' + div).html('');
            $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).css('height', '0px');
            $('#' + div).css('display', 'block');

            if (div == 'filtersProject') {
                $('#' + div).append('Project&nbsp;&nbsp;:');
            }
            else if (div == 'filtersState') {
                $('#' + div).append('State&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:');//Dashboard
            }
            else if (div == 'filterLocation') {
                $('#' + div).append('Location&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:');//Dashboard
            }
            else if (div == 'filtersContractor') {
                $('#' + div).append('Contractor&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:');//Dashboard
            }

            for (var i = 0; i < $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).find('.k-button').length; i++) {
                var button = $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).find('.k-button')[i];
                $(button).css('display', 'none');
                $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).attr('placeholder', 'Shree');
                var buttontest = $($(button).find('span')[0]).text();
                $('#' + div).append('<li class="k-button " unselectable="on" Id="ddl' + filtername + [i] + '" role="option" style="background-color:#EBEBEB;height: 20px;Color:Gray;margin-left:5px;margin-bottom: 4px;"><span unselectable="on" title="' + $($(button).find('span')[0]).text() + '">' + buttontest + '</span><span data-K-Id="ddl' + filtername + [i] + '" data-Id="' + IdKReset + '" data-seq="' + i + '" onclick="fcloseStory(this)" title="Clear" aria-label="Clear" class="k-select" style="padding-left: 6px;"><span data-Id="' + IdKReset + '" data-seq="' + i + '"  onclick="fcloseStory(this)"  class="k-icon k-i-close" title="Clear" aria-label="Clear" style="font-size: 12px;"></span></span></li>');
            }

            if ($($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).find('.k-button').length == 0) {
                $('#' + div).css('display', 'none');
                $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).css('height', '0px');

            }
        }

        function BindDocFilters()
        {
            $("#dropdownLocation").kendoDropDownTree({
                placeholder: "Select Location",
                //filter: "contains",
                checkboxes: true,
                checkboxes: {
                    checkChildren: true
                },
                checkAll: true,
                autoClose: false,
                checkAllTemplate: "Select All",
                autoWidth: true,
                dataTextField: "Name",
                dataValueField: "ID",
                change: function (e) {
                    FilterAll();
                    fCreateStoryBoardCM('dropdownLocation', 'filterLocation', 'location');
                    $('input[id=chkAll]').prop('checked', false);
                    $('#btndownloadDocument').css('display', 'none');
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/GetLocationListrolewise?UID=' + UID + '&customerId=' + CID + '&role=' + Role,                            
                            //url: apiUrl + '/VendorAudit/GetLocationList?customerId=' + CID,
                           dataType: "json",
                        }
                    },
                    schema: {
                        data: function (response) {
                            return response[0].locationList;
                        },
                        model: {
                            children: "Children"
                        }
                    }
                }
            });

            $("#dropdownContractor").kendoDropDownTree({
                placeholder: "Select Contractor",
                filter: "contains",
                checkboxes: true,
                checkAll: true,
                autoClose: false,
                checkAllTemplate: "Select All",
                autoWidth: true,
                dataTextField: "ContractorName",
                dataValueField: "ID",
                change: function (e) {
                    fCreateStoryBoardCM('dropdownContractor', 'filtersContractor', 'Contractor');
                    FilterAll();
                    $('input[id=chkAll]').prop('checked', false);
                    $('#btndownloadDocument').css('display', 'none');
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/GetContractorListrolewise?UID='+UID+'&CustID=' + CID +'&Role=' + Role,
                            //url: apiUrl + '/VendorAudit/GetContractorList?CustID=' + CID,
                            dataType: "json",
                        }
                    }
                }
            });

            $("#dropdownFilterProjectName").kendoDropDownTree({
                placeholder: "Select Project",
                filter: "contains",
                checkboxes: true,
                checkAll: true,
                autoClose: false,
                checkAllTemplate: "Select All",
                autoWidth: true,
                dataTextField: "Name",
                dataValueField: "ID",
                change: function (e) {
                    fCreateStoryBoardCM('dropdownFilterProjectName', 'filtersProject', 'project');
                    FilterAll();
                    $('input[id=chkAll]').prop('checked', false);
                    $('#btndownloadDocument').css('display', 'none');
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/ProjectMasterFilterRecordRoleWise?UID=' + UID + '&CID=' + CID + '&LocationIDs=&role='+Role,
                            //url: apiUrl + '/VendorAudit/ProjectMaster?CID=' + CID,
                            dataType: "json",
                        }
                    }
                }
            });
        }

        $(function () {
            fhead('Document');
            BindGrid();
            BindDocFilters();
            $("#btnClear").on("click",function(e)
            {
                $('#dropdownLocation').data("kendoDropDownTree").value([]);
                $("#dropdownContractor").data("kendoDropDownTree").value([]);
                $("#dropdownFilterProjectName").data("kendoDropDownTree").value([]);
                $('input[id=chkAll]').prop('checked', false);
                $('#btndownloadDocument').css('display', 'none');
                FilterAll();
            });

            $(document).on("click", "#chkAll", function (e) {

                if ($('input[id=chkAll]').prop('checked')) {

                    $('input[name="sel_chkbx"]').each(function (i, e) {
                        e.click();
                    });
                }
                else {

                    $('input[name="sel_chkbx"]').attr("checked", false);
                }
                if (($('input[name="sel_chkbx"]:checked').length) == 0) {
                    $('#btndownloadDocument').css('display', 'none');
                }
                else {
                    $('#btndownloadDocument').css('display', 'block');
                }
                return true;
            });

            $(document).on("click", "#sel_chkbx", function (e) {
                if (($('input[name="sel_chkbx"]:checked').length) == 0) {
                    $('#btndownloadDocument').css('display', 'none');
                }
                else {
                    $('#btndownloadDocument').css('display', 'block');
                }
                return true;
            });

        });

        function BindGrid()
            {
              var Role = '@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role';

              var dataSource = new kendo.data.DataSource({
                  transport: {
                      read: apiUrl + '/VendorAudit/GetdocumentChecklistList?CustID=' + CID +'&UID=' + UID +'&Role='+Role
                  },
                  pageSize: 10,
                  schema: {
                      model: {
                          id: "ID",
                          fields: {
                              ScheduleOn: { type: "date" },
                          }
                      },
                  },
              });

            $("#grid").kendoGrid({
                dataSource: dataSource,
                sortable: true,
                //groupable: true,
                filterable: true,
                columnMenu: true,
                noRecords: true,
                messages: {
                    noRecords: "No records found"
                },
                reorderable: true,
                resizable: true,
                multi: true,
                selectable: true,
                pageable: {
                    numeric: true,
                    pageSizes: ['All', 5, 10, 20],
                    pageSize: 10,
                    buttonCount: 3,
                },
                columns: [
                    {
                        template: "<input name='sel_chkbx' id='sel_chkbx' type='checkbox' value=#=ID# >",
                        filterable: false, sortable: false,
                        headerTemplate: "<input type='checkbox' id='chkAll' />",
                        width: "5%;",//, lock: true,
                    },
                    {
                        field: "ProjectName", title: 'Project',
                        width: "15%;",
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        field: "ContractorName", title: 'Contractor',
                        width: "15%;",
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        field: "IsSubcontract", title: 'Type',
                        width: "10%",
                        attributes: {
                            style: 'white-space: nowrap;'

                        },
                        filterable: false,
                        sortable: true,
                        template: "#if (IsSubcontract == 0) {# #= 'Contractor' # #} else{# #= 'Sub-Contractor'# #}#",
                    },
                    {
                        field: "FrequencyDetail", title: 'Frequency',
                        width: "12%;",
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        field: "ScheduleOn", title: 'Due Date',
                        type: "date",
                        format: "{0:dd-MM-yyyy}",
                        filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    type: "date",
                                    format: "{0:dd-MM-yyyy}",
                                    eq: "is equal to",
                                    neq: "is not equal to",
                                    contains: "contains"
                                }
                            }
                        }, width: "12%"
                    },
                    {
                        field: "ForMonth", title: 'Period',
                        width: "12%;",
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        field: "Status", title: 'Status',
                        width: "10%;",
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        field: "Location", title: 'Location',
                        hidden: true,
                        width: "12%;",
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        field: "StateName", title: 'State',
                        width: "12%;",
                        hidden: true,
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        command: [
                            { name: "edit2", text: "", iconClass: "k-icon k-i-eye", className: "ob-View" },
                            { name: "edit2", text: "", iconClass: "k-icon k-i-download", className: "ob-download" }
                        ], title: "Action", lock: true, width: 120, headerAttributes: {
                            style: "text-align: center;"
                        }
                    }
                ]
            });
              $("#grid").kendoTooltip({
                  filter: "td",
                  position: "down",
                  content: function (e) {
                      var content = e.target.context.textContent;
                      if (content != "") {
                          return '<div style="width: ' + content.length * .6 + 'em; max-width: 20em;white-space: pre-wrap;">' + content + '</div>';
                      }
                      else
                          e.preventDefault();
                  }
              }).data("kendoTooltip");

              $("#grid").kendoTooltip({
                  filter: "th",
                  position: "down",
                  content: function (e) {
                      var content = e.target.context.textContent;
                      if (content != "") {
                          return '<div style="width: ' + content.length * .6 + 'em; max-width: 20em;white-space: pre-wrap;">' + content + '</div>';
                      }
                      else
                          e.preventDefault();
                  }
              }).data("kendoTooltip");

              $("#grid").kendoTooltip({
                  filter: ".ob-download",
                  content: function (e) {
                      return "Download";
                  }
              });

              $("#grid").kendoTooltip({
                  filter: ".ob-View",
                  content: function (e) {
                      return "View";
                  }
              });
        }

        $(document).on("click", "#grid tbody tr .ob-View", function (e)
        {
              var item = $("#grid").data("kendoGrid").dataItem($(this).closest("tr"));
              $('#divViewDocument').modal('show');
              $('.modal-dialog').css('width', '98%');
            $('#OverViews').attr('src', apiUrl + '/Download-View/DownloadMyDocuments.aspx?ContractProjectMappingId=' + item.ContractorProjectMappingID + '&ScheduleOnId=' + item.ScheduleOnID + '&ComplianceId=0&CustID=' + CID);
              e.preventDefault();

              return true;
          });

        $(document).on("click", "#grid tbody tr .ob-download", function (e)
        {
              var item = $("#grid").data("kendoGrid").dataItem($(this).closest("tr"));
            $('#downloadfile').attr('src', apiUrl + '/Download-View/DownloadMyDocuments.aspx?ContractProjectMappingId=' + item.ContractorProjectMappingID + '&ScheduleOnId=' + item.ScheduleOnID + '&Period=' + item.ForMonth + '&CustID=' + CID + '&FileID=0');
              e.preventDefault();
              return false;
        });

        function selectedDocument(e) {
            var DetailsObj = [];

            if (($('input[name="sel_chkbx"]:checked').length) == 0) {
                return;
            }
            var grid = $("#grid").data("kendoGrid");
            var sel = $("input:checked", grid.tbody).closest("tr");
            $.each(sel, function (idx, row) {
                var item = grid.dataItem(row);
                var DetailsObjNew = {
                    ContractProjectMappingId: item.ContractorProjectMappingID,
                    ScheduleOnId: item.ScheduleOnID,
                    Period: item.ForMonth,
                    CustomerID: CID,
                }
                DetailsObj.push(DetailsObjNew);
            });
            if (DetailsObj.length > 0) {
                $('#downloadfile').attr('src', apiUrl + '/Download-View/DownloadMyDocuments.aspx?DownloadAuditChecklistDoc=' + JSON.stringify(DetailsObj) );
                e.preventDefault();
                return false;
            }
            else {
                alert('Please select at least one Record');
            }
            return false;
        }

    </script>

</head>
<body>
    <div>
        <div class="row Dashboard-white-widget">
            <div style="margin: 0.5% 0 0.5%; height: 30px;">
                <input id="dropdownLocation" style="width: 20%;margin-right: 0.5%;" />
                <input id="dropdownContractor" style="width: 15%;margin-right: 0.5%;" />
                <input id="dropdownFilterProjectName" style="width: 15%;margin-right: 0.5%;" />
                <button id="btnClear" type="button" style="height: 30px;" class="k-button"><span class="k-icon k-i-filter-clear" onclick="javascript:return false;"></span>Clear</button>
                <button id="btndownloadDocument" class="k-button" style="float: right;" onclick="selectedDocument(event)">Download</button>
            </div>
            <div class="row" style="padding-bottom: 4px;font-size: 12px;display: none;font-weight: bold;color: #666;" id="filtersProject">&nbsp;</div>
            <div class="row" style="padding-bottom: 4px;font-size: 12px;display: none;font-weight: bold;color: #666;" id="filtersContractor">&nbsp;</div>
            <div class="row" style="padding-bottom: 4px;font-size: 12px;display: none;font-weight: bold;color: #666;" id="filterLocation">&nbsp;</div>

            <div class="row">
                <div id="grid"></div>
            </div>
        </div>

        <div id="NewContractorModal" style="display:none">
            <div class="col-md-11" style="margin:10px;">
                <label class="MainWrapper" style="width:40%">License Type<span style="color: red;">*</span></label>
                <input id="txtLicName" required="required" placeholder="License Type" class="k-textbox" style="width: 40%;" />
                <input type="text" id="txtLicID" class="form-control" style="display:none;" />
            </div>
            <div class="row" style="text-align: center;">
                <button id="btnSave" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
        <iframe id="downloadfile" src="about:blank" width="0" height="0" style="display: none;"></iframe>
        <div class="modal fade" id="divViewDocument" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
            <div class="modal-dialog" style="width: 70%;">
                <div class="modal-content">
                    <div class="modal-header" style="border: none;">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body" style="height: 570px;">
                        <div style="width: 100%;">
                            <div class="col-md-12 colpadding0">
                                <asp:Label runat="server" ID="lblMessage" Style="color: red;"></asp:Label>
                                <fieldset style="height: 550px; width: 100%;">
                                    <iframe src="about:blank" id="OverViews" width="100%" height="100%" frameborder="0"></iframe>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>