﻿<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <link href="../../NewCSS/kendo.common.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.rtl.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.silver.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.mobile.all.min.css" rel="stylesheet" />
    <script type="text/javascript" src="../../Newjs/jquery-1.12.4.min.js"></script>

    <script type="text/javascript" src="../../Newjs/kendo.all.min.js"></script>
    <script type="text/javascript" src="../../Newjs/jszip.min.js"></script>
    <link href="../NewCSS/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="../Newjs/bootstrap.min.js"></script>
    <style type="text/css">
        button, html input[type=button], input[type=reset], input[type=submit] {
            -webkit-appearance: button;
            cursor: pointer;
        }

        .modal, .modal-backdrop {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        .modal-content, .popover {
            background-clip: padding-box;
        }

        .modal-open .navbar-fixed-bottom, .modal-open .navbar-fixed-top, body.modal-open {
            margin-right: 15px;
        }

        .modal {
            display: none;
            overflow: auto;
            overflow-y: scroll;
            position: fixed;
            z-index: 1040;
        }

            .modal.fade .modal-dialog {
                -webkit-transform: translate(0,-25%);
                -ms-transform: translate(0,-25%);
                transform: translate(0,-25%);
                -webkit-transition: -webkit-transform .3s ease-out;
                -moz-transition: -moz-transform .3s ease-out;
                -o-transition: -o-transform .3s ease-out;
                transition: transform .3s ease-out;
            }

            .modal.in .modal-dialog {
                -webkit-transform: translate(0,0);
                -ms-transform: translate(0,0);
                transform: translate(0,0);
            }

        .modal-dialog {
            margin-left: auto;
            margin-right: auto;
            width: auto;
            padding: 10px;
            z-index: 1050;
        }

        .modal-content {
            position: relative;
            background-color: #fff;
            border: 1px solid #999;
            border: 1px solid rgba(0,0,0,.2);
            border-radius: 6px;
            -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
            box-shadow: 0 3px 9px rgba(0,0,0,.5);
            outline: 0;
        }

        .modal-backdrop {
            position: fixed;
            z-index: 1030;
            background-color: #000;
        }

            .modal-backdrop.fade {
                opacity: 0;
                filter: alpha(opacity=0);
            }

            .carousel-control, .modal-backdrop.in {
                opacity: .5;
                filter: alpha(opacity=50);
            }

        .modal-header {
            padding: 15px;
            border-bottom: 1px solid #e5e5e5;
            min-height: 16.43px;
        }

            .modal-header .close {
                margin-top: -2px;
            }

        .modal-title {
            margin: 0;
            line-height: 1.428571429;
        }

        .modal-body {
            position: relative;
            padding: 20px;
        }


        .modal-footer {
            margin-top: 15px;
            padding: 19px 20px 20px;
            text-align: right;
            border-top: 1px solid #e5e5e5;
        }



            .modal-footer:after, .modal-footer:before {
                content: " ";
                display: table;
            }

            .modal-footer .btn + .btn {
                margin-left: 5px;
                margin-bottom: 0;
            }

            .modal-footer .btn-group .btn + .btn {
                margin-left: -1px;
            }

            .modal-footer .btn-block + .btn-block {
                margin-left: 0;
            }

        .modal-content {
            -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
            box-shadow: 0 5px 15px rgba(0,0,0,.5);
        }


        .btn-group-vertical > .btn-group:after, .btn-toolbar:after, .clearfix:after, .container:after, .dropdown-menu > li > a, .form-horizontal .form-group:after, .modal-footer:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
            clear: both;
        }

        .media, .media-body, .modal-open, .progress {
            overflow: hidden;
        }

        .close, .list-group-item > .badge {
            float: right;
        }

        .close {
            font-size: 21px;
            line-height: 1;
            color: #000;
            text-shadow: 0 1px 0 #fff;
            opacity: .2;
            filter: alpha(opacity=20);
        }

            .close:focus, .close:hover {
                color: #000;
                text-decoration: none;
                cursor: pointer;
                opacity: .5;
                filter: alpha(opacity=50);
            }

        button.close {
            padding: 0;
            cursor: pointer;
            background: 0 0;
            border: 0;
            -webkit-appearance: none;
        }

        .k-list > .k-state-focused.k-state-selected, .k-listview > .k-state-focused.k-state-selected, .k-state-focused.k-state-selected, td.k-state-focused.k-state-selected {
            -webkit-box-shadow: inset 0 0 3px 1px #14699f;
            box-shadow: inset 0 0 1px 1px #14699f;
        }

        .k-grid-header th.k-state-focused, .k-list > .k-state-focused, .k-listview > .k-state-focused, .k-state-focused, td.k-state-focused {
            -webkit-box-shadow: inset 0 0 3px 1px #d7dae0;
            box-shadow: inset 0 0 1px 1px white;
        }

        .div.k-grid-footer, div.k-grid-header {
            border-top-width: 1px;
            margin-right: 0px;
        }

        .k-grid-footer-wrap, .k-grid-header-wrap {
            position: relative;
            width: 100%;
            overflow: hidden;
            border-style: solid;
            border-width: 0 1px 0 0;
            zoom: 1;
        }

        .k-grid-content {
            min-height: 380px !important;
            overflow: hidden;
        }

        #gridAuditLog .k-grid-content {
            min-height: 50px !important;
            overflow: hidden;
        }

        #griRevDoc .k-grid-content {
            min-height: 50px !important;
            overflow: hidden;
        }

        html {
            color: #666666;
            font-size: 15px;
            font-weight: normal;
            font-family: 'Roboto',sans-serif;
        }

        .k-checkbox-label, .k-radio-label {
            display: inline;
        }

        .myKendoCustomClass {
            z-index: 999 !important;
        }

        .k-header .k-grid-toolbar {
            background: white;
            float: left;
            width: 100%;
        }

        .k-grid td {
            line-height: 2.0em;
            border-bottom-width: 1px;
            background-color: white;
            border-width: 0 1px 1px 0px;
        }

        .k-i-more-vertical:before {
            content: "\e006";
        }

        .k-grid td.k-state-selected:hover, .k-grid tr.k-state-selected:hover {
            background-color: #1fd9e1;
            background-image: none;
            background-color: white;
        }

        k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list > .k-state-highlight, .k-list > .k-state-selected, .k-marquee-color, .k-panel > .k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-tool.k-state-selected {
            color: #000000;
            border-color: #1fd9e1;
            background-color: white;
        }

        .k-pager-wrap > .k-link > .k-icon {
            margin-top: -2px;
            color: inherit;
        }

        html .k-grid tr:hover {
            background: white;
        }

        html .k-grid tr.k-alt:hover {
            background: white;
        }

        .k-grid tbody .k-button {
            min-width: 30px;
            min-height: 30px;
            background: white;
            border: none;
        }

        .k-button-icontext .k-icon, .k-button-icontext .k-image, .k-button-icontext .k-sprite {
            margin-right: 0px;
            margin-right: 0px;
            margin-left: 0px;
            margin-left: 0px;
        }

        .k-auto-scrollable {
            overflow: hidden;
        }

        .k-grid-header {
            padding-right: 0px !important;
            margin-right: 2px;
        }

        .k-filter-menu .k-button {
            width: 27%;
        }

        .k-label input[type="checkbox"] {
            margin: 0px 5px 0 !important;
        }

        input[type=checkbox], input[type=radio] {
            margin: 4px 4px 0;
            line-height: normal;
        }

        .k-filter-row th, .k-grid-header th.k-header {
            font-size: 15px;
            background: #f8f8f8;
            font-family: 'Roboto',sans-serif;
            color: #2b2b2b;
            font-weight: 400;
        }

        .k-primary {
            border-color: #1fd9e1;
            background-color: #1fd9e1;
        }

        .k-pager-wrap {
            background-color: white;
            color: #2b2b2b;
        }

        td.k-command-cell {
            border-width: 0 0px 1px 0px;
            text-align: center;
        }

        .k-grid-pager {
            margin-top: -1px;
        }

        span.k-icon.k-i-calendar {
            margin-top: 6px;
        }

        .k-filter-row th, .k-grid-header th.k-header {
            border-width: 0px 0px 1px 0px;
            background: #E9EAEA;
            font-weight: bold;
            margin-right: 18px;
            font-family: 'Roboto',sans-serif;
            font-size: 15px;
            color: rgba(0, 0, 0, 0.5);
            height: 20px;
            vertical-align: middle;
        }

        .k-dropdown-wrap.k-state-default {
            background-color: white;
        }

        .k-popup.k-calendar-container, .k-popup.k-list-container {
            background-color: white;
        }

        label.k-label {
            font-family: roboto,sans-serif !important;
            color: #515967;
            /* font-stretch: 100%; */
            font-style: normal;
            font-weight: 400;
            min-width: 362px;
            white-space: pre-wrap;
        }

        .k-multicheck-wrap .k-item {
            line-height: 1.2em;
            font-size: 14px;
            margin-bottom: 5px;
        }

        label {
            display: flex;
            margin-bottom: 0px;
        }

        .k-state-default > .k-select {
            border-color: #ceced2;
            margin-top: 0px;
        }

        .k-grid-norecords {
            width: 100%;
            height: 100%;
            text-align: center;
            margin-top: 2%;
        }

        .k-grouping-header {
            font-style: italic;
            background-color: white;
        }

        .k-grid table {
            width: 100.5%;
        }

        .k-active-filter, .k-state-active, .k-state-active:hover {
            background-color: #E9EAEA;
            border-color: #a6a6ad;
            color: #535b6a;
        }

        .k-treeview .k-i-collapse, .k-treeview .k-i-expand, .k-treeview .k-i-minus, .k-treeview .k-i-plus {
            margin-left: -18px;
            cursor: pointer;
        }

        .k-button.k-button-icon .k-icon, .k-grid-filter .k-icon, .k-header .k-icon {
            text-indent: -99999px;
            overflow: hidden;
        }

        .k-header > .k-grid-filter, .k-header > .k-header-column-menu {
            float: right;
            margin: -.5em 0.4em -0.4em 0px;
            padding: .5em .2em .4em;
            position: relative;
            z-index: 1;
            color: inherit;
        }

        .k-multiselect-wrap .k-input {
            /*padding-top:6px;*/
            display: inherit !important;
        }

        .k-filter-menu .k-button {
            width: 27%;
            background-color: #E9EAEA;
            color: black;
            border: 2px solid rgba(0, 0, 0, 0.5);
        }

        .componentWraper {
            margin: 18px;
            position: relative;
            border: 1.2px solid #bdbdbd;
            border-radius: 12px;
            padding: 20px;
            margin-top: 8px;
        }

            .componentWraper .componentTitle {
                position: absolute;
                top: -10px;
                background: #fff;
                padding: 0 10px;
                font-weight: 600;
                margin-top: -2px;
                font-size: 17px;
                color: #78909c;
            }

        .MainWrapper {
            width: 20%;
            display: block;
            float: left;
            color: #212121;
            margin-left: 2.2%;
        }

        .margin-6 {
            margin: 6px 6px 6px 6px;
        }
    </style>

    <script type="text/javascript">

        $(document).ready(function () {
            BindGridComplianceStatusWise();
            BindFiltersComplianceWise();
        });

        function BindFiltersComplianceWise() {

            var UID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID;
            var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;;
            var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';
            var Role = '@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role';

            $("#Startdatepicker").kendoDatePicker({
                format: "dd-MM-yyyy",
                change: FilterAll
            });
            $("#Lastdatepicker").kendoDatePicker({
                format: "dd-MM-yyyy",
                change: FilterAll
            });

            $("#drpStateComplianceWise").kendoDropDownTree({
                placeholder: "State",
                filter: "contains",
                checkboxes: true,
                checkAll: true,
                autoClose: false,
                checkAllTemplate: "Select All",
                autoWidth: true,
                dataTextField: "Name",
                dataValueField: "ID",
                change: function (e) {
                    fCreateStoryBoard('drpStateComplianceWise', 'filtersState', 'State');
                    FilterAll();
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/StateMaster',
                            dataType: "json",
                        }
                    }
                }
            });

            $("#drpProjectComplianceWise").kendoDropDownTree({
                placeholder: "Project",
                filter: "contains",
                checkboxes: true,
                checkAll: true,
                autoClose: false,
                checkAllTemplate: "Select All",
                autoWidth: true,
                dataTextField: "Name",
                dataValueField: "Name",
                change: function (e) {
                    fCreateStoryBoard('drpProjectComplianceWise', 'filtersProject', 'project');
                    FilterAll();
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/ProjectMasterFilterRecordRoleWise?UID=' + UID + '&CID=' + CID + '&LocationIDs=&role='+Role,
                            //url: apiUrl + '/VendorAudit/ProjectMasterFilterRecord?CID=' + CID + '&LocationIDs=',
                            dataType: "json",
                        }
                    }
                }
            });

              var abc = '@Request.QueryString["ProjectID"]'.split(',');

            if ('@Request.QueryString["ProjectID"]' != '' && '@Request.QueryString["ProjectID"]' != 'undefined' && '@Request.QueryString["ProjectID"]' != '[]') {
                var drpProjectComplianceWise = $("#drpProjectComplianceWise").data("kendoDropDownTree");

                drpProjectComplianceWise.bind("dataBound", drpProjectComplianceWise_dataBound);

                function drpProjectComplianceWise_dataBound(e) {
                    $("#drpProjectComplianceWise").data("kendoDropDownTree").value(abc);
                }
            }

            $("#drpContractorTypeName").kendoDropDownTree({
                placeholder: "Contractor Type Name",
                filter: "contains",
                checkboxes: true,
                checkAll: true,
                autoClose: false,
                checkAllTemplate: "Select All",
                autoWidth: true,
                dataTextField: "ContractorType",
                dataValueField: "ContractorType",
                change: function (e) {
                    fCreateStoryBoard('drpContractorTypeName', 'filtersContractorTypeName', 'ContractorTypeName');
                    FilterAll();
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/ContractTypeForFilterAssingmentNew?CID=' + CID + '&ProjectIDs=&ContractorTypeIDs=',
                            dataType: "json",
                        }
                    }
                }
            });

            if ('@Request.QueryString["ContractorTypeName"]' != '' && '@Request.QueryString["ContractorTypeName"]' != 'undefined' && '@Request.QueryString["ContractorTypeName"]' != '[]') {

                var drpContractorTypeName = $("#drpContractorTypeName").data("kendoDropDownTree");

                drpContractorTypeName.bind("dataBound", drpContractorTypeName_dataBound);

                function drpContractorTypeName_dataBound(e) {
                    $("#drpContractorTypeName").data("kendoDropDownTree").value(['@Request.QueryString["ContractorTypeName"]']);
                }
            }


            $("#drpStatusComplianceWise").kendoDropDownTree({
                placeholder: "Status",
                filter: "contains",
                checkboxes: true,
                checkAll: true,
                autoClose: false,
                checkAllTemplate: "Select All",
                autoWidth: true,
                dataTextField: "text",
                dataValueField: "value",
                change: function (e) {
                    fCreateStoryBoard('drpStatusComplianceWise', 'filtersStatus', 'status');
                    FilterAll();
                },
                dataSource: [
                    { text: "Complied", value: "1" },
                    { text: "Not Complied", value: "2" },
                    { text: "Not Applicable", value: "3" },
                ]
            });

            $("#drpRiskComplianceWise").kendoDropDownTree({
                placeholder: "Risk",
                filter: "contains",
                checkboxes: true,
                checkAll: true,
                autoClose: false,
                checkAllTemplate: "Select All",
                autoWidth: true,
                dataTextField: "text",
                dataValueField: "value",
                change: function (e) {
                    fCreateStoryBoard('drpRiskComplianceWise', 'filtersRisk', 'Risk');
                    FilterAll();
                },
                dataSource: [
                    { text: "High", value: "High" },
                    { text: "Medium", value: "Medium" },
                    { text: "Low", value: "Low" },
                ]
            });

            $("#drpPeriodComplianceWise").kendoDropDownTree({
                placeholder: "Period",
                checkboxes: true,
                checkAll: true,
                autoClose: true,
                checkAllTemplate: "Select All",
                autoWidth: true,
                dataTextField: "ForMonth",
                dataValueField: "ForMonth",
                change: function () {
                    fCreateStoryBoard('drpPeriodComplianceWise', 'filtersPeriod', 'period');
                    FilterAll();
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/GetAuditscheduledList?CustID=' + CID + '&UID=' + UID + '&Role=' + Role,
                            dataType: "json",
                        }
                    }
                }
            });

            $("#drpLocationComplianceWise").kendoDropDownTree({
                placeholder: "Entity/Sub-Entity/Location",
                checkboxes: {
                    checkChildren: true
                },
                //filter: "contains",
                autoClose: false,
                checkAll: true,
                autoWidth: true,
                checkAllTemplate: "Select All",
                dataTextField: "Name",
                dataValueField: "ID",
                change: function (e) {
                    fCreateStoryBoard('drpLocationComplianceWise', 'filtersLocation', 'location');
                    FilterAll();
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/GetLocationListrolewise?UID=' + UID + '&customerId=' + CID + '&role=' + Role,
                            //url: apiUrl + '/VendorAudit/GetLocationList?customerId=' + CID,
                            dataType: "json",
                        }
                    },
                    schema: {
                        data: function (response) {
                            return response[0].locationList;
                        },
                        model: {
                            children: "Children"
                        }
                    }
                }
            });


            if ('@Request.QueryString["Location"]' != '[]') {
                var drpLocationComplianceWise = $("#drpLocationComplianceWise").data("kendoDropDownTree");
                drpLocationComplianceWise.bind("dataBound", drpLocationComplianceWise_dataBound);

                function drpLocationComplianceWise_dataBound(e) {
                    $("#drpLocationComplianceWise").data("kendoDropDownTree").value(@Request.QueryString["Location"]);
                }
            }

            $("#drpContractorType").kendoDropDownTree({
                placeholder: "Contractor Type",
                filter: "contains",
                checkboxes: true,
                checkAll: true,
                autoClose: false,
                checkAllTemplate: "Select All",
                autoWidth: true,
                dataTextField: "text",
                dataValueField: "value",
                change: function (e) {
                    fCreateStoryBoard('drpContractorType', 'filterstype', 'type');
                    FilterAll();
                },
                dataSource: [
                    { text: "Contractor", value: "0" },
                    { text: "Sub-Contractor", value: "1" },
                ]
            });

            $("#drpStatusComplianceWise").data("kendoDropDownTree").value(['@Request.QueryString["ComplianceStatus"]']);
            $("#drpRiskComplianceWise").data("kendoDropDownTree").value(['@Request.QueryString["ComplianceAtRisk"]']);

            if ('@Request.QueryString["ContractorType"]' == '1') {
                $("#drpContractorType").data("kendoDropDownTree").value(['@Request.QueryString["ContractorType"]']);
            }

            $("#drpComplianceStatus").kendoDropDownList({
                filter: "contains",
                autoClose: false,
                autoWidth: true,
                dataTextField: "text",
                dataValueField: "value",
                optionLabel: "Compliance Status",
                change: function (e) {
                },
                dataSource: [
                    { text: "Complied", value: "1" },
                    { text: "Not Complied", value: "2" },
                    { text: "Not Applicable", value: "3" },
                ]
            });

            $("#drpReviewStatus").kendoDropDownList({
                filter: "contains",
                autoClose: false,
                autoWidth: true,
                dataTextField: "text",
                dataValueField: "value",
                optionLabel: "Reviewer Status",
                change: function (e) {
                },
                dataSource: [
                    { text: "Closed", value: "4" },
                    { text: "Rejected", value: "5" },

                ]
            });

            if ('@Request.QueryString["StartDateDetail"]' != ' ') {
                $("#Startdatepicker").val('@Request.QueryString["StartDateDetail"]');
                FilterAll();
            }
            if ('@Request.QueryString["EndDateDetail"]' != ' ') {
                $("#Lastdatepicker").val('@Request.QueryString["EndDateDetail"]');
                FilterAll();
            }
        }

        function BindGridComplianceStatusWise() {
            var ComplianceStatus = '@Request.QueryString["ComplianceStatus"]';
            var ComplianceAtRisk = '@Request.QueryString["ComplianceAtRisk"]';

            var UID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID;
            var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;;
            var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';
            var Role = '@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role';

            var grid = $('#gridComplianceStatusWise').data("kendoGrid");
            if (grid != undefined || grid != null)
                $('#gridComplianceStatusWise').empty();

            $("#gridComplianceStatusWise").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/GetAuditscheduledcheckListNew?CustID=' + CID + '&UID=' + UID + '&role=' + Role,
                            dataType: "json",
                        }
                    },
                },
                sortable: true,
                groupable: false,
                filterable: true,
                columnMenu: true,
                noRecords: true,
                messages: {
                    noRecords: "No records found"
                },
                reorderable: true,
                resizable: true,
                pageable: {
                    numeric: true,
                    pageSizes: ['All',10, 20],
                    pageSize: 10,
                    buttonCount: 3,
                },
                columns: [
                    {
                        field: "ProjectName",
                        width: "15%",
                        title: 'Project',
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        field: "ComplainceHeader",
                        width: "20%",
                        title: 'Compliance',
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        field: "ContractorName",
                        title: 'Contractor Name',
                        width: "15%",
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        field: "IsSubcontract", title: 'Type',
                        hidden:true,
                        width: "10%",
                        attributes: {
                            style: 'white-space: nowrap;'

                        },
                        filterable: false,
                        sortable: true,
                        template: "#if (IsSubcontract == 0) {# #= 'Contractor' # #} else{# #= 'Sub-Contractor'# #}#",
                    },
                    {
                        field: "Period", title: 'Period',
                        width: "12%",
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        field: "CompliancechecklistStatus", title: 'Compliance Status',
                        width: "15%",
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        field: "RiskCategory", title: 'Risk',
                        width: "9%",
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        field: "ComplianceChecklistReamrk", title: 'Remarks(Per)',
                        width: "16%",
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        field: "ReviewerRemark", title: 'Remarks(Rev)',
                        width: "16%",
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        field: "ScheduleOn", title: 'Due Date',
                        width: "10%",
                        hidden:true,
                        type: "date",
                        format: "{0:dd-MM-yyyy}",
                        filterable: {
                            multi: true,
                            search: true,
                            extra: false,
                            operators: {
                                string: {
                                    type: "date",
                                    format: "{0:dd-MM-yyyy}",
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        command: [
                            { name: "view", text: "", iconClass: "k-icon k-i-hyperlink-open", className: "ob-view" },
                        ], title: "Action", lock: true, width: "8%", headerAttributes: {
                            style: "text-align: center;"
                        }

                    }
                ]
            });

            $("#gridComplianceStatusWise").kendoTooltip({
                filter: "td",
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    if (content != "") {
                        return '<div style="width: ' + content.length * .6 + 'em; max-width: 20em;white-space: pre-wrap;">' + content + '</div>';
                    }
                    else
                        e.preventDefault();
                }
            }).data("kendoTooltip");

            $("#gridComplianceStatusWise").kendoTooltip({
                filter: "th",
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    if (content != "") {
                        return '<div style="width: ' + content.length * .6 + 'em; max-width: 20em;white-space: pre-wrap;">' + content + '</div>';
                    }
                    else
                        e.preventDefault();
                }
            }).data("kendoTooltip");

            $("#gridComplianceStatusWise").kendoTooltip({
                filter: ".ob-view",
                content: function (e) {
                    return "Overview";
                }
            });
        }

        $(document).on("click", "#gridComplianceStatusWise tbody tr .ob-view", function (e) {
             var UID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID;
            var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;;
            var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';
            var Role = '@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role';
            var item = $("#gridComplianceStatusWise").data("kendoGrid").dataItem($(this).closest("tr"));
            ForMonth = item.Period;
            ProjectName = item.ProjectName;

            document.getElementById('lblPeriod').innerText = ProjectName + " - " + ForMonth;

            $("#ComplianceEditPopup").kendoWindow({
                modal: true,
                pinned: true,
                width: "90%",
                height: "80%",
                title: "Compliance Review",
                visible: false,
                draggable: false,
                refresh: true,
                actions: [
                    "Close"
                ], close: ClearComplianceEditPopupControls

            }).data("kendoWindow").open().center();

            var dataCCase = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: apiUrl + '/VendorAudit/GetCompliancesForVendorAsSchedule?CustID=' + CID + '&ProjectContractMappingID=' + item.ContractProjMappingID + '&scheduleonID=' + item.ContractProjMappingScheduleOnID + '&ComplianceID=' + item.ComplianceID,
                        dataType: "json",
                    }
                },
            });

            var complianceidcompare = 0;
            dataCCase.read().then(function () {
                var view = dataCCase.view();
                $(".ComplianceDetails").empty();
               
                for (var idx = 0; idx < view.length; idx++) {
                    if (view[idx].ComplianceStatusID != null) {
                        $("#drpComplianceStatus").val(view[idx].ComplianceStatusID);
                        $("#drpComplianceStatus").data("kendoDropDownList").value(view[idx].ComplianceStatusID);
                        $("#drpReviewStatus").val(view[idx].ReviewerStatusID);
                        $("#drpReviewStatus").data("kendoDropDownList").value(view[idx].ReviewerStatusID);
                    }
                    var complianceid = view[idx].ComplianceId;

                    if (complianceid != complianceidcompare) {
                        complianceidcompare = view[idx].ComplianceId;
                        $("#txtcomplianceheader").val(view[idx].ComplianceHeader);
                        $("#txtAct").val(item.ActName);
                        if (item.ActName == null || item.ActName == "") {
                            document.getElementById('divAct').style = "display:none;";
                        }
                        $("#txtcomplianceDescription").val(item.ComplianceDescription);
                        $("#txtRemarks").val(item.ComplianceChecklistReamrk);
                        if (view[idx].ParameterName != "") {
                            if (view[idx].ParameterValue == "")
                                view[idx].ParameterValue = 'NIL';
                            $(".ComplianceDetails").append('<div class="col-md-12" style="margin-bottom:1%"><label class="MainWrapper">' + view[idx].ParameterName + '</label><input id=' + view[idx].ParameterName + ' class="k-textbox"  type=' + view[idx].ParameterType + ' value=' + view[idx].ParameterValue + ' style="width:25%;" /></div >');
                        }
                        document.getElementById('divreldoc').style = "display:none;";
                    }
                    else {
                        if (view[idx].ParameterName != "") {
                            if (view[idx].ParameterValue == "")
                                view[idx].ParameterValue = 'NIL';
                            $(".ComplianceDetails").append('<div class="col-md-12" style="margin-bottom:1%"><label class="MainWrapper">' + view[idx].ParameterName + '</label><input id=' + view[idx].ParameterName + ' class="k-textbox"  type=' + view[idx].ParameterType + ' value=' + view[idx].ParameterValue + ' style="width:25%;" /></div >');

                        }
                    }
                }

                BindgriRevDoc(item.ContractProjMappingID, item.ContractProjMappingScheduleOnID, item.ComplianceID);

            });
            BindgrdAuditLog(item.ContractProjMappingStepMappingID, item.ContractProjMappingID, item.ContractProjMappingScheduleOnID, item.ComplianceID);
            return true;
        });

        function ClearComplianceEditPopupControls() {
            $("txtcomplianceheader").val('');
            $("#txtAct").val('');
            document.getElementById('divAct').style = "display:block;margin-bottom:1%";
            $("#txtcomplianceDescription").val('');
            $("#txtRemarks").val('');
            $("#drpComplianceStatus").data("kendoDropDownList").select(0);
            $("#drpReviewStatus").data("kendoDropDownList").select(0);
            $('#gridComplianceStatusWise').data('kendoGrid').dataSource.read();
            $('#gridComplianceStatusWise').data('kendoGrid').refresh();
        }

        function FilterAll() {
            var contTypedetails = [];
            if ($("#drpContractorType").data("kendoDropDownTree") != undefined) {
                contTypedetails = $("#drpContractorType").data("kendoDropDownTree")._values;
            }

            var statedetails = [];
            if ($("#drpStateComplianceWise").data("kendoDropDownTree") != undefined) {
                statedetails = $("#drpStateComplianceWise").data("kendoDropDownTree")._values;
            }

            var projectdetails = [];
            if ($("#drpProjectComplianceWise").data("kendoDropDownTree") != undefined) {
                projectdetails = $("#drpProjectComplianceWise").data("kendoDropDownTree")._values;
            }

            var perioddetails = [];
            if ($("#drpPeriodComplianceWise").data("kendoDropDownTree") != undefined) {
                perioddetails = $("#drpPeriodComplianceWise").data("kendoDropDownTree")._values;
            }

            var statusdetails = [];
            if ($("#drpStatusComplianceWise").data("kendoDropDownTree") != undefined) {
                statusdetails = $("#drpStatusComplianceWise").data("kendoDropDownTree")._values;
            }

            var riskdetails = [];
            if ($("#drpRiskComplianceWise").data("kendoDropDownTree") != undefined) {
                riskdetails = $("#drpRiskComplianceWise").data("kendoDropDownTree")._values;
            }

            var locdetails = [];
            if ($("#drpLocationComplianceWise").data("kendoDropDownTree") != undefined) {
                locdetails = $("#drpLocationComplianceWise").data("kendoDropDownTree")._values;
            }
            var contTypeNamedetails = [];
            if ($("#drpContractorTypeName").data("kendoDropDownTree") != undefined) {
                contTypeNamedetails = $("#drpContractorTypeName").data("kendoDropDownTree")._values;
            }


            var finalSelectedfilter = { logic: "and", filters: [] };

            if (statedetails.length > 0 ||
                locdetails.length > 0 ||
                projectdetails.length > 0 ||
                perioddetails.length > 0 ||
                statusdetails.length > 0 ||
                riskdetails.length > 0 ||
                ($("#Startdatepicker").val() != null && $("#Startdatepicker").val() != "") ||
                ($("#Lastdatepicker").val() != null && $("#Lastdatepicker").val() != " ") ||
                contTypedetails.length > 0 ||
                contTypeNamedetails.length > 0) {

                if (locdetails.length > 0) {
                    var LocFilter = { logic: "or", filters: [] };

                    $.each(locdetails, function (i, v) {
                        LocFilter.filters.push({
                            field: "LocationID", operator: "eq", value: parseInt(v)
                        });
                    });

                    finalSelectedfilter.filters.push(LocFilter);
                }

                if (contTypeNamedetails.length > 0) {
                    var TypeFilter = { logic: "or", filters: [] };

                    $.each(contTypeNamedetails, function (i, v) {
                        TypeFilter.filters.push({
                            field: "ContractorTypeName", operator: "eq", value: v
                        });
                    });

                    finalSelectedfilter.filters.push(TypeFilter);
                }


                if (statedetails.length > 0) {
                    var StateFilter = { logic: "or", filters: [] };

                    $.each(statedetails, function (i, v) {
                        StateFilter.filters.push({
                            field: "StateID", operator: "eq", value: parseInt(v)
                        });
                    });

                    finalSelectedfilter.filters.push(StateFilter);
                }
                if (riskdetails.length > 0) {
                    var riskFilter = { logic: "or", filters: [] };

                    $.each(riskdetails, function (i, v) {
                        riskFilter.filters.push({
                            field: "RiskCategory", operator: "contains", value: v
                        });
                    });

                    finalSelectedfilter.filters.push(riskFilter);
                }
                if (projectdetails.length > 0) {
                    var ProjectFilter = { logic: "or", filters: [] };

                    $.each(projectdetails, function (i, v) {
                        ProjectFilter.filters.push({
                            field: "ProjectName", operator: "eq", value: v
                        });
                    });

                    finalSelectedfilter.filters.push(ProjectFilter);
                }

                if (perioddetails.length > 0) {
                    var PeriodFilter = { logic: "or", filters: [] };

                    $.each(perioddetails, function (i, v) {
                        PeriodFilter.filters.push({
                            field: "Period", operator: "contains", value: v
                        });
                    });

                    finalSelectedfilter.filters.push(PeriodFilter);
                }

                if (statusdetails.length > 0) {
                    var statusFilter = { logic: "or", filters: [] };

                    $.each(statusdetails, function (i, v) {
                        statusFilter.filters.push({
                            field: "ComplianceStatusID", operator: "eq", value: parseInt(v)
                        });
                    });

                    finalSelectedfilter.filters.push(statusFilter);
                }
                if (contTypedetails.length > 0) {
                    var TypeFilter = { logic: "or", filters: [] };

                    $.each(contTypedetails, function (i, v) {
                        TypeFilter.filters.push({
                            field: "IsSubcontract", operator: "eq", value: parseInt(v)
                        });
                    });

                    finalSelectedfilter.filters.push(TypeFilter);
                }
                if ($("#Startdatepicker").val() != null && $("#Startdatepicker").val() != "") {
                    var DateFilter = { logic: "or", filters: [] };
                    DateFilter.filters.push({
                        field: "ScheduleOn", operator: "gte", value: kendo.parseDate($("#Startdatepicker").val(), 'dd-MM-yyyy')
                    });

                    finalSelectedfilter.filters.push(DateFilter);
                }
                if ($("#Lastdatepicker").val() != null && $("#Lastdatepicker").val() != "") {
                    var DateFilter = { logic: "or", filters: [] };
                    DateFilter.filters.push({
                        field: "ScheduleOn", operator: "lte", value: kendo.parseDate($("#Lastdatepicker").val(), 'dd-MM-yyyy')
                    });

                    finalSelectedfilter.filters.push(DateFilter);
                }

                if (finalSelectedfilter.filters.length > 0) {
                    var dataSource = $("#gridComplianceStatusWise").data("kendoGrid").dataSource;
                    dataSource.filter(finalSelectedfilter);
                }
                else {
                    $("#gridComplianceStatusWise").data("kendoGrid").dataSource.filter({});
                }
            }
            else {
                $("#gridComplianceStatusWise").data("kendoGrid").dataSource.filter({});
            }
        }

        function fcloseStory(obj) {
            var DataId = $(obj).attr('data-Id');
            var dataKId = $(obj).attr('data-K-Id');
            var seq = $(obj).attr('data-seq');
            var deepspan = $('#' + DataId + ' > li > span > span.k-i-close')[seq];
            $(deepspan).trigger('click');
            var upperli = $('#' + dataKId);
            $(upperli).remove();

            fCreateStoryBoard('drpStateComplianceWise', 'filtersState', 'State');
            fCreateStoryBoard('drpProjectComplianceWise', 'filtersProject', 'project');
            fCreateStoryBoard('drpPeriodComplianceWise', 'filtersPeriod', 'period');
            fCreateStoryBoard('drpStatusComplianceWise', 'filtersStatus', 'status');
            fCreateStoryBoard('drpRiskComplianceWise', 'filtersRisk', 'Risk');
            fCreateStoryBoard('drpLocationComplianceWise', 'filtersLocation', 'location');
            fCreateStoryBoard('drpContractorType', 'filterstype', 'type');
            fCreateStoryBoard('drpContractorTypeName', 'filtersContractorTypeName', 'ContractorTypeName');
        }

        function fCreateStoryBoard(Id, div, filtername) {

            var IdKReset = $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).attr('id');
            $('#' + div).html('');
            $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).css('height', '0px');
            $('#' + div).css('display', 'block');

            if (div == 'filtersState') {
                $('#' + div).append('State&nbsp;&nbsp;:');
            }
            else if (div == 'filtersLocation') {
                $('#' + div).append('Location&nbsp;&nbsp;&nbsp;:');//Dashboard
            }
            else if (div == 'filtersProject') {
                $('#' + div).append('Project&nbsp;&nbsp;:');
            }
            else if (div == 'filtersPeriod') {
                $('#' + div).append('Period&nbsp;&nbsp;&nbsp;:');//Dashboard
            }
            else if (div == 'filtersStatus') {
                $('#' + div).append('Status&nbsp;&nbsp;&nbsp;:');//Dashboard
            }
            else if (div == 'filtersRisk') {
                $('#' + div).append('Risk&nbsp;&nbsp;&nbsp;:');//Dashboard
            }
            else if (div == 'filterstype') {
                $('#' + div).append('Contractor Type&nbsp;&nbsp;&nbsp;:');//Dashboard
            }
            else if (div == 'filtersContractorTypeName') {
                $('#' + div).append('Contractor Type Name&nbsp;&nbsp;&nbsp;:');//Dashboard
            }


            for (var i = 0; i < $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).find('.k-button').length; i++) {
                var button = $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).find('.k-button')[i];
                $(button).css('display', 'none');
                $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).attr('placeholder', 'Shree');
                var buttontest = $($(button).find('span')[0]).text();
                $('#' + div).append('<li class="k-button " unselectable="on" Id="ddl' + filtername + [i] + '" role="option" style="background-color:#EBEBEB;height: 20px;Color:Gray;margin-left:5px;margin-bottom: 4px;"><span unselectable="on" title="' + $($(button).find('span')[0]).text() + '">' + buttontest + '</span><span data-K-Id="ddl' + filtername + [i] + '" data-Id="' + IdKReset + '" data-seq="' + i + '" onclick="fcloseStory(this)" title="Clear" aria-label="Clear" class="k-select" style="padding-left: 6px;"><span data-Id="' + IdKReset + '" data-seq="' + i + '"  onclick="fcloseStory(this)"  class="k-icon k-i-close" title="Clear" aria-label="Clear" style="font-size: 12px;"></span></span></li>');
            }

            if ($($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).find('.k-button').length == 0) {
                $('#' + div).css('display', 'none');
                $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).css('height', '0px');

            }
        }

        function ClearAllFilterMain() {
            $("#drpStateComplianceWise").data("kendoDropDownTree").value([]);
            $("#drpProjectComplianceWise").data("kendoDropDownTree").value([]);
            $("#drpPeriodComplianceWise").data("kendoDropDownTree").value([]);
            $("#drpStatusComplianceWise").data("kendoDropDownTree").value([]);
            $("#drpRiskComplianceWise").data("kendoDropDownTree").value([]);
            $("#drpLocationComplianceWise").data("kendoDropDownTree").value([]);
            $("#drpContractorType").data("kendoDropDownTree").value([]);
            $("#drpContractorTypeName").data("kendoDropDownTree").value([]);
            $('#Startdatepicker').val('');
            $('#Lastdatepicker').val('');
            $("#gridComplianceStatusWise").data("kendoGrid").dataSource.filter({});
            $('#gridComplianceStatusWise').data('kendoGrid').dataSource.read();
            $('#gridComplianceStatusWise').data('kendoGrid').refresh();
        }

        function BindgriRevDoc(ContractProjMappingId, ScheduleOnId, ComplianceId) {
            var UID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID;
            var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;;
            var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';
            var Role = '@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role';
            var grid = $('#griRevDoc').data("kendoGrid");
            if (grid != undefined || grid != null)
                $('#griRevDoc').empty();

            var grid = $("#griRevDoc").kendoGrid({
                dataSource: {
                    transport: {
                        read: apiUrl + '/VendorAudit/ComplianceDocumentforreview?CustID=' + CID + '&ProjectContractMappingID=' + ContractProjMappingId + '&scheduleonID=' + ScheduleOnId + '&ComplianceID=' + ComplianceId,
                    }, pageSize: 2,
                },
                excel: {
                    allPages: true,
                },
                reorderable: true,
                resizable: true,
                pageable: true,
                selectable: true,
                columns: [
                    {
                        field: "FileName", title: 'Documents',
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }, width: "80%"
                    },
                    {
                        command: [
                           // { name: "view", text: "", iconClass: "k-icon k-i-eye", className: "ob-viewDoc" },
                            { name: "download", text: "", iconClass: "k-icon k-i-download", className: "ob-downloadDoc" },
                        ], title: "Action", lock: true, width: "20%", headerAttributes: { style: "text-align: center;" }
                    }
                ]
            });

            $("#griRevDoc").kendoTooltip({
                filter: "td:nth-child(1)", //this filter selects the second column's cells
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    return content;
                }
            }).data("kendoTooltip");

            $("#griRevDoc").kendoTooltip({
                filter: ".k-grid-download",
                content: function (e) {
                    return "download";
                }
            });

            $("#griRevDoc").kendoTooltip({
                filter: ".k-grid-delete",
                content: function (e) {
                    return "Delete";
                }
            });

            $(document).on("click", "#griRevDoc tbody tr .ob-viewDoc", function (e) {
                $('#DocumentViewer').modal('show');
                $('.modal-dialog').css('width', '98%');
                var item = $("#griRevDoc").data("kendoGrid").dataItem($(this).closest("tr"));
                $('#IFrameDocumentViewer').attr('src', apiUrl + '/Download-View/DownloadMyDocuments.aspx?CustomerID=' + CID + '&FileID=' + item.ID);
                e.preventDefault();
            });
            $(document).on("click", "#griRevDoc tbody tr .ob-downloadDoc", function (e) {
                var item = $("#griRevDoc").data("kendoGrid").dataItem($(this).closest("tr"));
                $('#downloadfile').attr('src', apiUrl + '/Download-View/DownloadMyDocuments.aspx?ContractProjectMappingId=' + item.ContractProjectMappingId + '&ScheduleOnId=' + item.ScheduleOnId + '&ComplianceId=' + item.ComplianceId + '&CustID=' + CID + '&FileID=' + item.ID);
                e.preventDefault();
                return false;
            });
        }

        function BindgrdAuditLog(ContractProjMappingStepMappingID, ContractProjMappingId, ScheduleOnId, ComplianceId) {
            var UID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID;
            var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;;
            var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';
            var Role = '@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role';
            var grid = $('#gridAuditLog').data("kendoGrid");
            if (grid != undefined || grid != null)
                $('#gridAuditLog').empty();


            var grid = $("#gridAuditLog").kendoGrid({
                dataSource: {
                    transport: {
                        read: apiUrl + '/VendorAudit/ComplianceAuditLog?CustID=' + CID + '&ProjectContractMappingID=' + ContractProjMappingId + '&scheduleonID=' + ScheduleOnId + '&ComplianceID=' + ComplianceId + '&ContractProjMappingStepMappingID=' + ContractProjMappingStepMappingID,
                    }, pageSize: 3,
                },
                excel: {
                    allPages: true,
                },
                reorderable: true,
                resizable: true,
                pageable: true,
                selectable: true,
                columns: [
                    {
                        field: "Remarks", title: 'Remarks',
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }, width: "60%"
                    },
                    {
                        field: "CreatedByText", title: 'Created By',
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }, width: "20%"
                    },
                    {
                        field: "Dated", title: 'Date',
                        width: "20%",
                        type: "date",
                        format: "{0:dd-MM-yyyy hh:mm}",
                        filterable: {
                            multi: true,
                            search: true,
                            extra: false,
                            operators: {
                                string: {
                                    type: "date",
                                    format: "{0:dd-MM-yyyy}",
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    }
                ]
            });

            $("#gridAuditLog").kendoTooltip({
                filter: "td:nth-child(1)", //this filter selects the second column's cells
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    return content;
                }
            }).data("kendoTooltip");
        }

    </script>

</head>
<body>
    <div class="row Dashboard-white-widget">
        <div style="margin-left:6px;margin-top: -13px;">
            <h1 style="height: 24px;background-color: #f8f8f8;margin-top: 0px;color: #666;margin-bottom: 5px;font-size: 19px;padding-left: 5px;padding-top: 10px;font-weight: bold;width: 98.5%;">Compliance List</h1>
        </div>
        <div class="margin-6">
            <input id="drpProjectComplianceWise" style="width: 15%; margin-right: 0.5%;" />
            <input id="drpPeriodComplianceWise" style="width: 18%; margin-right: 0.5%;" />
            <input id="drpLocationComplianceWise" data-placeholder="Location" style="width: 23%; margin-right: 0.5%;" />
            <input id="drpRiskComplianceWise" style="width: 15%;margin-right: 0.5%;" />
            <input id="Startdatepicker" placeholder="Start Date" cssclass="clsROWgrid" style="width: 12%; margin-right: 0.8%;" />
            <input id="Lastdatepicker" placeholder="End Date" style="width: 12%;" />
        </div>
        <div class="margin-6">
            <input id="drpStateComplianceWise" data-placeholder="State" style="width: 15%; margin-right: 0.5%;" />
            <input id="drpStatusComplianceWise" style="width: 18%;margin-right: 0.5%;" />
            <input id="drpContractorType" style="width: 23%;margin-right: 0.5%;" />
            <input id="drpContractorTypeName" style="width: 15%;margin-right: 0.5%;" />
            <button id="ClearfilterMain" class="k-button" style="float:right;margin-right: 0.5%;" OnClick="ClearAllFilterMain(event)"><span class="k-icon k-i-filter-clear" onclick="javascript:return false;"></span>Clear</button>
        </div>
        <div class="margin-6" style="font-size: 12px; display: none; font-weight: bold;color: #666" id="filtersContractorTypeName">&nbsp;</div>
        <div class="margin-6" style="font-size: 12px; display: none; font-weight: bold;color: #666" id="filtersRisk">&nbsp;</div>
        <div class="margin-6" style="font-size: 12px; display: none; font-weight: bold;color: #666" id="filtersState">&nbsp;</div>
        <div class="margin-6" style="font-size: 12px; display: none; font-weight: bold;color: #666" id="filtersLocation">&nbsp;</div>
        <div class="margin-6" style="font-size: 12px; display: none; font-weight: bold;color: #666" id="filtersProject">&nbsp;</div>
        <div class="margin-6" style="font-size: 12px; display: none; font-weight: bold;color: #666" id="filtersPeriod">&nbsp;</div>
        <div class="margin-6" style="font-size: 12px; display: none; font-weight: bold;color: #666" id="filtersStatus">&nbsp;</div>
        <div class="margin-6" style="font-size: 12px; display: none; font-weight: bold;color: #666" id="filterstype">&nbsp;</div>
        <div class="margin-6">
            <div id="gridComplianceStatusWise" style="width:99.3%;"></div>
        </div>
    </div>
    <div id="ComplianceEditPopup" style="display:none;">
        <div class="col-md-11">
            <div class="col-md-12">
                <label id="lblPeriod" style="font-size: 20px;margin-left: 39%;color: black;font-weight: 500;text-decoration: underline;float: left;width: 40%;margin-bottom: 19px;"></label>
            </div>
            <div class="col-md-12" id="divAct" style="margin-bottom:1%">
                <label class="MainWrapper">Act</label>
                <textarea id="txtAct" class="k-textbox" placeholder="&nbsp;&nbsp;Act" disabled="disabled" style="width: 75%;background-color: #E9EAEA;"></textarea>
            </div>
            <div class="col-md-12" style="margin-bottom:1%">
                <label class="MainWrapper">Compliance</label>
                <textarea id="txtcomplianceheader" class="k-textbox" placeholder="&nbsp;&nbsp;Compliance" disabled="disabled" style="width: 75%;background-color: #E9EAEA;"></textarea>
            </div>
            <div class="col-md-12" style="margin-bottom:1%">
                <label class="MainWrapper">Compliance Description</label>
                <textarea id="txtcomplianceDescription" class="k-textbox" placeholder="&nbsp;&nbsp;Compliance Description" disabled="disabled" style="width: 75%;background-color: #E9EAEA;"></textarea>
            </div>
            <div class="ComplianceDetails"></div>

            <div id="divreldoc" class="col-md-12" style="margin-bottom: 15%;">
                <label class="MainWrapper">Uploaded Documents</label>
                <div id="griRevDoc" style="border: 0.1px solid gainsboro;margin-bottom: 1%;width: 74.7%;float: left;"></div>
            </div>

            <div class="col-md-12" style="margin-bottom:1%">
                <label class="MainWrapper">Compliance Status<span style="color: red;">*</span></label>
                <input id="drpComplianceStatus" style="width: 25%;" />
            </div>
            <div id="divReviewStatus" class="col-md-12" style="margin-bottom:1%">
                <label class="MainWrapper">Reviewer Status<span style="color: red;">*</span></label>
                <input id="drpReviewStatus" style="width: 25%;" />
            </div>
            <div class="col-md-12" style="margin-bottom:1%">
                <label class="MainWrapper">Remarks<span style="color: red;">*</span></label>
                <textarea id="txtRemarks" class="k-textbox" placeholder="&nbsp;&nbsp;Remarks" style="width: 75%;height: 70px;"></textarea>
            </div>
            <div class="col-md-12" style="margin-bottom:10px;">
                <label class="MainWrapper">Audit Log</label>
                <div id="gridAuditLog" style="border: 0.1px solid gainsboro;margin-bottom: 1%;width: 74.7%;float: left;"></div>
            </div>

            <div class="modal fade" id="DocumentViewer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
                <div class="modal-dialog" style="width: 70%;">
                    <div class="modal-content">
                        <div class="modal-header" style="border: none;">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body" style="height: 570px;">
                            <div style="width: 100%;">
                                <div class="col-md-12 colpadding0">
                                    <asp:Label runat="server" ID="lblMessage" Style="color: red;"></asp:Label>
                                    <fieldset style="height: 550px; width: 100%;">
                                        <iframe src="about:blank" id="IFrameDocumentViewer" width="100%" height="100%" frameborder="0"></iframe>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <iframe id="downloadfile" src="about:blank" width="0" height="0"></iframe>

</body>
</html>
