﻿
@{
    ViewBag.Title = "ContractorType";
    Layout = "~/Areas/VendorAuditManagement/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <style type="text/css">
        .k-list > .k-state-focused.k-state-selected, .k-listview > .k-state-focused.k-state-selected, .k-state-focused.k-state-selected, td.k-state-focused.k-state-selected {
            -webkit-box-shadow: inset 0 0 3px 1px #14699f;
            box-shadow: inset 0 0 1px 1px #14699f;
        }

        .k-grid-header th.k-state-focused, .k-list > .k-state-focused, .k-listview > .k-state-focused, .k-state-focused, td.k-state-focused {
            -webkit-box-shadow: inset 0 0 3px 1px #d7dae0;
            box-shadow: inset 0 0 1px 1px white;
        }

        .div.k-grid-footer, div.k-grid-header {
            border-top-width: 1px;
            margin-right: 0px;
        }

        .k-grid-footer-wrap, .k-grid-header-wrap {
            position: relative;
            width: 100%;
            overflow: hidden;
            border-style: solid;
            border-width: 0 1px 0 0;
            zoom: 1;
        }

        .k-grid-content {
            min-height: 380px !important;
            overflow: hidden;
        }

        html {
            color: #666666;
            font-size: 15px;
            font-weight: normal;
            font-family: 'Roboto',sans-serif;
        }

        .k-checkbox-label, .k-radio-label {
            display: inline;
        }

        .myKendoCustomClass {
            z-index: 999 !important;
        }

        .k-header .k-grid-toolbar {
            background: white;
            float: left;
            width: 100%;
        }

        .k-grid td {
            line-height: 2.0em;
            border-bottom-width: 1px;
            background-color: white;
            border-width: 0 1px 1px 0px;
        }

        .k-i-more-vertical:before {
            content: "\e006";
        }

        .k-grid td.k-state-selected:hover, .k-grid tr.k-state-selected:hover {
            background-color: #1fd9e1;
            background-image: none;
            background-color: white;
        }

        k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list > .k-state-highlight, .k-list > .k-state-selected, .k-marquee-color, .k-panel > .k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-tool.k-state-selected {
            color: #000000;
            border-color: #1fd9e1;
            background-color: white;
        }

        .k-pager-wrap > .k-link > .k-icon {
            margin-top: -2px;
            color: inherit;
        }

        html .k-grid tr:hover {
            background: white;
        }

        html .k-grid tr.k-alt:hover {
            background: white;
        }

        .k-grid tbody .k-button {
            min-width: 30px;
            min-height: 30px;
            background: white;
            border: none;
        }

        .k-button-icontext .k-icon, .k-button-icontext .k-image, .k-button-icontext .k-sprite {
            margin-right: 0px;
            margin-right: 0px;
            margin-left: 0px;
            margin-left: 0px;
        }

        .k-auto-scrollable {
            overflow: hidden;
        }

        .k-grid-header {
            padding-right: 0px !important;
            margin-right: 2px;
        }

        .k-filter-menu .k-button {
            width: 27%;
        }

        .k-label input[type="checkbox"] {
            margin: 0px 5px 0 !important;
        }

        input[type=checkbox], input[type=radio] {
            margin: 4px 4px 0;
            line-height: normal;
        }

        .k-filter-row th, .k-grid-header th.k-header {
            font-size: 15px;
            background: #f8f8f8;
            font-family: 'Roboto',sans-serif;
            color: #2b2b2b;
            font-weight: 400;
        }

        .k-primary {
            border-color: #1fd9e1;
            background-color: #1fd9e1;
        }

        .k-pager-wrap {
            background-color: white;
            color: #2b2b2b;
        }

        td.k-command-cell {
            border-width: 0 0px 1px 0px;
            text-align: center;
        }

        .k-grid-pager {
            margin-top: -1px;
        }

        span.k-icon.k-i-calendar {
            margin-top: 6px;
        }

        .col-md-2 {
            width: 20%;
        }

        .k-filter-row th, .k-grid-header th.k-header {
            border-width: 0px 0px 1px 0px;
            background: #E9EAEA;
            font-weight: bold;
            margin-right: 18px;
            font-family: 'Roboto',sans-serif;
            font-size: 15px;
            color: rgba(0, 0, 0, 0.5);
            height: 20px;
            vertical-align: middle;
        }

        .k-dropdown-wrap.k-state-default {
            background-color: white;
        }

        .k-popup.k-calendar-container, .k-popup.k-list-container {
            background-color: white;
        }

        label.k-label {
            font-family: roboto,sans-serif !important;
            color: #515967;
            /* font-stretch: 100%; */
            font-style: normal;
            font-weight: 400;
            min-width: 362px;
            white-space: pre-wrap;
        }

        .k-multicheck-wrap .k-item {
            line-height: 1.2em;
            font-size: 14px;
            margin-bottom: 5px;
        }

        label {
            display: flex;
            margin-bottom: 0px;
        }

        .k-state-default > .k-select {
            border-color: #ceced2;
            margin-top: -4px;
        }

        .k-grid-norecords {
            width: 100%;
            height: 100%;
            text-align: center;
            margin-top: 2%;
        }

        .k-grouping-header {
            font-style: italic;
            background-color: white;
        }

        .k-grid table {
            width: 100.5%;
        }

        .k-active-filter, .k-state-active, .k-state-active:hover {
            background-color: #E9EAEA;
            border-color: #a6a6ad;
            color: #535b6a;
        }

        .k-treeview .k-i-collapse, .k-treeview .k-i-expand, .k-treeview .k-i-minus, .k-treeview .k-i-plus {
            margin-left: -18px;
            cursor: pointer;
        }

        .k-button.k-button-icon .k-icon, .k-grid-filter .k-icon, .k-header .k-icon {
            text-indent: -99999px;
            overflow: hidden;
        }

        .k-header > .k-grid-filter, .k-header > .k-header-column-menu {
            float: right;
            margin: -.5em 0.4em -0.4em 0px;
            padding: .5em .2em .4em;
            position: relative;
            z-index: 1;
            color: inherit;
        }

        .k-multiselect-wrap .k-input {
            /*padding-top:6px;*/
            display: inherit !important;
        }

        .k-filter-menu .k-button {
            width: 27%;
            background-color: #E9EAEA;
            color: black;
            border: 2px solid rgba(0, 0, 0, 0.5);
        }

        .MainWrapper {
            width: 18.2%;
            display: block;
            float: left;
            color: #212121;
            margin-left: 2.2%;
            margin-top: 4px;
            font-weight: 400;
        }

        .margin-6 {
            margin: 6px 6px 6px 6px;
        }
    </style>

    <script type="text/javascript">

        var UID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID;
        var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;
        var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';

        $(function () {
            fhead('Masters / Contractor Types');
            BindGrid();

            $("#btnNew").on("click", function (e) {
                $("#txtTypeID").val("0");
                $("#txtTypeName").val("");
                OpenAddContTractorTypePopup();
            });

            $("#btnSave").on("click", function (e) {

                var ob = 1;
                if ($("#txtTypeName").val() == "" || $("#txtTypeName").val() == undefined || $("#txtTypeName").val().replace(/\s/g, '').length < 1) {
                    alert("Please enter Type.");
                    ob = 0;
                }
                if (ob == 1) {
                    if ($("#txtTypeName").val() != "" && $("#txtTypeName").val() != undefined) {
                        $.ajax({
                            type: "GET",
                            url: apiUrl + '/VendorUpdate/UpdateContractTypeMaster',
                            data: {
                                UserId: UID, CustomerID: CID,
                                CTId: $("#txtTypeID").val(),
                                CTName: $("#txtTypeName").val()
                            },
                            success: function (response) {
                                if (response == "Success") {
                                    alert("Record Saved Successfully");
                                    $("#txtTypeID").val("0");
                                    $("#txtTypeName").val("");
                                    BindGrid();
                                }
                                else if (response == "Exist") {
                                    alert("Type Name already exist.");
                                }
                                else {
                                    alert("Error");
                                }
                            }
                        });
                    }
                }
            });
        });

        function BindGrid() {
            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: apiUrl + '/VendorAudit/ContractTypeMaster?CID=' + CID
                },
                pageSize: 10
            });

            var gridexist = $('#grid').data("kendoGrid");
            if (gridexist != undefined || gridexist != null)
                $('#grid').empty();

            $("#grid").kendoGrid({
                dataSource: dataSource,
                sortable: true,
                //groupable: true,
                filterable: true,
                columnMenu: true,
                noRecords: true,
                messages: {
                    noRecords: "No records found"
                },
                reorderable: true,
                resizable: true,
                multi: true,
                selectable: true,
                pageable: {
                    numeric: true,
                    pageSizes: ['All', 5, 10, 20],
                    pageSize: 10,
                    buttonCount: 3,
                },
                columns: [
                    {
                        field: "ID",
                        filterable: false,
                        hidden: true
                    },
                    {
                        field: "Name",
                        title: "Contractor Type",
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        },
                        sortable: true
                    },
                    {
                        command: [
                            { name: "edit2", text: "", iconClass: "k-icon k-i-edit", className: "ob-Edit" },
                            { name: "edit2", text: "", iconClass: "k-icon k-i-delete", className: "ob-Delete" }
                        ], title: "Action", lock: true, width: 120, headerAttributes: {
                            style: "text-align: center;"
                        }

                    }
                ]
            });

            $("#grid").kendoTooltip({
                filter: "td",
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    if (content != "") {
                        return '<div style="width: ' + content.length * .6 + 'em; max-width: 20em;white-space: pre-wrap;">' + content + '</div>';
                    }
                    else
                        e.preventDefault();
                }
            }).data("kendoTooltip");

            $("#grid").kendoTooltip({
                filter: "th",
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    if (content != "") {
                        return '<div style="width: ' + content.length * .6 + 'em; max-width: 20em;white-space: pre-wrap;">' + content + '</div>';
                    }
                    else
                        e.preventDefault();
                }
            }).data("kendoTooltip");

            $("#grid").kendoTooltip({
                filter: ".ob-Delete",
                content: function (e) {
                    return "Delete";
                }
            });

            $("#grid").kendoTooltip({
                filter: ".ob-Edit",
                content: function (e) {
                    return "Edit";
                }
            });
        }

        $(document).on("click", "#grid tbody tr .ob-Delete", function (e)
          {
              var item = $("#grid").data("kendoGrid").dataItem($(this).closest("tr"));

              $.ajax({
                  type: "GET",
                  url: apiUrl + '/VendorUpdate/DeleteContractTypeMaster',
                  data: {
                      UserId: UID, CustomerID: CID,
                      CTId: item.ID
                  },
                  success: function (response) {
                      if (response == "Success") {
                          alert("Record Deleted Successfully.");
                          BindGrid();
                      }
                      else if (response == "Used") {
                          alert("Contractor type already in used.");
                      }
                      else {
                          alert("Error");
                      }
                  }
              });

              return true;
          });

        $(document).on("click", "#grid tbody tr .ob-Edit", function (e) {
            var item = $("#grid").data("kendoGrid").dataItem($(this).closest("tr"));
            $("#txtTypeID").val(item.ID);
            $("#txtTypeName").val(item.Name);
            OpenAddContTractorTypePopup();
            return true;
        });

        function OpenAddContTractorTypePopup() {
            $("#NewContractorModal").kendoWindow({
                modal: true,
                pinned: true,
                width: "40%",
                height: "15%",
                title: "Contrator Type Master",
                visible: false,
                draggable: false,
                refresh: true,
                actions: [
                    "Close"
                ], close: BindGrid

            }).data("kendoWindow").open().center();
        }

    </script>

</head>
<body>
    <div>
        <div class="row Dashboard-white-widget">
            <div class="margin-6" style="height:30px;">
                <button id="btnNew" type="button" style="height: 30px; float: right" class="k-button"><span><i class="fa fa-plus"></i></span>Add</button>
            </div>

            <div class="margin-6">
                <div id="grid"></div>
            </div>
        </div>

        <div id="NewContractorModal" style="display:none">
            <div class="col-md-11" style="margin-bottom:10px;">
                <label class="MainWrapper" style="width:40%">Contractor Type<span style="color: red;">*</span></label>
                <input id="txtTypeName" required="required" placeholder="Contractor Type" class="k-textbox" style="width: 40%;" />
                <input type="text" id="txtTypeID" class="form-control" style="display:none;" />
            </div>
            <div class="row" style="text-align: center;">
                <button id="btnSave" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>

    </div>
</body>
</html>

