﻿@model com.VirtuosoITech.ComplianceManagement.Portal.Areas.VendorAuditManagement.Model.VendorEntity
@{
    ViewBag.Title = "Entity Branch Master";
    Layout = "~/Areas/VendorAuditManagement/Views/Shared/Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
   
    <style type="text/css">
        .k-list > .k-state-focused.k-state-selected, .k-listview > .k-state-focused.k-state-selected, .k-state-focused.k-state-selected, td.k-state-focused.k-state-selected {
            -webkit-box-shadow: inset 0 0 3px 1px #14699f;
            box-shadow: inset 0 0 1px 1px #14699f;
        }

        .k-grid-header th.k-state-focused, .k-list > .k-state-focused, .k-listview > .k-state-focused, .k-state-focused, td.k-state-focused {
            -webkit-box-shadow: inset 0 0 3px 1px #d7dae0;
            box-shadow: inset 0 0 1px 1px white;
        }

        .div.k-grid-footer, div.k-grid-header {
            border-top-width: 1px;
            margin-right: 0px;
        }

        a.classname {
            background: url(../Images/image.gif) no-repeat top left;
            display: block;
            width: 150px;
            height: 150px;
            text-indent: -9999px; /* hides the link text */
        }

        .k-grid-footer-wrap, .k-grid-header-wrap {
            position: relative;
            width: 100%;
            overflow: hidden;
            border-style: solid;
            border-width: 0 1px 0 0;
            zoom: 1;
        }

        .k-grid-content {
            min-height: 380px !important;
            overflow: hidden;
        }

        html {
            color: #666666;
            font-size: 15px;
            font-weight: normal;
            font-family: 'Roboto',sans-serif;
        }

        .k-checkbox-label, .k-radio-label {
            display: inline;
        }

        .myKendoCustomClass {
            z-index: 999 !important;
        }

        .k-header .k-grid-toolbar {
            background: white;
            float: left;
            width: 100%;
        }

        .k-grid td {
            line-height: 2.0em;
            border-bottom-width: 1px;
            background-color: white;
            border-width: 0 1px 1px 0px;
        }

        .k-i-more-vertical:before {
            content: "\e006";
        }

        .k-grid td.k-state-selected:hover, .k-grid tr.k-state-selected:hover {
            background-color: #1fd9e1;
            background-image: none;
            background-color: white;
        }

        k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list > .k-state-highlight, .k-list > .k-state-selected, .k-marquee-color, .k-panel > .k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-tool.k-state-selected {
            color: #000000;
            border-color: #1fd9e1;
            background-color: white;
        }

        .k-pager-wrap > .k-link > .k-icon {
            margin-top: -2px;
            color: inherit;
        }

        html .k-grid tr:hover {
            background: white;
        }

        html .k-grid tr.k-alt:hover {
            background: white;
        }

        .k-grid tbody .k-button {
            min-width: 30px;
            min-height: 30px;
            background: white;
            border: none;
        }

        .k-button-icontext .k-icon, .k-button-icontext .k-image, .k-button-icontext .k-sprite {
            margin-right: 0px;
            margin-right: 0px;
            margin-left: 0px;
            margin-left: 0px;
        }

        .k-auto-scrollable {
            overflow: hidden;
        }

        .k-grid-header {
            padding-right: 0px !important;
            margin-right: 2px;
        }

        .k-filter-menu .k-button {
            width: 27%;
        }

        .k-label input[type="checkbox"] {
            margin: 0px 5px 0 !important;
        }

        input[type=checkbox], input[type=radio] {
            margin: 4px 4px 0;
            line-height: normal;
        }

        .k-filter-row th, .k-grid-header th.k-header {
            font-size: 15px;
            background: #f8f8f8;
            font-family: 'Roboto',sans-serif;
            color: #2b2b2b;
            font-weight: 400;
        }

        .k-primary {
            border-color: #1fd9e1;
            background-color: #1fd9e1;
        }

        .k-pager-wrap {
            background-color: white;
            color: #2b2b2b;
        }

        td.k-command-cell {
            border-width: 0 0px 1px 0px;
            text-align: center;
        }

        .k-grid-pager {
            margin-top: -1px;
        }

        span.k-icon.k-i-calendar {
            margin-top: 6px;
        }

        .col-md-2 {
            width: 20%;
        }

        .k-filter-row th, .k-grid-header th.k-header {
            border-width: 0px 0px 1px 0px;
            background: #E9EAEA;
            font-weight: bold;
            margin-right: 18px;
            font-family: 'Roboto',sans-serif;
            font-size: 15px;
            color: rgba(0, 0, 0, 0.5);
            height: 20px;
            vertical-align: middle;
        }

        .k-dropdown-wrap.k-state-default {
            background-color: white;
        }

        .k-popup.k-calendar-container, .k-popup.k-list-container {
            background-color: white;
        }

        label.k-label {
            font-family: roboto,sans-serif !important;
            color: #515967;
            /* font-stretch: 100%; */
            font-style: normal;
            font-weight: 400;
            min-width: 362px;
            white-space: pre-wrap;
        }

        .k-multicheck-wrap .k-item {
            line-height: 1.2em;
            font-size: 14px;
            margin-bottom: 5px;
        }

        label {
            display: flex;
            margin-bottom: 0px;
        }

        .k-state-default > .k-select {
            border-color: #ceced2;
            margin-top: -4px;
        }

        .k-grid-norecords {
            width: 100%;
            height: 100%;
            text-align: center;
            margin-top: 2%;
        }

        .k-grouping-header {
            font-style: italic;
            background-color: white;
        }

        .k-grid table {
            width: 100.5%;
        }

        .k-active-filter, .k-state-active, .k-state-active:hover {
            background-color: #E9EAEA;
            border-color: #a6a6ad;
            color: #535b6a;
        }

        .k-treeview .k-i-collapse, .k-treeview .k-i-expand, .k-treeview .k-i-minus, .k-treeview .k-i-plus {
            margin-left: -18px;
            cursor: pointer;
        }

        .k-button.k-button-icon .k-icon, .k-grid-filter .k-icon, .k-header .k-icon {
            text-indent: -99999px;
            overflow: hidden;
        }

        .k-header > .k-grid-filter, .k-header > .k-header-column-menu {
            float: right;
            margin: -.5em 0.4em -0.4em 0px;
            padding: .5em .2em .4em;
            position: relative;
            z-index: 1;
            color: inherit;
        }

        .k-multiselect-wrap .k-input {
            /*padding-top:6px;*/
            display: inherit !important;
        }

        .k-filter-menu .k-button {
            width: 27%;
            background-color: #E9EAEA;
            color: black;
            border: 2px solid rgba(0, 0, 0, 0.5);
        }

        .LinkDecorator {
            color:black;
            font-family:Tahoma;
            font-size:12pt;
            text-decoration: underline
        }

    </style>
    <script type="text/javascript">

        $(document).ready(function () {

            $("#ParentGrid").kendoTooltip({
                filter: ".ob-Edit",
                content: "Edit"
            });

            $("#ParentGrid").kendoTooltip({
                filter: ".k-grid-proceed",
                content: "View Branches"
            });

            $("#ParentGrid").kendoTooltip({
                filter: ".ob-Delete",
                content: "Delete"
            });
            $("#ParentGrid").kendoTooltip({
                filter: ".k-grid-play",
                content: "Activate"
            });

            $("#ParentGrid").kendoTooltip({
                filter: "td",
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    if (content != "") {
                        return '<div style="width: ' + content.length * .6 + 'em; max-width: 20em;white-space: pre-wrap;">' + content + '</div>';
                    }
                    else
                        e.preventDefault();
                }
            }).data("kendoTooltip");

            $("#ParentGrid").kendoTooltip({
                filter: "th",
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    if (content != "") {
                        return '<div style="width: ' + content.length * .6 + 'em; max-width: 20em;white-space: pre-wrap;">' + content + '</div>';
                    }
                    else
                        e.preventDefault();
                }
            }).data("kendoTooltip");

            fhead('Masters / Entity Branch');
            BindGrid();
            BindState();
            BindLocation(-1);
            BindEntityType();
            BindIndustryType();
            BindStatus();
            BindResponseApp();
            BindType();
            BindLegalRelationShip();
            BindLegalEntityType();
            BindBreadScrum();

            $("#btnNew").on("click", function (e) {
                var CustomerName = "";
                $("#CustText").text(CustomerName);
                ClearModalData();
                $("#hiddCustomerBranchId").val(0);
                $(".envd").hide();
                $("#EntityModal").modal("show");

            });

            $(".close").on("click", function (e) {
                $("#EntityModal").hide();
            });

            $("#btnConfirmdelete1").click(function (e) {
                var UID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID;
                var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;
                var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';
                $("#btnConfirmdelete1").hide();
                $.ajax({
                    type: "POST",
                    url: apiUrl + '/VendorUpdate/DeleteEntityDetails',
                    data: {
                        CustomerID: CID,
                        ID: $("#hiddDeleteCustomerId").val(),
                        IsDeleted : $("#hiddFlag").val(),
                        CreatedBy: UID

                    },
                    success: function (response) {

                        if (response == "Success") {
                           // var popupNotification = $("#popupNotification").kendoNotification().data("kendoNotification");
                            // popupNotification.show("Entity Details Updated Successfully.", "success");
                            if(activateFlag){
                                alert("Sub-Entity activated successfully.")
                            }
                            else{
                                alert("Sub-Entity deleted successfully.")
                            }
                            
                            $('.modal-backdrop').remove();
                            $("#EntityDeleteModal").modal("hide");
                            BindGrid();
                        }
                        else {
                            alert("Error");
                        }
                    }
                });
            });

            var editFlag = false;
            $("#btnSave").on("click", function (e) {

                if (SaveValidation()) {
                     var UID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID;
                    var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;
                    var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';
                    var ParentId = '@Model.ParentId';
                    var status = $("#dropStatus").val();
                    var IsDeleted = false;
                    if (status == 0 || status == 2) {
                        IsDeleted = true;
                    }
                    var InTy = $("#dropIndustryType").data("kendoDropDownTree");
                    var IndustryValue = "";
                    for (var i = 0; i < InTy._values.length; i++) {
                        IndustryValue += InTy._values[i] + ",";
                    }

                    $("#btnSave").prop('disabled', true);
                    $.ajax({
                        type: "GET",
                        url: apiUrl + '/VendorUpdate/SaveEntityDetails',
                        data: {
                            CustomerID: CID,
                            Name: $("#txtEntity").val(),
                            Type: $("#dropSubEntityType").val(),
                            ComType: $("#dropType").val(),
                            ID: $("#hiddCustomerBranchId").val(),
                            LegalEntityTypeID: $("#dropLegalEntType").val(),
                            Industry: 0,
                            Territory : IndustryValue,
                            CityID: $("#dropCity").val(),
                            AddressLine1: $("#txtAddress1").val(),
                            ContactPerson: $("#txtContactPerson").val(),
                            Landline: $("#txtLandLine").val(),
                            Status: $("#dropStatus").val(),
                            IsDeleted: IsDeleted,
                            LegalRelationShipID: $("#dropLegalRlnship").val(),
                            StateID: $("#dropdownState").val(),
                            PinCode: $("#txtPincode").val(),
                            AddressLine2: $("#txtAddress2").val(),
                            EmailID: $("#txtContactEmail").val(),
                            Mobile: $("#txtMobileNumber").val(),
                            AuditPR: $("#dropRespApplicable").val(),
                            CreatedBy: UID,
                            ParentID: ParentId
                        },
                        success: function (response) {

                            if (response == "Success") {

                                //var popupNotification = $("#popupNotification").kendoNotification().data("kendoNotification");
                                //popupNotification.show("Entity Details Saved Successfully", "success");
                                alert("Sub-Entity Details Saved Successfully");
                                $('.modal-backdrop').remove();
                                $("#EntityModal").modal("hide");
                                $("#btnSave").prop('disabled', false);
                                BindGrid();
                            }
                            else if (response == "Updated"){
                                alert("Sub-Entity Details Updated Successfully");
                                $('.modal-backdrop').remove();
                                $("#EntityModal").modal("hide");
                                $("#btnSave").prop('disabled', false);
                                BindGrid();
                            }
                            else if(response == "Exist") {
                                alert("Sub-Entity already exist");
                                //$("#btnSave").show();
                                $("#btnSave").prop('disabled', false);
                            }
                            else {
                                alert("Something went wrong.. Please try again later.")
                            }
                        }
                    });
                }
            });

            $(document).on("click", "#grid tbody tr .ob-Edit", function (e) {
                ClearModalData();
                var response = $("#grid").data("kendoGrid").dataItem($(this).closest("tr"));
                $("#hiddCustomerBranchId").val(response.ID);
                $("#txtEntity").val(response.Name);
                $("#dropSubEntityType").data("kendoDropDownList").value(response.Type);
                $("#dropType").data("kendoDropDownList").value(response.ComType);
                $("#dropLegalEntType").data("kendoDropDownList").value(response.LegalEntityTypeID);
                //$("#dropIndustryType").data("kendoDropDownList").value(response.Industry);
                //$("#dropIndustryType").data("kendoDropDownTree")._values = [2, 4];
                var IndustryArray = [];
                var splitIndustryData = response.Territory;
                if (splitIndustryData != null) {
                    splitIndustryData = splitIndustryData.toString();
                    IndustryArray = splitIndustryData.split(',');
                }
                $("#dropIndustryType").data("kendoDropDownTree").value(IndustryArray);

                var Indus = []
                Indus = $("#dropIndustryType").data("kendoDropDownTree")._values;

                Indus = Indus.filter(x => typeof x === "number");

                $("#dropIndustryType").data("kendoDropDownTree").value(Indus);

                $("#dropCity").data("kendoDropDownList").value(response.CityID);
                $("#txtAddress1").val(response.AddressLine1);
                $("#txtContactPerson").val(response.ContactPerson);
                $("#txtLandLine").val(response.Landline);
                $("#dropStatus").data("kendoDropDownList").value(response.Status);
                $("#dropLegalRlnship").data("kendoDropDownList").value(response.LegalRelationShipID);
                $("#dropdownState").data("kendoDropDownList").value(response.StateID);
                bindcitydata(response.StateID);
                $("#txtPincode").val(response.PinCode);
                $("#txtAddress2").val(response.AddressLine2);
                $("#txtContactEmail").val(response.EmailID);
                $("#txtMobileNumber").val(response.Mobile);
                var ddlRespApplicable = $("#dropRespApplicable").data("kendoDropDownList");
                if(response.AuditPR == true) {
                    ddlRespApplicable.value(true);
                }else{
                    ddlRespApplicable.value(false);
                }
                bindEntityDiv();
                $("#EntityModal").modal("show");
                editFlag = true;



            });

            var activateFlag = false;
            $(document).on("click", "#grid tbody tr .ob-Delete", function (e) {
                //$("#btnConfirmdelete1").show();
                var response = $("#grid").data("kendoGrid").dataItem($(this).closest("tr"));
                $("#hiddDeleteCustomerId").val(response.ID);
                $("#hiddFlag").val(true);
                $("#spnmdltxt").text("This will also Delete all the sub-entities associated with current entity. Are you certain you want to Delete this entity?")
                $("#EntityDeleteModal").modal("show");

            });

            $(document).on("click", "#grid tbody tr .k-grid-play", function (e) {
                //$("#btnConfirmdelete1").show();
                var response = $("#grid").data("kendoGrid").dataItem($(this).closest("tr"));
                $("#hiddDeleteCustomerId").val(response.ID);
                $("#hiddFlag").val(false);
                $("#spnmdltxt").text("This will also Activate all the sub-entities associated with current entity. Are you certain you want to Activate this entity?")
                $("#EntityDeleteModal").modal("show");
                activateFlag = true;
            });

            //$("#grid").kendoTooltip({
            //    filter: "td",
            //    position: "down",
            //    content: function (e) {
            //        var content = e.target.context.textContent;
            //        if (content != "") {
            //            return '<div style="width: ' + content.length * .6 + 'em; max-width: 20em;white-space: pre-wrap;">' + content + '</div>';
            //        }
            //        //else
            //        //    e.preventDefault();
            //    }
            //}).data("kendoTooltip");

            //$("#grid").kendoTooltip({
            //    filter: ".ob-Edit",
            //    content: function (e) {
            //        return "Edit";
            //    }
            //});

            //$("#grid").kendoTooltip({
            //    filter: ".ob-Delete",
            //    content: function (e) {
            //        return "Delete";
            //    }
            //});

            //$("#grid").kendoTooltip({
            //    filter: ".k-grid-Activate",
            //    content: function (e) {
            //        return "Activate";
            //    }
            //});

            //$("#grid").kendoTooltip({
            //    filter: ".k-grid-proceed",
            //    content: function (e) {
            //        return "View Branches";
            //    }
            //});

            $("#btnBackToPrevious").click(function () {
                var ParentId = @Model.ParentId;
                var PreviousId = @Model.PreviousId;
                var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;
                alert(ParentId);
                alert(PreviousId);
                if (PreviousId == 0)
                    window.location.href = "/VendorAuditManagement/VendorAudit/Entities";
                else
                    window.location.href = "/VendorAuditManagement/VendorAudit/EntityBranch?CustID=" + CID + "&ParentId=" + ParentId + "&CurrId=" + ParentId;

            });
        });

        function BindBreadScrum() {
            var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;
            var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';
            var ParentId = @Model.ParentId;





            //$("#breadcrumb").kendoBreadcrumb({
            //    items: [
            //        {
            //            type: "rootitem",
            //            href: "https://demos.telerik.com/kendo-ui/",
            //            text: "All Components",
            //            showText: true,
            //            icon: "home",
            //            showIcon: true
            //        },
            //        {
            //            type: "item",
            //            href: "/breadcrumb",
            //            text: "Breadcrumb",
            //            showText: true
            //        },
            //        {
            //            type: "item",
            //            href: "/index",
            //            text: "Basic Usage",
            //            showText: true
            //        }
            //    ]
            //});
        }

        function ClearModalData() {
            $("#btnSave").show();
            $(".txtlist").val("");
              $("#dropIndustryType").data("kendoDropDownTree").value([]);
            $("#dropStatus").data("kendoDropDownList").value("-1");
            $("#dropSubEntityType").data("kendoDropDownList").value("-1");
            $("#dropRespApplicable").data("kendoDropDownList").value("-1");
            $("#dropdownState").data("kendoDropDownList").value("-1");
            $("#dropType").data("kendoDropDownList").value("-1");
            $("#dropLegalRlnship").data("kendoDropDownList").value("-1");
            $("#dropLegalEntType").data("kendoDropDownList").value("-1");

            BindLocation(-1);
            $("#dropCity").data("kendoDropDownList").value("-1");

        }

        function OnCloseEntityPopup() {
            $(".mdtxt").val("");
        }


        function BindState()
        {
            var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';
            $("#dropdownState").kendoDropDownList({
                filter: "startswith",
                autoClose: false,
                autoWidth: true,
                dataTextField: "Name",
                dataValueField: "ID",
                optionLabel: "Select State",
                change: function (e) {
                    if($("#dropdownState").data("kendoDropDownList").value() == ""){
                        $("#dropCity").data("kendoDropDownList").value("-1");
                    }
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/StateMaster',
                            dataType: "json",
                        }
                    }
                }
            });
        }

          function BindLocation(SID)
        {
            var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;
            var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';
            $("#dropCity").kendoDropDownList({
                filter: "startswith",
                autoClose: false,
                autoWidth: true,
                dataTextField: "CityName",
                dataValueField: "CityID",
                optionLabel: "Select City",
                change: function (e) {
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/CityMaster?CID=' + CID + '&StateID=' + SID,
                            dataType: "json",
                        }}
                }
            });

        }
        function bindcitydata() {
            BindLocation($("#dropdownState").val());
        }
        function BindEntityType()
        {
            var flag = 'B';
            var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';
            $("#dropSubEntityType").kendoDropDownList({
                filter: "startswith",
                autoClose: false,
                autoWidth: true,
                dataTextField: "Name",
                dataValueField: "ID",
                optionLabel: "Select Sub-Entity Type",
                //change: function (e)
                //{
                //    BindFilter();
                //},
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/GetSubEntityType?Flag=' + flag,
                            dataType: "json",
                        }}
                }
            });
        }

        function BindIndustryType()
        {
            var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';
            //$("#dropIndustryType").kendoDropDownList({
            //    filter: "startswith",
            //    autoClose: false,
            //    autoWidth: true,
            //    dataTextField: "Name",
            //    dataValueField: "ID",
            //    optionLabel: "Select Industry",
            //    //change: function (e)
            //    //{
            //    //    BindFilter();
            //    //},
            //    dataSource: {
            //        severFiltering: true,
            //        transport: {
            //            read: {
            //                url: apiUrl + '/VendorAudit/GetIndustry',
            //                dataType: "json",
            //            }}
            //    }
            //});
            $("#dropIndustryType").kendoDropDownTree({
                placeholder: "Select industry",
                filter: "contains",
                checkboxes: true,
                checkAll: true,
                autoClose: false,
                autoWidth: true,
                tagMode: true,
                checkAllTemplate: "Select All",
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/GetIndustry',
                            dataType: "json",
                        }
                    }
                }
            });
        }


        function BindStatus()
        {
            var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';
             $("#dropStatus").kendoDropDownList({
                filter: "startswith",
                autoClose: false,
                autoWidth: true,
                dataTextField: "Name",
                dataValueField: "ID",
                optionLabel: "Select Status",
                 dataSource: [
                     { Name: "Inactive", ID: 0 },
                     { Name: "Active", ID:1 },
                     { Name: "Suspended", ID:2 }
                 ]
            });
        }

        function BindResponseApp()
        {
            var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';
            $("#dropRespApplicable").kendoDropDownList({
                filter: "startswith",
                autoClose: false,
                autoWidth: true,
                dataTextField: "Name",
                dataValueField: "ID",
                optionLabel: "Select",
                //change: function (e)
                //{
                //    BindFilter();
                //},
                dataSource: [
                    { Name: "No", ID: true },
                    { Name: "Yes", ID: true }
                ]
            });
        }

        function BindType()
        {
            var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';
            $("#dropType").kendoDropDownList({
                filter: "startswith",
                autoClose: false,
                autoWidth: true,
                dataTextField: "Name",
                dataValueField: "ID",
                optionLabel: "Select Type",
                //change: function (e)
                //{
                //    BindFilter();
                //},
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/GetEntityCompanyType',
                            dataType: "json",
                        }}
                }
            });
        }

        function BindLegalRelationShip()
        {
            var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';
            $("#dropLegalRlnship").kendoDropDownList({
                filter: "startswith",
                autoClose: false,
                autoWidth: true,
                dataTextField: "Name",
                dataValueField: "ID",
                optionLabel: "Select Relationship",
                //change: function (e)
                //{
                //    BindFilter();
                //},
                dataSource: [
                    { Name: "Parent", ID:0 },
                    { Name: "Subsidiary Company", ID:1 },
                    { Name: "Joint Venture", ID: 2 }
                ]
            });
        }

        function BindLegalEntityType()
        {
            var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';
             $("#dropLegalEntType").kendoDropDownList({
                filter: "startswith",
                autoClose: false,
                autoWidth: true,
                dataTextField: "Name",
                dataValueField: "ID",
                optionLabel: "Select Legal entity type",
                //change: function (e)
                //{
                //    BindFilter();
                //},
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/GetLegalEntityType',
                            dataType: "json",
                        }}
                }
            });
        }


        function SaveValidation() {
            debugger;
            $("#spnValidationError").text("");


            var TextBoxArray = ["txtEntity", "txtAddress1", "txtContactPerson","txtContactEmail"];
            var TextBoxError = ["Entity", "Address1", "Contact Person","Contact Email"];




            for (var i = 0; i < TextBoxArray.length; i++) {
                if ($("#" + TextBoxArray[i] + "").val().trim() == "" || $("#" + TextBoxArray[i] + "").val().trim() == undefined) {
                    alert("Please Enter " + TextBoxError[i]);
                    return false;
                }
            }


            var DropDownArray = ["dropLegalEntType","dropSubEntityType","dropdownState","dropCity"];
            var DropDownError = ["Legal Entity Type","Sub Entity Type","State","City"];

            //if ($(".txtreq").val() == "" || $(".txtreq").val() == undefined) {
            //    $("#spnValidationError").text("* Required Fields are Mandatory");
            //    return false;
            //}

            for (var i = 0; i < DropDownArray.length; i++) {
                if ($("#" + DropDownArray[i] + "").val() == "" || $("#" + DropDownArray[i] + "").val() == undefined || $("#" + DropDownArray[i] + "").val() == "-1") {
                    alert("Plese Select " + DropDownError[i]);
                    return false;
                }
            }

             if ($("#dropIndustryType").data("kendoDropDownTree")._values.length == 0) {
                 alert("Please Select Industry Type");
                return false;
            }

            //if ($("#dropSubEntityType").val() == "" || $("#dropSubEntityType").val() == undefined || $("#dropSubEntityType").val() == "-1") {
            //    $("#spnValidationError").text("Please Select Entity Type");
            //    return false;


            //}

            if ($("#dropSubEntityType").val() == 1) {
                if ($("#dropType").val() == "" || $("#dropType").val() == undefined || $("#dropType").val() == "-1") {
                    //$("#spnValidationError").text("Please Select Type");
                    alert("Please Select Type");
                    return false;


                }
            }


            //if ($("#dropIndustryType").val() == "" || $("#dropIndustryType").val() == undefined || $("#dropIndustryType").val() == "-1") {
            //    $("#spnValidationError").text("Please Select Industry Type");
            //    return false;
            //}
            //if ($("#dropdownState").val() == "" || $("#dropdownState").val() == undefined || $("#dropdownState").val() == "-1") {
            //    $("#spnValidationError").text("Please Select State");
            //    return false;
            //}

            //if ($("#dropCity").val() == "" || $("#dropCity").val() == undefined || $("#dropCity").val() == "-1") {
            //    $("#spnValidationError").text("Please Select City");
            //    return false;
            //}

            if ($("#dropStatus").val() == "" || $("#dropStatus").val() == undefined || $("#dropStatus").val() == "-1") {
                if ($("#dropStatus").val() === 0) {

                } else {
                    alert("Please Select Status");
                    return false;
                }
            }
            if (!ValidateEmail($("#txtContactEmail").val())) {
                //$("#spnValidationError").text("Invalid Contact Email");
                alert("Invalid Contact Email");
                return false;
            }
            return true;
        }


        function numericOnly(elementRef) {
            var text = elementRef.value;
            if (text.indexOf('.') != -1 && text.substring(text.indexOf('.') + 1, text.length) > 2)
                return false;

            var keyCodeEntered = (event.which) ? event.which : (window.event.keyCode) ? window.event.keyCode : -1;
            if ((keyCodeEntered >= 48) && (keyCodeEntered <= 57)) {

                return true;
            }
            else if (keyCodeEntered == 46) {
                if ((elementRef.value) && (elementRef.value.indexOf('.') >= 0))
                    return false;
                else {

                    return true;
                }
            }
            return false;
        }


        function ValidateEmail(email) {
            // Validate email format
            var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            return expr.test(email);
        };

        function bindEntityDiv() {
            var SubEntityTypeId = $("#dropSubEntityType").val();
            if (SubEntityTypeId == 1) {
                $(".envd").show();
            } else {
                $(".envd").hide();
            }
        }

        function GetCustomerName(){
            var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;
            var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';
            $.ajax({
                type: "POST",
                url: apiUrl + '/VendorAudit/GetCustomerName?custID=' + CID,
                success: function (response) {
                    CustomerName = response;
                    alert(CustomerName); 
                }
            });
        }

        function BindGrid() {
                var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;
                var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';
                var ParentId = '@Model.ParentId';
                GetCustomerName();
                var dataSource = new kendo.data.DataSource({
                    transport: {
                        read: apiUrl + '/VendorAudit/GetVendorEntitiesBranches?CustomerId=' + CID + "&ParentId="+ ParentId
                    },
                    pageSize: 10
                });
                var GridDetails = $('#grid').data('kendoGrid');
                if (GridDetails != undefined)
                    $('#grid').data('kendoGrid').destroy();
                $("#grid").kendoGrid({
                    dataSource: dataSource,
                    sortable: true,
                    //groupable: true,
                    filterable: true,
                    columnMenu: true,
                    noRecords: true,
                    messages: {
                        noRecords: "No records found"
                    },
                    reorderable: true,
                    resizable: true,
                    multi: true,
                    selectable: true,
                    pageable: {
                        numeric: true,
                        pageSizes: ['All', 5, 10, 20],
                        pageSize: 10,
                        buttonCount: 3,
                    },
                    columns: [{
                        field: "ID",
                        filterable: false,
                        hidden: true
                        //[locked]="true"
                    },
                    {
                        field: "CustomerName",
                        title: "Customer Name",
                        filterable: true,
                        sortable: true,
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        },
                    },
                    {
                        field: "Name",
                        title: "Sub-Entity Name",
                        filterable: true,
                        sortable: true,
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        },
                    },
                    {
                        field: "ContactPerson",
                        title: "Contact Person",
                        filterable: true,
                        sortable: true,
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        },
                    },
                    {
                        field: "StateName",
                        title: "State",
                        filterable: true,
                        sortable: true,
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        },
                    },
                    {
                        field: "LocationName",
                        title: "Location",
                        filterable: true,
                        sortable: true,
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        },
                    },
                    {
                        command: [
                            { name: "edit2", text: "", iconClass: "k-icon k-i-edit", className: "ob-Edit enabled" },
                            { name: "delete", text: "", iconClass: "k-icon k-i-delete", className: "ob-Delete enabled" },
                            { name: "proceed", text: "", iconClass: ".k-icon .k-i-arrow-right", className: "k-grid-arrow-right enabled" },
                            { name: "Activate", text: "", iconClass: ".k-icon .k-i-reset", className: "k-grid-play disabled" }

                        ], title: "Action", lock: true, width: 150, headerAttributes: {
                            style: "text-align: center;"
                        }

                    }
                    ],
                    dataBound: OnGridDataBound
                    //dataBound: function () {
                    //    //var rows = this.items();
                    //    //$(rows).each(function () {

                    //    //    var index = $(this).index() + 1
                    //    //        + ($("#grid").data("kendoGrid").dataSource.pageSize() * ($("#grid").data("kendoGrid").dataSource.page() - 1));;
                    //    //    var rowLabel = $(this).find(".row-number");
                    //    //    $(rowLabel).html(index);
                    //    //});

                    //    $(".k-grid-arrow-right").find("span").addClass("k-icon k-i-arrow-right");
                    //    $(".k-grid-edit").find("span").addClass("k-icon k-edit");
                    //    $(".k-grid-delete").find("span").addClass("k-icon k-edit");
                    //}
                });
        }

        function OnGridDataBound(e) {
            var grid = $("#grid").data("kendoGrid");
            var gridData = grid.dataSource.view();
            for (var i = 0; i < gridData.length; i++) {
                var currentUid = gridData[i].uid;
                if (gridData[i].IsDeleted == false) {
                    var currentRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                    var createUserButton = $(currentRow).find(".disabled");
                    createUserButton.hide();
                } else {
                    var currentRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                    var createUserButton = $(currentRow).find(".enabled");
                    createUserButton.hide();
                }

            }
            $(".k-grid-arrow-right").find("span").addClass("k-icon k-i-arrow-right");
            $(".k-grid-edit").find("span").addClass("k-icon k-edit");
            $(".k-grid-delete").find("span").addClass("k-icon k-delete");
            $(".k-grid-play").find("span").addClass("k-icon k-i-reset");
        }

        $(document).on("click", "#grid tbody tr .k-grid-arrow-right", function (e) {
            var item = $("#grid").data("kendoGrid").dataItem($(this).closest("tr"));
            var CustID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;
            var CustBranchID = item.ID;
            var PrevBranchId = @Model.PreviousId;
            var ParentId = @Model.ParentId;
            window.location.href = "EntityBranch?CustID=" + CustID + "&ParentId=" + CustBranchID + "&CurrId=" + ParentId;
        });
    </script>
</head>
<body>
        <div class="row Dashboard-white-widget">
            <span id="popupNotification"></span>
    
            <div style="margin: 0.5% 0 4.5%; height: 30px;">
                <div class="col-sm-9">
                    @if (Model.LstBreadScrum != null)
                    {
                        if (Model.LstBreadScrum.Count > 0)
                        {
                            <ol class="breadcrumb" style="height:61px;overflow-y: auto; width:116%">

                                @foreach (var item in Model.LstBreadScrum)
                                {   
                                    if (item.ParentId == null)
                                    {
                                        <li>
                                            <a class="LinkDecorator" href='~/VendorAuditManagement/VendorAudit/Entities'>@item.Name</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a class="LinkDecorator" href='~/VendorAuditManagement/VendorAudit/EntityBranch?CustID=@item.CustomerID&ParentId=@item.ParentId'>@item.Name</a>
                                        </li>
                                    }
                                }
                            </ol>
                        }
                    }
                </div>

                <div class="col-sm-3">
                    <button id="btnNew" type="button" style="height: 30px; float: right;" class="k-button">Add Entity Branch</button>
                </div>

            </div>

            <div class="row" id="ParentGrid">
                <div id="grid"></div>
            </div>

        </div>

    <div class="modal fade" id="EntityDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="width: 60%;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="margin-bottom:7px;">
                    <button type="button" class="close" data-dismiss="modal" style="margin-top: -5px;" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" style="font-weight:bold">Sub-Entity Master</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="hiddDeleteCustomerId" />
                    <input type="hidden" id="hiddFlag" />

                    <span style="color:black;" id="spnmdltxt"></span>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12">
                        <div class="form-group">

                            <div class="col-md-6">
                                <button id="btnConfirmdelete1" type="button" class="btn btn-primary">Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!--data-backdrop="static" data-keyboard="false"-->
        @*<div class="modal fade" id="EntityModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">*@
        <div class="modal  modal-fullscreen" id="EntityModal" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-full" style="width: 80%;">
                <div class="modal-content" style="width: 100%; height: 100%" >
                    <div class="modal-header" style="margin-bottom:7px;">
                        <button type="button" class="close" data-dismiss="modal" style="margin-top: -5px;" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" style="font-weight:bold">Sub-Entity Master</h4>
                    </div>

                    <div class="modal-body" style="width: 100%; margin-top: 30px" >

                        <div id="tabstrip" style="border: 0px white; background-color: white; margin-top: -1%;">

                            <div>
                                <div class="row" style="display:none;">
                                    <input type="text" id="hiddCustomerBranchId" />
                                </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 form-group">
                                        <label style="color: black;">Customer Name<span style="color: red;">*</span></label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 form-group">
                                        <p>@Model.CustomerName</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 form-group">
                                        <label style="color: black;">Name<span style="color: red;">*</span></label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 form-group">
                                        <input type="text" id="txtEntity" style="width:100%" class="form-control txtreq txtlist" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 form-group">
                                        <label style="color: black;">Type<span style="color: red;">*</span></label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 form-group">
                                        <div id="dropType" style="width:100%" class="drpreq ddllist"></div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 form-group">
                                        <label style="color: black;">Legal Relationship</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 form-group">
                                        <div id="dropLegalRlnship" style="width:100%" class="ddllist"></div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 form-group">
                                        <label style="color: black;">State<span style="color: red;">*</span></label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 form-group">
                                        <div id="dropdownState" onchange="bindcitydata();" style="width:100%" class="drpreq ddllist"></div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 form-group">
                                        <label style="color: black;">Address 1<span style="color: red;">*</span></label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 form-group">
                                        <textarea id="txtAddress1" class="form-control txtlist"></textarea>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 form-group">
                                        <label style="color: black;">Pin Code</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 form-group">
                                        <input type="text" onkeypress="return numericOnly(this);" id="txtPincode" class="form-control txtlist" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 form-group">
                                        <label style="color: black;">Contact Person Email<span style="color: red;">*</span></label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 form-group">
                                        <input type="text" id="txtContactEmail" class="form-control txtreq txtlist" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 form-group">
                                        <label style="color: black;">Mobile No</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 form-group">
                                        <input type="text" id="txtMobileNumber" class="form-control txtlist" onkeypress="return numericOnly(this);" maxlength="10" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 form-group">
                                        <label style="color: black;">Person Responsible Applicable</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 form-group">
                                        <div id="dropRespApplicable" style="width:100%"></div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 form-group">
                                        <label style="color: black;">Parent Entity Name<span style="color: red;">*</span></label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 form-group">
                                        @if (Model.LstBreadScrum != null)
                                        {
                                            if (Model.LstBreadScrum.Count > 0)
                                            {
                                                int last = Model.LstBreadScrum.Count;
                                                <p>@Model.LstBreadScrum[last-1].Name</p>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 form-group">
                                        <label style="color: black;">Sub Entity Type<span style="color: red;">*</span></label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 form-group">
                                        <div id="dropSubEntityType" onchange="bindEntityDiv();" style="width:100%" class="drpreq ddllist"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 form-group">
                                        <label style="color: black;">Legal Entity Type<span style="color: red;">*</span></label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 form-group">
                                        <div id="dropLegalEntType" style="width:100%" class="drpreq ddllist"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 form-group">
                                        <label style="color: black;">Industry Type<span style="color: red;">*</span></label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 form-group">
                                        <div id="dropIndustryType" style="width:100%" class="drpreq ddllist"></div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 form-group">
                                        <label style="color: black;">City<span style="color: red;">*</span></label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 form-group">
                                        <div id="dropCity" style="width:100%" class="drpreq ddllist"></div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 form-group">
                                        <label style="color: black;">Address 2</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 form-group">
                                        <textarea id="txtAddress2" class="form-control txtlist"></textarea>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 form-group">
                                        <label style="color: black;">Contact Person<span style="color: red;">*</span></label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 form-group">
                                        <input type="text" id="txtContactPerson" class="form-control txtreq txtlist" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 form-group">
                                        <label style="color: black;">LandLine No</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 form-group">
                                        <input type="text" id="txtLandLine" class="form-control txtlist" onkeypress="return numericOnly(this);" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 form-group">
                                        <label style="color: black;">Status<span style="color: red;">*</span></label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 form-group">
                                        <div id="dropStatus" style="width:100%" class="drpreq ddllist"></div>
                                    </div>
                                </div>
                                <div class="row" style="visibility:hidden">
                                    <div class="col-lg-4 col-md-4 col-sm-4 form-group">
                                        <label style="color: black;">Status<span style="color: red;">*</span></label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 form-group">
                                        <div id="dropStatus" style="width:100%" class="drpreq ddllist"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-6" style="margin-top: 20px">
                                <button id="btnSave" type="button" class="btn btn-primary">Submit</button>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-6">
                                <p style="color: red;"><strong>Note:</strong> (*) fields are compulsory</p>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>