﻿
@{
    ViewBag.Title = "UserMaster";
    Layout = "~/Areas/VendorAuditManagement/Views/Shared/Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        .k-list > .k-state-focused.k-state-selected, .k-listview > .k-state-focused.k-state-selected, .k-state-focused.k-state-selected, td.k-state-focused.k-state-selected {
            -webkit-box-shadow: inset 0 0 3px 1px #14699f;
            box-shadow: inset 0 0 1px 1px #14699f;
        }

        .k-grid-header th.k-state-focused, .k-list > .k-state-focused, .k-listview > .k-state-focused, .k-state-focused, td.k-state-focused {
            -webkit-box-shadow: inset 0 0 3px 1px #d7dae0;
            box-shadow: inset 0 0 1px 1px white;
        }

        .div.k-grid-footer, div.k-grid-header {
            border-top-width: 1px;
            margin-right: 0px;
        }

        .k-grid-footer-wrap, .k-grid-header-wrap {
            position: relative;
            width: 100%;
            overflow: hidden;
            border-style: solid;
            border-width: 0 1px 0 0;
            zoom: 1;
        }

        .k-grid-content {
            min-height: 380px !important;
            overflow: hidden;
        }

        html {
            color: #666666;
            font-size: 15px;
            font-weight: normal;
            font-family: 'Roboto',sans-serif;
        }

        .k-checkbox-label, .k-radio-label {
            display: inline;
        }

        .myKendoCustomClass {
            z-index: 999 !important;
        }

        .k-header .k-grid-toolbar {
            background: white;
            float: left;
            width: 100%;
        }

        .k-grid td {
            line-height: 2.0em;
            border-bottom-width: 1px;
            background-color: white;
            border-width: 0 1px 1px 0px;
        }

        .k-i-more-vertical:before {
            content: "\e006";
        }

        .k-grid td.k-state-selected:hover, .k-grid tr.k-state-selected:hover {
            background-color: #1fd9e1;
            background-image: none;
            background-color: white;
        }

        k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list > .k-state-highlight, .k-list > .k-state-selected, .k-marquee-color, .k-panel > .k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-tool.k-state-selected {
            color: #000000;
            border-color: #1fd9e1;
            background-color: white;
        }

        .k-pager-wrap > .k-link > .k-icon {
            margin-top: -2px;
            color: inherit;
        }

        html .k-grid tr:hover {
            background: white;
        }

        html .k-grid tr.k-alt:hover {
            background: white;
        }

        .k-grid tbody .k-button {
            min-width: 30px;
            min-height: 30px;
            background: white;
            border: none;
        }

        .k-button-icontext .k-icon, .k-button-icontext .k-image, .k-button-icontext .k-sprite {
            margin-right: 0px;
            margin-right: 0px;
            margin-left: 0px;
            margin-left: 0px;
        }

        .k-auto-scrollable {
            overflow: hidden;
        }

        .k-grid-header {
            padding-right: 0px !important;
            margin-right: 2px;
        }

        .k-filter-menu .k-button {
            width: 27%;
        }

        .k-label input[type="checkbox"] {
            margin: 0px 5px 0 !important;
        }

        input[type=checkbox], input[type=radio] {
            margin: 4px 4px 0;
            line-height: normal;
        }

        .k-filter-row th, .k-grid-header th.k-header {
            font-size: 15px;
            background: #f8f8f8;
            font-family: 'Roboto',sans-serif;
            color: #2b2b2b;
            font-weight: 400;
        }

        .k-primary {
            border-color: #1fd9e1;
            background-color: #1fd9e1;
        }

        .k-pager-wrap {
            background-color: white;
            color: #2b2b2b;
        }

        td.k-command-cell {
            border-width: 0 0px 1px 0px;
            text-align: center;
        }

        .k-grid-pager {
            margin-top: -1px;
        }

        span.k-icon.k-i-calendar {
            margin-top: 6px;
        }

        .col-md-2 {
            width: 20%;
        }

        .k-filter-row th, .k-grid-header th.k-header {
            border-width: 0px 0px 1px 0px;
            background: #E9EAEA;
            font-weight: bold;
            margin-right: 18px;
            font-family: 'Roboto',sans-serif;
            font-size: 15px;
            color: rgba(0, 0, 0, 0.5);
            height: 20px;
            vertical-align: middle;
        }

        .k-dropdown-wrap.k-state-default {
            background-color: white;
        }

        .k-popup.k-calendar-container, .k-popup.k-list-container {
            background-color: white;
        }

        label.k-label {
            font-family: roboto,sans-serif !important;
            color: #515967;
            /* font-stretch: 100%; */
            font-style: normal;
            font-weight: 400;
            min-width: 362px;
            white-space: pre-wrap;
        }

        .k-multicheck-wrap .k-item {
            line-height: 1.2em;
            font-size: 14px;
            margin-bottom: 5px;
        }

        label {
            display: flex;
            margin-bottom: 0px;
        }

        .k-state-default > .k-select {
            border-color: #ceced2;
            margin-top: -4px;
        }

        .k-grid-norecords {
            width: 100%;
            height: 100%;
            text-align: center;
            margin-top: 2%;
        }

        .k-grouping-header {
            font-style: italic;
            background-color: white;
        }

        .k-grid table {
            width: 100.5%;
        }

        .k-active-filter, .k-state-active, .k-state-active:hover {
            background-color: #E9EAEA;
            border-color: #a6a6ad;
            color: #535b6a;
        }

        .k-treeview .k-i-collapse, .k-treeview .k-i-expand, .k-treeview .k-i-minus, .k-treeview .k-i-plus {
            margin-left: -18px;
            cursor: pointer;
        }

        .k-button.k-button-icon .k-icon, .k-grid-filter .k-icon, .k-header .k-icon {
            text-indent: -99999px;
            overflow: hidden;
        }

        .k-header > .k-grid-filter, .k-header > .k-header-column-menu {
            float: right;
            margin: -.5em 0.4em -0.4em 0px;
            padding: .5em .2em .4em;
            position: relative;
            z-index: 1;
            color: inherit;
        }

        .k-multiselect-wrap .k-input {
            /*padding-top:6px;*/
            display: inherit !important;
        }

        .k-filter-menu .k-button {
            width: 27%;
            background-color: #E9EAEA;
            color: black;
            border: 2px solid rgba(0, 0, 0, 0.5);
        }

        .MainWrapper {
            width: 23.2%;
            display: block;
            float: left;
            /*font-size: 13px;*/
            color: #212121;
            margin-left: 2.2%;
        }

        .InnerMainWrapper {
            width: 17.2%;
            display: block;
            float: left;
            /*font-size: 13px;*/
            color: #212121;
            margin-left: 6.7%;
        }

        .margin-6 {
            margin: 6px 6px 6px 6px;
        }
    </style>
    <script type="text/javascript">

        function AjaxCall(url, data, type) {
            return $.ajax({
                url: url,
                type: type ? type : 'GET',
                data: data,
                contentType: 'application/json'
            });
        };

        function refreshPage(){
            location.reload();
        }

        function setFileName(filename, apiurl) {
            $("#filedownload").css("visibility", "visible");
            $("#filedownload > a").attr("href", apiurl + "/VendorAudit/ErrorFile?Name=" + filename);
        }

        function OpenUploadPopup() {
            $('#divUploadUserDetails').show();
            kendo.ui.progress($(".chart-loading"), true);
            var myWindowAdv = $("#divUploadUserDetails");

            myWindowAdv.kendoWindow({
                width: "40%",
                height: "33%",
                title: "Upload User Master",
                visible: false,
                close: function(){
                    refreshPage();
                }
            });

            myWindowAdv.data("kendoWindow").center().open();
            $('#loader').hide();

            return false;
        }

        $(function () {
            fhead('Masters / User Master');
            BindUserGrid();
            BindUserGridFilters();
            //BindContractUserGrid();
            $("#txtSearch").on('input', function (e) {
                FilterAll();
            });
            $("#txtSearchMGMT").on('input', function (e) {
                FilterAllContractUser();
            });
            
            $("#btnNew").click(function ()
            {
                BindRole();
                ClearControls()
                OpenUserPopup();
            });
            $("#btnNewcontractorVendor").click(function ()
            {
                BindContractUserGrid();
                OpenContractorVendorUserPopup();
                BindContractType();
                
            });
            $("#btnNewMGMTAssignment").click(function ()
            {
                OpenMGMTUserPopup();
            });

            $("#btnAddCont").on("click", function (e)
            {
                $("#txtClientID").val("0");
                $("#txtClientID1").val("0");
                ClearContractorPopUpControls();
                OpenContratorPopUp();
            });
            $("#btnAddAssignment").on("click", function (e)
            {
                bindprojectdetails();
                BinddropdownMGMT();
                BindLocationfilter();
                OpenassigmentPopUp();
            });


            $("#errorLink").on("click", function(e){
                $("#filedownload").css("visibility", "hidden");
                $('#fileinput').val('');
            });

            $("#btnFileUpload").on("click", function (e) {
                var UID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID;
                var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;
                var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';
                var fileToUpload = $('#fileinput').prop('files')[0];
                var formData = new FormData();
                formData.append("UserMaster", fileToUpload);
                $("#upload-loader").css("visibility", "visible");
                $.ajax({
                    type: "POST",
                    url: apiUrl + '/VendorAudit/SaveFileData?CustID=' + CID + '&UserID=' + UID + '&fileMasterName=UserMaster',
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    tryCount : 0,
                    retryLimit : 3,
                    success: function(data) {
                        $("#upload-loader").css("visibility", "hidden");
                        if(data == "success"){
                            $("#FileSuccess").css("display", "block");
                            alert("File Uploaded Successfully");
                            $("#upload-loader").css("display", "none");
                            refreshPage();
                        }
                        else
                        {
                            if(data != "error" && data != "SheetNameError" && data != "EmptySheet" && data != "WrongFileFormat"){
                                setFileName(data, apiUrl);
                            }
                            else if(data == "SheetNameError"){
                                alert("Please check sheet name. Sheet Name must be UserMaster")
                                refreshPage();
                            }
                            else if(data == "WrongFileFormat"){
                                alert("Upload files in Excel format only");
                            }
                            else if(data == "EmptySheet"){
                                alert("You have uploaded empty sheet");
                            }
                            else{
                                alert("Something went wrong. Please try again.")
                                refreshPage();
                            }
                        }
                    },
                    error: function(){
                        this.tryCount++;
                        if (this.tryCount <= this.retryLimit) {
                            //try again
                            $.ajax(this);
                            return;
                        }
                        alert("Something went wrong. Please try again..");
                    }
                });
            });

            $("#btnSavecontracttype").on("click", function (e) {

                var ob = 1;
                if ($("#txtTypeName").val() == "" || $("#txtTypeName").val() == undefined || $("#txtTypeName").val().replace(/\s/g, '').length < 1) {
                    alert("Please enter Type.");
                    ob = 0;
                }
                if (ob == 1) {
                    if ($("#txtTypeName").val() != "" && $("#txtTypeName").val() != undefined) {
                        $.ajax({
                            type: "GET",
                            url: apiUrl + '/VendorUpdate/UpdateContractTypeMaster',
                            data: {
                                UserId: UID, CustomerID: CID,
                                CTId: $("#txtTypeID").val(),
                                CTName: $("#txtTypeName").val()
                            },
                            success: function (response) {
                                if (response == "Success") {
                                    alert("Record Saved Successfully");
                                    $("#txtTypeID").val("0");
                                    $("#txtTypeName").val("");                                    
                                }
                                else if (response == "Exist") {
                                    alert("Type Name already exist.");
                                }
                                else {
                                    alert("Error");
                                }
                            }
                        });
                    }
                }
            });

            $("#btnSave").on("click", function (e) {
                if (SaveValidation()) {

                    $.ajax({
                        type: "GET",
                        url: apiUrl + '/VendorUpdate/UpdateUserMaster',
                        data: {
                            UID: UID, CID: CID,
                            Id: $("#txtClientID1").val(),
                            Name: $("#txtName").val(),
                            LastName: $("#txtLastName").val(),
                            RoleID: $("#ddlRole").val(),
                            Email: $("#txtEmail").val(), ContNo: $("#txtContact").val()
                        },
                        success: function (response) {
                            if (response == "Success") {
                                alert("Record Saved Successfully");
                                BindUserGrid();
                                ClearControls();
                            }
                            else {
                                alert(response);
                            }
                        }
                    });
                }
            });

            $("#btnSaveContractor").on("click", function (e) 
            {
                if (true) //ValidatorContractSummary.validate()
                {   
                    if (SaveValidation1()) {
                        $.ajax({
                            type: "GET",
                            url: apiUrl + '/VendorUpdate/SaveContractDetails',
                            data: {
                                UserId: UID, CustomerID: CID,
                                PID: 0,
                                ContractorID: $("#txtClientID").val(),
                                ContractorName: $("#txtContractor").val(),
                                SPOCName: $("#txtSpoc").val(),
                                SPOCEmailID: $("#txtSPOCEmail").val(),
                                SPOCMobileNo: $("#txtSpocContact").val(),
                                NatureOfWork: $("#txtNaturOfWork").val(),
                                ContType:$("#drpContractorType").val()
                            },
                            success: function (response) {
                                if (response == "Success") {
                                    alert("Record Saved Successfully");
                                    ClearContractorPopUpControls();
                                    BindContractUserGrid();
                                    $("#txtSearchMGMT").val(''); 

                                }
                                else if (response == "Exist") {
                                    alert("Email ID Exist to another contractor.");
                                }
                                else {
                                    alert(response);
                                }
                            }
                        });
                    }
                }
            });

            $("#btnmgmtAssigment").on("click", function (e) {
                var detailsProject = [];
                var detailsMGMT = [];
                var dropdownProjectName = $('#dropdownProjectName').data("kendoDropDownTree");
                if (dropdownProjectName.value() != "")
                {
                    var list1 = $("#dropdownProjectName").data("kendoDropDownTree")._values;

                    $.each(list1, function (i, v) {
                        detailsProject.push(v);
                    });
                }

                if (detailsProject.length>0) {

                    var dropdownMGMT = $('#dropdownMGMT').data("kendoDropDownTree");
                    if (dropdownMGMT.value() != "")
                    {
                        var list1 = $("#dropdownMGMT").data("kendoDropDownTree")._values;

                        $.each(list1, function (i, v) {
                            detailsMGMT.push(v);
                        });
                    }

                    if (detailsMGMT.length>0)
                    {
                        $.ajax({
                            contentType: 'application/json; charset=utf-8',
                            dataType: 'json',
                            type: 'GET',
                            url: apiUrl + '/VendorAudit/SaveMGMTAssignemtDetails?UID='+UID+'&CID='+CID+'&ProjectID='+JSON.stringify(detailsProject)+'&MGMTID='+JSON.stringify(detailsMGMT),

                            success: function (response) {
                                if (response[0].Message == "Success") {
                                    alert("Record Saved Successfully");
                                    BindProjectusermappedGrid();
                                    $("#dropdownFilterProjectName").data("kendoDropDownList").select("-1");
                                    $('#dropdownLocation').data("kendoDropDownTree").value([]);
                                    $("#dropdownUSERMGMTName").data("kendoDropDownList").select("-1");
                                }
                                else {
                                    alert("Error");
                                }
                            }
                        });
                    }
                    else
                    {
                        alert('Please select at lease one User');
                    }
                }
                else
                {
                    alert('Please select at lease one project');
                }

            });
        });



       var UID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID;
       var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;
       var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';


        function SaveValidation1() {
            var MobileNo = $('#txtSpocContact').val();
            if ($.trim($('#txtContractor').val()) == "") {
                alert("Please Enter Contractor Name");
                return false;
            }
            else if ($.trim($('#txtSpoc').val()) == "")
            {
                alert("Please enter SPOC name");
                return false;
            }
            else if ($("#txtSPOCEmail").val() == "" || $("#txtSPOCEmail").val() == undefined)
            {
                alert("Please enter SPOC email");
                return false;
            }
            else if (!ValidateEmail($("#txtSPOCEmail").val())) {
                alert("Invalid SPOC Email Id. Please check.");
                return false;
            }
            else if ($("#txtSpocContact").val() == "" || $("#txtSpocContact").val() == undefined) {
                alert("Please enter SPOC Contact number");
                return false;
            }
            else if (MobileNo.length != "10") {
                alert("SPOC Contact number should be 10 digit");
                return false;
            }
            else if ($("#drpContractorType").val() == "" || $("#drpContractorType").val() == undefined || $("#drpContractorType").val() == "-1")
            {
                alert("Please select contractor type");
                return false;
            }
            else {
                return true;
            }

        }
        function BindContractType() {
            $("#drpContractorType").kendoDropDownList({
                filter: "startswith",
                autoClose: false,
                autoWidth: true,
                dataTextField: "Name",
                dataValueField: "ID",
                optionLabel: "Select type",
                change: function (e) {
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/ContractTypeMaster?CID=' + CID,
                            dataType: "json",
                        }
                    }
                }
            });
        }

        function SaveValidation() {
            var MobileNo = $('#txtContact').val();

            if ($.trim($('#txtName').val()) == "") {
                alert("Please Enter First Name");
                return false;
            }
            if ($.trim($('#txtLastName').val()) == "") {
                alert("Please Enter Last Name");
                return false;
            }


            if ($.trim($('#ddlRole').val()) == "") {
                alert("Please Select Role.");
                return false;
            }

            if ($.trim($('#txtEmail').val()) == "") {
                alert("Please Enter Email Id.");
                return false;
            }
            if (!ValidateEmail($("#txtEmail").val())) {
                alert("Invalid Email Id. Please check.");
                return false;
            }
            else if (MobileNo.length != "10") {
                alert("Contact No. Should be 10 digit");
                return false;
            }
            else {
                return true;
            }

        }

        function BindUserGridFilters() {

            $("#ddlRoleFilter").kendoDropDownTree({
                placeholder: "Select Role",
                filter: "contains",
                checkboxes: true,
                checkAll: true,
                autoClose: false,
                checkAllTemplate: "Select All",
                autoWidth: true,
                dataTextField: "Name",
                dataValueField: "ID",
                change: function (e) {
                    fCreateStoryBoardUG('ddlRoleFilter', 'filterRole', 'role');
                    FilterAll();
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/BindRole',
                            dataType: "json",
                        }
                    }
                }
            });

        }

        function MGMTBindFilter()
        {
            var finalSelectedfilter = { logic: "and", filters: [] };

            if (($("#dropdownLocation").val() != "" && $("#dropdownLocation").val() != null && $("#dropdownLocation").val() != undefined)
                || ($("#dropdownFilterProjectName").val() != "" && $("#dropdownFilterProjectName").val() != null && $("#dropdownFilterProjectName").val() != undefined)
                  || ($("#dropdownUSERMGMTName").val() != undefined && $("#dropdownUSERMGMTName").val() != null && $("#dropdownUSERMGMTName").val() != ""))
            {
                if ($("#dropdownFilterProjectName").val() != undefined && $("#dropdownFilterProjectName").val() != null && $("#dropdownFilterProjectName").val() != "") {
                    var SeqFilter01 = { logic: "or", filters: [] };
                    SeqFilter01.filters.push({
                        field: "ProjectId", operator: "eq", value: $("#dropdownFilterProjectName").val()
                    });
                    finalSelectedfilter.filters.push(SeqFilter01);
                }

                if ($("#dropdownLocation").val() != undefined && $("#dropdownLocation").val() != null && $("#dropdownLocation").val() != "") {
                    var SeqFilter1 = { logic: "or", filters: [] };
                    SeqFilter1.filters.push({
                        field: "LocationId", operator: "eq", value: $("#dropdownLocation").val()
                    });
                    finalSelectedfilter.filters.push(SeqFilter1);
                }

                if ($("#dropdownUSERMGMTName").val() != undefined && $("#dropdownUSERMGMTName").val() != null && $("#dropdownUSERMGMTName").val() != "") {
                    var SeqFilter4 = { logic: "or", filters: [] };
                    SeqFilter4.filters.push({
                        field: "UserID", operator: "eq", value: $("#dropdownUSERMGMTName").val()
                    });
                    finalSelectedfilter.filters.push(SeqFilter4);
                }
                if (finalSelectedfilter.filters.length > 0) {
                    var dataSource = $("#gridmaaped1").data("kendoGrid").dataSource;
                    dataSource.filter(finalSelectedfilter);
                }
                else {
                    $("#gridmaaped1").data("kendoGrid").dataSource.filter({});
                }
            }
            else {
                $("#gridmaaped1").data("kendoGrid").dataSource.filter({});
            }
        }
        function FilterAllContractUser()
        {
            var FilterForAllSearch = document.getElementById('txtSearchMGMT').value;

            var finalSelectedfilter = { logic: "and", filters: [] };

            if (FilterForAllSearch != "")
            {
                if (FilterForAllSearch != "" && FilterForAllSearch != undefined) {
                    var AllFilter = { logic: "or", filters: [] };

                    AllFilter.filters.push({
                        field: "SpocName", operator: "contains", value: FilterForAllSearch
                    });
                    AllFilter.filters.push({
                        field: "ContractorName", operator: "contains", value: FilterForAllSearch
                    });                    
                    AllFilter.filters.push({
                        field: "SpocEmail", operator: "contains", value: FilterForAllSearch
                    });
                    AllFilter.filters.push({
                        field: "SpocContactNo", operator: "contains", value: FilterForAllSearch
                    });

                    finalSelectedfilter.filters.push(AllFilter);
                }

                if (finalSelectedfilter.filters.length > 0) {
                    var dataSource = $("#gridUser1").data("kendoGrid").dataSource;
                    dataSource.filter(finalSelectedfilter);
                }
                else {
                    $("#gridUser1").data("kendoGrid").dataSource.filter({});
                }
            }
            else {
                $("#gridUser1").data("kendoGrid").dataSource.filter({});
            }
        }

        function FilterAll()
        {
            var roledetails = [];
            if ($("#ddlRoleFilter").data("kendoDropDownTree") != undefined) {
                roledetails = $("#ddlRoleFilter").data("kendoDropDownTree")._values;
            }

            var FilterForAllSearch = document.getElementById('txtSearch').value;

            var finalSelectedfilter = { logic: "and", filters: [] };

            if (roledetails.length > 0
                || FilterForAllSearch != "")
            {
                if (roledetails.length > 0) {
                    var RoleFilter = { logic: "or", filters: [] };

                    $.each(roledetails, function (i, v) {
                        RoleFilter.filters.push({
                            field: "RoleID", operator: "eq", value: parseInt(v)
                        });
                    });

                    finalSelectedfilter.filters.push(RoleFilter);
                }

                if (FilterForAllSearch != "" && FilterForAllSearch != undefined) {
                    var AllFilter = { logic: "or", filters: [] };

                    AllFilter.filters.push({
                        field: "UserName", operator: "contains", value: FilterForAllSearch
                    });
                    AllFilter.filters.push({
                        field: "RoleName", operator: "contains", value: FilterForAllSearch
                    });
                    AllFilter.filters.push({
                        field: "Email", operator: "contains", value: FilterForAllSearch
                    });
                    AllFilter.filters.push({
                        field: "ContactNumber", operator: "contains", value: FilterForAllSearch
                    });

                    finalSelectedfilter.filters.push(AllFilter);
                }



                if (finalSelectedfilter.filters.length > 0) {
                    var dataSource = $("#gridUser").data("kendoGrid").dataSource;
                    dataSource.filter(finalSelectedfilter);
                }
                else {
                    $("#gridUser").data("kendoGrid").dataSource.filter({});
                }
            }
            else {
                $("#gridUser").data("kendoGrid").dataSource.filter({});
            }
        }

        function fcloseStory(obj) {
            var DataId = $(obj).attr('data-Id');
            var dataKId = $(obj).attr('data-K-Id');
            var seq = $(obj).attr('data-seq');
            var deepspan = $('#' + DataId + ' > li > span > span.k-i-close')[seq];
            $(deepspan).trigger('click');
            var upperli = $('#' + dataKId);
            $(upperli).remove();

            fCreateStoryBoardUG('ddlRoleFilter', 'filterRole', 'role');
        }

        function fCreateStoryBoardUG(Id, div, filtername) {

            var IdKReset = $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).attr('id');
            $('#' + div).html('');
            $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).css('height', '0px');
            $('#' + div).css('display', 'block');

            if (div == 'filtersProject') {
                $('#' + div).append('Project&nbsp;&nbsp;:');
            }
            else if (div == 'filterRole') {
                $('#' + div).append('Role&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:');//Dashboard
            }

            for (var i = 0; i < $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).find('.k-button').length; i++) {
                var button = $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).find('.k-button')[i];
                $(button).css('display', 'none');
                $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).attr('placeholder', 'Shree');
                var buttontest = $($(button).find('span')[0]).text();
                $('#' + div).append('<li class="k-button " unselectable="on" Id="ddl' + filtername + [i] + '" role="option" style="background-color:#EBEBEB;height: 20px;Color:Gray;margin-left:5px;margin-bottom: 4px;"><span unselectable="on" title="' + $($(button).find('span')[0]).text() + '">' + buttontest + '</span><span data-K-Id="ddl' + filtername + [i] + '" data-Id="' + IdKReset + '" data-seq="' + i + '" onclick="fcloseStory(this)" title="Clear" aria-label="Clear" class="k-select" style="padding-left: 6px;"><span data-Id="' + IdKReset + '" data-seq="' + i + '"  onclick="fcloseStory(this)"  class="k-icon k-i-close" title="Clear" aria-label="Clear" style="font-size: 12px;"></span></span></li>');
            }

            if ($($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).find('.k-button').length == 0) {
                $('#' + div).css('display', 'none');
                $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).css('height', '0px');

            }
        }
        function OpenassigmentPopUp() {
            $("#NewassigmentEditModal").kendoWindow({
                modal: true,
                pinned: true,
                width: "45%",
                height: "auto",
                position: {
                    top: "10%",
                    left: "27%"
                },
                title: "Management Assignment",
                visible: false,
                draggable: false,
                refresh: true,
                actions: [
                    "Close"
                ]

            }).data("kendoWindow").open();
        }
        function OpenContratorPopUp() {
            $("#NewContractorEditModal").kendoWindow({
                modal: true,
                pinned: true,
                width: "65%",
                height: "auto",
                position: {
                    top: "10%",
                    left: "15%"
                },
                title: "Add New Contractor",
                visible: false,
                draggable: false,
                refresh: true,
                actions: [
                    "Close"
                ], close: ClearContractorPopUpControls

            }).data("kendoWindow").open();
        }
        function ClearContractorPopUpControls() {
            $("#txtClientID").val("0");
            $("#txtContractor").val("");
            $("#txtSpoc").val("");
            $("#txtSPOCEmail").val("");
            $("#txtSpocContact").val("");
            $("#txtNaturOfWork").val("");
            $("#drpContractorType").data("kendoDropDownList").select("-1");
        }
        function BindProjectusermappedGrid() {
            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: apiUrl + '/VendorAudit/GetProjectMGMTMappedList?CustID=' + CID
                },
                pageSize: 10
            });

            var gridexist = $('#gridmaaped1').data("kendoGrid");
            if (gridexist != undefined || gridexist != null)
                $('#gridmaaped1').empty();

            $("#gridmaaped1").kendoGrid({
                dataSource: dataSource,
                sortable: true,
                //groupable: true,
                filterable: true,
                columnMenu: true,
                noRecords: true,
                messages: {
                    noRecords: "No records found"
                },
                reorderable: true,
                resizable: true,
                multi: true,
                selectable: true,
                pageable: {
                    numeric: true,
                    pageSizes: ['All', 5, 10, 20],
                    pageSize: 10,
                    buttonCount: 3,
                },
                columns: [
                    {
                        field: "LocationName", title: 'Location',
                        width: "25%;",
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        field: "ProjectName", title: 'Project Name',
                        width: "25%;",
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                             {
                                 field: "UserName", title: 'User Name',
                                 width: "25%;",
                                 attributes: {
                                     style: 'white-space: nowrap;'

                                 }, filterable: {
                                     multi: true,
                                     extra: false,
                                     search: true,
                                     operators: {
                                         string: {
                                             eq: "Is equal to",
                                             neq: "Is not equal to",
                                             contains: "Contains"
                                         }
                                     }
                                 }
                             },
                     {
                         command: [
                             { name: "edit2", text: "", iconClass: "k-icon k-i-delete", className: "ob-Delete" }
                         ], title: "Action", lock: true, width: 50, headerAttributes: {
                             style: "text-align: center;"
                         }
                     },
                ]
            });

            $("#gridmaaped1").kendoTooltip({
                filter: "td",
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    if (content != "") {
                        return '<div style="width: ' + content.length * .6 + 'em; max-width: 20em;white-space: pre-wrap;">' + content + '</div>';
                    }
                    else
                        e.preventDefault();
                }
            }).data("kendoTooltip");

            $("#gridmaaped1").kendoTooltip({
                filter: "th",
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    if (content != "") {
                        return '<div style="width: ' + content.length * .6 + 'em; max-width: 20em;white-space: pre-wrap;">' + content + '</div>';
                    }
                    else
                        e.preventDefault();
                }
            }).data("kendoTooltip");

            $("#gridmaaped1").kendoTooltip({
                filter: ".ob-Delete",
                content: function (e) {
                    return "Delete";
                }
            });
        }
        $(document).on("click", "#gridmaaped1 tbody tr .ob-Delete", function (e)
        {
            var UID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID;
            var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;
            var item = $("#gridmaaped1").data("kendoGrid").dataItem($(this).closest("tr"));
            var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';
            $.ajax({
                type: "GET",
                url: apiUrl + '/VendorUpdate/DeleteProjectMGMTMapped',
                data: {
                    UserId: UID, CustomerID: CID,
                    ID: item.ID
                },
                success: function (response) {
                    if (response == "Success") {
                        alert("Record Deleted Successfully.");
                        BindProjectusermappedGrid();
                        $("#dropdownFilterProjectName").data("kendoDropDownList").select("-1");
                        $('#dropdownLocation').data("kendoDropDownTree").value([]);
                        $("#dropdownUSERMGMTName").data("kendoDropDownList").select("-1");
                    }
                    else {
                        BindProjectusermappedGrid();
                        $("#dropdownFilterProjectName").data("kendoDropDownList").select("-1");
                        $('#dropdownLocation').data("kendoDropDownTree").value([]);
                        $("#dropdownUSERMGMTName").data("kendoDropDownList").select("-1");
                    }
                }
            });

            return true;
        });

        function BindContractUserGrid() {
            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: apiUrl + '/VendorAudit/BindContractorVendorUser?CID=' + CID
                },
                pageSize: 10
            });

            var gridexist = $('#gridUser1').data("kendoGrid");
            if (gridexist != undefined || gridexist != null)
                $('#gridUser1').empty();

            $("#gridUser1").kendoGrid({
                dataSource: dataSource,
                sortable: true,
                //groupable: true,
                filterable: true,
                columnMenu: true,
                noRecords: true,
                messages: {
                    noRecords: "No records found"
                },
                reorderable: true,
                resizable: true,
                multi: true,
                selectable: true,
                pageable: {
                    numeric: true,
                    pageSizes: ['All', 5, 10, 20],
                    pageSize: 10,
                    buttonCount: 3,
                },
                columns: [
                             {
                                 field: "SpocName", title: 'SPOC Name',
                                 width: "25%;",
                                 attributes: {
                                     style: 'white-space: nowrap;'

                                 }, filterable: {
                                     multi: true,
                                     extra: false,
                                     search: true,
                                     operators: {
                                         string: {
                                             eq: "Is equal to",
                                             neq: "Is not equal to",
                                             contains: "Contains"
                                         }
                                     }
                                 }
                             },
                    {
                        field: "ContractorName", title: 'Contractor Name',
                        width: "25%;",
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        field: "SpocEmail", title: 'Email ID',
                        width: "25%;",
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        field: "SpocContactNo", title: 'Contact Number',
                        width: "20%;",
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                     {
                    command: [
                        { name: "Edit", text: "", iconClass: "k-icon k-i-edit", className: "ob-Edit" },
                        { name: "edit2", text: "", iconClass: "k-icon k-i-delete", className: "ob-Delete" }
                      ], title: "Action", lock: true, width: 170, headerAttributes: {
                        style: "text-align: center;"
                    }
                },
                ]
            });

            $("#gridUser1").kendoTooltip({
                filter: "td",
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    if (content != "") {
                        return '<div style="width: ' + content.length * .6 + 'em; max-width: 20em;white-space: pre-wrap;">' + content + '</div>';
                    }
                    else
                        e.preventDefault();
                }
            }).data("kendoTooltip");

            $("#gridUser1").kendoTooltip({
                filter: "th",
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    if (content != "") {
                        return '<div style="width: ' + content.length * .6 + 'em; max-width: 20em;white-space: pre-wrap;">' + content + '</div>';
                    }
                    else
                        e.preventDefault();
                }
            }).data("kendoTooltip");

            $("#gridUser1").kendoTooltip({
                filter: ".ob-Edit",
                content: function (e) {
                    return "Edit";
                }
            });

            $("#gridUser1").kendoTooltip({
                filter: ".ob-Delete",
                content: function (e) {
                    return "Delete";
                }
            });
        }
        $(document).on("click", "#gridUser1 tbody tr .ob-Delete", function (e)
        {
            var UID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID;
            var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;
            var item = $("#gridUser1").data("kendoGrid").dataItem($(this).closest("tr"));
            var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';
            $.ajax({
                type: "GET",
                url: apiUrl + '/VendorUpdate/DeleteContractor',
                data: {
                    UserId: UID, CustomerID: CID,
                    UID:item.AvacomUserID,
                    ContractorID: item.ID
                },
                success: function (response) {
                    if (response == "Success") {
                        alert("Record Deleted Successfully.");
                        BindContractUserGrid();
                        $("#txtSearchMGMT").val(''); 
                    }
                    else if (response == "Used") {
                        alert("Contractor already in used.");
                    }
                    else {
                        $("#txtSearchMGMT").val(''); 
                        BindContractUserGrid();
                    }
                }
            });

            return true;
        });
        $(document).on("click", "#gridUser1 tbody tr .ob-Edit", function (e) {
            var item = $("#gridUser1").data("kendoGrid").dataItem($(this).closest("tr"));
            debugger;
            $("#txtClientID").val(item.ID);
            $("#txtContractor").val(item.ContractorName);
            $("#txtSpoc").val(item.SpocName);
            $("#txtSPOCEmail").val(item.SpocEmail);
            $("#txtSpocContact").val(item.SpocContactNo);
            $("#txtNaturOfWork").val(item.NatureOfWork);
            $("#drpContractorType").data("kendoDropDownList").value(item.ContractorType);
            debugger;
            OpenContratorPopUp();
            return true;
        });
        function ValidateEmail(email) {
            // Validate email format
            var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            return expr.test(email);
        };

        function BindUserGrid() {
            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: apiUrl + '/VendorAudit/BindUser?CID=' + CID
                },
                pageSize: 10
            });

            var gridexist = $('#gridUser').data("kendoGrid");
            if (gridexist != undefined || gridexist != null)
                $('#gridUser').empty();

            $("#gridUser").kendoGrid({
                dataSource: dataSource,
                sortable: true,
                //groupable: true,
                filterable: true,
                columnMenu: true,
                noRecords: true,
                dataBound: OnGridDataBound,
                messages: {
                    noRecords: "No records found"
                },
                reorderable: true,
                resizable: true,
                multi: true,
                selectable: true,
                pageable: {
                    numeric: true,
                    pageSizes: ['All', 5, 10, 20],
                    pageSize: 10,
                    buttonCount: 3,
                },
                columns: [
                             {
                                 field: "FirstName", title: 'First Name',
                                 width: "25%;",
                                 attributes: {
                                     style: 'white-space: nowrap;'

                                 }, filterable: {
                                     multi: true,
                                     extra: false,
                                     search: true,
                                     operators: {
                                         string: {
                                             eq: "Is equal to",
                                             neq: "Is not equal to",
                                             contains: "Contains"
                                         }
                                     }
                                 }
                             },
                    {
                        field: "LastName", title: 'Last Name',
                        width: "25%;",
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        field: "RoleName", title: 'Role',
                        width: "20%;",
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        field: "Email", title: 'Email ID',
                        width: "25%;",
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        field: "ContactNumber", title: 'Contact Number',
                        width: "25%;",
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },{
                        field: "Status", title: 'Status',
                        width: "15%;",
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        command: [
                            { name: "edit2", text: "", iconClass: "k-icon k-i-edit", className: "ob-Edit" },
                            { name: "edit2", text: "", iconClass: "k-icon k-i-delete", className: "ob-Delete" },
                            { name: "edit2", text: "", iconClass: "k-icon k-i-delete", className: "ob-Enable" },
                        { name: "edit2", text: "", iconClass: "k-icon k-i-lock", className: "ob-lock" }
                        ], title: "Action", lock: true, width: 120, headerAttributes: {
                            style: "text-align: center;"
                        }

                    }
                ]
            });
            $("#gridUser").kendoTooltip({
                filter: ".ob-lock",
                content: function (e) {
                    return "Unblock User";
                }
            });
            $("#gridUser").kendoTooltip({
                filter: "td",
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    if (content != "") {
                        return '<div style="width: ' + content.length * .6 + 'em; max-width: 20em;white-space: pre-wrap;">' + content + '</div>';
                    }
                    else
                        e.preventDefault();
                }
            }).data("kendoTooltip");

            $("#gridUser").kendoTooltip({
                filter: "th",
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    if (content != "") {
                        return '<div style="width: ' + content.length * .6 + 'em; max-width: 20em;white-space: pre-wrap;">' + content + '</div>';
                    }
                    else
                        e.preventDefault();
                }
            }).data("kendoTooltip");

            $("#gridUser").kendoTooltip({
                filter: ".ob-Edit",
                content: function (e) {
                    return "Edit";
                }
            });
            $("#gridUser").kendoTooltip({
                filter: ".ob-Delete",
                content: function (e) {
                    return "Inactive";
                }
            });
            $("#gridUser").kendoTooltip({
                filter: ".ob-Enable",
                content: function (e) {
                    return "Active";
                }
            });

            function OnGridDataBound(e) {
                var grid = $("#gridUser").data("kendoGrid");
                var gridData = grid.dataSource.view();
                for (var i = 0; i < gridData.length; i++) {
                    var currentUid = gridData[i].uid;
                    debugger;
                    if (gridData[i].WrongAttempt < 3)
                    {
                        if (gridData[i].Status == "Inactive") {
                            var currentRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                            var createUserButton = $(currentRow).find(".ob-Delete");
                            createUserButton.hide();

                            var createUserButton1 = $(currentRow).find(".ob-Edit");
                            createUserButton1.hide();

                            var createUserButton12 = $(currentRow).find(".ob-lock");
                            createUserButton12.hide();
                        }
                        else {
                            var currentRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                            var createUserButton = $(currentRow).find(".ob-Enable");
                            createUserButton.hide();
                            var createUserButton12 = $(currentRow).find(".ob-lock");
                            createUserButton12.hide();
                        }
                    }
                    else
                    {
                        var currentRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                        var createUserButton = $(currentRow).find(".ob-Delete");
                        createUserButton.hide();

                        var createUserButton1 = $(currentRow).find(".ob-Edit");
                        createUserButton1.hide();

                        var createUserButtonw = $(currentRow).find(".ob-Enable");
                        createUserButtonw.hide();

                        var createUserButton12 = $(currentRow).find(".ob-lock");
                        createUserButton12.show();
                    }
                }
            }
        }
        function ClearAllFilterMain(e)
        {
            debugger;
            $("#txtSearch").val('');
            $("#ddlRoleFilter").data("kendoDropDownTree").value([]);
            //$("#grid").data("kendoGrid").dataSource.filter({});
            //$('#grid').data('kendoGrid').dataSource.read();
            //$('#grid').data('kendoGrid').refresh();
            BindUserGrid();
            e.preventDefault();
        }
        function ClearAllFilterContractMain(e){
            $("#txtSearchMGMT").val('');   
            BindContractUserGrid();
            e.preventDefault();
        }

        function ClearAllFilterMainMGMT(e)
        {
            $("#dropdownFilterProjectName").data("kendoDropDownList").select("-1");
            $('#dropdownLocation').data("kendoDropDownTree").value([]);
            $("#dropdownUSERMGMTName").data("kendoDropDownList").select("-1");
            BindProjectusermappedGrid();
            e.preventDefault();
        }

        function BindRole()
        {
            $("#ddlRole").kendoDropDownList({
                filter: "startswith",
                autoClose: false,
                autoWidth: true,
                dataTextField: "Name",
                dataValueField: "ID",
                optionLabel: "Select Role",
                change: function (e) {
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/BindRole',
                            dataType: "json",
                        }
                    }
                }
            });
        }

        $(document).on("click", "#gridUser tbody tr .ob-Enable", function (e) {
            var item = $("#gridUser").data("kendoGrid").dataItem($(this).closest("tr"));

            var UID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID;
            var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;
            var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';
            $.ajax({
                type: "GET",
                url: apiUrl + '/VendorUpdate/EnableUser',
                data: {
                    UserId: UID, CustomerID: CID,
                    UID: item.ID
                },
                success: function (response) {
                    if (response == "Success")
                    {
                        alert("Record Active Successfully");
                        BindUserGrid();
                        $("#txtSearch").val('');
                        $("#ddlRoleFilter").data("kendoDropDownTree").value([]);
                    }
                    else {
                        alert("Error");
                    }
                }
            });

            return true;

        });
        $(document).on("click", "#gridUser tbody tr .ob-lock", function (e) {
            var item = $("#gridUser").data("kendoGrid").dataItem($(this).closest("tr"));

            var UID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID;
            var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;
            var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';
            $.ajax({
                type: "GET",
                url: apiUrl + '/VendorUpdate/UnlockUser',
                data: {
                    UserId: UID, CustomerID: CID,
                    UID: item.ID
                },
                success: function (response) {
                    if (response == "Success")
                    {
                        alert("Record unlocked successfully.");
                        BindUserGrid();
                        $("#txtSearch").val('');
                        $("#ddlRoleFilter").data("kendoDropDownTree").value([]);
                    }
                    else {
                        alert("Error");
                    }
                }
            });

            return true;
        });
        $(document).on("click", "#gridUser tbody tr .ob-Delete", function (e) {
            var item = $("#gridUser").data("kendoGrid").dataItem($(this).closest("tr"));

            var UID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID;
            var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;
            var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';
            $.ajax({
                type: "GET",
                url: apiUrl + '/VendorUpdate/DeleteUser',
                data: {
                    UserId: UID, CustomerID: CID,
                    UID: item.ID
                },
                success: function (response) {
                    if (response == "Success")
                    {
                        alert("Record Inactive Successfully");
                        BindUserGrid();
                        $("#txtSearch").val('');
                        $("#ddlRoleFilter").data("kendoDropDownTree").value([]);
                    }
                    else {
                        alert("Error");
                    }
                }
            });

            return true;
        });
        $(document).on("click", "#gridUser tbody tr .ob-Edit", function (e) {
            var item = $("#gridUser").data("kendoGrid").dataItem($(this).closest("tr"));
            BindRole();
            $("#ddlRole").data("kendoDropDownList").value(item.RoleID);
            $("#txtClientID1").val(item.ID);
            $("#txtName").val(item.FirstName);
            $("#txtLastName").val(item.LastName);
            $("#txtEmail").val(item.Email);
            $("#txtContact").val(item.ContactNumber);
            OpenUserPopup();
            return true;
        });

        function OpenMGMTUserPopup() {
            $("#NewMGMTUserModal").kendoWindow({
                modal: true,
                pinned: true,
                width: "90%",
                height: "90%",
                title: "Management Assignment",
                visible: false,
                draggable: false,
                refresh: true,
                actions: [
                    "Close"
                ]

            }).data("kendoWindow").open().center();
            BindProjectusermappedGrid();
            BindLocation();
            bindprojectdetailsmgmt();
            bindUserdetailsmgmt();
        }

        function OpenContractorVendorUserPopup() {
            $("#NewContractorVendorUserModal").kendoWindow({
                modal: true,
                pinned: true,
                width: "90%",
                height: "90%",
                title: "Contractor User",
                visible: false,
                draggable: false,
                refresh: true,
                actions: [
                    "Close"
                ]

            }).data("kendoWindow").open().center();
        }
        function OpenUserPopup() {
            $("#NewUserModal").kendoWindow({
                modal: true,
                pinned: true,
                width: "70%",
                height: "25%",
                title: "User Master",
                visible: false,
                draggable: false,
                refresh: true,
                resizable:false,
                actions: [
                    "Close"
                ]

            }).data("kendoWindow").open().center();
        }

        function ClearControls() {
            $("#txtClientID1").val("0");
            $("#txtName").val("");
            $("#txtLastName").val("");
            $("#txtEmail").val("");
            $("#txtContact").val("");
            //$("#ddlRole").val("Select Role");
            $("#ddlRole").data("kendoDropDownList").value("-1");
            $("#txtSearch").val('');
            $("#ddlRoleFilter").data("kendoDropDownTree").value([]);
        }
        function bindprojectdetails()
        {
            debugger;
            var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;
            var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';

            var Locationdetails = [];
            if ($("#drpProjectLocation").data("kendoDropDownTree") != undefined) {
                var list1 = $("#drpProjectLocation").data("kendoDropDownTree")._values;

                $.each(list1, function (i, v) {
                    Locationdetails.push(v);
                });
            }

            if ($('#dropdownProjectName').data('kendoDropDownTree'))
            {
                $('#dropdownProjectName').data('kendoDropDownTree').destroy();
                $('#divBranchesProj').empty();
                $('#divBranchesProj').append('<label class="MainWrapper" style="width:34%">Project<span style="color: red;">*</span></label><input id="dropdownProjectName" style="width: 54%;" />');
            }

            $("#dropdownProjectName").kendoDropDownTree({
                placeholder: "Select Project",
                filter: "startswith",
                autoClose: false,
                autoWidth: true,
                checkboxes: true,
                checkAll: true,
                tagMode:true,
                dataTextField: "Name",
                dataValueField: "ID",
                optionLabel: "Select Project",
                checkAllTemplate: "Select All",
                change: function (e) {
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/ProjectMasterFilterRecord?CID=' + CID + '&LocationIDs=' + JSON.stringify(Locationdetails),
                            dataType: "json",
                        }}
                }
            });
        }
        function BinddropdownMGMT()
        {
            var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;
            var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';

            if ($('#dropdownMGMT').data('kendoDropDownTree'))
            {
                $('#dropdownMGMT').data('kendoDropDownTree').destroy();
                $('#divMGMT').empty();
                $('#divMGMT').append('<label class="MainWrapper" style="width:34%">User<span style="color: red;">*</span></label><input id="dropdownMGMT" style="width: 54%;" />');
            }


            $("#dropdownMGMT").kendoDropDownTree({
                placeholder: "Select User",
                filter: "startswith",
                checkAllTemplate: "Select All",
                autoClose: false,
                checkboxes: true,
                checkAll: true,
                tagMode:true,
                autoWidth: true,
                dataTextField: "UserName",
                dataValueField: "ID",
                optionLabel: "Select Management",
                change: function (e)
                {
                   
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/BindMGMTUser?CID=' + CID,
                            dataType: "json",
                        }}
                }
            });

        }
        function bindUserdetailsmgmt()
        {
            var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;
            var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';


            $("#dropdownUSERMGMTName").kendoDropDownList({
                filter: "startswith",
                autoClose: false,
                autoWidth: true,
                dataTextField: "UName",
                dataValueField: "UID",
                optionLabel: "Select User",
                change: function (e) {
                    MGMTBindFilter();
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/GetProjectMGMTMappedUSerList?CustID=' + CID,
                            dataType: "json",
                        }}
                }
            });
        }
        function bindprojectdetailsmgmt()
        {
            var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;
            var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';


            $("#dropdownFilterProjectName").kendoDropDownList({
                filter: "startswith",
                autoClose: false,
                autoWidth: true,
                dataTextField: "Name",
                dataValueField: "ID",
                checkAllTemplate: "Select All",
                optionLabel: "Select Project",
                change: function (e) {
                    MGMTBindFilter();
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/ProjectMaster?CID=' + CID,
                            dataType: "json",
                        }}
                }
            });
        }
        function BindLocation()
        {
            var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;
            var UserID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID;
            var Role = '@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role';
            var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';
            var Authorization ='@com.VirtuosoITech.ComplianceManagement.Business.ComplianceManagement.getToken(Convert.ToString(35))'

            $("#dropdownLocation").kendoDropDownTree({
                placeholder: "Entity/Sub-Entity/Location",
                //checkAll: true,
                autoWidth: true,
                checkAllTemplate: "Select All",
                dataTextField: "Name",
                dataValueField: "ID",
                change: function (e) {
                    MGMTBindFilter();
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/GetLocationList?customerId=' + CID,
                            dataType: "json",
                        }
                    },
                    schema: {
                        data: function (response) {
                            return response[0].locationList;
                        },
                        model: {
                            children: "Children"
                        }
                    }
                }
            });
        }
        function BindLocationfilter()
        {
            if ($('#drpProjectLocation').data('kendoDropDownTree'))
            {
                $('#drpProjectLocation').data('kendoDropDownTree').destroy();
                $('#divlocationProj').empty();
                $('#divlocationProj').append('<label class="MainWrapper" style="width:34%">Location<span style="color: red;">*</span></label><input id="drpProjectLocation" style="width: 54%;" />');
            }

            $("#drpProjectLocation").kendoDropDownTree({
                placeholder: "Select Location",
                //filter: "contains",
                checkAll: true,
                checkboxes: {
                    checkChildren: true
                },
                tagMode:true,
                autoClose: false,
                checkAllTemplate: "Select All",
                autoWidth: true,
                dataTextField: "Name",
                dataValueField: "ID",
                change: function (e) {
                    bindprojectdetails();
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/GetLocationList?customerId=' + CID,
                            dataType: "json",
                        }
                    },
                    schema: {
                        data: function (response) {
                            return response[0].locationList;
                        },
                        model: {
                            children: "Children"
                        }
                    }
                }
            });
        }
        function SignMeUpType()
        {
            $("#txtTypeID").val("0");
            $("#txtTypeName").val("");
            OpenAddContTractorTypePopup();
        }
        function OpenAddContTractorTypePopup() {
            $("#NewContractorTypeModal").kendoWindow({
                modal: true,
                pinned: true,
                width: "40%",
                height: "15%",
                title: "Contrator Type Master",
                visible: false,
                draggable: false,
                refresh: true,
                actions: [
                    "Close"
                ], close: closecontractype

            }).data("kendoWindow").open().center();
        }

        function closecontractype(){           
            BindContractType();
        }
    </script>
</head>
<body>
    <div>
        <div class="row Dashboard-white-widget">
            <div class="margin-6">
                <input id="ddlRoleFilter" data-placeholder="Role" style="width: 20%; margin-right: 0.5%;" />
                <input id="txtSearch" class="k-textbox" placeholder="Search" style="width: 20%; margin-right: 0.5%;" />
                <button id="ClearfilterMain" class="k-button" style="height: 30px;" onclick="ClearAllFilterMain(event)"><span class="k-icon k-i-filter-clear" onclick="javascript:return false;"></span>Clear</button>
                <button id="btnNewMGMTAssignment" type="button" class="k-button" style="float:right;">Management Assignment</button>
                <button id="btnNewcontractorVendor" type="button" class="k-button" style="float:right; margin-right: 0.5%;">View Contactor User</button>
                <button id="btnNew" type="button" class="k-button" style="float:right;margin-right: 0.5%;"><span><i class="fa fa-plus"></i></span>Add</button>
                <button id="btnUpload" class="k-button k-btnUpload" onclick="return OpenUploadPopup()" style="float: right;margin-right:0.5%">
                    <span class="k-icon k-i-upload"></span>Upload
                </button>
            </div>
            <div class="margin-6" style="font-size: 12px;display: none;font-weight: bold;color: #666;" id="filtersProject">&nbsp;</div>
            <div class="margin-6" style="font-size: 12px;display: none;font-weight: bold;color: #666;" id="filterRole">&nbsp;</div>

            <div class="margin-6">
                <div id="gridUser"></div>
            </div>
        </div>
        <div id="NewContractorTypeModal" style="display:none">
            <div class="col-md-11" style="margin-bottom:10px;">
                <label class="MainWrapper" style="width:40%">Contractor Type<span style="color: red;">*</span></label>
                <input id="txtTypeName" required="required" placeholder="Contractor Type" class="k-textbox" style="width: 40%;" />
                <input type="text" id="txtTypeID" class="form-control" style="display:none;" />
            </div>
            <div class="row" style="text-align: center;">
                <button id="btnSavecontracttype" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>

        <div id="NewUserModal" style="display:none;">
            <input type="text" id="txtClientID1" class="form-control" readonly="readonly" style="display:none" />
            <div class="col-md-11" style="margin-bottom:1%">
                <label class="MainWrapper">First Name<span style="color: red;">*</span></label>
                <input id="txtName" class="k-textbox" placeholder="First Name" style="width: 25%;float:left;" />
                <label class="InnerMainWrapper">Last Name<span style="color: red;">*</span></label>
                <input id="txtLastName" class="k-textbox" placeholder="Last Name" style="width: 25%;" />
            </div>

            <div class="col-md-11" style="margin-bottom:1%">
                <label class="MainWrapper">Email ID<span style="color: red;">*</span></label>
                <input id="txtEmail" class="k-textbox" placeholder="Email ID" style="width: 25%;float:left;" />
                <label class="InnerMainWrapper">Contact No.<span style="color: red;">*</span></label>
                <input id="txtContact" class="k-textbox" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="Contact No." style="width: 25%;" />
            </div>
            <div class="col-md-11" style="margin-bottom:1%">
                <label class="MainWrapper">Role<span style="color: red;">*</span></label>
                <input id="ddlRole" style="width: 25%;" />
            </div>
            <div style="margin-left: 3.7%;float: left;">
                <p style="color: red;"><strong>Note:</strong> (*) fields are compulsory</p>
            </div>
            <div class="row" style="text-align: center; margin-right: 140px;">
                <button id="btnSave" type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
        <div id="NewContractorEditModal" style="display:none;">

            <div class="col-md-11" style="display:none;">
                <label class="MainWrapper">Client ID<span style="color: red;">*</span></label>
                <input id="txtClientID" class="k-textbox" placeholder="Client ID" style="width: 40%;" />
                <label style="color: black;" id="lblID" class="hidden"></label>
            </div>
            <div class="row">
                <div class="col-md-11" style="margin-bottom:10px;">
                    <label class="MainWrapper">Contractor Name<span style="color: red;">*</span></label>
                    <input id="txtContractor" required="required" placeholder="Contractor Name" class="k-textbox" style="width: 21.4%; float: left;" />

                    <label class="InnerMainWrapper">SPOC Name<span style="color: red;">*</span></label>
                    <input id="txtSpoc" placeholder="SPOC Name" required="required" class="k-textbox" style="width: 21.4%;" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-11" style="margin-bottom:10px;">
                    <label class="MainWrapper">SPOC Email ID<span style="color: red;">*</span></label>
                    <input id="txtSPOCEmail" required="required" placeholder="SPOC Email ID" class="k-textbox" style="width: 21.4%; float: left;" />

                    <label class="InnerMainWrapper">SPOC Contact No.<span style="color: red;">*</span></label>
                    <input id="txtSpocContact" required="required" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="SPOC Contact No." class="k-textbox" style="width: 21.4%;" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-11" style="margin-bottom:10px;">
                    <label class="MainWrapper">Contractor Type<span style="color: red;">*</span></label>
                    <input id="drpContractorType" required="required" style="width: 21.4%; float: left;" />

                    <label class="InnerMainWrapper">Nature Of Work</label>
                    <textarea id="txtNaturOfWork" class="k-textbox" style="width: 21.4%;"></textarea>
                </div>
            </div>
            @*<div class="col-md-11" style="margin-bottom:10px;">
                <label class="MainWrapper" style="width:34%">Contractor Name<span style="color: red;">*</span></label>
                <input id="txtContractor" required="required" placeholder="Contractor Name" class="k-textbox" style="width: 40%;" />
            </div>
            <div class="col-md-11" style="margin-bottom:10px;">
                <label class="MainWrapper" style="width:34%">SPOC Name<span style="color: red;">*</span></label>
                <input id="txtSpoc" placeholder="SPOC Name" class="k-textbox" style="width: 40%;" />
            </div>*@
            @*<div class="col-md-11" style="margin-bottom:10px;">
                <label class="MainWrapper" style="width:34%">SPOC Email ID<span style="color: red;">*</span></label>
                <input id="txtSPOCEmail" required="required" placeholder="SPOC Email ID" class="k-textbox" style="width: 40%;" />
            </div>
            <div class="col-md-11" style="margin-bottom:10px;">
                <label class="MainWrapper" style="width:34%">SPOC Contact No.<span style="color: red;">*</span></label>
                <input id="txtSpocContact" required="required" onkeypress='validate(event)' placeholder="SPOC Contact No." class="k-textbox" style="width: 40%;" />
            </div>*@
            @*<div class="col-md-11" style="margin-bottom:10px;">
                <label class="MainWrapper" style="width:34%">Contractor Type<span style="color: red;">*</span></label>
                <input id="drpContractorType" style="width: 40%;" />
                <label style="float: right;    margin-right: 102px;">
                    <input type="image" name="lnkAddNewCategorizationModal" id="lnkAddNewCategorizationModal"
                           title="" data-toggle="tooltip" data-placement="bottom" src="~/Images/add_icon_new.png"
                           onclick="SignMeUpType();">
                </label>
            </div>
            <div class="col-md-11" style="margin-bottom:10px;">
                <label class="MainWrapper" style="width:34%">Nature Of Work</label>
                <textarea id="txtNaturOfWork" placeholder="Nature of Work" class="k-textbox" style="width: 63%;"></textarea>
            </div>*@
            <br />
            <div style="margin-left: 29px; float: left;">
                <p style="color: red;"><strong>Note:</strong> (*) fields are compulsory</p>
            </div>
            <div class="row" style="text-align: center; margin-right: 140px;">
                <button id="btnSaveContractor" type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
        <div id="NewContractorVendorUserModal" style="display:none;">
            <div class="margin-6" style="margin-left: 0px;">
                <input id="txtSearchMGMT" class="k-textbox" placeholder="Search" style="width: 20%; margin-right: 0.5%;" />
                <button id="ClearfilterMain" class="k-button" style="height: 30px;" onclick="ClearAllFilterContractMain(event)"><span class="k-icon k-i-filter-clear" onclick="javascript:return false;"></span>Clear</button>

                <button id="btnAddCont" type="button" class="k-button" style="float:right;margin-right: 1.5%;"><span><i class="fa fa-plus"></i></span>Add</button> 
            </div>
                <div class="row" style="text-align: right; margin-right: 21px;margin-bottom: 12px;">
                    
                </div>
                <div class="row" style="margin-right: 21px;">
                    <div id="gridUser1"></div>
                </div>
            </div>
        <div id="NewMGMTUserModal" style="display:none;">
            <div class="margin-6" style="margin-left: 0px;">
                <input id="dropdownLocation" style="width: 20%; margin-right: 0.5%;" />
                <input id="dropdownFilterProjectName" style="width: 20%; margin-right: 0.5%;" />
                <input id="dropdownUSERMGMTName" style="width: 20%; margin-right: 0.5%;" />
                <button id="ClearfilterMainMGMT" class="k-button" style="height: 30px;" onclick="ClearAllFilterMainMGMT(event)"><span class="k-icon k-i-filter-clear" onclick="javascript:return false;"></span>Clear</button>
                <button id="btnAddAssignment" type="button" class="k-button" style="float:right;margin-right: 1.5%;"><span><i class="fa fa-plus"></i></span>Add</button>
            </div>
                <div class="row" style="margin-right: 21px;">
                    <div id="gridmaaped1"></div>
                </div>
            </div>

        <div id="NewassigmentEditModal" style="display:none;">
            <div class="col-md-11" id="divlocationProj" style="margin-bottom:10px;">
                <label class="MainWrapper" style="width:34%">Location<span style="color: red;">*</span></label>
                <input id="drpProjectLocation" style="width: 54%;" />
            </div>
            <div class="col-md-11" id="divBranchesProj" style="margin-bottom:10px;">
                <label class="MainWrapper" style="width:34%">Project<span style="color: red;">*</span></label>
                <input id="dropdownProjectName" style="width: 54%;" />
            </div>
            <div class="col-md-11" id="divMGMT" style="margin-bottom:10px;">
                <label class="MainWrapper" style="width:34%">User<span style="color: red;">*</span></label>
                <input id="dropdownMGMT" style="width: 54%;" />
            </div>
            <div class="row" style="text-align: center; margin-right: 140px;">
                <button id="btnmgmtAssigment" type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>

        <div id="divUploadUserDetails" style="display: none">
            <div class="chart-loading" id="loader"></div>
            <div class="container-fluid" style="margin-top:30px">
                <div class="row" style="margin-top:10px">

                    <div id="FileSuccess" class="col-md-5 col-xs-5">
                        <p id="para" style="color:red; display:none">File Uploaded Successfully</p>
                    </div>
                    <div class="col-md-5 col-xs-5">
                        <a href="~/Areas/VendorAuditManagement/SampleDocuments/UserMaster.xlsx" style="color: blue" class="fa fa-file-excel-o" id="btnSample">Sample Document</a>
                    </div>
                    <div class="col-md-2 col-xs-2"></div>

                </div>

                <div class="row" style="margin-top:30px">

                    <div class="col-md-4 col-xs-4">
                        <input id="fileinput" type="file" name="fileUpload" /><br />
                    </div>
                    <div class="col-md-4 col-xs-4" style="float:right">
                        <button type="submit" id="btnFileUpload" class="btn btn-primary">Upload</button>
                        <br />
                    </div>
                    <div class="col-md-1 col-xs-1">
                        <img id="upload-loader" style="visibility:hidden;  height:40px; width:40px" src="~/assets/loader.gif" />
                    </div>
                    <div class="col-md-3 col-xs-3">
                    </div>

                </div>
                <div class="row">
                    <div id="filedownload" style="visibility:hidden" class="alert alert-danger">
                        <a id="errorLink" href="" style="color: red" class="fa fa-file-text-o">Download Error File</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>