﻿
@{
    ViewBag.Title = "VendorDynamic";
    Layout = "~/Areas/VendorAuditManagement/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        .k-list > .k-state-focused.k-state-selected, .k-listview > .k-state-focused.k-state-selected, .k-state-focused.k-state-selected, td.k-state-focused.k-state-selected {
            -webkit-box-shadow: inset 0 0 3px 1px #14699f;
            box-shadow: inset 0 0 1px 1px #14699f;
        }

        .k-grid-header th.k-state-focused, .k-list > .k-state-focused, .k-listview > .k-state-focused, .k-state-focused, td.k-state-focused {
            -webkit-box-shadow: inset 0 0 3px 1px #d7dae0;
            box-shadow: inset 0 0 1px 1px white;
        }

        .div.k-grid-footer, div.k-grid-header {
            border-top-width: 1px;
            margin-right: 0px;
        }

        .k-grid-footer-wrap, .k-grid-header-wrap {
            position: relative;
            width: 100%;
            overflow: hidden;
            border-style: solid;
            border-width: 0 1px 0 0;
            zoom: 1;
        }

        .k-grid-content {
            min-height: 380px !important;
            overflow: hidden;
        }

        .MainWrapper {
            width: 18.2%;
            display: block;
            float: left;
            color: #212121;
            margin-left: 2.2%;
            margin-top: 4px;
        }

        .InnerMainWrapper {
            width: 18.2%;
            display: block;
            float: left;
            color: #212121;
            margin-left: 6.7%;
            margin-top: 4px;
        }

        html {
            color: #666666;
            font-size: 15px;
            font-weight: normal;
            font-family: 'Roboto',sans-serif;
        }

        .k-checkbox-label, .k-radio-label {
            display: inline;
        }

        .myKendoCustomClass {
            z-index: 999 !important;
        }

        .k-header .k-grid-toolbar {
            background: white;
            float: left;
            width: 100%;
        }

        .k-grid td {
            line-height: 2.0em;
            border-bottom-width: 1px;
            background-color: white;
            border-width: 0 1px 1px 0px;
        }

        .k-i-more-vertical:before {
            content: "\e006";
        }

        .k-grid td.k-state-selected:hover, .k-grid tr.k-state-selected:hover {
            background-color: #1fd9e1;
            background-image: none;
            background-color: white;
        }

        k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list > .k-state-highlight, .k-list > .k-state-selected, .k-marquee-color, .k-panel > .k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-tool.k-state-selected {
            color: #000000;
            border-color: #1fd9e1;
            background-color: white;
        }

        .k-pager-wrap > .k-link > .k-icon {
            margin-top: -2px;
            color: inherit;
        }

        html .k-grid tr:hover {
            background: white;
        }

        html .k-grid tr.k-alt:hover {
            background: white;
        }

        .k-grid tbody .k-button {
            min-width: 30px;
            min-height: 30px;
            background: white;
            border: none;
        }

        .k-button-icontext .k-icon, .k-button-icontext .k-image, .k-button-icontext .k-sprite {
            margin-right: 0px;
            margin-right: 0px;
            margin-left: 0px;
            margin-left: 0px;
        }

        .k-auto-scrollable {
            overflow: hidden;
        }

        .k-grid-header {
            padding-right: 0px !important;
            margin-right: 2px;
        }

        .k-filter-menu .k-button {
            width: 27%;
        }

        .k-label input[type="checkbox"] {
            margin: 0px 5px 0 !important;
        }

        input[type=checkbox], input[type=radio] {
            margin: 4px 4px 0;
            line-height: normal;
        }

        .k-filter-row th, .k-grid-header th.k-header {
            font-size: 15px;
            background: #f8f8f8;
            font-family: 'Roboto',sans-serif;
            color: #2b2b2b;
            font-weight: 400;
        }

        .k-primary {
            border-color: #1fd9e1;
            background-color: #1fd9e1;
        }

        .k-pager-wrap {
            background-color: white;
            color: #2b2b2b;
        }

        td.k-command-cell {
            border-width: 0 0px 1px 0px;
            text-align: center;
        }

        .k-grid-pager {
            margin-top: -1px;
        }

        span.k-icon.k-i-calendar {
            margin-top: 6px;
        }

        .col-md-2 {
            width: 20%;
        }

        .k-filter-row th, .k-grid-header th.k-header {
            border-width: 0px 0px 1px 0px;
            background: #E9EAEA;
            font-weight: bold;
            margin-right: 18px;
            font-family: 'Roboto',sans-serif;
            font-size: 15px;
            color: rgba(0, 0, 0, 0.5);
            height: 20px;
            vertical-align: middle;
        }

        .k-dropdown-wrap.k-state-default {
            background-color: white;
        }

        .k-popup.k-calendar-container, .k-popup.k-list-container {
            background-color: white;
        }

        label.k-label {
            font-family: roboto,sans-serif !important;
            color: #515967;
            /* font-stretch: 100%; */
            font-style: normal;
            font-weight: 400;
            min-width: 362px;
            white-space: pre-wrap;
        }

        .k-multicheck-wrap .k-item {
            line-height: 1.2em;
            font-size: 14px;
            margin-bottom: 5px;
        }



        label {
            display: flex;
            margin-bottom: 0px;
        }

        .k-state-default > .k-select {
            border-color: #ceced2;
            margin-top: -4px;
        }

        .k-grid-norecords {
            width: 100%;
            height: 100%;
            text-align: center;
            margin-top: 2%;
        }

        .k-grouping-header {
            font-style: italic;
            background-color: white;
        }

        .k-grid table {
            width: 100.5%;
        }

        .k-active-filter, .k-state-active, .k-state-active:hover {
            background-color: #E9EAEA;
            border-color: #a6a6ad;
            color: #535b6a;
        }

        .k-treeview .k-i-collapse, .k-treeview .k-i-expand, .k-treeview .k-i-minus, .k-treeview .k-i-plus {
            margin-left: -18px;
            cursor: pointer;
        }

        .k-button.k-button-icon .k-icon, .k-grid-filter .k-icon, .k-header .k-icon {
            text-indent: -99999px;
            overflow: hidden;
        }

        .k-header > .k-grid-filter, .k-header > .k-header-column-menu {
            float: right;
            margin: -.5em 0.4em -0.4em 0px;
            padding: .5em .2em .4em;
            position: relative;
            z-index: 1;
            color: inherit;
        }

        .k-multiselect-wrap .k-input {
            /*padding-top:6px;*/
            display: inherit !important;
        }


        .k-filter-menu .k-button {
            width: 27%;
            background-color: #E9EAEA;
            color: black;
            border: 2px solid rgba(0, 0, 0, 0.5);
        }
    </style>
    <script type="text/javascript">

        var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;
        var UserID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID;
        var UID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID;
        var Role = '@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role';
        var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';

        function AjaxCall(url, data, type) {
            return $.ajax({
                url: url,
                type: type ? type : 'GET',
                data: data,
                contentType: 'application/json'
            });
        }


        $(function ()
        {
            fhead('Vendor Data');

            BindPeriod();
            var ddlPeriod = $("#drpPeriod").data("kendoDropDownList");
            ddlPeriod.trigger("change");
            
            BindLocation();
            bindContractordetails()
            BindGrid();

            var projectfilter = [];
            if ($("#dropdownFilterProjectName").data("kendoDropDownTree") != undefined) {
                projectfilter = $("#dropdownFilterProjectName").data("kendoDropDownTree")._values;
            }

            var contractordetails = [];
            if ($("#dropdownContractorName").data("kendoDropDownTree") != undefined) {
                contractordetails = $("#dropdownFilterContractor").data("kendoDropDownTree")._values;
            }

            $('#btnClear').click(function () {
                $("#drpPeriod").data("kendoDropDownList").select(0);
                var Grid = $('#grid').data('kendoGrid');
                Grid.dataSource.filter([]);

            });

            ddlPeriod.value(4);
        });


        function BindPeriod() {
            var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;
            $("#drpPeriod").kendoDropDownList({
                autoClose: true,
                autoWidth: true,
                height: "auto",
                dataTextField: "text",
                dataValueField: "value",
                change: function (e) {

                    BindGrid();

                    var grid = $("#grid").data("kendoGrid");

                    var columns = grid.getOptions().columns;
                    var currentMonth = (new Date).getMonth();
                    //alert(currentMonth);
                    const today = new Date()
                    var currentYear = today.getFullYear();
                    var nextYear = today.getFullYear() + 1;
                    var selected_option = ($.trim($("#drpPeriod").data("kendoDropDownList").text()));
                    if(today.toLocaleString('default', { month: 'long' }) && (selected_option.indexOf(currentYear) >= 0 && selected_option.indexOf(nextYear) >= 0 ))
                    {
                        
                        $.each(columns , function (index, value){
                            //alert(index)
                            if(index + 3 < currentMonth)
                            {
                                grid.hideColumn(index + 3);
                            }
                            else
                            {
                                
                                    grid.showColumn(index + 3);
                                
                            }
                        });
                    }
                    //else
                    //{
                    //    $.each(columns , function (index, value){
                    //        if(index + 3 > currentMonth)
                    //        {
                    //            grid.showColumn(index + 3);
                    //        }
                    //    });
                    //}

                },
                dataSource: [
                    { text: "2021-2022", value: "4" },
                    { text: "2020-2021", value: "3" },
                    { text: "2019-2020", value: "2" },
                    { text: "2018-2019", value: "1" },
                ]
            });
        }

        function BindLocation()
        {
            var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;
            
            $("#dropdownFilterProjectName").kendoDropDownTree({
                placeholder: "Select Project",
                filter: "contains",
                checkboxes: true,
                checkAll: true,
                autoClose: false,
                checkAllTemplate: "Select All",
                autoWidth: true,
                dataTextField: "Name",
                dataValueField: "ID",
                tagMode: true,
                change: function (e) {

                    //fCreateStoryBoardCM('dropdownFilterProjectName', 'filtersProject', 'project');
                    //bindallContractorData($("#dropdownContractorName").val());
                    FilterAll();
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/ProjectMaster?CID=' + CID,
                            dataType: "json",
                        }
                    }
                }
            });


            $("#dropdownContractorName").kendoDropDownTree({
                placeholder: "Select Contractor",
                filter: "contains",
                checkboxes: true,
                checkAll: true,
                autoClose: false,
                checkAllTemplate: "Select All",
                autoWidth: true,
                dataTextField: "ContractorName",
                dataValueField: "ID",
                tagMode: true,
                change: function (e) {

                    fCreateStoryBoardCM('dropdownFilterContractor', 'filtersContracor', 'contractor');
                    //bindallContractorData($("#dropdownContractorName").val());
                    FilterAll();
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/GetContractMaster?CID=' + CID,
                            dataType: "json",
                        }}
                }
            });

        }
        

        var finalSelectedfilter = { logic: "and", filters: [] };

        function FilterAll() {
           debugger



            var projectdetails = [];
            if ($("#dropdownFilterProjectName").data("kendoDropDownTree") != undefined) {
                projectdetails = $("#dropdownFilterProjectName").data("kendoDropDownTree")._values;
            }


            var contractordetails = [];
            if ($("#dropdownContractorName").data("kendoDropDownTree") != undefined) {
                contractordetails = $("#dropdownContractorName").data("kendoDropDownTree")._values;
            }


            var finalSelectedfilter = { logic: "and", filters: [] };

            if (projectdetails.length > 0 || contractordetails.length > 0) {

                

                if (projectdetails.length > 0) {
                    var ProjectFilter = { logic: "or", filters: [] };

                    $.each(projectdetails, function (i, v) {
                        ProjectFilter.filters.push({
                            field: "ProjectID", operator: "eq", value: v
                        });
                    });

                    finalSelectedfilter.filters.push(ProjectFilter);
                }

                if (contractordetails.length > 0) {
                    var ContractorFilter = { logic: "or", filters: [] };

                    $.each(contractordetails, function (i, v) {
                        ContractorFilter.filters.push({
                            field: "ContractorID", operator: "eq", value: v
                        });
                    });

                    finalSelectedfilter.filters.push(ContractorFilter);
                }

                
                if (finalSelectedfilter.filters.length > 0) {
                    var dataSource = $("#grid").data("kendoGrid").dataSource;
                    dataSource.filter(finalSelectedfilter);
                }
                else {
                    $("#grid").data("kendoGrid").dataSource.filter({});
                }
            }
            else {
                $("#grid").data("kendoGrid").dataSource.filter({});
            }
        }

        function fcloseStory(obj) {
            var DataId = $(obj).attr('data-Id');
            var dataKId = $(obj).attr('data-K-Id');
            var seq = $(obj).attr('data-seq');
            var deepspan = $('#' + DataId + ' > li > span > span.k-i-close')[seq];
            $(deepspan).trigger('click');
            var upperli = $('#' + dataKId);
            $(upperli).remove();

            fCreateStoryBoardCM('dropdownFilterProjectName', 'filtersProject', 'project');
            fCreateStoryBoardCM('dropdownFilterContractor', 'filterContractor', 'contractor');
        }

        function fCreateStoryBoardCM(Id, div, filtername) {

            var IdKReset = $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).attr('id');
            $('#' + div).html('');
            $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).css('height', '0px');
            $('#' + div).css('display', 'block');

            if (div == 'filtersProject') {
                $('#' + div).append('Project&nbsp;&nbsp;:');
            }
            else if (div == 'filtersContracor') {
                $('#' + div).append('State&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:');//Dashboard
            }

            for (var i = 0; i < $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).find('.k-button').length; i++) {
                var button = $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).find('.k-button')[i];
                $(button).css('display', 'none');
                $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).attr('placeholder', 'Shree');
                var buttontest = $($(button).find('span')[0]).text();
                $('#' + div).append('<li class="k-button " unselectable="on" Id="ddl' + filtername + [i] + '" role="option" style="background-color:#EBEBEB;height: 20px;Color:Gray;margin-left:5px;margin-bottom: 4px;"><span unselectable="on" title="' + $($(button).find('span')[0]).text() + '">' + buttontest + '</span><span data-K-Id="ddl' + filtername + [i] + '" data-Id="' + IdKReset + '" data-seq="' + i + '" onclick="fcloseStory(this)" title="Clear" aria-label="Clear" class="k-select" style="padding-left: 6px;"><span data-Id="' + IdKReset + '" data-seq="' + i + '"  onclick="fcloseStory(this)"  class="k-icon k-i-close" title="Clear" aria-label="Clear" style="font-size: 12px;"></span></span></li>');
            }

            if ($($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).find('.k-button').length == 0) {
                $('#' + div).css('display', 'none');
                $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).css('height', '0px');

            }
        }


        function BindGrid() {
            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: apiUrl + '/VendorUpdate/GetAllContractorProject?UID=' + UID + '&CID=' + CID + '&Role=' + Role + '&Period=' + $.trim($("#drpPeriod").data("kendoDropDownList").text()),
                    //url: apiUrl + '/VendorAudit/CreateContractorLicense?CustID=' + CID + '&UserID=' + UID + '&LocationIDs=' + locationdetails,
                },
                pageSize: 10
            });

            var gridexist = $('#grid').data("kendoGrid");
            if (gridexist != undefined || gridexist != null)
                $('#grid').empty();

            $("#grid").kendoGrid({
                dataSource: dataSource,
                sortable: true,
                //groupable: true,
                filterable: true,
                columnMenu: {
                    columns: false
                },
                noRecords: true,
                messages: {
                    noRecords: "No records found"
                },
                reorderable: true,
                resizable: true,
                multi: true,
                selectable: true,
                //dataBound: OnGridDataBound,
                pageable: {
                    numeric: true,
                    pageSizes: ['All', 5, 10, 20],
                    pageSize: 10,
                    buttonCount: 3,
                },
                columns: [
                {
                    field: "ContractProjMappingID",
                    filterable: false,
                    hidden: true,
                },
                //{
                //    field: "ProjectID",
                //    filterable: false,
                //    hidden: true,
                //},
                //{
                //    field: "ContractorID",
                //    filterable: false,
                //    hidden: true,
                //},
                    {
                        field: "ContractorName",
                        title : "Contractor",
                        sortable: true,
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },

                    {
                        field: "ProjectName",
                        title : "Project",
                        sortable: true,
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                {
                    field: "Apr",
                    //sortable: true,
                    //attributes: {
                    //    style: 'white-space: nowrap;'

                    //}, filterable: {
                    //    multi: true,
                    //    extra: false,
                    //    search: true,
                    //    operators: {
                    //        string: {
                    //            eq: "Is equal to",
                    //            neq: "Is not equal to",
                    //            contains: "Contains"
                    //        }
                    //    }
                    //}
                },
                {
                    field: "May",
                    //attributes: {
                    //    style: 'white-space: nowrap;'

                    //}, filterable: {
                    //    multi: true,
                    //    extra: false,
                    //    search: true,
                    //    operators: {
                    //        string: {
                    //            eq: "Is equal to",
                    //            neq: "Is not equal to",
                    //            contains: "Contains"
                    //        }
                    //    }
                    //},
                    //sortable: true
                },
                {
                    field: "Jun",
                    //attributes: {
                    //    style: 'white-space: nowrap;'

                    //}, filterable: {
                    //    multi: true,
                    //    extra: false,
                    //    search: true,
                    //    operators: {
                    //        string: {
                    //            eq: "Is equal to",
                    //            neq: "Is not equal to",
                    //            contains: "Contains"
                    //        }
                    //    }
                    //},
                    //sortable: true
                },
                {
                    field: "Jul",
                    //attributes: {
                    //    style: 'white-space: nowrap;'

                    //}, filterable: {
                    //    multi: true,
                    //    extra: false,
                    //    search: true,
                    //    operators: {
                    //        string: {
                    //            eq: "Is equal to",
                    //            neq: "Is not equal to",
                    //            contains: "Contains"
                    //        }
                    //    }
                    //},
                    //sortable: true
                },
                {
                    field: "Aug",
                    //attributes: {
                    //    style: 'white-space: nowrap;'

                    //}, filterable: {
                    //    multi: true,
                    //    extra: false,
                    //    search: true,
                    //    operators: {
                    //        string: {
                    //            eq: "Is equal to",
                    //            neq: "Is not equal to",
                    //            contains: "Contains"
                    //        }
                    //    }
                    //},
                    //sortable: true
                },
                {
                    field: "Sep",
                    //attributes: {
                    //    style: 'white-space: nowrap;'

                    //}, filterable: {
                    //    multi: true,
                    //    extra: false,
                    //    search: true,
                    //    operators: {
                    //        string: {
                    //            eq: "Is equal to",
                    //            neq: "Is not equal to",
                    //            contains: "Contains"
                    //        }
                    //    }
                    //},
                    //sortable: true
                },
                {
                    field: "Oct",
                    //attributes: {
                    //    style: 'white-space: nowrap;'

                    //}, filterable: {
                    //    multi: true,
                    //    extra: false,
                    //    search: true,
                    //    operators: {
                    //        string: {
                    //            eq: "Is equal to",
                    //            neq: "Is not equal to",
                    //            contains: "Contains"
                    //        }
                    //    }
                    //},
                    //sortable: true
                },
                {
                    field: "Nov",
                    //attributes: {
                    //    style: 'white-space: nowrap;'

                    //}, filterable: {
                    //    multi: true,
                    //    extra: false,
                    //    search: true,
                    //    operators: {
                    //        string: {
                    //            eq: "Is equal to",
                    //            neq: "Is not equal to",
                    //            contains: "Contains"
                    //        }
                    //    }
                    //},
                    //sortable: true
                },
                {
                    field: "Dec",
                    //attributes: {
                    //    style: 'white-space: nowrap;'

                    //}, filterable: {
                    //    multi: true,
                    //    extra: false,
                    //    search: true,
                    //    operators: {
                    //        string: {
                    //            eq: "Is equal to",
                    //            neq: "Is not equal to",
                    //            contains: "Contains"
                    //        }
                    //    }
                    //},
                    //sortable: true
                },
                {
                    field: "Jan",
                    //attributes: {
                    //    style: 'white-space: nowrap;'

                    //}, filterable: {
                    //    multi: true,
                    //    extra: false,
                    //    search: true,
                    //    operators: {
                    //        string: {
                    //            eq: "Is equal to",
                    //            neq: "Is not equal to",
                    //            contains: "Contains"
                    //        }
                    //    }
                    //},
                    //sortable: true
                },
                {
                    field: "Feb",
                    //attributes: {
                    //    style: 'white-space: nowrap;'

                    //}, filterable: {
                    //    multi: true,
                    //    extra: false,
                    //    search: true,
                    //    operators: {
                    //        string: {
                    //            eq: "Is equal to",
                    //            neq: "Is not equal to",
                    //            contains: "Contains"
                    //        }
                    //    }
                    //},
                    //sortable: true
                },
                {
                    field: "Mar",
                    //attributes: {
                    //    style: 'white-space: nowrap;'

                    //}, filterable: {
                    //    multi: true,
                    //    extra: false,
                    //    search: true,
                    //    operators: {
                    //        string: {
                    //            eq: "Is equal to",
                    //            neq: "Is not equal to",
                    //            contains: "Contains"
                    //        }
                    //    }
                    //},
                    //sortable: true
                },
                //{
                //    command: [
                //        { name: "edit2", text: "", iconClass: "k-icon k-i-edit", className: "ob-Edit" },
                //        { name: "edit2", text: "", iconClass: "k-icon k-i-delete", className: "ob-Disable" },
                //        { name: "edit2", text: "", iconClass: "k-icon k-i-delete", className: "ob-Enable" },
                //        //{ name: "edit2", text: "", iconClass: "k-icon k-i-delete", className: "ob-Delete" }
                //    ], title: "Action", lock: true, width: 150, headerAttributes: {
                //        style: "text-align: center;"
                //    }
                //}
                ]
            });

            $("#grid").kendoTooltip({
                filter: "td",
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    if (content != "") {
                        return '<div style="width: ' + content.length * .6 + 'em; max-width: 20em;white-space: pre-wrap;">' + content + '</div>';
                    }
                    else
                        e.preventDefault();
                }
            }).data("kendoTooltip");

            $("#grid").kendoTooltip({
                filter: "th",
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    if (content != "") {
                        return '<div style="width: ' + content.length * .6 + 'em; max-width: 20em;white-space: pre-wrap;">' + content + '</div>';
                    }
                    else
                        e.preventDefault();
                }
            }).data("kendoTooltip");

            $("#grid").kendoTooltip({
                filter: ".ob-Disable",
                content: function (e) {
                    return "Inactive";
                }
            });

            $("#grid").kendoTooltip({
                filter: ".ob-Delete",
                content: function (e) {
                    return "Delete";
                }
            });

            $("#grid").kendoTooltip({
                filter: ".ob-Edit",
                content: function (e) {
                    return "Edit";
                }
            });

            $("#grid").kendoTooltip({
                filter: ".ob-Enable",
                content: function (e) {
                    return "Active";
                }
            });
            function OnGridDataBound(e) {
                var grid = $("#grid").data("kendoGrid");
                var gridData = grid.dataSource.view();
                for (var i = 0; i < gridData.length; i++) {
                    var currentUid = gridData[i].uid;

                    if (gridData[i].DisableCheck == "Inactive") {
                        var currentRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                        var createUserButton = $(currentRow).find(".ob-Disable");
                        createUserButton.hide();

                        var createUserButton1 = $(currentRow).find(".ob-Edit");
                        createUserButton1.hide();
                    }
                    else {
                        var currentRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                        var createUserButton = $(currentRow).find(".ob-Enable");
                        createUserButton.hide();
                    }
                }
            }
        }

        function showLoading(e)
        {
            var tabstrip = e.sender;

            window.setTimeout(function () {
                kendo.ui.progress(tabstrip.element, true);
            });
        }

        function hideLoading(e)
        {
            var tabstrip = e.sender;

            window.setTimeout(function () {
                kendo.ui.progress(tabstrip.element, false);
            });
        }

        function OpenProjectPopup() {
            $("#NewContractorModal").kendoWindow({
                modal: true,
                pinned: true,
                width: "90%",
                height: "auto",
                position: {
                    top: "5%",
                    left: "5%"
                },
                title: "Add/Edit Project Details",
                visible: false,
                draggable: false,
                refresh: true,
                actions: [
                    "Close"
                ], close: BindGrid

            }).data("kendoWindow").open();
        }



    </script>
</head>
<body>
    <div>
        <div class="row Dashboard-white-widget">
            <div class="margin-6" style="margin-bottom: 8px;">
                <input id="drpPeriod" style="width: 15%;margin-right: 0.5%;" />
                
                <input id="dropdownContractorName" style="width: 25%;margin-right: 0.5%;" />
                <input id="dropdownFilterProjectName" style="width: 25%;margin-right: 0.5%;" />
                <button id="btnClear" type="button" class="k-button"><span class="k-icon k-i-filter-clear" onclick="javascript:return false;"></span>Clear</button>
            </div>

            @*<div class="margin-6" style="font-size: 12px;display: none;font-weight: bold;color: #666;" id="filterLocation">&nbsp;</div>*@

            <div class="margin-6">
                <div id="grid"></div>
            </div>
        </div>


    </div>

</body>
</html>

