﻿
@{
    ViewBag.Title = "VendorAuditStatusReport";
    Layout = "~/Areas/VendorAuditManagement/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
    <style type="text/css">
        .k-list > .k-state-focused.k-state-selected, .k-listview > .k-state-focused.k-state-selected, .k-state-focused.k-state-selected, td.k-state-focused.k-state-selected {
            -webkit-box-shadow: inset 0 0 3px 1px #14699f;
            box-shadow: inset 0 0 1px 1px #14699f;
        }

        .k-grid-header th.k-state-focused, .k-list > .k-state-focused, .k-listview > .k-state-focused, .k-state-focused, td.k-state-focused {
            -webkit-box-shadow: inset 0 0 3px 1px #d7dae0;
            box-shadow: inset 0 0 1px 1px white;
        }

        .div.k-grid-footer, div.k-grid-header {
            border-top-width: 1px;
            margin-right: 0px;
        }

        .k-grid-footer-wrap, .k-grid-header-wrap {
            position: relative;
            width: 100%;
            overflow: hidden;
            border-style: solid;
            border-width: 0 1px 0 0;
            zoom: 1;
        }

        .k-grid-content {
            min-height: 200px !important;
            overflow: hidden;
        }

        html {
            color: #666666;
            font-size: 15px;
            font-weight: normal;
            font-family: 'Roboto',sans-serif;
        }

        .k-checkbox-label, .k-radio-label {
            display: inline;
        }

        .myKendoCustomClass {
            z-index: 999 !important;
        }

        .k-header .k-grid-toolbar {
            background: white;
            float: left;
            width: 100%;
        }

        .k-grid td {
            line-height: 2.0em;
            border-bottom-width: 1px;
            background-color: white;
            border-width: 0 1px 1px 0px;
        }

        .k-i-more-vertical:before {
            content: "\e006";
        }

        .k-grid td.k-state-selected:hover, .k-grid tr.k-state-selected:hover {
            background-color: #1fd9e1;
            background-image: none;
            background-color: white;
        }

        k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list > .k-state-highlight, .k-list > .k-state-selected, .k-marquee-color, .k-panel > .k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-tool.k-state-selected {
            color: #000000;
            border-color: #1fd9e1;
            background-color: white;
        }

        .k-pager-wrap > .k-link > .k-icon {
            margin-top: -2px;
            color: inherit;
        }

        html .k-grid tr:hover {
            background: white;
        }

        html .k-grid tr.k-alt:hover {
            background: white;
        }

        .k-grid tbody .k-button {
            min-width: 30px;
            min-height: 30px;
            background: white;
            border: none;
        }

        .k-button-icontext .k-icon, .k-button-icontext .k-image, .k-button-icontext .k-sprite {
            margin-right: 0px;
            margin-right: 0px;
            margin-left: 0px;
            margin-left: 0px;
        }

        .k-auto-scrollable {
            overflow: hidden;
        }

        .k-grid-header {
            padding-right: 0px !important;
            margin-right: 2px;
        }

        .k-filter-menu .k-button {
            width: 27%;
        }

        .k-label input[type="checkbox"] {
            margin: 0px 5px 0 !important;
        }

        input[type=checkbox], input[type=radio] {
            margin: 4px 4px 0;
            line-height: normal;
        }

        .k-filter-row th, .k-grid-header th.k-header {
            font-size: 15px;
            background: #f8f8f8;
            font-family: 'Roboto',sans-serif;
            color: #2b2b2b;
            font-weight: 400;
        }

        .k-primary {
            border-color: #1fd9e1;
            background-color: #1fd9e1;
        }

        .k-pager-wrap {
            background-color: white;
            color: #2b2b2b;
        }

        td.k-command-cell {
            border-width: 0 0px 1px 0px;
            text-align: center;
        }

        .k-grid-pager {
            margin-top: -1px;
        }

        span.k-icon.k-i-calendar {
            margin-top: 6px;
        }

        .col-md-2 {
            width: 20%;
        }

        .k-filter-row th, .k-grid-header th.k-header {
            border-width: 0px 0px 1px 0px;
            background: #E9EAEA;
            font-weight: bold;
            margin-right: 18px;
            font-family: 'Roboto',sans-serif;
            font-size: 15px;
            color: rgba(0, 0, 0, 0.5);
            height: 20px;
            vertical-align: middle;
        }

        .k-dropdown-wrap.k-state-default {
            background-color: white;
        }

        .k-popup.k-calendar-container, .k-popup.k-list-container {
            background-color: white;
        }

        label.k-label {
            font-family: roboto,sans-serif !important;
            color: #515967;
            /* font-stretch: 100%; */
            font-style: normal;
            font-weight: 400;
            min-width: 362px;
            white-space: pre-wrap;
        }

        .k-multicheck-wrap .k-item {
            line-height: 1.2em;
            font-size: 14px;
            margin-bottom: 5px;
        }

        label {
            display: flex;
            margin-bottom: 0px;
        }

        .k-state-default > .k-select {
            border-color: #ceced2;
            margin-top: -4px;
        }

        .k-grid-norecords {
            width: 100%;
            height: 100%;
            text-align: center;
            margin-top: 2%;
        }

        .k-grouping-header {
            font-style: italic;
            background-color: white;
        }

        .k-grid table {
            width: 100.5%;
        }

        .k-active-filter, .k-state-active, .k-state-active:hover {
            background-color: #E9EAEA;
            border-color: #a6a6ad;
            color: #535b6a;
        }

        .k-treeview .k-i-collapse, .k-treeview .k-i-expand, .k-treeview .k-i-minus, .k-treeview .k-i-plus {
            margin-left: -18px;
            cursor: pointer;
        }

        .k-button.k-button-icon .k-icon, .k-grid-filter .k-icon, .k-header .k-icon {
            text-indent: -99999px;
            overflow: hidden;
        }

        .k-header > .k-grid-filter, .k-header > .k-header-column-menu {
            float: right;
            margin: -.5em 0.4em -0.4em 0px;
            padding: .5em .2em .4em;
            position: relative;
            z-index: 1;
            color: inherit;
        }

        .k-multiselect-wrap .k-input {
            /*padding-top:6px;*/
            display: inherit !important;
        }

        .k-filter-menu .k-button {
            width: 27%;
            background-color: #E9EAEA;
            color: black;
            border: 2px solid rgba(0, 0, 0, 0.5);
        }

        .componentWraper {
            margin: 18px;
            position: relative;
            border: 1.2px solid #bdbdbd;
            border-radius: 12px;
            padding: 20px;
            margin-top: 8px;
        }

            .componentWraper .componentTitle {
                position: absolute;
                top: -10px;
                background: #fff;
                padding: 0 10px;
                font-weight: 600;
                margin-top: -2px;
                font-size: 17px;
                color: #78909c;
            }

        .MainWrapper {
            width: 20%;
            display: block;
            float: left;
            /*font-size: 13px;*/
            color: #212121;
            margin-left: 2.2%;
        }

        .InnerMainWrapper {
            width: 20%;
            display: block;
            float: left;
            /*font-size: 13px;*/
            color: #212121;
            margin-left: 6.7%;
        }

        label {
            font-family: roboto,sans-serif !important;
            color: #515967;
            font-style: normal;
            font-weight: 400;
            white-space: pre-wrap;
        }

        #griRevDoc .k-grid-content {
            min-height: 80px !important;
        }

        .margin-6 {
            margin: 6px 6px 6px 6px;
        }
    </style>

    <script type="text/javascript">
        var initialLoad = true;
        $(function () {
            $("input").attr("autocomplete", "off");
            setactivemenu('leftAssingmentmenu');
            fhead('My Reports');
            BindGrid();
            BindGridFilters();
        });

        var CID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID;
        var UID = @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID;
        var Role = '@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role';
        var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["KendoPathApp"]';
        var Authorization = '@com.VirtuosoITech.ComplianceManagement.Business.ComplianceManagement.getToken(Convert.ToString(@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID))';

        function BindGrid() {

            var gridexist = $('#grid').data("kendoGrid");
            if (gridexist != undefined || gridexist != null)
                $('#grid').empty();

            $("#grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/GetAuditscheduledList?CustID=' + CID + '&UID=' + UID + '&Role=' + Role,
                        },
                    },
                    pageSize: 10,
                    schema: {
                        model: {
                            id: "ID",
                            fields: {
                                ScheduleOn: { type: "date" },
                            }
                        },
                    },
                },
                sortable: true,
                groupable: true,
                filterable: true,
                columnMenu: true,
                noRecords: true,
                messages: {
                    noRecords: "No records found"
                },
                reorderable: true,
                resizable: true,
                multi: true,
                selectable: true,
                pageable: {
                    numeric: true,
                    pageSizes: ['All', 5, 10, 20],
                    pageSize: 10,
                    buttonCount: 3,
                },
                columns: [
                    {
                        field: "ProjectName", title: 'Project',
                        width: "15%;",
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        field: "ContractorName", title: 'Contractor',
                        width: "15%;",
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        field: "IsSubcontract", title: 'Type',
                        width: "10%",
                        attributes: {
                            style: 'white-space: nowrap;'

                        },
                        filterable: false,
                        sortable: true,
                        template: "#if (IsSubcontract == 0) {# #= 'Contractor' # #} else{# #= 'Sub-Contractor'# #}#",
                    },
                    {
                        field: "FrequencyDetail", title: 'Frequency',
                        width: "12%;",
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        field: "ScheduleOn", title: 'Due Date',
                        type: "date",
                        format: "{0:dd-MMM-yyyy}",
                        filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    type: "date",
                                    format: "{0:dd-MMM-yyyy}",
                                    eq: "is equal to",
                                    neq: "is not equal to",
                                    contains: "contains"
                                }
                            }
                        }, width: "12%"
                    },
                    {
                        field: "ForMonth", title: 'Period',
                        width: "10%;",
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                         field: "Status", title: 'Status',
                         width: "12%;",
                         attributes: {
                             style: 'white-space: nowrap;'

                         }, filterable: {
                             multi: true,
                             extra: false,
                             search: true,
                             operators: {
                                 string: {
                                     eq: "Is equal to",
                                     neq: "Is not equal to",
                                     contains: "Contains"
                                 }
                             }
                         }
                    },
                    {
                        field: "Location", title: 'Location',
                        hidden:true,
                        width: "12%;",
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        field: "StateName", title: 'State',
                        width: "12%;",
                        hidden: true,
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                ]
            });

            $("#grid").kendoTooltip({
                filter: "td",
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    if (content != "") {
                        return '<div style="width: ' + content.length * .6 + 'em; max-width: 20em;white-space: pre-wrap;">' + content + '</div>';
                    }
                    else
                        e.preventDefault();
                }
            }).data("kendoTooltip");

            $("#grid").kendoTooltip({
                filter: "th",
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    if (content != "") {
                        return '<div style="width: ' + content.length * .6 + 'em; max-width: 20em;white-space: pre-wrap;">' + content + '</div>';
                    }
                    else
                        e.preventDefault();
                }
            }).data("kendoTooltip");

            $("#grid").kendoTooltip({
                filter: ".ob-edit",
                content: function (e) {
                    return "Edit";
                }
            });

            $(document).on("click", "#grid tbody tr .ob-edit", function (e) {
                var item = $("#grid").data("kendoGrid").dataItem($(this).closest("tr"));
                window.open("/VendorAuditManagement/VendorAudit/ContractorCompliancePerformer?ContractorProjectMappingID=" + item.ContractorProjectMappingID + '&ScheduleOnID=' + item.ScheduleOnID + '&ProjectName=' + item.ProjectName + '&ForMonth=' + item.ForMonth + '&IsSubcontract=' + item.IsSubcontract + '&SubContractorID=' + item.ContractorID + '&ProjectID=' + item.ProjectID);
                return true;
            });
        }

        function BindGridFilters() {
            $("#drpState").kendoDropDownTree({
                placeholder: "State",
                filter: "contains",
                checkboxes: true,
                checkAll: true,
                autoClose: false,
                checkAllTemplate: "Select All",
                autoWidth: true,
                dataTextField: "Name",
                dataValueField: "ID",
                change: function (e) {
                    fCreateStoryBoardCW('drpState', 'filtersState', 'State');
                    FilterAll();
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/StateMaster',
                            dataType: "json",
                        }
                    }
                }
            });

            $("#drpLocation").kendoDropDownTree({
                placeholder: "Entity/Sub-Entity/Location",
                checkboxes: {
                    checkChildren: true
                },
                autoClose: false,
                checkAll: true,
                autoWidth: true,
                checkAllTemplate: "Select All",
                dataTextField: "Name",
                dataValueField: "ID",
                change: function (e) {
                    fCreateStoryBoardCW('drpLocation', 'filtersLocation', 'location');
                    FilterAll();
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/GetLocationListrolewise?UID=' + UID + '&customerId=' + CID + '&role=' + Role,

                            //url: apiUrl + '/VendorAudit/GetLocationList?customerId=' + CID,
                            dataType: "json",
                        }
                    },
                    schema: {
                        data: function (response) {
                            return response[0].locationList;
                        },
                        model: {
                            children: "Children"
                        }
                    }
                }
            });

            $("#drpProject").kendoDropDownTree({
                placeholder: "Project",
                filter: "contains",
                checkboxes: true,
                checkAll: true,
                autoClose: false,
                checkAllTemplate: "Select All",
                autoWidth: true,
                dataTextField: "Name",
                dataValueField: "Name",
                change: function (e) {
                    fCreateStoryBoardCW('drpProject', 'filtersProject', 'project');
                    FilterAll();
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/ProjectMasterFilterRecordRoleWise?UID=' + UID + '&CID=' + CID + '&LocationIDs=&role='+Role,
                            //url: apiUrl + '/VendorAudit/ProjectMasterFilterRecord?CID=' + CID + '&LocationIDs=',
                            dataType: "json",
                        }
                    }
                }
            });

            $("#drpPeriodWise").kendoDropDownTree({
                placeholder: "Period",
                checkboxes: true,
                checkAll: true,
                autoClose: true,
                checkAllTemplate: "Select All",
                autoWidth: true,
                dataTextField: "ForMonth",
                dataValueField: "ForMonth",
                change: function () {
                    fCreateStoryBoardCW('drpPeriodWise', 'filtersPeriod', 'period');
                    FilterAll();
                },
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: apiUrl + '/VendorAudit/GetAuditscheduledList?CustID=' + CID + '&UID=' + UID + '&Role=' + Role,
                            dataType: "json",
                        }
                    }
                }
            });

            $("#drpFrequency").kendoDropDownTree({
                placeholder: "Frequency",
                filter: "contains",
                checkboxes: true,
                checkAll: true,
                autoClose: false,
                checkAllTemplate: "Select All",
                autoWidth: true,
                dataTextField: "text",
                dataValueField: "value",
                change: function (e) {
                    fCreateStoryBoardCW('drpFrequency', 'filtersFrequency', 'frequency');
                    FilterAll();
                },
                dataSource: [
                    { text: "Monthly", value: "M" },
                    { text: "Quarterly", value: "Q" },
                    { text: "Half Yealry", value: "H" },
                    { text: "Yealry", value: "Y" },
                    { text: "One Time", value: "O" },
                ]
            });

            $("#drpStatus").kendoDropDownTree({
                placeholder: "Status",
                filter: "contains",
                checkboxes: true,
                checkAll: true,
                autoClose: false,
                checkAllTemplate: "Select All",
                autoWidth: true,
                dataTextField: "text",
                dataValueField: "value",
                change: function (e) {
                    fCreateStoryBoardCW('drpStatus', 'filtersStatus', 'status');
                    FilterAll();
                },
                dataSource: [
                    { text: "Upcoming", value: "Upcoming" },
                    { text: "Overdue", value: "Overdue" },
                    { text: "Pending Review", value: "Pending Review" },
                    { text: "Closed", value: "Closed" },
                ]
            });

            $("#Startdatepicker").kendoDatePicker({
                format: "dd-MMM-yyyy",
                change: FilterAll
            });
            $("#Lastdatepicker").kendoDatePicker({
                format: "dd-MMM-yyyy",
                change: FilterAll
            });

            $("#drpContractorType").kendoDropDownTree({
                placeholder: "Contractor Type",
                filter: "contains",
                checkboxes: true,
                checkAll: true,
                autoClose: false,
                checkAllTemplate: "Select All",
                autoWidth: true,
                dataTextField: "text",
                dataValueField: "value",
                change: function (e) {
                    FilterAll();
                    fCreateStoryBoardCW('drpContractorType', 'filterstype', 'type');
                },
                dataSource: [
                    { text: "Contractor", value: "0" },
                    { text: "Sub-Contractor", value: "1" },
                ]
            });
        }

        function FilterAll() {
            var contTypedetails = [];
            if ($("#drpContractorType").data("kendoDropDownTree") != undefined) {
                contTypedetails = $("#drpContractorType").data("kendoDropDownTree")._values;
            }

            var statedetails = [];
            if ($("#drpState").data("kendoDropDownTree") != undefined) {
                statedetails = $("#drpState").data("kendoDropDownTree")._values;
            }

            var locdetails = [];
            if ($("#drpLocation").data("kendoDropDownTree") != undefined) {
                locdetails = $("#drpLocation").data("kendoDropDownTree")._values;
            }

            var projectdetails = [];
            if ($("#drpProject").data("kendoDropDownTree") != undefined) {
                projectdetails = $("#drpProject").data("kendoDropDownTree")._values;
            }

            var perioddetails = [];
            if ($("#drpPeriodWise").data("kendoDropDownTree") != undefined) {
                perioddetails = $("#drpPeriodWise").data("kendoDropDownTree")._values;
            }

            var frequencydetails = [];
            if ($("#drpFrequency").data("kendoDropDownTree") != undefined) {
                frequencydetails = $("#drpFrequency").data("kendoDropDownTree")._values;
            }

            var statusdetails = [];
            if ($("#drpStatus").data("kendoDropDownTree") != undefined) {
                statusdetails = $("#drpStatus").data("kendoDropDownTree")._values;
            }

            var finalSelectedfilter = { logic: "and", filters: [] };

            if (
                statedetails.length > 0 ||
                locdetails.length > 0 ||
                projectdetails.length > 0 ||
                perioddetails.length > 0 ||
                frequencydetails.length > 0 ||
                statusdetails.length > 0 ||
                ($("#Startdatepicker").val() != null && $("#Startdatepicker").val() != "") ||
                ($("#Lastdatepicker").val() != null && $("#Lastdatepicker").val() != "") ||
                contTypedetails.length > 0) {

                if (contTypedetails.length > 0) {
                    var TypeFilter = { logic: "or", filters: [] };

                    $.each(contTypedetails, function (i, v) {
                        TypeFilter.filters.push({
                            field: "IsSubcontract", operator: "eq", value: parseInt(v)
                        });
                    });

                    finalSelectedfilter.filters.push(TypeFilter);
                }

                if ($("#Startdatepicker").val() != null && $("#Startdatepicker").val() != "") {
                    var DateFilter = { logic: "or", filters: [] };
                    DateFilter.filters.push({
                        field: "ScheduleOn", operator: "gte", value: kendo.parseDate($("#Startdatepicker").val(), 'dd-MMM-yyyy')
                    });

                    finalSelectedfilter.filters.push(DateFilter);
                }
                if ($("#Lastdatepicker").val() != null && $("#Lastdatepicker").val() != "") {
                    var DateFilter = { logic: "or", filters: [] };
                    DateFilter.filters.push({
                        field: "ScheduleOn", operator: "lte", value: kendo.parseDate($("#Lastdatepicker").val(), 'dd-MMM-yyyy')
                    });

                    finalSelectedfilter.filters.push(DateFilter);
                }

                if (statedetails.length > 0) {
                    var StateFilter = { logic: "or", filters: [] };

                    $.each(statedetails, function (i, v) {
                        StateFilter.filters.push({
                            field: "StateID", operator: "eq", value: parseInt(v)
                        });
                    });

                    finalSelectedfilter.filters.push(StateFilter);
                }

                if (locdetails.length > 0) {
                    var LocFilter = { logic: "or", filters: [] };

                    $.each(locdetails, function (i, v) {
                        LocFilter.filters.push({
                            field: "LocationID", operator: "eq", value: parseInt(v)
                        });
                    });

                    finalSelectedfilter.filters.push(LocFilter);
                }

                if (projectdetails.length > 0) {
                    var ProjectFilter = { logic: "or", filters: [] };

                    $.each(projectdetails, function (i, v) {
                        ProjectFilter.filters.push({
                            field: "ProjectName", operator: "eq", value: v
                        });
                    });

                    finalSelectedfilter.filters.push(ProjectFilter);
                }

                if (perioddetails.length > 0) {
                    var PeriodFilter = { logic: "or", filters: [] };

                    $.each(perioddetails, function (i, v) {
                        PeriodFilter.filters.push({
                            field: "ForMonth", operator: "contains", value: v
                        });
                    });

                    finalSelectedfilter.filters.push(PeriodFilter);
                }

                if (frequencydetails.length > 0) {
                    var FreqFilter = { logic: "or", filters: [] };

                    $.each(frequencydetails, function (i, v) {
                        FreqFilter.filters.push({
                            field: "FrequencyDetail", operator: "contains", value: v
                        });
                    });

                    finalSelectedfilter.filters.push(FreqFilter);
                }

                if (statusdetails.length > 0) {
                    var statusFilter = { logic: "or", filters: [] };

                    $.each(statusdetails, function (i, v) {
                        statusFilter.filters.push({
                            field: "Status", operator: "contains", value: v
                        });
                    });

                    finalSelectedfilter.filters.push(statusFilter);
                }

                if (finalSelectedfilter.filters.length > 0) {
                    var dataSource = $("#grid").data("kendoGrid").dataSource;
                    dataSource.filter(finalSelectedfilter);
                }
                else {
                    $("#grid").data("kendoGrid").dataSource.filter({});
                }
            }
            else {
                $("#grid").data("kendoGrid").dataSource.filter({});
            }
        }

        function fcloseStory(obj) {
            var DataId = $(obj).attr('data-Id');
            var dataKId = $(obj).attr('data-K-Id');
            var seq = $(obj).attr('data-seq');
            var deepspan = $('#' + DataId + ' > li > span > span.k-i-close')[seq];
            $(deepspan).trigger('click');
            var upperli = $('#' + dataKId);
            $(upperli).remove();

            fCreateStoryBoardCW('drpState', 'filtersState', 'State');
            fCreateStoryBoardCW('drpLocation', 'filtersLocation', 'location');
            fCreateStoryBoardCW('drpProject', 'filtersProject', 'project');
            fCreateStoryBoardCW('drpPeriodWise', 'filtersPeriod', 'period');
            fCreateStoryBoardCW('drpFrequency', 'filtersFrequency', 'frequency');
            fCreateStoryBoardCW('drpStatus', 'filtersStatus', 'status');
            fCreateStoryBoardCW('drpContractorType', 'filterstype', 'type');
        }

        function fCreateStoryBoardCW(Id, div, filtername) {

            var IdKReset = $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).attr('id');
            $('#' + div).html('');
            $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).css('height', '0px');
            $('#' + div).css('display', 'block');

            if (div == 'filtersState') {
                $('#' + div).append('State&nbsp;&nbsp;:');
            }
            else if (div == 'filtersLocation') {
                $('#' + div).append('Location&nbsp;&nbsp;&nbsp;:');//Dashboard
            }
            else if (div == 'filtersProject') {
                $('#' + div).append('Project&nbsp;&nbsp;:');
            }
            else if (div == 'filtersPeriod') {
                $('#' + div).append('Period&nbsp;&nbsp;&nbsp;:');//Dashboard
            }
            else if (div == 'filtersFrequency') {
                $('#' + div).append('Frequency&nbsp;:');//Dashboard
            }
            else if (div == 'filtersStatus') {
                $('#' + div).append('Status&nbsp;&nbsp;&nbsp;:');//Dashboard
            }
            else if (div == 'filterstype') {
                $('#' + div).append('Contractor Type&nbsp;&nbsp;&nbsp;:');//Dashboard
            }

            for (var i = 0; i < $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).find('.k-button').length; i++) {
                var button = $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).find('.k-button')[i];
                $(button).css('display', 'none');
                $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).attr('placeholder', 'Shree');
                var buttontest = $($(button).find('span')[0]).text();
                $('#' + div).append('<li class="k-button " unselectable="on" Id="ddl' + filtername + [i] + '" role="option" style="background-color:#EBEBEB;height: 20px;Color:Gray;margin-left:5px;margin-bottom: 4px;"><span unselectable="on" title="' + $($(button).find('span')[0]).text() + '">' + buttontest + '</span><span data-K-Id="ddl' + filtername + [i] + '" data-Id="' + IdKReset + '" data-seq="' + i + '" onclick="fcloseStory(this)" title="Clear" aria-label="Clear" class="k-select" style="padding-left: 6px;"><span data-Id="' + IdKReset + '" data-seq="' + i + '"  onclick="fcloseStory(this)"  class="k-icon k-i-close" title="Clear" aria-label="Clear" style="font-size: 12px;"></span></span></li>');
            }

            if ($($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).find('.k-button').length == 0) {
                $('#' + div).css('display', 'none');
                $($($('#' + Id).parent('.k-widget.k-dropdowntree.k-dropdowntree-clearable')).find('.k-reset')).css('height', '0px');

            }
        }

        function ClearAllFilterMain(e) {
            $("#drpLocation").data("kendoDropDownTree").value([]);
            $("#drpState").data("kendoDropDownTree").value([]);
            $("#drpProject").data("kendoDropDownTree").value([]);
            $("#drpPeriodWise").data("kendoDropDownTree").value([]);
            $("#drpFrequency").data("kendoDropDownTree").value([]);
            $("#drpStatus").data("kendoDropDownTree").value([]);
            $('#Startdatepicker').val('');
            $('#Lastdatepicker').val('');
            $("#drpContractorType").data("kendoDropDownTree").value([]);
            $("#grid").data("kendoGrid").dataSource.filter({});
            $('#grid').data('kendoGrid').dataSource.read();
            $('#grid').data('kendoGrid').refresh();
            e.preventDefault();
        }

        function exportReport(e) {

            var ReportName = "Audit Compliances Report";
            var customerName = '@com.VirtuosoITech.ComplianceManagement.Business.CustomerManagement.CustomerGetByIDName(Convert.ToInt32(@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID))';
            var todayDate = moment().format('DD-MMM-YYYY');

            var grid = $("#grid").getKendoGrid();
            var rows =
                [
                    {
                        cells: [
                            { value: "Entity/ Location:", bold: true },
                            { value: customerName }
                        ]
                    },
                    {
                        cells: [
                            { value: "Report Name:", bold: true },
                            { value: ReportName }
                        ]
                    },
                    {
                        cells: [
                            { value: "Report Generated On:", bold: true },
                            { value: todayDate }
                        ]
                    },
                    {
                        cells: [
                            { value: "" }
                        ]
                    },
                    {
                        cells: [
                            { value: "Project", bold: true },
                            { value: "State", bold: true },
                            { value: "Location", bold: true },
                            { value: "Contractor", bold: true },
                            { value: "Contractor/SubContractor", bold: true },
                            { value: "Period", bold: true },
                            { value: "Frequency", bold: true },
                            { value: "Status", bold: true },
                            { value: "Completion Status in %", bold: true },
                        ]
                    }
                ];

            var trs = grid.dataSource;
            var filteredDataSource = new kendo.data.DataSource({
                data: trs.data(),
                filter: trs.filter()
            });

            filteredDataSource.read();
            var data = filteredDataSource.view();
            for (var i = 0; i < data.length; i++) {
                var dataItem = data[i];
                var rowHeight = 20;
                var ContractorType = "Contractor";
                if (dataItem.IsSubcontract == 1) {
                    ContractorType = "Sub Contractor";
                }
                rows.push({
                    cells: [
                        { value: dataItem.ProjectName },
                        { value: dataItem.StateName },
                        { value: dataItem.Location },
                        { value: dataItem.ContractorName },
                        { value: ContractorType },
                        { value: dataItem.ForMonth },
                        { value: dataItem.FrequencyDetail },
                        { value: dataItem.Status },
                        { value: dataItem.complitionstatus },
                    ],
                    height: rowHeight
                });
            }
            for (var i = 4; i < rows.length; i++) {
                for (var j = 0; j < 9; j++) {
                    rows[i].cells[j].borderBottom = "#000000";
                    rows[i].cells[j].borderLeft = "#000000";
                    rows[i].cells[j].borderRight = "#000000";
                    rows[i].cells[j].borderTop = "#000000";
                    rows[i].cells[j].hAlign = "left";
                    rows[i].cells[j].vAlign = "top";
                    rows[i].cells[j].wrap = true;
                }
            }
            excelExport(rows, ReportName);

            e.preventDefault();
        }

        function excelExport(rows, ReportName) {

            var FileName = "Audit Compliances Report";
            var workbook = new kendo.ooxml.Workbook({
                sheets: [
                    {
                        columns: [
                            { autoWidth: true },
                            { autoWidth: true },
                            { width: 200 },
                            { width: 150 },
                            { width: 170 },
                            { width: 120 },
                            { width: 120 },
                            { width: 120 },
                            { width: 150 },
                        ],
                        title: FileName,
                        rows: rows
                    },
                ]
            });

            var nameOfPage = FileName;
            kendo.saveAs({ dataURI: workbook.toDataURL(), fileName: nameOfPage + " .xlsx" });
            return false;
        }

    </script>
</head>
<body>
    <div class="row Dashboard-white-widget">
        <div class="margin-6">
            <input id="drpProject" style="width: 15%; margin-right: 0.5%;" />
            <input id="drpPeriodWise" style="width: 18%; margin-right: 0.5%;" />
            <input id="drpLocation" data-placeholder="Location" style="width: 23%; margin-right: 0.5%;" />
            <input id="drpFrequency" style="width: 15%;margin-right: 0.5%;" />
            <input id="Startdatepicker" placeholder="Start Date" cssclass="clsROWgrid" style="width: 12%; margin-right: 0.8%;" />
            <input id="Lastdatepicker" placeholder="End Date" style="width: 12%;" />
        </div>
        <div class="margin-6">
            <input id="drpState" data-placeholder="State" style="width: 15%; margin-right: 0.5%;" />
            <input id="drpStatus" style="width: 18%;margin-right: 0.5%;" />
            <input id="drpContractorType" style="width: 18%;margin-right: 0.5%;" />
            <button id="ClearfilterMain" class="k-button" style="float:right;margin-right: 0.5%;" OnClick="ClearAllFilterMain(event)">Clear Filter</button>
            <button id="btnexport" class="k-button" onclick="exportReport(event)" style="float:right;margin-right: 0.5%;" data-placement="bottom"><span class="k-icon k-i-excel k-grid-edit3"></span>Export</button>
        </div>

        <div class="margin-6" style="font-size: 12px; display: none; font-weight: bold;color: #666" id="filtersState">&nbsp;</div>
        <div class="margin-6" style="font-size: 12px; display: none; font-weight: bold;color: #666" id="filtersLocation">&nbsp;</div>
        <div class="margin-6" style="font-size: 12px; display: none; font-weight: bold;color: #666" id="filtersProject">&nbsp;</div>
        <div class="margin-6" style="font-size: 12px; display: none; font-weight: bold;color: #666" id="filtersPeriod">&nbsp;</div>
        <div class="margin-6" style="font-size: 12px; display: none; font-weight: bold;color: #666" id="filtersFrequency">&nbsp;</div>
        <div class="margin-6" style="font-size: 12px; display: none; font-weight: bold;color: #666" id="filtersStatus">&nbsp;</div>
        <div class="margin-6" style="font-size: 12px; display: none; font-weight: bold;color: #666" id="filterstype">&nbsp;</div>
        <div class="margin-6">
            <div id="grid" style="width:99.3%"></div>
        </div>
    </div>

</body>
</html>

