﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VM_pageAuthentication
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;


@{
    ViewBag.Title = "Page Authorization :: Masters";
}

<style>
    .container {
        /* margin-right: auto; */
        /* margin-left: auto; */
        padding-left: 2px;
        padding-right: 15px;
    }

    html {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }

    @@media screen and (max-width: 600px) {

        #gridKendo > table {
        }
    }

    .k-window div.k-window-content {
        overflow: hidden;
    }

    .k-grid td {
        line-height: 2em;
    }

    .field-validation-error {
        color: #ff0000;
    }

    .k-current-page {
        display: none;
    }

    html .k-upload-empty {
        border-width: 1px;
    }

    .k-edit-form-container {
        position: relative;
        width: 900px;
    }

    .k-grid-edit {
        height: 32px;
        width: 33px;
        padding: 6px 0px 10px 0;
        /*white-space: nowrap;*/
        overflow: hidden;
        /*border-radius: 20px;*/
    }

    .k-grid-delete {
        height: 32px;
        width: 33px;
        padding: 5px 0px 10px 0;
        overflow: hidden;
    }

    .fieldlist {
        margin: 0 0 -2em;
        padding: 0;
    }

        .fieldlist li {
            list-style: none;
            padding-bottom: 2em;
        }

        .fieldlist label {
            display: block;
            padding-bottom: 1em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            color: #444;
        }

    .mt30 {
        margin-top: 18px;
    }

    .k-grid-add {
        float: right;
    }

    .mt2 {
        margin-top: 2%;
    }

    .k-edit-buttons {
        /*width: 1280px;*/
        text-align: center;
    }

    label {
        color: black;
    }

    .ml-mr {
        margin-left: 2%;
    }

    fieldset {
        display: block;
        margin-inline-start: 2px;
        margin-inline-end: 2px;
        padding-block-start: 0.35em;
        padding-inline-start: 0.75em;
        padding-inline-end: 0.75em;
        padding-block-end: 0.625em;
        min-inline-size: min-content;
        border-width: 1px;
        border-style: groove;
        border-color: rgba(128, 128, 128, 0.56);
        border-radius: 11px;
        /*border-color: threedface;
    border-image: initial;*/
    }

    .forTooltips {
        width: 100%;
        height: 100%;
        padding: .929em 1.286em;
    }

    td.overridePadding {
        padding: 0;
    }
</style>
<script>
    function onDataBound() {

        RemoveAlternateRowColor('assetTreeList');

        //var grid = $("#kendoTreeList").data("kendoGrid");
        //var data = grid.dataSource.data();
        //for (var i = 0; i < gridData.length; i++) {
        //    var currentUid = gridData[i].uid;
        //    var chkCanview = $("#chkview"+currentUid);
        //    var chkCanAdd = $("#chkadd"+ currentUid);
        //    var chkCanEdit = $("#chkedit" + currentUid);
        //    var ChkCanDelete = $("#chkdelete" + currentUid);
        //    if (gridData[i].Addview)
        //    {
        //        chkCanAdd.prop('checked', true);
        //    }
        //    else if (gridData[i].Editview)
        //    {
        //        chkCanEdit.prop('checked', true);
        //    }
        //    else if (gridData[i].Pageview)
        //    {
        //        chkCanview.prop('checked', true);
        //    }
        //    else if (gridData[i].ChkCanDelete)
        //    {
        //        ChkCanDelete.prop('checked', true);
        //    }
        //}
    }

    function filterUsers() {
        return {
            Role: $("#RoleId").val(),
            CustomerId: "@AuthenticationHelper.CustomerID",
        };
    }

    function filterUsersdfm() {
        return {
            Role: "@AuthenticationHelper.Role",
            CustomerId: "@AuthenticationHelper.CustomerID",
        };
    }
</script>

<div class="row Dashboard-white-widget">
    <div class="dashboard">
        @*<form id="frmAuth">*@
        <div class="row" id="success">
            <div class="col-md-12">
                <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Saved successfully</strong>
                </div>

            </div>
        </div>

        <div class="row" id="error">
            <div class="col-md-12">
                <div class="alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Server error occured</strong>
                </div>

            </div>
        </div>
      
        <div class="row master-Headre">
            <div class="col-md-12 vertical-center">
@if (AuthenticationHelper.Role != "DADMN" && AuthenticationHelper.Role != "CSMGR" && AuthenticationHelper.Role != "CEXCT")
{
                <div class="col-md-2 colpadding0">
                    @(Html.Kendo().DropDownList()
                    .Name("RoleId")
                    .DataTextField("RoleName")
                    .DataValueField("RoleCode")
                    .Filter("contains")
                    .OptionLabel("Select Role")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Url("/api/UserMasterAPI/GetRoleofsecretarial").Type(HttpVerbs.Get);
                        });
                        //.ServerFiltering(true);
                    }).HtmlAttributes(new { style = "width: 98%", @Id = "RoleId", autocomplete = "off", @onchange = "Checkgrid()" }))

                    @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-3 colpadding0">
                    @(Html.Kendo().DropDownList()
                    .Name("UserId")
                      .DataTextField("Name")
                      .DataValueField("UserID")
                      .Filter(FilterType.Contains)
                      //.Filter("startswith")
                      .OptionLabel("Select User")
                      .DataSource(source =>
                      {
                          source.Read(read =>
                          {
                              read.Url("/api/UserMasterAPI/GetUserRolewise").Data("filterUsers").Type(HttpVerbs.Get);
                          })
                          .ServerFiltering(true);
                      }).Enable(false)
                      .AutoBind(false)
                      .CascadeFrom("RoleId")
                      .HtmlAttributes(new { style = "width: 98%", @Id = "UserId", autocomplete = "off", @onchange = "filterGrid()" }))

                </div>
                }
                else
                {
                <div class="col-md-3 colpadding0">
                    <span style="color:red"></span><label for="txtPartner" class="control-label">User</label>
                    @(Html.Kendo().DropDownList()
                    .Name("UserId")
                      .DataTextField("Name")
                      .DataValueField("UserID")
                      .Filter("contains")
                      .OptionLabel("Select User")
                      .DataSource(source =>
                      {
                          source.Read(read =>
                          {
                              read.Url("/api/EntityUserAssignmentAPI/GetUser").Data("filterUsersdfm").Type(HttpVerbs.Get);
                          })
                          .ServerFiltering(true);
                      })
                    
                      .HtmlAttributes(new { style = "width: 98%", @Id = "UserId", autocomplete = "off", @onchange = "filterGrid()" }))
                </div>
                }

                <div class="col-md-4 colpadding0 text-right">

                </div>
            </div>
        </div>


        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">
                @Html.AntiForgeryToken()

                @(Html.Kendo().TreeList<BM_ManegmentServices.VM.VM_pageAuthentication>()
                .Name("assetTreeList")
                .Columns(columns =>
                {
                    columns.Add().Field(e => e.PageName).Title("Page").Width("55%");
                    columns.Add().Field(e => e.Pageview).Template("<label class='container' style='margin-left: 9 %;'><input type='checkbox' value='#=Id#'  id= 'chkview#=data.uid#' #= Pageview ? checked='checked':'' # onchange='setDataItemforView(this)'><span class='checkmark'></span></label>").HeaderTemplate("<input type = 'checkbox' onclick = 'toggleAll1(event)'/> View").Width("10%");
                    columns.Add().Field(e => e.Addview).Template("<label class='container' style='margin-left: 9 %;'><input type='checkbox' value='#=Id#'  id= 'chkadd#=data.uid#' #= Addview ? checked='checked':'' # onchange='setDataItemforAdd(this)'><span class='checkmark'></span></label>").HeaderTemplate("<input type = 'checkbox' onclick = 'toggleAll2(event)'/> Add").Width("10%");
                    columns.Add().Field(e => e.Editview).Template("<label class='container' style='margin-left: 9 %;'><input type='checkbox' value='#=Id#'  id= 'chkedit#=data.uid#' #= Editview ? checked='checked':'' # onchange='setDataItemforEdit(this)'><span class='checkmark'></span></label>").HeaderTemplate("<input type = 'checkbox' onclick = 'toggleAll3(event)'/> Edit").Width("10%");
                    columns.Add().Field(e => e.DeleteView).Template("<label class='container' style='margin-left: 9 %;'><input type='checkbox' value='#=Id#' id= 'chkdelete#=data.uid#' #= DeleteView ? checked='checked':'' # onchange='setDataItemforDelete(this)'><span class='checkmark'></span></label>").HeaderTemplate("<input type = 'checkbox' onclick = 'toggleAll4(event)'/> Delete ").Width("10%");
                }).Editable(e => e.Mode("inline"))
                .DataSource(data => data
                .Batch(true)
                //.ServerOperation(true)
                .Read(read => read.Action("All", "PageAuthenticationMaster").Data("additionalData").Type(HttpVerbs.Get))
                .Create(r => r.Action("UpdateCreateDelete", "PageAuthenticationMaster").Type(HttpVerbs.Post))
                .Update(r => r.Action("UpdateCreateDelete", "PageAuthenticationMaster").Type(HttpVerbs.Post))
                .Model(m =>
                {
                    m.Id(f => f.Id);
                    m.Expanded(true);
                    m.ParentId(f => f.parentId);
                    m.Field(f => f.DeleteView);
                    m.Field(f => f.Addview);
                    m.Field(f => f.parentId);
                    m.Field(f => f.Editview);
                    m.Field(f => f.Pageview);
                }).Events(events => events.RequestEnd("req_EndInterest"))
                ).Events(events =>
                {
                    //events.Edit("onEdit");
                    //  events.Save("onSave");
                    // events.Remove("onRemove");
                    // events.DataBinding("onDataBinding");
                    events.DataBound("onDataBound");
                }))
            </div>
        </div>

        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">
                <div class="k-edit-buttons k-state-default" style="background:!important;background:none;">
                    <button type="submit" id="btnsave" class="btn btn-primary" value="Save" name="submitButton" onclick="sendDataNew()"><span class=""></span>Save</button>
                </div>
            </div>
        </div>
        @*</form>*@
    </div>
</div>

<script>
    var checkedIds = {};

    function sendDataNew() {
        debugger;
        var treeList = $("#assetTreeList").data("kendoTreeList").dataSource;
        treeList.dirty = true;
        treeList.sync();
    }

    function filterGrid() {
        debugger;
        var grid = $("#assetTreeList").data("kendoTreeList");
        grid.dataSource.read();

        $("#btnsave").show();

        ShowHideGridColumns();
    }

    function Checkgrid() {
        $("#btnsave").hide();

        ShowHideGridColumns();
    }
    if("@AuthenticationHelper.Role"!="DADMN")
    {
        function additionalData() {
            debugger;
            var UserId = $("#UserId").data("kendoDropDownList").value();
            var Role = "";
            if ($("#RoleId") != null && $("#RoleId") != undefined)
                if ($("#RoleId").data("kendoDropDownList") != null && $("#RoleId").data("kendoDropDownList") != undefined)
                    Role = $("#RoleId").data("kendoDropDownList").value();

            if (UserId > 0) {
                return {
                    UserId: UserId,
                    EntityId: 0,
                    Role: Role
                }
            }
            else {
                return {
                    UserId: 0,
                    EntityId: 0,
                    Role: ""
                }
            }
        }
    }
    else
    {
        function additionalData() {
            debugger;
            var UserId = $("#UserId").data("kendoDropDownList").value();
            var Role = '@AuthenticationHelper.Role'
            if (UserId > 0) {
                return {
                    UserId: UserId,
                    EntityId: 0,
                    Role: Role
                }
            }
            else {
                return {
                    UserId: 0,
                    EntityId: 0,
                    Role: ""
                }
            }
        }
    }

    function toggleAll1(e) {
        debugger;
        var view = $('#assetTreeList').data('kendoTreeList').dataSource.data();
        var checked = e.target.checked;
        for (var i = 0; i < view.length; i++) {
            view[i].Pageview = checked;
            //view[i].pageId =
            view[i].dirty = true;

        }
        $('#assetTreeList').data('kendoTreeList').refresh();
    }

    function toggleAll2(e) {
        debugger;
        var view = $('#assetTreeList').data('kendoTreeList').dataSource.data();
        var checked = e.target.checked;
        for (var i = 0; i < view.length; i++) {
            view[i].Addview = checked;
            view[i].dirty = true;
        }
        $('#assetTreeList').data('kendoTreeList').refresh();
    }

    function toggleAll3(e) {
        debugger;
        var view = $('#assetTreeList').data('kendoTreeList').dataSource.data();
        var checked = e.target.checked;
        for (var i = 0; i < view.length; i++) {
            view[i].Editview = checked;
            view[i].dirty = true;
        }
        $('#assetTreeList').data('kendoTreeList').refresh();
    }

    function toggleAll4(e) {
        debugger;
        var view = $('#assetTreeList').data('kendoTreeList').dataSource.data();
        var checked = e.target.checked;
        for (var i = 0; i < view.length; i++) {
            view[i].DeleteView = checked;
            view[i].dirty = true;
        }
        $('#assetTreeList').data('kendoTreeList').refresh();
    }

    function req_EndInterest(e) {
        debugger;
        if (e.type == "update") {
            if (e.response.Errors == null) {
                $("#success").show();
                $("#error").hide();
            }
            else {
                $("#success").hide();
                $("#error").show();
            }
        }
    }

    $(document).ready(function () {

        var breadCrumbData = [
            {
                //displayText: "Page Authorization",
                displayText: "Access Rights",
                navigateUrl: "#",
            }
        ];

        setBreadCrumb(breadCrumbData);

        $("#success").hide();
        $("#error").hide();
    });

    function ShowHideGridColumns() {

        var grid = $("#assetTreeList").data("kendoTreeList");

        if (grid != null && grid != undefined) {
           
            var ddlRoleID = $("#RoleId").data("kendoDropDownList");

            if (ddlRoleID != null && ddlRoleID != undefined) {

                var selectedValue = ddlRoleID.value();
                
                if (selectedValue == "CS") {
                    grid.showColumn("Addview");
                    grid.showColumn("Editview");
                    grid.showColumn("DeleteView");                   
                } else {
                    grid.hideColumn("Addview");
                    grid.hideColumn("Editview");
                    grid.hideColumn("DeleteView");
                }
            }
        }
    }

</script>

<script type="text/javascript">
    //$(function () {
    //    $('#assetTreeList').on('click', '.chkbx1', function () {
    function setDataItemforView(obj) {
        debugger;
        var checked = $("#" + obj.id).is(':checked');


        var grid = $('#assetTreeList').data('kendoTreeList').dataSource.data();
        var grid1 = $('#assetTreeList').data('kendoTreeList');
        var row = $(obj).closest("tr");
        let griddata = grid1.dataSource.view();
        var dataItem = grid1.dataItem(row);
        dataItem.Pageview = checked;
        var chkid = obj.value;
        var ParentId = dataItem.parentId;
        if (ParentId == null) {
            for (var i = 0; i < grid.length; i++) {
                if (grid[i].parentId == chkid) {

                    grid[i].Pageview = checked;
                    grid[i].Pageview = checked;
                    grid[i].dirty = true;
                }
            }
        for (var i = 0; i < grid.length; i++) {
           
          
                if (grid[i].Id == ParentId) {
                    grid[i].Pageview = checked;
                    grid[i].Pageview = checked;
                    grid[i].dirty = true;
                }
                else if (grid[i].Id == ParentId) {
                    grid[i].Pageview = checked;
                    grid[0].Pageview = checked;
                    grid[i].dirty = true;
                }
            }
          
        }
        dataItem.dirty = true;
        $('#assetTreeList').data('kendoTreeList').refresh();
        //})
        //})
    }

    //$(function () {
    //    $('#assetTreeList').on('click', '.chkbx2', function () {
    function setDataItemforAdd(obj) {
        debugger;
        var checked = $("#" + obj.id).is(':checked');


        var grid = $('#assetTreeList').data('kendoTreeList').dataSource.data();
        var grid1 = $('#assetTreeList').data('kendoTreeList');
        var row = $(obj).closest("tr");
        let griddata = grid1.dataSource.view();
        var dataItem = grid1.dataItem(row);
        dataItem.Addview = checked;
        var chkid = obj.value;
        var ParentId = dataItem.parentId;
        if (ParentId == null) {
            for (var i = 0; i < grid.length; i++) {
                if (grid[i].parentId == chkid) {

                    grid[i].Addview = checked;
                    grid[i].Pageview = checked;
                    grid[i].dirty = true;
                }
            }
        }
        for (var i = 0; i < grid.length; i++) {

            if (grid[i].Id == ParentId) {
                grid[i].Addview = checked;
                grid[i].Pageview = checked;
                grid[i].dirty = true;
            }
            else if (grid[i].Id == ParentId) {
                grid[i].Pageview = checked;
                grid[0].Pageview = checked;
                grid[i].dirty = true;
            }
           
        }
        dataItem.dirty = true;
        $('#assetTreeList').data('kendoTreeList').refresh();
        //    })
        //})
    }
    //$(function () {
    //    $('#assetTreeList').on('click', '.chkbx3', function () {
    function setDataItemforEdit(obj) {
        debugger;

        var checked = $("#" + obj.id).is(':checked');

        var grid = $('#assetTreeList').data('kendoTreeList').dataSource.data();
        var grid1 = $('#assetTreeList').data('kendoTreeList');
        var row = $(obj).closest("tr");
        let griddata = grid1.dataSource.view();
        var dataItem = grid1.dataItem(row);
        dataItem.Editview = checked;
        var chkid = obj.value;
        var ParentId = dataItem.parentId;
        if (ParentId == null) {
            for (var i = 0; i < grid.length; i++) {
                if (grid[i].parentId == chkid) {

                    grid[i].Editview = checked;
               
                    grid[i].Pageview = checked;
                    grid[i].dirty = true;
                }
            }
        }
        for (var i = 0; i < grid.length; i++) {
            if (grid[i].Id == ParentId) {
                grid[i].Editview = checked;
               
                grid[i].Pageview = checked;
                grid[i].dirty = true;
            }
            else if (grid[i].Id == ParentId) {
                grid[i].Pageview = checked;
                grid[0].Pageview = checked;
                grid[i].dirty = true;
            }
          
        }
        dataItem.dirty = true;
        $('#assetTreeList').data('kendoTreeList').refresh();
        //    })
        //})
    }

    //$(function () {
    //    $('#assetTreeList').on('click', '.chkbx4', function () {
    function setDataItemforDelete(obj) {
        debugger;

        var checked = $("#" + obj.id).is(':checked');

        var grid = $('#assetTreeList').data('kendoTreeList').dataSource.data();
        var grid1 = $('#assetTreeList').data('kendoTreeList');
        var row = $(obj).closest("tr");
        let griddata = grid1.dataSource.view();
        var dataItem = grid1.dataItem(row);
        dataItem.DeleteView = checked;
        var chkid = obj.value;
        var ParentId = dataItem.parentId;
        if (ParentId == null) {
            for (var i = 0; i < grid.length; i++) {
                if (grid[i].parentId == chkid) {

                    grid[i].DeleteView = checked;
                    grid[i].Pageview = checked;
                    grid[i].dirty = true;
                }
            }
        }
        for (var i = 0; i < grid.length; i++) {
            if (grid[i].Id == ParentId) {
                grid[i].DeleteView = checked;
                grid[i].Pageview = checked;
                grid[i].dirty = true;
            }
            else if (grid[i].Id == ParentId) {
                grid[i].Pageview = checked;
                grid[0].Pageview = checked;
                grid[i].dirty = true;
            }
           
        }
        dataItem.dirty = true;
        $('#assetTreeList').data('kendoTreeList').refresh();
        //    })
        //})
    }
    function filteruser() {

        return {
            UserId: $("#UserId").val(),
        };
    }
</script>

