﻿@model BM_ManegmentServices.VM.Annotation.AgendaMinutesCommentsVM

@{ 
    //if(Model.IsCS == true)
    //{
    //    Layout = null;
    //}
    Layout = null;
}
<script src='~/Scripts/webviewer/lib/webviewer.min.js'></script>

<div class="row Dashboard-white-widget">
    <div class="dashboard">

        <div id='viewer' style='width: 100%; height: 500px;'></div>

    </div>
</div>

<script>
    $(document).ready(function () {
        if ("@Model.Success".toUpperCase() == "TRUE") {
            var documentURL = '@Model.DocURL'.replace('\\', '/');
            documentURL = documentURL.replace('~', '');

            var objAgendaMinutesData = new Object();
            objAgendaMinutesData.DOCUMENT_ID = 'webviewer-demo-1';
            objAgendaMinutesData.MeetingId = '@Model.MeetingId';
            objAgendaMinutesData.MeetingParticipantId = '@Model.MeetingParticipantId';
            objAgendaMinutesData.DocType = '@Model.DocType';
            objAgendaMinutesData.UserName = '@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.User'
            objAgendaMinutesData.UserID = '@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID'
            objAgendaMinutesData.IsAdmin = '@Model.IsCS'.toUpperCase() == 'TRUE' ? true : false;
            objAgendaMinutesData.AgendaMinutesCommentsId = '@Model.AgendaMinutesCommentsId';
            objAgendaMinutesData.DraftCirculationID_ = '@Model.DraftCirculationID_' > 0 ? '@Model.DraftCirculationID_' : '0';
            objAgendaMinutesData.IsDraftMinutesApproved = '@Model.IsDraftMinutesApproved'.toUpperCase() == 'TRUE' ? true : false;
            objAgendaMinutesData.ViewOnly = '@Model.ViewOnly'.toUpperCase() == 'TRUE' ? true : false;


            objAgendaMinutesData.documentURL = documentURL;

            loadDocumentForAnnote(objAgendaMinutesData);
        }

    });

    function loadDocumentForAnnote(data) {
        var viewerElement = document.getElementById('viewer');
        WebViewer({
            path: '/Scripts/webviewer/lib',
            //licenseKey:'Avantis Regtech Pvt Ltd(avantis.co.in):OEM:AVASEC::B+:AMS(20220425):56CCBAD207FAC4F38B313BC9B263382F4E6F1F4CD3FDC29BF51DD45CE560AE22D4B6F5C7',
            initialDoc: data.documentURL,
        }, document.getElementById('viewer')).then(instance => {
            var annotManager = instance.docViewer.getAnnotationManager();

            var Feature = instance.Feature;
            instance.disableFeatures([Feature.ThumbnailMerging]);
            instance.disableFeatures([Feature.ThumbnailReordering]);
            instance.disableFeatures([Feature.Copy]);
            instance.disableElements(['thumbnailControl', 'thumbnailControl']);
            instance.disableElements(['documentControl']);

            instance.disableElements(['downloadButton']);
            instance.disableElements(['printButton']);

            instance.disableElements(['toolbarGroup-Edit']);
            instance.disableElements(['toolbarGroup-Insert']);
            debugger;
            //instance.setToolbarGroup('toolbarGroup-Annotate');
            //Set Readonly
            if (data.ViewOnly == false) {
                instance.setToolbarGroup('toolbarGroup-Annotate');
            }
            else {
                instance.disableElements(['toolbarGroup-Annotate']);
                instance.disableElements(['toolbarGroup-Shapes']);
            }
            //End

            instance.openElements(['leftPanel', 'notesPanel']);

            var FitMode = instance.FitMode;
            instance.setFitMode(FitMode.FitWidth);
            //end

            //set User
            annotManager.setCurrentUser(data.UserName);
            //annotManager.setCurrentUser(data.UserID);
            annotManager.setIsAdminUser(data.IsAdmin);
            //End
            if (data.ViewOnly == false) {
                // Add a save button on header
                instance.setHeaderItems(function (header) {
                    header.push({
                        type: 'actionButton',
                        img: '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M17 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V7l-4-4zm-5 16c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3zm3-10H5V5h10v4z"/></svg>',
                        onClick: function () {
                            // Save annotations when button is clicked
                            // widgets and links will remain in the document without changing so it isn't necessary to export them
                            annotManager.exportAnnotations({ links: false, widgets: false }).then(function (xfdfString) {
                                saveXfdfString(data.MeetingId, data.MeetingParticipantId, data.DocType, data.DraftCirculationID_, xfdfString)
                                .then(function () {
                                    alert('Annotations saved successfully.');
                                })
                                .catch(function () {
                                    alert('Annotations not saved successfully.');
                                });
                            });
                        }
                    });
                });
            }

            // Load annotations when document is loaded
            instance.docViewer.on('documentLoaded', function () {

                loadXfdfString(data.AgendaMinutesCommentsId).then(function (xfdfString) {
                    annotManager.importAnnotations(xfdfString).then(function (annotations) {

                        annotManager.drawAnnotationsFromList(annotations);

                        //show user-wise comments
                        let shouldShowAnnotFromOtherUsers = data.IsAdmin;
                        const currentUser = annotManager.getCurrentUser();
                        const allAnnotations = annotManager.getAnnotationsList().filter(annot => annot.Listable);
                        let annotationsToShow = allAnnotations;
                        annotManager.hideAnnotations(allAnnotations);

                        if (!shouldShowAnnotFromOtherUsers) {
                            annotationsToShow = allAnnotations.filter(annot => annot.Author === currentUser);
                        }
                        annotManager.showAnnotations(annotationsToShow);
                        //End

                    });
                });

            });


            //Set UserId
            //annotManager.on('annotationChanged', (annotations, action, options) => {
            //    if (action === 'add' && !options.imported) {
            //        const annot = annotations[0]
            //        annot.setCustomData('userId', data.UserID);
            //    }
            //})


            //const mapNames = (annotation) => {
            //    if (annotation.getCustomData('userId') === '9790') {
            //        return 'HDCS NEW Data'
            //    } else {
            //        return 'Jean-Luc Picard'
            //    }
            //}

            //annotManager.setAnnotationDisplayAuthorMap(mapNames);

            //End


            //Set User mention
            //const userData = [
            //{
            //    value: 'MOHAMMAD AKHTAR', // required property
            //    email: 'hussain.akhtar1989@gmail.com', // optional property
            //    // you can have more optional properties here, and they will be passed back in the mentionChanged event callback
            //},
            //{
            //    value: 'Amit',
            //    email: 'amit@avantis.net.in'
            //},
            //    ];

            //instance.mentions.setUserData(userData);
            //instance.mentions.setAllowedTrailingCharacters([' ', ',']);
            //End
        });
    }

    // Make a POST request with XFDF string
    var saveXfdfString = function (m, p, docType, draftCirculationID_, xfdfString) {
        var apiPath = "/api/AnnotationAPI?MeetingId=" + m + "&MeetingParticipantId=" + p + "&DocType=" + docType + "&DraftCirculationID_=" + draftCirculationID_;
        return new Promise(function (resolve) {
            fetch( apiPath, {
                method: 'POST',
                body: xfdfString
            }).then(function (res) {
                if (res.status === 200 || res.status === 204) {
                    resolve();
                }
            });
        });
    };

    // Make a GET request to get XFDF string
    var loadXfdfString = function (id) {
        return new Promise(function (resolve) {
            fetch(`/api/AnnotationAPI?id=${id}`, {
                method: 'GET'
            }).then(function (res) {
                if (res.status === 200) {
                    res.text().then(function (xfdfString) {
                        resolve(xfdfString);
                    });
                }
            });
        });
    };
</script>

<script>
    $(document).ready(function () {
        var breadCrumbData = [
        {
            displayText: "My Meetings",
            navigateUrl: "#",
        },
        {
            displayText: "Upcoming",
            navigateUrl: "#",
        },
        {
            displayText: "Agenda",
            navigateUrl: "#",
        }, ];

        @*if ('@Model.IsCS'.toUpperCase() == 'TRUE') {
            if ($('#sidebar').is(":visible") === true) {
                $('#main-content').css({
                    'margin-left': '5%'
                });
                $('#sidebar').css({
                    'margin-left': '-15%'
                });
                $('#sidebar').hide();
                $('#sidebar-small').show();
                $('#sidebar-small').css({
                    'display': 'block'
                });
                $("#container").addClass("sidebar-closed");
            }
        }
        else {
            setBreadCrumb(breadCrumbData);
        }*@

        $('#main-content').css({
            'margin-left': '5%'
        });
        $('#sidebar').css({
            'margin-left': '-15%'
        });
        $('#sidebar').hide();
        $('#sidebar-small').show();
        $('#sidebar-small').css({
            'display': 'block'
        });
        $("#container").addClass("sidebar-closed");
       
    });
</script>