﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.AddAnnualMeetingCalenderVM
<script>
    function error_handlerT(e) {

    }

    function Request_EndT(e) {
        debugger;

        if (e.type == "create" || e.type == "update") {
            if (e.response.Errors == null) {
                var divgridNewMessage = $("#divgridNewMessage");
                divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success alert-dismissible fade in'> <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a> <lable>Save successfully.</lable></div></div></div>";
            }

            //var grid = $("#gridAgendaComplianceMappingDetails").data("kendoGrid");
            //grid.dataSource.read();
        }
        else if (e.type == "destroy") {

            var divgridNewMessage = $("#divgridNewMessage");
            divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success alert-dismissible fade in'> <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a> <lable>Deleted successfully.</lable></div></div></div>";

        }
    }

    function OnstartDateChange(item) {
        debugger;
        var b = [];
        var grid = $("#gridADDAnnualMeeting").data("kendoGrid");
        var row = $(item).closest("tr");
        let griddata = grid.dataSource.view();
        var dataItem = grid.dataItem(row);

        if ($(item).val() != "") {
            dataItem.MeetingDate = $(item).val();
        }
        if (griddata.length > 1) {
            for (var i = 0; i < griddata.length; i++) {
                if ((dataItem.EntityId == griddata[i].EntityId) && (dataItem.Id == griddata[i].Id) && (dataItem.FYID == griddata[i].FYID) && (dataItem.MeetingDate == griddata[i].MeetingDate) && (dataItem.uid != griddata[i].uid)) {
                    $(item).val("");
                    var divgridNewMessage = $("#divgridNewMessage");
                    divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-danger alert-dismissible fade in'> <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a> <lable>Please check Meeting Date is already exist.</lable></div></div></div>";
                    b.push({});
                    break;
                }
                else {
                    var divgridNewMessage = $("#divgridNewMessage");
                    divgridNewMessage[0].innerHTML = "";
                    b = [];
                }
            }
        }
        if (griddata.length > 0 && b.length == 0) {
            var AnnualMVM = { EntityId: dataItem.EntityId, Id: dataItem.Id, FYID: dataItem.FYID, MeetingDate: dataItem.MeetingDate }
            $.ajax({
                type: "POST",
                url: '@Url.Action("CheckAnualdate", "AnnualMeetingCalender")',
                data: AnnualMVM,
                dataType: "json",
                cache: false,
                success: function (data) {
                    if (data == "true") {
                        var divgridNewMessage = $("#divgridNewMessage");
                        divgridNewMessage[0].innerHTML = "";
                    }
                    else {
                        var divgridNewMessage = $("#divgridNewMessage");
                        divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-danger alert-dismissible fade in'> <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a> <lable>" + data + ".</lable></div></div></div>";
                    }
                }
            });

        }

        dataItem.dirty = true;

    }

    function OnstartTimeChange(item) {
        debugger;

        var grid = $("#gridADDAnnualMeeting").data("kendoGrid");
        var row = $(item).closest("tr");
        var dataItem = grid.dataItem(row);

        if ($(item).val() != "") {
        dataItem.StartmeetingTime = $(item).val();
        }
        var dateObj = new Date(dataItem.MeetingDate + ' ' + $(item).val());
        dataItem.dirty = true;
    }
    function OnEndTimeChange(item) {
        debugger;

        var grid = $("#gridADDAnnualMeeting").data("kendoGrid");
        var row = $(item).closest("tr");
         var dataItem = grid.dataItem(row);

        if ($(item).val() != "") {
        dataItem.EndmeetingTime = $(item).val();
        }
        if (dataItem.StartmeetingTime == "" && dataItem.StartmeetingTime == null)
        {
            var divgridNewMessage = $("#divgridNewMessage");
            divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-danger alert-dismissible fade in'> <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a> <lable>Please select Start Time.</lable></div></div></div>";
        }
        else
        {
            
            //var date = dateFormat(new Date(dataItem.MeetingDate), 'dd/mm/yyyy');
            var dateMeeting = dataItem.MeetingDate;
            var d = new Date();
            var date = d.getFullYear() + "/" + (d.getMonth() + 1) + "/" + d.getDate();
            var starttime = new Date(date + ' ' + dataItem.StartmeetingTime);
            var endtime = new Date(date + ' ' + $(item).val());
            if (new Date(starttime) > new Date(endtime))
            {
                var divgridNewMessage = $("#divgridNewMessage");
                divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-danger alert-dismissible fade in'> <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a> <lable>Start time is not less then end time.</lable></div></div></div>";
                dataItem.EndmeetingTime = "";
                $(item).val("");

            }
            else
            {
                var divgridNewMessage = $("#divgridNewMessage");
                divgridNewMessage[0].innerHTML = "";
            }
        }
      

        dataItem.dirty = true;
    }


    function checkSrNumber(item) {
        debugger;
        var a = [];
        let grid = $("#gridADDAnnualMeeting").data("kendoGrid");
        let griddata = grid.dataSource.view();
        let row = $(item).closest("tr");
        let dataItem = grid.dataItem(row);
        if (griddata.length > 1) {
            for (var i = 0; i < griddata.length; i++) {
                if ((dataItem.EntityId == griddata[i].EntityId) && (dataItem.Id == griddata[i].Id) && (dataItem.FYID == griddata[i].FYID) && (dataItem.MeetingSrNumber == griddata[i].MeetingSrNumber) && (dataItem.uid != griddata[i].uid)) {
                    item.childNodes[0].value = "";
                    var divgridNewMessage = $("#divgridNewMessage");
                    divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-danger alert-dismissible fade in'> <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a> <lable>Please check Meeting Sr.No is already exist.</lable></div></div></div>";
                    a.push({});
                    break;
                }
                else {
                    var divgridNewMessage = $("#divgridNewMessage");
                    divgridNewMessage[0].innerHTML = "";
                    a = [];
                }
            }
        }
        if (griddata.length > 0 && a.length == 0) {
            var AnnualMVM = { EntityId: dataItem.EntityId, Id: dataItem.Id, FYID: dataItem.FYID, MeetingSrNumber: dataItem.MeetingSrNumber }
            $.ajax({
                type: "POST",
                url: '@Url.Action("CheckAnualSRno", "AnnualMeetingCalender")',
                data: AnnualMVM,
                dataType: "json",
                cache: false,
                success: function (data) {
                    debugger;
                    if (data == "true") {
                        var divgridNewMessage = $("#divgridNewMessage");
                        divgridNewMessage[0].innerHTML = "";
                    }
                    else {
                        var divgridNewMessage = $("#divgridNewMessage");
                        divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-danger alert-dismissible fade in'> <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a> <lable>" + data + ".</lable></div></div></div>";
                    }
                }
            });
        }
    }


    function db(e) {
        var grid = $("#gridADDAnnualMeeting").data("kendoGrid");
        var gridData = grid.dataSource.view();
        GetICons();
        var data = grid.dataSource.data();


        var grid = this;
        $(".templateCell").each(function () {
            eval($(this).children("script").last().html());
            var tr = $(this).closest('tr');
            var item = grid.dataItem(tr);
            kendo.bind($(this), item);
        });
        $(".templateCellST").each(function () {
            eval($(this).children("script").last().html());
            var tr = $(this).closest('tr');
            var item = grid.dataItem(tr);
            kendo.bind($(this), item);
        });
        $(".templateCellET").each(function () {
            eval($(this).children("script").last().html());
            var tr = $(this).closest('tr');
            var item = grid.dataItem(tr);
            kendo.bind($(this), item);
        });

        $("#gridADDAnnualMeeting tr.k-alt").removeClass("k-alt");
       
    }

    function addAnnualMetingrow() {
        var grid = $("#gridADDAnnualMeeting").data("kendoGrid");
        //grid.dataSource.filter({});
        //grid.dataSource.sort({});
        //add record using Grid API
        grid.addRow();
    }

    function onChange(e) {
        debugger;
        if (e.action == "itemchange") {
            if (e.field == "EntityId") {
                var model = e.items[0];
                model.set("FYID", 0);
            }
        }
    }

    function getCurrentEditedModel() {

        var grid = $("#gridADDAnnualMeeting").data("kendoGrid");
        var editRow = grid.tbody.find("tr:has(.k-edit-cell)");
        return grid.dataItem(editRow);
    }

    function filterdayhouresminutes() {
        debugger;
        var model = getCurrentEditedModel();

        return {
            EntityID: model.EntityId
        };
    }

    function filtermeetings() {
        debugger;
        var model = getCurrentEditedModel();

        return {

            Type: "M", entityID: model.EntityId
        };
    }

    function saveAnnualMeeting() {
        var grid = $("#gridADDAnnualMeeting").data("kendoGrid");
        grid.saveChanges();
    }

</script>
<style>
    .master-Headre {
        height: 45px;
    }

    .alert {
        padding: 15px 15px 15px 30px;
        margin-bottom: 2px;
        border: 1px solid transparent;
    }
</style>
<div class="row colpadding0" style="overflow:hidden;height:350px!important">
    <div class="col-md-12 colpadding0">
        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                <div class="col-md-10 colpadding0">
                    <div id="divgridNewMessage"></div>

                </div>

                <div class="col-md-2 text-right colpadding0">
                    <button class="btn btn-primary" href="/#" title="Add New" onclick="addAnnualMetingrow()"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>Add</button>
                </div>
            </div>
        </div>

        <div class="row mt30 colpadding0">

            <div class="col-md-12 colpadding0">
                @(Html.Kendo().Grid<BM_ManegmentServices.VM.AnnualMVM>
                    ()
                    .Name("gridADDAnnualMeeting")
                    .Columns(columns =>
                    {
                        columns.ForeignKey(p => p.EntityId, Model.Entity, "EntityId", "EntityName").Width("35%").Title("Entity").EditorTemplateName("EntityId");
                        columns.ForeignKey(p => p.FYID, Model.FY, "FYID", "FYText").Width("10%").EditorTemplateName("FYID").Title("FY");

                        columns.ForeignKey(p => p.Id, Model.MeetingType, "Id", "MeetingTypeName").EditorTemplateName("Id").Title("Meeting Type").Width("20%").HtmlAttributes(new { @class = "editableFiled" });
                        columns.Bound(p => p.MeetingSrNumber).Title("Sr. No.").HtmlAttributes(new { @onchange = "checkSrNumber(this)" }).Width("10%");
                        columns.Bound(c => c.MeetingDate).Title("Meeting Date").Width("15%").HtmlAttributes(new
                        {
                            @class = "templateCell",
                        }).ClientTemplate(
                        Html.Kendo().DatePicker()
                        .Name("FDPicker_#=uid#")
                        .Format("{0:dd/MM/yyyy}")
                        .HtmlAttributes(new { @onchange = "OnstartDateChange(this)", data_bind = "value:MeetingDate",@style="width:100%" })
                        .ToClientTemplate().ToString()).Format("{0:dd/MM/yyyy}");

                        columns.Bound(c => c.StartmeetingTime).Title("Start Time").Width("10%").HtmlAttributes(new
                        {
                            @class = "templateCellST",
                        }).ClientTemplate(
                      Html.Kendo().TimePicker()
                      .Name("STPPicker_#=uid#")

                      .Min("8:00 AM")
                      .Max("9:00 PM")
                          //  .Format("{0:HH:mm}")
                          .HtmlAttributes(new { @onchange = "OnstartTimeChange(this)", data_bind = "value:StartmeetingTime", @style = "width:100%" })
                          .ToClientTemplate().ToString());
                        //.Format("{0:HH:mm}");

                        columns.Bound(c => c.EndmeetingTime).Title("End Time").Width("10%").HtmlAttributes(new
                        {
                            @class = "templateCellET",
                        })
                        .ClientTemplate(
                     Html.Kendo().TimePicker()
                     .Name("ETPPicker_#=uid#")
                      // .Format("{0:HH:mm}")
                      .Min("8:00 AM")
                      .Max("9:00 PM")
                     .HtmlAttributes(new { @onchange = "OnEndTimeChange(this)", data_bind = "value:EndmeetingTime", @style = "width:100%" })
                     .ToClientTemplate().ToString());
                        //.Format("{0:HH:mm}");

                    })
                    .Editable(editable => editable.Mode(GridEditMode.InCell))
                    .Navigatable()
                    .Resizable(e => e.Columns(true))
                    .Events(ev => ev.DataBound("db"))

                    .Scrollable(ev => ev.Enabled(true))
                    .Sortable()
                    .DataSource(dataSource => dataSource
                    .Ajax()
                    .Batch(true)
                    .ServerOperation(false)
                    .Events(events => events.Error("error_handlerT")
                    .RequestEnd("Request_EndT"))
                    .Events(e => e.Change("onChange"))
                    .Model(model =>
                    {
                        model.Id(p => p.AnnualMeetingId);

                        model.Field(p => p.MeetingDate).Editable(false);
                        model.Field(p => p.StartmeetingTime).Editable(false);
                        model.Field(p => p.EndmeetingTime).Editable(false);

                    })

                    .Read(read => read.Action("ReadAnnualMeeting", "AnnualMeetingCalender"))
                    .Create(create => create.Action("CreateAnnualMeeting", "AnnualMeetingCalender"))
                    .Update(update => update.Action("CreateAnnualMeeting", "AnnualMeetingCalender"))
                    ).HtmlAttributes(new { style = "width:100%" }))
            </div>
        </div>

        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0" style="text-align:center">
                <button type="button" id="btnSaveAnnualMeeting" class="btn btn-primary" onclick="saveAnnualMeeting()">Save</button>
            </div>
        </div>
    </div>
</div>
