﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.AnnualMeetingVM

@using com.VirtuosoITech.ComplianceManagement.Portal.Common;
@{
    ViewBag.Title = "Meeting Calendar :: My Workspace";
}
<script src="https://rawgit.com/nwcell/ics.js/master/ics.js"></script>
@*<script src="~/Content/JS/ical.min.js"></script>*@
<style>
    .k-event {
        cursor: default;
        min-height: 4.7em;
    }

    .k-event, .k-task-complete {
        border-color: #9c9fff;
        background: #5086ff 0 -257px none repeat-x;
        color: #ffffff;
    }

    .k-scheduler-timecolumn {
        /*//display: none;*/
    }
    .k-popup-message {
    margin: 0;
    padding: 1em 1.5em 2em;
    text-align: center;
}
    /*ul li:first-child
    {
        display: none;
    }
    ul >li.k-nav-prev
    {
        display: none;
    }
     ul >li.k-nav-next
    {
        display: none;
    }*/

      .k-scheduler-table td,
        .k-scheduler-table th {
            height: 2.5em;
        }

        /* The following styles will work only with Kendo UI versions before 2020 R1 */
        /* increase the height of the month view cells */
        .k-scheduler-monthview .k-scheduler-table td {
            height: 15.5em;
        }
        .k-state-default
        {
           /*// padding-right: 16px;
    height: 31px;*/
}
        .k-more-events
        {
            display:none;
        }
        .k-scheduler-header th
        {
            background-color: #f3f2f2;
        }
      
</style>

<style>
    /*
            Use the DejaVu Sans font for display and embedding in the PDF file.
            The standard PDF fonts have no support for Unicode characters.
        */
    .k-scheduler {
        font-family: "DejaVu Sans", "Arial", sans-serif;
        font-size: .9em;
    }

    /* Hide toolbar, navigation and footer during export */
    .k-pdf-export .k-scheduler-toolbar,
    .k-pdf-export .k-scheduler-navigation .k-nav-today,
    .k-pdf-export .k-scheduler-navigation .k-nav-prev,
    .k-pdf-export .k-scheduler-navigation .k-nav-next,
    .k-pdf-export .k-scheduler-footer {
        display: none;
    }
</style>

<script>

    kendo.pdf.defineFont({
        "DejaVu Sans": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans.ttf",
        "DejaVu Sans|Bold": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Bold.ttf",
        "DejaVu Sans|Bold|Italic": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf",
        "DejaVu Sans|Italic": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf",
        "WebComponentsIcons": "https://kendo.cdn.telerik.com/2017.1.223/styles/fonts/glyphs/WebComponentsIcons.ttf"
    });
</script>

<!-- Load Pako ZLIB library to enable PDF compression -->
<script src="https://kendo.cdn.telerik.com/2017.2.621/js/pako_deflate.min.js"></script>


<!-- Load the ical.js -->
<script>
    // Example iCal data
    var iCalendarData = [
        'BEGIN:VCALENDAR',
        'PRODID:-//Google Inc//Google Calendar 70.9054//EN',
        'VERSION:2.0',
        'BEGIN:VEVENT',
        'DTSTART:20200414T120000Z',
        'DTEND:20200414T130000Z',
        'RRULE:FREQ=DAILY;COUNT=5',
        'EXDATE:20200416T120000Z',
        'UID:5u021pgsbn8tldfmmvgv7g053i',
        'DESCRIPTION: Recurring Event',
        'SUMMARY: Recurring Event',
        'DTSTAMP:20200411T120000Z',
        'END:VEVENT',
        'BEGIN:VEVENT',
        'DTSTART:20200416T120000Z',
        'DTEND:20200416T130000Z',
        'UID:5u021pgsbn8tldfmmvgv7g053i',
        'RECURRENCE-ID:20200416T120000Z',
        'DESCRIPTION:Recurring Exception',
        'SUMMARY:Exception of the Recurring Event',
        'DTSTAMP:20200411T120000Z',
        'END:VEVENT',
        'BEGIN:VEVENT',
        'DTSTART:20200413T120000Z',
        'DTEND:20200413T130000Z',
        'UID:2au0j5159mn8k71p0m3i17r4ej',
        'DESCRIPTION:Plain Event',
        'SUMMARY:Plain Event',
        'DTSTAMP:20200411T120000Z',
        'END:VEVENT',
        'END:VCALENDAR',
    ].join("\r\n");

    function getTimeZone(timezone) {
        return timezone.toLowerCase() === "z" ? null : timezone;
    };

    function getISOString(date, toUTC) {
        date = toUTC ? kendo.timezone.convert(date, date.getTimezoneOffset(), "Etc/UTC") : date;
        return kendo.toString(date, "yyyy-MM-ddTHH:mm:ssZ");
    };

    $(document).ready(function () {
        // DataSource schema for iCal support (id is string instead of number)
        kendo.data.schemas["scheduler-ical"] = {
            model: {
                id: "id",
                fields: {
                    id: { type: "string" },
                    title: { defaultValue: "", type: "string" },
                    start: { type: "date" },
                    startTimezone: { type: "string" },
                    end: { type: "date" },
                    endTimezone: { type: "string" },
                    recurrenceRule: { defaultValue: "", type: "string" },
                    recurrenceException: { defaultValue: "", type: "string" },
                    isAllDay: { type: "boolean", defaultValue: false },
                    description: { type: "string" }
                }
            }
        };


        //Handle export button click.
        $("#btnExporttoicall").on("click", function (ev) {
            debugger;
            ev.preventDefault();
            exportICal();
        });

    });


    function exportICal() {
        var scheduler = $("#scheduler").data("kendoScheduler");
        var component = new ICAL.Component(['vcalendar', [], []]);

        component.updatePropertyWithValue('prodid', '-//iCal.js Example');
        component.updatePropertyWithValue('version', '2.0');

        var schedulerEvents = scheduler.dataSource.view().toJSON();

        for (var i = 0; i < schedulerEvents.length; i++) {
            var schedulerEvent = schedulerEvents[i];
            var vevent = new ICAL.Component('vevent');
            var event = new ICAL.Event(vevent);

            event.uid = schedulerEvent.recurrenceId ? schedulerEvent.recurrenceId : schedulerEvent.ID;
            event.summary = schedulerEvent.title;
            //  event.description = schedulerEvent.description;
            event.startDate = ICAL.Time.fromDateTimeString(getISOString(schedulerEvent.start, true));
            event.endDate = ICAL.Time.fromDateTimeString(getISOString(schedulerEvent.end, true));

            if (schedulerEvent.recurrenceRule) {
                event.component.addProperty(
                    new ICAL.Property(ICAL.parse.property("RRULE:" + schedulerEvent.recurrenceRule)));
            }

            if (schedulerEvent.recurrenceException) {
                event.component.addProperty(
                    new ICAL.Property(ICAL.parse.property("EXDATE:" + schedulerEvent.recurrenceException)));
            }

            if (schedulerEvent.ID) {
                event.recurrenceId = ICAL.Time.fromDateTimeString(getISOString(schedulerEvent.start, true));
            }

            event.component.addPropertyWithValue("dtstamp",
                ICAL.Time.fromDateTimeString(getISOString(new Date(), true)));

            component.addSubcomponent(vevent);
        }

        kendo.saveAs({
           // dataURI: "data:text/calendar," + component.toString(),
            fileName: "TelerikSchedulerCal.ics"
        });
    };

</script>




<script>
    $(document).ready(function () {

        var breadCrumbData = [
            {
                displayText: "My Workspace",
                navigateUrl: "#",
            }, {
                displayText: "Meeting Calendar",
                navigateUrl: "#",
            }
        ];

        setBreadCrumb(breadCrumbData);

        $("#customCommand1").click(function (e) {
            e.preventDefault();
            CreateMeeting();
        });
    });

    function EditMeeting(Id) {
        $("#wndAdd").kendoWindow({
            title: "Edit-Meeting Details",
            modal: true
        });

        var direction = "OpenEditAnnualMeeting?ID=" + Id;
        showEditMeetingPopup(direction);
    }

    function CreateMeeting(e) {
        $("#wndAdd").kendoWindow({
            title: "Add-Meeting(s)",
            modal: true
        });

        var direction = "OpenPopUPForAnnualMeeting?ID=" + 0;
        showMeetingPopup(direction);
    }

    function showMeetingPopup(direction) {
        //$("#wndAdd").attr("style", "min-height:360px;min-width:540px;");

        var wnd = $("#wndAdd").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndAdd").kendoWindow({
            actions: ["Close"],
            content: direction,
            width: "85%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () { kendo.ui.progress(wnd.element, true); },
            close: function (e) {
                $(this.element).empty();
                $("#scheduler").data("kendoScheduler").refresh();
                $('#scheduler').data('kendoScheduler').dataSource.read();
            }
        }).data("kendoWindow");
        opts.width = "85%";
        wnd.setOptions(opts);

        wnd.center();
        wnd.open();
    }

    function showEditMeetingPopup(direction) {
        //$("#wndAdd").attr("style", "min-height:360px;min-width:540px;");

        var wnd = $("#wndAdd").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndAdd").kendoWindow({
            actions: ["Close"],
            content: direction,
            width: "45%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () { kendo.ui.progress(wnd.element, true); },
            close: function (e) {
                $(this.element).empty();
                $("#scheduler").data("kendoScheduler").refresh();
                $('#scheduler').data('kendoScheduler').dataSource.read();
            }
        }).data("kendoWindow");
        opts.width = "45%";
        wnd.setOptions(opts);

        wnd.center();
        wnd.open();
    }

    function OnOpen(e) {
        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
    }

    function OnRefresh() {
        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function filter() {
        debugger;
        var filter = { logic: 'and', filters: [] };

        var ddlType_MeetingCircular = $("#MeetingType").data("kendoDropDownList");

        if (ddlType_MeetingCircular != null && ddlType_MeetingCircular != undefined) {
            var type = ddlType_MeetingCircular.value();

            if (type != "" && type > 0) {
                filter.filters.push({ logic: "and", field: "MeetingTypeId", operator: "eq", value: type });
            }
        }

        var ddlEntityType = $("#EntityID").data("kendoDropDownList");
        var d = ddlEntityType.value();

        if (d > 0) {
            filter.filters.push({ logic: "and", field: "EntityId", operator: "eq", value: parseInt(d) });
        }
        if (filter != null) {
            $("#clearfillter").show();
        }
        else {
            $("#clearfillter").hide();
        }
        grid = $("#scheduler").data("kendoScheduler");
        grid.dataSource.filter(filter);
    }

    function clearfilter(e) {
        var ddlType_MeetingCircular = $("#MeetingType").data("kendoDropDownList");
        var ddlEntityType = $("#EntityID").data("kendoDropDownList");

        if ((ddlType_MeetingCircular != null && ddlType_MeetingCircular != undefined) || (ddlEntityType != null && ddlEntityType != undefined)) {
            var type = ddlType_MeetingCircular.value();
            var entity = ddlEntityType.value();
            if (type > 0 || entity > 0) {
                $("#MeetingType").data("kendoDropDownList").value("");
                $("#EntityID").data("kendoDropDownList").value("");
            }
        }

        $('#clearfillter').css('display', 'none');

        $("#scheduler").data("kendoScheduler").dataSource.filter({});
    }

    function Expottopdf() {
        debugger;
        var scheduler = $("#scheduler").data("kendoScheduler");
        scheduler.saveAsPDF({
            fileName: "MeetingCalendar.pdf"
        });
    }

    function Expottoical() {
        debugger;
        var scheduler = $("#scheduler").data("kendoScheduler");
        var component = new ICAL.Component(['vcalendar', [], []]);
        component.updatePropertyWithValue('prodid', '-//iCal.js Example');
        component.updatePropertyWithValue('version', '2.0');

        var schedulerEvents = scheduler.dataSource.view().toJSON();

        for (var i = 0; i < schedulerEvents.length; i++) {
            var schedulerEvent = schedulerEvents[i];
            var vevent = new ICAL.Component('vevent');
            var event = new ICAL.Event(vevent);

            event.uid = schedulerEvent.recurrenceId ? schedulerEvent.recurrenceId : schedulerEvent.id;
            event.summary = schedulerEvent.title;
            event.description = schedulerEvent.description;
            event.startDate = ICAL.Time.fromDateTimeString(getISOString(schedulerEvent.start, true));
            event.endDate = ICAL.Time.fromDateTimeString(getISOString(schedulerEvent.end, true));

            if (schedulerEvent.recurrenceRule) {
                event.component.addProperty(
                    new ICAL.Property(ICAL.parse.property("RRULE:" + schedulerEvent.recurrenceRule)));
            }

            if (schedulerEvent.recurrenceException) {
                event.component.addProperty(
                    new ICAL.Property(ICAL.parse.property("EXDATE:" + schedulerEvent.recurrenceException)));
            }

            if (schedulerEvent.recurrenceId) {
                event.recurrenceId = ICAL.Time.fromDateTimeString(getISOString(schedulerEvent.start, true));
            }

            event.component.addPropertyWithValue("dtstamp",
                ICAL.Time.fromDateTimeString(getISOString(new Date(), true)));

            component.addSubcomponent(vevent);
        }

        kendo.saveAs({
            //dataURI: "data:text/calendar," + component.toString(),
            fileName: "MeetingCalendar.ics"
        });
    }

    function bindSchedular(e) {
        debugger;
        var view = this.view();
        view.datesHeader.find("tr:last").prev().hide();
        view.timesHeader.find("tr:last").prev().hide();
    }
   // var date1 = new Date();
    var CustomTitle =
   
        kendo.ui.AgendaView.extend({
           
            //startDate: function () {
            //     date1 = kendo.ui.AgendaView.fn.startDate.call(this);

            //     var d = new Date(date1);

            //     var d1 = new Date();
            //    debugger;
            //    var month = d.getMonth()+1;
            //    var day = d.getDate();
            //    var year = d.getFullYear();

            //    var month1 = d1.getMonth() + 1;
            //    var day1 = d1.getDate();
            //    if (month1 == 4 && day1 == 1)
            //    {
            //        debugger;
            //        year = d.getFullYear()+1;
            //        //date1 = date1.setFullYear(date1.getFullYear() + 1);
            //    }
            //    date1 = new Date(year, month-1,day)
            //    //alert(date1);
            //    return kendo.date.addDays(date1, 0);
            //},
            endDate: function () {
                debugger;
               // var date = date1;
                var date=  kendo.ui.AgendaView.fn.endDate.call(this);
                return kendo.date.addDays(date, 357);
            }
        });

    var ThreeDayView = kendo.ui.MultiDayView.extend({
        nextDate: function () {
            return kendo.date.nextDay(this.startDate());
        },
        options: {
            selectedDateFormat: "{0:D} - {1:D}"
        },
        name: "ThreeDayView",
        calculateDateRange: function () {
            var start = this.options.date,
              idx, length,
              dates = [];

            for (idx = 0, length = 3; idx < length; idx++) {
                dates.push(start);
                start = kendo.date.nextDay(start);
            }

            this._render(dates);
        }
    });

</script>
<script>
    function filterMeetings() {
        var entity_Id = $('#EntityID').val();
        if ((entity_Id > 0) == false) {
            entity_Id = -1;
        }
        return {
            Type: "M", entityID: $('#EntityID').val()

        }
    }

    function Getdate()
    {
        debugger;
        var dt = new Date();
        var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
        return time;
    }
</script>
@(Html.Kendo().Window().Name("wndAdd").Title("Meeting").Visible(false).Modal(true).Draggable(false).Pinned(true))
<div class="row Dashboard-white-widget">
    <div class="dashboard">
        <div class="row master-Headre">
            <div class="col-md-12 vertical-center">
                <div class="col-md-3 colpadding0">
                    @(Html.Kendo().DropDownList()
                    .Name("EntityID")
                    .DataValueField("Id")
                    .DataTextField("EntityName")
                    .OptionLabel("Entity-All")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Url("/api/EntityMasterAPI/GetEntityListForTask").Type(HttpVerbs.Get);
                        }).ServerFiltering(false);
                    }).HtmlAttributes(new { style = "width: 95%;" ,@onchange="filter()"}))
                </div>

                <div class="col-md-3 colpadding0">
                    @(Html.Kendo().DropDownList()
                            .Name("MeetingType")
                             .DataValueField("Id")
                             .DataTextField("MeetingTypeName")
                             .OptionLabel("Meeting Type-All")
                             .DataSource(source =>
                             {
                                 source.Read(read =>
                                 {
                                     read.Url("/api/CommitteeCompAPI/GetMeetingTypeByEntity").Data("filterMeetings").Type(HttpVerbs.Get);
                                 }).ServerFiltering(true);
                             }).HtmlAttributes(new { style = "width: 95%;", @onchange = "filter()" })
                              .Enable(false)
          .AutoBind(false)
          .CascadeFrom("EntityID")

                    )
                </div>

                <div class="col-md-1 colpadding0">
                    <button type="button" class="btn btn-default btn-sm ClearFilterbtn" onclick="clearfilter()" id="clearfillter" style="display:none">
                        <img src="~/Areas/BM_Management/img/Vector.png" /> Clear
                    </button>
                </div>

                <div class="col-md-2 colpadding0">
                </div>
                <div class="col-md-1 colpadding0">
                    <button class="btn btn-primary hidden" id="btnExporttoicall" title="Add New" style="margin-left: -25%;">Export to iCal</button>
                </div>

                <div class="col-md-1 colpadding0">
                    <button class="btn btn-primary hidden" onclick="Expottopdf()" title="Add New">Export to PDF</button>
                </div>

                <div class="col-md-1 text-right colpadding0">
                    
                </div>
            </div>
        </div>
        <script id="allday-event-template" type="text/x-kendo-template">
            <div class='event-template'>
                #if(isAllDay){#
                @*<img src="@Url.Content("~/Content/web/scheduler/24h.png")" />*@
                #}else if((Math.abs(start - end) / 36e5) > 1){#
                @*<img src="@Url.Content("~/Content/web/scheduler/1h.png")" />*@
                #}#
                <span>#: title #</span>
            </div>
        </script>

        <script id="agenda-template" type="text/x-kendo-template">
            <div class='event-template'>
                <span>#: title #</span>
            </div>
        </script>

        @(Html.Kendo().Scheduler<BM_ManegmentServices.VM.AnnualMeetingSheduler>
            ()
            .Name("scheduler")
            //.Date(new DateTime(System.DateTime.Today.Year-1, 4, 1))
            //.StartTime(new DateTime(System.DateTime.Today.Year-1, System.DateTime.Today.Month, System.DateTime.Today.Day, 7, 00, 00))
            .Date(new DateTime(System.DateTime.Today.Year,System.DateTime.Today.Month, System.DateTime.Today.Day))
            .StartTime(new DateTime(System.DateTime.Today.Year, System.DateTime.Today.Month, System.DateTime.Today.Day, 7, 00, 00))

            .Editable(s => s.Update(false))
            .Editable(s => s.Create(false))
            .Editable(s => s.Destroy(false))
              .AllDayEventTemplateId("allday-event-template")
    .EventTemplateId("allday-event-template")
            .Height(520)

            //.Events(x => x.Remove("Delete"))
            .Events(x => x.DataBinding("bindSchedular"))

            .Views(views =>
            {
                views.MonthView(month =>
                {
                    month.EventHeight(30);
                });
                views.CustomView("CustomTitle", view => view.Title("Upcoming Meeting Events").Selected(true));
            })
            //.Timezone("Etc/UTC")
            ////.
            //.Group(gr=>gr.Date(true))
            .DataSource(d => d
            .Model(m =>
            {
                m.Id(f => f.ID);
                m.Field(f => f.Title).DefaultValue("No title");
            })
            .Read("GetAnnualMeeting", "AnnualMeetingCalender")
            //.Destroy("DeleteAnnualMeetingCalender", "AnnualMeetingCalender")
            )
        )
        <script type="text/javascript">
            $(document).ready(function () {
                $("#scheduler").kendoTooltip({
                    filter: ".k-event:not(.k-event-drag-hint)",
                    position: "top",
                    width: 250,
                    content: kendo.template($('#template').html())
                });
            })
        </script>

        <script id="template" type="text/x-kendo-template">
            #var element = target;#
            #var uid = element.attr("data-uid");#
            #var scheduler = target.closest("[data-role=scheduler]").data("kendoScheduler");#
            #var model = scheduler.occurrenceByUid(uid);#

            #if(model) {#
            <strong>Title:</strong> #=model.title#
            <br />
            <strong>Meeting Date:</strong> #= kendo.toString(kendo.parseDate(model.start, 'yyyy-MM-dd'), 'dd/MM/yyyy')#

            <br />
            @*<strong>Start Date:</strong> #= kendo.toString(kendo.parseDate(model.end, 'yyyy-MM-dd'), 'dd/MM/yyyy')#
            <br />*@
            #} else {#
            <strong>No event data is available</strong>
            #}#
        </script>

        <script>
            $("#scheduler").on("click", ".k-event", function (e) {
                debugger;
                if (e.target.className != "k-icon k-i-close") {
                    var scheduler = $("#scheduler").getKendoScheduler();
                    var event = scheduler.occurrenceByUid($(this).data("uid"));
                    EditMeeting(event.ID);
                }
            });

            function Delete(e) {
                debugger;
                var a = e;

            }

        </script>
        <style>
            .event-template img {
                float: left;
                margin: 0 8px;
            }

            body, h1, h2, h3 {
                margin: 0px;
            }
        </style>
    </div>
</div>
