﻿@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "Dashboard";
}

<style>
     #upcommingMeeting .k-grid-header {
        height: 0;
        border-bottom-width: 0;
        display: none;
        overflow: hidden;
    }
</style>
<style>
    .compliance-status-border{
        width: 20px;
        border-left-width: 1px;
        border-right-style: solid;
    }

    .compliance-status-pl{
        padding-left:16px;
        font-size: 24px;
        font-weight: bold;
    }

    .compliance-status-label-pl{
        padding-left:16px;
        font-size: small;
    }
</style>

<div style="max-height:200px;" class="hidden">

    @(Html.Kendo().Grid<BM_ManegmentServices.VM.Dashboard.MyCompliance_Director_ResultVM>()
        .Name("gridKendo")
        .Columns(columns =>
        {
            columns.Bound(o => o.CompanyName).Title("Name").Width("40%");
        })
        .Events(e => e.DataBound("onRowBound"))
        .Navigatable()
        //.Scrollable()
        .Pageable(pageable => pageable
            .Refresh(false)
            .PageSizes(true)
            .ButtonCount(5))
            .Filterable()
            //.Sortable()
            .Reorderable(reorderable => reorderable.Columns(true))
            .Resizable(resizable => resizable.Columns(true))
            .ColumnMenu(col => col.Columns(false))
            .DataSource(dataSource => dataSource
            .WebApi()
            .PageSize(10)
            .ServerOperation(false)
            .Model(model =>
            {
                model.Id(o => o.EntityId);
                model.Field(o => o.ComplianceStatus);
            })
            .Read(read => read.Url("/api/Dashboard/MyCompliances_Director?roleId=3").Type(HttpVerbs.Get))
            //.Read(read => read.Action("CountsDetails","Dashboard", new { roleId  = 3}).Type(HttpVerbs.Get))

                          ).HtmlAttributes(new { @style = "width:100%" })
    )
</div>

<div class="row" style="background-color:white;">
    <div class="col-md-12 colpadding0">
        <div class="col-md-3 colpadding0">
            <div id="chart"></div>
        </div>
        <div class="col-md-1 colpadding0">
            <div style="padding-top:110px;">
                <table>
                    <tr>
                        <td class="compliance-status-border" style="border-right-color: #4bd8c4;"></td>
                        <td class="compliance-status-pl">123</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="compliance-status-label-pl">closed in-time</td>
                    </tr>

                    <tr>
                        <td class="compliance-status-border" style="border-right-color: #f1f102;"></td>
                        <td class="compliance-status-pl">33</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="compliance-status-label-pl">closed Delayed</td>
                    </tr>

                    <tr>
                        <td class="compliance-status-border" style="border-right-color: #e40c0c;"></td>
                        <td class="compliance-status-pl">13</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="compliance-status-label-pl">Overdue</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-md-8 colpadding0">
            <div id="chart-bar"></div>
        </div>
    </div>

</div>

<div class="row colpadding0 mt30">
    <div class="col-md-12 colpadding0">
        <div class="col-md-6 colpadding0">
            @(Html.Kendo().Grid<BM_ManegmentServices.VM.Dashboard.MeetingListVM>()
                .Name("upcommingMeeting")
                .Columns(columns =>
                {
                    columns.Bound(c => c.RSPV).Visible(false);
                    columns.Bound(c => c.EntityId).Visible(false);
                    columns.Bound(c => c.MeetingTypeId).Visible(false);
                    columns.Bound(c => c.EntityName).Title("")
                    .ClientTemplate("<div>#= GetMeetingsDetails(data)#</div>").Sortable(false).Filterable(false);
                    //columns.Bound(c => c.MeetingTypeId).Visible(true);
                    //columns.Bound(c => c.MeetingID).Title("")

                    //.ClientTemplate("<div class='row colpadding0'><div class='col-md-12 colpadding0'><div class='groupbutton' Id='select-period#=data.uid#' style='width: 35%;'><span onclick='groupbuttonindex(this);' id='gropbtnyes#=data.uid#' style='width:60%' class='gbtnyes' >Yes</span><span onclick='groupbuttonindex(this);' id='gropbtnno#=data.uid#' style='width:60%'>No</span><span onclick='groupbuttonindex(this);' id='gropbtnmaybe#=data.uid#' style='width:60%'>Maybe</span></div></div></div><div class='row colpadding0 mt30'><div class='col-md-12 colpadding0'><input style='display:none' id='rdbRemark#=data.uid#' style='width:100%' class='k-input k-textbox' type='textbox' style='width: 90%;' value='#=ReasonforRSPV !=null?ReasonforRSPV:''#' onchange='setDataItemforRemark(this);' #= ReasonforRSPV # placeholder='Remark'></div></div><div class='row colpadding0 mt30'><div class='col-md-12 colpadding0'><div class='col-md-2 colpadding0'><button type='button' id='saveppcom#=data.uid#' class='btn btn-primary button1' onclick='saveupcomingMeetings(this)' style='width: 45%;'>Save</button></div><div class='col-md-2 colpadding0'><button type='button' id='btnjoinmeeting#=data.uid#' class='btn btn-primary button1' onclick='JoinMeetings(this)' style='width: 85%;'>Join Meeting</button></div><div></div>").HtmlAttributes(new { style = "width:10%" }).Sortable(false).Filterable(false);

                })
                .Pageable(pageable => pageable
                .Refresh(false)
                .PageSizes(true)
                .ButtonCount(5))
                .Events(e => e.DataBound("onUpcommingMeetingRowBound"))

                    .DataSource(dataSource => dataSource
                    .WebApi()
                    .PageSize(4)
                    .ServerOperation(false)
                    .Model(model =>
                    {
                        model.Id(o => o.MeetingID);

                    })

                  .Read(read => read.Action("UpcommingMetting", "DirectorMeetings"))

              ).HtmlAttributes(new { @style = "width:100%" })
            )
        </div>
    </div>
</div>




<script>

    function onRowBound1(e) {

        var grid = $("#gridKendo").data("kendoGrid");
        var gridData = grid.dataSource.data();

        var lookup = {};
        var lookupData = {};
        var lstEntities = [];
        var result = { items: [] };


        //lookupData[110] = { "EntityId": "110", "Name": "ABC PRIVATE LTD", "High": 60, "Medium": 50, "Low": 0 };
        //lookupData[11100] = { "EntityId": "11100", "Name": "AVANTIS REGTECH PVT LTD", "High": 50, "Medium": 80, "Low": 0 };
        //lookupData[1000] = { "EntityId": "1000", "Name": "RANJIT", "High": 10, "Medium": 90, "Low": 0 };

        //lstEntities.push(110);
        //lstEntities.push(11100);
        //lstEntities.push(1000);
        for (var i = 0; i < gridData.length; i++) {

            var EntityId = gridData[i].EntityId;

            if (!(EntityId in lookup)) {
                lookup[EntityId] = 1;
                lookupData[EntityId] = { "EntityId": gridData[i].EntityId, "Name": gridData[i].CompanyName, "High": 0, "Medium": 0, "Low": 0 };
                lstEntities.push(gridData[i].EntityId);
            }
            else {
                switch (gridData[i].Risk) {
                    case "High":
                        lookupData[EntityId].High++;
                        break;
                    case "Medium":
                        lookupData[EntityId].Medium++;
                        break;
                    case "Low":
                        lookupData[EntityId].Low++;
                        break;
                }
            }
        }

        for (var i = 0; i < lstEntities.length; i++) {
            result.items.push(lookupData[lstEntities[i]]);
        }

        var ds = new kendo.data.DataSource({
            data: result.items,
            schema: {
                model: {
                    id: "EntityId",
                    fields: {
                        CompanyName: { editable: false },
                    }
                }
            },
        });

        createChart(ds);

    }

    function onRowBound(e) {

        var grid = $("#gridKendo").data("kendoGrid");
        var gridData = grid.dataSource.data();

        var lookup = {};
        var lookupData = {};
        var lstEntities = [];
        var result = { items: [] };

        lookupData["Overdue"] = { "Category": "Overdue", "Response_Count": 0, "Color": "#e40c0c" };
        //lookupData["Upcoming"] = { "Category": "Upcoming", "Response_Count": 0, "Color": "yellow" };
        lookupData["CD"] = { "Category": "Closed-Delayed", "Response_Count": 0, "Color": "#f1f102" };
        lookupData["CT"] = { "Category": "Closed-Timely", "Response_Count": 0, "Color": "#4bd8c4" };

        //

        
        for (var i = 0; i < gridData.length; i++) {

            switch (gridData[i].ComplianceStatus) {
                case "Overdue":
                    lookupData["Overdue"].Response_Count++;
                    break;
                //case "Upcoming":
                //    lookupData["Upcoming"].Response_Count++;
                case "Closed-Delayed":
                    lookupData["CD"].Response_Count++;
                    break;
                case "Closed-Timely":
                    lookupData["CT"].Response_Count++;
                    break;
            }
        }

        result.items.push(lookupData["Overdue"]);
       // result.items.push(lookupData["Upcoming"]);
        result.items.push(lookupData["CD"]);
        result.items.push(lookupData["CT"]);

        
        var ds = new kendo.data.DataSource({
            data: result.items,
            schema: {
                model: {
                    id: "EntityId",
                    fields: {
                        CompanyName: { editable: false },
                        Overdue: { editable: false },
                        Upcoming: { editable: false }
                    }
                }
            },
        });

        createDonut(ds);

        onRowBound1();
    }

    function createDonut(ds) {

        $("#chart").kendoChart({
            dataSource: ds,
            title: {
            text: "Details title",
                //position: "bottom",
            visible :false
            },
        chartArea:{
           // background: "transparent"
        },
        legend: {
            position: "left",
            visible: false,
        },
        seriesDefaults: {
            type: "donut"
        },
        series: [{
            field: "Response_Count",
            categoryField: "Category",
            colorField: "Color",
            //padding: 0
        }],
        tooltip: {
            visible: true,
            format: "N0",
             template:"#= chartToolTipTemplate(dataItem.Category, dataItem.Response_Count) #"
        }
        });

    }

    function chartToolTipTemplate(category, count) {

        var template = "<div>" + category + " : " + count + "</div>";
        return template;
    }

    function createChart(ds) {
        
        var gap = 8 / ds.data.length;

        $("#chart-bar").kendoChart({
            dataSource: ds,
            title: {
                text: "Compliance by Company"
            },
            legend: {
                // position: "top"
                visible: false
            },
            seriesDefaults: {
                type: "column",
                stack: true,

                //width: 2,
                //gap: 5,
            },
            series: [{
                field: "High",
                categoryField: "Name",
                name: "High",
                color: "#9a2b23",
                width: 20,
            },
            {
                field: "Medium",
                categoryField: "Name",
                name: "Medium",
                color: "#d0665f",
            },
            {
                field: "Low",
                categoryField: "Name",
                name: "Low",
                color: "#e4a19c",
            }
            ],
            categoryAxis: {
                //labels: {
                //    //rotation: 90
                //},
                majorGridLines: {
                    visible: false
                },
                labels: {
            template: labelTemplate
        }
            },
            valueAxis: {
                //labels: {
                //    format: "N0",
                //    rotation: "auto"
                //},
                line: {
                    visible: false
                },
                majorGridLines: {
                    visible: false
                }
            },
            tooltip: {
                visible: true,
                template: "#= series.name #: #= value #"
            }
        });
    }

    function labelTemplate(e) {

        //return e.value.substring(0, 5)
        return e.value.split(" ")[0];
    }

    function labelTemplate1(e) {
        return e.value.split(" ").join("\n");
    }
</script>



<script>
    
    $(document).ready(function () {
        //loadCount();
        //url: "/api/Dashboard/MyCompliances_Director?roleId=3",
    });

    function loadCount() {
        $.ajax({
            url: "/api/Dashboard/Count",
            type: "Get",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            //data: '{}',
            success: function (result) {
                $("#divDraftMeetingCount")[0].innerHTML = result.Draft;
                $("#divCompletedMeetingCount")[0].innerHTML = result.Completed;
            }
        });
    }
</script>

<script>
    function onUpcommingMeetingRowBound() {

        var grid = $("#upcommingMeeting").data("kendoGrid");
        var gridData = grid.dataSource.view();
        var data = grid.dataSource.data();

        $.each(data, function (i, row) {
            $('tr[data-uid="' + row.uid + '"] ').removeClass("k-alt");
        })

    }

    function GetMeetingsDetails(data) {
        
        var str = "";

        var color = "#017fbe";
        var text = "";
        var colorCode = "";

        if (data.RSPV != null) {
            if (data.RSPV == "Yes") {
                text = "<span style='color:green;background-color:#9dec9d;padding: 5px 10px 5px;border-radius: 34px;max-height: 3px;'>Yes</span>";
                colorCode = "#10bc83";
            }
            else if (data.RSPV == "No") {
                text = "<span style='color:#e80505;background-color:rgba(241, 195, 177, 1);padding: 5px 10px 5px;border-radius: 34px;max-height: 3px;'>No</span>";
                colorCode = "#d03d3d";
            }
            else if (data.RSPV == "Maybe") {
                text = "<span style='color:orange;background-color:#ffe1af;padding: 5px 10px 5px;border-radius: 34px;max-height: 3px;'>Maybe</span>";
                colorCode = "#10bc83";
            }
        }
        var day = moment(data.MeetingDated).format('DD');
        str += "<div>" +
            "<table cellpadding='0' cellspacing='0' style='width:100%;table-layout:fixed;'>" +
            "<tbody>" +
                "<tr>" +
                    "<td style='vertical-align:top;width:50px;text-align:center;'>" +
                        "<table cellpadding='0' cellspacing='0' style='width:45px;margin:0px auto;border:1px solid rgb(224, 224, 224);border-radius:5px;'><tbody>" +
                        "<tr><td style='background-color:#017fbe;color:#ffffff;font-size:12px;line-height:12px;border-radius:4px 4px 0px 0px;'>" + data.Month + "</td></tr>" +
                        "<tr><td style='color:#555555;font-size:16px;line-height:16px;padding:5px 0px;'>" + data.Day + "</td></tr></tbody></table>" +
                    "</td>" +
            //"<td style='padding:0px 30px 0px 15px;vertical-align:top;'>" +
                    "<td style='border-left-width: 0px;'>"+
                        "<h1 style='cursor:pointer;font-size:16px;line-height:1.4;margin-top:0px;padding-bottom: 0px;margin-bottom: 0px;font-weight:bold;'>" + data.MeetingTypeName + " Meeting</h1><p style='line-height:1.4;font-size:12px;'>" + data.EntityName + "</p>" +
                    "</td>" +
                    "<td style='width:65px;border-left-width:0px;'>" +
                        text +
                    "</td>" +
        "</tr></tbody></table></div>";
        return str;
    }
</script>
<style>
    #collapseDivFilters > div > div > div > div > div > div > a.bx-prev {
        left: 0%;
    }

    #collapseDivFilters > div > div > div > div > div > div > a.bx-prev {
        left: 0%;
    }

    @@media screen and (max-width: 750px) {
        iframe {
            max-width: 100% !important;
            width: auto !important;
            height: auto !important;
        }
    }


    .panel {
        margin-bottom: 10px;
    }

        

            .panel .panel-heading h2 {
                font-size: 20px;
            }


    .info-box {
        min-height: 110px;
        margin-bottom: 10px;
        /*border: 1px solid #ADD8E6;*/
    }

        .info-box:hover {
            color: #FF7473;
            font-weight: 500;
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            z-index: 5;
        }

    .info-box-task {
        min-height: 140px;
        margin-bottom: 18px;
        width: 95%;
        border-radius: 10px;
        padding: 10px 10px 0px 10px;
        color: #666;
        -webkit-box-shadow: inset 0 0 1px 1px rgba(255,255,255,.35), 0 1px 1px -1px rgba(0,0,0,.1);
        -moz-box-shadow: inset 0 0 1px 1px rgba(255,255,255,.35),0 1px 1px -1px rgba(0,0,0,.1);
        box-shadow: inset 0 0 1px 1px rgba(255,255,255,.35), 0 1px 1px -1px rgba(0,0,0,.1);
    }

    .info-box-task {
        min-height: 75px;
        margin-bottom: 10px;
        /*border: 1px solid #ADD8E6;*/
    }

        .info-box-task .count {
            font-size: 23px;
            color: #1fd9e1;
            text-align: center;
        }

        .info-box-task .desc {
            font-size: 14px;
            text-align: center;
        }

        .info-box-task .count:hover {
            color: #FF7473;
            font-weight: 500;
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
        }

        .panel .panel-heading .panel-actions a
        {
            background: #eee;
        }
</style>