﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.DirectorRelativesVM

<div id="divDirectorsRelativesDetails">
    @using (Ajax.BeginForm("SaveOrUpdate", "DirectorRelatives", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divDirectorsRelativesDetails", OnBegin = "OnOpenRelative", OnComplete = "OnRefreshRelative" }, new { id = "frmCreateDirectorRelatives", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Director_ID)

        if (Model.Message != null)
        {
            <div class="row">
                @if (Model.Message.Success)
                {
                    <div class="col-md-12 colpadding0">

                        <div class="alert alert-success alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <lable>@Model.Message.Message</lable>
                        </div>
                    </div>
                }
            </div>

            <div class="row">
                @if (Model.Message.Error)
                {
                    <div class="col-md-12 colpadding0">
                        <div class="alert alert-danger alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <lable>@Model.Message.Message</lable>
                        </div>
                    </div>
                }
            </div>
        }

        <div class="row">
            <div class="col-md-11" style="display:none" id="Divsuccess">
                <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <lable id="lblsuccess"></lable>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-11" style="display:none" id="Diverror">
                <div class="alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <lable id="lblerrormsg"></lable>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 colpadding0">

                <div class="col-md-3">
                    <span style="color:red">*</span><lable class="control-label">Relation </lable>
                </div>
                <div class="col-md-7 colpadding0">

                    @Html.Kendo().DropDownListFor(model => model.Relation).BindTo(new SelectList(new List<object> {
                new {id="HUF",text="HUF"},
                new {id="Spouse",text="Spouse"},
                new {id="Father",text="Father"},
                new {id="Mother",text="Mother"},
                new {id="Son",text="Son"},
                new {id="Daughter",text="Daughter"},
                new {id="Brother",text="Brother"},
                new {id="Sister",text="Sister"},
            }, "id", "text")).HtmlAttributes(new { style = "width:85%;", onchange = "ddlRelationChanged()" })

                </div>

            </div>
        </div>

        <div class="row mt30">
            <div class="col-md-12 colpadding0">
                <div class="col-md-3">
                    <span style="color:red">*</span><lable class="control-label">Name </lable>
                </div>
                <div class="col-md-7 colpadding0">
                    @Html.Kendo().TextBoxFor(m => m.Name).HtmlAttributes(new { style = "width:85%", autocomplete = "off" })
                </div>
            </div>
        </div>

        <div id="divMinorAdult" class="row mt30">
            <div class="col-md-12 colpadding0">
                <div class="col-md-3">
                    <span style="color:red" id="spMinorAdult">*</span><lable class="control-label">Minor/Adult </lable>
                </div>
                <div class="col-md-7 colpadding0">
                    @(Html.Kendo().RadioButtonFor(model => model.Minor_or_Adult).Label("Minor").Value("true").HtmlAttributes(new { onclick = "MinorAdultChanged('true')" }))
                    &nbsp;&nbsp;&nbsp;
                    @(Html.Kendo().RadioButtonFor(model => model.Minor_or_Adult).Label("Adult").Value("false").HtmlAttributes(new { onclick = "MinorAdultChanged('false')" }))
                </div>
            </div>
        </div>

        <div id="divMaritalStatus" class="row mt30">
            <div class="col-md-12 colpadding0">
                <div class="col-md-3">
                    <span style="color:red" id="spMaritalStatus">*</span><lable class="control-label">Marital Status </lable>
                </div>
                <div class="col-md-7 colpadding0">
                    @(Html.Kendo().RadioButtonFor(model => model.MaritalStatus).Label("Unmarried").Value("false").HtmlAttributes(new { onclick = "MaritalStatusChanged('false')" }))
                    &nbsp; &nbsp;
                    @(Html.Kendo().RadioButtonFor(model => model.MaritalStatus).Label("Married").Value("true").HtmlAttributes(new { onclick = "MaritalStatusChanged('true')" }))
                </div>
            </div>
        </div>

        <div id="divSpouse" class="row mt30">
            <div class="col-md-12 colpadding0">
                <div class="col-md-3">
                    <span style="color:red" id="spSpouse">*</span><lable class="control-label">Spouse Name </lable>
                </div>
                <div class="col-md-7 colpadding0">
                    @Html.Kendo().TextBoxFor(m => m.Spouse).HtmlAttributes(new { style = "width:85%;", autocomplete = "off" })
                </div>
            </div>
        </div>

        <div id="divChangeType" class="row mt30">
            <div class="col-md-12 colpadding0">
                <div class="col-md-3">
                    <lable class="control-label">Change Type </lable>
                </div>
                <div class="col-md-7 colpadding0">
                    @Html.Kendo().DropDownListFor(model => model.ChangeTypeId).BindTo(new SelectList(new List<object> {
                            new {id="0",text="Select"},
                            new {id="1",text="Deceased"},
                            new {id="2",text="Divorce"}}, "id", "text")).HtmlAttributes(new { style = "width: 85%;" })
                </div>
            </div>
        </div>

        <div id="divChangeDate" class="row mt30">
            <div class="col-md-12 colpadding0">

                <div class="col-md-3">
                    <lable class="control-label">Change Date </lable>
                </div>
                <div class="col-md-3 colpadding0">

                    @(Html.Kendo().DatePickerFor(m => m.ChangeDate)
                .Max(DateTime.Today)
                .HtmlAttributes(new { style = "width: 100%", id = "ChangeDate", onchange = "checkDate(this);", autocomplete = "off" })
                    )
                    @Html.ValidationMessageFor(model => model.ChangeDate, "", new { @class = "text-danger" })

                </div>

            </div>
        </div>

        if (Model.Id > 0)
        {
            <div class="row mt30">
                <div class="col-md-12 colpadding0 text-center">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <button type="button" id="btncloseRelative" class="btn btn-primary" onclick="btncloseRelativeClick()">Close</button>
                </div>
            </div>
        }
        else
        {
            <div class="row mt30">
                <div class="col-md-12 colpadding0 text-center">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" id="btncloseRelative" class="btn btn-primary" onclick="btncloseRelativeClick()">Close</button>
                </div>
            </div>
        }
    }
<script>
    $(document).ready(function () {
        $("#ChangeDate").removeAttr("data-val-date");

        if ($("#ChangeDate").val() == "01/01/0001") {
            $("#ChangeDate").val('');
        }

        var isMinor = '@(Model.Minor_or_Adult == true ? "true" : "false")';
        var isMarried = '@(Model.MaritalStatus == true ? "true" : "false")';

        if (isMinor == 'true') {
            $("#Minor_or_Adult_true")[0].checked = true;
        }
        else {
            $("#Minor_or_Adult_false")[0].checked = true;
            document.getElementById("divMaritalStatus").style.display = "block";
        }

        if (isMarried == 'true') {
            $("#MaritalStatus_true")[0].checked = true;
            document.getElementById("divSpouse").style.display = "block";
        }
        else {
            $("#MaritalStatus_false")[0].checked = true;
        }
    });

    function ddlRelationChanged() {

        var ddlRelation = $("#Relation").data("kendoDropDownList");

        var val = ddlRelation.value();

        $("#spMinorAdult").addClass("hidden");
        $("#spMaritalStatus").addClass("hidden");
        $("#spSpouse").addClass("hidden");

        $("#divMinorAdult").addClass("hidden");
        $("#divMaritalStatus").addClass("hidden");
        $("#divSpouse").addClass("hidden");

        if (val == "HUF" || val == "Father" || val == "Mother" || val == "Spouse") {
            //$("#divMinorAdult").find("input,button,textarea,select").attr("disabled", "disabled");
            //$("#divMaritalStatus").find("input,button,textarea,select").attr("disabled", "disabled");
            //$("#divSpouse").find("input,button,textarea,select").attr("disabled", "disabled");

            $("#spMinorAdult").addClass("hidden");
            $("#spMaritalStatus").addClass("hidden");
            $("#spSpouse").addClass("hidden");

            $("#Spouse").val('');
        }
        else if (val == "Son" || val == "Daughter") {

            //$("#divMinorAdult").find("input,button,textarea,select").removeAttr("disabled", "disabled");
            //$("#divMaritalStatus").find("input,button,textarea,select").removeAttr("disabled", "disabled");
            //$("#divSpouse").find("input,button,textarea,select").removeAttr("disabled", "disabled");

            $("#spMinorAdult").removeClass("hidden");
            $("#spMaritalStatus").removeClass("hidden");
            $("#spSpouse").removeClass("hidden");

            $("#divMinorAdult").removeClass("hidden");
            $("#divMaritalStatus").removeClass("hidden");
            $("#divSpouse").removeClass("hidden");
        }
        else if (val == "Brother" || val == "Sister") {
            //$("#divMinorAdult").find("input,button,textarea,select").removeAttr("disabled", "disabled");
            //$("#divMaritalStatus").find("input,button,textarea,select").attr("disabled", "disabled");
            //$("#divSpouse").find("input,button,textarea,select").attr("disabled", "disabled");

            $("#spMinorAdult").removeClass("hidden");
            $("#spMaritalStatus").addClass("hidden");
            $("#spSpouse").addClass("hidden");

            $("#Spouse").val('');

            $("#divMinorAdult").removeClass("hidden");
        }
        debugger;
        //var checkminorrdb = $("input[name='Minor_or_Adult']:checked").val();
        var checkminorrdb = $("input[name='MaritalStatus']:checked").val();
        if (checkminorrdb == "true" && (val == "Son" || val == "Daughter")) {
            document.getElementById("divSpouse").style.display = "block";
        }
        else {
            document.getElementById("divSpouse").style.display = "none";
        }
    }

    function MinorAdultChanged(o) {
        debugger;
        var ddlRelation = $("#Relation").data("kendoDropDownList");
        var val = ddlRelation.value();

        if (val == "Son" || val == "Daughter") {
            if (o == "true" || o == true || o == "True") {
                $("#MaritalStatus_false")[0].checked = true;

                //$("#divMaritalStatus").find("input,button,textarea,select").attr("disabled", "disabled");
                //$("#divSpouse").find("input,button,textarea,select").attr("disabled", "disabled");

                $("#spMaritalStatus").addClass("hidden");

                document.getElementById("divMaritalStatus").style.display = "none";
                document.getElementById("divSpouse").style.display = "none";
            }
            else {

                //$("#divMaritalStatus").find("input,button,textarea,select").removeAttr("disabled", "disabled");
                //$("#divSpouse").find("input,button,textarea,select").removeAttr("disabled", "disabled");

                $("#spMaritalStatus").removeClass("hidden");

                document.getElementById("divMaritalStatus").style.display = "block";
                document.getElementById("divSpouse").style.display = "block";
            }
            MaritalStatusChanged($("#MaritalStatus_true")[0].checked); ddlRelationChanged
        }

    }

    function MaritalStatusChanged(o) {

        if (o == "true" || o == true) {
            $("#Spouse").attr("data-val", "true");
            $("#Spouse").attr("data-val-required", "Please Enter Spouse Name");

            //$("#divSpouse").find("input,button,textarea,select").removeAttr("disabled", "disabled");

            $("#spSpouse").removeClass("hidden");

            document.getElementById("divSpouse").style.display = "block";
        }
        else {
            $("#Spouse").attr("data-val", "false");
            $("#Spouse").removeAttr("data-val-required");

            //$("#divSpouse").find("input,button,textarea,select").attr("disabled", "disabled");
            $("#Spouse").val('');
            $("#Spouse_validationMessage").attr('style', "display:none;");

            $("#spSpouse").addClass("hidden");
            document.getElementById("divSpouse").style.display = "none";
        }
    }
</script>

<script>
    $(document).ready(function () {

    var ddlRelation = $("#Relation").data("kendoDropDownList");
    debugger;
    if ('@Model.Id' == '0') {

        ddlRelation.readonly(false);

        fillRelation("new");

        $("#divChangeType").hide();
        $("#divChangeDate").hide();

        var grid = $("#gridRelative").data("kendoGrid");
        var dataSource = grid.dataSource;
        //if (dataSource.total() == 0)
        if (dataSource.data().length == 0) {

            var ddlRelation = $("#Relation").data("kendoDropDownList");
            ddlRelation.value('HUF');
            ddlRelationChanged();

            $("#Name").val('');
        }
    }
    else {

        ddlRelation.readonly();

        MinorAdultChanged('@(Model.Minor_or_Adult == true ? "true" : "false")');
        MaritalStatusChanged('@(Model.MaritalStatus == true ? "true" : "false")');
        ddlRelationChanged();

        fillRelation("edit");

        $("#divChangeType").show();
        $("#divChangeDate").show();
    }
    });
</script>
</div>