﻿
@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.MailSettingVM

<div id="divMailSetting">
    @using (Ajax.BeginForm("SaveMailSetting", "Setting", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divMailSetting", OnBegin = "OnOpenMailSetting", OnComplete = "OnRefreshMailSetting" }, new { id = "frmMailSettingDetails" }))
    {
        if (Model != null)
        {
            if (Model.Success)
            {
                <div class="row colpadding0">
                    <div class="col-md-12 colpadding0" id="DivsuccessI">
                        <div class="alert alert-success alert-dismissible">
                            <button class="close" type="button" onclick="hideAlert();">×</button>
                            <lable id="lblsuccessI">@Html.Raw(Model.Message)</lable>
                        </div>
                    </div>
                </div>
            }
            else if (Model.Error)
            {
                <div class="row colpadding0">
                    <div class="col-md-12 colpadding0" id="DiverrorI">
                        <div class="alert alert-danger alert-dismissible">
                            <button class="close" type="button" onclick="hideAlert();">×</button>
                            <lable id="lblerrormsgI">@Html.Raw(Model.Message)</lable>
                        </div>
                    </div>
                </div>
            }
        }


        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MailSettingId)

        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">
                <div class="col-md-3">
                    <span style="color:red">*</span><lable class="control-label">Entity Name </lable>
                </div>
                <div class="col-md-7 colpadding0">
                    @(Html.Kendo().DropDownListFor(model => model.EntityID)
                    .DataValueField("Id")
                    .DataTextField("EntityName")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Url("/api/EntityMasterAPI/GetDropDownEntityForMeeting").Type(HttpVerbs.Get);
                        })
                        .ServerFiltering(true);
                    })
                    //.Value(Model.EntityID.ToString())
                    .OptionLabel("Select")
                    .HtmlAttributes(new { @class = "amp-h25", style = "width: 85%;", Id = "EntityID" }))
                </div>
            </div>
        </div>

        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">
                <div class="col-md-3">
                    <span style="color:red">*</span><lable class="control-label">Email ID</lable>
                </div>
                <div class="col-md-7 colpadding0">
                    @Html.Kendo().TextBoxFor(m => m.Email_Entity).HtmlAttributes(new { style = "width:85%;", autocomplete = "off" })
                </div>
            </div>
        </div>

        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">
                <div class="col-md-3">
                    <span style="color:red">*</span><lable class="control-label">Password</lable>
                </div>
                <div class="col-md-7 colpadding0">
                    @Html.Kendo().TextBoxFor(m => m.Password).HtmlAttributes(new { style = "width:85%;", autocomplete = "new-password", type = "password" })
                </div>
            </div>
        </div>

        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">
                <div class="col-md-3">
                    <span style="color:red">*</span><lable class="control-label">SMTP Port</lable>
                </div>
                <div class="col-md-7 colpadding0">
                    @Html.Kendo().TextBoxFor(m => m.Port).HtmlAttributes(new { style = "width:85%;", autocomplete = "off", type = "number" })
                </div>
            </div>
        </div>

        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">
                <div class="col-md-3">
                    <span style="color:red">*</span><lable class="control-label">Mail Server Domain</lable>
                </div>
                <div class="col-md-7 colpadding0">
                    @Html.Kendo().TextBoxFor(m => m.Host).HtmlAttributes(new { style = "width:85%;", autocomplete = "off" })
                </div>
            </div>
        </div>

        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">
                <div class="col-md-3">
                    <span style="color:red">*</span><lable class="control-label">SSL</lable>
                </div>
                <div class="col-md-7 colpadding0">
                    @(Html.Kendo().RadioButtonFor(model => model.EnableSsl).Label("True").Value(true).HtmlAttributes(new { }))
                    &nbsp; &nbsp;
                    @(Html.Kendo().RadioButtonFor(model => model.EnableSsl).Label("False").Value(false).HtmlAttributes(new { }))
                </div>
            </div>
        </div>

        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">
                <div class="text-center">
                    <button type="Submit" value="save" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    }
</div>