﻿@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "";
}

<style>
    .k-checkbox-label
    {
        top: 7px;
        margin-left:15px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        text-align: justify;
        color: #767676;
    }
</style>
<script>
    function onRowBoundmailservices(e) {
        GetICons();
        //var grid = $("#gridKendo2").data("kendoGrid");
        //var data = grid.dataSource.data();
        }

    function filterChange() {

        var filter = { logic: 'or', filters: [] };

        var t = $('#filter');
        if (t.val() != "") {
            filter.filters.push({ logic: "or", field: "EntityName", operator: "contains", value: t.val() });
        }

        grid = $("#gridPageSetting").data("kendoGrid");
        grid.dataSource.filter(filter);
    }

    function openHeaderFooterSetting() {
        var direction = "@Url.Action("GetLetterHead", "Setting", new { entityId = 0})";

        var wnd = $("#wndAddEditPageSetting").data("kendoWindow");
        var opts = wnd.options;

        $("#wndAddEditPageSetting").attr("style", "min-height:480px;");
        wnd = $("#wndAddEditPageSetting").kendoWindow({
            actions: ["Close"],
            content: direction,
            visible: false,
            modal: true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            open: function () { kendo.ui.progress(this.element, true); },
            close: function (e) {
                $(this.element).empty();
                var grid = $("#gridPageSetting").data("kendoGrid");
                grid.dataSource.read();
            }
        }).data("kendoWindow");

        opts.width = "860px";
        //opts.height = "520px";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

    function editHeaderFooterSetting(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var direction = "@Url.Action("GetLetterHead", "Setting")" + "?entityId=" + dataItem.PageHeaderEntityId;

        $("#wndAddEditPageSetting").attr("style", "min-height:480px;");

        var wnd = $("#wndAddEditPageSetting").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndAddEditPageSetting").kendoWindow({
            actions: ["Close"],
            content: direction,
            visible: false,
            modal: true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            open: function () { kendo.ui.progress(this.element, true); },
            close: function (e) {
                $(this.element).empty();
                var grid = $("#gridPageSetting").data("kendoGrid");
                grid.dataSource.read();
            }
        }).data("kendoWindow");

        opts.width = "860px";
        //opts.height = "520px";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

    function OnOpenWindow(e) {
        var wnd = $("#wndAddEditPageSetting").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
    }

    function OnRefreshWindow() {
        var wnd = $("#wndAddEditPageSetting").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function closeHeaderFooterwnd(){
        var wnd = $("#wndAddEditPageSetting").data("kendoWindow");
        wnd.close();
    }
</script>

<div class="row Dashboard-white-widget">
    <div class="dashboard">
        @(Html.Kendo().Window().Name("wndAddEditPageSetting").Title("Page Header Template").Visible(false).Modal(true).Draggable(true).Pinned(true).Scrollable(true))
        <div class="row master-Headre">
            <div class="col-md-12 vertical-center">
                <div class="col-md-10 colpadding0">

                    <input id='filter' placeholder="Search by Entity Name" class='k-textbox' onchange="filterChange()" style="width:52%" autocomplete="off" />

                </div>
                <div class="btnUpload col-md-1 colpadding0">

                </div>

                <div class="col-md-1 colpadding0" style="text-align:right">
                    <button class="btn btn-primary add-button" onclick="openHeaderFooterSetting()" id="btnCreateNewEmail" title="Add New"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</button>
                </div>
            </div>
        </div>

        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">
                @(Html.Kendo().Grid<BM_ManegmentServices.VM.PageHeaderFooterSettingListVM>()
                .Name("gridPageSetting")
                .Columns(columns =>
                {
                    columns.Bound(o => o.EntityName).Title("Entity Name");
                    columns.Command(command =>
                    {
                        command.Custom("Edit").Click("editHeaderFooterSetting").HtmlAttributes(new { @class = "k-grid-edit" });
                    }).Title("Action").Width(100);
                })
                .Navigatable()
                .Pageable(pageable => pageable
                .Refresh(true)
                .PageSizes(true)
                .ButtonCount(5))
                .Filterable()
                .Sortable()
                .Reorderable(reorderable => reorderable.Columns(true))
                .Resizable(resizable => resizable.Columns(true))
                .ColumnMenu()
                .DataSource(dataSource => dataSource
                .WebApi()
                .PageSize(10)
                .ServerOperation(false)
                .Model(model =>
                {
                    model.Id(o => o.PageHeaderId);
                    model.Field(o => o.PageHeaderEntityId);
                }).Read(read => read.Action("GetLetterHeadEntity", "Setting"))
                ).Events(e => e.DataBound("onRowBoundmailservices")))
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        var breadCrumbData = [
           {
               displayText: "Master",
               navigateUrl: "#",
           }, {
               displayText: "LetterHead",
               navigateUrl: "/BM_Management/Setting/LetterHead",
           }
        ];

        setBreadCrumb(breadCrumbData);
    });
</script>