﻿@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;
@{
    ViewBag.Title = "Registers :: My Documents";
}

<script>
    $(document).ready(function () {
        var breadCrumbData = [
            {
                displayText: "My Documents",
                navigateUrl: "#",
            }, {
                displayText: "Registers",
                navigateUrl: "#",
            }
        ];

        setBreadCrumb(breadCrumbData);

        //CheckIsValidCommittee();

        $("#KendoRegisterGrid").kendoTooltip({
            filter: ".k-grid-view",
            content: function (e) {
                return "View";
            },
            show: PositionTooltip
        });
    });

    function GetLoggedinUserDetails(){
        var loggedInUserID = @AuthenticationHelper.UserID;
        var customerID=@AuthenticationHelper.CustomerID;

        return { custID : customerID, userID : loggedInUserID  }
    }

    function filterEntity() {
        var EntityId = $("#ddlEntity").data("kendoDropDownList").value();

        return {
            EntityId: EntityId
        };
    }

    function filterEntityforRegister() {

        var EntityId = $("#ddlEntity").data("kendoDropDownList").value();
        return {
            EntityId: EntityId
        };
    }

    function onRowBound(){
        GetICons();
        var grid = $("#KendoRegisterGrid").data("kendoGrid");
        var data = grid.dataSource.data();

        $("#KendoRegisterGrid tr.k-alt").removeClass("k-alt");
    }

    function RefreshRsgisterGrid(){
        $('#KendoRegisterGrid').data('kendoGrid').dataSource.read();
        $('#KendoRegisterGrid').data('kendoGrid').refresh();
    }

    function OnOpen(e) {
        var wnd = $("#wndRegisterDetails").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }

    function OnRefresh() {
        var wnd = $("#wndRegisterDetails").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function CreateNew(e) {
        e.preventDefault();
        OnOpen('a');
        $("#wndRegisterDetails").attr("style", "min-height:100px;");
        var EntityId = $("#ddlEntity").data("kendoDropDownList").value();
        var ddlEntityId = $("#ddlEntity").data("kendoDropDownList");
        var index = ddlEntityId.selectedIndex;
        var entityType = ddlEntityId.dataItem(index).Entity_Type;
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var registerid = dataItem.Id;
        
        if (entityType == 10 && registerid == 1)
        {
            alert("Though Register is maintained by RTA, So its not Generated by us");
            window.location.reload();
        }
        else
        {            
            direction = "OpenPopupforRegisterDetails?RegisterId=" + dataItem.Id + "&EntityId=" + EntityId;
            var wnd = $("#wndRegisterDetails").data("kendoWindow");
            var opts = wnd.options;

            wnd = $("#wndRegisterDetails").kendoWindow({
                title: "Register",
                pinned:true,
                actions: [
                    "Pin",
                    "Minimize",
                    "Maximize",
                    "Close"
                ],
                content: direction,
                width: "45%",
                position: {
                    top: 100, // or "100px"
                },

                visible: false,
                modal: true,
                refresh: function () { this.center(); OnRefresh(); },
                close: function (e) {
                    $(this.element).empty();
                    //$('#gridKendo').data('kendoGrid').dataSource.read();
                    //$('#gridKendo').data('kendoGrid').refresh();
                    $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                },
                open: function (e) {

                    OnOpen();
                    $(this.element).closest(".k-window").css("position", "fixed")
                    $(".k-overlay").attr('style', "opacity:0.5; display:block;");
                }
            }).data("kendoWindow");
            opts.width = "45%";

            wnd.setOptions(opts);
            wnd.center();
            wnd.refresh(direction);
            wnd.open();
        }
    }

</script>

<div class="row Dashboard-white-widget">
    <div class="row master-Headre">
        <div class="col-md-12 vertical-center">
            <div class="col-md-3 colpadding0">
                @if (AuthenticationHelper.Role == "DRCTR" || AuthenticationHelper.Role == "SMNGT")
                {
                    @(Html.Kendo().DropDownList()
                    .Name("ddlEntityFilter")
                    .ValuePrimitive(true)
                    .DataValueField("Id")
                    .DataTextField("EntityName")
                    .OptionLabel("Entity")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Url("/api/EntityMasterAPI/DirectorAssignedEntities").Data("GetLoggedinUserDetails").Type(HttpVerbs.Get);
                        })
                        .ServerFiltering(true);
                    }).HtmlAttributes(new { style = "width: 98%;", @Id = "ddlEntity", @onchange = "RefreshRsgisterGrid()" }))
                }
                else
                {
                    @(Html.Kendo().DropDownList()
                    .Name("ddlEntityFilter")
                    .ValuePrimitive(true)
                    .DataValueField("Id")
                    .DataTextField("EntityName")
                    .OptionLabel("Select Entity/Company")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Url("/api/EntityMasterAPI/GetDropDownEntityForMeeting").Type(HttpVerbs.Get);
                        })
                        .ServerFiltering(true);
                    }).HtmlAttributes(new { style = "width: 98%;", @Id = "ddlEntity", @onchange = "RefreshRsgisterGrid()" }))
                }
            </div>
        </div>
    </div>

    <div class="row colpadding0 mt30">
        <div class="col-md-12 colpadding0">
            <div>
                @(Html.Kendo().Window().Name("wndRegisterDetails").Title("Register").Visible(false).Modal(true).Draggable(false).Scrollable(false))
            </div>
            @(Html.Kendo().Grid<BM_ManegmentServices.VM.RegistersLists>()
        .Name("KendoRegisterGrid")
        .Columns(columns =>
        {
            columns.Bound(o => o.Id).Visible(false);
            columns.Bound(o => o.Name).Title("Register").HtmlAttributes(new {style="width:90%"});
            columns.Command(commnd =>
            {
                commnd.Custom("Edit").Click("CreateNew").HtmlAttributes(new { @class = "k-grid-view hoverCircle" });
            }).Title("Action").HtmlAttributes(new { style = "width:10%" });
        })
        .EnableCustomBinding(true)
        .Events(e => e.DataBound("onRowBound"))
        .Navigatable()
        .Pageable(pageable => pageable
        //.Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
        .Filterable()
        .Sortable()
        .Reorderable(reorderable => reorderable.Columns(true))
        .Resizable(resizable => resizable.Columns(true))
        .ColumnMenu(col => col.Columns(false))
        .DataSource(dataSource => dataSource
        .WebApi()
        .PageSize(10)
        .ServerOperation(false)
              .Model(model =>
              {
                  model.Id(o => o.Id);
              })
        .Read(read => read.Url("/api/RegisterAPI/RegistersEntityWise").Data("filterEntityforRegister").Type(HttpVerbs.Get))
                       ))
        </div>
    </div>
</div>

