﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMInternalAuditor

<script>
    function filterCategory()
    {
        var CriteriaId = $("#ddlCriteria").data("kendoDropDownList").value();
        if(@Model.Id==0)
        {
            return {
                CriteriaId:CriteriaId,
                Type:2,
                EntityId:"@Model.EntityId"

            };
        }
        else{
            return {
                CriteriaId:CriteriaId,
                Type:2,
                EntityId:0
            };
        }
    }
</script>

<div class="row colpadding0">
    <div class="col-md-12 colpadding0">
        <div id="DivInternalAuditorDtls">

            @using (Ajax.BeginForm("SaveAppointmentOfInternalAuditor", "UIForm", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivInternalAuditorDtls", OnBegin = "OnOpenUIForm", OnComplete = "OnRefreshUIForm" }, new { id = "frmUpdateInternalAuditor" }))
            {
                <div class="row colpadding0">
                    @if (Model.successMessage)
                    {
                        <div class="col-md-12 colpadding0">
                            <div class="alert alert-success alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                @if (!(string.IsNullOrEmpty(@Model.successerrorMessage)))
                                {
                                    <lable>@Model.successerrorMessage</lable>
                                }
                            </div>
                        </div>
                    }
                </div>

                <div class="row colpadding0">
                    @if (Model.errorMessage)
                    {
                        <div class="col-md-12 colpadding0">
                            <div class="alert alert-danger alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                @if (!(string.IsNullOrEmpty(@Model.successerrorMessage)))
                                {
                                    <lable>@Model.successerrorMessage</lable>
                                }
                            </div>

                        </div>
                    }
                </div>

                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.EntityId)
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.AuditorMappingId)
                @Html.HiddenFor(m => m.AgendaID)
                @Html.HiddenFor(m => m.MeetingAgengaMappingID)

                <div class="row">
                    <div class="col-md-12 colpadding0">
                        <fieldset class="col">
                            <legend><label style="font-size:17px">Details of Auditor</label></legend>
                            <div id="DivAuditorslist">
                                <div class="row colpadding0">
                                    <div class="col-md-12 colpadding0">
                                        <div class="row colpadding0">
                                            <div class="col-md-12 colpadding0">
                                                <table id="tblInternalInfo" class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th class="col-md-2 colpadding0">
                                                                Category of Auditor
                                                            </th>

                                                            <th class="col-md-1 colpadding0">
                                                                Whether Employee?
                                                            </th>

                                                            <th class="col-md-2 colpadding0">
                                                                Name of Auditor/Auditor Firm
                                                            </th>
                                                            <th class="col-md-2 colpadding0">
                                                                Employee Number
                                                            </th>

                                                            <th class="col-md-2 colpadding0">
                                                                Date of appointment
                                                            </th>

                                                            <th class="col-md-3 colpadding0">
                                                                Appointed for FY
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="mt30">

                                                        <tr>
                                                            <td class="col-md-2 colpadding0">
                                                                @(Html.Kendo().DropDownListFor(m => m.InternalAuditor_CategoryId)
                                                                            .DataTextField("Text")
                                                                            .DataValueField("Value")
                                                                            .BindTo(new List<SelectListItem>
                                                                            () {
                                                                                                                                new SelectListItem() {
                                                                                                                                Text = "Select",
                                                                                                                                Value = ""
                                                                                                                                },
                                                                                                                                new SelectListItem() {
                                                                                                                                Text = "Individual",
                                                                                                                                Value = "1"
                                                                                                                                },
                                                                                                                                new SelectListItem() {
                                                                                                                                Text = "Auditor Firm",
                                                                                                                                Value = "2"
                                                                                                                                },

                                                                            })
                                                                            .HtmlAttributes(new { style = "width: 98%", @Id = "ddlCriteria", @class = "myAuditCriteria" }))@*, @onchange = "changeCategory(this);"*@
                                                                        </td>

                                                                        <td class="col-md-1 colpadding0">
                                                                            @(Html.Kendo().DropDownListFor(m => m.Isemployee)
                                                                                    .DataTextField("Text")
                                                                                    .DataValueField("Value")
                                                                                    .BindTo(new List<SelectListItem>
                                                                                    () {
                                                                                                                                        new SelectListItem() {
                                                                                                                                        Text = "Select",
                                                                                                                                        Value = ""
                                                                                                                                        },
                                                                                                                                        new SelectListItem() {
                                                                                                                                        Text = "Yes",
                                                                                                                                        Value = "Y"
                                                                                                                                        },
                                                                                                                                        new SelectListItem() {
                                                                                                                                        Text = "No",
                                                                                                                                        Value = "N"
                                                                                                                                        },

                                                                                    })
                                                                                    .HtmlAttributes(new { style = "width: 98%", @Id = "ddlIsEmployee", @class = "myAuditIsEmployee", @onchange = "changeEmployeement(this);" }))
                                                                        </td>

                                                                        <td class="col-md-3 colpadding0">
                                                                            @(Html.Kendo().DropDownList()
                                                                                    .Name("Auditor_Id")
                                                                                    .HtmlAttributes(new { style = "width:90%" })
                                                                                    .OptionLabel("Select")
                                                                                    .DataTextField("Name")
                                                                                    .DataValueField("Id")
                                                                                    .DataSource(source =>
                                                                                        {
                                                                                            source.Read(read =>
                                                                                                                                        {
                                                                                            read.Url("/api/AuditorMasterAPI/GetDropDownAuditors")
                                                                                                                                        .Data("filterCategory");
                                                                                        })
                                                                                                                                        .ServerFiltering(true);
                                                                                        })
                                                                                    .Enable(false)
                                                                                    .AutoBind(false)
                                                                                    .CascadeFrom("ddlCriteria"))

                                                                            <button type="button" id="btnCreateNewAuditor" class="k-grid-add k-button k-button-icontext" onclick="CreateNewAuditor();"><span class="k-icon k-add k-i-plus-outline"></span></button>
                                                                        </td>

                                                                        <td class="col-md-2 colpadding0">
                                                                            @(Html.Kendo().TextBoxFor(m => m.EmployeeNo).HtmlAttributes(new { style = "width: 98%", @Id = "txtEmployeeNo" }))
                                                                        </td>

                                                                        <td class="col-md-1 colpadding0">

                                                                            @(Html.Kendo().DatePickerFor(m => m.Date_of_appointment).Format("dd/MM/yyyy")
                                                                                    .Enable(true).ParseFormats(new[] { "dd/MM/yyyy" })
                                                                                    .Culture("en-GB")
                                                                                    .HtmlAttributes(new { style = "width: 98%", @Id = "dpDateofAppointment", placeholder = "DD/MM/YYYY", autocomplete = "off", onchange = "checkDate(this);", @class = "mydatepic" })
                                                                            )
                                                                        </td>

                                                                        <td class="col-md-2 colpadding0">
                                                                            @*@(Html.Kendo().TextBoxFor(m => m.AuditorAppointedForFY).HtmlAttributes(new { style = "width: 99%"}))*@
                                                                            @(Html.Kendo().DropDownListFor(model => model.FYID)
                                                                             .DataValueField("FYID")
                                                                             .DataTextField("FYText")
                                                                             .OptionLabel("Select")
                                                                            .DataSource(source =>
                                                                            {
                                                                                source.Read(read =>
                                                                                {

                                                                                    read.Url("/api/ConfigurationMasterAPI/GetFYListByEntityID?EntityID=" + Model.EntityId).Type(HttpVerbs.Get);
                                                                                })
                                                                                .ServerFiltering(true);
                                                                            }).HtmlAttributes(new { style = "width: 98%" }))

                                                                        </td>
                                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;margin-top: 2%;">
                    <button type="submit" id="btnllp" class="k-primary k-button k-grid-update k-button-icontext" name="Save" value="Save">Save</button>
                    <button type="button" class="k-button" onclick="closeUIFormWindow()">Close</button>
                </div>
            }
        </div>
    </div>
</div>

@(Html.Kendo().Window().Name("KendoPopupAditorMaster").Visible(false).Modal(true).Draggable(false).Scrollable(false))

<script>
    $("#btnclose2").click(function (z) {

        z.preventDefault();
        z.stopPropagation();
        $('#KendoPopupAuditor').data("kendoWindow").close();
        //$('#gridKendoInternal').data('kendoGrid').dataSource.read();
        //$('#gridKendoInternal').data('kendoGrid').refresh();
    })

    $("#dpDateofAppointment").removeAttr("data-val-date");
    if ($("#dpDateofAppointment").val() == "01/01/0001") {
        $("#dpDateofAppointment").val('');
    }
    $(".dpDateofAppointment").removeAttr("data-val-date");


    function checkDate(e) {
        if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
            e.value = '';
        }
    }

    $(document).ready(function () {
        changeEmployeement();
        //changeCategory()
    })


    function btnstatutoryclick() {
        $("frmUpdateInternalAuditor").attr(
                    "action",
                    "@Url.Action("Add_UpdateInternalAuditor", "AuditorMaster")"
                 ).submit();
        var validator1 = $("#frmUpdateInternalAuditor").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
    }

    function changeEmployeement() {
        debugger;
        var ddlIsEmployee = $("#ddlIsEmployee").data("kendoDropDownList");

        var val = ddlIsEmployee.value();

        if (val == "Y") {
            $("#txtEmployeeNo").show();
        }
        else if (val == "N") {
            $("#txtEmployeeNo").hide();
        }
    }
    @*if(@Model.Id>0)
    {
        function changeCategory() {
            debugger;
            var ddlCriteria = $("#ddlCriteria").data("kendoDropDownList");

            var val = ddlCriteria.value();

            $("#ddlAuditor").kendoDropDownList({
                dataSource: {
                    transport: {
                        read: {
                            url: "/api/AuditorMasterAPI/GetDropDownAuditors?CriteriaId=" + val + "&Type=" + 2 + "&EntityId=" +0
                        }
                    },
                    serverFiltering: false
                },
                dataTextField: "Name",
                dataValueField: "Id",
                value: 0,
                optionLabel: "Select",
                index: 0
            });
        }
        if(@Model.Id==0)
        {
            function changeCategory() {
                debugger;
                var ddlCriteria = $("#ddlCriteria").data("kendoDropDownList");

                var val = ddlCriteria.value();

                $("#ddlAuditor").kendoDropDownList({
                    dataSource: {
                        transport: {
                            read: {
                                url: "/api/AuditorMasterAPI/GetDropDownAuditors?CriteriaId=" + val + "&Type=" + 2 + "&EntityId=" + '@Model.EntityId'
                            }
                        },
                        serverFiltering: false
                    },
                    dataTextField: "Name",
                    dataValueField: "Id",
                    value: 0,
                    optionLabel: "Select",
                    index: 0
                });
            }*@
    //if (val == "1") {
    //    $("#" + tableRef.rows[aa].cells[1].children[0].lastElementChild.id).closest(".k-widget").show();
    //}
    //else if (val == "2") {
    //    $("#" + tableRef.rows[aa].cells[1].children[0].lastElementChild.id).closest(".k-widget").hide();
    //}
    //}
    //}
</script>

<script>

    function filterProducts() {
        return { stateId: $("#stateId").val()};
    }

    function filterProductss() {
        return { CountryId: $("#CountryId").val() };
    }

    function CreateNewAuditor() {
        $("#KendoPopupAditorMaster").attr("style", "min-height:100px;");
        var direction = "@Url.Action("Add_EditAuditorMaster", "AuditorMaster", new { Id = 0, StautoryAuditor = 0, ViewName = "AuditorAppointment" })";


        $("#KendoPopupAditorMaster").kendoWindow({
            title: "Add - Auditor Master",
        });
        $("#KendoPopupAditorMaster").attr("style", "min-height:100px;");

            var wnd = $("#KendoPopupAditorMaster").data("kendoWindow");
            var opts = wnd.options;

            wnd = $("#KendoPopupAditorMaster").kendoWindow({
            title: "Edit - Auditor Master",
            actions: [
                         "Pin",
                         "Minimize",
                         "Maximize",
                         "Close"
            ],
            content: direction,
            width: "85%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefresh(); },
            close: function (e) {
                $(this.element).empty();
                $('#Auditor_Id').data('kendoDropDownList').dataSource.read();
                },
            open: function (e) {
                    OnOpen();
                }
            }).data("kendoWindow");
            opts.width = "85%";

            wnd.setOptions(opts);
            wnd.center();
            wnd.refresh(direction);
            wnd.open();
        }
</script>