﻿
@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VM_SecreterialAuditor

<script>

        function filterCategory()
        {
            var CriteriaId = $("#ddlCriteria").data("kendoDropDownList").value();
            if(@Model.Id==0)
            {
                return {
                    CriteriaId:CriteriaId,
                    Type:3,
                    EntityId:"@Model.EntityId"

                };
            }
            else{
                return {
                    CriteriaId:CriteriaId,
                    Type:3,
                    EntityId:0
                };
            }
        }

</script>

<div id="DivSecreterialAuditorDtls">

    @using (Ajax.BeginForm("SaveAppointmentOfSecretarialAuditor", "UIForm", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivSecreterialAuditorDtls", OnBegin = "OnOpenUIForm", OnComplete = "OnRefreshUIForm" }, new { id = "frmUpdateInternalAuditor" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.EntityId)
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.AuditorMappingId)
        @Html.HiddenFor(m => m.AgendaID)
        @Html.HiddenFor(m => m.MeetingAgengaMappingID)

        <div class="row colpadding0">
            @if (Model.successMessage)
            {
                <div class="col-md-12 colpadding0">
                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.successerrorMessage)))
                        {
                            <lable>@Model.successerrorMessage</lable>
                        }
                    </div>
                </div>
            }
        </div>

        <div class="row colpadding0">
            @if (Model.errorMessage)
            {
                <div class="col-md-12 colpadding0">
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.successerrorMessage)))
                        {
                            <lable>@Model.successerrorMessage</lable>
                        }
                    </div>
                </div>
            }
        </div>

        <div class="row">
            <div class="col-md-12 colpadding0">
                <fieldset class="col">
                    <legend><label style="font-size:17px">Details of Auditor</label></legend>
                    <div class="row mt30">
                        <div class="col-md-12 colpadding0">
                            <div class="col-md-3 colpadding0">
                                <span style="color:red">*</span><label for="txtNumberofAuditor" class="control-label">Category </label>
                                @(Html.Kendo().DropDownListFor(m => m.Category_of_SecreterialAuditor)
.DataTextField("Text")
                                                                .DataValueField("Value")
                                                                .BindTo(new List<SelectListItem>
                                                                    () {
                                                                                        new SelectListItem() {
                                                                                        Text = "Select",
                                                                                        Value = ""
                                                                                        },
                                                                                        new SelectListItem() {
                                                                                        Text = "Individual",
                                                                                        Value = "1"
                                                                                        },
                                                                                        new SelectListItem() {
                                                                                        Text = "Audit Firm",
                                                                                        //Text = "AuditorFirm",
                                                                                        Value = "2"
                                                                                        },

                                                                    })
                                                                    .HtmlAttributes(new { style = "width: 100%", @Id = "ddlCriteria" }))
                                @Html.ValidationMessageFor(m => m.Category_of_SecreterialAuditor)
                            </div>

                            <div class="col-md-4 colpadding0">
                                <div class="col-md-1 colpadding0"></div>
                                <div class="col-md-11 colpadding0">
                                    <span style="color:red">*</span><label for="txtNumberofAuditor" class="control-label">Auditor or auditor's firm Name</label>
                                    @(Html.Kendo().DropDownList()
.Name("AuditorID")
.HtmlAttributes(new { style = "width:100%" })
.OptionLabel("Select")
.DataTextField("Name")
.DataValueField("Id")
.DataSource(source =>
{
source.Read(read =>
{
read.Url("/api/AuditorMasterAPI/GetDropDownAuditors")
                          .Data("filterCategory");
})
.ServerFiltering(true);
})
.Enable(false)
.AutoBind(false)
.CascadeFrom("ddlCriteria")
                                    )
                                    @Html.ValidationMessageFor(m => m.AuditorID)
                                </div>    
                            </div>
                            @*<div class="col-md-1 colpadding0">
                                <button style="margin-top:20px;" type="button" id="btnCreateNewAuditor" class="k-grid-add k-button k-button-icontext" onclick="CreateNewAuditor();"><span class="k-icon k-add k-i-plus-outline"></span></button>
                            </div>*@

                            <div class="col-md-3 colpadding0">
                                <div class="col-md-1 colpadding0"></div>
                                <div class="col-md-11 colpadding0">
                                    <span style="color:red">*</span><label for="txtCertificateofPractice" class="control-label">Certificate of Practice</label>
                                    @(Html.Kendo().TextBoxFor(m => m.Certificate_of_Practice).HtmlAttributes(new { style = "width: 100%", @id = "txtCertificateofPractice" }))
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row colpadding0 mt30">
                        <div class="col-md-12 colpadding0">
                            <p>Period of appointment</p>
                        </div>
                    </div>

                    <div class="row colpadding0">
                        <div class="col-md-12 colpadding0">
                            <div class="col-md-2 colpadding0">
                                    <span style="color:red">*</span><label for="dpPeriod_of_AppointmentToDate" class="control-label">Appointed for FY</label>
                                    @*@(Html.Kendo().TextBoxFor(m => m.AuditorAppointedForFY).HtmlAttributes(new { style = "width: 100%" }))*@
                                    @(Html.Kendo().DropDownListFor(model => model.FYID)
                                             .DataValueField("FYID")
                                             .DataTextField("FYText")
                                             .OptionLabel("Select")
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {

                                                    read.Url("/api/ConfigurationMasterAPI/GetFYListByEntityID?EntityID=" + Model.EntityId).Type(HttpVerbs.Get);
                                                })
                                                .ServerFiltering(true);
                                            }).HtmlAttributes(new { style = "width: 93%" }))
                            </div>

                            <div class="col-md-3 colpadding0">
                                <div class="col-md-1 colpadding0"></div>
                                <div class="col-md-11 colpadding0">
                                    <span style="color:red">*</span><label for="dpDate_of_appointment" class="control-label">Date of appointment</label>
                                    @(Html.Kendo().DatePickerFor(m => m.Date_of_appointment).Format("dd/MM/yyyy")
                                                                                              .HtmlAttributes(new { style = "width: 100%", @Id = "dpDate_of_appointment", onchange = "checkDate(this);" })
                                    )
                                </div>
                            </div>

                            <div class="col-md-3 colpadding0 hidden">
                                <div class="col-md-1 colpadding0"></div>
                                <div class="col-md-11 colpadding0">
                                    <span style="color:red">*</span><label for="dpNumberofAuditor" class="control-label">From </label>
                                    @(Html.Kendo().DatePickerFor(m => m.Period_of_AppointmentFromDate).Format("dd/MM/yyyy")
                                                                                              .HtmlAttributes(new { style = "width: 100%", title = "Please select Date of AGM", @Id = "dpNumberofAuditor", onchange = "checkDate(this);" })
                                    )

                                </div>
                            </div>
                            <div class="col-md-3 colpadding0 hidden">
                                <div class="col-md-1 colpadding0"></div>
                                <div class="col-md-11 colpadding0">
                                    <span style="color:red">*</span><label for="dpPeriod_of_AppointmentToDate" class="control-label">To</label>
                                    @(Html.Kendo().DatePickerFor(m => m.Period_of_AppointmentToDate).Format("dd/MM/yyyy")
                                                                                              .HtmlAttributes(new { style = "width: 100%", @Id = "dpPeriod_of_AppointmentToDate", onchange = "checkDate(this);" })
                                    )
                                </div>
                            </div>

                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;margin-top: 2%;">
            <button type="submit" id="btnllp" class="k-primary k-button k-grid-update k-button-icontext" name="Save" value="Save">Save</button>
            <button type="button" class="k-button" onclick="closeUIFormWindow()">Close</button>
        </div>
    }
</div>


@(Html.Kendo().Window()
        .Name("KendoPopupAditorMaster")
        .Visible(false)
        .Modal(true)
        .Draggable(false)
        .Scrollable(false)
    //.Events(e => e.Open("adjustSize"))
    //.Events(e => e.Refresh("OnRefresh"))
)

<script>

    $("#btnclose2").click(function (z) {

        z.preventDefault();
        z.stopPropagation();
        //$('#KendoPopupAuditor').data("kendoWindow").close();
        //$('#gridKendoSecreterial').data('kendoGrid').dataSource.read();
        //$('#gridKendoSecreterial').data('kendoGrid').refresh();
    })


    function InternalAuditChange() {
        $("#frmUpdateInternalAuditor").submit();
    }

    function btnstatutoryclick() {
        $("frmUpdateInternalAuditor").attr(
                    "action",
                    "@Url.Action("Add_UpdateInternalAuditor", "AuditorMaster", new { save = "Save" })"
                 ).submit();
        var validator1 = $("#frmUpdateInternalAuditor").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
    }

    function changeCategory(object) {
        var ddlCriteria = $("#ddlCriteria").data("kendoDropDownList");

        var val = ddlCriteria.value();

        $("#ddlAuditors").kendoDropDownList({
            dataSource: {
                transport: {
                    read: {
                        url: "/api/AuditorMasterAPI/GetDropDownAuditors?CriteriaId=" + val + "&Type=" + 3+"&EntityId="+'@Model.EntityId'
                    }
                },
                serverFiltering: false
            },
            dataTextField: "Name",
            dataValueField: "Id",
            value: 0,
            optionLabel: "Select",
            index: 0
        });
    }

    function checkDate(e) {
        debugger;
        if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
            e.value = '';
        }

    }

    $("#dpDate_of_appointment").removeAttr("data-val-date");
    if ($("#dpDate_of_appointment").val() == "01/01/0001") {
        $("#dpDate_of_appointment").val('');
    }

    $("#dpNumberofAuditor").removeAttr("data-val-date");
    if ($("#dpNumberofAuditor").val() == "01/01/0001") {
        $("#dpNumberofAuditor").val('');
    }

    $("#dpPeriod_of_AppointmentToDate").removeAttr("data-val-date");
    if ($("#dpPeriod_of_AppointmentToDate").val() == "01/01/0001") {
        $("#dpPeriod_of_AppointmentToDate").val('');
    }


</script>
<script type="text/javascript">
    function checkDateDifference() {
        debugger;
        var cDate = $("#dpDate_of_appointment").data("kendoDatePicker").value();
        var dDate = $("#dpNumberofAuditor").data("kendoDatePicker").value();

        if (cDate != '' && dDate != '') {
            // var diff = Math.round((dDate - cDate) / 1000 / 60 / 60 / 24);
            if ((moment(cDate, "DD/MM/YYYY").isAfter(moment(dDate, "DD/MM/YYYY")))) {
                return true;
            } else {
                return false;
            }
        }
    }

    $("#dpNumberofAuditor").kendoValidator({
        rules: {
            customRule1: function (input) {
                if (input.is("[name=dpDate_of_appointment]") || input.is("[name=dpNumberofAuditor]")) {

                    var result = checkGreaterDate();

                    return result;
                }
                return true;
            },
            customRule2: function (input) {
                if (input.is("[name=dpDate_of_appointment]") || input.is("[name=dpNumberofAuditor]")) {
                    var result = checkDateDifference();
                    //alert("checkDateDifference-" + result);
                    //alert(result);
                    return result;
                }
                return true;
            }
        },
        messages: {
            customRule1: "From Date Cannot be Greater then Appointment Date",
            customRule2: "Due Date can not be greater than 7 days",
        }
    });

    function filterProducts() {
        return { stateId: $("#stateId").val() };
    }

    function filterProductss() {
        return { CountryId: $("#CountryId").val() };
    }

    function CreateNewAuditor() {
        $("#KendoPopupAditorMaster").attr("style", "min-height:100px;");
        var direction = "@Url.Action("Add_EditAuditorMaster", "AuditorMaster", new { Id = 0, StautoryAuditor = 0, ViewName = "AuditorAppointment" })";


        $("#KendoPopupAditorMaster").kendoWindow({
            title: "Add - Auditor Master",
        });
        $("#KendoPopupAditorMaster").attr("style", "min-height:100px;");

            var wnd = $("#KendoPopupAditorMaster").data("kendoWindow");
            var opts = wnd.options;

            wnd = $("#KendoPopupAditorMaster").kendoWindow({
            title: "Edit - Auditor Master",
            actions: [
                         "Pin",
                         "Minimize",
                         "Maximize",
                         "Close"
            ],
            content: direction,
            width: "85%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
                refresh: function () { this.center(); kendo.ui.progress(wnd.element, false); },
            close: function (e) {
                $(this.element).empty();
                $('#Auditor_Id').data('kendoDropDownList').dataSource.read();
                },
            open: function (e) {
                kendo.ui.progress(wnd.element, true);
                }
            }).data("kendoWindow");
            opts.width = "85%";

            wnd.setOptions(opts);
            wnd.center();
            wnd.refresh(direction);
            wnd.open();
        }
</script>
