﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.Auditor_ResignationVM

<div id="DivAuditorResignation">


    <div class="row">
        @if (Model.Success)
    {
            <div class="col-md-12">

                <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    @if (!(string.IsNullOrEmpty(@Model.Message)))
                {
                        <lable>@Model.Message</lable>
                }
                </div>
            </div>
    }
    </div>

    <div class="row">
        @if (Model.Error)
    {
            <div class="col-md-12">
                <div class="alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    @if (!(string.IsNullOrEmpty(@Model.Message)))
                {
                        <lable>@Model.Message</lable>
                }
                </div>
            </div>
    }
    </div>


    @(Html.Kendo().Tooltip()
        .For("#btnAuditorResPrev")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Preview Resignation Letter")
        .Width(150)
    )

    @(Html.Kendo().Tooltip()
        .For("#lnkDownloadDoc")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Download Resignation Letter")
        .Width(150)
    )
    <div class="row colpadding0">
        <div class="col-md-12 colpadding0">

            @using (Ajax.BeginForm("Add_UpdateResignation", "AuditorMaster", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivAuditorResignation", OnBegin = "OnOpene", OnComplete = "OnRefreshe" }, new { id = "frmUpdateResignation" }))
            {
                @Html.HiddenFor(m => m.SA_ID)
                @Html.HiddenFor(m => m.statutory_Id)
                @Html.HiddenFor(m => m._AuditorId)
                @Html.HiddenFor(m => m.AuditorType)
                @Html.HiddenFor(m => m.EntityId)
                @Html.HiddenFor(m => m.AgendaID)
                @Html.HiddenFor(m => m.MappingID)
                <div>
                    <div>
                        <fieldset class="col">
                            <legend><label style="font-size:17px">Leave Details</label></legend>
                            <div class="row">
                                <div class="col-md-12 colpadding0">
                                    <div class="col-md-4 colpadding0">
                                        <span style="color:red">*</span><label for="AuditorName" class="control-label">Auditor Name</label>
                                        @(Html.Kendo().TextBoxFor(m => m.AuditorName).HtmlAttributes(new {style = "width: 98%", @readonly = "readonly" }))

                                    </div>

                                    <div class="col-md-2 colpadding0">
                                        <span style="color:red">*</span><label for="ddlLeaveType" class="control-label">Leave Type</label>

                                        @(Html.Kendo().DropDownListFor(m => m.LeaveType)

                                                .DataTextField("Text")
                                                .DataValueField("Value")

                                                .BindTo(new List<SelectListItem>() {
                                                               new SelectListItem() {
                                                                  Text = "Select",
                                                                  Value = ""
                                                              },
                                                              new SelectListItem() {
                                                                  Text = "Death",
                                                                  Value = "1"
                                                              },
                                                              new SelectListItem() {
                                                                  Text = "Resignation",
                                                                  Value = "2"
                                                              },
                                                               new SelectListItem() {
                                                                  Text = "Other",
                                                                  Value = "3"
                                                              },
                                                })
                                                .HtmlAttributes(new { style = "width: 98%", @Id = "ddlLeaveType" }))

                                    </div>

                                    <div class="col-md-2 colpadding0">

                                        <span style="color:red"></span><label for="dpRegignation_Date" class="control-label">Date</label>
                                        @(Html.Kendo().DatePickerFor(m=>m.DateOfResignation)
                                        //.Min(DateTime.Today).Format("dd/MM/yyyy")
                                        .Enable(true).ParseFormats(new[] { "dd/MM/yyyy" })
                                        .Culture("en-GB").Format("dd/MM/yyyy")
                                        .HtmlAttributes(new { style = "width: 98%", @Id = "DateOfResignation", placeholder = "DD/MM/YYYY", autocomplete = "off", onchange = "checkDate(this);" })
                                        )
                                        @Html.ValidationMessageFor(model => model.DateOfResignation, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 colpadding0">

                                    <span style="color:red"></span><label for="txttextareaResonForLeave" class="control-label">Resone for Leave:</label>
                                    @Html.TextAreaFor( m=>m.textareaResonForLeave, new { @class = "k-textbox", style = "width: 100%;", @spellcheck = "true" })
                                    @Html.ValidationMessageFor(model => model.textareaResonForLeave, "", new { @class = "text-danger" })

                                </div>
                            </div>

                        </fieldset>
                    </div>
                </div>

                if (Model.AuditorMappingId > 0)
                {
                    <div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;margin-top: 2%;">
                        <input type='button' id='btnAuditorResPrev' name='btnAuditorResPrev' value='Preview' class='k-primary k-button rect'>
                        <a id="lnkDownloadDoc" href='@Url.Action("DownloadResignationLetter", "AuditorMaster",new { AuditorMappingId = Model.AuditorMappingId} )' target="_blank">
                            <img src='@Url.Content("~/Images/icon-download.png")' />
                        </a>
                    </div>
                }
                else
                {
                    <div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;margin-top: 2%;">
                        <button type="submit" id="btnregignation" class="k-primary k-button k-grid-update k-button-icontext">Save</button>
                        <button type="button" class="k-button" onclick="closeUIFormWindow()">Close</button>
                    </div>
                }

            }

        </div>
    </div>


    @(Html.Kendo().Window().Name("wndResignationPreview").Title("Preview").Visible(false).Modal(true).Draggable(true).Scrollable(true)
    .Content(@<text>
            @(Html.Kendo().Editor().Name("EditorResignationPreview")
                                       .HtmlAttributes(new { style = "height:530px" })
                                       .Encode(false)
                                       .Tools(t => t.Clear())
            )
    </text>)
    )

    <script>
    var validator1 = $("#frmUpdateResignation").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");

    $("#btnclose2").click(function (z) {
        z.preventDefault();
        z.stopPropagation();
        $('#KendoPopupAuditorRegignaton').data("kendoWindow").close();
        $('#gridKendoStatutory').data('kendoGrid').dataSource.read();
        $('#gridKendoStatutory').data('kendoGrid').refresh();
    })

    function checkDate(e) {

        if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
            e.value = '';
        }

    }

    $("#dpRegignation_Date").removeAttr("data-val-date");
    if ($("#dpRegignation_Date").val() == "01/01/0001") {
        $("#dpRegignation_Date").val('');
    }

    </script>

    <script>

        function OpenNoticeMailPreview(response) {

            $($('#EditorResignationPreview').data().kendoEditor.body).attr('contenteditable', false);
            $("#EditorResignationPreview").data("kendoEditor").body.innerHTML = response.ResignationFormat;

            var wnd = $("#wndResignationPreview").data("kendoWindow");
            var opts = wnd.options;

            wnd = $("#wndResignationPreview").kendoWindow({
                actions: ["Close"],
                width: "65%",
                visible: false,
                modal: true,
                refresh: function () { this.center(); },
                open: function () { },
                close: function (e) {
                }
            }).data("kendoWindow");

            opts.width = "65%";
            wnd.setOptions(opts);
            wnd.center();
            wnd.open();
        }

        $("#btnAuditorResPrev").click(function () {
            debugger;
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Resignation", "AuditorMaster")",
                    data:"{AuditorMappingId:" + @Model.AuditorMappingId + "}",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        debugger;
                        if (response != null) {
                            OpenNoticeMailPreview(response);
                        } else {
                            alert("Something went wrong");
                        }
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
            });
        });

    </script>
</div>