﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.UIForms.EntityMasterBooksOfAccountsVM

<div id="divSaveFinancialResult_Listed">
    @using (Ajax.BeginForm("SaveBooksOfAccountsUIForm", "UIForm", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divSaveFinancialResult_Listed", OnBegin = "OnOpenUIForm", OnComplete = "OnRefreshUIForm" }, new { id = "frmSaveFinancialResult_Listed" }))
    {
        <div>
            @Html.HiddenFor(k => k.Meeting_ID_)
            @Html.HiddenFor(k => k.AgendaID)
            @Html.HiddenFor(k => k.MappingID)
            @Html.HiddenFor(k => k.BOA_EntityId)
            @Html.HiddenFor(k => k.BOA_Id)
        </div>
        if (Model.Success)
        {
            <div class="row">
                <div class="col-md-12 colpadding0" id="DivsuccessI">
                    <div class="alert alert-success alert-dismissible">
                        <button class="close" type="button" onclick="hideAlert();">×</button>
                        <lable id="lblsuccessI">@Html.Raw(Model.Message)</lable>
                    </div>
                </div>
            </div>
        }
        else if (Model.Error)
        {
            <div class="row">
                <div class="col-md-12 colpadding0" id="DiverrorI">
                    <div class="alert alert-danger alert-dismissible">
                        <button class="close" type="button" onclick="hideAlert();">×</button>
                        <lable id="lblerrormsgI">@Html.Raw(Model.Message)</lable>
                    </div>
                </div>
            </div>
        }

        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">

                <div class="col-md-6 colpadding0">
                    <span style="color:red"></span><label class="control-label">Address Line 1</label><br />
                    @Html.Kendo().TextBoxFor(m => m.BOA_AddressLine1).HtmlAttributes(new { style = "width: 98%", autocomplete = "off" })
                </div>

                <div class="col-md-6 colpadding0">
                    <span style="color:red"></span><label class="control-label">Address Line 2</label><br />
                    @Html.Kendo().TextBoxFor(m => m.BOA_AddressLine2).HtmlAttributes(new { style = "width: 98%", autocomplete = "off" })
                </div>

                </div>
            </div>

                <div class="row colpadding0 mt30">
                    <div class="col-md-12 colpadding0">

                        <div class="col-md-3 colpadding0">
                            <span style="color:red"></span><label class="control-label">City</label><br />
                            @Html.Kendo().TextBoxFor(m => m.BOA_CityName).HtmlAttributes(new { style = "width: 98%", autocomplete = "off" })
                        </div>

                        <div class="col-md-3 colpadding0">
                            <span style="color:red"></span><label class="control-label">State</label><br />
                            @(Html.Kendo().DropDownListFor(m => m.BOA_StateId)
                                .DataTextField("Name")
                                .DataValueField("SIdPublic")
                               .Filter(FilterType.Contains)
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Url("/api/EntityMasterAPI/GetDropDownforState").Type(HttpVerbs.Get);
                                    })
                                  .ServerFiltering(false);
                                }).HtmlAttributes(new { style = "width:98%", autocomplete = "off" })
                             )
                        </div>
                        <div class="col-md-2 colpadding0">
                            <span style="color:red"></span><label class="control-label">Pin</label><br />
                            @Html.Kendo().TextBoxFor(m => m.BOA_Pincode).HtmlAttributes(new { style = "width: 98%", autocomplete = "off" })
                        </div>
                    </div>
                </div>

                <div>
                    <div class="k-edit-buttons k-state-default mt30" style="background:!important;background:none;width:100%;">
                        <button type="submit" class="k-primary k-button k-grid-update k-button-icontext">Save</button>
                        <button type="button" class="k-button" onclick="closeUIFormWindow()">Close</button>
                    </div>
                </div>
    }
</div>