﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.UIForms.UIForm_KMPMasterVM

 <div id="divAddEditAppointmentOfCFO">
        @using (Ajax.BeginForm("SaveAppointmentOfCFO", "UIForm", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divAddEditAppointmentOfCFO", OnBegin = "OnOpen", OnComplete = "OnRefreshNewMeeting" }, new { id = "frmAddEditAppointmentOfCFO" }))
        {
            <div>
                @Html.HiddenFor(k => k.AgendaID)
                @Html.HiddenFor(k => k.MappingID)
                @Html.HiddenFor(k => k.DesignationId)
            </div>
            if (Model.Success)
            {
                <div class="row">
                    <div class="col-md-12 colpadding0" id="DivsuccessI">
                        <div class="alert alert-success alert-dismissible">
                            <button class="close" type="button" onclick="hideAlert();">×</button>
                            <lable id="lblsuccessI">@Html.Raw(Model.Message)</lable>
                        </div>
                    </div>
                </div>
            }
            else if (Model.Error)
            {
                <div class="row">
                    <div class="col-md-12 colpadding0" id="DiverrorI">
                        <div class="alert alert-danger alert-dismissible">
                            <button class="close" type="button" onclick="hideAlert();">×</button>
                            <lable id="lblerrormsgI">@Html.Raw(Model.Message)</lable>
                        </div>
                    </div>
                </div>
            }

                <div class="row colpadding0">
                    <div class="col-md-12 colpadding0">

                        <div class="col-md-4 colpadding0">
                                <span style="color:red">*</span><label class="control-label">First Name of CFO</label>
                                @(Html.Kendo().TextBoxFor(m => m.FirstName).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 95%", @autocomplete="off" }))
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-4 colpadding0">
                                <span style="color:red">*</span><label class="control-label">Last Name of CFO</label>
                                @(Html.Kendo().TextBoxFor(m => m.LastName).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 95%" }))
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-4 colpadding0">
                            <label class="control-label">Middle Name of CFO</label>
                            @(Html.Kendo().TextBoxFor(m => m.MiddleName).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 95%" }))
                            @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row mt30 colpadding0">
                    <div class="col-md-12 colpadding0">

                        <div class="col-md-4 colpadding0">
                                <span style="color:red">*</span><label class="control-label">Father First Name of CFO</label>
                                @(Html.Kendo().TextBoxFor(m => m.Father).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 95%" }))
                                @Html.ValidationMessageFor(model => model.Father, "", new { @class = "text-danger" })
                        </div>

                        @*<div class="col-md-4 colpadding0">
                            <div class="col-md-1 colpadding0"></div>
                            <div class="col-md-11 colpadding0">
                                <label class="control-label">Middle Name</label>

                                @(Html.Kendo().TextBoxFor(m => m.FatherMiddleName).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%" }))
                                @Html.ValidationMessageFor(model => model.FatherMiddleName, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                        <div class="col-md-4 colpadding0">
                                <span style="color:red">*</span><label class="control-label">Father Last Name of CFO</label>

                                @(Html.Kendo().TextBoxFor(m => m.FatherLastName).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 95%" }))
                                @Html.ValidationMessageFor(model => model.FatherLastName, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-4 colpadding0">
                            <span style="color:red">*</span><label class="control-label">Father Middle Name of CFO</label>

                            @(Html.Kendo().TextBoxFor(m => m.FatherMiddleName).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 95%" }))
                            @Html.ValidationMessageFor(model => model.FatherLastName, "", new { @class = "text-danger" })
                        </div>

                    </div>
                </div>

                <div class="row mt30 colpadding0">
                    <div class="col-md-12 colpadding0">

                        <div class="col-md-4 colpadding0">
                            <span style="color:red">*</span><label class="control-label">PAN</label>

                            @(Html.Kendo().TextBoxFor(m => m.PAN).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 95%" }))
                            @Html.ValidationMessageFor(model => model.PAN, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4 colpadding0">
                            <label class="control-label">Address Line 1</label>
                            @(Html.Kendo().TextBoxFor(m => m.Present_Address_Line1).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 95%" }))
                            @Html.ValidationMessageFor(model => model.Present_Address_Line1, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4 colpadding0">
                            <label class="control-label">Address Line 2</label>
                            @(Html.Kendo().TextBoxFor(m => m.Present_Address_Line2).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 95%" }))
                            @Html.ValidationMessageFor(model => model.Present_Address_Line2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row mt30 colpadding0">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-3 colpadding0">
                                <span style="color:red"></span><label class="control-label">Date of consent</label><br />
                                <input id='DateOfConsent_' name="DateOfConsent_" value="@Model.DateOfConsent_" class="FormdatepickerNew" autocomplete="off" />
                                @Html.ValidationMessageFor(model => model.DateOfConsent_, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-3 colpadding0">
                            <span style="color:red"></span><label class="control-label">Date of appointment</label><br />
                            <input id='Kmp_appointment_Date' name="Kmp_appointment_Date" value="@Model.Kmp_appointment_Date" class="FormdatepickerNew" autocomplete="off" />
                            @Html.ValidationMessageFor(model => model.Kmp_appointment_Date, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div>
                    <div class="k-edit-buttons k-state-default mt30" style="background:!important;background:none;width:100%;">
                        <button type="submit" class="k-primary k-button k-grid-update k-button-icontext">Save</button>
                    </div>
                </div>

                <script>
                    $(document).ready(function () {
                        $(".FormdatepickerNew").kendoDatePicker({ format: "dd/MM/yyyy", });

                        var validator1 = $("#frmAddEditAppointmentOfCFO").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
                    });
                </script>
        }
    </div>