﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.UIForms.UIForm_FinancialResultYearEnded_ListedVM

 <div id="divSaveFinancialResult_Listed">
@using (Ajax.BeginForm("SaveFinancialResultYearEnd_Listed", "UIForm", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divSaveFinancialResult_Listed", OnBegin = "OnOpen", OnComplete = "OnRefreshNewMeeting" }, new { id = "frmSaveFinancialResult_Listed" }))
{
     <div>
         @Html.HiddenFor(k => k.AgendaID)
         @Html.HiddenFor(k => k.MappingID)
         @Html.HiddenFor(k => k.EntityId)
         @Html.HiddenFor(k => k.EntityTypeId)
     </div>
    if (Model.Success)
    {
        <div class="row">
            <div class="col-md-12 colpadding0" id="DivsuccessI">
                <div class="alert alert-success alert-dismissible">
                    <button class="close" type="button" onclick="hideAlert();">×</button>
                    <lable id="lblsuccessI">@Html.Raw(Model.Message)</lable>
                </div>
            </div>
        </div>
    }
    else if (Model.Error)
    {
        <div class="row">
            <div class="col-md-12 colpadding0" id="DiverrorI">
                <div class="alert alert-danger alert-dismissible">
                    <button class="close" type="button" onclick="hideAlert();">×</button>
                    <lable id="lblerrormsgI">@Html.Raw(Model.Message)</lable>
                </div>
            </div>
        </div>
    }

        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">

                <div class="col-md-3 colpadding0">
                    <span style="color:red"></span><label class="control-label">Name of MD</label><br />
                    @Html.Kendo().TextBoxFor(m => m.Name_of_managing_director).HtmlAttributes(new { style = "width: 98%" })
                </div>

                <div class="col-md-2 colpadding0">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-1 colpadding0">

                        </div>
                        <div class="col-md-11 colpadding0">
                            <span style="color:red"></span><label class="control-label">DIN of MD</label><br />
                            @Html.Kendo().TextBoxFor(m => m.DIN_of_managing_director).HtmlAttributes(new { style = "width: 98%" })
                        </div>
                    </div>
                </div>

                <div class="col-md-3 colpadding0">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-1 colpadding0">

                        </div>
                        <div class="col-md-11 colpadding0">
                            <span style="color:red"></span><label class="control-label">Name of CFO</label><br />
                            @Html.Kendo().TextBoxFor(m => m.Name_of_CFO).HtmlAttributes(new { style = "width: 98%" })
                        </div>
                    </div>
                </div>

                <div class="col-md-3 colpadding0">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-1 colpadding0">

                        </div>
                        <div class="col-md-11 colpadding0">
                            <span style="color:red"></span><label class="control-label">Name of CS</label><br />
                            @Html.Kendo().TextBoxFor(m => m.Name_of_CS).HtmlAttributes(new { style = "width: 98%" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                <div class="col-md-2 colpadding0">
                    <span style="color:red"></span><label class="control-label">Quarter ended</label><br />
                    <input id='QuarterEndedForTheMeeting' name="QuarterEndedForTheMeeting" value="@Model.QuarterEndedForTheMeeting" class="FormdatepickerNew" autocomplete="off" style="width:95%;" />
                    @Html.ValidationMessageFor(model => model.QuarterEndedForTheMeeting, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div>
            <div class="k-edit-buttons k-state-default mt30" style="background:!important;background:none;width:100%;">
                <button type="submit" class="k-primary k-button k-grid-update k-button-icontext">Save</button>
                <button type="button" class="k-button" onclick="closeUIFormWindow()">Close</button>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                $(".FormdatepickerNew").kendoDatePicker({ format: "dd/MM/yyyy", });
                var validator1 = $("#frmSaveCessationOfDirector").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
            });
        </script>
}
    </div>