﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.UIForms.UIForm_KMPMasterCessationVM

 <div id="divAddEditAppointmentOfCFO">
        @using (Ajax.BeginForm("SaveCessationOfKMP", "UIForm", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divAddEditAppointmentOfCFO", OnBegin = "OnOpen", OnComplete = "OnRefreshNewMeeting" }, new { id = "frmAddEditAppointmentOfCFO" }))
        {
            <div>
                @Html.HiddenFor(k => k.AgendaID)
                @Html.HiddenFor(k => k.MappingID)
                @Html.HiddenFor(k => k.DesignationId)
                @Html.HiddenFor(k => k.EntityId)
                
            </div>
            if (Model.Success)
            {
                    <div class="row">
                        <div class="col-md-12 colpadding0" id="DivsuccessI">
                            <div class="alert alert-success alert-dismissible">
                                <button class="close" type="button" onclick="hideAlert();">×</button>
                                <lable id="lblsuccessI">@Html.Raw(Model.Message)</lable>
                            </div>
                        </div>
                    </div>
            }
            else if (Model.Error)
            {
                <div class="row">
                    <div class="col-md-12 colpadding0" id="DiverrorI">
                        <div class="alert alert-danger alert-dismissible">
                            <button class="close" type="button" onclick="hideAlert();">×</button>
                            <lable id="lblerrormsgI">@Html.Raw(Model.Message)</lable>
                        </div>
                    </div>
                </div>
            }

                <div class="row colpadding0">
                    <div class="col-md-12 colpadding0">

                        <div class="col-md-5 colpadding0">
                            <span style="color:red"></span><label class="control-label">Name</label><br />
                                @(Html.Kendo().DropDownListFor(model => model.RefMasterID)
                                    .DataValueField("ID")
                                    .DataTextField("FirstName")
                                    .Filter(FilterType.Contains)
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Url("/api/KMPMasterAPI/KMPByDesignationId?DesignationId=" + Model.DesignationId+"&EntityId="+Model.EntityId).Type(HttpVerbs.Get);
                                        })
                                        .ServerFiltering(false);
                                    })
                                    .HtmlAttributes(new { style = "width: 95%;" }))
                        </div>


                        <div class="col-md-3 colpadding0">
                            <span style="color:red"></span><label class="control-label">Date of cessation</label><br />
                            <input id='cessation_Date' name="cessation_Date" value="@Model.cessation_Date" class="FormdatepickerNew" autocomplete="off" />
                            @Html.ValidationMessageFor(model => model.cessation_Date, "", new { @class = "text-danger" })
                        </div>

                    </div>
                </div>

                <div>
                    <div class="k-edit-buttons k-state-default mt30" style="background:!important;background:none;width:100%;">
                        <button type="submit" class="k-primary k-button k-grid-update k-button-icontext">Save</button>
                    </div>
                </div>

                <script>
                    $(document).ready(function () {
                        $(".FormdatepickerNew").kendoDatePicker({ format: "dd/MM/yyyy", });

                        var validator1 = $("#frmAddEditAppointmentOfCFO").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
                    });
                </script>
        }
    </div>