﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMPrifrenscShare


<div class="row col-md-12 mt30 content-box">
    <div id="divfrmUpdatePrifrenceshares1">
        @using (Ajax.BeginForm("ADDprifrenceMulti", "UIForm", new AjaxOptions { HttpMethod = "POST", OnBegin = "OnOpenUIForm", OnComplete = "OnRefreshUIForm", OnSuccess = "OnSuccess", UpdateTargetId = "divfrmUpdatePrifrenceshares1" }, new { id = "frmPrif" }))
        {

            <div class="row">
                @if (Model.Message)
                {
                    <div class="col-md-12">
                        <div class="alert alert-success alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            @if (!(string.IsNullOrEmpty(@Model.SuccessErrorMsg)))
                            {
                                <label>@Model.SuccessErrorMsg</label>
                            }
                        </div>
                    </div>
                }
            </div>

            <div class="row">
                @if (Model.errorMessage)
                {
                    <div class="col-md-12">
                        <div class="alert alert-danger alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            @if (!(string.IsNullOrEmpty(@Model.SuccessErrorMsg)))
                            {
                                <label>@Model.SuccessErrorMsg</label>
                            }
                        </div>
                    </div>
                }
            </div>

            @Html.AntiForgeryToken();

            //@Html.HiddenFor(m => m.Id, new { })
            @Html.HiddenFor(m => m.Id, new { @value = @Model.Id, @Id = "txteqtyid" })
            @Html.HiddenFor(m => m.EntityIdPref)
            @Html.HiddenFor(m => m.MeetingAgengaMappingIDPref)
            @Html.HiddenFor(m => m.AgengaIDPref)

            <div class="row colpadding0 mt30">
                <div class="col-md-12 colpadding0">
                    <div class="col-md-4 colpadding0"><label class="control-label">Whether the Company is having Preference Share Capital?</label></div>
                    <div class="col-md-3 colpadding0">
                        @(Html.Kendo().RadioButtonFor(m => m.IsPrefrence).Label("Yes").Value(true).HtmlAttributes(new { }))
                        &nbsp; &nbsp;
                        @(Html.Kendo().RadioButtonFor(m => m.IsPrefrence).Label("No").Value(false).HtmlAttributes(new { }))
                    </div>
                </div>
            </div>

            string div_class = "display:none";
            if (Model.IsPrefrence == true)
            {
                div_class = "display:block";
            }

            <div id="DIVPre" class="mt30" style="@div_class">

                <div id="divfrmUpdatePrifrenceshares">

                    @{
                        int i = -1;
                    }

                    <div class="row colpadding0 mt30">
                        <div class="col-md-12 colpadding0 table-responsive">
                            <table class="table" id="tblPrefrenceShareCapital">
                                <thead>
                                    <tr>
                                        <th>
                                            <label class="head-label"> Particulars</label>
                                        </th>
                                        <th>
                                            <label class="head-label">Authorised Capital</label>
                                        </th>
                                        <th>
                                            <label class="head-label">
                                                Revised
                                            </label>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><label class="control-label">Total Number of Preference Shares</label></td>
                                        <td>@(Html.Kendo().TextBoxFor(m => m.pTnAuthorisedCapital).HtmlAttributes(new { @readonly = "readonly", @class = "NoDrop text-right", @type = "number", min = "0", style = "width: 100%" }))</td>
                                        <td>@(Html.Kendo().TextBoxFor(m => m.pTnAuthorisedCapitalRevised).HtmlAttributes(new { @readonly = "readonly", @class = "NoDrop text-right", @type = "number", min = "0", style = "width: 100%" }))</td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label">Total amount of Preference Shares</label></td>
                                        <td>@(Html.Kendo().TextBoxFor(m => m.pTaAuthorisedCapital).HtmlAttributes(new { @readonly = "readonly", @class = "NoDrop text-right", @type = "number", min = "0", style = "width: 100%" }))</td>
                                        <td>@(Html.Kendo().TextBoxFor(m => m.pTaAuthorisedCapitalRevised).HtmlAttributes(new { @readonly = "readonly", @class = "NoDrop text-right", @type = "number", min = "0", style = "width: 100%" }))</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <div class="row colpadding0">
                        <div class="col-md-12 colpadding0">
                            <div class="col-md-6">
                                <span></span> <div class="col-md-5 colpadding0"><label class="control-label">Number of Class of Share</label></div>
                                <div class="col-md-4 colpadding0">
                                    @(Html.Kendo().TextBoxFor(m => m.pcount).HtmlAttributes(new { @Id = "tblClassPShares", @class = "text-center", @onchange = "ontxtprifrencechange();", @value = @Model.PsharesCoupons.Count, @style = "width:30%" })
                                    )
                                </div>
                                <input type="text" value="@Model.PsharesCoupons.Count" id="txthidenforequep" hidden="hidden" />
                            </div>
                        </div>
                    </div>


                    @foreach (var item in Model.PsharesCoupons)
                    {
                        i++;
                        @Html.HiddenFor(m => m.PsharesCoupons[i].psharesID)
                        @Html.HiddenFor(m => m.PsharesCoupons[i].psharesIDRevised)

                        <div class="row colpadding0">
                            <div class="col-md-12 colpadding0">
                                <div class="col-md-3">

                                    <label class="control-label" for="txtEntityName">Preferance capital Type</label><span style="color:red">*</span>
                                    @(Html.Kendo().DropDownListFor(m => m.PsharesCoupons[i].Pref_CapitalType).DataTextField("Text").DataValueField("Value")
                                  .BindTo(new List<SelectListItem>() {
                                       new SelectListItem() { Text = "Select", Value = "0" },
                                      new SelectListItem() { Text = "Compulsory Convertible", Value = "1" },
                                      new SelectListItem() { Text = "Optionally Convertible", Value = "2" },
                                      new SelectListItem() { Text = "Redeemable ", Value = "3" }
                                  }).HtmlAttributes(new { style = "width: 100%" }))
                                    @Html.ValidationMessageFor(model => model.PsharesCoupons[i].Pref_CapitalType, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-md-3">
                                    <div class="col-md-11 colpadding0">
                                        <label for="txtEntityName" class="control-label">Coupon Rate(%)</label><span style="color:red">*</span>
                                    </div>
                                    <div class="col-md-11 colpadding0">
                                        @(Html.Kendo().TextBoxFor(m => m.PsharesCoupons[i].Pref_CoupenRate).HtmlAttributes(new { style = "width: 40%", @autoComplete ="off" }))
                                        @Html.ValidationMessageFor(model => model.PsharesCoupons[i].Pref_CoupenRate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row colpadding0">
                            <div class="col-md-12 colpadding0 table-responsive">
                                <table class="table" id="tblPrefrenceCapital_@i">
                                    <thead>
                                        <tr>
                                            <th>
                                                <label class="head-label">Class of Shares</label>
                                            </th>
                                            <th><label class="head-label">Authorised Capital</label></th>
                                            <th><label class="head-label">Revised</label></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <label class="control-label">Number of Preference Shares</label>
                                            </td>
                                            <td>@(Html.Kendo().TextBoxFor(m => m.PsharesCoupons[i].pAuthorisedCapital1).HtmlAttributes(new { @Id = "txtpAuthorisedCapital1Equ", @readonly = "readonly", @class = "text-right", @onchange = "onchangeeventAddPAuthorized(this,0);", @type = "number", min = "0", style = "width: 100%" }))</td>
                                            <td>@(Html.Kendo().TextBoxFor(m => m.PsharesCoupons[i].pAuthorisedCapital1Revised).HtmlAttributes(new { @Id = "txtpAuthorisedCapital1EquRevised", @class = "text-right", @onchange = "onchangeeventAddPAuthorized(this,0);", @type = "number", min = "0", style = "width: 100%" }))</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="control-label">Nominal Value per Share (in INR)</label>
                                            </td>
                                            <td>@(Html.Kendo().TextBoxFor(m => m.PsharesCoupons[i].pAuthorisedCapital2).HtmlAttributes(new { @Id = "txtpAuthorisedCapital2", @readonly = "readonly", @class = "text-right", @onchange = "onchangeeventAddPAuthorized(this,0);", @type = "number", min = "0", style = "width: 100%" }))</td>
                                            <td>@(Html.Kendo().TextBoxFor(m => m.PsharesCoupons[i].pAuthorisedCapital2Revised).HtmlAttributes(new { @Id = "txtpAuthorisedCapital2Revised", @class = "text-right", @onchange = "onchangeeventAddPAuthorized(this,0);", @type = "number", min = "0", style = "width: 100%" }))</td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label class="control-label">Total amount of Preference Shares (in INR)</label>
                                            </td>
                                            <td>@(Html.Kendo().TextBoxFor(m => m.PsharesCoupons[i].pAuthorisedCapital3).HtmlAttributes(new { @Id = "txtpAuthorisedCapital3", @readonly = "readonly", @class = "NoDrop text-right", @type = "number", min = "0", style = "width: 100%" }))</td>
                                            <td>@(Html.Kendo().TextBoxFor(m => m.PsharesCoupons[i].pAuthorisedCapital3Revised).HtmlAttributes(new { @Id = "txtpAuthorisedCapital3Revised", @readonly = "readonly", @class = "NoDrop text-right", @type = "number", min = "0", style = "width: 100%" }))</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                </div>
            </div>
            @*<div class="k-edit-buttons k-state-default" style="background:!important;background:none;">
                    <button type="button" id="prefrence" class="k-primary k-button k-grid-update k-button-icontext" value="Save" name="submitButton" onclick="savePreferenceCapital();"><span class=""></span>Save</button>

                </div>*@
                        <div class="row col-md-12 colpadding0 mt30 text-center">
                            <button type="button" id="prefrence" class="btn btn-primary" value="Save" name="submitButton" onclick="savePreferenceCapital();"><span class=""></span>Save</button>
                        </div>
                        }
    </div>
</div>


<script>
    var validator = $("#frmPrif").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
    //if (validator.validate()) {
    //    $("#status").text("Entity was selected");

    //} else {
    //    $("#status").text("Entity was not selected");
    //}
    function savePreferenceCapital(e)
    {

        $("#frmPrif").attr(
                        "action",
                        "@Url.Action("ADDprifrenceMulti", "UIForm", new { submitButton = "Save" })"
                    ).submit();
        updatepaidupcapital();
    }

</script>

<script type="text/javascript">

    function OnSuccess(data) {
        
        $("#Unclasified").prop('disabled', false);
        $('#Unclasified a[href="#mysqltab"]').tab('show');

    }

    $(document).ready(function ()
    {

        if(@Model.Id>0)
        {

            //$("#prefrence").kendoButton({
            //    enable: false
            //});
        }
    })
</script>

<script>
    $(document).ready(function (){
        if("@Model.Message".toLowerCase() == "true" || "@Model.errorMessage".toLowerCase() == "true")
            $("#divIncreaseInAuthCapMain").scrollTop(0);
    });
</script>