﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.UIForms.ShiftingRegisterOfficeVM

<div id="divSaveShiftingRegisterOffice">
    <script>
        function filterShiftingRegisterCity() {
            return {
                stateId: $("#Regi_StateIdNew").val()
            };
        }
    </script>
    @using (Ajax.BeginForm("SaveWithinLocalLimit", "UIForm", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divSaveShiftingRegisterOffice", OnBegin = "OnOpenUIForm", OnComplete = "OnRefreshUIForm" }, new { id = "frmSaveFinancialResult_Listed" }))
    {
        <div>
            @Html.HiddenFor(k => k.Meeting_ID_)
            @Html.HiddenFor(k => k.AgendaID)
            @Html.HiddenFor(k => k.MappingID)
            @Html.HiddenFor(k => k.Shifting_EntityId)
            @Html.HiddenFor(k => k.Shifting_Id)
        </div>
        if (Model.Success)
        {
            <div class="row">
                <div class="col-md-12 colpadding0" id="DivsuccessI">
                    <div class="alert alert-success alert-dismissible">
                        <button class="close" type="button" onclick="hideAlert();">×</button>
                        <lable id="lblsuccessI">@Html.Raw(Model.Message)</lable>
                    </div>
                </div>
            </div>
        }
        else if (Model.Error)
        {
            <div class="row">
                <div class="col-md-12 colpadding0" id="DiverrorI">
                    <div class="alert alert-danger alert-dismissible">
                        <button class="close" type="button" onclick="hideAlert();">×</button>
                        <lable id="lblerrormsgI">@Html.Raw(Model.Message)</lable>
                    </div>
                </div>
            </div>
        }

        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                    <span style="color:red"></span><label class="control-label">Previous Address : </label><br />
                    @Html.Kendo().TextBoxFor(m => m.RegisteredOfficeAddress).HtmlAttributes(new { style = "width: 99%", autocomplete = "off" })
            </div>
        </div>

        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">
                <div class="col-md-6 colpadding0">
                    <span style="color:red"></span><label class="control-label">New Registered Office Address : </label><br />
                </div>
            </div>
        </div>

        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">

                <div class="col-md-6 colpadding0">
                    <label class="control-label">Address Line 1</label><span style="color:red">*</span><br />
                    @Html.Kendo().TextBoxFor(m => m.Regi_Address_Line1New).HtmlAttributes(new { style = "width: 98%", autocomplete = "off" })
                </div>

                <div class="col-md-6 colpadding0">
                    <label class="control-label">Address Line 2</label><span style="color:red">*</span><br />
                    @Html.Kendo().TextBoxFor(m => m.Regi_Address_Line2New).HtmlAttributes(new { style = "width: 98%", autocomplete = "off" })
                </div>

            </div>
        </div>

            <div class="row colpadding0 mt10">
                <div class="col-md-12 colpadding0">

                    <div class="col-md-3 colpadding0">
                        <label class="control-label">State</label><span style="color:red">*</span><br />
                        @(Html.Kendo().DropDownListFor(m => m.Regi_StateIdNew)
                                .DataTextField("Name")
                                .DataValueField("SIdPublic")
                               .Filter(FilterType.Contains)
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Url("/api/EntityMasterAPI/GetDropDownforState").Type(HttpVerbs.Get);
                                    })
                                  .ServerFiltering(false);
                                }).HtmlAttributes(new { style = "width:96%", autocomplete = "off" })
                        )
                    </div>

                    <div class="col-md-3 colpadding0">
                        <label class="control-label">City</label><span style="color:red">*</span><br />
                        @(Html.Kendo().DropDownListFor(m => m.Regi_CityIdNew)
                        .DataTextField("Name")
                        .DataValueField("Reg_cityId")
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Url("/api/EntityMasterAPI/GetDropDownforCity").Data("filterShiftingRegisterCity").Type(HttpVerbs.Get);
                            })
                            .ServerFiltering(true);
                        })
                         .Enable(false)
                         .AutoBind(false)
                         .CascadeFrom("Regi_StateIdNew")
                         .HtmlAttributes(new { style = "width:96%", @Id = "ddlreg_cityId", autocomplete = "off" })
                        )
                        @Html.ValidationMessageFor(model => model.Regi_CityIdNew, "", new { @class = "text-danger" })

        
                    </div>

                    
                    <div class="col-md-2 colpadding0">
                        <label class="control-label">PIN</label><span style="color:red">*</span><br />
                        @Html.Kendo().TextBoxFor(m => m.Regi_PINCodeNew).HtmlAttributes(new { style = "width: 98%", autocomplete = "off" })
                    </div>

                    <div class="col-md-2 colpadding0">
                        <span style="color:red"></span><label class="control-label">With effective from</label><br />
                        @(Html.Kendo().DatePickerFor(m => m.EffectFrom).Format("dd/MM/yyyy").HtmlAttributes(new { style = "width: 98%", title = "Please select Effect From date", @Id = "dpEffectFrom", onchange = "checkDate(this);" }))
                        @Html.ValidationMessageFor(model => model.EffectFrom, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

                <div>
                    <div class="k-edit-buttons k-state-default mt30" style="background:!important;background:none;width:100%;">
                        <button type="submit" class="k-primary k-button k-grid-update k-button-icontext">Save</button>
                        <button type="button" class="k-button" onclick="closeUIFormWindow()">Close</button>
                    </div>
                </div>
    }
    <script>
        $("#dpEffectFrom").removeAttr("data-val-date");
        if ($("#dpEffectFrom").val() == "01/01/0001") {
            $("#dpEffectFrom").val('');
        }
    </script>
</div>