﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.PreviewAgendaVM

<link href="~/Content/Text-Highlight-Plugin/jquery.marker.css" rel="stylesheet" />
<link href="~/Content/Text-Highlight-Plugin/extensions/spectrum.css" rel="stylesheet" />
<script src="~/Content/Text-Highlight-Plugin/jquery.marker1.js"></script>
<script src="~/Content/Text-Highlight-Plugin/extensions/spectrum.js"></script>

<style>
    #gridMinutesItemSearch .k-grid-header {
        height: 0;
        border-bottom-width: 0;
        display: none;
        overflow: hidden;
    }

    #gridMinutesItemSearch.k-grid td {
        line-height: 1.5em;
    }

    #gridMinutesComments .k-grid-header {
        height: 0;
        border-bottom-width: 0;
        display: none;
        overflow: hidden;
    }

    td.noWhiteSpace {
        white-space: initial;
    }
    /*.widget {
     margin-left: 0%; 
     border-right-width: 0%; 
     margin-bottom: 0%; 
     margin-right: 0%; 
     background-color: #ffffff;
     border: 1px solid #e7e7e7;
 }*/
      .widget {
    /*//margin-left: 2%;*/
    /* border-right-width: 0px; */
    margin-bottom: 2%;
    /*margin-right: 2%;*/
    /*width: 100%;*/
      background-color: #ffffff;
     border: 1px solid #e7e7e7;
    display: block;
  margin-right: auto;
  margin-left: auto;
}
    #teammates h4, #blogs h4, #news h4 {
    width: auto;
    margin: 19px 0 2px;
    font-size: 1.4em;
    color: #1f97f7;
    font-weight: normal;
}
  #main-content-agenda-preview {
    display: table-cell;
    margin: 0;
    padding: 2% 2% 2% 2%;
    /* width: 680px; */
    /* width: 980px; */
    vertical-align: top;
    /* width: 24%; */
}
    #blogs div, #news div {
    /* padding: 0 20px 20px; */
    padding: 5% 9% 5%;
}
  .page-thumb {
    padding: 2% 2% 2% 2%;
  
    background-color: white;
    border-color: #c7c1c1;
    border-style: solid;
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    font-size: smaller;
    line-height: 1.5em;
}
</style>

@if (Model != null)
{
    var SrNo = 0;
    var SrN = 0;
    var strMeetingSrNo = "";
    var adjourned = (@Model.IsAdjourned == true ? " (Adjourned)" : "");

    if (Model.MeetingSrNo != null)
    {
        var MeetingSrNo = Model.MeetingSrNo;
        if (MeetingSrNo == 1)
        {
            strMeetingSrNo = "1<sup>st</sup>";
        }
        else if (MeetingSrNo == 2)
        {
            strMeetingSrNo = "2<sup>nd</sup>";
        }
        else if (MeetingSrNo == 3)
        {
            strMeetingSrNo = "3<sup>rd</sup>";
        }
        else
        {
            strMeetingSrNo = MeetingSrNo + "<sup>th</sup>";
        }
    }

    <script>
    function getCommentToolTip(e) {
        return e.target.attr('data-title');
    }

    function toolTipContent_gridNew(e) {
        return e.target.context.innerText;
    }
    </script>

    <div style="overflow:hidden;" class="col-md-12 col-sm-12">
        <input type="text" id="hdnId" name="hdnId" class="hidden" />
        <input type="text" id="hdnValue" name="hdnValue" class="hidden" />
        <div>
            @(Html.Kendo().Tooltip()
            .For("#divMOMPreview")
            .Filter(".marker")
            .Position(TooltipPosition.Top)
            .AutoHide(true)
            //.Width(200)
            .ContentHandler("getCommentToolTip")
            )
            @(Html.Kendo().Tooltip()
            .For("#gridMinutesItemSearch")
            .Filter("td:nth-child(1)")
            .ContentHandler("toolTipContent_gridNew")
            .Position(TooltipPosition.Top)
            .Width(200)
            .AutoHide(true) )
        </div>

        @if (Model.GenerateMinutes != true)
        {
            <div id="divAgendaPreview">
                <div id="divEntityLetterHead" class="myHeading">
                    <h3>@Model.EntityName</h3>
                    <h6 style="text-align:center">@Model.EntityAddressLine1<br />@Model.EntityAddressLine2</h6>
                    @if (Model.EntityCIN_LLPIN != "0")
                    {
                        <h6 style="text-align:center">@Model.EntityCIN_LLPIN</h6>
                    }
                    <h4>AGENDA FOR THE @Html.Raw(strMeetingSrNo)@adjourned @Model.MeetingTypeName.ToUpper() MEETING</h4>
                </div>
                <div>
                    <table style="width:80%" class="table responsive">
                        <tr>
                            <td style="width:4%"></td>
                            <td style="width:10%">DATE</td>
                            <td style="width:1%">:</td>
                            @if (Model.MeetingDate.HasValue)
                            {
                                <td style="width:70%">@Convert.ToDateTime(Model.MeetingDate).ToString("MMMM dd, yyyy") </td>
                            }
                            else
                            {
                                <td style="width:70%"></td>
                            }
                        </tr>
                        <tr>
                            <td></td>
                            <td>DAY</td>
                            <td>:</td>
                            @if (Model.MeetingDate.HasValue)
                            {
                                <td>@Convert.ToDateTime(Model.MeetingDate).ToString("dddd") </td>
                            }
                            else
                            {
                                <td></td>
                            }
                        </tr>
                        <tr>
                            <td></td>
                            <td>TIME</td>
                            <td>:</td>
                            <td>@Model.MeetingTime</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>VENUE</td>
                            <td>:</td>
                            <td>@Model.MeetingVenue</td>
                        </tr>
                    </table>
                </div>
                <br />
                <div class="myIndex">
                    @foreach (var item in Model.lstAgendaItems)
                    {
                        SrNo++;
                        <h3 class="">@SrNo. @Html.Raw((!string.IsNullOrEmpty(item.AgendaItemText) ? item.AgendaItemText.ToUpper() : ""))</h3>
                    }
                </div>
                @{
                    SrNo = 0;
                }
                <div id="main-content-agenda-preview" class="mycollapse">
                    @foreach (var item in Model.lstAgendaItems)
                    {
                        SrNo++;
                        <div id="blogs" class="widget">
                            <h3>Item @SrNo</h3>
                            <div>
                                <h4>@SrNo. @Html.Raw((!string.IsNullOrEmpty(item.AgendaItemText) ? item.AgendaItemText.ToUpper() : ""))</h4>
                                <p class="blog-info"></p>
                                <div>
                                    @Html.Raw(item.AgendaFormat)
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
                    }
                    else
                    {
                        <div id="divMOMPreview" class="row content">
                            
                                <div class="col-md-12 colpadding0">

                                    @*<table class="table">
                                        <tr>
                                            <td style="width:22%;vertical-align:top;">*@
                                    <div class="col-md-3 col-sm-12 col-xs-12 colpadding0 sidenav">
                                        <div style="overflow-y :auto;">

                                            <div class="tab" role="tabpanel">
                                                <ul class="nav nav-tabs mynavtab">
                                                    <li class="active">
                                                        <a data-toggle="tab" href="#AgendaItemSearch" role="tab" aria-controls="AgendaItemSearch" aria-selected="true">Agenda</a>
                                                    </li>
                                                    <li>
                                                        <a data-toggle="tab" href="#AgendaItemComments" role="tab" aria-controls="AgendaItemComments" aria-selected="true">Comments</a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div id="AgendaItemSearch" class="tab-pane fade in active">
                                                        <div class="row master-Headre " style="background-color: whitesmoke;">
                                                            <div class="col-md-12 colpadding0">
                                                                <div class="col-md-1 colpadding0">
                                                                </div>
                                                                <div class="col-md-10 colpadding0">
                                                                    <input id='filterAgendaItemSearch' placeholder="Search" class='k-textbox' style="margin-top:15px;width:100%" autocomplete="off" onchange="filterChange(this)" />
                                                                </div>
                                                                <div class="col-md-1 colpadding0">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row colpadding0">
                                                            <div class="col-md-12 colpadding0">
                                                                <table id="gridMinutesItemSearch" class="table responsive">
                                                                    <colgroup>
                                                                        <col />
                                                                    </colgroup>
                                                                    <thead>
                                                                        <tr>
                                                                            <th data-field="Agenda_Name">Agenda</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @foreach (var item in Model.lstAgendaItems)
                                                                                {
                                                                                    SrN++;
                                                                            <tr>
                                                                                <td> <div class="page-thumb"><a class="text-justify" href="#spMOMText_@item.MeetingAgendaMappingID"> @SrN. @Html.Raw(item.AgendaItemText)</a> </div> </td>
                                                                            </tr>
                                                                                }
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="AgendaItemComments" class="tab-pane fade in">
                                                        <div class="row" style="background-color: whitesmoke;">
                                                            <div class="col-md-12 colpadding0">
                                                                <div id="gridMinutesComments"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                            <div id="main-content-agenda-preview" class="aside col-md-8 colpadding0 col-xs-12 col-sm-12 mycollapse myMinutesComments">
                                                @*<div style="overflow-y :auto;">*@
                                                <div class="row colpadding0">
                                                    <div class="col-md-12 colpadding0 col-xs-12 col-sm-12">
                                                        <div id="blogs" class="widget col-md-12 col-xs-12 col-sm-12">
                                                            <div id="divEntityLetterHead" class="myHeading col-md-12 col-xs-12 col-sm-12" style="text-align:center;margin-top:5%;padding-bottom: 5%;">
                                                                <p style="color: #666;" class="text-justify">MINUTES OF THE @Html.Raw(strMeetingSrNo)@adjourned MEETING OF THE @Model.MeetingTypeName.ToUpper() OF @Model.EntityName.ToUpper() HELD ON @Convert.ToDateTime(Model.MeetingDate).ToString("dddd").ToUpper(), @Convert.ToDateTime(Model.MeetingDate).ToString("MMMM dd, yyyy").ToUpper(), AT @Model.MeetingTime.ToUpper() AT @Model.MeetingVenue.ToUpper()</p>
                                                            </div>
                                                            <div style="margin-left:2%;padding-top:5%;" class="col-sm-12 col-xs-12">
                                                                @if (Model.lstMeetingAttendance != null)
                                                                {
                                                                    if (Model.lstMeetingAttendance.Count > 0)
                                                                    {
                                                                        <p style="color: #666;" class="text-justify"><b>PRESENT</b></p><br />
                                                                        <table style="width:100%" class="table responsive">
                                                                            @foreach (var item in Model.lstMeetingAttendance.Where(k => k.Attendance == "P"))
                                                                            {
                                                                                <tr>
                                                                                    <td style="width:40%" class="text-justify"><b>@item.MeetingParticipant_Name</b></td>
                                                                                    <td style="width:60%" class="text-justify">@item.Designation</td>
                                                                                </tr>
                                                                            }
                                                                        </table>
                                                                        <p style="color: #666;" class="text-justify">
                                                                            The meeting commenced at @Model.MeetingStartTime.<br />
                                                                        </p>
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                        @foreach (var item in Model.lstAgendaItems)
                                                    {
                                                        SrNo++;
                                                            <div id="blogs" class="widget col-md-12 col-sm-9 col-xs-9">
                                                                <div class="col-md-12 col-xs-9 col-sm-9" id="spMOMText_@item.MeetingAgendaMappingID">
                                                                    <table class="table responsive">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="vertical-align: top;" class="text-justify"><h4>@SrNo. </h4></td>
                                                                                <td>
                                                                                    <h4 style="text-align:justify;" class="text-justify">@Html.Raw(item.AgendaItemText)</h4>
                                                                                    <p class="blog-info "></p>
                                                                                    <p class="text-justify">@Html.Raw(item.AgendaFormat)</p>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                    }
                                                        <div id="blogs" class="widget col-sm-12 col-xs-12">
                                                            <p><br /></p>
                                                            <p><br /></p>
                                                            <p><br /></p>
                                                            <p><br /></p>
                                                            <p><br /></p>
                                                            <p><br /></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                @*</div>*@
                                            </div>
                                        @*</tr>
                                    </table>*@

                                </div>
                          
                        </div>


                        if (Model.IsDraftMinutesApproved == false)
                        {
                            @Html.Partial("_DraftMinutesApproves", new BM_ManegmentServices.VM.MeetingMinutesApproveVM() { MeetingId = Model.MeetingID, DraftCirculationID = Model.DraftCirculationID_ ,userId=Model.userID})
                        }

                    }
    </div>
                    }
<script type="text/x-kendo-template" id="myTemplateSearchAgenda">
    <input id='filter' placeholder="Type to search" class='k-textbox' style="width:90%" autocomplete="off" onchange="filterChange(this)" />
</script>
<script>
    function show11() {

        var a = $('#spMOMText_165');
        //$('#spMOMText_165').scrollTo(1);
        $('#spMOMText_169').get(0).scrollIntoView(200);
        //$([document.documentElement, document.body]).animate({
        //    scrollTop: $('#spMOMText_165').offset().top
        //}, 2000);
    }


    $('#filterAgendaItemSearch').on('input', function (e) {

        var filter = { logic: 'or', filters: [] };

        var t = $('#filterAgendaItemSearch');
        if (t.val() != "") {
            filter.filters.push({ logic: "or", field: "Agenda_Name", operator: "contains", value: t.val() });
        }

        var grid = $("#gridMinutesItemSearch").data("kendoGrid");
        grid.dataSource.filter(filter);
    });

    $(document).ready(function () {

        //var grid = $('#gridMinutesItemSearch').kendoGrid({});
        //grid.refresh();

        $("#gridMinutesItemSearch").kendoGrid({
           // toolbar: kendo.template($("#myTemplateSearchAgenda").html()),
            sortable: false,
            scrollable: false,
            dataBound: function (e) {

                var grid = $("#gridMinutesItemSearch").data("kendoGrid");
                var data = grid.dataSource.data();
                $.each(data, function (i, row) {
                    $('tr[data-uid="' + row.uid + '"] ').removeClass("k-alt");

                    $('tr[data-uid="' + row.uid + '"] ').css("box-sizing", "border-box");
                    $('tr[data-uid="' + row.uid + '"] ').css("background-color", "whitesmoke");
                    //$('tr[data-uid="' + row.uid + '"] ').css("box-shadow", "0px 0px 1px 0 #DDDDDD");


                    var allRows = e.sender.items();
                    allRows.each(function (index, row) {
                        var nameCell = $(this).find("td");
                        nameCell.addClass("noWhiteSpace");
                    });

                })
            }
        });

    });

</script>
<script>
    $(document).ready(function () {
        debugger;
        let targets = $('body .myMinutesComments');
        let ids = $(this).attr('id');

        targets.marker({
            data: function (e, data) {
                //console.log(JSON.stringify(data))
            },
            debug: function (e, data) {
                //console.log(data)
            },
            activeRemove: false,
        showSaveButton: true
        });

        loadMinutesComments();
    });

    function loadMinutesComments() {
        debugger;
        let targetdmin = $('body .myMinutesComments');

        $.ajax({
            type: "POST",
            url: "@Url.Action("GetComments", "WebView")",
            data: "{ draftCirculationID: '@Model.DraftCirculationID_' }",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {

                //var j = JSON.parse(response.CommentData);
                //target.marker('restore', j);
                fillGridMinutesComments(response);
            },
            failure: function (response) {

            },
            error: function (response) {

            }
    });
    }

    function fillGridMinutesComments(d) {

        var commetnsData = [];

        var comments = JSON.parse(d.CommentData);
        if (comments != null) {
            for (var j = 0; j < comments.length; j++) {
                // comments[j].owner = d[i].FirstName + " " + d[i].LastName;
                commetnsData.push(comments[j]);
            }
        }

        let targetcomm = $('body .myMinutesComments');

        targetcomm.marker({
            data: function (e, data) {
                //console.log(JSON.stringify(data))
            },
            debug: function (e, data) {
                //console.log(data)
            }
        });

        targetcomm.marker('restore', commetnsData);


        var ds = new kendo.data.DataSource({
            data: commetnsData, //d, //myJson.employees,
            pageSize: 10
        });

        var grid = $("#gridMinutesComments").kendoGrid({
            pageable: {
                alwaysVisible: false,
                pageSizes: [5, 10, 20, 100]
            },
            dataBound: function () {

                var grid = $("#gridMinutesComments").data("kendoGrid");
                var data = grid.dataSource.data();
                $.each(data, function (i, row) {
                    $('tr[data-uid="' + row.uid + '"] ').removeClass("k-alt");
                })

            },
            columns: [
                        { field: "title", title: "title", template: "#=getMinutesCommentTemplate(data)#" },
                        //str += "<li class='my-comment-list' onclick='showSpan(this);' target-id='" + comments[j].uniqueName + "'>" + comments[j].title + "</li>";
            ],
            dataSource: ds,
            editable: false,
            //sortable: true,
            groupable: false,
        });

    }

    function getMinutesCommentTemplate(data) {
        return "<li class='my-comment-list' onclick='showSpanMinutes(this);' target-id='" + data.uniqueName + "'>" + data.title + "</li>";
    }

    function showSpanMinutes(e) {

        //var spanId = e.attr('target-id');
        var spanId = e.attributes['target-id'].value;
        $("#divMOMPreview").find('.marker' + '[' + 'data-unique-name' + '=' + spanId + ']').get(0).scrollIntoView();
    }

    function btnSaveCommentes_click() {
        debugger;
        var target = $('body .myMinutesComments');
        var a = target.marker('data');

        var meetingMinutesCommentVM = new Object();
        meetingMinutesCommentVM.MeetingId = "@Model.MeetingID";
        meetingMinutesCommentVM.DraftCirculationID = "@Model.DraftCirculationID_";
        meetingMinutesCommentVM.UserId = "@Model.userID";
        meetingMinutesCommentVM.CommentData = JSON.stringify(a);
        meetingMinutesCommentVM.lstData = a;
        if (meetingMinutesCommentVM != null) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("SaveComments", "WebView")",
                data: JSON.stringify(meetingMinutesCommentVM),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {

                    //target.marker('clear');
                    //var j = JSON.parse(response.CommentData);
                    //target.marker('restore', j);
                },
                failure: function (response) {

                },
                error: function (response) {

                }
            });
        }
    }

</script>
