﻿<!DOCTYPE html>
<html>
<head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AVANTIS - Products that simplify">
    <meta name="author" content="FortuneCookie - Development Team">
    <title>DASHBOARD :: AVANTIS - Products that simplify</title>
    <!-- Bootstrap CSS -->
    <link rel="dns-prefetch" href="https://avacdn.azureedge.net">
    <link rel="dns-prefetch" href="https://maps.googleapis.com">
    <link rel="dns-prefetch" href="https://www.google-analytics.com">
    <link rel="shortcut icon" href="/favicon.png">
    <link rel="dns-prefetch" href="https://login.teamleaseregtech.com">
    <link rel="preconnect" href="https://va.tawk.to">
    <link rel="preconnect" href="https://maps.googleapis.com">
    <link rel="preconnect" href="https://www.google-analytics.com">
    <link href="https://avacdn.azureedge.net/newcss/bootstrap.min.css" rel="preload" />
    <link href="https://avacdn.azureedge.net/newcss/bootstrap.min.css" rel="preload" />
    <!-- bootstrap theme -->
    <link href="https://avacdn.azureedge.net/newcss/bootstrap-theme.css" rel="preload" />
    <link href="https://avacdn.azureedge.net/newcss/responsive-calendar.css" rel="preload" />
    <link href="https://avacdn.azureedge.net/newcss/font-awesome.min.css" rel="preload" />
    <!-- full calendar css-->
    <link href="https://avacdn.azureedge.net/newcss/bootstrap-fullcalendar.css" rel="preload" />
    <!-- owl carousel -->
    <link rel="preload" href="https://avacdn.azureedge.net/newcss/owl.carousel.css" />
    <!-- Custom styles -->
    <link rel="preload" href="https://avacdn.azureedge.net/newcss/fullcalendar.css" />
    <link href="https://avacdn.azureedge.net/newcss/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- bootstrap theme -->
    <link href="https://avacdn.azureedge.net/newcss/bootstrap-theme.css" rel="stylesheet" type="text/css" />

    <link href="https://avacdn.azureedge.net/newcss/responsive-calendar.css" rel="stylesheet" type="text/css" />

    <link href="https://avacdn.azureedge.net/newcss/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- full calendar css-->
    <link href="https://avacdn.azureedge.net/newcss/bootstrap-fullcalendar.css" rel="stylesheet" type="text/css" />
    <!-- owl carousel -->
    <link rel="stylesheet" href="https://avacdn.azureedge.net/newcss/owl.carousel.css" type="text/css" />
    <!-- Custom styles -->
    <link rel="stylesheet" href="https://avacdn.azureedge.net/newcss/fullcalendar.css" type="text/css" />
    <link href="https://avacdn.azureedge.net/newcss/stylenew.css" rel="stylesheet" type="text/css" />
    <link href="https://avacdn.azureedge.net/newcss/jquery-ui-1.10.7.min.css" rel="stylesheet" type="text/css" />
    <link href="https://avacdn.azureedge.net/newcss/jquery.bxslider.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://avacdn.azureedge.net/newjs/jquery.js"></script>

    <link href="~/NewCSS/kendo.common.min.css" rel="stylesheet" />
    <link href="~/NewCSS/kendo.rtl.min.css" rel="stylesheet" />
    <link href="~/NewCSS/kendo.silver.min.css" rel="stylesheet" />
    <link href="~/NewCSS/kendo.mobile.all.min.css" rel="stylesheet" />

    <script type="text/javascript" src="~/Newjs/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="~/Newjs/kendo.all.min.js"></script>
    <script type="text/javascript" src="~/Newjs/jszip.min.js"></script>

    @*<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common-material.min.css" />
        <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.min.css" />
        <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.mobile.min.css" />

        <script src="https://kendo.cdn.telerik.com/2017.2.621/js/jquery.min.js"></script>
        <script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6QVEs3x5HCb4r-jC8hy8FJZxT5syQI4Y"></script>*@

    <style type="text/css">
        .newtestcss {
            position: fixed;
            left: 169px;
            background: white;
            width: 250px !important;
            z-index: 15;
            border: 1px solid #e5e5e5;
        }

            .newtestcss > li {
                padding: 5px;
            }

        #CMPMenuBar a.level1 {
            margin-left: 5px;
        }

        .nicescroll-rails {
            width: 11px !important;
        }

            .nicescroll-rails > div {
                width: 10px !important;
                background-color: #1FD9F7 !important;
            }

        #collapsePerformerLoc > div > div > div > div > div > div > a.bx-prev {
            left: 0%;
        }

        #collapsePreviewerLoc > div > div > div > div > div > div > a.bx-prev {
            left: 0%;
        }

        .clock {
            float: left;
            margin-left: 5px;
        }

        ul.sidebar-menu li a {
            text-decoration: none;
            display: block;
            padding: 15px 0 15px 10px;
            font-size: 16px;
            font-weight: 300;
            outline: 0;
            transition: all .3s ease;
        }

        .Iconspriteleft {
            background: url('https://avacdn.azureedge.net/images/css_sprites_ Icons.png') no-repeat;
            width: 27px;
            height: 20px;
            float: left;
        }

        .k-grid-header-wrap.k-auto-scrollable {
            width: 99.9%;
        }

        span.k-icon.k.i.arrow-60-down {
            margin-top: 6px;
        }

        .bx-loading {
            display: none !important;
        }

        .icon-instruction-l {
            background: url(../img/icons/line-icon.png) no-repeat -928px -136px;
            width: 28px;
            height: 25px;
            display: inline-block !important;
        }

        .dashboard-weather p {
            color: #1fd9e1;
            font-size: 16px;
            font-weight: 300;
        }

        #sidebar {
            width: 223px;
        }

        #main-content {
            margin-left: 223px;
        }

        .wrapper {
            display: inline-block;
            width: 98%;
            margin-left: 1.0%;
        }

        .search-row {
            float: left;
            margin-top: 1px;
            margin-left: 16px;
        }

        .k-state-default > .k-select {
            border-color: #ceced2;
            margin-top: 0px !important;
        }

        /*.newtestcss {
            position: fixed;
            left: 222px;
            background: white;
            width: 250px !important;
            z-index: 15;
            border: 1px solid #e5e5e5;
        }*/

        .top-nav .dropdown-menu.extended.logout {
            top: 61px;
        }

        .dashboard-weather-icon {
            padding-top: 0px;
        }
    </style>

    <script type="text/javascript">

        function fmaters() {
            if ($('#Documentssubmenu').is(':visible'))
                $('#Documentssubmenu').css('display', 'none');
            else
                $('#Documentssubmenu').css('display', 'block');
        }


        function fInvoicematers() {
            if ($('#Documentssubmenu1').is(':visible'))
                $('#Documentssubmenu1').css('display', 'none');
            else
                $('#Documentssubmenu1').css('display', 'block');
        }


        function fStaffingmaters() {
            if ($('#Documentssubmenu2').is(':visible'))
                $('#Documentssubmenu2').css('display', 'none');
            else
                $('#Documentssubmenu2').css('display', 'block');
        }

    </script>

</head>
<body>
    <div>
        <section id="container" class="">
            <!--header end-->
            <!--sidebar start-->
            <aside>
                <div id="sidebar" class="nav-collapse">
                    <!--logo start-->


                    <a class="logo" style="height: 63px;padding: 0px 0px 0px 62px;" href="#">
                        <img class="imgDynamic" data-src="../../img/avantis-logo-dashboard1.png" style="height:60px;" />
                    </a>

                    <div class="clearfix"></div>
                    <!--logo end-->
                    <!-- sidebar menu start-->
                    <ul class="sidebar-menu">
                        <li class="active">
                            <div style="height: 50px;background: #fff;padding: 15px;border-top: 1px #e1e5e9 solid;border-bottom: 1px #e1e5e9 solid;color: #000;color: #000;padding-top: 3px;padding-left:1px;">
                                <a class="" style="background: transparent;" href="../../ProductMapping/ProductMappingStructure.aspx">
                                    <i class="icon_house" style="color:black;"></i>
                                    <span>Home </span><span class="badge bg-dashboard"></span>
                                </a>   <span class="profile-ava" style="display:none;">
                                    <img runat="server" id="ProfilePic" src="../img/profile_pic.png" style="height:50px;width:50px; visibility:hidden;" />
                                </span>
                                <span style="display:none;" style="color: #2b2b2b;font-weight: 300;font-size: 16px;" class="username">@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.User</span>

                            </div>
                        </li>
                        @if (@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role == "VCMNG" ||
                            @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role == "VCPH" ||
                            @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role == "VCPD")
                        {
                            <li id="leftAssingmentmenu" class="leftdummy">
                                <a class="" href="/VendorAuditManagement/VendorAudit/ManagementDashboard">
                                    <span><i class="icon_desktop"></i>Dashboard</span><span class="badge bg-dashboard"></span>
                                </a>
                            </li>
                            <li id="leftAssingmentmenu" class="leftdummy">
                                <a class="" href="/VendorAuditManagement/VendorAudit/ContractorCompliancesdocumentList">
                                    <span><i class="icon_documents_alt"></i>Document</span><span class="badge bg-dashboard"></span>
                                </a>
                            </li>
                            @*<li id="leftAssingmentmenu" class="leftdummy">
                <a class="" href="/VendorAuditManagement/VendorAudit/compliancereport">
                    <span><i class="icon_documents_alt"></i>Report</span><span class="badge bg-dashboard"></span>
                </a>
            </li>*@

                            <li id="leftmastermenu" class="leftdummy">
                                <a onclick="fmaters();" style="cursor: pointer;">
                                    <i class="icon_toolbox"></i>
                                    <span>My Reports</span>
                                    <span class="badge bg-dashboard"></span>
                                </a>
                                <ul class="gw- newtestcss" id="Documentssubmenu" style="display: none; padding-left: 5px; margin-top: -63px;">
                                    <li role="menuitem" class="dynamic" style="position: relative;">
                                        <a class="level2 selected dynamic" href="/VendorAuditManagement/VendorAudit/ComplianceReport" tabindex="-1" style="padding: 0px">Contractor License Report</a>
                                    </li>


                                    <li role="menuitem" class="dynamic" style="position: relative;">
                                        <a class="level2 selected dynamic" href="/VendorAuditManagement/VendorAudit/AuditorCloseReport" tabindex="-1" style="padding: 0px">Audit Report</a>
                                    </li>
                                    <li role="menuitem" class="dynamic" style="position: relative;">
                                        <a class="level2 selected dynamic" href="/VendorAuditManagement/VendorAudit/VendorDynamic" tabindex="-1" style="padding: 0px">Vendor Report</a>
                                    </li>
                                    <li role="menuitem" class="dynamic" style="position: relative;">
                                        <a class="level2 selected dynamic" href="/VendorAuditManagement/VendorAudit/VendorAuditStatusReport" tabindex="-1" style="padding: 0px">Audit Status Report</a>
                                    </li>
                                </ul>

                            </li>
                        }
                        @if (@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role == "VCCON")
                        {
                            <li id="leftAssingmentmenu" class="leftdummy">
                                <a class="" href="/VendorAuditManagement/VendorAudit/ContractorDashboard">
                                    <span><i class="icon_desktop"></i>Dashboard</span><span class="badge bg-dashboard"></span>
                                </a>
                            </li>
                            <li id="leftAssingmentmenu" class="leftdummy">
                                <a class="" href="/VendorAuditManagement/VendorAudit/ContractorWorkspace">
                                    <span><i class="icon_briefcase"></i>Workspace</span><span class="badge bg-dashboard"></span>
                                </a>
                            </li>
                            <li id="leftAssingmentmenu" class="leftdummy">
                                <a class="" href="/VendorAuditManagement/VendorAudit/ContractorCompliancesdocumentList">
                                    <span><i class="icon_documents_alt"></i>Document</span><span class="badge bg-dashboard"></span>
                                </a>
                            </li>
                            @*<li id="leftAssingmentmenu" class="leftdummy">
                <a class="" href="/VendorAuditManagement/VendorAudit/compliancereport">
                    <span><i class="icon_documents_alt"></i>Report</span><span class="badge bg-dashboard"></span>
                </a>
            </li>*@
                            <li id="leftmastermenu" class="leftdummy">
                                <a onclick="fmaters();" style="cursor: pointer;">
                                    <i class="icon_toolbox"></i>
                                    <span>My Reports</span>
                                    <span class="badge bg-dashboard"></span>
                                </a>
                                <ul class="gw- newtestcss" id="Documentssubmenu" style="display: none; padding-left: 5px; margin-top: -63px;">
                                    <li role="menuitem" class="dynamic" style="position: relative;">
                                        <a class="level2 selected dynamic" href="/VendorAuditManagement/VendorAudit/ComplianceReport" tabindex="-1" style="padding: 0px">Contractor License Report</a>
                                    </li>


                                    <li role="menuitem" class="dynamic" style="position: relative;">
                                        <a class="level2 selected dynamic" href="/VendorAuditManagement/VendorAudit/AuditorCloseReport" tabindex="-1" style="padding: 0px">Audit Report</a>
                                    </li>
                                    <li role="menuitem" class="dynamic" style="position: relative;">
                                        <a class="level2 selected dynamic" href="/VendorAuditManagement/VendorAudit/VendorDynamic" tabindex="-1" style="padding: 0px">Vendor Report</a>
                                    </li>
                                </ul>

                            </li>
                        }
                        @if (@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role == "VCAUD")
                        {
                            <li id="leftAssingmentmenu" class="leftdummy">
                                <a class="" href="/VendorAuditManagement/VendorAudit/ContractorDashboard">
                                    <span><i class="icon_desktop"></i>Dashborad</span><span class="badge bg-dashboard"></span>
                                </a>
                            </li>
                            <li id="leftAssingmentmenu" class="leftdummy">
                                <a class="" href="/VendorAuditManagement/VendorAudit/ContractorWorkspace">
                                    <span><i class="icon_briefcase"></i>Workspace</span><span class="badge bg-dashboard"></span>
                                </a>
                            </li>
                            <li id="leftAssingmentmenu" class="leftdummy">
                                <a class="" href="/VendorAuditManagement/VendorAudit/ContractorCompliancesdocumentList">
                                    <span><i class="icon_documents_alt"></i>Document</span><span class="badge bg-dashboard"></span>
                                </a>
                            </li>

                            <li id="leftmastermenu" class="leftdummy">
                                <a onclick="fmaters();" style="cursor: pointer;">
                                    <i class="icon_toolbox"></i>
                                    <span>My Reports</span>
                                    <span class="badge bg-dashboard"></span>
                                </a>
                                <ul class="gw- newtestcss" id="Documentssubmenu" style="display: none; padding-left: 5px; margin-top: -63px;">
                                    <li role="menuitem" class="dynamic" style="position: relative;">
                                        <a class="level2 selected dynamic" href="/VendorAuditManagement/VendorAudit/ComplianceReport" tabindex="-1" style="padding: 0px">Contractor License Report</a>
                                    </li>


                                    <li role="menuitem" class="dynamic" style="position: relative;">
                                        <a class="level2 selected dynamic" href="/VendorAuditManagement/VendorAudit/AuditorCloseReport" tabindex="-1" style="padding: 0px">Audit Report</a>
                                    </li>
                                    <li role="menuitem" class="dynamic" style="position: relative;">
                                        <a class="level2 selected dynamic" href="/VendorAuditManagement/VendorAudit/VendorDynamic" tabindex="-1" style="padding: 0px">Vendor Report</a>
                                    </li>
                                </ul>

                            </li>
                        }
                        @if (@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role == "VCCAD")
                        {
                            <li id="leftmastermenu" class="leftdummy">
                                <a onclick="fmaters();" style="cursor: pointer;">
                                    <span> <img class="imgDynamic" data-src="../../Images/Masters.png" style="width: 20px;margin-right: 6px;" />Masters</span><span class="badge bg-dashboard"></span>
                                    <span class="badge bg-dashboard"></span>
                                </a>
                                <ul class="gw- newtestcss" id="Documentssubmenu" style="display: none; padding-left: 5px; margin-top: -63px;">
                                    <li role="menuitem" class="dynamic" style="position: relative;">
                                        <a class="level2 selected dynamic" href="/VendorAuditManagement/VendorAudit/Entities" tabindex="-1" style="padding: 0px">Entity Master</a>
                                    </li>
                                    <li role="menuitem" class="dynamic" style="position: relative;">
                                        <a class="level2 selected dynamic" href="/VendorAuditManagement/VendorAudit/UserMaster" tabindex="-1" style="padding: 0px">User Master</a>
                                    </li>
                                    <li role="menuitem" class="dynamic" style="position: relative;">
                                        <a class="level2 selected dynamic" href="/VendorAuditManagement/VendorAudit/ProjectMaster" tabindex="-1" style="padding: 0px">Project / Offices Master</a>
                                    </li>
                                    <li role="menuitem" class="dynamic" style="position: relative;">
                                        <a class="level2 selected dynamic" href="/VendorAuditManagement/VendorAudit/ContractMaster" tabindex="-1" style="padding: 0px">Contractor Master</a>
                                    </li>
                                    <li role="menuitem" class="dynamic" style="position: relative;">
                                        <a class="level2 selected dynamic" href="/VendorAuditManagement/VendorAudit/ComplianceMasterNew" tabindex="-1" style="padding: 0px">Act & Compliance</a>
                                    </li>
                                    <li role="menuitem" class="dynamic" style="position: relative;">
                                        <a class="level2 selected dynamic" href="/VendorAuditManagement/VendorAudit/ContractorType" tabindex="-1" style="padding: 0px">Contractor Type Master</a>
                                    </li>
                                    <li role="menuitem" class="dynamic" style="position: relative;">
                                        <a class="level2 selected dynamic" href="/VendorAuditManagement/VendorAudit/CityMaster" tabindex="-1" style="padding: 0px">City Master</a>
                                    </li>
                                    <li role="menuitem" class="dynamic" style="position: relative;">
                                        <a class="level2 selected dynamic" href="/VendorAuditManagement/VendorAudit/LicType" tabindex="-1" style="padding: 0px">License Type Master</a>
                                    </li>
                                    <li role="menuitem" class="dynamic" style="position: relative;">
                                        <a class="level2 selected dynamic" href="/VendorAuditManagement/VendorAudit/VenoderComplianceDataPoints" tabindex="-1" style="padding: 0px">Data Point Master</a>
                                    </li>
                                </ul>
                            </li>

                            <li id="leftAssingmentmenu" class="leftdummy">

                                <a class="" href="/VendorAuditManagement/VendorAudit/ComplianceAssingment">
                                    <span> <img class="imgDynamic" data-src="../../Images/Mapping.png" style="width: 20px;margin-right: 6px;" />Compliance Mapping</span><span class="badge bg-dashboard"></span>
                                </a>
                            </li>

                            <li id="leftAssingmentmenu" class="leftdummy">

                                <a class="" href="/VendorAuditManagement/VendorAudit/ComplianceScheduling">
                                    <span> <img class="imgDynamic" data-src="../../Images/Audit_Scheduling.png" style="width: 20px;margin-right: 6px;" />Audit Scheduling</span><span class="badge bg-dashboard"></span>
                                </a>

                            </li>
                            <li id="leftAssingmentmenu" class="leftdummy">

                                <a class="" href="/VendorAuditManagement/VendorAudit/AuditAssignment">
                                    <span> <img class="imgDynamic" data-src="../../Images/Audit_Assignment.png" style="width: 20px;margin-right: 6px;" />Audit Assignment</span><span class="badge bg-dashboard"></span>
                                </a>
                            </li>
                            <li id="leftReportsmenu" class="leftdummy">
                                <a class="" href="/VendorAuditManagement/VendorAudit/VendorAuditStatusReport">
                                    <span><i class="icon_toolbox"></i>Report</span><span class="badge bg-dashboard"></span>
                                </a>
                            </li>
                     
                        }
                    </ul>

                    <!-- sidebar menu end-->
                </div>
                <div id="sidebar-small" class="nav-collapse">
                    <!--logo start-->


                    @if (@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role.Contains("FINAN"))
                    {
                        <a class="logo" style="height: 63px;padding: 10px 0 0 6px;;" href="PracManagement/Dashboard/FMDashboard.aspx">
                            <img class="imgDynamic" data-src="../../img/Avantislogosmall.png" />
                        </a>
                    }
                    else if (@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role.Contains("EXCT"))
                    {
                        <a class="logo" style="height: 63px;padding: 10px 0 0 6px;" href="/PracManagement/Dashboard/ExecutiveDashboard.aspx">
                            <img class="imgDynamic" data-src="../../img/Avantislogosmall.png" />
                        </a>
                    }
                    else
                    {
                        <a class="logo" style="height: 63px;padding: 10px 0 0 6px;" href="/PracManagement/Dashboard/PacticeManagementDashboard.aspx">
                            <img class="imgDynamic" data-src="../../img/Avantislogosmall.png" />
                        </a>
                    }

                    <div class="clearfix"></div>
                    <!--logo end-->
                    <!-- sidebar menu start-->
                    <ul class="sidebar-menu">
                        <li class="active">
                            <div style="height: 60px; background: #fff; padding: 4px 2px; border-top: 1px #e1e5e9 solid; border-bottom: 1px #e1e5e9 solid; color: #000; color: #000; ">
                                <a class="" style="background: transparent;" href="../../ProductMapping/ProductMappingStructure.aspx" data-toggle="tooltip" title="Home">
                                    <i class="icon_house" style="color:black;"></i>
                                </a>
                                <span style="display:none;" class="profile-ava">
                                    <img runat="server" id="ProfilePicSide" src="../img/profile_pic.png" alt="" style="height:50px;width:50px;" />
                                </span>
                            </div>
                        </li>

                        <li class="menuactive">                            
                            @if (@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role == "VCCAD")
                            {
                                <a class="" href="/VendorAuditManagement/VendorAudit/ComplianceAssingment">
                                    <span> <img class="imgDynamic" data-src="../../Images/Mapping.png" style="width: 20px;margin-right: 6px;" /></span><span class="badge bg-dashboard"></span>
                                </a>

                                <a class="" href="/VendorAuditManagement/VendorAudit/ComplianceScheduling">
                                    <span> <img class="imgDynamic" data-src="../../Images/Audit_Scheduling.png" style="width: 20px;margin-right: 6px;" /></span><span class="badge bg-dashboard"></span>
                                </a>

                                <a class="" href="/VendorAuditManagement/VendorAudit/AuditAssignment">
                                    <span> <img class="imgDynamic" data-src="../../Images/Audit_Assignment.png" style="width: 20px;margin-right: 6px;" /></span><span class="badge bg-dashboard"></span>
                                </a>
                            }

                            else if (@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role == "VCCON"
                                || @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role == "VCAUD")
                            {
                                <a class="" href="/VendorAuditManagement/VendorAudit/ContractorDashboard">
                                    <i class="icon_desktop"></i> 
                                </a>

                                <a class="" href="/VendorAuditManagement/VendorAudit/ContractorWorkspace">
                                    <span class="icon_briefcase"></span>
                                </a>

                                <a class="" href="/VendorAuditManagement/VendorAudit/ContractorCompliancesdocumentList">
                                    <span class="icon_documents_alt"></span>
                                </a>
                            }
                            else if (@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role == "VCMNG"
                               || @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role == "VCPD"
                               || @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role == "VCPH")
                            {
                                <a class="" href="/VendorAuditManagement/VendorAudit/ManagementDashboard">
                                    <i class="icon_desktop"></i>     
                                </a>
                                
                                <a class="" href="/VendorAuditManagement/VendorAudit/ContractorCompliancesdocumentList">
                                    <span class="icon_documents_alt"></span>
                                </a>
                            }
                            else
                            {

                            }
                        </li>
                    </ul>

                    <!-- sidebar menu end-->
                </div>
            </aside>
            <!--sidebar end-->
            <!--main content start-->
            <section id="main-content">
                <header class="header gray-bg" style="min-height: 63px;">
                    <div class="nav search-row" id="top_menu">
                        <!--  search form start -->
                        <ul class="nav top-menu">
                            <li>
                                <div class="toggle-nav" style="float: right;padding-top:0px !important;">
                                    <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom">
                                        <img class="imgDynamic" data-src="../../img/menu-ico.png" />
                                    </div>
                                </div>
                            </li>
                            <li>

                            </li>
                        </ul>
                        <!--  search form end -->
                    </div>

                    <div class="top-nav notification-row">
                        <!-- notificatoin dropdown start-->
                        <ul class="nav pull-right top-menu" style="margin-top: -14px;">
                            <!-- inbox notificatoin start-->


                            <li id="mail_notificatoin_bar" style="margin-top: 12px;margin-left: 10px;">
                                <a style="cursor:pointer" onclick="openhelp()">
                                    <i class="icon-question-l" data-toggle="tooltip" data-placement="bottom" title="Help Center"></i>

                                </a>
                                <ul class="dropdown-menu extended logout maillistclass" style="top:22px;"></ul>
                            </li>
                            @*<li id="mail_notificatoin_bar" style="margin-left: 0px;">
                                    <a href="../users/Emaillist.aspx">
                                        <i class="icon-envelope-l topmailbox" data-toggle="tooltip" data-placement="bottom" title="Message Center"></i>
                                        <span class="badge bg-important notification" id="mailcount"></span>
                                    </a>
                                    <ul class="dropdown-menu extended logout maillistclass" style="top:22px;"></ul>
                                </li>

                                <!-- inbox notificatoin end -->
                                <!-- alert notification start-->
                                <li id="alert_notificatoin_bar" style="margin-top: 12px;margin-left: 0px;">
                                    <a href="../DailyUpdates/Notification.aspx">
                                        <i class="icon-bell-l" data-toggle="tooltip" data-placement="bottom" title="Notification Center"></i>
                                        <span class="badge bg-important notification" id="Notecount"></span>
                                    </a>
                                </li>*@
                            <!-- alert notification end-->
                            <!-- user login dropdown start-->
                            <li class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <span class="profile-ava">
                                        <img runat="server" id="ProfilePicTop" src="../../img/profile_pic.png" style="height:50px;width:50px;" />
                                    </span>
                                    <span class="username">@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.User</span>
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu extended logout">
                                    <div class="log-arrow-up"></div>
                                    <li class="eborder-top" onclick="return fred(this)" data-ref="/Account/Changepassword.aspx" style="cursor:pointer">
                                        <a>Change Password</a>
                                    </li>
                                    <li onclick="return fred(this)" data-ref="/SecurityQuestion/ResetSecurityQuestions.aspx" style="cursor:pointer">
                                        <a>Change Security Questions</a>
                                    </li>
                                    <li onclick="return fred(this)" data-ref="../../logout.aspx" style="cursor:pointer">
                                        <a id="lbtLogout1">
                                            Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- user login dropdown end -->
                        </ul>
                        <!-- notificatoin dropdown end-->
                    </div>
                </header>
                <div class="row" style="background: #fff; height: 50px;">
                    <section class="wrapper ">
                        <div class="col-lg-5 col-md-5 colpadding0">
                            <h1 id="pagetype" style="margin-top:9px;font-size:24px;"> </h1>
                        </div>
                        <div class="col-lg-7 col-md-7 colpadding0 dashboard-scrum">
                            <div class="col-lg-5 col-md-5 borderright " style="margin-top: 0px;margin-bottom: 5px; text-align: right;    height: 42px; ">

                                <h1 id="clockone" style="width: 58%;/*border: 1px solid #e1e5e9;*/padding: 5px;float: right;margin-top:5px;"> </h1>
                            </div>

                            <div class="col-lg-7 col-md-7 dashboard-weather " style="margin-top: -5px;">
                                <div class="col-lg-6 col-md-6 colpadding0">
                                    <div class="col-lg-4 col-md-4 colpadding0">
                                        <div class="dashboard-weather-icon">
                                            <img class="imgDynamic" data-src="../../img/icon-sunnyday.png" style="" id="whetherpic" />
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-8 colpadding0">
                                        <h4 id="daytype" style="margin: 3px 0 6px;">Sunny Day</h4>
                                        <p>@DateTime.Now.ToString("MMM dd yyyy")</p>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 colpadding0">
                                    <div class="col-lg-4 col-md-4 colpadding0">
                                        <div class="dashboard-weather-icon" id="temp" style="padding-top: 3px;">
                                        </div>
                                    </div>
                                    <div style="display:none;" class="col-lg-8 col-md-8" style="margin-top:-13px;">
                                        <h4 id="dCity"></h4>
                                        <p id="dCountry"></p>
                                    </div>
                                </div>
                                <!--<img src="img/weather-widget.png" style="width:100%" />-->
                            </div>
                        </div>
                    </section>
                </div>
                <div class="clearfix" style="height:11px"></div>
                <section class="wrapper">
                    <div class="row" id="childrow">
                        <div class="dashboard">
                            <!--Performer summary-->
                            @RenderBody()
                            <!--Reviewer summary-->
                        </div>
                    </div>
                </section>

                <!--collapse start-->
                <!--collapse end-->
            </section>
            <div onclick="openemail()" id="emailicon" data-toggle="tooltip" data-placement="top" title="Create Internal Message" style="height: 83px; bottom: 0px; cursor: pointer; line-height: 14px; opacity: 1.5; padding-bottom: 6px; padding-top: 0px; position: fixed; left: 5.5%; margin-right: 68px; text-align: center; width: 80px; z-index: 22; display: none;"><img style="width:80px;height:80px" src="../../images/manager-email.png" /></div>
            <!--main content end-->
            <div id="idemail" style="height: 350px; display: none; background-color: white; border-radius: 3px; bottom: 0px; cursor: pointer; line-height: 14px; opacity: 11.5; padding-bottom: 6px; padding-top: 0px; position: fixed; left: 5.5%; margin-right: 100px; text-align: center; width: 518px; border: 1px solid #eeeeee; z-index: 1000;">
                <div>
                    <table style="width: 100%; text-align: left; height: 100%;">
                        <tr style="height: 50px;">

                            <td onclick="hidemessage()" style="background-color: #ff7473; color: white; padding-left: 20px; font-size: 18px;font-family: 'Roboto',sans-serif;">
                                <div style="float: left">New Message   </div>
                                <div style="float: right">
                                    <button type="button" class="close" style="margin-right: 5px; font-size: 18px; margin-top: -16px;"><b>×</b></button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="margin-left: 20px;border-bottom: 1px solid #eeeeee;">
                                    <asp:TextBox ID="txttomail" Style="border: none; color: #8b8b8b;font-family: 'Roboto',sans-serif;" runat="server" Height="35px" Width="358px" value="To"></asp:TextBox>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="border-bottom: 1px solid #eeeeee; margin-left: 20px;">
                                    <asp:TextBox ID="txtsub" runat="server" Style="border: none; color: #8b8b8b;font-family: 'Roboto',sans-serif;" Height="30px" Width="359px" value="Subject"></asp:TextBox>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>

                                <div style="margin-left: 20px;">
                                    <asp:TextBox ID="txtmsgbody" runat="server" Style="border: none; color: #8b8b8b;font-family: 'Roboto',sans-serif;" Text="Message"
                                                 TextMode="MultiLine" Height="120px" Width="99%"></asp:TextBox>
                                    <div style="margin-left:0px">
                                        <asp:FileUpload ID="FileUpload1" AllowMultiple="true" runat="server"></asp:FileUpload><br />
                                        <div style="display:none;">
                                            <input type="button" value="Upload" id="btnUpload" runat="server" />
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="button" style="width: 100%; border: 0px; height: 50px; background-color: #1fd9e1; color: white; font-size: 22px;
                                         font-family: 'Roboto',sans-serif;" id="btnsendmailNew" value="Send" runat="server" />

                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="mailSuccess" style="margin-bottom: 9px; background-color: #ff7473; height: 38px; border: 3px solid #d6d6d6; bottom: 0px; cursor: pointer; line-height: 14px; opacity: 1.5; padding-bottom: 6px; padding-top: 8px; position: fixed; left: 46%; margin-right: 548px; text-align: center; width: 198px; z-index: 22; display: none; top: 0px"></div>

            @*<div onclick="openticket()" data-toggle="tooltip" data-placement="top" title="Create a Support Ticket" id="ticketicon" style="height: 83px; bottom: 0px; cursor: pointer; line-height: 14px; opacity: 1.5; padding-bottom: 6px; padding-top: 0px; position: fixed; left: 11%; margin-right: 142px; text-align: center; width: 80px; z-index: 22; display: block;">
                    <img style="width:80px;height:80px" class="imgDynamic" data-src="../../images/manager-support.png" />
                </div>*@
            <!--main content end-->
            <div id="idticket" style="height: 277px; display: none; background-color: white; border-radius: 3px; bottom: 0px; cursor: pointer; line-height: 14px; opacity: 11.5; padding-bottom: 6px; padding-top: 0px; position: fixed; left: 6%; margin-right: 100px; text-align: center; width: 518px; border: 1px solid #eeeeee; z-index: 1000;">
                <div>
                    <table style="width: 100%; text-align: left; height: 100%;">
                        <tr style="height: 50px;">

                            <td onclick="hideticket()" style="background-color: #ff7473; color: white; padding-left: 20px; font-size: 18px;font-family: 'Roboto',sans-serif;">
                                <div style="float: left">Support Ticket</div>
                                <div style="float: right">
                                    <button type="button" class="close" style="margin-right: 5px; font-size: 18px; margin-top: -16px;" onclick="TicketClose()"><b>×</b></button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="border-bottom: 1px solid #eeeeee;margin-left: 20px;">
                                    <asp:TextBox ID="ticketsubject" runat="server" Style="border: none; color: #8b8b8b;font-family: 'Roboto',sans-serif;" Height="30px" Width="359px" value="Subject"></asp:TextBox>
                                </div>
                            </td>
                        </tr>
                        <tr>

                            <td>
                                <div style="border-bottom: 1px solid #eeeeee; margin-left: 20px;">
                                    <select id="issues" style="border: 0px solid; width: 90%; height: 25px; color: #8b8b8b; margin-left: -3px;font-family: 'Roboto',sans-serif;">
                                        <option value="0">Select issue</option>
                                        <option value="1">General enquiry</option>
                                        <option value="5">Legal issue</option>
                                        <option value="3">Sales issue</option>
                                        <option value="2">Technical issue</option>
                                    </select>
                                </div>
                            </td>
                        </tr>

                        <tr>

                            <td>
                                <div style=" margin-left 20px;">
                                    <asp:TextBox ID="ticketmessage" runat="server" Style="border: none; color: #8b8b8b;font-family: 'Roboto',sans-serif;" Text="Message" TextMode="MultiLine" Height="100px" Width="99%"></asp:TextBox>
                                </div>
                            </td>
                        </tr>
                        <tr>

                            <td>
                                <input type="button" style="width: 100%; border: 0px; height: 50px; background-color: #1fd9e1; color: white; font-size: 22px;" id="btnsendmail" value="Create Ticket" onclick="ticket();" />

                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
    </div>



    <div class="modal fade" id="docViewer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 95%; height: 500px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="fvideostop()">×</button>
                </div>
                <div class="Help_logo" style="display: none; position: absolute; width: 50%; background-image: url(../../img/avantis-logo-dashboard.png); background-size: 100% 100%; position: absolute; left: 2%; width: 12%; height: 76px; top: 0%;">
                </div>
                <div class="Help_Back" style="display: none; background: #1fd9e1; color: #688a7e; height: 70px; border-radius: 9px; margin-left: 10.1%; width: 90%; margin-top: -3.1%;"></div>
                <div class="modal-body">
                    <iframe src="about:blank" id="dicviewer" width="100%" height="500px" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function openemail() {
            $('#emailicon').hide();
            $('#idemail').show();
        }
        function openticket() {
            $('#ticketicon').hide();
            $('#idticket').show();
        }
        function hideticket() {
            $('#ticketicon').show();
            $('#idticket').hide();
        }
        function hidemessage() {
            $('#emailicon').show();
            $('#idemail').hide();
        }
        $("#txttomail").blur(function () {
            if ($(this).val() == '') {
                $(this).val('To');
            }
        });
        $("#txttomail").focus(function () {
            if ($(this).val() == 'To') {
                $(this).val('');
            }
        });
        $("#txtsub").blur(function () {
            if ($(this).val() == '') {
                $(this).val('Subject');
            }
        });
        $("#txtsub").focus(function () {

            if ($(this).val() == 'Subject') {
                $(this).val('');
            }
        });
        $("#txtmsgbody").blur(function () {

            if ($(this).val() == '') {
                $(this).val('Message');
            }
        });
        $("#txtmsgbody").focus(function () {

            if ($(this).val() == 'Message') {
                $(this).val('');
            }
        });

        $("#ticketmessage").blur(function () {

            if ($(this).val() == '') {
                $(this).val('Message');
            }
        });
        $("#ticketmessage").focus(function () {

            if ($(this).val() == 'Message') {
                $(this).val('');
            }
        });

        $("#ticketsubject").blur(function () {

            if ($(this).val() == '') {
                $(this).val('Subject');
            }
        });
        $("#ticketsubject").focus(function () {

            if ($(this).val() == 'Subject') {
                $(this).val('');
            }
        });
    </script>

    <script>
        function Displays() {
            $('#updateProgress').show();
            setTimeout(function () { $("#updateProgress").hide(); $("#updateProgress").html(); }, 3000);
            return true;
        };
    </script>
    <!-- container section start -->
    <!-- javascripts -->
    <!-- bootstrap -->
    @*<script type="text/javascript" src="https://avacdn.azureedge.net/newjs/jquery-ui-1.9.2.custom.min.js"></script>*@
    <script type="text/javascript" src="https://avacdn.azureedge.net/newjs/jquery.bxslider.js"></script>
    <script type="text/javascript" src="https://avacdn.azureedge.net/newjs/bootstrap.min.js"></script>
    <!-- nice scroll -->
    <script type="text/javascript" src="https://avacdn.azureedge.net/newjs/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="https://avacdn.azureedge.net/newjs/jquery.nicescroll.js"></script>
    <!-- charts scripts -->

    <script type="text/javascript" src="https://avacdn.azureedge.net/newjs/owl.carousel.js"></script>
    <!-- jQuery full calendar -->
    <script type="text/javascript" src="https://avacdn.azureedge.net/newjs/fullcalendar.min.js"></script>
    <!--script for this page only-->
    <script type="text/javascript" src="https://avacdn.azureedge.net/newjs/calendar-custom.js"></script>
    <script type="text/javascript" src="https://avacdn.azureedge.net/newjs/jquery.rateit.min.js"></script>
    <!-- custom select -->
    <script type="text/javascript" src="https://avacdn.azureedge.net/newjs/jquery.customSelect.min.js"></script>
    <!--custome script for all page-->
    <script type="text/javascript" src="https://avacdn.azureedge.net/newjs/scripts2.js"></script>

    <!-- custom script for this page-->


    <script type="text/javascript">
        //carousel
        function ReadQuerySt(e) {
            try {
                for (hu = window.location.search.substring(1), gy = hu.split('&'), i = 0; i < gy.length; i++)
                    if (ft = gy[i].split('='), ft[0].toLowerCase() == e.toLowerCase()) return ft[1];
                return ''
            } catch (t) {
                return ''
            }
        }
        $(document).ready(function () {
            $(".imgDynamic").each(function () {
                $(this).attr('src', $(this).attr('data-src'));
            });

            $("#owl-slider").owlCarousel({
                navigation: true,
                slideSpeed: 300,
                paginationSpeed: 400,
                singleItem: true
            });

            $('.bxslider-map').bxSlider({
                //nextSelector: '#slider-next',
                //prevSelector: '#slider-prev',
                minSlides: 1,
                maxSlides: 1,
                slideWidth: 300,
                slideMargin: 50,
                moveSlides: 1,
                auto: false,
            });
            getdateclock();
        });

        function getdateclock() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            if (m < 10) {
                m = "0" + m;
            }
            if (s < 10) {
                s = "0" + s;
            }

            $("#clockone").html(h + " : " + m);
            setTimeout(function () { getdateclock() }, 500);
        }
        //custom select box
        $(function () {
            $('select.styled').customSelect();
        });


        /*script to showHide Div*/
        function closeDiv(id) {
            if (document.getElementById(id + 'Checkbox') != null && document.getElementById(id + 'Checkbox') != undefined) {
                document.getElementById(id + 'Checkbox').className = 'menucheckbox-notchecked';
                document.getElementById(id).style.display = 'none';
                widgets(id, 'False');
                // do something
            }
        }
        //// validation mail
        function IsValidEmail(email) {
            var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            return expr.test(email);
        };

        function showDiv(id) {

            if (document.getElementById(id + 'Checkbox') != null && document.getElementById(id + 'Checkbox') != undefined) {
                if (document.getElementById(id).style.display != 'none' && document.getElementById(id).style.display != '') {
                    document.getElementById(id + 'Checkbox').className = 'menucheckbox-notchecked';
                    document.getElementById(id).style.display = 'none';
                    widgets(id, 'False');
                }
                else {
                    //if (document.getElementById(id + 'Checkbox').className == 'menucheckbox-checked') {
                    document.getElementById(id).style.display = 'block';
                    document.getElementById(id + 'Checkbox').className = 'menucheckbox-checked';
                    widgets(id, 'True');
                    // }
                }
            }
            $('li.dropdown').addClass('open')
        }
        function closeDiv1(id) {

            if (document.getElementById(id + 'Checkbox') != null && document.getElementById(id + 'Checkbox') != undefined) {
                document.getElementById(id + 'Checkbox').className = 'menucheckbox-notchecked';
                try { document.getElementById(id).style.display = 'none'; } catch (e) { }
                // do something
            }
        }
        function showDiv1(id) {
            if (id != null) {
                if (document.getElementById(id + 'Checkbox') != null && document.getElementById(id + 'Checkbox') != undefined) {

                    //typeof (locationsInternal1) !== 'undefined'
                    if (typeof (document.getElementById(id)) != 'undefined' && document.getElementById(id) != null) {
                        if (document.getElementById(id).style.display != 'none' && document.getElementById(id).style.display != '') {
                            document.getElementById(id + 'Checkbox').className = 'menucheckbox-notchecked';
                            document.getElementById(id).style.display = 'none';
                        } else {
                            //if (document.getElementById(id + 'Checkbox').className == 'menucheckbox-checked') {
                            document.getElementById(id).style.display = 'block';
                            document.getElementById(id + 'Checkbox').className = 'menucheckbox-checked';

                        }
                    }
                }
            }
        }



        function msg() {
            if (validateemail()) {
                var k = 0;
                $.ajax({
                    async: true,
                    type: 'Post',
                    url: '/dailyupdateservice.svc/UserMessaging',
                    data: JSON.stringify({ "recepient": $('#txttomail').val(), "sender": '@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID', "subject": $('#txtsub').val(), "message": $('#txtmsgbody').val() }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    processData: true,
                    success: function (result) {

                        if (result.UserMessagingResult == true) {
                            $("#idemail").hide();
                            $("#emailicon").show();
                            if (result.sendmailresult == true) {
                                $("#mailSuccess").show();
                                $("#mailSuccess").html('Message sent successfully');
                                setTimeout(function () { $("#mailSuccess").hide(); $("#mailSuccess").html(); }, 5000);
                            }
                            else {
                                $("#mailSuccess").show();
                                $("#mailSuccess").html('Message sent fail');
                                setTimeout(function () { $("#mailSuccess").hide(); $("#mailSuccess").html(); }, 5000);
                            }
                            $('#txttomail').val('To');
                            $('#txtmsgbody').val('Message');
                            $('#txtsub').val('Subject');

                        }
                    },
                    error: function (e, t) { }
                });
            }
        }



        $(function () {
            $('#btnsendmailNew').click(function () {
                if (validateemail()) {
                    var fileUpload = $('#FileUpload1').get(0);
                    var files = fileUpload.files;
                    test = new FormData();
                    for (var i = 0; i < files.length; i++) {
                        test.append(files[i].name, files[i]);
                    }
                    test.append('txttomail', $('#txttomail').val());
                    test.append('txtsub', $('#txtsub').val());
                    test.append('txtmsgbody', $('#txtmsgbody').val());
                    test.append('Sender', ('@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID'))
                    $.ajax({
                        url: "/FileUploadHandler.ashx",
                        type: "POST",
                        contentType: false,
                        processData: false,
                        data: test,

                        success: function (result) {

                            $("#idemail").hide();
                            $("#emailicon").show();
                            if (Displays() == true) {
                                if (result == 'True') {
                                    $("#mailSuccess").show();
                                    $("#mailSuccess").html('Message sent successfully');
                                    setTimeout(function () { $("#mailSuccess").hide(); $("#mailSuccess").html(); }, 5000);
                                }
                                else {
                                    //Displays();
                                    $("#mailSuccess").show();
                                    $("#mailSuccess").html('Message sent fail');
                                    setTimeout(function () { $("#mailSuccess").hide(); $("#mailSuccess").html(); }, 5000);
                                }
                            }
                            $('#txttomail').val('To');
                            $('#txtmsgbody').val('Message');
                            $('#txtsub').val('Subject');
                            $('#FileUpload1').val('');
                        },
                        error: function (err) {

                        }
                    });
                }
            });
        })

        function ticket() {
            if (validateticket()) {
                var k = 0;
                $.ajax({
                    async: true,
                    type: 'Post',
                    url: '/dailyupdateservice.svc/ticket',
                    data: JSON.stringify({ "subject": $('#ticketsubject').val(), "message": $('#ticketmessage').val(), "requestor": '@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID', "tickettype": $('#issues').val() }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    processData: true,
                    success: function (result) {
                        if (Displays() == true) {
                            if (result.ticketResult == true) {
                                $("#idticket").hide();
                                $("#ticketicon").show();
                                $("#mailSuccess").show();
                                $("#mailSuccess").html('Ticket raised successfully');
                                setTimeout(function () { $("#mailSuccess").hide(); $("#mailSuccess").html(); }, 5000);
                                $('#ticketsubject').val('Subject');
                                $('#ticketmessage').val('Message');
                                $('#issues').val('0');

                            }
                        }
                    },
                    error: function (e, t) { }
                });
            }
        }
        function fvideostop() {
            $('#dicviewer').attr('src', 'about:blank');
        }
        function openhelp() {
            var url = ("/HelpViewer.aspx?docurl=" + "/HelpCenter/UserManual_PracticeManagementModule.pdf#toolbar=0");
            $('#docViewer').modal('show');
            $('#dicviewer').attr('src',url);
        }
        function openFirsthelp() {

            var url = ("../NewHelp.aspx?id=");

            $('#docViewer').modal('show');

            $('#dicviewer').attr('src', url);
        }

        function openWhatsnew() {
            var url = ("../WhatsNew/management_role.html");
            $('#docViewer').modal('show');
            $('#dicviewer').attr('src', url);
        }

        function getmailscnt() {

            var k = 0;
            $.ajax({
                async: true,
                type: 'GET',
                url: '/dailyupdateservice.svc/Mailscnt?userid=@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID',
                content: 'application/json;charset=utf-8',
                processData: true,
                success: function (result) {

                    $('#mailcount').html(result);
                },
                error: function (e, t) { }
            });
        }
        getmailscnt();
        function getmails() {

            var k = 0;
            $.ajax({
                async: true,
                type: 'GET',
                url: '/dailyupdateservice.svc/Mails?userid=@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID',
                content: 'application/json;charset=utf-8',
                processData: true,
                success: function (result) {

                    var str = '';
                    for (var i = 0; i < result.length; i++) {
                        if (result[i].IsRead == true)
                            str += '<li style="background-color:gray;color:white"><a href="../mailsdetails.aspx?id=' + result[i].Id + '">' + result[i].Subjecttext + '</a></li>';
                        else
                            str += '<li ><a href="../maildetails.aspx?id=' + result[i].Id + '">' + result[i].Subjecttext + '</a></li>';
                    }
                    if (result.length > 0) {
                        str += '<li ><a href="../Emails.aspx">View all</a></li>';
                    }
                    $('.maillistclass').html(str);
                },
                error: function (e, t) { }
            });
        }
        $(".topmailbox").click(function () {
            // getmails();
        });

        function WhetherIinfo(city) {
            var k = 0;
            $.ajax({
                async: true,
                type: 'Get',
                url: '/dailyupdateservice.svc/GetWhetherInfo?city=' + $('#dCity').html(),
                content: 'application/json;charset=utf-8',
                processData: true,
                success: function (result) {

                    $("#temp").html(parseInt(parseInt(parseInt(((result.main.temp - 273) * 1.8) + 32) - 32) * (5 / 9)) + '<span><sup>o</sup>C</span>');
                    if (result.weather[0].main.toLowerCase() == "clear") {
                        $("#daytype").html("Sunny day");
                        $("#whetherpic").attr("src", "../../img/icon-sunnyday.png");
                    } else if (result.weather[0].main.toLowerCase() == "haze" || result.weather[0].main.toLowerCase() == "Mist") {
                        $("#daytype").html("Mostly Cloudy");
                        $("#whetherpic").attr("src", "../../img/cloudy.png");
                    }
                    else if (result.weather[0].main.toLowerCase() == "Sunn") {
                        $("#daytype").html("Mostly Cloudy");
                        $("#whetherpic").attr("src", "../../img/icon-sunnyday.png");
                    }

                },
                error: function (e, t) { }
            })
        }

        var geocoder2;
        if (navigator.geolocation && '@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.CustomerID' != 63) {
            navigator.geolocation.getCurrentPosition(successFunction, errorFunction);
        }
        //Get the latitude and the longitude;
        function successFunction(position) {
            // alert(1);
            var lat = position.coords.latitude;
            var lng = position.coords.longitude;
            var latlng = new google.maps.LatLng(lat, lng);
            geocoder2.geocode({ 'latLng': latlng }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    // console.log(results)
                    if (results[1]) {
                        //formatted address
                        for (var i = 0; i < results[0].address_components.length; i++) {
                            for (var b = 0; b < results[0].address_components[i].types.length; b++) {
                                if (results[0].address_components[i].types[b] == "administrative_area_level_2") {
                                    //this is the object you are looking for
                                    var city = results[0].address_components[i].long_name;
                                    $('#dCity').html(city);

                                    WhetherIinfo();
                                }
                                if (results[0].address_components[i].types[b] == "country") {
                                    var country = results[0].address_components[i].long_name;
                                    $('#dCountry').html(country);
                                }
                            }
                        }

                    } else {

                    }
                } else {

                }
            });

        }
        function errorFunction() { }; geocoder2 = new google.maps.Geocoder();

        // A $( document ).ready() block.
        //$(document).ready(function ()
        //{
        //    debugger;
        //    if ($("#Ishome").val() == "false")
        //    {
        //        debugger;
        //        $("#childrow").addClass("Dashboard-white-widget");
        //        //$("p").addClass("myClass yourClass");
        //        $('.rev_dr').hide();
        //    }
        //});

        function fmenustyle() {
            var vales = $('#CMPMenuBar').find('ul.level1');
            var lienl = $(vales).find('li.has-popup');
            for (var i = 0; i < $(lienl).length; i++) {
                var limenu = $(lienl)[i];

                if (typeof (limenu) != 'undefined') {
                    var ulmenu = $(limenu).find('ul');

                    $(ulmenu).removeClass('level2');
                    $(ulmenu).removeClass('dynamic');
                    $(ulmenu).addClass('gw-');
                    $(ulmenu).removeAttr("style");
                    $(ulmenu).css('display', 'none');
                    $(ulmenu).css('padding-left', '5px');
                    $(ulmenu).addClass('newtestcss');
                    $(limenu).removeClass('has-popup');
                    $(limenu).removeClass('static');
                    $(limenu).css('cursor', 'pointer');
                }

            }
            var hgtsubmenu = $('ul.newtestcss');
            for (var h = 0; h < $(hgtsubmenu).length; h++) {
                var hgtsubmenu1 = $(hgtsubmenu)[h];
                var lisubmenu = $(hgtsubmenu1).find('li').length;

                if (lisubmenu > 16) {

                    $(hgtsubmenu1).css('margin-top', '-300px');
                } else if (lisubmenu > 10) {
                    $(hgtsubmenu1).css('margin-top', '-150px')

                } else if (lisubmenu <= 7) {
                    $(hgtsubmenu1).css('margin-top', '-50px');

                }
            }
        }
        function setactivemenu(id) {
            fmenustyle();
            //auditmenu active to set
            for (var ii = 0; ii < $('.level2').length ; ii++) {
                var inneranchor = $('.level2')[ii];
                if ($(inneranchor).html().toLowerCase() == id.toLowerCase()) {
                    var mainli = $(inneranchor).closest('li');
                    var mainul = $(mainli).closest('ul');
                    $(inneranchor).addClass('highlighted');
                    $(mainli).addClass('active');
                    $(mainul).css('display', 'block');

                    $(mainul).addClass('active');
                    return true;
                }
                $(inneranchor).removeClass('highlighted');
            }
            $('.leftdummy').removeClass("menuactive");
            $('#' + id).addClass("menuactive");
        };
        @*var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {

            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5841474b3d413a0ca09c6a2a/default';
            s1.charset = 'UTF-8';
            //s1.setAttribute('integrity','sha384-bMY4Rj/UcLb+3Iel5kkWqLQFmVoypTjDNMjlGdd5BUfbJbh8Gx5onisTnsG9OgFF');
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();

        window.onload = function () {
            Tawk_API = Tawk_API || {};
            Tawk_API.onLoad = function () {
                //place your code here
            };
        };
        Tawk_API = Tawk_API || {};
        Tawk_API.visitor = {
            name: '@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.User'
        };*@

        $(document).tooltip({ selector: '[data-toggle="tooltip"]' });

        $('.btn-search').on('click', function () {

            $(document).tooltip({ selector: '[data-toggle="tooltip"]' });

        });
        function fhead(val) {
            $('#pagetype').html(val);
        }

        function validateticket() {
            var message = $('#ticketmessage').val();
            var Subject = $('#ticketsubject').val();
            var tickettype = $('#issues').val();
            var emailsvalid = true;
            if (Subject == "" || Subject.toLowerCase() == "subject") {
                $('#ticketsubject').closest('div').css('border-bottom-color', '#FF0000');
                return false;
            }
            else {
                $('#ticketsubject').closest('div').css('border-bottom-color', '#eeeeee');
            }

            if (tickettype == "0") {
                $('#issues').closest('div').css('border-bottom-color', '#FF0000');
                return false;
            }
            else {
                $('#issues').closest('div').css('border-bottom-color', '#eeeeee');
            }

            return true;
        };
        function validateemail() {

            var Email = $('#txttomail').val();
            var Subject = $('#txtsub').val();
            var emailsvalid = true;
            if (Email == "" || Email.toLowerCase() == "to") {
                $('#txttomail').closest('div').css('border-bottom-color', '#FF0000');
                return false;
            }
            else {
                var emailarray = Email.split(',');
                for (var i = 0; i < emailarray.length; i++) {
                    if (!IsValidEmail(emailarray[i])) {
                        emailsvalid = false;
                    }
                }
                if (!emailsvalid) {
                    $('#txttomail').closest('div').css('border-bottom-color', '#FF0000');
                } else {
                    $('#txttomail').closest('div').css('border-bottom-color', '#eeeeee');
                }
                if (Subject == "" || Subject.toLowerCase() == "subject") {
                    $('#txtsub').closest('div').css('border-bottom-color', '#FF0000');
                    return false;
                } else {
                    $('#txtsub').closest('div').css('border-bottom-color', '#eeeeee');
                }

                return true;
            }
        };




        function fred(obj) {
            //
            document.location.href = $(obj).attr('data-ref');

        } $('.btn-minimize').click(function () {
            var s1 = $(this).find('i');
            if ($(this).hasClass('collapsed')) {
                $(s1).removeClass('fa-chevron-down');
                $(s1).addClass('fa-chevron-up');
            } else {
                $(s1).removeClass('fa-chevron-up');
                $(s1).addClass('fa-chevron-down');
            }
        });

        function btnminimize(obj) {
            var s1 = $(obj).find('i');
            if ($(obj).hasClass('collapsed')) {

                $(s1).removeClass('fa-chevron-up');
                $(s1).addClass('fa-chevron-down');
            } else {
                $(s1).removeClass('fa-chevron-down');
                $(s1).addClass('fa-chevron-up');
            }
        }
        function initializeJQueryUI(textBoxID, divID) {
            $("#" + textBoxID).unbind('click');

            $("#" + textBoxID).click(function () {
                $("#" + divID).toggle("blind", null, 500, function () { });
            });
        }
    </script>

    <script type="text/javascript">

        function TicketClose() {
            $('#ticketsubject').val('Subject');
            $('#ticketmessage').val('Message');
            $('#issues').val('0');
        }
    </script>
    <script type="text/javascript">
        $('.close').on('hidden.bs.modal', function () {
            callPlayer('yt-player', 'stopVideo');
        });
    </script>
    <script type="text/javascript">
    
        $("#Documentssubmenu").mouseleave(function () {
            $('#Documentssubmenu').css('display', 'none');
        });

        $("#Documentssubmenu1").mouseleave(function () {
            $('#Documentssubmenu1').css('display', 'none');
        });
        $("#Documentssubmenu2").mouseleave(function () {
            $('#Documentssubmenu2').css('display', 'none');
        });
    </script>
</body>
</html>