﻿<%@ Page Title="Custom Field Master:: Contract" Language="C#" MasterPageFile="~/ContractProduct.Master" AutoEventWireup="true" CodeBehind="ContCustomFieldMasters.aspx.cs" Inherits="com.VirtuosoITech.ComplianceManagement.Portal.ContractProduct.Masters.ContCustomFieldMasters" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <script type="text/javascript">
        function OpenCustFieldPopup(lblValue, TypeId, CustomFieldID) {
            $('#AddCustomFieldPopUp').modal('show');
            $('#ContentPlaceHolder1_IframeCustomFields').attr('b')
            $('#ContentPlaceHolder1_IframeCustomFields').attr('src', "/ContractProduct/Masters/AddCustomField.aspx?lblValue=" + lblValue + "&TypeID=" + TypeId + "&CustomFieldId=" + CustomFieldID);
        }

        function CloseCustomFieldPopup() {
            $('#AddCustomFieldPopUp').modal('hide');
            document.getElementById('<%= lnkBtn_RebindGrid.ClientID %>').click();
        }

        function RefreshParent() {
            document.getElementById('<%= lnkBtn_RebindGrid.ClientID %>').click();
            //window.location.href = window.location.href;
        }
    </script>
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 10);
        window.onunload = function () { null };

        $(document).ready(function () {
            fhead('Masters/ Custom Field');
        });
    </script>

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="row Dashboard-white-widget">
        <div class="dashboard">
            <div class="row">
                <asp:ValidationSummary ID="vsCustomFieldPage" runat="server" Display="none" class="alert alert-block alert-danger fade in"
                    ValidationGroup="CustomFieldPageValidationGroup" />
                <asp:CustomValidator ID="cvCustomFieldPage" runat="server" EnableClientScript="False"
                    ValidationGroup="CustomFieldPageValidationGroup" Display="none" class="alert alert-block alert-danger fade in" />
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3 plr0">
                        <asp:DropDownListChosen runat="server" ID="ddlType" DataPlaceHolder="Select Contract Type" AllowSingleDeselect="false" OnSelectedIndexChanged="ddlType_SelectedIndexChanged"
                            class="form-control" Width="100%" Height="30px" AutoPostBack="true">
                        </asp:DropDownListChosen>
                    </div>

                    <div class="col-md-6">
                        <asp:TextBox runat="server" ID="tbxFilter" CssClass="form-control" MaxLength="50" Width="70%" OnTextChanged="tbxFilter_TextChanged" PlaceHolder="Type to Search" AutoPostBack="true" AutoComplete="off" />
                    </div>

                    <div class="col-md-1">
                        <asp:LinkButton ID="lnkBtn_RebindGrid" OnClick="lnkBtn_RebindGrid_Click" Style="display: none;" runat="server"></asp:LinkButton>
                    </div>

                    <%--<div class="col-md-1 text-right">
                        <asp:LinkButton Text="Apply" CssClass="btn btn-primary" runat="server" ID="lnkBtnApplyFilter" Width="100%" OnClick="lnkBtnApplyFilter_Click"
                            data-toggle="tooltip" data-placement="bottom" ToolTip="Apply Filter" />
                    </div>--%>

                    <div class="col-md-2 colpadding0 text-right">
                        <asp:LinkButton runat="server" ID="btnAddCustomFields" OnClick="btnAddCustomFields_Click"
                            data-toggle="tooltip" data-placement="bottom" ToolTip="Add New Custom Field" CssClass="btn btn-primary">
                                <span class="AddNewspan1"><i class='fa fa-plus'></i></span>&nbsp;New</asp:LinkButton>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <asp:GridView runat="server" ID="grdContCustomField" AutoGenerateColumns="false" ShowHeaderWhenEmpty="true" AllowSorting="true" GridLines="none" Width="100%"
                        PageSize="10" AllowPaging="true" AutoPostBack="true" CssClass="table" DataKeyNames="ID"
                        OnRowCreated="grdContCustomField_RowCreated" OnSorting="grdContCustomField_Sorting" OnRowDataBound="grdContCustomField_RowDataBound" OnRowCommand="grdContCustomField_RowCommand">
                        <Columns>
                            <asp:TemplateField ItemStyle-HorizontalAlign="Left" HeaderText="Sr.No." ItemStyle-Width="5%">
                                <ItemTemplate>
                                    <%#Container.DataItemIndex+1 %>
                                    <%--<asp:Label ID="lblRowID" runat="server" Text='<%# Eval("RowID") %>'></asp:Label>--%>
                                </ItemTemplate>
                            </asp:TemplateField>

                            <asp:BoundField DataField="TypeName" HeaderText="Contract Type" SortExpression="TypeName" ItemStyle-Width="30%" />

                            <asp:BoundField DataField="Label" HeaderText="Field" SortExpression="Label" ItemStyle-Width="30%" />

                            <asp:TemplateField HeaderText="Action" ItemStyle-HorizontalAlign="Justify" ItemStyle-Width="10%" HeaderStyle-CssClass="text-right" ItemStyle-CssClass="text-right">
                                <ItemTemplate>
                                    <asp:LinkButton ID="lnkEditContractDocType" runat="server" CommandName="EDIT_ContCustomField" ToolTip="Edit Custom Field" data-toggle="tooltip"
                                        CommandArgument='<%#Eval("Label") +","+ Eval("ContractTypeID")+","+Eval("ID") %>'>                                            
                                        <img src='<%# ResolveUrl("/Images/edit_icon_new.png")%>' alt="Edit" />
                                    </asp:LinkButton>
                                    <asp:LinkButton ID="lnkDeleteContractDocType" runat="server" Visible="false" CommandName="DELETE_ContCustomField" ToolTip="Delete Custom Field" data-toggle="tooltip"
                                        CommandArgument='<%# Eval("ID")+","+ Eval("ContractTypeID")%>' OnClientClick="return confirm('Are you certain you want to delete this Custom Field?');">
                                        <img src='<%# ResolveUrl("/Images/delete_icon_new.png")%>' alt="Delete" />
                                    </asp:LinkButton>
                                </ItemTemplate>
                            </asp:TemplateField>
                        </Columns>
                        <RowStyle CssClass="clsROWgrid" />
                        <HeaderStyle CssClass="clsheadergrid" />
                        <PagerTemplate>
                            <table style="display: none">
                                <tr>
                                    <td>
                                        <asp:PlaceHolder ID="ph" runat="server"></asp:PlaceHolder>
                                    </td>
                                </tr>
                            </table>
                        </PagerTemplate>
                        <EmptyDataTemplate>
                            No Record Found
                        </EmptyDataTemplate>
                    </asp:GridView>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-10 colpadding0">
                        <div runat="server" id="DivRecordsScrum" style="float: left; margin-top: 5px; color: #999">
                            <p style="padding-right: 0px !Important;">
                                <asp:Label ID="lblStartRecord" Font-Bold="true" runat="server" Text=""></asp:Label>- 
                                <asp:Label ID="lblEndRecord" Font-Bold="true" runat="server" Text=""></asp:Label>of 
                                <asp:Label ID="lblTotalRecord" Font-Bold="true" runat="server" Text=""></asp:Label>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-1 colpadding0">
                        <asp:DropDownList runat="server" ID="ddlPageSize" class="form-control" Style="width: 100%; float: right; margin-right: 6%;"
                            AutoPostBack="true" OnSelectedIndexChanged="ddlPageSize_SelectedIndexChanged">
                            <asp:ListItem Text="5" />
                            <asp:ListItem Text="10" Selected="True" />
                            <asp:ListItem Text="20" />
                            <asp:ListItem Text="50" />
                        </asp:DropDownList>
                    </div>

                    <div class="col-md-1 colpadding0" style="padding-left: 0px;">
                        <asp:DropDownListChosen runat="server" ID="DropDownListPageNo" AutoPostBack="true" DataPlaceHolder="No" AllowSingleDeselect="false"
                            OnSelectedIndexChanged="DropDownListPageNo_SelectedIndexChanged" class="form-control" Width="100%" Height="30px">
                        </asp:DropDownListChosen>
                    </div>
                    <asp:HiddenField ID="TotalRows" runat="server" Value="0" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" style="margin-top: 1%;">
                    <div class="col-md-6 colpadding0">
                        <div class="col-md-2 colpadding0">
                            <asp:LinkButton Text="Previous" CssClass="btn btn-primary" ToolTip="Go to Previous Master (Document Type)" data-toggle="tooltip" OnClick="lnkPreviousSwitch_Click" Width="100%" runat="server" ID="LnkbtnPrevious" />
                        </div>
                        <div class="col-md-10 colpadding0">
                        </div>
                    </div>
                    <div class="col-md-6 colpadding0">
                        <div class="col-md-10 colpadding0">
                        </div>
                        <div class="col-md-2 colpadding0">
                            <asp:LinkButton Text="Next" CssClass="btn btn-primary" runat="server" ToolTip="Go to Next Master (Contract Template)" data-toggle="tooltip" OnClick="lnkNextSwitch_Click" ID="LnkbtnNext" Style="float: right; width: 100%;" />
                        </div>
                    </div>
                </div>
                </div>
             </div>
            </div>
      

    <div class="modal fade" id="AddCustomFieldPopUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 35%;">
            <div class="modal-content">
                <div class="modal-header">
                    <label style="width: 10px; display: block; float: left; font-size: 13px; color: red;">&nbsp;</label>
                    <label id="lblName" runat="server" class="modal-header-custom">
                        </label>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="RefreshParent()">&times;</button>
                </div>
                <div class="modal-body" style="width: 100%;">
                    <iframe src="about:blank" id="IframeCustomFields" runat="server" frameborder="0" width="100%" height="300px"></iframe>
                </div>
            </div>
        </div>
    </div>
</asp:Content>
