<head><title>

    </title>
    <script src="/cdn-cgi/apps/head/wJ-d6Wf0vtDL3SAEw42RUStKs6k.js"></script><script src="/cdn-cgi/apps/body/9ez4O41ihtsBKiMc6IPNmeloV48.js"></script><style>
        /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
        .row.content {height: 600px;
                      /*margin:125px;*/
        }
        
        /* Set gray background color and 100% height */
        .sidenav {
          background-color:#F5F2F4;
          height: 1000px;
    
          
        }
         .MainContainer {
         
          
          border:groove;
          border-color:#f1f3f4;
          
        }
           .img1{
            border:ridge;
            border-color:lightgrey;
        }
       
       
        
        /* On small screens, set height to 'auto' for sidenav and grid */
        @media screen and (max-width: 767px) {
          .sidenav {
            *height: auto;
            *padding: 15px;
          
          }
          .row.content {height: auto;} 
        }
      </style>
    <style>
           
     .container {
      /*padding: 16px;*/
      background-color: white;
      margin:10px;
      /*margin-right:50px;
      margin-top:50px;*/
      height:1000px;
      width:1000px;
    
      
    }
     body {
      font-family: Arial, Helvetica, sans-serif;
      background-color:#1fd9e1;
    }
    
    * {
      box-sizing: border-box;
    }
    
        </style>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <style>
    
        .panel-group .panel {
            border-radius: 5px;
            border-color: #EEEEEE;
            padding:0;
        }
    
        .panel-default > .panel-heading {
            color:black;
            background-color: white;
            border-color: #EEEEEE;
        }
    
        .panel-title {
            font-size: 14px;
        }
    
        .panel-title > a {
            display: block;
            padding: 15px;
            text-decoration: none;
        }
    
        .short-full {
            float: right;
            color: black;
        }
    
        .panel-default > .panel-heading + .panel-collapse > .panel-body {
            border: solid 1px #EEEEEE;
            /*background-color: #B7FFB7;*/
            
        }
    
    </style>
    <script src="https://analytics.avantis.co.in/piwik.js"></script></head>
    <body>
    &nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div class="container">
    <div class="row content">
    <div class="col-sm-3 sidenav">
    <ul class="nav nav-pills nav-stacked">
        <li style="font-size:18px"><a style="color:#37A8F1;"><b>Compliance New Releases</b></a></li>
        <li style="font-size:14px"><a href="management_role.html" style="color:#333"><i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Management Role </b></a></li>
        <li style="font-size:14px"><a href="department_role.html" style="color:#333;"><i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Department Head Role</b></a></li>
        <li style="font-size:14px"><a href="performer_role.html" style="color:#333;"><i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Performer Role</b></a></li>
        <li style="font-size:14px"><a href="reviewer_role.html" style="color:#333"><i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Reviewer Role</b></a></li>
        <li style="font-size:14px"><a href="approver_role.html" style="color:#333"> <i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Approver Role</b> </a></li>
        <li style="font-size:14px"><a href="event_owner.html" style="color:#333"> <i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Event Owner Role</b> </a></li>
        <li style="font-size:14px"><a href="admin_role.html" style="color:#333"> <i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Company Admin Role</b> </a></li>
    
    </ul>
    <br>
    </div>
    
    
    <div class="col-sm-9 MainContainer">
      <br>
      <h3 style="color:#37A8F1;"><b>Admin Role :</b></h3><br>
     
      <h4 style="background-color:#F5F2F4;padding-left:5px"><b>Ip Address :</b></h4>

      <p style="font-size:16px;text-align:justify;margin-left:2%">Create IP address.</p>
      <p style="font-size:16px;text-align:justify;margin-left:2%;"><b>How to add IP address</b></p>
  <p style="font-size:16px;text-align:justify;margin-left:2%;"><b>1.</b> Go to Manage users and select IP Address.</p>
  <p style="font-size:16px;text-align:justify;margin-left:2%;"><b>1.</b> Add IP address - </p>
  <p style="font-size:16px;text-align:justify;margin-left:5%;"><b>a.</b> Click on Add new, in appeared window, </p>
  <p style="font-size:16px;text-align:justify;margin-left:5%;"><b>b.</b> Enter Location name, IP address and remark  </p>
  <img class="img1" style="width: 450px; margin-left: 20px;  height: 400px" src="../WhatsNew/images/24.png"><br><br><br>

  <p style="font-size:16px;text-align:justify;margin-left:2%;"><b>2.</b> Bulk upload  </p>
  <p style="font-size:16px;text-align:justify;margin-left:5%;"><b>a.</b> Click on Sample format link to download sample sheet </p>
  <p style="font-size:16px;text-align:justify;margin-left:5%;"><b>b.</b> Enter details and Upload the sheet  </p>
  <img class="img1" style="width: 600px; margin-left: 20px;  height: 100px" src="../WhatsNew/images/25.png"><br><br><br>
  <p style="font-size:16px;text-align:justify;margin-left:2%;">How to delete multiple IP addresses ? </p>
  <p style="font-size:16px;text-align:justify;margin-left:2%;"><b>1.</b> In below grid select checkbox and click on Delete button .</p>
  <img class="img1" style="width: 600px; margin-left: 20px;  height: 130px" src="../WhatsNew/images/26.png"><br><br><br>

  <h4 style="background-color:#F5F2F4;padding-left:5px"><b>Security Groups :</b></h4>
  <p style="font-size:16px;text-align:justify;margin-left:2%">Capability to add multiple IP address in one security group</p>
       
<p style="font-size:16px;text-align:justify;margin-left:2%">How to Add security group?</p>
<p style="font-size:16px;text-align:justify;margin-left:4%;"><b>1.</b> Go to Manage users and select Security group </p>
<p style="font-size:16px;text-align:justify;margin-left:4%;"><b>2.</b> In appeared window </p>
<p style="font-size:16px;text-align:justify;margin-left:4%;"><b>3.</b> Enter security group name</p>
<p style="font-size:16px;text-align:justify;margin-left:4%;"><b>4.</b> Enter number to set control of remember device days and password expiry days</p>
<p style="font-size:16px;text-align:justify;margin-left:4%;"><b>5.</b> Select location from dropdown   </p>
<p style="font-size:16px;text-align:justify;margin-left:4%;"><b>6.</b> Click on checkbox to enable the group for, </p>
<p style="font-size:16px;text-align:justify;margin-left:5%;"><b>a.</b> Allow Mobile access</p>
<p style="font-size:16px;text-align:justify;margin-left:5%;"><b>b.</b> OTP mandatory</p>
<img class="img1" style="width: 450px; margin-left: 20px;  height: 450px" src="../WhatsNew/images/27.png"><br><br><br>

<p style="font-size:16px;text-align:justify;margin-left:2%">How to delete security group?</p>
<p style="font-size:16px;text-align:justify;margin-left:5%;"><b>1.</b> Go to Manage users and select Security group.</p>
<p style="font-size:16px;text-align:justify;margin-left:5%;"><b>2.</b> Edit- In below grid click on Edit icon, in appeared window edit details. </p>
<p style="font-size:16px;text-align:justify;margin-left:5%;"><b>3.</b> Delete- In below grid click on Cross icon, in appeared pop-up click on Okay button.</p>
    
<img class="img1" style="width: 600px; margin-left: 20px;  height: 150px" src="../WhatsNew/images/28.png"><br><br><br>
<h4 style="background-color:#F5F2F4;padding-left:5px"><b>Assign Security Groups To Users :</b></h4>
<p style="font-size:16px;text-align:justify;margin-left:2%;"><b>1.</b>Go to Manage Users and select Users </p>
<p style="font-size:16px;text-align:justify;margin-left:5%;"><b>a.</b> Click on Add New and in appeared window</p>
<p style="font-size:16px;text-align:justify;margin-left:5%;"><b>b.</b> Select checkbox ‘Is Desktop access restricted?</p>
<p style="font-size:16px;text-align:justify;margin-left:5%;"><b>c.</b> A dropdown will appear below, select one security group</p>

<img class="img1" style="width: 450px; margin-left: 20px;  height: 450px" src="../WhatsNew/images/29.png"><br><br><br>
</div>
</div>
    </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script>
    
        function toggleIcon(e) {
            $(e.target)
                .prev('.panel-heading')
                .find(".short-full")
                .toggleClass('glyphicon-plus glyphicon-minus');
        }
        $('.panel-group').on('hidden.bs.collapse', toggleIcon);
        $('.panel-group').on('shown.bs.collapse', toggleIcon);
    </script>
    
    
    </body>