<head><title>

</title>
<script src="/cdn-cgi/apps/head/wJ-d6Wf0vtDL3SAEw42RUStKs6k.js"></script><script src="/cdn-cgi/apps/body/9ez4O41ihtsBKiMc6IPNmeloV48.js"></script><style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 600px;
                  /*margin:125px;*/
    }
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color:#F5F2F4;
      height: 1000px;

      
    }
     .MainContainer {
     
      
      border:groove;
      border-color:#f1f3f4;
      
    }
       .img1{
        border:ridge;
        border-color:lightgrey;
    }
   
   
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        *height: auto;
        *padding: 15px;
      
      }
      .row.content {height: auto;} 
    }
  </style>
<style>
       
 .container {
  /*padding: 16px;*/
  background-color: white;
  margin:10px;
  /*margin-right:50px;
  margin-top:50px;*/
  height:1000px;
  width:1000px;

  
}
 body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:#1fd9e1;
}

* {
  box-sizing: border-box;
}

    </style>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<style>

    .panel-group .panel {
        border-radius: 5px;
        border-color: #EEEEEE;
        padding:0;
    }

    .panel-default > .panel-heading {
        color:black;
        background-color: white;
        border-color: #EEEEEE;
    }

    .panel-title {
        font-size: 14px;
    }

    .panel-title > a {
        display: block;
        padding: 15px;
        text-decoration: none;
    }

    .short-full {
        float: right;
        color: black;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border: solid 1px #EEEEEE;
        /*background-color: #B7FFB7;*/
        
    }

</style>
<script src="https://analytics.avantis.co.in/piwik.js"></script></head>
<body>
&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;
<div class="container">
<div class="row content">
<div class="col-sm-3 sidenav">
<ul class="nav nav-pills nav-stacked">
    <li style="font-size:18px"><a style="color:#37A8F1;"><b>Compliance New Releases</b></a></li>
    <li style="font-size:14px"><a href="management_role.html" style="color:#333"><i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Management Role </b></a></li>
    <li style="font-size:14px"><a href="department_role.html" style="color:#333;"><i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Department Head Role</b></a></li>
    <li style="font-size:14px"><a href="performer_role.html" style="color:#333;"><i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Performer Role</b></a></li>
    <li style="font-size:14px"><a href="reviewer_role.html" style="color:#333"><i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Reviewer Role</b></a></li>
    <li style="font-size:14px"><a href="approver_role.html" style="color:#333"> <i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Approver Role</b> </a></li>
    <li style="font-size:14px"><a href="event_owner.html" style="color:#333"> <i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Event Owner Role</b> </a></li>
    <li style="font-size:14px"><a href="admin_role.html" style="color:#333"> <i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Company Admin Role</b> </a></li>

</ul>
<br>
</div>
<div class="col-sm-9 MainContainer">
  <br>
  <h3 style="color:#37A8F1;"><b>Management Role :</b></h3><br>
  <h4 style="background-color:#F5F2F4;padding-left:5px"><b>My Dashboard  Summary of Overdue Compliances :</b></h4>

  <p style="font-size:16px;text-align:justify;margin-left:2%">Upgraded the grid with new interface.</p>
  <br>
  <img class="img1" style="width: 600px; margin-left: 20px;  height: 120px" src="../WhatsNew/images/1.png"><br>
  <br><br>

  <h4 style="background-color:#F5F2F4;padding-left:5px"><b>Compliance Summary Window:</b></h4>

  <p style="font-size:16px;text-align:justify;margin-left:2%"><b>1.</b> Renamed the Historical Document tab with ‘All Documents’ .</p>
  <p style="font-size:16px;text-align:justify;margin-left:2%"><b>2.</b> Rearranged the sequence of documents, now Current document will be first gird and historical document will be second grid.</p>

  <img class="img1" style="width: 600px; margin-left: 20px;  height: 300px" src="../WhatsNew/images/2.png"><br><br><br>
  
  <h4 style="background-color:#F5F2F4;padding-left:5px"><b>Graphs And Charts :</b></h4>

  <p style="font-size:16px;text-align:justify;margin-left:2%"><b>Updated Filter :</b>In compliance list window, added new filter ‘User’ and upgraded the filter sequence.</p>
  <img class="img1" style="width: 600px; margin-left: 20px;height: 300px" src="../WhatsNew/images/Updated filter.png"><br><br><br>

  <h4 style="background-color:#F5F2F4;padding-left:5px"><b>Standard Report Added Sheet In Detailed Summary Report :</b></h4>
  <p style="font-size:16px;text-align:justify;margin-left:2%">Detailed Summary report under My Reports section has been upgraded to include Reviewer wise Status. This allows a Management user to view the completion status of Compliances by Reviewer.</p>
  <p style="font-size:16px;text-align:justify;margin-left:2%"><b>How to access details of this sheet?</b></p>
  <p style="font-size:16px;text-align:justify;margin-left:5%"><b>1.</b> Go to My Report and Select Standard Reports .</p>
  <p style="font-size:16px;text-align:justify;margin-left:5%"><b>2.</b> Download Detailed Summary Report .</p>
  <p style="font-size:16px;text-align:justify;margin-left:5%"><b>3.</b> Navigate to Reviewer wise Status worksheet to view details .</p>
  <br>
  <h4 style="background-color:#F5F2F4;padding-left:5px"><b>My Dashboard Added Department Summary Graph :</b></h4>
  <p style="font-size:16px;text-align:justify;margin-left:2%">My Dashboard has been upgraded to include ‘Department Summary’ bar graph. This graph will allow user to analyze completion status by department. The user can drill down any of the bars for the next level of detail.</p>
  <img class="img1" style="width: 600px; margin-left: 20px;  height: 300px" src="../WhatsNew/images/3.png"><br><br><br>

  <h4 style="background-color:#F5F2F4;padding-left:5px"><b>Standard Report Internal Compliance :</b></h4>
  <p style="font-size:16px;text-align:justify;margin-left:2%;">Introduced weekly report for Internal compliance.</p>
  <p style="font-size:16px;text-align:justify;margin-left:2%;"><b>How to use this feature?</b></p>
  <p style="font-size:16px;text-align:justify;margin-left:5%;"><b>1.</b> Go to My Report and select Standard report .</p>
  <p style="font-size:16px;text-align:justify;margin-left:5%;"><b>2.</b> Select option ‘Internal’ from the right corner .</p>
  <p style="font-size:16px;text-align:justify;margin-left:5%;"><b>3.</b> Download pdf/excel reports  .</p>
  <img class="img1" style="width: 600px; margin-left: 20px;  height: 330px" src="../WhatsNew/images/4.png"><br><br><br>

  <h4 style="background-color:#F5F2F4;padding-left:5px"><b>Switch Role To View/Download Detailed Reports :</b></h4>
  <p style="font-size:16px;text-align:justify;margin-left:2%;">Capability to switch between roles when user is both Management and Performer/Reviewer. </p>
  <p style="font-size:16px;text-align:justify;margin-left:2%;"><b>How to use this feature?</b></p>
  <p style="font-size:16px;text-align:justify;margin-left:5%;"><b>1.</b> Go to My Report and select Detailed Report .</p>
  <p style="font-size:16px;text-align:justify;margin-left:5%;"><b>2.</b> To switch roles, Select role from Dropdown. The below table will feature selected role Detailed report.</p>
  <img class="img1" style="width:600px; margin-left: 20px;  height: 330px" src="../WhatsNew/images/5.png"><br><br><br>


</div>

</div>
</div>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script>

    function toggleIcon(e) {
        $(e.target)
            .prev('.panel-heading')
            .find(".short-full")
            .toggleClass('glyphicon-plus glyphicon-minus');
    }
    $('.panel-group').on('hidden.bs.collapse', toggleIcon);
    $('.panel-group').on('shown.bs.collapse', toggleIcon);
</script>


</body>