﻿<%@ Page Title="" Language="C#" MasterPageFile="~/LitigationMaster.Master" AutoEventWireup="true" CodeBehind="AdvocateBillApprover.aspx.cs" Inherits="com.VirtuosoITech.ComplianceManagement.Portal.Litigation.aspxPages.AdvocateBillApprover" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">

    <link href="../../NewCSS/kendo.common.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.rtl.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.silver.min.css" rel="stylesheet" />
    <link type="text/css" href="../../NewCSS/kendo.mobile.all.min.css" rel="stylesheet" />

    <script type="text/javascript" src="../../Newjs/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../../Newjs/kendo.all.min.js"></script>
    <script type="text/javascript" src="../../Newjs/jszip.min.js"></script>

    <style type="text/css">
        input[type=checkbox], input[type=radio] {
            margin: 4px 4px 0;
            line-height: normal;
        }

        .div.k-grid-footer, div.k-grid-header {
            border-top-width: 1px;
            margin-right: 0px;
        }

        .k-grid-footer-wrap, .k-grid-header-wrap {
            position: relative;
            width: 100%;
            overflow: hidden;
            border-style: solid;
            border-width: 0 1px 0 0;
            zoom: 1;
        }

        #grid .k-grid-content {
            min-height: 180px !important;
            overflow:hidden;
        }

        .k-grid-content {
            min-height: 380px !important;
            overflow:hidden;
        }

        html {
            color: #666666;
            font-size: 15px;
            font-weight: normal;
            font-family: 'Roboto',sans-serif;
        }

        .k-checkbox-label, .k-radio-label {
            display: inline;
        }

        .myKendoCustomClass {
            z-index: 999 !important;
        }

        .k-header .k-grid-toolbar {
            background: white;
            float: left;
            width: 100%;
        }

        .k-grid td {
            line-height: 2.0em;
            border-bottom-width: 1px;
            background-color: white;
            border-width: 0 1px 1px 0px;
        }

        .k-i-more-vertical:before {
            content: "\e006";
        }

        .k-grid td.k-state-selected:hover, .k-grid tr.k-state-selected:hover {
            background-color: #1fd9e1;
            background-image: none;
            background-color: white;
        }

        k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list > .k-state-highlight, .k-list > .k-state-selected, .k-marquee-color, .k-panel > .k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-tool.k-state-selected {
            color: #000000;
            border-color: #1fd9e1;
            background-color: white;
        }

        #grid .k-grid-toolbar {
            background: white;
        }

        .k-pager-wrap > .k-link > .k-icon {
            margin-top: 6px;
            color: inherit;
        }

        .toolbar {
            float: left;
        }

        html .k-grid tr:hover {
            background: white;
        }

        html .k-grid tr.k-alt:hover {
            background: white;
        }

        .k-grid tbody .k-button {
            min-width: 30px;
            min-height: 30px;
            background: white;
            border: none;
        }

        .k-button-icontext .k-icon, .k-button-icontext .k-image, .k-button-icontext .k-sprite {
            margin-right: 0px;
            margin-right: 0px;
            margin-left: 0px;
            margin-left: 0px;
        }

        .k-auto-scrollable {
            overflow: hidden;
        }

        .k-grid-header {
            padding-right: 0px !important;
            margin-right: 2px;
        }

        .k-filter-menu .k-button {
            width: 27%;
        }

        .k-label input[type="checkbox"] {
            margin: 0px 5px 0 !important;
        }

        .k-filter-row th, .k-grid-header th.k-header {
            font-size: 15px;
            background: #f8f8f8;
            font-family: 'Roboto',sans-serif;
            color: #2b2b2b;
            font-weight: 400;
        }

        .k-primary {
            border-color: #1fd9e1;
            background-color: #1fd9e1;
        }

        .k-pager-wrap {
            background-color: white;
            color: #2b2b2b;
        }

        td.k-command-cell {
            border-width: 0 0px 1px 0px;
            text-align: center;
        }

        .k-grid-pager {
            margin-top: -1px;
        }

        span.k-icon.k-i-calendar {
            margin-top: 6px;
        }

        .col-md-2 {
            width: 20%;
        }

        .k-i-arrow-60-down, .k-i-arrow-60-left, .k-i-arrow-60-right, .k-i-arrow-60-up {
            cursor: pointer;
            margin-top: 6px;
        }

        .k-filter-row th, .k-grid-header th.k-header {
            border-width: 0px 0px 1px 0px;
            background: #E9EAEA;
            font-weight: bold;
            margin-right: 18px;
            font-family: 'Roboto',sans-serif;
            font-size: 15px;
            color: rgba(0, 0, 0, 0.5);
            height: 20px;
            vertical-align: middle;
        }

        .k-dropdown-wrap.k-state-default {
            background-color: white;
        }

        .k-popup.k-calendar-container, .k-popup.k-list-container {
            background-color: white;
        }

        .k-grid-header th.k-state-focused, .k-list > .k-state-focused, .k-listview > .k-state-focused, .k-state-focused, td.k-state-focused {
            -webkit-box-shadow: inset 0 0 3px 1px white;
            box-shadow: inset 0 0 3px 1px white;
        }

        label.k-label {
            font-family: roboto,sans-serif !important;
            color: #515967;
            /* font-stretch: 100%; */
            font-style: normal;
            font-weight: 400;
            min-width: 362px;
            white-space: pre-wrap;
        }

        .k-multicheck-wrap .k-item {
            line-height: 1.2em;
            font-size: 14px;
            margin-bottom: 5px;
        }

        label {
            display: flex;
            margin-bottom: 0px;
        }

        .k-state-default > .k-select {
            border-color: #ceced2;
            margin-top: 0px;
        }

        .k-grid-norecords {
            width: 100%;
            height: 100%;
            text-align: center;
            margin-top: 2%;
        }

        .k-grouping-header {
            font-style: italic;
            margin-top: 1px;
            background-color: white;
        }

        .k-grid-toolbar {
            background: white;
            border: none;
        }

        .k-grid table {
            width: 100.5%;
        }

        .k-active-filter, .k-state-active, .k-state-active:hover {
            background-color: #E9EAEA;
            border-color: #a6a6ad;
            color: #535b6a;
        }

        .k-animation-container {
            width: 1165px;
            height: 206px;
            box-sizing: content-box;
            overflow: visible;
            top: 167px;
            z-index: 10002;
            left: 243px;
            display: block;
            position: absolute;
        }
      
    </style>
    
    <title></title>

    <script type="text/javascript">

        $(document).ready(function () {
            setactivemenu('lefAdvocatemenu');
            fhead('Advocate Bill');
            BindGrid();
        });
        function ClosePopNoticeDetialPage() {
            BindGrid();
        }
        var record = 0;
        var total = 0;


        function exportReportAdvanced() {
            $("#grid").getKendoGrid().saveAsExcel();
            return false;
        }

        function BindGrid() {

            var gridexist = $('#grid').data("kendoGrid");
            if (gridexist != undefined || gridexist != null)
                $('#grid').empty();

            var Email = "<%=EmailID%>".trim();
         
            var grid = $("#grid").kendoGrid({
                dataSource: {
                    transport:
                    {
                        read: {
                            url: '<% =Path%>/Litigation/AdvocateBill?CustId=<% =CustId%>&EmailID=' + encodeURIComponent(Email) +'&UserId=<%=UserId%>',
                            dataType: "json",
                            beforeSend: function (request) {
                                request.setRequestHeader('Authorization', '<% =Authorization%>');
                            },
                        }
                    },
                    schema: {
                        data: function (response) {
                            return response;
                        },
                        total: function (response) {
                            return response.length;
                        }

                    },
                    model: {
                        fields: {
                            InvoiceDate: { type: "date" },
                        }
                    },
                    pageSize: 10
                },
                excel: {
                    allPages: true,
                },
                sortable: true,
                groupable: false,
                filterable: true,
                columnMenu: true,
                selectable: true,
                pageable: {
                    numeric: true,
                    pageSizes: ['All', 5, 10, 20],
                    pageSize: 10,
                    buttonCount: 3,
                },
                dataBinding: function () {
                    record = 0;
                    var total = this.dataSource._pristineTotal;
                    if (this.dataSource.pageSize() == undefined) {
                        this.dataSource.pageSize(total);
                        record = (this.dataSource.page() - 1) * this.dataSource.pageSize();
                    }
                    else {
                        record = (this.dataSource.page() - 1) * this.dataSource.pageSize();
                    }
                },
                reorderable: true,
                resizable: true,
                multi: true,
                selectable: true,
                detailInit: detailInit,
                dataBound: OnGridDataBoundAdvanced,
                columns: [
                    {
                        title: "Sr. No.",
                        template: "#= ++record #",
                        width: "7%"
                    },
                    {
                        field: "CaseNo", title: 'Case No.',
                        width: "12%;",
                        attributes: {
                            style: 'white-space: nowrap;'
                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },

                    {
                        field: "Title", title: 'Case Title',
                        width: "14%;",
                        attributes: {
                            style: 'white-space: nowrap;'
                        },
                        filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }, autoWidth: true,
                        }

                    },
                    {
                        field: "InvoiceAmount", title: 'Invoice Amount',
                        width: "12%;",
                        attributes: {
                            style: 'white-space: nowrap;'
                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        field: "Approver1Email", title: 'Approver 1',
                        width: "15%",
                        attributes: {
                            style: 'white-space: nowrap;'
                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        field: "Approver2Email", title: 'Approver 2',
                        width: "12%",
                        attributes: {
                            style: 'white-space: nowrap;'
                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        field: "Approver3Email", title: 'Approver 3',
                        width: "14%",
                        attributes: {
                            style: 'white-space: nowrap;'
                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        field: "InvoiceNo", title: 'Invoice No.',
                        width: "12%;",
                        hidden:true,
                        attributes: {
                            style: 'white-space: nowrap;'
                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        field: "Status", title: 'Status',
                        width: "10%;",
                        attributes: {
                            style: 'white-space: nowrap;'
                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        field: "CreatedBy", title: 'Created By',
                        hidden:true,
                        width: "12%;",
                        attributes: {
                            style: 'white-space: nowrap;'
                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },

                    {
                        field: "Currency", title: 'Currency',
                        hidden: true,
                        width: "30%;",
                        attributes: {
                            style: 'white-space: nowrap;'
                        },
                        filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }, autoWidth: true,
                        }

                    },
                    {
                        field: "InvoiceDate", title: 'Invoice Date',
                        type: "date",
                        hidden: true,
                        format: "{0:dd-MMM-yyyy}",
                        //template: "#= kendo.toString(kendo.parseDate(ScheduledOn, 'yyyy-MM-dd'), 'dd-MMM-yyyy') #",
                        filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    type: "date",
                                    format: "{0:dd-MMM-yyyy}",
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }, width: "13%"
                    },
                    {
                        field: "HearingRef", title: 'Hearing',
                        hidden: true,
                        width: "10%;",
                        attributes: {
                            style: 'white-space: nowrap;'
                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        field: "Remark", title: 'Remark',
                        hidden: true,
                        width: "20%;",
                        attributes: {
                            style: 'white-space: nowrap;'
                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        field: "LawFirmName", title: 'Law firm',
                        width: "15%;",
                        hidden:true,
                        attributes: {
                            style: 'white-space: nowrap;'
                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        field: "NoticeCaseDesc", title: 'Case Description',
                        hidden: true,
                        width: "20%;",
                        attributes: {
                            style: 'white-space: nowrap;'
                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        field: "BranchName", title: 'Location',
                        hidden: true,
                        width: "20%;",
                        attributes: {
                            style: 'white-space: nowrap;'
                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        field: "Department", title: 'Department',
                        hidden: true,
                        width: "20%;",
                        attributes: {
                            style: 'white-space: nowrap;'
                        }, filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        field: "UpdatedOn", title: 'Updated On',
                        hidden: true,
                        type: "date",
                        format: "{0:dd-MMM-yyyy}",
                        filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    type: "date",
                                    format: "{0:dd-MMM-yyyy}",
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }, width: "10%",
                    },
                    {
                        command: [
                            { name: "edit", text: "", iconClass: "k-icon k-i-edit", className: "ob-edit" },
                            { name: "view", text: "", iconClass: "k-icon k-i-eye", className: "ob-view" },
                            { name: "pdf", text: "", iconClass: "k-icon k-i-pdf", className: "ob-pdf" },

                        ], title: "Action", lock: true, width: "9%", headerAttributes: {
                            style: "text-align: center;"
                        }
                    }

                ]
            });

            function OnGridDataBoundAdvanced(e) {
            var grid = $("#grid").data("kendoGrid");
                var gridData = grid.dataSource.view();
                for (var i = 0; i < gridData.length; i++) {
           
                    var currentUid = gridData[i].uid;
                    var currentRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                    var editButton = $(currentRow).find(".ob-edit");
                    var pdfViewButton = $(currentRow).find(".ob-pdf");

                    if (gridData[i].Status == "Approved") {
                        pdfViewButton.show();
                    } else
                        pdfViewButton.hide();

                    if ("<%=ApproverType%>" == "Approver 1") {
                        if (gridData[i].Status == "Open" || gridData[i].Status =="Reassigned") {
                            editButton.show();
                        }
                        else {
                            editButton.hide();
                        }
                    }
                    else if ("<%=ApproverType%>" == "Approver 2") {
                        if (gridData[i].Status == "Approved by Approver 1") {
                            editButton.show();
                        }
                        else {
                            editButton.hide();
                        }
                    }
                    else if ("<%=ApproverType%>" == "Approver 3")
                    {
                        if (gridData[i].Status == "Approved by Approver 1 and Approver 2") {
                            editButton.show();
                        }
                        else {
                            editButton.hide();
                        }
                    } else {
                        var editButton = $(currentRow).find(".ob-edit");
                        editButton.hide();
                    }
                }

            }

            $(document).on("click", "#grid tbody tr .ob-edit", function (e) {
                var item = $("#grid").data("kendoGrid").dataItem($(this).closest("tr"));
                $('#divShowDialog').modal('show');
                $('#showdetails').attr('width', '100%');
                $('#showdetails').attr('height', '550px');
                $('.modal-dialog').css('width', '98%');
                if (item != '') {
                    $('#showdetails').attr('src', "../aspxPages/ApproveAdvocateBillStatus.aspx?NoticeCaseInstanceID=" + item.NoticeCaseInstanceID + '&AdvocateBillId=' + item.AdvocateBillId + '&Email=<%=EmailID%>&InvoiceAmount=' + item.InvoiceAmount + '&InvoiceNo=' + item.InvoiceNo);
                }
                return true;
            });

            $(document).on("click", "#grid tbody tr .ob-view", function (e) {
                var item = $("#grid").data("kendoGrid").dataItem($(this).closest("tr"));
                $('#divShowDialog').modal('show');
                $('#showdetails').attr('width', '100%');
                $('#showdetails').attr('height', '550px');
                $('.modal-dialog').css('width', '98%');
                if (item != '') {
                    $('#showdetails').attr('src', "../aspxPages/ApproveAdvocateBillStatus.aspx?NoticeCaseInstanceID=" + item.NoticeCaseInstanceID + '&AdvocateBillId=' + item.AdvocateBillId + '&Email=<%=EmailID%>&InvoiceAmount=' + item.InvoiceAmount + '&IViewState=1&InvoiceNo=' + item.InvoiceNo);
                }
                return true;
            });

            $(document).on("click", "#grid tbody tr .ob-pdf", function (e) {
                var item = $("#grid").data("kendoGrid").dataItem($(this).closest("tr"));
                $.ajax({
                    type: "GET",
                    url: "<% =Path%>/LitigationExportReport/AdvocateBillReport",
                    data: {
                        CustomerID: <%=CustId%>,
                        AdvcocateBillID: item.AdvocateBillId

                    },
                    success: function (response) {
                        if (response != "Error" && response != "No Record Found" && response != "") {

                            $('#divViewDocument').modal('show');
                            $('.modal-dialog').css('width', '98%');
                            $('#OverViews').attr('src', '../../docviewer.aspx?docurlAdvocateBillPDF=' + response);
                            e.preventDefault();
                        }
                        else {
                            alert("No Record Found");
                        }
                    }
                });
                e.preventDefault();
                return true;
            });


            $("#grid").kendoTooltip({
                filter: ".k-grid-edit",
                width: "50px",
                content: function (e) {
                    return "Edit ";
                }
            });

            $("#grid").kendoTooltip({
                filter: ".k-grid-view",
                width: "50px",
                content: function (e) {
                    return "View ";
                }
            });

            $("#grid").kendoTooltip({
                filter: ".k-grid-pdf",
                width: "70px",
                content: function (e) {
                    return "View and Download Advocate Bill PDF";
                }
            });

            $("#grid").kendoTooltip({
                filter: "td",
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    if (content != "") {
                        return '<div style="width: ' + content.length * .6 + 'em; max-width: 20em;white-space: pre-wrap;">' + content + '</div>';
                    }
                    else
                        e.preventDefault();
                }
            }).data("kendoTooltip");

            $("#grid").kendoTooltip({
                filter: "th",
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    if (content != "") {
                        return '<div style="width: ' + content.length * .6 + 'em; max-width: 20em;white-space: pre-wrap;">' + content + '</div>';
                    }
                    else
                        e.preventDefault();
                }
            }).data("kendoTooltip");

        }

        function detailInit(e) {
            $("<div/>").appendTo(e.detailCell).kendoGrid({
                dataSource: {
                    transport:
                    {
                        read: {
                            url: '<% =Path%>/Litigation/AdvocateBillAuditLog?CaseInstanceID=' + e.data.NoticeCaseInstanceID + '&InvoiceNo=' + e.data.InvoiceNo,
                            dataType: "json",
                        }
                    },
                    model: {
                        fields: {
                            CreatedOn: { type: "date" },
                        }
                    },
                },
                sortable: true,
                groupable: false,
                filterable: true,
                columnMenu: true,
                noRecords: true,
                messages: {
                    noRecords: "No records found"
                },
                reorderable: true,
                resizable: true,
                dataBound: function (e) {
                    for (var i = 0; i < this.columns.length; i++) {
                        this.autoWidth;
                    }
                },
                pageable: {
                    numeric: true,
                    pageSizes: ['All', 5, 10, 20],
                    pageSize: 5,
                    buttonCount: 3,
                },
                columns: [
                    { field: "ApprovedOrRejectedBy", title: 'Approver', width: "25%", attributes: { style: 'white-space: nowrap;' }, filterable: { multi: true, extra: false, search: true } },
                    { field: "Status", title: 'Status', attributes: { style: 'white-space: nowrap;' }, width: "20%", filterable: { multi: true, extra: false, search: true } },
                    { field: "Remark", title: 'Remarks', attributes: { style: 'white-space: nowrap;' }, width: "38%", filterable: { multi: true, extra: false, search: true } },
                    {
                        field: "CreatedOn", title: 'Updated On',
                        type: "date",
                        format: "{0:dd-MMM-yyyy hh:mm tt}",
                        filterable: {
                            multi: true,
                            extra: false,
                            search: true,
                            operators: {
                                string: {
                                    type: "date",
                                    format: "{0:dd-MMM-yyyy}",
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }, width: "17%"
                    },
                ]
            });

            if ($("#grid").data("kendoTooltip")) {
                $("#grid").data("kendoTooltip").destroy();
            }
     
            e.detailCell.kendoTooltip({
                filter: "td",
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    if (content != "") {
                        return '<div style="width: ' + content.length * .6 + 'em; max-width: 20em;white-space: pre-wrap;">' + content + '</div>';
                    }
                    else
                        e.preventDefault();
                }
            }).data("kendoTooltip");
        }

        function exportReportAdvanced(e) {

            var ReportName = "";
            ReportName = "Advocate Bill Report";
            var FileName = "AdvocateBillReport";
         
            var todayDate = moment().format('DD-MMM-YYYY');
       
            var grid = $("#grid").getKendoGrid();

            var rows = [
                {
                    cells: [
                        { value: "Customer Name:", bold: true },
                        { value: '<% =CustomerName%>' }
                    ]
                },
                {
                    cells: [
                        { value: "Report Name:", bold: true },
                        { value: ReportName }
                    ]
                },
                {
                    cells: [
                        { value: "Report Generated On:", bold: true },
                        { value: todayDate }
                    ]
                },
                {
                    cells: [
                        { value: "" }
                    ]
                },
                {
                    cells: [
                        { value: "Sr.No.", bold: true },
                        { value: "Case No", bold: true },
                        { value: "Case Title", bold: true },
                        { value: "Case Description", bold: true },
                        { value: "Location", bold: true },
                        { value: "Hearing", bold: true },
                        { value: "Invoice No", bold: true },
                        { value: "Invoice Date ", bold: true },
                        { value: "Invoice Amount", bold: true },
                        { value: "Approver 1", bold: true },
                        { value: "Approver 2", bold: true },
                        { value: "Approver 3", bold: true },
                        { value: "Department", bold: true },
                        { value: "Law Firm", bold: true },
                        { value: "Remark", bold: true },
                        { value: "Status", bold: true },
                        { value: "Currency", bold: true },
                        { value: "Updated On", bold: true },
                    ]
                }
            ];

            var trs = grid.dataSource;
            var filteredDataSource = new kendo.data.DataSource({
                data: trs.data(),
                filter: trs.filter()
            });

            filteredDataSource.read();
            var data = filteredDataSource.view();
            for (var i = 0; i < data.length; i++) {
                var dataItem = data[i];
                var rowHeightTitle = 0;
                var rowHeightDesc = 0;
                if (dataItem.Title != null && dataItem.Title != "") {
                    rowHeightTitle = dataItem.Title.length > 27 ? Math.ceil(dataItem.Title.length / 27) * 20 : 20;
                }
                if (dataItem.NoticeCaseDesc != null && dataItem.NoticeCaseDesc != "") {
                    rowHeightDesc = dataItem.NoticeCaseDesc.length > 27 ? Math.ceil(dataItem.NoticeCaseDesc.length / 27) * 20 : 20;
                }
                var rowHeight = 20;
                if (rowHeightTitle > rowHeightDesc) {
                    rowHeight = rowHeightTitle;
                }
                else {
                    rowHeight = rowHeightDesc;
                }
                rows.push({
                    cells: [ // dataItem."Whatever Your Attributes Are"
                        { value: '' },
                        { value: dataItem.CaseNo },
                        { value: dataItem.Title },
                        { value: dataItem.NoticeCaseDesc },
                        { value: dataItem.BranchName },
                        { value: dataItem.HearingRef },
                        { value: dataItem.InvoiceNo },
                        { value: dataItem.InvoiceDate, format: "dd-MMM-yyyy" },
                        { value: dataItem.InvoiceAmount },
                        { value: dataItem.Approver1Email },
                        { value: dataItem.Approver2Email },
                        { value: dataItem.Approver3Email },
                        { value: dataItem.Department },
                        { value: dataItem.LawFirmName },
                        { value: dataItem.Remark },
                        { value: dataItem.Status },
                        { value: dataItem.Currency },
                        { value: dataItem.UpdatedOn, format: "dd-MMM-yyyy" },
                    ],
                    height: rowHeight
                });

            }
            for (var i = 4; i < rows.length; i++) {
                for (var j = 0; j < 18; j++) {
                    rows[i].cells[j].borderBottom = "#000000";
                    rows[i].cells[j].borderLeft = "#000000";
                    rows[i].cells[j].borderRight = "#000000";
                    rows[i].cells[j].borderTop = "#000000";
                    rows[i].cells[j].hAlign = "left";
                    rows[i].cells[j].vAlign = "top";
                    rows[i].cells[j].wrap = true;
                    if (i != 4) {
                        rows[i].cells[0].value = i - 4;
                    }
                    if (i == 4) {
                        rows[4].cells[j].background = "#A9A9A9";
                    }
                }
            }

            excelExport(rows, ReportName);

            function excelExport(rows, ReportName) {
                var workbook = new kendo.ooxml.Workbook({
                    sheets: [
                        {
                            columns: [
                                { autoWidth: true },
                                { autoWidth: true },
                                { width: 350 },
                                { width: 450 },
                                { width: 250 },
                                { width: 250 },
                                { width: 150 },
                                { width: 150 },
                                { width: 150 },
                                { width: 150 },
                                { width: 150 },
                                { width: 200 },
                                { width: 200 },
                                { width: 200 },
                                { width: 200 },
                                { width: 200 },
                                { width: 250 },
                                { width: 150 },
                                { width: 150 },
                                { width: 150 },
                                { width: 100 },

                            ],
                            title: FileName,
                            rows: rows
                        },
                    ]
                });

                var nameOfPage = FileName;
                //var nameOfPage = "Test-1"; // insert here however you are getting name of screen
                kendo.saveAs({ dataURI: workbook.toDataURL(), fileName: nameOfPage + " .xlsx" });

            }

            e.preventDefault();

        }

        $("#exportAdvanced").kendoTooltip({
            filter: ".k-grid-edit3",
            content: function (e) {
                return "Export to Excel";
            }
        });

        function ClearAllFilterMain(e) {
            $("#grid").data("kendoGrid").dataSource.filter({});
            e.preventDefault();
        }

    </script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div id="example">

        <div style="margin: 0.5% 0 0.5%;">
            <button id="exportAdvanced" onclick="exportReportAdvanced(event)" style="height: 30px;margin-right: 0.8%;margin-left: 84.6%;"><span class="k-icon k-i-excel k-grid-edit3"></span>Export</button>
                    <button id="ClearfilterMain" style="height: 30px; margin-right: 1.7%;" onclick="ClearAllFilterMain(event)"><span class="k-icon k-i-filter-clear"></span>Clear</button>
    
        </div>
        <div id="grid" style="width: 97%;margin: 10px;"></div>

        <div class="modal fade" id="divShowDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #f7f7f7; height: 30px;">
                            <label style="width: 10px; display: block; float: left; font-size: 13px; color: red;">&nbsp;</label>
                            <label style="width: 210px; display: block; float: left; font-size: 20px; color: #1fd9e1;">
                                Advocate Bill Approval</label>
                            <button id="btnAddEditcase1" type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="ClosePopNoticeDetialPage();">&times;</button>
                        </div>

                        <div class="modal-body" style="background-color: #f7f7f7;">
                            <iframe id="showdetails" src="about:blank" width="95%" height="80%" frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
         </div>

        <div class="modal fade" id="divViewDocument" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
        <div class="modal-dialog" style="width: 70%;">
            <div class="modal-content">
                <div class="modal-header" style="border: none;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body" style="height: 570px;">
                    <div style="width: 100%;">
                        <div class="col-md-12 colpadding0">
                            <asp:Label runat="server" ID="Label4" Style="color: red;"></asp:Label>
                            <fieldset style="height: 550px; width: 100%;">
                                <iframe src="about:blank" id="OverViews" width="100%" height="100%" frameborder="0"></iframe>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</asp:Content>