﻿@using Kendo.Mvc.UI;
@model int

<script>
    function ddlNewUser_Changed() {
        //Update Performer & Reviewer in JSON
        var ddlNewUser = $("#ddlNewUser").data("kendoDropDownList");
        var newUserID = ddlNewUser.value();
        var newUser = ddlNewUser.text();
        if (newUserID > 0) {

        }
        else {
            newUserID = 0;
            newUser = "";
        }

        var grid = $('#gridComplianceReAssignment').data().kendoGrid;
        if (grid != undefined) {
            $.each(grid.dataSource.data(), function () {


                this['User'].UserID = newUserID;
                this['User'].FullName = newUser;

                this.dirty = true;
            });
            grid.refresh();
        }
    }

    function clearComFilter() {
        var ddlEntity = $("#ddlEntity").data("kendoMultiSelect");

        if (ddlEntity != null && ddlEntity != undefined) {
            ddlEntity.value([]);
        }

        var RoleId = $("#RoleId").data("kendoDropDownList");

        if (RoleId != null && RoleId != undefined) {
            RoleId.value("0");
        }

        var ddlMappingType = $("#ddlMappingType").data("kendoDropDownList");

        if (ddlMappingType != null && ddlMappingType != undefined) {
            ddlMappingType.value("0");
        }

        filterChange();
    }

    function filterChange() {
        var filter = getFilters();
        grid = $("#gridComplianceReAssignment").data("kendoGrid");

        if (filter.filters.length > 0) {
            grid.dataSource.filter(filter);

            $("#divClearComFilter").removeClass("hidden");
        }
        else {
            grid.dataSource.filter([]);
            $("#divClearComFilter").addClass("hidden");
        }
    }
    
    function getFilters() {
        debugger;
        var filter = { logic: "and", filters: [] };

        var ddlRoleId = $("#RoleId").data("kendoDropDownList");
        var roleID = ddlRoleId.value();

        var ddlMappingType = $("#ddlMappingType").data("kendoDropDownList");
        var mappingType = ddlMappingType.value();

        if (roleID > 0) {
            filter.filters.push({ field: "RoleID", operator: "eq", value: parseInt(roleID) });
        }

        if (mappingType > 0) {

            if (mappingType == 1) {
                //var filterMapping = { logic: "or", filters: [] };
                //filterMapping.filters.push({ field: "MappingType", operator: "eq", value: "M" });
                //filterMapping.filters.push({ field: "MappingType", operator: "eq", value: "A" });
                //filter.filters.push(filterMapping);
                filter.filters.push({ field: "MappingType", operator: "eq", value: "M" });
            } else if (mappingType == 2) {
                filter.filters.push({ field: "MappingType", operator: "eq", value: "S" });
            }
            else if (mappingType == 3) {
                filter.filters.push({ field: "MappingType", operator: "eq", value: "D" });
            }
            else if (mappingType == 4) {
                filter.filters.push({ field: "MappingType", operator: "eq", value: "A" });
            }

        }

        var ddlEntityId = $("#ddlEntity").data("kendoMultiSelect");
        var selectedValues = ddlEntityId.value();

        var filterEntity = { logic: 'or', filters: [] };
        if (selectedValues.length > 0) {
            for (var i = 0; i < selectedValues.length; i++) {
                filterEntity.filters.push({ field: "EntityId", operator: "eq", value: parseInt(selectedValues[i]) });
            }
            filter.filters.push(filterEntity);
        }

        return filter;
    }

    function Multiselect_Open(e) {
        $(this.element).parent().addClass('opened');
        Globals.MultiSelectIsOpening = true;
        setTimeout(function () {
            Globals.MultiSelectIsOpening = false;
        }, 500);
    }

    function Multiselect_Close(e) {
        $(this.element).parent().removeClass('opened');
    }

    function adjustDropDownWidth(e) {
        var listContainer = e.sender.list.closest(".k-list-container");
        listContainer.width(350);
    }
</script>

<style>
    .show-all-text-button {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #008bcf;
    border: none;
    background-color: white;
}
</style>

<script>
    $(document).ready(function () {
        
    });

    var checkInputs = function (elements) {
        elements.each(function () {
            var element = $(this);
            var input = element.children("input");

            input.prop("checked", element.hasClass("k-state-selected"));

        });
    };

    function ddlEntityChanged(e) {
        debugger;
        var listContainer = e.sender.list.closest(".k-list-container");

        var items = e.sender.element.closest("li");
        checkInputs(items);
    }
</script>

<div class="row">

    <div id="divgridComplianceReAssignMessage">
    </div>

    <div class="row colpadding0">
        <div class="col-md-12 colpadding0">

            <div class="col-md-1 colpadding0">
                <label class="control-label">Role</label>
                @(Html.Kendo().DropDownList()
                                                .Name("RoleId")
                                                .BindTo(new SelectList(new List<object> {
                                                new {id=0,text="All"},
                                                new {id=3,text="Performer"},
                                                new {id=4,text="Reviewer"},
                                                }, "id", "text"))
                                                .Events(e => e.Change("filterChange"))
                                                .HtmlAttributes(new { style = "width: 91%;" })
                )
            </div>

            <div class="col-md-3 colpadding0">
                <label class="control-label">Company</label>
                @(Html.Kendo().MultiSelect()
                .Name("ddlEntity")
                .AutoWidth(true)
                .DataTextField("Name")
                .DataValueField("Id")
                .Placeholder("Company-All")
                .ClearButton(false)
                //.ItemTemplate("<input type='checkbox'/>  #:data.Name# ")
                .TagMode(TagMode.Single)
                //.Events(e => e.Change("ddlEntityChanged"))
                .Events(e => e.Change("filterChange"))
                //.Events(e => e.DataBound("adjustDropDownWidth"))
                //.Events(e => e.Open("Multiselect_Open"))
                //.Events(e => e.Close("Multiselect_Close"))
                .HtmlAttributes(new { style = "width: 97%;" }))
            </div>

            <div class="col-md-2 colpadding0">
                <label class="control-label">Type</label>
                @(Html.Kendo().DropDownList()
                                                .Name("ddlMappingType")
                                                .BindTo(new SelectList(new List<object> {
                                                new {id=0,text="All"},
                                                new {id=1,text="Meeting"},
                                                new {id=4,text="Agenda"},
                                                new {id=2,text="Statutory"},
                                                new {id=3,text="Director"}
                                                }, "id", "text"))
                                                .Events(e => e.Change("filterChange"))
                                                .HtmlAttributes(new { style = "width: 95%;" })
                )
            </div>

            <div class="col-md-3 colpadding0 hidden">

                <span style="color:red">*</span><label class="control-label" style="color:black">Entity</label>
                @(Html.Kendo()
                        .DropDownList()
                        .Name("ReAssignmentEntityID")
                        .DataValueField("Id")
                        .DataTextField("EntityName")
                        .OptionLabel("Select")
                        .Filter(FilterType.Contains)
                        //.Events(e => e.Change("ddlReAssignmentEntityID_Changed"))
                        .AutoBind(false)
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Url("/api/EntityMasterAPI/GetDropDownEntityForMeeting").Type(HttpVerbs.Get);
                            })
                            .ServerFiltering(false);
                        })
                        .HtmlAttributes(new { style = "width: 95%;" })
                )
            </div>

            <div class="col-md-3 colpadding0">
                <span style="color:red">*</span><label class="control-label">New User</label>
                @(Html.Kendo()
                                .DropDownList()
                                .Name("ddlNewUser")
                                .DataValueField("UserID")
                                .DataTextField("FullName")
                                .OptionLabel("Select")
                                .Filter(FilterType.Contains)
                                .Events(e => e.Change("ddlNewUser_Changed"))
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Url("/api/UserMasterAPI/GetUsersDropdown").Type(HttpVerbs.Get);
                                    })
                                    .ServerFiltering(false);
                                })
                                .HtmlAttributes(new { style = "width: 95%;" }))
            </div>

            <div id="divClearComFilter" class="col-md-2 hidden">
                <button id="btnClearComFilter" class="show-all-text-button" onclick="clearComFilter()" style="margin-top:20px;">
                    <img src="~/Areas/BM_Management/img/clear-all.svg"> Clear All
                </button>
            </div>

        </div>
    </div>

    <div class="row colpadding0 mt30">
        <div class="col-md-12 colpadding0">

            @*<div style="max-height:420px;overflow-y:auto;">*@
              <div>
                    <div id="gridComplianceReAssignment"></div>
                </div>
            <div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;margin-top:10px;">
                <button id="btnSaveReAssignment" type="button" onclick="btnSaveReAssignment_Click()" style="margin-bottom: 10px;" class="k-primary k-button k-grid-update k-button-icontext hidden">Save</button>
                <button id="btnCloseReAssignment" type="button" onclick="btnCloseReAssignment_Click()" style="margin-bottom: 10px;" class="k-primary k-button k-grid-update k-button-icontext">Close</button>
            </div>

        </div>
    </div>

    <script>
        $(document).ready(function () {
            LoadAssignedComplainceDetails();
        });

        function LoadAssignedComplainceDetails() {
            $('#btnSaveReAssignment').addClass("hidden");
            kendo.ui.progress($("#gridComplianceReAssignment"), true);
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetAssignedCompliancesDetailsForUserDeactivation", "ComplianceAssign")",
                data: "{UserID:'@Model'"+ "}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {

                kendo.ui.progress($("#gridComplianceReAssignment"), false);

                fillGridComplianceReAssignment(response.AssignedCompliances);

                if (response.AssignedCompliances.length > 0) {
                    $('#btnSaveReAssignment').removeClass("hidden");
                } else {
                    $('#btnSaveReAssignment').addClass("hidden");
                    $("#gridComplianceReAssignment").data('kendoGrid').dataSource.data([]);
                }
            },
            failure: function (response) {
                kendo.ui.progress($("#gridComplianceReAssignment"), false);
            },
            error: function (response) {
                kendo.ui.progress($("#gridComplianceReAssignment"), false);
            }
        });
        }

        function fillGridComplianceReAssignment(d) {

            //Update Performer & Reviewer in JSON
            var ddlNewUser = $("#ddlNewUser").data("kendoDropDownList");
            var newUserID = ddlNewUser.value();
            var newUser = ddlNewUser.text();
            if (newUserID > 0) {

            }
            else {
                newUserID = 0;
                newUser = "";
            }

            var lookup = {};
            var lookupData = {};
            var result = { items: [] };

            var lookupEntity = {};
            var lstEntities = [];

            for (var i = 0; i < d.length; i++) {
                //d[i].IsComplianceSelect = true;

                d[i].User.UserID = newUserID;
                d[i].User.FullName = newUser;

                debugger;
                var EntityId = d[i].EntityId;
                if (!(EntityId in lookupEntity) && EntityId > 0) {
                    lookupEntity[EntityId] = 1;
                    lstEntities.push({ "Id": EntityId, "Name": d[i].CompanyName });
                }
            }
            //End

            //Bind Entity
            var dsEntity = new kendo.data.DataSource({
                data: lstEntities,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Name: { editable: false },
                        },
                        hasChildren: false
                    }
                },
                sort: {
                    field: "Name",
                    dir: "asc"
                }
            });

            var ddlEntity = $("#ddlEntity").data("kendoMultiSelect");
            ddlEntity.setDataSource(dsEntity);
            //

            var ds = new kendo.data.DataSource({
                data: d,
                schema: {
                    model: {
                        id: "ComplianceAssignmentId",
                        fields: {
                            ComplianceAssignmentId: { editable: false },
                            Description: { editable: false },
                            UserRole: { editable: false }
                        }
                    }
                },
                sort: {
                    field: "CompanyName",
                    dir: "asc"
                },
                pageSize: 10
            });

            var grid = $("#gridComplianceReAssignment").kendoGrid({
                //toolbar: kendo.template($("#myTemplate").html()),
                pageable: {
                    alwaysVisible: true,
                    pageSizes: [50, 100, 200]
                },
                filterable: true,
                sortable: true,
                columns: [
                    {
                        field: "ComplianceAssignmentId", title: " ", template: "<input type='checkbox' #= IsComplianceSelect ? checked='checked':'' # class='chkbx' />", width: "5%",
                        headerTemplate: "<input type='checkbox' id='header_chbReAssignment' class='header-checkbox'>",
                        sortable: false, filterable: false
                    },
                    { field: "ComplianceId", title: "ID", width: "10%", sortable: true, filterable: { extra: false, multi: true, search: true, } },
                    { field: "CustName", title: "Customer", width: "20%", sortable: true, filterable: { extra: false, multi: true, search: true, } },
                    { field: "CompanyName", title: "Company Name", width: "20%", sortable: true, filterable: { extra: false, multi: true, search: true, } },
                    { field: "Description", title: "Compliance", width: "45%", sortable: false, filterable: false },
                    { field: "UserRole", title: "Role", width: "10%", sortable: false, filterable: false },
                    { field: "User", title: "New User", editor: categoryDropDownEditor, template: "#=User.FullName#", width: "15%", sortable: false, filterable: false },
                ],
                editable: true,
                dataSource: ds,
                height: 350,
//                htmlAttributes: { style :"width:99%; height: 250px;" }
            });

            $('#gridComplianceReAssignment').on('click', '.chkbx', function () {
                var checked = $(this).is(':checked');
                var grid = $('#gridComplianceReAssignment').data().kendoGrid;
                var dataItem = grid.dataItem($(this).closest('tr'));

                if (dataItem != undefined) {
                    dataItem.set('IsComplianceSelect', checked);
                }

                if (checked == false) {
                    $('#header_chbReAssignment').prop('checked', false);
                }
            });

            $('#header_chbReAssignment').change(function () {
                checkAllReAssignment(this);
            })
        }

        function checkAllReAssignment(ele) {
            var state = $(ele).is(':checked');
            var grid = $('#gridComplianceReAssignment').data().kendoGrid;

            //$.each(grid.dataSource.data(), function () {
            //    if (this['IsComplianceSelect'] != state)
            //        this.dirty = true;
            //    this['IsComplianceSelect'] = state;
            //});

            if (state == false) {
                $.each(grid.dataSource.data(), function () {
                    if (this['IsComplianceSelect'] != state)
                        this.dirty = true;
                    this['IsComplianceSelect'] = state;
                });
            } else {

                //var gridAllData = grid.dataSource.data();
                //var filters = grid.dataSource.filter();
                //var query = new kendo.data.Query(gridAllData);
                //var gridData = query.filter(filters).data;

                var gridData = grid.dataSource.view();

                $.each(gridData, function () {
                    if (this['IsComplianceSelect'] != state)
                        this.dirty = true;
                    this['IsComplianceSelect'] = state;
                });

            }

            grid.refresh();
        }
    </script>

    <!--Compliance Re-Assignment button save click-->
    <script>
    function btnSaveReAssignment_Click() {

        var strValidation = "";
        var divgridComplianceReAssignMessage = $("#divgridComplianceReAssignMessage");
        divgridComplianceReAssignMessage[0].innerHTML = "";

        kendo.ui.progress($("#gridComplianceReAssignment"), true);

        var result = true;

        //var dropdownlist = $("#ReAssignmentEntityID").data("kendoDropDownList");
        //var EntityId = dropdownlist.value();
        //if (EntityId > 0) {

        //}
        //else {
        //    result = false;
        //    strValidation = "Please Select Entity<br>";
        //}

        var ddlNewUser = $("#ddlNewUser").data("kendoDropDownList");
        var newUserID = ddlNewUser.value();
        if (newUserID > 0) {
        }
        else {
            result = false;
            strValidation += "Please Select New User<br>";
        }



        if (result == true) {
            ComplianceReAssignList_Save();
        } else {
            kendo.ui.progress($("#gridComplianceReAssignment"), false);
            divgridComplianceReAssignMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-danger'> <lable>" + strValidation + "</lable></div></div></div>";
        }

    }

    function ComplianceReAssignList_Save() {
        debugger;

        var items = new Object();
        items.Name = "";
        items.EntityID = 0;

        items.lst = [];

        var grid = $('#gridComplianceReAssignment').data().kendoGrid;
        ////var gridData = grid.dataSource.data();

        //var gridAllData = grid.dataSource.data();

        //var filters = grid.dataSource.filter();

        //var query = new kendo.data.Query(gridAllData);
        //var gridData = query.filter(filters).data;
        var gridData = grid.dataSource.view();

        for (var i = 0; i < gridData.length; i++) {
            if (gridData[i].IsComplianceSelect == true){
                items.lst.push({ ComplianceAssignmentId: gridData[i].ComplianceAssignmentId, User: { FullName: "", UserID : gridData[i].User.UserID} });
            }
        }

        debugger;
        $.ajax({
            type: "POST",
            url: "@Url.Action("ComplianceReAssignList_SaveJson", "ComplianceAssign")",
            data: JSON.stringify(items),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                $("#gridComplianceReAssignment").data('kendoGrid').dataSource.data([]);

                kendo.ui.progress($("#gridComplianceReAssignment"), false);
                LoadAssignedComplainceDetails();


                if (response.Success == true) {
                    var divgridComplianceReAssignMessage = $("#divgridComplianceReAssignMessage");
                    divgridComplianceReAssignMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success'> <lable>Save Successfully.</lable></div></div></div>";
                }
            }
    });
    }
    </script>

    <!-- Dropdown Editor-->
    <script>
    function categoryDropDownEditor(container, options) {
        $('<input required name="' + options.field + '"/>')
            .appendTo(container)
            .kendoDropDownList({
                autoBind: false,
                dataTextField: "FullName",
                dataValueField: "UserID",
                dataSource: {
                    transport: {

                        read: {
                            dataType: "json",
                            url: "/api/UserMasterAPI/GetUsersDropdown",
                        }
                    }
                }
            });
    }
    </script>
</div>