﻿@using Kendo.Mvc.UI;
@model  BM_ManegmentServices.VM.AddtionalAct_VM


<div id="DivNewAct">
    @using (Ajax.BeginForm("CreateAdditionalAct", "AdditionalAct", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivNewAct" }, new { id = "frmNewAct" }))
    {
        <div class="row">
            @if (Model.Success)
            {
                <div class="col-md-12">

                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.Message)))
                        {
                            <lable>@Model.Message</lable>
                        }
                    </div>
                </div>
            }
        </div>

        <div class="row">
            @if (Model.Error)
            {
                <div class="col-md-12">
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.Message)))
                        {
                            <lable>@Model.Message</lable>
                        }
                    </div>
                </div>
            }
        </div>
        @Html.HiddenFor(m => m.ActId);
        <div class="row colpadding0" style="overflow:hidden">
            <div class="col-md-12 colpadding0">
                <div class="row colpadding0 mt30">
                    <div class="col-md-12">
                    </div>
                </div>

                <div class="row mt30 colpadding0"style="overflow:hidden">
                    <div class="col-md-12">
                        <div class="col-md-2" style="padding-top:5px">
                            <span style="color:red"></span><lable class="control-label"style="font-size:15px">Act Number</lable>
                        </div>
                        <div class="col-md-8 colpadding0">
                            @Html.Kendo().TextBoxFor(model => model.LSTAct).HtmlAttributes(new { style = "width:100%;", placeholder = "Type Comma Seperated ActIDs in case of multiple", })
                        </div>
                    </div>

                </div>

                <div class="row colpadding0 mt30">
                    <div class="col-md-12 colpadding0">
                        <div class="text-center">
                            <button type="Submit" id="command_name" name="command_name" value="save" class="btn btn-primary" onclick="saveadditionalCom()">Save</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
</div>
<script>
    function saveadditionalCom()
    {
    }
</script>
