﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.AddtionalAct_VM
@{
    ViewBag.Title = "Act";
}
<script>
    var initialLoad = true;
    function onRowBound(e) {

        var grid = $("#gridKendoadditionActdata").data("kendoGrid");

        GetICons();
        getGridborder(grid);
    }
</script>

<div class="row Dashboard-white-widget">
    <div class="dashboard">
        <div class="row master-Headre">
            <div class="col-md-12 vertical-center">
                <div class="col-md-11" style="padding-top:7px">
                    <input id='filter' placeholder="Search by ActID/Name" class='k-textbox' style="width: 55%" autocomplete="off" />
                </div>

                <div class="col-md-1 colpadding0 text-right"style="padding-top:7px">
                    <button class="btn btn-primary" id="CreateNewAct" title="Add New"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</button>
                </div>`
            </div>
        </div>

        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">

                @(Html.Kendo().Grid<BM_ManegmentServices.VM.AddtionalAct_VM>()
                .Name("gridKendoadditionActdata")
               .Columns(columns =>
               {
                   //columns.Bound(o => o.LSTAct).Visible(false);
                   columns.Bound(o => o.ActId).Title("Act Id").Width("10%").Sortable(true);
                   columns.Bound(o => o.ActName).Title("Act Name").Width("20%");
                   columns.Command(command =>
                   {
                       command.Custom("delete").Click("Deleteassignment").HtmlAttributes(new { @class = "k-grid-delete hoverCircle" });
                   }).Title("Action").Width("10%");
               })

        .EnableCustomBinding(true)
        .Events(e => e.DataBound("onRowBound"))
        .Navigatable()
        .Pageable(pageable => pageable
        //.Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
               .DataSource(dataSource => dataSource
        .WebApi()
        .PageSize(10)
        .ServerOperation(false)
              .Model(model =>
              {
                  model.Id(o => o.ActId);
              })
        .Read(read => read.Url("/api/AdditionalAct/GetadditionalAct").Type(HttpVerbs.Get))))
            </div>
        </div>
    </div>
</div>

<div id="modalWindow">
    <h5>Are you sure you want to delete this data?</h5>
    <div class="text-center">
        <button id="yes" class="btn btn-primary">Yes</button>
        <button id="no" class="btn btn-primary">No</button>
    </div>
</div>

@(Html.Kendo().Window()
    .Name("wndAdd")
    .Visible(false)
    .Modal(true))
<script>

    $("#CreateNewAct").click(function (e) {
        debugger;
        AddNewCompliance(e);
    });
    function AddNewCompliance(e) {
        debugger;
        //$("#wndAdd").attr("style", "min-height:100px;");

        $("#wndAdd").kendoWindow({
            title: "Act",
            modal: true
        }); 
       
            var direction = "AdditionalAct/AddNewAct";
            var wnd = $("#wndAdd").data("kendoWindow");
            var opts = wnd.options;
        //kendo.ui.progress(wnd.element, true);
        // first click of the button - will automatically fetch the contentUrl
        wnd = $("#wndAdd").kendoWindow({
            // title: "Template",
            actions: ["Close"],
            content: direction,
            width: "45%",
            height: "35%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () {
                //OnOpen();
                OnOpen();
            },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                $('#gridKendoadditionActdata').data('kendoGrid').dataSource.read();
                $('#gridKendoadditionActdata').data('kendoGrid').refresh();

            }
        }).data("kendoWindow");
        // }
        opts.width = "45%";
        opts.height = "35%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.refresh(direction);
        wnd.open();

    }
    function OnRefresh() {

        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function OnOpen(e) {

        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }

    function OnOpene(e) {

        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }

    function iterateMeeting(object) {

        var str = "";
        if (object !== null && object.length > 0) {
            for (var x = 0; x < object.length; x++) {
                str += object[x] + ", ";
            }
        } else {
            str += "";
        }
        return trimChars(str, ", ");
    }

    function trimChars(str, c) {
        var re = new RegExp("^[" + c + "]+|[" + c + "]+$", "g");
        return str.replace(re, "");
    }


    var wnd;
    $(document).ready(function () {
        wnd = $("#modalWindow").kendoWindow({
            title: "Delete confirmation",
            modal: true,
            visible: false,
            resizable: false,
            width: 300
        }).data("kendoWindow");

        var breadCrumbData = [
            {
                displayText: "My Workspace",
                navigateUrl: "#",
            }, {
                displayText: "Secretarial Act",
                navigateUrl: "#",
            }
        ];
        setBreadCrumb(breadCrumbData);
    });


    function deleteuserassignment(Id) {
        $.ajax({
            url: "/api/AdditionalAct/DeleteAdditionalAct?Id=" + Id,
            method: "DELETE",
            success: function () {
                alert("Selected Record Deleted Successfully");
                $('#gridKendoadditionActdata').data('kendoGrid').dataSource.read();
                $('#gridKendoadditionActdata').data('kendoGrid').refresh();
            }
        });
    }

    function Deleteassignment(e) {
        e.preventDefault();

        var grid = this;
        var row = $(e.currentTarget).closest("tr");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var Id = dataItem.ActId;

        wnd.center().open();
        $("#yes").click(function () {
            deleteuserassignment(Id)
            grid.removeRow(row);
            wnd.close();
        });

        $("#no").click(function () {
            wnd.close();
        });
    }
</script>

<!-- Filter Script-->
<script>
    function filterChange() {
        debugger;
        var filter = { logic: 'or', filters: [] };

        var t = $('#filter');
        if (t.val() != "") {
            filter.filters.push({ logic: "or", field: "ActId", operator: "contains", value: t.val() });
            filter.filters.push({ logic: "or", field: "ActName", operator: "contains", value: t.val() });
        }

        grid = $("#gridKendoadditionActdata").data("kendoGrid");
        grid.dataSource.filter(filter);
    }
</script>

<script>
    $('#filter').on('input', function (e) {
        filterChange();
    });
</script>

