﻿@model BM_ManegmentServices.VM.ShareHoldingDetails
@using Kendo.Mvc.UI;



<script>
    $(document).ready(function () {

        $("#PanelbarEditPrivatepublicCompany").kendoPanelBar({
            expandMode: "single"
        });
    });
</script>

<div id="DIVshareholdingdetails" style="height:350px!important">
    <!-- this will be the content of the popup -->
    @using (Ajax.BeginForm("AddShareHoldingDetails", "ShareholdingMaster", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DIVshareholdingdetails" }, new { id = "frmupdateshareholdindetails" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.parentID)

        if (Model.Message != null)
        {
            if (Model.Success)
            {
                <div class="row">
                    <div class="col-md-12 colpadding0" id="DivsuccessI_sub">
                        <div style="margin-left:2%; margin-right:2%;">
                            <div class="alert alert-success alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <lable id="lblsuccessI_sub">@Model.Message</lable>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-md-12 colpadding0" id="DiverrorI_sub">
                        <div style="margin-left:2%; margin-right:2%;">
                            <div class="alert alert-danger alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <lable id="lblerrormsgI_sub">@Model.Message</lable>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }


        <div class="ml-mr">
            <div class="row mt30 colpadding0">
                <div class="col-md-12 colpadding0">
                    <div class="demo-section k-content">
                        <ul class="k-widget k-panelbar k-reset k-header" id="PanelbarEditPrivatepublicCompany" data-role="panelbar" tabindex="0" role="menu">
                            <li class="k-item k-state-default k-first k-state-active" aria-expanded="true" role="menuitem">
                                <span class="k-link k-header">
                                    Basic Details<span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span>
                                </span>
                                <span id='notification'></span>
                                <div class="row colpadding0" style="display: block; margin-left: 1%;margin-right: 1%;margin-bottom:1%">
                                    <div class="row colpadding0 mt30">
                                        <div class="col-md-12 colpadding0">
                                            <div class="col-md-2 colpadding0">
                                                <label for="txtAllotmentNo" class="control-label">Allotment No./Transfer No.</label>
                                                @(Html.Kendo().TextBoxFor(m => m.AllotmentNo).HtmlAttributes(new { @class = "k-textbox", @Id = "txtAllotmentNo", style = "width: 90%", autocomplete = "off" }))

                                            </div>
                                            <div class="col-md-2 colpadding0">
                                                <label for="txtDated" class="control-label">Date of allotment/ transfer</label>
                                                @(Html.Kendo().DatePickerFor(m => m.Dated)

                                        .Format("dd/MM/yyyy")
                                        .HtmlAttributes(new { style = "width: 90%", @Id = "dpDated", onchange = "checkDate(this);", autocomplete = "off" })
                                                )
                                            </div>
                                            <div class="col-md-3 colpadding0">
                                                <label for="txtNoOfShareTransfered" class="control-label">No.of shares allotted/transferred</label>
                                                @(Html.Kendo().TextBoxFor(m => m.NumberOfShares).HtmlAttributes(new { @class = "k-textbox", @Id = "txtNoOfShareTransfered", style = "width: 60%", autocomplete = "off" }))

                                            </div>

                                            <div class="col-md-3 colpadding0" style="margin-top: -16px;">
                                                <label for="txtNominaVal_per_Shares" class="control-label">Distinctive numbers (both inclusive)</label><span></span>

                                                <div class="col-md-6 colpadding0">
                                                    <label for="txttxtDistinctiveFroms" class="control-label">From</label><span></span>

                                                    @(Html.Kendo().TextBoxFor(m => m.DistinctiveFrom).HtmlAttributes(new { @class = "k-textbox", @Id = "txtDistinctiveFroms", style = "width: 90%", @type = "number", autocomplete = "off" }))
                                                </div>
                                                <div class="col-md-6 colpadding0">
                                                    <label for="txtDistinctiveTo" class="control-label">To</label><span></span>
                                                    @(Html.Kendo().TextBoxFor(m => m.DistinctiveTo).HtmlAttributes(new { @class = "k-textbox", @Id = "DistinctiveTo", style = "width: 90%", @type = "number", autocomplete = "off" }))

                                                </div>
                                            </div>

                                            <div class="col-md-2 colpadding0">
                                                <label for="txttotshareheld" class="control-label">Folio of transferor, if applicable</label>
                                                @(Html.Kendo().TextBoxFor(m => m.FolioOfTransferor).HtmlAttributes(new { @class = "k-textbox", @Id = "txtFolioOfTransferor", style = "width: 100%", autocomplete = "off" }))

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row colpadding0 mt30">
                                        <div class="col-md-12 colpadding0">
                                            <div class="col-md-4 colpadding0">
                                                <label for="txtEntityName" class="control-label">Name of the transferor</label>
                                                @(Html.Kendo().TextBoxFor(m => m.NameOfTransferor).HtmlAttributes(new { @class = "k-textbox", @Id = "txtNameOfTransferor", style = "width: 90%", autocomplete = "off" }))

                                            </div>
                                            <div class="col-md-3 colpadding0">
                                                <label for="txtddlShares_Class" class="control-label">Date of issue/endorsement of share certificate</label>
                                                @(Html.Kendo().DatePickerFor(m => m.DateOfIssued)

                                        .Format("dd/MM/yyyy")
                                        .HtmlAttributes(new { style = "width: 60%", @Id = "dpDateOfIssued", onchange = "checkDate(this);", autocomplete = "off" })
                                                )
                                            </div>
                                            <div class="col-md-2 colpadding0">
                                                <label for="txtEntityName" class="control-label">Certificate No</label>
                                                @(Html.Kendo().TextBoxFor(m => m.CertificateNo).HtmlAttributes(new { @class = "k-textbox", @Id = "txtCertificateNo", style = "width: 90%", autocomplete = "off" }))

                                            </div>
                                            <div class="col-md-2 colpadding0">
                                                <label for="txtEntityName" class="control-label">Lock in period</label>
                                                @(Html.Kendo().TextBoxFor(m => m.LockInPeriod).HtmlAttributes(new { @class = "k-textbox", @Id = "txtLockInPeriod", style = "width: 100%", autocomplete = "off" }))

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row colpadding0 mt30">
                                        <div class="col-md-12 colpadding0">
                                            <div class="col-md-4 colpadding0">
                                                <div class="col-md-12 colpadding0">
                                                    <label for="txtNominaVal_per_Shares" class="control-label">Amount (Rs)</label><span></span>
                                                </div>
                                                <div class="col-md-3 colpadding0">
                                                    <label for="txtPayableAmount" class="control-label">Payable</label><span></span>

                                                    @(Html.Kendo().TextBoxFor(m => m.PayableAmount).HtmlAttributes(new { @class = "k-textbox", @Id = "txtPayableAmount", style = "width: 90%", @type = "number", autocomplete = "off" }))
                                                </div>
                                                <div class="col-md-6 colpadding0">
                                                    <label for="txtPaidOrToBePaidAmount" class="control-label">Paid/Deemed to be paid</label>
                                                    @(Html.Kendo().TextBoxFor(m => m.PaidOrToBePaidAmount).HtmlAttributes(new { @class = "k-textbox", @Id = "txtPaidOrToBePaidAmount", style = "width: 70%", @type = "number", autocomplete = "off" }))

                                                </div>
                                                <div class="col-md-3 colpadding0" style="margin-left: -10%">
                                                    <label for="txtDueAmount" class="control-label">Due</label><span></span>
                                                    @(Html.Kendo().TextBoxFor(m => m.DueAmount).HtmlAttributes(new { @class = "k-textbox", @Id = "txtDueAmount", style = "width: 90%", @type = "number", autocomplete = "off" }))

                                                </div>
                                            </div>

                                            <div class="col-md-6 colpadding0" style="margin-top:1%">
                                                <label for="txttotshareheld" class="control-label">If shares are issued for consideration other than cash, brief particulars thereof</label>
                                                @(Html.Kendo().TextBoxFor(m => m.Thereof).HtmlAttributes(new { @class = "k-textbox", @Id = "txtThereof", style = "width:80%", autocomplete = "off" }))

                                            </div>




                                        </div>
                                    </div>

                                    <div class="row colpadding0 mt30" style="margin-top:2%">
                                        <div class="col-md-12 colpadding0">
                                            <div class="col-md-4 colpadding0">

                                                <label for="txttotshareheld" class="control-label">Date of transfer/ transmission/ forfeiture / redemption etc</label>
                                              
                                                @(Html.Kendo().DatePickerFor(m => m.DateOfTransfer)

                                        .Format("dd/MM/yyyy")
                                        .HtmlAttributes(new { style = "width:45%", @Id = "dpDateOfTransfer", onchange = "checkDate(this);", autocomplete = "off" })
                                                )
                                            </div>
                                            <div class="col-md-4 colpadding0">
                                                <label for="txtNumberOfShares" class="control-label">No. of shares transferred/ transmitted/ forfeited /redeemed etc</label>
                                                @(Html.Kendo().TextBoxFor(m => m.NoOfShareTransfered).HtmlAttributes(new { @class = "k-textbox", @Id = "txtNumberOfShares", style = "width: 90%", @type = "number", autocomplete = "off" }))

                                            </div>
                                            <div class="col-md-4 colpadding0 " style="margin-top:-2%">
                                                <div class="col-md-12 colpadding0">
                                                    <label for="txttotDistinctive" class="control-label">Distinctive numbers (both inclusive)</label>
                                                </div>
                                                <div class="col-md-4 colpadding0">
                                                    <label for="txtDistinctiveFrom1" class="control-label">From</label>
                                                    @(Html.Kendo().TextBoxFor(m => m.DistinctiveFrom1).HtmlAttributes(new { @class = "k-textbox", @Id = "txtDistinctiveFrom1", style = "width: 90%", @type = "number", autocomplete = "off" }))
                                                </div>
                                                <div class="col-md-4 colpadding0">
                                                    <label for="txttotshareheld" class="control-label">To</label>
                                                    @(Html.Kendo().TextBoxFor(m => m.DistinctiveTo1).HtmlAttributes(new { @class = "k-textbox", @Id = "txtDistinctiveTo", style = "width: 90%", @type = "number", autocomplete = "off" }))
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="row colpadding0 mt30">
                                        <div class="col-md-12 colpadding0">
                                            <div class="col-md-4 colpadding0">
                                                <label for="txttotshareheld" class="control-label">Folio of transferee</label>
                                                @(Html.Kendo().TextBoxFor(m => m.FolioOfTransferee).HtmlAttributes(new { @class = "k-textbox", @Id = "txtFolioOfTransferee", style = "width: 90%", autocomplete = "off" }))

                                            </div>
                                            <div class="col-md-4 colpadding0">
                                                <label for="txttotshareheld" class="control-label">Name of transferee</label>
                                                @(Html.Kendo().TextBoxFor(m => m.NameOfTransferee).HtmlAttributes(new { @class = "k-textbox", @Id = "txtNameOfTransferee", style = "width: 90%", autocomplete = "off" }))

                                            </div>

                                            <div class="col-md-4 colpadding0">
                                                <label for="txtBalanceShare" class="control-label">Balance shares(after transfer/transmission/forfeiture/redemption)</label>
                                                @(Html.Kendo().TextBoxFor(m => m.BalanceShare).HtmlAttributes(new { @class = "k-textbox", @Id = "txtBalanceShare", style = "width: 90%", @type = "number", autocomplete = "off" }))

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row colpadding0 mt30">
                                        <div class="col-md-12 colpadding0">
                                            <div class="col-md-4 colpadding0">
                                                <label for="txtBalanceShare" class="control-label">Remarks</label>
                                                @(Html.Kendo().TextBoxFor(m => m.Remarks).HtmlAttributes(new { @class = "k-textbox", @Id = "txtRemarks", style = "width:90%", autocomplete = "off" }))

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0" style="text-align:center">
                <button type="submit" class="btn btn-primary button1">Save</button>
                <button type="button" id="btnclosesharedetilas" class="btn btn-primary button1">Close</button>
            </div>
        </div>

    }
</div>
<script>
    var validator1 = $("#frmupdateshareholdindetails").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");

    $("#btnclosesharedetilas").click(function (z) {

        z.preventDefault();
        z.stopPropagation();
        $('#winShareholdingdetails').data("kendoWindow").close();
        $('#KendogridShareholdingdetails').data('kendoGrid').dataSource.read();
        $('#KendogridShareholdingdetails').data('kendoGrid').refresh();
    })

    //function OnSuccess(data) {

    //    var wnd = $("#popforsharholder").data("kendoWindow");
    //    $("#popforsharholder").scrollTop(0);
    //    changeType_();
    //}
    //function OnFailure(data) {
    //    var wnd = $("#popforsharholder").data("kendoWindow");
    //    $("#popforsharholder").scrollTop(0);
    //    changeType_();
    //}

    $("#dpDated").removeAttr("data-val-date");
    $("#dpDateOfIssued").removeAttr("data-val-date");
    $("#dpDateOfTransfer").removeAttr("data-val-date");
    $("#dpbecomingmember_Date").removeAttr("data-val-date");
    $("#dpdeclaration_Date_under89").removeAttr("data-val-date");

    if ($("#dpDated").val() == "01/01/0001") {
        $("#dpDated").val('');
    }
    if ($("#dpDateOfIssued").val() == "01/01/0001") {
        $("#dpDateOfIssued").val('');
    }
    if ($("#dpDateOfTransfer").val() == "01/01/0001") {
        $("#dpDateOfTransfer").val('');
    }

    if ($("#dpbecomingmember_Date").val() == "01/01/0001") {
        $("#dpbecomingmember_Date").val('');
    }

    if ($("#dpdeclaration_Date_under89").val() == "01/01/0001") {
        $("#dpdeclaration_Date_under89").val('');
    }

    function checkDate(e) {

        if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
            e.value = '';
        }
    }

  
   

    @*function changeofDirector(obj) {

        var ddldirectorval = $("#" + obj.id).data("kendoDropDownList");
        var index = ddldirectorval.selectedIndex;
        var DirPermanentAddress = ddldirectorval.dataItem(index).ParmanentAddress;
        var EmilId = ddldirectorval.dataItem(index).EmailId;
        var Occupation = ddldirectorval.dataItem(index).Occupation;
        var Pan = ddldirectorval.dataItem(index).PAN;
        if (DirPermanentAddress != '') {
            $('#txtbodycorporate_Address').val(DirPermanentAddress);
        }
        if (EmilId != '') {
            $('#txtEmail_Id').val(EmilId);
        }
        if (Occupation != '') {
            $('#txtOccupation').val(Occupation)
        }
        if (Pan != '') {
            $('#txtPAN').val(Pan)
        }

    }

    function saveShareholdingData() {
        $("#frmUpdateDetailsofShareHolding1").attr(
                            "action",
                            "@Url.Action("CreateShareMaster", "ShareholdingMaster")"
                        ).submit();
    }*@
</script>

