﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMShareholding

@Html.HiddenFor(m => m.Id,new { @Id="txtId"})


<ul class="nav nav-tabs" role="tablist" id="mytab">
    <li class="active"><a href="#tabe1" role="tab" data-toggle="tab">Share Holding</a></li>
  
    <li><a href="#tab2" role="tab" data-toggle="tab" id="Equity">Share Holding Details</a></li>
   
</ul>


<div class="tab-content">
    <div class="tab-pane active" id="tabe1">
        @if (Model.Message != null)
        {
        <div class="row">
            <div class="col-md-2 colpadding0">
            </div>
            <div class="col-md-8 colpadding0">
                @Html.Partial("_Response", Model.Message)
            </div>
            <div class="col-md-2 colpadding0">
            </div>
        </div>
        }
        @Html.Partial("_PartialViewShareholding", Model.Shareholding)
        </div>
   
    <div class="tab-pane" id="tab2">
        @Html.Partial("_PartialViewShareholdingdtls",Model.Shareholding.Id)
        </div>
  
    </div>

<script>
    $(document).ready(function () {
        
        var id = $("#txtId").val();
        if(id==0)
        {
            $('#Equity').prop('disabled', true);
            $('#mytab a:last').hide();
        }
        else
        {
            $('#Equity').prop('disabled', false);
            $('#mytab a:last').show();
        }
    });
</script>