﻿@model BM_ManegmentServices.VM.Body_CorporateAsPartnerVM

@using Kendo.Mvc.UI
<script>
$(document).ready(function () {
        $("#PanelbarBodyCorporate").kendoPanelBar({
            expandMode: "Single"
        });
});
</script>
<style>
    .k-window-actions {
        display: none;
    }
</style>

<script>
function success1(e) {
        debugger;
        //if (e.message.Model.Success === true) {
        //    debugger;
        //    $("#divsuccessbco").show();
        //    $("#divErrorbco").hide();
        //    $("#lblsuccess").text(e.message.Model.Message);
        //}
        //else {
        //    $("#divErrorbco").show();
        //    $("#divsuccessbco").hide();
        //    $("#lblerror").text(e.message.Model.Message);
        //}

}


function begin1(e) {
        debugger;
        var wnd = $("#wndBodyCorporate").data("kendoWindow");

        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
}
function Complite1() {
        debugger;
        var wnd = $("#wndBodyCorporate").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
        $(".k-overlay").attr('style', "opacity:0.5; display:none;");
}

</script>

@if (Model.Success == true)
{

    <script>
        debugger;
        $("#divsuccessbco").show();
        $("#divErrorbco").hide();
        @*$("#lblsuccess").text("Saved successfully");
        $("#lblsuccess").html('@Model.Message');*@
    </script>
}
else if (Model.Error == true)
{
    <script>
        $("#divErrorbco").show();
        $("#divsuccessbco").hide();
        $("#lblerror").text('@Model.Message');
        $("#lblerror").html('@Model.Message');
    </script>
}

<div id="DivBodyCorporate">

    @using (Ajax.BeginForm("SaveBodyCorporateAsPartner", "ShareholdingMaster", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivBodyCorporate", OnSuccess = "success1", OnBegin = "begin1", OnComplete = "Complite1" }, new { id = "frmdivbodyCorporate" }))
    {
        <div class="row colpadding0" style="display:none;" id="divsuccessbco">
            <div class="col-md-12 colpadding0">
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <label id="lblsuccess">Saved successfully</label>
                </div>
            </div>
        </div>

        <div class="row colpadding0" style="display:none" id="divErrorbco">
            <div class="col-md-12 colpadding0">
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <label id="lblerror"></label>
                </div>
            </div>
        </div>

        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.entityId)
        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">



                <div class="row colpadding0 ">
                    <div class="col-md-12 colpadding0">

                        <div class="col-md-6 colpadding0">
                            <label class="control-label">Body Corporate</label>
                            @(Html.Kendo().DropDownListFor(model => model.BodyCorporateId)
                                        .DataValueField("Id")
                                        .DataTextField("Name")
                                        .DataSource(source =>
                                        {
                                        source.Read(read =>
                                        {
                                        read.Url("/api/DirectorMasterAPI/GetBodyCorporateName").Type(HttpVerbs.Get);
                                        })
                                        .ServerFiltering(true);
                                        })

                                        .HtmlAttributes(new { style = "width: 90%;" })

                                        )
                        </div>

                        <div class="col-md-6 colpadding0">
                            <label class="control-label">Nominee</label><span></span>
                            @(Html.Kendo().TextBoxFor(m => m.Nominee).HtmlAttributes(new { @class = "k-textbox", @Id = "txtNominee", style = "width:90%", autocomplete = "off" }))
                            @Html.ValidationMessageFor(model => model.Nominee, "", new { @class = "text-danger" })

                        </div>


                    </div>
                </div>

                <div class="row colpadding0 mt30">
                    <div class="col-md-12 colpadding0">

                        @*<div class="col-md-6 colpadding0">
            <label class="control-label">Number Of Share Held</label>
            @(Html.Kendo().TextBoxFor(m => m.NumberOfShareHeld).HtmlAttributes(new { @class = "k-textbox", @Id = "txtNumberOfShareHeld", style = "width: 90%", autocomplete = "off" }))
            @Html.ValidationMessageFor(model => model.NumberOfShareHeld, "", new { @class = "text-danger" })
        </div>*@

                        <div class="col-md-6 colpadding0">
                            <label class="control-label">Contribution Accounted</label><span></span>
                            @(Html.Kendo().TextBoxFor(m => m.ContributionAccounted).HtmlAttributes(new { @class = "k-textbox", @Id = "txtContributionAccounted", style = "width: 90%", autocomplete = "off" }))
                            @Html.ValidationMessageFor(model => model.ContributionAccounted, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6 colpadding0">
                            <label class="control-label">Contribution Received</label>
                            @(Html.Kendo().TextBoxFor(m => m.ContributionRecieved).HtmlAttributes(new { @class = "k-textbox", @Id = "txtContributionReceived", style = "width: 90%", autocomplete = "off" }))
                            @Html.ValidationMessageFor(model => model.ContributionRecieved, "", new { @class = "text-danger" })

                        </div>

                        

                    </div>
                </div>

                <div class="row colpadding0 mt30">
                    <div class="col-md-12 colpadding0">


                        <div class="col-md-6 colpadding0">
                            <label class="control-label">Percentage of ShareHolding</label><span style="color:red"></span>
                            @(Html.Kendo().TextBoxFor(m => m.PercentageOFShareHolding).HtmlAttributes(new { @class = "k-textbox", @Id = "txtPercentagesofShare Holding", style = "width: 90%", autocomplete = "off" }))
                            @Html.ValidationMessageFor(model => model.PercentageOFShareHolding, "", new { @class = "text-danger" })

                        </div>

                    </div>
                </div>


                <div class="row colpadding0 mt30">
                    <div class="col-md-12 colpadding0" style="text-align:center">
                        <button type="submit" id="btnBodyCorporate" class="btn btn-primary">Save</button>

                        <button type="button" id="btnBodyCorporateclose" class="btn btn-primary">Close</button>

                    </div>
                </div>
            </div>

        </div>

    }

</div>
<script>
var validator1 = $("#frmdivbodyCorporate").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");

$("#btnBodyCorporateclose").click(function (z) {
        z.preventDefault();
        z.stopPropagation();
    $("#wnddirDOI").data("kendoWindow").close();
        //var ddl = $("#bodycorporateId").data("kendoDropDownList");
        //ddl.dataSource.read();
        $("#divDFI").attr('style', "opacity:''; display:block;");
        $(".k-window-actions").attr('style', "display:block;");
})
</script>