﻿@model BM_ManegmentServices.VM.VMPublicListedSherholders
@using Kendo.Mvc.UI;

<script>
    function checkDate(e) {
        
        if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
            e.value = '';
        }
    }

    $("#dpallotment_Date").removeAttr("data-val-date");
    if ($("#dpallotment_Date").val() == "01/01/0001") {
        $("#dpallotment_Date").val('');
    }
</script>

@Html.AntiForgeryToken()

@if (ViewBag.SuccessMessage != null)
{
    <div class="col-md-12">
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <lable>@ViewBag.SuccessMessage</lable>
        </div>
    </div>
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="col-md-12">
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            @foreach (var item in ViewBag.ErrorMessage)
            {
                <lable>@item.</lable><br />
            }
        </div>
    </div>

}

<div class="row colpadding0">
    <div class="col-md-12 colpadding0">
        <div id="DivUploadDemate">
            @using (Ajax.BeginForm("UploadDematShare", "ShareholdingMaster", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivUploadDemate" }, new { id = "frmUpdateDemate", enctype = "multipart/form-data" }))
            {
            @Html.HiddenFor(m=>m.EntityId)
                <div class="col-md-2 colpadding0">
                    <span style="color:red">*</span><label class="control-label">Allotment Date</label>
                    @(Html.Kendo().DatePicker().Name("Allowtment_Date")


.Max(DateTime.Today).Format("dd/MM/yyyy").Enable(true).ParseFormats(new[] { "dd/MM/yyyy" })
                          .Culture("en-GB")
.HtmlAttributes(new { style = "width: 100%", @Id = "dpallotment_Date", placeholder = "DD/MM/YYYY", autocomplete = "off", onchange = "checkDate(this);" })
                    )
                    @Html.ValidationMessageFor(model => model.Allowtment_Date, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-4 ">
                    <span style="color:red">*</span><label class="control-label">Select File</label>
                    @Html.TextBox("file", "", new { type = "file", multiple = "multiple", style = "color:black;margin-top: 3%;" })
                    @Html.ValidationMessageFor(model => model.File, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4 colpadding0"></div>
                <div class="col-md-2 colpadding0">
                    <button type="submit" class=" btn btn-primary" style="float:right">Upload</button>
                </div>
            }
        </div>
    </div>
</div>

