﻿
@model BM_ManegmentServices.VM.VMPublicListedSherholders
@using Kendo.Mvc.UI;

@{
    Layout = "~/Areas/BM_Management/Views/Shared/BM_layout.cshtml";
    ViewBag.Title = "Masters/Shareholding";
}

@*<link href="~/Content/css/Kendouicss.css" rel="stylesheet" />*@
<title></title>
<script>
    $(document).ready(function () {
        var breadCrumbData = [
           {
               displayText: "Masters",
               navigateUrl: "#",
           }, {
               displayText: "Entity",
               navigateUrl: "/BM_Management/EntityMaster/GetEntityDtls",
           }, {
               displayText: "ShareHolding",
               navigateUrl: "#",
           }, {
               displayText: '@Model.EntityName',
               navigateUrl: "#",
           }
        ];

        setBreadCrumb(breadCrumbData);
    });
</script>
<style>
    html {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }

    #file {
        color: #666;
    }

    .k-window div.k-window-content {
        overflow: hidden;
    }

    .field-validation-error {
        color: #ff0000;
    }

    .k-current-page {
        display: none;
    }

    html .k-upload-empty {
        border-width: 1px;
    }

    .k-edit-form-container {
        position: relative;
        width: 900px;
    }

    .k-grid-edit {
        height: 32px;
        width: 33px;
        padding: 6px 0px 10px 0;
        /*white-space: nowrap;*/
        overflow: hidden;
        /*border-radius: 20px;*/
    }

    .k-grid-delete {
        height: 32px;
        width: 33px;
        padding: 5px 0px 10px 0;
        overflow: hidden;
    }

    .fieldlist {
        margin: 0 0 -2em;
        padding: 0;
    }

        .fieldlist li {
            list-style: none;
            padding-bottom: 2em;
        }

        .fieldlist label {
            display: block;
            padding-bottom: 1em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            color: #444;
        }

    .mt30 {
        margin-top: 18px;
    }

    .k-grid-add {
        float: right;
    }

    .k-edit-buttons {
        width: 1280px;
        text-align: center;
    }

    label {
        color: black;
    }

    .ml-mr {
        margin-left: 2%;
    }

    fieldset {
        display: block;
        margin-inline-start: 2px;
        margin-inline-end: 2px;
        padding-block-start: 0.35em;
        padding-inline-start: 0.75em;
        padding-inline-end: 0.75em;
        padding-block-end: 0.625em;
        min-inline-size: min-content;
        border-width: 1px;
        border-style: groove;
        border-color: rgba(128, 128, 128, 0.56);
        border-radius: 11px;
        }

    .forTooltips {
        width: 100%;
        height: 100%;
        padding: .929em 1.286em;
    }

    td.overridePadding {
        padding: 0;
    }
    #gridKendo td{
        height:25px;
    }
</style>

<div class="Dashboard-white-widget">
    <div class="row colpadding0">        

       <div class="row colpadding0">
           <div class="col-md-12 colpadding0">
@Html.Partial("_ShareholdingDemateUpload", Model)
           </div>
       </div>
      
        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">
                @(Html.Kendo().Grid<BM_ManegmentServices.Data.BM_DematForm>()
        .Name("gridKendo")
        .ColumnResizeHandleWidth(2000)
        .Columns(columns =>
        {
            columns.Bound(o => o.ID).Visible(false);
            columns.Bound(o => o.IsIn_No).Width(150);
            columns.Bound(o => o.DmatAccountNo).Width(200);
            columns.Bound(o => o.DP_ID).Width(150);
            columns.Bound(o => o.ClientID).Width(200);
            columns.Bound(o => o.Depository).Width(200);
            columns.Bound(o => o.ClassOfShares).Width(200);
            columns.Bound(o => o.NominalValuePerShar).Width(200);
            columns.Bound(o => o.TotalShareHeld).Width(200);
            columns.Bound(o => o.BeneficiryName).Width(200);
            columns.Bound(o => o.Address).Width(200);
            columns.Bound(o => o.Email).Width(200);
            columns.Bound(o => o.PanCardNo).Width(150);
            columns.Bound(o => o.Nationality).Width(150);
        })
        .EnableCustomBinding(true)
        .Navigatable()
        .Pageable(pageable => pageable
        .Refresh(false)
        .PageSizes(true)
        .ButtonCount(5))
        .Filterable()
        .Sortable()
        .Reorderable(reorderable => reorderable.Columns(true))
        //.Resizable(resizable => resizable.Columns(true))
        .ColumnMenu()
         .Scrollable(s => s.Enabled(true).Height("auto"))
        .DataSource(dataSource => dataSource
        .WebApi()
        .PageSize(50)
        .ServerOperation(false)
              .Model(model =>
              {
                  model.Id(o => o.ID);
              })
        .Read(read => read.Url("/api/ShareholdingMasterAPI/GetShareDetailsForDematform?EntityId="+Model.EntityId).Type(HttpVerbs.Get))
                       ))
            </div>
        </div>

    </div>
</div>
