﻿
@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMPublicListedSherholders

@{

    Layout = "~/Areas/BM_Management/Views/Shared/BM_layout.cshtml";
    ViewBag.Title = "Shareholding (BenPos) :: Masters";
}

<script>
    $(document).ready(function () {
        var breadCrumbData = [
            {
                displayText: "Entity",
                navigateUrl: "/BM_Management/EntityMaster/GetEntityDtls",
            }, {
                displayText: "Shareholding (BenPos)",
                navigateUrl: "#",
            },
        ];

        setBreadCrumb(breadCrumbData);
    });
</script>

<style>
    html {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .k-window div.k-window-content {
        overflow: hidden;
    }

    .field-validation-error {
        color: #ff0000;
    }

    .k-current-page {
        display: none;
    }

    html .k-upload-empty {
        border-width: 1px;
    }

    .k-edit-form-container {
        position: relative;
        width: 900px;
    }

    .k-grid-edit {
        height: 32px;
        width: 33px;
        padding: 6px 0px 10px 0;
        /*white-space: nowrap;*/
        overflow: hidden;
        /*border-radius: 20px;*/
    }

    .k-grid-delete {
        height: 32px;
        width: 33px;
        padding: 5px 0px 10px 0;
        overflow: hidden;
    }

    .fieldlist {
        margin: 0 0 -2em;
        padding: 0;
    }

        .fieldlist li {
            list-style: none;
            padding-bottom: 2em;
        }

        .fieldlist label {
            display: block;
            padding-bottom: 1em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            color: #444;
        }

    .mt30 {
        margin-top: 18px;
    }

    .k-grid-add {
        float: right;
    }

    .k-edit-buttons {
        width: 1280px;
        text-align: center;
    }

    label {
        color: black;
    }

    .ml-mr {
        margin-left: 2%;
    }

    fieldset {
        display: block;
        margin-inline-start: 2px;
        margin-inline-end: 2px;
        padding-block-start: 0.35em;
        padding-inline-start: 0.75em;
        padding-inline-end: 0.75em;
        padding-block-end: 0.625em;
        min-inline-size: min-content;
        border-width: 1px;
        border-style: groove;
        border-color: rgba(128, 128, 128, 0.56);
        border-radius: 11px;
        /*border-color: threedface;
    border-image: initial;*/
    }

    .forTooltips {
        width: 100%;
        height: 100%;
        padding: .929em 1.286em;
    }

    td.overridePadding {
        padding: 0;
    }
    #gridKendo td{
        height:25px;
    }
</style>
<script>
    function openPopupforFileupload() {
   
        $("#wndFileUploadshares").attr("style", "min-height:100px;");
        var direction = "UploadFileopenPopUP";

        $("#wndFileUploadshares").kendoWindow({
            title: "Upload Benpos",
        });

        $("#wndFileUploadshares").attr("style", "min-height:100px;");
        direction = "UploadFileopenPopUPForBenpose?EntityId="+@Model.EntityId;
        var wnd = $("#wndFileUploadshares").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndFileUploadshares").kendoWindow({

            content: direction,
            width: "50%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefresheupload(); },
            close: function (e) {
                $(this.element).empty();
                $('#gridKendo').data('kendoGrid').dataSource.read();
                $('#gridKendo').data('kendoGrid').refresh();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {

                OnOpenupload();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "50%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.refresh(direction);
        wnd.open();

        function OnOpenupload() {

        }
        function OnRefresheupload() {

        }
    }
</script>

@(Html.Kendo().Window()
    .Name("wndFileUploadshares")
    .Title("Upload BenPos from Excel")
    .Visible(false)
    .Modal(true))

<div class="Dashboard-white-widget">
    <div class="row colpadding0">
        <div id="divDetails">

            @*<div class="row colpadding0">
                <div class="col-md-12 colpadding0">
                    <div class="col-md-2 colpadding0"><h4>Company Name:</h4></div>
                    <div class="col-md-4 colpadding0"><h4><b>@Model.EntityName</b></h4></div>

                </div>
            </div>
            <div class="row colpadding0">
                <div class="col-md-12 colpadding0">
                    @Html.Partial("_ListedSharesForFileUpload", Model)
                </div>
            </div>*@
            <div class="row master-Headre">
                <div class="col-md-12 vertical-center">
                    <div class="col-md-10 colpadding0">
                        @*<input id='filter' placeholder="Search by Folio Number/Member Name" class='k-textbox' style="width: 52%" autocomplete="off" />*@
                        <div class="col-md-6 colpadding0">
                            @*<input id='filter' placeholder="Search by Folio Number/Member Name" class='k-textbox' style="width:90%" autocomplete="off" onchange="filterChange(this)" />*@
                        </div>
                    </div>
                    <div class="col-md-1 colpadding0">
                    </div>
                    <div class="col-md-1 colpadding0 text-right">
                        @*<a class="btn btn-primary" href="/#" id="customCommand" title="Add New"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</a>*@
                        <input type="button" class="btn btn-primary" href="/#" title="Upload" value="Upload" onclick="openPopupforFileupload()" />
                     </div>
                </div>
            </div>
            <div class="row colpadding0 mt30">
                <div class="col-md-12 colpadding0">
                    @(Html.Kendo().Grid<BM_ManegmentServices.Data.BM_ShareholderListedEntityData>()
        .Name("gridKendo")
        .ColumnResizeHandleWidth(3895)
        .Columns(columns =>
        {
            columns.Bound(o => o.Id).Visible(false);
            columns.Bound(o => o.FOLIO_NO).Width(150);
            columns.Bound(o => o.SHARE_HOLDER_NAME).Width(200);
            columns.Bound(o => o.SHARES).Width(150);
            columns.Bound(o => o.JOINT_HOLDER1).Width(200);
            columns.Bound(o => o.JOINT_HOLDER2).Width(200);
            columns.Bound(o => o.JOINT_HOLDER3).Width(200);
            columns.Bound(o => o.JOINT_HOLDER3).Width(200);
            columns.Bound(o => o.FATHER_HUSBANDNAME).Width(200);
            columns.Bound(o => o.ADDRESSLINE1).Width(200);
            columns.Bound(o => o.ADDRESSLINE2).Width(200);
            columns.Bound(o => o.ADDRESSLINE3).Width(200);
            columns.Bound(o => o.PINCODE).Width(150);
            columns.Bound(o => o.EMAILID).Width(150);
            columns.Bound(o => o.PHONENO).Width(150);
            columns.Bound(o => o.PANCARDNO).Width(150);
            columns.Bound(o => o.SecondHolderPAN_No).Width(150);
            columns.Bound(o => o.ThirdHolderPAN_No).Width(150);
            columns.Bound(o => o.CATEGORY).Width(150);
            columns.Bound(o => o.STATUS).Width(150);
            columns.Bound(o => o.OCCUPATION).Width(150);
            columns.Bound(o => o.BANK_AC_NO).Width(150);
            columns.Bound(o => o.BANKNAME).Width(150);
            columns.Bound(o => o.BANK_ADDRESS_LINE1).Width(150);
            columns.Bound(o => o.BANK_ADDRESS_LINE2).Width(150);
            columns.Bound(o => o.BANK_ADDRESS_LINE3).Width(150);
            columns.Bound(o => o.BANK_ADDRESS_LINE4).Width(150);
            columns.Bound(o => o.BANK_PINCODE).Width(150);
            columns.Bound(o => o.BANK_AC_TYPE).Width(150);
            columns.Bound(o => o.MICR_CODE).Width(150);
            columns.Bound(o => o.IFSC).Width(150);
            columns.Bound(o => o.NOM_NAME).Width(150);
            columns.Bound(o => o.GAUARIDAN_NM).Width(150);

        })
        .EnableCustomBinding(true)

        .Navigatable()
        .Pageable(pageable => pageable
        .Refresh(false)
        .PageSizes(true)
        .ButtonCount(5))
        .Filterable()
        .Sortable()
        .Reorderable(reorderable => reorderable.Columns(true))
        //.Resizable(resizable => resizable.Columns(true))
        .ColumnMenu()
       .Scrollable(s => s.Enabled(true).Height("auto"))
        .DataSource(dataSource => dataSource
        .WebApi()
        //.Batch(true)
        .PageSize(10)
        .ServerOperation(false)
              .Model(model =>
              {
                  model.Id(o => o.Id);
              })
        .Read(read => read.Url("/api/ShareholdingMasterAPI/GetShareDetailsForListedCompay?EntityId="+Model.EntityId).Type(HttpVerbs.Get))
                       ))
                </div>
            </div>

            <div class="row colpadding0 mt30">
                <div class="col-md-12 colpadding0">
                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("GetEntityDtls", "EntityMaster")';return false;">previous</button>
                </div>
            </div>

        </div>
    </div>
</div>


<script>
    var validator1 = $("#frmUpdateDetailsListedShareholdingCompany").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
    $(document).ready(function () {
        $("#dpallotment_Date").removeAttr("data-val-date");

        if ($("#dpallotment_Date").val() == "01/01/0001") {
            $("#dpallotment_Date").val('');
        }

    });

    function checkDate(e) {
        if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
            e.value = '';
        }
    }
</script>