﻿@model BM_ManegmentServices.VM.VMShareholding

@using Kendo.Mvc.UI;

@{
    ViewBag.Title = "Partner :: Master";
}

<script>

    function onRowBound(e) {
        GetICons();

        var grid = $("#gridKendo").data("kendoGrid");
        getGridborder(grid);

        var gridData = grid.dataSource.view();

        for (var i = 0; i < gridData.length; i++) {
            if (gridData[i].BodyCorpAsPartnerId <= 0 || gridData[i].BodyCorpAsPartnerId == undefined) {
                var currentUid = gridData[i].uid;
                var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                $(currenRow).find(".k-grid-edit").addClass("hidden");
            }
        }
    }
    function onRowBoundBodyCorp(e) {
        GetICons();
        var grid = $("#gridKendoBodyCorp").data("kendoGrid");
        getGridborder(grid);
    }


    function getTheSubstringofDesi(value, length) {
        debugger;
        if (value != null && value != "") {
            if (value.length > length)
                return kendo.toString(value.substring(0, length)) + "...";
            else return kendo.toString(value);
        }
        else {
            return kendo.toString("");
        }
    }


</script>

<script>
    function EditPartner(e)
    {
        debugger;
        var direction = "";

        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        $("#wnddirDOI").kendoWindow({
            title: "Details of Interest",
        });
        if (dataItem.designationId > 0 && dataItem.designationId == 13)
        {
            direction = "bodycorporate?DirectorId=" + dataItem.DirectorId + "&IntrestId=" + dataItem.partnerShersID;
            //direction = "@Html.ActionLink("bodycorporate", "Director_Master")";
        }
        else
        {
            direction = "DetailsofIntrest?DirectorId=" + dataItem.DirectorId + "&IntrestId=" + dataItem.partnerShersID;
            @*//@Html.ActionLink("DetailsofIntrest", "Director_Master", new { DirectorId = dataItem.DirectorId ,}, null)*@
        }


        var wnd = $("#wnddirDOI").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wnddirDOI").kendoWindow({
            title: "Details of Interest",
            actions: ["Close"],
            pinned: true,
            content: direction,
            width: "50%",
            height: "90%",

            visible: false,
            modal: true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            open: function () {
                kendo.ui.progress(this.element, true);
               // $("#wndAddDirector").attr('style', "opacity:0.5; display:block;");
                $(this.element).closest(".k-window").css("position", "fixed");
                $(this.element).closest(".k-window").css("top", "45px");
            },
            close: function (e) {
                $(this.element).empty();
                //$("#wndAddDirector").attr('style', "opacity:''; display:block;");
                //$('#gridKendo2').data('kendoGrid').dataSource.read();
                //$('#gridKendo2').data('kendoGrid').refresh();
            }
        }).data("kendoWindow");

        opts.width = "50%";
        opts.height = "90%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

    //Added to Edit Body Corporate Details 2 Jul 2021
    function EditPartnerNew(e)
    {
        var direction = "";
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        $("#wnddirDOI").kendoWindow({
            title: "Details of Body Corporate As Partner",
        });

        direction = "bodycorporateAsPartner?PartnerId=" + dataItem.BodyCorpAsPartnerId + "&entityId=" + "@Model.EntityID";


        var wnd = $("#wnddirDOI").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wnddirDOI").kendoWindow({
            title: "Details of Body Corporate As Partner",
            actions: ["Close"],
            pinned: true,
            content: direction,
            width: "45%",
            height: "45%",

            visible: false,
            modal: true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            open: function () {
                kendo.ui.progress(this.element, true);

                $(this.element).closest(".k-window").css("position", "fixed");
                $(this.element).closest(".k-window").css("top", "45px");
            },
            close: function (e) {
                $(this.element).empty();
                $('#gridKendo').data('kendoGrid').dataSource.read();
                $('#gridKendo').data('kendoGrid').refresh();
            }
        }).data("kendoWindow");

        opts.width = "45%";
        opts.height = "45%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

</script>

<script>
    $(document).ready(function () {
        $("#btnAddBodyCorp").click(function (e) {
            e.preventDefault();
            
            $("#wndBodyCorporate").kendoWindow({
                title: "Body Corporate",
            });

            var direction = "@Url.Action("bodycorporate", "Director_Master")";
            var wndbcor = $("#wndBodyCorporate").data("kendoWindow");
            var opts = wndbcor.options;

            wndbcor = $("#wndBodyCorporate").kendoWindow({

                content: direction,

                width: "40%",
                position: {
                    top: 100, // or "100px"
                },

                visible: false,
                modal: true,
                refresh: function () { this.center(); },
                close: function (e) {
                    var gridKendoBodyCorp = $("#gridKendoBodyCorp").data("kendoGrid");
                    gridKendoBodyCorp.dataSource.read();
                },
                open: function (e) {
                }
            }).data("kendoWindow");

            opts.width = "40%";

            wndbcor.setOptions(opts);
            wndbcor.center();
            wndbcor.open();
        });

         // added for New BodyCorporate as Partner 5Jul2021
        $("#btnAddBodyCorpAsPartner").click(function (e) {

            var direction = "";
            e.preventDefault();

        $("#wnddirDOI").kendoWindow({
                title: "Body Corporate As Partner",
            });

            //var direction = "@Url.Action("bodycorporateAsPartner", "ShareholdingMaster")";
            direction = "bodycorporateAsPartner?PartnerId=" + 0 + "&entityId=" + "@Model.EntityID";
            var wndbcor = $("#wnddirDOI").data("kendoWindow");
            var opts = wndbcor.options;

        wndbcor = $("#wnddirDOI").kendoWindow({

                content: direction,

                width: "40%",
                position: {
                    top: 100, // or "100px"
                },

                visible: false,
                modal: true,
                refresh: function () { this.center(); },
            close: function (e) {
                $(this.element).empty();
                $('#gridKendo').data('kendoGrid').dataSource.read();
                $('#gridKendo').data('kendoGrid').refresh();
                },
                open: function (e) {
                }
            }).data("kendoWindow");

            opts.width = "40%";

            wndbcor.setOptions(opts);
            wndbcor.center();
            wndbcor.open();
        });
    //end

    });

    function editBodyCorporateDetails(e) {

        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        $("#wndBodyCorporate").kendoWindow({
            title: "Body Corporate",
        });

        var direction = "@Url.Action("EditBodyCorporate","Director_Master")" + "?id=" + dataItem.Id;
        var wndbcor = $("#wndBodyCorporate").data("kendoWindow");
        var opts = wndbcor.options;

        wndbcor = $("#wndBodyCorporate").kendoWindow({

            content: direction,

            width: "40%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            close: function (e) {
                debugger;

                //$("#divDFI").attr('style', "opacity:''; display:block;");
                var gridKendoBodyCorp = $("#gridKendoBodyCorp").data("kendoGrid");
                gridKendoBodyCorp.dataSource.read();
            },
            open: function (e) {
                //debugger;
                //OnOpenbco(e)
                //$(this.element).closest(".k-window").css("position", "fixed");
                //$(this.element).closest(".k-window").css("top", "40px");
                //$(this.element).closest(".k-window-actions").css("display", "none");
                //$("#divDFI").attr('style', "opacity:0.5; display:block;");
                //$(".k-window-actions").attr('style', "display:none;");
            }
        }).data("kendoWindow");

        opts.width = "40%";
        //opts.height = "80%";

        wndbcor.setOptions(opts);
        wndbcor.center();
        wndbcor.open();
    }
</script>
@(Html.Kendo().Window().Name("wnddirDOI").Title("Details of Interest").Visible(false).Modal(true))
@(Html.Kendo().Window().Name("wndBodyCorporate").Title("Body Corporate").Visible(false).Modal(true).Draggable(false).Scrollable(true))
<div class="row Dashboard-white-widget">
    <div class="dashboard">
        <div class="row col-md-12 colpadding0">
            <h4><b>@Model.EntityName</b></h4>
        </div>

        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".forTooltipscomsortdis")
        .ContentHandler("getRatingTooltip")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true))

        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">

                <div class="tab" role="tabpanel">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" id="mytab1" class="active"><a href="#hometab" aria-controls="home" role="tab" data-toggle="tab">Partner</a></li>
                        <li role="presentation" id="mytab2"><a href="#bodycorp" aria-controls="bodycorp" role="tab" data-toggle="tab">Body Corporate for LLP</a></li>
                    </ul>

                    <div class="tab-content tabs">

                        <div role="tabpanel" class="tab-pane fade in active" id="hometab">

                            @* for Add button New BodyCorporate As partner *@
                            <div class="row master-Headre">
                                <div class="col-md-12 vertical-center">
                                    <div class="col-md-12 colpadding0 text-right">
                                        <a class="btn btn-primary" href="/#" id="btnAddBodyCorpAsPartner"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New Partner</a>
                                    </div>
                                </div>
                            </div>
                            @* End  *@

                            <div class="row colpadding0 mt30">
                                <div class="col-md-12 colpadding0">
                                    @Html.AntiForgeryToken()

                                    @(Html.Kendo().Grid<BM_ManegmentServices.VM.VMShareholding>()
                                    .Name("gridKendo")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(o => o.Member_Name).Title("Name").Filterable(ftb => ftb.Multi(true).Search(true)).Width("30%");
                                        columns.Bound(o => o.NatureofIntrest).Title("Nature of Interest").Filterable(ftb => ftb.Multi(true).Search(true)).Width("20%");
                                        columns.Bound(o => o.Designation).ClientTemplate("<div  class=\"forTooltipscomsortdis\">#:getTheSubstringofDesi(data.Designation,20)#</div>").Title("Type").Filterable(ftb => ftb.Multi(true).Search(true)).Width("10%"); ;
                                        //columns.Bound(o => o.PAN).Title("PAN").HtmlAttributes(new { @style = "width:10%" }).Filterable(ftb => ftb.Multi(true).Search(true));
                                        //columns.Bound(o => o.DPIN).Title("DPIN").HtmlAttributes(new { @style = "width:10%" }).Filterable(ftb => ftb.Multi(true).Search(true));
                                        columns.Bound(o => o.Contribution_Obligation).Title("Obligation").Filterable(ftb => ftb.Multi(true).Search(true)).Width("10%"); ;
                                        columns.Bound(o => o.Contribution_Received).Title("Accounted").Filterable(ftb => ftb.Multi(true).Search(true)).Width("10%"); ;
                                        columns.Bound(o => o.perofHolding).Title("Holding(%)").Filterable(ftb => ftb.Multi(true).Search(true)).Width("10%"); ;
                                        columns.Command(command =>
                                        {
                                            command.Custom("Edit").Click("EditPartnerNew").HtmlAttributes(new { @class = "k-grid-edit hoverCircle" });
                                            //command.Custom("Edit").Click("EditContribution").HtmlAttributes(new { @class = "k-grid-edit hoverCircle" });
                                        }).Title("Action").HtmlAttributes(new { @style = "width:10%" });
                                    })
                                    .EnableCustomBinding(true)
                                    .Events(e => e.DataBound("onRowBound"))
                                    .Navigatable()
                                    .Pageable(pageable => pageable
                                    .Refresh(false)
                                    .PageSizes(true)
                                    .ButtonCount(5))
                                    .Filterable()
                                    .Sortable()
                                    .Reorderable(reorderable => reorderable.Columns(true))
                                    .Resizable(resizable => resizable.Columns(true))
                                    .ColumnMenu()
                                    .DataSource(dataSource => dataSource
                                    .WebApi()
                                    //.Ajax()
                                    .PageSize(20)
                                    //.ServerOperation(false)
                                    .Model(model =>
                                    {
                                        model.Id(o => o.Id);
                                    })
                                    .Read(read => read.Url("/api/ShareholdingMasterAPI/GetPartnerSharesList").Data("getEntityId").Type(HttpVerbs.Get))
                                    .Events(events => events.Sync("sync_handler"))).HtmlAttributes(new { @style = "width:100%" }))
                                </div>
                            </div>

                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="bodycorp">
                            <div class="row master-Headre">
                                <div class="col-md-12 vertical-center">
                                    <div class="col-md-12 colpadding0 text-right">
                                        <a class="btn btn-primary" href="/#" id="btnAddBodyCorp" ><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row colpadding0 mt30">
                                <div class="col-md-12 colpadding0">
                                    @Html.AntiForgeryToken()

                                    @(Html.Kendo().Grid<BM_ManegmentServices.VM.Body_CorporateVM>()
                                    .Name("gridKendoBodyCorp")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(o => o.Type).Title("Type").Filterable(ftb => ftb.Multi(true).Search(true)).Width("10%");
                                        columns.Bound(o => o.Name).Title("Name").Filterable(ftb => ftb.Multi(true).Search(true)).Width("30%");
                                        columns.Bound(o => o.CIN_FCRN).Title("CIN_FCRN").Filterable(ftb => ftb.Multi(true).Search(true)).Width("20%");
                                        columns.Bound(o => o.PANOfBodyCorporate).Title("PAN").Filterable(ftb => ftb.Multi(true).Search(true)).Width("10%");
                                        columns.Command(command =>
                                        {
                                            command.Custom("Edit").Click("editBodyCorporateDetails").HtmlAttributes(new { @class = "k-grid-edit hoverCircle" });
                                        }).Title("Action").HtmlAttributes(new { @style = "width:10%" });
                                    })
                                    //.EnableCustomBinding(true)
                                    .Events(e => e.DataBound("onRowBoundBodyCorp"))
                                    .Navigatable()
                                    .Pageable(pageable => pageable
                                    .Refresh(false)
                                    .PageSizes(true)
                                    .ButtonCount(5))
                                    .Filterable()
                                    .Sortable()
                                    .Reorderable(reorderable => reorderable.Columns(true))
                                    .Resizable(resizable => resizable.Columns(true))
                                    .ColumnMenu()
                                    .DataSource(dataSource => dataSource
                                    .WebApi()
                                    //.Ajax()
                                    .PageSize(20)
                                    //.ServerOperation(false)
                                    .Model(model =>
                                    {
                                        model.Id(o => o.Id);
                                    })
                                    .Read(read => read.Url("/api/DirectorMasterAPI/GetBodyCorporateList").Type(HttpVerbs.Get))
                                    //.Events(events => events.Sync("sync_handler"))
                                    ).HtmlAttributes(new { @style = "width:100%" }))
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>


        <div class="row colpadding0 mt30 hidden">
            <div class="col-md-12 colpadding0">
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("GetEntityDtls", "EntityMaster")';return false;">Back</button>
            </div>
        </div>
    </div>
</div>

@(Html.Kendo().Window()
    .Name("popforsharholder")
    .Title("Add - ShareHolding")
    .Visible(false)
    .Modal(true)
    //.Draggable(true)
    .Scrollable(true)
    @*.Events(e => e.Open("adjustSize"))
        .Events(e => e.Refresh("OnRefresh")))*@
)

<div id="wndDelete">
    <h5>Are you sure you want to delete this data?</h5>
    <div class="text-center">
        <button id="yes" class="btn btn-primary">Yes</button>
        <button id="no" class="btn btn-primary">No</button>
    </div>
</div>

@(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-edit")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Edit"))

@(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-delete")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Delete"))

<script>
    var wndDelete;
    $(document).ready(function () {
        wndDelete = $("#wndDelete").kendoWindow({
            title: "Delete confirmation",
            modal: true,
            visible: false,
            resizable: false,
            width: 300
        }).data("kendoWindow");

        var breadCrumbData = [
            {
                displayText: "Entity",
                navigateUrl: "/BM_Management/EntityMaster/GetEntityDtls",
            }, {
                displayText: "Partner",
                navigateUrl: "#",
            },
        ];

        setBreadCrumb(breadCrumbData);
    });

    function DeleteShareholding(e) {
        debugger;
        e.preventDefault();

        var grid = this;
        var row = $(e.currentTarget).closest("tr");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.Id;
        wndDelete.center().open();
        $("#yes").click(function () {
            Delete(id)
            grid.removeRow(row);
            wndDelete.close();
        });

        $("#no").click(function () {
            wndDelete.close();
        });
    }

    function Delete(id) {
        $.ajax({
            url: "/api/ShareholdingMasterAPI/DeleteShareHolding?Id=" + id,
            method: "DELETE",
            success: function () {
                alert("Deleted Successfully");
                $('#gridKendo').data('kendoGrid').dataSource.read();
                $('#gridKendo').data('kendoGrid').refresh();
            }
        });
    }

    function sync_handler(e) {
        this.read();
    }





    function Onshareholdingsuccess() {
        var wnd = $("#popforsharholder").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
        $('#Equity').prop('disabled', false);
        $('#mytab a:last').show();
    }

    function OnRefreshe() {
        var wnd = $("#popforsharholder").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function getEntityId() {
        return {
            EntityId: "@Model.EntityID"
        };
    }

    $(document).ready(function () {

        $("#dpbecomingmember_Date").removeAttr("data-val-date");
        $("#dpDOB_minor").removeAttr("data-val-date");
        $("#dpdeclaration_Date_under89").removeAttr("data-val-date");
        $("#dpCessation_Membership_Date").removeAttr("data-val-date");
        $("#dpNomination_Date_Receipt").removeAttr("data-val-date");

        if ($("#dpbecomingmember_Date").val() == "01/01/0001") {
            $("#DateOfBdpbecomingmember_Dateirth").val('');
        }

        if ($("#dpDOB_minor").val() == "01/01/0001") {
            $("#dpDOB_minor").val('');
        }

        if ($("#dpdeclaration_Date_under89").val() == "01/01/0001") {
            $("#dpdeclaration_Date_under89").val('');
        }

        if ($("#dpCessation_Membership_Date").val() == "01/01/0001") {
            $("#dpCessation_Membership_Date").val('');
        }

        if ($("#dpNomination_Date_Receipt").val() == "01/01/0001") {
            $("#dpNomination_Date_Receipt").val('');
        }
    });

    $(document).on("change", "input[name='IsMemberMinnor']", function () {

        var mimeType = document.getElementById("txtGuardian_Name");
        var mimeTypes = document.getElementById("dpDOB_minor");
        if (this.value == "True") {
            mimeType.setAttribute("required", "required");
            mimeTypes.setAttribute("required", "required");
            document.getElementById('MemberinMinor').style.display = 'block';
            $("#spanGardianName").text("*");
            $("#spanDOB").text("*");
        }
        else {
            mimeType.removeAttribute("required");
            mimeTypes.removeAttribute("required");
            document.getElementById('MemberinMinor').style.display = 'none';
            $("#spanGardianName").text("");
            $("#spanDOB").text("");
        }
    });

    $(document).on("change", "input[name='IsDirector']", function () {

        var MemberType = document.getElementById("DIVMember");
        var DirectorType = document.getElementById("DIVDirector");
        if (this.value == "True") {
            //mimeType.setAttribute("required", "required");
            //mimeTypes.setAttribute("required", "required");
            document.getElementById("DIVMember").style.display = 'none';
            document.getElementById("DIVDirector").style.display = 'block';
            //$("#spanGardianName").text("*");
            //$("#spanDOB").text("*");
        }
        else {
            //mimeType.removeAttribute("required");
            //mimeTypes.removeAttribute("required");
            document.getElementById("DIVMember").style.display = 'block';
            document.getElementById("DIVDirector").style.display = 'none';
            //$("#spanGardianName").text("");
            //$("#spanDOB").text("");
        }
    });
</script>

<script>

    function filterChange(e) {
        debugger;
        var filter = { logic: 'and', filters: [] };

        //var t = $('#filter');
        //if (t.val() != "") {
        //    filter.filters.push({ logic: "or", field: "Follio_No", operator: "contains", value: t.val() });
        //    filter.filters.push({ logic: "or", field: "Member_Name", operator: "contains", value: t.val() });
        //    filter.filters.push({ logic: "or", field: "EmailId", operator: "contains", value: t.val() });
        //    filter.filters.push({ logic: "or", field: "Tot_SharesHeld", operator: "contains", value: t.val() });
        //}

        var txtSearch = $('#filterSearch');
        if (txtSearch.val() != "") {
            var splittedData = txtSearch.val().trim().split(",");

            for (var i = 0; i < splittedData.length; i++) {
                if (splittedData[i].trim() != "") {
                    filter.filters.push({ logic: "or", field: "Follio_No", operator: "contains", value: t.val() });
                    filter.filters.push({ logic: "or", field: "Member_Name", operator: "contains", value: t.val() });
                    filter.filters.push({ logic: "or", field: "EmailId", operator: "contains", value: t.val() });
                    filter.filters.push({ logic: "or", field: "Tot_SharesHeld", operator: "contains", value: t.val() });
                    filter.filters.push({ logic: "or", field: "perofTotShareHolding", operator: "contains", value: t.val() });
                }
            }
        }

        var grid = $("#gridKendo").data("kendoGrid");
        grid.dataSource.filter(filter);

        if (filter != null) {
            $("#clearfillter").show();
        } else {
            $("#clearfillter").hide();
        }
    }

    function clearfilter(e) {
        var txtStartPeriod = $("#filter").val();

        if (txtStartPeriod != null && txtStartPeriod != undefined) {
            $("#filter").val("");
        }

        $('#clearfillter').css('display', 'none');

        $("#gridKendo").data("kendoGrid").dataSource.filter({});
    }
</script>

<script>
    function InputToUpper(obj) {
        if (obj.value != "") {
            obj.value = obj.value.toUpperCase();
        }
    }

    function BindAutoComplete() {
        var autoCompleteData = [];
        autoCompleteData = autoCompleteData.concat(GetGridColumnValues('gridKendo', 'Follio_No'));
        autoCompleteData = autoCompleteData.concat(GetGridColumnValues('gridKendo', 'Member_Name'));
        autoCompleteData = autoCompleteData.concat(GetGridColumnValues('gridKendo', 'EmailId'));
        autoCompleteData = autoCompleteData.concat(GetGridColumnValues('gridKendo', 'Tot_SharesHeld'));
        autoCompleteData = autoCompleteData.concat(GetGridColumnValues('gridKendo', 'perofTotShareHolding'));

        if (autoCompleteData != null && autoCompleteData != undefined) {
            $("#filterSearch").kendoAutoComplete({
                dataSource: autoCompleteData,
                filter: "contains",
                placeholder: "Search by Folio Number/Member",
                separator: ", ",
                change: AutoComplete_onChange,
            });
        }
    }

    function AutoComplete_onChange() {
        filterChange();
    }

    function getRatingTooltip(e) {
        var dataItem = $("#gridKendo").data("kendoGrid").dataItem(e.target.closest("tr"));
        var content = dataItem.Designation;
        return content;
    }
</script>