﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.MeetingForm

@{
    ViewBag.Title = "MeetingForm";
    Layout = "~/Areas/BM_Management/Views/Shared/BM_layout.cshtml";
}

<script>
    function onRowBound()
    {
        GetICons();
    }
</script>
<div class="row Dashboard-white-widget">
    <div class="dashboard">
        <div class="container colpadding0">
            <div class="row colpadding0">
                <div class="col-md-12 colpadding0">
                    @(Html.Kendo().Grid<BM_ManegmentServices.VM.VM_FormTemplet>()
        .Name("gridKendoForm")

        .Columns(columns =>
        {
            columns.Bound(o => o.FormId).Visible(false);
            columns.Bound(o => o.FormName).HtmlAttributes(new { @style = "width:90%" });

            columns.Command(commnd =>
            {
                commnd.Custom("D").HtmlAttributes(new { @class = "" });
                //.Click("CreateNew")
            }).Title("Action").HtmlAttributes(new { @style = "width:10%" });
        })

         .ToolBar(toolbar =>
         {
         toolbar.Template(@<text>
                        <div class="">
                            <a class="k-grid-add k-button k-button-icontext" id="AddFormTemplate" onclick="OpenAddnewFormTemplate(this)" title="Add New"><span class="k-icon k-add k-i-plus-outline"></span>New</a>
                        </div>

                </text>);
         })
         
             .Events(e => e.DataBound("onRowBound"))
             .Navigatable()
             .DataSource(dataSource => dataSource
             .WebApi()
             .ServerOperation(false)
              .Model(model =>
              {
                  model.Id(o => o.FormId);
              })
            .Read(read => read.Url("/api/FormAPI/GetMeetingFormTemplate?MeetingId=" + Model.MeetingId).Type(HttpVerbs.Get))
                       ))
                </div>
            </div>
        </div>
    </div>
</div>

