﻿@using Kendo.Mvc.UI;
@model IEnumerable<BM_ManegmentServices.VM.MeetingAgendaSummary>
<div class="row colpadding0" id="divAgendaSummaryList">
    <div class="col-md-12 colpadding0">
        <script>
            $("#tblagendaSummary thead tr").each(function () {

                if ($(this).find("th:last-child")[0].innerText == "Action") {
                    $(this).hide();
                }
            });


            $(document).ready(function() {
                $(".divisvoting").kendoTooltip({ content: "Edit Voting" });
            });
            $(document).ready(function() {
                $(".divisNoting").kendoTooltip({ content: "Edit Noting" });
                var dateval=$("#Datepicker").val();
                $("#Datepickercon").val(dateval);
            });
        </script>

        @{
            int i = 1;
        }
        @if (Model != null)
        {
            if ((ViewBag.CheckagendaForMeeting.Count > 0))
            {
                <div class="row colpadding0">
                    <div class="col-md-12 colpadding0">
                        <span style="color:red"><b>Note: Please Cover all agenda</b></span>
                    </div>
                </div>
            }

            <div class="row colpadding0">
                <div class="col-md-12 colpadding0">
                    <div style="max-height:450px;overflow-y:auto">
                        <table id="tblagendaSummary" class="table table-hover" style="width:100%;overflow:hidden">
                            <thead>
                                <tr>
                                    <th style="width:5%">
                                        Sr.no
                                    </th>
                                    <th style="width:45%">
                                        Agenda
                                    </th>
                                    <th style="width:20%">
                                        Result
                                    </th>


                                    <th style="width:10%">
                                        Action
                                    </th>


                                </tr>
                            </thead>
                            @foreach (var items in Model)
                {
                            <tbody>

                                <tr>
                                    <td style="width:5%"> @i </td>


                                    <td style="width:80%"> @Html.Raw(items.AgendaFormate) </td>


                                    <td style="width:10%"> @items.AgendaResponseResult </td>
                                    @if (items.MeetingTypeID != 11)
                            {

                                if (items.Isvooting)
                                {
                                    <td style="width:5%">
                                     <a  class="k-grid-Edit k-grid-edit divisvoting"  style="border-radius:25px;min-width:10px;" onclick="openVotingPaper(@items.MeetingId,@items.AgendaId ,@items.MeetingAgendaMappingId)"><span class=""><img src="/Areas/BM_Management/img/Edit.png"></span>
                                        </a>
                                       @* <a role="button" class="k-grid-Edit k-grid-edit hoverCircle k-grid-button" href="#"><span class=""><img src="/Areas/BM_Management/img/Edit.png"></span></a>*@
                                    </td>
                                }
                                else
                                {
                                    <td style="width:5%">
                                    
                                     <a  class="k-grid-Edit k-grid-edit divisNoting"  style="border-radius:25px;min-width:10px;" onclick="openNotingPaper(@items.MeetingId,@items.AgendaId, @items.MeetingAgendaMappingId)"><span class=""><img src="/Areas/BM_Management/img/Edit.png"></span>
                                        
                                        </a>
                                    
                                    </td>
                                }
                            }
                                </tr>
                            </tbody>
                    ++i;
                }
                        </table>
                    </div>
                </div>
            </div>
            if (ViewBag.CheckagendaForMeeting.Count == 0)
            {
            <div class="row colpadding0">
                <div class="col-md-12">
                    <p style="color:black"><strong>Note:</strong><b> Please confirm meeting  date and time before concluding the meeting.</b></p>
                </div>
            </div>
            <div class="row colpadding0 mt30">
                <div class="col-md-12">

                    <div class="col-md-2 colpadding0">
                        <label>Meeting Date</label>
                        @(Html.Kendo().DatePicker()
                                        .Name("Model.startstopeDateVM.StartDate")
                                        .Format("dd/MM/yyyy")
                                        .Enable(false)
                                       // .Events(m=>m.Change("ConcludeMeetingDatechanges"))
                                        .HtmlAttributes(new { style = "width: 95%", title = "datepicker", @Id = "Datepickercon", @onchange = "checkDate(this)" }))
                    </div>
                    <div class="col-md-2 colpadding0">
                        <label>Concluded Time</label>
                        @(Html.Kendo().TimePicker()
                                                .Name("Model.startstopeDateVM.StartTime")
                                                .Format("hh:mm tt").Min("9:00 AM").Max("8:30 AM")
                                                .Events(m=>m.Change("ConcludingMeetingTimechange"))
                                                .HtmlAttributes(new { style = "width: 90%", title = "timepickercon", @Id = "TimePickercon" }))
                    </div>
                    <div class="col-md-10"></div>
                </div>
            </div>
            }
            <div class="row colpadding0 mt30">
                <div class="col-md-12 colpadding0" style="text-align: center;">
                    @*<div class="col-md-2 colpadding0">*@
                    <button type="button" id="btnconcludeMeeting" class="k-primary k-button k-grid-update k-button-icontext" onclick="btnConcludeMeeting(@ViewBag.Meetingid)" @(ViewBag.CheckagendaForMeeting.Count > 0 ? "disabled" : "")>Conclude</button>

                    @*</div>*@
                </div>
            </div>

        }
    </div>
</div>
<style>
    .k-grid-edit {
        border-radius: 25px;
        height: 33px;
        width: 35px;
        padding: 5px 0px 0px 0px;
        overflow: hidden;
    }

    .k-grid-content {
        overflow: hidden;
    }
    /*#tblagendaSummary .k-grid, .k-grid *   { border: 0 !important; }*/
</style>

<script>
    //$(document).ready(function () {
    //    $("#tblagendaSummary").kendoGrid({
    //        //height: 550,
    //        //sortable: true
    //    });
    //});
</script>