﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.MainMeeting_VM

@{
    string strHideAction = "hidden";
    if (com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role == "HDCS" || com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role == "CS")
    {
        strHideAction = "";
    }
}
<style>
    h3, .h3 {
        color: #000;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
    }

    #gridAgendaVoting tr {
        height: 40px;
    }
</style>


<style>
    #tooltip {
        /*background-color: #EEE;
    display: inline-block;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border: 1px solid;
    border-color: #3333FF;
    border-radius: 15px;*/
        display: none;
    }

    .k-edit-buttons {
        height: 43px;
        text-align: center;
    }
</style>
@*onmouseup="GetSelectedText ()"*@
@(Html.Kendo().Window().Name("wndAgendaDocumentsViewer1").Title("Viewer").Visible(false).Modal(true).Draggable(true).Pinned(true).Scrollable(true))

<div class="container" id="longtext">
    @if (Model != null)
    {

        if (Model.IsVooting == true)
        {
            <button type="button" id="btnnotingvotin" class="k-button k-grid-update k-button-icontext" style="position: fixed; bottom: 60%; left: 95%;" onclick="openVotingPaper(@Model.MeetingId,@Model.AgendaId,@Model.MeetingAgendaMappingID)">Vote</button>
        }
        else if (Model.IsVooting == false)
        {
            <button type="button" id="btnnoting" class="k-button k-grid-update k-button-icontext" style="position: fixed; bottom: 60%; left: 95%;" onclick="openNotingPaper(@Model.MeetingId,@Model.AgendaId,@Model.MeetingAgendaMappingID)">Note</button>
        }
        if (Model.lstPreCommitteeAgendaResult != null)
        {
            <div class="row colpadding0">
                <div class="col-md-12 colpadding0">
                    <ul>
                        @foreach (var items in Model.lstPreCommitteeAgendaResult)
                        {
                            if (items.Result == "A")
                            {
                                <li>
                                    <p style="color:green"> @items.PreCommittee has been recommended the proposal for the approval of the Board.</p>
                                </li>
                            }
                            else if (items.Result == "D")
                            {
                                <li>
                                    <p style="color:red"> @items.PreCommittee does not recommended the proposal.</p>
                                </li>
                            }
                            else if (items.Result == "-")
                            {
                                <li>
                                    <p style="color:red"> @items.PreCommittee has been @items.ResultRemark the proposal.</p>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <p style="color:red"> @items.ResultRemark in @items.PreCommittee.</p>
                                </li>
                            }

                        }
                    </ul>
                </div>
            </div>
        }

    }
    <button type="button" id="btnTask" class="k-button k-grid-update k-button-icontext" style="position: fixed; bottom: 45%; left: 95%;" onclick="openMeetingTask(@Model.MeetingId,@Model.AgendaId,@Model.EntityId)">Task</button>
    <button type="button" id="btnNotes" class="k-button k-grid-update k-button-icontext hidden" style="position: fixed; bottom: 44%; left: 95%;" onclick="openMeetingNotes(@Model.MeetingId,@Model.AgendaId)">Notes</button>
    
    <div class="row colpadding0">
        <div class="col-md-12 colpadding0">
            @if (Model != null)
            {
                <div class="col-md-12 colpadding0">
                    <table class="col-md-12">
                        <tr class="col-md-12">
                            <td style="vertical-align:top;">
                                @*<h4 style="color: #000000;font-weight: bold;font-size: 24px;">@Model.SrNo.</h4>*@
                            </td>
                            <td class="col-md-11 colpadding0"><h4 style="color: #000000;font-weight: bold;font-size: 24px;line-height: 30px">@Html.Raw(Model.MeetingAgenda)</h4></td>
                            <td class="col-md-1 colpadding0">
                                <a onclick="OpenAgendaRelatedDocuments(@Model.MeetingAgendaMappingID)" id="viewDocument" style="float:right"><img src="~/Areas/BM_Management/img/Document.png" /></a>
                                @if (Model.TemplateFieldEditable == true)
                                {
                                    <a id="btnTemplateField" class="k-button k-grid-edit" href="#" style="border-radius:25px;float:right" onclick="AgendaItemsEditTemplateFields(@Model.MeetingId, @Model.AgendaId, @Model.MeetingAgendaMappingID, '@Html.Raw(Model.MeetingAgenda)')">T</a>

                                    @(Html.Kendo().Tooltip().For("#btnTemplateField").Position(TooltipPosition.Top).AutoHide(true).Content("Change Template Field Data").Width(120))
                                }
                            </td>
                        </tr>
                        <tr class="col-md-12">
                            <td></td>
                            <td class="col-md-11 colpadding0">
                                <div id="divAgendaformte">
                                    @Html.Raw(Model.AgendaFormate)
                                </div>
                            </td>
                            <td class="col-md-1 colpadding0">
                            </td>
                        </tr>
                        @if (Model.DraftResolution != null)
                        {
                            <tr class="col-md-12">
                                <td></td>
                                <td class="col-md-11 colpadding0">
                                    <div id="divAgendaformte">
                                        @Html.Raw(Model.DraftResolution)
                                    </div>
                                </td>
                                <td class="col-md-1 colpadding0" style="vertical-align:top;">
                                    <a class="@strHideAction" onclick="OpenResolutionView(@Model.MeetingId,@Model.MeetingAgendaMappingID)" id="EditResolution" style="float:right"><img src="~/Areas/BM_Management/img/Edit.png" /></a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            }
        </div>
    </div>

    @*<div class="row colpadding0 mt30">
        <div class="col-md-12 colpadding0">
            <div class="col-md-6 colpadding0">
                <a href="" onclick="OpenAgendaRelatedDocuments(@Model.Meeting,@Model.AgendaId)"><img src="~/Images/eyedoc.png" /></a>
                <label>View document</label>
            </div>
        </div>
    </div>*@
</div>
@*<button type="button" id='addBtn' class="btn"></button>*@
<div id="tooltip" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error">

    <span id='selTxt' type="text" style="display:none"></span>
    <i id='addBtn' class="icon_document" style="color:#3b76bb;font-size: 1.4rem;cursor:pointer"></i>

    @*<span data-tooltip="Create Note" data-tooltip-pos="top" id='addBtn'><i data-action="CreateNote" ></i></span>*@
    <div class="k-callout k-callout-n"></div>
</div>
@(Html.Kendo().Window().Name("wndAgendaNotes").Title("Notes").Visible(false).Modal(true).Draggable(true).Scrollable(false).Pinned(true))


<style>
    .k-callout-n {
        top: 100%;
        left: 40%;
        transform: rotate(181deg);
    }

    .k-widget.k-tooltip-validation {
        border-color: #6edbe3;
        background-color: #6edbe3;
        color: #000;
        width: 5%;
    }

    .k-tooltip-validation .k-callout-n {
        border-bottom-color: #6edbe3;
    }
</style>

<script type="text/javascript">
    $('#addBtn').kendoTooltip({
        position: "top",
        content: "Create Notes"
    });
    $('#longtext').mouseup(function (e) {

        var selText = "";
        if (window.getSelection) {  // all browsers, except IE before version 9
            if (document.activeElement &&
                    (document.activeElement.tagName.toLowerCase() == "textarea" ||
                     document.activeElement.tagName.toLowerCase() == "input")) {
                var text = document.activeElement.value;
                selText = text.substring(document.activeElement.selectionStart,
                                          document.activeElement.selectionEnd);
            }
            else {
                var selRange = window.getSelection();
                selText = selRange.toString();
            }
        }
        else {
            if (document.selection.createRange) {       // Internet Explorer
                var range = document.selection.createRange();
                selText = range.text;
            }
        }

        if (selText !== "") {
            //alert(selText);
            $('#selTxt').text(selText);
            var x = e.pageX;
            var y = e.pageY;
            placeTooltip(x, y);
            $("#tooltip").show();
        }
    });
    //$(window).click(function(e) {
    //    $("#tooltip").hide();
    //});
    $("#addBtn").click(function () {

        var NotesTitle = $('#tooltip span').text()
        $("#wndAgendaNotes").attr("style", "min-height:100px;");

        @*var direction = "OpenAgendaSummary?MeetingId=" +@Model.MeetingId;*@
        var direction = "@Url.Action("AddNotes", "Notes")?Id=" +0+ "&MeetingId=" + @Model.MeetingId + "&AgendaId=" +@Model.AgendaId +"&NotesTitle=" + NotesTitle;

        var wnd = $("#wndAgendaNotes").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndAgendaNotes").kendoWindow({
            actions: ["Close"],
            content: direction,
            width: "50%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            open: function () { kendo.ui.progress(this.element, true); },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            }
        }).data("kendoWindow");
        opts.width = "50%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
        $("#tooltip").hide();
    });

    function placeTooltip(x_pos, y_pos) {

        $("#tooltip").css({
            top: (y_pos - 260) + 'px',
            left: (x_pos - 220) + 'px',
            position: 'absolute'
        });
    }

    function OpenAgendaRelatedDocuments(MappingId)
    {

        debugger;
        //var direction = "@Url.Content("~/Areas_Secretarial/AgendaDocsViewer.aspx")" + "?Agendadocurl=" + MappingId;
        var direction = "@Url.Action("AgendaDocuments", "Meetings")" + "?MeetingAgendaMappingID=" + MappingId;

        //var titleFile = dataItem.FileName;
        $("#wndAgendaDocumentsViewer1").kendoWindow({
            title: "Agenda Documents"
        });

        $("#wndAgendaDocumentsViewer1").attr("style", "min-height:100px;");

        var wnd = $("#wndAgendaDocumentsViewer1").data("kendoWindow");
            var opts = wnd.options;

            wnd = $("#wndAgendaDocumentsViewer1").kendoWindow({
                actions: ["Close"],
                content: direction,
                visible: false,
                modal: true,
               // iFrame :true,
                refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
                open: function () { kendo.ui.progress(this.element, true); },
                close: function (e) {
                    $(this.element).empty();
                    $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                }
            }).data("kendoWindow");

            opts.width = "55%";
            wnd.setOptions(opts);
            wnd.center();
            wnd.open();
    }

    $('#wndAgendaDocumentsViewer1').parent().find('.k-window-titlebar,.k-window-actions').css('backgroundColor', '#f7f7f7');



    function openCTCTemplet(MeetingId,AgendaId)
    {

    }

</script>

<script>
    $(document).ready(function () {
        $("#EditResolution").kendoTooltip({
            content: "Resolution",
            position: "top"
        });
    });

    $(document).ready(function () {
        $("#viewDocument").kendoTooltip({
            content: "View Document",
            position: "top"
        });
    });

</script>
