﻿@using Kendo.Mvc.UI;
@model long

<script>
    function setDataItemforAGM(item) {

        var grid = $("#gridAGMVoting").data("kendoGrid");
        var row = $(item).closest("tr");
        var dataItem = grid.dataItem(row);

        if ($(item).val() == "A") {
            dataItem.VotingResponse = "A";
        } else if ($(item).val() == "D") {
            dataItem.VotingResponse = "D";
        }

        dataItem.dirty = true;

        var AGMVoting = { AgendaMappingID: dataItem.AgendaMappingID, MeetingId: dataItem.MeetingID, AgendaId: dataItem.AgendaId, VotingResponse: dataItem.VotingResponse, PoposedBy: dataItem.PoposedBy, SecondedBy: dataItem.SecondedBy }
        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateAGMAgendaResponse", "MainMeeting")',
            data: AGMVoting,
            dataType: "json",
            cache: false,
            success: function (data) {
                alert(data.VotingResponse);
            }
        });
    }

    function setDataItemProposedBy(item) {
        var grid = $("#gridAGMVoting").data("kendoGrid");
        var row = $(item).closest("tr");
        var dataItem = grid.dataItem(row);
        dataItem.PoposedBy = $(item).val();
        dataItem.dirty = true;
    }

    function setDataItemSecondedBy(item) {
        var grid = $("#gridAGMVoting").data("kendoGrid");
        var row = $(item).closest("tr");
        var dataItem = grid.dataItem(row);
        dataItem.SecondedBy = $(item).val();
        dataItem.dirty = true;
    }

</script>

<!-- Script for Generate Grid SrNo -->
<script>
    var gridAGMRowNumber = 0;

    function resetAGMGridRowNumber(e) {
        gridAGMRowNumber = 0;
    }

    function renderAGMGridRowNumber() {
        return parseInt(++gridAGMRowNumber);
    }
</script>

<style>
    #gridAGMVoting .k-header {
        /* width: 1423px; */
        height: 33px;
        background-color: #1fd9e1;
        color: white;
    }
</style>

<div class="row colpadding0">
    <div class="col-md-12 colpadding0">
        <button type="button" id="btnPrevMeetingAttendenceagm" onclick="openAttendenceTab()" class="k-primary k-button k-grid-update k-button-icontext" style="float: right;">Back</button>
    </div>
</div>

<div id="DIVVoting" class="">
    <div class="row colpadding0">
        <div class="col-md-12 colpadding0">
            @(Html.Kendo().Grid<BM_ManegmentServices.VM.AGMVoting>()
        .Name("gridAGMVoting")
        .Columns(columns =>
        {
        //columns.Bound(p => p.MeetingID).Visible(false);
        //columns.Bound(p => p.Business_);
        columns.Template(t => { }).Title("Sr No").ClientTemplate("#= renderAGMGridRowNumber() #").Width(55);
            columns.Bound(p => p.Business_).HeaderTemplate("Business").ClientGroupHeaderTemplate("#= value == 'O' ? 'Ordinary business' : 'Special business'  #").ClientTemplate("##").Hidden();
            columns.Bound(p => p.Agenda).ClientTemplate("<div style='max-width:450px; white-space:nowrap;'>#= Agenda #</div>").Title("Agenda").Width("50%");
            columns.Bound(p => p.IsSpecialResolution).ClientTemplate("#= IsSpecialResolution == true ? 'Special' : 'Ordinary' #").Title("Resolution").Width("8%");
            columns.Bound(p => p.PoposedBy).Title("Proposed By").ClientTemplate("<input id = 'txtPoposedBy'  onchange='setDataItemProposedBy(this);' #= PoposedBy #  style='width:100%' class='k-input k-textbox' type='textbox' value='#=PoposedBy !=null?PoposedBy:''#'>").Width("10%");
            columns.Bound(p => p.SecondedBy).Title("Seconded By").ClientTemplate("<input id = 'txtSecondedBy'  onchange='setDataItemSecondedBy(this);' #= SecondedBy #  style='width:100%' class='k-input k-textbox' type='textbox' value='#=SecondedBy !=null?SecondedBy:''#'>").Width("10%");
            columns.Bound(c => c.VotingResponse).ClientTemplate(
            "<label class='container1' for='rdbApproved#=data.uid#'>Approve<input id='rdbApproved#=data.uid#' onclick = 'setDataItemforAGM(this);' name='#=data.uid#' onclick='setDataItemforAGM(this);' #= VotingResponse == 'A' ? 'checked=checked' : '' #  style='margin-left:0.5em;' type='radio' value='A'><span class='checkmark1'></span></label>" + "&nbsp; &nbsp;" +
            "<label class='container1' for='rdbDisapprove#=data.uid#'>Disapprove<input id ='rdbDisapprove#=data.uid#' onclick = 'setDataItemforAGM(this);' name = '#=data.uid#' onclick = 'setDataItemforAGM(this);' #= VotingResponse == 'D' ? 'checked=checked' : '' #  style='margin-left:0.5em;' type='radio' value='D'><span class='checkmark1'></span></label>" + "&nbsp; &nbsp;").Width("17%");

        })
        .Events(e => e.DataBound("resetAGMGridRowNumber"))
        .Editable(editable => editable.Mode(GridEditMode.InCell).CreateAt(GridInsertRowPosition.Bottom))
        .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        //.Events(e => e.RequestEnd("vottingRequestend"))
        .ServerOperation(false)
        .Read(read => read.Action("AGMVotingAgendaResponse", "MainMeeting", new { MeetingID = Model }).Type(HttpVerbs.Get))
        .Update(update => update.Action("UpdateAGMAgendaResponse", "MainMeeting"))
        .Create(update => update.Action("UpdateAGMAgendaResponse", "MainMeeting"))
                    .Model(model =>
                    {
                        model.Id(p => p.VotingResponseId);
                        model.Field(m => m.Business_).Editable(false);
                        model.Field(m => m.VotingResponse).Editable(false);
                        model.Field(m => m.Agenda).Editable(false);
                        model.Field(m => m.AgendaMappingID).Editable(false);
                        model.Field(m => m.IsOrdinaryBusiness).Editable(false);
                        model.Field(m => m.IsSpecialResolution).Editable(false);
                    })
                    .Group(groups => groups.Add(p => p.Business_))
                    //.Sort(s => s.Add(m => m.Business_).Ascending())
                    ))
        </div>
    </div>

    <div>
        <div></div>
    </div>
</div>
