﻿@using Kendo.Mvc.UI
@model BM_ManegmentServices.VM.MeetingAttendance_VM

<style>
  .tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-left > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}
</style>



@*<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>Nav Tab left Side </h3>
            <!-- tabs -->
            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
                    <li><a href="#about" data-toggle="tab">About</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <div class="">
                            @Html.Partial("_MeetingAttendance", @Model)
                        </div>
                    </div>
                    <div class="tab-pane" id="about">
                        <div class="">
                            <h1>About Tab</h1>
                            <p>because they are the most important for an encyclopedia to have, as determined by the community of participating editors. They may also be of interest to readers as an alternative to lists of overview articles.</p>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /tabs -->
        </div>
    </div>
</div>*@

<div class="container">
    <div class="row">
        <div class="col-xs-12">
          
            <!-- tabs -->
            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#home" data-toggle="tab">Attendance</a></li>
                    <li><a href="#about" data-toggle="tab">Agenda</a></li>                   
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                       <div class="">
                           @* <h1>Home Tab</h1>*@
                            <p>@Html.Partial("_MeetingAttendance", @Model)</p>
                        </div>
                    </div>
                    <div class="tab-pane" id="about">
                        <div class="">
                            <h1>About Tab</h1>
                            <p>because they are the most important for an encyclopedia to have, as determined by the community of participating editors. They may also be of interest to readers as an alternative to lists of overview articles.</p>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /tabs -->
        </div>
    </div>
</div>




