﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.AgendaVoting

<script type="text/javascript">
    function savenoting() {
        var grid = $("#gridAgendaNoting").data("kendoGrid");
        grid.saveChanges();

        var role = "@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role".toUpperCase();
        if (role == "HDCS" || role == "CS") {

        } else {    
            //refreshnotingresponse();
            setTimerForrefreshGreenTick();
        }
    }
    function setDataItemforNotedMeeting(item) {
        
        var grid = $("#gridAgendaNoting").data("kendoGrid");
        var row = $(item).closest("tr");
        var dataItem = grid.dataItem(row);
        var ID;

        if ($(item).is(":checked") == true) {
            dataItem.AgendaVotingResponse = "N";
        }
        else if ($(item).is(":checked") == false)
        {
            dataItem.AgendaVotingResponse = "";
        }
        dataItem.dirty = true;

        @*if (dataItem.AgendaVotingResponse == "N") {
       
            var AgendaVoting = { MeetingId: dataItem.MeetingId, AgendaId: dataItem.AgendaId, MeetingAgendaMappingId: dataItem.MeetingAgendaMappingId, ParticipentId: dataItem.ParticipentId, AgendaVotingResponse: dataItem.AgendaVotingResponse }
            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateMeetingAgendaResponse", "MainMeeting")',
                data: AgendaVoting,
                dataType: "json",
                cache: false,
                success: function (data) {
                    @*// $("#step1Content").load('@Url.Action("ReloadPieChart", "MainMeeting")' + '?MeetingId='+@Model.MeetingId+'&AgendaId='+@Model.AgendaId )*@
            //    }
            //});

        @*}*@
    }

</script>


<div id="DIVVoting" class="mt30">
    <div class="row colpadding0">
        <div class="col-md-12 colpadding0">
            @(Html.Kendo().Grid<BM_ManegmentServices.VM.AgendaVoting>()
.Name("gridAgendaNoting")
.Columns(columns =>
{
    columns.Bound(p => p.ParticipantName).HeaderTemplate("Participant").ClientGroupHeaderTemplate("Participant : #= value #").HtmlAttributes(new { @style = "width:20%" }); ;
    //columns.Bound(c => c.AgendaVotingResponse).ClientTemplate(" <label class='container' style='margin-left: 9 %;'>Noted<input type='checkbox' id= 'chkNoting#=data.uid#' onchange='setDataItemforNotedMeeting(this);' 'value=#=AgendaVotingResponse#   #= AgendaVotingResponse=='true' ? 'checked=checked' : '' #  #= VoingResponseId >0 ? 'disabled=disabled' : ''#><span class='checkmark'></span></label>").HtmlAttributes(new { @style = "width:40%" });

    columns.Bound(c => c.AgendaVotingResponse).HeaderTemplate("Response").ClientTemplate(" <label class='container' style='margin-left: 9 %;'>Noted<input type='checkbox' id= 'chkNoting#=data.uid#' onchange='setDataItemforNotedMeeting(this);' 'value=#=AgendaVotingResponse#   #= AgendaVotingResponse=='N' ? 'checked=checked' : '' #  #= VoingResponseId >0 ? 'disabled=disabled' : ''#><span class='checkmark'></span></label>").HtmlAttributes(new { @style = "width:40%" });
})
.Editable(editable => editable.Mode(GridEditMode.InCell).CreateAt(GridInsertRowPosition.Bottom))
.DataSource(dataSource => dataSource
.Ajax()
.Batch(true)
.Events(e => e.RequestEnd("nottingRequestend"))
.ServerOperation(false)
.Read(read => read.Action("MeetingVotingAgendaResponse", "MainMeeting", new { MeetingID = Model.MeetingId, AgendaId = Model.AgendaId, MappingId = Model.MeetingAgendaMappingId }).Type(HttpVerbs.Get))
.Update(update => update.Action("UpdateMeetingAgendaResponse", "MainMeeting"))
.Create(update => update.Action("UpdateMeetingAgendaResponse", "MainMeeting"))
            .Model(model =>
            {
                model.Id(p => p.VoingResponseId);
                model.Field(p => p.ParticipentId).Editable(false);
                model.Field(p => p.MeetingId).Editable(false);
                model.Field(p => p.MeetingAgendaMappingId).Editable(false);
                model.Field(p => p.AgendaId).Editable(false);
                model.Field(p => p.AgendaVotingResponse).Editable(false);
                model.Field(p => p.Agenda).Editable(false);
                model.Field(p => p.Remark).Editable(false);
                model.Field(p => p.ParticipantName).Editable(false);
            })
            ))
        </div>
    </div>

    <div class="row col-md-12 colpadding0 mt30 text-center" >
        <button type="submit" id="saveNotting" class="btn btn-primary" onclick="savenoting()">Save</button>
    </div>

</div>


