﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.MeetingCTC

<style>
    .widget {
        margin: 0 0 10px;
        padding: 0;
        background-color: #ffffff;
        border: 1px solid #e7e7e7;
        border-radius: 3px;
    }

    .mt30 {
        margin-top: 18px;
    }
    #ddlDirector
    {
        display:none;
    }
</style>
<script>
    $(document).ready(function () {
        debugger;
        $("#ddlDirector").hide();
    })
</script>

<div class="row colpadding0">
    <div class="col-md-12 colpadding0">
        <div class="col-md-3 colpadding0">
            @(Html.Kendo().DropDownListFor(m => m.DirectorId)
                .DataTextField("DirectorName")
                .DataValueField("DirectorId")
                .OptionLabel("-- Select Authorized Director--")
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Url("/api/MainMeeting/GetAuthorizedDirector?MeetingId=" + Model.MeetingId).Type(HttpVerbs.Get);
                    })
                    .ServerFiltering(true);
                })
                 .HtmlAttributes(new { style = "width: 99%", @Id = "ddlDirector", autocomplete = "off",@onchange = "SaveauthorizedDirector()"}))
        </div>

    </div>
</div>


    <div class="container" id="previewdoc" style="height:450px !important">
        @Html.Partial("_CTCPreviewDoc", Model)
    </div>


<script>
    function SaveauthorizedDirector()
    {

        var DirectorId = $("#ddlDirector").data("kendoDropDownList").value();
        var MeetingCTC = { MeetingId:@Model.MeetingId,AgendaId:@Model.AgendaId,DirectorId:DirectorId}
        $.ajax({
            type:"POST",
            cache:false,
            url:"/api/MainMeeting/SaveAuthorisedDirector",
            data:MeetingCTC,    // multiple data sent using ajax
            success: function (data) {

                $('#previewdoc').load('@Url.Action("OpenCTC", "MainMeeting")?MeetingId=' +@Model.MeetingId+ '&AgendaId=' +@Model.AgendaId);
               
            }
        });

    }
</script>