﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.AgendaVoting
<script>
    function vottingRequestend(e)
    {
        
        if(e.type=="create" || e.type=="update")
        {
            $('#gridAgendaVoting').data('kendoGrid').dataSource.read();
            $('#gridAgendaVoting').data('kendoGrid').refresh();
            alert("vote save successfully");
            $("#step1Content").load('@Url.Action("ReloadPieChart", "MainMeeting")' + '?MeetingId='+@Model.MeetingId+'&AgendaId='+@Model.AgendaId+"&MappingId="+@Model.MeetingAgendaMappingId )
            $("#divAgendaSummaryList").load('@Url.Action("OpenAgendaSummary", "MainMeeting")' + '?MeetingId=' + @Model.MeetingId)

        }
    }
    function setDataItemforMeeting(item) {
        
        var grid = $("#gridAgendaVoting").data("kendoGrid");
        var row = $(item).closest("tr");
        var dataItem = grid.dataItem(row);

        if ($(item).val() == "A") {
            dataItem.AgendaVotingResponse = "A";
        } else if ($(item).val() == "D") {
            dataItem.AgendaVotingResponse = "D";
        }
        else if ($(item).val() == "DIF") {
            dataItem.AgendaVotingResponse = "DIF";
        }
        else if ($(item).val() == "AB") {
            dataItem.AgendaVotingResponse = "AB";
        }
        dataItem.dirty = true;
        if ($(item).val() == "A") {
            
            @*var AgendaVoting = { MeetingId: dataItem.MeetingId, MeetingAgendaMappingId : dataItem.MeetingAgendaMappingId, AgendaId: dataItem.AgendaId, ParticipentId: dataItem.ParticipentId, AgendaVotingResponse: dataItem.AgendaVotingResponse, Remark: dataItem.Remark,Castingvote:dataItem.Castingvote }
            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateMeetingAgendaResponse", "MainMeeting")',
                data: AgendaVoting,
                dataType: "json",
                cache: false,
                success: function (data) {
                    $("#step1Content").load('@Url.Action("ReloadPieChart", "MainMeeting")' + '?MeetingId='+@Model.MeetingId+'&AgendaId='+@Model.AgendaId+"&MappingId="+@Model.MeetingAgendaMappingId )
                }
            });*@
        }

        else if ($(item).val() == "D" || $(item).val() == "DIF" || $(item).val() == "AB") {

            var notificationWidget = $("#notification").kendoNotification({
                autoHideAfter: 10000,
                button: true,
                hideOnClick: false,
                position: {
                    // notification popup will scroll together with the other content
                    pinned: false,
                    // the first notification popup will appear 30px from the viewport's top and right edge
                    top: 80,
                    right: 100
                },
                //templates: [{
                //    type: "myAlert",
                //    template: "<div>System alert: #= myMessage #</div>"
                //}]
            }).data("kendoNotification");
            if ($(item).val() == "D") {
                notificationWidget.show("Please Fill Reason for Disapprove");
            }
            else if ($(item).val() == "DIF") {
                notificationWidget.show("Please Fill Reason for Defer");
            }
            else if ($(item).val() == "AB") {
                notificationWidget.show("Please Fill Reason for Abstain");
            }
            //notificationWidget.show(getNotificationMessage(), "myAlert");

        }
    }

    function setDataItemforRemark(item) {
        
        var grid = $("#gridAgendaVoting").data("kendoGrid");
        var row = $(item).closest("tr");
        var dataItem = grid.dataItem(row);
        dataItem.Remark = $(item).val();
        dataItem.dirty = true;
        var AgendaVoting = { MeetingId: dataItem.MeetingId, MeetingAgendaMappingId : dataItem.MeetingAgendaMappingId, AgendaId: dataItem.AgendaId, ParticipentId: dataItem.ParticipentId, AgendaVotingResponse: dataItem.AgendaVotingResponse, Remark: dataItem.Remark,Castingvote:dataItem.Castingvote }
        @*$.ajax({
            type: "POST",
            url: '@Url.Action("UpdateMeetingAgendaResponse", "MainMeeting")',
            data: AgendaVoting,
            dataType: "json",
            cache: false,
            success: function (data) {
                $("#step1Content").load('@Url.Action("ReloadPieChart", "MainMeeting")' + '?MeetingId='+@Model.MeetingId+'&AgendaId='+@Model.AgendaId +"&MappingId="+@Model.MeetingAgendaMappingId)
            }
        });*@
    }
</script>

<script>
    $(document).ready(function () {
        $("#panelbarAgendaResponse").kendoPanelBar({
            expandMode: "single"
        });
    });
</script>
<div style="min-height:300px;overflow-y:auto">
    <div class="demo-section k-content">
        <ul class="k-widget k-panelbar k-reset k-header" id="panelbarAgendaResponse" data-role="panelbar" tabindex="0" role="menu">
            <li class="k-item k-state-default k-first k-state-active" aria-expanded="true" role="menuitem">
                <span class="k-link k-header">Voting <span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span></span>
                <span id='notification'></span>
                @{Html.RenderPartial("_MeetingAgendaVotting", Model);}
            </li>

            <li class="k-item" aria-expanded="true" role="menuitem">
                <span class="k-link k-header" id="spanAgendaItemB">Voting Summary<span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span></span>

                <div id="step1Content">
                    @{Html.RenderPartial("_MeetingAgendaSummary", Model.MeetingAgendaVM);}
                </div>
            </li>
        </ul>
    </div>
</div>