﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.MeetingCTC

<div class="row k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error">
    <div class="col-md-12">
        <div class="col-md-6" onclick="downloadinWord(@Model.MeetingId,@Model.AgendaId)">Word Formate</div>
        <div class="col-md-6" onclick="downloadinpdf(@Model.MeetingId,@Model.AgendaId)">Pdf Formate</div>
    </div>
    <div class="k-callout k-callout-n"></div>
</div>


<script>
    function downloadinWord(MeetingId,AgendaId)
    {
        //
        //e.preventDefault;
        window.location = '/BM_Management/MainMeeting/DownloadCTC?MeetingId=' + MeetingId+"&AgendaId="+AgendaId;
    }
    function downloadinpdf(MeetingId,AgendaId)
    {
        window.location = '/BM_Management/MainMeeting/DownloadCTCpdf?MeetingId=' + MeetingId + "&AgendaId=" + AgendaId;
    }
</script>