﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>

    <link href="~/Content/OwlCarousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/OwlCarousel/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Content/OwlCarousel/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Content/OwlCarousel/owl.carousel.min.js"></script>
</head>

<body>
    <div style="height:600px">

    </div>

    <section style="width: 100%; position: fixed; bottom: -0.5%; background-color: rgb(51, 51, 51); visibility: visible;">
        <div class="custom-file h-auto p-1 overflow-hidden" style="min-height:145px;" id="carouselWrapper">
            <div class="main-content">
                <div class="owl-carousel owl-theme">
                    @if (ViewBag.DetailsOfAgenda_Grid != null)
            {
                foreach (var item in ViewBag.DetailsOfAgenda_Grid)
                {
                            <div class="item">
                                <div class="box focusable thumbnail thumb-set">
                                    <div style="min-height:20px;">
                                        <a class="link-black">
                                            <h5 style="font-size: 0.75rem!important;
    overflow: hidden;
    text-overflow: ellipsis;">
                                                @item.MeetingAgenda
                                            </h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>
                <div class="owl-theme">
                    <div class="owl-controls">
                        <div class="custom-nav owl-nav"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>



