﻿@using Kendo.Mvc.UI
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;
@model BM_ManegmentServices.VM.MeetingAttendance_VM
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <!-- full calendar css-->
    <link href="~/NewCSS/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/NewCSS/bootstrap-theme.css" rel="stylesheet" />

    <link href="~/NewCSS/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <!-- Custom styles -->
    <link href="~/NewCSS/stylenew.css" rel="stylesheet" type="text/css" />
    <link href="~/NewCSS/jquery-ui-1.10.4.min.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="~/Newjs/jquery.js"></script>

    <script type="text/javascript" src="~/Newjs/jquery-ui-1.9.2.custom.min.js"></script>

    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/NewCSS/SimpleIcons.css" rel="stylesheet" />

    @Styles.Render("~/Content/2018.3.1017/css/cssKendo")
    @Scripts.Render("~/Content/2018.3.1017/js/jskendo")

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/Content/css/Kendouicss.css" rel="stylesheet" />
    <script src="~/Scripts/BM_Validation/BM-requiredIf.js"></script>
    <link href="~/Content/css/Layoutcss.css" rel="stylesheet" />
    <link href="~/Content/css/DirectorCSS.css" rel="stylesheet" />
    <link href="~/Content/css/AgendaViewer.css" rel="stylesheet" />
    <script src="~/Content/js/LayoutjsFile.js"></script>
    <!-- owl carousel -->
    <link type="text/css" href="@Url.Content("~/NewCSS/owl.carousel.css")" rel="stylesheet" />
    <!-- Custom styles -->
    <title>Meeting</title>

    <style>

        .k-grid td {
            border-style: none;
            white-space: normal;
            line-height: 2.5em !important;
        }

        .k-grid-header .k-header > .k-link, .k-header, .k-treemap-title {
            /*            color: white;*/
            color: rgba(0, 0, 0, 0.5);
        }

        .k-grid-edit {
            height: 32px;
            width: 33px;
            padding: 6px 0px 10px 0;
            /*white-space: nowrap;*/
            overflow: hidden;
            /*border-radius: 20px;*/
        }

        .k-grid-View {
            height: 32px;
            width: 33px;
            padding: 6px 0px 10px 0;
            /*white-space: nowrap;*/
            overflow: hidden;
            /*border-radius: 20px;*/
        }

        .k-grid-Download {
            height: 32px;
            width: 33px;
            padding: 6px 0px 10px 0;
            /*white-space: nowrap;*/
            overflow: hidden;
            /*border-radius: 20px;*/
        }

        #theImg1 {
            margin-top: -40%;
            margin-left: -15%;
            margin-bottom: -23%;
        }

        #theImgnotes {
            margin-top: -19%;
            margin-left: -1%;
            margin-bottom: 0%;
        }

        #theImg3 {
            margin-top: -40%;
            margin-left: -15%;
            margin-bottom: -23%;
        }

        #theImg2 {
            margin-top: -40%;
            margin-left: 3%;
            margin-bottom: -17%;
        }

        .k-grid-delete {
            height: 32px;
            width: 33px;
            padding: 5px 0px 10px 0;
            overflow: hidden;
        }

        .fieldlist {
            margin: 0 0 -2em;
            padding: 0;
        }

            .fieldlist li {
                list-style: none;
                padding-bottom: 2em;
            }

            .fieldlist label {
                display: block;
                padding-bottom: 1em;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 12px;
                color: #444;
            }

        .mt30 {
            margin-top: 18px;
        }

        .k-grid-add {
            float: right;
        }
    </style>

    <style type="text/css">
        #sidebar-small {
            /*width: 99px;
            background: #fff;
            z-index: 9999;
            display: none;*/
            width: 85px;
            /*height: 793px;*/
            box-shadow: 0px 4px 13px 0 rgba(10, 10, 10, 0.11);
            background-color: white;
        }

        .newtestcss {
            position: fixed;
            left: 248px;
            background: white;
            width: 250px !important;
            z-index: 15;
            border: 1px solid #e5e5e5;
        }

            .newtestcss > li {
                padding: 5px;
            }

        .nicescroll-rails {
            width: 11px !important;
        }

            .nicescroll-rails > div {
                width: 10px !important;
                background-color: #1FD9F7 !important;
            }

        ul.level1.gw-nav.gw-nav-list.static {
            width: 100% !important;
        }

        #CMPMenuBar a.level1 {
            margin-left: 5px;
        }

        .chosen-container .chosen-results {
            max-height: 150px !important;
        }

        ul.sidebar-menu li a {
            text-decoration: none;
            display: block;
            padding: 10px 0 10px 10px;
            font-size: 16px;
            font-weight: 300;
            outline: 0;
            transition: all .3s ease;
        }
    </style>

    <style>
        .k-grid .radio-item {
            display: inline-block;
            position: relative;
            padding: 0 6px;
            margin: 10px 0 0;
        }

            .k-grid.radio-item input[type='radio'] {
                display: none;
            }

            .k-grid.radio-item label {
                color: #666;
                font-weight: normal;
            }

                .k-grid.radio-item label:before {
                    content: " ";
                    display: inline-block;
                    position: relative;
                    top: 5px;
                    margin: 0 5px 0 0;
                    width: 20px;
                    height: 20px;
                    border-radius: 11px;
                    border: 2px solid #004c97;
                    background-color: transparent;
                }

            .k-grid.radio-item input[type=radio]:checked + label:after {
                border-radius: 11px;
                width: 12px;
                height: 12px;
                position: absolute;
                top: 9px;
                left: 10px;
                content: " ";
                display: block;
                background: #004c97;
            }
    </style>

    <style>
        .k-state-selected {
            color: #fff;
            background-color: #f3f3f3;
            border-color: #1a87cd;
        }

            .k-panelbar > li.k-state-default > .k-link.k-state-selected, .k-panelbar > li > .k-state-selected, .k-state-selected > .k-link {
                color: #515967;
            }

        .k-block, .k-draghandle, .k-grid-header, .k-grouping-header, .k-header, .k-pager-wrap, .k-toolbar, .k-treemap-tile, html .km-pane-wrapper .k-header {
            background-color: white;
            /*width: 1423px;
        height: 64px;
        background-color:aqua;*/
        }

            .k-autocomplete, .k-colorpicker, .k-combobox, .k-datepicker, .k-datetimepicker, .k-dropdown, .k-dropdowntree, .k-listbox, .k-multiselect, .k-numerictextbox, .k-selectbox, .k-textbox, .k-timepicker, .k-toolbar .k-split-button {
                position: relative;
                display: inline-block;
                width: 9.4em;
            }
    </style>

    <style>
        .container1 {
            position: relative;
            padding-left: 35px;
            /*margin-bottom: 12px;*/
            /*cursor: pointer;*/
            font-size: 14px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            /* Hide the browser's default radio button */
            .container1 input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
            }

        /* Create a custom radio button */
        .checkmark1 {
            position: absolute;
            top: 6px;
            left: 0;
            height: 17px;
            width: 17px;
            border: solid 2px #3b75bb;
            background-color: white;
            border-radius: 50%;
        }

        /* On mouse-over, add a grey background color */
        .container1:hover input ~ .checkmark1 {
            background-color: #1976d2;
        }

        /* When the radio button is checked, add a blue background */
        .container1 input:checked ~ .checkmark1 {
            background-color: white;
            border: solid 2px #1976d2;
        }

        /* Create the indicator (the dot/circle - hidden when not checked) */
        .checkmark1:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the indicator (dot/circle) when checked */
        .container1 input:checked ~ .checkmark1:after {
            display: block;
        }

        /* Style the indicator (dot/circle) */
        .container1 .checkmark1:after {
            top: 3px;
            left: 3px;
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background: #1976d2;
        }
    </style>

    <style>
        .k-primary[disabled], .k-state-disabled .k-primary, .k-state-disabled .k-primary:hover {
            color: #191818;
            border-color: #e6e6e6;
            background-color: #f1f1f1;
            cursor: not-allowed;
        }
    </style>



    <script>
        //$(document).ready(function () {
        //
        //    $("div.bhoechie-tab-menu>div.list-group>a").click(function (e) {
        //
        //        e.preventDefault();
        //        $(this).siblings('a.active').removeClass("active");
        //        $(this).addClass("active");
        //        var index = $(this).index();
        //        $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
        //        $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
        //    });
        //});

        function GetImage(did, file) {
            if (did == 0) {
                return "/Images/User-Profile-pic.png";
            }
            else {
                return "/Areas/BM_Management/Documents/Director/" + did + "/" + file;
            }
        }
    </script>

    <style>
        .wrapper {
            display: inline-block;
            width: 98%;
            margin-left: 1.8%;
        }

        p {
            color: black;
        }

        label {
            color: black;
        }

        .mt30 {
            margin-top: 2%;
        }
        /*  bhoechie tab */
        div.bhoechie-tab-container {
            z-index: 10;
            background-color: #ffffff;
            padding: 0 !important;
            border-radius: 4px;
            -moz-border-radius: 4px;
            border: 1px solid #ddd;
            /*margin-top: 20px;*/
            /*margin-left: 50px;*/
            -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
            box-shadow: 0 6px 12px rgba(0,0,0,.175);
            -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
            background-clip: padding-box;
            opacity: 0.97;
            filter: alpha(opacity=97);
        }

        div.bhoechie-tab-menu {
            padding-right: 0;
            padding-left: 0;
            padding-bottom: 0;
        }

            div.bhoechie-tab-menu div.list-group {
                margin-bottom: 0;
            }

                div.bhoechie-tab-menu div.list-group > a {
                    margin-bottom: 0;
                }

                    div.bhoechie-tab-menu div.list-group > a .glyphicon,
                    div.bhoechie-tab-menu div.list-group > a .fa {
                        color: #5A55A3;
                    }

                    div.bhoechie-tab-menu div.list-group > a:first-child {
                        border-top-right-radius: 0;
                        -moz-border-top-right-radius: 0;
                    }

                    div.bhoechie-tab-menu div.list-group > a:last-child {
                        border-bottom-right-radius: 0;
                        -moz-border-bottom-right-radius: 0;
                    }

                    div.bhoechie-tab-menu div.list-group > a.active,
                    div.bhoechie-tab-menu div.list-group > a.active .glyphicon,
                    div.bhoechie-tab-menu div.list-group > a.active .fa {
                        /*background-color: #4a92d7;
                        background-image: #5A55A3;
                        color: #ffffff;*/
                        width: 85px;
                        height: 57px;
                        opacity: 0.34;
                        border: solid 1px #eeeeee;
                        background-color: #bee3f9;
                    }

                        div.bhoechie-tab-menu div.list-group > a.active:after {
                            content: '';
                            position: absolute;
                            left: 100%;
                            top: 50%;
                            margin-top: -13px;
                            border-left: 0;
                            border-bottom: 13px solid transparent;
                            /*border-top: 13px solid transparent;
                            border-left: 10px solid #6edbe4;*/
                        }

        div.bhoechie-tab-content {
            background-color: #ffffff;
            /* border: 1px solid #eeeeee; */
            /*padding-left: 20px;
          padding-top: 10px;*/
        }

        div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
            display: none;
        }

        .list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
            z-index: 2;
            color: #fff;
            /*background-color: #007aff;*/
            border-color: #ffffff;
        }
    </style>

    <style>
        .Dashboard-white-widget {
            background: #fff;
            padding: 13px 10px 10px;
            margin-bottom: 0px;
            border-radius: 10px;
        }

        .customer-photo {
            display: inline-block;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background-size: 75px 65px;
            background-position: center center;
            vertical-align: middle;
            line-height: 32px;
            box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
            margin-left: 5px;
        }

        .customer-name {
            display: inline-block;
            vertical-align: middle;
            line-height: 32px;
            padding-left: 3px;
        }
    </style>

    <style>
        #topsection {
            width: 100%;
            height: 53px;
            box-shadow: 0px 2px 0 0 rgba(10, 10, 10, 0.04);
            background-color: white;
        }

        #topmiddlesection {
            width: 100%;
            /*height: 39px;*/
            box-shadow: 0px 2px 0 0 rgba(10, 10, 10, 0.04);
            background-color: #0076bb;
        }

        #h4bordtitle {
            font-family: CenturyGothic;
            font-size: 24px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 0.52;
            letter-spacing: normal;
            margin-left: 6%;
            color: #4e4e4e;
        }

        #MeetingClock {
            width: 100px;
            height: 20px;
            font-family: CenturyGothic;
            font-size: 24px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 0.63;
            letter-spacing: normal;
            /*text-align: center;*/
            color: #4e4e4e;
        }

        #imgattendence {
            width: 38px;
            height: 35px;
        }

        #imgagenda {
            width: 38px;
            height: 35px;
        }
    </style>

    <script>

    </script>
    <script>
        function checkDate(e) {
            if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
                e.value = '';
            }
        }

        $("#Datepicker").removeAttr("data-val-date");

        $("#Datepicker").attr("readonly", true);

        $("#Datepicker").removeAttr("data-val-date");

        if ($("#Datepicker").val() == "01/01/0001") {
            $("#Datepicker").val('');
        }

        function attendenceRequestend(e) {

            if (e.type == "create" || e.type == "update") {
                //$('#gridMeetingAttendance').data('kendoGrid').dataSource.read();
                //$('#gridMeetingAttendance').data('kendoGrid').refresh();

                //$('#gridMeetingAttendanceForAuditor').data('kendoGrid').dataSource.read();
                //$('#gridMeetingAttendanceForAuditor').data('kendoGrid').refresh();

                //$('#gridMeetingAttendanceForInvitee').data('kendoGrid').dataSource.read();
                //$('#gridMeetingAttendanceForInvitee').data('kendoGrid').refresh();

                //alert("Attendance save successfully")
                location.reload();
            }
        }

        function nottingRequestend(e) {
            if (e.type == "create" || e.type == "update") {
                $('#gridAgendaNoting').data('kendoGrid').dataSource.read();
                $('#gridAgendaNoting').data('kendoGrid').refresh();
                $("#divAgendaSummaryList").load('@Url.Action("OpenAgendaSummary", "MainMeeting")' + '?MeetingId=' + @Model.MeetingId)
                alert("Save Successfully");
            }
        }

        function getdateclock() {

            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            if (h < 10) {
                h = "0" + h
            }
            var ampm = h >= 12 ? 'PM' : 'AM';
            h = h % 12;
            h = h ? h : 12;

            if (m < 10) {
                m = "0" + m;
            }
            if (s < 10) {
                s = "0" + s;
            }

            $("#MeetingClock").html(h +":"+ m + ampm);
            setTimeout(function () {
                getdateclock()
            }, 500);
        }

        function btnStartMeeting(MeetingId) {

            var MeetingDate = kendo.toString($("#Datepicker").data("kendoDatePicker").value(), 'd');
            var MeetingTime = kendo.toString($("#TimePicker").data("kendoTimePicker").value(), 'hh:mm tt');
            var startstopeDate = { MeetingId: MeetingId, StartDate: MeetingDate, StartTime: MeetingTime }
            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveStartMeeting", "MainMeeting")',
                data: startstopeDate,
                //contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                success: function (data) {
                    if (data.startstopeDateVM.MeetingStartDate != "") {
                        document.getElementById('DivMeetingPREbuttons').style.display = 'block';
                        document.getElementById('DivMeetingSbuttons').style.display = 'none';
                        document.getElementById('DivStartMeeting').style.display = 'block';
                        getdateclock();
                    }
                    else {
                        document.getElementById('DivMeetingPREbuttons').style.display = 'none';
                        document.getElementById('DivMeetingSbuttons').style.display = 'block';
                        document.getElementById('DivStartMeeting').style.display = 'none';
                    }
                }
            })
        }

        function btnPauseMeeting(meetingId) {
            document.getElementById("DivMeetingReson").style.display = 'block';
            document.getElementById("btnEndMeeting").style.display = 'none';
        }

        function btnReasonforPause(obj, MeetingId) {
            var MeetingDate = kendo.toString($("#Datepicker").data("kendoDatePicker").value(), 'd');
            var MeetingTime = kendo.toString($("#TimePicker").data("kendoTimePicker").value(), 'hh:mm tt');
            var PauseTime = $("#MeetingClock").html();
            var ReasonforPause = obj.value;
            var startstopeDate = { MeetingId: MeetingId, StartDate: MeetingDate, StartTime: MeetingTime, PauseTime: PauseTime, ReasonforPause: ReasonforPause }

            $.ajax({
                type: "POST",
                url: '@Url.Action("SavePauseMeeting", "MainMeeting")',
                data: startstopeDate,
                //contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                success: function (result) {
                    if (result.startstopeDateVM.IsPause == true) {
                        document.getElementById("imgPause").style.display = 'none';
                        document.getElementById("imgResume").style.display = 'block';
                        document.getElementById("btnEndMeeting").style.display = 'block';
                    }
                    else if (result.startstopeDateVM.IsPause == false) {
                        document.getElementById("imgPause").style.display = 'block';
                        document.getElementById("imgResume").style.display = 'none';
                        document.getElementById("btnEndMeeting").style.display = 'none';
                    }
                }
            });
        }

        function btnResumeMeeting(MeetingId) {

            var MeetingDate = kendo.toString($("#Datepicker").data("kendoDatePicker").value(), 'd');
            var MeetingTime = kendo.toString($("#TimePicker").data("kendoTimePicker").value(), 'hh:mm tt');
            var ResumeTime = $("#MeetingClock").html();
            var startstopeDate = { MeetingId: MeetingId, StartDate: MeetingDate, StartTime: MeetingTime, ResumeTime: ResumeTime }

            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveResumeMeeting", "MainMeeting")',
                data: startstopeDate,
                dataType: "json",
                cache: false,
                success: function (data) {

                    if (data.startstopeDateVM.IsPause == true) {
                        document.getElementById("imgPause").style.display = 'none';
                        document.getElementById("imgResume").style.display = 'block';
                        document.getElementById("btnEndMeeting").style.display = 'block';
                    } else if (data.startstopeDateVM.IsPause == false) {
                        document.getElementById("imgPause").style.display = 'block';
                        document.getElementById("imgResume").style.display = 'none';
                        document.getElementById("btnEndMeeting").style.display = 'none';
                        document.getElementById("DivMeetingReson").style.display = 'none';
                        //document.getElementById("btnEndMeeting").style.display = 'block';
                    }
                }
            });
        }

        function btnEndMeeting(obj, MeetingId) {

            $("#wndAgendasummary").attr("style", "min-height:100px;");

            var direction = "OpenAgendaSummary?MeetingId=" +@Model.MeetingId;

            var wnd = $("#wndAgendasummary").data("kendoWindow");
            var opts = wnd.options;

            wnd = $("#wndAgendasummary").kendoWindow({
                actions: ["Close"],
                content: direction,
                width: "80%",
                visible: false,
                modal: true,
                refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
                open: function () { kendo.ui.progress(this.element, true); },
                close: function (e) {
                    $(this.element).empty();
                    $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                }
            }).data("kendoWindow");
            opts.width = "80%";
            wnd.setOptions(opts);
            wnd.center();
            wnd.open();
        }

        function ConcludeMeetingDatechanges(e)
        {

            var startDate = $("#Datepicker").data("kendoDatePicker");
            var endDate = $("#Datepickercon").data("kendoDatePicker");
            if (startDate.value() != '' && endDate.value() != '') {
                if (Date.parse(startDate.value()) > Date.parse(endDate.value())) {

                    endDate.value(startDate.value());
                }
            }
        }
        function ConcludingMeetingTimechange(e)
        {

            var startDate = $("#Datepicker").data("kendoDatePicker");
            var endDate = $("#Datepickercon").data("kendoDatePicker");
            var starttime = $("#TimePicker").data("kendoTimePicker");
            var endtime = $("#TimePickercon").data("kendoTimePicker");
          //  var dateMeeting = dataItem.MeetingDate;
            var d = new Date();
            var date = d.getFullYear() + "/" + (d.getMonth() + 1) + "/" + d.getDate();
            var starttime1 = new Date(starttime.value());
            var endtime1 = new Date(endtime.value());
            if (startDate.value() != '' && endDate.value() != '') {
                if ((Date.parse(startDate.value())) == (Date.parse(endDate.value())))
                {
                    if (Date.parse(starttime1) > Date.parse(endtime1))
                    {
                        endtime.value(starttime.value());
                    }
                }
            }
        }

        function btnConcludeMeetingSetTime(MeetingId){
            wndGMMeetingStage1.center().open();
        }

        function btnConcludeMeetingAGMStatge1(MeetingId){

            var MeetingDate = kendo.toString($("#Datepicker").data("kendoDatePicker").value(), 'd');
            var MeetingTime = kendo.toString($("#TimePickerAGMStage1").data("kendoTimePicker").value(), 'hh:mm tt');

            var startstopeDate = { MeetingId: MeetingId, EndDate:MeetingDate, EndTime:MeetingTime }
            if(MeetingDate!=null && MeetingTime!=null)
            {
                kendo.ui.progress(wndGMMeetingStage1.element, true);

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ConcludeMeeting", "MainMeeting")',
                    data: startstopeDate,
                    dataType: "json",
                    cache: false,
                    success: function (data) {

                        if (data != null) {
                            window.location.href = "@Url.Action("Meetings", "Meetings")";
                        }
                    },
                    error: function (response) {
                        kendo.ui.progress(wndGMMeetingStage1.element, false);
                    }
                });
            }
            else
            {
                alert("Please confirm date and time before concluding the meeting")
            }
        }

        function btnConcludeMeeting(MeetingId)
        {
            var MeetingDate = kendo.toString($("#Datepickercon").data("kendoDatePicker").value(), 'd');
            var MeetingTime = kendo.toString($("#TimePickercon").data("kendoTimePicker").value(), 'hh:mm tt');

            var startstopeDate = { MeetingId: MeetingId, EndDate:MeetingDate, EndTime:MeetingTime }
            if(MeetingDate!=null && MeetingTime!=null)
            {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ConcludeMeeting", "MainMeeting")',
                    data: startstopeDate,
                    dataType: "json",
                    cache: false,
                    success: function (data) {

                        if (data != null) {
                            window.location.href = "@Url.Action("Meetings", "Meetings")";
                        }
                    }
                });
            }
            else
            {
                alert("Please confirm date and time before concluding the meeting")
            }

        }

        function confermdatetimofCM(MeetingId)
        {
            var MeetingDate = kendo.toString($("#Datepickercon").data("kendoDatePicker").value(), 'd');
            var MeetingTime = kendo.toString($("#TimePickercon").data("kendoTimePicker").value(), 'hh:mm tt');
            //var EndDate=kendo.toString($("#TimePicker").data("kendoTimePicker").value(), 'hh:mm tt');
            //var EndTime=$("#MeetingClock").html();;
            //var startstopeDate = { MeetingId: MeetingId,EndDate:EndDate,EndTime:EndTime }
            var startstopeDate = { MeetingId: MeetingId, EndDate:MeetingDate, EndTime:MeetingTime }

            $.ajax({
                type: "POST",
                url: '@Url.Action("ConcludeMeeting", "MainMeeting")',
                data: startstopeDate,
                dataType: "json",
                cache: false,
                success: function (data) {

                    if (data != null) {
                        window.location.href = "@Url.Action("Meetings", "Meetings")";
                    }
                }
            });
        }

        function btnAdjournedMeetingDetails(MeetingId) {

            $("#wndMeetingAdjourn").attr("style", "min-height:100px;");

            var direction = "@Url.Action("GetAdjournedDetails", "MainMeeting")"+"?meetingId=" +@Model.MeetingId;

            var wnd = $("#wndMeetingAdjourn").data("kendoWindow");
            var opts = wnd.options;

            wnd = $("#wndMeetingAdjourn").kendoWindow({
                actions: ["Close"],
                content: direction,
                width: "65%",
                visible: false,
                modal: true,
                refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
                open: function () { kendo.ui.progress(this.element, true); },
                close: function (e) {
                    $(this.element).empty();
                    $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                }
            }).data("kendoWindow");
            opts.width = "65%";
            wnd.setOptions(opts);
            wnd.center();
            wnd.open();
        }

        function btnAdjournedMeeting(){
            var mDate = $("#MeetingDate_Adjourn").val();//kendo.toString($("#MeetingDate_Adjourn").data("kendoDatePicker").value(), 'd');
            var mTime = kendo.toString($("#MeetingTime").data("kendoTimePicker").value(), 'hh:mm tt');
            var endTime = kendo.toString($("#TimePicker").data("kendoTimePicker").value(), 'hh:mm tt');
            var reason = $('#ReasonOfAdjourn').val();

            var MeetingId ="@Model.MeetingId";
            var model = { MeetingAdjourn_ID: MeetingId, AdjournedTime : endTime, MeetingDate_Adjourn : mDate, MeetingTime_Adjourn : mTime, ReasonOfAdjourn : reason }

            $.ajax({
                type: "POST",
                url: '@Url.Action("Adjourned", "MainMeeting")',
                data: model,
                dataType: "json",
                cache: false,
                success: function (data) {

                    if (data != null) {
                        if (data.Success == true) {
                            window.location.href = "@Url.Action("Meetings", "Meetings")";
                        }
                        else {
                            alert(data.Message);
                        }

                    }
                }
            });
        }

        function openAgendaTab(e) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("CheckforChairmanMeeting", "MainMeeting")',
                data: {MeetingId:@Model.MeetingId},
                dataType: "json",
                cache: false,
                success: function (data)
                {
                    //false
                    debugger;
                    //if (data == "Chairman not present for this meeting !Please Elect one chairman")
                    if (data == "false")
                    {
                        alert("Chairman not Present !! Please Elect Chairman for this meeting");

                        direction = "OpenChairmanElection?MeetingId=" + "@Model.MeetingId"+"&ParticipantId="+@Model.ParticipantId;
                        var wnd = $("#PopupMeetingChairmanelection").data("kendoWindow");
                        var opts = wnd.options;
                        wnd = $("#PopupMeetingChairmanelection").kendoWindow({
                            content: direction,
                            visible: false,
                            modal: true,
                            close: function (e) {
                                $(this.element).empty();

                                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                            },
                            open: function (e) {

                                $(this.element).closest(".k-window").css("position", "fixed");
                                $(this.element).closest(".k-window").css("top", "33px")
                                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
                            }
                        }).data("kendoWindow");
                        opts.width = "30%";
                        wnd.setOptions(opts);
                        wnd.center();
                        wnd.refresh(direction);
                        wnd.open();
                    }
                    else
                    {
                        $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
                        $("div.bhoechie-tab>div.bhoechie-tab-content").next('.bhoechie-tab-content').addClass("active");
                        $("#attendencetab").removeClass("active");
                        $("#agendatab").addClass("active");
                    }
                }
            })
        }

        function openAgendaTabParticipant(e) {
            $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
            $("div.bhoechie-tab>div.bhoechie-tab-content").next('.bhoechie-tab-content').addClass("active");
            $("#attendencetab").removeClass("active");
            $("#agendatab").addClass("active");
        }

        function openAttendenceTab(){
            $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
            $("div.bhoechie-tab>div.bhoechie-tab-content").first('.bhoechie-tab-content').addClass("active");
            $("#agendatab").removeClass("active");
            $("#attendencetab").addClass("active");
        }

        function setDataItemforAttendance(item) {
            debugger;
            var grid = $("#gridMeetingAttendance").data("kendoGrid");
            var row = $(item).closest("tr");
            var dataItem = grid.dataItem(row);

            if ($(item).val() == "A") {
                dataItem.Attendance = "A";
                row.find(".txt-remark").removeClass('hidden');
            } else if ($(item).val() == "P") {
                dataItem.Attendance = "P";
                row.find(".txt-remark").addClass('hidden');
            } else if ($(item).val() == "VC") {
                dataItem.Attendance = "VC";
                row.find(".txt-remark").addClass('hidden');
            }
            dataItem.dirty = true;
        }

        function setDataItemforAttendanceAGMResponses(item){
            var grid = $("#gridMeetingAttendanceForAuditor").data("kendoGrid");
            var row = $(item).closest("tr");
            var dataItem = grid.dataItem(row);

            if ($(item).val() == "A") {
                dataItem.Attendance = "A";
            } else if ($(item).val() == "P") {
                dataItem.Attendance = "P";
            }
            dataItem.dirty = true;
        };

        function setDataItemforAttendanceInvitee(item){
            var grid = $("#gridMeetingAttendanceForInvitee").data("kendoGrid");
            var row = $(item).closest("tr");
            var dataItem = grid.dataItem(row);

            if ($(item).val() == "A") {
                dataItem.Attendance = "A";
            } else if ($(item).val() == "P") {
                dataItem.Attendance = "P";
            }
            dataItem.dirty = true;
        };

        //Remark For Invitee
        function setDataItemRemarkforAttendanceInvitee(item){
            var grid = $("#gridMeetingAttendanceForInvitee").data("kendoGrid");
            var row = $(item).closest("tr");
            var dataItem = grid.dataItem(row);

            if ($(item).val() !="")
            {
                dataItem.Remark = $(item).val();
            }

            dataItem.dirty = true;
        };

        //Remark For Agm Partner
        function setDataItemforAttendanceAuditor(item){
            var grid = $("#gridMeetingAttendanceForAuditor").data("kendoGrid");
            var row = $(item).closest("tr");
            var dataItem = grid.dataItem(row);

            if ($(item).val() !="")
            {
                dataItem.PartnerName = $(item).val();
            }

            dataItem.dirty = true;
        };

        //Remark For BordMember
        function setDataItemforRemark(item)
        {
            var grid = $("#gridMeetingAttendance").data("kendoGrid");
            var row = $(item).closest("tr");
            var dataItem = grid.dataItem(row);

            if ($(item).val() !="") {
                dataItem.Remark = $(item).val();
            }

            dataItem.dirty = true;
        };

        function setDataItemforRemarkCircular(item)
        {
            var grid = $("#gridMeetingAttendance").data("kendoGrid");
            var row = $(item).closest("tr");
            var dataItem = grid.dataItem(row);
            dataItem.Remark = $(item).val();
            dataItem.dirty = true;
        }
    </script>

    <script>
        function btnAttendencePrev(MeetingId){
            direction = "OpenAttendencePriview?MeetingId=" +@Model.MeetingId;
            var wnd = $("#PopupAttendencePriview").data("kendoWindow");
            var opts = wnd.options;
            wnd = $("#PopupAttendencePriview").kendoWindow({
                content: direction,
                visible: false,
                modal: true,
               
                refresh: function () { this.center();  onRefreshWindowattpre(); },
                position: {
                    top: "85px", // or "100px"
                    //left: "20%"
                },
                close: function (e) {
                    $(this.element).empty();

                    $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                },
                open: function (e) {
                    var wnd = $("#PopupAttendencePriview").data("kendoWindow");
                    kendo.ui.progress(wnd.element, true);
                    $(this.element).closest(".k-window").css("position", "fixed")
                    $(this.element).closest(".k-window").css("top", "44px")
                    $(".k-overlay").attr('style', "opacity:0.5; display:block;");
                },
                actions: ["Close"],
            }).data("kendoWindow");
            opts.width = "85%";
             
            opts.top = "85.5px";
           
            wnd.setOptions(opts);
            wnd.center();
            wnd.refresh(direction);
            wnd.open();
        }
    </script>
</head>

<body style="overflow-x:hidden">
    <div>
        <section id="container" class="">
            <header class="gray-bg" style="max-height:5px;">
                <div class="nav">
                    <!--  search form start -->
                    <ul class="nav top-menu">
                        <li>
                            <div class="toggle-nav" style="float: right; padding-top: 0px !important;">
                                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom">

                                </div>
                            </div>
                        </li>
                    </ul>
                    <!--  search form end -->
                </div>

            </header>

            <div class="row" id="topsection">
                <section class="wrapper">
                    @*<div class="col-md-1"></div>*@
                    <div class="col-md-11"><h4 id="h4bordtitle"><b>@Model.startstopeDateVM.Meetingno/@Model.startstopeDateVM.MeetingType.ToUpper()</b></h4></div>
                    <div class="col-md-1">
                        <img src="~/Images/Close Icon.png" style="float:right;width: 25%;cursor:pointer" onclick="CloseMeetingUI()" />
                    </div>
                </section>
            </div>

            <div class="row " id="topmiddlesection">
                <section class="wrapper">
                    <div class="col-md-12 text-center">
                        <h4 style="color:white"><b>@Model.startstopeDateVM.EntityName</b></h4>
                        <h5 style="color:white"><b>CIN:</b>&nbsp;<b>@Model.startstopeDateVM.CIN</b></h5>
                    </div>
                </section>
            </div>

            <aside>
                <div id="sidebar-small" class="nav-collapse" style="display:block;top: 5px;">
                    <!--logo start-->
                    <a class="logo" style="height:84px; padding: 10px 0 0 10px;" href="">
                        @*<img src="../../img/Avantislogosmall.png" alt="Avantis" style="padding: 10px 0 0 6px;" />*@
                        <img src="@Url.Content("../../img/Avantislogosmall.png")" alt="Avantis" style="padding: 10px 0 0 6px;" />
                    </a>

                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12  bhoechie-tab-container">
                            <div class="col-lg-12 col-md-12  bhoechie-tab-menu">
                                <div class="list-group">
                                    <a href="#" class="list-group-item active text-center" id="attendencetab">
                                        <img src="~/Areas/BM_Management/img/AttendanceIcon.png" id="imgattendence" />
                                    </a>
                                    <a href="#" class="list-group-item text-center" id="agendatab">
                                        <img src="~/Areas/BM_Management/img/AgendaIcon.png" id="imgagenda" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>

            <div class="clearfix" style="height: 12px;"></div>
            @if (@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role == "HDCS" || @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role == "CS")
            {
                <div id="DIVShawonlyCS">
                    <section class="wrapper">
                        <div class="row master-Headre" style="margin-left: 5%;">
                            <div class="col-md-12 vertical-center">

                                <div class="col-md-2 colpadding0">
                                    <div class="col-md-6 colpadding0">
                                        @(Html.Kendo().DatePicker()
                                            .Name("Model.startstopeDateVM.StartDate")
                                            .Value(Model.startstopeDateVM.MeetingDueDate).Format("dd/MM/yyyy")
                                            .HtmlAttributes(new { style = "width: 95%", title = "datepicker", @Id = "Datepicker", @onchange = "checkDate(this)" }))
                                    </div>
                                    <div class="col-md-6 colpadding0">
                                        @(Html.Kendo().TimePicker()
                                                    .Name("Model.startstopeDateVM.StartTime")
                                                    .Value(Model.startstopeDateVM.MeetingDueTime).Format("hh:mm tt")
                                                    .HtmlAttributes(new { style = "width: 99%", title = "timepicker", @Id = "TimePicker" }))
                                    </div>
                                </div>

                                <div class="col-md-7 colpadding0">

                                    <div id="DivMeetingSbuttons" class="col-md-2 colpadding0">
                                        <button type="button" id="btnstartMeeting" class="btn btn-primary" onclick="btnStartMeeting(@Model.MeetingId)">Start</button>
                                    </div>


                                    <div id="DivMeetingPREbuttons" style="display:none">
                                        @if (Model.IsAttendenceDone)
                                        {
                                            <div class="col-md-1 colpadding0">
                                                <div id="DIVPause">
                                                    <img src="~/Areas/BM_Management/img/PauseButton.png" style="width:35px;height:35px;cursor: pointer;" onclick="btnPauseMeeting(@Model.MeetingId)" id="imgPause" />
                                                </div>
                                                <div id="DIVPlay">
                                                    <img src="~/Areas/BM_Management/img/StartButton.png" style="width:35px;height:35px;display:none; cursor: pointer;" onclick="btnResumeMeeting(@Model.MeetingId)" id="imgResume" />
                                                </div>
                                            </div>

                                            <div id="DivMeetingReson" style="display:none">
                                                <div class="col-md-6 colpadding0">
                                                    @Html.Kendo().TextBoxFor(m => m.startstopeDateVM.ReasonforPause).HtmlAttributes(new { placeholder = "Type Reason for Pause", @style = "width:100%", @onchange = "btnReasonforPause(this," + Model.MeetingId + ")" })
                                                </div>
                                            </div>

                                            <div class="col-md-2 colpadding0">
                                                @if ((Model.startstopeDateVM.MeetingTypeId == 11 || Model.startstopeDateVM.MeetingTypeId == 12) && Model.startstopeDateVM.IsEVoting == true)
                                                {
                                                    if (Model.startstopeDateVM.IsAGMConclude == false)
                                                    {
                                                        <button type="button" class="btn btn-primary" style="float: right;cursor: pointer;" onclick="btnConcludeMeetingSetTime(@Model.MeetingId)">Conclude stage 1</button>
                                                    }
                                                    else if (Model.startstopeDateVM.IsCompleted == false)
                                                    {
                                                        <button type="button" id="btnEndMeeting" class="btn btn-primary" style="float: right;cursor: pointer;" onclick="btnEndMeeting(this,@Model.MeetingId)">Conclude</button>
                                                    }
                                                }
                                                else if (Model.startstopeDateVM.IsCompleted == false || Model.startstopeDateVM.IsCompleted == null)
                                                {
                                                    <button type="button" id="btnEndMeeting" class="btn btn-primary" style="float: right;cursor: pointer;" onclick="btnEndMeeting(this,@Model.MeetingId)">Conclude</button>
                                                }

                                            </div>
                                        }
                                        <div class="col-md-2 colpadding0">
                                            @if (Model.startstopeDateVM.IsCompleted == false)
                                            {
                                                <button type="button" id="btnAdjournDetails" class="btn btn-primary" style="float: right;" onclick="btnAdjournedMeetingDetails(@Model.MeetingId)">Adjourn</button>
                                            }
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2 colpadding0">
                                    <h4 id="MeetingClock" style="width: 100%; /*border: 1px solid #e1e5e9; */ text-align:right"><b></b></h4>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            }
            <div id="DivStartMeeting">
                <section class="wrapper">
                    <div class="row Dashboard-white-widget colpadding0" style="margin-left: 5%;">
                        <div class="col-md-12 colpadding0">

                            <div class="col-lg-12 col-md-12 colpadding0  bhoechie-tab">

                                <div class="bhoechie-tab-content active">
                                    @if (@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role == "HDCS" || @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role == "CS")
                                    {
                                        @Html.Partial("_MeetingAttendance", Model)
                                    }
                                    else
                                    {
                                        @Html.Partial("_MeetingAttendancebyDirector", Model)
                                    }
                                </div>

                                <div class="bhoechie-tab-content">
                                    @if (Model.startstopeDateVM.MeetingTypeId != 11 && Model.startstopeDateVM.MeetingTypeId != 12)
                                    {
                                        @Html.Partial("_MeetingAgenda", Model.MeetingId)
                                    }
                                    else
                                    {
                                        @Html.Partial("_AGMAgendaList", Model.MeetingId)
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>


    <script type="text/javascript">

        function Displays() {
            $('#updateProgress').show();
            setTimeout(function() {  $("#updateProgress").hide(); $("#updateProgress").html(); }, 3000);
            return true;
        };

        function loadAttendence(meetingId){
            $("#DIVAttendenceMeeting").load('@Url.Action("LoadAttendence","MainMeeting")'+'?MeetingId='+@Model.MeetingId )
        }

        function loadAgenda(meetingId){
            $("#DIVAttendenceMeeting").load('@Url.Action("LoadAgenda", "MainMeeting")' + '?MeetingId=' + @Model.MeetingId )
        }

        function CloseMeetingUI(){
            var userRole='@AuthenticationHelper.Role';

            if (userRole === 'DRCTR' || userRole === 'SMNGT')
                window.location.href = "@Url.Action("UpcomingMeetings", "DirectorMeetings")";
            else
                window.location.href = "@Url.Action("Meetings", "Meetings")";
        }

        function onOpenWindow(e) {
            var wnd = $("#"+e).data("kendoWindow");
            kendo.ui.progress(wnd.element, true);
        }

        function onRefreshWindow(e) {
            var wnd = $("#"+e).data("kendoWindow");
            kendo.ui.progress(wnd.element, false);
        }

        function onRefreshWindowattpre(e) {
            var wnd = $("#PopupAttendencePriview").data("kendoWindow");
            kendo.ui.progress(wnd.element, false);
        }
    </script>
</body>
@(Html.Kendo().Window().Name("PopupMeetingChairmanelection").Width(25).Height(200).Draggable().Modal(true).Visible(false).Resizable().Title("Chairman Election").Actions(actions => actions.Close()))
@(Html.Kendo().Window().Name("PopupAttendencePriview").Width(25).Draggable().Modal(true).Visible(false).Resizable().Title("Preview-Attendance Register").Actions(actions => actions.Close()))
@(Html.Kendo().Window().Name("wndAgendasummary").Title("Agenda Summary").Visible(false).Modal(true).Draggable(true).Scrollable(false).Pinned(true))
@(Html.Kendo().Window().Name("wndMeetingAdjourn").Title("Meeting Adjourn").Visible(false).Modal(true).Draggable(true).Scrollable(false).Pinned(true))
@(Html.Kendo().Window().Name("wndCommitteeMatrix").Title("Committee Matrix").Visible(false).Modal(true).Draggable(true).Scrollable(true))
</html>

@(Html.Kendo().Window().Name("wndAddAgendaItemTemplateFields").Title("").Visible(false).Modal(true).Draggable(true).Scrollable(true))

<div id="wndGMMeetingStage1">
    <div class="row">
        <div class="col-md-6 colpadding0">
            @(Html.Kendo().DatePicker()
            .Name("DatepickerAGMStage1")
            .Enable(false)
            .Value(Model.startstopeDateVM.MeetingDueDate).Format("dd/MM/yyyy")
            .HtmlAttributes(new { style = "width: 95%", title = "datepicker", @Id = "DatepickerAGMStage1" }))
        </div>
        <div class="col-md-5 colpadding0">
            @(Html.Kendo().TimePicker()
            .Name("TimePickerAGMStage1")
            .Value(Model.startstopeDateVM.MeetingDueTime).Format("hh:mm tt").Min("9:00 AM").Max("6:00 PM")
            .HtmlAttributes(new { style = "width: 99%", title = "timepicker", @Id = "TimePickerAGMStage1" }))
        </div>
    </div>
    <div class="text-center mt30">
        <button class="btn btn-primary" onclick="btnConcludeMeetingAGMStatge1('@Model.MeetingId')">Save</button>
    </div>
</div>
<script>
    var wndGMMeetingStage1;
    $(document).ready(function () {
        wndGMMeetingStage1 = $("#wndGMMeetingStage1").kendoWindow({
            title: "Time Confirmation",
            modal: true,
            visible: false,
            resizable: false,
            width: 300
        }).data("kendoWindow");
    });

    $(document).ready(function () {
        var myWindow = $("#PopupMeetingChairmanelection");

        $("#open").click(function (e) {
            myWindow.data("kendoWindow").open();
        });

        $("#close").click(function (e) {
            myWindow.data("kendoWindow").close();
        });

        $("#refresh").click(function (e) {
            myWindow.data("kendoWindow").refresh();
        });

        $("#center").click(function (e) {
            myWindow.data("kendoWindow").center();
        });

        $("#pin").click(function (e) {
            myWindow.data("kendoWindow").pin();
        });

        $("#unpin").click(function (e) {
            myWindow.data("kendoWindow").unpin();
        });
    });
</script>

@if (@AuthenticationHelper.Role== "HDCS")
{

    if (Model.startstopeDateVM != null)
    {

        if (Model.startstopeDateVM.StartDate != null)
        {

            <script>
                document.getElementById('DivMeetingPREbuttons').style.display = 'block';
                document.getElementById('DivMeetingSbuttons').style.display = 'none';
                document.getElementById('DivStartMeeting').style.display = 'block';
                getdateclock();
            </script>
        }
        else
        {
            <script>
                document.getElementById('DivMeetingPREbuttons').style.display = 'none';
                document.getElementById('DivMeetingSbuttons').style.display = 'block';
                document.getElementById('DivStartMeeting').style.display = 'none';
            </script>
        }
    }

    if (Model.startstopeDateVM != null)
    {
        if (Model.startstopeDateVM.IsPause == true)
        {
            <script>
                document.getElementById("imgPause").style.display = 'none';
                document.getElementById("imgResume").style.display = 'block';
                document.getElementById("btnEndMeeting").style.display = 'block';

            </script>
        }
        else
        {
            <script>
                document.getElementById("imgPause").style.display = 'block';
                document.getElementById("imgResume").style.display = 'none';
                document.getElementById("btnEndMeeting").style.display = 'block';
                document.getElementById("DivMeetingReson").style.display = 'none';
            </script>
        }
    }
}
<script>
    $("#btnSave_MeetingAttendance").kendoButton({
        click: function (e) {
            var divGridMeetingAttendanceMsg = $("#divGridMeetingAttendanceMsg");
            divGridMeetingAttendanceMsg[0].innerHTML = "";
            var grid1 = $("#gridMeetingAttendance").data("kendoGrid");

            var gridData = grid1.dataSource.data();
            var flag = false;
            for (var i = 0; i < gridData.length; i++) {
                if (gridData[i].Attendance == 'A' && (gridData[i].Remark == '' || gridData[i].Remark == null)) {
                    flag = true;
                    break;
                }
            }

            if (flag == false) {
                grid1.saveChanges();
                grid1.refresh();

                var grid2 = $("#gridMeetingAttendanceForAuditor").data("kendoGrid");
                if (grid2 != null && grid2 != undefined) {
                    grid2.saveChanges();
                    grid2.refresh();
                }

                var grid3 = $("#gridMeetingAttendanceForInvitee").data("kendoGrid");
                if (grid3 != null && grid3 != undefined) {
                    grid3.saveChanges();
                    grid3.refresh();
                }

                savetotalAgmMemberpresent();
            }
            else {
                divGridMeetingAttendanceMsg[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-danger'> <lable>Please enter leave of absence remark.</lable></div></div></div>";
            }


        }
    });
</script>

<script>
    function LoadMainContaint(AgendaId, MeetingAgendaMappingId, obj) {

        clear(obj);
        obj.style.background = "#0076bb";
        obj.children[0].children[0].style.color="white"
        //obj.children[0].children[1].style.color="white"
        obj.children[1].children[0].children[0].style.color="white"
        //obj.style.border = "3px #eae7e7";

        $("#DIVloadAgendaMainContaint").load('@Url.Action("GetAgendaById", "MainMeeting")' + '?AgendaId=' + AgendaId+"&MeetingId="+@Model.MeetingId+"&MappingId="+MeetingAgendaMappingId)

    }
    function clear(obj) {

        divItems = document.getElementsByClassName("item");
        for (var i = 0; i < divItems.length; i++) {
            var item = divItems[i].childNodes[1].childNodes[1];
            item.style.backgroundColor = 'white';
            item.children[0].children[0].style.color="black"
            //item.children[0].children[1].style.color="black"
            item.children[1].children[0].children[0].style.color="black"
        }
    }
    $('.main-content .owl-carousel').owlCarousel({
        stagePadding: 50,
        loop: false,
        margin: 10,
        nav: true,
        navText: [
            '<i class="fa fa-angle-left" aria-hidden="true"></i>',
            '<i class="fa fa-angle-right" aria-hidden="true"></i>'
        ],
        navContainer: '.main-content .custom-nav',
        responsive: {

            1000: {
                items: 8
            }
        },

    });

</script>
<script>

    function AgendaItemsEditTemplateFields(MeetingId, AgendaId, MapppingId, agenda) {

        var direction = "@Url.Action("AgendaItemTemplate_Read","Meetings")" + "?MeetingAgendaMappingID=" + MapppingId;

        $("#wndAddAgendaItemTemplateFields").attr("style", "min-height:100px;");
        $("#wndAddAgendaItemTemplateFields").kendoWindow({
            title: "" + agenda,
            modal: true
        });

        var wnd = $("#wndAddAgendaItemTemplateFields").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndAddAgendaItemTemplateFields").kendoWindow({
            actions: ["Close"],
            content: direction,
            width: "55%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () { },
            close: function (e) {
                $(this.element).empty();

                $("#DIVloadAgendaMainContaint").load('@Url.Action("GetAgendaById", "MainMeeting")' + '?AgendaId=' + AgendaId + "&MeetingId=" +@Model.MeetingId+"&MappingId=" + MapppingId)
            }
        }).data("kendoWindow");

        opts.width = "55%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();

    }

    function OpenTemplateFieldEditor(MeetingId, AgendaId) {

        $("#PopupMeetingResolution").attr("style", "min-height:100px;");

        var direction = "@Url.Action("EditResolution", "MainMeeting")?MeetingId=" + MeetingId + "&AgendaId=" + AgendaId;

        var wnd = $("#PopupMeetingResolution").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#PopupMeetingResolution").kendoWindow({
            actions: ["Close"],
            content: direction,
            width: "70%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            open: function () { kendo.ui.progress(this.element, true); },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            }
        }).data("kendoWindow");
        opts.width = "70%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }
</script>
<!-- Committee Matrix-->
<script>
    function onOpenCommitteeMatrix(e) {
        var wnd = $("#wndCommitteeMatrix").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
    }
    function onRefreshCommitteeMatrix() {
        var wnd = $("#wndCommitteeMatrix").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function viewCommitteeMatrix() {
        var entityId = "@Model.startstopeDateVM.EntityId";
        var direction = "@Url.Action("Matrix", "CommitteeMaster")" + "?entityId="+ entityId;

        $("#wndCommitteeMatrix").attr("style", "min-height:450px;");

        var wnd = $("#wndCommitteeMatrix").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndCommitteeMatrix").kendoWindow({
        actions: ["Close"],
        content: direction,
        width: "40%",
        visible: false,
        modal: true,
        refresh: function () { this.center(); },
        open: function () { kendo.ui.progress(wnd.element, true); },
        close: function (e) {
                $(this.element).empty();

                if ($('#gridKendo') != null && $('#gridKendo') != undefined) {
                    $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                }
            }
        }).data("kendoWindow");

        opts.width = "70%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }
</script>
<script>
    //Common function for Agenda voting Noting Response Green tick
    var refreshFlag = false;
    function setTimerForrefreshGreenTick() {
        if (refreshFlag == false) {
            refreshFlag = true;
            setInterval(function () {
                refreshnotingresponse();
            }, 25000);
        }
    }
    function refreshnotingresponse() {
        debugger;
        var AgendaNoting = { MeetingId: @Model.MeetingId}
         $.ajax({
                type: "POST",
                url: '@Url.Action("GetAgendaNotingResponse", "MainMeeting")',
                data: AgendaNoting,
                dataType: "json",
                cache: false,
             success: function (data) {
                 debugger;
                 if (data != null) {
                     var d = data.Data;
                     if (d != null) {
                         for (var i = 0; i < d.length; i++) {
                             var j = d[i].MeetingAgendaMappingID;
        if (d[i].Result == "A")
        {
                $("#Responsecheckbox"+j).show();
                $("#Responsecheckbox"+j).removeClass("NoResponse");
                $("#Responsecheckbox"+j).addClass("Approval");

        }
        else if (d[i].Result == "N")
        {
                $("#Responsecheckbox"+j).show();
                $("#Responsecheckbox"+j).removeClass("NoResponse");
                $("#Responsecheckbox"+j).addClass("Approval");

        }
        else if (d[i].Result == "D")
        {

                $("#Responsecheckbox"+j).show();
                $("#Responsecheckbox"+j).removeClass("NoResponse");
                $("#Responsecheckbox"+j).addClass("disApproval");
         }
        else
            {
                $("#Responsecheckbox"+j).hide();
                $("#Responsecheckbox"+j).addClass("NoResponse");
            }
        }
       }
      }
    }
   });
  }
    //End
</script>