﻿@using Kendo.Mvc.UI;

<script>
    function GetImage(data) {
        
        var Colors = [];

        var html;

        Colors = [
       "#42A5F5",
       "#008391",
       "#846600",
      "#CC0060",
      "#330099", ];
        var result;
        var count = 0;

        var result;
        var count = 0;

        result = Colors[Math.floor(Math.random() * Colors.length)];
        var firstName = data.FirstName;
        //var lastName = data.LastName;
        var intials = firstName.charAt(0);//+ lastName.charAt(0);

        html = "<div onclick='opendirectordetails(" + data.Director_Id + ")' style='cursor: pointer'><span class='customer-photo textimage' style='text-align: center;color:white;background-color:" + result + "'><h4 style='font-size: 36px;margin-top: 32%;color: white;'><b>" + intials + "</b><h4></span></div>"
        return html;
    }

    function GetDesignation(value) {
        if (value == "1") {
            return "Chairperson";
        } else if (value == "2") {
            return "Member";
        } else {
            return "";
        }
    }
</script>


<style>
    .tutorCardAva {
        height: 72px;
        width: 72px;
        border-radius: 50%;
        transition: all .2s;
    }

    .tutorBlockItem {
        flex: 1 1 calc(100% / 4);
        box-sizing: border-box;
    }

    .order {
        float: left;
        width: 22%;
        height: 208px;
        position: relative;
        margin-left: 25px;
        text-align: center;
    }

    .customer-photo {
        width: 125px;
        height: 125px;
    }
</style>


<div class="row colpadding0 mt30">
    <div class="colpadding0 col-md-12 colpadding0">
        @(Html.Kendo().Grid<BM_ManegmentServices.VM.CommitteeCompVM>()
        .Name("gridcommity")
        .Columns(columns =>
        {
            columns.Bound(e => e.Name).Title("Committee").HtmlAttributes(new { @style = "width:98%" });
        })
        .ClientDetailTemplateId("template")
        //.HtmlAttributes(new { style = "height:550px;" })
        .DataSource(dataSource => dataSource
            .Ajax()
         //.Read(read => read.Action("DetailTemplate_HierarchyBinding_Employees", "Grid"))
         .Read(read => read.Url("/api/CommitteeCompAPI/GetCommitteeCompEntitywise").Data("getEntityValue").Type(HttpVerbs.Get))
        ).Events(events => events.DataBound("dataBound"))
        .Events(events => events.DetailExpand("gridcommity_detailExpand")))

        <script id="template" type="text/kendo-tmpl">
            @(Html.Kendo().ListView<BM_ManegmentServices.VM.DirectorList_ForEntity>()
              .Name("Commiteelistview_#=Id#")
              .TagName("div")
              .ClientTemplateId("Commiteelistview")
              .DataSource(dataSource => dataSource
              .WebApi()
              //.Read(read => read.Url("/api/CommitteeMasterNewAPIController/GetCommitteeMasterNew").Data(@<text> function() {
              .Read(read => read.Url("/api/CommitteeMasterNewAPIController/GetCommitteeMembersNew").Data(@<text> function() {
            return onRead(#=Id#)
            }</text>))

                  ).ToClientTemplate())

        </script>

        <script>
            function gridcommity_detailExpand (e) {
                e.sender.tbody.find('.k-detail-row').each(function (idx, item) {
                    if (item !== e.detailRow[0]) {
                        debugger;
                        e.sender.collapseRow($(item).prev());
                    }
                })
            }

            function onRead(Id) {
                
                EntityId = $("#EntityID").data("kendoDropDownList").value();
                return {
                    EntityId: EntityId,
                    CommitteeId: Id,
                    shoAllCommittees: false
                }
            }
        </script>

        <script type="text/x-kendo-tmpl" id="Commiteelistview">
            <div class="order mt30">
                <div class="tutorBlockItem">
                    @*<img src="@Url.Content("~/content/web/foods/")#:ProductID#.jpg" alt="#:ProductName# image" />*@
                    <div>#=GetImage(data)#</div>
                    <h4><b>#:DirectorName#</b></h4>
                    <h5><b>#:GetDesignation(Designation_Id)#</b></h5>
                </div>
            </div>
        </script>

        <script>
            function dataBound() {
                //this.expandRow(this.tbody.find("tr.k-master-row")).first();

                var gridName = '';

                if (this != null) {
                    gridName = this.element.context.id;
                }
                if (gridName != '')
                    $("#" + gridName + " tr.k-alt").removeClass("k-alt");
            }
        </script>

        <style>
            .k-detail-cell .k-tabstrip .k-content {
                padding: 0.2em;
            }

            .employee-details ul {
                list-style: none;
                font-style: italic;
                margin: 15px;
                padding: 0;
            }

                .employee-details ul li {
                    margin: 0;
                    line-height: 1.7em;
                }

            .employee-details label {
                display: inline-block;
                width: 90px;
                padding-right: 10px;
                text-align: right;
                font-style: normal;
                font-weight: bold;
            }
        </style>
    </div>
</div>
