﻿@using Kendo.Mvc.UI;
<script>
    function openfileview(e) {
        
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.Id;
        @*window.location.href = "@Url.Action("ViewRecords", "CompanyProfile")?Id=" + id;*@
        $.ajax({
            type: "POST",
            url: '@Url.Action("ViewRecords", "CompanyProfile")',
            data: {Id:id},
            dataType: "json",
            cache: false,
            success: function (data) {
              
            
                var direction="@Url.Content("~/docviewer.aspx")" + "?docurl=" + data ;


                $("#wndDocViewer").attr("style", "min-height:100px;");

                var wnd = $("#wndDocViewer").data("kendoWindow");
                var opts = wnd.options;

                wnd = $("#wndDocViewer").kendoWindow({
                    actions: ["Close"],
                    content: direction,
                    visible: false,
                    modal: true,
                    iFrame :true,
                    refresh: function () { this.center(); },
                    open: function () { onOpenWindow("wndDocViewer") },
                    close: function (e) {
                        $(this.element).empty();
                        $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                    }
                }).data("kendoWindow");

                opts.width = "95%";
                wnd.setOptions(opts);
                wnd.center();
                wnd.open();


                $('#wndDocViewer').parent().find('.k-window-titlebar,.k-window-actions').css('backgroundColor', '#f7f7f7');


            }
        });
    }

    function downloadfile(e) {
        
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.Id;
        window.location.href = "@Url.Action("DownloadRecords", "CompanyProfile")?Id=" + id;
    }
    function onRowBound()
    {
        GetICons();
    }
</script>
@(Html.Kendo().Window().Name("wndDocViewer").Title("Viewer").Visible(false).Modal(true).Draggable(true).Pinned(true).Scrollable(true))

@*<div class="row colpadding0 mt30">
    <div class="col-md-12 colpadding0">

        @(Html.Kendo().Grid<BM_ManegmentServices.Data.BM_ReportPolices>()
.Name("gridKendo")

.Columns(columns =>
{
    columns.Bound(o => o.Id).Visible(false);
    columns.Bound(o => o.PolicesName).Title("Records").HtmlAttributes(new { @style = "width:85%" });

    columns.Command(commnd =>
    {
        //commnd.Custom("Edit").Click("CreateNew").HtmlAttributes(new { @class = ".k-grid-document" });

        commnd.Custom("D").Click("downloadfile").HtmlAttributes(new { @class = "k-grid-download" });
        commnd.Custom("V").Click("openfileview").HtmlAttributes(new { @class = "k-grid-view" });

    }).Title("Action").HtmlAttributes(new { @style = "width:15%" });
})
.Events(e => e.DataBound("onRowBound"))
.EnableCustomBinding(true)
.DataSource(dataSource => dataSource
.WebApi()
.PageSize(10)

.ServerOperation(false)
      .Model(model =>
      {
          model.Id(o => o.Id);
      })
.Read(read => read.Url("/api/ReportPolicesAPI/Reports").Data("getEntityValue").Type(HttpVerbs.Get))
               ).HtmlAttributes(new { @style = "width:100%" })
               .Pageable()

        )
    </div>
</div>*@

<div class="row colpadding0  mt30">
    <div class="col-md-12">
        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                <div class="tab" role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" id="Incorporation" class="active"><a href="#Incorporate" aria-controls="home" role="tab" data-toggle="tab">Incorporation</a></li>
                        <li role="presentation" id="PolicesDocument"><a href="#Police" aria-controls="profile" role="tab" data-toggle="tab">Policies</a></li>
                        <li role="presentation" id="LICENSE_REGISTRATION"><a href="#Licence" aria-controls="licence" role="tab" data-toggle="tab">License/Registration</a></li>
                        <li role="presentation" id="Annual"><a href="#AnnualReport" aria-controls="licence" role="tab" data-toggle="tab">Annual Report</a></li>
                    </ul>

                    <div class="tab-content tabs">
                        <div role="tabpanel" class="tab-pane fade in active" id="Incorporate">
                            @(Html.Partial("_IncorporateDocuments"))
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="Police">
                            @(Html.Partial("_PolicesDocuments"))
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="Licence">
                            @(Html.Partial("_LicenseandRegisterDocument"))

                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="AnnualReport">
                            @(Html.Partial("_AnnualReportDocuments"))

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


