@using Kendo.Mvc.UI;


<style>
    .tutorCardAva {
        height: 72px;
        width: 72px;
        border-radius: 50%;
        transition: all .2s;
    }

    .tutorBlockItem {
        flex: 1 1 calc(100% / 4);
        box-sizing: border-box;
    }

    .order {
        float: left;
        width: 22%;
        height: 208px;
        position: relative;
        margin-left: 25px;
        text-align: center;
    }

    .customer-photo {
        width: 110px;
        height: 110px;
    }
</style>

<script>

    function getImage1(data) {

        
        var Colors = [];

        var html;

        if (data.Director_ID > 0 && data.ImagePath != null) {
            html = "<div onclick='opendirectordetails(" + data.Director_ID + ")' style='cursor: pointer'><img class='customer-photo' src='/Areas/BM_Management/Documents/Director/" + data.Director_ID + "/" + data.ImagePath + "'/></div>";
        }
        else {
            Colors = [
           "#42A5F5",
           "#008391",
           "#846600",
          "#CC0060",
          "#330099", ];
            var result;
            var count = 0;
            //for (var prop in Colors)
            //    if (Math.random() < 1 / ++count) {
            //        result = prop;
            result = Colors[Math.floor(Math.random() * Colors.length)];
            var firstName = data.FirstName;
            var lastName = data.LastName;
            var intials = firstName.charAt(0) + lastName.charAt(0);

            html = "<div onclick='opendirectordetails(" + data.Director_ID + ")' style='cursor: pointer'><span class='customer-photo textimage' style='text-align: center;color:white;background-color:" + result + "'><h4 style='font-size: 36px;margin-top: 32%;color: white;'><b>" + intials + "</b><h4></span></div>"

            //}
        }
        return html;
    }


</script>

<script type="text/x-kendo-tmpl" id="templet">
    <div class="order mt30">
        <div class="tutorBlockItem">
            <div>#=getImage1(data)#</div>
            <h4><b>#:FullName#</b></h4>
            <h5><b>#:DesignationName#</b></h5>
            @*<h4><b>#:FirstName#</b></h4>*@
            @*<h5><b>#:Designation#</b></h5>*@
        </div>

    </div>
</script>


<div class="row mt30 colpadding0">
    <div class="col-md-12 colpadding0">
        @(Html.Kendo().ListView<BM_ManegmentServices.VM.DirectorList_ForEntity>()
      .Name("Managmentlistview")
      .TagName("div")
      .ClientTemplateId("templet")
      //.HtmlAttributes(new { @onclick= "listViewClick(#=dataItem.Director_ID#)" })
      .Editable(e => e.Enabled(true))
      .DataSource(dataSource => dataSource
          .WebApi()
       //.PageSize(6)
       //.Read(read => read.Action("Orders_Read", "ListView").Data("additionalData"))
       .Model(model =>
       {
           model.Id(o => o.Director_ID);
       })
       .Read(read => read.Url("/api/DirectorMasterAPI/BODforEntity").Data("getEntityValue").Type(HttpVerbs.Get))
      )
//.Pageable()
        )
        </div>
</div>