﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.AuthorizedCapital

<div class="row col-md-12 colpadding0 mt30">

    <div class="row">
        @if (Model.Message)
            {
            <div class="col-md-12">

                <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    @if (!(string.IsNullOrEmpty(@Model.SuccessErrorMsg)))
                {
                    <lable>@Model.SuccessErrorMsg</lable>
                        }
                </div>

            </div>
            }
    </div>

    <div class="row">
        @if (Model.errorMessage)
            {
            <div class="col-md-12">
                <div class="alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    @if (!(string.IsNullOrEmpty(@Model.SuccessErrorMsg)))
                {
                    <lable>@Model.SuccessErrorMsg</lable>
                        }
                </div>

            </div>
            }
    </div>

    <div id="divfrmUpdateAuthorizedCapital" class="content-box" style="height:180px">
        @{
        Html.EnableClientValidation();
        }
        @using (Ajax.BeginForm("AddAuthorizedCapital", "CapitalMaster", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", UpdateTargetId = "divfrmUpdateAuthorizedCapital" }, new { id = "frmAuthorizedCapital" }))
            {
            @Html.AntiForgeryToken();
            @Html.ValidationSummary(true)
            @Html.HiddenFor(m => m.Entity_Id)
            @Html.HiddenFor(m => m.AuthorisedId)

            <div class="row" style="margin-top:4%">
                <div class="row colpadding0">
                    <div class="col-md-12">
                        <div class="col-md-2 colpadding0">
                            <label class="head-label">Authorized Capital in INR</label>
                        </div>
                        <div class="col-md-2">
                            @(Html.Kendo().TextBoxFor(m => m.AuthorizedCapval).HtmlAttributes(new { @class = "k-textbox text-right", @type = "number", min = "0",@Id = "txtAuthorizedCapital", @style = "width:100%" }))
                            @Html.ValidationMessageFor(model => model.AuthorizedCapval, "", new { @class = "k - widget k - tooltip k - tooltip - validation k - invalid - msg field - validation - error", @role = "alert" })
                        </div>
                        <div class="col-md-1 colpadding0">
                            <button type="submit" id="home" class="btn btn-primary" value="Save" name="submitButton"><span class=""></span>Save</button>
                        </div>
                    </div>
                </div>

                @*<div class="row colpadding0">
                    <div class="col-md-12 vertical-center">
                        <div class="col-md-2 colpadding0">
                            <label class="head-label">Paidup Capital in INR</label>
                        </div>
                        <div class="col-md-2">
                            @(Html.Kendo().TextBoxFor(m => m.PaidupCapitalval).HtmlAttributes(new { @class = "k-textbox text-right", @Id = "txtPaidupCapital", @style = "width:100%", @readonly = "readonly", @class = "NoDrop text-right", @type = "number"}))
                            @Html.ValidationMessageFor(model => model.PaidupCapitalval, "", new { @class = "k - widget k - tooltip k - tooltip - validation k - invalid - msg field - validation - error", @role = "alert" })
                        </div>
                        <div class="col-md-1 colpadding0">
                            <button type="submit" id="home" class="btn btn-primary" value="Save" name="submitButton"><span class=""></span>Save</button>
                        </div>
                    </div>
                </div>*@
            </div>
        }
        <div class="row colpadding0 mt30">
            <div class="col-md-12">
                <div class="col-md-2 colpadding0">
                    <label class="head-label">Paidup Capital in INR</label>
                </div>
                <div class="col-md-2">
                    @(Html.Kendo().TextBoxFor(m => m.paidupCapita).HtmlAttributes(new {@class = "NoDrop text-right", @type = "number", min = "0", @Id = "txtpaidupcapital", @readonly = "readonly",  @style = "width:100%" }))
                  
                </div>

            </div>
        </div>

    </div>
</div>

<script>
    var validator = $("#frmAuthorizedCapital").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
</script>
<script type="text/javascript">

    function OnSuccess(data) {
        //

        @*
        if(@Model.AuthorisedId>0)
        {
            $('#Equity').show();
            $('#Prefrence').show();
            $('#Unclasified').show();
            $('#Debenture').show();
            $("#txteqtyid").val(@Model.AuthorisedId);
            $("#txtprefrence").val(@Model.AuthorisedId);
            $("#txtDebenger").val(@Model.AuthorisedId);
            $("#txtunClassified").val(@Model.AuthorisedId);
        }*@
    }

</script>
@if (Model.AuthorisedId > 0)
{
    <script>
        $('#Equity').show();
        $('#Prefrence').show();
        $('#Unclasified').show();
        $('#Debenture').show();
        $("#txteqtyid").val(@Model.AuthorisedId);
        $("#txtprefrence").val(@Model.AuthorisedId);
        $("#txtDebenger").val(@Model.AuthorisedId);
        $("#txtunClassified").val(@Model.AuthorisedId);
    </script>
}

