﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.Equity

@{
    ViewBag.Title = "Master/Capital";   
}

<script>
    $(document).ready(function () {
        var breadCrumbData = [             
            {
                displayText: "Entity",
                navigateUrl: "/BM_Management/EntityMaster/GetEntityDtls",
            }, {
                displayText: "Capital",
                navigateUrl: "#",
            },
        ];

        setBreadCrumb(breadCrumbData);

    });
</script>


<style>
    .tab .nav-tabs li a {
        background: #f8f9fa;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        background-color: #f8f9fa;
    }

    .tab .nav-tabs li a {
        display: block;
        padding: 10px 20px;
        margin: 0 5px 1px 0;
        background: #f8f9fa;
        border: none;
        border-radius: 0;
        z-index: 2;
        position: relative;
        transition: all 0.3s ease 0s;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 139.69%;
        text-align: justify;
        color: #767676;
    }
    
    .table>tbody>tr>th, .table>tbody>tr>th>a {
    vertical-align: bottom;
    border-bottom: 2px solid #fff;
}
    
</style>


<style>
     .k-radio:checked + .k-radio-label:after {
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        top: 3px;
        left: 3px;
    }

    label {
        display: inline-block;
        margin-bottom: 0px;
        color: black;
    }
</style>

<div class="row Dashboard-white-widget">
    <span id="notification" style="display:none;" class="k-block k-error-colored"></span>

    <div class="row col-md-12 colpadding0">
        <h4><b>@Model.EntityName</b></h4>
    </div>

    <div class="row colpadding0">
        <div class="col-md-12 colpadding0">
            <div class="tab" role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" id="mytab1" class="active"><a href="#hometab" aria-controls="home" role="tab" data-toggle="tab">Authorised Capital</a></li>
                    <li role="presentation" id="mytab2"><a href="#javatab" aria-controls="profile" role="tab" data-toggle="tab">Equity Share Capital</a></li>
                    <li role="presentation" id="mytab3"><a href="#csharptab" aria-controls="messages" role="tab" data-toggle="tab">Preference Share Capital</a></li>
                    <li role="presentation" id="mytab4"><a href="#mysqltab" aria-controls="messages1" role="tab" data-toggle="tab">Unclassified Share Capital</a></li>
                    <li role="presentation" id="mytab5"><a href="#jquerytab" aria-controls="messages2" role="tab" data-toggle="tab">Debentures</a></li>
                </ul>


                <div class="tab-content tabs">
                    <div role="tabpanel" class="tab-pane fade in active" id="hometab">
                        @Html.Partial("_AuthorizedCapital", Model.AuthorizedCapital)
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="javatab">
                        @Html.Partial("_EquietySharesCapital", Model.VMCapitalData)
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="csharptab">
                        @Html.Partial("_PreferenceShareCapital_Multiple", Model.VMPrifrenscShare)
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="mysqltab">
                        @Html.Partial("_UnclassifiedSharesCapital", Model.VMUnclassified)
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="jquerytab">
                        @Html.Partial("_DebenturesCapital", Model.VMDebentures)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    var notification = $("#notification").kendoNotification({
        position: {
            top: 0,
            right: 200,
            pinning: true,
            button: false,
            hideOnClick: false,
            autoHideAfter: 3500
        }
    }).data("kendoNotification");

    function onchangeevent() {
        $("#frmEquity").submit();

    }

    //PrifrenceShereCapital Form Submission on textChange
    function ontxtprifrencechange() {

        $("#frmPrif").submit();

    }
    function updatepaidupcapital()
    {
        debugger;
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetPaidupCapital", "CapitalMaster")?EntityId='+"@Model.EntityId",
            method:"GET",
            //data: MeetingListVM,
            dataType: "json",
            cache: false,
            success: function (data) {
                $("#txtpaidupcapital").val("");
                $("#txtpaidupcapital").val(data);
            }
        });
    }

    function onchangeeventAddAuthorized(obj, col) {
        
      var  EquityError="False";
        var index = obj.parentNode.parentNode.rowIndex - 1;
        var tbody = obj.parentNode.parentNode.parentNode.parentNode.getElementsByTagName('tbody')[0];
        var tableRef = document.getElementById(obj.parentNode.parentNode.parentNode.parentNode.id).getElementsByTagName('tbody')[0];
        var txtAuthorizedCapitalval = $("#txtAuthorizedCapital").val();
        var Autorized1 = tbody.rows[1].cells[1].children.txtAuthorisedCapitalEqu.value;
        var Autorized2 = tbody.rows[2].cells[1].children.txtAuthorisedCapital2.value;
        var Autorized3 = Autorized1 * Autorized2;
        tbody.rows[3].cells[1].children.txtAuthorisedCapital3.value = Autorized1 * Autorized2;
        if (parseFloat(Autorized1) <= parseFloat(txtAuthorizedCapitalval) && parseFloat(Autorized3) <= parseFloat(txtAuthorizedCapitalval)) {
            var Issued1 = tbody.rows[1].cells[2].children.txtIssuedCapital1Equ.value;
            //var Issued2 = tbody.rows[2].cells[2].children.txtIssuedCapital2.value;
            tbody.rows[2].cells[2].children.txtIssuedCapital2.value = Autorized2;
            var Issued2 = tbody.rows[2].cells[2].children.txtIssuedCapital2.value;
            tbody.rows[3].cells[2].children.txtIssuedCapital3.value = Issued1 * Issued2;

            var Subscribe1 = tbody.rows[1].cells[3].children.txtSubscribedCapital1Equ.value;
            //var Subscribe2 = tbody.rows[2].cells[3].children.txtSubscribedCapital2.value;
            tbody.rows[2].cells[3].children.txtSubscribedCapital2.value = Autorized2;
            var Subscribe2 = tbody.rows[2].cells[3].children.txtSubscribedCapital2.value
            tbody.rows[3].cells[3].children.txtSubscribedCapital3.value = Subscribe1 * Subscribe2;

            var PaidupCapital1 = tbody.rows[1].cells[4].children.txtPaidupCapital1Equ.value;
            //var PaidupCapital2 = tbody.rows[2].cells[4].children.txtPaidupCapital2.value;
            tbody.rows[2].cells[4].children.txtPaidupCapital2.value = Autorized2;
            var PaidupCapital2 = tbody.rows[2].cells[4].children.txtPaidupCapital2.value;

            tbody.rows[3].cells[4].children.txtPaidupCapital3.value = PaidupCapital1 * PaidupCapital2;

            if (parseFloat(Autorized1) < parseFloat(Issued1) && parseFloat(Autorized1) < parseFloat(Subscribe1) && parseFloat(Autorized1) < parseFloat(PaidupCapital1)) {
                EquityError="True";
                tbody.rows[1].cells[2].children.txtIssuedCapital1Equ.value = "0";
                tbody.rows[1].cells[3].children.txtSubscribedCapital1Equ.value = "0";
                tbody.rows[1].cells[4].children.txtPaidupCapital1Equ.value = "0";
                tbody.rows[3].cells[2].children.txtIssuedCapital3.value="0";
                tbody.rows[3].cells[3].children.txtSubscribedCapital3.value="0";
                tbody.rows[3].cells[4].children.txtPaidupCapital3.value="0";

                calculate(obj, col);
            }
            else if (parseFloat(Autorized1) < parseFloat(Issued1) || parseFloat(Autorized1) < parseFloat(Subscribe1) || parseFloat(Autorized1) < parseFloat(PaidupCapital1)) {
                EquityError="True";
                tbody.rows[1].cells[2].children.txtIssuedCapital1Equ.value = "0";

                tbody.rows[1].cells[3].children.txtSubscribedCapital1Equ.value = "0";
               
                tbody.rows[1].cells[4].children.txtPaidupCapital1Equ.value = "0";

                calculate(obj, col);
            }
            else if(parseFloat(Issued1)<parseFloat(Subscribe1) && parseFloat(Issued1)!=0)
            {
                EquityError="True";
                tbody.rows[1].cells[4].children.txtPaidupCapital1Equ.value = "0";
                tbody.rows[1].cells[3].children.txtSubscribedCapital1Equ.value = "0";
                tbody.rows[3].cells[3].children.txtSubscribedCapital3.value="0";
                tbody.rows[3].cells[4].children.txtPaidupCapital3.value="0";
                calculate(obj, col);
            }
            else if(parseFloat(Issued1)<parseFloat(Subscribe1)||(parseFloat(Issued1)<parseFloat(PaidupCapital1)) || (parseFloat(Subscribe1)<parseFloat(PaidupCapital1)))
            {
                EquityError="True";
                tbody.rows[1].cells[4].children.txtPaidupCapital1Equ.value = "0";
                tbody.rows[1].cells[3].children.txtSubscribedCapital1Equ.value = "0";
                tbody.rows[3].cells[3].children.txtSubscribedCapital3.value="0";
                tbody.rows[3].cells[4].children.txtPaidupCapital3.value="0";

                calculate(obj, col);

            }
            if(EquityError=="True")
            {
                notification.getNotifications().parent().remove();
                notification.show("Please Fill Proper Data", "warning");
            }
            else if (parseFloat(Autorized1) >= parseFloat(Issued1) && parseFloat(Autorized1) >= parseFloat(Subscribe1) && parseFloat(Autorized1) >= parseFloat(PaidupCapital1) && parseFloat(Issued1)>= parseFloat(Subscribe1) && parseFloat(Subscribe1)>= parseFloat(PaidupCapital1) && parseFloat(Issued1)>= parseFloat(PaidupCapital1)) {
                calculate(obj, col);
                EquityError="False";
            }
            else{
                notification.getNotifications().parent().remove();
                notification.show("Somthing Wents wrong", "warning");
            }
        }
        else {
            tbody.rows[3].cells[1].children.txtAuthorisedCapital3.value = "0";
            tbody.rows[1].cells[1].children.txtAuthorisedCapitalEqu.value = "0";
            tbody.rows[2].cells[1].children.txtAuthorisedCapital2.value = "0";

            calculate(obj, col);
            notification.getNotifications().parent().remove();
            notification.show("Please check Equity Authorized Capital is not greater then Authorized Capital", "warning");

        }
    }

    function calculate(obj, col) {
        
        var count = 0;
        var tot = 0;
        var tot1 = 0;
        var tot2 = 0;
        var tot3 = 0;
        var tot4 = 0;
        var tot5 = 0;
        var tot6 = 0;
        var tot7 = 0;
        //
        var lengthofequ = $("#txthidenforeque").val();

        for (count = 0; count < parseInt(lengthofequ) ; count++) {
            //var t = obj.parentNode.parentNode.parentNode.parentNode.getElementsByTagName('tbody')[0];
            var tbody = document.getElementById('tblEquityShareCapital_' + count).getElementsByTagName('tbody')[0];

            tot = tot + parseFloat(tbody.rows[1].cells[1].children.txtAuthorisedCapitalEqu.value);
            tot1 = tot1 + parseFloat(tbody.rows[1].cells[2].children.txtIssuedCapital1Equ.value);
            tot2 = tot2 + parseFloat(tbody.rows[1].cells[3].children.txtSubscribedCapital1Equ.value);
            tot3 = tot3 + parseFloat(tbody.rows[1].cells[4].children.txtPaidupCapital1Equ.value);

            tot4 = tot4 + parseFloat(tbody.rows[1].cells[1].children.txtAuthorisedCapitalEqu.value) * parseFloat(tbody.rows[2].cells[1].children.txtAuthorisedCapital2.value);
            tot5 = tot5 + parseFloat(tbody.rows[1].cells[2].children.txtIssuedCapital1Equ.value) * parseFloat(tbody.rows[2].cells[2].children.txtIssuedCapital2.value);
            tot6 = tot6 + parseFloat(tbody.rows[1].cells[3].children.txtSubscribedCapital1Equ.value) * parseFloat(tbody.rows[2].cells[3].children.txtSubscribedCapital2.value);
            tot7 = tot7 + parseFloat(tbody.rows[1].cells[4].children.txtPaidupCapital1Equ.value) * parseFloat(tbody.rows[2].cells[4].children.txtPaidupCapital2.value);
        }

        if (tot < tot1 || tot < tot2 || tot < tot3) {

            if (col == -1) {
                return false;
            }
                //else if(col == 0){
                //    notification.show('Please check Authorised capital.');
                //}
            else if (col == 1) {
                notification.getNotifications().parent().remove();
                notification.show('Issued Capital does not exceed Authorised capital.');
            } else if (col == 2) {
                notification.getNotifications().parent().remove();
                notification.show('Subscribed Capital does not exceed Authorised capital.');
            } else if (col == 3) {
                notification.getNotifications().parent().remove();
                notification.show('Paid up Capital does not exceed Authorised capital.');
            }
            if (col > 0) {
                obj.value = "0";
                onchangeeventAddAuthorized(obj, col);
            }
        }
        else {
            $('#TnAuthorisedCapital')[0].value = tot;
            $('#TaAuthorisedCapital')[0].value = tot4;
            $('#TnIssuedCapital')[0].value = tot1;
            $('#TnSubscribedCapital')[0].value = tot2;
            $('#TnPaidupCapital')[0].value = tot3;
            $('#TaIssuedCapital')[0].value = tot5;
            $('#TaSubscribedCapital')[0].value = tot6;
            $('#TaPaidupCapital')[0].value = tot7;
            $("#btnequity").show();
            if (col == -1) {
                return true;
            }
        }

    }

    function onchangeeventAddPAuthorized(obj, col) {
        
        var isError="False";
        var index = obj.parentNode.parentNode.rowIndex - 1;
        var tbody = obj.parentNode.parentNode.parentNode.parentNode.getElementsByTagName('tbody')[0];
        var txtAuthorizedCapitalval = $("#txtAuthorizedCapital").val();
        var tableRef = document.getElementById(obj.parentNode.parentNode.parentNode.parentNode.id).getElementsByTagName('tbody')[0];

        var Autorized1 = tbody.rows[0].cells[1].children.txtpAuthorisedCapital1Equ.value;
        var Autorized2 = tbody.rows[1].cells[1].children.txtpAuthorisedCapital2.value;
        var Autorized3 = Autorized1 * Autorized2;
        tbody.rows[2].cells[1].children.txtpAuthorisedCapital3.value = Autorized1 * Autorized2;
        if (parseFloat(Autorized1) < parseFloat(txtAuthorizedCapitalval) && parseFloat(Autorized3) < parseFloat(txtAuthorizedCapitalval)) 
        {
            var Issued1 = tbody.rows[0].cells[2].children.txtpIssuedCapital1Equ.value;
            var Issued2 = tbody.rows[1].cells[2].children.txtpIssuedCapital2.value;
            tbody.rows[2].cells[2].children.txtpIssuedCapital3.value = Issued1 * Issued2;
            var Issued3=Issued1 * Issued2;
            var Subscribe1 = tbody.rows[0].cells[3].children.txtpSubscribedCapital1Equ.value;
            var Subscribe2 = tbody.rows[1].cells[3].children.txtpSubscribedCapital2.value;
            tbody.rows[2].cells[3].children.txtpSubscribedCapital3.value = Subscribe1 * Subscribe2;
            var Subscribe3=Subscribe1 * Subscribe2;
            var PaidupCapital1 = tbody.rows[0].cells[4].children.txtppPaidupCapital1Equ.value;
            var PaidupCapital2 = tbody.rows[1].cells[4].children.txtpPaidupCapital2.value;
            tbody.rows[2].cells[4].children.txtpPaidupCapital3.value = PaidupCapital1 * PaidupCapital2;
            var PaidupCapital3=PaidupCapital1 * PaidupCapital2;

            if (parseFloat(Autorized1) < parseFloat(Issued1) && parseFloat(Autorized1) < parseFloat(Subscribe1) && parseFloat(Autorized1) < parseFloat(PaidupCapital1)) {
               
                tbody.rows[0].cells[2].children.txtpIssuedCapital1Equ.value = "0";
                tbody.rows[0].cells[3].children.txtpSubscribedCapital1Equ.value = "0";
                tbody.rows[0].cells[4].children.txtppPaidupCapital1Equ.value = "0";
                tbody.rows[2].cells[2].children.txtpIssuedCapital3.value = "0";
                tbody.rows[2].cells[3].children.txtpSubscribedCapital3.value = "0";
                tbody.rows[2].cells[4].children.txtpPaidupCapital3.value = "0";
                isError="True";
                calculate1(obj, col);
            }
            else if (parseFloat(Autorized1) < parseFloat(Issued1) || parseFloat(Autorized1) < parseFloat(Subscribe1) || parseFloat(Autorized1) < parseFloat(PaidupCapital1)) {
                isError="True";
                tbody.rows[0].cells[2].children.txtpIssuedCapital1Equ.value = "0";
                tbody.rows[2].cells[2].children.txtpIssuedCapital3.value = "0";
               
                tbody.rows[0].cells[3].children.txtpSubscribedCapital1Equ.value = "0";
                tbody.rows[2].cells[3].children.txtpSubscribedCapital3.value="0";
             
                tbody.rows[0].cells[4].children.txtppPaidupCapital1Equ.value = "0";
                tbody.rows[2].cells[4].children.txtpPaidupCapital3.value ="0";
                calculate1(obj, col);
            }
            else if(parseFloat(Issued1)<parseFloat(Subscribe1) && (parseFloat(Issued1)<parseFloat(PaidupCapital1)) && parseFloat(Issued1)!=0)
            {
               
                tbody.rows[0].cells[3].children.txtpSubscribedCapital1Equ.value = "0";
                tbody.rows[0].cells[4].children.txtppPaidupCapital1Equ.value = "0";
                tbody.rows[2].cells[4].children.txtpPaidupCapital3.value ="0";
                tbody.rows[2].cells[3].children.txtpSubscribedCapital3.value="0";
                isError="True";
                calculate1(obj, col);
            }
            else if((parseFloat(Issued1)<parseFloat(PaidupCapital1)) || (parseFloat(Subscribe1)<parseFloat(PaidupCapital1)))
            {
                tbody.rows[0].cells[3].children.txtpSubscribedCapital1Equ.value = "0";
                tbody.rows[0].cells[4].children.txtppPaidupCapital1Equ.value = "0";
                tbody.rows[2].cells[4].children.txtpPaidupCapital3.value ="0";
                tbody.rows[2].cells[3].children.txtpSubscribedCapital3.value="0";
                isError="True";
                calculate1(obj, col);
               
            }
         
            else if(parseFloat(Autorized3)<parseFloat(Issued3) || parseFloat(Autorized3)<parseFloat(Subscribe3) || parseFloat(Autorized3)<parseFloat(PaidupCapital3) || parseFloat(Issued3)<parseFloat(Subscribe3) || parseFloat(Issued3)<parseFloat(PaidupCapital3) || parseFloat(Subscribe3)<parseFloat(PaidupCapital3))
            {
                tbody.rows[0].cells[2].children.txtpIssuedCapital1Equ.value = "0";
                tbody.rows[1].cells[2].children.txtpIssuedCapital2.value = "0";
                tbody.rows[2].cells[2].children.txtpIssuedCapital3.value = "0";
               
                tbody.rows[0].cells[3].children.txtpSubscribedCapital1Equ.value = "0";
                tbody.rows[1].cells[3].children.txtpSubscribedCapital2.value = "0";
                tbody.rows[2].cells[3].children.txtpSubscribedCapital3.value="0";

                tbody.rows[0].cells[4].children.txtppPaidupCapital1Equ.value = "0";
                tbody.rows[1].cells[4].children.txtpPaidupCapital2.value = "0";
                tbody.rows[2].cells[4].children.txtpPaidupCapital3.value ="0";

                $('#pTnIssuedCapital')[0].value = "0";
                $('#pTaIssuedCapital')[0].value = "0";
                $('#pTnSubscribedCapital')[0].value = "0";
                $('#pTaSubscribedCapital')[0].value = "0";
                $('#pTnSubscribedCapital')[0].value = "0";
                $('#pTaSubscribedCapital')[0].value = "0";
                $('#pTnPaidupCapital')[0].value = "0";
                $('#pTaPaidupCapital')[0].value = "0";
                isError="True";
                calculate1(obj, col);
            }
            if(isError=="True")
            {
                notification.getNotifications().parent().remove();
                notification.show("Please Fill Proper Data", "warning");
            }
            else if (parseFloat(Autorized1) >= parseFloat(Issued1) && parseFloat(Autorized1) >= parseFloat(Subscribe1) && parseFloat(Autorized1) >= parseFloat(PaidupCapital1) && parseFloat(Issued1)>= parseFloat(Subscribe1) &&parseFloat(Subscribe1)>= parseFloat(PaidupCapital1) && parseFloat(Subscribe1)>= parseFloat(PaidupCapital1  )) {
                calculate1(obj, col);
            }
        }
        else {

            tbody.rows[0].cells[1].children.txtpAuthorisedCapital1Equ.value = "0";
            calculate1(obj, col);
            notification.getNotifications().parent().remove();
            notification.show("Please check Preference Authorized Capital is not greater then Authorized Capital", "warning");

        }
    }

    function calculate1(obj, col) {
        
        var pcount = 0;
        var Ptot = 0;
        var Ptot1 = 0;
        var Ptot2 = 0;
        var Ptot3 = 0;
        var Ptot4 = 0;
        var Ptot5 = 0;
        var Ptot6 = 0;
        var Ptot7 = 0;
        var Plengthofequ = $("#txthidenforequep").val();
        for (pcount = 0; pcount < parseInt(Plengthofequ) ; pcount++) {
            //var tbody = document.getElementById('tblPrefrenceCapital').getElementsByTagName('tbody')[0];
            var tbody = document.getElementById('tblPrefrenceCapital_'+pcount).getElementsByTagName('tbody')[0];

        Ptot = Ptot + parseFloat(tbody.rows[0].cells[1].children.txtpAuthorisedCapital1Equ.value);
        Ptot1 = Ptot1 + parseFloat(tbody.rows[0].cells[2].children.txtpIssuedCapital1Equ.value);
        Ptot2 = Ptot2 + parseFloat(tbody.rows[0].cells[3].children.txtpSubscribedCapital1Equ.value);
        Ptot3 = Ptot3 + parseFloat(tbody.rows[0].cells[4].children.txtppPaidupCapital1Equ.value);

        Ptot4 = Ptot4 + parseFloat(tbody.rows[0].cells[1].children.txtpAuthorisedCapital1Equ.value) * parseFloat(tbody.rows[1].cells[1].children.txtpAuthorisedCapital2.value);
        Ptot5 = Ptot5 + parseFloat(tbody.rows[0].cells[2].children.txtpIssuedCapital1Equ.value) * parseFloat(tbody.rows[1].cells[2].children.txtpIssuedCapital2.value);
        Ptot6 = Ptot6 + parseFloat(tbody.rows[0].cells[3].children.txtpSubscribedCapital1Equ.value) * parseFloat(tbody.rows[1].cells[3].children.txtpSubscribedCapital2.value);
        Ptot7 = Ptot7 + parseFloat(tbody.rows[0].cells[4].children.txtppPaidupCapital1Equ.value) * parseFloat(tbody.rows[1].cells[4].children.txtpPaidupCapital2.value);
        }

        if (parseFloat(Ptot) < parseFloat(Ptot1) || parseFloat(Ptot) < parseFloat(Ptot2) || parseFloat(Ptot) < parseFloat(Ptot3)) {
            if (parseFloat(Ptot) < parseFloat(Ptot1)) {
                alert('Issued Capital does not exceed Authorised capital.');
                $('#pTnIssuedCapital')[0].value = "0";
                $('#pTaIssuedCapital')[0].value = "0";

            } else if (parseFloat(Ptot) < parseFloat(Ptot2)) {
                alert('Subscribed Capital does not exceed Authorised capital.');
                $('#pTnSubscribedCapital')[0].value = "0";
                $('#pTaSubscribedCapital')[0].value = "0";

            } else if (parseFloat(Ptot) < parseFloat(Ptot3)) {
                alert('Paid up Capital does not exceed Authorised capital.');
                $('#pTnPaidupCapital')[0].value = "0";
                $('#pTaPaidupCapital')[0].value = "0";

            }
            else if (parseFloat(Ptot) < parseFloat(Ptot1) && parseFloat(Ptot) < parseFloat(Ptot2) && parseFloat(Ptot) < parseFloat(Ptot3)) {
                $('#pTnAuthorisedCapital')[0].value = "0";
                $('#pTnIssuedCapital')[0].value = "0";
                $('#pTnIssuedCapital')[0].value = "0";
                $('#pTaIssuedCapital')[0].value = "0";
                $('#pTnSubscribedCapital')[0].value = "0";
                $('#pTaSubscribedCapital')[0].value = "0";
                $('#pTnPaidupCapital')[0].value = "0";
                $('#pTaPaidupCapital')[0].value = "0";
                alert('Paid up Capital does not exceed Authorised capital.');
            }
            if (col > 0) {
                obj.value = "0";
                //onchangeeventAddAuthorized(obj, col);
            }
        }
       
        else {
            $('#pTnAuthorisedCapital')[0].value = Ptot;
            $('#pTnIssuedCapital')[0].value = Ptot1;
            $('#pTnSubscribedCapital')[0].value = Ptot2;
            $('#pTnPaidupCapital')[0].value = Ptot3;
            $('#pTaAuthorisedCapital')[0].value = Ptot4;
            $('#pTaIssuedCapital')[0].value = Ptot5;
            $('#pTaSubscribedCapital')[0].value = Ptot6;
            $('#pTaPaidupCapital')[0].value = Ptot7;

            if (col == -1) {
                return true;
            }
        }
    }

    function onchangDebenger(obj) {
        
        var index = obj.parentNode.parentNode.rowIndex - 1;
        var tbody = obj.parentNode.parentNode.parentNode.parentNode.getElementsByTagName('tbody')[0];
        var tableRef = document.getElementById(obj.parentNode.parentNode.parentNode.parentNode.id).getElementsByTagName('tbody')[0];

        var Unitsncd1 = tbody.rows[0].cells[1].children.txtNumberofUnitsncd.value;
        var Unitsncd2 = tbody.rows[0].cells[2].children.txtNominalValueperunitncd.value;
        tbody.rows[0].cells[3].children.txtTotalValuencd.value = Unitsncd1 * Unitsncd2;;


        var Issued1 = tbody.rows[1].cells[1].children.txtNumberofUnitspcd.value;
        var Issued2 = tbody.rows[1].cells[2].children.txtNominalValueperunitnpcd.value;
        tbody.rows[1].cells[3].children.txtTotalValuenpcd.value = Issued1 * Issued2;;


        var Subscribe1 = tbody.rows[2].cells[1].children.txtNumberofUnitsfcd.value;
        var Subscribe2 = tbody.rows[2].cells[2].children.txtNominalValueperunitnfcd.value;
        tbody.rows[2].cells[3].children.txtTotalValuenfcd.value = Subscribe1 * Subscribe2;;

        tbody.rows[3].cells[3].children.txtTotalDebentures.value = parseInt(tbody.rows[0].cells[3].children.txtTotalValuencd.value) + parseInt(tbody.rows[1].cells[3].children.txtTotalValuenpcd.value) + parseInt(tbody.rows[2].cells[3].children.txtTotalValuenfcd.value)


    }

    //Prifrence Share Cpital Table hide and show using radio button
    $(document).on("change", "input[name='IsPrefrence']", function () {
        
        if (this.value == "True") {

            document.getElementById('DIVPre').style.display = 'block';

        }
        else {
            document.getElementById('DIVPre').style.display = 'none';
        }
    });

    //UnAuthorized Share Cpital Table hide and show using radio button
    $(document).on("change", "input[name='IsUnclassified']", function () {
        
        if (this.value == "True") {
            document.getElementById('divfrmUpdateUnclassifiedCapital1').style.display = 'block';

        }
        else {
            document.getElementById('divfrmUpdateUnclassifiedCapital1').style.display = 'none';
        }
    })

    //Debenture Share Cpital Table hide and show using radio button
    $(document).on("change", "input[name='IsDebentures']", function () {
        
        if (this.value == "True") {
            document.getElementById('debenture').style.display = 'block';

        }
        else {
            document.getElementById('debenture').style.display = 'none';
        }
    })
</script>


@if (Model.AuthorizedCapital.AuthorisedId == 0)
{
    <script>
        $('#Equity').hide();
        $('#Prefrence').hide();
        $('#Unclasified').hide();
        $('#Debenture').hide();
    </script>
}