﻿@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;
@{
    ViewBag.Title = "Status Report :: My Reports";
}

<style>
    .k-alt {
        background: #FFFFFF;
    }

    .k-grid-content .k-state-selected {
        color: #fff;
        background-color: transparent;
        border-color: transparent;
    }

    .k-grid-content {
        max-height: 100px;
        max-height: 450px;
    }
</style>

<!-- Filter Script-->
<script>
    function getFilters() {

        var filter = { logic: "and", filters: [] };

        var ddlMappingType = $("#ddlMappingType").data("kendoDropDownList");

        if(ddlMappingType!=null && ddlMappingType!=undefined){
            var mappingType = ddlMappingType.value();

            if (mappingType > 0) {
                if (mappingType == 1) {
                    var filterMapping = { logic: "or", filters: [] };

                    filterMapping.filters.push({ field: "MappingType", operator: "eq", value: "M" });
                    filterMapping.filters.push({ field: "MappingType", operator: "eq", value: "A" });

                    filter.filters.push(filterMapping);
                } else if (mappingType == 2) {
                    filter.filters.push({ field: "MappingType", operator: "eq", value: "S" });
                }
                else if(mappingType == 3) {
                    filter.filters.push({ field: "MappingType", operator: "eq", value: "D" });
                }
            }
        }

        //Company/Entity
        var ddlEntityId = $("#ddlEntity").data("kendoDropDownTree");
        if(ddlEntityId!=null && ddlEntityId!=undefined){
            var selectedCompanies = ddlEntityId._values;;

            var filterEntity = { logic: 'or', filters: [] };
            if (selectedCompanies.length > 0) {
                for (var i = 0; i < selectedCompanies.length; i++) {
                    filterEntity.filters.push({ field: "EntityId", operator: "eq", value: parseInt(selectedCompanies[i]) });
                }
                filter.filters.push(filterEntity);
            }
        }

        //FY
        var ddlFY = $("#ddlFY").data("kendoDropDownTree");
        if(ddlFY!=null && ddlFY!=undefined){
            var selectedFYs = ddlFY._values;;

            var filterFY = { logic: 'or', filters: [] };
            if (selectedFYs.length > 0) {
                for (var i = 0; i < selectedFYs.length; i++) {
                    filterFY.filters.push({ field: "EntityId", operator: "eq", value: parseInt(selectedFYs[i]) });
                }
                filter.filters.push(filterFY);
            }
        }

        //Status
        var ddlStatus = $("#ddlStatus").data("kendoDropDownTree");
        if(ddlStatus!=null && ddlStatus!=undefined){
            var selectedStatuses = ddlStatus._values;;

            var filterStatus = { logic: 'or', filters: [] };
            if (selectedStatuses.length > 0) {
                for (var i = 0; i < selectedStatuses.length; i++) {
                    filterStatus.filters.push({ field: "ComplianceStatus", operator: "eq", value: selectedStatuses[i] });
                }
                filter.filters.push(filterStatus);
            }
        }

        //Risk
        var ddlRisk = $("#ddlRisk").data("kendoDropDownTree");
        if(ddlRisk!=null && ddlRisk!=undefined){
            var selectedRisks = ddlRisk._values;;

            var filterRisk = { logic: 'or', filters: [] };
            if (selectedRisks.length > 0) {
                for (var i = 0; i < selectedRisks.length; i++) {
                    filterRisk.filters.push({ field: "Risk", operator: "eq", value: selectedRisks[i] });
                }
                filter.filters.push(filterRisk);
            }
        }

        //Meeting
        var ddlMeetings = $("#ddlMeetings").data("kendoMultiSelect");
        if(ddlMeetings!=null && ddlMeetings!=undefined){
            var selectedMeetings = ddlMeetings._values;

            var filterMeetings = { logic: 'or', filters: [] };
            if (selectedMeetings.length > 0) {
                for (var i = 0; i < selectedMeetings.length; i++) {
                    filterMeetings.filters.push({ field: "MeetingID", operator: "eq", value: parseInt(selectedMeetings[i]) });
                }
                filter.filters.push(filterMeetings);
            }
        }

        //Agenda
        var ddlAgendas = $("#ddlAgendas").data("kendoDropDownTree");
        if(ddlAgendas!=null && ddlAgendas!=undefined){
            var selectedAgendas = ddlAgendas._values;;

            var filterAgenda = { logic: 'or', filters: [] };
            if (selectedAgendas.length > 0) {
                for (var i = 0; i < selectedAgendas.length; i++) {
                    filterAgenda.filters.push({ field: "AgendaID", operator: "eq", value: parseInt(selectedAgendas[i]) });
                }
                filter.filters.push(filterAgenda);
            }
        }

        //Act
        var ddlAct = $("#ddlAct").data("kendoDropDownTree");
        if(ddlAct!=null && ddlAct!=undefined){
            var selectedActs = ddlAct._values;;

            var filterAct = { logic: 'or', filters: [] };
            if (selectedActs.length > 0) {
                for (var i = 0; i < selectedActs.length; i++) {
                    filterAct.filters.push({ field: "ActID", operator: "eq", value: parseInt(selectedActs[i]) });
                }
                filter.filters.push(filterAct);
            }
        }

        return filter;
    }

    function filterChange() {
        var filter = getFilters();
        grid = $("#gridStatusReport").data("kendoGrid");
        grid.dataSource.filter(filter);
    }

    function ShowHideGridColumns() {
        
        var grid = $("#gridStatusReport").data("kendoGrid");

        if(grid!=null && grid !=undefined){
            //Company/Entity Selection
            var ddlEntityId = $("#ddlEntity").data("kendoDropDownTree");
            var selectedCompanies = ddlEntityId._values;;

            if (selectedCompanies.length== 1) {
                grid.hideColumn("CompanyName");
            }else{

            }

            //Meeting Selection
            var ddlMeetings = $("#ddlMeetings").data("kendoDropDownTree");
            if(ddlMeetings!=null && ddlMeetings!=undefined){
                var selectedMeetings = ddlMeetings._values;;

                if (selectedMeetings.length == 1) {
                    grid.hideColumn("MeetingTitle");
                }else{

                }
            }

            //Agenda Selection
            var ddlAgendas = $("#ddlAgendas").data("kendoDropDownTree");
            if(ddlAgendas!=null && ddlAgendas!=undefined){
                var selectedAgendas = ddlAgendas._values;;

                if (selectedAgendas.length == 1) {
                    grid.hideColumn("AgendaItemTextNew");
                }else{

                }
            }

            var ddlMappingType = $("#ddlMappingType").data("kendoDropDownList");

            if(ddlMappingType!=null && ddlMappingType!=undefined){

                var selectedValue = ddlMappingType.value();

                //1-Meeting
                if (selectedValue == "1") {
                    grid.showColumn("MeetingTitle");
                    grid.showColumn("AgendaItemTextNew");

                    grid.hideColumn("Frequency");
                    grid.hideColumn("ForMonth");
                    grid.hideColumn("DirectorName");
                }

                //2-Statutory
                if (selectedValue == "2") {
                    grid.hideColumn("MeetingTitle");
                    grid.hideColumn("AgendaItemTextNew");

                    grid.showColumn("Frequency");
                    grid.showColumn("ForMonth");
                    grid.hideColumn("DirectorName");
                }
                //3-Director
                if (selectedValue == "3") {
                    grid.hideColumn("MeetingTitle");
                    grid.hideColumn("AgendaItemTextNew");

                    grid.showColumn("Frequency");
                    grid.showColumn("ForMonth");

                    grid.showColumn("DirectorName");
                    grid.hideColumn("CompanyName");
                }
            }
        }
    }

    function ddlMappingType_SelectedIndexChanged() {
        
        var ddlMappingType = $("#ddlMappingType").data("kendoDropDownList");

        if(ddlMappingType!=null && ddlMappingType!=undefined){

            var selectedValue = ddlMappingType.value();

            //1-Meeting
            if (selectedValue == "1") {
                //Clear and Fill Meeting Dropdown
                var ddlMeetings=$("#ddlMeetings").data("kendoDropDownTree");
                if(ddlMeetings!=null && ddlMeetings!=undefined){
                    $("#ddlMeetings").data("kendoDropDownTree").value([]);
                }

                $("#divMeetingList").removeClass('hidden');
                fillMeetings();

                //Clear and Fill Agenda Dropdown
                var ddlAgenda=$("#ddlAgenda").data("kendoDropDownTree");
                if(ddlAgenda!=null && ddlAgenda!=undefined){
                    $("#ddlAgenda").data("kendoDropDownTree").value([]);
                }

                $("#divAgenda").removeClass('hidden');
                fillAgenda();

                //Clear and Fill Act Dropdown
                var ddlAct=$("#ddlAct").data("kendoDropDownTree");
                if(ddlAct!=null && ddlAct!=undefined){
                    $("#ddlAct").data("kendoDropDownTree").value([]);
                }

                $("#divAct").addClass('hidden');
            } else if (selectedValue == "2" || selectedValue == "3") {
                //2-Statutory, 3-Self
                
                $("#ddlEntity").data("kendoDropDownTree").value([]);

                //Clear Meeting Dropdown
                var ddlMeetings=$("#ddlMeetings").data("kendoDropDownTree");
                if(ddlMeetings!=null && ddlMeetings!=undefined){
                    $("#ddlMeetings").data("kendoDropDownTree").value([]);
                }
                $("#divMeetingList").addClass('hidden');

                //Clear Agenda Dropdown
                var ddlAgenda=$("#ddlAgenda").data("kendoDropDownTree");
                if(ddlAgenda!=null && ddlAgenda!=undefined){
                    $("#ddlAgenda").data("kendoDropDownTree").value([]);
                }
                $("#divAgenda").addClass('hidden');

                //Clear and Fill Act Dropdown
                var ddlAct=$("#ddlAct").data("kendoDropDownTree");
                if(ddlAct!=null && ddlAct!=undefined){
                    $("#ddlAct").data("kendoDropDownTree").value([]);
                }
                $("#divAct").removeClass('hidden');
                fillAct();
            } else  {
                $("#divMeetingList").addClass('hidden');
                $("#divAgenda").addClass('hidden');
                $("#divAct").addClass('hidden');
            }

            ShowHideGridColumns();
            filterChange();
        }
    }

    function ddlStatus_SelectedIndexChanged() {
        filterChange();
    }

    function ddlFY_SelectedIndexChanged(){
        ddlMappingType_SelectedIndexChanged();
    }

    function ddlEntity_SelectChanged() {
        ddlMappingType_SelectedIndexChanged();
        //filterChange();
    }

    function ddlMeetings_SelectedIndexChanged() {
        fillAgenda();
        //filterChange();
    }

    function GetAll_MyDocuments(){

        kendo.ui.progress($("#divParentGridMyCompliances"), true);

        var loggedInUserID = @AuthenticationHelper.UserID;
        var customerID=@AuthenticationHelper.CustomerID;

        var sharedDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '/api/ComplianceAPI/GetComplianceStatusReport_Director?userID='+loggedInUserID+'&customerID='+customerID+'&statusID=-1&roleID=4',
                    dataType: "json",
                }
            },
            schema: {
                model: { id: "ScheduleOnID" },
                data: function (response) {
                    if (response != null && response != undefined) {
                        return response;
                    }
                },
                total: function (response) {
                    if (response != null && response != undefined) {
                        if (response.length > 0) {

                        }
                        return response.length;
                    }
                }
            },

            pageSize: 10
        });

        sharedDataSource.read();

        BindGrid_MyDocuments(sharedDataSource);
        fillGrid_MyDocuments_Hidden(sharedDataSource);
        fillFinancialYear();
    }

    function onRowSelect(arg) {
        
        console.log("The selected ids are: [" + this.selectedKeyNames().join(", ") + "]");
    }

    function BindGrid_MyDocuments(dsMyDocuments){

        var fileName = '';
        var exportExcelName = fileName.concat('ComplianceStatusReport-', '@DateTime.Now.ToString("ddMMyyyy")', ".xlsx");

        $("#gridStatusReport").kendoGrid({
            dataSource: dsMyDocuments,
            autoBind:false,
            columnMenu: {
                columns:false,
            },
            filterable:true,
            sortable: true,
            scrollable: true,
            pageable: {
                pageSizes: true
            },
            change: onRowSelect,
            dataBound: gridStatusReport_RowDataBound,
            columns: [
                { field: "EntityId", title: "EntityId", hidden: true, },
                { field: "CompanyName", title: "Company", width: "15%", attributes: {"class": "showTooltip", style: 'white-space: nowrap;' }, sortable:true,  },

                { field: "DirectorId", title: "DirectorId", hidden: true, },
                { field: "DirectorName", title: "Director", width: "15%", attributes: {"class": "showTooltip", style: 'white-space: nowrap;' }, sortable:true, hidden: true, },

                { field: "FY", title: "FY", hidden: true, },
                { field: "FYText", title: "Financial Year", width: "10%", attributes: { style: 'white-space: nowrap;' }, filterable: { multi: true, search: true, } },

                { field: "MeetingID", title: "MeetingID", hidden: true, },
                { field: "MeetingTitle", title: "Meeting", width: "15%", attributes: {"class": "showTooltip", style: 'white-space: nowrap;' }, filterable: { multi: true, search: true, } },

                { field: "AgendaID", title: "AgendaID", hidden: true, },
                { field: "AgendaItemTextNew", title: "Agenda", width: "15%", attributes: {"class": "showTooltip", style: 'white-space: nowrap;' }, filterable: { multi: true, search: true, } },

                { field: "ActID", title: "ActID", hidden: true, },
                { field: "ActName", title: "Act", width: "15%", attributes: {"class": "showTooltip", style: 'white-space: nowrap;' },hidden: true, filterable: { multi: true, search: true, } },

                { field: "ComplianceInstanceID", title: "ComplianceInstanceID", hidden: true, },
                { field: "ScheduleOnID", title: "ScheduleOnID", hidden: true, },
                { field: "ShortDescription", title: "Compliance", width: "30%", attributes: { title: "#:Description#", style: 'white-space: nowrap;' }, filterable: { multi: true, search: true, } },

                { field: "Frequency", title: "Frequency", hidden: true, filterable: { multi: true, search: true, } },
                { field: "ForMonth", title: "Period", hidden: true, filterable: { multi: true, search: true, } },

                { field: "Risk", title: "Risk", hidden: true, filterable: { multi: true, search: true, } },

                //{ field: "Description", title: "Description", width: "300px;", attributes: { title: "#:Description#" } },
                { field: "ScheduleOn", title: "Due Date", width: "10%", template: "#= ScheduleOn == null ? '' : kendo.toString(kendo.parseDate(ScheduleOn), \"dd-MMM-yyyy\")#", attributes: { style: 'white-space: nowrap;' } , filterable: false, },

                { field: "ComplianceStatus", title: "Status", width: "10%", attributes: { style: 'white-space: nowrap;' }, filterable: { multi: true, search: true, } },
                {
                    title: "Action", lock: true, width: "10%;",
                    command:[                             
                             //{ name: "overview", text: "", imageClass:"hoverCircle", iconClass: "k-grid-view overview", click: ShowComplianceOverview,},
                             { name: "download", text: "", imageClass:"hoverCircle", iconClass: "k-grid-download",
                                 click: DownloadComplianceDocument ,
                                 visible: function (dataItem) {
                                     if (dataItem.StatusId != "1") {
                                         return true;
                                     } else {
                                         return false;
                                     }
                                 }
                             },
                             { name: "view", text: "", imageClass:"hoverCircle", iconClass: "k-grid-view",
                                 click: ViewComplianceDocument,
                                 visible: function (dataItem) {
                                     if (dataItem.StatusId != "1") {
                                         return true;
                                     } else {
                                         return false;
                                     }
                                 }
                             },
                    ],
                }
            ],
            editable: false,
            excel: {
                fileName: exportExcelName,
                allPages: true,
            },
            excelExport: function (e) {
                
                var sheet = e.workbook.sheets[0];

                for (var rowIndex = 1; rowIndex < sheet.rows.length; rowIndex++) {
                    var row = sheet.rows[rowIndex];
                    var cellIndex = 5;

                    var value = row.cells[cellIndex].value;
                    var newValue = DateFormatConverter(value);

                    row.cells[cellIndex].value = newValue;
                    row.cells[cellIndex].format = "dd-MMM-yyyy";
                    row.cells[cellIndex].autoWidth = true;
                }

                var columns = e.workbook.sheets[0].columns;
                columns.forEach(function (column) {
                    delete column.width;
                    column.autoWidth = true;
                });
            },
        });
    }

    function DateFormatConverter(providedDate) {

        var strDate = '';
        kendo.culture("en-IN");
        if (providedDate != null && providedDate != undefined) {
            strDate = kendo.toString(kendo.parseDate(providedDate), "dd-MMM-yyyy")
        }
        return strDate;
    }

    var initialLoad=true;
    function gridStatusReport_RowDataBound(e) {
        
        var grid = $("#gridStatusReport").data("kendoGrid");
        GetICons();
        getGridborder(grid);
        if(initialLoad){
            fillFinancialYear();
            initialLoad=false;
        }
    }

    function toolTipContent(e) {
        return e.target.context.innerText;
    }

    function fillMeetings() {

        
        // Gets the data source from the grid.
        var grid = $("#gridStatusReport_Hidden").data("kendoGrid");

        if(grid!=null && grid!=undefined){
            var meetingData = grid.dataSource;
            meetingData.filter({});

            var ddlEntityId = $("#ddlEntity").data("kendoDropDownTree");
            var selectedCompanies = ddlEntityId._values;

            var filter = { logic: "and", filters: [] };

            var filterEntity = { logic: 'or', filters: [] };
            if (selectedCompanies.length > 0) {
                for (var i = 0; i < selectedCompanies.length; i++) {
                    filterEntity.filters.push({ field: "EntityId", operator: "eq", value: parseInt(selectedCompanies[i]) });
                }
                filter.filters.push(filterEntity);
            }

            meetingData.filter(filter);

            var dataFiltered = meetingData.dataFiltered();

            const result = [];
            const map = new Map();

            $.each(dataFiltered, function(index, item){
                if(!map.has(item.MeetingID)&& item.MeetingID!=null){
                    map.set(item.MeetingID, true);    // set any value to Map
                    result.push({
                        MeetingID: item.MeetingID,
                        MeetingTitle: item.MeetingTitle
                    });
                }
            });

            BindMeetings(result);

            //var ddlMeetings = $("#ddlMeetings").data("kendoMultiSelect");
            //ddlMeetings.setDataSource(result);
        }
    }

    function fillGrid_MyDocuments_Hidden(dataSource) {
        $("#gridStatusReport_Hidden").kendoGrid({
            columns: [
                        { field: "EntityId" },
                        { field: "CompanyName" },
                        { field: "FY" },
                        { field: "FYText" },
                        { field: "MeetingID" },
                        { field: "MeetingTitle" },
                        { field: "AgendaID" },
                        { field: "AgendaItemTextNew" },
                        { field: "DirectorId" },
                        { field: "DirectorName" },
            ],
            editable: false,
            dataSource: dataSource,
            autoBind:false,
        });
    }

    function fillAgenda() {

        
        // Gets the data source from the grid.
        var grid = $("#gridStatusReport_Hidden").data("kendoGrid");

        if(grid!=null && grid!=undefined){
            var meetingData = grid.dataSource;
            meetingData.filter({});

            var ddlEntityId = $("#ddlEntity").data("kendoDropDownTree");
            if(ddlEntityId!=null && ddlEntityId!=undefined){
                var selectedCompanies = ddlEntityId._values;

                var filter = { logic: "and", filters: [] };

                //Entity Filters
                var filterEntity = { logic: 'or', filters: [] };
                if (selectedCompanies.length > 0) {
                    for (var i = 0; i < selectedCompanies.length; i++) {
                        filterEntity.filters.push({ field: "EntityId", operator: "eq", value: parseInt(selectedCompanies[i]) });
                    }
                    filter.filters.push(filterEntity);
                }else{

                }
            }

            //Meeting Filters
            var ddlMeetings = $("#ddlMeetings").data("kendoDropDownTree");
            if(ddlMeetings!=null && ddlMeetings!=undefined){
                var selectedMeetings = ddlMeetings._values;

                var filterMeetings = { logic: 'or', filters: [] };
                if (selectedMeetings.length > 0) {
                    $("#divAgenda").removeClass('hidden');
                    for (var i = 0; i < selectedMeetings.length; i++) {
                        filterMeetings.filters.push({ field: "MeetingID", operator: "eq", value: parseInt(selectedMeetings[i]) });
                    }
                    filter.filters.push(filterMeetings);
                }else{
                    $("#divAgenda").addClass('hidden');
                }
            }

            meetingData.filter(filter);

            var dataFiltered = meetingData.dataFiltered();

            const result = [];
            const map = new Map();

            $.each(dataFiltered, function(index, item){
                if(!map.has(item.AgendaID)&& item.AgendaID!=null && item.AgendaItemTextNew!=null){
                    map.set(item.AgendaID, true);    // set any value to Map
                    result.push({
                        AgendaID: item.AgendaID,
                        AgendaItemTextNew: item.AgendaItemTextNew
                    });
                }
            });

            BindAgendas(result);
        }
    }

    function fillFinancialYear() {

        
        // Gets the data source from the grid.
        var grid = $("#gridStatusReport_Hidden").data("kendoGrid");

        if(grid!=null && grid!=undefined){
            var meetingData = grid.dataSource;
            //meetingData.filter({});

            var dataFiltered = meetingData.dataFiltered();

            const result = [];
            const map = new Map();

            $.each(dataFiltered, function(index, item){
                if(!map.has(item.FY) && item.FY > 0){
                    map.set(item.FY, true);    // set any value to Map
                    result.push({
                        FY: item.FY,
                        FYText: item.FYText
                    });
                }
            });
            BindFinancialYear(result);
        }
    }

    function fillAct() {

        
        // Gets the data source from the grid.
        var grid = $("#gridStatusReport_Hidden").data("kendoGrid");

        if(grid!=null && grid!=undefined){
            var gridMasterData = grid.dataSource;
            gridMasterData.filter({});

            var ddlEntityId = $("#ddlEntity").data("kendoDropDownTree");
            if(ddlEntityId!=null && ddlEntityId!=undefined){
                var selectedCompanies = ddlEntityId._values;

                var filter = { logic: "and", filters: [] };

                //Entity Filters
                var filterEntity = { logic: 'or', filters: [] };
                if (selectedCompanies.length > 0) {
                    for (var i = 0; i < selectedCompanies.length; i++) {
                        filterEntity.filters.push({ field: "EntityId", operator: "eq", value: parseInt(selectedCompanies[i]) });
                    }
                    filter.filters.push(filterEntity);
                }else{

                }
            }

            gridMasterData.filter(filter);

            var dataFiltered = gridMasterData.dataFiltered();

            const result = [];
            const map = new Map();

            $.each(dataFiltered, function(index, item){
                if(!map.has(item.ActID)&& item.ActID!=null){
                    map.set(item.ActID, true);    // set any value to Map
                    result.push({
                        ActID: item.ActID,
                        ActName: item.ActName
                    });
                }
            });

            BindAct(result);
        }
    }
</script>

<!--popup schedule details-->
<script>
    function BindEntity() {
        
        var loggedInUserID = @AuthenticationHelper.UserID;
        var customerID=@AuthenticationHelper.CustomerID;

        $("#ddlEntity").kendoDropDownTree({
            placeholder: "Company - All",
            filter: "contains",
            autoClose: false,
            tagMode: "single",
            checkboxes: true,
            checkAll: true,
            checkAllTemplate: "Select All",
            dataTextField: "EntityName",
            dataValueField: "Id",
            //autoBind:false,
            change: function (e) {
                ddlEntity_SelectChanged();
            },
            dataSource: {
                transport: {
                    read: {
                        url: '/api/EntityMasterAPI/DirectorAssignedEntities?custID='+customerID+'&userID='+loggedInUserID,
                    }
                },
                schema: {
                    model: {
                        id: "Id",
                        hasChildren: false
                    },

                },
            },
        });
    }

    function BindMeetings(dataSourceMeetings) {
        
        var loggedInUserID = @AuthenticationHelper.UserID;
        var customerID=@AuthenticationHelper.CustomerID;

        if ($('#ddlMeetings').data('kendoDropDownTree')) {
            $('#ddlMeetings').data('kendoDropDownTree').destroy();
            $('#divMeetingList').empty();
            $('#divMeetingList').append('<input id="ddlMeetings" data-placeholder="Meetings" style="width: 95%;" />');
        }

        $("#ddlMeetings").kendoDropDownTree({
            placeholder: "Meeting - All",
            filter: "contains",
            autoClose: true,
            tagMode: "single",
            checkboxes: true,
            checkAll: true,
            checkAllTemplate: "Select All",
            dataTextField: "MeetingTitle",
            dataValueField: "MeetingID",
            autoBind:true,
            change: function (e) {
                ddlMeetings_SelectedIndexChanged();
            },
            dataSource: dataSourceMeetings
        });
    }

    function BindAgendas(dataSourceAgendas) {
        

        if ($('#ddlAgendas').data('kendoDropDownTree')) {
            $('#ddlAgendas').data('kendoDropDownTree').destroy();
            $('#divAgenda').empty();
            $('#divAgenda').append('<input id="ddlAgendas" data-placeholder="Agendas" style="width: 95%;" />');
        }

        $("#ddlAgendas").kendoDropDownTree({
            placeholder: "Agenda - All",
            filter: "contains",
            autoClose: true,
            tagMode: "single",
            checkboxes: true,
            checkAll: true,
            checkAllTemplate: "Select All",
            dataTextField: "AgendaItemTextNew",
            dataValueField: "AgendaID",
            autoBind:false,
            encoded:true,
            //template:kendo.htmlEncode("<span>#: data.AgendaItemTextNew :</span>"),
            template: kendo.template($("#ddlAgendaTemplate").html()),
            change: function (e) {
                ddlMeetings_SelectedIndexChanged();
            },
            dataSource: dataSourceAgendas
        });
    }

    function BindFinancialYear(dataSource) {
        

        if ($('#ddlFY').data('kendoDropDownTree')) {
            $('#ddlFY').data('kendoDropDownTree').destroy();
            $('#divDDLFY').empty();
            $('#divDDLFY').append('<input id="ddlFY" data-placeholder="Financial Year" style="width: 95%;" />');
        }

        $("#ddlFY").kendoDropDownTree({
            placeholder: "Financial Year-All",
            filter: "contains",
            autoClose: true,
            tagMode: "single",
            checkboxes: true,
            checkAll: true,
            checkAllTemplate: "Select All",
            dataTextField: "FYText",
            dataValueField: "FY",
            autoBind:false,
            change: function (e) {
                ddlFY_SelectedIndexChanged();
            },
            dataSource: dataSource
        });
    }

    function BindAct(dataSourceActs) {
        

        if ($('#ddlAct').data('kendoDropDownTree')) {
            $('#ddlAct').data('kendoDropDownTree').destroy();
            $('#divAct').empty();
            $('#divAct').append('<input id="ddlAct" data-placeholder="Act" style="width: 95%;" />');
        }

        $("#ddlAct").kendoDropDownTree({
            placeholder: "Act - All",
            filter: "contains",
            autoClose: true,
            tagMode: "single",
            checkboxes: true,
            checkAll: true,
            checkAllTemplate: "Select All",
            dataTextField: "ActName",
            dataValueField: "ActID",
            autoBind:false,
            change: function (e) {

            },
            dataSource: dataSourceActs
        });
    }

    function Bind_StatusFilter() {
        $("#ddlStatus").kendoDropDownTree({
            placeholder: "Status - All",
            autoClose: false,
            tagMode: "single",
            checkboxes: true,
            checkAll: true,
            checkAllTemplate: "Select All",
            autoWidth: true,
            dataTextField: "text",
            dataValueField: "value",
            change: function (e) {
                ddlStatus_SelectedIndexChanged();
            },
            dataSource: [
                { text: "Upcoming", value: "Upcoming" },
                { text: "Overdue", value: "Overdue" },
                { text: "Pending for Review", value: "Pending for Review" },
                { text: "Closed-Timely", value: "Closed-Timely" },
                { text: "Closed-Delayed", value: "Closed-Delayed" },
            ]
        });
    }

    function Bind_Risk() {
        $("#ddlRisk").kendoDropDownTree({
            placeholder: "Risk - All",
            autoClose: false,
            tagMode: "single",
            checkboxes: true,
            checkAll: true,
            checkAllTemplate: "Select All",
            autoWidth: true,
            dataTextField: "text",
            dataValueField: "value",
            change: function (e) {

            },
            dataSource: [
                { text: "High", value: "0" },
                { text: "Medium", value: "1" },
                { text: "Low", value: "Pending 2" },
            ]
        });
    }

    function ViewComplianceDocument (e) {
        
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        //var item = $("#grid").data("kendoGrid").dataItem($(this).closest("tr"));
        ViewDocument(dataItem.ScheduleOnID, dataItem.ComplianceInstanceID);
        return true;
    };

    function ViewDocument(scheduledonid, transactionid) {
        $('#OverViews').attr('width', '100%');
        $('#OverViews').attr('height', '600px');
        $('.modal-dialog').css('width', '80%');
        $('#OverViews').attr('src', "/Common/DocumentOverview.aspx?ComplianceScheduleID=" + scheduledonid + "&ComplainceTransactionID=" + transactionid + "&ISStatutoryflag=-1");
        $('#divOverView').modal('show');
    }

    function DownloadComplianceDocument (e) {
        
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        OpenDownloadPopup(dataItem.ScheduleOnID, dataItem.ComplianceInstanceID);
        return true;
    }

    function OpenDownloadPopup(scheduledonid, transactionid) {
        $('#OverViews').attr('width', '400px');
        $('#OverViews').attr('height', '200px');
        $('.modal-dialog').css('width', '466px');
        $('#OverViews').attr('src', "/Common/DownloadOverview.aspx?ComplianceScheduleID=" + scheduledonid + "&ComplainceTransactionID=" + transactionid + "&ISStatutoryflag=-1");
        $('#divOverView').modal('show');
    }

    function ShowComplianceOverview (e) {
        
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        OpenOverviewPopup(dataItem.ScheduleOnID, dataItem.ComplianceInstanceID);
        return true;
    }

    function OpenOverviewPopup(scheduledonid, instanceid) {
        $('#OverViews').attr('width', '80%');
        $('#OverViews').attr('height', '80%');
        $('.modal-dialog').css('width', '80%');
        $('#OverViews').attr('src', "/Common/ComplianceOverview.aspx?ComplianceScheduleID=" + scheduledonid + "&ComplainceInstatnceID=" + instanceid);
        $('#divOverView').modal('show');
    }

    function ExportToExcel(e) {
        e.preventDefault();
        kendo.ui.progress($("#gridStatusReport").data("kendoGrid").element, true);

        // trigger export of the products grid
        $("#gridStatusReport").data("kendoGrid").saveAsExcel();

        kendo.ui.progress($("#gridStatusReport").data("kendoGrid").element, false);
        return false;
    }
</script>

<script id="ddlAgendaTemplate" type="text/kendo-ui-template">
    <span>#: item.AgendaItemTextNew #</span>
</script>

<div class="Dashboard-white-widget">
    <div class="dashboard">

        <div class="row master-Headre">
            <div class="col-md-12 vertical-center">
                <div class="form-group">
                    <div class="col-md-1 colpadding0">
                        @(Html.Kendo().DropDownList()
                .Name("ddlMappingType")
                .BindTo(new SelectList(new List<object> {
                            new {id=0,text="Type-All"},
                            new {id=1,text="Meeting"},
                            new {id=2,text="Statutory"},
                            new {id=3,text="Self"}
                }, "id", "text"))
                .Events(e => e.Change("ddlMappingType_SelectedIndexChanged"))
                .HtmlAttributes(new { style = "width: 95%;" })
                        )
                    </div>

                    <div id="divDDLFY" class="col-md-2 colpadding0">
                        <input id="ddlFY" class="form-control" data-placeholder="Financial Year" style="width: 95%;" />
                    </div>

                    <div id="divDDLStatus" class="col-md-2 colpadding0">
                        <input id="ddlStatus" class="form-control" style="width: 95%;" />
                    </div>

                    <div id="divddlEntityId" class="col-md-3 colpadding0">
                        <input id="ddlEntity" data-placeholder="Company" style="width: 95%;" />
                    </div>

                    <div id="divMeetingList" class="col-md-3 colpadding0 hidden">
                        <input id="ddlMeetings" data-placeholder="Meetings" style="width: 95%;" />
                    </div>

                    <div id="divAgenda" class="col-md-3 colpadding0 hidden">
                        <input id="ddlAgendas" data-placeholder="Agenda" style="width: 95%;" />
                    </div>

                    <div id="divAct" class="col-md-3 colpadding0 hidden">
                        <input id="ddlAct" data-placeholder="Act" style="width: 95%;" />
                    </div>

                    <div id="divBtnExport" class="col-md-1 colpadding0">
                        <button id="btnExcel" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Export to Excel"><span class="k-icon k-i-excel"></span>Export</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row colpadding0 mt10">
            <div class="col-md-12 colpadding0">
                <div id="divGridParent">
                    <div id="gridStatusReport"></div>
                </div>

                <div id="divHiddenGridParent" class="hidden">
                    <div id="gridStatusReport_Hidden"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divOverView" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog" style="width: 1150px;">
        <div class="modal-content" style="width: 100%;">
            <div class="modal-header" style="border-bottom: none;">
                <button type="button" class="close" data-dismiss="modal" onclick="CloseClearOV();" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <iframe id="OverViews" src="about:blank" width="80%" height="100%" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        var breadCrumbData = [
            {
                displayText: "My Reports",
                navigateUrl: "#",
            },
            {
                displayText: "Compliance Status Report",
                navigateUrl: "#",
            }
        ];

        setBreadCrumb(breadCrumbData);

        BindEntity();
        //BindGrid_MyDocuments();
        GetAll_MyDocuments();

        Bind_StatusFilter();

        $("#gridStatusReport").kendoTooltip({
            filter: ".k-grid-view",
            content: function (e) {
                return "View";
            },
            show:PositionTooltip
        });

        $("#gridStatusReport").kendoTooltip({
            filter: ".k-grid-overview",
            content: function (e) {
                return "overview";
            },
            show:PositionTooltip
        });

        $("#gridStatusReport").kendoTooltip({
            filter: ".k-grid-download",
            content: function (e) {
                return "Download";
            },
            show:PositionTooltip
        });

        $("#gridStatusReport").kendoTooltip({
            filter: "th",
            content: toolTipContent,
            show:PositionTooltip
        });

        $("#btnExcel").click(function (e) {
            ExportToExcel(e);
        });

        $("#gridStatusReport").kendoTooltip({
            filter: ".showTooltip",
            content: toolTipContent,
            show:PositionTooltip
        });
    });
</script>