﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.AgendaMasterVM

<div id="divDetailsOfAgendaNew">
    @using (Ajax.BeginForm("CreateAgenda", "AgendaMaster", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divDetailsOfAgendaNew", OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmAddEditAgendaNew" }))
    {
        <div id="example">
            <div id="window" style="min-height:520px; max-height:530px;overflow-y:auto;overflow-x:hidden">
                <div id="frmAddEditAgenda">

                    <div class="row colpadding0" style="margin-left:3%">
                        <div class="col-md-12 colpadding0">
                            <!-- this will be the content of the popup -->
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @if (Model.Message != null)
                    {
                        if (Model.Message.Success)
                        {
                            <div class="row">
                                <div class="col-md-12" id="DivsuccessI">
                                    <div class="alert alert-success alert-dismissible">
                                        <button class="close" type="button" onclick="hideAlert();">×</button>
                                        <lable id="lblsuccessI">@Model.Message.Message</lable>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-md-12" id="DiverrorI">
                                    <div class="alert alert-danger alert-dismissible">
                                        <button class="close" type="button" onclick="hideAlert();">×</button>
                                        <lable id="lblerrormsgI">@Model.Message.Message</lable>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    
                    @(Html.HiddenFor(m => m.BM_AgendaMasterId))
                    @(Html.HiddenFor(m => m.ShowDefaultAgendaCtrl))

                    <fieldset class="col" style="margin-right:5px;">
                        <div class="row form-group">
                            <div class="col-md-12 colpadding0">
                                <div class="col-md-1 colpadding0 required">
                                    <label class="control-label">Part</label>
                                    @Html.EditorFor(m => m.PartId)
                                </div>

                                <div class="col-md-6 colpadding0 required">
                                    <label class="control-label">Agenda Item</label>
                                    @(Html.TextBoxFor(m => m.AgendaHeading, new { @class = "k-textbox", style = "width: 95%;", autocomplete = "off" }))
                                </div>

                                @if (Model.ShowDefaultAgendaCtrl == true)
                                {
                                    <div class="col-md-2 colpadding0">
                                        <label class="control-label">Default Agenda</label>
                                        @Html.Kendo().DropDownListFor(model => model.DefaultAgendaFor).BindTo(new SelectList(new List<object> {
                                                                new {id="",text="NA"},
                                                                new {id="Q",text="Quorum"},
                                                                new {id="C",text="Chairperson"},
                                                                new {id="MI",text="Confirmation of Minutes"},
                                                                new {id="CM",text="Committee's Confirmation of Minutes"},
                                                                new {id="GM",text="Notice for calling of AGM"},
                                                                new {id="EG",text="Notice for calling of EGM"},
                                                                new {id="CI",text="Note on Circular"},
                                                                new {id="CF",text="Audited Consolidated Financial Statements"}
                                                            }, "id", "text")).HtmlAttributes(new { style = "width: 95%" })
                                    </div>

                                    <div class="col-md-3 colpadding0">
                                        <span style="color:red"></span><label class="control-label">UI Form</label>
                                        @Html.EditorFor(m => m.UIFormID)
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12 colpadding0">
                                <div class="col-md-2 colpadding0 required">
                                    <label class="control-label">Applicable to (Entity Type)</label>
                                    @Html.EditorFor(m => m.EntityType)
                                </div>

                                <div class="col-md-4 colpadding0 required">
                                    <label class="control-label">Applicable to (Meeting Type)</label>
                                    @(Html.Kendo().DropDownListFor(m => m.MeetingTypeId)
                                            .DataValueField("Id")
                                            .DataTextField("MeetingTypeName")
                                            .OptionLabel("Select")
                                            .Events(e => e.Change("showHideGMOptions"))
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Url("/api/CommitteeCompAPI/GetMeetingTypeForAgendaMaster").Data("getDataForMeetingTypes").Type(HttpVerbs.Get);
                                                })
                                                .ServerFiltering(false);
                                            }).HtmlAttributes(new { style = "width: 95%;" })
                                    )
                                </div>

                                @if (Model.ShowDefaultAgendaCtrl == true)
                                {
                                    <div class="col-md-4 colpadding0">
                                        <label class="control-label">Frequency</label>
                                        @Html.EditorFor(m => m.FrequencyId)
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-4 colpadding0">
                                        <label class="control-label">Frequency</label>
                                        @Html.Kendo().DropDownListFor(model => model.FrequencyId).BindTo(new SelectList(new List<object> {
                                                                new {id="2",text="Event Base"}
                                                            }, "id", "text")).HtmlAttributes(new { style = "width: 95%" })
                                    </div>
                                }

                            </div>
                        </div>

                        <div id="divAgenda_" class="row form-group">
                            <div class="col-md-12 colpadding0">
                                <div id="divStages" class="col-md-2 colpadding0">
                                    <span style="color:red"></span><label class="control-label">Stages</label><br />
                                    @Html.RadioButtonFor(model => model.IsMultiStageAgenda, "false") Single&nbsp; &nbsp;
                                    @Html.RadioButtonFor(model => model.IsMultiStageAgenda, "true") Multiple
                                    @Html.ValidationMessageFor(model => model.IsMultiStageAgenda, "", new { @class = "text-danger" })
                                </div>

                                <div id="divCir" class="col-md-2 colpadding0">
                                    <div class="col-md-1 colpadding0"></div>
                                    <div class="col-md-11 colpadding0">
                                        <span style="color:red"></span><label class="control-label">Can Passed by Circular ?</label><br />
                                        @Html.RadioButtonFor(model => model.CanPassedByCircularResolution, "true") Yes&nbsp; &nbsp;
                                        @Html.RadioButtonFor(model => model.CanPassedByCircularResolution, "false") No
                                        @Html.ValidationMessageFor(model => model.CanPassedByCircularResolution, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div id="divPostal" class="col-md-2 colpadding0 hidden">
                                    <div class="col-md-1 colpadding0"></div>
                                    <div class="col-md-11 colpadding0">
                                        <span style="color:red"></span><label class="control-label">Postal Ballot Required?</label><br />
                                        @Html.RadioButtonFor(model => model.IsPostBallotRequired, "true") Yes&nbsp; &nbsp;
                                        @Html.RadioButtonFor(model => model.IsPostBallotRequired, "false") No
                                        @Html.ValidationMessageFor(model => model.IsPostBallotRequired, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div id="divBusiness" class="col-md-2 colpadding0 hidden">
                                    <div class="col-md-1 colpadding0"></div>
                                    <div class="col-md-11 colpadding0">
                                        <span style="color:red"></span><label class="control-label">Business</label><br />
                                        @Html.RadioButtonFor(model => model.IsOrdinaryBusiness, "true") Ordinary&nbsp; &nbsp;
                                        @Html.RadioButtonFor(model => model.IsOrdinaryBusiness, "false") Special
                                        @Html.ValidationMessageFor(model => model.IsOrdinaryBusiness, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div id="divResolution" class="col-md-2 colpadding0 hidden">
                                    <div class="col-md-1 colpadding0"></div>
                                    <div class="col-md-11 colpadding0">
                                        <span style="color:red"></span><label class="control-label">Resolution</label><br />
                                        @Html.RadioButtonFor(model => model.IsSpecialResolution, "false") Ordinary&nbsp; &nbsp;
                                        @Html.RadioButtonFor(model => model.IsSpecialResolution, "true") Special
                                        @Html.ValidationMessageFor(model => model.IsSpecialResolution, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-2 colpadding0">
                                    <div class="col-md-1 colpadding0"></div>
                                    <div class="col-md-11 colpadding0">
                                        <span style="color:red"></span><label class="control-label">Voting / Noting</label><br />
                                        @Html.RadioButtonFor(model => model.IsVoting, "true")&nbsp; Voting &nbsp;
                                        @Html.RadioButtonFor(model => model.IsVoting, "false")&nbsp; Noting &nbsp;
                                        @Html.ValidationMessageFor(model => model.IsVoting, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-2 colpadding0">
                                    <div class="col-md-1 colpadding0"></div>
                                    <div class="col-md-11 colpadding0">
                                        <span style="color:red"></span><label class="control-label">Can Multiple ?</label><br />
                                        @Html.RadioButtonFor(model => model.CanMultiple, "true")&nbsp;Yes &nbsp;
                                        @Html.RadioButtonFor(model => model.CanMultiple, "false")&nbsp;No &nbsp;
                                        @Html.ValidationMessageFor(model => model.CanMultiple, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="divAgenda1_" class="">
                            <div class="tab" style="margin-right:2%;">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" id="mytab1" href="#tabAgendaTemplate">Agenda Template</a></li>
                                    <li><a data-toggle="tab" id="mytab2" href="#tabResolutionTemplate">Resolution Template</a></li>
                                    <li><a data-toggle="tab" id="mytab3" href="#tabMinutesTemplate">Minutes Template</a></li>
                                    <li id="mytabSEBIFormat"><a data-toggle="tab" id="mytab4" href="#tabSEBITemplate">SEBI Intimation/Disclosure Template</a></li>
                                </ul>

                                <div class="tab-content">
                                    <div id="tabAgendaTemplate" class="tab-pane fade in active">

                                        <div class="row form-group">
                                            <div class="col-md-12 colpadding0">
                                                <label class="control-label">Heading</label>
                                                @(Html.TextAreaFor(m => m.Agenda, new { @class = "k-textbox", @Id = "Agenda", style = "width: 100%; height:69px;", autocomplete = "off" }))
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-md-12 colpadding0">
                                                <label class="control-label">Text</label>
                                                @(Html.Kendo().EditorFor(m => m.AgendaFormat)
                                                    .HtmlAttributes(new { style = "height:300px" })
                                                    .Encode(false)
                                                    .Events(e => e.Paste("onPasteRemoveTag"))
                                                    //.Resizable(resizable => resizable.Content(false).Toolbar(true))
                                                    .Tools(tools => tools
                                                    .Clear().Formatting()
                                                    .FontName(fonts => fonts
                                                        .Add("Andale Mono", "Andale Mono")
                                                        .Add("Arial", "Arial")
                                                        .Add("Arial Black", "Arial Black")
                                                        .Add("Book Antiqua", "Book Antiqua")
                                                        .Add("Bookman Old Style", "Bookman Old Style")
                                                        .Add("Comic Sans MS", "Comic Sans MS")
                                                        .Add("Courier New", "Courier New")
                                                        .Add("Georgia", "Georgia")
                                                    )
                                                    .FontSize(size => size
                                                    .Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
                                                    .Bold().Italic().Underline().Strikethrough()
                                                    .SubScript().SuperScript()
                                                    .InsertUnorderedList().InsertOrderedList().Indent().Outdent()
                                                    .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                                    .TableEditing()
                                                    .CleanFormatting()
                                                    ))
                                            </div>
                                        </div>
                                    </div>

                                    <div id="tabResolutionTemplate" class="tab-pane fade">
                                        <div class="row form-group">
                                            <div class="col-md-12 colpadding0">
                                                <label class="control-label">Heading</label>
                                                @(Html.TextAreaFor(m => m.ResolutionFormatHeading, new { @class = "k-textbox", @Id = "ResolutionFormatHeading", style = "width: 100%; height:69px;", autocomplete = "off" }))
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-md-12 colpadding0">
                                                <label class="control-label">Text</label>
                                                @(Html.Kendo().EditorFor(m => m.ResolutionFormat)
                                                    .HtmlAttributes(new { style = "height:300px" })
                                                    .Encode(false)
                                                    .Events(e => e.Paste("onPasteRemoveTag"))
                                                    //.Resizable(resizable => resizable.Content(false).Toolbar(true))
                                                    .Tools(tools => tools
                                                    .Clear().Formatting()
                                                    .FontName(fonts => fonts
                                                        .Add("Andale Mono", "Andale Mono")
                                                        .Add("Arial", "Arial")
                                                        .Add("Arial Black", "Arial Black")
                                                        .Add("Book Antiqua", "Book Antiqua")
                                                        .Add("Bookman Old Style", "Bookman Old Style")
                                                        .Add("Comic Sans MS", "Comic Sans MS")
                                                        .Add("Courier New", "Courier New")
                                                        .Add("Georgia", "Georgia")
                                                    )
                                                    .FontSize(size => size
                                                    .Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
                                                    .Bold().Italic().Underline().Strikethrough()
                                                    .SubScript().SuperScript()
                                                    .InsertUnorderedList().InsertOrderedList().Indent().Outdent()
                                                    .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                                    .TableEditing()
                                                    .CleanFormatting()
                                                    ))
                                            </div>
                                        </div>                                        
                                    </div>

                                    <div id="tabMinutesTemplate" class="tab-pane fade">
                                        <div class="row form-group">
                                            <div class="col-md-12 colpadding0">
                                                <label class="control-label">Heading</label>
                                                @(Html.TextAreaFor(m => m.MinutesFormatHeading, new { @class = "k-textbox", @Id = "MinutesFormatHeading", style = "width: 98%; height:69px;", autocomplete = "off" }))
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="tab col-md-12 colpadding0">
                                                <ul class="nav nav-tabs">
                                                    <li class="active"><a data-toggle="tab" id="mytabM1" href="#tabMiniteTemplate1">Approve/Recommended</a></li>
                                                    <li><a data-toggle="tab" id="mytabM2" href="#tabMiniteTemplate2">Disapprove/Not Recommended</a></li>
                                                    <li><a data-toggle="tab" id="mytabM3" href="#tabMiniteTemplate3">Defer</a></li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div id="tabMiniteTemplate1" class="tab-pane fade in active">
                                                        @(Html.Kendo().EditorFor(m => m.MinutesFormat)
                                                            .HtmlAttributes(new { style = "height:300px" })
                                                            .Encode(false)
                                                            .Events(e => e.Paste("onPasteRemoveTag"))
                                                            //.Resizable(resizable => resizable.Content(false).Toolbar(true))
                                                            .Tools(tools => tools
                                                            .Clear().Formatting()
                                                            .FontName(fonts => fonts
                                                                .Add("Andale Mono", "Andale Mono")
                                                                .Add("Arial", "Arial")
                                                                .Add("Arial Black", "Arial Black")
                                                                .Add("Book Antiqua", "Book Antiqua")
                                                                .Add("Bookman Old Style", "Bookman Old Style")
                                                                .Add("Comic Sans MS", "Comic Sans MS")
                                                                .Add("Courier New", "Courier New")
                                                                .Add("Georgia", "Georgia")
                                                            )
                                                            .FontSize(size => size
                                                            .Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
                                                            .Bold().Italic().Underline().Strikethrough()
                                                            .SubScript().SuperScript()
                                                            .InsertUnorderedList().InsertOrderedList().Indent().Outdent()
                                                            .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                                            .TableEditing()
                                                            .CleanFormatting()
                                                            ))
                                                    </div>

                                                    <div id="tabMiniteTemplate2" class="tab-pane fade">
                                                        @(Html.Kendo().EditorFor(m => m.MinutesDisApproveFormat)
                                                            .HtmlAttributes(new { style = "height:300px" })
                                                            .Encode(false)
                                                            .Events(e => e.Paste("onPasteRemoveTag"))
                                                            //.Resizable(resizable => resizable.Content(false).Toolbar(true))
                                                            .Tools(tools => tools
                                                            .Clear().Formatting()
                                                            .FontName(fonts => fonts
                                                                .Add("Andale Mono", "Andale Mono")
                                                                .Add("Arial", "Arial")
                                                                .Add("Arial Black", "Arial Black")
                                                                .Add("Book Antiqua", "Book Antiqua")
                                                                .Add("Bookman Old Style", "Bookman Old Style")
                                                                .Add("Comic Sans MS", "Comic Sans MS")
                                                                .Add("Courier New", "Courier New")
                                                                .Add("Georgia", "Georgia")
                                                            )
                                                            .FontSize(size => size
                                                            .Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
                                                            .Bold().Italic().Underline().Strikethrough()
                                                            .SubScript().SuperScript()
                                                            .InsertUnorderedList().InsertOrderedList().Indent().Outdent()
                                                            .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                                            .TableEditing()
                                                            .CleanFormatting()
                                                            ))
                                                    </div>

                                                    <div id="tabMiniteTemplate3" class="tab-pane fade">
                                                        @(Html.Kendo().EditorFor(m => m.MinutesDifferFormat)
                                                            .HtmlAttributes(new { style = "height:300px" })
                                                            .Encode(false)
                                                            .Events(e => e.Paste("onPasteRemoveTag"))
                                                            //.Resizable(resizable => resizable.Content(false).Toolbar(true))
                                                            .Tools(tools => tools
                                                            .Clear().Formatting()
                                                            .FontName(fonts => fonts
                                                                .Add("Andale Mono", "Andale Mono")
                                                                .Add("Arial", "Arial")
                                                                .Add("Arial Black", "Arial Black")
                                                                .Add("Book Antiqua", "Book Antiqua")
                                                                .Add("Bookman Old Style", "Bookman Old Style")
                                                                .Add("Comic Sans MS", "Comic Sans MS")
                                                                .Add("Courier New", "Courier New")
                                                                .Add("Georgia", "Georgia")
                                                            )
                                                            .FontSize(size => size
                                                            .Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
                                                            .Bold().Italic().Underline().Strikethrough()
                                                            .SubScript().SuperScript()
                                                            .InsertUnorderedList().InsertOrderedList().Indent().Outdent()
                                                            .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                                            .TableEditing()
                                                            .CleanFormatting()
                                                            ))
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="tabSEBITemplate" class="tab-pane fade">
                                        <div class="row form-group">
                                            <div class="tab col-md-12 colpadding0">
                                                <ul class="nav nav-tabs">
                                                    <li class="active"><a data-toggle="tab" id="mytabS1" href="#tabSEBITemplate1">Intimation</a></li>
                                                    <li><a data-toggle="tab" id="mytabS2" href="#tabSEBITemplate2">Disclosure</a></li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div id="tabSEBITemplate1" class="tab-pane fade in active">
                                                        @(Html.Kendo().EditorFor(m => m.SEBI_IntimationFormat)
                                                            .HtmlAttributes(new { style = "height:300px" })
                                                            .Encode(false)
                                                            .Events(e => e.Paste("onPasteRemoveTag"))
                                                            //.Resizable(resizable => resizable.Content(false).Toolbar(true))
                                                            .Tools(tools => tools
                                                            .Clear().Formatting()
                                                            .FontName(fonts => fonts
                                                                .Add("Andale Mono", "Andale Mono")
                                                                .Add("Arial", "Arial")
                                                                .Add("Arial Black", "Arial Black")
                                                                .Add("Book Antiqua", "Book Antiqua")
                                                                .Add("Bookman Old Style", "Bookman Old Style")
                                                                .Add("Comic Sans MS", "Comic Sans MS")
                                                                .Add("Courier New", "Courier New")
                                                                .Add("Georgia", "Georgia")
                                                            )
                                                            .FontSize(size => size
                                                            .Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
                                                            .Bold().Italic().Underline().Strikethrough()
                                                            .SubScript().SuperScript()
                                                            .InsertUnorderedList().InsertOrderedList().Indent().Outdent()
                                                            .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                                            .TableEditing()
                                                            .CleanFormatting()
                                                            ))
                                                    </div>

                                                    <div id="tabSEBITemplate2" class="tab-pane fade">
                                                        @(Html.Kendo().EditorFor(m => m.SEBI_DisclosureFormat)
                                                            .HtmlAttributes(new { style = "height:300px" })
                                                            .Encode(false)
                                                            .Events(e => e.Paste("onPasteRemoveTag"))
                                                            //.Resizable(resizable => resizable.Content(false).Toolbar(true))
                                                            .Tools(tools => tools
                                                            .Clear().Formatting()
                                                            .FontName(fonts => fonts
                                                                .Add("Andale Mono", "Andale Mono")
                                                                .Add("Arial", "Arial")
                                                                .Add("Arial Black", "Arial Black")
                                                                .Add("Book Antiqua", "Book Antiqua")
                                                                .Add("Bookman Old Style", "Bookman Old Style")
                                                                .Add("Comic Sans MS", "Comic Sans MS")
                                                                .Add("Courier New", "Courier New")
                                                                .Add("Georgia", "Georgia")
                                                            )
                                                            .FontSize(size => size
                                                            .Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
                                                            .Bold().Italic().Underline().Strikethrough()
                                                            .SubScript().SuperScript()
                                                            .InsertUnorderedList().InsertOrderedList().Indent().Outdent()
                                                            .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                                            .TableEditing()
                                                            .CleanFormatting()
                                                            ))
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="row com-md-12 colpadding0 text-center k-edit-buttons k-state-default">
            <button type="submit" id="command_name" name="command_name" value="save" class="btn btn-primary">Save</button>
            <button type="button" id="btnclose2" class="btn btn-primary">Close</button>
        </div>

        <script>

            $(document).ready(function () {
                //
                var validator1 = $("#frmAddEditAgendaNew").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");

                $("#panelbarSubAgenda").kendoPanelBar({});
                if ('@Model.IsMultiStageAgenda' == "True" || '@Model.IsMultiStageAgenda' == "true") {
                    IsMultistage(true);
                }
                else {
                    IsMultistage(false);
                }

                showHideSEBIFormat();
            });

            $(document).on("change", "input[name='IsMultiStageAgenda']", function () {
                if (this.value == "true" || this.value == "True") {
                    IsMultistage(true);
                }
                else {
                    IsMultistage(false);
                }
            });

            function IsSubAgenda(v) {
                if (v == true) {
                    //$("#divStages").addClass('hidden');
                    //IsMultistage(false);
                } else {
                    //$("#divStages").removeClass('hidden');
                }
            }

            function IsMultistage(v) {
                if (v == true) {
                    //$("#divSubAgenda_").removeClass('hidden');
                    //$("#divSubAgendaCmd_").removeClass('hidden');
                    //$("#divAgenda_").addClass('hidden');
                    //$("#divAgenda1_").addClass('hidden');
                }
                else {
                    //$("#divSubAgenda_").addClass('hidden');
                    //$("#divSubAgendaCmd_").addClass('hidden');
                    //$("#divAgenda_").removeClass('hidden');
                    //$("#divAgenda1_").removeClass('hidden');
                }
            }

            $("#btnclose2").click(function (e) {
                $("#wndAdd").data("kendoWindow").close();
            });

        </script>

    }
</div>