﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.AgendaInfoVM
@using (Ajax.BeginForm("AgendaInfo", "AgendaMaster", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divDetailsOfAgendaInfo", OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmAgendaInfo" }))
{
    if (Model.Success)
    {
        @*<div class="alert alert-success alert-dismissible">
            <button class="close" type="button" onclick="hideAlert();">×</button>
            <lable id="lblsuccessI">@Model.Message</lable>
        </div>*@

        <div class="alert alert-success alert-dismissible" role="alert">
            @Model.Message
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    }
    else if (Model.Error)
    {
        <div class="row">
            <div class="col-md-12" id="DiverrorI">
                <div class="alert alert-danger alert-dismissible">
                    <button class="close" type="button" onclick="hideAlert();">×</button>
                    <lable id="lblerrormsgI">@Model.Message</lable>
                </div>
            </div>
        </div>
    }

    <div class="row form-group">
        <div class="col-md-12 colpadding0">
            @(Html.HiddenFor(m => m.AgendaInfoId))
            <label class="control-label">Text</label>
            @(Html.Kendo().EditorFor(m => m.AgendaInfo)
            .HtmlAttributes(new { style = "height:400px" })
            .Encode(false)
            //.Resizable(resizable => resizable.Content(false).Toolbar(true))
            .Tools(tools => tools
            .Clear().Formatting()
            .FontName(fonts => fonts
                .Add("Andale Mono", "Andale Mono")
                .Add("Arial", "Arial")
                .Add("Arial Black", "Arial Black")
                .Add("Book Antiqua", "Book Antiqua")
                .Add("Bookman Old Style", "Bookman Old Style")
                .Add("Comic Sans MS", "Comic Sans MS")
                .Add("Courier New", "Courier New")
                .Add("Georgia", "Georgia")
            )
            .FontSize(size => size
            .Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
            //.FontColor(f=>f.Palette(new List<string>{ "red", "blue","green" }))
            .Bold().Italic().Underline().Strikethrough()
            .SubScript().SuperScript()
            .InsertUnorderedList().InsertOrderedList().Indent().Outdent()
            .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
            .TableEditing()
            .CleanFormatting()
            ))
        </div>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>

    <script>
        //$(".alert").alert('close')
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 2000);
    </script>
}