﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.SubAgendaMasterVM

@using (Ajax.BeginForm("CreateUpdateSubAgenda", "AgendaMaster", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divDetailsOfSubAgendaNew", OnBegin = "OnOpen", OnComplete = "OnRefreshSub" }, new { id = "frmUpdateDetailsofSubAgenda" }))
{
     

        <div>
            @(Html.Kendo().Tooltip()
        .For("#btnEditTemplateSub_")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Customize Template Fields for Agenda Item")
        .Width(300))

            @(Html.Kendo().Tooltip()
        .For("#tblDetailsOfSubAgendaNew")
        .Filter(".k-grid-edit")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Edit")
        .Width(120)
            )

            @(Html.Kendo().Tooltip()
        .For("#tblDetailsOfSubAgendaNew")
        .Filter(".k-grid-c")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Compliance")
        .Width(120)
            )

            @(Html.Kendo().Tooltip()
        .For("#tblDetailsOfSubAgendaNew")
        .Filter("td:nth-child(2)")
        .ContentHandler("toolTipContent_gridSubAgenda")
        .Position(TooltipPosition.Top)
        .Width(300)
        .AutoHide(true) )

            @(Html.Kendo().Tooltip()
        .For("#tblDetailsOfSubAgendaNew")
        .Filter("td:nth-child(3)")
        .ContentHandler("toolTipContent_gridSubAgenda")
        .Position(TooltipPosition.Top)
        .Width(150)
        .AutoHide(true) )

            @(Html.Kendo().Tooltip()
        .For("#tblDetailsOfSubAgendaNew")
        .Filter("td:nth-child(4)")
        .ContentHandler("toolTipContent_gridSubAgenda")
        .Position(TooltipPosition.Top)
        .Width(100)
        .AutoHide(true) )


            @(Html.Kendo().Tooltip()
        .For("#btnAddNewSubAgendaItem")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Width(160)
            )
            
        </div>

     <div id="divSubAgendaCmd_" class="row mt30">
            <div class="col-md-12 colpadding0">
                <div style="margin-left:2%; margin-right:2%;">
                   

                    <div style="text-align: right;min-height: 45px;">
                        <a id="btnAddNewSubAgendaItem" class="k-button" href="#" onclick="createNewSubAgenda();" title="Add New Sub Agenda Item"><span class="k-icon k-add"></span>Add New</a>
                    </div>

                    @if (ViewBag.DetailsOfSubAgenda_Grid != null)
                    {
                        var counter = 0;
                        if (ViewBag.DetailsOfSubAgenda_Grid.Count > 0)
                        {
                            <table id="tblDetailsOfSubAgendaNew">
                                <colgroup>
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th data-field="SrNo">SrNo</th>
                                        <th data-field="Entity_Name">Sub Agenda Item</th>
                                        <th data-field="Committee_Name">Meeting Type</th>
                                        <th data-field="CommitteePosition">Stage</th>
                                        <th data-field="Action">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.DetailsOfSubAgenda_Grid)
                                    {
                                        counter++;
                                        <tr>
                                            <td>@counter </td>
                                            <td>@item.SubAgenda</td>
                                            <td>@item.MeetingTypeNameSub</td>
                                            @if(item.StageId == null)
                                            {
                                                <td></td>
                                            }
                                            else if(item.StageId==1)
                                            {
                                                <td>Pre-Stage</td>
                                            }
                                            else if (item.StageId == 2)
                                            {
                                                <td>Post-Stage</td>
                                            }
                                            else if (item.StageId == 3)
                                            {
                                                <td>Main Stage</td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                            <td>
                                                <button type="button" onclick="EditSubAgenda(@item.BM_SubAgendaMasterId)" class="k-button k-button-icontext k-grid-edit" style="min-width:25px;"><span class="k-icon k-edit"></span></button>

                                                <button type="button" onclick="ComplianceMapping(@item.BM_SubAgendaMasterId)" class="k-button k-grid-c" style="min-width:25px;"><span>C</span></button>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        }
                    }
                </div>
            </div>
        </div>

   
            if (Model.Message != null)
            {
                if (Model.Message.Success)
                {
                    <div class="row mt30">
                        <div class="col-md-12 colpadding0" id="DivsuccessI_sub">
                            <div style="margin-left:2%; margin-right:2%;">
                                <div class="alert alert-success alert-dismissible">
                                    <button class="close" type="button" onclick="hideAlert_Sub();">×</button>
                                    <lable id="lblsuccessI_sub">@Model.Message.Message</lable>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row mt30">
                        <div class="col-md-12 colpadding0" id="DiverrorI_sub">
                            <div style="margin-left:2%; margin-right:2%;">
                                <div class="alert alert-danger alert-dismissible">
                                    <button class="close" type="button" onclick="hideAlert_Sub();">×</button>
                                    <lable id="lblerrormsgI_sub">@Model.Message.Message</lable>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

        <!-- divSubAgendaEditor & divSubAgendaEditorCmd add hidden classes on _EditAgenda Partialview -->
     <div id="divSubAgendaEditor" class="row form-group mt30">
            <div class="col-md-12 colpadding0">
                <div style="margin-left:2%; margin-right:2%;">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" id="mytab1_sub" href="#tabAgendaDetails_sub">Sub Agenda Details</a></li>
                        <li><a data-toggle="tab" id="mytab1_sub" href="#tabAgendaTemplate_sub">Agenda Item Template</a></li>
                        <li><a data-toggle="tab" id="mytab2_sub" href="#tabResolutionTemplate_sub">Resolution Template</a></li>
                        <li><a data-toggle="tab" id="mytab3_sub" href="#tabMinutesTemplate_sub">Minutes Template</a></li>
                    </ul>

                    <div class="tab-content">

                        <div id="tabAgendaDetails_sub" class="tab-pane fade in active">
                            <table style="width:90%">
                                <tr>
                                    <td colspan="2">
                                        <div>
                                            <span style="color:red">*</span><label class="control-label">Agenda</label>
                                            @(Html.TextAreaFor(m => m.SubAgenda, new { @class = "form-control k-textbox", style = "width: 98%; height:69px;" }))
                                            @(Html.HiddenFor(m => m.BM_SubAgendaMasterId))
                                            @(Html.HiddenFor(m => m.BM_AgendaMasterId))
                                        </div>
                                    </td>
                                    <td>
                                        @if (Model.BM_SubAgendaMasterId > 0)
                                        {
                                            <div style="margin-top:15px;">
                                                <a id="btnEditTemplateSub_" class="k-button k-button-icontext k-grid-Edit k-grid-edit" style="border-radius:25px;" href="#" onclick="CreateTemplate(@Model.BM_SubAgendaMasterId)"><span class="k-icon k-edit"></span>Edit</a>
                                            </div>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3"><br /></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>
                                            <span style="color:red">*</span><label class="control-label">Type of Meeting</label>
                                            @Html.EditorFor(m => m.MeetingTypeIdSub)
                                        </div>

                                    </td>

                                    <td>
                                        <div>
                                            <span style="color:red"></span><label class="control-label">Stage</label>
                                            @Html.EditorFor(m => m.StageId)
                                        </div>

                                    </td>

                                    <td>
                                        <div>
                                            <span style="color:red"></span><label class="control-label">Sequence</label><br />
                                            @Html.Kendo().TextBoxFor(m => m.Sequence).HtmlAttributes(new { @style = "width:35px;" })
                                        </div>
                                    </td>



                                </tr>
                                <tr>
                                    <td colspan="3"><br /></td>
                                </tr>
                                <tr>
                                    <td style="width:33%">
                                        <div>
                                            <span style="color:red"></span><label class="control-label">Can Passed by Circular Resolution</label><br />&nbsp; &nbsp;
                                            @Html.RadioButtonFor(model => model.CanPassedByCircularResolutionSub, "true") Yes&nbsp; &nbsp;
                                            @Html.RadioButtonFor(model => model.CanPassedByCircularResolutionSub, "false") No
                                            @Html.ValidationMessageFor(model => model.CanPassedByCircularResolutionSub, "", new { @class = "text-danger" })
                                        </div>
                                    </td>
                                    <td style="width:33%">
                                        <div>
                                            <span style="color:red"></span><label class="control-label">Post AGM/EGM/Postal Ballot Required</label><br />&nbsp; &nbsp;
                                            @Html.RadioButtonFor(model => model.IsPostBallotRequiredSub, "true") Yes&nbsp; &nbsp;
                                            @Html.RadioButtonFor(model => model.IsPostBallotRequiredSub, "false") No &nbsp; &nbsp;
                                            @Html.ValidationMessageFor(model => model.IsPostBallotRequiredSub, "", new { @class = "text-danger" })
                                        </div>
                                    </td>
                                    <td style="width:33%">
                                        <div>
                                            <span style="color:red"></span><label class="control-label">Voting/Noting</label><br />&nbsp; &nbsp;
                                            @Html.RadioButtonFor(model => model.IsVotingSub, "true")Voting&nbsp; &nbsp;
                                            @Html.RadioButtonFor(model => model.IsVotingSub, "false")Noting
                                            @Html.ValidationMessageFor(model => model.IsVotingSub, "", new { @class = "text-danger" })
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div id="tabAgendaTemplate_sub" class="tab-pane fade">
                            @(Html.Kendo().EditorFor(m => m.AgendaFormatSub)
                           .HtmlAttributes(new { style = "height:240px" })
                           .Encode(false)
                           .Resizable(resizable => resizable.Content(false).Toolbar(true))
                           .Tools(tools => tools
                            //.CustomTemplate(ct => ct.Template("<label for='templateTool' style='vertical-align:middle;'>Background:</label> <select id='templateTool'><option value=''>none</option><option value='\\#ff9'>yellow</option><option value='\\#dfd'>green</option></select>"))
                            .CustomTemplate(ct => ct.Template("<label for='templateTool' style='vertical-align:middle;'>Template Fields:</label> <select id='templateTool' style='width:200px;'><option value=''>none</option></select>"))
                            //.CustomTemplate(ct => ct.Template("<label for='templateTool' style='vertical-align:middle;'>Custom:</label> <input type='button' value='Add' onclick='showMsg(this);'>"))
                            .CustomTemplate(ct => ct.Template("<input type='button' value='Insert' class='k-primary k-button'  onclick='insertEditorTemplateField(\"AgendaFormatSub\", \"templateTool\");'>"))
                              )
                            )
                        </div>

                        <div id="tabResolutionTemplate_sub" class="tab-pane fade">
                            @(Html.Kendo().EditorFor(m => m.ResolutionFormatSub)
                            .HtmlAttributes(new { style = "height:240px" })
                            .Encode(false)
                            .Resizable(resizable => resizable.Content(false).Toolbar(true))
                            )
                        </div>

                        <div id="tabMinutesTemplate_sub" class="tab-pane fade">
                            @(Html.Kendo().EditorFor(m => m.MinutesFormatSub)
                            .HtmlAttributes(new { style = "height:240px" })
                            .Encode(false)
                            .Resizable(resizable => resizable.Content(false).Toolbar(true))
                            )
                        </div>
                    </div>
                </div>
            </div>
        </div>

     <div id="divSubAgendaEditorCmd" class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;">
            @if (Model.BM_SubAgendaMasterId > 0)
            {
                <button type="submit" value="update" class="k-primary k-button k-grid-update k-button-icontext">Update</button>
            }
            else
            {
                <button type="submit" value="Save" class="k-primary k-button k-grid-update k-button-icontext">Save</button>
            }
        </div>

        <div class="contextmenu contextmenu-visible" id="menuSub" style="left: 667px; top: 190px;display:none;">
            <ul>
                <li class="menu-line">
                    <div>
                        <div class="k-window-titlebar k-header" style="margin-top: -32.92px;">&nbsp;<span class="k-window-title">Template Fields</span><div class="k-window-actions"><a role="button" href="#" class="k-window-action k-link" onclick="hideContextMenuSub()"><span role="presentation" class="k-icon k-i-close">Close</span></a></div></div>
                        <div style="visibility: visible; display: block;" data-role="window" class="k-window-content k-content" role="dialog" tabindex="0">
                            <style>
                                .tab-content {
                                    border-left: 1px solid #ddd;
                                    border-right: 1px solid #ddd;
                                    border-bottom: 1px solid #ddd;
                                    padding: 10px;
                                }

                                /*.nav-tabs {
                                    margin-bottom: 0;
                                }*/
                            </style>

                            <fieldset class="col" style="margin-right:5px;">
                                <legend class="amp-mb5"><label style="font-size:17px"></label></legend>
                                <div><select id='templateToolChild' style='width:200px;'><option value=''>none</option></select></div>
                                <div>
                                    &nbsp;
                                </div>
                                <div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;">
                                    <button type="button" class="k-primary k-button" onclick='insertTemplateField("SubAgenda", "templateToolChild");'>Insert</button>
                                </div>
                            </fieldset>

                        </div>
                    </div>
                </li>
            </ul>
        </div>


     <script>
         $(document).ready(function () {
                    $("#tblDetailsOfSubAgendaNew").kendoGrid({
                        // toolbar: kendo.template($("#template").html()),
                        sortable: false,
                        scrollable: false
                    });
         });

         function createNewSubAgenda() {
             $('#frmUpdateDetailsofSubAgenda').attr('action', '@Url.Action("GetSubAgendaNew", "AgendaMaster", new { ParentId = Model.BM_AgendaMasterId})');
             $("#frmUpdateDetailsofSubAgenda").submit();
         }

    </script>

     <script>
        function showMsg(e, evt) {
            debugger;
            var aaa = e.parentElement.parentElement.parentElement.parentElement.parentElement.parentElement;
            var tbody = e.parentElement.parentElement.parentElement.parentElement.parentElement;
            var textArea = tbody.rows[1].cells[0].children[1].id;
            var aa = $("#" + textArea).data("kendoEditor").body;
            aa.innerHTML = aa.innerHTML + " {{NAME}}";
        }

        $(document).ready(function(){
            //$("#templateTool").kendoDropDownList({
            //    change: function(e) {
            //        $("#AgendaFormatSub").data("kendoEditor").body.style.backgroundColor = e.sender.value();
            //    }
            //});

            templateToolsLoad();
        });

        function templateToolsLoad()
        {
            debugger;
            $("#templateTool").kendoDropDownList({
                dataSource: {
                    transport: {
                        read: {
                            //url: "/api/DirectorMasterAPI/GetRelativesList?AgendaMasterId=" +@Model.BM_SubAgendaMasterId +"",
                            url: "@Url.Action("EditingCustom_Read", "Template", new { AgendaMasterId = Model.BM_SubAgendaMasterId })",
                            dataType: "json",
                            type: 'GET'
                        }
                    },
                    schema: {
                        data: "Data",
                        type:"json"
                    },
                    serverFiltering: false
                },
                dataTextField: "TemplateName",
                dataValueField: "TemplateName",
                value :0,
                index: 0,
                change: function (e) {
                  //  $("#AgendaFormatSub").data("kendoEditor").body.innerHTML += " {{"+e.sender.value()+"}}";
                }
            });

            templateToolsChildLoad();
        }

        function hideContextMenuSub()
        {
            $("#menuSub").css("display", "none");
        }

        $("#SubAgenda").contextmenu(function (e) {
            e.preventDefault();

            var cursorPosition = $('#SubAgenda').prop("selectionStart");

            if (cursorPosition > 0){
                $("#hndCursorlocation").val(cursorPosition);
            }
            else {
                $("#hndCursorlocation").val(0);
            }

            var wnd = $("#wndAdd").data("kendoWindow");
            var position = wnd.options.position;
            $("#menuSub").css("position", "absolute");
            $("#menuSub").css("display", "block");

            $("#menuSub").css("left", e.pageX - position.left);
            $("#menuSub").css("top", e.pageY - position.top - 25);
        });

        function templateToolsChildLoad()
        {
            $("#templateToolChild").kendoDropDownList({
                dataSource: {
                    transport: {
                        read: {
                            //url: "/api/DirectorMasterAPI/GetRelativesList?AgendaMasterId=" +@Model.BM_AgendaMasterId +"",
                            url: "@Url.Action("EditingCustom_Read", "Template", new { AgendaMasterId = Model.BM_SubAgendaMasterId })",
                        dataType: "json",
                        type: 'GET'
                    }
                },
                schema: {
                    data: "Data",
                    type:"json"
                },
                serverFiltering: false
            },
                dataTextField: "TemplateName",
            dataValueField: "TemplateName",
            value :0,
            index: 0,
            change: function (e) {
            }
        });
        }


    </script>

}