﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.StandardAgendaVM

<style>
    .contextmenu {
        margin: 0;
        position: absolute;
        *display: inline;
        *zoom: 1;
        min-width: 100px;
        background-color: #fff;
        padding: 2px 0;
        border-radius: 4px;
        box-shadow: 1px 2px 30px #ddd;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        -khtml-user-select: none;
        user-select: none;
    }

    * {
        margin: 0;
        padding: 0;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }

    user agent stylesheet div {
        display: block;
    }

    body {
        font-family: 'Roboto';
    }

    user agent stylesheet html {
        color: -internal-root-color;
    }

    contextmenu-visible {
        display: inline-block;
    }
</style>

<div id="frmAddEditAgenda" style="margin-left:1%; margin-right:1%;">

        <div class="row form-group">
            <div class="col-md-12 colpadding0">
                
                <table>
                    <tr>
                        <td style="width:10px;"></td>
                        <td>Agenda Item : @Model.MeetingTypeName Meeting (@Model.EntityTypeName) - <strong>@Model.AgendaHeading</strong></td>
                    </tr>
                </table>
            </div>
        </div>

        <div id="divDetailsOfAgendaNew">
            @Html.Partial("_EditStandardAgendaFormates", Model.formates)
        </div>

</div>
