﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.AgendaMasterVM

<div id="example">
</div>
    <div id="window" style="min-height:520px; max-height:530px;overflow-y:auto;overflow-x:hidden">
        <!-- <div id="window" style="width:1290px; min-height:550px; max-height:550px;overflow-y:auto;overflow-x:hidden">-->
        <div class="tab" role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active" role="presentation"><a data-toggle="tab" id="mytab1" href="#home">Agenda Item</a></li>
                <li role="presentation"><a data-toggle="tab" id="tabAgendaInfo" href="#info">Information</a></li>
                @if (Model.MeetingTypeId == 10)
                {
                    <li><a data-toggle="tab" id="mytab2" href="#menu1">Pre-Committee</a></li>
                }
                <li role="presentation"><a data-toggle="tab" id="mytab3" href="#menu2">Sub Agenda</a></li>
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <div id="divDetailsOfAgendaNew">
                        @Html.Partial("_EditParentAgenda", Model)
                    </div>
                </div>
                <div id="info" class="tab-pane fade">
                    <div id="divDetailsOfAgendaInfo">
                        @Html.Partial("_AgendaInfo", new BM_ManegmentServices.VM.AgendaInfoVM { AgendaInfoId = Model.BM_AgendaMasterId, AgendaInfo = Model.AgendaInfomative })
                    </div>
                </div>
                @if (Model.MeetingTypeId == 10)
                {
                    <div id="menu1" class="tab-pane fade">
                        <div id="divDetailsOfSubAgendaNew">
                            @*@Html.Partial("_EditSubAgenda", Model.subAgendaMaster)*@
                            @Html.Partial("_PreCommitteeGrid", Model.BM_AgendaMasterId)
                        </div>
                    </div>
                }

                <div id="menu2" class="tab-pane fade">
                    <div>
                        @Html.Partial("_AgendaSubAgendaMappingGrid", Model.BM_AgendaMasterId)
                    </div>
                </div>
            </div>
        </div>
        

        <div class="hidden">
            <div id="divSubAgenda_" style="margin-left:2%; margin-right:2%;">
                <div class="demo-section k-content">
                    <h4>Pre-Committee Meeting</h4>
                    <ul class="k-widget k-panelbar k-reset k-header" id="panelbarSubAgenda" data-role="panelbar" tabindex="0" role="menu">

                        <li class="k-item k-state-default k-first" aria-expanded="true" role="menuitem">
                            <span class="k-link k-header">Pre-Committee Meeting Details<span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span></span>
                           
                        </li>

                    </ul>
                </div>
            </div>
        </div>

    </div>

<script>
    function EditSubAgenda(v) {
        $("#frmUpdateDetailsofSubAgenda").attr(
                "action",
                "@Url.Action("GetSubAgenda", "AgendaMaster")" + "?id=" + v
                ).submit();
    }

    function onExpand(e) {
        alert('hi');
        $('#window').scrollTop($('#window')[0].scrollHeight);
    }

    $(document).ready(function () {

        $(".k-grid-edit").find("span").addClass("k-icon k-edit");

        $("#panelbarSubAgenda").kendoPanelBar({
            expandMode: "single",
            expand: onExpand
        });
    });

</script>

<script>
            $(document).ready(function () {
              
                if ('@Model.IsMultiStageAgenda'.toUpperCase() == "TRUE" ) {
                    IsMultistage(true);
                }
                else {
                    IsMultistage(false);
                }
            });

            $(document).on("change", "input[name='IsMultiStageAgenda']", function () {
                if (this.value == "true" || this.value == "True") {
                    IsMultistage(true);
                }
                else {
                    IsMultistage(false);
                }
            });

            function IsMultistage(v) {
                if (v == true) {
                    $("#mytab3").removeClass("hidden");
                    $("#menu2").removeClass("hidden");
                }
                else {
                    $("#mytab3").addClass("hidden");
                    $("#menu2").addClass("hidden");
                }
            }

</script>