﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.AgendaMaster_SubAgendaMappging

<div id="divDetailsOfSubAgendaMapping">
@using (Ajax.BeginForm("CreateUpdateSubAgendaMapping", "AgendaMaster", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divDetailsOfSubAgendaMapping", OnBegin = "OnOpen", OnComplete = "OnRefreshSub", InsertionMode = InsertionMode.Replace }, new { id = "frmUpdateDetailsofSubAgendaMapping" }))
{
    <div style="width:720px; overflow-y:hidden;overflow-x:hidden">

        @Html.HiddenFor(M => M.Agenda_SubAgendaMappgingID)
        @Html.HiddenFor(M => M.Parent_AgendaMasterId)
        <div>

            @(Html.Kendo().Tooltip()
            .For("#tblDetailsOfSubAgendaNew")
            .Filter(".k-grid-edit")
            .Position(TooltipPosition.Top)
            .AutoHide(true)
            .Content("Edit")
            .Width(120)
            )
            @(Html.Kendo().Tooltip()
            .For("#tblDetailsOfSubAgendaNew")
            .Filter("td:nth-child(2)")
            .ContentHandler("toolTipContent_gridSubAgenda")
            .Position(TooltipPosition.Top)
            .Width(300)
            .AutoHide(true) )

            @(Html.Kendo().Tooltip()
            .For("#tblDetailsOfSubAgendaNew")
            .Filter("td:nth-child(3)")
            .ContentHandler("toolTipContent_gridSubAgenda")
            .Position(TooltipPosition.Top)
            .Width(150)
            .AutoHide(true) )

            @(Html.Kendo().Tooltip()
            .For("#tblDetailsOfSubAgendaNew")
            .Filter("td:nth-child(4)")
            .ContentHandler("toolTipContent_gridSubAgenda")
            .Position(TooltipPosition.Top)
            .Width(100)
            .AutoHide(true) )


            @(Html.Kendo().Tooltip()
            .For("#btnAddNewSubAgendaItem")
            .Position(TooltipPosition.Top)
            .AutoHide(true)
            .Width(160)
            )

        </div>

        @if (Model.Message != null)
        {
            if (Model.Message.Success)
            {
                <div class="row">
                    <div class="col-md-12 colpadding0" id="DivsuccessI_sub">
                        <div style="margin-left:2%; margin-right:2%;">
                            <div class="alert alert-success alert-dismissible">
                                <button class="close" type="button" onclick="hideAlert_Sub();">×</button>
                                <lable id="lblsuccessI_sub">@Model.Message.Message</lable>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-md-12 colpadding0" id="DiverrorI_sub">
                        <div style="margin-left:2%; margin-right:2%;">
                            <div class="alert alert-danger alert-dismissible">
                                <button class="close" type="button" onclick="hideAlert_Sub();">×</button>
                                <lable id="lblerrormsgI_sub">@Model.Message.Message</lable>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

        <div class="row mt10">
            <div class="col-md-12">
                <div class="col-md-3">
                    <span style="color:red">*</span><lable class="control-label">Meeting Type</lable>
                </div>
                <div class="col-md-7 colpadding0">
                    @(Html.Kendo().DropDownListFor(model => model.MeetingTypeIDSub)
                                .ValuePrimitive(true)
                                .DataValueField("Id")
                                .DataTextField("MeetingTypeName")
                                .OptionLabel("Select")
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Url("/api/CommitteeCompAPI/GetMeetingTypeForDropDown").Type(HttpVerbs.Get);
                                    })
                                    .ServerFiltering(false);
                                }).HtmlAttributes(new { style = "width: 95%;" })
                    )
                </div>
            </div>
        </div>

        <div class="row mt30">
            <div class="col-md-12">
                <div class="col-md-3">
                    <span style="color:red">*</span><lable class="control-label">Sub Agenda</lable>
                </div>
                <div class="col-md-7 colpadding0">
                    @(Html.Kendo().DropDownListFor(model => model.SubAgendaMasterId).Name("SubAgendaMasterId")
                                  .DataValueField("BM_AgendaMasterId")
                                  .DataTextField("SubAgenda")
                                  .Filter(FilterType.Contains)
                                  //.Template("<span class=\"k-state-default\"><h5>#: data.SubAgenda #</h5><p>#: data.MeetingTypeNameSub #</p></span>")
                                  .DataSource(source =>
                                  {
                                      source.Read(read =>
                                      {
                                          read.Url("/api/AgendaMasterAPI/GetSubAgendaList").Data("filterSubAgendaNew").Type(HttpVerbs.Get);
                                      })
                                      .ServerFiltering(true);
                                  })
                                  .CascadeFrom("MeetingTypeIDSub")
                                  .HtmlAttributes(new { style = "width: 95%;", Id = "SubAgendaMasterId" })
                    )
                </div>
            </div>
        </div>

        <div class="row mt30">
            <div class="col-md-12">
                <div class="col-md-3">
                    <span style="color:red">*</span><lable class="control-label">Sequence</lable>
                </div>
                <div class="col-md-7 colpadding0">
                    @Html.Kendo().TextBoxFor(m => m.Sequence).HtmlAttributes(new { @style = "width:35px;", autocomplete = "off" })
                </div>
            </div>
        </div>

        <div id="divSubAgendaMappingEditorCmd" class="text-center" >
            @if (Model.Agenda_SubAgendaMappgingID > 0)
            {
                <button type="submit" value="update" class="btn btn-primary">Update</button>
            }
            else
            {
                <button type="submit" value="Save" class="btn btn-primary">Save</button>
            }
        </div>

    </div>

    <script>
        $(document).ready(function () {
            var validator1 = $("#frmUpdateDetailsofSubAgendaMapping").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
        });
    </script>

}
</div>
