﻿@using Kendo.Mvc.UI;
@model long?
@{
    ViewBag.Title = "Agenda :: Master";
}

@Html.AntiForgeryToken()
@Html.ValidationSummary(false, "", new { @class = "text-danger" })

<style>
    #wndAgendaInfo table {
        border-style: none;
    }

    .k-grid table {
        table-layout: fixed;
    }

    .k-state-disabled {
        cursor: not-allowed !important;
    }

    .Partial-status-Partial {
        /*// color: #db4240;*/
        /* background: rgb(94, 202, 185);*/
/*        color: #FFD877;*/
        background: rgb(255, 216, 119);
    }

    .Partial-status {
        text-align: left;
        /* margin-top: 2px; */
        height: 21px;
        line-height: 1.6em;
        margin-left: 15%;
        margin-right: 15%;
    }

    .None-status-None {
        /*// color: #db4240;*/
        /*background: rgb(255, 216, 119);*/
/*        color: #608ff9;*/
        background: rgb(96, 143, 249);
    }

    .None-status {
        text-align: left;
        /* margin-top: 2px; */
        height: 21px;
        line-height: 1.6em;
        margin-left: 15%;
        margin-right: 15%;
    }

    .Nodocument-status-Nodocument {
        /*// color: #db4240;*/
        /*background: rgb(225, 110, 106);*/
        /*color: #f0c968;*/
        background: rgb(240, 201, 104);
    }

    .Nodocument-status {
        text-align: left;
        /* margin-top: 2px; */
        height: 21px;
        line-height: 1.6em;
        margin-left: 15%;
        margin-right: 15%;
    }

    .Completed-status-Completed {
        /*// color: #db4240;*/
        /*background: rgb(225, 110, 106);*/
        /*color: #f0c968;*/
        background: rgb(103, 209, 192);
    }

    .Completed-status {
        text-align: left;
        /* margin-top: 2px; */
        height: 21px;
        line-height: 1.6em;
        margin-left: 15%;
        margin-right: 15%;
    }

/*    for Legends of Compliance Document status*/
    .legend-item span, .sub-head-span {
        /*font-family: Montserrat;*/
        font-family: sans-serif;
        font-size: 11px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #444444;
    }

    .calendar-legend {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        border-radius: 4px;
    }

</style>

<!-- BreadCrumb -->
<script>
    $(document).ready(function () {
        var breadCrumbData = [
            {
                displayText: "Masters",
                navigateUrl: "#",
            }, {
                displayText: "Agenda",
                navigateUrl: "/BM_Management/AgendaMaster/Agenda",
            }
        ];
        setBreadCrumb(breadCrumbData);
    });
</script>

<script type="text/javascript">

    function error_handler(e) {
        e.xhr.responseJSON.Message;
        $("#DiverrorI").show();
        $('#lblerrormsgI').text(e.xhr.responseJSON.Message);
        //if (e.errors) {
        //    var message = "Errors:\n";
        //    $.each(e.errors, function (key, value) {
        //        if ('errors' in value) {
        //            $.each(value.errors, function () {
        //                message += this + "\n";
        //            });
        //        }
        //    });
        //    alert(message);
        //}
    }

</script>

<!-- Script for Generate Grid SrNo -->
<script>
    var gridRowNumber = 0;

    function resetGridRowNumber(e) {
        gridRowNumber = 0;
    }

    function renderGridRowNumber() {
        var page = parseInt($("#gridKendo2").data("kendoGrid").dataSource.page()) - 1;
        var pagesize = $("#gridKendo2").data("kendoGrid").dataSource.pageSize();
        return parseInt(++gridRowNumber + (parseInt(page) * parseInt(pagesize)));
    }

    function toolTipContent_gridNew(e) {
        return e.target.context.innerText;
    }

    var initialLoad = true;
    function onRowBound(e) {
        resetGridRowNumber(e);

        var grid = $("#gridKendo2").data("kendoGrid");
        var gridData = grid.dataSource.view();

        for (var i = 0; i < gridData.length; i++) {
            var currentUid = gridData[i].uid;
            var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");

            if (gridData[i].MeetingTypeId == null) {
                var cButton = $(currenRow).find(".k-grid-compliance").addClass("k-state-disabled");
            }

            if (gridData[i].HasInfo == false) {
                var cButton = $(currenRow).find(".k-grid-info").addClass("k-state-disabled");
            }

            $(currenRow).find(".k-grid-warn").empty();
            if (gridData[i].IsApproved == false) {
                $(currenRow).find(".k-grid-warn").append("<img class='fill-template-fields' style='height:21px;' src='../../Images/upload_error.png'/>");
            } else {
                $(currenRow).find(".k-grid-warn").append("<img style='height:21px;' src='../../Images/upload_success.png'/>");
            }

            if (gridData[i].Doctype != "") {
                var cButton = $(currenRow).find(".k-grid-doc").addClass("k-state-disabled");

                $(currenRow).find(".k-grid-doc").empty();
                if (gridData[i].Doctype == "Partial") {

                    $(currenRow).find(".k-grid-doc").append("<div class='Partial-status Partial-status-Partial'></div>");

                }
                else if (gridData[i].Doctype == "None") {
                    //$(currenRow).find(".k-grid-doc").append("<span class='legend-marker' data-bind='style:{background: markerColor}'style='background:rgb(255, 216, 119);'></span>");
                    $(currenRow).find(".k-grid-doc").append("<div class='None-status None-status-None'></div>");
                }
                else if (gridData[i].Doctype == "No Document") {
                    $(currenRow).find(".k-grid-doc").append("<div class='Nodocument-status Nodocument-status-Nodocument'></div>");
                    //$(currenRow).find(".k-grid-doc").append("<span class='legend-marker' data-bind='style:{background: markerColor}'style='background: rgb(225, 110, 106);'></span>");
                }
                else if (gridData[i].Doctype == "Completed") {
                    $(currenRow).find(".k-grid-doc").append("<div class='Completed-status Completed-status-Completed'></div>");
                    //$(currenRow).find(".k-grid-doc").append("<span class='legend-marker' data-bind='style:{background: markerColor}'style='background: rgb(225, 110, 106);'></span>");
                }
            }
        }

        GetICons();

        $("#gridKendo2 tr.k-alt").removeClass("k-alt");

        //var grid = $("#gridKendo2").data("kendoGrid");
        ////grid.thead.css("background-color", "green")
        //var data = grid.dataSource.data();
        //$.each(data, function (i, row) {
        //    $('tr[data-uid="' + row.uid + '"] ').removeClass("k-alt");

        //    $('tr[data-uid="' + row.uid + '"] ').css("box-sizing", "border-box");
        //    $('tr[data-uid="' + row.uid + '"] ').css("box-shadow", "0px 0px 1px 0 #DDDDDD");
        //});

        //if (initialLoad) {
        //    //BindAutoComplete();
        //    initialLoad = false;
        //}
    }

    function onRowBoundSubForImp(e) {

        var grid = $("#gridPreCommittee").data("kendoGrid");
        var gridData = grid.dataSource.view();

        for (var i = 0; i < gridData.length; i++) {
            var currentUid = gridData[i].uid;
            var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");

            //if (gridData[i].MeetingTypeId == null) {
            //    var cButton = $(currenRow).find(".k-grid-c").addClass("k-state-disabled");
            //}

            if (gridData[i].SubHasInfo == false) {
                var cButton = $(currenRow).find(".k-grid-info").addClass("k-state-disabled");
            }

            //$(currenRow).find(".k-grid-warn").empty();
            //if (gridData[i].IsApproved == false) {
            //    $(currenRow).find(".k-grid-warn").append("<img class='fill-template-fields' style='height:21px;' src='../../Images/upload_error.png'/>");
            //} else {
            //    $(currenRow).find(".k-grid-warn").append("<img style='height:21px;' src='../../Images/upload_success.png'/>");
            //}
        }

        $(".k-grid-edit").find("span").addClass("k-icon k-edit");
        $(".k-grid-delete").find("span").addClass("k-icon k-delete");
        $(".k-grid-add").find("span").addClass("k-icon k-add k-i-plus-outline");

        GetICons();
    }

    function onRowBoundSubForCust(e) {

        var grid = $("#gridPreCommittee").data("kendoGrid");
        var gridData = grid.dataSource.view();

        for (var i = 0; i < gridData.length; i++) {
            var currentUid = gridData[i].uid;
            var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");

            //if (gridData[i].MeetingTypeId == null) {
            //    var cButton = $(currenRow).find(".k-grid-c").addClass("k-state-disabled");
            //}

            if (gridData[i].SubHasInfo == false) {
                var cButton = $(currenRow).find(".k-grid-info").addClass("k-state-disabled");
            }
        }

        $(".k-grid-edit").find("span").addClass("k-icon k-edit");
        $(".k-grid-delete").find("span").addClass("k-icon k-delete");
        $(".k-grid-add").find("span").addClass("k-icon k-add k-i-plus-outline");

        GetICons();
    }

    function onRowBoundSub(e) {
        $(".k-grid-edit").find("span").addClass("k-icon k-edit");
        $(".k-grid-delete").find("span").addClass("k-icon k-delete");
        $(".k-grid-add").find("span").addClass("k-icon k-add k-i-plus-outline");

        GetICons();
    }
</script>

<script>
    function hideAlert() {
        $("#DiverrorI").hide();
        $("#DivsuccessI").hide();
        return true;
    }

    function hideAlert_Sub() {
        $("#DiverrorI_sub").hide();
        $("#DivsuccessI_sub").hide();
        return true;
    }

    function getDirectorId() {
        var DirectorId = "0";
        return
        {
            DirectorId: DirectorId;
        }
    }

    function req_EndAgenda(e) {

        if (e.type == "create" || e.type == "update") {
            var grid = $("#gridKendo2").data("kendoGrid");
            grid.one("dataBinding", function (e) {
                e.preventDefault();   // cancel grid rebind if error occurs
            });

            kendo.ui.progress(grid.element, false);

            if (e.response.Message != "undefined") {
                if (e.response.Message.Success == true) {
                    $("#DivsuccessI").show();
                    $("#DiverrorI").hide();
                    $('#lblsuccessI').text(e.response.Message.Message);
                    if (e.type == "create") {
                        // clearAgendaDetails();
                    }
                }
                else {
                    $("#DiverrorI").show();
                    $("#DivsuccessI").hide();
                    $('#lblerrormsgI').text(e.response.Message.Message);
                }
            }
        }
    }

    function req_EndSubAgenda(e) {

        if (e.type == "create" || e.type == "update") {
            var grid = $("#gridKendoSubAgenda").data("kendoGrid");
            grid.one("dataBinding", function (e) {
                e.preventDefault();   // cancel grid rebind if error occurs
            });

            kendo.ui.progress(grid.element, false);

            if (e.response.Message != "undefined") {
                if (e.response.Message.Success == true) {
                    $("#DivsuccessI").show();
                    $("#DiverrorI").hide();
                    $('#lblsuccessI').text(e.response.Message.Message);
                    if (e.type == "create") {
                        // clearAgendaDetails();
                    }
                }
                else {
                    $("#DiverrorI").show();
                    $("#DivsuccessI").hide();
                    $('#lblerrormsgI').text(e.response.Message.Message);
                }
            }
        }
    }

    function clearAgendaDetails() {
        var _txtNameOfOther1 = $("#Agenda");
        var _txtCIN1 = $("#txtCIN");
        var _txtPAN1 = $("#txtPAN");
        var _Arosed1 = $("#Arosed");
        var _PercentagesOfShareHolding1 = $("#PercentagesOfShareHolding");

        _txtNameOfOther1.val('');
        _txtCIN1.val('');
        _txtPAN1.val('');
        _Arosed1.val('');
        _PercentagesOfShareHolding1.val('');

        var ddlNatureOfInterest = $("#NatureOfInterest").data("kendoDropDownList");
        var ddlIfDirector = $("#IfDirector").data("kendoDropDownList");
        var ddlIfRelatives = $("#IfRelatives").data("kendoMultiSelect");

        ddlNatureOfInterest.select(0);
        ddlIfDirector.select(0);
        ddlIfRelatives.value([]);

    }

    function onEditAgenda(e) {
        e.container.find(".k-grid-cancel,.k-i-close").bind("click", function () {
            var grid = $("#gridKendo2").data("kendoGrid");
            grid.dataSource.read();
        });

        $('#gridKendo2').data().kendoGrid.editable.element.closest('.k-window')
      .find('.k-window-action:has(.k-i-close)').click(function () {
          var grid = $("#gridKendo2").data("kendoGrid");
          grid.dataSource.read();
      })

        var ddllstCompliance = $("#lstEntity").data("kendoMultiSelect");
        ddllstCompliance.readonly(false);

        if (e.model.isNew()) {

            var tableRef = document.getElementById('gridKendo2').getElementsByTagName('tbody')[0];

            if (tableRef.rows.length > 0) {
                tableRef.deleteRow(0);
            }

            $('.k-grid-update').text("Save");
            $('.k-grid-cancel').text("Close");
        } else {
            $('.k-grid-update').text("Update");
            $('.k-grid-cancel').text("Close");
        }
    }

    function onEditSubAgenda(e) {
        e.container.find(".k-grid-cancel,.k-i-close").bind("click", function () {
            var grid = $("#gridKendoSubAgenda").data("kendoGrid");
            grid.dataSource.read();
        });

        $('#gridKendoSubAgenda').data().kendoGrid.editable.element.closest('.k-window')
      .find('.k-window-action:has(.k-i-close)').click(function () {
          var grid = $("#gridKendoSubAgenda").data("kendoGrid");
          grid.dataSource.read();
      })

        var ddllstCompliance = $("#lstEntity").data("kendoMultiSelect");
        ddllstCompliance.readonly(false);

        var ddlEntityType = $("#EntityType").data("kendoDropDownList")
        ddlEntityType.readonly();

        if (e.model.isNew()) {

            var tableRef = document.getElementById('gridKendoSubAgenda').getElementsByTagName('tbody')[0];

            if (tableRef.rows.length > 0) {
                tableRef.deleteRow(0);
            }

            $('.k-grid-update').text("Save");
            $('.k-grid-cancel').text("Close");


            if (e.model.isNew() && !e.model.dirty) {
                e.container
                  .find("input[name=Parent_Id]") // get the input element for the field
                  .val($("#hndParentId").val()) // set the value
                  .change(); // trigger change in order to notify the model binding

                //Set Applicability
                //var ddllstCompliance = $("#lstEntity").data("kendoMultiSelect");
                ddllstCompliance.readonly();
                var selectedValues = $("#hndEntityType").val().split(',');
                //ddllstCompliance.value(selectedValues);
                ddllstCompliance.value(selectedValues);
                ddllstCompliance.trigger("change");
                //End

                ddlEntityType.value($("#hndEntityTypeNew").val());
                ddlEntityType.trigger("change");
            }
        }
        else {
            $('.k-grid-update').text("Update");
            $('.k-grid-cancel').text("Close");
        }

        $("frmAddEditAgenda").kendoValidator();
    }

    function trimChars(str, c) {
        var re = new RegExp("^[" + c + "]+|[" + c + "]+$", "g");
        return str.replace(re, "");
    }

    function iterate(object) {
        var str = "";
        if (object !== null && object.length > 0) {
            for (var x = 0; x < object.length; x++) {
                str += object[x].EntityTypeName + ", ";
            }
        } else {
            str += "";
        }
        return trimChars(str, ", ");
    }

    function iterateMeeting(object) {
        var str = "";
        if (object !== null && object.length > 0) {
            for (var x = 0; x < object.length; x++) {
                str += object[x].MeetingTypeName + ", ";
            }
        } else {
            str += "";
        }
        return trimChars(str, ", ");
    }

    function iterateComplianceId(object) {
        var str = "";
        if (object !== null && object.length > 0) {
            for (var x = 0; x < object.length; x++) {
                str += object[x].ComplianceId + ", ";
            }
        } else {
            str += "";
        }
        return trimChars(str, ", ");
    }

    function onChange_lstEntity(e) {

        var ddllstEntity = $("#lstEntity").data("kendoMultiSelect");
        var d = ddllstEntity.value();
        if ($.inArray(0, d) >= 0) {
            ddllstEntity.value([0]);
        }
    }

    function onChange_lstMeetingType(e) {

        var ddllstMeetingType = $("#lstMeetingType").data("kendoMultiSelect");
        var d = ddllstMeetingType.value();
        if ($.inArray(0, d) >= 0) {
            ddllstMeetingType.value([0]);
        }
    }

    function onChange_lstCompliance(e) {

        var ddllstCompliance = $("#lstCompliance").data("kendoMultiSelect");
        var selectedValues = ddllstCompliance.value();

        //var selectedValues = values.split(",");
        if (selectedValues.length > 0) {
            var multiSelectData = ddllstCompliance.dataSource.data();

            var str_table = "<table id='divPreCompliancestable'> <tr><th>Id</th> <th>Compliance</th> <th>Action</th></tr>";
            for (var i = 0; i < selectedValues.length; i++) {

                var numberValue = selectedValues[i];

                for (var j = 0; j < multiSelectData.length; j++) {

                    if (multiSelectData[j].ComplianceId == numberValue) {
                        str_table += "<tr> <td>" + multiSelectData[j].ComplianceId + "</td> <td>" + multiSelectData[j].Description + "</td>" +
                            "<td>" +
                            "<button type='button' onclick='deletePreCompliance(" + multiSelectData[j].ComplianceId + ")' class='k-button k-button-icontext k-grid-delete' style='min-width:25px;'><span class='k-icon k-delete'></span></button>" +
                            "</td></tr>";
                        break;

                    }
                }
            }

            str_table += "</html>";
            $("#divPreCompliances11").html(str_table);

            $("#divPreCompliancestable").kendoGrid({
                sortable: false,
                scrollable: false
            });
        } else {
            $("#divPreCompliances11").html('');
        }
    }

    function deletePreCompliance(v) {
        var ddllstCompliance = $("#lstCompliance").data("kendoMultiSelect");

        var selectedValues = ddllstCompliance.value();
        var newValues = selectedValues;
        for (var i = 0; i < selectedValues.length; i++) {
            if (v == selectedValues[i]) {
                break;
            }
        }

        newValues = $.grep(newValues, function (value) {
            return value != v;
        });

        ddllstCompliance.value(newValues);

        ddllstCompliance.trigger("change");
    }

    function onChange_lstPostCompliance(e) {

        var ddllstCompliance = $("#ddlPostCompliance").data("kendoMultiSelect");
        var selectedValues = ddllstCompliance.value();

        //var selectedValues = values.split(",");
        if (selectedValues.length > 0) {
            var multiSelectData = ddllstCompliance.dataSource.data();

            var str_table = "<table id='divPostCompliancestable'> <tr><th>Id</th> <th>Compliance</th> <th>Action</th></tr>";
            for (var i = 0; i < selectedValues.length; i++) {

                var numberValue = selectedValues[i];

                for (var j = 0; j < multiSelectData.length; j++) {

                    if (multiSelectData[j].ComplianceId == numberValue) {
                        str_table += "<tr> <td>" + multiSelectData[j].ComplianceId + "</td> <td>" + multiSelectData[j].Description + "</td>" +
                            "<td>" +
                            "<button type='button' onclick='deletePostCompliance(" + multiSelectData[j].ComplianceId + ")' class='k-button k-button-icontext k-grid-delete' style='min-width:25px;'><span class='k-icon k-delete'></span></button>" +
                            "</td></tr>";
                        break;
                    }
                }
            }

            str_table += "</html>";
            $("#divPostCompliances").html(str_table);

            $("#divPostCompliancestable").kendoGrid({
                sortable: false,
                scrollable: false
            });
        } else {
            $("#divPostCompliances").html('');
        }
    }

    function deletePostCompliance(v) {
        var ddllstCompliance = $("#ddlPostCompliance").data("kendoMultiSelect");

        var selectedValues = ddllstCompliance.value();
        var newValues = selectedValues;
        for (var i = 0; i < selectedValues.length; i++) {
            if (v == selectedValues[i]) {

                break;
            }
        }

        newValues = $.grep(newValues, function (value) {
            return value != v;
        });

        ddllstCompliance.value(newValues);
        ddllstCompliance.trigger("change");
    }

    function ShowTemplate(e) {
        e.preventDefault();
        //$("#wndAdd").attr("style", "min-height:100px;");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        $("#wndAdd").kendoWindow({
            title: "Template",
            modal: true
        });

        var direction = "SaveTemplate?id=" + dataItem.BM_AgendaMasterId;
        //var direction = "EditTemplate?id=" + dataItem.BM_AgendaMasterId;
        var wnd = $("#wndAdd").data("kendoWindow");
        var opts = wnd.options;

        // first click of the button - will automatically fetch the contentUrl
        wnd = $("#wndAdd").kendoWindow({
            title: "Template",
            actions: ["Close"],
            content: direction,
            width: "75%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () {
                //OnOpen();
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            }
        }).data("kendoWindow");
        // }
        opts.width = "75%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();

    }

    function ShowSubAgenda(e) {
        e.preventDefault();

        $("#wndSubAgenda").attr("style", "min-height:100px;");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        //$("#hndParentId").val(e.model.Parent_Id);
        $("#hndParentId").val(dataItem.BM_AgendaMasterId);
        document.getElementById("hndParentId").value = dataItem.BM_AgendaMasterId;
        document.getElementById("hndEntityTypeNew").value = dataItem.EntityType;

        var arr = [];
        var strEntityType = "";
        for (var i = 0; i < dataItem.lstEntity.length; i++) {
            arr.push(dataItem.lstEntity[i].EntityTypeId);
            strEntityType += dataItem.lstEntity[i].EntityTypeId + ","
        }

        document.getElementById("hndEntityType").value = arr;

        $("#lblParentAgenda").text(dataItem.Agenda);

        $("#wndSubAgenda").kendoWindow({
            title: "SubAgenda",
            modal: true
        });

        var wnd = $("#wndSubAgenda").data("kendoWindow");
        wnd.center();
        wnd.open();

        var grid = $("#gridKendoSubAgenda").data("kendoGrid");
        grid.dataSource.read();
        //grid.refresh();
    }

    function filterParentId() {
        return {
            ParentId: 3 //$("#hndParentId").val()
        };
    }

    function dataBoundgrid() {

        $(".k-hierarchy-cell").addClass("hidden");
        $(".k-hierarchy-col").addClass("hidden");

        //$(".k-grid-T").find("span").addClass("k-icon k-plus");
        $(".k-grid-T").find("span").addClass("k-icon k-edit");

        $("#grid tr.k-alt").removeClass("k-alt");

        //var grid = $("#grid").data("kendoGrid");

        //grid.tbody.find("tr.k-master-row").click(function (e) {
        //    var target = $(e.target);
        //    if ((target.hasClass("k-i-expand")) || (target.hasClass("k-i-collapse"))) {
        //        return;
        //    }

        //    var row = target.closest("tr.k-master-row");
        //    var icon = row.find(".k-i-expand");

        //    if (icon.length) {
        //        grid.expandRow(row);
        //    } else {
        //        grid.collapseRow(row);
        //    }
        //})
    }

    function Expand(e) {

        //var row = $(e.target).parents("tr").first();
        //var icon = row.find(".k-hierarchy-cell>a.k-icon");
        //icon.click();

        var row = $(e.currentTarget).closest("tr");

        var grid = $("#grid").data("kendoGrid");

        var rowIdx = $("tr", grid.tbody).index(row);

        grid.expandRow(row);

        $(".k-hierarchy-cell").addClass("hidden");

        $(".k-master-row").each(function (index) {
            //grid.expandRow(this);
        });
    }

    $('#expand').click(function (e) {
        var grid = $("#grid").data("kendoGrid");
        $(".k-master-row").each(function (index) {
            grid.expandRow(this);
        });
    })

    $('#collapse').click(function (e) {
        var grid = $("#grid").data("kendoGrid");
        $(".k-master-row").each(function (index) {
            grid.collapseRow(this);
        });
    });

    function closeSubWindow() {
        $("#wndSubAgenda").data("kendoWindow").close();
    }

    $(document).ready(function () {
        $("#customCommand1").click(function (e) {
            e.preventDefault();
            CreateAgenda();
        });
    });

    function CreateAgenda(e) {
        $("#wndAdd").attr("style", "min-height:100px;");

        $("#wndAdd").kendoWindow({
            title: "Agenda Item",
            modal: true
        });

        var direction = "GetAgenda?id=0";
        var wnd = $("#wndAdd").data("kendoWindow");
        var opts = wnd.options;

        //kendo.ui.progress(wnd.element, true);
        // first click of the button - will automatically fetch the contentUrl
        wnd = $("#wndAdd").kendoWindow({
            title: "Template",
            actions: ["Close"],
            content: direction,
            width: "75%",
            height: "85%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () {
                //OnOpen();
                OnOpen();
            },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");

                $('#gridKendo2').data('kendoGrid').dataSource.read();
            }
        }).data("kendoWindow");
        // }
        opts.width = "75%";
        //opts.height = "85%";
        wnd.setOptions(opts);
        wnd.open();
        wnd.center();
    }

    function EditAgenda(e) {
        e.preventDefault();
        $("#wndAdd").attr("style", "min-height:100px;");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        $("#wndAdd").kendoWindow({
            title: "Agenda Item",
            modal: true
        });

        var direction = "GetAgenda?id=" + dataItem.BM_AgendaMasterId;

        var refreshGrid = true;
        if ("@Model" != "" && dataItem.Customer_Id == null) {
            direction = "GetStandardAgenda?id=" + dataItem.BM_AgendaMasterId;
            refreshGrid = false;
        }

        var wnd = $("#wndAdd").data("kendoWindow");
        var opts = wnd.options;

        // first click of the button - will automatically fetch the contentUrl
        wnd = $("#wndAdd").kendoWindow({
            title: "Template",
            actions: ["Close"],
            content: direction,
            width: "85%",
            height: "85%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () {
                OnOpen();
            },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");

                if (refreshGrid == true) {
                    $('#gridKendo2').data('kendoGrid').dataSource.read();
                }
            }
        }).data("kendoWindow");
        // }
        opts.width = "85%";
        //opts.height = "85%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

    function showAgendaInfo(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        if (dataItem.HasInfo == true) {

            //$("#wndAgendaInfo").attr("style", "min-height:100px;");

            $("#wndAgendaInfo").kendoWindow({
                title: "Agenda Item Information",
                modal: true
            });

            var wnd = $("#wndAgendaInfo").data("kendoWindow");
            var opts = wnd.options;

            var editor = $("#editor").data("kendoEditor");
            editor.body.contentEditable = false;
            editor.value("<div style='user-select:none;'>" + dataItem.AgendaInfomative + "</div>");

            opts.width = "95%";
            opts.height = "550";
            wnd.setOptions(opts);
            wnd.center();
            wnd.open();
        }
    }

    function OnOpen(e) {
        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }

    function OnRefresh() {
        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function OnRefreshSub() {
        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);

        var objDiv = document.getElementById("divSubAgenda_");
        $('#divSubAgenda_').scrollTop($('#divSubAgenda_')[0].scrollHeight);

        document.getElementById('window').scrollTop = 9999999;
    }

    function filterChange() {

        var filter = { logic: 'and', filters: [] };



        var ddlEntityType = $("#ddlEntityTypeFilter").data("kendoDropDownList");
        var d = ddlEntityType.value();

        var ddlMeetingType = $("#ddlMeetingTypeFilter").data("kendoDropDownList");
        var m = ddlMeetingType.value();

        var ddlStagesFilter = $("#ddlStagesFilter").data("kendoDropDownList");
        var s = ddlStagesFilter.value();

        if (d > 0) {
            filter.filters.push({ logic: "and", field: "EntityType", operator: "eq", value: parseInt(d) });
        }

        if (m > 0) {
            filter.filters.push({ logic: "and", field: "MeetingTypeId", operator: "eq", value: parseInt(m) });
        }

        if (s != "") {
            if (s == "0") {
                filter.filters.push({ logic: "and", field: "IsMultiStageAgenda", operator: "eq", value: false });
            } else {
                filter.filters.push({ logic: "and", field: "IsMultiStageAgenda", operator: "eq", value: true });
            }
        }

        var t = $('#filter');
        if (t.val() != "") {
            filter.filters.push({ logic: "or", field: "AgendaHeading", operator: "contains", value: t.val() });
        }

        if (filter.filters.length > 0) {
            $("#clearFilter").show();
        }
        else {
            $("#clearFilter").hide();
        }

        grid = $("#gridKendo2").data("kendoGrid");
        grid.dataSource.filter(filter);
    }

    //added by Ruchi
    $(document).ready(function () {
        $("#btnAddnewCompliances").click(function (e) {
            e.preventDefault();
            CreateNewCompliance();
        });
    });

    function CreateNewCompliance(e) {
        //$("#wndAdd").attr("style", "min-height:100px;");

        $("#wndAdd").kendoWindow({
            title: "Add New Compliances",
            modal: true
        });

        var direction = "AddNewCompliances";
        var wnd = $("#wndAdd").data("kendoWindow");
        var opts = wnd.options;

        //kendo.ui.progress(wnd.element, true);
        // first click of the button - will automatically fetch the contentUrl
        wnd = $("#wndAdd").kendoWindow({
           // title: "Template",
            actions: ["Close"],
            content: direction,
            width: "40%",
            height: "40%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () {
                //OnOpen();
                OnOpen();
            },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");

                //$('#gridKendo2').data('kendoGrid').dataSource.read();
            }
        }).data("kendoWindow");
        // }
        opts.width = "40%";
        opts.height = "40%";
        wnd.setOptions(opts);
        wnd.open();
        wnd.center();
    }
    //added by Ruchi
</script>

<!-- Meeting Type-->
<script>
    function getMeetingTypeNew(d) {
        var m = d.MeetingTypeName;
        if (d.MeetingTypeId == 11 || d.MeetingTypeId == 12) {
            if (d.IsOrdinaryBusiness == true) {
                m = "AGM";
            } else {
                m = "AGM/EGM";
            }
        }
        return m;
    }

    function getDataForMeetingTypes() {
        return { showAll: false };
    }
</script>

<div class="row Dashboard-white-widget">
    <div>
        @(Html.Kendo().Tooltip()
        .For("#customCommand1")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Add - Agenda Item")
        .Events(e => e.Show("PositionTooltip")))
        @(Html.Kendo().Tooltip()
        .For("#gridKendo2")
        .Filter(".k-grid-edit")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Edit")
        .Events(e => e.Show("PositionTooltip")))
        @(Html.Kendo().Tooltip()
        .For("#gridKendo2")
        .Filter(".k-grid-compliance")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Agenda-Compliance Mapping")
        .Events(e => e.Show("PositionTooltip")))
        @(Html.Kendo().Tooltip()
        .For("#gridKendo2")
        .Filter(".k-grid-delete")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Delete")
        .Events(e => e.Show("PositionTooltip")))
        @(Html.Kendo().Tooltip()
        .For("#gridKendo2")
        .Filter(".k-grid-info")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Info")
        .Events(e => e.Show("PositionTooltip")))
        @*@(Html.Kendo().Tooltip()
            .For("#gridKendo2")
            .Filter("td:nth-child(1)")
            .Position(TooltipPosition.Bottom)
            .Width(150)
            .AutoHide(true))

            @(Html.Kendo().Tooltip()
            .For("#gridKendo2")
            .Filter("td:nth-child(2)")
            .Position(TooltipPosition.Bottom)
            .Width(150)
            .AutoHide(true) )*@

        @*@(Html.Kendo().Tooltip()
            .For("#gridKendo2")
            .Filter("td:nth-child(3)")
            .Position(TooltipPosition.Bottom)
            .ContentHandler("toolTipContent_gridNew")
            //.Width(120)
            .AutoHide(true) )*@

        @(Html.Kendo().Tooltip()
        .For("#gridKendo2")
        .Filter("td:nth-child(4)")
        .Position(TooltipPosition.Bottom)
        //.Width(450)
        .AutoHide(true) )
        @(Html.Kendo().Tooltip()
        .For("#gridKendo2")
        .Filter(".fill-template-fields")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Agenda Formats Pending")
        .Events(e => e.Show("PositionTooltip"))
        )
    </div>

    <div class="dashboard">
        <input type="hidden" id="hndParentId" value="0" />
        <input type="hidden" id="hndEntityType" />
        <input type="hidden" id="hndEntityTypeNew" />
        <input type="hidden" id="hndCursorlocation" />
        <input type="hidden" id="hndCurrentCtrl" />
        <input type="hidden" id="hndIsEditor" />

        @(Html.Kendo().Window()
            .Name("wndAdd")
            .Title("Template")
            .Visible(false)
            .Modal(true)
            .Draggable(false)
            .Scrollable(false)
        )
        @(Html.Kendo().Window()
            .Name("wndAgendaInfo")
            .Title("Information")
            .Visible(false)
            .Modal(true)
            .Content(@<text>
                <div style="user-select:none;">
                    @(Html.Kendo().Editor().Name("editor").HtmlAttributes(new { style = "height:530px;user-select:none;", aria_label = "editor" }).Resizable(resizable => resizable.Content(true).Toolbar(false)).Tools(t => t.Clear()))
                </div>
            </text>)
            .Draggable(true)
            .Scrollable(true)
        )
        @(Html.Kendo().Window()
            .Name("wndAddTemplate")
            .Title("Template Fields")
            .Visible(false)
            .Modal(true)
            .Draggable(true)
            .Scrollable(true)
        )
        @(Html.Kendo().Window()
            .Name("wndSubAgendaMapping1")
            .Title("Sub Agenda")
            .Visible(false)
            .Modal(true)
            .Draggable(true)
            .Scrollable(true)
        )
        @(Html.Kendo().Tooltip()
        .For("#gridKendo2")
        .Filter(".k-grid-doc")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .ContentHandler("getTooltipContent")
        )
        <script>
            function getTooltipContent(e) {

                return e.target.context.innerText;

            }
        </script>

        <div class="row col-md-12 colpadding0">
            <div class="col-md-4"></div> 
            <div class="col-md-8">
                <div class="calendar-legend" style="background-color: #67d1c0;"></div><span class="sub-head-span">Complete (All Documents Generation) </span>
                <div class="calendar-legend" style="background-color: #FFD877;"></div><span class="sub-head-span">Partial (Partial Documents Generation) </span>
                <div class="calendar-legend" style="background-color: #608ff9;"></div><span class="sub-head-span">Not Applicable </span>
                <div class="calendar-legend" style="background-color: #E16E6A;"></div><span class="sub-head-span">No Documents Generation </span>
            </div>
        </div>

        <div class="row master-Headre">
            <div class="col-md-12 vertical-center">
                <div class="col-md-2 colpadding0">
                    @(Html.Kendo().DropDownList()
                                .Name("ddlEntityTypeFilter")
                                .ValuePrimitive(true)
                                .DataValueField("EntityTypeId")
                                .DataTextField("EntityTypeName")
                                .OptionLabel("Entity Type-All")
                                .Events(e => e.Change("filterChange"))
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Url("/api/EntityMasterAPI/EntityTypeVMDropdownForMeeting").Type(HttpVerbs.Get);
                                    })
                                    .ServerFiltering(false);
                                }).HtmlAttributes(new { @class = "form-control", style = "width:95%;" })
                    )

                </div>

                <div class="col-md-3 colpadding0">
                    @(Html.Kendo().DropDownList()
                                .Name("ddlMeetingTypeFilter")
                                .ValuePrimitive(true)
                                .DataValueField("Id")
                                .DataTextField("MeetingTypeName")
                                .OptionLabel("Meeting Type-All")
                                .Events(e => e.Change("filterChange"))
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Url("/api/CommitteeCompAPI/GetMeetingTypeForAgendaMaster").Data("getDataForMeetingTypes").Type(HttpVerbs.Get);
                                    })
                                    .ServerFiltering(false);
                                }).HtmlAttributes(new { style = "width:95%;" })
                    )
                </div>

                <div class="col-md-1 colpadding0">
                    @(Html.Kendo().DropDownList()
                                .Name("ddlStagesFilter")
                                .Events(e => e.Change("filterChange"))
                                .BindTo(new SelectList(new List<object> {
                                            new {id="",text="Stage"},
                                            new {id="0",text="Single"},
                                            new {id="1",text="Multiple"}
                               }, "id", "text")).HtmlAttributes(new { style = "width: 100%" })
                    )
                </div>

                <div class="col-md-4">
                    <div class="input-group">
                        <input id='filter' type="text" class="form-control" placeholder="Search Agenda" autocomplete="off" onchange="filterChange()" style="height: 31px">
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit" style="height:31px">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-1">
                    <button type="button" class="btn btn-default btn-sm ClearFilterbtn" onclick="clearfilter()" id="clearFilter" style="display:none">
                        <img src="~/Areas/BM_Management/img/Vector.png" />Clear
                    </button>
                </div>

                <div class="col-md-1 colpadding0 text-right">
                    <a class="btn btn-primary" id="customCommand1" title="Add New"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</a>
                </div>

                @*Added by Ruchi*@
                @*@if (com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role == "CSIMP")
                {
                    <div class="col-md-1 colpadding0 text-right">
                        <a class="btn btn-primary" id="btnAddnewCompliances" title="Add New"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</a>
                    </div>
                }*@
                @*Added by Ruchi*@
            </div>
        </div>



        <div class="row col-md-12 colpadding0 mt30">
            @(Html.Kendo().Grid<BM_ManegmentServices.VM.AgendaMasterVM>()
                .Name("gridKendo2")
                .Columns(columns =>
                {
                    //columns.Template(t => { }).Title("Sr No").ClientTemplate("#= renderGridRowNumber() #").Width(65);
                    columns.Bound(o => o.BM_AgendaMasterId).HtmlAttributes(new { style = "text-align:left;" }).Title("AgendaID").Width("5%").Filterable(ftb => ftb.Multi(true).Search(true));
                    columns.Bound(o => o.EntityTypeName).Title("Entity Type").HtmlAttributes(new { title = "#= EntityTypeName #" }).Width("10%").Filterable(ftb => ftb.Multi(true).Search(true));
                    //columns.Bound(o => o.MeetingTypeName).Title("Meeting").HtmlAttributes(new { title = "#= MeetingTypeName #" }).Width("10%").Filterable(ftb => ftb.Multi(true).Search(true));
                    columns.Bound(o => o.MeetingTypeName).Title("Meeting").ClientTemplate("#=getMeetingTypeNew(data)#").Width("10%").Filterable(ftb => ftb.Multi(true).Search(true));
                    columns.Bound(o => o.IsMultiStageAgenda).Title("Stage").ClientTemplate("#: IsMultiStageAgenda == true ? 'Multistage' : 'Single' #").Width("10%").Filterable(ftb => ftb.Multi(true).Search(true));
                    columns.Bound(o => o.AgendaHeading).ClientTemplate("#= AgendaHeading #").Title("Agenda Item").HtmlAttributes(new { title = "#= AgendaHeading #" }).Width("45%").Filterable(ftb => ftb.Multi(true).Search(true));//.Width(560);
                    columns.Template(t => { }).Title("Status").ClientTemplate("<span class='k-grid-warn'></span>").Width("5%").HeaderHtmlAttributes(new { style = "text-align:center;" }).HtmlAttributes(new { @class = "text-center" });
                    columns.Template(t => { }).Title("Document Status").ClientTemplate("<span class='k-grid-doc'></span>").Width("5%").HeaderHtmlAttributes(new { style = "text-align:center;" }).HtmlAttributes(new { @class = "text-center" });
                    columns.Command(command =>
                    {
                        command.Custom("Edit").Click("EditAgenda").HtmlAttributes(new { @class = "k-grid-button k-grid-edit hoverCircle" });
                        command.Custom("C").Click("EditComplianceMapping").HtmlAttributes(new { @class = "k-grid-button k-grid-compliance hoverCircle" });
                        command.Custom("i").Click("showAgendaInfo").HtmlAttributes(new { @class = "k-grid-button k-grid-info hoverCircle" });
                        //command.Custom("Delete").HtmlAttributes(new { @class = "k-grid-delete" });
                    })
                    .Title("Action").Width("10%").HeaderHtmlAttributes(new { style = "text-align:center;" }).HtmlAttributes(new { @class = "text-center" });
                }).HtmlAttributes(new { style = "height:525px;" })
                .EnableCustomBinding(true)
                .Events(e => e.DataBound("onRowBound"))
                //.Events(e => e.Edit("onEditAgenda"))
                //.Navigatable()
                .Pageable(pageable => pageable
                .PageSizes(true)
                .Refresh(false)
                .ButtonCount(5))
                .Filterable()
                .Scrollable()
                .Sortable()
                .Reorderable(reorderable => reorderable.Columns(true))
                .Resizable(resizable => resizable.Columns(true))
                .ColumnMenu(col => col.Columns(false))
                .DataSource(dataSource => dataSource
                .WebApi()
                .Sort(s => s.Add("LastUpdatedOn").Descending())
                .PageSize(10)
                .ServerOperation(false)
                .Model(model =>
                {
                    model.Id(o => o.BM_AgendaMasterId);
                    model.Field(o => o.Customer_Id);
                    model.Field(o => o.Agenda);
                    model.Field(o => o.EntityType);
                    model.Field(o => o.MeetingTypeId);
                    model.Field(o => o.PartId);
                    model.Field(o => o.IsMultiStageAgenda).DefaultValue(true);
                    model.Field(o => o.Parent_Id);
                    model.Field(o => o.IsApproved);
                    model.Field(o => o.HasInfo);
                    model.Field(o => o.AgendaInfomative);
                    model.Field(o => o.LastUpdatedOn);
                })
                //.Read(read => read.Url("/api/AgendaMasterAPI/GetAllAgenda").Type(HttpVerbs.Get))
                .Read(read => read.Url("/api/AgendaMasterAPI/GetAgendaCustomerWise").Type(HttpVerbs.Get))
                .Events(events => events.Error("error_handler"))))
        </div>
    </div>
</div>

<script>
    function checkDate(e) {
        if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
            e.value = '';
        }
    }

    function onClick() {
        var editorContents = $('#str').data('kendoEditor').encodedValue();

        $.post('@Url.Action("ExportNew1", "AgendaMaster")', {
            str: editorContents
        },
            function (e) {
                alert('Editor saved on server!');
            }
        );
    }

    function toolTipContent_gridSubAgenda(e) {
        return e.target.context.innerText;
    }

    //For Mapping Compliance
    function EditComplianceMapping(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        if (dataItem.MeetingTypeId != null) {
            ComplianceMapping(dataItem.BM_AgendaMasterId);
        }
    }

    function EditComplianceMappingSub(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        if (dataItem.MeetingTypeIdSub != null) {
            ComplianceMapping(dataItem.BM_SubAgendaMasterId);
        }
    }

    function showAgendaInfoSub(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        if (dataItem.SubHasInfo == true) {

            $("#wndAgendaInfo").attr("style", "min-height:100px;");

            $("#wndAgendaInfo").kendoWindow({
                title: "Agenda Item Information",
                modal: true
            });

            var wnd = $("#wndAgendaInfo").data("kendoWindow");
            var opts = wnd.options;

            var editor = $("#editor").data("kendoEditor");
            editor.body.contentEditable = false;
            editor.value("<div style='user-select:none;'>" + dataItem.SubAgendaInfomative + "</div>");

            opts.width = "95%";
            opts.height = "550";
            wnd.setOptions(opts);
            wnd.center();
            wnd.open();
        }
    }

    function OnOpenTemplate(e) {
        var wnd = $("#wndAddTemplate").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }

    function OnRefreshTemplate() {
        var wnd = $("#wndAddTemplate").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function ComplianceMapping(e) {
        //$("#wndAddTemplate").attr("style", "min-height:100px;");

        $("#wndAddTemplate").kendoWindow({
            title: "Compliance Mapping",
            modal: true
        });

        var direction = "@Url.Action("Editing_Compliances", "AgendaMasterCompliances")" + "?AgendaMasterId=" + e;
        var wnd = $("#wndAddTemplate").data("kendoWindow");
        var opts = wnd.options;

        //kendo.ui.progress(wnd.element, true);
        // first click of the button - will automatically fetch the contentUrl
        wnd = $("#wndAddTemplate").kendoWindow({
            title: "Template",
            actions: [
                     "Pin",
                      "Close"
            ],
            content: direction,
            width: "99%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function (e) {
                $("html, body").css("overflow", "hidden");
                OnOpenTemplate();
            },
            close: function (e) {
                $("html, body").css("overflow", "");
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");

            }
        }).data("kendoWindow");
        // }
        opts.width = "99%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }
</script>

<!-- SEBI Format-->
<script>
    function showHideGMOptions() {
        var ddlMeetingTypeId = $("#MeetingTypeId").data("kendoDropDownList");
        var MeetingTypeId = ddlMeetingTypeId.value();
        if (MeetingTypeId == "11" || MeetingTypeId == "12") {
            $("#divPostal").removeClass("hidden");
            $("#divBusiness").removeClass("hidden");
            $("#divResolution").removeClass("hidden");

            $("#divCir").addClass("hidden");
        }
        else {
            $("#divPostal").addClass("hidden");
            $("#divBusiness").addClass("hidden");
            $("#divResolution").addClass("hidden");

            $("#divCir").removeClass("hidden");
        }
        showHideSEBIFormat();
    }

    function showHideSEBIFormat() {
        var ddlEntityType = $("#EntityType").data("kendoDropDownList");
        var entityTypeId = ddlEntityType.value();


        if (entityTypeId == "9" || entityTypeId == "10") {

            var ddlMeetingTypeId = $("#MeetingTypeId").data("kendoDropDownList");
            var MeetingTypeId = ddlMeetingTypeId.value();

            if (MeetingTypeId == "10" || MeetingTypeId == "11" || MeetingTypeId == "12") {
                $("#mytabSEBIFormat").removeClass("hidden");
            }
            else {
                $("#mytabSEBIFormat").addClass("hidden");
            }
        }
        else {
            $("#mytabSEBIFormat").addClass("hidden");
        }
    }

    function BindAutoComplete() {
        var autoCompleteData = [];
        autoCompleteData = autoCompleteData.concat(GetGridColumnValues('gridKendo2', 'AgendaHeading'));

        if (autoCompleteData != null && autoCompleteData != undefined) {
            $("#filter").kendoAutoComplete({
                dataSource: autoCompleteData,
                filter: "contains",
                placeholder: "Search Agenda",
                separator: ", ",
                change: AutoComplete_onChange,
            });
        }
    }

    function AutoComplete_onChange() {
        filterChange();
    }

    function clearfilter(e) {

        var ddlEntityType = $("#ddlEntityTypeFilter").data("kendoDropDownList");
        if (ddlEntityType != null && ddlEntityType != undefined) {
            ddlEntityType.value("");
        }

        var ddlMeetingType = $("#ddlMeetingTypeFilter").data("kendoDropDownList");
        if (ddlMeetingType != null && ddlMeetingType != undefined) {
            ddlMeetingType.value("");
        }

        var ddlStagesFilter = $("#ddlStagesFilter").data("kendoDropDownList");
        if (ddlStagesFilter != null && ddlStagesFilter != undefined) {
            ddlStagesFilter.value("");
        }

        var txtStartPeriod = $("#filter").val();

        if (txtStartPeriod != null && txtStartPeriod != undefined) {
            $("#filter").val("");
        }

        $('#clearFilter').css('display', 'none');

        $("#gridKendo2").data("kendoGrid").dataSource.filter({});
    }
</script>
<script>
    function onPasteRemoveTag(e) {
        e.html = e.html.replace(/<\/?img[^>]*>/g, "");
    }
</script>