﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.UserVM

<div id="divAddEditUser11" style="width:680px; max-height:600px;overflow-y:hidden;overflow-x:hidden">
    @using (Ajax.BeginForm("SaveAddEditUserNew", "User", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divAddEditUser11", InsertionMode = InsertionMode.ReplaceWith, OnBegin = "OnOpenWindow", OnComplete = "OnRefreshWindow" }, new { id = "frmAddEditUserMasterDetails" }))
    {
        <div id="divAddUser" style="margin-left:2%; margin-right:2%;">


            @if (Model != null)
            {
                if (Model.Message != null)
                {
                    if (Model.Message.Success)
                    {
                        <div class="row colpadding0">
                            <div class="col-md-12 colpadding0">
                                <div class="alert alert-success alert-dismissible">
                                    <lable>@Model.Message.Message</lable>
                                </div>
                            </div>
                        </div>
                    }
                    else if (Model.Message.Error)
                    {
                        <div class="row colpadding0">
                            <div class="col-md-12 colpadding0" id="DiverrorI">
                                <div class="alert alert-danger alert-dismissible">
                                    <button class="close" type="button" onclick="hideAlert();">×</button>
                                    <lable id="lblerrormsgI">@Model.Message.Message</lable>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
            

            <div class="row colpadding0" style="margin-left:3%">
                <div class="col-md-12 colpadding0">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.UserID)
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" style="display:none" id="DivsuccessI">
                    <div class="alert alert-success alert-dismissible">
                        <button class="close" type="button" onclick="hideAlert();">×</button>
                        <lable id="lblsuccessI"></lable>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" style="display:none" id="DiverrorI">
                    <div class="alert alert-danger alert-dismissible">
                        <button class="close" type="button" onclick="hideAlert();">×</button>
                        <lable id="lblerrormsgI"></lable>
                    </div>
                </div>
            </div>

            <fieldset class="col" style="margin-right:5px;height:460px;">
                <legend class="amp-mb5"><label style="font-size:17px">User Details </label></legend>

                <div class="row mt30">
                    <div class="col-md-12">
                        <div class="col-md-3 required">
                            <lable class="control-label">First Name </lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @Html.Kendo().TextBoxFor(m => m.FirstName).HtmlAttributes(new { style = "width:95%", autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row mt30">
                    <div class="col-md-12">
                        <div class="col-md-3 required">
                            <lable class="control-label">Last Name </lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @Html.Kendo().TextBoxFor(m => m.LastName).HtmlAttributes(new { style = "width:95%", autocomplete = "off" })
                        </div>
                    </div>
                </div>

                <div class="row mt30">
                    <div class="col-md-12">
                        <div class="col-md-3 required">
                            <lable class="control-label">Email </lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @Html.Kendo().TextBoxFor(m => m.Email).HtmlAttributes(new { style = "width:95%", autocomplete = "off" })
                        </div>
                    </div>
                </div>

                <div class="row mt30">
                    <div class="col-md-12">
                        <div class="col-md-3 required">
                            <lable class="control-label">Contact Number</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @Html.Kendo().TextBoxFor(m => m.ContactNumber).HtmlAttributes(new { style = "width:95%", autocomplete = "off" })
                        </div>
                    </div>
                </div>

                <div class="row mt30">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <span style="color:red"></span><lable class="control-label">Address</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @Html.Kendo().TextBoxFor(m => m.Address).HtmlAttributes(new { style = "width:95%", autocomplete = "off" })
                        </div>
                    </div>
                </div>

                <div class="row mt30">
                    <div class="col-md-12">
                        <div class="col-md-3 required">
                            <lable class="control-label">Secretarial Role</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @Html.EditorFor(m => m.SecretarialRoleId)
                        </div>
                    </div>
                </div>

                <div id="divAuditRoles" class="row mt30">
                    @*<div class="col-md-12">
                        <div class="col-md-3">
                            <lable class="control-label">Audit Role</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @Html.EditorFor(m => m.AuditRoleId)
                        </div>
                    </div>*@
                </div>

                <div id="divComplianceRoles" class="row mt30">
                    @*<div class="col-md-12">
                        <div class="col-md-3">
                            <lable class="control-label">Compliance Role </lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @Html.EditorFor(m => m.ComplianceRoleId)
                        </div>
                    </div>*@
                </div>

                <div id="divHRRoles" class="row mt30">
                    @*<div class="col-md-12">
                        <div class="col-md-3">
                            <lable class="control-label">Labour Role</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @Html.EditorFor(m => m.HRRoleId)
                        </div>
                    </div>*@
                </div>

                <div id="divPayrollRoles" class="row mt30 hidden">
                    @*<div class="col-md-12">
                        <div class="col-md-3">
                            <span style="color:red"></span><lable class="control-label">Payroll Role</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @Html.EditorFor(m => m.PayrollRoleId)
                        </div>
                    </div>*@
                </div>

                <div id="divPMRoles" class="row mt30">
                    @*<div class="col-md-12">
                        <div class="col-md-3">
                            <lable class="control-label">Practice Management Role</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @Html.EditorFor(m => m.PMRoleId)
                        </div>
                    </div>*@
                </div>

                <div class="row colpadding0 mt30">
                    <div class="col-md-12 colpadding0" style="text-align:center">
                        <button type="Submit" id="command_name1" name="command_name" value="save" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-primary" onclick="OnCloseUserWindow()">Close</button>
                    </div>
                </div>
            </fieldset>
        </div>
    }
    <script>
        $(document).ready(function () {
            onEditUserDetailsNewCheck();
            var validator1 = $("#frmAddEditUserMasterDetails").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
        });
    </script>
</div>