﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.UserPageVM
@{
    ViewBag.Title = "User :: Masters";
    Layout = "~/Areas/BM_Management/Views/Shared/BM_layout.cshtml";
}

@Html.AntiForgeryToken()
@Html.ValidationSummary(false, "", new { @class = "text-danger" })

<style>
    html {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .myMultiSelect .k-multiselect-wrap {
        overflow: auto;
        max-height: 34px;
        height: 34px;
    }

    .myMultiSelect2 .k-multiselect-wrap {
        overflow: auto;
        max-height: 63px;
        height: 63px;
    }

    .order-id {
        display: inline-block;
        min-width: 60px;
    }

    .ap-grid-h300 {
        min-height: 120px;
        max-height: 120px;
        overflow-x: no-display;
        overflow-y: auto;
    }
</style>

<style>
    .field-validation-error {
        color: #ff0000;
    }

    .k-current-page {
        display: none;
    }

    html .k-upload-empty {
        border-width: 1px;
    }

    .k-edit-form-container {
        position: relative;
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .k-grid-delete {
        height: 32px;
        width: 33px;
        padding: 5px 0px 10px 0;
        overflow: hidden;
    }

    .fieldlist {
        margin: 0 0 -2em;
        padding: 0;
    }

        .fieldlist li {
            list-style: none;
            padding-bottom: 2em;
        }

        .fieldlist label {
            display: block;
            padding-bottom: 1em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            color: #444;
        }

    .mt30 {
        margin-top: 18px;
    }

    .k-grid-add {
        float: right;
        /*background-color: #1fd9e1;*/
        /*color: white;*/
    }
    /*.k-add
    {
        background-image:url("'../../../../Images/Add_new_icon.png'")
    }*/
    .k-edit-buttons {
        height: 43px;
        text-align: center;
    }

    label {
        color: black;
    }

    .ml-mr {
        margin-left: 2%;
    }
</style>

<style>
    .k-window div.k-window-content {
        /*// overflow: hidden;*/
        /*overflow-y: scroll*/
    }

    fieldset {
        display: block;
        margin-inline-start: 0px;
        margin-inline-end: 2px;
        padding-block-start: 0.35em;
        padding-inline-start: 0.75em;
        padding-inline-end: 0.75em;
        padding-block-end: 0.625em;
        min-inline-size: min-content;
        border-width: 1px;
        border-style: groove;
        border-color: rgba(128, 128, 128, 0.56);
        border-radius: 11px;
        /*border-color: threedface;
    border-image: initial;*/
    }

    .amp-mb5 {
        margin-bottom: 5px;
    }

    .amp-h25 {
        height: 25px;
    }

    .amp-h26 {
        height: 26px;
    }

    .amp-h27 {
        height: 27px;
    }

    .amp-h28 {
        height: 28px;
    }

    .amp-h29 {
        height: 29px;
    }

    .amp-h30 {
        height: 30px;
    }

    .amp-mt7 {
        margin-top: 7px;
    }

    .amp-mt8 {
        margin-top: 8px;
    }

    .amp-mt9 {
        margin-top: 9px;
    }

    .amp-mt10 {
    }
</style>

<script type="text/javascript">

    function error_handler(e) {
        e.xhr.responseJSON.Message;
        $("#DiverrorI").show();
        $('#lblerrormsgI').text(e.xhr.responseJSON.Message);
    }

    function onRowBound(e) {

        GetICons();
        $("#gridKendo2 tr.k-alt").removeClass("k-alt");
    }


    function hideAlert() {
        $("#DiverrorI").hide();
        $("#DivsuccessI").hide();
        return true;
    }

    function req_StartUsers(e) {
        if (e.type == "create" || e.type == "update") {
            $(".k-loading-mask").show();
        }
    }

    function req_EndAgenda(e) {
        if (e.type == "create" || e.type == "update") {
            var grid = $("#gridKendo2").data("kendoGrid");
            grid.one("dataBinding", function (e) {
                e.preventDefault();   // cancel grid rebind if error occurs
            });
            $(".k-loading-mask").hide();

            $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            kendo.ui.progress(grid.element, false);

            if (e.response.Message != "undefined") {
                if (e.response.Message.Success == true) {
                    $("#DivsuccessI").show();
                    $("#DiverrorI").hide();
                    $('#lblsuccessI').text(e.response.Message.Message);
                    if (e.type == "create") {
                        clearUserDetails();
                    }
                }
                else {
                    $("#DiverrorI").show();
                    $("#DivsuccessI").hide();
                    $('#lblerrormsgI').text(e.response.Message.Message);
                }
            }
        }
    }

    function clearUserDetails() {
        var _txtNameOfOther1 = $("#FirstName");
        var _txtCIN1 = $("#LastName");
        var _txtPAN1 = $("#Email");
        var _Arosed1 = $("#ContactNumber");
        var _Address = $("#Address");

        _txtNameOfOther1.val('');
        _txtCIN1.val('');
        _txtPAN1.val('');
        _Arosed1.val('');
        _Address.val('');

        var ddlNatureOfInterest = $("#SecretarialRoleId").data("kendoDropDownList");

        ddlNatureOfInterest.select(0);

    }

    function onEditAgenda(e) {
        $(".k-loading-mask").show();

        debugger;

        if ("@Model.ShowComplianceRole" == "True") {
            $("#divComplianceRoles").removeClass("hidden");
        }
        else {
            $("#divComplianceRoles").addClass("hidden");
        }

        if ("@Model.ShowAuditRole" == "True") {
            $("#divAuditRoles").removeClass("hidden");
        }
        else {
            $("#divAuditRoles").addClass("hidden");
        }

        if ("@Model.ShowHRRole" == "True") {
            $("#divHRRoles").removeClass("hidden");
        }
        else {
            $("#divHRRoles").addClass("hidden");
        }

        e.container.find(".k-grid-cancel,.k-i-close").bind("click", function () {
            var grid = $("#gridKendo2").data("kendoGrid");
            grid.dataSource.read();
        });

        $('#gridKendo2').data().kendoGrid.editable.element.closest('.k-window')
            .find('.k-window-action:has(.k-i-close)').click(function () {
                var grid = $("#gridKendo2").data("kendoGrid");
                grid.dataSource.read();
            })

        if (e.model.isNew()) {

            var tableRef = document.getElementById('gridKendo2').getElementsByTagName('tbody')[0];

            if (tableRef.rows.length > 0) {
                tableRef.deleteRow(0);
            }

            $('.k-grid-update').text("Save");
            $('.k-grid-cancel').text("Close");
        } else {
            $('.k-grid-update').text("Update");
            $('.k-grid-cancel').text("Close");
        }
    }

    function CheckAllowUserCrerate() {
        $.ajax({
            url: "/api/UserMasterAPI/AllowUserCreate?custID=0", @*+@AuthenticationHelper.CustomerID,*@
            content: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (!result) {
                    $("#divBtnCreateNewUserDisabled").removeClass('hidden');
                    $("#divBtnCreateNewUser").addClass('hidden');
                } else {
                    $("#divBtnCreateNewUserDisabled").addClass('hidden');
                    $("#divBtnCreateNewUser").removeClass('hidden');
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                // TODO: Show error
                alert(errorThrown);
            }
        });
    }

</script>

<!-- Added on 23 Apr 2021-->
<script>
    function addUserDetails() {
        var direction = "@Url.Action("AddEditUserNew", "User", new { Id = 0})";

        var wnd = $("#wndAddEditUser").data("kendoWindow");
        var opts = wnd.options;

        $("#wndAddEditUser").attr("style", "min-height:480px;min-width:650px;");
        wnd = $("#wndAddEditUser").kendoWindow({
            actions: ["Close"],
            content: direction,
            visible: false,
            modal: true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            open: function () { kendo.ui.progress(this.element, true); },
            close: function (e) {
                $(this.element).empty();
                var grid = $("#gridKendo2").data("kendoGrid");
                grid.dataSource.read();
                //CheckAllowUserCrerate();
            }
        }).data("kendoWindow");

        //opts.width = "600px";
        //wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

    function editUserDetails(e){
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var direction = "@Url.Action("AddEditUserNew", "User")" + "?Id=" + dataItem.UserID;

        $("#wndAddEditUser").attr("style", "min-height:480px;min-width:650px;");

        var wnd = $("#wndAddEditUser").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndAddEditUser").kendoWindow({
            actions: ["Close"],
            content: direction,
            visible: false,
            modal: true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            open: function () { kendo.ui.progress(this.element, true); },
            close: function (e) {
                $(this.element).empty();
                var grid = $("#gridKendo2").data("kendoGrid");
                grid.dataSource.read();
                //CheckAllowUserCrerate();
            }
        }).data("kendoWindow");

        //opts.width = "600px";
        //wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

    function onEditUserDetailsNewCheck(e) {
        //$(".k-loading-mask").show();

        if ("@Model.ShowComplianceRole" == "True") {
            $("#divComplianceRoles").removeClass("hidden");
        }
        else {
            $("#divComplianceRoles").addClass("hidden");
        }

        if ("@Model.ShowAuditRole" == "True") {
            $("#divAuditRoles").removeClass("hidden");
        }
        else {
            $("#divAuditRoles").addClass("hidden");
        }

        if ("@Model.ShowHRRole" == "True") {
            $("#divHRRoles").removeClass("hidden");
        }
        else {
            $("#divHRRoles").addClass("hidden");
        }
    }

    function OnOpenWindow(e) {
        var wnd = $("#wndAddEditUser").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
    }

    function OnRefreshWindow() {
        var wnd = $("#wndAddEditUser").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }
    function OnCloseUserWindow() {
        var wnd = $("#wndAddEditUser").data("kendoWindow");
        wnd.close();
    }
</script>
<!-- End -->
<div class="row Dashboard-white-widget">
    <div class="dashboard">
        <input type="hidden" id="hndParentId" value="0" />
        <input type="hidden" id="hndEntityType" />

        @(Html.Kendo().Window().Name("wndAddEditUser").Title("Add/Edit User").Visible(false).Modal(true).Draggable(true).Scrollable(true))
        @(Html.Kendo().Grid<BM_ManegmentServices.VM.UserVM>()
                    .Name("gridKendo2")
                    .Columns(columns =>
                    {
                        columns.Bound(o => o.FirstName).Filterable(ftb => ftb.Multi(true).Search(true)).Title("First Name").HtmlAttributes(new { }).Width("20%");
                        columns.Bound(x => x.LastName).Title("Last Name").Width("20%").Filterable(ftb => ftb.Multi(true).Search(true)); ;
                        columns.Bound(x => x.Email).Title("Email").Width("20%").Filterable(ftb => ftb.Multi(true).Search(true)); ;
                        columns.Bound(x => x.RoleName).Title("Secretarial Role").Width("20%").Filterable(ftb => ftb.Multi(true).Search(true)); ;
                        //columns.Command(command =>
                        //{
                        //    command.Edit().HtmlAttributes(new { @class = "hoverCircle" });
                        //}).Title("Action").Width("10%");
                        columns.Command(command =>
                        {
                            command.Custom("Edit").Click("editUserDetails").HtmlAttributes(new { @class = "k-grid-edit" });
                        }).Title("Action").Width("10%");
                    })
                    .ToolBar(toolbar =>
                    {
                    toolbar.Template(@<text>
                            <div class="row master-Headre">
                                <div class="col-md-12 vertical-center">
                                    <div class="col-md-6 colpadding0">
                                        <div class="input-group">
                                            <input id='filter' type="text" class="form-control" placeholder="Search by Name / Email" autocomplete="off">
                                            <div class="input-group-btn">
                                                <button class="btn btn-primary" type="submit">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-1">
                                        <button type="button" class="btn btn-default btn-sm ClearFilterbtn" onclick="clearfilter()" id="clearFilter" style="display:none">
                                            <img src="~/Areas/BM_Management/img/Vector.png" />Clear
                                        </button>
                                    </div>

                                    <div class="col-md-5 colpadding0 text-right">
                                        <a class="k-grid-add btn btn-primary" href="/#" id="btnCreateNewUser" title="Add New"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</a>
                                    </div>
                                </div>
                            </div>
                        </text>);
                    })
                    //.Editable(editable =>
                    //{
                    //    editable.Mode(GridEditMode.PopUp).TemplateName("_AddUser").Window(w => w.Title("Add/Edit User"));
                    //    editable.DisplayDeleteConfirmation("Are you sure you want to delete User?");
                    //})
                    .Events(e => e.DataBound("onRowBound"))
                    //.Events(e => e.Edit("onEditAgenda"))
                    .Navigatable()
                    .Pageable(pageable => pageable
                    .Refresh(false)
                    .PageSizes(true)
                    .ButtonCount(5))
                    .Filterable()
                    .Sortable()
                    .Reorderable(reorderable => reorderable.Columns(true))
                    .Resizable(resizable => resizable.Columns(true))
                    .ColumnMenu(col => col.Columns(false))
                    .DataSource(dataSource => dataSource
                    .WebApi()
                    .Batch(false)
                    .PageSize(10)
                    .ServerOperation(false)
                    .Model(model =>
                    {
                        model.Id(o => o.UserID);

                        model.Field(o => o.SecretarialRoleId);
                        model.Field(o => o.ContactNumber);
                        model.Field(o => o.Address);
                    })
                    //.Events(events => events.RequestStart("req_StartUsers"))
                    //.Events(events => events.RequestEnd("req_EndAgenda"))
                    .Read(read => read.Url("/api/UserMasterAPI/GeUsersNew").Type(HttpVerbs.Get))
                    //.Create(create => create.Url("/api/UserMasterAPI/CreateUser").Type(HttpVerbs.Post))
                    //.Update(update => update.Url("/api/UserMasterAPI/UpdateUser").Type(HttpVerbs.Put))
                    .Events(events => events.Error("error_handler"))
                         ))
    </div>
</div>


<script>

    function checkDate(e) {

        if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
            e.value = '';
        }
    }

    $(document).ready(function () {
        //  var validator = $("#divAddUser").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");

        var breadCrumbData = [
            {
                displayText: "Masters",
                navigateUrl: "#",
            },
            {
                displayText: "User",
                navigateUrl: "#",
            }
        ];

        setBreadCrumb(breadCrumbData);
    });
</script>

<!-- Filter Script-->
<script>
    function filterChange() {
            
        var filter = { logic: 'or', filters: [] };

        var filterTextBox = $('#filter');

        if (filterTextBox != null && filterTextBox != undefined) {
            if (filterTextBox.val() != "") {
                filter.filters.push({ logic: "or", field: "FirstName", operator: "contains", value: filterTextBox.val() });
                filter.filters.push({ logic: "or", field: "LastName", operator: "contains", value: filterTextBox.val() });
                filter.filters.push({ logic: "or", field: "Email", operator: "contains", value: filterTextBox.val() });
            }
        }

        grid = $("#gridKendo2").data("kendoGrid");

        if (grid != null && grid != undefined) {
            grid.dataSource.filter(filter);
        }
    }

    $(document).ready(function () {
        $("#btnCreateNewUser").click(function (e) {
            e.preventDefault();
            //var grid = $("#gridKendo2").data("kendoGrid");
            //grid.create();
            addUserDetails();
        });
    });

    $('#filter').on('input', function (e) {
        filterChange();
    });
</script>
