﻿@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;
@using BM_ManegmentServices;
@model long

<style>
    #gridHistoricalAgendaItem .k-grid-content {
        min-height: 400px;
        max-height: 400px;
    }
</style>

<script>
    function txtNumberOfAgendaChanged() {
        
        var agendaItems = new Object();
        agendaItems.lst = [];

        var tot = $("#txtNumberOfAgenda").val();

        var grid = $("#gridHistoricalAgendaItem").data("kendoGrid");
        var gridData = grid.dataSource.data();
        var total = gridData.length;
        var flag = total > 0 ? false : true;
        for (var i = 1; i <= total && i<= tot; i++) {
            var k = (i - 1);
            agendaItems.lst.push({ ID: gridData[k].ID, ItemNo: gridData[k].ItemNo, AgendaItemText: gridData[k].AgendaItemText });
        }

        var count = 0;
        for (var i = total; i < tot; i++) {

            if (flag) {
                count++;
                agendaItems.lst.push({ ID: 0, ItemNo: count, AgendaItemText: "" });
            }
            else {
                agendaItems.lst.push({ ID: 0, ItemNo: "", AgendaItemText: "" });
            }
        }

        var dataSource = new kendo.data.DataSource({
            data: agendaItems.lst,
        });
        $('#gridHistoricalAgendaItem').data('kendoGrid').setDataSource(dataSource);
    }

    function dataBoundGridAgendaItemNumber(e) {
        debugger;
        var grid = $("#gridHistoricalAgendaItem").data("kendoGrid");
        GetICons();
        getGridborder(grid);
        var gridData = grid.dataSource.data();
        var total = gridData.length;
        $("#txtNumberOfAgenda").val(total);
    };

    function getItemNoTemplate(data) {
        var itemNo = data.ItemNo == null ? '' : '' + data.ItemNo;
        return str = "<input type='text' " + " style ='width:60px;' class='k-textbox k-valid' id= 'txtItemNo" + data.uid + "' onchange='setAgendaItemNumber(this);' value='" + itemNo + "' autocomplete='off'>";
    }

    function getItemTemplate(data) {
        var AgendaItemText = data.AgendaItemText == null ? '' : '' + data.AgendaItemText;
        return str = "<input type='text' " + " style ='width:100%;' class='k-textbox k-valid' id= 'txtItemNo" + data.uid + "' onchange='setAgendaText(this);' value='" + AgendaItemText + "' autocomplete='off'>";
    }

    function setAgendaItemNumber(item) {
        var grid = $("#gridHistoricalAgendaItem").data("kendoGrid");
        var row = $(item).closest("tr");
        var dataItem = grid.dataItem(row);
        dataItem.ItemNo = $(item).val();
        dataItem.dirty = true;
    }

    function setAgendaText(item) {
        var grid = $("#gridHistoricalAgendaItem").data("kendoGrid");
        var row = $(item).closest("tr");
        var dataItem = grid.dataItem(row);
        dataItem.AgendaItemText = $(item).val();
        dataItem.dirty = true;
    }

    function SaveAgendaItemNumber() {
        debugger;
        var agendaItems = new Object();
        agendaItems.lst = [];

        var grid = $("#gridHistoricalAgendaItem").data("kendoGrid");
        var gridData = grid.dataSource.data();
        var flag = false;
        var error = false;
        var errorAgenda = false;
        var total = gridData.length;
        for (var i = 1; i <= total; i++) {
            var k = (i - 1);
            if (!errorAgenda) {
                var agendatext = $.trim(gridData[k].AgendaItemText);
                errorAgenda = agendatext == null || agendatext == undefined || agendatext == '' ? true : false;
            }
            agendaItems.lst.push({ ID: gridData[k].ID, ItemNo: gridData[k].ItemNo, AgendaItemText: gridData[k].AgendaItemText });
            flag = false;
            for (var j = 0; j < gridData.length; j++) {
                if (gridData[j].ItemNo == i) {
                    flag = true;
                }
            }
            if (flag == false) {
                error = true;
                break;
            }
        }

        if (error) {
            alert('Please check agenda items sequence');
        }
        else if (errorAgenda) {
            alert('Please enter all Agenda Item Text.');
        }
        else {
            kendo.ui.progress($("#gridHistoricalAgendaItem"), true);
            //lst
            $.ajax({
                type: "POST",
                url: "@Url.Action("SaveHistoricalAgenda", "HistoricalData")",
                //data: JSON.stringify(agendaItems),
                //data: JSON.stringify(agendaItems),
                data: JSON.stringify({ id: '@Model', lst: agendaItems.lst }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {

                kendo.ui.progress($("#gridHistoricalAgendaItem"), false);
                alert(response.Message);

                loadAgendaItems('@Model');
                //fillAgendaItesmGrid(response.AgendaItems);
                //var gridComplianceAssign = $("#gridComplianceAssign").data('kendoGrid');
                //if (gridComplianceAssign != undefined) {
                //    gridComplianceAssign.dataSource.data([])
                //}
            },
            failure: function (response) {
                kendo.ui.progress($("#gridHistoricalAgendaItem"), false);
            },
            error: function (response) {
                kendo.ui.progress($("#gridHistoricalAgendaItem"), false);
            }
            });

        }
    }

    function gridAgendaItemNumberRequestEnd(e) {

        if (e.type == "create" || e.type == "update") {
            debugger;
            if (e.response.Errors == null) {
                var divgridAgendaItemNumberMsg = $("#divgridAgendaItemNumberMsg");
                divgridAgendaItemNumberMsg[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success'> <lable>Save Successfully.</lable></div></div></div>";
            }
        }
    }
</script>

<script>
    $(document).ready(function () {
        loadAgendaItems('@Model');
    });

    function fillAgendaItesmGrid(d) {
        debugger;
        var dataSource = new kendo.data.DataSource({
            data: d, //myJson.employees,
            //pageSize: 10
        });

        $('#gridHistoricalAgendaItem').data('kendoGrid').setDataSource(dataSource);

        //var grid = $("#gridHistoricalAgendaItem").data("kendoGrid");
        //grid.setDataSource(dataSource);

        //var grid = $("#gridHistoricalAgendaItem").data("kendoGrid");
        //grid.setDataSource(ds);
        //grid.refresh();
        //var grid = $("#gridHistoricalAgendaItem").kendoGrid({
        //    pageable: {
        //        alwaysVisible: false,
        //        pageSizes: [5, 10, 20, 100]
        //    },
        //    columns: [
        //                //{
        //                //    field: "AgendaId", title: " ", template: "<input type='checkbox' #= IsAgendaSelect ? checked='checked':'' # class='chkbx' />", width: "35px;"
        //                //    , headerTemplate: "<input type='checkbox' id='header_chb' class='header-checkbox'>"
        //                //},
        //                { field: "ItemNo", title: "Item No" },
        //                { field: "AgendaItemText", title: "Agenda Item", template: "#:getItemNoTemplate(data)#" },
        //    ],
        //    dataSource: ds
        //});

    }

    function loadAgendaItems(id) {
        kendo.ui.progress($("#divgridHistoricalAgendaItem"), true);

        $.ajax({
            type: "GET",
            url: "@Url.Action("GetHistoricalAgenda", "HistoricalData")" +"?id="+ id,
            //data: "{id:" + id + "}",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (response) {

            kendo.ui.progress($("#divgridHistoricalAgendaItem"), false);

            fillAgendaItesmGrid(response);
            //var gridComplianceAssign = $("#gridComplianceAssign").data('kendoGrid');
            //if (gridComplianceAssign != undefined) {
            //    gridComplianceAssign.dataSource.data([])
            //}
        },
        failure: function (response) {
            kendo.ui.progress($("#divgridHistoricalAgendaItem"), false);
        },
        error: function (response) {
            kendo.ui.progress($("#divgridHistoricalAgendaItem"), false);
        }
    });
    }

    function deleteAgendaItem_click(e) {
        debugger;
        e.preventDefault();
        var grid = this;
        var row = $(e.currentTarget).closest("tr");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.ID;
        wndAgendas.center().open();
        $("#yesAgenda").click(function () {
            grid.removeRow(row);
            wndAgendas.close();
        });

        $("#noAgenda").click(function () {
            wndAgendas.close();
        });
    }
</script>

<div id="divgridAgendaItemNumberMsg">

</div>

<div class="row colpadding0 mt30">
    <div class="col-md-12 colpadding0">
        <div class="col-md-6">
            <lable class="control-label">Number Of Agneda Items</lable>
            @Html.Kendo().TextBox().Name("txtNumberOfAgenda").HtmlAttributes(new { style = "width:60px;", type = "number", onchange = "txtNumberOfAgendaChanged();" })
            @*<input id="txtNumberOfAgenda" type="text" onchange="txtNumberOfAgendaChanged();"/>*@
        </div>
    </div>
</div>

<div class="row colpadding0 mt30">
    <div id="divgridHistoricalAgendaItem" class="col-md-12 colpadding0">
        @(Html.Kendo().Grid<BM_ManegmentServices.VM.HistoricalDataAgendaVM>()
    .Name("gridHistoricalAgendaItem")
    .Columns(columns =>
    {
        columns.Bound(p => p.ID).Visible(false);
        columns.Bound(c => c.ItemNo).Title("Item No").ClientTemplate("#= getItemNoTemplate(data)#").HtmlAttributes(new { }).Width("8%");
        columns.Bound(c => c.ItemNo).Title("Agenda Item").ClientTemplate("#= getItemTemplate(data)#").HtmlAttributes(new { }).Width("80%");
        //columns.Bound(p => p.AgendaItemText).ClientTemplate("#=AgendaItemText#").Title("Agenda Item").HtmlAttributes(new { }).Width("80%");
        //columns.Command(command =>
        //{
        //    if (AuthenticationHelper.Role != SecretarialConst.Roles.DRCTR && AuthenticationHelper.Role != SecretarialConst.Roles.SMNGT)
        //    {
        //        command.Custom("Delete").HtmlAttributes(new { @class = "k-grid-delete" });
        //    }
        //    else
        //    {
        //        command.Custom("Delete").Click("deleteAgendaItem_click").HtmlAttributes(new { @class = "k-grid-delete" });
        //    }
        //}).Title("Action").Width("10%").HtmlAttributes(new { style = "text-align: center;" }).HeaderHtmlAttributes(new { style = "text-align: center;" });
    })
    .Editable(editable => editable.Mode(GridEditMode.InCell).CreateAt(GridInsertRowPosition.Bottom))
    .Scrollable()
    //.AutoBind(false)
    .Events(e => e.DataBound("dataBoundGridAgendaItemNumber"))
    .DataSource(dataSource => dataSource
    .Ajax()
    .Batch(true)
    .ServerOperation(false)
    .Events(events => events.RequestEnd("gridAgendaItemNumberRequestEnd"))
    //.Read(read => read.Action("GetAgendaItemsForChangeNumber", "Meetings", new { id = Model }).Type(HttpVerbs.Get))
    //.Update(update => update.Action("ChangeItemNumber", "Meetings"))
    //.Create(update => update.Action("ChangeItemNumber", "Meetings"))
    .Model(model =>
    {
        model.Id(p => p.ID);
        model.Field(m => m.AgendaItemText).Editable(false);
        model.Field(m => m.ItemNo);
    })
    ))
</div>
</div>

<div class="row colpadding0 mt30">
    <div class="col-md-12 colpadding0" style="text-align:center">
        <button type="button" id="btnSaveAgendaItemNumber" class="btn btn-primary" onclick="SaveAgendaItemNumber()">Submit</button>
    </div>
</div>