﻿@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;
@model BM_ManegmentServices.VM.VM_HistoricalMeetings

<div id="divHistoricalMeetingCreate">
    <div class="row colpadding0">
        <div class="col-md-12 colpadding0">
            <div class="tab" role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" id="Details" class="active"><a href="#Details1" aria-controls="home" role="tab" data-toggle="tab">Details</a></li>
                    <li role="presentation" id="AgnedaItems"><a href="#AgendaItems1" aria-controls="profile" role="tab" data-toggle="tab">Agenda Items</a></li>
                </ul>

                <div class="tab-content tabs">
                    <div role="tabpanel" class="tab-pane fade in active" id="Details1">
                        @(Html.Partial("EditHistoricalData", Model))
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="AgendaItems1">
                        @(Html.Partial("_EditHistoricalAgendaItem", Model.ID))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>