﻿
@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;
@using BM_ManegmentServices;

@model BM_ManegmentServices.VM.VM_HistoricalMeetings

<div id="divHistoricalMeetingCreate">


    <link href="~/NewCSS/bootstrap-tagsinput.css" rel="stylesheet" />
    <script src="~/Newjs/bootstrap-tagsinput.js"></script>

    <style>
        .bootstrap-tagsinput {
            width: 100%;
        }

        .k-upload .k-clear-selected, .k-upload .k-upload-selected {
            display: inline-block;
            width: 50%;
            margin: 0;
            line-height: 1em;
            padding: 1.214em 0;
            border: 0;
            display: none;
        }
    </style>

    <script>
     $("#txtTagInputes").tagsinput({

     });

     function FilterFiledata() {
         debugger;
         var status = "M";

         if (document.querySelector('input[name="status"]:checked') != null) {
             stattus = document.querySelector('input[name="status"]:checked').value;
         }
         return {
             HistoricalID: '@Model.ID',
             status: status
         }
     }

     function GetLoggedinUserDetails(){
        var loggedInUserID = @AuthenticationHelper.UserID;
        var customerID=@AuthenticationHelper.CustomerID;

        return { custID : customerID, userID : loggedInUserID  }
    }
    </script>

    <script>
    function FilterType() {
        debugger;

        var type = document.getElementById("Circular_Meeting");
        var entity_Id = $('#EntityId').val();
        if ((entity_Id > 0) == false) {
            entity_Id = -1;
        }

        if (type.checked == true) {
            return {
                Type: "M", entityID: entity_Id
            }
        }
        else {
            return {
                Type: "C", entityID: $('#EntityId').val()
            }
        }
    }

    function FilterTypefy() {
        var EntityID = $('#EntityId').val();

        return {
            EntityID: EntityID
        }
    }

    </script>

    <div id="divDetailsOfMeetingCreate">
        <div id="divHistoricalMeetingCreate11">
            @using (Ajax.BeginForm("CreateHistoricalMeeting", "HistoricalData", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divHistoricalMeetingCreate", InsertionMode=InsertionMode.ReplaceWith }, new { id = "frmUpdateHistoricalMeetingNew", enctype = "multipart/form-data" }))
        {
                @*@Html.HiddenFor(m => m.ID)*@
                @Html.Hidden("ID", Model.ID)
                @Html.HiddenFor(m => m.H_ID)

                <div class="col-md-12 colpadding0" style="overflow-y:auto; overflow-x:hidden; height:500px">

                    @if (Model.Success)
            {
                        <div class="row">
                            <div class="col-md-12 colpadding0" id="DivsuccessI">
                                <div class="alert alert-success alert-dismissible">
                                    <button class="close" type="button" onclick="hideAlert();">×</button>
                                    <lable id="lblsuccessI">@Html.Raw(Model.Message)</lable>
                                </div>
                            </div>
                        </div>
            }
            else if (Model.Error)
            {
                        <div class="row">
                            <div class="col-md-12 colpadding0" id="DiverrorI">
                                <div class="alert alert-danger alert-dismissible">
                                    <button class="close" type="button" onclick="hideAlert();">×</button>
                                    <lable id="lblerrormsgI">@Html.Raw(Model.Message)</lable>
                                </div>
                            </div>
                        </div>
            }

                    <div class="row mt30">
                        <div class="col-md-12">
                            <div class="col-md-1 required">
                                <lable class="control-label">Select Type</lable>
                            </div>
                            <div class="col-md-10">
                                <label class='container1'>Meeting @Html.RadioButtonFor(model => model.Circular_Meeting, "M", new { @checked = "checked" })<span class='checkmark1'></span></label>
                                <label class='container1'>Circular @Html.RadioButtonFor(model => model.Circular_Meeting, "C")<span class='checkmark1'></span></label>
                                <label class='container1'>Other @Html.RadioButtonFor(model => model.Circular_Meeting, "O")<span class='checkmark1'></span></label>

                            </div>
                        </div>
                    </div>

                    <div class="row mt30">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="col-md-12 colpadding0 required">
                                    <lable class="control-label">Entity</lable>
                                </div>
                                @*<div class="col-md-7 colpadding0">*@
                                @(Html.Kendo().DropDownListFor(model => model.EntityId)
                                 .DataValueField("Id")
                                 .DataTextField("EntityName")
                                 .OptionLabel("Select")
                                 .DataSource(source =>
                                 {
                                     source.Read(read =>
                                     {
                                         if (AuthenticationHelper.Role == SecretarialConst.Roles.DRCTR || AuthenticationHelper.Role == SecretarialConst.Roles.SMNGT)
                                             read.Url("/api/EntityMasterAPI/DirectorAssignedEntities").Data("GetLoggedinUserDetails").Type(HttpVerbs.Get);
                                         else
                                             read.Url("/api/EntityMasterAPI/GetDropDownforEntity").Type(HttpVerbs.Get);

                                         //read.Url("/api/EntityMasterAPI/GetAllEntityMasterForMeetingNew").Type(HttpVerbs.Get);
                                     }).ServerFiltering(false);
                                 }).HtmlAttributes(new { style = "width: 100%;" }))
                                @*</div>*@
                            </div>

                            <div class="col-md-5">
                                <div class="col-md-12 colpadding0">
                                    <span></span><lable class="control-label">Meeting Type</lable>
                                </div>
                                @*<div class="col-md-7 colpadding0">*@
                                @(Html.Kendo().MultiSelectFor(m => m.MeetingTypeId)
                            .TagMode(TagMode.Multiple)
                             .DataValueField("Id")
                             .DataTextField("MeetingTypeName")
                             .ItemTemplate("<input type='checkbox' name='cb' value='#:data.MeetingTypeName#' /> #:data.MeetingTypeName#")
                             .MaxSelectedItems(1)
                             // .OptionLabel("Select")
                             .DataSource(source =>
                             {
                                 source.Read(read =>
                                 {
                                     read.Url("/api/CommitteeCompAPI/GetMeetingTypeByCustomer").Type(HttpVerbs.Get);
                                     //read.Url("/api/DirectorMeetings/GetMeeting").Type(HttpVerbs.Get);
                                     //read.Url("/api/MeetingAPI/GetMeetingType").Data("FilterType").Type(HttpVerbs.Get);
                                 }).ServerFiltering(true);
                             }).HtmlAttributes(new { style = "width: 100%;", }))
                                @*</div>*@
                            </div>
                        </div>
                    </div>

                    <div class="row mt30">
                        <div class="col-md-12">
                            <div class="col-md-9 colpadding0">
                                <div class="col-md-2">
                                    <lable class="control-label">Financial Year</lable>

                                    @(Html.Kendo().DropDownListFor(model => model.FYID)
                                .DataValueField("FYID")
                                .DataTextField("FYText")
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Url("/api/ConfigurationMasterAPI/GetFYListByEntityIDForHistorical").Data("FilterTypefy").Type(HttpVerbs.Get);
                                    })
                                    .ServerFiltering(true);
                                })
                                .Enable(false)
                                .AutoBind(false)
                                .CascadeFrom("EntityId")
                                .HtmlAttributes(new { style = "width: 98%;" }))
                                </div>

                                <div class="col-md-2">
                                    <lable class="control-label">&nbsp;Date</lable>
                                    @(Html.Kendo().DatePickerFor(m=>m.MeetingDate)
                                .Max(DateTime.Today).Format("dd/MM/yyyy")
                                .ParseFormats(new[] { "dd/MM/yyyy" })
                                .Culture("en-GB")
                                .HtmlAttributes(new { style = "width:97%", @Id = "dpMeetingDate", placeholder = "DD/MM/YYYY", autocomplete = "off", onchange = "checkDate(this);", }))
                                </div>

                                <div class="col-md-1">
                                    <lable class="control-label">Sr.No.</lable>
                                    @Html.Kendo().TextBoxFor(m => m.MeetingSRNo).HtmlAttributes(new { style = "width:67%;", type = "number" })
                                </div>

                                <div id="divSTime" class="col-md-2">
                                    <lable class="control-label">Start Time</lable>
                                    @(Html.Kendo().TimePicker().Name("StartMeetingTime").Format("hh:mm tt").Min("9:00 AM").Max("8:30 AM")
                                    .HtmlAttributes(new { style = "width: 95%", @Id = "StartMeetingTime", autocomplete = "off" }))
                                </div>

                                <div id="divETime" class="col-md-2">
                                    <lable class="control-label">End Time</lable>
                                    @(Html.Kendo().TimePicker().Name("EndMeetingTime").Format("hh:mm tt").Min("9:00 AM").Max("8:30 AM")
                                                                                                .HtmlAttributes(new { style = "width: 95%", @Id = "EndMeetingTime", autocomplete = "off" }))
                                </div>

                            </div>

                            <div class="col-md-3 colpadding0 hidden">
                                <lable class="control-label">&nbsp;Meeting Number</lable>
                                @Html.Kendo().TextBoxFor(m => m.MeetingNo).HtmlAttributes(new { type = "number", value = "1" })
                            </div>
                        </div>
                    </div>

                    <div class="row colpadding0 mt30">
                        <div class="col-md-12">
                            <div class="col-md-1">
                                <span class="validation"></span><label for="txtTaskTitle" class="control-label">Document Type</label>
                            </div>
                            <div class="col-md-10">
                                @(Html.Kendo().RadioButtonFor(m => m.status).Label("Minutes").Value("M").Checked(Model.Isdefaultcheck).HtmlAttributes(new { }))
                                @(Html.Kendo().RadioButtonFor(m => m.status).Label("Agenda/Notice").Value("A").HtmlAttributes(new { }))
                                @(Html.Kendo().RadioButtonFor(m => m.status).Label("Compliance").Value("C").Checked(Model.IsComcheck).HtmlAttributes(new { }))
                                @(Html.Kendo().RadioButtonFor(m => m.status).Label("Others").Value("O").HtmlAttributes(new { }))
                            </div>
                        </div>
                    </div>

                    <div class="row colpadding0 mt30">
                        <div class="col-md-12">
                            <div class="col-md-1">
                                <span class="validation"></span><label for="txtTaskTitle" class="control-label">Tags</label>
                            </div>
                            <div class="col-md-10">
                                <input id="txtTagInputes" name="FileTags" type="text" data-role="tagsinput" style="width:100%" value="@Model.FileTags" />
                            </div>
                        </div>
                    </div>

                    <div class="row colpadding0 mt30">
                        <div class="col-md-12 colpadding0">
                            @Html.Partial("_FileDetails", Model)
                        </div>
                    </div>

                    @if (AuthenticationHelper.Role != SecretarialConst.Roles.DRCTR && AuthenticationHelper.Role != SecretarialConst.Roles.SMNGT)
         {
                        <div class="row colpadding0 mt30">
                            <div class="col-md-12 colpadding0 text-center">
                                <button type="Submit" id="command_name" name="command_name" value="save" class="btn btn-primary">Save</button>
                            </div>
                        </div>
         }


                </div>
        }
        </div>
    </div>

    <script>
    function ddlMeetingTypeId_changed() {

        var Type1 = $("input:radio[name=Circular_Meeting]:checked").val();

        var ddlEntityId = $("#EntityId").data("kendoDropDownList");
        var ddlMeetingTypeId = $("#MeetingTypeId").data("kendoDropDownList");

        //if (ddlEntityId.value() > 0 && ddlMeetingTypeId.value() == 10 && Type1 == "M") {
    }
    </script>

    <script>
    var validator1 = $("#frmUpdateHistoricalMeetingNew").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");

    $(document).ready(function () {
        $('input[id="Circular_Meeting"]').each(function () {
            $(this).bind("click", function () {
                // rbType_Changed($(this).val());
                if($(this).val() == "M"){
                    $("#divSTime").removeClass("hidden");
                    $("#divETime").removeClass("hidden");
                }else{
                    $("#divSTime").addClass("hidden");
                    $("#divETime").addClass("hidden");
                }
            });
        });

        var rbTypeValue = $("input[name='Circular_Meeting']:checked").val();
        if(rbTypeValue =="M"){
            $("#divSTime").removeClass("hidden");
            $("#divETime").removeClass("hidden");
        }else{
            $("#divSTime").addClass("hidden");
            $("#divETime").addClass("hidden");
        }

        var entityID = $("#EntityId").val();

        if (entityID != 0 && entityID != null && entityID != undefined) {

        }
    });

    //function ddlMeetingTypeId_changed() {
    //    var ddlMeetingTypeId = $("#MeetingTypeId").data("kendoDropDownList");
    //    var ddlQuarter_ = $("#Quarter_").data("kendoDropDownList");

    //    if (ddlMeetingTypeId.value() == 10) {
    //        $("#divQuarter").removeClass("hidden");
    //        ddlQuarter_.value("");
    //    }
    //    else {
    //        $("#divQuarter").addClass("hidden");
    //    }
    //}

    function rbType_Changed(type) {
        // BindMeetingTypeDropDown(type, $("#EntityId").val());
    }

    function ddlEntity_changed() {
        debugger;
        var ddlEntityId = $("#EntityId").data("kendoDropDownList");
        var entityID = $("#EntityId").val();
        var index = ddlEntityId.selectedIndex;

        if ((entityID > 0) == false) {
            entityID = -1;
        }

        var rbTypeValue = $("input[name='Circular_Meeting']:checked").val();
    }

    </script>

    <script type="text/javascript">

    $(document).ready(function () {
        $("#files1").kendoUpload({

            async: {
                saveUrl: "/BM_Management/HistoricalData/CreateHistoricalMeeting",
                autoUpload: false,
                removeUrl: "/BM_Management/Task/Templates_Remove",
                batch: true
            },
            validation: {
                allowedExtensions: [".doc", ".docx", ".pdf", ".jpg", ".png", ".zip", ".rar", ".xls", ".xlsx"]
            },
            dropZone: ".dropZoneElement"
        });
    });

    function checkDate(e) {
        if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
            e.value = '';
        }
    }

    $(document).ready(function () {
        $("#dpMeetingDate").removeAttr("data-val-date");

        if ($("#dpMeetingDate").val() == "01/01/0001") {
            $("#dpMeetingDate").val('');
        }

        CheckType();
    });

    function CheckType() {
        debugger;
        var multiselectMeetingTypeId = $("#MeetingTypeId").data("kendoMultiSelect");
        var type = document.querySelector('input[name="Circular_Meeting"]:checked').value;
        if (type == "O") {
            $("#dpMeetingDate").data("kendoDatePicker").readonly();
            $("#dpMeetingDate").data("kendoDatePicker").enable(false);
            $("#dpMeetingDate").css("cursor", "no-drop");

            $("#MeetingSRNo").val('');
            $("#MeetingSRNo").attr('readonly', 'true');
            $("#MeetingSRNo").css("cursor", "no-drop");

            $("#MeetingNo").val('');
            $("#MeetingNo").attr('readonly', 'true');
            $("#MeetingNo").css("cursor", "no-drop");
            $("#MeetingTypeId").css("cursor", "no-drop");

            multiselectMeetingTypeId.readonly(true);
            multiselectMeetingTypeId.enable(false);
        }
        else {
            $("#dpMeetingDate").data("kendoDatePicker").enable(true);
            $("#dpMeetingDate").css("cursor", "");
            $("#MeetingSRNo").removeAttr('readonly');
            $("#MeetingNo").removeAttr('readonly');
            $("#MeetingNo").css("cursor", "");
            $("#MeetingSRNo").css("cursor", "");
            $("#MeetingTypeId").css("cursor", "");

            multiselectMeetingTypeId.readonly(false);
            multiselectMeetingTypeId.enable(true);
        }
    }

    </script>

</div>