﻿@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;
@using BM_ManegmentServices;
@model BM_ManegmentServices.VM.VM_HistoricalMeetings

@{
    ViewBag.Title = "Historical Documents :: My Documents";
    //Layout = "~/Areas/BM_Management/Views/Shared/BM_layout.cshtml";
}

<style>
    /*.k-window {
        padding-top: 17px;
        min-width: 90px;
        min-height: 50px;
        display: block;
        top: 58.1111px;
        left: 14%;
        position: fixed;
        z-index: 10003;
        opacity: 1;
        transform: scale(1);
        right: 19%;
    }*/
</style>

<script>
    function GetLoggedinUserDetails(){
        var loggedInUserID = @AuthenticationHelper.UserID;
        var customerID=@AuthenticationHelper.CustomerID;

        return { custID : customerID, userID : loggedInUserID  }
    }

    function Filterfy() {
        var EntityID = $('#ddlEntityFilter').val();

        return {
            EntityID: EntityID
        }
    }

    var initialLoad = true;
    function gridHistoricalDataonRowBound(e) {

        var grid = $("#gridHistoricalData").data("kendoGrid");
        var gridData = grid.dataSource.view();

        GetICons();
        getGridborder(grid);
        if (initialLoad) {
            BindAutoComplete();
            initialLoad = false;
        }
    }

    function error_handlerT(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

    function toolTipContent_gridNew(e) {
        return e.target.context.innerText;
    }

    $(document).ready(function () {

        wnd = $("#modalWindow").kendoWindow({
            title: "Delete confirmation",
            modal: true,
            visible: false,
            resizable: false,
            width: 300
        }).data("kendoWindow");

        wndAgendas = $("#modalWindowAgenda").kendoWindow({
            title: "Delete confirmation",
            modal: true,
            visible: false,
            resizable: false,
            width: 300
        }).data("kendoWindow");

        $("#customCommand1").click(function (e) {
            e.preventDefault();
            CreateMeeting();
        });

        var breadCrumbData = [
           {
               displayText: "My Documents",
               navigateUrl: "#",
           }, {
                displayText: "Historical Documents",
               navigateUrl: "#",
           }
        ];

        setBreadCrumb(breadCrumbData);

        $("#gridHistoricalData .k-grid-content").css({
            "overflow-y": "scroll"
        });
    });

    function CreateMeeting(e) {
        $("#wndAdd").kendoWindow({
            title: "Add-Historical Documents",
            modal: true
        });

        var direction = "OpenPopUPForHistorialdata?ID=" + 0;
        showMeetingPopup(direction);
    }

    function EditMeeting(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var direction = "OpenPopUPForHistorialdata?ID=" + dataItem.ID;

        //$("#wndAdd").attr("style", "min-height:400px !important;min-width:700px !important;overflow-y:auto;");
        var wnd = $("#wndAdd").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndAdd").kendoWindow({
            actions: ["Close"],
            content: direction,
            width: "70%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () { kendo.ui.progress(wnd.element, true); },
            close: function (e) {
                $(this.element).empty();
                initialLoad = true;
                $('#gridHistoricalData').data('kendoGrid').dataSource.read();
            }
        }).data("kendoWindow");
        opts.width = "70%";
        opts.height = "90%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

    function showMeetingPopup(direction) {
        //$("#wndAdd").attr("style", "min-height:360px;min-width:540px;");

        var wnd = $("#wndAdd").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndAdd").kendoWindow({
            actions: ["Close"],
            content: direction,
            width: "70%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () { kendo.ui.progress(wnd.element, true); },
            close: function (e) {
                $(this.element).empty();
                initialLoad = true;
                $('#gridHistoricalData').data('kendoGrid').dataSource.read();
            }
        }).data("kendoWindow");
        opts.width = "70%";
        opts.height = "90%";
        wnd.setOptions(opts);

        wnd.center();
        wnd.open();
    }

    function OnOpen(e) {
        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
    }

    function OnRefresh() {
        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }
    var wnd;
    var wndAgenda;
    $(document).ready(function () {

    });
    function DeleteEntity(id) {
        $.ajax({
            //url: "/api/HistoricalDataAPI/DeleteHistoricalData?ID=" + id,
            url: "@Url.Action("DeleteHistoricalData","HistoricalData")?ID=" + id,
            method: "DELETE",
            success: function (data) {
                alert("Deleted Successfully");
                $('#gridHistoricalData').data('kendoGrid').dataSource.read();
                $('#gridHistoricalData').data('kendoGrid').refresh();
            }
        });
    }

    function DeleteHisData(e) {
        debugger;
        e.preventDefault();

        var grid = this;
        var row = $(e.currentTarget).closest("tr");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.ID;
        wnd.center().open();
        $("#yes").click(function () {
            DeleteEntity(id)
            grid.removeRow(row);
            wnd.close();
        });

        $("#no").click(function () {
            wnd.close();
        });
    }

    function filterChange() {
        debugger;

        var filter = { logic: 'and', filters: [] };

        var ddlType_MeetingCircular = $("#ddlType_MeetingCircular").data("kendoDropDownList");

        if (ddlType_MeetingCircular != null && ddlType_MeetingCircular != undefined) {
            var type = ddlType_MeetingCircular.value();

            if (type != "") {
                filter.filters.push({ logic: "and", field: "Circular_Meeting", operator: "eq", value: type });
            }
        }

        var ddlEntityType = $("#ddlEntityFilter").data("kendoDropDownList");
        var d = ddlEntityType.value();

        if (d > 0) {
            filter.filters.push({ logic: "and", field: "EntityId", operator: "eq", value: parseInt(d) });
        }

        var ddlFY = $("#Fyear").data("kendoDropDownList");
        var d = ddlFY.value();

        if (d > 0) {
            filter.filters.push({ logic: "and", field: "FYID", operator: "eq", value: parseInt(d) });
        }

        var txtSearch = $('#filterSearch');
        if (txtSearch.val() != "") {
            var splittedData = txtSearch.val().trim().split(",");
            debugger;
            for (var i = 0; i < splittedData.length; i++) {
                if (splittedData[i].trim() != "") {
                    filter.filters.push({ logic: "or", field: "FileTags", operator: "contains", value: splittedData[i].trim() });
                }
            }
        }


        if (filter != null) {
            $("#clearfillter").show();
        }
        else {
            $("#clearfillter").hide();
        }
        grid = $("#gridHistoricalData").data("kendoGrid");
        grid.dataSource.filter(filter);
    }

    function clearfilter(e) {


        var ddlType_MeetingCircular = $("#ddlType_MeetingCircular").data("kendoDropDownList");
        var ddlEntityType = $("#ddlEntityFilter").data("kendoDropDownList");

        if ((ddlType_MeetingCircular != null && ddlType_MeetingCircular != undefined) || (ddlEntityType != null && ddlEntityType != undefined)) {
            var type = ddlType_MeetingCircular.value();
            var entity = ddlEntityType.value();
            if (type > 0 || entity > 0) {
                $("#ddlType_MeetingCircular").data("kendoDropDownList").value("");
                $("#ddlEntityFilter").data("kendoDropDownList").value("");
            }
        }

        $('#clearfillter').css('display', 'none');

        $("#gridHistoricalData").data("kendoGrid").dataSource.filter({});
    }


    function BindAutoComplete() {
        debugger;
        var autoCompleteData = [];
        autoCompleteData = autoCompleteData.concat(GetGridColumnValues('gridHistoricalData', 'FileTags'));

        if (autoCompleteData != null && autoCompleteData != undefined) {
            $("#filterSearch").kendoAutoComplete({
                dataSource: autoCompleteData,
                filter: "contains",
                placeholder: "Search by Tag",
                separator: ", ",
                change: AutoComplete_onChange,
            });
        }
    }

    function AutoComplete_onChange() {
        filterChange();
    }
</script>
<script>
    function getSrNo(e) {

        return e == null ? '' : '[ ' + e + ' ]';
    }
</script>


<div class="row Dashboard-white-widget">

    <div class="dashboard">

        @(Html.Kendo().Window().Name("wndAdd").Title("Meeting").Visible(false).Modal(true).Draggable(false).Pinned(true))

        <div class="row master-Headre">
            <div class="col-md-12 vertical-center">
                <div class="col-md-1 colpadding0">
                    @(Html.Kendo().DropDownList()
                        .Name("ddlType_MeetingCircular")
                        //.Events(e => e.Change("filterChange"))
                        .BindTo(new SelectList(new List<object> {
                                                    new {id="",text="Type-All"},
                                                    new {id="Meeting",text="Meeting"},
                                                    new {id="Circular",text="Circular"},
                                                    new {id="Other",text="Other"},
                        }, "id", "text")).HtmlAttributes(new { style = "width: 90%;" ,Onchange= "filterChange()" }))
                </div>

                <div class="col-md-3 colpadding0">
                    @(Html.Kendo().DropDownList()
                        .Name("ddlEntityFilter")
                        .ValuePrimitive(true)
                        .DataValueField("Id")
                        .DataTextField("EntityName")
                        .OptionLabel("Entity-All")
                        //.Events(e => e.Change("filterChange"))
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                if (AuthenticationHelper.Role == SecretarialConst.Roles.DRCTR || AuthenticationHelper.Role == SecretarialConst.Roles.SMNGT)
                                    read.Url("/api/EntityMasterAPI/DirectorAssignedEntities").Data("GetLoggedinUserDetails").Type(HttpVerbs.Get);
                                else
                                    read.Url("/api/EntityMasterAPI/GetDropDownEntityForMeeting").Type(HttpVerbs.Get);
                            }).ServerFiltering(false);
                        }).HtmlAttributes(new { style = "width: 95%;", Onchange = "filterChange()" }))
                </div>

                <div class="col-md-2 colpadding0 ">
                    @(Html.Kendo().DropDownList()
                        .Name("Fyear")
                        .DataValueField("FYID")
                        .DataTextField("FYText")
                        .OptionLabel("FY-All")
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Url("/api/ConfigurationMasterAPI/GetFYListByEntityID").Data("Filterfy").Type(HttpVerbs.Get);
                            }).ServerFiltering(true);
                        })
                        .Enable(false)
                        .AutoBind(false)
                        .CascadeFrom("ddlEntityFilter")
                        .HtmlAttributes(new { style = "width: 90%;" ,Onchange = "filterChange()" }))
                </div>

                <div class="col-md-4 colpadding0">
                    <div class="input-group">
                        <input id='filterSearch' type="text" class="form-control" placeholder="Search by Tag" autocomplete="off">
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-1 colpadding0">
                    <button type="button" class="btn btn-default btn-sm ClearFilterbtn" onclick="clearfilter()" id="clearfillter" style="display:none">
                        <img src="~/Areas/BM_Management/img/Vector.png" /> Clear Filter
                    </button>
                </div>

                @if (AuthenticationHelper.Role != SecretarialConst.Roles.DRCTR && AuthenticationHelper.Role != SecretarialConst.Roles.SMNGT)
                {
                    <div class="col-md-1 colpadding0 text-right">
                        <button class="btn btn-primary" id="customCommand1" title="Add New"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</button>
                    </div>
                }
            </div>
        </div>

        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">
                @(Html.Kendo().Grid<BM_ManegmentServices.VM.VM_HistoricalMeetings>()
                .Name("gridHistoricalData")
                .Columns(columns =>
                {
                    columns.Bound(p => p.EntityName).Title("Entity").Sortable(true).Width("35%").Filterable(ftb => ftb.Multi(true).Search(true)).Sortable(true);
                    columns.Bound(p => p.MeetingTypeName).ClientTemplate("#= data.Circular_Meeting == 'Other' ? data.Circular_Meeting : data.Circular_Meeting # - #= data.MeetingTypeName == null ? '': data.MeetingTypeName # #=getSrNo(data.MeetingSRNo)# - #=data.FY#").HeaderTemplate("Meeting").HtmlAttributes(new { title = "" }).Filterable(false).Sortable(false).Width("35%");
                    columns.Bound(p => p.Circular_Meeting).Title("Meeting/Circular").Hidden(true);
                    columns.Bound(p => p.MeetingTypeName).Title("Type").Hidden(true);
                    columns.Bound(p => p.FY).Title("FY").HtmlAttributes(new { style = "text-align: center;" }).HeaderHtmlAttributes(new { style = "text-align: center;" }).Filterable(ftb => ftb.Multi(true).Search(true)).Sortable(true).Width("10%");
                    columns.Bound(p => p.MeetingDate).ClientTemplate("#= MeetingDate == null ? '' : kendo.toString(MeetingDate, \"MMM dd, yyyy\")#").HeaderTemplate("Date").Filterable(false).Sortable(false).Width("10%");
                    columns.Command(command =>
                    {
                        command.Custom("Edit").Click("EditMeeting").HtmlAttributes(new { @class = "k-grid-edit hoverCircle" });

                        if (AuthenticationHelper.Role != SecretarialConst.Roles.DRCTR && AuthenticationHelper.Role != SecretarialConst.Roles.SMNGT)
                        { 
                            command.Custom("Delete").Click("DeleteHisData").HtmlAttributes(new { @class = "k-grid-delete" }); 
                        }


                    }).Title("Action").Width("10%").HtmlAttributes(new { style = "text-align: center;" }).HeaderHtmlAttributes(new { style = "text-align: center;" });
                })
                .EnableCustomBinding(true)
                .Events(e => e.DataBound("gridHistoricalDataonRowBound"))
                .Navigatable()
                .Pageable(pageable => pageable
                .Refresh(false)
                .PageSizes(true)
                .ButtonCount(5))
                .Filterable()
                .Sortable()
                //.HtmlAttributes(new { style = "height:510px;" })
                .Reorderable(reorderable => reorderable.Columns(true))
                .Resizable(resizable => resizable.Columns(true))
                .ColumnMenu(col => col.Columns(false))
                .DataSource(dataSource => dataSource
                .WebApi()
                .PageSize(10)
                .ServerOperation(false)
                .Model(model =>
                {
                    model.Id(p => p.ID);
                })
                //.Events(events => events.RequestEnd("req_EndAgenda"))
                .Read(read => read.Action("GetHistoricalData", "HistoricalData"))
                .Events(events => events.Error("error_handlerT"))))
            </div>
        </div>

        @(Html.Kendo().Tooltip()
        .For("#gridHistoricalData")
        .Filter(".k-grid-Edit")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
         .Content("Edit")
        )
        @(Html.Kendo().Tooltip()
        .For("#gridHistoricalData")
        .Filter(".k-grid-delete")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Delete")
        )

    </div>

    <div id="modalWindow" style="display:none;">
        <h5>Are you sure you want to delete this record?</h5>
        <div class="text-center">
            <button id="yes" class="btn btn-primary">Yes</button>
            <button id="no" class="btn btn-primary">No</button>
        </div>
    </div>

    <div id="modalWindowAgenda" style="display:none;">
        <h5>Are you sure you want to delete this record?</h5>
        <div class="text-center">
            <button id="yesAgenda" class="btn btn-primary">Yes</button>
            <button id="noAgenda" class="btn btn-primary">No</button>
        </div>
    </div>
</div>
