﻿
@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.Compliance.VM_MeetingCamplianceMapping


<script>
    $("#btnSaveCompliancemappingdetails").kendoButton({
        click: function (e) {
            
            var grid = $("#gridMeetingEntityComplianceMappingDetails").data("kendoGrid");
            grid.saveChanges();
        }
    })
</script>
<script type="text/javascript">
    function error_handlerT(e) {
        //if (e.errors) {
        //    var message = "Errors:\n";
        //    $.each(e.errors, function (key, value) {
        //        if ('errors' in value) {
        //            $.each(value.errors, function() {
        //                message += this + "<br>";
        //            });
        //        }
        //    });
        //    //alert(message);
        //    var divgridNewMessage = $("#divgridNewMessage");
        //    divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-danger'> " + message + "</div></div></div>";

        //}
        //else {
        //    //alert('Save Successfully.');
        //}
    }

    function Request_EndT(e) {
        //
        if (e.type == "create" || e.type == "update") {
            //if(e.response.Errors == null)
            //{
            //    var divgridNewMessage = $("#divgridNewMessage");
            //    divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success'> <lable>Save Successfully.</lable></div></div></div>";
            //}

            var grid = $("#gridMeetingEntityComplianceMappingDetails").data("kendoGrid");
            grid.dataSource.read();
        }
    }



    $("#btncloseTemplate").kendoButton({
        click: function (e) {
            $("#wndAddTemplate").data("kendoWindow").close();
        }
    })

    function toolTipContent_gridNew(e) {
        return e.target.context.innerText;
    }

    function setDataItemIsAutoclose(item) {
        
        var grid = $("#gridMeetingEntityComplianceMappingDetails").data("kendoGrid");
        var row = $(item).closest("tr");
        var dataItem = grid.dataItem(row);
        var ID;

        if ($(item).val() =="true") {
            dataItem.Autoclose = false;
        }
        else if ($(item).val() == "false")
        {
            dataItem.Autoclose = true;
        }
        dataItem.dirty = true;
    };

</script>

<script>
        function onChange(e) {
            
        if (e.action == "itemchange") {
            if (e.field == "DaysOrHoursNames") {
                var model = e.items[0];
                if (model.DaysOrHoursNames.DaysOrHours != "D") {
                    var grid = $("#gridMeetingEntityComplianceMappingDetails").data("kendoGrid");
                    var currentUid = model.uid;
                    var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                    currenRow[0].cells[4].innerText = "";
                    model.set("DayTypeNames.DayType", "");
                    //model.set("DayTypeNames.DayTypeName", "");
                }
            }
        }
    }

    function getCurrentEditedModel() {
        
        var grid = $("#gridMeetingEntityComplianceMappingDetails").data("kendoGrid");
        var editRow = grid.tbody.find("tr:has(.k-edit-cell)");
        return grid.dataItem(editRow);
    }

    function filterdayhouresminutes() {
        var model = getCurrentEditedModel();
        
        return {
            DayTypeNames: model.DaysOrHoursNames.DaysOrHours
        };
    }


</script>

<style>
    /* The container */
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        /*cursor: pointer;*/
        font-size: 18px;
        -webkit-user-select: none;
        -moz-user-select: elements;
        -ms-user-select: text;
        user-select: text;
    }

        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

    .k-window-title {
        color: dimgrey;
    }
    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 14px;
        width: 14px;
        background-color: white;
        border: solid 2px #1976d2;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #fff;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 4px;
        top: 0px;
        width: 6px;
        height: 13px;
        border: solid #1976d2;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>

@*#= AttendendenceId >0 ? 'disabled=disabled' : ''#*@

<div>
    @(Html.Kendo().Tooltip()
        .For("#gridMeetingEntityComplianceMappingDetails")
        .Filter(".k-grid-add")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Add - Template Field")
        .Width(120)
    )

    @(Html.Kendo().Tooltip()
        .For("#gridMeetingEntityComplianceMappingDetails")
        .Filter(".k-grid-delete")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Delete")
        .Width(120)
    )

    @(Html.Kendo().Tooltip()
        .For("#gridMeetingEntityComplianceMappingDetails")
        .Filter("td:nth-child(1)")
        .ContentHandler("toolTipContent_gridNew")
        .Position(TooltipPosition.Top)
        .Width(200)
        .AutoHide(true) )


</div>

<div>
    @(Html.Kendo().Grid<BM_ManegmentServices.VM.AgendaComplianceEditorVM>()
    .Name("gridMeetingEntityComplianceMappingDetails")
    .Columns(columns =>
    {

        columns.Bound(p => p.ComplianceShortDesc).Title("Compliance").HtmlAttributes(new { @style = "width:45%" }).Sortable(false);
        columns.Bound(p => p.BeforeAfterNames).EditorTemplateName("_BeforeAfter").ClientTemplate("#:BeforeAfterNames.BeforeAfterName#").Title("Before/After").HtmlAttributes(new { @style = "width:10%" });
        columns.Bound(p => p.Numbers).Title("No of Day/Hour/Minute").HtmlAttributes(new { @style = "width:10%" });
        //columns.Bound(p => p.DaysOrHoursNames).EditorTemplateName("DaysOrHoursNames").ClientTemplate("#:DaysOrHoursNames.DaysOrHoursName#").Title("Days/Hours/Minutus").HtmlAttributes(new { @style = "width:10%" });
        //columns.Bound(p => p.DayTypeNames).EditorTemplateName("DayTypeNames").ClientTemplate("#:DayTypeNames.DayTypeName#").Title("Day Type").HtmlAttributes(new { @style = "width:15%" });
        columns.ForeignKey(e => e.DaysOrHoursNames, (System.Collections.IEnumerable)ViewData["listDayorHoureData"], "DaysOrHoursName", "DaysOrHours").ClientTemplate("#:DaysOrHoursNames.DaysOrHoursName#").Title("Type").Title("Days/Hours/Minutus").HtmlAttributes(new { @style = "width:10%" });//.EditorTemplateName("MaterialCategoryID");
        columns.ForeignKey(e => e.DayTypeNames, (System.Collections.IEnumerable)ViewData["listDayType"], "DayTypeName", "DayType").ClientTemplate("#:DayTypeNames.DayTypeName#").Title("Day Type").HtmlAttributes(new { @style = "width:15%" });
        columns.Bound(c => c.Autoclose).ClientTemplate("<label class='container' style='margin-left: 9%;'><input type='checkbox' id= 'chkAutoclose#=data.uid#' onchange='setDataItemIsAutoclose(this);'value=#=Autoclose#   #= Autoclose== true ? 'checked=checked' : '' # ><span class='checkmark'></span></label>").HtmlAttributes(new { @style = "width:5%" });
        columns.Command(command => command.Destroy()).HtmlAttributes(new { @style = "width:5%" });
    })

    .Editable(editable => editable.Mode(GridEditMode.InCell).CreateAt(GridInsertRowPosition.Bottom))
     .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(false)
        .ButtonCount(5))

    .Sortable()

    .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        .ServerOperation(false)
        .Events(events => events.Error("error_handlerT")
        .RequestEnd("Request_EndT"))
        .Events(e => e.Change("onChange"))
        .Model(model =>
        {
            model.Id(p => p.ComplianceId);
            model.Field(p => p.ComplianceShortDesc).Editable(false);
            model.Field(p => p.Autoclose).Editable(false);
        })
        .PageSize(10)
        .Read(read => read.Action("MeetingMappingDetails", "MeetingComplianceMapping").Data("FilterGridComplianceMapping"))
        //.Read(read => read.Action("MeetingMappingDetails", "MeetingComplianceMapping", new { EntityType = Model.EntityType, MeetingTypeID=Model.MeetingTypeId }))
        .Create(create => create.Action("ComplianceDetails_Create", "MeetingComplianceMapping"))
        .Update(update => update.Action("ComplianceDetails_Create", "MeetingComplianceMapping"))
        .Destroy(destroy => destroy.Action("ComplianceDetails_Delete", "MeetingComplianceMapping"))
       ).HtmlAttributes(new { style = "width:100%" }))

</div>


<div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;">
    <button type="button" id="btnSaveCompliancemappingdetails" class="k-primary k-button k-grid-update k-button-icontext">Save</button>
    <button type="button" id="btncloseTemplate" class="k-primary k-button k-grid-update k-button-icontext">Close</button>
</div>
@*.value()*@


