﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.CommitteeMasterVM

<div id="example">
    <div id="window">
        <div>
            <div>
                <div class="row">
                    <div class="col-md-12" style="display:none" id="Divsuccess">
                        <div class="alert alert-success alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <lable id="lblsuccess"></lable>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" style="display:none" id="Diverror">
                        <div class="alert alert-danger alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <lable id="lblerrormsg"></lable>
                        </div>
                    </div>
                </div>
                <!-- this will be the content of the popup -->

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row mt30">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <span style="color:red">*</span><lable class="control-label">Entity Name </lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @(Html.Kendo().DropDownListFor(model => model.Entity_Id)
                                    .DataValueField("Id")
                                    .DataTextField("EntityName")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Url("/api/EntityMasterAPI/GetDropDownEntityForCommittee").Data("getDirectorID").Type(HttpVerbs.Get);
                                        })
                                        .ServerFiltering(true);
                                    })
                                    .Value(Model.Entity_Id.ToString())
                                    .OptionLabel("Select")
                                    .HtmlAttributes(new { @class = "amp-h25", style = "width: 95%;", Id = "ddlEntityType" }))
                        </div>
                    </div>
                </div>

                <div class="row mt30">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <span style="color:red">*</span><lable class="control-label">Committe Name </lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @(Html.Kendo().DropDownListFor(model => model.Committee_Id)
                                                            .DataValueField("Id")
                                                            .DataTextField("Name")
                                                            .DataSource(source =>
                                                            {
                                                                source.Read(read =>
                                                                {
                                                                    read.Url("/api/CommitteeCompAPI/GetCommitteeCompForDropDown").Type(HttpVerbs.Get);
                                                                })
                                                                .ServerFiltering(true);
                                                            })
                                                            .OptionLabel("Select")
                                                            .HtmlAttributes(new { @class = "amp-h25", style = "width: 95%;", @Id = "ddlCommitteelist", onchange = "changeNameOfOtherCommittee(this)" })
                            )

                            @Html.ValidationMessageFor(model => model.Committee_Id, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div id="DivotherCommity" style="display:none">
                    <div class="row mt30">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <span style="color:red">*</span><lable class="control-label">Other Committee</lable>
                            </div>
                            <div class="col-md-7 colpadding0">
                                @(Html.Kendo().TextBoxFor(m => m.NameOfOtherCommittee).HtmlAttributes(new { @id = "_txtNameOfOtherCommittee", @class = "", style = "width: 95%;", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.NameOfOtherCommittee, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt30">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <span style="color:red">*</span><lable class="control-label">Designation</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                         
                            @(Html.Kendo().DropDownListFor(model => model.Designation_Id)
                                                            .DataValueField("Id")
                                                            .DataTextField("Name")
                                                            .DataSource(source =>
                                                            {
                                                                source.Read(read =>
                                                                {
                                                                    read.Url("/api/CommitteeMasterNewAPIController/GetDirectorPosition").Type(HttpVerbs.Get);
                                                                })
                                                                .ServerFiltering(true);
                                                            })
                                                            
                                                            .HtmlAttributes(new { @class = "amp-h25", style = "width: 95%;", @Id = "ddlDesignation" })
                            )

                            @Html.ValidationMessageFor(model => model.Designation_Id, "", new { @class = "text-danger" })


                        </div>
                    </div>
                </div>

                <div class="row mt30">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <span style="color:red">*</span><lable class="control-label">Type</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @Html.Kendo().DropDownListFor(model => model.Committee_Type).BindTo(new SelectList(new List<object> {
                                    new {id="0",text="Select"},
                                    new {id="5",text="Executive"},
                                    new {id="6",text="Non-Executive"},
                                    new {id="7",text="Non-Executive Independent"},
                                }, "id", "text")).Value("0").HtmlAttributes(new { @class = "amp-h25", style = "width: 95%;", @Id = "ddlCommittee_Type" })
                            @Html.ValidationMessageFor(model => model.Committee_Type, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
