﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMCity


<div id="example">
    <div id="window">

        <div class="row">
            @if (Model.success)
            {
                <div class="col-md-12">

                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.Message)))
                {
                            <lable>@Model.Message</lable>
                        }
                    </div>

                </div>
            }
        </div>

        <div class="row">
            @if (Model.error)
            {
                <div class="col-md-12">
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.Message)))
                {
                            <lable>@Model.Message</lable>
                        }
                    </div>

                </div>
            }
        </div>
        <!-- this will be the content of the popup -->
        <div id="DivCityDtls">
            @using (Ajax.BeginForm("SaveCity", "CountryCityStateMaster", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivCityDtls", OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmCityDtls" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Reg_cityId)
                @*@Html.HiddenFor(model=>model.stateId)
                @Html.HiddenFor(model => model.countryId)*@
                <div class="row mt30">
                    <div class="col-md-12 colpadding0">

                        <div class="col-md-3 colpadding0">
                            <span style="color:red">*</span><lable class="control-label">Countary Name:</lable>
                            @*@Html.LabelFor(m => m.FirstName)*@
                        </div>
                        <div class="col-md-7 colpadding0">
                            @(Html.Kendo().DropDownListFor(m => m.countryId)
      .DataTextField("CountryName")
      .DataValueField("CountryId")

      .Filter("contains")

      .DataSource(source =>
      {
          source.Read(read =>
          {
              read.Url("/api/EntityMasterAPI/GetDropDownEntityForCountry").Type(HttpVerbs.Get);
          })
          .ServerFiltering(false);
      })

       .HtmlAttributes(new { style = "width: 100%", @Id = "CountryId", autocomplete = "off" })
                            )
                        </div>

                    </div>
                </div>

                <div class="row mt30">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-3 colpadding0">
                            <span style="color:red">*</span><lable class="control-label">State Name:</lable>
                            @*@Html.LabelFor(m => m.FirstName)*@
                        </div>
                        <div class="col-md-7 colpadding0">
                            @(Html.Kendo().DropDownListFor(m => m.stateId)
      .DataTextField("Name")
      .DataValueField("SIdPublic")
.Filter("contains")
      .DataSource(source =>
      {
          source.Read(read =>
          {
              read.Url("/api/EntityMasterAPI/GetDropDownforStateMaster").Data("getcountryId").Type(HttpVerbs.Get);
          })
          .ServerFiltering(true);
      })
  .Enable(false)
  .AutoBind(false)
  .CascadeFrom("CountryId")
  .HtmlAttributes(new { style = "width: 100%", @Id = "ddstate", autocomplete = "off" }))
                        </div>
                    </div>
                </div>

                <div class="row mt30">
                    <div class="col-md-12 colpadding0">

                        <div class="col-md-3 colpadding0">
                            <span style="color:red">*</span><lable class="control-label">City Name:</lable>
                            @*@Html.LabelFor(m => m.FirstName)*@
                        </div>
                        <div class="col-md-7 colpadding0">
                            @(Html.Kendo().TextBoxFor(m => m.Name).HtmlAttributes(new { @class = "form-control k-textbox", @Id = "txtcityName", style = "width: 100%", required = "true", validationmessage = "required field" }))
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>

                    </div>
                </div>

                <div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;margin-top: 2%;">
                    <button type="submit" id="btnllp" class="k-primary k-button k-grid-update k-button-icontext">Save</button>
                    <button type="button" id="btncityclose" class="k-button">Close</button>
                </div>
            }
        </div>
    </div>
</div>
<script>
    var validator1 = $("#frmCityDtls").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
    function getcountryId() {
        
        return {
            CountryId: $("#CountryId").val()
        };
    }

    $("#btncityclose").click(function (z) {
        z.preventDefault();
        z.stopPropagation();
        $('#wndAdd').data("kendoWindow").close();
        $('#gridKendo').data('kendoGrid').dataSource.read();
        $('#gridKendo').data('kendoGrid').refresh();
    })
</script>