﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMCountry

@{
    ViewBag.Title = "Master / Country";
    Layout = "~/Areas/BM_Management/Views/Shared/BM_layout.cshtml";
}


<link href="~/Content/css/Kendouicss.css" rel="stylesheet" />

<style>
    html {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>

<title></title>


<style>
    @@media screen and (max-width: 600px) {

        #gridKendo > table {
        }
    }

    .k-window div.k-window-content {
        overflow: hidden;
    }

    .field-validation-error {
        color: #ff0000;
    }

    .k-current-page {
        display: none;
    }

    html .k-upload-empty {
        border-width: 1px;
    }

    .k-edit-form-container {
        position: relative;
        width: 500px;
    }

    .k-grid-edit {
        height: 32px;
        width: 33px;
        padding: 6px 0px 10px 0;
        /*white-space: nowrap;*/
        overflow: hidden;
        /*border-radius: 20px;*/
    }

    .k-grid-delete {
        height: 32px;
        width: 33px;
        padding: 5px 0px 10px 0;
        overflow: hidden;
    }

    .fieldlist {
        margin: 0 0 -2em;
        padding: 0;
    }

        .fieldlist li {
            list-style: none;
            padding-bottom: 2em;
        }

        .fieldlist label {
            display: block;
            padding-bottom: 1em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            color: #444;
        }

    .mt30 {
        margin-top: 18px;
    }

    .k-grid-add {
        float: right;
    }

    .k-edit-buttons {
        /*//width: 1280px;*/
        text-align: center;
    }

    label {
        color: black;
    }

    .ml-mr {
        margin-left: 2%;
    }

    fieldset {
        display: block;
        margin-inline-start: 2px;
        margin-inline-end: 2px;
        padding-block-start: 0.35em;
        padding-inline-start: 0.75em;
        padding-inline-end: 0.75em;
        padding-block-end: 0.625em;
        min-inline-size: min-content;
        border-width: 1px;
        border-style: groove;
        border-color: rgba(128, 128, 128, 0.56);
        border-radius: 11px;
        /*border-color: threedface;
    border-image: initial;*/
    }

    .forTooltips {
        width: 100%;
        height: 100%;
        padding: .929em 1.286em;
    }

    td.overridePadding {
        padding: 0;
    }
</style>

<script>
    function onRowBound(e) {
        $(".k-grid-edit").find("span").addClass("k-icon k-edit");
        $(".k-grid-delete").find("span").addClass("k-icon k-delete");
        $(".k-grid-add").find("span").addClass("k-i-plus-outline");

    }
</script>

<div class="row Dashboard-white-widget">
    <div class="dashboard">

        @(Html.Kendo().Grid<BM_ManegmentServices.VM.VMCountry>()
        .Name("gridKendo")
        //.ColumnResizeHandleWidth(800)
        .Columns(columns =>
        {
            columns.Bound(o => o.CountryId).Visible(false);
            columns.Bound(o => o.CountryName).Title("Name");
            //.Width(200);
            //columns.Bound(o => o.Entity_Type).Hidden(true);
            columns.Command(command =>
            {
                command.Custom("Edit").Click("CreateNew").HtmlAttributes(new { @class = "k-grid-edit" });
                //command.Custom("Delete").Click("openWindow").HtmlAttributes(new { @class = "k-grid-delete" });
            })
            .Title("Action");
            //.Width(100);

        })
        .EnableCustomBinding(true)
        .ToolBar(
        toolbar => toolbar.Custom().Name("CreateNew").Text("New").HtmlAttributes(new { id = "customCommand", @class = "k-grid-add k-button k-button-icontext" })
        )
        .Events(e => e.DataBound("onRowBound"))
        .Navigatable()
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
        .Filterable()
        .Sortable()
        //.Scrollable(o=>o.Height(300))
        .Reorderable(reorderable => reorderable.Columns(true))
        .Resizable(resizable => resizable.Columns(true))
        .ColumnMenu()
        .DataSource(dataSource => dataSource
        .WebApi()

        .PageSize(5)
        .ServerOperation(false)
              .Model(model =>
              {
                  model.Id(o => o.CountryId);
              })
       .Read(read => read.Url("/api/CountryStateCityMasterAPI/GetAllCountries").Type(HttpVerbs.Get))
                       ))

    </div>
</div>
@(Html.Kendo().Window()
    .Name("wndAdd")
    .Title("Country")
    .Visible(false)
    .Modal(true)
    .Draggable(false)
    .Scrollable(false)
    .Width(1000)
    .Height(200)
    .Events(e => e.Open("adjustSize"))
    .Events(e => e.Refresh("OnRefresh"))
)

<script>

    $("#customCommand").click(function (e) {
        e.preventDefault();
        CreateNew(e);
    });


    function CreateNew(e) {
    
        e.preventDefault();
        OnOpen('a');
        $("#wndAdd").attr("style", "min-height:100px;");
        var direction = "Editcountry?Id=" + 0;
        if (e.currentTarget.innerText != "New") {
            $("#wndAdd").kendoWindow({
                title: "Edit Country",
            });
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            direction = "Editcountry?Id=" + dataItem.CountryId;
            var wnd = $("#wndAdd").data("kendoWindow");
            var opts = wnd.options;
        }
        else {
            $("#wndAdd").kendoWindow({
                title: "Add Country",
            });
            $("#wndAdd").attr("style", "min-height:100px;");
            direction = "Editcountry?Id=" + 0;
            var wnd = $("#wndAdd").data("kendoWindow");
            var opts = wnd.options;
        }
        wnd = $("#wndAdd").kendoWindow({
            title: "Edit - Country",
            actions: ["Close"],
            content: direction,
            width: "40%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefresh(); },
            close: function (e) {
                $(this.element).empty();
                $('#gridKendo').data('kendoGrid').dataSource.read();
                $('#gridKendo').data('kendoGrid').refresh();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {

                OnOpen();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "40%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.refresh(direction);
        wnd.open();
    }

    function OnOpen(e) {
        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
    }

    function OnRefresh() {
        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function adjustSize() {
      
    }

    function HideGridFields(e) {

        if (e.model.isNew()) {
            
            $('.k-grid-update').text("Save");
            $('.k-grid-cancel').text("Close");

        }
        else {
            $('.k-grid-update').text("Update");
            $('.k-grid-cancel').text("Close");
            $('.k-grid-update').focus().trigger('click');
        }
    }


    $(document).ready(function () {
        setactivemenu('leftmastermenu');
    });

</script>
