﻿@using Kendo.Mvc.UI;

@{
    ViewBag.Title = "Past Circulars";
}

<script>
    function checkDates() {

        var startDate = $("#startDate").data("kendoDatePicker");
        var endDate = $("#endDate").data("kendoDatePicker");
        if (startDate.value() != '' && endDate.value() != '') {
            if (Date.parse(startDate.value()) > Date.parse(endDate.value())) {
                //alert('To date should be before From date');
                endDate.val(startDate.value());
            }
        }
    }

    //filter
    function ApplyFilter() {

        var gridListFilter = { logic: "and", filters: [] };

        var selectedEntitties = $("#ddlEndityDetails").data("kendoMultiSelect").value();
        var selectedMeeting = $("#Meetingtype").data("kendoMultiSelect").value();
        var fromDate = $("#startDate").data("kendoDatePicker").value();
        var ToDate = $("#endDate").data("kendoDatePicker").value();

        if ($.trim(selectedEntitties).length > 0) {
            var entityFilter = { logic: "or", filters: [] };

            //gridListFilter.logic = "or";   // a different logic 'or' can be selected
            $.each(selectedEntitties, function (i, v) {
                entityFilter.filters.push({ field: "EntityId", operator: "eq", value: v });
            });
            gridListFilter.filters.push(entityFilter);
        }

        if ($.trim(selectedMeeting).length > 0) {
            var MeetingFilter = { logic: "or", filters: [] };

            //gridListFilter.logic = "or";   // a different logic 'or' can be selected
            $.each(selectedMeeting, function (i, v) {
                MeetingFilter.filters.push({ field: "MeetingTypeId", operator: "eq", value: v });
            });
            gridListFilter.filters.push(MeetingFilter);
        }

        if ((fromDate != null || fromDate != undefined) && (ToDate != null || ToDate != undefined)) {
            var datefilter = { logic: "and", filters: [] };
            //gridListFilter.logic = "and";   // a different logic 'or' can be selected
            var startOfFilterDate = new Date(fromDate.getFullYear(), fromDate.getMonth(), fromDate.getDate());
            var endOfFilterDate = new Date(ToDate.getFullYear(), ToDate.getMonth(), ToDate.getDate());

            datefilter.filters.push({ field: "MeetingDate", operator: "gte", value: startOfFilterDate });
            datefilter.filters.push({ field: "MeetingDate", operator: "lte", value: endOfFilterDate });
            gridListFilter.filters.push(datefilter);
        }

        if (gridListFilter.filters.length > 0) {
            $('#clearfillter').css('display', 'block');
            var gridDataSource = $("#circularResoluton").data("kendoGrid").dataSource;
            gridDataSource.filter(gridListFilter);

        }
    }
</script>
<script>
    var notification = $("#staticNotification").kendoNotification({
        position: {
            top: 0,
            right: 200,
            pinning: true,
            button: false,
            hideOnClick: false,
            autoHideAfter: 3500
        }
    }).data("kendoNotification");

    $(document).ready(function () {
        var breadCrumbData = [
            {
                displayText: "My Meetings",
                navigateUrl: "#",
            },
            {
                displayText: "Past Circulars",
                navigateUrl: "/BM_Management/DirectorMeetings/PastCircularResolution",
            },
        ];

        setBreadCrumb(breadCrumbData);
    });

    function saveupcomingMeetings(item) {
        var grid = $("#upcommingMeeting").data("kendoGrid");
        kendo.ui.progress(grid.element, true);
        var notification = $("#staticNotification").kendoNotification({
            position: {
                top: 50,
                right: 600,
                pinning: true,
                button: false,
                hideOnClick: false,
                autoHideAfter: 3500
            }
        }).data("kendoNotification");

        var grid = $("#upcommingMeeting").data("kendoGrid");
        var row = $(item).closest("tr");
        var dataItem = grid.dataItem(row);
        if ((dataItem.RSPV == "No" && dataItem.ReasonforRSPV != null) || (dataItem.RSPV == "Maybe" && dataItem.ReasonforRSPV != null) || (dataItem.RSPV == "Yes" && dataItem.ReasonforRSPV == null)) {
            var MeetingListVM = { MeetingID: dataItem.MeetingID, participantId: dataItem.participantId, ReasonforRSPV: dataItem.ReasonforRSPV, RSPV: dataItem.RSPV }
            $.ajax({
                type: "POST",
                url: '@Url.Action("updateUpcommingresponse", "DirectorMeetings")',
                data: MeetingListVM,
                dataType: "json",
                cache: false,
                success: function (data) {
                    notification.show("Saved Successfully", "success");
                    kendo.ui.progress(grid.element, false);
                }
            });
        }
        else {
            kendo.ui.progress(grid.element, false);
            notification.show("Please enter reason", "warning");
        }
    }
</script>

<script>

    function clearfilter(e) {
        var entityfilter = $('#ddlEndityDetails').data("kendoMultiSelect").value();
        var meetingfilter = $('#Meetingtype').data("kendoMultiSelect").value();
        var fromdate = $("#startDate").data("kendoDatePicker").value();
        var Todate = $("#endDate").data("kendoDatePicker").value();


        if ((entityfilter != null && entityfilter != undefined) || (meetingfilter != null && meetingfilter != undefined) || (Todate != null && Todate != undefined) || (fromdate != null && fromdate != undefined)) {
            var multiSelect = $('#ddlEndityDetails').data("kendoMultiSelect");
            multiSelect.value([]);
            var multiSelect = $('#Meetingtype').data("kendoMultiSelect");
            multiSelect.value([]);
            $("#startDate").data("kendoDatePicker").value(null);
            $("#endDate").data("kendoDatePicker").value(null);

        }
        $('#clearfillter').css('display', 'none');

        $("#circularResoluton").data("kendoGrid").dataSource.filter({});
    }

    function setDataItemforcirvoting(item) {

        var getgridId = item.parentNode.parentElement.parentElement.parentElement.parentElement.parentElement.id;
        var grid = $("#" + getgridId).data("kendoGrid");
        var row = $(item).closest("tr");
        var dataItem = grid.dataItem(row);
        dataItem.AgendaResponse = $(item).val();
        dataItem.dirty = true;

    }

    function GetVottingResposes(data) {

        var str = "";

        str += "<label class='container1' for='rdbApproved" + data.uid + "'>Approve<input id='rdbApproved" + data.uid + "' name=" + data.uid + "' onclick='setDataItemforcirvoting(this);'  style='margin-left:0.5em;' type='radio' value='A'><span class='checkmark1'></span></label>" + "&nbsp; &nbsp;" +
            "<label class='container1' for='rdbDisapprove" + data.uid + "'>Disapprove<input id ='rdbDisapprove" + data.uid + "' name = " + data.uid + "' onclick = 'setDataItemforcirvoting(this);' style='margin-left:0.5em;' type='radio' value='D'><span class='checkmark1'></span></label>" + "&nbsp; &nbsp;" +
            "<label class='container1' for='rdbAbstain" + data.uid + "'>Abstain<input id = 'rdbAbstain" + data.uid + "'' name=" + data.uid + "' onclick='setDataItemforcirvoting(this);' style='margin-left:0.5em;' type='radio' value='AB'><span class='checkmark1'></span></label>" + "&nbsp; &nbsp" +
            "<label class='container1' for='rdbAtmeet" + data.uid + "'>At meeting<input id = 'rdbAtmeet" + data.uid + "' name=" + data.uid + "' onclick='setDataItemforcirvoting(this);' style='margin-left:0.5em;' type='radio' value='Meet'><span class='checkmark1'></span></label>";
        return str;
    }

    function saveresponses(data) {

        var grid = $("#grid_" + data).data("kendoGrid");
        grid.saveChanges();
    }

    function GetCircularDetails(data) {
        var str = "";
        var color = "#017fbe";
        var day = moment(data.MeetingDated).format('DD');

        //str += "<div style='padding-bottom:4px;margin:10px 10px;'><table cellpadding='0' cellspacing='0' style='width:100%;table-layout:fixed;'><tbody><tr><td style='vertical-align:top;width:55px;text-align:center;'><table cellpadding='0' cellspacing='0' style='width:50px;margin:0px auto;border-radius:5px;'><tbody><tr><td style='background-color:#fff;color:black;font-size:15px;line-height:18px;border-radius:4px 4px 0px 0px;'>" + data.DayName + "</td></tr><tr><td style='background-color:#017fbe;border: 1px solid #eee;border-radius:2px;color:#ffffff;font-size:15px;line-height:18px;border-radius:4px 4px 0px 0px;'>" + data.Month + "</td></tr><tr><td style='color:#555555;font-size:20px;line-height:1;padding:5px 0px;background-color: #ffffff;border: 1px solid #eee;/* border-radius: 4px 4px 0px 0px; */'>" + data.Day + "</td></tr><tr><td style='background-color:#fff;color:black;font-size:15px;line-height:18px;border-radius:4px 4px 0px 0px;'></td></tr></tbody></table></td><td style='padding:0px 30px 0px 15px;vertical-align:top;'><h1 style='cursor:pointer;font-size:16px;line-height:1.4;margin-top:0px;padding-bottom: 0px;margin-bottom: 0px;font-weight:bold;'>" + data.EntityName + "</h1><p style='line-height:1.4;font-weight:bold;'>" + "3rd/2019-20 Circular resolution " + "</p><p style='line-height:1.4;margin-bottom: 0px;font-weight:bold;'>" + "" + "</p><p style='line-height:1.4;'></p></td></tr></tbody></table></div>";
        str += "<div style='padding-bottom:4px;margin:10px 10px;'><table cellpadding='0' cellspacing='0' style='width:100%;table-layout:fixed;'><tbody><tr><td style='vertical-align:top;width:55px;text-align:center;'><table cellpadding='0' cellspacing='0' class='calendar-box'><tbody><tr><td style='background-color:#017fbe;color:#ffffff;font-size:15px;line-height:10px;border-radius:4px 4px 0px 0px;'>" + data.Month + "</td></tr><tr><td class='calendar-date-text'>" + data.Day + "</td></tr><tr><td style='background-color:#017fbe;color:#ffffff;font-size:15px;line-height:10px;border-radius:0px 0px 4px 4px;'>" + data.YearName + "</td></tr></tr></tbody></table></td><td style='vertical-align:middle;'><h1 style='cursor:pointer;font-size:16px;line-height:1.4;margin-top:0px;padding-bottom: 0px;margin-bottom: 0px;font-weight:bold;'>" + data.EntityName + "</h1><p style='line-height:1.4;font-weight:bold;'>" + data.MeetingTitle + "</p></td></tr></tbody></table></div>";

        return str;
    }

    function onRowBound(e) {

        var grid = $("#circularResoluton").data("kendoGrid");
        var rows = grid.tbody.find('>tr.k-master-row');
        var gridData = grid.dataSource.view();
        var data = grid.dataSource.data();
        $.each(data, function (i, row) {
            $('tr[data-uid="' + row.uid + '"] ').removeClass("k-alt");

            $('tr[data-uid="' + row.uid + '"] ').css("box-sizing", "border-box");
            $('tr[data-uid="' + row.uid + '"] ').css("box-shadow", "0px 0px 2px 0 #DDDDDD");
            $('tr[data-uid="' + row.uid + '"] ').css("height", "108px");
        })

        var items = e.sender.items();
        items.each(function () {
            var row = $(this);
            var dataItem = e.sender.dataItem(row);
            if (!dataItem.hasChildren) {
                row.find(".k-hierarchy-cell").css("visibility", "hidden");
            }
        });
    }

    function expandandcollepswind(item) {

        //var getgridId = item.parentNode.parentElement.parentElement.parentElement.parentElement.parentElement.id;
        var grid = $("#circularResoluton").data("kendoGrid");
        var row = $(item).closest("tr");
        var dataItem = grid.dataItem(row);
        grid.tbody.find(row).click(function (e) {
            var target = $(e.target);
            if ((target.hasClass("k-i-expand")) || (target.hasClass("k-i-collapse"))) {
                return;
            }

            var row = target.closest("tr.k-master-row");
            var icon = row.find(".k-i-expand");

            if (icon.length) {
                grid.expandRow(row);
            } else {
                grid.collapseRow(row);
            }
        })
    }

    function ChildRowdatabound(e) {

        //this.expandRow(this.tbody.find("tr.k-master-row"));
        var grid = $("#" + e.sender.element[0].id).data("kendoGrid");
        var gridData = grid.dataSource.view();

        for (var i = 0; i < gridData.length; i++) {

            var currentUid = gridData[i].uid;
            var checkboxid = $("#rdbApproved" + currentUid);
            var disapprove = $("#rdbDisapprove" + currentUid);
            var differ = $("#rdbAtmeet" + currentUid)
            var abstain = $("#rdbAbstain" + currentUid)
            var noted = $("#chkNoting" + currentUid)
            if (gridData[i].AgendaResponse == 'A') {
                checkboxid.prop('checked', true);
            }
            else if (gridData[i].AgendaResponse == 'D') {
                disapprove.prop('checked', true);
            }
            else if (gridData[i].AgendaResponse == 'DIF') {
                differ.prop('checked', true);
            }
            else if (gridData[i].AgendaResponse == 'AB') {
                abstain.prop('checked', true);
            }
            else if (gridData[i].AgendaResponse == 'N') {
                noted.prop('checked', true);
            }
            else {
                disapprove.prop('checked', false);
                checkboxid.prop('checked', false);
                abstain.prop('checked', false);
                noted.prop('checked', false);
            }
        }
    }

    function Documentviewer() {

    }

    function Getmyresponses(responses) {
        var str = "";

        if (responses != null || responses != "") {
            if (responses == "D") {
                str = "<div class='pastcircular-status pastcircular-status-disapprove'>Disapprove</div>";
            }
            else if (responses == "A") {
                str = "<div class='pastcircular-status pastcircular-status-approve'>Approve</div>";
            }
            else if (responses == "Atmeet") {
                str = "<div class='draft-status draft-status-received'>At Meeting</div>";
            }
            else if (responses == "AB") {
                str = "<div class='draft-status draft-status-received'>Abstain</div>";
            }

        }
        return str;
    }

    function GetAllresponses(responses) {
        debugger;
        var str = "";

        if (responses != null || responses != "") {
            if (responses == "Passed" || responses == "Unanimously") {
                str = "<div class='pastcircular-status pastcircular-status-approve'>" + responses + "</div>";
            }
            else if (responses == "Not Passed") {
                str = "<div class='pastcircular-status pastcircular-status-disapprove'>" + responses + "</div>";
            }
         
            else {
                str = "<div class='pastcircular-status pastcircular-status-others'>" + responses + "</div>";
            }

        }
        else
        {
            str = "<div class='pastcircular-status pastcircular-status-others'>" + " " + "</div>";
        }
        return str;
    }
</script>
<style>
    .k-grid td {
        border-style: none;
    }

    .calendar-box {
        width: 44px;
        margin: 0px auto;
        border: 1px solid rgb(224, 224, 224);
        border-radius: 5px;
    }

    .calendar-date-text {
        padding: 5px 0px;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        border: solid 1.1px #008bcf;
        border: solid 1.1px #ade3fe;
        background-color: #e4f6ff;
        color: #008bcf;
        border-bottom-left-radius: 4.5px;
        border-bottom-right-radius: 4.5px;
        border: solid 1.1px #ade3fe;
        background-color: #e4f6ff;
        line-height: 1 !important;
    }

    .Mastergridtemplets thead.k-grid-header {
        /*height: 0;
        border-bottom-width: 0;
        /*display: none;*/
        /*overflow: hidden;*/
        height: 0;
        border-bottom-width: 0;
        visibility: hidden;
        overflow: hidden;
    }

    .Childgridtemplets thead.k-grid-header {
        background: #E9EAEA;
        border: 1px solid #DDDDDD;
        box-sizing: border-box;
        border-radius: 4px 4px 0px 0px;
        height: 10px;
        visibility: visible;
    }

    .k-button.k-state-hover, .k-button:hover {
        color: #2e2e2e;
        border-color: #b6b6b6;
        background-color: #bcb4b0;
        background-image: url(textures/highlight.png);
        background-image: none,linear-gradient(to bottom,rgba(255,255,255,.4) 0,rgba(255,255,255,0) 100%);
    }

    .demo-section {
        text-align: center;
        line-height: 4em;
    }

        .demo-section .k-button {
            width: 250px;
        }

    .pastcircular-status-disapprove {
     
        color: #db4240;
    }

    .pastcircular-status {
      text-align: left;
    /* margin-top: 2px; */
    height: 21px;
    line-height: 1.6em;
    margin-left: 15%;
    margin-right: 15%;
  
    }
     .pastcircular-status-approve {
     
        color: #4cd964;
    }

    .pastcircular-status {
      text-align: left;
    /* margin-top: 2px; */
    height: 21px;
    line-height: 1.6em;
    margin-left: 15%;
    margin-right: 15%;
  
    }
      .pastcircular-status-others {
     
        color: yellow;
    }

    .pastcircular-status {
      text-align: left;
    /* margin-top: 2px; */
    height: 21px;
    line-height: 1.6em;
    margin-left: 15%;
    margin-right: 15%;
  
    }
</style>
<div class="row master-Headre">
    <div class="col-md-12 vertical-center">

        <div class="col-md-3 colpadding0">
            @(Html.Kendo().MultiSelect()
            .Name("Entity")
            .DataTextField("EntityName")
            .DataValueField("Id")
            .TagMode(TagMode.Single)
            .Filter("contains")
            .Placeholder("Entity/Company-All")
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Url("/api/EntityMasterAPI/GetDropDownforEntity").Type(HttpVerbs.Get);
                })
                .ServerFiltering(false);
            }).HtmlAttributes(new { style = "width: 97%", @Id = "ddlEndityDetails", autocomplete = "off" }))
        </div>

        <div class="col-md-3 colpadding0">
            @(Html.Kendo().MultiSelect()
            .Name("Meeting")
            .DataTextField("MeetingTypeName")
            .DataValueField("Id")
            .TagMode(TagMode.Single)
            .Filter("contains")
            .Placeholder("Meeting-All")
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Url("/api/CommitteeCompAPI/GetMeetingTypeByCustomer").Type(HttpVerbs.Get);
                    //read.Url("/api/DirectorMeetings/GetMeeting").Type(HttpVerbs.Get); 
                }).ServerFiltering(false);
            }).HtmlAttributes(new { style = "width: 97%", @Id = "Meetingtype", autocomplete = "off" }))
        </div>

        <div class="col-md-3 colpadding0">
            <div class="col-md-6 colpadding0">
                @Html.Kendo().DatePicker().Name("startDate").Format("dd/MM/yyyy").HtmlAttributes(new { @onchange = "checkDates()", @Placeholder = "From Date" })
            </div>
            <div class="col-md-6 colpadding0">
                @Html.Kendo().DatePicker().Name("endDate").Format("dd/MM/yyyy").HtmlAttributes(new { @onchange = "checkDates()", @Placeholder = "To Date" })
            </div>
        </div>

        <div class="col-md-1 colpadding0">
            <button type="button" class="btn btn-primary" onclick="ApplyFilter()">Apply</button>
        </div>

        <div class="col-md-1 colpadding0" id="clearfillter" style="display:none">
            <button type="button" class="btn btn-default btn-sm ClearFilterbtn" onclick="clearfilter()">
                <img src="~/Areas/BM_Management/img/Vector.png" /> Clear Filter
            </button>
        </div>
    </div>
</div>

<div class="row colpadding0">
    <div class="col-md-12 colpadding0">
        <span id="staticNotification"></span>
    </div>
</div>

<div class="row colpadding0 mt30">
    <div class="col-md-12 colpadding0">

        @(Html.Kendo().Grid<BM_ManegmentServices.VM.Dashboard.MeetingListVM>()
         .Name("circularResoluton")
         .Columns(columns =>
        {
            columns.Bound(c => c.MappingID).Visible(false);
            columns.Bound(c => c.AgendaID).Visible(false);
            columns.Bound(c => c.MeetingID).Visible(false);
            columns.Bound(c => c.EntityId).Visible(false);
            columns.Bound(c => c.MeetingTypeId).Visible(false);
            columns.Bound(c => c.EntityName).Title("")
            .ClientTemplate("<div>#= GetCircularDetails(data)#</div>").Width("98%").HtmlAttributes(new {}).Sortable(false).Filterable(false);
            columns.Bound(c => c.EntityName).Title("")
          .ClientTemplate("<div class='row colpadding0'><div class='col-md-12 colpadding0' style='text-align:center'><button type='button'  class='btn btn-primary' onclick='expandandcollepswind(this)'>Agenda</button></div></div>").Sortable(false).Filterable(false);

        })
         .ClientDetailTemplateId("template")
         .TableHtmlAttributes(new { @class = "Mastergridtemplets" })
         .Events(e => e.DataBound("onRowBound"))
        .DataSource(dataSource => dataSource
        .WebApi()
        .PageSize(10)
        .ServerOperation(false)
        .Model(model =>
        {
            model.Id(o => o.MeetingID);
        })
        .Read(read => read.Action("GetPastCircularresolution", "DirectorMeetings"))).HtmlAttributes(new { @style = "width:100%", @class = "Mastergrid" }))
    </div>
</div>

<script id="template" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<BM_ManegmentServices.VM.MeetingAgendaSummary>()
                        .Name("grid_#=MeetingID#") // template expression, to be evaluated in the master context
                        .Columns(columns =>
                        {
                            columns.Bound(p => p.AgendaResponse).Hidden(true);
                            columns.Bound(p => p.AgendaId).Hidden(true);
                            columns.Bound(p => p.MeetingAgendaMappingId).Hidden(true);
                            columns.Bound(p => p.AgendaFormate).ClientTemplate("\\#= data.AgendaFormate \\#").Title("Agenda").Width("60%").HtmlAttributes(new { });
                            columns.Bound(p => p.AgendaResponse).ClientTemplate("\\#= Getmyresponses(data.AgendaResponse) \\#").Width("20%").Title("My Response").HtmlAttributes(new {});
                            columns.Bound(p => p.Result).ClientTemplate("\\#= GetAllresponses(data.Result) \\#").Title("Overall Response").Width("20%").HtmlAttributes(new {  });
                        })
                         //.Editable(editable => editable.Mode(GridEditMode.InCell).CreateAt(GridInsertRowPosition.Bottom))
                         .TableHtmlAttributes(new { @class = "Childgridtemplets" })
                         .DataSource(dataSource => dataSource
                            .Ajax()
                            .Batch(true)
                             .Model(model =>
                             {
                                 model.Id(o => o.AgendaId);
                                 model.Field(o => o.AgendaResponse).Editable(false);
                             })
                            .Read(read => read.Action("AgendaDetailswithvotingnoting", "DirectorMeetings", new { MeetingId = "#=MeetingID#" }))
                        )
                         .Events(e => e.DataBound("ChildRowdatabound"))
                        .ToClientTemplate())


</script>