﻿@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;

<script type="text/javascript">

    $(function () {
        $('#gridImportEntitySelect').on('click', '.chkbx', function () {
            var checked = $(this).is(':checked');
            var grid = $('#gridImportEntitySelect').data().kendoGrid;
            var dataItem = grid.dataItem($(this).closest('tr'));
            dataItem.set('IsCheked', checked);
        })
    })

    function checkAll(ele) {
        var state = $(ele).is(':checked');
        var grid = $('#gridImportEntitySelect').data().kendoGrid;
        $.each(grid.dataSource.view(), function () {
            if (this['IsCheked'] != state)
                this.dirty = true;
            this['IsCheked'] = state;
        });
        grid.refresh();
    }


    $("#btnSaveAgendaItemSelected").click(function (e) {
        var divgridImportEntitySelectMessage = $("#divgridImportEntitySelectMessage");
        divgridImportEntitySelectMessage[0].innerHTML = "";

        var grid = $("#gridImportEntitySelect").data("kendoGrid");
        grid.saveChanges();
    });

    function getDataForImportEntity() {
        var result = {
            customerId: "@AuthenticationHelper.CustomerID"
        };
        return result;
    }

    function Request_End(e) {
        if (e.type == "create" || e.type == "update") {

            if (e.response.Errors == null) {
                var divgridImportEntitySelectMessage = $("#divgridImportEntitySelectMessage");
                divgridImportEntitySelectMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success'> <lable>Save Successfully.</lable></div></div></div>";
            }
            $('#gridImportEntitySelect').data('kendoGrid').dataSource.read();
        }
    }
</script>

<div class="row">
    <div class="col-md-9 colpadding0">
        <lable class="control-label">Filter : </lable>
        <input id='filterEntityName' class='k-textbox' style="width: 80%;" autocomplete="off" />
    </div>
</div>

<div style="min-height:410px; max-height:410px;overflow-y:auto;overflow-x:hidden">
    <div id="divgridImportEntitySelectMessage">
    </div>

    <div class="row mt30 form-group">
        <div class="col-md-12 colpadding0">
            @(Html.Kendo().Grid<BM_ManegmentServices.VM.ParentEntitySelectVM>()
                .Name("gridImportEntitySelect")
                .Columns(columns =>
                {
                    columns.Template(@<text></text>).ClientTemplate("<input type='checkbox' #= IsCheked ? checked='checked':'' # class='chkbx' />").Width("5%");
                columns.Bound(o => o.Name).Title("Name").Width("60%");
                columns.Bound(o => o.Address).Title("Address").Width("20%");
            })
            //.Events(e => e.DataBound("onRowBoundHistory"))
            .Navigatable()
            .Filterable()
            .Sortable()
            .Reorderable(reorderable => reorderable.Columns(true))
            .Resizable(resizable => resizable.Columns(true))
            .ColumnMenu()
            .DataSource(dataSource => dataSource
            .WebApi()
            .Batch(true)
            .ServerOperation(false)
            .Events(events => events.RequestEnd("Request_End"))
                .Model(model =>
                {
                    model.Id(o => o.ID);
                    model.Field(p => p.Name).Editable(false);
                    model.Field(p => p.IsCheked);
                    model.Field(p => p.Email).Editable(false);
                    model.Field(p => p.Address).Editable(false);
                })
                .Read(read => read.Action("GetEntityListForImport", "EntityMaster").Data("getDataForImportEntity").Type(HttpVerbs.Get))
                .Create(create => create.Action("ImportEntities", "EntityMaster").Type(HttpVerbs.Post))
                .Update(update => update.Action("ImportEntities", "EntityMaster").Type(HttpVerbs.Post))
            ))
        </div>
    </div>
</div>

<div class="text-center">
    <button type="button" id="btnSaveAgendaItemSelected" class="btn btn-primary">Save</button>
</div>

<!-- Filter script functions-->
<script>
    $('#filterEntityName').on('input', function (e) {

        var grid = $('#gridImportEntitySelect').data('kendoGrid');
        var columns = grid.columns;

        var filter = { logic: 'or', filters: [] };
        columns.forEach(function (x) {
            if (x.field) {
                var type = grid.dataSource.options.schema.model.fields[x.field].type;
                if (type == 'string') {
                    filter.filters.push({
                        field: x.field,
                        operator: 'contains',
                        value: e.target.value
                    })
                }
                else if (type == 'number') {
                    if (isNumeric(e.target.value)) {
                        filter.filters.push({
                            field: x.field,
                            operator: 'eq',
                            value: e.target.value
                        });
                    }

                } else if (type == 'boolean' && getBoolean(e.target.value) !== null) {
                    var bool = getBoolean(e.target.value);
                    filter.filters.push({
                        field: x.field,
                        operator: 'eq',
                        value: bool
                    });
                }
            }
        });

        //
        //filter.filters.push({ logic: "or", field: "BM_AgendaMasterId", operator: "eq", value: 36 });

        grid.dataSource.filter(filter);
    });
</script>