﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.PreviewAgendaVM

<link href="~/Content/Text-Highlight-Plugin/jquery.marker.css" rel="stylesheet" />
<link href="~/Content/Text-Highlight-Plugin/extensions/spectrum.css" rel="stylesheet" />

<script src="~/Content/Text-Highlight-Plugin/jquery.marker1.js"></script>
<script src="~/Content/Text-Highlight-Plugin/extensions/spectrum.js"></script>

<style>
     #gridAgendaItemSearch .k-grid-header {
        height: 0;
        border-bottom-width: 0;
        display: none;
        overflow: hidden;
    }

   #gridAgendaItemSearch .k-grid td {
    line-height: 1.5em;
    }

        #gridComments .k-grid-header {
        height: 0;
        border-bottom-width: 0;
        display: none;
        overflow: hidden;
    }

      td.noWhiteSpace {
    white-space: initial;
}
</style>

@if (Model != null)
{
    var SrNo = 0;
    var SrN = 0;
    var strMeetingSrNo = "";
    var adjourned = (@Model.IsAdjourned == true ? " (Adjourned)" : "");

    if (Model.MeetingSrNo != null)
    {
        var MeetingSrNo = Model.MeetingSrNo;
        if (MeetingSrNo == 1)
        {
            strMeetingSrNo = "1<sup>st</sup>";
        }
        else if (MeetingSrNo == 2)
        {
            strMeetingSrNo = "2<sup>nd</sup>";
        }
        else if (MeetingSrNo == 3)
        {
            strMeetingSrNo = "3<sup>rd</sup>";
        }
        else
        {
            strMeetingSrNo = MeetingSrNo + "<sup>th</sup>";
        }
    }

<script>
    function getCommentToolTip(e) {
        return e.target.attr('data-title');
    }

    function toolTipContent_gridNew(e) {
        return e.target.context.innerText;
    }
</script>

    <div style="overflow:hidden;">
        <input type="text" id="hdnId" name="hdnId" class="hidden" />
        <input type="text" id="hdnValue" name="hdnValue" class="hidden" />
        <div>
            @(Html.Kendo().Tooltip()
            .For("#divMOMPreview")
            .Filter(".marker")
            .Position(TooltipPosition.Top)
            .AutoHide(true)
            //.Width(200)
            .ContentHandler("getCommentToolTip")
            )

            @(Html.Kendo().Tooltip()
            .For("#gridAgendaItemSearch")
            .Filter("td:nth-child(1)")
            .ContentHandler("toolTipContent_gridNew")
            .Position(TooltipPosition.Top)
            .Width(200)
            .AutoHide(true) )


            @(Html.Kendo().Tooltip()
            .For("#main-content-agenda-preview")
            .Filter(".docs")
            //.ContentHandler("toolTipContent_gridNew")
            .Content("Documents")
            .Position(TooltipPosition.Top)
            //.Width(200)
            .AutoHide(true) )

            @(Html.Kendo().Tooltip()
            .For("#main-content-agenda-preview")
            .Filter(".interested")
            //.ContentHandler("toolTipContent_gridNew")
            .Content("Interested")
            .Position(TooltipPosition.Top)
            //.Width(200)
            .AutoHide(true) )


            
@(Html.Kendo().Tooltip()
            .For("#divAgendaPreview")
            .Filter(".marker")
            .Position(TooltipPosition.Top)
            .AutoHide(true)
            .Width(150)
            .ContentHandler("getCommentToolTip")
)

            
        </div>
     

        @if (Model.GenerateMinutes != true)
        {
            <div id="divAgendaPreview">

                @{
                    SrNo = 0;
                    SrN = 0;
                }

                <table>
                    <tr>
                        <td style="width:22%;vertical-align:top;">
                            <div style="max-height:480px;overflow-y :auto;">

                                <div class="tab" role="tabpanel">

                                    <ul class="nav nav-tabs mynavtab">
                                        <li class="active">
                                            <a data-toggle="tab" href="#AgendaItemSearch" role="tab" aria-controls="AgendaItemSearch" aria-selected="true">Agenda</a>
                                        </li>
                                        <li>
                                            <a data-toggle="tab" href="#AgendaItemComments" role="tab" aria-controls="AgendaItemComments" aria-selected="true">Comments</a>
                                        </li>
                                    </ul>

                                    <div class="tab-content">
                                        <div id="AgendaItemSearch" class="tab-pane fade in active">

                                            <div class="row master-Headre " style="background-color: whitesmoke;">
                                                <div class="col-md-12 colpadding0">
                                                    <div class="col-md-1 colpadding0">
                                                    </div>
                                                    <div class="col-md-10 colpadding0">
                                                        <input id='filterAgendaItemSearch' placeholder="Search" class='k-textbox' style="margin-top:15px;width:100%" autocomplete="off" onchange="filterChange(this)" />
                                                    </div>
                                                    <div class="col-md-1 colpadding0">
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="row colpadding0">
                                                <div class="col-md-12 colpadding0">
                                                    <table id="gridAgendaItemSearch">

                                                        <colgroup>
                                                            <col />
                                                        </colgroup>

                                                        <thead>
                                                            <tr>
                                                                <th data-field="Agenda_Name">Agenda</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            @foreach (var item in Model.lstAgendaItems)
                                                            {
                                                                SrN++;
                                                                <tr>
                                                                    <td> <div class="page-thumb"><a href="#spMOMText_@item.MeetingAgendaMappingID"> @SrN. @Html.Raw(item.AgendaItemText)</a> </div> </td>
                                                                </tr>
                                                            }

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>

                                        <div id="AgendaItemComments" class="tab-pane fade in">
                                            <div class="row" style="background-color: whitesmoke;">
                                                <div class="col-md-12 colpadding0">

                                                    <div id="gridComments"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </td>

                        <td style="background-color:#dedddd;">
                            <div style="max-height:480px;overflow-y :auto;">
                                <div id="main-content-agenda-preview" class="mycollapse myAgendaComment">
                                    @if (Model.MeetingTypeId != 11 && Model.MeetingTypeId != 12)
                                    {
                                        <div id="blogs" class="widget">
                                            <div id="divEntityLetterHead" class="myHeading">
                                                <h4>@Model.EntityName</h4>
                                                <h6 style="text-align:center">@Model.EntityAddressLine1<br />@Model.EntityAddressLine2</h6>
                                                @if (Model.EntityCIN_LLPIN != "0")
                                                {
                                                    <h6 style="text-align:center">@Model.EntityCIN_LLPIN</h6>
                                                }
                                                <h4>AGENDA FOR THE @Html.Raw(strMeetingSrNo)@adjourned @Model.MeetingTypeName.ToUpper() @(Model.MeetingCircular == "M" ? "MEETING" : "CIRCULAR")</h4>
                                            </div>

                                            @if (Model.MeetingCircular == "M")
                                            {
                                                <div class="widget-item" style="padding-top:0px;padding-bottom:2px;">
                                                    <table style="width:80%">
                                                        <tr>
                                                            <td style="width:4%"></td>
                                                            <td style="width:10%">DATE</td>
                                                            <td style="width:1%">:</td>
                                                            @if (Model.MeetingDate.HasValue)
                                                            {
                                                                <td style="width:70%">@Convert.ToDateTime(Model.MeetingDate).ToString("MMMM dd, yyyy") </td>
                                                            }
                                                            else
                                                            {
                                                                <td style="width:70%"></td>
                                                            }

                                                        </tr>

                                                        <tr>
                                                            <td></td>
                                                            <td>DAY</td>
                                                            <td>:</td>
                                                            @if (Model.MeetingDate.HasValue)
                                                            {
                                                                <td>@Convert.ToDateTime(Model.MeetingDate).ToString("dddd") </td>
                                                            }
                                                            else
                                                            {
                                                                <td></td>
                                                            }
                                                        </tr>

                                                        <tr>
                                                            <td></td>
                                                            <td>TIME</td>
                                                            <td>:</td>
                                                            <td>@Model.MeetingTime</td>
                                                        </tr>

                                                        <tr>
                                                            <td></td>
                                                            <td>VENUE</td>
                                                            <td>:</td>
                                                            <td>@Model.MeetingVenue</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <br />
                                                <div class="widget-item myIndex" style="padding-top: 0px;">
                                                    @foreach (var item in Model.lstAgendaItems)
                                                    {
                                                        SrNo++;
                                                        <table>
                                                            <tbody>
                                                                <tr>
                                                                    <td style="vertical-align: top;"><h5>@SrNo. </h5></td>
                                                                    <td>
                                                                        <h5>@Html.Raw((!string.IsNullOrEmpty(item.AgendaItemText) ? item.AgendaItemText.ToUpper() : ""))</h5>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    }
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="widget-item" style="padding-top:0px;padding-bottom:2px;">
                                                    <table style="width:80%">
                                                        <tr>
                                                            <td style="width:4%"></td>
                                                            <td style="width:30%">CIRCULAR DATE</td>
                                                            <td style="width:1%">:</td>
                                                            @if (Model.CircularDate.HasValue)
                                                            {
                                                                <td style="width:60%">@Convert.ToDateTime(Model.CircularDate).ToString("MMMM dd, yyyy") </td>
                                                            }
                                                            else
                                                            {
                                                                <td style="width:60%"></td>
                                                            }

                                                        </tr>

                                                        <tr>
                                                            <td></td>
                                                            <td>DUE DATE</td>
                                                            <td>:</td>
                                                            @if (Model.MeetingDate.HasValue)
                                                            {
                                                                <td>@Convert.ToDateTime(Model.MeetingDate).ToString("MMMM dd, yyyy") </td>
                                                            }
                                                            else
                                                            {
                                                                <td></td>
                                                            }

                                                        </tr>
                                                    </table>
                                                </div>
                                                <br />
                                            }

                                        </div>

                                        SrNo = 0;
                                        foreach (var item in Model.lstAgendaItems)
                                        {
                                            SrNo++;
                                            <div id="blogs" class="widget">
                                                <div id="spMOMText_@item.MeetingAgendaMappingID" class="widget-item">
                                                    <div class="my-agenda-tool-box">
                                                        <a role="button" onclick="showAgendaDocumentsNew(@item.MeetingAgendaMappingID)" href="#" style="min-width: 37px; min-height: 36px; font-size: 13px; padding: 0px; margin-left: 5px;"><span class=""><img class="docs" style="width:20px;" src="../../Areas/BM_Management/img/Documents.png"></span></a>
                                                    </div>
                                                    <h3>Item @SrNo</h3>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td style="vertical-align: top;"><h4>@SrNo. </h4></td>
                                                                <td>
                                                                    <h4 style="text-align:justify;"><span> @Html.Raw(item.AgendaItemText)</span></h4>
                                                                    <p class="blog-info"></p>
                                                                    @Html.Raw(item.AgendaFormat)
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div id="blogs" class="widget">
                                            <div id="divEntityLetterHead" class="myHeading">
                                                <h4>@Model.EntityName</h4>
                                                <h6 style="text-align:center">@Model.EntityAddressLine1<br />@Model.EntityAddressLine2</h6>
                                                @if (Model.EntityCIN_LLPIN != "0")
                                                {
                                                    <h6 style="text-align:center">@Model.EntityCIN_LLPIN</h6>
                                                }
                                                <h4>NOTICE OF @Html.Raw(strMeetingSrNo) @(Model.MeetingTypeId == 11 ? "AGM" : "EGM")</h4>
                                                <div class="widget-item-gm" style="padding-bottom:0px;">
                                                    <h5 style="text-align:justify">
                                                        Notice is hereby given that the <strong>@Html.Raw(strMeetingSrNo)</strong> Annual General Meeting of the members of <strong>@Model.EntityName</strong> will be held on <strong>@(Model.MeetingDate.HasValue == true ? Convert.ToDateTime(Model.MeetingDate).ToString("MMMM dd, yyyy") : "" )</strong>
                                                        at <strong>@Model.MeetingTime</strong> at <strong>@Model.MeetingVenue</strong> to transact following business
                                                    </h5>
                                                </div>
                                            </div>

                                            <br />

                                            @{ SrNo = 0;
                                                string business_ = "", businessLast_ = "";}
                                            @foreach (var item in Model.lstAgendaItems)
                                            {
                                                SrNo++;
                                                businessLast_ = item.IsOrdinaryBusiness ? "Ordinary Business" : "Special Business";
                                                <div id="spMOMText_@item.MeetingAgendaMappingID" class="widget-item-gm">
                                                    @if (business_ != businessLast_)
                                                    {
                                                        business_ = businessLast_;
                                                        <h4>@business_</h4>
                                                    }
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td style="vertical-align: top;"><h4>@SrNo. </h4></td>
                                                                <td>
                                                                    <h4 style="text-align:justify;"><span> @Html.Raw(item.AgendaItemText)</span></h4>
                                                                    @if (!item.IsOrdinaryBusiness)
                                                                    {
                                                                        <p class="blog-info"></p>
                                                                        @Html.Raw(item.AgendaFormat)
                                                                    }
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            }
                                            <div class="widget-item-gm">
                                                <h4>By Order of the Board of Director</h4>
                                                <h4>For @Model.EntityName</h4>
                                                <br />
                                                <br />
                                                <br />
                                                <br />
                                                <br />
                                                @if (Model.MeetingSigningAuthorityForAGM != null)
                                                {
                                                    <h5>@Model.MeetingSigningAuthorityForAGM.AuthorityName</h5>
                                                    <h5>( @Model.MeetingSigningAuthorityForAGM.Designation )</h5>
                                                    if (Model.MeetingSigningAuthorityForAGM.IsCS == true)
                                                    {
                                                        <h5>Membership No. @Model.MeetingSigningAuthorityForAGM.MembershipNo</h5>
                                                    }
                                                    else
                                                    {
                                                        <h5>DIN : @Model.MeetingSigningAuthorityForAGM.DIN_PAN</h5>
                                                    }
                                                }

                                                <br />
                                                <br />
                                                <h5>Date</h5>
                                                <h5>Place : @Model.EntityCity</h5>
                                            </div>

                                            <div class="widget-item-gm">
                                                <h4>Notes for Members' Attention</h4>
                                                @Html.Raw(Model.GM_Notes)
                                            </div>

                                            <div class="widget-item-gm">
                                                <h4>Explanatory Statement pursuant to Section 102 (1) of the companies act, 2013 </h4>
                                                <h5>The following statement sets out all material facts relating to special business mentioned in the notice: </h5>
                                            </div>

                                            @{ SrNo = 0;
                                                string resolutionType = "";}
                                            @foreach (var item in Model.lstAgendaItems)
                                            {
                                                SrNo++;
                                                resolutionType = item.IsSpecialResolution ? "Special resolution" : "Ordinary resolution";
                                                if (!string.IsNullOrEmpty(item.ExplanatoryStatement))
                                                {
                                                    <div class="widget-item-gm">
                                                        <table>
                                                            <tbody>
                                                                <tr>
                                                                    <td style="vertical-align: top;"><h4>@SrNo.</h4></td>
                                                                    <td>
                                                                        <h4 style="text-align:justify;"><span> @Html.Raw(item.AgendaItemText)</span></h4>
                                                                        <p class="blog-info"></p>
                                                                        @Html.Raw(item.ExplanatoryStatement)
                                                                        <p></p>
                                                                        None of the directors of the Company, Key Managerial Personnel and their relatives is in any way concerned or interested financially or otherwise in the resolution.
                                                                        <p></p>
                                                                        The Board of Directors accordingly recommends the <strong>@resolutionType</strong> set out at ITEM NO. <strong>@SrNo</strong> of the notice for the approval of the members.
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                }
                                            }

                                            <div class="widget-item-gm">
                                                <h4>By Order of the Board of Director</h4>
                                                <h4>For @Model.EntityName</h4>
                                                <br />
                                                <br />
                                                <br />
                                                <br />
                                                <br />
                                                @if (Model.MeetingSigningAuthorityForAGM != null)
                                                {
                                                    <h5>@Model.MeetingSigningAuthorityForAGM.AuthorityName</h5>
                                                    <h5>( @Model.MeetingSigningAuthorityForAGM.Designation )</h5>
                                                    if (Model.MeetingSigningAuthorityForAGM.IsCS == true)
                                                    {
                                                        <h5>Membership No. @Model.MeetingSigningAuthorityForAGM.MembershipNo</h5>
                                                    }
                                                    else
                                                    {
                                                        <h5>DIN : @Model.MeetingSigningAuthorityForAGM.DIN_PAN</h5>
                                                    }
                                                }

                                                <br />
                                                <br />
                                                <h5>Date</h5>
                                                <h5>Place : @Model.EntityCity</h5>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </td>


                    </tr>
                </table>



            </div>
            }
            else
            {
            <div id="divMOMPreview">
                <div class="row">
                    <div class="col-md-12 colpadding0">
                                     
                            <table>
                                <tr>
                                    <td style="width:22%;vertical-align:top;">
                                        <div style="max-height:480px;overflow-y :auto;">

                                            <div class="row master-Headre " style="background-color: whitesmoke;">
                                                <div class="col-md-12 colpadding0">
                                                    <div class="col-md-1 colpadding0">
                                                    </div>
                                                    <div class="col-md-10 colpadding0">
                                                        <input id='filterAgendaItemSearch' placeholder="Search" class='k-textbox' style="margin-top:15px;width:100%" autocomplete="off" onchange="filterChange(this)" />
                                                    </div>
                                                    <div class="col-md-1 colpadding0">
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="row colpadding0">
                                                <div class="col-md-12 colpadding0">
                                                    <table id="gridAgendaItemSearch">

                                                        <colgroup>
                                                            <col />
                                                        </colgroup>

                                                        <thead>
                                                            <tr>
                                                                <th data-field="Agenda_Name">Agenda</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            @foreach (var item in Model.lstAgendaItems)
                                                            {
                                                                SrN++;
                                                                <tr>
                                                                    <td> <div class="page-thumb"><a href="#spMOMText_@item.MeetingAgendaMappingID"> @SrN. @Html.Raw(item.AgendaItemText)</a> </div> </td>
                                                                </tr>
                                                            }

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>

                                        <div style="max-height:480px;overflow-y :auto;">

                                            <div class="tab" role="tabpanel">

                                                <ul class="nav nav-tabs mynavtab">
                                                    <li class="active">
                                                        <a data-toggle="tab" href="#AgendaItemSearch" role="tab" aria-controls="AgendaItemSearch" aria-selected="true">Agenda</a>
                                                    </li>
                                                    <li>
                                                        <a data-toggle="tab" href="#AgendaItemComments" role="tab" aria-controls="AgendaItemComments" aria-selected="true">Comments</a>
                                                    </li>
                                                </ul>

                                                <div class="tab-content">
                                                    <div id="AgendaItemSearch" class="tab-pane fade in active">

                                                        <div class="row master-Headre " style="background-color: whitesmoke;">
                                                            <div class="col-md-12 colpadding0">
                                                                <div class="col-md-1 colpadding0">
                                                                </div>
                                                                <div class="col-md-10 colpadding0">
                                                                    <input id='filterAgendaItemSearch' placeholder="Search" class='k-textbox' style="margin-top:15px;width:100%" autocomplete="off" onchange="filterChange(this)" />
                                                                </div>
                                                                <div class="col-md-1 colpadding0">
                                                                </div>

                                                            </div>
                                                        </div>

                                                        <div class="row colpadding0">
                                                            <div class="col-md-12 colpadding0">
                                                                <table id="gridAgendaItemSearch">

                                                                    <colgroup>
                                                                        <col />
                                                                    </colgroup>

                                                                    <thead>
                                                                        <tr>
                                                                            <th data-field="Agenda_Name">Agenda</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>

                                                                        @foreach (var item in Model.lstAgendaItems)
                                                                        {
                                                                            SrN++;
                                                                            <tr>
                                                                                <td> <div class="page-thumb"><a href="#spMOMText_@item.MeetingAgendaMappingID"> @SrN. @Html.Raw(item.AgendaItemText)</a> </div> </td>
                                                                            </tr>
                                                                        }

                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div id="AgendaItemComments" class="tab-pane fade in">
                                                        <div class="row" style="background-color: whitesmoke;">
                                                            <div class="col-md-12 colpadding0">

                                                                <div id="gridComments"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>



                                        </div>

                                    </td>

                                    <td style="background-color:#dedddd;">
                                        <div style="max-height:480px;overflow-y :auto;">

                                            <div id="main-content-agenda-preview" class="mycollapse myComment">
                                                <div id="blogs" class="widget">
                                                    <div id="divEntityLetterHead" class="myHeading" style="text-align:center;margin-top:10px;padding-bottom: 20px;">
                                                        MINUTES OF THE @Html.Raw(strMeetingSrNo)@adjourned MEETING OF THE @Model.MeetingTypeName.ToUpper() OF @Model.EntityName.ToUpper() HELD ON @Convert.ToDateTime(Model.MeetingDate).ToString("dddd").ToUpper(), @Convert.ToDateTime(Model.MeetingDate).ToString("MMMM dd, yyyy").ToUpper(), AT @Model.MeetingTime.ToUpper() AT @Model.MeetingVenue.ToUpper()
                                                    </div>
                                                    <div style="margin-left:20px;padding-top:10px;">
                                                        @if (Model.lstMeetingAttendance != null)
                                                        {
                                                            if (Model.lstMeetingAttendance.Count > 0)
                                                            {
                                                                <b>PRESENT</b><br />
                                                                <table style="width:100%">
                                                                    @foreach (var item in Model.lstMeetingAttendance.Where(k => k.Attendance == "P"))
                                                                    {
                                                                        <tr>
                                                                            <td style="width:40%"><b>@item.MeetingParticipant_Name</b></td>
                                                                            <td style="width:60%">@item.Designation</td>
                                                                        </tr>
                                                                    }
                                                                </table>
                                                                <p>
                                                                    The meeting commenced at @Model.MeetingStartTime.<br />
                                                                </p>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                                @foreach (var item in Model.lstAgendaItems)
                                                {
                                                    SrNo++;
                                                    <div id="blogs" class="widget">

                                                        <div id="spMOMText_@item.MeetingAgendaMappingID" class="widget-item">
                                                            <table>
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="vertical-align: top;"><h4>@SrNo. </h4></td>
                                                                        <td>
                                                                            <h4 style="text-align:justify;"><span> @Html.Raw(item.AgendaItemText)</span></h4>
                                                                            <p class="blog-info"></p>
                                                                            @Html.Raw(item.AgendaFormat)
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                }

                                                <div id="blogs" class="widget">
                                                    <p><br /></p>
                                                    <p><br /></p>
                                                    <p><br /></p>
                                                    <p><br /></p>
                                                    <p><br /></p>
                                                    <p><br /></p>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                                     
                    </div>
                </div>
            </div>


            if (Model.IsDraftMinutesApproved == false)
            {
                @Html.Partial("_DraftMinutesApprove", new BM_ManegmentServices.VM.MeetingMinutesApproveVM() { MeetingId = Model.MeetingID, DraftCirculationID = Model.DraftCirculationID_ })
            }

         }
        </div>

 }

<script type="text/x-kendo-template" id="myTemplateSearchAgenda">
    <input id='filter' placeholder="Type to search" class='k-textbox' style="width:90%" autocomplete="off" onchange="filterChange(this)" />
</script>

<script>


    //$(function () {
    //    $.contextMenu({
    //        selector: '.context-menu-one',
    //        trigger: 'left',
    //        callback: function (key, options) {
    //            var m = "clicked: " + key;
    //            window.console && console.log(m) || alert(m);
    //        },
    //        items: {
    //            "edit": { name: "Edit", icon: "edit" },
    //            "cut": { name: "Cut", icon: "cut" },
    //            "copy": { name: "Copy", icon: "copy" },
    //            "paste": { name: "Paste", icon: "paste" },
    //            "delete": { name: "Delete", icon: "delete" },
    //            "sep1": "---------",
    //            "quit": { name: "Quit", icon: function ($element, key, item) { return 'context-menu-icon context-menu-icon-quit'; } }
    //        }
    //    });
    //});


    function show11() {
        
        var a = $('#spMOMText_165');
        //$('#spMOMText_165').scrollTo(1);
        $('#spMOMText_169').get(0).scrollIntoView(200);
        //$([document.documentElement, document.body]).animate({
        //    scrollTop: $('#spMOMText_165').offset().top
        //}, 2000);
    }


    $('#filterAgendaItemSearch').on('input', function (e) {

        var filter = { logic: 'or', filters: [] };

        var t = $('#filterAgendaItemSearch');
        if (t.val() != "") {
            filter.filters.push({ logic: "or", field: "Agenda_Name", operator: "contains", value: t.val() });
        }

        var grid = $("#gridAgendaItemSearch").data("kendoGrid");
        grid.dataSource.filter(filter);
    });

    $(document).ready(function () {
        
        

        //var grid = $('#gridAgendaItemSearch').kendoGrid({});
        //grid.refresh();

        $("#gridAgendaItemSearch").kendoGrid({
           // toolbar: kendo.template($("#myTemplateSearchAgenda").html()),
            sortable: false,
            scrollable: false,
            dataBound: function (e) {
                
                var grid = $("#gridAgendaItemSearch").data("kendoGrid");
                var data = grid.dataSource.data();
                $.each(data, function (i, row) {
                    $('tr[data-uid="' + row.uid + '"] ').removeClass("k-alt");

                    $('tr[data-uid="' + row.uid + '"] ').css("box-sizing", "border-box");
                    $('tr[data-uid="' + row.uid + '"] ').css("background-color", "whitesmoke");
                    //$('tr[data-uid="' + row.uid + '"] ').css("box-shadow", "0px 0px 1px 0 #DDDDDD");

                })

                var allRows = e.sender.items();
                allRows.each(function (index, row) {
                    var nameCell = $(this).find("td");
                    nameCell.addClass("noWhiteSpace");
                });
            }
        });

    });
    
</script>

<script>
    $(document).ready(function () {
        
        var target = $('body .myAgendaComment');
        var id = $(this).attr('id');

        target.marker({
            data: function (e, data) {
                //console.log(JSON.stringify(data))
            },
            debug: function (e, data) {
                //console.log(data)
            },
            activeRemove: false,
            showSaveButton: true
        });

        loadComments();
    });

    function loadComments() {
        var target = $('body .myAgendaComment');
        
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetAgendaComments", "MyMeetings")",
            data: "{ participantId: '@Model.ParticipantID_' }",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                
                fillGridComments(response);

                //var j = JSON.parse(response.CommentData);
                //target.marker('restore', j);
            },
            failure: function (response) {

            },
            error: function (response) {

            }
        });
    }


    function fillGridComments(d) {
        
        var commetnsData = [];
        var lookupData = {};
        var commetnsGridData = [];

            var comments = JSON.parse(d.CommentData);
            if (comments != null) {
                for (var j = 0; j < comments.length; j++) {
                    var uid = comments[j].uniqueName;
                    commetnsData.push(comments[j]);

                    if (!(uid in lookupData)) {
                        lookupData[uid] = 1;
                        commetnsGridData.push(comments[j]);
                    }
                }
            }

        var target = $('body .myAgendaComment');

        target.marker({
            data: function (e, data) {
                //console.log(JSON.stringify(data))
            },
            debug: function (e, data) {
                //console.log(data)
            }
        });

        target.marker('restore', commetnsData);
        
        var ds = new kendo.data.DataSource({
            data: commetnsGridData, //commetnsData, //d, //myJson.employees,
            pageSize: 10
        });

        var grid = $("#gridComments").kendoGrid({
            pageable: {
                alwaysVisible: false,
                pageSizes: [5, 10, 20, 100]
            },
            dataBound: function () {

                var grid = $("#gridComments").data("kendoGrid");
                var data = grid.dataSource.data();
                $.each(data, function (i, row) {
                    $('tr[data-uid="' + row.uid + '"] ').removeClass("k-alt");
                })

            },
            columns: [
                        { field: "title", title: "title", template: "#=getCommentTemplate(data)#" },
                        //str += "<li class='my-comment-list' onclick='showSpan(this);' target-id='" + comments[j].uniqueName + "'>" + comments[j].title + "</li>";
            ],
            dataSource: ds,
            editable: false,
            //sortable: true,
            groupable: false,
        });

    }

    function getCommentTemplate(data) {
        return "<li class='my-comment-list' onclick='showSpan(this);' target-id='" + data.uniqueName + "'>" + data.title + "</li>";
    }

    function showSpan(e) {
        
        //var spanId = e.attr('target-id');
        var spanId = e.attributes['target-id'].value;
        $("#divAgendaPreview").find('.marker' + '[' + 'data-unique-name' + '=' + spanId + ']').get(0).scrollIntoView();
    }

    function btnSaveCommentes_click() {
        
        var target = $('body .myAgendaComment');
        var a = target.marker('data');

        var meetingMinutesCommentVM = new Object();
        meetingMinutesCommentVM.MeetingId = "@Model.MeetingID";
        meetingMinutesCommentVM.ParticipantId = "@Model.ParticipantID_";
        meetingMinutesCommentVM.CommentData = JSON.stringify(a);
        //meetingMinutesCommentVM.lstData = a;
        if (meetingMinutesCommentVM != null) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("SaveAgendaComments", "MyMeetings")",
                data: JSON.stringify(meetingMinutesCommentVM),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    
                    //target.marker('clear');
                    //var j = JSON.parse(response.CommentData);
                    //target.marker('restore', j);
                },
                failure: function (response) {

                },
                error: function (response) {

                }
            });
        }
    }

</script>
