﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.PreviewAgendaVM

<link href="~/Content/Text-Highlight-Plugin/jquery.marker.css" rel="stylesheet" />
<link href="~/Content/Text-Highlight-Plugin/extensions/spectrum.css" rel="stylesheet" />

<script src="~/Content/Text-Highlight-Plugin/jquery.marker1.js"></script>
<script src="~/Content/Text-Highlight-Plugin/extensions/spectrum.js"></script>

<style>
     #gridMinutesItemSearch .k-grid-header {
        height: 0;
        border-bottom-width: 0;
        display: none;
        overflow: hidden;
    }

   #gridMinutesItemSearch.k-grid td {
    line-height: 1.5em;
    }

    #gridMinutesComments .k-grid-header {
        height: 0;
        border-bottom-width: 0;
        display: none;
        overflow: hidden;
    }
   
   td.noWhiteSpace {
    white-space: initial;
}
</style>

@if (Model != null)
{
    var SrNo = 0;
    var SrN = 0;
    var strMeetingSrNo = "";
    var isLeave = false;
    var chairman = new BM_ManegmentServices.VM.MeetingAttendance_VM();
    var adjourned = (@Model.IsAdjourned == true ? " (Adjourned)" : "");

    if (Model.MeetingSrNo != null)
    {
        var MeetingSrNo = Model.MeetingSrNo;
        if (MeetingSrNo == 1)
        {
            strMeetingSrNo = "1<sup>st</sup>";
        }
        else if (MeetingSrNo == 2)
        {
            strMeetingSrNo = "2<sup>nd</sup>";
        }
        else if (MeetingSrNo == 3)
        {
            strMeetingSrNo = "3<sup>rd</sup>";
        }
        else
        {
            strMeetingSrNo = MeetingSrNo + "<sup>th</sup>";
        }
    }

<script>
    function getCommentToolTip(e) {
        return e.target.attr('data-title');
    }

    function toolTipContent_gridNew(e) {
        return e.target.context.innerText;
    }
</script>

    <div style="overflow:hidden;">
        <input type="text" id="hdnId" name="hdnId" class="hidden" />
        <input type="text" id="hdnValue" name="hdnValue" class="hidden" />
        <div>
            @(Html.Kendo().Tooltip()
            .For("#divMOMPreview")
            .Filter(".marker")
            .Position(TooltipPosition.Top)
            .AutoHide(true)
            //.Width(200)
            .ContentHandler("getCommentToolTip")
            )

            @(Html.Kendo().Tooltip()
            .For("#gridMinutesItemSearch")
            .Filter("td:nth-child(1)")
            .ContentHandler("toolTipContent_gridNew")
            .Position(TooltipPosition.Top)
            .Width(200)
            .AutoHide(true) )
        </div>
     

        @if (Model.GenerateMinutes != true)
        {
            <div id="divAgendaPreview">
                <div id="divEntityLetterHead" class="myHeading">
                    <h3>@Model.EntityName</h3>
                    <h6 style="text-align:center">@Model.EntityAddressLine1<br />@Model.EntityAddressLine2</h6>
                    @if (Model.EntityCIN_LLPIN != "0")
                {
                    <h6 style="text-align:center">@Model.EntityCIN_LLPIN</h6>
                }
                    <h4>AGENDA FOR THE @Html.Raw(strMeetingSrNo)@adjourned @Model.MeetingTypeName.ToUpper() MEETING</h4>
                </div>

                <div>
                    <table style="width:80%">
                        <tr>
                            <td style="width:4%"></td>
                            <td style="width:10%">DATE</td>
                            <td style="width:1%">:</td>
                            @if (Model.MeetingDate.HasValue)
                        {
                            <td style="width:70%">@Convert.ToDateTime(Model.MeetingDate).ToString("MMMM dd, yyyy") </td>
                        }
                        else
                        {
                            <td style="width:70%"></td>
                        }

                        </tr>

                        <tr>
                            <td></td>
                            <td>DAY</td>
                            <td>:</td>
                            @if (Model.MeetingDate.HasValue)
                        {
                            <td>@Convert.ToDateTime(Model.MeetingDate).ToString("dddd") </td>
                        }
                        else
                        {
                            <td></td>
                        }
                        </tr>

                        <tr>
                            <td></td>
                            <td>TIME</td>
                            <td>:</td>
                            <td>@Model.MeetingTime</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>VENUE</td>
                            <td>:</td>
                            <td>@Model.MeetingVenue</td>
                        </tr>
                    </table>
                </div>
                <br />
                <div class="myIndex">
                    @foreach (var item in Model.lstAgendaItems)
                {
                    SrNo++;
                    <h3 class="">@SrNo. @Html.Raw((!string.IsNullOrEmpty(item.AgendaItemText) ? item.AgendaItemText.ToUpper() : ""))</h3>
                }
                </div>

                @{
                SrNo = 0;
                }

                <div id="main-content-agenda-preview" class="mycollapse">
                    @foreach (var item in Model.lstAgendaItems)
                {
                    SrNo++;
                    <div id="blogs" class="widget">
                        <h3>Item @SrNo</h3>
                        <div>
                            <h4>@SrNo. @Html.Raw( (!string.IsNullOrEmpty(item.AgendaItemText) ? item.AgendaItemText.ToUpper() : ""))</h4>
                            <p class="blog-info"></p>
                            <div>
                                @Html.Raw(item.AgendaFormat)
                            </div>
                        </div>
                    </div>
                }
                </div>

            </div>
        }
        else
        {
            <div id="divMOMPreview">
                <div class="row">
                    <div class="col-md-12 colpadding0">
                                     
                            <table>
                                <tr>
                                    <td style="width:22%;vertical-align:top;">
                                        <div style="max-height:480px;overflow-y :auto;">


                                            <div class="tab" role="tabpanel">

                                                <ul class="nav nav-tabs mynavtab">
                                                    <li class="active">
                                                        <a data-toggle="tab" href="#AgendaItemSearch" role="tab" aria-controls="AgendaItemSearch" aria-selected="true">Agenda</a>
                                                    </li>
                                                    <li>
                                                        <a data-toggle="tab" href="#AgendaItemComments" role="tab" aria-controls="AgendaItemComments" aria-selected="true">Comments</a>
                                                    </li>
                                                </ul>

                                                <div class="tab-content">
                                                    <div id="AgendaItemSearch" class="tab-pane fade in active">
                                                        <div class="row master-Headre " style="background-color: whitesmoke;">
                                                            <div class="col-md-12 colpadding0">
                                                                <div class="col-md-1 colpadding0">
                                                                </div>
                                                                <div class="col-md-10 colpadding0">
                                                                    <input id='filterAgendaItemSearch' placeholder="Search" class='k-textbox' style="margin-top:15px;width:100%" autocomplete="off" onchange="filterChange(this)" />
                                                                </div>
                                                                <div class="col-md-1 colpadding0">
                                                                </div>

                                                            </div>
                                                        </div>

                                                        <div class="row colpadding0">
                                                            <div class="col-md-12 colpadding0">
                                                                <table id="gridMinutesItemSearch">

                                                                    <colgroup>
                                                                        <col />
                                                                    </colgroup>

                                                                    <thead>
                                                                        <tr>
                                                                            <th data-field="Agenda_Name">Agenda</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>

                                                                        @foreach (var item in Model.lstAgendaItems)
                                                                        {
                                                                            SrN++;
                                                                            <tr>
                                                                                <td> <div class="page-thumb"><a href="#spMOMText_@item.MeetingAgendaMappingID"> @SrN. @Html.Raw(item.AgendaItemText)</a> </div> </td>
                                                                            </tr>
                                                                        }

                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div id="AgendaItemComments" class="tab-pane fade in">
                                                        <div class="row" style="background-color: whitesmoke;">
                                                            <div class="col-md-12 colpadding0">

                                                                <div id="gridMinutesComments"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </td>

                                    <td style="background-color:#dedddd;">
                                        <div style="max-height:480px;overflow-y :auto;">

                                            <div id="main-content-agenda-preview" class="mycollapse myMinutesComment">
                                                @if (Model.MeetingTypeId != 11 && Model.MeetingTypeId != 12)
                                                {
                                                    <div id="blogs" class="widget">
                                                        <div id="divEntityLetterHead" class="widget-item myHeading" style="text-align:center;margin-top:10px;padding-bottom: 20px;">
                                                            MINUTES OF THE @Html.Raw(strMeetingSrNo)@adjourned MEETING OF THE @Model.MeetingTypeName.ToUpper() OF @Model.EntityName.ToUpper() HELD ON @Convert.ToDateTime(Model.MeetingDate).ToString("dddd").ToUpper(), @Convert.ToDateTime(Model.MeetingDate).ToString("MMMM dd, yyyy").ToUpper(), AT @Model.MeetingTime.ToUpper() AT @Model.MeetingVenue.ToUpper()
                                                        </div>
                                                        <div class="widget-item" style="margin-left:20px;padding-top:10px;">
                                                            @if (Model.lstMeetingAttendance != null)
                                                            {
                                                                if (Model.lstMeetingAttendance.Count > 0)
                                                                {
                                                                    <b>PRESENT</b><br />
                                                                    <table style="width:100%">
                                                                        @foreach (var item in Model.lstMeetingAttendance.Where(k => k.Attendance == "P"))
                                                                        {
                                                                            <tr>
                                                                                <td style="width:40%"><b>@item.MeetingParticipant_Name</b></td>
                                                                                <td style="width:60%">@item.Designation</td>
                                                                            </tr>
                                                                        }
                                                                    </table>
                                                                    if (Model.lstOtherParticipantAttendance != null)
                                                                    {
                                                                        if (Model.lstOtherParticipantAttendance.Where(k => k.Attendance == "P" && (k.ParticipantType == "A" || k.ParticipantType == "I")).Count() > 0)
                                                                        {
                                                                            <br />
                                                                            <b>Special Invitees</b>
                                                                            <table style="width:100%">
                                                                                @foreach (var item in Model.lstOtherParticipantAttendance.Where(k => k.Attendance == "P" && (k.ParticipantType == "A" || k.ParticipantType == "I")))
                                                                                {
                                                                                    <tr>
                                                                                        <td style="width:40%"><b>@item.MeetingParticipant_Name</b></td>
                                                                                        <td style="width:60%">@item.Designation</td>
                                                                                    </tr>
                                                                                }
                                                                            </table>
                                                                        }
                                                                    }
                                                                    <p>
                                                                        <br />
                                                                        The meeting commenced at @Model.MeetingStartTime.<br />
                                                                    </p>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                    foreach (var item in Model.lstAgendaItems)
                                                    {
                                                        SrNo++;
                                                        <div id="blogs" class="widget">

                                                            <div id="spMOMText_@item.MeetingAgendaMappingID" class="widget-item">
                                                                <table>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="vertical-align: top;"><h4>@SrNo. </h4></td>
                                                                            <td>
                                                                                <h4 style="text-align:justify;"><span id="spMOMAgendaHeading_@item.MeetingAgendaMappingID"> @Html.Raw(item.AgendaItemText)</span></h4>
                                                                                <p class="blog-info"></p>
                                                                                <div id="divMOMFormat_@item.MeetingAgendaMappingID">@Html.Raw(item.AgendaFormat)</div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    }

                                                    <div id="blogs" class="widget">
                                                        <p><br /></p>
                                                        <p><br /></p>
                                                        <p><br /></p>
                                                        <p><br /></p>
                                                        <p><br /></p>
                                                        <p><br /></p>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div id="blogs" class="widget">
                                                        <div id="divEntityLetterHead" class="widget-item myHeading" style="text-align:center;margin-top:10px;padding-bottom: 20px;">
                                                            MINUTES OF THE @Html.Raw(strMeetingSrNo)@adjourned MEETING OF THE @Model.MeetingTypeName.ToUpper() OF @Model.EntityName.ToUpper() HELD ON @Convert.ToDateTime(Model.MeetingDate).ToString("dddd").ToUpper(), @Convert.ToDateTime(Model.MeetingDate).ToString("MMMM dd, yyyy").ToUpper(), AT @Model.MeetingTime.ToUpper() AT @Model.MeetingVenue.ToUpper()
                                                        </div>
                                                        <div class="widget-item" style="margin-left:20px;padding-top:10px;">
                                                            @if (Model.lstMeetingAttendance != null)
                                                            {
                                                                if (Model.lstMeetingAttendance.Count > 0)
                                                                {
                                                                    <b>PRESENT</b>
                                                                    <br />
                                                                    <p>
                                                                        @Model.TotalMemberPresentInAGM members were present in person or by proxy.<br />
                                                                    </p>
                                                                    <b>The following directors of the company were also present:</b>
                                                                    <table style="width:100%">
                                                                        @foreach (var item in Model.lstMeetingAttendance.Where(k => k.Attendance == "P" && k.ParticipantType == "D"))
                                                                        {
                                                                            <tr>
                                                                                <td style="width:40%"><b>@item.MeetingParticipant_Name</b></td>
                                                                                <td style="width:60%">@item.Designation</td>
                                                                            </tr>
                                                                        }
                                                                    </table>
                                                                    <br />

                                                                    if (Model.lstOtherParticipantAttendance != null)
                                                                    {
                                                                        if (Model.lstOtherParticipantAttendance.Where(k => k.Attendance == "P" && k.ParticipantType == "K").Count() > 0)
                                                                        {
                                                                            <b>Officers in Presence</b>
                                                                            <table style="width:100%">
                                                                                @foreach (var item in Model.lstOtherParticipantAttendance.Where(k => k.Attendance == "P" && k.ParticipantType == "K"))
                                                                                {
                                                                                    <tr>
                                                                                        <td style="width:40%"><b>@item.MeetingParticipant_Name</b></td>
                                                                                        <td style="width:60%">@item.Designation</td>
                                                                                    </tr>
                                                                                }
                                                                            </table>
                                                                            <br />
                                                                        }


                                                                        if (Model.lstOtherParticipantAttendance.Where(k => k.Attendance == "P" && (k.ParticipantType == "A" || k.ParticipantType == "I")).Count() > 0)
                                                                        {
                                                                            <b>Special Invitees</b>
                                                                            <table style="width:100%">
                                                                                @foreach (var item in Model.lstOtherParticipantAttendance.Where(k => k.Attendance == "P" && (k.ParticipantType == "A" || k.ParticipantType == "I")))
                                                                                {
                                                                                    if (string.IsNullOrEmpty(item.Representative))
                                                                                    {
                                                                                        <tr>
                                                                                            <td style="width:40%"><b>@item.MeetingParticipant_Name</b></td>
                                                                                            <td style="width:60%">@item.Designation</td>
                                                                                        </tr>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <tr>
                                                                                            <td colspan="2" style="width:100%"><b>@item.Representative</b> representing  <b>@item.MeetingParticipant_Name</b> the Company’s @item.Designation</td>
                                                                                        </tr>
                                                                                    }
                                                                                }
                                                                            </table>
                                                                            <br />
                                                                        }

                                                                        if (Model.lstOtherParticipantAttendance.Where(k => k.Attendance == "A" && k.ParticipantType == "K").Count() > 0)
                                                                        {
                                                                            isLeave = true;
                                                                        }
                                                                    }

                                                                    if (Model.lstMeetingAttendance.Where(k => k.Attendance == "A" && k.ParticipantType == "D").Count() > 0)
                                                                    {
                                                                        isLeave = true;
                                                                    }

                                                                    if (isLeave)
                                                                    {

                                                                        <p>
                                                                            <b>Leave of Absences</b><br />
                                                                            Leave of absence was granted to <br />
                                                                        </p>

                                                                        <table style="width:100%">
                                                                            @foreach (var item in Model.lstMeetingAttendance.Where(k => k.Attendance == "A" && k.ParticipantType == "D"))
                                                                            {
                                                                                <tr>
                                                                                    <td style="width:40%"><b>@item.MeetingParticipant_Name</b></td>
                                                                                    <td style="width:60%">@item.Remark</td>
                                                                                </tr>
                                                                            }
                                                                            @if (Model.lstOtherParticipantAttendance != null)
                                                                            {
                                                                                foreach (var item in Model.lstOtherParticipantAttendance.Where(k => k.Attendance == "A" && k.ParticipantType == "K"))
                                                                                {
                                                                                    <tr>
                                                                                        <td style="width:40%"><b>@item.MeetingParticipant_Name</b></td>
                                                                                        <td style="width:60%">@item.Remark</td>
                                                                                    </tr>
                                                                                }
                                                                            }
                                                                        </table>
                                                                        <br />
                                                                    }

                                                                    {
                                                                        chairman = Model.lstMeetingAttendance.Where(k => k.Attendance == "P" && k.Position == 1).FirstOrDefault();
                                                                        if (chairman != null)
                                                                        {
                                                                            <p><b>CHAIRMAN</b></p>
                                                                            <br />
                                                                            <p><b>@chairman.MeetingParticipant_Name, in his capacity as the chairman of the board of directors of the company, occupied the chair and presided over the meeting.</b></p>
                                                                        }
                                                                    }
                                                                }
                                                            }

                                                            <p><b>REGISTER, DOCUMENTS, REPORTS </b></p>
                                                            <p>The Chairman informed the Members that the following documents and registers as required under the Companies Act, 2013 and other applicable laws were open for inspection by the Members at the Meeting:</p>
                                                            <ul>
                                                                <li>1. Notice convening the @Html.Raw(strMeetingSrNo) Annual General Meeting <br /> </li>
                                                                <li>2. Directors’ Report of the company for the financial year @Model.FYText along with its annexures.<br /></li>
                                                                <li>3. Audited Financial Statements (Standalone) @(Model.HasConsolidatedFinancial ? "and Audited Consolidated Financial Statements " : "")for the financial year @Model.FYText along with respective Auditor’s Reports.<br /></li>
                                                                <li>4. Secretarial Audit Report for the financial year @Model.FYText<br /></li>
                                                                <li>5. The Register of Proxies with the proxies lodged with the Company in connection with @Html.Raw(strMeetingSrNo) Annual General Meeting<br /></li>
                                                                <li>6. Register of Directors and Key Managerial Personnel and their Shareholding. <br /></li>
                                                                <li>7. Register of Contracts or Arrangements in which the Directors were interested.<br /></li>
                                                            </ul>
                                                            <br />
                                                            <br />
                                                            <p><b>Quorum</b></p>
                                                            <p>
                                                                At @Model.MeetingStartTime, the Chairman welcomed the Members present at the venue of the AGM. Thereafter, the Chairman announced that the requisite quorum was present and called the Meeting to order.
                                                            </p>
                                                            @*<p>
                                    The Chairman informed the Members that the Company had received @Model.TotalValidProxy valid proxies from @Model.TotalMemberProxy shareholders in respect of @Model.TotalShareHeldByProxy equity shares of ` @Model.FaceValueOfEnquityShare each, representing @( Model.PercentageOfIssuedCapital == null ? 0 : Model.PercentageOfIssuedCapital) of the total issued and paid-up equity share capital of the Company.
                                </p>*@
                                                            <p>
                                                                The Chairman requested the members present to take the notice convening the AGM, the auditor’s Report and the annexure thereto as read, to which the members agreed. As there were, no qualifications in the auditor’s report as also in Secretarial Audit report, the same were not required to read.
                                                            </p>
                                                            <p>
                                                                With the permission of the members, the Chairman then commenced reading out the summary of the resolution to provide sufficient opportunity to the members to propose and second the same and vote on them. He drew attention of members to the Explanatory Statement forming part of Notice convening the AGM, which explained the objectives and implications of the resolutions.
                                                            </p>
                                                            <p>

                                                            </p>
                                                        </div>

                                                        @foreach (var item in Model.lstAgendaItems)
                                                        {
                                                            SrNo++;
                                                            <div>
                                                                <div id="spMOMText_@item.MeetingAgendaMappingID" class="widget-item-gm">
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td><h4>Item No. @SrNo. </h4></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <h4 style="text-align:justify;"><span id="spMOMAgendaHeading_@item.MeetingAgendaMappingID"> @Html.Raw(item.AgendaItemText)</span></h4>
                                                                                    <p class="blog-info"></p>
                                                                                    <div id="divMOMFormat_@item.MeetingAgendaMappingID">@Html.Raw(item.AgendaFormat)</div>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        }

                                                        <div class="widget-item-gm">
                                                            <p>The chairman then invited questions from the members. The following members offered comments/raised queries.</p>
                                                            <p>

                                                            </p>
                                                            <p>
                                                                The Chairman thanked the members for all questions and concerned raised.
                                                            </p>
                                                            @if (Model.IsEVoting)
                                                            {
                                                                <p>
                                                                    The chairman then authorized the company secretary top carry out the voting process.
                                                                    <br />He further stated that the combined results of the remote e - voting and the voting at the meeting would be announced by Company Secretary and the same would be displayed on the Company’s website, the website of NSDL / CDSL, will be uploaded on the stock exchanges in within two ifys.
                                                                </p>
                                                            }
                                                            else
                                                            {
                                                                <p>The chairman then authorized the company secretary top carry out the voting process.</p>
                                                            }
                                                            <p>
                                                                The Chairman thanked the members and extended his good wishes for supporting the company.
                                                            </p>
                                                            <p>
                                                                On behalf of the members, one of them proposed a vote of thanks to the chair.
                                                            </p>
                                                            <p>
                                                                <b>DATE:</b><br />
                                                                <b>@(chairman != null ? chairman.MeetingParticipant_Name : "Chairman")</b><br />
                                                                <b>PLACE:</b><br />
                                                            </p>
                                                            <p>
                                                                <br />
                                                                <br />
                                                                <br />
                                                                <br />
                                                                <br />
                                                                <br />
                                                                <br />
                                                                <br />
                                                            </p>
                                                        </div>
                                                    </div>

                                                }

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                                     
                    </div>
                </div>
            </div>


            if (Model.IsDraftMinutesApproved == false)
            {
                @Html.Partial("_DraftMinutesApprove", new BM_ManegmentServices.VM.MeetingMinutesApproveVM() { MeetingId = Model.MeetingID, DraftCirculationID = Model.DraftCirculationID_ })
            }

         }
        </div>
 }

<script type="text/x-kendo-template" id="myTemplateSearchAgenda">
    <input id='filter' placeholder="Type to search" class='k-textbox' style="width:90%" autocomplete="off" onchange="filterChange(this)" />
</script>

<script>
    function show11() {
        
        var a = $('#spMOMText_165');
        //$('#spMOMText_165').scrollTo(1);
        $('#spMOMText_169').get(0).scrollIntoView(200);
        //$([document.documentElement, document.body]).animate({
        //    scrollTop: $('#spMOMText_165').offset().top
        //}, 2000);
    }


    $('#filterAgendaItemSearch').on('input', function (e) {

        var filter = { logic: 'or', filters: [] };

        var t = $('#filterAgendaItemSearch');
        if (t.val() != "") {
            filter.filters.push({ logic: "or", field: "Agenda_Name", operator: "contains", value: t.val() });
        }

        var grid = $("#gridMinutesItemSearch").data("kendoGrid");
        grid.dataSource.filter(filter);
    });

    $(document).ready(function () {
        
        //var grid = $('#gridMinutesItemSearch').kendoGrid({});
        //grid.refresh();

        $("#gridMinutesItemSearch").kendoGrid({
           // toolbar: kendo.template($("#myTemplateSearchAgenda").html()),
            sortable: false,
            scrollable: false,
            dataBound: function (e) {
                
                var grid = $("#gridMinutesItemSearch").data("kendoGrid");
                var data = grid.dataSource.data();
                $.each(data, function (i, row) {
                    $('tr[data-uid="' + row.uid + '"] ').removeClass("k-alt");

                    $('tr[data-uid="' + row.uid + '"] ').css("box-sizing", "border-box");
                    $('tr[data-uid="' + row.uid + '"] ').css("background-color", "whitesmoke");
                    //$('tr[data-uid="' + row.uid + '"] ').css("box-shadow", "0px 0px 1px 0 #DDDDDD");
                    

                    var allRows = e.sender.items();
                    allRows.each(function (index, row) {
                        var nameCell = $(this).find("td");
                        nameCell.addClass("noWhiteSpace");
                    });

                })
            }
        });

    });
    
</script>

<script>
    $(document).ready(function () {

        var target = $('body .myMinutesComment');
        var id = $(this).attr('id');

        target.marker({
            data: function (e, data) {
                //console.log(JSON.stringify(data))
            },
            debug: function (e, data) {
                //console.log(data)
            },
            activeRemove: false,
        showSaveButton: true
        });

        loadMinutesComments();
    });

    function loadMinutesComments() {
        var target = $('body .myMinutesComment');
        
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetComments", "MyMeetings")",
            data: "{ draftCirculationID: '@Model.DraftCirculationID_' }",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                
                //var j = JSON.parse(response.CommentData);
                //target.marker('restore', j);
                fillGridMinutesComments(response);
            },
            failure: function (response) {

            },
            error: function (response) {

            }
    });
    }

    function fillGridMinutesComments(d) {
        
        var commetnsData = [];
        var lookupData = {};
        var commetnsGridData = [];

        var comments = JSON.parse(d.CommentData);
        if (comments != null) {
            for (var j = 0; j < comments.length; j++) {
                var uid = comments[j].uniqueName;
                commetnsData.push(comments[j]);

                if (!(uid in lookupData)) {
                    lookupData[uid] = 1;
                    commetnsGridData.push(comments[j]);
                }
            }
        }

        var target = $('body .myMinutesComment');

        target.marker({
            data: function (e, data) {
                //console.log(JSON.stringify(data))
            },
            debug: function (e, data) {
                //console.log(data)
            }
        });

        target.marker('restore', commetnsData);

        
        var ds = new kendo.data.DataSource({
            data: commetnsGridData, //commetnsData, //d, //myJson.employees,
            pageSize: 10
        });

        var grid = $("#gridMinutesComments").kendoGrid({
            pageable: {
                alwaysVisible: false,
                pageSizes: [5, 10, 20, 100]
            },
            dataBound: function () {

                var grid = $("#gridMinutesComments").data("kendoGrid");
                var data = grid.dataSource.data();
                $.each(data, function (i, row) {
                    $('tr[data-uid="' + row.uid + '"] ').removeClass("k-alt");
                })

            },
            columns: [
                        { field: "title", title: "title", template: "#=getMinutesCommentTemplate(data)#" },
                        //str += "<li class='my-comment-list' onclick='showSpan(this);' target-id='" + comments[j].uniqueName + "'>" + comments[j].title + "</li>";
            ],
            dataSource: ds,
            editable: false,
            //sortable: true,
            groupable: false,
        });

    }

    function getMinutesCommentTemplate(data) {
        return "<li class='my-comment-list' onclick='showSpanMinutes(this);' target-id='" + data.uniqueName + "'>" + data.title + "</li>";
    }

    function showSpanMinutes(e) {
        
        //var spanId = e.attr('target-id');
        var spanId = e.attributes['target-id'].value;
        $("#divMOMPreview").find('.marker' + '[' + 'data-unique-name' + '=' + spanId + ']').get(0).scrollIntoView();
    }

    function btnSaveCommentes_click() {
        
        var target = $('body .myMinutesComment');
        var a = target.marker('data');

        var meetingMinutesCommentVM = new Object();
        meetingMinutesCommentVM.MeetingId = "@Model.MeetingID";
        meetingMinutesCommentVM.DraftCirculationID = "@Model.DraftCirculationID_";
        meetingMinutesCommentVM.CommentData = JSON.stringify(a);
        meetingMinutesCommentVM.lstData = a;
        if (meetingMinutesCommentVM != null) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("SaveComments", "MyMeetings")",
                data: JSON.stringify(meetingMinutesCommentVM),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    
                    //target.marker('clear');
                    //var j = JSON.parse(response.CommentData);
                    //target.marker('restore', j);
                },
                failure: function (response) {

                },
                error: function (response) {

                }
            });
        }
    }

</script>
