﻿@using Kendo.Mvc.UI;
@model long
<script>
    function GetImage(did, file) {
        if (did == 0) {
            return "/Images/User-Profile-pic.png";
        }
        else {
            return "/Areas/BM_Management/Documents/Director/" + did + "/" + file;
        }
    }
</script>

<style>

    .rsvp {
        text-align: center;
        margin-top: 2px;
        height: 21px;
        line-height: 1.6em;
        margin-left: 10px;
        margin-right: 10px;
        
    }
    .rsvp-yes {
        background-color: #d7fccd;
        color: #259987;
    }

    .rsvp-no {
        background-color: #ffdcda;
        color: #b03830;
    }

    .rsvp-maybe {
        background-color: #ffefc7;
        color: #cf8224;
    }

    .k-badge-success {
        border-color: #37b400;
        color: #fff;
        background-color: #37b400;
    }

    .k-badge-rounded {
        border-radius: 2px;
    }

    .k-badge {
        padding: 4px 4px;
        border-width: 1px;
        border-style: solid;
        border-color: transparent;
        box-sizing: border-box;
        color: inherit;
        background-color: transparent;
        font-size: 10px;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        vertical-align: middle;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    /*ParticipantId*/
</style>

<script>
    function getPositionName(p) {
        var str = "";
        if (p == 1) {
            str = "Chairperson";
        }
        else if (p == 2) {
            str = "Member";
        }
        return str;
    }

    function getRSVPTemplate(data) {
        var str = "";
        if (data.RSVP == 'Yes') {
            str = "<div class='rsvp rsvp-yes'>Yes</div>";
        }
        else if (data.RSVP == 'No') {
            str = "<div class='rsvp rsvp-no'>No</div>";
        }
        else if (data.RSVP == 'Maybe') {
            str = "<div class='rsvp rsvp-maybe'>Maybe</div>";
        }

        return str;
    }

    function onDataBoundGridMeetingAttendance(e) {
        var wnd = $("#wndRSVPDetails").data("kendoWindow");
        if (wnd != null) {
            wnd.center();
        }
    }
</script>
<div class="row">
    <div class="col-md-12 colpadding0">

        @(Html.Kendo().Grid<BM_ManegmentServices.VM.MeetingAttendance_VM>()
                    .Name("gridMeetingAttendance")
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.Director_Id).Title("Participant").ClientTemplate(@"<div class='customer-photo' style='background-image: url(#= GetImage(data.Director_Id,data.ImagePath) #);'></div>").Width("5%");
                        columns.Bound(p => p.MeetingParticipant_Name).Title("Name").Width("35%");
                        //columns.Bound(p => p.Designation).Title("Designation").Width("25%");
                        columns.Bound(p => p.Designation).ClientTemplate("#=getPositionName(data.Position)#").Title("Designation").Width("25%");
                        columns.Bound(p => p.RSVP).ClientTemplate("#=getRSVPTemplate(data)#").Title("RSVP").Width("10%");
                        columns.Bound(p => p.RSVP_Reason).Title("Reason").Width("25%");
                    })
                    //.HtmlAttributes("height:250px;")
                    .Editable(editable => editable.Mode(GridEditMode.InCell).CreateAt(GridInsertRowPosition.Bottom))
                    .Events(e => e.DataBound("onDataBoundGridMeetingAttendance"))
                    .DataSource(dataSource => dataSource
                    .Ajax()
                    .Batch(false)
                    .ServerOperation(false)
                    .Read(read => read.Action("GetMeetingRSVP", "MainMeeting", new { MeetingID = Model }).Type(HttpVerbs.Get))
                    .Model(model =>
                    {
                        model.Id(p => p.MeetingId);
                        model.Field(p => p.MeetingParticipant_Name).Editable(false);
                        model.Field(p => p.Attendance).Editable(false);
                        model.Field(p => p.Director_Id).Editable(false);
                        model.Field(p => p.Remark).Editable(false);
                        model.Field(p => p.Designation).Editable(false);
                    })
             ))
    </div>
</div>