﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="DownloadMyDocument.aspx.cs" Inherits="com.VirtuosoITech.ComplianceManagement.Portal.Litigation.Common.DownloadMyDocument" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
     <script type="text/javascript">
        function NoDcoumentAlert() {
            alert("No Document Available for Download.");
        }
    </script>
</head>
<body>
    <form id="form1" runat="server">
        <div>
        </div>
    </form>
</body>
</html>
